[2020-11-27 15:29] silverbackdan commented on #4508
🤦‍♂️ I had the `--force` option still in place in this CI script from Helm v2 implementation a while ago. So sorry, thanks again

[2020-11-27 15:29] #4508 closed

[2020-11-27 15:31] PhanSon95 commented on #4443
@carrodher That is IPs of 3 POD manager by ` mongodb-sharded-mongos` deployment. This is prometheus query to get mongodb connection for variable of dashboard settings Grafana
[code]

[2020-11-27 15:32] dani8art commented on #4466
Hi @aditi-agarwal-tw we were investigating and yes it seems like airflow is performing an `initdb` action against an SQLite every time it is restarted, also `resetdb` is executed.

[code]

The first time it is initialized, those actions are executed against PostgreSQL as well.

[code]

We would like to check if those actions are needed or we should remove them.

Thanks!

[2020-11-27 15:34] yuzujoe commented on #4404
@mteodori
I simply stretched the timeoutSecounds time of readiness and liveness.

I set the timeout time to 90 seconds to spare as it was taking roughly a minute to run the same command from the shell of the pod

[2020-11-27 15:36] dani8art commented on #4467
I guess mongodb pods are not CPU or Memory restricted, right? then they are going to use all they want. Could you try adding resources limit and requests to control this?

[code]

[2020-11-27 16:24] dani8art commented on #4499
Hi @alexsergin it may make all the sense, in fact, we think this should not break backward compatibility.

We will give it a try during the next weeks to have the first approach as PR, however, we would be happy if you have a chance to develop this great improvement and contribute to our charts. Do you think this is possible? if yes, we can guide you.

Thanks

[2020-11-27 16:25] dani8art commented on #4502
Hi @goncalovf, the initialization script needs `/opt/bitnami/wordpress/wp-content` to not exists but you are creating it at build time, this is the error.

I think you could move all this logic to the initialization part at

[code]

and ADD those proprietary plugins to a different path

[code]

Then in the `./download_and_install_plugins.sh` move them to the proper folder.

You can use this file t

[2020-11-27 16:33] alexsergin commented on #4499
Hi @dani8art. Yes, guess I will be able to do that next week. Will send the PR.

[2020-11-27 16:33] dani8art commented on #4512
Hi @samaiyayashraj I've tried with

[code]

I was not able to reproduce the issue, could you share a bit more about your parameters and values.yaml, please?

thanks!

[2020-11-27 16:34] dani8art commented on #4499
That's great!! thanks, will keep in touch!

[2020-11-27 17:17] mteodori commented on #4404
thanks guys, will try that otherwise move to the AWS managed service

[2020-11-27 18:28] franklin432 opened #4520 "Any bitnami charts with backup functionality?"
**Which chart**:
any charts but specifically  for bitnami/mongodb

**Describe the bug**
I wanted to know if there were any helm charts or bitnami charts that have the ability to perform backups wheter manually or automatically with a cron job. I would like to check this out and see if this can be incorporated in the bitnami/mongodb chart.

**Expected behavior**
Upon install of the mongodb helm cha

[2020-11-27 19:01] xmsanchez opened #4521 "Drupal with MySQL 8 external database crashes on creating or dropping database"
**Which chart**:
bitnami/drupal

**Describe the bug**
When using **externalDatabase** with **MySQL 8** it crashes in the "CREATE the 'drupal' database" step with the error:

- "[warning] Failed to drop or create the database. Do it yourself before installing. ERROR 1045 (28000): Access denied for user 'admin'@'****' (using password: YES)"

It cannot be a permission issue, since it successfully goe

[2020-11-27 20:18] iamsudip commented on #4055
@javsalgar I have some time these days, can I work on this?

[2020-11-27 22:35] alrf opened #4523 "[mongodb-sharded] not possible to override mongodb.conf"
**Which chart**:
mongodb-sharded (3.1.0)

**Describe the bug**
Not possible to override mongodb.conf file via `config` and `configCM` settings.

1) The `configCM` ConfigMap (`mongodb-configsvr-cfgmap` in my case) is mapped to pod into `/bitnami/mongodb/conf/` folder:
[code]
https://github.com/bitnami/charts/blob/5d431c8dd6236bd5e51448a1b1df58900bc39169/bitnami/mongodb-sharded/templates/config-serv

[2020-11-28 02:03] jwanga opened #4525 "NodeJS chart creates "my-app-node" deployment even when using my own image."
**Which chart**:
node 14.5.1

**Describe the bug**
Im using "image.repository" to set a custom image built onto of the Bitnami nodes container. I've notice that when I install the chart it include creates 3 deployments. 1 for my-app 1 for my-app-mongodb and 1 for my-app-node. Perhaps I misunderstand but, it seems to me that that the "my-app-node" deployment is extraneous since my custom image was

[2020-11-28 14:18] voipas opened #4526 "max file descriptors [4096] for elasticsearch process is too low, increase to at least [65535]"
**Which chart**:
bitnami/elasticsearch - latest version

**Describe the bug**
Hi, I'm trying to install elasticsearch , but it fails with the following error:
[code]
Now I'm checking init container logs:

[code]

My K3s cluster is running on Alpine VM (hosted on Virtual Box)

**To Reproduce**
helm install elasticsearch bitnami/elasticsearch --namespace elk --set global.storageClass=local-path --se

[2020-11-28 16:31] koehn commented on #4414
I'm experiencing the same symptoms, installing with this [`values.yaml`](https://cloud.koehn.com/s/jiYLC2gyWWRjKLG) if you need a reproducible test case.

[2020-11-28 18:52] jwanga opened #4527 "'mongodb.auth.rootPassword' must not be empty when upgrading nodejs chart"
**Which chart**:
node 14.5.1

**Describe the bug**
I receive the following error when attempting to upgrade my helm chart:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My chart.yaml
[code]
2. my values.yaml
[code]
3. install chart
[code]
4. Set environment variable:
[code]
5. Attempt to upgrade chart
[code]
6. Observe error
[code]

**Expected behavior**
I expect my chart to upgrad

[2020-11-28 18:52] mofm opened #4528 "[bitnami/redmine] mkdir: cannot create directory '/opt/bitnami/redmine/tmp/pids': Permission denied"
**Which chart**:
bitnami/redmine

**Describe the bug**
I have an issue related volume permissions: "mkdir: cannot create directory '/opt/bitnami/redmine/tmp/pids': Permission denied".(restricted psp is active in my cluster.)

**To Reproduce**
Steps to reproduce the behavior:

* `$ helm install my-redmine01 -f bitnami-redmine/values.yaml bitnami/redmine`

* containerSecurityContext and podSecurityC

[2020-11-29 02:51] rampatnaik opened #4530 "Naming rule failing the deployment"
Hello Redis

I am using version=11.1.1 , the Naming of redis doesnot work as per our project
Name "name":"redis-A-B" not work , it work with "name":"redis-A"
I am using spinnaker , K8s: 17 version with eks

error :
Error from server (Invalid): error when applying patch:
for: "STDIN": StatefulSet.apps "redis-A-B-master" is invalid: spec: Forbidden: updates to statefulset spec for fields other than

[2020-11-29 11:58] #4228 closed

[2020-11-29 11:58] #4174 closed

[2020-11-29 11:58] #4172 closed

[2020-11-29 11:58] #4138 closed

[2020-11-29 11:58] #4171 closed

[2020-11-29 11:58] #4168 closed

[2020-11-29 11:58] #3876 closed

[2020-11-29 11:58] #4112 closed

[2020-11-29 11:58] #4192 closed

[2020-11-29 11:58] #4118 closed

[2020-11-29 14:44] etavene commented on #3472
@javsalgar

we created chart using image built from redis 6.0.8 code base, and  ran couple of performance comparision tests
and observed that bitnami charts gave less performance.

./redis-benchmark -h 10.233.127.60 -t hset -r 100000 -n 1000000

The above command provided 64968.81 requests per second on a stand-alone redis server with the helm chart built using redis-6.0.8 code base, where as, bit

[2020-11-29 15:20] goncalovf commented on #4502
Hi @dani8art. Thank you very very much for your input. It solved my issue. Thanks!

Still, I did not understand the part about using `bitnami/wordpress/.initialized` to avoid executing the script every time I restart the container. Can you point me to some relevant documentation? Thank you again!

[2020-11-29 20:12] jwanga commented on #4527
Solved. the problem was that my values.yaml was not addressing the node subchart. I changed my values.yaml move all the values under "node" as follows:
[code]

[2020-11-29 20:12] #4527 closed

[2020-11-29 20:23] jwanga commented on #4525
Solved. The problem was that my templates folder has only templates in it. I deleted the templates folder and and everything worked well.

[2020-11-29 20:23] #4525 closed

[2020-11-29 20:25] jwanga commented on #4516
Im experiencing the same thing. Had to downgrade to 13.1.2

[2020-11-30 02:22] siegfried01 commented on #4134
OK, this looks pretty similar! I manually deleted the pvc from the last experiment. There where no PVCs from this  -- probably because the set switch worked...

    helm install my-release --set image.debug=true bitnami/mysql --set master.persistence.enabled=false,slave.persistence.enabled=false

Here is the result for describing the pod:

    NAME                        READY   STATUS    RESTARTS

[2020-11-30 05:18] samaiyayashraj commented on #4512
My bad, it was some networking issue in my environment.  @dani8art Thanks for the help.

[2020-11-30 05:18] #4512 closed

[2020-11-30 05:37] stoetti opened #4534 "[spring-cloud-dataflow] provide configurable extraVolume(Mount)s"
**Which chart**:
spring-cloud-dataflow

**Is your feature request related to a problem? Please describe.**
Spring Cloud Dataflow provides the ability to load app-metadata from private container registries. In order to retrieve that information the credentials need to be mounted using a k8s-secret [as stated in the configuration](https://dataflow.spring.io/docs/installation/kubernetes/helm/#private

[2020-11-30 06:15] Gefuxing opened #4535 "bitnami/rabbitmq anxious I deployed a three-node mirrored cluster test: When I deleted all three RabbitMQ Pods, the cluster couldn't get up. How could I solve this problem?"
I deployed a three-node mirrored cluster test: When I deleted all three RabbitMQ Pods, the cluster couldn't get up. How could I solve this problem?
mq-rabbitmq-0                                    0/1     Running   0          2m32s
Events:
  Type     Reason                  Age               From                     Message
  ----     ------                  ----              ----

[2020-11-30 06:16] SHUFIL commented on #4467
We can't use limitations, because if we set the maximum , it will effect dB
performance, why am raising this question because it is working fine with
the normal mongodb image.

On Fri, 27 Nov 2020, 9:06 pm Daniel Arteaga, <notifications@github.com>
wrote:

[2020-11-30 08:12] alrf opened #4536 "[mongodb-sharded] Unauthorized: not authorized on admin to execute command"
**Which chart**:
mongodb-sharded (3.1.0)

**Describe the bug**
Bunch of `Unauthorized: not authorized on admin to execute command` errors in logs caused by Readiness healthcheck (`ping` command):
[code]
Healthcheck definition:
https://github.com/bitnami/charts/blob/3f6054c1c9633d0aa78d15d2a3e3ea009c35940f/bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml#L196-L198

Pos

[2020-11-30 08:39] pierreyves-lebrun commented on #4474
Experiencing the same issue, global overrides seem broken

[2020-11-30 09:00] sudip-moengage commented on #3920
@rafariossaa I think it's not implemented in the major refactor. What do you suggest?

[2020-11-30 09:02] javsalgar commented on #4513
Thank you very much for the PR! We'll take a look

[2020-11-30 09:08] javsalgar commented on #4055
Hi,

Sure! We would appreciate the collaboration :D

[2020-11-30 09:16] Gefuxing commented on #4535
You can deploy a case of three-node mirroring mode and wait for it to deploy successfully, delete the three PODS, the cluster will not run anymore, there will only be a -0 in Runnning and 0/1, do you have any good solutions?Thank you very much!!

[2020-11-30 09:31] Gefuxing commented on #4535
![image](https://user-images.githubusercontent.com/43690953/100592249-d121cf00-3331-11eb-873d-f133a8ef23cb.png)

[2020-11-30 09:47] javsalgar commented on #4305
It seems that the PR was merged, so I'll close the issue.

[2020-11-30 09:47] #4305 closed

[2020-11-30 09:55] the-redback commented on #3783
Changing the readiness probe command solved my problem,

[code]

Also, there is another workaround (without touching the readiness probe manually),  if this is not a fresh install but other nodes are unavailable,
1. Install with readiness probe disabled
2. Once all the nodes are up and running, run `helm upgrade` command with readiness probe enabled.

Here, 'not fresh' means, pvc or pv already exi

[2020-11-30 09:58] javsalgar commented on #4474
Hi,

Could you check if the fix in the PR solves the issue? https://github.com/bitnami/charts/pull/4380

[2020-11-30 10:01] Hokwang opened #4537 "[bitnami/postgresql] doc errata"
**Which chart**:
postgresql

**Describe the bug**
you mentioned mariadb.

https://github.com/bitnami/charts/blob/10bd8e1fbbe69461a5d90ba61562f72b526c9caf/bitnami/postgresql/README.md#L577
https://github.com/bitnami/charts/blob/10bd8e1fbbe69461a5d90ba61562f72b526c9caf/bitnami/postgresql/README.md#L583

[2020-11-30 10:06] javsalgar commented on #3783
Hi,

Thanks for the input. Do you think it makes sense to change the default probes to `rabbitmq-diagnostics -q ping`?

[2020-11-30 10:12] the-redback commented on #3783
I got the probe command from their website. https://www.rabbitmq.com/monitoring.html#readiness-probes

As the liveness probe already checks for `check_running`, the readinesss probe should be simple as 'ping'.
But, if there is another valid way to bypass this deadlock situation, that will be better I guess.

[2020-11-30 10:14] Hokwang opened #4538 "[mariadb] svc name inconsistency"
**Which chart**:
mariadb

**Describe the bug**
recently mariadb chart changed same as postgresql.
master/slave -> primary/secondary

in postgresql case,
pod name are changed. that's ok.
[code]
but svc name for read/write does not changed. So user does not need to update application's chart! this is great!
[code]

btw mariadb, svc name is changed. so user should change their application's values.ya

[2020-11-30 10:17] javsalgar commented on #4514
Hi,

I was able to reproduce the issue. I will open a task to fix it. I cannot guarantee an ETA, but we will update this ticket as soon as we have more news. Thank you very much for reporting

[2020-11-30 10:28] serg-bs commented on #3950
That is first question many people ask each other. What should I store in secret? Probably - only secret info.
You want also USER, But in my python app
But everybode want all settings togethe
[code]
Why you don't want DB name also?
May be put all this settings in secret?
Or may by everything put in configmap?

I think store only password in secret is right decition.

[2020-11-30 10:37] zhiweiv opened #4539 "[mysql] unable to create mysql with initdbScripts"
**Which chart**:
mysql 8.0.0

**Describe the bug**
unable to create mysql with  initdbScripts, it works if I remove setting for initdbScripts.

The error is:
`Error: template: mysql/templates/primary/statefulset.yaml:283:21: executing "mysql/templates/primary/statefulset.yaml" at <include "mysql.initdbScriptsCM" .>: error calling include: template: mysql/templates/_helpers.tpl:51:34: executing "my

[2020-11-30 10:58] dominik-bln commented on #4219
The last time I looked the logs just stopped, but we had a restart just now that showed the following in the previous container logs:

<img width="580" alt="Screenshot 2020-11-30 at 11 50 09" src="https://user-images.githubusercontent.com/855119/100601601-137fe780-3303-11eb-9be7-cb12ba889a3a.png">

But as discussed above, there might be two issues that manifest as pgpool restarts. The "too many cl

[2020-11-30 10:58] fle108 opened #4540 "moodle chart detect wrong azure mysql version"
**Which chart**:
bitnami/moodle

**Describe the bug**
i can't deploy moodle helm chart because of wrong detection of azure PaaS database for MySQL or MariaDB
I have Mysql v5.7 and MariaDB 10.3 instances, but helm chart stops deploy with message :

[code]

i user persistent volume with azure disk, but i want to use external database.

**To Reproduce**
Steps to reproduce the behavior:

1. take a mys

[2020-11-30 11:14] timothyclarke commented on #3950
Thank you @serg-bs  You raise a valid point, to which I've got to ask "What information is secret / sensitive"
I'd respond by saying all 4 config elements you reference.
If I know 3 elements of a 4 element credential then I've only got to crack that 4th element. If I know 0 elements of a 4 element credential then I've got to figure out all 4.
While I agree that host and port are not generally as s

[2020-11-30 11:22] rafariossaa commented on #4535
Hi,
  I would like to reproduce this issue.
  Could you indicate you did you started the cluster and the parameters used ?

[2020-11-30 11:23] Lebed71 opened #4541 "[rabbitmq] PLAIN login refused: user '<username>' - invalid credentials"
Hello!
I have some problem with new deploy of rabbitmq chart;

Helm deploy command params:

auth.username=username,
auth.password=password,
rabbitmq.setUlimitNofiles=false,
persistence.existingClaim=rabbitmq-pvc,
volumePermissions.enabled=true

After success deploy I check the auth values:

$(kubectl get secret --namespace test rabbitmq -o jsonpath="{.data.rabbitmq-password}" | base64 --decode)

A

[2020-11-30 11:24] fle108 commented on #4540
update:
if i don't create the database before deploy i obtain message `unknown database` and if i create database before deploy this is the full log of the pod (before it crashes loopback):

[code]

[2020-11-30 11:26] rafariossaa commented on #3472
Hi @etavene ,
  This thread is closed and your question is not related to this issue.
  Do you mind opening a new one so it can be properly handled ?

Thanks forehand.

[2020-11-30 11:33] #4214 closed

[2020-11-30 11:40] rafariossaa commented on #4526
Hi @voipas
  File descriptors is a kernel parameter, so you will need to check it in your k3s host.
  I found [this post](https://www.tecmint.com/increase-set-open-file-limits-in-linux/) that perhaps can help you. Could you take a look to it ?

[2020-11-30 11:48] xmfreak commented on #4521
Nevermind, I've fixed it. I have not verified it, but I'm almost sure that the problem is a password with special characters (it contained a double quote at the end).

I've created a new user with a simpler password and it works.

[2020-11-30 11:51] rafariossaa commented on #4520
Hi,
  I am sorry but there is not such automatic functionality in our charts yet. We are studding it but there is not an ETA for this.
  Meanwhile, you can do backups using Velero maybe you would like to take a look to [this guide](https://docs.bitnami.com/tutorials/series/backup-restore-bitnami-velero/).
  I hope this helps.

[2020-11-30 11:57] rafariossaa commented on #4226
Hi @xaocon
  I am closing this issue to not have too many opened issues. Please, even if I close it, put a comment here when you have your PR, or just send your PR referring to this issue. We will be glad to review and merge it.
 Thanks

[2020-11-30 11:59] rafariossaa commented on #4043
Hi,
  Thanks for sharing you findings.

[2020-11-30 11:59] #4043 closed

[2020-11-30 12:05] mortenko opened #4542 "[bitnami/mysql] load csv file into bitnami/mysql helm chart"
**Which chart**:
bitnami/mysql

**Describe the bug**
I'm trying to load csv files into bitnami/mysql instance but getting following mysql error:

 **ERROR 3948 (42000) at line 1: Loading local data is disabled; this must be enabled on both the client and server sides**

Here is my cnf file

[code]

Here is my CI/CD script in  yml file:

[code]

Here is my bash script (Im executing it via kubectl e

[2020-11-30 12:29] mortenko commented on #4542
version of chart 7.1 but actually migrating to 8.0

[2020-11-30 12:32] rafariossaa commented on #4134
Hi,
  Could you also provide the logs ? It should provide more info as @juan131 indicated.

[2020-11-30 12:54] randrusiak commented on #3700
You probably right I haven't tested this chart before so I'm not sure how it should works. In free time I will try to test pod names in sentinel.conf.
At this moment it looks like dustinrue's PR fix main issue so I hope it will be merged soon.

[2020-11-30 12:57] franklin432 commented on #4520
Thanks for the response @rafariossaa, I'll take a look at the Velero.

[2020-11-30 13:12] teivah opened #4543 "MySQL v8.0.0 - auth.database is not overridden"
**Which chart**:
mysql v8.0.0

**Describe the bug**
`auth.database` is not overridden

**To Reproduce**
Steps to reproduce the behavior:
1. Install MySQL chart

`Chart.yaml`:
[code]

`values.yaml`:
[code]

2. Connect and list the existing databases

**Expected behavior**
A database called `db` is created. Instead, I can see only a `my_database` which is the default value of `auth.database`.

**Ver

[2020-11-30 14:21] MilanDasek opened #4544 "ServiceAccount for wordpress"
**Which chart**:
charts/bitnami/wordpress/

**Describe the solution you'd like**
Is it possible to add service-account or deployment?
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/

thank you

MD

[2020-11-30 14:37] Gefuxing commented on #4535
helm3 install mq111 --set persistence.storageClass=nfs-storage --set persistence.size=1Gi --set replicaCount=3 --set auth.username=gefuxing --set auth.password=gefuxing --set service.type=NodePort   bitnami/rabbitmq
----------------------------------
mq111-rabbitmq-0                                 1/1     Running   0          5m28s
mq111-rabbitmq-1                                 1/1     Running

[2020-11-30 14:52] mourad-hamza commented on #4219
I have the same issue, I tried to increase the number of max_connections from the default (100) to 1000 to resolve this issue but without success
on values;
[code]
--------------------------------
[code]
---------------------------------
[code]
---------------------------------------------
But the limit still the default one
[code]
and
[code]
I'm using postgresql-ha-6.2.0

[2020-11-30 14:58] Gefuxing commented on #4535
@rafariossaa  You can reproduce it according to this process. Thank you very much for your help. Please feel free to contact me if you have any progress.

[2020-11-30 15:22] andresbono commented on #4523
Hi @alrf, so it seems you have identified two issues.

The easiest one to fix seems to be the parsing error when using `configsvr.config`:

Just by changing `indent` to `nindent` in the line below seems to do the trick:

https://github.com/bitnami/charts/blob/a1f50de7e444341f62f289f988c0db676670de9a/bitnami/mongodb-sharded/templates/config-server/config-server-configmap.yaml#L10

---

About the ot

[2020-11-30 15:27] andresbono commented on #4528
Hi @mofm, can you share the cluster-wide PSP that you are using? It seems like the `1001` user is not able to write in the volume even though the values.yaml that you are using seems correct at a first sight.

[2020-11-30 15:37] andresbono commented on #4534
Hi @stoetti, thanks for raising this issue.

I don't see any cons on adding new parameters to be able to pass extra volumes to the different pods. In fact, it is a pattern that we try to follow in most of the containers. For instance, see discourse: https://github.com/bitnami/charts/blob/master/bitnami/discourse.

We use the parameters `extraVolumes` and `extraVolumeMounts` to add more flexibility

[2020-11-30 15:40] andresbono commented on #4537
Hi @Hokwang, thanks for spotting this issue! Would you like to open a PR fixing the README erratas?

[2020-11-30 15:51] alrf commented on #4523
Hi @andresbono

yes, this works, I also found it today before your answer.

[2020-11-30 15:57] alrf commented on #4523
It seems `MONGODB_MOUNTED_CONF_DIR` comes from:
https://github.com/bitnami/bitnami-docker-mongodb/blob/163ea74fc0c9d05966f9e3cb03c36c95899dbeb9/3.6/debian-9/rootfs/opt/bitnami/scripts/mongodb-env.sh#L83
and `/bitnami/conf` (not `/bitnami/mongodb/conf`) by default:
https://github.com/bitnami/bitnami-docker-mongodb/blob/163ea74fc0c9d05966f9e3cb03c36c95899dbeb9/3.6/debian-9/rootfs/opt/bitnami/scripts

[2020-11-30 17:37] mltsy commented on #3783
This readiness probe seems to bypass the deadlock issue, right? (`rabbitmq-diagnostics -q ping`)

Since it's documented, and avoids the issue, it seems like a good default!  I guess the documentation recommends this check for cases where the node may be "waiting for a peer to sync schema from".  I'm assuming that may be the case for... all clustered nodes...?  But I'm not totally sure I understand

[2020-11-30 17:39] siegfried01 commented on #4134
Lucky me! The pods were still running.

    NAME                        READY   STATUS             RESTARTS   AGE   IP          NODE             NOMINATED NODE   READINESS GATES
    my-release-mysql-master-0   0/1     CrashLoopBackOff   160        15h   10.1.0.56   docker-desktop   <none>           <none>
    my-release-mysql-slave-0    0/1     Running            154        15h   10.1.0.55   docke

[2020-11-30 17:45] baderbuddy opened #4546 "[metrics-server] Documentation says not to create API endpoint"
**Which chart**:
The name (and version) of the affected chart
metrics-server@5.3.0

**Describe the bug**
A clear and concise description of what the bug is.
The documentation says that `apiService.create` should not be necessary with K8S >= 1.8, but the API server isn't automatically created. This is at a minimum needed for things like VPA, but I have to imagine Prometheus would need the API serve

[2020-11-30 20:57] mofm commented on #4528
Hi  @andresbono,

cluster restricted psp:

[code]

But I have deployed bitnami/mysql successfully with below security context:

[code]

[code]

[2020-12-01 00:51] CarlosAugustoAlves opened #4548 "Cannot access keycloak with args like -Dkeycloak.profile.feature.<feature name>=enabled"
I need to add some configuration like upload_scripts, impersonation, token_exchange, but I was not able to use this in the chart.

Please let me know the proper way to fix this.

[2020-12-01 04:52] Gefuxing commented on #4535
I hope you can give me a solution as soon as possible. I am in a hurry. Please help me.

[2020-12-01 05:54] stoetti commented on #4534
PR created

[2020-12-01 07:35] goncalovf commented on #4502
I just read a [comment on another issue](https://github.com/bitnami/bitnami-docker-wordpress/issues/157#issuecomment-460162285) that explains my doubt about `bitnami/wordpress/.initialized`. I'm going to close this issue now. Thank you again for your support!

[2020-12-01 07:35] #4502 closed

[2020-12-01 08:57] Gunakk opened #4552 "Dynamic update of prometheus jobs"
Brief:
No provision to add more Jobs while prometheus deployment is running

1.  As of now, the prometheus config reloader is taking it's configuration from /etc/prometheus/config/prometheus.env.yaml.gz whose directory is read only file system.
2.  On a running kubernetes deployment, I want to be able to mount a prometheus configuration file to host (something like prometheus.yaml), which on editi

[2020-12-01 09:12] jkonecny75 commented on #4539
I have the same problem :-(

[2020-12-01 09:48] javsalgar commented on #3783
Hi,

Thanks for the info. We will work on changing the probe. If you want to speed up the process feel free to send a PR and we will review it :D

[2020-12-01 09:52] javsalgar commented on #4540
Hi,

This is an issue we've been experiencing in our Multi-tier deployments. For some reason, the Azure Database for MySQL and MariaDB show a version that causes issues with the Moodle installation. In the end we had to create a hack to bypass that, which is the variable `MOODLE_DATABASE_MIN_VERSION`. If you set this variable to `5.6.47.0` the installer will work.

However, this will be available

[2020-12-01 09:54] javsalgar commented on #3950
Hi,

This is interesting. It is something that we've discussed in the past. I think we should reconsider the current standard, as the username (and the database name) makes sense to be in the secret.

[2020-12-01 09:58] javsalgar commented on #4544
Hi,

Thanks for the feedback. We will work on adding serviceAccount support in the deployment. I cannot guarantee an ETA, but if you want to speed up the process, feel free to send a PR and we will review it.

[2020-12-01 10:13] dani8art commented on #4516
Hi @goodlime it seems there was a bug in this version, could you try using the latest version, please, take into account that this new version is a major upgrade, you should review its notable changes before upgrading https://github.com/bitnami/charts/tree/master/bitnami/node#to-1400

[code]

[2020-12-01 10:14] javsalgar commented on #4548
Hi,

In order to enable these settings, you would need to add flags to the `standalone.sh` command? Am I right? If that's the case, we should find a way to enable extra flags in the container. Would something like `KEYCLOAK_EXTRA_ARGS` work for you?

[2020-12-01 10:16] AlessioCasco opened #4553 "Allow to disable Rabbit AMQ port when not needed"
**Which chart**:
rabbitmq (All versions)

**Is your feature request related to a problem? Please describe.**
It would be good to allow the user to disable the AMQ TCP port (for example in cases when only TLS must be used).

**Describe the solution you'd like**
Allowing to set `service.port` to nil or adding a new parameter like `service.amqEnable` in the chart to control the port on the service an

[2020-12-01 10:19] javsalgar commented on #4552
Hi,

Just to ensure, are you talking about the `kube-prometheus` chart or the `stable/prometheus` chart? We maintain the kube-prometheus operator, which is in charge of deploying the prometheus instances. In that case, I don't think the operator has hostPath support. In the operator, everything is meant to be done using the Kubernetes API, so using a hostPath would cause the state to be out of syn

[2020-12-01 10:21] dani8art commented on #4404
Hi!

if you are using `bitnami/rabbitmq` as the main chart you must use

[code]

If you are using it as a sub chart you must use

[code]

Thanks!

[2020-12-01 11:03] dani8art commented on #4530
Hi I answered this on https://github.com/bitnami/bitnami-docker-redis/issues/190#issuecomment-735782949,

thanks!

[2020-12-01 11:07] serg-bs commented on #3950
Thanks @timothyclarke for response.  Security reason is not a big argument here. Please notice, that root user is always static. I mean in case of root you can change name and store it in secret.
You didn't notice about database name. Always we create database in bundle with user password.

[2020-12-01 11:31] dani8art commented on #4347
Hi @royshouvik sorry for the late response, I've created a PR adding both headless services so you can access pod DNS directly, please, let's move the conversation there.

Thanks!

[2020-12-01 11:36] dani8art commented on #3952
Hi @HaveFun83 after some investigation we found something wire in your values

[code]

it seems like ReadWriteMany is required but I can see you are using ReadWriteOnce

[code]

please, could you try using the proper access mode or using an S3 bucket instead?

[2020-12-01 11:51] dani8art commented on #4467
Could you explain a bit more about this?

[2020-12-01 12:11] dani8art commented on #4536
Hi @alrf thanks for reporting the issue, unfortunately, I was not able to reproduce it

[code]

[code]

Can you share a bit more context, values.yaml, or commands to try to reproduce it?

[2020-12-01 12:12] royshouvik commented on #4347
@dani8art Thank you 🙏

[2020-12-01 12:16] dani8art commented on #4539
Hi! thanks for reporting the issue, I've just added a commit to this PR #4554 that should fix the issue, please let's move the conversation there.

[2020-12-01 12:20] goodlime commented on #4516
@dani8art I'm not sure I follow. You are asking me to try the exact version which was failing for me. I see no subsequent  commits that would have remedied the issue. Am I missing something?

To clarify, I had to downgrade to the previous latest version in order to get my stack to build successfully. The previous version(s) I had been using without issue for months.
[code]

My console output...
[c

[2020-12-01 12:20] dani8art commented on #4543
Hi @teivah are you using `mysql.auth.database` or `auth.database`?

[2020-12-01 12:24] iamsudip commented on #3920
@rafariossaa @juan131 I think it was not part of the refactor. What do you suggest?

[2020-12-01 12:28] alrf commented on #4536
Hi @dani8art , use `grep 'Unauthorized'`
[code]

[2020-12-01 12:32] ahmgeek commented on #3843
hey @juan131, https://github.com/prometheus-operator/prometheus-operator/pull/2965#issuecomment-736515555 there's some details on here from the maintainers.

[2020-12-01 12:35] machine424 commented on #4535
Hello,

You may need to look at these comments and the links to they provide:
- https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml#L138
- https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml#L315

Plus, I think `kubectl delete pod mq111-rabbitmq-0 mq111-rabbitmq-1 mq111-rabbitmq-2` doesn't guarantee any shutting down order. Only scaling down a Stateful

[2020-12-01 13:02] andresbono commented on #4541
Hi @Lebed71, what do you mean by "Later this works correct"? Is it the error transient?

[2020-12-01 13:04] Lebed71 commented on #4541
Sorry, I mean "Before", in older stable helm charts. Fixed in top message

[2020-12-01 13:08] dani8art commented on #4516
Sorry, then I misunderstood something and I've tried with an old version but thinking I was using `14.0.0`, you are right, there is a bug in the `ingress.yaml` template I've just opened a PR, please let's move the conversation there.

Thanks for reporting it!

[2020-12-01 13:27] andresbono commented on #4534
That's great, @stoetti!! Thanks for your contribution. We will review it soon.

[2020-12-01 13:30] kristinnardal2 opened #4557 "[bitnami/grafana] Add support for supplying smtp hostname in Helm chart"
**Which chart**:
bitnami/grafana

**Is your feature request related to a problem? Please describe.**
When setting up smtp for Grafana you usually need to change the host from the default `localhost:25`. There are already settings in the Helm chart for enabling smtp and setting username and password. It's possible to set the host in other ways but an option to set it easily would be nice to have.

[2020-12-01 13:47] teivah commented on #4543
Hi, `mysql.auth.database`

[2020-12-01 13:59] oliverbaehler opened #4559 "K8s List: Helm linter fails due to missing name"
**Which chart**:
kafka
kube-prometheus/templates
kubernetes-event-exporter

**Describe the bug**

Yesterday I upgraded to the latest helm version (v3.4.1) and tried to lint a chart I wrote myself, which contains a Kubernetes list. Suddenly I got this linting error:

[code]

This relates to this [Issue](https://github.com/helm/helm/issues/9019) or atleast someone else is having the same problems. I

[2020-12-01 14:19] alrf opened #4560 "[mongodb-sharded] authorization is properly enabled on primaries only"
**Which chart**:
mongodb-sharded (3.1.0)

**Describe the bug**
Authorization is properly enabled on primaries only.
On all secondaries the `/opt/bitnami/mongodb/conf/mongodb.conf` file contains `authorization: disabled`:
[code]

which caused by `unset MONGODB_ROOT_PASSWORD` command here:
https://github.com/bitnami/charts/blob/8a88fda6fabbeb8775e5a03cbd6b86671ecf6818/bitnami/mongodb-sharded/templat

[2020-12-01 14:23] kristinnardal2 opened #4561 "[bitnami/grafana] Setting smtp.enabled doesn't enable smtp"
**Which chart**:
bitnami/grafana

**Describe the bug**
Setting `smtp.enabled` to true when installing the Grafana Helm chart doesn't actually enable the smtp config. It only makes it so that username and password are set using environment variables.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the bitnami/grafana Helm chart with the following values
[code]
2. Access the Grafana i

[2020-12-01 14:27] hedgehoggie opened #4562 "[bitnami/ghost] Pod terminated with error 143 when ghostProtocol is set to https"
**Which chart**:
bitnami/ghost 1.1.1

**Describe the bug**
Ghost pod unable to get into ready state when ghostProtocol is set to https. It works perfectly fine when ghostProtocol is set to http.

[code]

Certificate from LetsEncrypt is confirmed working.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. helm install ingress bitnami/nginx-ingress-controller
2. Setup letsencrypt using ce

[2020-12-01 14:30] alrf opened #4563 "[mongodb-sharded] extraEnvVars are not passed into shard-data-statefulset.yaml and shard-arbiter-statefulset.yaml"
**Which chart**:
mongodb-sharded (3.1.0)

**Describe the bug**
`extraEnvVars` are not passed into `shard-data-statefulset.yaml` and `shard-arbiter-statefulset.yaml`, but for other components they are.

For example, `extraEnvVars` are passed for configsvr:
https://github.com/bitnami/charts/blob/3f6054c1c9633d0aa78d15d2a3e3ea009c35940f/bitnami/mongodb-sharded/templates/config-server/config-server-st

[2020-12-01 14:39] dani8art commented on #4543
That's strange, I did the following using bitnami/mysql as the main chart and it worked fine. The behavior must be the same when using it as sub chart.

[code]

[code]

[code]

[code]

Did you deploy a previous release of this chart? If so, you must delete PVC that was created by the previous release or it will be used and the container will restore the previous data. Please, make sure you execute

[2020-12-01 14:48] michelefa1988 opened #4564 "[bitnami/mongodb] Helm install not working"
**Which chart**:
Latest Master, v10.1.3

**Describe the bug**
Running the helm install command with the configuration below throws an error `Error: no objects visited`

**To Reproduce**
Steps to reproduce the behavior:

```helm upgrade --install mymongo --values values2.yaml ./mongodb```

values2.yaml:
[code]

**Expected behavior**
The Helm chart installs in a replicaset configuration. I will also

[2020-12-01 14:55] rafariossaa commented on #4561
Hi,
  Thank you very much for spotting this.
  I am sending a PR to fix it.

[2020-12-01 15:05] #4561 closed

[2020-12-01 15:06] rafariossaa commented on #4561
Hi,
  I merged it, could you try the new release and see if it fixes the issue for you ?

[2020-12-01 15:08] CarlosAugustoAlves commented on #4548
Yes, KEYCLOAK_EXTRA_ARGS  looks good to me.

[2020-12-01 15:12] #4534 closed

[2020-12-01 15:12] rafariossaa commented on #4520
You are welcome.
I am closing this issue.

[2020-12-01 15:12] #4520 closed

[2020-12-01 15:14] kristinnardal2 commented on #4561
Thanks for the quick fix, there was however an error in the PR as all environment variables need to be strings.
When trying to install now I get the following error:
[code]

To fix this quote the `true` in the PR.

[2020-12-01 15:34] rafariossaa commented on #4542
Hi,
  Could you try adding `--local_infile=1` to your `mysql` command ?

[2020-12-01 15:40] malagant opened #4568 "_helper.tpl for wordpress chart is missing "wordpress.fullname" and "wordpress.tplValue" as referenced in template configmap.yaml"
**Which chart**:
latest Wordpress chart

**Describe the bug**
When adding `customPostInitScripts` like in https://github.com/bitnami/charts/issues/4255#issuecomment-730520452 the `_helper.tpl` for wordpress chart is missing `wordpress.fullname` and `wordpress.tplValue` as referenced in template `configmap.yaml`

**To Reproduce**
Steps to reproduce the behavior:

Apply some valid yaml to the `custo

[2020-12-01 15:50] rafariossaa commented on #3920
Hi,
  The thing about the refactor was to you no be caught in the middle of the change and if you had sent a PR you maybe have had to change it.
  Feel free to sent your PR, we will be glad to review and merge it.
  Sorry for the delay.

[2020-12-01 16:07] rafariossaa commented on #4535
Hi,
  If you delete the 3 nodes at the same time, it is what you said, it is not guaranteed any order, neither that it is ordered and not done simultaneously.
 To stop it gracefully you should be using `helm delete`, by running `kubectl delete` with all the pods you simulated a massive fault of the cluster. You can try to recover it by using `force-boot`.

[2020-12-01 16:24] rafariossaa commented on #4546
Hi,
  After installing, for example with: `helm install my-release bitnami/metrics-server`, if you run `kubectl get --raw "/apis/metrics.k8s.io/v1beta1/nodes" `, what do you get ?

[2020-12-01 17:15] rafariossaa commented on #4538
Hi,
  This change was indicated in the notes for the version 8. As it is a new major version, some breaking changes can happen.

[2020-12-01 17:38] terorie opened #4569 "[bitnami/redis] Sentinel downtime and faulty service endpoints"
**Which chart**: `redis`

**Describe the bug**
The Kubernetes cluster is in a healthy state, but 1 out of 3 Redis sentinels in my Redis Sentinel cluster has lost consensus and is down since multiple hours. The pod of the faulty sentinel is still reporting as ready/healthy and is still exposed by the service.

This breaks all Redis clients that use simple logic to determine the master, like:
1. Con

[2020-12-01 18:05] ajchiarello commented on #4148
This looks to be resolved in the latest release - can you confirm? @miguelaeh

[2020-12-01 19:37] sabbyanandan opened #4570 "Upgrade spring-cloud-dataflow chart to SCDF OSS v2.7"
**Which chart**:
[spring-cloud-dataflow](https://github.com/bitnami/charts/blob/master/bitnami/spring-cloud-dataflow/README.md)

**Describe the solution you'd like**
We would like to request to update the [spring-cloud-dataflow](https://github.com/bitnami/charts/blob/master/bitnami/spring-cloud-dataflow/README.md) chart to the next minor release of SCDF OSS, which is at 2.7 GA as of today.

[2020-12-01 20:01] mltsy opened #4571 "Updating policy definitions in loadDefinitions.existingSecret doesn't update policies"
**Which chart**: rabbitmq 7.7.1

**Describe the bug**
I can define vhosts and policies in load_definitions file, but if I try to update the policy definitions, the updates aren't applied to the cluster.

**To Reproduce**
Steps to reproduce the behavior:

I've been using the Terraform helm provider, and I don't *think* this is a problem with the provider, so I'm going to describe what I believe it'

[2020-12-01 20:31] randyphoa commented on #4562
Resolved the problem. Service port needs to be set to 443 so that the generated url is correct. Earlier it was https://example.com/:80, it is working correctly now.

[2020-12-01 20:32] hedgehoggie commented on #4562
Got it working by setting service port to 443. Earlier the generated url was https://example.com/:80, it is currently https://example.com/:443.

[2020-12-01 20:32] #4562 closed

[2020-12-02 03:21] Hokwang commented on #4538
@rafariossaa yes, mentioned, but I think commiter does not consider inconsistency with other DB.

[2020-12-02 06:42] timfeirg commented on #4225
suggestion: change title to "zookeeper crashes without any error log when tls certificates is not mounted" or sth like that. @Venkatesh-Ravva

I've made a PR in attempt to make the debug process somewhat easier: https://github.com/bitnami/bitnami-docker-zookeeper/pull/44, could you take a look at it? this repo seems to be managed by bots. @dani8art

[2020-12-02 07:12] kristinnardal2 commented on #4561
I can confirm that this is working after #4566

[2020-12-02 08:43] FraPazGal commented on #4563
Hello @alrf,

Thanks for catching this! I'll create a PR to solve this issue and merge it as soon as possible.

[2020-12-02 09:13] msvticket commented on #3931
This is not really fixed since bitnami/bitnami-docker-rabbitmq#142 hasn't been merged...

[2020-12-02 09:37] javsalgar commented on #4559
Hi,

I've seen the Airflow approach and looks good to me, it would make sense to replace the current extra list with that.

[code]

[2020-12-02 09:44] javsalgar commented on #4548
Awesowe, I will open a task for implemeting it.

[2020-12-02 09:45] MaxRink opened #4574 "[bitnami/harbor] Unable to use notary and clair with an external PGSQL12 DB"
**Which chart**:
Harbor 9.x ( i havent tested older Versions, most likely they have the same bugs)

**Describe the bug**
- For Clair:
Clair itself wont connect to an PGSQL12 DB and fails with the following logline:
[code]
This would normally indicate an incompatibility with SCRAM-SHA-256, but we have testwise reverted everything back to MD5 and faced the same error.

- For Notary:
Both notary-serv

[2020-12-02 09:47] javsalgar commented on #4570
Hi,

Thank you for using Bitnami. We're working on packaging the new version. I will update this ticket as soon as it is ready.

[2020-12-02 10:34] #4563 closed

[2020-12-02 10:54] #4516 closed

[2020-12-02 10:54] fle108 commented on #4540
thank you for your help, however `3.10.0-debian-10-r18` tag doesn't take `MOODLE_DATABASE_MIN_VERSION` extraEnvVar, so i tryed with tag `latest` which is `3.10.0-debian-10-r19` version dated from yesterday that is  and it's ok
i have now what i expected during install process: `Changing minimum required MariaDB version to 5.6.47.0`

[code]

[2020-12-02 10:55] #4540 closed

[2020-12-02 11:19] oliverbaehler commented on #4559
@javsalgar Thanks for your response. Created PR, I just put all the changes into one PR. If that's not okay let me know and I will create for each chart a separate one.

[2020-12-02 11:37] yardenshoham opened #4576 "[bitnami/mssql] Request for a mssql chart"
**Which chart**:
mssql

**Is your feature request related to a problem? Please describe.**
I want to deploy a highly-available mssql instance. For every other 3rd component in my cluster, a bitnami helm chart exists.

**Describe the solution you'd like**
I would like a mssql bitnami helm chart.

**Describe alternatives you've considered**
I thought about using [this image](https://hub.docker.com/_

[2020-12-02 11:42] andresbono commented on #4553
Hi @AlessioCasco, would you like to start drafting a PR? Contributions are more than welcome! We will be happy to review it.

[2020-12-02 11:42] andresbono commented on #4541
Thanks for the clarification.

The error might be caused by the usage of `persistence.existingClaim=rabbitmq-pvc`. As you are using an old PVC, the credentials should be the ones defined in the PVC, not the ones you are specifying with the helm parameters.

If you try a fresh install, you should be able to get a successful connection:

[code]

Can you confirm this works for you?

[2020-12-02 12:32] rafariossaa commented on #4219
Hi,
  I would like to reproduce the max connection issue, but I am not very sure of the scenario.
  Could you indicate the settings used in `values.yaml` or in the helm command ? I would like to know how many nodes are you starting.

[2020-12-02 12:51] CarlosAugustoAlves commented on #4548
Thank you!

[2020-12-02 12:52] FraPazGal commented on #4148
Hello @ajchiarello,

It seems this may be a byproduct of one of our last PRs (probably the affinity one #4472, as this issue resolved itself doing `helm upgrade --set core.replicas=1`) but the team has yet to work on the internal task related to this issue. Nevertheless, I'm glad you are no longer having this issue, we'll try to investigate the root cause of it!

[2020-12-02 13:05] dominik-bln commented on #4219
We had one pgpool and two postgres instances at the time.

I think the problem might only occur if there are too many application connections cached, i. e. to replicate the scenario you would probably need to spin up >100 distinct pods/threads/clients that try to connect to pgpool without hitting the same cached connection. This is then not a problem for pgpool, because it is fine with 480 connect

[2020-12-02 13:53] chrisjs commented on #4570
in https://github.com/bitnami/charts/blob/master/bitnami/spring-cloud-dataflow/templates/server/deployment.yaml#L129

`SPRING_CLOUD_DATAFLOW_TASK_COMPOSED_TASK_RUNNER_URI` has been deprecated (but still remains) in the current release so we should move that over to `SPRING_CLOUD_DATAFLOW_TASK_COMPOSEDTASKRUNNER_URI`

[2020-12-02 13:59] apizzoni commented on #4548
Hi,
I need to configure -Dkeycloak.profile.feature.scripts = enabled, will this implementation resolve this problem? Can I achieve this now in other way?

[2020-12-02 14:11] setevoy2 opened #4578 "New Redis instance does not reconnected to an existing cluster"
**Which chart**:
bitnami/redis latest

**Describe the bug**

Have Redis Cluster from the Redis Helm Chart with 1 Master and two Slave instances with Sentinel enabled.

After killing the Master pod from the cluster - a new pod doesn't connect to the cluster.
Instead - it's started as a new dedicated Master instance.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to rep

[2020-12-02 14:14] CarlosAugustoAlves commented on #4548
Hi,

At this moment I need specifically of admin_fine_grained_authz and token_exchange.

Follow list: https://github.com/keycloak/keycloak-documentation/blob/master/server_installation/topics/profiles.adoc

[2020-12-02 14:30] mourad-hamza commented on #4219
@rafariossaa, thanks for the answer, I was using an old PostgreSQL image, after updating it to last one ( (bitnami/postgresql-repmgr:11.10.0-debian-10-r2)), now I'm getting 1000 on max connections,
but, even after that, the liveness probe is still restarting pgool POD, what I noticed also is the number of connections are not consumed as it seams causing the issue
[code]

[2020-12-02 14:50] teivah commented on #4543
Okay thanks, let's close it then.

[2020-12-02 14:50] #4543 closed

[2020-12-02 15:02] andresbono commented on #4560
Hi @alrf, thanks for raising this issue. Do you have any suggestions to fix the issue? Did you try by removing the `unset MONGODB_ROOT_PASSWORD` line? I'm not sure if that would have any side effects, but it's worth trying.

[2020-12-02 15:13] andresbono commented on #4564
Hi @michelefa1988, it seems like that issue was solved in newer versions of helm: https://github.com/helm/helm/issues/7632#issuecomment-589693332.

Can you upgrade your tool to a newer version?

[2020-12-02 15:15] varspare commented on #3579
Mostly just to add a +1 here, we're also seeing this issue and have not set `fullnameOverride`. We'll try the suggested workarounds but a fix would be appreciated.

[2020-12-02 15:37] rechandler12 opened #4581 "[phpmyadmin] metrics container doesn't work"
**Which chart**:
phpmyadmin:7.0.0

**Describe the bug**
metrics container can't scrape metrics from apache

**To Reproduce**
Steps to reproduce the behavior:

1. Install with default values
2. See logs metrics container
4. See error

**Expected behavior**
metrics container can scrape metrics from apache

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl

[2020-12-02 15:46] javsalgar commented on #4544
Hi,

Please check this PR that adds the feature you requested https://github.com/bitnami/charts/pull/4582

[2020-12-02 16:06] andresbono commented on #4571
Hi @mltsy, is the secret mounted as a file being updated in the container? We tried the following with successful results:

`custom-values.yaml`
[code]

[code]

Modify custom-values.yaml to update the password from CHANGEME to CHANGEME2

[code]

Everything seems to be working fine. To better understand the issue, let us know if there are differences between my testing and yours.

[2020-12-02 16:12] javsalgar commented on #4548
Hi,

I'm working on the feature in the container. In the meantime, could you check this PR for the chart? https://github.com/bitnami/charts/pull/4583

[2020-12-02 16:16] #4055 closed

[2020-12-02 16:26] javsalgar commented on #3522
Hi,

I've taken a look and it seems that the values are correctly documented now.

[code]

[code]

These are extracts from the readme. Could you confirm if things are ok now?

[2020-12-02 16:26] alrf commented on #4560
Hi @andresbono Yes, I tried to remove `unset MONGODB_ROOT_PASSWORD` line and it caused the secondary pods crashes with error: `MONGODB_ROOT_PASSWORD shouldn't be set on a 'non-primary' node` from here: https://github.com/bitnami/bitnami-docker-mongodb-sharded/blob/f6aa35eb807c51713bdf125dfe6f80be471dc804/3.6/debian-9/rootfs/opt/bitnami/scripts/libmongodb.sh#L58

As workaround I used
[code]
in the

[2020-12-02 16:48] mortenko commented on #4542
Hi, this solve only problem on client side.

[2020-12-02 16:51] mortenko commented on #4542
@rafariossaa  I already solved it but in different way.  I used this flag --local_infile=1 on client side and before it I access  to mysql db as root and set global variable local_infile  on server side.

[2020-12-02 17:11] dani8art commented on #4536
I get nothing

[code]

Can you share a bit more context, values.yaml, or commands to try to reproduce it?

[2020-12-02 17:23] dani8art commented on #4225
I think a colleague, already reviwed it.

Could you add more info to reproduce the issue? did you provide TLS files?

[2020-12-02 17:30] alrf commented on #4536
I've attached my values.yaml
[values.yaml.txt](https://github.com/bitnami/charts/files/5630999/values.yaml.txt)

[2020-12-02 18:02] mltsy commented on #4571
Oh, interesting!  I will check that out and see - and thanks for testing this even though I neglected to actually include my example files! 😅

[2020-12-02 21:12] mltsy commented on #4571
Well, interesting!  I checked the file and it was indeed there, and had the correct contents.  It just didn't seem to be getting loaded... but I tried this manual upgrade process, and it actually did work, so maybe there *is* something with the terraform provider that's not working as expected (perhaps it's not triggering a helm upgrade for some reason??  Although I don't know how the file would h

[2020-12-02 23:04] carlosjgp commented on #3522
Yeah, it looks like those properties are now documented in the readme and values file 🚀

[2020-12-02 23:04] #3522 closed

[2020-12-03 00:26] CarlosAugustoAlves commented on #4548
Thank you seems good for me.

Thank you seems good for me.

[2020-12-03 02:11] huisebug opened #4584 "SocketException、SCRAM-SHA-1、did not become available"
I configured 2 rs copies and 1 arbiter, and turned on metrics. When my helm is established, the first pod of the statefulset can always be successfully established, and then the second pod is always restarting, and the second pod There are error messages in 2 containers in
mongodb:
Error: couldn't connect to server 127.0.0.1:27017, connection attempt failed: SocketException: Error connecting to 12

[2020-12-03 02:16] huisebug commented on #4584
![Uploading image.png…]()

[2020-12-03 04:35] drmy opened #4585 "bitnami/redis 12.1.1 - Once I enable redis.tls and Metrics, I got errors of "bad certificate" and No metrics data shown on Grafana"
**Which chart**:
The name (and version) of the affected chart
bitnami/redis 12.1.1

**Describe the bug**
Once I enable TLS and Metrics, then in the Redis log I see the following errors:

**Error accepting a client connection: error:14094412:SSL routines:ssl3_read_bytes:sslv3 alert bad certificate**

And, no metrics data can be shown on my Grafana, even though I can see that Prometheus has successf

[2020-12-03 04:58] jerowe commented on #4457
Sorry I didn't see this. I get way too many github notifications and can't find a good way to deal with them all. ;-)

I'll take a look at it then. It's uses a lot of the same tools as Airflow, so maybe I can just hammer on that a bit. Thanks again and I'll definitely take a look in the next few weeks.

[2020-12-03 05:04] jerowe commented on #4457
Didn't mean to close this.

All the bitnami charts use bitnami docker images. How does that work? Is there a separate repo I would have to create a superset image for?

[code]

[2020-12-03 05:43] timfeirg commented on #4225
I didn't, and i understand now zookeeper cannot start with this setup, but it was difficult to debug and let to this conclusion because there's no relevant error logs pointing to this direction.

[2020-12-03 07:02] Gunakk commented on #4552
HI,

Thank you for the response.

I am using kube-prometheus. The important job of config reloader is to check if there is any change in prometheus.yaml configuration and send a reload request to prometheus.  I want to understand on a running deployment, if I want add an additional job, How do I do it ?

I am new to prometheus. Please excuse if I am missing something.

Thanks,
Guna

[2020-12-03 07:25] yule-cao opened #4587 "[mongodb] Liveness and readiness probes spam the logging too much"
**Which chart**:
mongodb

**Is your feature request related to a problem? Please describe.**
The liveness and readiness probes spam the logging with a lot of connection messages. It is difficult to find relevant logs because you have to scroll through a lot of pages of the same messages over and over again before you find the important messages.

**Describe the solution you'd like**
The liveness a

[2020-12-03 09:10] Gefuxing opened #4590 "bitnami/rabbitmq Set the error -- Set podManagementPolicy=Parallel"
helm3 install mqsh --set persistence.storageClass=nfs-storage --set persistence.size=1Gi --set replicaCount=3 --set auth.username=gefuxing --set auth.password=gefuxing --set service.type=NodePort    --set podManagementPolicy=Parallel bitnami/rabbitmq

When I set -- Set podManagementPolicy=Parallel, login to the UI, why only show two POD node and I set three replicas

![image](https://user-images.g

[2020-12-03 09:12] Gefuxing commented on #4590
You can try to deploy, follow the deployment command, log in to the UI interface, and see?

[2020-12-03 09:14] rafariossaa commented on #4443
Hi,
  @PhanSon95   I am not very sure of the current status of this issue, Did you finally got the data ?

[2020-12-03 09:15] Gefuxing commented on #4590
## RabbitMQ should be initialized one by one when building cluster for the first time.
## Therefore, the default value of podManagementPolicy is 'OrderedReady'
## Once the RabbitMQ participates in the cluster, it waits for a response from another
## RabbitMQ in the same cluster at reboot, except the last RabbitMQ of the same cluster.
## If the cluster exits gracefully, you do not need to change th

[2020-12-03 09:15] rafariossaa commented on #4561
Hi,
  I am happy this was fixed and worked for you.

[2020-12-03 09:16] Gefuxing commented on #4590
![image](https://user-images.githubusercontent.com/43690953/100988938-3fad9980-358b-11eb-8630-e3153133df77.png)

[2020-12-03 09:24] javsalgar commented on #4559
Thank you so much! We'll take a look

[2020-12-03 09:31] javsalgar commented on #4570
Thanks for the input! I will forward it to the team

[2020-12-03 09:33] rafariossaa commented on #4429
Hi,
  I added some needed changes to the spark image to configure and expose the metrics.
  I have some changes for the chart that I am testing in our development environment, so if all goes well it could be released soon.
  I will update this thread with the progress.

[2020-12-03 09:43] javsalgar commented on #4552
Hi,

The image is configmap-reload, so it would detect changes in the prometheus configmap. I'm not a Prometheus expert, but did you check the ServiceMonitor object? https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/user-guides/getting-started.md

I think these may cover your use case, as the new target would make Prometheus reload. Also, did you check the Promet

[2020-12-03 09:57] rafariossaa commented on #4219
Hi,
  If this is a issue with the configuration numbers, I think you need to find the right numbers for you scenario as it is very dependent on how the clients use pgpools and the connections.
  I would suggest to ask in pgpool forums to get a better idea on which would be a good setting configuration for your scenario.
  Please don't hesitate to share your findings so we can see how we can improv

[2020-12-03 10:01] rafariossaa commented on #4578
Hi,
  That is a quite old version of the redis chart, and this issue was fixed a while ago.
   Could you give a try to a more recent version? The current one is 12.1.1

[2020-12-03 10:05] rafariossaa commented on #4542
Hi,
  I am happy you were able to solve the issue. Thank you very much for sharing your findings.

  I am not very sure about the `my.cnf` file, but did you check you got that setting loaded in mysql ?
  You can check the value with `SHOW GLOBAL VARIABLES LIKE 'local_infile';`

[2020-12-03 10:08] huisebug commented on #4584
I have solved my problem and provided my yaml

[values-cluster.yaml.txt](https://github.com/bitnami/charts/files/5635301/values-cluster.yaml.txt)

[2020-12-03 10:10] rafariossaa commented on #4584
Hi,
  I am happy you were able to solve the issue, and thanks for sharing your `values.yaml`
  Could you provide more info on what the solution was ?

[2020-12-03 10:13] rafariossaa commented on #4590
Hi,
  How many rabbitmq pods do you have ? Are any of them showing errors in the logs ?
  If you don't set the podManagementPolicy parameter, do you get the same behavior ?

[2020-12-03 10:29] Gefuxing commented on #4590
There are three PODS in total, check the log and find no exception, all are normal, if I do not set podManagementPolicy, it is ok, but the creation is slow, it takes about five minutes, or longer, so set podManagementPolicy=Parallel

[2020-12-03 10:29] rafariossaa commented on #4568
Hi,
  It seems to be some issue with the indentation in the yaml file.
  I added this to `values.yaml` and got it rendered without issues:
[code]
  Coudl you give it a try ?

[2020-12-03 10:31] PhanSon95 commented on #4443
@rafariossaa Currently, the data which I saw on the Grafana Dashbard still have 3 instances of mongos. In my case deploy has:
- 6 shards = 18 POD sharded-data, 6 POD arbiter
- 3 POD configsrv
- 3 POD mongos
and finally result that I want to be is all instances above.
Could you give me your opinion about my case ? That's normal ?
Thank you.

[2020-12-03 10:46] dani8art commented on #4557
Hi @kristinnardal2 thank you so much for the feedback, I've created a PR to add this feature to the chart, please, let's move the conversation there.

[2020-12-03 11:02] dfgrosso opened #4592 "[bitnami/kafka] Understanding zookeeper role"
Hello everyone.

We have installed kakfa chart on our cluster and our client applications are using spring connector to connect with kafka.

Everything is working fine but we would like to better understand this kafka architecture, namely, the role of zookeeper. We've been crawling the web but different articles give different roles to zookeeper in the kafka platform. Some of them suggest the its

[2020-12-03 11:05] rafariossaa commented on #4134
Hi,
  Right now I am not very sure witch command/parameters are you using to start the chart.
  By using `helm install my-mysql --set image.debug=true bitnami/mysql --set master.persistence.enabled=false,slave.persistence.enabled=false` you only get one pod:
[code]
  Can you also update your repo information and deploy the lastest version of the chart ? Currently it is 8.0.0.
  This can be done by

[2020-12-03 11:05] pbrissaud opened #4593 "[kube-prometheus] When operator.enabled: false, Prometheus is not deployed"
**Which chart**:
kube-prometheus 2.2.3

**Describe the bug**
When installing the chart with `operator.enabled: false`  the prometheus statefulset is not deployed. If I want to not have the Prometheus Operator , I have install the chart with `operator.enabled: true` then upgrade with `operator.enabled: false` and its works.

**To Reproduce**
Steps to reproduce the behavior:

1. Download charts (air

[2020-12-03 11:17] stuart-thomas opened #4594 "Not able to configure container security context for the metrics container"
**Which chart**:
redis v 12.1.1

**Describe the bug**

When I enable metrics and set `containerSecurityContext.enabled: true` and configure some settings, such as `containerSecurityContext.allowPrivilegeEscalation: false`, in my values.yaml and install the chart the metrics container is not configured with the required security context

In the example shown in [best practises](https://docs.bitnami

[2020-12-03 11:21] stuart-thomas commented on #4594
Happy to fix this myself if there is agreement that this issue is not intentional

[2020-12-03 11:24] dani8art commented on #4562
Hi @hedgehoggie thanks for the feedback!

[2020-12-03 11:32] FraPazGal commented on #4587
Hello @yule-cao,

It is true that the health checks can create a lot of noise, but I'm not sure if we should have them without verbose by default as their function as a heartbeat can be really useful. If you prefer to change their default behaviour, probes can also be customised using the parameters `customLivenessProbe` and `customReadinessProbe`.

[2020-12-03 11:34] #4559 closed

[2020-12-03 11:36] dominik-bln commented on #4219
@mourad-hamza Are you seeing a different log message for the restarts by any chance? I. e. a timeout? Then you might be successful with relaxing the liveness probe as discussed in https://github.com/bitnami/bitnami-docker-pgpool/issues/35

@rafariossaa Are you referring to my post or to @mourad-hamza? Because from my perspective I already tried to make the point that the default configuration of t

[2020-12-03 11:44] FraPazGal commented on #3579
Hello @varspare,

I will update the internal task related to this issue. Unfortunately, given the upcoming holiday season and our small team size, I'm not able to give you an ETA on this, but we'll try to move this up in our backlog! Thank you for your understanding!

[2020-12-03 11:52] dani8art commented on #4536
Why it is only failing when `.Values.usePasswordFile`? it should fail also using just the password env var, right?

[2020-12-03 11:55] dani8art commented on #4457
Hi @jerowe, thanks! we really appreciate your interest and your effort here.

Regrading the image, if we finally got a chart PR we will be in charge of adding the image to our catalog.

Thanks again!

[2020-12-03 11:58] dani8art commented on #4225
You can add `image.debug=true` I don't know if that could help you to debug a bit more.

[2020-12-03 12:03] javsalgar commented on #4576
Hi,

Thanks for the feedback! Our policy is to own all the containers of the charts we offer, and right now it is not possible for us to package mssql because of license and distribution restrictions. Because of that, I'm afraid there are no plans to package a mssql chart. If the license and distribution conditions change, we'd be happy to work on that.

[2020-12-03 12:05] alrf commented on #4536
It fails in both cases, right. I provided this workaround as I use `usePasswordFile: true` only.

[2020-12-03 12:09] dani8art commented on #4536
Ok, anyway, this workaround looks great! would you like to contribute it by a PR? It would be great to have a great solution to this issue. If so, we would be happy to handle it and help you to get a good approach for all the cases.

Thanks!

[2020-12-03 12:16] malagant commented on #4568
Sorry, for me it doesn't work because helm is complaining about the missing includes I mentioned before. If you have a look at _helper.tpl you'll see they are missing.

[2020-12-03 13:09] alrf commented on #4536
yes, I would like to do it. Should I create a PR as workaround looks currently or review in terms of `usePasswordFile: false` ?

[2020-12-03 13:14] x20mar opened #4596 "[bitnami/kube-prometheus] Unable to setup alertmanager with config"
**Which chart**:
[bitnami/kube-prometheus] (latest)

**Describe the bug**
I am unable to get alertmanager to pull any of the config set via my values.yaml

**To Reproduce**
Steps to reproduce the behaviour:

- Create a values.yaml file with following:

[code]

- Install kube-prometheus

[code]

- Create tunnel to alertmanager UI

[code]

- Go to status page to see config at http://localhost:9093/#

[2020-12-03 13:19] mahanam opened #4597 "Redis does not entertain AOF corruptions from bitnami"
Do we have any standard way to allow the AOF corruption from bitnami?

Any config option or a parameter which fixes the AOF corruptions.

Helm version:
[code]

kubectl version
[code]

[2020-12-03 13:36] yule-cao commented on #4587
Hi @FraPazGal ,

I tried with TCP probe but it still brought a lot of noise.
Is there any other way to probe appropriately while keeping the log clean?

[2020-12-03 14:06] javsalgar commented on #3783
Hi,

Could you please check this PR? Per the conversation, this is what we're looking for, right?

https://github.com/bitnami/charts/pull/4598

[2020-12-03 14:35] Roarain opened #4599 "postgresql"
**Which chart**:
chart name：https://github.com/bitnami/charts/tree/master/bitnami/postgresql
using repository: bitnami/postgresql:10.15.0-debian-10-r4

[code]

in container, log file size is too big and does not rotate .
[code]
postgresql setting is

[code]
![image](https://user-images.githubusercontent.com/9844376/101040758-2f131880-35b7-11eb-9fbb-97f38ec4f88d.png)

**Describe the solution you'd

[2020-12-03 14:35] #4548 closed

[2020-12-03 15:10] andresbono commented on #4581
Thanks for noticing, @rechandler12. Would you like to submit a PR fixing the issue? Contributions are more than welcome!

[2020-12-03 15:17] andresbono commented on #4571
Thanks for letting us know, @mltsy. Feel free to open new issues if you find other bugs or you want to suggest improvements!

[2020-12-03 15:17] #4571 closed

[2020-12-03 15:35] FraPazGal commented on #3843
Hello @ahmgeek,

From what they said, this error should be solved by configuring the `prometheus.thanos.objectStorageConfig` (already using it for setting the bucket) or by setting `disableCompaction: true`; which didn’t solve the issue on my end.

I have created an internal task to investigate this in-depth and the team would add it to the backlog. Given the current holiday season, I can't give y

[2020-12-03 15:52] Antiarchitect opened #4602 "Bitnami charts repository has no updates"
**Which chart**:
[bitnami/influxdb]

**Describe the bug**
 Current repository version is 1.0.0 but in git repo we have 1.1.1

**To Reproduce**
Try to install bitnami/influxdb 1.1.1

**Expected behavior**
New chart version contained in repository and installs normally

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

[2020-12-03 16:07] javsalgar commented on #4548
Hi, the latest release of the container should include the variable, please let us know if you find any other issues.

[2020-12-03 16:40] mortenko commented on #4542
I know and that was the problem that global variable wasn't set to ON value :).

[2020-12-03 16:48] parth-pandit opened #4606 "Missing Pod for Trivy Stateful Set"
**Which chart**:
The name (and version) of the affected chart
my-tac-repo/harbor
2.1.1 - my-tac-repo

**Describe the bug**
A clear and concise description of what the bug is.
When I deploy an instance of Harbor on my TKGm cluster, I see all pods coming up except the pod for Trivy. There is no pod under Trivy Stateful Set, which shows 0/0 pods. There is no error that can be tracked. The pod is comp

[2020-12-03 17:15] rafariossaa commented on #4429
Hi,
  I have just sent a PR to enable the metrics.
  Let's wait for the reviewing process and then we will merge it

[2020-12-03 17:21] jonathon2nd commented on #2470
This does not seem to be working at the moment, Key does not show up as mounted on the workload. Authentication for postgres user fails.

![image](https://user-images.githubusercontent.com/52681917/101064390-926e5d80-3559-11eb-8a0f-a21be473f304.png)
![image](https://user-images.githubusercontent.com/52681917/101064422-98643e80-3559-11eb-9d2c-b30fac182e12.png)

[code]

[2020-12-03 18:18] navneet066 opened #4607 "[bitnami/mongodb] Not able to configure own SSL CA certificate and Key"
**Which chart**:
Helm Chart version 10.1.3

**Is your feature request related to a problem? Please describe.**
There is no option of applying my own SSL certificate and key. It always uses a self-signed certificate generated by `genCA` and `genSignedCert` function.

**Describe the solution you'd like**
The cluster should accept the SSL Certificate and key.

**Describe alternatives you've considere

[2020-12-03 20:12] jonathon2nd commented on #2470
The password was not showing up because some of the vars were set with the `global.` prefix. After moving those and redeploying the secret is mounted on the workload, but authentication with postgres is still failing. There does not seem to be an issue with pgpool. The non admin user is working as expected.
![image](https://user-images.githubusercontent.com/52681917/101082739-9017fd80-3571-11eb-82

[2020-12-03 20:14] MikaelSmith commented on #2470
I believe it only works on initial setup, so if the database already exists changes wouldn't be applied. I don't have a ton of experience with this; I believe I had it working at one point, and just ported over what the non-HA versions were doing.

[2020-12-03 20:21] jonathon2nd commented on #2470
I just this https://github.com/bitnami/charts/issues/2061#issuecomment-623053764.
And that was exactly the problem. The initial problem was caused by using the `global.` prefix on the var.
Thank you for responding.

[2020-12-03 22:21] siegfried01 commented on #4134
Incidently, I was playing with the sample [https://www.youtube.com/watch?v=BlX26GThQPQ
](url) and the mysql worked fine when I launched it from docker...

However, when I tried to convert it to kubernetes using "kompose convert" and use the resulting yaml files, I got the same old problem....

Here you go... Same as before
**helm repo update**
   Hang tight while we grab the latest from your chart

[2020-12-03 23:58] CarlosAugustoAlves commented on #4548
Thank you so much! I'll test it.

[2020-12-04 01:12] huisebug commented on #4584
After running for 12 hours, the mongodb rs cluster is normal, but the metrics of the second pod keep showing errors, and it is still being studied.
![image](https://user-images.githubusercontent.com/27762438/101109004-d6706980-3610-11eb-9f62-1fcb80375ad5.png)

[2020-12-04 03:46] huisebug commented on #4584
externalAccess:
Will affect the value of the variable MONGODB_ADVERTISED_HOSTNAME, which is the value of the rs.conf() command (member.host) of the rs cluster that the cluster rs node joins to the cluster.
  # If it is turned on and the exposure method is Nodeport, the domain needs to be set, and the domain can only write one, which will cause the node to be unable to fully join
  # If you open an

[2020-12-04 03:56] huisebug commented on #4584
Below is the modified yaml
[scripts-configmap.yaml.txt](https://github.com/bitnami/charts/files/5640491/scripts-configmap.yaml.txt)
[values-cluster.yaml.txt](https://github.com/bitnami/charts/files/5640492/values-cluster.yaml.txt)

[2020-12-04 04:05] huisebug commented on #4584
The reason for the SocketException is that the cluster is running normally and externalAccess is turned on and not configured correctly

SCRAM-SHA-1 is an error prompted by metrics and the cluster is not configured correctly. Previously, a mongodb-cluster-0.mongodb-cluster-headless.yire.svc.cluster.local was configured at externalAccess.service.doamin, which would As a result of the two pods in th

[2020-12-04 06:15] DSC390 commented on #1761
Hi, I am currently expiriencing the same Problem. I have also tried to install a older version of the chart with the same result.

 the shard is after a view hours still joining
 ==> ** Starting MongoDB Sharded setup **
 ==> Validating settings in MONGODB_* env vars...
 ==> Initializing MongoDB Sharded...
 ==> Writing keyfile for replica set authentication...
==> Enabling authentication...
 ==> De

[2020-12-04 06:54] cloux opened #4608 "Trivy scanner is not working when using proxy"
Trivy scanner fails in an airgapped environment with:

"FATAL - failed to download vulnerability DB: failed to list releases..."

Trivy container currently ignores proxy settings. Trivy should use the same proxy as Clair, see here: https://github.com/bitnami/charts/blob/beaaf129536ef28b3b52d8fda3ed8d4992751701/bitnami/harbor/values-production.yaml#L646-L650

[2020-12-04 06:59] #4557 closed

[2020-12-04 07:12] CCJY commented on #4443
Hello.

I got the same issue.
The prometheus scraped metrics of mongos, but metrics of shardsvr and configsvr are dropped on prometheus.
I don't know why metrics dropped except metrics of mongos.
I want to get metrics of shardsvr and configsvr included mongodb_mongod_*.

## Test

Everything seems okay.
![image](https://user-images.githubusercontent.com/5335259/101131968-2aa92880-35d4-11eb-8a06-5e0

[2020-12-04 07:45] mourad-hamza commented on #4219
@dominik-bln No timeout, my issue is exactly the same as described by @philross
[code]
I will try to use `NUM_INIT_CHILDREN=20` and `MAX_POOL=3` and check again,
Thanks

[2020-12-04 08:05] andresbono commented on #4523
It seems a bit tricky. I made it work by executing the commands below. However, with different chart parameters or different configuration file, the results can be unexpected:

[code]

[2020-12-04 09:17] andresbono commented on #4597
Hi @mahanam, could you please describe a little bit more your issue?

[2020-12-04 09:18] javsalgar commented on #4593
Hi,

I am afraid this is not possible. The chart is not deploying any Prometheus instance, it is the operator the one that deploys it. If you want to have Prometheus without the operator, my advice would be using the stable/prometheus chart. Our current offer is only the operator.

[2020-12-04 09:28] javsalgar commented on #4596
Hi,

I used your configuration and saw this in the operator logs:

[code]

Could it be that there's some syntax error in the alertmanager configuration you passed?

[2020-12-04 09:41] pbrissaud commented on #4593
Hi,
Thanks for your answer ! I was thinking so but the documentation confused me :

Maybe this part should be better explained !

Best regards,

Paul

[2020-12-04 09:41] #4593 closed

[2020-12-04 09:47] andresbono commented on #4528
Hi @mofm, I'm afraid that the Redmine container is not yet compatible with non-root users. Even if you workaround the issue that you are facing, you will find others. As you may know, we are migrating all our containers to the non-root approach but Redmine is a pending one.

The workaround I mentioned is setting an extra volume, but still continues failing:

[code]

[2020-12-04 10:13] #3783 closed

[2020-12-04 11:02] HaveFun83 commented on #3952
The pv's are not created as we used an s3 bucket for imagechartstore:
[code]

[2020-12-04 12:35] javsalgar commented on #4593
Thanks for the feedback! We'll take a look and see if the wording can be improved

[2020-12-04 12:37] javsalgar commented on #4606
Hi,

Thank you for using Bitnami. Could you check if `kubectl describe sts <name of the trivy statefulset>` provides any meaningful information?

[2020-12-04 12:54] andresbono commented on #4560
If you want, you can open a PR changing that, but I'm not really sure of the drawbacks for that change. We will need to review it in depth. Also, if the function doesn't depend on `MONGODB_ROOT_PASSWORD` and `MONGODB_PASSWORD`, what other variables would you suggest as an alternative?

In addition to that, does the authorization setting in a secondary node has any effect? Doesn't the primary confi

[2020-12-04 13:00] javsalgar commented on #4608
Hi,

Thanks for reporting. Could you check this PR? https://github.com/bitnami/charts/pull/4609 it should fix the issue.

[2020-12-04 13:01] javsalgar commented on #1761
Hi,

Thanks for letting us know. Which is the difference between this second attempt and the initial one? Maybe a different chart versionL

[2020-12-04 13:07] #4608 closed

[2020-12-04 13:38] patvdleer opened #4611 "[Minio] Unable to setup distributed mode"
**Which chart**:
Minio
version: 4.1.0

**Describe the bug**

Unable to setup a distributed deployment if Minio

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

A deployment that actually passes healthcheck?

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

- Output of `kind version`:

[code]

[2020-12-04 14:36] dani8art commented on #4570
Hi,

`bitnami/spring-cloud-dataflow@2.2.0` has been released, this version includes the next version of SCDF 2.7 and adapts some environment variables to match this new version.

You can find it in bitnami chart repo

[code]

Please, don't hesitate to contact us if you find any problem or have any suggestion.

Thanks!

[2020-12-04 14:42] rafariossaa commented on #4429
Hi,
  I have just merged the chart PR.
  Could you give it a try ?

[2020-12-04 14:48] rabbituser01 opened #4612 "[bitnami/rabbitmq] extraSecrets & missing checksum/secret annotation"
**Which chart**:
rabbitmq 8.3.0

**Describe the bug**
Change in extraSecrets does not trigger pod redeploy if both auth.existingErlangSecret and auth.existingPasswordSecret are also specified.

https://github.com/bitnami/charts/blob/129c744a382061a94055ed5270c356302a77c26c/bitnami/rabbitmq/templates/statefulset.yaml#L29-L31

**Expected behavior**
Pod redeploy

[2020-12-04 15:32] hatharom opened #4614 "Scaling down zookeeper kills the cluster"
**Which chart**:
bitnami kafka v11.3.4 with its  embedded zookeeper chart

**Describe the bug**
-Installing the chart with default settings ( but setting replicaCount to 3 both for ZK and Kafka).
-Wait to be everything up and running. At this point no error, they can communicate.
-Scale down: `kubectl scale statefulsets wrinkled-hare-zookeeper --replicas=1`
-**Results:** It kills the zookeeper. I

[2020-12-04 15:43] rafariossaa commented on #4538
Hi,
  I have created an internal task to add a parameter to allow service name overriding, that should work for you.
  We will come back as soon as we have news.

[2020-12-04 15:45] rafariossaa commented on #4590
Can you leave the `podManagementPolicy` as `OrderedReady` and enable debug ?
Let's see if you get some timeouts (or other errors) in the log.

[2020-12-04 15:52] rafariossaa commented on #4594
Hi, @stuart-thomas
  Thanks for spotting this.
  Feel free to send a PR, we will be glad to review and merge it.

[2020-12-04 15:58] x20mar commented on #4596
Hi @javsalgar,

Thanks for looking into this. I'm not sure what syntax I have got wrong here. I went over it again and I still couldn't see anything. In addition, the Alertmanger config is a copy and paste of Grafana's suggestion which can be found at https://grafana.com/blog/2020/02/25/step-by-step-guide-to-setting-up-prometheus-alertmanager-with-slack-pagerduty-and-gmail/

Thanks

[2020-12-04 17:04] rafariossaa commented on #4568
Hi,
  Could you update your clone of the the chart repository ?
  As you can see in the [configmap.yaml](https://github.com/bitnami/charts/blob/d06e73d8a94a383aa5c02a4ebea8b9ea99e53219/bitnami/wordpress/templates/configmap.yaml#L5) , there is not reference to `wordpress.fullname`.

[2020-12-04 17:13] apizzoni commented on #4548
Thank you so much!, Can I use it like this?

[code]

[2020-12-04 17:45] beltran-rubo commented on #4602
HI @Antiarchitect, thanks for reporting it and sorry for the delay. We are working on InfluxDB version 2 and that blocked our pipeline to release this Helm Chart with the latest changes. We are looking into it to fix it and continue releasing version 1 for the Chart as soon as possible. We will keep you in the loop.

[2020-12-04 18:41] malagant commented on #4568
Thanks a lot. 😀

[2020-12-04 21:59] Antiarchitect commented on #4602
Repo has been updated. Thank you!

[2020-12-04 21:59] #4602 closed

[2020-12-04 22:51] Antiarchitect opened #4616 "[bitnami/influxdb] udp support out of the box"
**Which chart**:
[bitnami/influxdb]

**Is your feature request related to a problem? Please describe.**
Proxmox i.e. has only UDP InfluxDB support: https://pve.proxmox.com/wiki/External_Metric_Server

**Describe the solution you'd like**
UDP is turned on (or optionally) by default in this chart. I thought about a PR but it seems the default config for influxdb is contained inside the bitnami influ

[2020-12-05 00:16] riptl opened #4617 "[bitnami/redis] use term replica instead of slave"
**Which chart**:
bitnami/redis

**Is your feature request related to a problem? Please describe.**
Low prio / vanity change.
As of Redis v5, Redis uses the terms "replica" instead of "slave". ([source](https://redis.io/commands/slaveof))
This Helm chart would ideally use the same terminology as Redis.

**Describe the solution you'd like**
Usages of the terms `slave` should be modified to `replica`

[2020-12-05 03:06] landakram opened #4618 "[bitnami/dokuwiki] Multiple ingress hosts not working"
**Which chart**:
bitnami/dokuwiki
latest

**Describe the bug**

When attempting to use multiple ingress hosts, only the last ingress is created. It appears to be the same problem as https://github.com/bitnami/bitnami-docker-odoo/issues/74#issuecomment-525624494, given that the templates are similar.

**To Reproduce**

(I am using helm through ansible). Add the following parameters:

[code]

After

[2020-12-05 05:24] jpedrick opened #4619 "Dependency tracking in postgresql initialization for initialization recovery"
**Which chart**:
postgresql

**Is your feature request related to a problem? Please describe.**
I had a slow PVC, which caused postgresql to restart due to a readiness and liveness check before the initialization scripts finished. After the restart postgresql was not fully initialized and in a bad state for the rest of the application deployment, but the cause was not immediately apparent. The pos

[2020-12-05 08:30] timfeirg commented on #4225
there's no other way to enable `set -x` inside scripts, see https://github.com/bitnami/bitnami-docker-zookeeper/blob/master/3/debian-10/rootfs/opt/bitnami/scripts/zookeeper/setup.sh#L8

[2020-12-05 11:18] mofm commented on #4528
Thanks @andresbono

[2020-12-05 15:41] enneamer commented on #4414
I am experiencing the same issue. Before the final fix comes out, is there a workaround to install a working PostgreSQL-HA system at this moment, like using older charts or images?

[2020-12-05 18:17] CCJY commented on #4443
I got metrics of shardsvr and configsvr included mongodb_mongod_*.
I can see metrics on grafana. Also, I referred to [Additional Scrape Configuration](https://github.com/prometheus-operator/prometheus-operator/blob/master/Documentation/additional-scrape-config.md).

[2020-12-06 00:44] drmy commented on #4585
Does anyone have the same problem? I just won't be able to enable Redis TLS and Metrics at the same time, I am using bitnami/redis with the sentinel mode.

So,
If I disable TLS and enable metrics, metrics can work fine
If I enable TLS and disable metrics, redis logs are good, with no errors, TLS works fine.
If I enable TLS and enable metrics, metrics won't work, and redis log keeps writting "bad c

[2020-12-06 21:54] kuzm1ch opened #4622 "[bitnami/redis] NodePort configuration can point user to wrong direction for redis sentinel setup"
**chart name**:
redis

**Bug/feature request**
NodePort configuration can point the user in the wrong direction for Redis sentinel setup.

As I understood sentinel should work as on picture below.
<img width="664" alt="Screenshot 2020-12-06 at 23 38 06" src="https://user-images.githubusercontent.com/32264674/101293088-2bcc9680-381c-11eb-9091-c65208f7c01a.png">
Client try to get  retrieve master ip

[2020-12-07 01:44] trungphungduc opened #4623 "[bitnami/postgresql-ha] can not install with helm"
****Which chart**:
bitnami/postgresql-ha (lastest)

**Describe the bug**
... could not open relation mapping file "global/pg_filenode.map": No such file or directory
... could not create directory "pg_replslot/repmgr_slot_1001.tmp": No such file or directory

**To Reproduce**
helm install pgpool bitnami/postgresql-ha \
--set volumePermissions.enabled=true \
--set persistence.existingClaim=stgcc-pg

[2020-12-07 02:09] #4599 closed

[2020-12-07 02:24] Platou commented on #3572
I have the exact same issue, but deleting PV/PVC didn't solve the issue and also I tried with a clean k8s cluster in vain.

[2020-12-07 02:43] Platou commented on #1699
@javsalgar any updates?

[2020-12-07 04:12] gkulkarni32 commented on #4429
@rafariossaa Thank you, let me try this today and get back.

[2020-12-07 05:40] DesistDaydream commented on #4569
I have the same issue,and I have some findings.

https://github.com/bitnami/charts/blob/d74a672b52b61215348305b9d3c97769e53c756c/bitnami/redis/templates/configmap.yaml#L45  Why add this content `{{ template "redis.fullname". }}-Master-0`

The IP configured by the monitor will not change no matter how many times it is restarted
[code]

[2020-12-07 06:35] gkulkarni32 commented on #4429
Hi @rafariossaa I was trying to test this out. Few observations:
1. When I did `helm pull bitnami/spark`, I dont see the updated README.md and the updated values.yaml/values-production.yaml.
2. Also, I ran `helm install dp bitnami/spark -n spark-operator --set image.registry=harbor-repo.vmware.com/dockerhub-proxy-cache --set image.repository=gkulkarni32/custom-bitnami-spark --set image.tag=v15 --s

[2020-12-07 07:45] beltran-rubo commented on #4429
Hi Geeta, there is an issue in the pipeline we are working on and the new tgz is not in the Helm repository yet. Could you please try those changes from the source code itself? We are working on fixing this to make it available the latest version in the Helm repository.

[2020-12-07 08:32] enibache opened #4624 "bitnami/discourse how to install plugins"
Dear bitnami support,

thanks first for the wonderful job/effort you guys are putting in here. I realized that bitnami leaverages helmcharts for tools like discourse, which is supposedly a good endeavor, but discourse doesn't seem to encourage this at all as any questios regarding the bitnami/discourse helmcharts are immediately rejected by discourse and refered to bitnami(inofficial). There is a

[2020-12-07 08:52] #4584 closed

[2020-12-07 09:21] antonmatsiuk opened #4626 "bitnami/kafka no possibility to set an arbitrary KAFKA_CFG_MIN_BROKER_ID"
**Which chart**:
bitnami/kafka

**Is your feature request related to a problem? Please describe.**
In current kafka chart it is not possible to set an arbitrary `KAFKA_CFG_MIN_BROKER_ID` for a stateful set with multiple pods. The `KAFKA_CFG_BROKER_ID` value is hardcoded via `/scripts/setup.sh` to the ID of the pod in the stateful set. This makes impossible to provision a stretched cluster where tw

[2020-12-07 09:58] terorie commented on #4569
@DesistDaydream That looks like the same bug indeed, thanks for sharing. I just migrated my Redis installation to single-node, since Sentinel was too fragile in practice.

As a long term solution, I'm trying out Kubernetes lease-lock leader election instead of Redis Sentinel: https://github.com/terorie/redis-k8s-election

[2020-12-07 09:58] #4569 closed

[2020-12-07 10:03] #4581 closed

[2020-12-07 10:09] jhoomsharabi commented on #3745
Hi All,
Can I use redis-cluster as an alternate option to this issue from here https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster , the redis-cluster looks to solve my problem of master slave.
Any idea?

[2020-12-07 11:02] marcosbc commented on #4574
Hi @MaxRink, our understanding is that Harbor does not yet support PostgreSQL 12. In fact, their official Helm chart still uses 9.6 but we were able to update that to 11.x.

It seems like the PostgreSQL driver would need to be updated on Harbor's side in order to work properly, and that's something we don't control unfortunately.

[2020-12-07 12:33] alexsergin commented on #4499
Hi @dani8art. I've made all changes. Check that out pls.

[2020-12-07 14:13] Platou commented on #1279
any updates on this? https://github.com/bitnami/charts/issues/1279#issuecomment-624474646

@juan131

[2020-12-07 14:54] marcosbc commented on #4225
Related PR: https://github.com/bitnami/bitnami-docker-zookeeper/pull/44

[2020-12-07 14:55] PhanSon95 commented on #4443
@CCJY Oh, let me try 👯‍♂️

[2020-12-07 15:08] marcosbc commented on #4619
Hi @jpedrick, thanks for the feedback!

Currently the initialization process checks whether the PostgreSQL data directory is populated. This means that a container may end in an error-loop state if the first initialization failed after the directory was populated, but before users were properly setup.

By breaking the initialization into different steps, we may solve the problem in some cases (so

[2020-12-07 15:16] marcosbc commented on #4618
Hi @landakram, it looks like the `ingress.yaml` template for DokuWiki is wrong as it's appending resource templates with the same `name`, causing the last one to be the only one enabled.

A proper template is used in a chart like [Drupal](https://github.com/bitnami/charts/blob/master/bitnami/drupal/templates/ingress.yaml), would you be open to sending a PR with the necessary changes?

[2020-12-07 15:22] marekzan opened #4633 "[bitnami/harbor] artifact icons not found on the filesystem of harbor-core"
**Which chart**:
bitnami/harbor --version 9.1.0

**Describe the bug**
After migrating from harbor 1.x to harbor 2.1 via the helm chart version 9.1.0 we encountered multiple errors in the web console of chrome / firefox after clicking on an artifact in the harbor ui.

The web console gives the following errors:

[code]

Looking at the logs of harbor-core there are the following outputs:

[code]

Af

[2020-12-07 15:26] marcosbc commented on #4617
Hi @terorie, thanks for the suggestion! It's something that we plan to do, but unfortunately I cannot give an ETA for when it would be completed. I'm also going to link to this related issue: https://github.com/bitnami/bitnami-docker-redis/issues/187.

[2020-12-07 15:31] marcosbc commented on #4617
If you want, feel free to contribute a PR with these changes, we'd be happy to review it. Even if the container uses the old terminology, it can be changed separately. Note that it would be a major change, meaning you would have to increase the major version of the chart (i.e. 12.x.x -> 13.0.0).

You can see how we did it with MariaDB here: https://github.com/bitnami/charts/pull/3849

[2020-12-07 15:39] marcosbc commented on #4585
Hi @drmy, it looks like you also need to specify TLS option to the Redis Metrics tool. You can do that via [`metrics.extraArgs`](https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml#L651).

You can find the Redis Metrics CLI flags for TLS [here](https://github.com/oliver006/redis_exporter#command-line-flags).

[2020-12-07 15:46] marcosbc commented on #4592
Hi @dfgrosso, ZooKeeper serves as a metadata server for Kafka, and is also used to perform broker elections. The most relevant page I could find on the official site is this: https://kafka.apache.org/documentation/#impl_zookeeper (based on [this answer](https://stackoverflow.com/questions/54039166/what-is-the-actual-role-of-zookeeper-in-kafka-2-1)).

[2020-12-07 15:51] marcosbc commented on #4616
Hi @Antiarchitect, it'd be awesome if you could contribute this change, we'd be glad to review it and help with the release!

For the container image, you can find the source code for the initialization scripts (based on Bash) in the [`rootfs` directory](https://github.com/bitnami/bitnami-docker-influxdb/tree/master/1/debian-10/rootfs/opt/bitnami/scripts) of the container repo. Once a PR is merged

[2020-12-07 15:53] marcosbc commented on #4548
@apizzoni Unfortunately that format is not currently supported by this image, it has to be a string. However, feel free to send a PR with the change, we'd be glad to review it! (in that case, make sure passing it as string is also compatible to avoid a breaking change)

[2020-12-07 15:55] marekzan opened #4634 "[bitnami/harbor] extraVolumes parse error because of wrong indent"
**Which chart**:
bitnami/harbor --version 9.1.0

**Describe the bug**
Adding extraVolumes

[code]

to the core deployment yields the following error:
`YAML parse error on harbor/templates/core/core-dpl.yaml: error converting YAML to JSON: yaml: line 258: did not find expected key`

After investigating it seems that in every deployment of this chart the `extraVolumes` indent is at 6 but should be a

[2020-12-07 16:02] Antiarchitect commented on #4616
Possibly I could do it after I check my own patched version works internally for me.

[2020-12-07 16:22] marcosbc commented on #4607
Hi @navneet066, currently it is not a feature supported by MongoDB like you mention, but we'd be glad to review any PR that implements such feature. Would you be open for contributing those changes?

[2020-12-07 16:35] bmailhe opened #4635 "[bitnami/rabbitmq] invalid credentials issue when extraConfiguration used"
**Description**

When using `extraSecrets` to `loadDefinition` for `extraConfiguration`, the user and password defined (in another secret) is made invalid. This occurs when adding this configuration:

[code]

The message in the log is
[code]

ℹ️  Deploying the chart without the `extraSecrets` to `loadDefinition` for `extraConfiguration` defined above work perfectly.

The extra conf is well loaded

[2020-12-07 16:43] marcosbc commented on #4414
Hi @enneamer, there have been a lot of fixes over the time so I would suggest to wait, as you could run into old issues.

By the way, just letting you know that it looks like these changes were already implemented as per a comment in our internal task:

The related changes were included in the following Bitnami PostgreSQL Docker image releases:

* [`9.6.20-debian-10-r18`](https://github.com/bitnam

[2020-12-07 16:45] #4594 closed

[2020-12-07 16:48] marcosbc commented on #1699
@Platou This is still in our backlog and we have not been able to spend any time on it, and unfortunately I'm unable to tell you when we will.

However, we're happy to review external contributions so if you have some time and find the issue, you could always send a PR to fix this.

[2020-12-07 16:49] marcosbc commented on #3572
@Platou Could you create a new issue with more details on how you are deploying your chart?

[2020-12-07 16:52] marcosbc commented on #4623
Hi @trungphungduc, it is not always required to install with `volumePermissions.enabled=false`, it depends on your PV type.

Also, note that the flag is only meant to be used when deploying with a new PVC, existing ones should already have correct permissions so no need to specify it.

If you remove it, do you get any other errors? If not I assume we can consider this solved, right?.

[2020-12-07 17:10] js02sixty commented on #4623
I have pretty much the same issue, whether or not I use volumePermissions.  Data is being populated into the PV,  using the default security context of 1001.  Not sure if this has anything to do with it, but where the log shows "starting monitoring of node....(ID: 1000)"  Should it instead be 1001?

[2020-12-07 18:21] Platou commented on #1699
I regenerated my keystore/truststore and it fixed my issue. I was not providing the good domain name.

Thanks

[2020-12-07 18:26] Platou commented on #3572
My issue was the same as above.

In the end, it was the `tls` vs `sasl_tls` properties. zookeeper is enforcing `sasl` and my kafka broker were configured with `tls` only therefore not providing sasl auth to zookeeper.

I configured them with `sasl_tls` to fix the issue.

[2020-12-07 18:44] dfgrosso commented on #4592
Thank you @marcosbc !

[2020-12-07 19:13] tlperini opened #4637 "[bitnami/rabbitmq] Unable to change the NLB service externalTrafficPolicy"
**Which chart**
bitnami/rabbitmq --version 7.7.1

**Is your feature request related to a problem? Please describe.**
The default NLB externalTrafficPolicy service spec is set to `Cluster` and we don't have the possibility to change it to `Local`.

**Describe the solution you'd like**
Add the possibility to configure the externalTrafficPolicy service spec through the values.yaml file.

**Describe a

[2020-12-07 20:09] Darnesey opened #4638 "Cannot deploy more than one mongodb pod in the same k8s cluster due to endpoint service address collision"
**Which chart**:
mongodb-10.1.3

**Describe the bug**
Port names must be unique in a k8s cluster. Otherwise, endpoint ports of the same names will share ip addresses. This means that two mongodb pods with different clusterIP's will both have services that share two endpoints (clusterIP_1:27017, clusterIP_2:27017). This results in intermittent requests being sent to the wrong DB.

standalone/dep-st

[2020-12-07 21:23] lerminou opened #4639 "How to render a dynamic annotation template based on the replicat count"
**Which chart**:
The name (and version) of the affected chart
mongodb

**Describe the bug**
I want to set a DNS for each mongo service replicat:
I tried many formats but none works.

Can anyone explain me how to do ?

**To Reproduce**
Steps to reproduce the behavior:
example
[code]
some errors returned
[code]
**Expected behavior**
Render a annotation based on the name and replicatCount
mongo-01.ex

[2020-12-07 21:33] fantariaYY commented on #3743
Hi,

We are having a similar issue when deploying a helm upgrade (adding more Redis node, for instance) exactly as @rxsto described above, and I did some investigations on it.
Basically after helm upgrade deployment, the entire statefulset gets a rolling restart. During this period, I noticed that the restarted Redis Pod will not retain its original 40-digit uuid, therefore not getting added back

[2020-12-08 01:45] trungphungduc commented on #4623
Hi @marcosbc, When i remove, the error (as the picture above) still appear.
Here is the command that i use.
[code]

[2020-12-08 03:03] gkulkarni32 commented on #4429
Thanks Beltran. I installed the chart from the github source code. It worked fine and I'm able to see the metrics from within the pod at 8080/8081 ports in master and worker nodes respectively. But when I configure the wavefront collectors for these endpoints, I get the below error:

time="2020-12-08T03:01:45Z" level=error msg="reading text format failed: text format parsing error in line 1: inval

[2020-12-08 03:58] echang0929 opened #4640 "[bitnami/airflow] FATAL: role "bn_airflow" does not exist"
**Which chart**:
airflow

**Describe the bug**
Fatal error: role "bn_airflow" does not exist

**To Reproduce**
Steps to reproduce the behavior:

I've updated section postgresql of its value file: bitnami/airflow/values.yaml
[code]
Then install chart with:
[code]
But I got error on postgresql pod:
[code]

**Expected behavior**
As you see, there are configurations about user and database of postgres

[2020-12-08 08:25] gkulkarni32 commented on #4429
Hi, I ran the below command to install the helm chart:

```helm install -n spark-operator --set image.registry=harbor-repo.vmware.com/dockerhub-proxy-cache --set image.repository=gkulkarni32/custom-bitnami-spark --set image.tag=v15 --set service.type=LoadBalancer --set metrics.enabled=true dp .```

I see the below specification in my master pod.

[code]

[2020-12-08 09:16] majinghe opened #4641 "[keycloak] connection failure and pods running fail"
**Which chart**:
Keycloak chart

**Describe the bug**
pod can not start, from the logs ,shows
[code]

**To Reproduce**
Running the blow cmd to install the chart
[code]

Helm version is : `v.3.4.1`
Kubectl version is : `v1.18.x`

This is really strange, i use the docker with same image tag, it works fine, but for k8s, has the above issue.

By the way, i got the message in the `values.yaml`
[code]

[2020-12-08 10:47] marcosbc commented on #4536
@alrf Sure, please send a PR. IMHO it would be more consistent if you also support the `usePasswordFile` scenario.

As for the fix itself, does it affect only `@` and `:` or are there other characters like `!#$%^&*()` that could be affected as well? Maybe this deserves for a proper uri_encode function or something similar that may be included in one of the "/opt/bitnami/scripts/lib*.sh" files.

I

[2020-12-08 10:55] MatthiasLohr commented on #3291
I would assume that using an external PersistentVolumeClaim definition should work. This way, you don't need to modify the StatefulSet but only the PersistentVolumeClaim. Am I right with that? What about improving the chart this way?

[2020-12-08 10:57] marcosbc commented on #4587
Hi @yule-cao, I guess you are referring to the "Connection accepted" and "Connection ended" log lines, right? Unfortunately I don't know of any way to disable those lines only for the health check, as they make a connection to MongoDB to check whether it is alive.

I would recommend you to look into the [`systemLogVerbosity` and `disableSystemLog` chart options](https://github.com/bitnami/charts/b

[2020-12-08 10:58] juan131 commented on #4443
Hi @CCJY @PhanSon95

Could you please share the **values.yaml** you used to fix the issue? I don't fully understand what modifications you did in the ServiceMonitor object to workaround it

[2020-12-08 11:01] juan131 commented on #4542
Great! @mortenko I proceed to close the issue as solved, please feel free to reopen it if you require further help.

[2020-12-08 11:01] #4542 closed

[2020-12-08 11:17] juan131 commented on #4134
Hi @siegfried01

It looks to me like your MySQL server is taking too long to start.. So the readiness/liveness probes fail since MySQL is not accepting connections yet when these probes start to use `mysqladmin` to check the status.

Let's try with two different approaches:

- Approach A: Set a very long initialization delay for the probes. E.g.:

[code]

- Approach B: Disable probes:

[code]

Try

[2020-12-08 11:22] juan131 commented on #4611
Hi @patvdleer

I was unable to reproduce the issue:

[code]

I'm using `bitnami/minio 4.1.1` chart version.

[2020-12-08 11:25] marcosbc commented on #4596
@x20mar Unfortunately I am unfamiliar with specific configurations, but found this related GitHub issue: https://github.com/prometheus-community/helm-charts/issues/255#issuecomment-715666986

Could you check if the proposed solution works for you?

[2020-12-08 11:26] juan131 commented on #3572
Great @Platou ! I'm glad you were able to solve the issue after setting the right auth mechanism on Kafka & Zookeeper. Please do not hesitate to let us know if you require further help.

[2020-12-08 11:31] marcosbc commented on #4624
@enibache It seems you are following the documentation for Bitnami cloud images and installers. In the case of containers, the paths differ so you need to run the commands like this:

[code]

Refer to this related issue: https://github.com/bitnami/bitnami-docker-discourse/issues/28

[2020-12-08 11:38] juan131 commented on #3952
Hi @HaveFun83

Did you enable any of the rest of parameters to configure S3 as the image&chart storage? I mean, the ones below?

[code]

Could you please share the logs of Chartmuseum containers?

[2020-12-08 11:42] marcosbc commented on #4626
@antonmatsiuk Thanks for the suggestion! Indeed it looks like what you are asking for is not currently supported.

Would you be open to contributing such change? We'd be happy to review the PR and help with the release of the chart with those changes. That way, this could be implemented faster than by conventional means, due to our currently huge backlog.

I guess that something like this could wo

[2020-12-08 11:44] juan131 commented on #4082
@rafariossaa @miguelaeh did we implement this on Redis chart? If not, I will proceed to open an internal task to address this issue asap.

[2020-12-08 11:45] juan131 commented on #4622
You're totally right @kuzm1ch ! This is something we already discussed on other issues.
Closing this issue as a duplicate of https://github.com/bitnami/charts/issues/4082

[2020-12-08 11:45] #4622 closed

[2020-12-08 11:45] marcosbc commented on #4499
Thanks for the PR! We'll check it shortly.

[2020-12-08 11:47] #4314 closed

[2020-12-08 11:49] juan131 commented on #4614
Hi @hatharom

You shouldn't use `kubectl scale sts ...` but `helm upgrade ... --set zookeeper.replicaCount=1` instead.

The reason is that, by using `helm upgrade`, the Zookeeper setting `ZOO_SERVERS` will be automatically adjusted to the new number of replicas (while it's not adjusted when running `kubectl scale`), see:

- https://github.com/bitnami/charts/blob/master/bitnami/zookeeper/templates/

[2020-12-08 11:50] PhanSon95 commented on #4443
@juan131 Here is my `values.yaml`. Could you help me check it ?
[code]

[2020-12-08 11:56] juan131 commented on #3745
Hi @jhoomsharabi

Correct, as @miguelaeh you have to ask the Sentinel what's the hostname/port of the master, and perform that kind of operations vs the master pod.

We have a different chart for that image you shared, see https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster

Please note that it's a different setup, so please pay attention to the section below that explains the diff

[2020-12-08 12:20] juan131 commented on #4638
Hi @Darnesey

Thanks for opening this issue!

This is not true. You can have as many services as you want in a cluster defining the same ports and names.

I think you are mixing concepts. Let's see how to access MongoDB with an example:

- Install MongoDB using a replicaset architecture and two replicas:

[code]

- As you can see, three pods are created:

[code]

- One of them it's an "arbiter" no

[2020-12-08 12:35] juan131 commented on #1279
Yes @Platou

You should be able to configure the Kafka exporter to use SASL or SSL to retrieve the Kafka metrics.

Indeed, with the recent versions of the chart, the exporter is automatically configured when SASL is enabled (see https://github.com/bitnami/charts/blob/master/bitnami/kafka/templates/kafka-metrics-deployment.yaml#L43). You can try using the `values.yaml` below:

[code]

We do have an

[2020-12-08 12:54] srueg commented on #4455
Since we don't have to change the `selector` part of the StatefulSet/Deployment and only the `.spec.template.metadata.labels` (which is mutable) it should be fine. I did a quick test setting a new label on an existing StatefulSet and it worked as expected 👍

[2020-12-08 13:07] marcosbc commented on #4641
@majinghe I would say the problem is that your DB is not accessible from Keycloak:

[code]

Make sure that the database is either accessible inside the Kubernetes cluster, as it seems not to be in your case.

[2020-12-08 13:09] juan131 commented on #4635
Hi @bmailhe

I think this could be the reason why the user/password are not configured:

- https://github.com/bitnami/bitnami-docker-rabbitmq/blob/master/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L530

As you can see, it skips invoking the `rabbitmq_change_password` function when `RABBITMQ_LOAD_DEFINITIONS` is "yes". It will also explain why it works when you scale to 0, since that b

[2020-12-08 14:19] marcosbc commented on #4639
Closing as #4642 was merged

[2020-12-08 14:19] #4639 closed

[2020-12-08 14:34] marcosbc commented on #4623
Sorry, I meant the other way around: It is not always required to install with `volumePermissions.enabled=false`.

According to the issue's description:

[code]

So if you set `--set volumePermissions.enabled=false` it would work right?

____

@js02sixty It is probably not, it was just a guess of mine. Could you share how are you populating data into the PV? Also, can you confirm the PostgreSQL da

[2020-12-08 14:50] juan131 commented on #4637
Thanks for reporting the issue @tlperini
I just created a PR to address it

[2020-12-08 14:52] MaxRink commented on #4574
HArbor itself works fine btw, only dependencies that are sourced externally are affected

[2020-12-08 15:11] #4612 closed

[2020-12-08 15:14] marcosbc commented on #3291
@MatthiasLohr Currently the chart supports specifying an external PVC via `persistence.existingClaim`, not sure if that is what you were looking for, although it seems only to be supported for the "standalone" mode.

However, specifying the `existingClaim` option in the current chart would cause a similar error since it would alter [`volumeClaimTemplates`](https://github.com/bitnami/charts/blob/ma

[2020-12-08 15:18] juan131 commented on #4640
Hi @echang0929

It seems you're deploying PostgreSQL with existing data of previous deployments, see:

[code]

Please check [this section](https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#persistence-volumes-pvs-retained-from-previous-releases) of the Troubleshooting guide to ensure you're installing Airflow on a "clean" environment.

---

Just curious: why did you modify th

[2020-12-08 15:26] MatthiasLohr commented on #3291
@marcosbc my comment is related to a general and future-proof solution for the problem, unfortunately not working for existing deployed instances.

The `replicaset` mode `StatefulSet` definition uses a `volumeClaimTemplate` instead of externally defining and referring to an `PersistentVolumeClaim`. It would be even possible to use the exact same specification code, one just has to give it a name.

[2020-12-08 15:47] nvthuong1996 opened #4646 "Need annotations for PVC minio helm chart"
I can't add annotations for PVC minio from values.
I need some some config to helm can't delete pvc when destroy minio

[2020-12-08 15:55] marcosbc commented on #4574
Sure, in the end Notary and Clair are optional parts of Harbor so the main application itself is functioning.

However, [Notary](https://github.com/theupdateframework/notary) seems to still recommend PG 9.6 (according to it's docker-compose for PG).
As for [Harbor Clair Scanner](https://github.com/goharbor/harbor-scanner-clair/blob/master/go.mod) you can see it uses a quite [old version](https://g

[2020-12-08 16:02] juan131 commented on #4429
Hi @gkulkarni32 !!

Juan Ariza here, core maintainer of the Bitnami charts repo.

First, let me tell you that we're still debugging the issue in the pipeline, and we should have the Spark chart released in the chart repository soon. Yesterday and today is a bank holiday where most of the team is based and hence, the delay addressing this.

Regarding the issue with the metrics.. The problem is not

[2020-12-08 16:14] js02sixty commented on #4623
chart install settings:
[code]
PV Info:
[code]

nfs-client provisioner based PVC
[code]

[2020-12-08 16:48] js02sixty commented on #4623
I now know what the problem is.  Instead of selecting an existingClaim this time, I chose storageClass for dynamic provisioning.  Each pod is now getting their own PV, before they were sharing the one which was causing conflict.  I know that chart mariadb-9.0.1 you can select an existingClaim for the first pod and the subsequent replicated pods can be provisioned dynamically with "storageClass".

[2020-12-08 16:51] Darnesey commented on #4638
Hi @juan131

Thanks for the quick response. I could be mixing up my understanding here. I should also state that we have separate microservices that were designed to have their own database. Plus, we structure our helm charts to have them as dependencies for each microservice that requires one. This is why we currently have multiple standalone mongodb charts. Maybe in the future we can think about

[2020-12-08 17:11] bmailhe commented on #4635
Hi @juan131

No, empty return for `env|grep RABBITMQ_LOAD_DEFINITIONS`

[2020-12-08 18:02] maxisam opened #4648 "[mongodb-sharded] mongodb.conf vs mongod.conf"
https://github.com/bitnami/charts/blob/278809cea48028b945a7f2236c197cb9f25544c3/bitnami/mongodb-sharded/templates/shard/shard-data-configmap.yaml#L9

Should it be mongod.conf instead?

[2020-12-08 18:20] jpedrick commented on #4619
Hi @marcosbc , I think if the only problem is slow initialization this problem can be solved with initialization containers. If the failing init is due to some sort of misconfiguration the pod ideally would never complete the initialization phase and that would show up as easy to understand/search for errors in the pod events, instead of restarting and appearing successful. The bitnami postgresql

[2020-12-08 18:33] bmailhe commented on #4635
In the logs I have `Persisted data detected. Restoring...` (on a fresh install) which means that RABBITMQ_DATA_DIR ([librabbitmq.sh#L520](https://github.com/bitnami/bitnami-docker-rabbitmq/blob/19212b195d6992d60157f93ac59a5bcf7f18f5b8/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L520)) is not empty when adding the `loadDefinition` and so the `rabbitmq_change_password` is never executed

[2020-12-08 18:44] maxisam commented on #4443
I wonder if we need to enable operationProfiling in the config.
@juan131  do you know the correct syntax to do it ?

I tried this but no luck.

[code]

[2020-12-08 18:48] crosbymichael1 commented on #4546
@rafariossaa would that be the same thing as running `kubectl top node` ?

[2020-12-08 18:50] crosbymichael1 commented on #4546
Also I agree that there should more descriptions about why its not needed in k8s v1.18 and how to validate whether or not its needed before discouraging the install.

[2020-12-08 18:50] Platou commented on #1279
@juan131  Thanks, I'll try that. Is there documentation on how to connect to that exporter and view the metrics?

[2020-12-08 18:51] #4570 closed

[2020-12-08 18:53] beltran-rubo commented on #4429
@gkulkarni32 version 4.2.2 is now available into the Helm repository.

[2020-12-08 19:02] sabbyanandan commented on #4570
Nicely done, @dani8art! Thanks.

[2020-12-08 20:42] deed02392 opened #4649 "Improve randomly generated password strength"
**Which chart**:
postgresql

**Is your feature request related to a problem? Please describe.**
10 chars alphanum is the *minimum* recommended password length for a randomly generated password.

**Describe the solution you'd like**
Increase the random password length to at least 16 chars, to increase strength for users utilising the auto password generation

**Describe alternatives you've consider

[2020-12-08 21:19] sergeyshaykhullin opened #4651 "[kafka] Add topic provisioning support"
**Which chart**:
bitnami/kafka

**Is your feature request related to a problem? Please describe.**
I want to provision kafka cluster with predefined topics (and add more topics later)

**Describe the solution you'd like**
Add post install hook with job

[code]

**Describe alternatives you've considered**
Add configmap with init container?

**Additional context**
Minio implementation of buckets pro

[2020-12-08 21:43] deed02392 opened #4652 "[bitnami/postgresql] Cannot authenticate to postgresql when using non-default port and LoadBalancer service"
**Which chart**:
bitnami/postgresql

**Describe the bug**
If you choose a non-default port with LoadBalancer service, you won't be able to authenticate to the server.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy a default build of the latest Chart version, only with LoadBalancer and port changed (I tried 65432)

**Expected behavior**
I expected to be able to use either the auto ge

[2020-12-08 22:55] kacole2 commented on #4430
I know this isn't a support forum... I've created a Kubernetes secret but when I try to run `helm install kubeapps --namespace kubeapps bitnami/kubeapps --set global.imagePullSecrets=dhsecret` I'm getting a parse error:

[code]

Is there something special I need to run at the command line level for this?

[2020-12-08 23:08] kacole2 commented on #4430
I think I found the answer is it requires the use of brackets.

[code]

[2020-12-08 23:58] guiajlopes commented on #4484
thanks @javsalgar

[2020-12-08 23:58] #4484 closed

[2020-12-09 00:15] Darnesey commented on #4638
My teammate looked into this issue some more and found that if we override the `.Values.nameOverride` property within mongodb, the selectors between the two services will be unique enough to separate the endpoints and fix our issue.

### Fix
mongodb-test/values.yaml:
[code]

Thanks for your help!

[2020-12-09 00:15] #4638 closed

[2020-12-09 01:34] majinghe commented on #4641
@marcosbc  Thanks for your answer, database works fine, i use a python script to test the database in the same K8S cluster, it works fine.  I guess the helm chart can not generate the configuration `standalone-ha.xml` which will be used when keycloak start, i read the keycloak's start shell script.

[2020-12-09 01:42] trungphungduc commented on #4623
@marcosbc
As you said:
`So if you set --set volumePermissions.enabled=false it would work right?`
=> it work OK.

But data didn't save at the PCV (as i use for existingClaim).

My goal is that i can save data for persistancy.

[2020-12-09 02:13] trungphungduc commented on #4623
@marcosbc
I just found the hint,
if i add this one: `--set persistence.enabled=false` => everything OK.
if  `--set persistence.enabled=true` => Error (like the above image).

so the full command here cause the problem:
[code]

[2020-12-09 03:54] echang0929 commented on #4640
Thank you, @juan131 .

"Just curious: why did you modify the pgHbaConfiguration parameter? I mean, it shouldn't be necessary since by default PostgreSQL will auto-generate a valid configuration for pg_hba.conf."
-- The last column of auto-generated pg_hba.conf contains all "md5". Even admin "postgresql" has no permission to write to the data folder on our this kind of PVC.

This section link is ve

[2020-12-09 04:18] christopher-russell commented on #4635
side note if you option to add the users configuration in to the definition it fails to translate the .values for example

  extraSecrets:
    load-definitions:
      load-definitions.json: |-
        {
          "users": [
            {
              "name": "{{ .Values.auth.username }}",
              "password": "{{ .Values.auth.password }}",
              "tags": "administrator"
            }

[2020-12-09 04:51] maxisam commented on #4443
@CCJY How did you get metrics of shardsvr and configsvr in the end? thx

[2020-12-09 05:01] gkulkarni32 commented on #4429
Thanks @juan131  and @beltran-rubo for your response. No worries on the holidays!

Few observations from my side:
1. I did see the /metrics/ path being added to the annotation, but the format is still html. so I continue to get the following error in wavefront collectors. Wont this be coming in the plain format? My assumption was port 8080 was the webport and would have the data in html format, bu

[2020-12-09 05:03] CCJY commented on #4443
Hello.
@maxisam, @juan131, @PhanSon95

First, for metrics of configsvr, shardsvr, and mongos,  I believe there is another way that might be servicemonitor to collect metrics of configsvr, shardsvr, and mongos, but my solution is a little bit simple. Actually, I want to get an effective way, but I don't have enough time...  By the way, It would be working for metrics.

#  For metrics of configsvr,

[2020-12-09 05:09] maxisam commented on #4443
@CCJY Thank you! However, I still wonder if there is a way to use this chart directly to get everything work.

It seems like you don't use replicaset in your setup, so I guess you don't have any metrics related to replicaset?

[2020-12-09 05:13] echang0929 commented on #4640
I've tried to remove PVC and re-deploy postgresql chart separatedly as:
[code]
And I got this log for pod my-postgresql-postgresql-0:
[code]

[2020-12-09 05:28] CCJY commented on #4443
@maxisam
"I still wonder if there is a way to use this chart directly to get everything work."
I have no idea now.
"It seems like you don't use replicaset in your setup, so I guess you don't have any metrics related to replicaset?"
It seems no problem. I believe I got every metric.

[2020-12-09 06:14] drmy commented on #4585
Thank you very much @marcosbc . It works now.

In my case, I just put the following item in the metrics section of value file to skip tls verification for redis exporter:

  extraArgs:
    skip-tls-verification: true

[2020-12-09 06:58] beltran-rubo commented on #4429
Could you please ensure you ran 'helm repo update' before getting the latest version of Spark? I pulled the 4.2.2 and it includes the metrics into the values files.

[2020-12-09 07:19] juan131 commented on #4429
@gkulkarni32 please ignore that block of the values that was included in previous versions since it was a result of copy-pasting but it wasn't used anywhere in the code. The important annotations are:

[code]

Regarding the issue with HTML format. I wasn't able to reproduce it using these commands:

[code]

As you can see the response is obtained in plaintext.

[2020-12-09 08:33] gkulkarni32 commented on #4429
Thank you @juan131 @beltran-rubo for your help. Appreciate it.

I pulled the latest helm repo (version 4.2.2) and was able to get the metrics in the plain format.

Basically 2 main issues that we encountered:
1. Fix for adding `/metrics/` in the path and removing the unused code block with service annotation
2. I also had to ensure I pulled the latest `bitnami/spark:3-debian-10` image while buildi

[2020-12-09 09:05] fle108 opened #4654 "[bitnami/moodle] cron configurationas non-root in moodle helm chart"
**Which chart**:
birnami/moodle:latest

**Describe the bug**
since i migrated on helm for moodle i obtain a warning at pod startup :
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. prepare values file with `tag:latest`, Externaldb infos, moodle user credentials, ingress name and site name infos
2. install helm : helm install moodle01 -f values.yaml bitnami/moodle
3. execute following

[2020-12-09 09:19] christopher-russell commented on #4635
To keep the directory clear I changed /app to /secret here https://github.com/bitnami/charts/blob/6257aa55ca352a9aecac99cdf8491d4cccfa4102/bitnami/rabbitmq/templates/statefulset.yaml#L279

Which it now appears like it might have set the password the logs still don't say that it reset the user/pass ....

[2020-12-09 09:49] kirschem opened #4655 "[postgresql-ha] postgresql-postgres-password from existingSecret is ignored if postgresql.postgresPassword is not set"
**Expectation:**
I can set the the postgres user's password by setting the key `postgresql-postgres-password` inside a secret referenced by `existingSecret`.

**Reality:**
I also need to specify any value in  postgresql.postgresPassword (default is nil), so that the secret gets referenced inside the envs, see
https://github.com/bitnami/charts/blob/6257aa55ca352a9aecac99cdf8491d4cccfa4102/bitnami/p

[2020-12-09 10:16] bmailhe commented on #4635
I managed it to work by adding the user configuration in the load_definition :
[code]
and by removing the `.Values.auth`  settings

[2020-12-09 10:31] christopher-russell commented on #4635
that lines up with the message I saw about not seeding. So for me the question is how I would have to modify the helm chart I'm currently working on which has this chart as a dependency, where I'm pushing through values from that value file.

[2020-12-09 11:08] juan131 commented on #4455
Yes! I think we should go ahead with these changes on every chart.
A final call for core maintainers to double-check this: @carrodher @dani8art @javsalgar

[2020-12-09 11:27] juan131 commented on #4429
Great @gkulkarni32 !! I proceed to close the issue as "Solved", but please feel free to reopen it if you require further help with the metrics.

[2020-12-09 11:27] #4429 closed

[2020-12-09 11:30] juan131 commented on #4635
Great @bmailhe !! I'm glad you were able to solve by adding the user configuration in the load_definition!

@christopher-russell regarding your issue, if you're using RabbitMQ as a subchart, you can still use the load `extraSecrets`, `loadDefinition` and `extraConfiguration` as @bmailhe explained. But, in this case, you'll have to use them in the form: `rabbitmq.extraSecrets`, `rabbitmq.loadDefini

[2020-12-09 11:34] dani8art commented on #4430
Hi @kacole2 thanks for your comment, yes, it is because the `global.imagePullSecrets` is an array. You could also use:

[code]

[2020-12-09 11:42] marcosbc commented on #4649
Hi @deed02392, great suggestion! I agree that 10 characters may be too short for someone expecting a secure password. We could also add a parameter that determines the length of the random password.

I'm creating an internal task for evaluating this, but unfortunately I cannot give an ETA for when we'd start looking into this. In the meantime, feel free to send a PR making the required changes, we

[2020-12-09 11:44] gkulkarni32 opened #4656 "Driver remains in 'submitted' status with spark-submit in 'cluster' mode"
**Which chart**:
bitnami/spark

**Describe the bug**
I deployed the spark cluster using bitnami/spark helm chart. I submitted an application using the spark-submit command in 'cluster' mode and is in 'RUNNING' status. If I try to submit another application using the spark-submit command in 'cluster' mode, it remains in 'SUBMITTED' status. Basically I'm unable to have 2 applications run in parallel

[2020-12-09 11:48] dani8art commented on #4546
Hi, would it means that there are still cases where the API server is not automatically created, right? and then the docs must be changed to "in most of the cases" or something?

[2020-12-09 11:48] jhoomsharabi commented on #3745
Hi @juan131
For testing purpose I was using mset or set.

I have lots of applications which are trying to connect to Redis Sentinel using either internal service or external service, till now we were using stand alone Redis i.e. without ha, recently we decided to move to Redis Sentinel which will provide us high availability.

For now I will only concentrate on internal service exposed for accessi

[2020-12-09 11:49] juan131 commented on #1279
Nope.. But it's pretty straightforward:

[code]

As you can see there's a `kafka-jmx-metrics` service. So you can do:

[code]

[2020-12-09 11:50] christopher-russell commented on #4635
Thanks @juan131  yes I've tested that but if you set auth.username and auth.password these are ignored and placing them as templated vulues doesn't work as the vulues aren't translated e.g.

{
  "users": [
    {
      "name": {{ .Values.auth.username | quote }},
      "password": {{ .Values.auth.password | quote }},
      "tags": "administrator"
    }
  ],

or

{
  "users": [
    {
      "name": "

[2020-12-09 11:52] dani8art commented on #4585
That's cool! but it would be good to have some lines at this section in the README.md https://github.com/bitnami/charts/tree/master/bitnami/redis#securing-traffic-using-tls just saying what Marcos added

would you like to contribute with a PR to the repo?

[2020-12-09 11:54] marcosbc commented on #4623
@trungphungduc I see, I thought your issues were specific to the volumePermissions flags, not the persistence ones.

In that case, could you share the full initialization logs from the K8s postgresql-repmgr pod? If you could show them with `--set postgresqlImage.debug=true` enabled it would be great.

Also, could you check the file permissions inside your PostgreSQL's volume folder `/home/bitnami_

[2020-12-09 11:57] juan131 commented on #4640
Hi @echang0929

What version of PostgreSQL chart are you using? I wasn't unable to reproduce it using the commands below:

[code]

[2020-12-09 11:58] christopher-russell commented on #4635
My configuration looks like this at the moment

[code]

[2020-12-09 11:58] deed02392 commented on #4649
Cool @marcosbc :-) I had a quick look and the only change needed is the argument to randalpha in the templates, unless you really wanted to add a parameter for specifying the length - not sure how to implement that off-hand.

[2020-12-09 11:59] miguelaeh commented on #3291
Hi @MatthiasLohr ,
It is needed to use to `volumeClaimTemplate` since we want to use a different volume for each node. Using PVCs we would need to create one file per replica, and because of that, the number of replicas would not be configurable.
IMHO we should not change from `volumeClaimTemaplate` to defining PVCs. We could try to support an option to make this work using PVCs maybe using a `ran

[2020-12-09 12:00] juan131 commented on #4635
If you're using RabbitMQ as a subchart, try changing `.Values.auth.XXX` with `.Values.rabbitmq.auth.XXX`

[2020-12-09 12:01] #4637 closed

[2020-12-09 12:01] miguelaeh commented on #4646
Hi @nvthuong1996 ,
I understand you cannot upgrade the Helm Chart specifying the new annotations, is that right?
The parameter to do that is https://github.com/bitnami/charts/blob/c698500677082a747718e5abbe3ddb07c5c04eea/bitnami/minio/values.yaml#L322. Are you getting any error with it?

[2020-12-09 12:02] marcosbc commented on #4619
I agree that it could help in some cases to implement that approach (dropping files after each successful step so it is not executed again), but that could not guarantee that the step will succeed in any of the next runs, leaving it in a crash loop error error state.

However, it's true that this approach would be showing what specific step is failing to the user, which would be a huge improvement

[2020-12-09 12:18] miguelaeh commented on #4651
Hi @sergeyshaykhullin ,
I think you could do that in both ways, either creating a hook or using an initContainer.
We are missing the InitContainers parameter in this chart, so the above PR adds it. Have in mind that will be executed in every pod restart so maybe you will need to check if those topics already exist before creating them.

[2020-12-09 12:20] juan131 commented on #4619
Hi @marcosbc @jpedrick

I agree that we could divide the init logic in some phases that are executed one after the other (and adding flags indicating other phases they succeed)... So PostgreSQL container just starts the main process assuming everything has been previously configured.

That said, IMHO this would be kind of over-engineering since we will be trying to have mechanisms to ensure the in

[2020-12-09 12:23] christopher-russell commented on #4635
unfortunately its not subbing the values in ..

[code]

[2020-12-09 12:27] gkulkarni32 commented on #4429
Thank you @juan131 !

[2020-12-09 12:34] miguelaeh commented on #4655
Hi @kirschem ,
Thank you very much for reporting this. Could you give a try to the above PR?

[2020-12-09 12:42] miguelaeh commented on #3745
Hi @jhoomsharabi ,

You will need the request to the sentinel to obtain that IP.

Tha main disadvantage is that with redis-cluster you can only have one database.

[2020-12-09 12:42] x20mar commented on #4596
Hi @marcosbc it appears you are right. changing the name of the receiver to `"null"` is the fix. Apparently, if you only have one receiver, you can't name them.

[2020-12-09 12:42] #4596 closed

[2020-12-09 12:54] miguelaeh commented on #4635
Hi @christopher-russell ,
I have tried your configuration parameters and it seems to be working fine in my case:
[code]

In my case, I am using the chart version `8.5.0`. Could you give it a try updating the chart?

[2020-12-09 13:00] danvy opened #4661 "[kube-prometheus] kube-prometheus-alertmanager: server returned HTTP status 404 Not Found with Istio"
**Which chart**:
bitnami/kube-prometheus version 3.3.0

**Describe the bug**
kube-prometheus-alertmanager is returning a 404 error in Prometheus.
It is deployed in a Kubernetes cluter using Istio.
Every other endpoint is working properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy using helm upgrade kube-prometheus bitnami/kube-prometheus --install --version 3.3.0 --namespace mon

[2020-12-09 13:02] sergeyshaykhullin commented on #4651
I think that helm hook with job is better, because it will run once on new deploy => values changes. It will run even if topics are not changed, but it is better than execute each time pod restarts

[2020-12-09 13:10] sergeyshaykhullin commented on #4651
I don't think that pr fixes this issue, it might be a prerequisite

This issue about to add ability to specify topics in helm

[2020-12-09 13:30] jhoomsharabi commented on #3745
Hi @miguelaeh

I would like to know here, the svc ```redis-redis-cluster``` created by redis-cluster

[code]

Can I not be able to use this svc ```redis-redis-cluster```  directly with my applications as redis address? I mean whenever my application needs to communicate with redis it will connect through this ```redis-redis-cluster``` and rest should be handled by redis-cluster.

Why I am asking t

[2020-12-09 13:34] alrf commented on #1655
If you need to create only one user/pw/db, my workaround is:
[code]

How to use `initScriptsCM`:
1) Create ConfigMap `kubectl -n mongodb create configmap mongodb-scripts --from-file=manage.js`
Content of the `manage.js`, for example:
[code]
2) Use `mongodb-scripts` CM in `initScriptsCM` in `common` section:
[code]

[2020-12-09 13:34] jpedrick commented on #4619
Hi @juan131

I don't agree that this would be over engineering. The granularity could be as simple as having two phases:
* stuff needed for postgres setup itself
* user scripts

And those could be executed in sequence in two init containers. Or even just do all the initialization as one step in one init container. That's what they're there for.

Yes, that's what I started doing once I knew what th

[2020-12-09 13:40] uluzox commented on #3510
Adding
[code]
to the `values.yaml` or the `values-production.yaml` disables istio sidecar injection for this workload only and makes the galera cluster work again.

[2020-12-09 13:49] jpedrick commented on #4619
Hi @marcosbc

Perhaps the solution can be as simple as doing all the initialization in the initialization container controlled by a parameter in values.yaml, then one environment variable could signal to the docker image when to or when not to do the initialization. That way you wouldn't break the docker-compose workflow(where they don't restart by timer) and you'd have reliable kubernetes initial

[2020-12-09 14:16] juan131 commented on #4443
Hi everyone,

I created a PR to address this issue by using PodMonitor(s) to scrap metrics. Find detailed information in the above PR

[2020-12-09 14:17] alemorcuq commented on #4648
Hi, @maxisam!

The `bitnami/mongodb-sharded` container is configured to use a `mongodb.conf` file by default, so that is fine. Why are you asking? Did you find any issues?

[2020-12-09 14:49] dani8art commented on #4656
Hi @gkulkarni32, after some researches, it seems to be a missing resources issue. I mean, when you are submitting an application you don't only have to take into account resources for the application itself but for both application and driver inside the cluster, I can see two way of handle it:

1. To increase the resources in the cluster by adding more worker nodes, **that was what we tested**.

[

[2020-12-09 14:50] #4347 closed

[2020-12-09 14:50] #4539 closed

[2020-12-09 14:53] alemorcuq commented on #4652
Hi, @deed02392.

Thanks for reporting this. I have reproduced the issue and created an internal task to investigate and fix it.

[2020-12-09 15:01] #4443 closed

[2020-12-09 15:11] marcosbc commented on #4649
Sure @deed02392, feel free to send a PR with the change to increase the random password length. I'm a bit worried in case it could have implications for other apps, but I can't think of any specific issue that may happen right now.

That said, in a production environment we would recommend to always set the passwords. Since you need to specify them for upgrades anyways, it is better this way.

In

[2020-12-09 15:25] maxisam commented on #4648
Well, in the end, my issue is actually this one https://github.com/bitnami/charts/issues/4523

But I feel like we should use mongod.config anyway since they have changed it for a while.

Anyway this is not really a big deal. : )

[2020-12-09 15:25] #4648 closed

[2020-12-09 15:33] alemorcuq commented on #4641
Hi, @majinghe.

I couldn't reproduce your issue. This is what I did:

I first installed a PostgreSQL server using the `bitnami/postgresql` chart with the default parameters:

[code]

With that setup, I was ready to install the `bitnami/keycloak` chart:

[code]

Notice that I am setting the user/password combination and the database that I'm specifying already exist in my database server. Doing thi

[2020-12-09 16:39] gkulkarni32 commented on #4656
Thank you @dani8art for the pointer . Even after increasing the replicas, It looks like we always need to specify the resources to limit the cores each application uses, otherwise the second application remains in 'SUBMITTED' status.

I increased the workers to 5 and always set the executor cores to max 1 like below to get it working.

kubectl run --namespace spark-operator dp-spark-client --rm --

[2020-12-09 16:42] andresbono commented on #4654
Hi @fle108, these warnings are expected if you are running the containers as non-root. Please see this note: https://github.com/bitnami/charts/tree/master/bitnami/moodle#to-800

That default behavior changed in a later version of the chart, so if you want to run cron, you will need to specify that explicitly:

[code]

[2020-12-09 16:45] rcaillon-Iliad opened #4664 "[bitnami/prestashop] Prestashop pods become unresponsive after NFS server provisioner pod deletion"
**Which chart**:

prestashop 12.0.2

**Describe the bug**

I have followed this [guide](https://docs.bitnami.com/tutorials/deploy-applications-nfs-kubernetes/) in order to setup a ReadWriteMany storage with [NFS server provider](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/tree/master/deploy/helm).
It works fine, I can scale my deployment properly. But as soon as

[2020-12-09 17:15] yasha-dev1 opened #4665 "cassandra dbuser.password or dbuser.user not changing - always uses "cassandra" for both user and password"
**Which chart**:
Cassandra bitnami chart v7.0.1

**Describe the bug**
It doesn't matter what do I set the value of dbUser.password, It is always "cassandra"
Based on the previous closed issues like #1838 or #1248 I tried the following:
- tried both values.yaml (**values.yaml** and **values-production.yaml**)
- deleted pvc's to make sure the old password doesn't stay from the last run
but no luck

[2020-12-09 17:20] nvthuong1996 commented on #4646
please check template. annotations can't setup
https://github.com/bitnami/charts/blob/e726d647527b61ce25dce90f37e4fa451bd1c7d4/bitnami/minio/templates/pvc-standalone.yaml#L4

[2020-12-09 18:19] langered opened #4666 "[bitnami/redis] Missing feature to add custom annotations to statefulsets"
**Which chart**:
[bitnami/redis] version 12.1.3

**Is your feature request related to a problem? Please describe.**
I need to add a custom annotation to the master and slave statefulsets of redis over the `values.yaml` or `values-production.yaml`

**Describe the solution you'd like**
Adding a property to the `values.yaml` named annotation, which will copy the given annotations into the statefulset

[2020-12-09 18:50] mltsy opened #4668 "[bitnami/rabbitmq] Upgrade Strategy?"
**Which chart**:
rabbitmq 8.5.1

**Is your feature request related to a problem? Please describe.**
I'm not sure if this is a documentation problem or a missing feature, but given the variability and complexity involved in [upgrade strategies for rabbitmq](https://www.rabbitmq.com/upgrade.html#basics) I want to be able to specify / confirm the upgrade behavior when I upgrade this chart (i.e. does

[2020-12-09 19:10] mltsy commented on #4668
It occurs to me that some of these things may not be possible to implement purely in a helm chart 😄  In this case, perhaps just some documentation about how to configure or perform the various kinds of upgrades within the context of the chart would be sufficient!

[2020-12-09 19:33] siegfried01 commented on #4134
Shucks -- same results...

***Attempt #1***
    helm install my-mysql bitnami/mysql --set image.debug=true --set master.persistence.enabled=false,slave.persistence.enabled=false --set readinessProbe.initialDelaySeconds=300,livenessProbe.initialDelaySeconds=300

    NAME         READY   STATUS    RESTARTS   AGE   IP          NODE             NOMINATED NODE   READINESS GATES
    my-mysql-0   0/1

[2020-12-09 21:23] goncalovf opened #4669 "[phpmyadmin] «ValidationError: unknown field "enabled"» in fresh install with default values.yaml"
**Which chart**:
phpmyadmin

**Describe the bug**
When doing `helm install phpmyadmin -f phpmyadmin-values.yaml bitnami/phpmyadmin`, where `phpmyadmin-values.yaml` is the unchanged default `values.yaml` from Bitnami's repo, I get a `ValidationError` `unknown field 'enabled' in io.k8s.api.core.v1.[...]` in the following specs: livenessProbe, readinessProbe, securityContext, PodSecurityContextç

**T

[2020-12-09 21:39] christopher-russell commented on #4635
@miguelaeh di you try that when the rabbitmq chart was a subchart?

I'm starting to wonder if that issue is related to https://github.com/helm/helm/issues/2492

Either way I think extra definitions these should be in an overwrite mode not an or as in defaults or definitions or at least a toggle to specify which you would prefer.

[2020-12-09 22:02] mltsy commented on #3783
I actually looked into this more, and I think changing the default here is not advisable.  Theoretically, the situation where you might get into a deadlock is an exceptional one where the nodes shutdown unexpectedly and are not able to reassign masters appropriately.  See my comments on https://github.com/bitnami/charts/pull/4598 for details.

I think there just needs to be some documentation abou

[2020-12-09 23:40] SulimanLab opened #4670 "Kibana keeps logging out when try to add data"
Kibana keeps logging out when try to add data, someone have mentioned that it could be because session expiry and it has to do with "sessionAffinity" need to be "ClientIP" but you guys does not support it !

[2020-12-10 01:34] christopher-russell commented on #4635
I've managed to get a workaround sorted, by creating the secret in the parent chart and then passing it as an existing secret to rabbit

[2020-12-10 03:12] danvy commented on #4661
I found this solution:
helm upgrade kube-prometheus bitnami/kube-prometheus --install --version 3.3.0 --namespace monitoring alertmanager.listenLocal=true

[2020-12-10 03:58] trungphungduc commented on #4623
@marcosbc
Here are the 3 logs.

1. First 3 pics, logs pod/stgcc-pgpool-postgresql-ha-postgresql-0
![Screen Shot 2020-12-10 at 10 32 34](https://user-images.githubusercontent.com/42766976/101718554-0964a280-3ad4-11eb-9e5d-f393dc6d82d2.png)
![Screen Shot 2020-12-10 at 10 32 54](https://user-images.githubusercontent.com/42766976/101718565-0bc6fc80-3ad4-11eb-85a5-2b326064a1d1.png)
![Screen Shot 2020-1

[2020-12-10 06:24] nparfait opened #4672 "Suitecrm helm deployment"
**Which chart**:
suitecrm 9.0.1

**Describe the bug**
The suitecrm pod keeps restarting.
I have run this on AWS EKS and also locally on docker desktop k8s cluster.
application starts up and is accessible. the install script runs and i can log in. After a few minutes the pod is terminated (if i am logged into the pod i get a
command terminated with exit code 137
kubectl describe pod shows
    Last

[2020-12-10 07:22] ujoergen opened #4673 "Unable to template jasperreports with subchart mariadb disabled in version 9.1.0"
Hi

Trying to setup the jasperreports with an external MariaDB - but getting the following error:

[code]

Seems both jasperreports and mariadb charts depend on a common subchart - but that dependency is not explicit for the jasperreports chart - but is satisfied through the mariadb subchart. If the mariadb subchart is disabled then the common templates are not available.

To reproduce set
[code]

[2020-12-10 07:52] juan131 commented on #4134
Hi @juan131

In the first logs you shared, I can see:

[code]

That means that you didn't install the chart in a "clean" environment. I mean, without removing existing PVCs from previous installations. Find detailed information [in this guide](https://docs.bitnami.com/kubernetes/faq/troubleshooting/troubleshooting-helm-chart-issues/#persistence-volumes-pvs-retained-from-previous-releases).

Regard

[2020-12-10 07:57] juan131 commented on #4635
Great @christopher-russell !! I'm glad you were able to workaround it!!!
thanks so much for sharing the solution, I'm pretty sure it'll be very helpful for other users under similar situations.

[2020-12-10 08:21] andresbono commented on #3510
Thanks for the tip, @uluzox! 👍

[2020-12-10 08:22] #4666 closed

[2020-12-10 08:22] juan131 commented on #4666
Thanks for the contribution! I just approved and landed your PR

[2020-12-10 08:49] tbertenshaw commented on #3708
seems someone else spotted this and resolved in #4540

[2020-12-10 09:25] goncalovf commented on #4669
I'm sorry, it's my fault. I did not update the chart repo. Now I ran `helm search repo bitnami` and saw that the version for `bitnami/phpmyadmin` that I was using was `7.1.0`. After updating the repo to version `8.0.1` it works.

[2020-12-10 09:25] #4669 closed

[2020-12-10 10:47] fle108 commented on #4654
thank you , it works well with `runAsUser: 0` and `fsGroup: 0`  as explained in https://github.com/bitnami/bitnami-docker-moodle/issues/148 too

[2020-12-10 10:53] #4654 closed

[2020-12-10 11:09] tbertenshaw opened #4675 "[bitnami/moodle] external database connection not secure."
I'm trying to use Azure Database for MySQL as the external database for the moodle helm chart.

When i look at the pod logs to diagnose the problem connecting to the database i can see.

![image](https://user-images.githubusercontent.com/2010002/101764339-df14e400-3ad7-11eb-99c2-7ffba4a30bb1.png)

Is it possible to configure secure transport in the chart as I cannot disable require_secure_transpor

[2020-12-10 11:18] miguelaeh commented on #4651
Hi @sergeyshaykhullin ,
IMHO the above PR provides a fast workaround so it is possible to configure an init container to create those topics when they don't exist. We are a small team and I think the creation of the hook will require some more time and testing. Would you like to create a PR adding that? We will be happy to review it.

[2020-12-10 11:24] miguelaeh commented on #3745
Hi @jhoomsharabi ,
Yes, if you are running your client inside the K8s cluster you can use that service as the Redis IP.

I will try to explain that better. Using Redis cluster you will have a single entry point, that is the service `redis-redis-cluster`. When you perform a (write) request to that service, it will redirect that request to a pod. If that pod is not the master, it will return the mas

[2020-12-10 11:25] miguelaeh commented on #1655
Hi guys,
thank you very much for sharing your solutions!

[2020-12-10 11:28] alrf commented on #4560
Maybe makes sense to simply enable authorization on secondaries, because it was already enabled on primaries (and this is behavior "by default"). It seems just confusing to see the different settings on pods.

[2020-12-10 11:29] miguelaeh commented on #4664
Hi @rcaillon-Iliad ,
Can you share the output of describing the PVC after deleting the nfs pod?
Also, I am not sure why do you need to delete the nfs pod?

[2020-12-10 11:42] miguelaeh commented on #4646
Hi @nvthuong1996 ,
I see, the PVC annotations parameter is not being properly set.
Please check the above PR it should be setting it properly.

[2020-12-10 11:45] miguelaeh commented on #3708
Hi @tbertenshaw ,
Thank you for sharing it in this thread!

[2020-12-10 11:45] #4651 closed

[2020-12-10 11:47] dani8art commented on #4656
Yes, you should control the resources so that the application and its driver don't spread across the cluster.

The default value for `spark.executor.cores` make the application to get all the nodes in the cluster.

You may be interested in define the default configuration for application submission that could be done by performing the following steps.

1. Create a ConfigMap with your default confi

[2020-12-10 12:09] dani8art commented on #4665
Hi @yasha-dev1 thanks for reporting it,

what do you exactly mean with this? If you meant to use `bitnami/cassandra` as a sub chart in your, you will need to use a sub object in your values.yaml like

[code]

[code]

[2020-12-10 12:14] dani8art commented on #4670
Hi @SulimanLab, could you please elaborate more? I will need your `values.yaml` or command to try to reproduce the issue.

As far I understand, you are deploying a kibana chart using several replicas so your service is not keeping the session up, right?

[2020-12-10 12:20] yasha-dev1 commented on #4665
Yes, I have specified that. you can see the full subchart conf below:

[code]

this version works. but when I change one of the credentials (dbUser.user or dbUser.password), It wouldn't authenticate correctly as described above.

[2020-12-10 12:52] lokeshkumarprakashkumar opened #4678 "No such file or directory: /opt/bitnami/scripts/schema-registry/entrypoint.sh when auth.tls.enabled=true"
**Which chart**:
bitnami/keycloak 1.1.0

**Describe the bug**
When tested for the x509 keycloak authentication using bitnami/keycloak 1.1.0 charts, I faced a issue that there is "No such file or directory: /opt/bitnami/scripts/schema-registry/entrypoint.sh" when the pod is starting up.

**To Reproduce**
Steps to reproduce the behavior:

1. Install Helm chart using the following settings
helm insta

[2020-12-10 13:01] andresbono commented on #4661
Thanks for sharing your way to solve it, @danvy!! Other users will benefit from your comment.

[2020-12-10 13:01] #4661 closed

[2020-12-10 13:35] andresbono commented on #4673
Thanks for reporting this issue, @ujoergen. We have submitted #4680 to fix the problem.

[2020-12-10 13:39] ondrej-smola opened #4681 "nodeAffinityPreset generates invalid template"
**Which chart**:
bitnami/etcd 5.3.0

**Describe the bug**
When nodeAffinityPreset is defined in values.yml
[code]
installation fails with
[code]

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
Everything works ok when nodeAffinityPreset section is removed

[2020-12-10 13:44] hatharom commented on #4614
Thanks!

[2020-12-10 13:48] rcaillon-Iliad commented on #4664
Hi @miguelaeh!

**PVC describe**
[code]

The reason why I delete the NFS pod is because I want to be sure that my shop will be able to automatically recover in any case. This pod is a single point of failure and it could die for several reasons (node downscaling, pod crash, node crash, etc...)

[2020-12-10 13:55] rcaillon-Iliad commented on #4664
As you can see, the pods are still "Running" even if they are unresponsive and the nginx ingress returns a 502 error.

[code]

[2020-12-10 15:02] andresbono commented on #4668
Hi @mltsy, there are other issues and contributions tightly related to the topic that you are raising. They are covering most of your concerns:

- https://github.com/bitnami/charts/issues/3931
- https://github.com/bitnami/charts/pull/4470
- https://github.com/bitnami/bitnami-docker-rabbitmq/pull/142

I think that you might find them interesting.

[2020-12-10 15:20] alrf opened #4684 "[mongodb-sharded] unable to build kubernetes objects from release manifest"
**Which chart**:
mongodb-sharded (3.1.0)

**Describe the bug**
In case of `initScriptsSecret` using, the chart deployment fails with:
[code]

Caused by `name` in templates, e.g.: https://github.com/bitnami/charts/blob/061390f825386f546e384126fdf6509816cef7f4/bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml#L323

**Expected behavior**
Chart is deployed.

[2020-12-10 15:24] mltsy commented on #4668
Ah!  Indeed - thank you!  Those basically cover everything I mention here except for the options.  I see the rebalance thing is already an option under `clustering.rebalance`.  I still think there may need to be an option to disable waiting for sync in some cases (when the cluster shuts down unexpectedly, not in an ordered fashion)... however I guess if the waiting only occurs ass a pre-stop hook,

[2020-12-10 15:24] #4668 closed

[2020-12-10 15:31] mltsy commented on #3931
Ah - wonderful! 🎉

There was a recent related PR adjusting the livenessProbe: https://github.com/bitnami/charts/pull/4598

I was just discussing there whether we should have an option to wait for syncing to occur there, but I think *if* the fix here postpones the termination of a pod during an upgrade until it is not quorum-critical or mirror-critical, that's a much better solution, and we probabl

[2020-12-10 15:51] antonmatsiuk commented on #4626
@marcosbc here is the [PR](https://github.com/bitnami/charts/pull/4683), pls review. A similar PR for zookeeper will follow.

[2020-12-10 16:03] juan131 commented on #4614
You're welcome!!
I proceed to close the issue as solved, please feel free to reopen it if you require further help.

[2020-12-10 16:03] #4614 closed

[2020-12-10 16:10] dani8art commented on #4232
Hi @alanroche,

After some internal researches and discussion, we finally discovered that this feature can't fit in this chart. This decision is based on the proper concept of Redis cluster architecture which means there is no fixed master role nor slave so they can change during a failover and then labels will be pointing to wrong masters or slaves.

I can see two approaches in order to fit your

[2020-12-10 16:10] #4232 closed

[2020-12-10 17:56] jhoomsharabi commented on #3745
Hi @miguelaeh ,
So still it is not straight forward to use Redis in ha mode.

I did not got the concept of redis client here, we are using Redis in non HA mode just by using its endpoint url or redis address and in this standalone mode no client comes into picture.

But when I am trying to use Redis in HA mode (either Sentinel or Cluster) in K8S cluster again and again this client concept is comin

[2020-12-10 21:01] deveshk0 commented on #4387
@miguelaeh Can you have a look at my PR

[2020-12-10 21:24] enibache commented on #4624
HI Marcos,

Many thanks for your assistance and I truly appreciate your relentless
community efforts. I's able to resolve this issue earlier, but
unfortunately there's still some issues with the deployment namely:

- the performance(click performance)
- backup uploading (doesn't work)
- plugins installation successful but not usable(e.g data-explorer:
installed but not able to use as described in

[2020-12-10 22:02] vsanjay85 opened #4691 "[wordpress] Multiple initializations when replicaCount>1 and using external DB"
**Which chart**:
wordpress

**Describe the bug**
When using an external-DB with no pre-existing wordpress data, and 3 compute replicas, the DB is initalized thrice.

If using the chart-based MariaDB, the PVC access-mode is set to ReadWriteOnce, which probably prevents this from happening.

However, there is no parameter or config to prevent this from happening with an external DB.

**To Reproduce*

[2020-12-11 01:39] siegfried01 commented on #4134
Yahoo! Attempt B worked. Attempt A did not. Thank you very much!
begin Attempt A

    Compilation started at Thu Dec 10 17:06:31

    helm install my-mysql bitnami/mysql \
        --set image.debug=true \
        --set primary.persistence.enabled=false,secondary.persistence.enabled=false \
        --set primary.readinessProbe.initialDelaySeconds=300,primary.livenessProbe.initialDelaySeconds=300 \

[2020-12-11 03:36] elvsp1n commented on #4670
Hi Dani8art,
    I am not sure if its related by after trying to install the helm with kibana, kibana timesout while trying to connect to es. Es seems to be fine, we are able to use it and even connecting to kibana and running from the kibana container return a reply from es as you can see here:

[code]
Any idea why this could be happening? I installed it with the following command:
helm install e

[2020-12-11 07:04] dani8art commented on #4670
Hi @elvsp1n,

I was not able to reproduce your issue, I've just executed your command, and all is working as expected.

Are you installing the chart from a very fresh instance, there could be any PVC from a previous deployment? if so, you would need to clean them, please try to remove them and install the chart again.

[code]

BTW, I think this couldn't be related to the other issue, please, try t

[2020-12-11 07:12] juan131 commented on #4134
Hi @siegfried01

So it looks like the file system is extremely slow. As you can see even without a timeout of 300 seconds it wasn't able to start.. And if you take a look to the logs in the second attempt, it actually needed **14 minutes to start!!**.

That's a huge amount of time if we compare it with running the same chart on a cluster in the cloud (such as TKG, GKE, AKS, etc.) where it needs ~3

[2020-12-11 09:20] marcosbc commented on #4623
Hi @trungphungduc, I'm a bit confused. You were using `stgcc-pgpool-pv-claim` previously which had the data mounted at `/home/bitnami_postgresql/stage/cochat/persistenceKube/pgpool`. But then I see that the directory is empty, while the directory mounted to the container (which should be empty) is not.

I think I'm missing something, maybe you were using a different volume?

In any case, from the

[2020-12-11 10:16] #4673 closed

[2020-12-11 10:18] marcosbc commented on #4672
Hi @nparfait, could you share the logs of your pod?

In any case, we have found a possible issue that could be happening when the SuiteCRM hostname (`suitecrmHost` value) is not properly set, and could cause a CrashLoopBackOff. We're working on releasing a fix for the container image and will keep you in the loop.

[2020-12-11 10:22] andresbono commented on #3783
Hi @mltsy, thanks for raising your concerns. It seems they are being discussed in #4598.

[2020-12-11 10:38] miguelaeh commented on #4664
Hi @rcaillon-Iliad ,
Could you check if the endpoints are all connected?
[code]

Also, could you share the output of describe a pod stuck in the creating status? Does it show any error with the volume provisioning?

[2020-12-11 10:39] #4684 closed

[2020-12-11 10:39] andresbono commented on #4684
Thanks for reporting and fixing this issue, @alrf!!

[2020-12-11 10:44] juan131 commented on #4681
Hi @ondrej-smola

I was able to reproduce the issue:

[code]

I created a PR to fix the common template, then we'll have to update the dependencies on etcd to fix the issue in the chart.

[2020-12-11 10:45] juan131 commented on #4681
Thanks for reporting it!

[2020-12-11 10:48] miguelaeh commented on #3745
Hi @jhoomsharabi,
In your application, you should be using a Redis API or something to connect to Redis. In this case, your application is the Redis client. You should check if the libraries you are using to connect to Redis support that redirection. There is a single endpoint that is the `redis-redis-cluster` and it is the only address you need to specify in your application. Whatever library you

[2020-12-11 10:50] #4681 closed

[2020-12-11 10:52] miguelaeh commented on #4387
Hi @deveshk0 ,
There is already a colleague taking care of it.
Thank you very much for your contribution!!

[2020-12-11 10:54] andresbono commented on #3931
@mltsy, once https://github.com/bitnami/bitnami-docker-rabbitmq/pull/142 (or equivalent PR) is merged and this new functionality is in place, would you like to help test the scenarios that you are proposing? Then, we can do follow-up improvements based on that testing if needed.

[2020-12-11 11:24] rcaillon-Iliad commented on #4664
@miguelaeh

The endpoints seem properly connected:

[code]

Pod creating describe:

[code]

[2020-12-11 11:26] drmy commented on #4585
Yeah. Let me learn how to make a PR...

And my use case is simple since I can accept to skip client TLS authentication so I take: skip-tls-verification: true
But I think in case of requiring the client TLS authentication then we might need to set some other key/values:
tls-client-key-file
tls-client-cert-file
tls-ca-cert-file
[https://github.com/oliver006/redis_exporter#command-line-flags)]
I have

[2020-12-11 11:31] dani8art commented on #4675
Hi, @tahsinrahman

I can confirm that currently, our moodle image doesn't support SSL connections by default, we would need to evaluate and check if it would be possible. In this way, we have created an internal task to analyze it, unfortunately, due to the fact that we are a small team and taking into account internal milestone, we can't give you an ETA.

Meanwhile, I think you can try three thin

[2020-12-11 11:54] juan131 commented on #4681
Updating dependencies at https://github.com/bitnami/charts/pull/4694

[2020-12-11 12:05] marcosbc commented on #4672
Hi @nparfait, we just released version 9.0.2 of the SuiteCRM chart which may fix your issues. It includes the SuiteCRM container version [`7.11.18-debian-10-r31`](https://github.com/bitnami/bitnami-docker-suitecrm/commit/0dfd7a80b64d189f791f524904241f6be9af15fa).

[2020-12-11 12:29] andresbono commented on #4624
@enibache, we are always open to continue improving our assets so if you describe the problems you are facing in more detail, we can investigate if there is something we can do to improve the functionalities of our chart.

Starting with the original issue, can you share the commands that you are using to install the `data-explorer` plugin? Can you point us to the documentation that you are followi

[2020-12-11 12:55] andresbono commented on #4560
Yes, it's true that it can be confusing if not all the nodes of the cluster have the same settings. Would you like to open a PR drafting the changes that you consider would be needed?

[2020-12-11 14:33] dani8art commented on #4665
Hi,

We tried again and it works using custom values, reviewing your post I see

So the chart templates rendering is doing well, I would try to clean up the PVCs and if you are PV with `hostPath`, please make sure you have removed the content as well.

[2020-12-11 14:42] dani8art commented on #4626
Hi @antonmatsiuk thanks for this contribution, please, let's move the conversation there!

[2020-12-11 15:01] nvthuong1996 commented on #4646
I see. Thank you.

[2020-12-11 15:13] dani8art commented on #4691
Hi @vsanjay85

Are you disabling persistence for wordpress pods? I mean adding this parameter:

[code]

[2020-12-11 15:15] #4523 closed

[2020-12-11 15:26] svaranasi-traderev commented on #4691
Hi @dani8art , I am not passing that parameter. As in, I leave it at the default.

[2020-12-11 15:27] Timvissers opened #4696 "[bitnami/eventrouter] move eventrouter from helm/stable to bitnami"
**Which chart**:
A new one to be moved to bitnami: eventrouter. See https://github.com/helm/charts/tree/master/stable/eventrouter

**Is your feature request related to a problem? Please describe.**
Yes, helm/stable deprecation, see https://github.com/heptiolabs/eventrouter/issues/121

**Describe the solution you'd like**
Bitnami to provide a new home for the eventrouter helm chart

PR: https://git

[2020-12-11 15:28] vsanjay85 commented on #4691
Hi @dani8art , I am not passing that parameter. As in, I leave it at the default.

[2020-12-11 15:31] marcosbc commented on #4678
Hi @lokeshkumarprakashkumar, thanks for reporting this! You were right, there was a typo in the StatefulSet template, which I've sent a PR at #4697 to fix it.

[2020-12-11 15:32] #4678 closed

[2020-12-11 15:48] dani8art commented on #4675
Hi,

After a few more researches, we found that there is an upstream issue in moodle, https://tracker.moodle.org/browse/MDL-54704, they do not support SSL database connection directly so it needs a patch in the application itself to do so. Unfortunately, we are not going to be able to solve this problem since it is an upstream issue but not a configuration issue. Hopefully, you can find a way to a

[2020-12-11 16:20] js02sixty commented on #4623
@trungphungduc,
I think the whole issue would be avoided if you chose not to use an existing claim, because when you do that, all of the replicas use the same PVC, which is no good, it will constantly write over eachother repeatedly until you get a crash loop.  Each replica needs its own PVC, and the only way i can see that working is if you specify a storage class like this...
[code]
the chart wi

[2020-12-11 16:33] alrf commented on #4536
@marcosbc I've tried different options here and pods are failing with various errors.
Now I tend to think this is going in the wrong direction - we are trying to add a new env-variable (also on secondaries) that contains root password (again)...

Wouldn't it be better to just remove this check?
https://github.com/bitnami/bitnami-docker-mongodb-sharded/blob/f6aa35eb807c51713bdf125dfe6f80be471dc804/

[2020-12-11 17:17] Jacq commented on #4414
Running 13.1.0-debian-10-r26 manually (no helm chart) and now the containers stays up, no more restarting thanks!.

[2020-12-11 18:40] sergeyshaykhullin opened #4704 "[kafka] When run kafka-ropics.sh it throws port already in use"
**Which chart**:
kafka

**Describe the bug**
I started researching to provision kafka topics https://github.com/bitnami/charts/issues/4651 from helm chart and tried to run kafka-topics.sh manually. When i ran it, i got an exception that port is already in use

**To Reproduce**
1. Run kafka cluster
2. `kubectl exec -it kafka-0 -n kafka kafka -- bash`
3. `export KAFKA_OPTS="-Djava.security.auth.logi

[2020-12-11 19:13] rcarvalhoxavier commented on #3043
`IdentityFile /home/bitnami/.ssh/id_rsa`

[2020-12-11 21:36] maxisam opened #4705 "[mongodb-sharded] connection drops and performance issue"
**Which chart**:

mongodb-sharded

**Describe the bug**

I don't know if this is the bug for this chart but

If I create a lot of connections like 7000 ish

Mongos starts to fail.

[code]

I can't figure out why.

I added this to initContainers of mongos but it doesn't make any difference

[code]

**To Reproduce**

Start a mongo cluster with 4 shards/3 replica set

use jmeter to connect to mongodb

[2020-12-12 00:27] elijahomolo opened #4706 "[Bitnami/Metrics-server] Pod metrics not beingpulled"
**Which chart**:

bitnami/metrics-server:0.4.1-debian-10-r0

**Describe the bug**

Top pods return errors similar to the following:

[code]

**To Reproduce**

Helm install metrics server, run top pods

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**

Metrics server deployment:

[code]

Logs in the metrics-serv

[2020-12-12 01:25] landakram commented on #4618
@marcosbc no prob, pushed a fix in https://github.com/bitnami/charts/pull/4707.

[2020-12-12 02:45] ronadjom opened #4708 "[bitnami/rabbitmq] Connection timeout while trying to connect to the rabbitmq pod on port 5672"
**Which chart**:
bitnami/rabbitmq

**Describe the bug**
I have a spring boot application that should run in the same namespace as the rabbitmq-cluster in a digital ocean k8s cluster.
My spring boot app. is unable to connect to rabbitmq. I have a connection timeout error.

I started an ubuntu pod for debugging and wrote a little python snippet to test the connection, i get the same connection timeo

[2020-12-12 03:24] trungphungduc commented on #4623
hi @marcosbc,
Let me explain my thought step by step to install postgresql-ha:
**My goal** is to install postgresql-ha and keep my data safe at my Real (physical) Server Linux, so:
Step 1. I create a pv, pvc to hold the content => it is empty at this time.
Step 2. I install postgresql-ha with intention to mount data to pvc (step 1).
[code]
The question is:
1. My way to install is correctly or not

[2020-12-12 15:11] glothriel opened #4710 "[bitnami/rabbitmq] Sometimes does not accept admin password"
**Which chart**:
RabbitMQ

**Describe the bug**
I run nightly builds of my whole platform, which includes Bitnami's RabbitMQ helm chart. ~5-10% of builds fail because of RabbitMQ not accepting admin credentials that have been set in the helm chart's values. The only common denominator of all the failed builds I managed to notice, is fact, that the pod gets restarted once in the meantime, I'm not s

[2020-12-12 19:55] fabiocarneiro opened #4711 "Installing database step takes longer when chart is used as a dependency"
EDIT: read comments first

**Which chart**:
mysql

**Describe the bug**
When using the chart as a dependency of another chart, even after deleting the PVC (and PV), somehow the release data still seems to be persisted. When MySQL container starts it executes [this part](https://github.com/bitnami/bitnami-docker-mysql/blob/master/8.0/debian-10/rootfs/opt/bitnami/scripts/libmysql.sh#L276-L282) of th

[2020-12-12 20:05] pydo commented on #4546
I think the API endpoint should be created by default. I installed the helm chart on a digital ocean kubernetes cluster (k8s v1.19) and no metrics were available because the `apiService` wasn't created. Furthermore the upstream metrics-server repo's manifest creates the `apiService` by default https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml .

[2020-12-12 20:12] fabiocarneiro commented on #4711
Ok, I noticed that in the case of using this chart as a dependency, the container was always restarting, and when checking the logs, I was already receiving the output of the second time. By accident, I was able to catch it the first time and noticed that the container is getting killed during the `Installing database` step.

[code]

[2020-12-12 20:16] sanderma opened #4712 "[bitnami/nats] Invalid list when using Values.extraFlags"
When you try to use extraFlags the resulting statefulset is invalid. There is a missing `-` in front of the line.

It should be:
[code]

https://github.com/bitnami/charts/blob/c769471995517bd2e352537c4cd986fb18a7e01c/bitnami/nats/templates/statefulset.yaml#L81

If it's helpful, I can create a PR with the change.

Best regards,
Sander

[2020-12-12 20:48] fabiocarneiro commented on #4711
I temporarily solved the issue by increasing the `initialDelaySeconds` from `120 to `600`. This is anyway too much because I could see the initialization completed in ~5 minutes.

[2020-12-13 00:08] drmy opened #4713 "Does redis or redis-cluster support Istio?"
**Which chart**:

bitnami/redis
bitnami/redis-cluster

**Describe the bug**

Hi,
I tested to enable Istio for my bitnami/redis (Sentinel mode) and another redis-cluster, both failed on issue of communication between master and slaves.

I searched Internet and got the Istio official post as below:
**[https://istio.io/latest/faq/applications/#redis](url)**

I got three other posts more about this to

[2020-12-13 05:17] haochun opened #4714 "Mongos always restarts after running for a few months (mongodb-shard in kubernetes)"
**Which chart**:
The name (and version) of the affected chart
[code]

**Describe the bug**
mongos always restarts in kubernetes

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional contex

[2020-12-13 18:24] MatthiasLohr commented on #3291
Ok, that's right.

Maybe, for some situations, it could help to work with manually created volumes. In this case, `selector` support in the `volumeClaimTemplates` definition would be great. I created a pull request for that: #4715.

[2020-12-13 19:34] wantdrink opened #4716 "[bitnami/phabricator] Is that possible to specify the http(s) proxy in values.yaml for Phabricator to connect to internet GIT Repo?"
**Which chart**:
phabricator: 10.1.1

**Is your feature request related to a problem? Please describe.**
I've established a Phabricator and found that the service in internal network cannot connect to Github directly, and I didn't find a place to specify the http(s) proxy for connecting to GIT service in values.yaml or configure that in Phabricator UI after googling.

**Describe the solution you'd

[2020-12-13 22:38] iamsudip commented on #3920
@rafariossaa Since local dag files are no longer supported from v7 and my approach is similar for requirements.txt, I think we should not implement this.

[2020-12-14 02:30] nparfait commented on #4672
This is fixed now. Thanks.

[2020-12-14 02:30] #4672 closed

[2020-12-14 06:43] #4646 closed

[2020-12-14 07:38] #4618 closed

[2020-12-14 08:25] marcosbc commented on #4714
Hi @haochun, it looks like an error that is caused externally as it is starting fine and running for some seconds. I would recommend to try a newer MongoDB 4.2 version in case it includes a bugfix for your issue. Could you try upgrading to
4.2.11-debian-10-r26? Make sure to backup your data before upgrading, to avoid any possible issues.

[2020-12-14 08:28] haochun commented on #4714
i have fix the problem now,maybe it is a bug.when i restart the config role,the problem is fixed now.but,i don't know why.

[2020-12-14 08:53] javsalgar commented on #3043
Thanks @rcarvalhoxavier ! But right now we would still need to add nss_wrapper so there are no conflicts with the non-root user.

[2020-12-14 08:59] marcosbc commented on #4623
@trungphungduc Those steps would be correct yes. You would also probably need to specify `--set volumePermissions.enabled=true` (refer to [our docs](https://docs.bitnami.com/kubernetes/infrastructure/postgresql-ha/configuration/chart-persistence/)).

However, when you shared the screenshot, that directory was empty. After you deploy the chart (step 2), is it still empty?

If it was indeed empty, t

[2020-12-14 09:04] juan131 commented on #4696
Hi @Timvissers

Thanks so much for opening this issue! I added some general comments about the procedure to follow to incorporate the new chart at https://github.com/bitnami/charts/pull/4698

[2020-12-14 09:06] javsalgar commented on #4705
Hi,

According to https://jira.mongodb.org/browse/SERVER-31344

[code]

Did you try increasing your system ulimits? You may need to tweak the Kubernetes nodes in order to make it work in your containers, but that would depend on the Kubernetes cluster.

[2020-12-14 09:07] javsalgar commented on #4713
Hi,

Thanks for using Bitnami! Could you let us know which error appeared when enabling Istio? In principle, there shouldn't be any issue when enabling Istio.

[2020-12-14 09:09] #4544 closed

[2020-12-14 09:12] juan131 commented on #4414
Great! I'm glad it worked using the new images! @Avaar0032 could you please give a try to to confirm it's working?

[2020-12-14 09:21] #4387 closed

[2020-12-14 09:45] FraPazGal commented on #4712
Hi @sanderma,

You are right, there is a missing hyphen there and also on `deployment.yaml` A PR would be appreciated, thanks for catching this!

[2020-12-14 09:54] juan131 commented on #4706
Hi @elijahomolo

I was unable to reproduce the issue, these are the steps I followed:

[code]

[2020-12-14 10:39] miguelaeh commented on #3291
Thank you for creating the PR!
We have already merged it.
Regards.

[2020-12-14 10:47] miguelaeh commented on #4716
Hi @wantdrink ,
It seems it can't be done directly in the values.yaml. Does this guide work for your case? https://docs.bitnami.com/bch/apps/phabricator/configuration/configure-external-repo/

[2020-12-14 11:02] marcosbc commented on #4714
Oh, okay, thanks for sharing! It does indeed look like an internal MongoDB bug, as per the error message you shared.

[2020-12-14 11:05] haochun commented on #4714
i hope this issue can help other peoples.

[2020-12-14 11:05] #4714 closed

[2020-12-14 11:28] FraPazGal commented on #4578
Hi @sushiMix,

If I understood correctly, you are still having issues reconnecting a pod to the cluster, is that right? Could you describe in detail the values used and the steps you followed to reproduce this issue?

[2020-12-14 11:57] dani8art commented on #4585
Yep, you are completely right, let me check and I could add some guidance about how to add those flags.

BTW, you could start working on the PR, please take a look at this file: https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md

Thanks!

[2020-12-14 12:39] sushiMix commented on #4578
Hello
I use the following configuration (attached), I probably missed something:
[redis-values.yml](https://github.com/bitnami/charts/files/5688771/redis-values.txt)

I only try to bootstrap the cluster.
The go in each pod to use the redis cli.

Use `info replication` to check who is the master
Try to perform an `incr test` on master and then `get test` to check if the value is in sync.

Then kill

[2020-12-14 12:55] volkmydj commented on #4541
It's not work fo me....

[2020-12-14 13:32] wantdrink commented on #4716
Thanks @miguelaeh .
I read this (also tried to search with word 'proxy' first), it seems that it illustrate how to create the repo with normal access. But still no way to specify a http(s) proxy.
Then I tried to find some clues in https://hub.docker.com/r/bitnami/phabricator/ and unfortunately no such env explained.
Maybe run it with docker-compose instead of chart, and specify the OS level proxy

[2020-12-14 14:16] Avaar0032 commented on #4414
@juan131 Yes! Run today postgresql-repmgr:13.1.0-debian-10-r29 with helm on fresh 19.3 k8s cluster, everything worked as planned! Thank you! Close this issue.

[2020-12-14 14:16] #4414 closed

[2020-12-14 14:29] dani8art commented on #4691
If you are not providing it, then it will take the default one and will fail to start, in fact, it claims a `ReadWriteOnce` volume so the pods never get created.

[code]

And you should get this

[code]

Could you share more about your specific configuration?

Thanks.

[2020-12-14 14:37] dani8art commented on #4536
What are these errors? could you share the logs, please?

BTW, I think falling back to `MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD` instead of the one ended with `_FILE` will be a more compatible solution, right?

Thanks!

[2020-12-14 14:37] andresbono commented on #4541
Hi @volkmydj, could you share the output that you get when you try to execute the commands above? What is the error that you are getting?

[2020-12-14 14:58] dani8art commented on #4704
Hi @sergeyshaykhullin

I've tried to reproduce it but I couldn't, this is what I did:

[code]

- Why do you need to use `export KAFKA_OPTS="-Djava.security.auth.login.config=/opt/bitnami/kafka/conf/kafka_jaas.conf"`?
- Could you share a bit more about your installation config?

Thanks!

[2020-12-14 15:21] sergeyshaykhullin commented on #4704
KAFKA_OPTS is in docs, i just copy-pasted, i don't think it is required

This is rendered values.yaml template, i am using external zookeeper

[code]

[2020-12-14 15:23] dani8art commented on #4711
Hi @fabiocarneiro,

Are you sure that ~5 minutes are used to installing the database, that is too much, I think it could be related to resources, are you setting them up? has your cluster them set by default to some values? I mean the rest of the applications in the chart or the cluster could be getting too many resources if they are not limited, so the mariadb pods have few resources and because

[2020-12-14 15:30] andresbono commented on #4708
Hi @ronadjom, it seems like you have NetworkPolicy enabled, this might be the cause of the issue:

[code]

You can try to disable the network policies, then once confirmed that there is connectivity, you can enable it again and use `allowExternal=true` or you will need to set the appropriate labels in the rabbitmq clients.

[2020-12-14 15:31] dani8art commented on #4546
Oh yes, you are right, there are cases where apiServer must be created because of that we have the option in the chart but this is not relelated to whether it should be `true` or `flase` by default.

I mean, if we are changing it to `true` by default, we will still have cases where it is not needed, so I think the best approach is to update the documentation taking into account that this doesn't d

[2020-12-14 15:43] drmy commented on #4713
Hi @javsalgar ,

I am using the redis-cluster (6 nodes) with disabled TLS and it is running in a Istio 1.8.1 environment.

The problem is that when my client app (written by StackExchange.Redis in .Net Core) connects to the Redis cluster, it can connect but is followed up with the following log errors, while Redis log is clear.

I am thinking if we have to do some thing mentioned in the pages belo

[2020-12-14 15:51] maxisam commented on #4705
Well, I haven't changed it but that was my first thing I checked too. I wasn't sure should I do it in the pod or node.
But 7000ish is way lower than any default value. And I didn't set any resource limitation.

[2020-12-14 15:59] pydo commented on #4546
I've only really tested this in a couple of k8s providers, so I guess if the flag isn't needed with some vendors then you are right that this is just a documentation issue. :+1:

[2020-12-14 16:29] #4626 closed

[2020-12-14 16:31] #4499 closed

[2020-12-14 17:02] ayuryogalifein commented on #4255
I am facing issue while running the above config in AWS. Please guide

MountVolume.SetUp failed for volume "wordpress-postinit" : configmap "wordpress-postinit" not found

[2020-12-14 17:21] mltsy commented on #3931
If I can find time for the testing, I'd like to.  But if not, as I [commented here](https://github.com/bitnami/charts/pull/4470#issuecomment-742600650) I think perhaps all we need is some documentation about how it's expected to work!  I think the new solution might actually be sufficient, as long as it's documented.  (And at least once it's documented, people will have a reference point to write

[2020-12-14 17:22] mltsy commented on #3931
(Which I'm hoping I can find time for this month!)

[2020-12-14 18:25] volkmydj opened #4722 "Port 9419 is not available for metrics collection"
**Which chart**:
name: rabbitmq
version: 8.5.4

**Describe the bug**
Port 9419 is not available from the host itself

**To Reproduce**
Steps to reproduce the behavior:

1. Install the chart `helm install rabbitmq-release -f values.yaml --set persistence.existingClaim=rabbit-nfs-pvc --set auth.username=admin --set auth.password=123qweASD bitnami/rabbitmq`
[code]

2. `kubectl exec -it rabbitmq-relea

[2020-12-14 19:28] pestebogdan commented on #4255
Hi @ayuryogalifein ; be sure to match the name of the configmap (generated dynamically using the pattern "<your-release-name>-postinit") with what you put in the "extraVolumes" and "extraVolumeMounts". Here is the configmap template, it might make more sense: https://github.com/bitnami/charts/blob/master/bitnami/wordpress/templates/configmap.yaml

So, in the example i have above with the configmap

[2020-12-14 20:20] vahid-sohrabloo commented on #2610
I have this problem too.
it's random.
[code]

[2020-12-14 22:01] ramrodo opened #4723 "[bitnami/external-dns] Update deprecated "apiextensions.k8s.io/v1beta1" in CRD"
**Which chart**:
bitnami/external-dns

**Is your feature request related to a problem? Please describe.**
As described in the Kubernetes [v1.19 release notes](https://v1-19.docs.kubernetes.io/docs/setup/release/notes/#deprecation-4), `apiextensions.k8s.io/v1beta1` is deprecated in favor of `apiextensions.k8s.io/v1` and unavailable from k8s `1.22+`

We use that API version in the [CRD template](htt

[2020-12-14 22:07] vsanjay85 commented on #4691
I did change that setting to 'ReadWriteMany'.

Here's the relevant bit:
[code]

where `efs-sc` and the volume come from:

[code]

[2020-12-15 08:25] trungphungduc commented on #4623
Hi @marcosbc,
1. `/home/bitnami_postgresql/stage/cochat/persistenceKube/pgpool` is empty.
=> This dir was indeed empty, because the installed [ postgresql-ha ] got error, so it can not mount data.
2. About The screenshot (showing the contents of /bitnami/postgresql/data).
=> I try to connect as fast as possible to take a picture. After a few seconds, that pod will die and continue to create anothe

[2020-12-15 08:52] gkulkarni32 commented on #4656
Thanks Daniel. If I want to generate spark application metrics as well, do I have to pass any parameter while running spark-submit? Currently, if I enable the metrics for spark helm chart, I only see the cluster metrics.

[2020-12-15 08:57] javsalgar commented on #4713
Hi,

Checking the documentation, I saw this

https://istio.io/latest/faq/applications/#redis

[code]

You could set this value:

[code]

Could you check if it works for you?

[2020-12-15 08:58] javsalgar commented on #4705
Hi,

As we're talking about containers, you can do it in the node or using a privileged container, that would depend on what the platform restrictions. Which are your current ulimit settings?

[2020-12-15 09:06] javsalgar commented on #2610
Hi,

Any pattern that could give us any clue? Did one of the pod crash or several?

[2020-12-15 11:07] miguelaeh commented on #4716
Hi @wantdrink ,
AFAIK there is not a way to specify that right now in the Helm Chart.
What you are suggesting could work, but I have never tried that. You could also try to modify the chart to add those env vars in the deployment instead of using docker-compose.
We would really appreciate it if you could let us know if that works.

[2020-12-15 11:15] rafariossaa commented on #4578
Hi,
  I found your redis-values.yaml has some differences from `values-production.yml`.
  Could you try the following ?
- Clone bitnami chart github chart repository: `git clone https://github.com/bitnami/charts`
- Go to redis chart: `cd charts/bitnami/redis`
- Start the cluster with: `helm install myred -f values-production.yaml --set sentinel.enabled=true .`

  That configuration is basically th

[2020-12-15 11:17] rafariossaa commented on #4546
Hi,
 @baderbuddy any other thought ?

[2020-12-15 11:50] sylver commented on #3174
Hi,

It seems that's still happening.
I can create a new issue, but that would probably be better to follow up on this one and reopen it if confirmed.

I tried to update the chart to the last version (`6.3.2` atm), hoping the parallel deployment would fix it but I'm facing the same dns resolution issue when the pods try to come back and talk to each other.
No issue during first deployment, but as

[2020-12-15 11:53] baderbuddy commented on #4546
I'm so sorry I missed all of this discussion going on or I would have chimed in. Yeah I was primarily concerned from a documentation standpoint. The current wording is so strong that it discourages a user from even thinking they should change that value. At least in my opinion.

[2020-12-15 12:19] Cirrith commented on #4710
I was also getting this when deploying the chart into Docker Desktop Kubernetes. I was able to reliably reproduce (5/5) the error until resetting the cluster.

[code]

[code]

[code]

[2020-12-15 13:03] drmy commented on #4713
Hi @javsalgar,
Thank you for the help.

As you suggested I set the value in my redis-cluster StatefulSet, it indeed created the env variable POD_IP with correct value.
However I see those errors as below:

**2020-12-15 13:00:38.1076|WARN|IConnectionMultiplexer|Redis error message received. endpoint : Unspecified/redis-cluster:6379, message : CLUSTERDOWN Hash slot not served**

[2020-12-15 13:42] baderbuddy commented on #4546
I think where I first saw this was on an EKS cluster. I definitely see it on a KIND cluster when running locally. What's the harm in creating the API service if it's not necessary?

[2020-12-15 13:54] vahid-sohrabloo commented on #2610
I don't know when exactly. I think when two or three of the pods crashed at the same time. Or maybe I lost my connection between nodes at the same time.

[2020-12-15 15:13] dani8art commented on #4704
Hi @sergeyshaykhullin,

I've been checking and it seems `/opt/bitnami/kafka/bin/kafka-topics.sh` try to start another process in the container so the port conflict with the running kafka.

I found this env var that seems to be the one in conflict `echo $JMX_PORT` so I think you should find a port that is not being used like `export JMX_PORT=5557` so you could perform the action

[code]

Thanks!

[2020-12-15 15:14] jBouyoud opened #4731 "[bitnami/rabbitmq] Question - probes misconfigured ?"
**Which chart**:
Chart: rabbitmq bitnami v8.5.2
Image tag: 3.8.9-debian-10-r37

**Describe the bug**

I'm have some doubt about this default configuration.

Does it voluntary or must be inverted ?

Since `ping` seems doesn't check if the rabbitmq process can answer clients.
[RabbitMQ Doc](https://www.rabbitmq.com/monitoring.html#health-checks) says for `ping` :

But `check_running` seems to do thi

[2020-12-15 15:24] kristinnardal2 opened #4732 "[bitnami/nginx-ingress-controller] Enabling namespace scoping makes application unable to look at Kubernetes resources outside of its namespace"
**Which chart**:
bitnami/nginx-ingress-controller, all versions

**Describe the bug**
Using the scope fields in the `values.yaml` file disables the cluster role binding and cluster role from being created. This means that the ingress controller only has access to resources in its own namespace. If we also want to deploy the ingress controller in a different namespace than the ingresses we want to

[2020-12-15 15:25] hasakura12 opened #4734 "bitnami/mysql Pod in "CreateContainerConfigError" state due to Error: secret "mysql" not found when installed with -f option"
**Which chart**:
bitnami/mysql

appVersion: 8.0.22
version 8.2.2 (https://github.com/bitnami/charts/blob/master/bitnami/mysql/Chart.yaml)

**Describe the bug**

When installing helm chart with `-f` option, it doesn't create secret of type opaque containing DB root password, hence mysql pod doesn't become running due to Error: secret "mysql" not found.

**To Reproduce**

1. Deploy helm chart using

[2020-12-15 15:34] alrf commented on #4536
loading mongodb-env.sh resets all predefined variables:
[code]

[2020-12-15 15:37] dani8art commented on #4722
Hi @volkmydj

When you execute a port-forward like `kubectl port-forward --namespace default svc/rabbitmq-release 9419:9419 &`, note the `&`, it goes to a background bash process so the port `9419` will be used by this `port-forward`.

Then you will be able to access from your local `9419` to the `svc/rabbitmq-release:9419` like

[code]

If you do so, you cannot attach more `port-forward` commands

[2020-12-15 15:37] kristinnardal2 commented on #4732
There are some strange things in the `clusterrole.yaml` file, first of all it's not rendered if `scope.enabled` is true but at the same time we have this section:
https://github.com/bitnami/charts/blob/f489bbc92a3bcb2a91ae48543677c67c60422480/bitnami/nginx-ingress-controller/templates/clusterrole.yaml#L26-L35

That part will never be rendered because of the "if" conditional around the whole conten

[2020-12-15 16:12] miguelaeh commented on #4664
Hi @rcaillon-Iliad ,
We are trying to reproduce the issue on our side. I will get back to you once I am able to reproduce it. Sorry for the delay.

[2020-12-15 16:45] dani8art commented on #4691
Hi it seems like there is a race condition between pods in order to initialize these kinds of data, after them are created a file is written to the disk `/bitnami/wordpress/.initialized` you could try something like this if you want to avoid this race condition.

**values.yaml**
[code]

[2020-12-15 16:54] maxisam commented on #4705
Here they are. It is the default setting. I think they should be able to handle 7000ish connection.
[code]

[2020-12-15 17:02] dani8art commented on #4656
Hi,

did you mean to expose custom metrics that you implemented in your job itself? or metrics for the spark-worker running this job?

[2020-12-15 17:11] FraPazGal commented on #4723
Hello @ramrodo,

Thanks for bringing this up! It is true that `apiextensions.k8s.io/v1beta1` have been deprecated but it seems that [upstream](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/crd-source/crd-manifest.yaml) is still using that version. Given that `v1beta1` is still valid, I would think that we should hold of until upstream adopts the new `apiVersion`. Wh

[2020-12-15 17:38] ramrodo commented on #4723
Sounds good. Let's wait until the upstream upgrade.

Thanks for sharing the upstream repo, I'll keep an eye there too.

[2020-12-15 17:43] sushiMix commented on #4578
I still have the issue, I have seen the following log in sentinel pods:

pod 0: +monitor master mymaster 10.244.3.43 6379 quorum 2
pod 1: +monitor master mymaster 10.244.5.46 6379 quorum 2
pod 2: +monitor master mymaster 10.244.4.31 6379 quorum 2

And following issues in redis pods:
useradd: Permission denied.
useradd: cannot lock /etc/passwd; try again later.
chown: invalid user: 'redis'
I am mas

[2020-12-15 17:49] ayuryogalifein commented on #4255
@pestebogdan  Thanks a lot for your suggestion. However, I am getting "Readiness probe warning"
kubectl logs shows
nami    INFO  wordpress successfully initialized
INFO  ==> Starting gosu...
INFO  ==> Executing /docker-entrypoint-init.d/..2020_12_15_17_32_55.094545708/multisite.sh
Single site database tables already present.
Set up multisite database tables.
Added multisite constants to 'wp-config

[2020-12-15 17:52] #4704 closed

[2020-12-15 18:04] pestebogdan commented on #4255
@ ayuryogalifein: Looking at the output it seems to have launched that post-init script. The readiness seems to be doing an httpGet to /wp-login.php so not sure why that is failing for you. I would suggest first looking at the database tables and see if the values that the post-init script modifies are actually there and have the expected values. Then, not sure if you are able to exec into the pod

[2020-12-15 19:44] ayuryogalifein commented on #4255
@pestebogdan thanks for your immediate response. The script seems to be ran successfully. Please find below the result. However, still showing readiness prove and the site is not accessible . Just to add, I am also using the bitnami cert- manager and nginx ingress. Without the multisite config, the site comes up without any issue on https. Am I missing something here?

select * from wp_blogs;

[2020-12-15 21:07] mammothbane commented on #4541
For my situation this was caused by the image version. With this `values.yaml`:

[code]

`rabbitmqctl authenticate_user username` would fail on an input of `password`, where with `image.tag` at `3.8.9`, it would work.

[2020-12-15 21:54] sidguptajhs opened #4735 "DokuWiki Ingress custom annotations don't work anymore"
Issue is with **dokuwiki** **10.0.3**

Version 10.0.3 breaks the ingress annotations support. Previously it used to iterate over host annotations using `.annotations` and this worked before it was under a `range` section. Now that line is removed from chart 10.0.3. So we cannot add custom annotations anymore.
Problem lies in https://github.com/bitnami/charts/commit/61fc060c2637fda568c8b72b41b7a7e6

[2020-12-16 02:57] echang0929 opened #4737 "[bitnami/postgresql]FATAL: password authentication failed for user "postgres""
**Which chart**:
bitnami/postgresql

**Describe the bug**
Can not initialize it correctly due to password authentication failed for user "postgres".  I got pod logs as:
[code]

**To Reproduce**

[code]

**Expected behavior**
This chart could be deployed successfully, since I've enabled data volume permission even.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output

[2020-12-16 03:01] echang0929 commented on #4640
Thank you, @juan131 . Still I could not deploy postgresql chart successfully, even I enabled volume permission. So I doubt there is a problem with this kind of storage class ibmc-file-gold-delayed. I posted another issue: #4737

[2020-12-16 04:12] ronadjom commented on #4708
Hi @andresbono,

good catch. It works.

But i ended up disabling the network policy because it's configured to allow access to the most common ports. But i'm using for example the stomp-plugin and i do also need the port 61613 to be accessible. The only solution i had was to disable the network policy.

Maybe you can consider this in a future update, that the user can provide the extra ports he ne

[2020-12-16 05:20] Gefuxing opened #4738 "bitnami/rabbitmq Why will the PVC be deleted when I edit the MQ statefulset ?"
[code]
 pvc is iscsi

question:
Why will the PVC be deleted when I edit the MQ statefulset ? Is there any relevant configuration?
PVC does not delete when it is first deployed successfully, but editing the CPU again after a day of running will remove the volume
[code]
[code]

Hope you can provide some suggestions, thank you very much!