[2020-12-16 06:36] pestebogdan commented on #4255
Not sure if it's a copy-paste issue, but the .htaccess you posted seems to have this line wrong:
`RewriteRule ^([_0-9a-zA-Z-]+/)?(..php)$ $2 [L]`
Should be something like:
`RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]`

[2020-12-16 07:12] dani8art commented on #4546
I would say the installation could fail to say that it already exists.

Yes, I think this the main question if we would like to have it `true` by default, but I think the default value is not that important but we should write good documentation where this is clear, I think a better question would be, how do we know that we have to create the API service?

[2020-12-16 07:15] dani8art commented on #4536
`mongodb-env.sh` should be loading those password file into vars like: `$MONGODB_ROOT_PASSWORD` and `$MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD` if you use `. /opt/bitnami/scripts/mongodb-env.sh` you don't have to use `*_FILE` so you don't care if the password is provided by file or env.

[2020-12-16 07:26] gkulkarni32 commented on #4656
I mean the metrics that the spark application will emit using the spring boot libraries. I can already see the spark-worker/master metrics being emitted and have already integrated them with wavefront.

[2020-12-16 08:19] juan131 commented on #4640
Hi @echang0929

Please give a try to this workaround:

- Uninstall the PostgreSQL chart
- Remove existing PVC(s)
- Install the PostgreSQL chart with huge timeout for readiness/liveness probes:

[code]

That should give time for PostgreSQL to initialise in case it's just an issue due to slow R/W operations in the type of volume you're attaching to PostgreSQL.

[2020-12-16 08:21] juan131 commented on #4708
Hi @ronadjom

Great, glad to see you solved the issue

Thanks for the feedback @ronadjom ! Could you please open an issue with this very specific request?

---

I proceed to close this issue since the connection issue seems to be solved.

[2020-12-16 08:21] #4708 closed

[2020-12-16 08:31] almo-ltoeroek opened #4740 "[bitnami/postgres] README.md formatting broken"
<img width="1639" alt="Screenshot 2020-12-16 at 09 29 03" src="https://user-images.githubusercontent.com/53433871/102323936-70c19d00-3f81-11eb-9e76-9731a519c328.png">

[2020-12-16 08:36] alemorcuq commented on #4710
Hi, @Cirrith.

Can you provide the logs of the previous instance of the container? I want to see if RabbitMQ is correctly deployed before it is restarted. You can get them passing the `-p` flag to `kubectl logs`.

On the other hand, can you try disabling the liveness and readiness probes? It may be possible that the pod is being restarted before being ready, as you say your node has a very low dis

[2020-12-16 08:44] javsalgar commented on #3174
Hi,

Thanks for the information. As far is I see this is still not merged. Could you check if this https://github.com/bitnami/bitnami-docker-postgresql-repmgr/pull/28 fixes the issue?

[2020-12-16 08:47] javsalgar commented on #4713
Hi,

I see. So, just to confirm and create enough information for the investigation ticket. With the values I mentioned it works without issues without Istio, right?

[2020-12-16 08:51] sylver commented on #3174
@javsalgar Thanks for your answer.
I posted a comment there too, waiting for an answer since that seems related.

Not sure how I can test manually if the PR https://github.com/bitnami/bitnami-docker-postgresql-repmgr/pull/28 fix an issue I have with your `postgresql-ha` helm chart though, could use some help on how doing this so I can give you a feedback.

[2020-12-16 08:53] javsalgar commented on #4705
Hi,

Thanks for the information. I think it's also important to know the number of Kubernetes nodes you have in your cluster. Do you have any other applications running? How are the mongo instances scheduled in the nodes? In any case, I believe this is something that you should also check with the Mongo devs so they confirm that your ulimit settings are correct. At the moment, it is not clear to m

[2020-12-16 09:08] marcosbc commented on #4623
Hi @trungphungduc,

To avoid that, you can specify the following options to your deployment:

[code]

Then, `kubectl exec` into your postgresql-repmgr container(s) and run the following command:

[code]

If should fail with the same logs as before, but now you have access to the container and it does not die after a few seconds, and you can perform the proper diagnostics. I.e.:

[code]

If you cou

[2020-12-16 09:13] miguelaeh commented on #4731
Hi @jBouyoud ,
Thank you for bringing this up.
I have been checking the chart and it seems we are setting them in a reverse way. We set `liveness` using `check_running` and `readiness` using `ping`. I think they should be in the reverse order. i.e. Liveness: ping and readiness:`check_running`.

About this, it is actually supported. See https://github.com/bitnami/charts/blob/042c1c4fc81d49c2a8d97a0

[2020-12-16 09:35] rafariossaa commented on #4578
Hi,
  Could you provide the logs ? I would like to take a look to it.
  If you have followed the steps I provided it should work. I tested it in  a local minikube and in an AWS kubernetes cluster.
  Using a namespace and doing that cleanup is right., however I am not very sure if the canal plugin could be causing the issue. Your are right the headless service is the one that provides de IPs of the

[2020-12-16 09:40] rafariossaa commented on #4255
Hi,
  @pestebogdan Thanks you very much for helping with this issue.
  @ayuryogalifein could you try what @pestebogdan indicated ? I also think that this could be the issue.

[2020-12-16 09:40] dani8art commented on #4734
Hi @hasakura12

It seems `fullnameOverride` could be doing something wrong, could you test removing this?

[code]

Using `mysql` as the helm release name should take the same effect.

Thanks

[2020-12-16 09:41] rafariossaa commented on #4740
Hi @almo-ltoeroek ,
  Thanks for noticing this.

[2020-12-16 09:43] jBouyoud commented on #4731
Ok great. I think this too.
I'll open a PR on that subject.

[2020-12-16 09:51] sushiMix commented on #4578
Hello,
here are the logs (same logs on other nos except master ip and sentinel ID) :

sentinel logs:
1:X 15 Dec 2020 17:25:06.844 # oO0OoO0OoO0Oo Redis is starting oO0OoO0OoO0Oo
1:X 15 Dec 2020 17:25:06.844 # Redis version=6.0.9, bits=64, commit=00000000, modified=0, pid=1, just started
1:X 15 Dec 2020 17:25:06.844 # Configuration loaded
1:X 15 Dec 2020 17:25:06.845 * Running mode=sentinel, port=2

[2020-12-16 09:52] miguelaeh commented on #4731
Thank you very much!

[2020-12-16 09:56] javsalgar commented on #2610
Hi,

I see, not sure if there's an easy way to reproduce this kind of situations. Let's see if other users come across the same issue as well.

[2020-12-16 09:58] javsalgar commented on #4541
Hi,

Could you check if the password is CHANGEME? I would like to ensure if there are no conflicts with this

[code]

[2020-12-16 09:59] javsalgar commented on #4737
Hi,

I see that my colleague @juan131 gave you a possible solution in https://github.com/bitnami/charts/issues/4640. Please let us know if that works.

[2020-12-16 10:02] #4740 closed

[2020-12-16 10:08] dani8art commented on #4735
Hi @sidguptajhs

Thank you for reporting it, I've created a PR please let's move the conversation there.

[2020-12-16 10:15] dani8art commented on #4656
Then I guess you will need to expose this endpoint to whatever port so monitoring tools are able to reach it, are you doing it yet? if so the next step would be to add an extension point for the `PodMonitor` that the chart is creating where you could customize more `podMetricsEndpoints` and extend the default one that is the following:

[code]

Let's try something, I expect to come back soon with

[2020-12-16 10:35] linnovs commented on #4541
Hi,

I got the same problem when deploying a new rabbitmq without any configuration.

[2020-12-16 10:36] #4735 closed

[2020-12-16 10:41] javsalgar commented on #2855
Hi,

In the chart, you can set the following environment variables:

[code]

Could you check if it works for you?

[2020-12-16 11:04] javsalgar commented on #3749
Checking this again, it seems that's already done https://github.com/bitnami/charts/issues/4402

[2020-12-16 11:04] #3749 closed

[2020-12-16 11:24] hasakura12 commented on #4734
@dani8art

I thought that too and tested it without setting `fullnameOverride` and got the same error.

[code]
Where `overrides.yaml` has `fullnameOverride` commented out:
[code]

Pod status
[code]

Describe the pod
[code]

[2020-12-16 11:39] carrodher commented on #3931
Thanks, yes, I agree that the best solution apart from having the technical part done is also to add the proper documentation. Let's continue iterating over this in order to find a good approach including docs as part of this work

[2020-12-16 12:25] oleglutskyi opened #4749 "overwriting ilm policy is disabled."
After bitnami installation, I'm try to add Windows server logs.
On the last step (setup) I've received this error in powershell:
"overwriting ilm policy is disabled. set setup.ilm.overwrite true for enabling
Index setup finished.
Loaded dashboards
"

[2020-12-16 12:50] mammothbane commented on #4541
Yep, I checked that at the time &mdash; it wasn't.

[2020-12-16 12:51] imurvai commented on #2227
Hi,
I have the same issue as the original one, after installing the bitnami/rabbitmq chart I'm getting the followings in our K8S cluster:

2020-12-16 12:39:10.409 [info] <0.269.0> Configured peer discovery backend: rabbit_peer_discovery_k8s
2020-12-16 12:39:10.425 [info] <0.269.0> Will try to lock with peer discovery backend rabbit_peer_discovery_k8s
2020-12-16 12:39:10.425 [info] <0.269.0> Peer d

[2020-12-16 13:00] alrf commented on #4536
I use `usePasswordFile: true`, so:
[code]

[2020-12-16 14:00] drmy commented on #4713
Hi @javsalgar ,

That is correct. The values you mentioned can work correctly to create the POD_IP env with correct ip address.

My Redis is running in a namespace.
1) If I enable the Istio auto-injection by set label istio-injection=enabled to the namespace, then the Redis will run with a istio side-car and get this problem -- as I described in last post - redis-cluser and redis sentinel got diff

[2020-12-16 14:07] setevoy2 commented on #4578
Hi, @rafariossaa
Thanks, indeed - with 12.1 everything seems to be fine.

[2020-12-16 15:01] marcosbc commented on #4738
Hi @Gefuxing, the PVCs should not be deleted unless you change its configuration. I.e. if you don't specify the below values during `helm upgrade` or change any of their value, the PVC would be recreated:

[code]

However, if you `helm upgrade` specifying the same values as during the `helm install`, it should continue working without issues.

If you continue finding issues, please post all steps

[2020-12-16 15:03] echang0929 commented on #4640
When I deployed it via:
[code]
I got error:
[code]

So I tried to deploy it with volume permission after uninstalling the old one and removing pvc again:
[code]
And got logs:
[code]

Firstly, the status of this pod is:
[code]
Waited for a long time, eventually I got:
[code]

But, looks like it does not run successfully yet:
[code]

[2020-12-16 15:07] echang0929 commented on #4737
Thank you, @javsalgar. Looks like it does not works for me as well -- I've tested it and posted my results.

[2020-12-16 15:16] wantdrink commented on #4716
Thanks @miguelaeh , I'll try it and update here.

[2020-12-16 15:46] sushiMix commented on #4578
I successfully bootstrap the cluster by doing this update in the redis ConfigMap
  sentinel.conf: |-
   ...
    sentinel monitor {{ .Values.sentinel.masterSet }} {{ template "redis.fullname" . }}-master-0.{{ template "redis.fullname" . }}-headless.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }} {{ .Values.redisPort }} {{ .Values.sentinel.quorum }}
    ...
to
   ...
    sentinel monitor {{

[2020-12-16 15:50] mrgasco opened #4750 "livenessProbe and readinessProbe httpGet.path configurable"
**Which chart**:
bitnami/tomcat

**Is your feature request related to a problem? Please describe.**
I would like to configure the livenessProbe and readinessProbe httpGet paramethers

**Describe the solution you'd like**
livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            ti

[2020-12-16 18:10] tzolov opened #4751 "Fix a metrics configuration issue with spring-cloud-dataflow chart"
**Which chart**:
[spring-cloud-dataflow](https://github.com/bitnami/charts/blob/master/bitnami/spring-cloud-dataflow/README.md)

**Describe the bug**

The resent  SCDF OSS v2.7 release introduced some minor but breaking changes to the SCDF metrics configuration.

- The grafanaInfo.url property doesn't exist anymore and has to be replaced by metricsDashboard.url instead.
- Starting with 2.7 SCDF pr

[2020-12-16 18:20] SolutionsDEV opened #4753 "Not able to view WordPress on a public IP address"
**Which chart**:
WordPress on IBM Kebernete at https://cloud.ibm.com/catalog/content/wordpress

**Describe the bug**
I followed every step mentioned in the document at https://docs.bitnami.com/kubernetes/get-started-charts-iks/#step-2-provide-an-external-host-for-your-application
The public IP address is not accessible. I used the command "echo "WordPress Admin URL: http://$SERVICE_IP/admin"", I g

[2020-12-16 18:53] maxisam commented on #4705
I actually just created this cluster to test it. There are 6 work nodes. MongoDB only uses 3 nodes and 5 instances on each nodes ( config server, mongos, 3 replicas).  I think the resource should be enough, since there are still a lot of memory left. (6G per node)

The issue might not be in the Chart, but I think it is good to have a discussion here. Because eventually people want to use this char

[2020-12-16 21:41] mikeyGlitz opened #4754 "bitnami/owncloud Chart -- Memory Cache"
**Which chart**:
owncloud/bitnami 8.3.2

**Is your feature request related to a problem? Please describe.**
I'm trying to set up memory caching with Owncloud as detailed in the [Documentation](https://doc.owncloud.com/server/admin_manual/configuration/server/caching_configuration.html)

**Describe the solution you'd like**
 Provide memory caching configuration via environment variables. Kubernetes

[2020-12-16 21:47] ericandrewmeadows opened #4755 "Spark unable to connect to Jupyter"
**Which chart**:
Spark, `v4.3.0`

**Describe the bug**
Jupyter is unable to connect to Spark.

[code]

This results in the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Using the Kubeflow Jupyter Notebook Spawner
2. Start a new Python 3 Notebook
3. Paste the code
4. See error

**Expected behavior**
Spark context should spin up within Jupyter.

**Version of Helm and

[2020-12-16 22:31] mattcg commented on #4624
On some systems you will need to `chown -R discourse:discourse /opt/bitnami/discoursetmp/cache` after running the precompile command. This is incredibly hacky and really not what I imagine k8s is for... feels like no matter how much fancy stuff you add to the stack we remain stuck in 1996.

[2020-12-17 00:39] gabriellemadden opened #4756 "[bitnami/postgresql-ha] Chart-generated passwords become out of sync with database passwords"
**Which chart**:
postgresql-ha version 5.2.0 (we looked at the changes between this version and 6.3.0 and decided that there were no changes that would fix our problem)

**Describe the bug**
It is possible for the helm chart postgres/repmgr passwords to get out of sync with the postgres/repmgr user passwords stored in the postgres database PVC, where pods end up crashlooping without being able to

[2020-12-17 01:36] kfirfer opened #4757 "[bitnami/memcached] Persistence is redundant"
Hello

Memcached doesn't have persistence, his all data places on RAM without any persistence capabilities

It is redundant

Can be found here:
https://github.com/bitnami/charts/blob/fcb97a729ebe856605e3156dba8b6ffe7b270362/bitnami/memcached/values.yaml#L173

[2020-12-17 01:43] kfirfer commented on #4757
Created pull request:
https://github.com/bitnami/charts/pull/4758

[2020-12-17 01:44] Gefuxing commented on #4738
chart version bitnami/rabbitmq 8.5.4

Why will the PVC be deleted when I edit the MQ statefulset ? Is there any relevant configuration?

helm3 install mq82  --set replicaCount=3  --set global.storageClass=iscsi  --set service.type=NodePort --set auth.username=test --set auth.password=test --set resources.limits."cpu"=1.0 --set resources.limits."memory"=2048Mi --set resources.requests."cpu"=1.0 --s

[2020-12-17 01:46] Gefuxing commented on #4738
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry and imagePullSecrets
##
# global:
#   imageRegistry: myRegistryName
#   imagePullSecrets:
#     - myRegistryKeySecretName
#   storageClass: myStorageClass

## Bitnami RabbitMQ im

[2020-12-17 01:47] Gefuxing commented on #4738
`## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry and imagePullSecrets
##
# global:
#   imageRegistry: myRegistryName
#   imagePullSecrets:
#     - myRegistryKeySecretName
#   storageClass: myStorageClass

## Bitnami RabbitMQ i

[2020-12-17 01:48] Gefuxing commented on #4738
[values.txt](https://github.com/bitnami/charts/files/5706476/values.txt)

[2020-12-17 04:24] Cirrith commented on #4710
@alemorcuq I believe so. As I said, I deployment the chart into a cluster running on my laptop and was unable to access the running instance with the created password both through the management portal and Python pika module. Looking through the logs it said something along the lines of `bad credentials for 'user'`.

I'm not experiencing this anymore, but I figured I'd add another data point to th

[2020-12-17 07:19] dani8art commented on #4734
Hi, I've seen you are using `customPasswordFiles` and this is preventing the secret to be created. Please, use:

[code]

[2020-12-17 08:20] EricPE69 opened #4760 "Labels are not set in pods"
**Which chart**:

mariadb-galera 5.3.2

**Describe the bug**

When I try to use "podLabels" labels are not set in the pods.

"podLabels" is not used in templates:

[code]

It works with "podAnnotations".

**To Reproduce**

Try to set `poLlabels` and test with helm template

**Expected behavior**

Labels are set in pods with values in podLabels

**Version of Helm and Kubernetes**:

- Output of `hel

[2020-12-17 08:38] juan131 commented on #4640
Hi @echang0929

So.. As you can see when you gave it plenty of time, PostgreSQL was initialised:

[code]

It seems we discovered the reason why PostgreSQL failed to start, it was just a matter of giving it more time to start.

---

Regarding the issue when trying to connect to PostgreSQL with the `psql` client. Could you please ensure the `POSTGRES_PASSWORD` has a valid value? Just run:

[code]

[2020-12-17 08:41] juan131 commented on #4751
Thanks for opening the issue @tzolov !! The team will review the associated PR and help you with the merging/release process.

[2020-12-17 08:48] juan131 commented on #4760
Thanks for reporting it @EricPE69
I just created a PR to fix it.

[2020-12-17 08:55] dani8art commented on #4536
Oh yes you are right, I've realized that we are doing this for `data` and `config` pods

[code]

[2020-12-17 09:05] dani8art commented on #4756
Hi @gabriellemadden,

That's true our charts generate passwords and they will become out of sync. We recommend users whether to provide this password via helm values or existing secret.

You can find some tips [here](https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/)

Personally, I would go for an existing secret. If you need to add those secrets to a git repo in other to use

[2020-12-17 09:07] lushtech commented on #4737
I get the same problem.
I tried many times, It can not be connected If I use storageClass in k8s.
It seems that the adminuser 'postgres'  and its password can not be setting properbly
But it works when I dont use storageclass.

My system information below:

- Ubuntu 18.04.5 LTS
-  Docker version 19.03.6, build 369ce74a3c ,
- rancher2.5.3(Kubelet Version: v1.19.4,Kube Proxy Version: v1.19.4 )

**Th

[2020-12-17 09:21] miguelaeh commented on #2227
Hi @imurvai ,

It seems that issue is the configuration section. Even deleting the plugin form the list it is being used in the configuration:
[code]

Could you try to remove those lines and try again?

[2020-12-17 09:21] alrf commented on #4536
@dani8art yes, and those exported variables (like `MONGODB_INITIAL_PRIMARY_ROOT_PASSWORD_FILE`) will be available only in `replicaset-entrypoint.sh` shell-environment. So, for healthcheck-probes additional export-s/code lines are required.

[2020-12-17 09:27] miguelaeh commented on #4755
Hi @ericandrewmeadows ,
It seems that the URI you used is either not correct or not resolvable from where you are executing the code:
[code]

Do you have that `Kubeflow Jupyter Notebook Spawner` deployed in the Kubernetes cluster than Spark?
Could you detail the scenario and the steps to reproduce it please?

[2020-12-17 09:52] marcosbc commented on #4738
Hi @Gefuxing, unfortunately I've been unable to reproduce your issue.

I installed the chart like this:

[code]

(removed non-relevant flags like storage class type and labels)

Then I edited the statefulset (`kubectl edit sts mbrb-rabbitmq`) from this:

[code]

To this:

[code]

And the PVCs were not removed afterwards:

[code]

You can see the PVCs were not deleted because they were created 50 m

[2020-12-17 09:54] #4751 closed

[2020-12-17 10:02] #4760 closed

[2020-12-17 10:09] Gefuxing commented on #4738
Is there any relevant configuration in the configuration file? Delete POD to delete PVC, or delete PVC together with the parameters when helm DELETE MQ is executing?I will try the scheme you mentioned. I will also keep track of this problem and observe whether it is related to other factors such as storage class type.

[2020-12-17 10:14] dani8art commented on #4536
Yep, it would be something like

[code]

don't you think?

[2020-12-17 10:19] dani8art commented on #4656
Hi @gkulkarni32, I've created a PR could you take a look, I think this could resolve the metrics problem.

[2020-12-17 10:20] rafariossaa commented on #4754
Hi,
  Thanks for suggesting this.
  Could you send an example of what needs to be configured ?
  I can see there are several options.

[2020-12-17 10:36] miguelaeh commented on #4664
Hi @rcaillon-Iliad ,
I have not been able to reproduce the exact issue you commented on, but I got several issues before being able to deploy Prestashop using the nfs storage class provided by the stable helm chart.
That chart is deprecated, so I would not recommend to use it since it will not receive more updates.
Apart from that, I found issues in 2 clusters but I was able to deploy it in the th

[2020-12-17 10:54] rafariossaa commented on #4578
Hi,
  @setevoy2 I am happy it was solved for you.
  @sushiMix , Yes, you are right, that should be `node-0` thank you very much for spotting this.
  The thing is that even with  `master-0` I got in the sentinel configuartion in the sentinel container:
[code]
 and `172.17.0.3` is the IP of `node-0`. I guess that DNS is behaving differently in each kubernetes cluster.
 I will sent a PR to fix the co

[2020-12-17 11:01] jeff51419 opened #4764 "[bitnami/logstash] Provide a way to modify JVM heap size"
**Which chart**:
bitnami/logstash

**Is your feature request related to a problem? Please describe.**
Yes, i found default heap limit is 1G. When the logstash heap reach 763MB, it will restart and affect the log

![image](https://user-images.githubusercontent.com/18411883/102479643-1f590100-409a-11eb-994f-e5f1ca21782c.png)

**Describe the solution you'd like**
provide logstashJavaOpts in value tha

[2020-12-17 11:03] rcaillon-Iliad commented on #4664
Hi @miguelaeh

The stable nfs chart is indeed deprecated, the one that I use now is this one: https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner.

I had no problem when using only one prestashop replica. Could you please try again using several prestashop replicas spread accross at least 2 nodes?

[2020-12-17 11:20] carrodher commented on #4753
In the above guide, step 2 is not needed for WordPress but for other web applications like OwnCloud (that is the example shown). In the case of WordPress, this step is not required and you should skip this section and navigate directly to step 3.

Once deployed WordPress Helm Chart using the UI, you should be able to obtain the logs and see the installation notes. For that, run the commands shown

[2020-12-17 11:48] oo00spy00oo opened #4765 "[InfluxDB] Error: failed to start container "relay""
**Which chart**:

InfluxDB - 1.1.4

**Describe the bug**

I am using values from https://github.com/bitnami/charts/blob/master/bitnami/influxdb/values-production.yaml

```Error: failed to start container "relay": Error response from daemon: OCI runtime create failed: container_linux.go:370: starting container process caused: exec: "/influxdb_relay": stat /influxdb_relay: no such file or directory:

[2020-12-17 12:01] FraPazGal commented on #4749
Hello @oleglutskyi!

Could you provide more information? I'm not sure which chart you are installing nor the kubernetes cluster provider you are using.

[2020-12-17 12:04] FraPazGal commented on #4757
Hi @kfirfer, thanks for the PR! I see a colleague already reviewed it so we'll continue any discussion there.

[2020-12-17 12:29] alrf commented on #4536
@dani8art @marcosbc I've created PR and checked it in my environment with `usePasswordFile: true` and `usePasswordFile: false`, everything is ok.
Sometimes I see only couple of those "Unauthorized: not authorized on admin to execute command" log messages during pods startups, but this is fine.

[2020-12-17 12:49] javsalgar commented on #3174
A way to test it would be to build the container using the PR above and deploy the chart using that created image.

[2020-12-17 13:15] ikus060 opened #4768 "[logstash] Missing tls-secrets.yaml templates"
**Which chart**:
logstash 2.0.0

**Describe the bug**
Secrets for TLS are not created because tls-secrets.yaml templates are missing.

[2020-12-17 13:45] volkmydj commented on #4722
Handling connection for 9419
E1217 16:43:14.932344   34068 portforward.go:400] an error occurred forwarding 9419 -> 9419: error forwarding port 9419 to pod 11af509c7fd30af350bee3bb97c68db72c5b6cebd6f0e0ca804b7b557d67073d, uid : exit status 1: 2020/12/17 16:43:15 socat[25082] E connect(5, AF=2 127.0.0.1:9419, 16): Connection refused

[2020-12-17 13:45] kfirfer commented on #4757
@FraPazGal alright
closing this issue

[2020-12-17 13:45] #4757 closed

[2020-12-17 13:46] volkmydj commented on #4722
curl http://127.0.0.1:9420/metrics
curl: (52) Empty reply from server

[2020-12-17 14:06] Raynbag opened #4772 "Redis ACL"
Redis-Cluster
v4.2.1

Including access control lists in the chart is a little difficult, especially when appending them to the config file with the passwords being plaintext in the config map created.

What's the best way to handle these please?

Many thanks in advance

[2020-12-17 14:08] tbertenshaw opened #4773 "[bitnami/moodle] how to create a persistant deployment."
I want to create an installation of moodle from scratch (no existing data or files) however.

- with an external paas database to be hydrated.
- with a persist-able volume (`existingClaim` ) for the moodle files (to be generated on).
- ability to scale to > 1 pod.

It sounds like (and anecdotally after lots of failed tests) there must be a fixed order of deploying these as If i pass an existing bl

[2020-12-17 14:18] rbs4ba opened #4774 "[bitnami/kube-prometheus]"
**Which chart**:
kube-prometheus:3.3.2

**Is your feature request related to a problem? Please describe.**
This is related to a problem I am having with the prometheus operator, link here: https://github.com/prometheus-operator/prometheus-operator/issues/3747

I have found a fix/workaround of explicitly setting the namespaces that the operator works with, via the `--namespaces` flag: https://githu

[2020-12-17 14:35] oleglutskyi commented on #4749
Thanks for you answer. Sure, I followed this article: https://www.elastic.co/guide/en/beats/winlogbeat/current/winlogbeat-installation-configuration.html
And seems I resolved the error that I provided and now setup completed. Last command showed me the next:
"Index setup finished
Loading dashboards (Kibana must be running and reachable)
Loaded dashboards."

But Kibana Discovery Page provide me ano

[2020-12-17 15:09] maartenmensink opened #4775 "[bitnami/rabbitmq] [bitnami/common] deprecation warning for ingress apiVersion networking.k8s.io/v1beta1"
**Which chart**:
[bitnami/rabbitmq]  [bitnami/common]

**Describe the bug**
A deprecation warning occurs when deploy [bitnami/rabbitmq] with ingress enabled on a K8S 1.19 cluster

**To Reproduce**
1. Take a K8S with version 1.19
2. configure the values.yaml with ingress enabled
3. deploy helm chart

**Expected behavior**
Expected to see apiVersion networking.k8s.io/v1

**Actual behavior**
apiVersi

[2020-12-17 15:30] alemorcuq commented on #4732
Hi, @kristinnardal2.

Thanks for reporting this. You are right, there's definitely something wrong here. Have you tried if changing this:

https://github.com/bitnami/charts/blob/f489bbc92a3bcb2a91ae48543677c67c60422480/bitnami/nginx-ingress-controller/templates/clusterrole.yaml#L1

To this:

[code]

Solves the issue?

[2020-12-17 15:38] daisysendermoon commented on #3700
It is timing issue. When the master pod got deleted and when it restarts, the voting process of the unrestarted nodes have not finished yet. So I put a bit of waiting time like 10 seconds in the start_node.sh and it works. But I got another issue, this solution will work for pod got deleted. But there is a another BIG problem, when I do a rolling-update, I mean helm -upgrade, all nodes are still r

[2020-12-17 15:41] voor opened #4777 "kiam chart connectivity issues"
**Which chart**:
`bitnami/kiam`
version: 0.1.7

**Describe the bug**
kiam-agent is unable to connect to the kiam-server

**To Reproduce**
Steps to reproduce the behavior:

TKG (Cluster API AWS) on AWS, using Ubuntu 18.04 base images.  kiam server role is assumed from the IAM Instance Role on the master node:
[code]

Values for chart rendering:
[code]

Additional fields added:
[code]

**Expected be

[2020-12-17 15:44] kristinnardal2 commented on #4732
For the moment I am using a workaround to the problem by using `extraArgs` to set the `watch-namespace` flag. This works but obviously isn't really what we want.

If we want to limit this to a specific namespace we should be creating a role binding in that namespace instead of a cluster role binding. From my knowledge of Helm though it's not really recommended for one release to install resources

[2020-12-17 16:22] javsalgar commented on #4541
Hi,

I've been unable to reproduce it. Which client are you using to connect to rabbitmq?

[2020-12-17 16:24] javsalgar commented on #4713
Hi,

Could you provide more details about the clients you are using to connect? Could it be that you forced istio mtls and it won't work from clients without it?

[2020-12-17 16:25] SolutionsDEV commented on #4753
Thanks for your response. I already did all the instructions skipping step 2 before I post this issue for help, I got the IP address and I made sure that it is the correct IP address, but the page does not open.

[2020-12-17 16:26] javsalgar commented on #4737
Hi,

Does the container restart when using nfs? That would partially explain the issue.

[2020-12-17 16:26] aeimer opened #4778 "[bitnami/nginx-ingress-controller] Enable custom /nginx_status settings"
**Which chart**: bitnami/nginx-ingress-controller
The name (and version) of the affected chart.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I would like to make the `/nginx_status` site available to all service inside of the cluster, the `127.0.01` binding does not work for us as w

[2020-12-17 16:31] javsalgar commented on #4750
Hi,

Thank you for using Bitnami. From what I see in the template, the you can define these parameters in the values.yaml

[code]

Did you try changing them? Did you find any issue?

[2020-12-17 16:33] javsalgar commented on #4705
Hi,

Agree and appreciate bringing up the discussion here. My point was that the information from the MongoDB devs is also important in order to shed some light in the cause of the issue and what we can do to fix it. Please let us know any findings. I will forward this information to our engineering team as well.

[2020-12-17 17:25] echang0929 commented on #4640
Hi @juan131

Really, it is working today.
[code]

Based on the logs as you mentioned, I decreased initial delay time:
[code]

It works as well.

Great! Thank you very much!

Let me try to install airflow chart later.

[2020-12-17 17:28] echang0929 commented on #4737
Based on @juan131 's help, it works for me now. Here is my installation command:
[code]

https://github.com/bitnami/charts/issues/4640#issuecomment-747582558

Thank you, @javsalgar

[2020-12-17 18:27] echang0929 commented on #4640
Cool, I deployed airflow chart successfully as well via:
[code]

@juan131 , do you think we could close this issue?

[2020-12-17 18:38] hasakura12 commented on #4734
@dani8art worked thanks!

Btw, is there a good way to pass value to `auth.password` from K8s secret so that password won't be hardcoded in `values.yaml`?

[2020-12-17 20:22] cheskayang commented on #2189
@rafariossaa thx a lot for the change. I noticed in the README, the default value for `maxAvailableSchedulers ` and `onlineSchedulers ` are still set as 2 and 1, which could be a bit confusing https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/README.md#rabbitmq-parameters

[2020-12-17 22:26] ericandrewmeadows commented on #4755
I solved it by connecting to the Kubernetes default service.

Thanks!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Miguel Ángel Cabrera Miñagorri <notifications@github.com>
Sent: Thursday, December 17, 2020 4:28:01 AM
To: bitnami/charts <charts@noreply.github.com>
Cc: ericandrewmeadows <meadows.120@osu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [b

[2020-12-18 04:00] drmy commented on #4713
My redis is configured to use the following peer authentication with port 6379 on PERMISSIVE mode. And I disabled the Redis tls.authClients.
My client is written by the Stackexchange.redis lib.

kind: PeerAuthentication
apiVersion: security.istio.io/v1beta1
metadata:
  name: {{ template "common.names.fullname" . }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "commo

[2020-12-18 05:04] PhanSon95 opened #4781 "[mongodb-sharded] Lint failed when increase `arbiter.replicas`"
**Which chart**:
Chart: mongodb-sharded
Version: 3.2.4

**Describe the bug**
When increase number of replicas arbiter `0->1`. Lint chart will fail

**To Reproduce**
Steps to reproduce the behavior:

1. Fetch chart bitnami/mongodb-sharded version 3.2.4
[code]
2. Change values replicas arbiter from 0 => 1 at [here](https://github.com/bitnami/charts/blob/master/bitnami/mongodb-sharded/values.yaml#L24

[2020-12-18 07:55] serg-bs opened #4782 "[bitnami/*] question - using podAnnotations for checksum from parent chart"
**Which chart**:
All charts.
Below example for nginx.

**Is your feature request related to a problem? Please describe.**
I have parent chart with templates/nginx/configmap.yaml to confuguring nginx, there are some
[code]
and values.yaml
[code]

and get error
[code]
I would like template in podAnnotations get hash of raw file, not treat as template.
I try to use .Files.Get , but looks like this fu

[2020-12-18 08:03] juan131 commented on #4640
Great!!! I'm very glad you were able to finally get Airflow working!! I agree we can considered this closed.
Please feel free to reopen it if you still find issues with PostgreSQL initialization.

[2020-12-18 08:03] #4640 closed

[2020-12-18 08:21] wantdrink commented on #4716
I've tried w/o http proxy first but failed.
Here is my values with ingress:

[code]

And access https://ingre.localk8s.com/phabricator will be redirected to https://ingre.localk8s.com/auth/register/.
The response is:
[code]
Does phabricator support ingress rewrite? Thanks.

[2020-12-18 08:28] FraPazGal commented on #3700
Hello @daisysendermoon,

Thank you for your feedback! I have been able to reproduce this issue and it seems this keeps giving problems, we may need to proceed with the initial idea of using statics IPs in the pods. There is an ongoing task related to this chart and we will include this so the team works on a solution in the coming days.

[2020-12-18 09:01] alemorcuq commented on #4710
Oh, I see. Thanks, @Cirrith. From the top of my head, that could be due to a bad initialization or to the existence of some persisted data from a previous deployment with a different passwords. If you experience it again it would be great if you could post some logs and information about it.

[2020-12-18 09:04] alemorcuq commented on #4775
Thanks for the PR!

[2020-12-18 09:17] #4731 closed

[2020-12-18 09:34] javsalgar commented on #4737
Good to know! Don't hesitate te open a new ticket if you find any other issue

[2020-12-18 09:39] javsalgar commented on #4778
Hi,

According to https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/custom-template/ It is possible to use a custom template. In that case, you could create a configmap with your custom nginx.tmpl and then use the `extraVolumes` and `extraVolumeMounts` values in the chart.

[code]

[2020-12-18 09:42] FraPazGal commented on #4749
Hi @oleglutskyi,

Sorry for asking almost the same, but I'm not sure yet about which chart are you using. Are you deploying our kibana and/or elasticsearch one? In the article you provided it seems the stack installation is done on Windows with installers.

[2020-12-18 09:44] #4777 closed

[2020-12-18 09:53] marcosbc commented on #4764
Hi @jeff51419, we're working on a new release of the Bitnami Logstash chart that will explicitly have support for setting the heap size (via the `LOGSTASH_HEAP_SIZE` environment variable). We expect the Logstash container image with tag `
7.10.1-debian-10-r9` to contain support for the new flag.

In the meantime, with a previous container image version, you can see how to set it to a value like 2G

[2020-12-18 10:01] marcosbc commented on #4772
Hi @Raynbag, currently the only way to configure it to the chart is to mount the required files.

To simplify the process on your side, you could try [loading an external ACL file via `aclfile`](https://redis.io/topics/acl#using-an-external-acl-file), and then mount this file via `redis.extraVolumes`/`redis.extraVolumeMounts`. That would allow you to store the file in a volume.

To make it more se

[2020-12-18 10:11] jeff51419 commented on #4764
thanks for your info.

[2020-12-18 10:11] #4764 closed

[2020-12-18 10:34] trungphungduc commented on #4623
Hi @marcosbc,
I am a little busy nowaydays due to covid19, i will take a picture for you ASAP.
Please keep this post active.
Thanks.

[2020-12-18 10:35] #4775 closed

[2020-12-18 10:41] sergeyshaykhullin commented on #4651
@miguelaeh I had some time to implement draft version of topics provisioning

I found a little bit painful to work with kafka chart, because a lot of custom templates and monorepo structure
I will need some help to do it properly

[2020-12-18 11:37] ralph089 opened #4784 "[keycloak] Ingress apiVersion is deprecated"
**Which chart**:
bitnami/keycloak - latest version

**Describe the bug**
Helm lint throws an error, because Ingress apiVersion is deprecated:

[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Enable Ingress
2. Lint the chart

**Expected behavior**
Linting throws no error =)

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

[2020-12-18 14:13] daisysendermoon commented on #3700
Yeah, I got the rolling update working by giving a longer initialDelaySeconds for the readinessProbe part. So this work around will work but I agree this is not the best way of fixing things.Thanks for the update @FraPazGal .

[2020-12-18 14:14] daniel-mueller commented on #1732
Is there an update on this issue? Not being able to mount a custom spark-defaults.conf is quite the dealbreaker for me sadly.

[2020-12-18 14:15] daisysendermoon commented on #3700
Static IPs seems to be anti-kubernetes. Just my 2 cents.

[2020-12-18 14:20] mikeyGlitz commented on #4754
I found another issue. The image itself would not support a memory cache.
The following PHP modules would need to be installed
- php-memcached
- php-apcu
- php-redis

My suggestion would be to provide the configuration via a series of environment variables to the container like the [Official Owncloud image](https://github.com/owncloud-docker/server)
[code]
https://github.com/owncloud-docker/base#a

[2020-12-18 14:23] koehn opened #4785 "[bitnami/postgresql-ha] Unable to read message kind error"
**Which chart**: bitnami/postgresql-ha 6.2.3

**Describe the bug**
I'm testing the HA postgresql cluster produced by the chart, and when I try to restore a `pg_dumpall`, the process ends with the message:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install chart w/o persistence, using the latest PG13.1 image (`13.1.0-debian-10-r18`)
2. Take a file generated from `pg_dumpall > pg-

[2020-12-18 14:36] FraPazGal commented on #4716
Hello @wantdrink,

In principle, it should support it. Does the `faultstring` response appear once redirected to `https://ingre.localk8s.com/auth/register/`? I'll try to reproduce this behaviour and come back with my findings!

[2020-12-18 14:43] koehn commented on #4785
Log of pgpool container of newly-created cluster (before loading the `pgdump` file) [here](https://gitlab.koehn.com/-/snippets/95).

[2020-12-18 14:48] dani8art commented on #4536
Great!! let's move the conversation there! Thank you so much!!

[2020-12-18 14:50] dani8art commented on #4768
Hi @ikus060, I see you've created a PR solving it! let's move the conversation there, thank you so much!

[2020-12-18 14:59] dani8art commented on #4734
Good to heard that worked!!

Yes, you can use `auth.existingSecret` where this secret should have the same form as the by default created secret. You can even better use a `SealedSecret` so you can add it to a git repo https://github.com/bitnami-labs/sealed-secrets

Thanks!

[2020-12-18 15:03] dani8art commented on #4784
Hi @ralph089,

It is because of your server version `v1.11.0` the requested ingress version is `extensions/v1beta1` so we auto calculate it using:

https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_capabilities.tpl#L27

You would need to upgrade your server or downgrade your helm client in order to have the compatible versions.

Thanks!

[2020-12-18 15:05] rafariossaa commented on #4765
Hi,
   Could you indicate the parameters used ?
   In which log did that message appear ?

[2020-12-18 15:10] rafariossaa commented on #4774
Hi,
  Thank for your detailed description. I hope you will find the issue.
  Would you like to send a PR adding this ? We will be glad to review and merge it.

[2020-12-18 15:11] dani8art commented on #1732
Hi all,

While we start working on fixing this issue you can use this other workaround https://github.com/bitnami/charts/issues/4656#issuecomment-742471556

Hopefully, it helps you!

[2020-12-18 15:15] rafariossaa commented on #2189
Hi @cheskayang ,
  Not very sure about what is confusing. I don't mean that they are not confusing just I would like to understand how I can fix this.
  Do you have any suggestion ?.

[2020-12-18 15:20] javsalgar commented on #4713
Hi,

If you remove the PeerAuthentication object, does it work even if it has the istio sidecar?

[2020-12-18 15:23] rafariossaa commented on #4781
Hi,
  Could you try running `helm dependency update` before the `lint` ? I think `lint` is not aware of chart dependencies.

[2020-12-18 15:34] dani8art commented on #4722
We have changed the metrics stuff for rabbitmq and now we are not using `rabbitmq-exporter` for metrics then you will need to update your values on of the thing you have to add is this to your configuration.

[code]

Also, the `metrics.*` has been refactored, please take a look at the new `values.yaml`

https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml

Thanks!

[2020-12-18 15:34] juan131 commented on #4651
I will need some help to do it properly

We are here to help you as needed. Please let us know what are you struggling with, and we'll try to do our best to help you.

[2020-12-18 15:42] franklin432 commented on #4705
how do you set the number of concurrent connections in mongo? what parameter or flag do you change to set this number @maxisam

[2020-12-18 16:53] franklincodes commented on #4541
Just to drop a note, I ran into this issue as well when defining a different image tag/version of RabbitMQ. I switched back to `3.8.9-debian-10-r64` (what's currently defined in this repo) and it worked just fine.

Before switching the version to `3.8.9-debian-10-r64`, I had re-deployed several times (deleting pv/pvc) with no luck.

[2020-12-18 16:56] #4230 closed

[2020-12-18 16:57] wantdrink commented on #4716
Thank you @FraPazGal.
I'm not sure whether it's correct if I set the host as below:

`phabricatorHost: localk8s.com
`

[2020-12-18 17:40] carrodher commented on #4773
In order to use an external database, you should disable the bundled mariadb subchart by setting `mariadb.enabled=false` and then using the `externalDatabase.*` parameters to configure the settings (host, port, user, etc) related to the already existing external database.

By using `persistence.existingClaim` should be possible to store the data in an existing PVC.

You should be able to do that b

[2020-12-18 18:32] siegfried01 commented on #4134
Do you have any idea as to I'm having this problem with Bitnami MySQL and no problem with Bitnami PostreSql?

[2020-12-18 18:39] siegfried01 opened #4787 "How to use Bitnami MySQL and Bitnami PostreSQL with Azure Virtual (serverless) Kubernetes Cluster Nodes?"
**Which chart**:
See title.

**Is your feature request related to a problem? Please describe.**
Maybe

**Describe the solution you'd like**
Please see [https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli](url). Looks like the yaml for serverless needs to be enhanced with special nodeselectors (is this possible on the helm command line?) and a tolerations clause (is this possible presently

[2020-12-18 18:45] tbertenshaw commented on #4773
Hi @carrodher ,
  having problems with any method off the default installation.  So I'm trying one at a time.

If i only change the fileshare for the moodle website/data, and use an `existingClaim` and `storageClass` of `azurefile` with `ReadWriteMany` (so i can scale beyond 9 if needed), then it seems to take a stupid amount of time to complete. I think a lot of the issues are with the container

[2020-12-18 18:54] siegfried01 opened #4788 "Does Bitnami support Azure SQL Serverless Databases?"
**Which chart**:
The MSSQL chart for stateful sets.

**Is your feature request related to a problem? Please describe.**
I want to save money and use serverless.

**Describe the solution you'd like**
Please see [https://docs.microsoft.com/en-us/azure/azure-sql/database/serverless-tier-overview](url) and I'm told that this describes how to use serverless in a K8 stateful set: [https://docs.microsoft

[2020-12-18 19:07] #4712 closed

[2020-12-18 20:01] maxisam commented on #4705
I don't think I set anything extra beyond this chart's default settings. And I think the issue is on Mongos.

[2020-12-18 20:24] kd7lxl commented on #4393
I'm seeing similar behavior, probably the same issue. It happens on new installs like `helm upgrade .... --set replicaCount=3` most of the time. Sometimes it comes up healthy, but other times two of the three pods go into `CrashLoopBackOff` with errors like this:
[code]
It never seems to recover from this.

Using etcd chart version 5.3.2 (latest). Happened on earlier versions too.

[2020-12-19 01:08] VORUSRIK000 opened #4789 "Version issue with bitnami/airflow helm chart"
We are using bitnami helm chart for airflow deployment on Azure AKS, connecting to https://charts.bitnami.com/bitnami repository. When we check the bitnami/ariflow version in the repo, it shows 1.10.13. Verified this running the command - "helm search repo bitnami/airflow". But on the github, we see that helm chart shows the version as 1.10.14.

We ran "helm repo update" and it showed the repo got

[2020-12-19 08:34] sergeyshaykhullin commented on #4651
Thank you!

@juan131 i add some notes about labels and annotations in pull request

[2020-12-19 13:26] acim opened #4791 "bitnami/wordpress: ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend"
**Which chart**:
bitnami/wordpress

**Describe the bug**
diff fails, probably install and upgrade as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
To show diff and be able to upgrade.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[c

[2020-12-19 20:56] stefan-fast commented on #4765
Hey, I just came accross the same issue. It works fine with chart version `1.1.2` but starting with `1.1.3` I get the same error output. The message appears in the events of the pod when calling `kubectl describe` on it. Because of this issue the influxdb-relay pod is unable to start and stuck in a crash loop.

I used the folllowing to install the chart:
`helm install my-release bitnami/influxdb -

[2020-12-20 01:09] FireFart opened #4792 "bitnami/fluentd: update fluent-plugin-elasticsearch to 4.3 to enable elastic cloud"
**Which chart**:
bitnami/fluentd

**Describe the bug**
current version 4.2.2 is not able to connect to elastics own cloud service

**Additional context**
Support for elastic cloud was added in 4.3, currently 4.2.2 is used:
https://github.com/uken/fluent-plugin-elasticsearch/commit/baf866668097179b119f752e4d3ee869b7e6f746

Upgrading this gem enables users to user elastics own cloud service https://

[2020-12-20 07:37] tbnguyen1407 opened #4793 "[bitnami/zookeeper] extraInitContainers"
**Which chart**:

bitnami/zookeeper

**Is your feature request related to a problem? Please describe.**

When deploying in a cluster with readOnlyRootFilesystem, conf folder is not writable. Mounting an emptyDir volume there will override all config files inside.

**Describe the solution you'd like**

Ability to define extraInitContainers would enable copying original config files to a shared empt

[2020-12-20 10:22] yelhouti commented on #4711
Having the same issue here...

[2020-12-20 10:43] yelhouti commented on #4134
@juan131 I am having the exact same issue here, on linux server where the old k8s mysql "stable" chart works without any issues.
I really don't think it's a filesystem issue, any other suggestions please?

[2020-12-20 10:55] ysicing opened #4794 "Does Bitnami support GitLab Runner ?"
**Which chart**: `GitLab Runner`

**Is your feature request related to a problem? Please describe.**

Official helm seems to be less clear and useful than Bitnami's structure

[2020-12-20 11:18] ralph089 commented on #4784
Hi @dani8art,

Unfortunately it isn't possible to upgrade our cluster. I'll install an older helm client then, thank you.

Just two sidenotes that caught my eye during analysis of this issue:

- the GitVersion attribute used in the _capabilities.tpl is deprecated, see: https://github.com/helm/helm/blob/master/pkg/chartutil/capabilities.go#L65
- in the Keycloak chart the apiVersion is hardcoded: ht

[2020-12-20 11:18] #4784 closed

[2020-12-20 11:54] carrodher commented on #4422
Nice, I just added the `on-hold` label to prevent the "stale bot" auto-close

[2020-12-20 14:09] tbnguyen1407 opened #4795 "[bitnami/kafka] support for wildcard subdomain cert"
**Which chart**:

bitnami/kafka

**Is your feature request related to a problem? Please describe.**

Current keystore config requires 1 keystore per broker as follow
* kafka.truststore.jks
* kafka-0.keystore.jks
* kafka-1.keystore.jks
* ...

This is not optimal for scalability as the number of brokers needs to be determined beforehand.

**Describe the solution you'd like**

Support for single defa

[2020-12-20 14:50] tbnguyen1407 opened #4796 "[bitnami/kafka] initContainers in values.yaml not working"
**Which chart**:

bitnami/kafka

**Describe the bug**

Setting initContainers in values.yaml not taking effect

**To Reproduce**

$ cat my-values.yaml
[code]

1. helm install kafka bitnami/kafka -f my-values.yaml --dry-run --debug
2. initContainers is not rendered in statefulset (see output in Additional context)

**Expected behavior**

initContainers defined in values.yaml should show up in state

[2020-12-20 16:20] aeimer commented on #4460
@FraPazGal can we merge it or are there any things I need to do?

[2020-12-20 16:21] aeimer commented on #4460
Oh never mind, Ill close the ticket

[2020-12-20 16:21] #4460 closed

[2020-12-20 17:18] yelhouti commented on #4134
I have been facing a very similar issue, but not exactly the same, downgrading helped, and their is why: https://github.com/bitnami/bitnami-docker-mysql/issues/121
Not sure it will help in your case though, but still putting here for others.

[2020-12-20 20:55] carrodher commented on #4796
Yes, you are right, when the support for initContainers was introduced in this PR #4658 there was something missing. I am creating a new PR to solve the issue. Once reviewed and merged it should appear in the next version, you can also replicate the change in your local.

[2020-12-21 02:14] dustinrue commented on #3700
I would also vote against static IPs tbh

[2020-12-21 02:17] drmy commented on #4713
Hi @javsalgar ,
Thanks for asking.
I tried to not apply the PeerAuthentication object, it still didn't work.

I am thinking that this may not be an issue of Redis supporting Istio, it could be an issue with Istio for supporting Redis.
Because I saw some posts said that Istio doesn't work well with supporting headless-service, StatefulSet on Redis, RabbitMQ, etc. when mTLS is enabled. (I tried to s

[2020-12-21 05:32] wantdrink commented on #4716
It seems that with the rewrite ingress, clicking login button will be redirected to ingre.localk8s.com/auth/register.
Now ingress cannot handle it since it doesn't recognize this path.

[2020-12-21 07:23] bharat15-ml opened #4799 "[bitnami/redis-cluster]Permission denied error for tls enabled redis-cluster deployment using redis helm chart 4.2.1?"
I have deployed redis-cluster with helm chart in kubernetes cluster..
I am using helm version - "v3.2.1"
And kubernetes version - "v1.18.2".

Have followed the below link for redis-cluster deployment- https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster

Using values-production.yaml file without any modifications works fine, and it deployed redis-cluster successfully.

Now I am expl

[2020-12-21 08:34] #4513 closed

[2020-12-21 10:14] 1993Saurabh opened #4800 "Issue while creating additional users using Helm chart on Azure Kubernetes Service"
Hi,
I am currently having an issue while creating the users using Helm charts and Azure Kubernetes Services who can login into the RabbitMQ management console.

I am using the load_definitions.json file to load it into the Kubernetes secret and then providing the file path to overrides file under extraConfiguration. Below is the content of both the files I am using currently to install the RabbitM

[2020-12-21 11:08] FraPazGal commented on #4553
Hi @AlessioCasco,

It seems you were interested in doing the PR. Do you still want to tackle it? I'll drop the `stale` label for now.

[2020-12-21 11:09] FraPazGal commented on #4787
Hello @siegfried01,

From what the link's guide explains, you need to add the `tolerations` and `nodeSelector` parameters in your `deployment/statefulSet`, is that right? You can do that changing the related parameters in `values.yaml` or by adding `--set primary/secondary.tolerations/nodeSelector` for our MySQL chart and `--set primary/readReplicas.tolerations/nodeSelector` for PostgreSQL.

[2020-12-21 12:04] FraPazGal commented on #3700
I agree with you both @daisysendermoon @dustinrue, as it is indeed an anti-kubernetes solution. That is why we haven't make the change and we are keeping it as a last-resort solution. We would test having a longer `initialDelaySeconds` like you suggested and create a PR if necessary. Thank you for your input!

[2020-12-21 12:16] FraPazGal commented on #4794
Hi @ysicing,

Thanks for reaching out! Currently, we don't have plans to include `Gitlab Runner` to our catalog, but we will discuss this internally for any possible changes mid/long-term.

[2020-12-21 12:41] dani8art commented on #4466
Hi @aditi-agarwal-tw we have been checking this and it seems both actions `initdb` and `resetdb` are performed in order to generate initials config files where we apply the corresponding overrides after. They are performed against an SQLlite database because at this point of the initialization logic there is no other database configured. After that, we remove the `db` generated file and configure

[2020-12-21 12:43] dani8art commented on #4465
Hi @Gefuxing any update on this?

[2020-12-21 12:58] dani8art commented on #4793
Hi @tbnguyen1407 thanks for your feedback I've created a PR to add this for zookeeper chart, let's move the conversation there, please.

[2020-12-21 13:49] daniel-mueller commented on #1732
It did work, thanks!

[2020-12-21 15:25] AlessioCasco commented on #4553
Hi @FraPazGal

Sorry about this but I had no time. I Will see if I can do in January.

[2020-12-21 16:03] dani8art commented on #4784
O yes! Thank you so much for the feedback!

[2020-12-21 16:11] marcosbc commented on #4788
Hi @siegfried01, unfortunately we don't have any chart that currently supports MSSQL, except for [Spring Cloud DataFlow](https://github.com/bitnami/charts/tree/master/bitnami/spring-cloud-dataflow).

Note that most of our application charts (i.e. WordPress) usually support only one of MariaDB/MySQL or PostgreSQL. My understanding is that Azure offers a service for those databases (Azure Database f

[2020-12-21 16:21] marcosbc commented on #4795
Hi @tbnguyen1407, thanks for the suggestion! Unfortunately we have a very limited bandwidth at this moment to make this change, but the [bitnami/charts](https://github.com/bitnami/charts/issues/4795) repo is open for contributions.

If you have some bandwidth and wish to contribute, feel free send a PR with this feature! We'd be glad to review and help with the release.

[2020-12-21 16:31] carrodher commented on #4664
Yes, the above nfs charts are the continuation of the deprecated stable ones so it is the proper chart to use in this context.

I am trying to reproduce the issue using more than one replicas, but I am not finding the described issue, I will continue doing more tests just in case.

[2020-12-21 16:45] carrodher commented on #4753
It's weird as the IP from the service should be correct in that case. Do you know if there is any kind of limitation regarding networking/connectivity at the cluster level?

Can you run some commands to check if there is something not configured as expected?
[code]

[2020-12-21 16:57] EArminjon opened #4805 "[bitnami/redis] Slave data directory not found"
**Which chart**:

I add the following chart as dependencies in my Chart.yaml
[code]

**Describe the bug**

Master have issue :
[code]

Slave cannot be created

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add chart to an existing chart as dependencies
2. Helm install
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of H

[2020-12-21 17:10] carrodher commented on #4773
It seems it is not using an installation from scratch since it is trying to restore previous data:
[code]
are the volumes empty?

The logic to check if there is something to restore or not can be found [here](https://github.com/bitnami/bitnami-docker-moodle/blob/b957e1964a2c178010868b3b58456cb1be7f2062/3/debian-10/rootfs/opt/bitnami/scripts/libmoodle.sh#L108) and [here](https://github.com/bitnami/

[2020-12-21 17:16] carrodher commented on #4393
It can be something related to the etcd quorum logic? For example:

Install the chart with 3 replicas and wait for them to be up:
[code]
Write some data (and check it's fine):
[code]
Upgrade chart scaling it down to 1 replica (important to indicate root password during the upgrade):
[code]
It seems the cluster is recovered if you scale to 2 replicas:
[code]
And.. that you can later scale it to 1 r

[2020-12-21 17:28] carrodher commented on #4791
In order to reproduce the issue and find the proper solution, can you share the exact parameters you are providing to the `helm install`/`helm template` command or the steps to reproduce the issue?

[2020-12-21 18:07] acim commented on #4791
If you look at the following snippet of https://github.com/bitnami/charts/blob/master/bitnami/wordpress/templates/ingress.yaml:

[code]
You can see that is uses serviceName and servicePort, but as kubectl explain from my post above shows, this should be:

[code]
So ingress.yaml from the chart can't produce ingress manifest compatible with networking.k8s.io/v1 without matter of the settings.

By th

[2020-12-22 02:24] paidaki commented on #4781
Hello, even installing with `arbiter.replicas` greater than `0` causes an error.

`helm install --namespace=mongodb --timeout=10m0s --values=/home/shell/helm/values-mongodb-sharded-3.2.5.yaml --version=3.2.5 --wait=true mongodb /home/shell/helm/mongodb-sharded-3.2.5.tgz`

`Error: template: mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml:72:19: executing "mongodb-sharded/templates/sh

[2020-12-22 02:30] cuza opened #4809 "[bitnami/postgresql-ha] slave nodes on reboot loop"
**Which chart**:

`bitnami/postgresql-ha:6.2.0`

**Describe the bug**

Slave nodes crashed and fail to start

[code]

The slave nodes keep restarting repeating the same logs

**To Reproduce**

Steps to reproduce the behaviour:

[code]

I restored my app database with no issues, I started my app and the liquibase migrations built into it ran which made one of the slave nodes fail and eventually all

[2020-12-22 03:03] echang0929 opened #4810 "[bitnami/spark] How to access Application Detail UI from remote kubectl client"
**Which chart**:
bitnami/spark

**Is your feature request related to a problem? Please describe.**
Not any problem, but it is necessary to monitor applications submitted to spark cluster

**Describe the solution you'd like**
We could access master and workers UI with kubectl port-forward command. But look like Application Detail UI use headless services. How could access them from client browser?

[2020-12-22 03:44] ysicing commented on #4794
Ok, thank you.

[2020-12-22 03:44] #4794 closed

[2020-12-22 06:47] shenqinb opened #4811 "[bitnami/zookeeper] readinessProbe and livenessProbe failed after enable Zookeeper TLS"
**Which chart**:
[bitnami/zookeeper]: 6.2.0

**Describe the bug**
After enabling Zookeeper TLS, the livenessProbe and readinessProbe failed, the zookeeper Pod keep READY=0/1, but the Pod is actually working which can be connected via zkCli.  currently it works well after I disable the livenessProbe and readinessProbe.

**Screen Shut for Pods status:**
![image](https://user-images.githubusercontent

[2020-12-22 08:24] nishit93-hub commented on #2668
@jc-lab,

I am facing same issue with mariadb-galera.

Two of my nodes got down, i have made them up.However facing issue with mariadb-galera

[Note] WSREP: gcomm: connecting to group 'galera', peer 'mariadb-galera-headless:'

2020-12-22  8:19:39 0 [ERROR] WSREP: failed to open gcomm backend connection: 131: No address to connect (FATAL)

	 at gcomm/src/gmcast.cpp:connect_precheck():311

2020-12-2

[2020-12-22 08:31] EArminjon commented on #4805
Fix first part of the error (user add permission denied)

In your values.yaml, on top :
[code]

[2020-12-22 08:41] EArminjon commented on #4805
Master error fixed when override my values.yaml with the following options :

[code]

Slave still won't work (/data not found...)

[2020-12-22 09:00] #4768 closed

[2020-12-22 09:56] #4782 closed

[2020-12-22 09:58] serg-bs commented on #4782
[code]
will resolve problem

[2020-12-22 10:23] #4796 closed

[2020-12-22 10:35] hern16 commented on #4765
It was a typo in the deployment template https://github.com/bitnami/charts/blob/master/bitnami/influxdb/templates/relay/deployment.yaml#L54

It sould be `/influxdb-relay` (hyphen) not `/influxdb_relay` (underscore)

You can patch with:

- **influx-relay-patch.yaml**
[code]

Then

`kubectl patch deploy my-release-influxdb-relay --namespace test --patch "$(cat influx-relay-patch.yaml)"`

[2020-12-22 10:59] SoloSynth1 commented on #4781
Hi,
This issue is caused by the flow control in `templates/shard/shard-arbiter-statefulset.yaml` evaluating a value `mongodb-sharded.name` which should be present when creating the arbiter container, but it is not. You can add it back in `templates/_helpers.tpl`:

#### templates/_helpers.tpl
[code]

This is included in the PR I just linked to this issue (#4812). Thanks.

[2020-12-22 11:00] FireFart commented on #4792
Image was updated

[2020-12-22 11:00] #4792 closed

[2020-12-22 11:00] dani8art commented on #4713
Hi I was doing some researches and it seems there could be some missing istio requirements that affect the service port name. Currently, we have it like

[code]

But it seems that it should be prefixed by the protocol like `http-redis` and `tcp-redis-sentinel` regarding this PR: https://github.com/bitnami/charts/pull/2286/files

Do you think it could work?

[2020-12-22 11:02] carrodher commented on #4800
Do you mean the credentials for the users defined in the load_definition or the default credentials set by `auth.password`?

There is a different way to create the load_definition without creating the secret manually. If needed, you can use `extraSecrets` to let the chart create the secret for you. This way, you don't need to manually create it before deploying a release. These secrets can also be

[2020-12-22 11:04] carrodher commented on #4791
Thanks for your explanation. I just created an internal task to fix the issue as there are several Helm Charts using the same ingress template. In the same way, we should keep the backward compatibility with previous k8s versions so it is something we need to check carefully. We will update the issue with more information.

[2020-12-22 11:21] carrodher commented on #4810
Are you able to follow the installation notes that are shown when the chart is installed the first time? You can see those instructions at any moment by running `kubectl get notes MY_RELEASE`, in those notes, you should see all the required steps to access the application. Are you missing any step in those notes or are you following them but there is any issue during the process?

[2020-12-22 11:51] VarroReve opened #4813 "[bitnami/fluentd] Not working on AWS EKS"
**Which chart**: bitnami/fluentd: 3.2.1
The name (and version) of the affected chart

**Describe the bug**
A clear and concise description of what the bug is.

Hi, I install fluentd through the command `helm install my-release bitnami/fluentd` to my local cluster(Kind, 1.19), it works fine.
But I use the same command install fluentd to my staging cluster(AWS EKS, 1.18), something went wrong with f

[2020-12-22 12:20] acim commented on #4791
Yes, I realised the dependency on the common chart and different implementations for different Kubernetes versions and this is why I decided not to provide a PR, which I often do. This time it will require more work, just like you said 😊 Thank you.

[2020-12-22 13:59] tbertenshaw commented on #4773
No. Essentially the installation was taking so long that the container was being restarted or some process was timing out. This is due the horrifically slow performance of the `azurefile` share.

I managed to get it to complete and "work" by changing the readiness probe `initialDelaySeconds:` to`60` verses `2400` So it essentially takes like an **`hour`** to install and be come usable. Now whilst

[2020-12-22 14:16] #4536 closed

[2020-12-22 14:18] alemorcuq commented on #4789
Hi, @VORUSRIK000.

Version `1.10.14` is now published in the repo. Keep in mind that there can be some delay in the repository compared to GitHub as we update the repositories several times during the day.

Regards,
Alejandro

[2020-12-22 14:56] CuBiC3D opened #4815 "[bitnami/metallb] Invalid service type for metrics"
**Which chart**:
bitnami/metallb

**Describe the bug**
The new `2.0.0` version does define metrics services with `type: None` which is not an option according to [docs](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types). Affected lines: [here](https://github.com/bitnami/charts/blob/00927f0a12eca8e6f9b9379fc6944d56a568dc49/bitnami/metallb/templates/c

[2020-12-22 15:23] EArminjon commented on #4805
Note:

With the following config and the deprecated chart https://github.com/helm/charts/tree/master/stable/redis, it works...

[code]

[2020-12-22 15:53] marcosbc commented on #4785
Hi @koehn, could you provide us with the output of the command you executed to import your DB?

We have found similar issues [in the past](https://github.com/bitnami/charts/issues/3555#issuecomment-684774085), due to issues with the number of active connections and would like to see if there is any related log line when executing that command.

That said, for now and as a workaround, have you trie

[2020-12-22 16:09] marcosbc commented on #4809
Hi @cuza, it seems like the [readiness/liveness probes](https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/values.yaml#L288) could be causing this issue. Have you tried to increase the timeout and see if that would help your use case?

[2020-12-22 16:25] #4463 closed

[2020-12-22 17:13] koehn commented on #4785
I doubt it's a connection-related issue; it doesn't happen when I run the same command but using the service of the master postgres instance.

I can certainly use `pg_dump` instead; this is a one-time migration. Just thought you'd be interested in working the error with another test case.

I added the `psql` output and a redacted beginning of the dump file to the bottom of [the snippet](https://gi

[2020-12-22 17:24] FraPazGal commented on #4716
Hello @wantdrink,

I got exactly the same result that you describe in your last comment. I looked into [Phabricator's documentation](https://secure.phabricator.com/book/phabricator/article/configuration_guide/) and it seems this feature is not supported

This was confirmed by Evan Priestley, Phabricator Lead, in an old [stackoverflow post](https://stackoverflow.com/questions/18720579/how-to-config

[2020-12-22 17:27] rafariossaa commented on #4134
Hi,
  @siegfried01 the initialization process for mysql and postgresql are different so it is not easy to compare both.
  Could you try what @yelhouti suggested ?.

[2020-12-22 17:33] #4537 closed

[2020-12-22 17:36] rafariossaa commented on #4474
Hi ,
  Any new on this ? Could you check it ?

[2020-12-22 17:36] rafariossaa commented on #4526
Hi @voipas ,
  Did you have the chance to check it ?

[2020-12-22 17:38] rafariossaa commented on #4535
Hi,
  Did you have the chance to check this ?

[2020-12-22 17:57] #4765 closed

[2020-12-22 17:57] rafariossaa commented on #4765
Hi,
  @hern16 thanks you very much for spotting this and sending a patch.
  @stefan-fast  Could you try the new chart version and see if it fixes the bug for you ?

[2020-12-22 18:03] rafariossaa commented on #4805
Hi,
  If you try to install it manually by running:
[code]
  Did you get any errors ?
  Which parameters are you setting for redis ? maybe there is some values missing or not correct there.

[2020-12-22 18:04] rafariossaa commented on #4781
Ok, let's wait until #4812 is merged.

[2020-12-22 18:20] EArminjon commented on #4805
Install :
[code]
[code]

[code]

[code]

[2020-12-22 18:55] rafariossaa commented on #4811
Hi,
  I am not sure but I think that zookeeper is not using the certs files and hence not starting in a TLS mode.
  Could you put a long liveness and readiness timeout and check that the certs files and in place and run the liveness command by hand ?.

[2020-12-22 18:55] #4578 closed

[2020-12-22 19:38] VORUSRIK000 commented on #4789
Thanks Alejandro for the update.
I updated the repo listing and checked the version that is reflecting. Still shows as 1.10.13. Attaching the image below FYR. I will try to run the refresh later in the day, assuming their might be some delay in reflecting on the repo. But let me know if I need run any specific step to reflect the latest.

![image](https://user-images.githubusercontent.com/12094673

[2020-12-22 21:09] OmriHarary opened #4818 "New chart request: MockServer"
[mock-server/mockserver](https://github.com/mock-server/mockserver) is an HTTP/S mock backend and proxy, and is one of the most starred mock-servers on Github.
While the MockServer project does provide a simple Helm chart, it does not entirely follow best practices and it is not available from a proper chart repo, both of which make it difficult to include in umbrella charts especially.

It would

[2020-12-22 21:11] berkayoz opened #4819 "[bitnami/redis] Redis with sentinel enabled can have separate masters"
**Which chart**:
bitnami/redis:12.2.4

**Describe the bug**
There can be seperate masters with varying slaves(usually none) when the statefulset is starting up or recovering from a failure with no pods running which results in master-slave sync failure. This also causes data loss upon failure/shutdown if `redis` service redirects to a master that has no slaves. Also redis user when cannot be creat

[2020-12-22 21:58] jgallucci32 opened #4821 "[bitnami/keycloak] cannot create directory '/opt/bitnami/keycloak/certs': Permission denied"
**Which chart**:
keycloak 1.1.4

**Describe the bug**
When deploying helm chart for Keycloak with TLS enabled, the keycloak pod fails to start with the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Enable TLS settings by configuring `answers.yaml` as follows
[code]
2. Deploy helm chart per instructions

**Expected behavior**
Keycloak deploys with custom TLS configur

[2020-12-22 22:17] jgallucci32 commented on #4821
I believe I have discovered the root cause. The default configuration for the chart is to enable security context as a non-root user
[code]
however, the directory `/opt/bitnami/keycloak` inside the container is owned by root
[code]
Two proposed solutions to fix this:
1. Run the container as root or disable security context altogether (not preferred)
2. Directly mount the kubernetes secret to `/opt

[2020-12-22 22:20] berkayoz opened #4822 "[bitnami/mongodb] Mongodb with metrics enabled fails readinessProbe and livenessProbe"
**Which chart**:
The name (and version) of the affected chart
bitnami/mongodb:10.3.2

**Describe the bug**
When enabling metrics the nodes fail to start since metrics server can't satisfy readinessProbe and/or livenessProbe. Issue seems to be caused by the `--test` flag that is removed in the mongo-exporter image.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy the chart with ` helm

[2020-12-22 22:47] clauney commented on #4795
@tbnguyen1407 it isn't graceful, but we've worked around this with a hacky thing that creates secrets for each broker from the same keystore file. You can just use whatever number you want as the top end so that you can expand # of brokers. This comes out of some scripts so there are env vars, but they should all be pretty obvious (DIST_KEYSTORE is the relative path to the common keystore file). T

[2020-12-22 23:47] CuBiC3D commented on #4815
Looks like it has been patched in #4808 after this issue and released in `2.0.1`. I'll close then.

[2020-12-22 23:47] #4815 closed

[2020-12-23 00:22] maxisam commented on #4705
so I created a test using C# https://github.com/maxisam/MongoDbConnectionTest It will create 7000ish connections and you can see the errors.  (I tested it with java drive and it fails around 7000 connection as well)

[2020-12-23 02:49] shenqinb commented on #4811
@rafariossaa thanks for your quick reply,
1. I have increased to 30s and 60s,  it still failed
2. I run the  thee command inside the Pod, it returned as expected.

[2020-12-23 04:54] wantdrink commented on #4716
Thank you @FraPazGal, I'll try to use ingress without redirect.

[2020-12-23 06:02] maxisam commented on #4705
https://github.com/maxisam/MongoDBTest/tree/master
I created a C# unit test project to test connection. Basically by changing the thread count, it can create more connections.
Base on my test, it still throws exception around 7000 connections. I tested it with a java drive and the result is the same. So I think it is more on server setup.

Another thing is, using this setup, all 7000 connections a

[2020-12-23 08:49] airmonitor opened #4825 "MariaDB ARM64 version"
**Which chart**:
mariadb

**Describe the solution you'd like**
Installing your version of nextcloud on my k8s cluster based on rpi 4 can succeed when using mariadb as a database :)

[2020-12-23 09:38] dealproc opened #4826 "[bitnami/mariadb] Using a new configuration fails with access denied 'root'@'localhost'"
**Which chart**:
bitnami/mariadb v9.1.4

**Describe the bug**
Attempting to deploy the chart on microk8s is failing with 'root'@'localhost' access denied.

I configured the values.yaml to use a secrets file to store the root-password, user-password, and replication-password

** Output **
[code]

Any ideas on what I may have done wrong?

[2020-12-23 10:02] davidmweber commented on #4737
I am still seeing this error with a completely cold start. Steps to reproduce:
[code]
This results in
[code]
The expected behaviour is a working psql shell.
Chart app version is 11.10.0

[2020-12-23 10:17] MarkLFT opened #4827 "pod/rabbitmq-0 remains in Pending state."
**Which chart**:
bitnami/rabbitmq latest version (download fresh today,

**Describe the bug**
I have followed the instructions https://docs.bitnami.com/kubernetes/infrastructure/rabbitmq/get-started/add-repo/, and all seemed to work fine until I get the deployments, pods, services.  The services seem fine, but the pod is in a pending state, and has been for more than an hour.

I tried to remove th

[2020-12-23 10:24] AdithyaYelloju opened #4828 "[bitnami/thanos] Storage Gateway of Thanos chart is Crashing and Status of the pod is CrashLoopBackOff"

[2020-12-23 10:51] rafariossaa commented on #4737
Hi,
   @davidmweber , did you delete the postgres PVC when you did the cold start ? My guess is that as data is persisted postgres is already set with a different password.

[2020-12-23 10:52] mrgasco commented on #4750
Yes i tried to changed them, but only
enabled, initialDelaySeconds, periodSeconds, failureThreshold, timeoutSeconds and  successThreshold seem to be overwritable. Not httpGet path and port.

[2020-12-23 10:59] rafariossaa commented on #4811
OK,
  I think that the problem is that the CA for the certificate is not included in the default CA certs.
  Could you run the following command ? I am interested in checking which CA is used.
[code]

It should return something similar to this other test:
[code]

[2020-12-23 11:06] #4822 closed

[2020-12-23 11:27] rafariossaa commented on #4818
Hi,
  Thank you very much for suggesting this.
  I will add it to the list, however I can not guarantee that it will be done nor when it could be made.

[2020-12-23 11:31] FraPazGal commented on #4773
AFAIK, there are no tests performed that used `azureFile` as pv internally and, from your results, it seems like the application takes a performance hit too great for it to be a viable solution. Thanks for sharing your investigation!

[2020-12-23 11:36] alexdor commented on #4791
@carrodher I've patched the ingress already by introducing a new value (called pathType) and keeping backwards compatibility.  These are the changes that I made on the http key of the ingress:

[code]

I didn't do a pr because you said that you want to handle it internally (hopefully the above should help), but let me know if you want me to open a pr, I'd be more than happy to do it :)

[2020-12-23 11:44] rafariossaa commented on #4541
Hi,
  You should stick to the version included in the values, some times a new release appears to fix something in the container and/or chart and they should be used together.
  @Lebed71 , @mammothbane , could you try this latest version ?

[2020-12-23 11:51] mrgasco opened #4829 "[bitnami/tomcat] updateStrategy not working as described"
Commets are incorrect in values.yaml
values can be overridden just as such

[code]

[2020-12-23 11:54] rafariossaa commented on #4789
Hi,
  This is published through our pipeline and we are currently having some issues in the testing stage.
  I am not sure this will be published today, but it will soon.

[2020-12-23 12:00] AdithyaYelloju commented on #4828
Please delete the issue. I found the problem with namespaces

[2020-12-23 12:35] leonidas-o opened #4830 "Could not connect to Redis at redis-cluster-0.redis-cluster-headless"
**Which chart**:
Chart: redis-cluster-4.2.1
App Version: 6.0.9
Running on CentOS 8, with Kubernetes 1.20.

**Describe the bug**
I've tried to install redis-cluster on a single node kubernetes cluster (taint on master removed). This results in `Error: failed post-install: timed out waiting for the condition`.
All redis-cluster Pods are `Running`, all PVC's are `Bound`.
`kubectl logs redis-cluster-c

[2020-12-23 12:45] marcosbc commented on #4799
Hi @bharat15-ml, I've tried to reproduce your issue but couldn't. It seems like you are mounting `/opt/bitnami/redis/etc/redis.conf` at some point, which is something the chart does not do, do you have more info on this? Also please share any other modifications to the values.yaml you did to be able to be of further help.

[2020-12-23 12:48] FraPazGal commented on #4825
Hello @airmonitor,

Currently, our containers do not support the arm64 architecture. We are aware of the growing interest in this architecture and there are ongoing internal discussions regarding a possible support for it, but there is no fixed decision yet.

There is not a simple way to support it. A possible way is to build the container on your own: get a Debian or any distro that supports arm6

[2020-12-23 13:08] tbertenshaw commented on #4773
I still have more investigations to do.

Are there any anecdotes of people using moodle on aks at scale? And if so do they use more than one container instance? If the data on disc (verses database) Is only changed when moodle is upgraded/installed. I could potentially create some bootstrap process that copies the file system files into a container on startup, verses multiple containers sharing th

[2020-12-23 13:11] marcosbc commented on #4813
Hi @VarroReve, it seems you are right, the default pattern is not universal and may need to be updated depending on what is enabled in your cluster and what you want to be logged. It may also be that the default pattern is not the best choice, if so, feel free to send a PR with an improved one.

For now, if you configure `path`, `exclude_path` and `expression` it should allow you to be more specif

[2020-12-23 13:30] franklin432 commented on #4705
@maxisam I have a user who will be requiring 10,000 concurrent connections using the bitnami/mongodb chart so I am interested in your post. I was doing some reading and I think you were right in setting the ulimit -n ( which is the number of open files).
Mongo Docs )https://docs.mongodb.com/manual/reference/ulimit/) recommends the following at least:
-f (file size): unlimited
-t (cpu time): unlimi

[2020-12-23 13:32] marcosbc commented on #4826
Hi @dealproc, it's because you have persisted data:

[code]

To avoid that issue, remove the PVC if it does not have any relevant data and re-deploy, it should start working. Or, just re-reploy with a different release name.

[2020-12-23 13:35] marcosbc commented on #4829
Hi @mrgasco, those are the correct options, see this for more info: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

Note sure what you mean by this though:

To specify a different value, just modify the values.yaml file, or deploy with the `--set updateStrategy=RollingUpdate` option. If you specify a wrong value, then the deployment will fail.

[2020-12-23 13:49] marcosbc commented on #4785
Sure, thanks for the additional info! I've just added this info to an internal board where we track issues affecting PostgreSQL HA chart, so we can do a deeper review once we have more time.

[2020-12-23 14:16] drmy commented on #4713
Hi @dani8art ,

Thank you for the info. I havn't got a chance to test with the PR changes but I remembered that I ever made a similar try of code changes to the charts before -- rename the port name from "redis" to "tcp-redis" -- I wished Istio to select TCP protol for redis rather than the "redis protocol" that is supposed to be used only in the redis-cluster mode? I am not sure but my that test

[2020-12-23 14:34] acim commented on #4791
If you look at [ingress.yaml](https://github.com/bitnami/charts/blob/master/bitnami/wordpress/templates/ingress.yaml), they use common.capabilities.ingress.apiVersion which comes from [common chart](https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_capabilities.tpl) (dependency) and it is defined like this:

[code]
So, it is possible to find out the correct solution just by u

[2020-12-23 14:51] alexdor commented on #4791
I think you misunderstood the place of the new variable, the new variable is the prefixtype, it has nothing to do with the code you send above, it's used on the key `pathType` not in the if. You read see more about pathType [here](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types)

I saw that they are using `common.capabilities.ingress.apiVersion` I just thought that usin

[2020-12-23 15:04] acim commented on #4791
Oh I see that you are actually using this capability, I didn't read the whole code. OK, looks good and I agree about the pathType, this should be configurablea. However, if I understood correctly, they want to patch all ingress files (in all charts).

[2020-12-23 15:33] maxisam commented on #4705
@franklin432 Thanks for your suggestion. I will go through the article you mentioned.

I know MongoDB should be able to support over 7000. But what I am not sure is MongoS. And in my test, this setup doesn't even work properly with 5000 threads. It will throw a different error but seems like not a connection issue. I think it only can support 2000 threads trying  (I haven't found the exact number)

[2020-12-23 16:04] marcosbc commented on #4732
Sorry for the late response, due to winter holidays things are a bit slower than usual.

Note that the official NGINX Ingress Controller chart is doing exactly the same ([link](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/clusterrole.yaml#L1), so if you're able to identify an improvement, we'd suggest to send a PR and get it merged there beforehand.
Note t

[2020-12-23 17:17] #4781 closed

[2020-12-23 17:24] FraPazGal commented on #4821
Hello @jgallucci32,

Thank you for bringing this up and for your suggestions! I have been able to reproduce the issue and this can indeed be solved by running as root, though not recommended.

I would say that is indeed the use case for having independent keystores, but I'm reticent to remove that funcionality even if niche. Another solution could be to have the `/certs` folder created at containe

[2020-12-23 17:27] dealproc commented on #4826
I thought that as well.  So, I went back and killed off the pvc, deleted the data on the NFS volume, and re-executed (both with the same name, and with a new name for the deployment).  I had the same result.  I removed the ALLOW_EMPTY_PASSWORDS setting, re-deployed, and had the same issue.

This deployment is to support ERPNext in a QA environment.  I have limited hardware resources, or I would no

[2020-12-23 18:15] dealproc commented on #4826
I should probably also mention the command I'm using to kick-off the deployment:

`microk8s helm3 install mariadb bitnami/mariadb -f mariadb-values.yaml `

[2020-12-23 18:48] #4789 closed

[2020-12-23 18:49] VORUSRIK000 commented on #4789
As suggested, will try to refresh later in the week assuming it would get deployed to repo post testing.

[2020-12-23 21:26] Majen opened #4833 "[bitnami/postgresql-ha] repmgr password disclosure in logfile"
**Which chart**:
`bitnami/postgresql-ha:6.0.0`

**Describe the bug**
The repmgr password is disclosed in plaintext in the postgresql pod logs if a node goes down.

    [2020-12-08 15:14:52] [WARNING] unable to ping "user=repmgr password=<plaintext_password> host=postgresql-ha-postgresql-0.postgresql-ha-postgresql-headless.my-dev.svc.cluster.local dbname=repmgr port=5432 connect_timeout=5"
    [202

[2020-12-23 21:30] dealproc commented on #4826
I've been looking into the problem a little more, and I've pulled `latest` from the releases as of 12/23/2020, and looking at the logs, I see this:

[code]
Not sure if this gives further insights or not.

[2020-12-23 22:52] mrgasco commented on #4750
this issue is a duplicate of issues #4829. this issue can be closed.

[2020-12-23 22:52] #4750 closed

[2020-12-23 22:52] mrgasco commented on #4829
The issue is: master branch is not showing actual values.yaml that is located on bitnami/tomcat!
I have done helm pull bitnami/tomcat and compared with values.yaml on bitami tomcat master branch and values.yaml are not the same. Is this your purpose choise? Is this explained in documentation?

[2020-12-24 02:16] shenqinb commented on #4811
@rafariossaa Hi, we are using self-signed CA, below are the output of the command:
[code]

[2020-12-24 07:56] davidmweber commented on #4737
Ah! Not too bright of me.... Thanks for the quick response and the awesome charts!

[2020-12-24 10:16] dani8art commented on #4705
Hi, it is just an idea, could it be caused by some of the proxies or artifact used to expose the pods to outside the cluster? how are you exposing the service?

Could you make a test just deploying it using docker and port mapping? you could use this docker-compose file making some modifications https://github.com/bitnami/bitnami-docker-mongodb-sharded/blob/master/docker-compose-multiple-shards.ym

[2020-12-24 10:19] #4828 closed

[2020-12-24 10:26] dani8art commented on #4713
Could you try to give a try to these changes, please? if no, we can evaluate the differences between our chart and the manifest you shared.

https://github.com/zhaohuabing/istio-redis-culster

Thanks!

[2020-12-24 11:34] FraPazGal commented on #4833
Hello @Majen,

Looking into the `values.yaml` file, we have the parameter `usePasswordFile` to avoid passing the password by an ENV. Would that work for you?

[2020-12-24 11:53] drmy commented on #4713
Absolutely, that is what I am going to try. I will let you know my test result.
Thank you @dani8art .

[2020-12-24 13:14] FraPazGal commented on #4821
Hi @jgallucci32,

We have opened an internal task to address both this issue and the one you found testing our container https://github.com/bitnami/bitnami-docker-keycloak/issues/2. Like my colleague told you, although our workload right now won't permit us to work on this, we are always happy to review and include user's additions! Thank you for your understanding.

[2020-12-24 13:17] marcosbc commented on #4819
I see you sent a PR fixing, thanks for contributing! So this issue will be closed automatically once it is merged.

[2020-12-24 13:22] marcosbc commented on #4827
Hi @MarkLFT, there could be many reasons for that, i.e. not having enough resources in your cluster.

I'd recommend you to run `kubectl describe pod PODNAME` and `kubectl describe statefulset STATEFULSETNAME`, as it may show more information as to why they are stuck in PENDING state.

[2020-12-24 13:29] marcosbc commented on #4826
Hi @dealproc, the last log you shared (contains "Configuring root user credentials") is from a run without persisted data, while the previous one you shared (contains "Using persisted data") is from a run with persisted data, both are opposite cases.

In any case, I see this;

[code]

I think the problem you're facing, is that the secret containing the DB password ends in a newline. If you re-crea

[2020-12-24 13:34] marcosbc commented on #4829
Hi @mrgasco, unfortunately I could not reproduce your issue:

[code]

It could be that you have not updated your Helm chart repo, to do this run the below command:

[code]

[2020-12-24 13:34] flmmartins commented on #4805
Hello,

After spending a great deal of time in this I was able to solve this like this:
* Delete all PVC and PV that you created - let the helm chart created for you

For some reason if I created the PV and PVC myself I end up with the issue above even with the simplest pv configuration.

I also tried to create the PV myself and adding the following **which didn't work**:
[code]

I also tried comb

[2020-12-24 13:41] EArminjon commented on #4805
@flmmartins

Note : You used redis-cluster chart where I used only redis chart.

In my environment I can't manage pv but only pvc. I obviously deleted all pvc for my tests before posting this issue.

What is the requirement for pv ? I will transmit requirement to the right person in my case.

[2020-12-24 13:53] FraPazGal commented on #4773
I'm not aware of any large-scale deployments of this chart, though I haven't worked with Moodle extensively. That said, with a use case of having to support around 2k students in total, the maximum concurrent number of users should be fairly lower, right? Does having only one `pv` become a bottleneck in your testing?

[2020-12-24 13:58] tbertenshaw commented on #4773
well means can only have one pod. So couldn't spread load for performance and availability using HPA. Would expect node upgrades etc to potentially cause temporary downtime also. Additionally means would need to pre vertically scale the node types as horizontal scaling wouldnt be supported. So would need to run overscaled in order to support potential peak periods.

[2020-12-24 16:35] mammothbane commented on #4541
For debugging purposes, I was using `rabbitmqctl authenticate_user` from within the container, but other services in our cluster were connecting using the [golang client](https://github.com/streadway/amqp) and also had their connections rejected for bad credentials.

I see. It is working for us at the moment with the overridden `image.tag`, and I can't make going back and testing this a priority &

[2020-12-24 17:59] stefan-fast commented on #4765
Yes, that fixed the issue :)
Thanks @hern16 and @rafariossaa for the quick fix and release!

[2020-12-24 18:17] jgallucci32 commented on #4821
Thanks @FraPazGal and @marcosbc for confirming the issue. I should be able to work a PR on this as I have uncovered a few other related issues (such as incorrect env vars in the config maps) and been able to get it partially working.

Before I go down this route, I wanted to get some feedback on Keycloak 12.x switching to Quarkus and if fixing these issues would be worth the effort. Given these co

[2020-12-24 19:29] Lagri opened #4834 "[Bitnami/Kafka] Implementing SASL_PLAINTEXT"
Hi. I want to enable ACL authentication and authorization in kafka. So that user _bob_ cannot consume messages in the _test_ topic. These are the steps I passed:
1) Install zookeeper
`helm install zookeeper bitnami/zookeeper --namespace myzoo --set replicaCount=3 --set persistence.size=30Gi --set persistence.dataLogDir.size=30Gi`

2) Install kafka:
`helm install kafka bitnami/kafka --set zookeeper

[2020-12-24 23:26] vsanjay85 commented on #4691
Thanks @dani8art , that helped.

I already had an initContainer to fix the directory permissions for user:group '1001'. This is what it now looks like:

[code]
It would be great if the wordpress initializing script did the check for initializations by itself. However, I'm not sure if/how feasible that is.

[2020-12-24 23:42] dealproc commented on #4826
I did the configuration WITHOUT retained storage in the hopes that it may have shown me something different.

I'll put the file(s) through a binary editor and see if I can find any CR or LF characters and will report back.

If you do not hear from me before, enjoy the holiday.

Thanks for your help with this.

[2020-12-25 11:13] mrgasco commented on #4829
You were right, sorry i did not update the chart. I close the issue Thanks

[2020-12-25 11:13] #4829 closed

[2020-12-25 12:12] #4403 closed

[2020-12-25 12:12] #4252 closed

[2020-12-25 12:12] #4149 closed

[2020-12-25 12:12] #4452 closed

[2020-12-25 12:12] #4419 closed

[2020-12-25 12:12] #4336 closed

[2020-12-25 12:12] #4381 closed

[2020-12-25 12:12] #4182 closed

[2020-12-25 12:12] #4486 closed

[2020-12-25 12:12] #4440 closed

[2020-12-25 12:12] #4446 closed

[2020-12-25 12:12] #4226 closed

[2020-12-25 13:12] #4530 closed

[2020-12-25 13:12] #4467 closed

[2020-12-25 13:12] #4564 closed

[2020-12-25 13:12] #4457 closed

[2020-12-25 13:12] #4552 closed

[2020-12-25 13:12] #4166 closed

[2020-12-25 13:12] #4576 closed

[2020-12-25 13:12] #3943 closed

[2020-12-25 13:12] #4306 closed

[2020-12-25 13:16] #4641 closed

[2020-12-25 13:28] #4813 closed

[2020-12-25 16:48] #4793 closed

[2020-12-25 20:06] raphaelquati commented on #4541
I have the same problem installing the chart version 7.5.8 (uses the image rabbitmq:3.8.6-debian-10-r0)
I'm confirm that default_pass = CHANGEME after helm creation.

[2020-12-25 22:36] srfaytkn commented on #3743
Any progress?

[2020-12-26 05:37] maxisam commented on #4705
@dani8art no, I don't think so. I got error messages from mongos. Actually I am about to test that way too. I was post after.

[2020-12-26 08:48] kagaya85 commented on #946
Hi, I meet the same problems, and I use `--set master.persistence.enabled=false --set data.persistence.enabled=false`, everytings seems goes well.

But when I enable persistence, I got this error in elasticsearch-master log:

[code]

I am using CentOS Linux 7 virtualized by VMware Virtual Platform, I would like to know why this happened and appreciate it if anyone could provide some ideas.

[code]

[2020-12-27 00:36] sb1975 opened #4837 "[bitnami/thanos] Error installing thanos charts"
**Which chart**:
thanos

**Describe the bug**

Below pods stay in Crashloopbackoff
 `$ kubectl get pods
NAME                                     READY   STATUS             RESTARTS   AGE
grafana-5856ddf954-2vnb4                 1/1     Running            0          15m
thanos-bucketweb-697dc5bf84-7c5qr        1/1     Running            0          16m
thanos-compactor-6c5499cb64-kqc9s        0/1

[2020-12-27 14:01] jjangga0214 opened #4838 "Introduce Tempo chart"
[Tempo](https://github.com/grafana/tempo) is an open-source distributed tracing backend, recently announced by Grafana.

I think it'd be good if its chart is introduced.

Reference chart is implemented [here](https://github.com/grafana/tempo/tree/master/operations/helm) with separate [example docs](https://github.com/grafana/tempo/tree/master/example/helm).

How do you think?

Thanks.

[2020-12-27 18:37] maxisam commented on #4705
So I tested it with WSL2 (ubuntu 20) by using 4.4 from https://github.com/bitnami/bitnami-docker-mongodb-sharded. Everything works.
ulimit is the default value

-t: cpu time (seconds)              unlimited
-f: file size (blocks)              unlimited
-d: data seg size (kbytes)          unlimited
-s: stack size (kbytes)             8192
-c: core file size (blocks)         0
-m: resident set size

[2020-12-27 19:15] beltran-rubo commented on #4838
Thanks for your suggestion! We will check it internally and evaluate the feasibility but due to limited resources that could take some time. Any contributions to this repository will be also welcome.

[2020-12-27 22:02] echang0929 commented on #4810
Thank you, @carrodher .
[code]

As you see, this note does not contain information how to access Web UI of the cluster.

[2020-12-28 06:39] singhbharat commented on #4799
Haven't made much changes in values-production.yaml except for TLS section, password, and storageClass.

One more thing, when I have made below changes to instead of running as 1001 user to root user (0) in the values-production.yaml file

    podSecurityContext:
      enabled: true
      fsGroup: 0
      runAsUser: 0
And also made changes for

    containerSecurityContext:
      enabled: true

[2020-12-28 07:21] floek opened #4839 "Using wildcards in Wordpress ingress configuration: YAML parse error on wordpress/templates/ingress.yaml"
**Which chart**:
wordpress 10.1.5

**Describe the bug**
When I add a wildcard entry like "*.domain.tld" to ingress.extraHosts I get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. add a domain with a wildcard to  ingress.extraHosts

**Expected behavior**
I want to configure a subdomain multisite installation and need to use wildcard subdomains with cert_manager D

[2020-12-28 07:49] bharat15-ml commented on #4799
Haven't made much changes in values-production.yaml except for TLS section, password, and storageClass.

After the deployment after logging to running pod inside the container can see that "/opt/bitnami/redis/etc/redis.conf file got created.. I guess this should be logic written for docker image-

![IMG_20201228_131336](https://user-images.githubusercontent.com/76279928/103198521-8a160200-490e-11e

[2020-12-28 08:32] echang0929 commented on #4810
I found, however, you could get an internal link to the application submitted on Spark master WebUI, which is based on headless service of this cluster and a pod name with port 4040. Then you could port-forward it via:
[code]
Then you could access this Spark application WebUI .

[2020-12-28 08:32] #4810 closed

[2020-12-28 08:50] marcosbc commented on #4033
Hi all, this is all expected because when you specify `load-definitions`, the password for the admin user cannot be changed in a secure way, so that step is skipped during the initialization.

Recently we implemented support for a new `RABBITMQ_SECURE_PASSWORD` environment variable to workaround this. If you set `RABBITMQ_SECURE_PASSWORD=no` via the chart's `extraEnvVars` parameters you can config

[2020-12-28 09:13] jjangga0214 commented on #3911
I surely think the support for the helm chart option is needed.

I am evaluating [OpenTelemetry Collector](https://github.com/open-telemetry/opentelemetry-collector).
It can be configured to export metrics by Prometheus remote write feature.
In this case, Thanos's receiver feature would be one of the good solutions.

Hope this is implemented soon!

[2020-12-28 09:44] jjangga0214 commented on #3490
@juan131
Should this issue be closed?

[2020-12-28 09:46] javsalgar commented on #4821
Hi,

Currently, we are using the server bundled by default in the keycloak tarball. That means that, the moment they switch to Quarkus, we'll work on adapting it immediately. We have internal SLAs for the differen types of assets. When it is a major version, we expect to deliver it during the weeks after it is generally available.

[2020-12-28 09:50] thanhtai9606 opened #4840 "redmine with helm ingress error"
**Which chart**:
The name (and version) of the affected chart

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of Helm and Kubernetes**:

- Output of `he

[2020-12-28 09:57] #4064 closed

[2020-12-28 09:59] javsalgar commented on #4705
Thanks for sharing your feedback. Let's see if someone else can provide more information about their k8s environment.

[2020-12-28 10:05] javsalgar commented on #3911
Hi,

Thanks for the feedback! Right now it is in our backlog, but as soon as we have more news we will update the ticket.

[2020-12-28 10:08] javsalgar commented on #4837
Hi,

I was unable to reproduce the issue. Could you specify the values you used for installing the chart?

[2020-12-28 10:14] javsalgar commented on #4541
Hi,

I was unable to reproduce it

[code]

[2020-12-28 10:20] T-Grave opened #4841 "[bitnami/metallb] Cannot set Tolerations for speaker"
The `values.yml` file documents the key `speaker.tolerations` but the templates don't actually use this value.

When I try to set it, I get the following error:
[code]

[2020-12-28 10:26] VincentPost-TomTom commented on #4375
Could this issue please receive the label on-hold to exempt this issue form the stale bot.

[2020-12-28 10:40] rafariossaa commented on #4805
Hi @flmmartins,
  Thank you very much for sharing your findings. I hope @EArminjon is also able to solve his issue with the information you provided.

[2020-12-28 10:43] rafariossaa commented on #4791
Hi,
  Thanks for sharing your comments.

[2020-12-28 10:45] marcosbc commented on #3490
@jjangga0214 You're right, thanks for checking that! Closing now.

[2020-12-28 10:45] #3490 closed

[2020-12-28 10:49] jjangga0214 opened #4843 "[bitnami/kube-prometheus] `additionalScrapeConfigs` for direct config provision."
**Which chart**:
bitnami/kube-prometheus

**Is your feature request related to a problem? Please describe.**
`additionalScrapeConfigsExternal` enforces creating an additional secret. This is cumbersome.

**Describe the solution you'd like**
Enable directly writing scrape config.
For instance, [prometheus-community/kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main

[2020-12-28 10:53] rafariossaa commented on #4811
HI,
  Thanks for sharing.
  The issue is that the `openssl` command in the tests is failing because it can not find the CA for the certificate.
  I am opening a internal task to look for a fix for this.

[2020-12-28 11:05] rafariossaa commented on #4691
Hi @vsanjay85 ,
  Thanks for sharing your fix.
  I am opening an internal task to look for a fix for this.

[2020-12-28 11:11] rafariossaa commented on #3743
Hi,
  I am sorry, this task stills in our backlog.

[2020-12-28 11:17] flmmartins commented on #4805
@EArminjon I am not sure what are the requirements for me it simply created a Dynamic Volume in my cloud provider.

I noticed that for a simple redis (not redis-cluster) case the documentation of Volumes and the options are much more flexible. If you cannot create a PV I would try creating a PVC and the use the `persistence.existingClaim`

Also in the documentation https://artifacthub.io/packages/

[2020-12-28 12:59] alemorcuq commented on #946
This looks like an issue with your persistent volume:

[code]

What kind of persistent volumes are you using? Have you tried the `volumePermissions` settings? (see: https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch#adjust-permissions-of-persistent-volume-mountpoint)

[2020-12-28 13:38] marcosbc commented on #4834
Hi @Lagri, thanks for the details. It looks like you are missing `authorizer.class.name` in your Kafka `server.properties` file. You can fix that by setting these options when deploying Kafka:

    --set 'extraEnvVars[0].name=KAFKA_CFG_AUTHORIZER_CLASS_NAME' --set 'extraEnvVars[0].value=kafka.security.auth.SimpleAclAuthorizer'

I understand this is not the best approach, as there would ideally be

[2020-12-28 14:00] kagaya85 commented on #946
@alemorcuq Thank you for your reply

I am using the persistent volumes defined by myself, using like `kubectl apply -f local-pv.yaml`

I tried to set `volumePermissions` to true, but the init container also failed to start with exit code 1
[code]

In additon that I also meet this 'read-only file system' error in using `bitnami/kibana` to start a kibana service, I opend a [discussion](https://githu

[2020-12-28 14:24] bharat15-ml commented on #4799
Hi @**marcosbc**  after deleting all older PV and PVC for a particular storageClass this issue is resolved.. Have tested the selfsigned ssl certificates, working fine..

One more thing wanted to know, how to enable redis-cluster logs??

As, per documentation it is mentioned it should be written to "/opt/bitnami/redis/logs/redis.log"..

Currently logs are disabled, how can I enable this?? Haven't f

[2020-12-28 15:38] alemorcuq commented on #4839
Hi, @floek. Thanks for reporting this. I've created #4844, that should fix the issue.

[2020-12-28 18:18] Cirrith commented on #4710
@alemorcuq Got the error again locally, in hindsight it should have obvious, looks like when I uninstalled the helm chart it left the PVs around so when I redeployed it the old password was still present in the file system. I don't know if this is the same problem or even an issue.

[2020-12-28 19:16] mattcg opened #4845 "[bitnami/discourse] sendmail not present"
**Which chart**:

discourse chart 2.0.3

**Describe the bug**

Scheduled emails are marked as sent in Discourse's own logs but are never delivered. Looking at the log viewer in `/logs/`, I can see `Job exception: Broken pipe` around the time the emails were supposed to be sent. The last line of the stack trace is `/opt/bitnami/discourse-sidekiq/vendor/bundle/ruby/2.6.0/gems/mail-2.7.1/lib/mail/net

[2020-12-28 19:16] mattcg commented on #4845
This same issue was previously raised in a comment on another issue: https://github.com/bitnami/charts/issues/3035#issuecomment-659222087.

[2020-12-28 22:55] bl-ue opened #4846 "Rocket.Chat chart?"
How about adding a chart for [Rocket.Chat](https://github.com/RocketChat/Rocket.Chat)?  It's a minimal chat server, and it should be simple to add a chart for.

[2020-12-29 03:47] ethernoy opened #4847 "[bitnami/minio] support default bucket in distributed mode;"
**Which chart**:
Minio (latest)

**Is your feature request related to a problem? Please describe.**
Minio in distributed chart cannot create default bucket.

**Describe the solution you'd like**
Apply default bucket config even when in distributed mode.

**Describe alternatives you've considered**
A documentation about creating default bucket in other mean in distributed mode.

[2020-12-29 05:36] Doreamans opened #4848 "bitnami/elasticsearch"
chart:13.05
elasticsearch

**Is your feature request related to a problem? Please describe.**
I use this chart to deploy a cluster of es+kibana,and i add   xpack.security.enabled: true  ,but it doesn't work.I don't know how to make it work.
Can you give me some help?
Thanks!

[2020-12-29 08:34] #4841 closed

[2020-12-29 08:40] javsalgar commented on #4846
Hi,

Thank you very much for the suggestion. I will forward the team for evaluation. In order to package such chart, we would need first to create the container and then the chart. Other users have contributed with a PR (examples: MetalLB, ASP.net, Grafana Operator, kubernetes-event-exporter...)following our chart guidelines, and while we reviewed it, we packaged the container. If you want to cont

[2020-12-29 10:55] javsalgar commented on #4791
Hi, could you please check this PR? It tries to address the issue https://github.com/bitnami/charts/pull/4850

[2020-12-29 10:56] javsalgar commented on #4840
Hi,

Could you please check this PR? It tries to address the issues using our common library https://github.com/bitnami/charts/pull/4850

[2020-12-29 11:49] kevin96666 opened #4851 "[bitnami/nginx-ingress-controller] Searching IngressClass is forbidden"
**Which chart**:
bitnami/nginx-ingress-controller:7.0.6

**Describe the bug**
nginx-ingress-controller pod can't search for ingressclass

Searching IngressClass" err="ingressclasses.networking.k8s.io "nginx" is forbidden.

**To Reproduce**
1. Install the chart
2. See error in the nginx-ingress-controller pod logs

**Expected behavior**
User "system:serviceaccount:default:nginx-ingress-controller"

[2020-12-29 14:28] acim commented on #4791
Works perfectly, thank you very much :)

[2020-12-29 15:03] floek commented on #2046
Same issue here on bare metal with glusterfs. How do I enable this volumePermissions container with  initContainers?

[2020-12-29 15:26] floek commented on #2046
Okay, setting these values worked in my case:
[code]

[2020-12-29 15:40] marcosbc commented on #4843
Hi @jjangga0214, thanks for the suggestion! I agree this is something that would make sense to implement.

However, we currently have very limited bandwidth. However, we're happy to accept external contributions to the chart with this feature, if you're open to it feel free to send a PR! We'd be glad to review and help with the release.

[2020-12-29 15:49] marcosbc commented on #4799
You can get Redis Cluster logs via "kubectl logs", i.e. if the release name is `my-release`:

[code]

[2020-12-29 16:40] bharat15-ml commented on #4799
Thanks **marcosbc**!! This means, logs not required for redis-cluster booting process?? Agree to close this incidence...

[2020-12-29 16:41] marcosbc commented on #4847
Hi @ethernoy, it seems like the only reason it's missing is because we're defining `MINIO_DEFAULT_BUCKETS` in `templates/deployment-standalone.yaml` but not `templates/statefulset.yaml`. It was added in 0208d979bdd6cd43be946c0f4e7c03b05fa1e508.

If this is a feature you'd like to see, feel free to send a PR implementing the required changes, we'd be happy to help with the review and release of the

[2020-12-29 16:42] alemorcuq commented on #4845
Hi, @mattcg. Did you configure SMTP in the Sidekiq as well?

[2020-12-29 16:52] mattcg commented on #4845
hi Ale, this is what I have in my values YAML for discourse:
![image](https://user-images.githubusercontent.com/282964/103299936-00456200-49fe-11eb-8c89-36744b178160.png)
Scrolling down further, this is the sidekiq section:
![image](https://user-images.githubusercontent.com/282964/103299972-17844f80-49fe-11eb-93c7-16970fa2d139.png)
When I `cat /opt/bitnami/discourse/conf/discourse.conf` in the dis

[2020-12-29 16:52] rafariossaa commented on #4830
Hi,
  Can you show the status of the pods, svcs and pvc?
[code]

[2020-12-29 16:55] alemorcuq commented on #4845
According to the documentantion of the `bitnami/discourse` container (https://github.com/bitnami/bitnami-docker-discourse#smtp-configuration), you need to set the SMTP variables for both `discourse` and `discourse-sidekiq`.

[2020-12-29 16:59] mattcg commented on #4845
Thanks for pointing that out. Done. I'll report back on whether this works or not before closing the issue.

[2020-12-29 17:06] leonidas-o commented on #4830
@rafariossaa yes sure, here:

[code]

[2020-12-29 17:10] alemorcuq commented on #4710
I think you are right and that is why you got the error. Everything is fine after deleting the PVs, right?

[2020-12-29 17:14] hhy5861 opened #4854 "postgresql template "common.names.fullname" not defined"
Error: render error in "postgresql/templates/svc.yaml": template: postgresql/templates/svc.yaml:10:20: executing "postgresql/templates/svc.yaml" at <{{template "common.names.fullname" .}}>: template "common.names.fullname" not defined

[2020-12-29 17:21] rafariossaa commented on #4848
Hi,
  Could take a look to https://github.com/bitnami/charts/issues/3208 ?

[2020-12-29 17:30] rafariossaa commented on #4455
I have created an internal task to analyze this request and how it would affect the charts

[2020-12-29 17:39] mattcg commented on #4845
That did it! Thank you.

[2020-12-29 17:39] #4845 closed

[2020-12-29 18:33] Cirrith commented on #4710
Yes, after deleting the PV everything deploys fine.

[2020-12-29 19:20] DanTulovsky opened #4855 "Possible to set log_format in the nginx helm chart?"
Hi,

In the nginx helm chart, is it possible to change the log_format option?  I specifically would like to use [this](https://grafana.com/grafana/dashboards/12559), but, as a general question, it's not clear how I would change the generated nginx config.  Is serverBlock the right place to do it? is there an example somewhere?

Thank you
Dan

P.S. My config is very straight forward, the following

[2020-12-29 21:28] DanTulovsky commented on #4855
A few hours later after learning some things... the answer is yes, I just need to add the following.

Of course now there are two server blocks, but, since it's working, I assume nginx simply merges them together...

serverBlock: |-
  # access_log off;
  log_format json_analytics escape=json '{'
                              '"msec": "$msec", ' # request unixtime in seconds with a milliseconds res

[2020-12-29 21:28] #4855 closed

[2020-12-29 23:14] DanTulovsky opened #4857 "[bitnami/nginx] Add geoIP module to nginx"
**Which chart**: nginx

**Is your feature request related to a problem? No

**Describe the solution you'd like**
nginx populates the geoip_country_code variable.

**Additional context**

I am looking for a way to add the https://docs.nginx.com/nginx/admin-guide/dynamic-modules/geoip2/ module into the nginx helm chart. Is this possible?   One way I guess is to create my own nginx image and override

[2020-12-30 01:07] Doreamans commented on #4848
OK. Thanks !

[2020-12-30 01:07] #4848 closed

[2020-12-30 05:20] #4854 closed

[2020-12-30 08:56] marcosbc commented on #4857
Hi @DanTulovsky, GeoIP is already included in `bitnami/nginx`:

[code]

In `/opt/bitnami/nginx/modules/` you will find these files:

[code]

And to enable it, you would add something like `load_module modules/ngx_http_geoip2_module.so;` to your `nginx.conf` configuration.

Hope it helps!

[2020-12-30 09:05] marcosbc commented on #4799
That is correct, those Redis Server logs are not required for the booting process. Closing this issue.

[2020-12-30 09:05] #4799 closed

[2020-12-30 10:10] #4839 closed

[2020-12-30 11:39] #4791 closed

[2020-12-30 14:25] kkosewski commented on #4077
Hello,
any progress on solving this issue? We are facing exactly the same problem in our dual stack environment.
Regards,
KK

[2020-12-30 15:32] DanTulovsky commented on #4857
Thank you.  It doesn't seem to be possible to add the load statement using the bitnami helm chart though. The docs say:

"To load the module into NGINX Plus, add the load_module directive in the top‑level (main) context of your nginx.conf configuration file (not within the http or stream context):"

server_blocks are included inside the http {} stanza.  Is there a way, using the helm chart, to add

[2020-12-30 16:20] marcosbc commented on #4857
You could always try and mount the `nginx.conf` configuration file using [`extraVolumes`/`extraVolumeMounts`](https://github.com/bitnami/charts/blob/master/bitnami/nginx/values.yaml#L285).

[2020-12-30 17:25] GytisT opened #4862 "[bitnami/postgresql-ha] pgpool child processes exit with status 256, keep on respawning."
**Which chart**:
postgresql-ha, chart version 6.3.3

**Describe the bug**
Shortly after installing the chart using default values, child processes of pgpool keep on respawning every few / several seconds after exiting with status 256
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. Install chart using default values
2. Check pgpool pod logs using kubectl

**Expected behavior**
Child pr

[2020-12-30 17:45] DanTulovsky commented on #4857
Yes, I was considering that.. just wondering if I am missing something simple.. perhaps the chart can be improved to allow setting arbitrary values at the top level as wel...

On Wed, Dec 30, 2020, at 11:20 AM, Marcos Bjoerkelund wrote:

[2020-12-30 18:17] dealproc commented on #4826
Seem to have overcome the issue.  From what I can discern, I should not have pulled the yaml "values" file from the project and edited it.  I should have created a new yaml file with only those elements that I needed to alter.  Once I adjusted to this, everything came online as expected.  I'm not 100% on using NFS mounts for the database, but for now, with limited hardware, it'll suffice.

[2020-12-30 18:17] #4826 closed

[2020-12-30 22:02] dennisfleischmann commented on #4821
We have the same issue as stated by @jgallucci32. When will be a fix available?

[2020-12-30 22:41] GytisT commented on #4862
I have gotten to the bottom of this issue and to save somebody else countless hours of debugging I'll share a story:

Although service (postgresql-ha, not k8s service) seemed to be working with no problems, based on logs from pgpool pod I have noticed child processes constantly exiting with status code 256 and instantly get respawned. However, it wasn't happening to all child processes.
Whilst sea

[2020-12-30 22:41] #4862 closed

[2020-12-30 22:50] GytisT opened #4864 "[bitnami/postgresql-ha] can't set pgpool's child_life_time to 0 with pgpool.childLifeTime chart's setting."
**Which chart**:
bitnami/postgresql-ha (6.3.3)

**Describe the bug**
It is impossible to set pgpool's `child_life_time` setting to 0 with `Values.pgpool.childLifeTime`, which is considered a valid value by pgpool. This is because of a flaw in `templates/pgpool/deployment.yaml`. Specifically this part:
[code]
I am guessing that 0 gets converted to false and everything inside the block gets skipped.

[2020-12-31 08:51] huang-jy opened #4865 "[wordpress] Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "service" in io.k8s.api.networking.v1beta1.IngressBackend"
**Which chart**:
The name (and version) of the affected chart
**Describe the bug**
Wordpress

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Successful deployment of wordpress

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additio

[2020-12-31 08:53] huang-jy opened #4866 "[wordpress] unable to install -- error validating data: ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "service" in io.k8s.api.networking.v1beta1.IngressBackend"
**Which chart**:
The name (and version) of the affected chart
**Describe the bug**
Wordpress

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Successful deployment of wordpress

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additio

[2020-12-31 09:01] huang-jy commented on #4866
Installing the specific chart version 10.1.5 will work, but installing latest (10.2.0) will not

[2020-12-31 09:22] alemorcuq commented on #4866
Hi, @huang-jy.

Can you share how you are installing the chart?

[2020-12-31 09:23] alemorcuq commented on #4077
Hi, @kkosewski. Thanks for reaching out. There hasn't been any progress so far, but I will try to raise the priority of this.

[2020-12-31 09:27] huang-jy commented on #4866
I am using helm3 via a makefile, the actual command is:

[code]

The values.yaml is as follows (some redacted)

[code]

[2020-12-31 09:38] alemorcuq commented on #4851
Hi, @kevin96666. Thanks for reporting this. I will create a PR fixing it.

[2020-12-31 09:46] #4851 closed

[2020-12-31 09:51] javsalgar commented on #4821
Hi,

If Keycloak + Quarkus will take a while, maybe it makes sense to add the changes that @jgallucci32 suggests.

[2020-12-31 09:53] Caelebs opened #4868 "helm install report 'error calling include: template: no template "common.affinities.pods"'"
**Which chart**:
The name (and version) of the affected chart
`bitnami/etcd 5.4.1`

**Describe the bug**
A clear and concise description of what the bug is.
helm install error, The error message is as follows
[code]

**Version of Helm and Kubernetes**:

- Output of `helm version`:
[code]
- Output of `kubectl version`:

[code]

[2020-12-31 09:59] javsalgar commented on #4868
Hi,

This is strange, as the chart does contain the common library with the affinity changes. Are you cloning the charts repository or you are using helm install directly? Could you share the exact command you used?

[2020-12-31 10:14] Caelebs commented on #4868
After I copied the common folder in the bitnami directory to the same level as the etcd directory, etcd was able to find the files in the common library, and the deployment was successful, thanks reply @javsalgar

[2020-12-31 10:14] #4868 closed

[2020-12-31 10:26] mcatany opened #4869 "RabbitMQ Helm Chart misses CRDs"
**Which chart**:
bitnami/rabbitmq

**Describe the bug**
I'm been succesful deploying the rabbitmq operator, but once I tried to deploy the RabbitMQ cluster, there isn't the CRD defined for the deployment of the cluster (https://github.com/rabbitmq/cluster-operator/blob/main/config/crd/bases/rabbitmq.com_rabbitmqclusters.yaml). I don't know if this is a bug or a known feature.

**To Reproduce**
Ste

[2020-12-31 11:54] alemorcuq commented on #4866
Thanks for reporting it. #4870 should fix it.

[2020-12-31 12:14] marcosbc commented on #4857
For now it is not supported by the chart, but feel free to contribute with a PR if you have any idea on how to make it simpler, we'd be glad to help with the review and release of the chart.

[2020-12-31 12:15] #4869 closed

[2020-12-31 13:00] marcosbc commented on #4862
Thanks a lot for the extensive investigation on your part! It seems like this could be an issue with the chart, so I've added a note to keep track of this for further chart improvements. As for the chart fix suggestion it looks fine but let's continue that discussion in the respective issue.

[2020-12-31 13:17] marcosbc commented on #4864
Hi @GytisT, thanks for reporting this. You seem to be right as the chart would not detect value 0. This could probably work:

[code]

Since you found the issue, it would be great if you contributed the fix. We're always open for external contributions via PRs and would be glad to help with the code review and release. Would you be up for it?

[2020-12-31 13:25] huang-jy opened #4871 "[bitnami/wordpress] customise caching options"
**Which chart**:
The name (and version) of the affected chart.
Wordpress (latest)

**Is your feature request related to a problem? Please describe.**
While checking the chart out, I noticed the logs mention Varnish being setup when the pod starts up. Does the chart (or Wordpress itself) have caching enabled, or is Varnish doing the caching? If so, can we have an option to configure the caching rul

[2020-12-31 14:07] sculley opened #4872 "[ghost] replicaCount value is not used, unable to set replicaCount for deployment"
ghost:11.2.0

replicaCount is listed as a parameter in the ghost [README](https://github.com/bitnami/charts/tree/master/bitnami/ghost#ghost-parameters) but not used in the [values.yaml](https://github.com/bitnami/charts/blob/master/bitnami/ghost/values.yaml) meaning we can't set how many replicas the deployment should have.

We should be able to set the `replicaCount` value using the command line

[2020-12-31 14:50] rafariossaa commented on #4830
Hi,
  I can see that all the nodes where deployed, the `Could not connect ....` messages are transient errors while the node(s) are started.
  Could you provide the log where the error apears `Error: failed post-install: timed out waiting for the condition.` ?.
  Could you check if the redis cluster have all the nodes ? (cluster info).

[2020-12-31 14:58] rafariossaa commented on #4651
Thanks

[2020-12-31 15:06] rafariossaa commented on #4865
Hi,
  I am closing this issue because it is a duplicate of #4866 and it is being discussed there.

[2020-12-31 15:06] #4865 closed

[2020-12-31 15:56] jemantheiy opened #4874 "[bitnami/cassandra] Multiple Rack Support"
**Which chart**:
bitnami/cassandra

**Is your feature request related to a problem? Please describe.**
Like the orange helm chart, they have rack awareness and topology description build it.  Be nice to have this with Bitnami for a few reasons:

1.  All the helm charts I use are bitnami.
2. You guys do a great job of keeping charts mature and optimize.
3.  Only add to the value of the Cassandra he

[2020-12-31 16:00] leonidas-o commented on #4830
`kubectl exec --stdin --tty redis-cluster-0 -n dev -- redis-cli`
[code]

I uninstalled and installed redis-cluster again via helm, while it was running, looked into journalctl (SElinux is set to permissive):
[code]

[2020-12-31 19:53] jgallucci32 commented on #4821
I've come up with a 3rd option and I think will satisfy security and functionality requirements. The container is designed to have `/opt/bitnami/keycloak/certs` mounted by the container runtime rather than have data copied into the directory. Since all the files from /opt/bitnami and all the lower levels are owned by root we should keep it that way. The executing user is `1001` and can only execut

[2021-01-01 03:44] echel0n commented on #4624
How is it possible to install plugins when using a helm chart, would one do this using a sidecar or init container, and if so how?

Thanks!

[2021-01-01 13:22] enibache commented on #4624
yes, either of those methods should be possible but afaik bitnami/charts
don't implement neither of those yet at least for bitnami/discourse because
the only provided working solution is  by "kubectl exec" into the running
docker container and manually installing the plugin from a git repository
by running 2 ruby commands:

$ cd /opt/bitnami/discourse
$ RAILS_ENV=production bundle exec rake plugin

[2021-01-01 18:58] djhoese opened #4877 "postgresqlConfiguration causes service to be unconnectable"
**Which chart**:
bitnami/postgresql postgresql-9.8.1

**Describe the bug**
I would like to force the size of my shared_buffers. As described in the readme I set `postgresqlConfiguration.sharedBuffers="10MB"` and the helm chart installs correctly. However, when trying to connect to the service it is unconnectable and says that Connection refused. Am I missing something?

**To Reproduce**
Steps to r

[2021-01-01 22:00] djhoese commented on #4877
I've learned now that the default configuration value for `listen_addresses` is `localhost` instead of this chart's default which is `*`. Setting `listenAddresses` in addition to `sharedBuffers` causes the container to die immediately but the log only states:

[code]

[2021-01-01 23:35] abdennour opened #4878 "[keycloak] empty page for admin console"
First of all, i am really impressed with the quality of charts released by Bitnami.
I wanna say Kudos to them & to their innovative design pattern!

**Which chart**:
The name (and version) of the affected chart
- chart name: bitnami/keycloak
- chart version: 1.1.5

**Describe the bug**
The Administration console page () is empty (blank)
**To Reproduce**
Steps to reproduce the behavior:

1. Go to H

[2021-01-02 00:46] abdennour commented on #4878
I've checked the [official image of jboss/keycloak](https://github.com/keycloak/keycloak-containers/blob/f2bd49492771a792a27b5e608364e31d531b2306/server/tools/docker-entrypoint.sh#L47-L49), and i can see your dynamic  value `extraStartupArgs ` is fair enough :

[code]

issue is solved by that that value.

[2021-01-02 00:46] #4878 closed

[2021-01-02 01:57] djhoese commented on #4877
Looks like `postgresExtendedConf` is more what I'm looking for. It may be nice to point this out more clearly in the README. For now, I think I have what I need. Thanks for reading and for putting the chart together.

[2021-01-02 01:57] #4877 closed

[2021-01-02 13:07] ernstbolt commented on #4365
@marcosbc Thanks for your response. After commenting the section in the values.yaml, I got the same error.

[2021-01-02 14:16] ernstbolt commented on #4365
@marcosbc Changing the securityuser to www-data prevents mariadb to stop. The error is still in the log.

[2021-01-02 21:09] haizafrog commented on #2866
Hi @miguelaeh,
I'm following this thread and really curious if there in any progress in this effort of enabling pgpool-II, HA capabilities in [bitnami/postgresql-ha] chart ?

Thanks!

[2021-01-03 05:02] tobbbles commented on #4822
Hey all, looks like the standalone chart was left out and is still broken, I've opened a PR addressing this,

[2021-01-03 19:34] Mutantt opened #4882 "[bitnami/redis] useradd: Permission denied"
**Which chart**:
bitnami/redis

**Describe the bug**
permission denied for useradd

**To Reproduce**
just use default values for the chart.use one redis pod without any slave

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
i see below error when i check the redis logs . is this ok or i must change something t

[2021-01-04 03:07] shenqinb commented on #4811
@rafariossaa, Thank you for your support.

[2021-01-04 07:29] juan131 commented on #4877
Hi @djhoese

I'm glad you were able to workaround your issue with the configuration by extending it (instead of replacing the whole default configuration). Please feel free to open a PR improving the **README.md** if you think we should highlight the use of `postgresExtendedConf`.

[2021-01-04 07:35] juan131 commented on #946
Hi @kagaya85

You should ensure you attach Persistent Volume with RWO or RWX access modes. Otherwise, the ES container won't be able to write data in the volumes, nor change its ownership/permissions configuration.

Find more info at https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes

[2021-01-04 07:41] alemorcuq commented on #4872
Good catch, thanks for the PR!

[2021-01-04 07:41] #4872 closed

[2021-01-04 07:53] Raynbag commented on #4772
Hi @marcosbc

Thanks very much for getting back to me and happy new year!

This worked perfectly, thank you so much for your help, really appreciate it.

[2021-01-04 07:53] #4772 closed

[2021-01-04 08:01] juan131 commented on #4882
Hi @Mutantt

The Redis chart uses by default the Bitnami Redis container, which is a non-root container by default. See:

- https://github.com/bitnami/bitnami-docker-redis#why-use-a-non-root-container

Therefore, privileges action cannot be performed in the container unless you modify the security context of the Redis statefulset.

Just curious, why would you like to add a new user in a container

[2021-01-04 08:12] glothriel commented on #4710
Hi @alemorcuq

Here is the log of the original container: https://gist.github.com/glothriel/cdec7c564d8baec781ab9e6fd2d77d07

[2021-01-04 08:13] glothriel commented on #4710
The most relevant part seems to be:
[code]

[2021-01-04 11:03] Mutantt commented on #4882
hi
i dont want to add any user,i just installed the chart with below values:

cluster:
  enabled: false
usePassword: false
metrics:
  enabled: true
master:
  persistence:
    enabled: false
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 512Mi
      cpu: 300m

[2021-01-04 11:44] Skaronator commented on #4882
I have the same issue when trying to upgrade from 12.1.1 to 12.3.0.

[2021-01-04 11:59] imurvai commented on #2227
Hi @miguelaeh ,
I copied the configuration section form the original values.yaml into my values.yaml file without the clustering settings and now it's working.
Thanks for your help.

[2021-01-04 12:18] andresbono commented on #4871
Hi @huang-jy, the caching that the chart supports out-of-the-box is based on opcache. The WordPress plugin [w3-total-cache](https://wordpress.org/plugins/w3-total-cache/) is also included in the container (but not activated by default). This plugin can be used to configure several CDNs. Is that what you are looking for?

[2021-01-04 12:21] huang-jy commented on #4871
I thought so too, but w3-total-cache throws a series of errors and complains it cannot update files when activated, asking for changes to be made manually, so seems like something is not configured correctly.

[2021-01-04 12:23] wantdrink commented on #4716
Tested with docker composer and the image works good with https_proxy env.
Will try to change a little in the chart to add this env if defined and test. But I have to use kube proxy to test since the re-write is not allowed.

[2021-01-04 12:53] andresbono commented on #4830
Hi @leonidas-o, you are modifying the default values to install redis-cluster.

1) Does it fail in the same way when you install it without customizing any values? Before trying again, please make sure you are not reusing any PVCs from previous deployments.

[code]

2) The persistence might be causing some issues. You can also try to disable the persistence to narrow the issue:

[code]

[2021-01-04 13:10] andresbono commented on #4624
@mattcg, can you give us more details on the operation that you were trying to do that needed the extra `chown` command?

[2021-01-04 13:14] mattcg commented on #4624
Hey Andres, I was installing the [discourse-openid-connect](https://github.com/discourse/discourse-openid-connect) plugin. I ran the rake precompile from a shell opened via Rancher. That seemed to create the the precompiled assets with permissions too strong for Discourse to use.

[2021-01-04 15:36] FraPazGal commented on #4821
Hi @jgallucci32,

That solution looks promising, thanks for the input! The team will work on the container related issue in the following weeks. Would you still like to create a PR addressing this? We would be happy to review it.

[2021-01-04 16:48] marcosbc commented on #4874
Hi @jemantheiy, thanks for the suggestion! I'm not sure how this would work in a Helm chart, as it's supposed to deploy a template with set characteristics.

Maybe you could workaround this by deploying one Helm chart per rack via [nodeAffinityPreset](https://github.com/bitnami/charts/blob/master/bitnami/cassandra/values.yaml#L319)?

[2021-01-04 16:54] marcosbc commented on #4365
Hi @ernstbolt, just to clarify, do you want to deploy with `externalDatabase` or to deploy a new MariaDB server?

In any case, this line is just a warning, not an error, so nothing happens if it's there (apart from environment variables not having any effect on the mounted configuration file):

[code]

That is because the chart mounts the configuration file. If you want to hide that warning just m

[2021-01-04 17:18] miguelaeh commented on #4716
Thank you very much for the update!

Just a question, did you try setting the `phabricatorHost` like the redirected domain? I mean:
[code]

[2021-01-04 17:30] miguelaeh commented on #2866
Hi @haizafrog ,
@rafariossaa will investigate this deeper during the next week, so he should bring new information soon.
Thank you for the patience guys! We are a small team and sometimes we cannot work on everything we would like.

[2021-01-04 18:05] leonidas-o commented on #4830
Hi @andresbono
I was indeed re-using the PVCs from previous deployments. I deleted them, made sure no PVCs and also no redis PVs anymore. I also looked into the local-storage directories, all of them were empty.
Then I tried both of your commands, the first one, not using any custom values at all only default, as well as the second one, disabling persistence. Unfortunately both of the commands wer

[2021-01-04 18:09] jgallucci32 commented on #4821
@FraPazGal Yes I will work a PR for the specific chart issue. I'll make sure it aligns with what the container expects so both can be changed independently.

[2021-01-04 18:38] namloc2001 opened #4884 "Cannot deploy rabbitmq using OpenShift restricted SCC"
**Which chart**:
I'm using rabbitmq-8.0.2.tar, which is specified as a requirement of OWASP DefectDojo Helm chart (https://github.com/DefectDojo/django-DefectDojo/blob/master/helm/defectdojo/requirements.yaml).

**Describe the bug**
I was previously using rabbit-6.18.2.tar and was able to set a value in the parent chart (DefectDojo) to override the security Context being set in the rabbitmq sub-ch

[2021-01-04 23:34] maxisam commented on #4705
I have been testing this. Currently I use YCSB to test the cluster.

 It is kind of an official benchmark solution. (https://www.mongodb.com/blog/post/performance-best-practices-benchmarking)
[code]
For some reason I always get warning message like this with this chart.
[code]

But I don't get anything like this when test against normal mongodb setup.

The performance is like half of the normal se

[2021-01-05 01:39] ghudiczius opened #4885 "[bitnami/metallb] invalid references to metallb.tplValue"
**Which chart**:

bitnami/metallb, versions 2.0.0 - 2.0.2

**Describe the bug**

In case the speaker.nodeSelector is set in the values, helm templating fails with the following error message:
`Error: template: metallb/templates/speaker/daemonset.yaml:112:49: executing "metallb/templates/speaker/daemonset.yaml" at <include "metallb.tplValue" (dict "value" .Values.speaker.nodeSelector "context" $)>:

[2021-01-05 06:40] wantdrink commented on #4716
Yes @miguelaeh, below is the configuration:

[code]

The difference is the host is FQDN.

[2021-01-05 07:11] amit-k-yadav opened #4887 "[bitnami/mariadb-galera] Expose Galera (headless) service outside Kubernetes Cluster"
**_Which chart_**:
* mariadb-galera (version - 5.3.4)

**_Bug description & steps to re-produce_**
* I am trying to deploy a Galera cluster on multiple Kubernetes clusters (one Galera node per Kubernetes cluster) across multiple [GCP regions](https://cloud.google.com/compute/docs/regions-zones) for high availability during regional failures in Google Cloud Platform.
* I have set the values of `rep

[2021-01-05 07:25] #4885 closed

[2021-01-05 07:25] juan131 commented on #4885
Thanks for reporting it, and the fix! I already accepted/merged your PR

[2021-01-05 07:36] juan131 commented on #4882
Hi @Mutantt @Skaronator

I'm unable to reproduce the issue, are you modifying the default Pod/Container Security Context while installing/upgrading the Redis chart? I mean, are you setting any value in the `securityContext` or `containerSecurityContext` parameters or are you using the default ones?

The only reason I can find for the image to execute a `useradd` command is that you're running the

[2021-01-05 08:06] Mutantt commented on #4882
thank you for your reply,i have tested the chart on two different environment(minikube and production like env) and the result was same. i shared the value file that i used so i didnt change the security context,eveything is default except those values that iv shared.i see other ones logs also have these three lines,you can check below links:(issue: 4805 & 4819)
https://github.com/bitnami/charts/i

[2021-01-05 08:12] Skaronator commented on #4882
Hi,

I don't set any security context. Here is my values.yaml

[code]

I just tried upgrading again from 12.1.1 to 12.3.1 and this is the log of one of the new pods:

[code]

Sentinel logs looks fine. Just 2 warnings:
[code]

I did search in the code but couldn't find anything which could cause issues between 12.1.1 and 12.1.2.

@Mutantt could you try to install the 12.1.1 version and see if that

[2021-01-05 08:16] juan131 commented on #4882
Hi @Skaronator @Mutantt

I just found out this PR that explains very well the issue, and tries to propose a solution:

- https://github.com/bitnami/charts/pull/4820

I'll raise the priority to review/land this issue ASAP

[2021-01-05 08:35] J3m5 commented on #4866
I have the same error for the keycloak chart with this command
`helm upgrade keycloak bitnami/keycloak --values values.yaml --version 1.1.7`

Should I open an issue for keycloak specifically ?

[2021-01-05 08:51] FraPazGal commented on #4821
Great to hear that @jgallucci32!

We'll work on fixing the container issue and help with your PR if needed.

[2021-01-05 10:35] jemantheiy opened #4888 "[bitnami/cassandra] Unable to set commit logs and data directory to two different paths"
**Which chart**:
bitnami/cassandra: latest
**Describe the bug**

I know you can set the data and commit logs by either $Cassandra_home env or not.  However, there isn't an easy way to set the commitlogs and data directories to different paths.  This is ideal for production Cassandra.

**To Reproduce**
Steps to reproduce the behavior:

1. Set CASSANDRA_HOME in env
2. Add Extra Volume/Volume Mount t

[2021-01-05 10:53] andresbono commented on #4871
We don't allow writes in the config.php by default, so that's the issue. You can do the following:

1. Activate the plugin.
2. Grant write permissions for the user in `wp-config.php`:

[code]

3. Go to the settings of the plugin /wp-admin/admin.php?page=w3tc_general and verify there are no errors now
4. Revert the permissions of the `wp-config.php` file:
[code]

Let us know if this works for you.

[2021-01-05 10:58] andresbono commented on #4830
Could this be an issue?

Yes, that's a good point. It could be an issue related to resource limits.

If `bitnami/redis` is also valid for you, it could be more suitable for your environment with a single k8s node.

[2021-01-05 11:07] huang-jy commented on #4871
Would the permissions change reset if the pod is deleted/restarted/evicted?

[2021-01-05 11:15] trung674 commented on #4772
Hi @marcosbc

Is there anyway to mount an ACL file in Redis helm chart instead?

[2021-01-05 11:15] andresbono commented on #4871
No, that shouldn't be an issue because the `wp-config.php` file is persisted in a volume.

[2021-01-05 11:18] huang-jy commented on #4871
Great. I will give that a go later and report back, thanks!

[2021-01-05 11:32] miguelaeh commented on #2227
I am glad it finally worked! Thanks for the answer!

[2021-01-05 11:37] miguelaeh commented on #4716
Thanks for the reply @wantdrink ,
in that case, let us know if you are able to configure it with the `https_proxy`.
Thank you very much!

[2021-01-05 11:46] miguelaeh commented on #4888
Hi @jemantheiy ,
thank you very much for the suggestion. I will create an internal task to add this feature.
It would be necessary to add the logic to modify the `commitlog_directory` configuration option to the image.

[2021-01-05 11:52] andresbono commented on #4887
Hi @amit-k-yadav, I'm afraid that what you are trying to achieve is not supported by this Helm chart. MariaDB Galera needs to reach as many peers as possible, if not, you will be loosing the high availability capabilities. Note that the headless service is binded to all the galera peers while your external service is going to be binded to only one of them.

[2021-01-05 12:11] andresbono commented on #4624
@mattcg, another option would be executing the rake commands as `discourse` from start, but in that case, there are different permissions errors:

[code]

So the chown to `tmp/cache` is cleaner than my alternative.

[2021-01-05 12:21] alemorcuq commented on #4884
Hi, @namloc2001. Can't you just override those settings from the parent chart by declaring them in the `rabbitmq` section of the `values.yaml`?

[2021-01-05 12:26] amit-k-yadav commented on #4887
Thank you @andresbono for your reply. I understand what you are saying and that is the reason why I have reduced the `replicaCount` to `1` for now. I am planning to have 1 LoadBalancer service per pod (i.e peer) and mention all the services in MARIADB_GALERA_CLUSTER_ADDRESS (i.e. `gcomm://...`)

That however, will be the next step, for now it should work right since there is only one pod and the s

[2021-01-05 12:58] alemorcuq commented on #4866
Hi, @J3m5, I've created #4889. Can you test if it solves your issue?

[2021-01-05 13:48] marcosbc commented on #4772
Hi @trung674, I assume you refer the Bitnami Redis chart, right? If so the tips in [my previous comment](https://github.com/bitnami/charts/issues/4772#issuecomment-747997013) should work.

[2021-01-05 13:51] namloc2001 commented on #4884
Hi @alemorcuq I need to ***disable*** these settings, rather than change the UID/GID values, so I need to have access to a  `podSecurityContext.enabled` type setting. This is because I need OpenShift to automatically assign them from the UID block associated with the project I am deploying into (see "Support Arbitrary User IDs" [here](https://access.redhat.com/documentation/en-us/openshift_contain

[2021-01-05 14:01] alemorcuq commented on #4884
What if you set `rabbitmq.podSecurityContext=null`?

[code]

[2021-01-05 14:03] alemorcuq commented on #4710
Have you tried disabling the probes in case they are killing the pod before it is able to properly start?

[2021-01-05 14:14] namloc2001 commented on #4884
Hi @alemorcuq I just tried this and same result:
[code]

[2021-01-05 14:23] sivasaiIT opened #4890 "[bitnami/mysql] any plan to support mysql shell and expose the default port 33060"
**Which chart**:
bitnami/mysql

**Is your feature request related to a problem? Please describe.**
As mysql server supports storing json document store. Can we expect support for mysql shell and x Protocol so that client applications can store NoSQL data using bitnami/mysql chart

**Additional context**
I am completely new to hosting databases in kubernetes. So If mysqlsh is already supported in t

[2021-01-05 14:59] namloc2001 commented on #4884
@alemorcuq - I just spotted I hadn't used to the correct `--set` value in my `helm install...` command. I've now used:
[code]

And it appears to be deploying.

[2021-01-05 15:13] #4819 closed

[2021-01-05 15:47] namloc2001 commented on #4884
@alemorcuq so I have to do:
[code]

with a values.yaml of:
[code]

I.e. with `fsGroup` and `runAsUser` commented out.

[2021-01-05 23:04] jsoref opened #4894 "Health check should treat `Cloning data from primary node` as healthy"
**Which chart**:
postgresql-ha version 5.2.0 (we looked at the changes between this version and 6.3.0 and decided that there were no changes that would fix our problem)

**Describe the bug**
If the replica pod needs to be rebuilt (by recloning the database)

**To Reproduce**

1. Install the helm chart
2. Let system populate
3. Put enough data into the database to make things interesting
4. Let rep

[2021-01-05 23:44] marcosbc commented on #4754
Hi, just wanted to update this issue to let you know that we just released [ownCloud `10.6.0-debian-10-r18`](https://github.com/bitnami/bitnami-docker-owncloud/#1060-debian-10-r18), which initialization scripts has been open-sourced in the [`rootfs` folder of the bitnami-docker-owncloud repo](https://github.com/bitnami/bitnami-docker-owncloud/tree/master/10/debian-10/rootfs).

Now it should be a l

[2021-01-06 01:54] jemantheiy opened #4895 "[Bitnami/cassandra] Property overrides"
**Which chart**:
Bitnami/Cassandra

**Is your feature request related to a problem? Please describe.**
At the moment, its not easy to just override or add a config to the cassandra.yaml.  You have to override the entire file or use envs that are supported.  For example, I want to just add dynamic_snitch: false.

**Describe the solution you'd like**
Set properties in an array field and then logic o

[2021-01-06 01:56] jemantheiy commented on #4874
what could be done is in the cluster section of the values, we could set rackByLabel: cassandra/rack or some other customer k8s label.  Then it pulls that label to determine the rack.  This way on creation of the pod, it can set the rack its on and replication can be rackware and do more fault tolerant rack awareness like keyspace test token 2 is replicated on node 1 rack 1, node 2 rack 2 and node

[2021-01-06 02:18] thanhtai9606 commented on #4840
thank for you reply!

[2021-01-06 04:36] gkulkarni32 opened #4896 "bitnami/solr helm chart"
**Which chart**:
New chart request for bitnami/solr

**Is your feature request related to a problem? Please describe.**
Currently we do not have a helm chart for solr, we see the need to have one.

**Describe the solution you'd like**
helm chart using the bitnami solr docker image

**Describe alternatives you've considered**
No chart from bitnami

**Additional context**
Add any other context or sc

[2021-01-06 08:07] beltran-rubo commented on #4896
Thanks @gkulkarni32, this is already in our to-do list but any contribution or PR will be welcome to speed up the process.

[2021-01-06 10:44] trung674 commented on #4772
It seems to me that Bitnami Redis chart does not provide support for mounting extra files via `redis.extraVolumes/redis.extraVolumeMounts`. Maybe it is better to raise an issue regarding this?

[2021-01-06 11:19] jeanpoelie opened #4897 "Typo in documentation about clustering rabbitmq"
**Which chart**:
Bitnami RabbitMQ chart

**Describe the bug**
It isn't really a bug more a documentation typo.
![image](https://user-images.githubusercontent.com/10237926/103762872-50817d00-5019-11eb-9e86-956f574cda27.png)

**To Reproduce**
Go to the url
https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq
scroll down to clustering

**Expected behavior**
A different explaination for forc

[2021-01-06 14:48] huang-jy commented on #4871
Thanks, this also fixed some other issues I had, like with the "media offloader" plugin where they recommended putting the AWS keys in the config file.

[2021-01-06 14:48] #4871 closed

[2021-01-06 19:10] leonidas-o commented on #4830
@andresbono I tired with bitnami/redis but it's also not working. Actually I think it is the same issue, for redis-cluster like mentioned in the title, it was `Could not connect to Redis at redis-cluster-0.redis-cluster-headless`, now trying to helm install bitnami/redis, it says on the `redis-slave-0` logs:
[code]
When we compare the title and logs here, it's somehow the same error. It's a standa

[2021-01-06 20:35] Javid907 commented on #4884
@namloc2001 Hi.  Could you find fix for these issue?

[2021-01-07 01:45] acim opened #4899 "[bitnami/ghost] unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend, ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "servicePort" in io.k8s.api.networking.v1.IngressBackend]"
**Which chart**:
bitnami/ghost

**Describe the bug**
This chart now has the same problem as described here for wordpress: https://github.com/bitnami/charts/issues/4791

[2021-01-07 07:42] huang-jy opened #4900 "[bitnami/wordpress] Error while changing password via wp cli"
**Which chart**:
bitnami/wordpress, V10.3.0

**Describe the bug**
While using wp cli to change the password of the root user, I get a sendmail error (the password change actually takes though)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Password change without error, or at least a warning that does not appear to be fatal

**Version of Helm and Kubernetes**:
[c

[2021-01-07 08:03] juan131 commented on #4894
Hi @jsoref

Have you tried increasing the delay seconds using the `readinessProbe.initialDelaySecond` parameter? This way, you can give PostgreSQL more time to finish cloning the data.

As an alternative, you can also use the `customReadinessProbe` parameter to overwrite entirely the default readiness probe.

Please note that we provide default values that work on most circumstances, but it's the

[2021-01-07 09:02] namloc2001 commented on #4884
@Javid907 the only way I can get this to work is as per my previous comment, so I think this basically offers up two options regarding the list of keys/values in parent values.yaml chart:

**Option A:** Make `fsGroup` and `runAsUser` accessible in parent values.yaml but comment them out so that `--set rabbitmq.podSecurityContext=null` can be used in `helm install command`.
[code]

**Option B:** Do

[2021-01-07 09:11] jsoref commented on #4894
Not yet. Personally, I'd expect the chart to be aware of how the software it's managing works. If it knows that cloning can happen, I'd really much rather the health check look for that case and treat it as healthy instead of making me pick an arbitrary timeout which is totally illogical. The database will grow over time.

I'm happy to write a fix for the template (once I figure out the right way

[2021-01-07 09:33] huang-jy commented on #4866
I've just installed the latest version of the Wordpress chart successfully on v1.18 Kubernetes. Thanks for picking up this bug and fixing so quickly.

I'll close this issue now

[2021-01-07 09:33] #4866 closed

[2021-01-07 10:58] andresbono commented on #4871
That's great to hear, @huang-jy!!

[2021-01-07 11:29] spleshka opened #4905 "[bitnami/nginx-ingress-controller] Can't terminate HTTPS traffic on the load balancer level anymore"
**Which chart**:

bitnami/nginx-ingress-controller (I'm using 7.0.10, but the affected versions are 5.1.0 and above. The last version without the issue is 5.0.11)

**Is your feature request related to a problem? Please describe.**

A couple years ago when we set up a cluster we were able to  set up HTTPS Traffic termination on the load balancer level using the following configuration (`values.yaml

[2021-01-07 12:14] andresbono commented on #4887
After some investigation, I couldn't make it work yet. It seems the problem is related to [`wsrep_node_address`](https://galeracluster.com/library/documentation/mysql-wsrep-options.html#wsrep-node-address). This value should be the same than one of the used in the `wsrep_cluster_address`.

The container guesses the value for `wsrep_node_address` by executing `hostname -i`, which returns the pod IP

[2021-01-07 12:31] blinkiz opened #4907 "[bitnami/owncloud] unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend"
**Which chart**:
bitnami/owncloud 10.0.0

**Describe the bug**
When trying to deploy owncloud it fails with this error message.
`Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend, ValidationError(Ingress.spe

[2021-01-07 12:53] FraPazGal commented on #4833
Hi @Majen,

You are right, I looked into the container code and the env `REPMGR_PASSWORD_FILE` is not been treated properly. We are just taking the content of said file and passing it to `repmgr.conf` as part of `conninfo` and not as explained in the repmgr documentation.

Before creating an internal task to address this, I came across an issue deploying the chart with `postgresql.usePasswordFile=

[2021-01-07 12:55] dani8art commented on #4705
Does the performance go to an acceptable rate too?

[2021-01-07 13:21] andresbono commented on #4830
After reviewing your case again, it seems the problem is related to networking because all the pods are up and running but you keep getting the `No route to host` no matter you use `bitnami/redis` or `bitnami/redis-cluster`.

Can you execute the following commands and share the output with us?

[code]

For reference this is the output I get:

[code]

[2021-01-07 13:31] OvervCW opened #4908 "Chart repository is inaccesible"
**Which chart**:
All of them.

**Describe the bug**
The chart repository https://charts.bitnami.com/bitnami returns an access denied error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://charts.bitnami.com/bitnami

**Expected behavior**
Be able to access the Helm chart repository.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `

[2021-01-07 13:49] OvervCW commented on #4908
Never mind, this seems unrelated to a failure we had with Helm failing to access the repository.

[2021-01-07 13:49] #4908 closed

[2021-01-07 14:19] ricoberger opened #4909 "[bitnami/redis] Add support for Redis Sentinel metrics"
**Which chart**:

redis (12.3.2)

**Is your feature request related to a problem? Please describe.**

When Redis is deployed with Redis Sentinel, it would be good to also get some Prometheus metrics for Redis Sentinel.

**Describe the solution you'd like**

Similar to the Redis metrics exporter this can be solved with the [leominov/redis_sentinel_exporter](https://github.com/leominov/redis_sentine

[2021-01-07 14:57] mhoshi-vm opened #4910 "Add rewrite_tag_filter to fluentd image"
**Which chart**:
fluentd

**Is your feature request related to a problem? Please describe.**
Currently one of the basic fluentd plugins rewrite_tag_filter  is not included
During startup we see this.
[code]

**Describe the solution you'd like**
Please add rewrite_tag_filter to base image

**Describe alternatives you've considered**
None.

**Additional context**
None

[2021-01-07 15:09] maxisam commented on #4705
@dani8art Here is the test result. The testing was not on a sharding database. (I don't know how to make ycsb to work with sharding)

test setting:

      - WORKLOAD_TYPE=a
      - RECORD_COUNT=800000
      - OPERATION_COUNT=800000
      - LOAD_THREADS=16
      - RUN_THREADS=4

result:

[OVERALL], RunTime(ms), 2262430
[OVERALL], Throughput(ops/sec), 3536.0210039647636
[TOTAL_GCS_Copy], Count, 4133

[2021-01-07 15:13] #4910 closed

[2021-01-07 15:26] franklin432 commented on #4705
so instead of using the default resources you had to manually set your own for the Mongo Pods, to not have the connection drops when you are creating over 7K connections.

default:
[code]

Your change:
[code]

[2021-01-07 15:37] maxisam commented on #4705
@franklin432 i don't think the change can fix the 7000ish connections. The change fixes other issues I have when I use ycsb to test it.

[2021-01-07 15:48] andrew-vdb commented on #4541
Got this issue too (in the past i don't face this, it was just work)
[code]
When you do above command

Everything will looks ok in lens/kubernetes

configmaps
default_user = myRabbitUsername
default_pass = CHANGEME

secrets
rabbitmq-password = myRabbitPassword

Now you try to login to the management portal, **login will fail**

**WORKAROUND**
- Go into pod's shell
- rabbitmqctl list_users
![image]

[2021-01-07 15:57] marcosbc commented on #4772
It looks like it is missing, as it is only present in redis-cluster. If so feel free to create a new issue.

Note that due to winter holidays we're a bit overwhelmed right now, considering we have lots of things on our plate. If you feel confident you could always contribute by sending a PR, we'd be happy to help with the review and release with the changes.

[2021-01-07 16:12] franklin432 commented on #4705
@maxisam ahh ok I see.

[2021-01-07 16:26] marcosbc commented on #4895
Hi @jemantheiy, we usually only support the scenarios you mention.

In some cases we have also created a new environment variable for adding extra config lines to the configuration file, but it's not common. Instead we usually prefer if you mount the entire configuration file if you want to extend further.

In any case, you could always contribute the changes to support the new proposed scenario,

[2021-01-07 16:32] marcosbc commented on #4899
Hi @acim, we have an internal task where we are tracking the progress of this work. Unfortunately, due to winter holidays this has been delayed and could not be completed immediately.

Note: The first batch was done in #4870, and we are pending for newer batches to be completed ATM. We expect to continue early next week. If you need a fix sooner feel free to send a PR, we'd be happy to help with t

[2021-01-07 16:52] mattcg commented on #4624
Sure... overall I don't understand what this chart is for. It seems no one is actually using it, because it is nowhere near production ready and Bitnami does not seem to be making any attempt to take it there. Our experience with the Wordpress chart has also also been mind-blowingly awful.

[2021-01-07 16:55] marcosbc commented on #4909
Hi @ricoberger, great suggestion! We agree that this is something that makes a lot of sense.

Feel free to send the PR, in the meantime, we will work on creating the container image as described in our [Contributing Guidelines](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) so the new chart can be added to the Bitnami Charts catalog. I have also

[2021-01-07 16:57] mattcg opened #4912 "[bitnami/discourse] "Migrating database..." takes 15 minutes for tiny DB"
Each time Discourse is restarted, it gets stuck on "Migrating database..." for what seems like a disproportionate amount of time (15m+). Our database is microscopic and the underlying system is powerful. Why is this migration step run each time the app is started?

Chart v2.0.3.

[2021-01-07 17:02] leonidas-o commented on #4830
Yes sure. I thought maybe somehow it is because of a missing overlay network, but this shouldn't be needed at all on a single node cluster. Nevertheless, I installed weave.net, and of course it had no effect on on that. Also the firewall ports were all closed on the host, again I guess on single node this also shouldn't have any effect on that issue. For testing purposes, I opened 6379, but still

[2021-01-07 17:11] jsoref commented on #4894
For my reference, I'm not the only person who hit this: #3556

[2021-01-07 17:13] carrodher commented on #4900
Hi, I was taking a look at this issue. This error appears because there are some WP CLI commands (like the one used to change the password) that send an email notification to the user. In this case, the WordPress container image doesn't contain `sendmail` that is the binary used for WP CLI to send this notification. As you rightly said, the command works fine and the password is changed but the re

[2021-01-07 17:26] huang-jy commented on #4900
Ah, that makes sense. Thanks, I'll use the skip-email switch, thanks!

[2021-01-07 17:26] #4900 closed

[2021-01-07 18:05] #4592 closed

[2021-01-07 18:13] dfgrosso opened #4914 "[bitnami/redmine] Can't run Repository.fetch_changesets"
Hi everyone

According to https://www.redmine.org/projects/redmine/wiki/HowTo_setup_automatic_refresh_of_repositories_in_Redmine_on_commit I should be able to run the command bellow in order to refresh repos in redmine.

`ruby /path_to_redmine/redmine/script/rails runner "Repository.fetch_changesets" -e production > /dev/null 2>&1 &.`

However I can't seem to find a way to do this because I cannot

[2021-01-07 19:19] echel0n commented on #4624
It would make more sense to add the ability to set an array of plugins we wish to have added in via chart values instead of manually having to do this, just my 2 cents on this.

[2021-01-07 20:44] ricoberger commented on #4909
Hi @marcosbc, the PR is ready #4916.

Please let me know, when your image is ready, so that I can adjust the PR.

[2021-01-07 22:46] aranair commented on #4541
I can only reproduce it if persistence is enabled.

This happens even if I clear out all the pv/pvc/data prior to it, it's ..presumably skipping every step even for an empty state.

[code]

[code]

[code]
-> somepassword

[code]

[2021-01-08 00:03] aranair commented on #4541
Also, I believe this is a regression:

[code]

[code]

Same scenario:
- persistence enabled,
- but with no data

[code]

[code]

[2021-01-08 00:52] maxisam opened #4918 "[mongodb-sharded] shard index as a label"
Somehow this change is gone.

https://github.com/bitnami/charts/pull/2166

https://github.com/bitnami/charts/blob/60525899c60309f42520ce0b4f3f4c3b2f27a21e/bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml#L41

master

https://github.com/bitnami/charts/blob/master/bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml

This is the change removed this feature

https://

[2021-01-08 02:19] Caelebs opened #4919 "[bitnami/mongodb] helm install report "can't evaluate field Version in type *version.Info""
**Which chart**:
`bitnami/mongodb 10.3.4`

**Describe the bug**
Because the server has no public network connection, k8s runs in the internal network environment. So I cannot install mongodb directly using `helm install my-release bitnami/mongodb`. Our usual practice is to use helm to install locally.
When I use the command `helm install mongodb --namespace helm-test -n mongodb-standalone` to inst

[2021-01-08 02:24] enibache commented on #4624
Yes, I agree. including the possibility of adding a list of plugins to be
installed via the values.yaml file would be the ideal solution, yet the
bulk of work would still lie in translating this in the logic behind the
scenes(-> code, deployment.yaml, docker image ...). Wondering if the
bitnami "Angels ;-)" are planning to include or already have such a in
backlog. Something similar to the Jenkins

[2021-01-08 04:17] boquie commented on #4255
Hi @pestebogdan, thanks for the work on this issue.  I have applied your configuration and it is working almost perfectly.  The only issue I'm having is it doesn't seem to be respecting the .htaccess file.  In particular, if I try to access the admin for the site, **https://www.myurl.com/wp-admin** it doesn't work and I have to add the trailing slash: wp-admin/.  This should be dealt with by .htac

[2021-01-08 06:48] tbnguyen1407 opened #4920 "[bitnami/rabbitmq] Wrong v1 ingress spec"
**Which chart**:
bitnami/rabbitmq (8.6.2)

**Describe the bug**
Deploying with ingress on k8s v1.20 failed with error message

[code]

**To Reproduce**
1. enable ingress
2. deploy

**Expected behavior**
Successful deployment

**Version of Helm and Kubernetes**:

[code]

**Additional context**

Wrong v1 ingress spec here (using v1beta1 spec):

https://github.com/bitnami/charts/blob/041428f73785a4a1

[2021-01-08 07:50] huisebug opened #4921 "rabbitmq parse error at (rabbitmq/templates/statefulset.yaml:1): unclosed action"
I think this piece is very unfriendly. Just copy the example you provided, and I will add it myself. I always prompt you:
parse error at (rabbitmq/templates/statefulset.yaml:1): unclosed action

[2021-01-08 07:50] huisebug commented on #4921
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "users": [
          {
            "name": "{{ .Values.auth.username }}",
            "password": "{{ .Values.auth.password }}",
            "tags": "administrator"
          },
          {
            "name": "LiveShow_Store",
            "password": "LiveShow_Store.MQ.PWD_123*",
            "tags": "monitoring"

[2021-01-08 07:51] huisebug commented on #4921
`extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "users": [
          {
            "name": "{{ .Values.auth.username }}",
            "password": "{{ .Values.auth.password }}",
            "tags": "administrator"
          },
          {
            "name": "LiveShow_Store",
            "password": "LiveShow_Store.MQ.PWD_123*",
            "tags": "monitoring"

[2021-01-08 07:51] huisebug commented on #4921
`
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "users": [
          {
            "name": "{{ .Values.auth.username }}",
            "password": "{{ .Values.auth.password }}",
            "tags": "administrator"
          },
          {
            "name": "LiveShow_Store",
            "password": "LiveShow_Store.MQ.PWD_123*",
            "tags": "monitoring"

[2021-01-08 07:53] huisebug commented on #4921
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "users": [
          {
            "name": "{{ .Values.auth.username }}",
            "password": "{{ .Values.auth.password }}",
            "tags": "administrator"
          },
          {
            "name": "LiveShow_Store",
            "password": "LiveShow_Store.MQ.PWD_123*",
            "tags": "monitoring"

[2021-01-08 07:53] huisebug commented on #4921
`
extraSecrets:
  load-definition:
    load_definition.json: |
      {
        "users": [
          {
            "name": "{{ .Values.auth.username }}",
            "password": "{{ .Values.auth.password }}",
            "tags": "administrator"
          },
          {
            "name": "LiveShow_Store",
            "password": "LiveShow_Store.MQ.PWD_123*",
            "tags": "monitoring"

[2021-01-08 07:55] juan131 commented on #4894
Hi @jsoref

Thanks so much for your feedback!

Please note that, as far as a particular pod is marked as "ready" any associated service will start sending traffic to it. So, let's say that one of the PostgreSQL nodes is marked as "ready", from that moment on users accessing through the associated service will be able to reach that node and attempt to execute SQL requests. These requests will be re

[2021-01-08 08:13] alemorcuq commented on #4897
Thanks for reporting this. I will create a PR fixing it.

[2021-01-08 08:33] andresbono commented on #4624
Thanks for your suggestion @echel0n, @enibache. We think adding a new parameter in the values.yaml to ease the installation of plugins makes sense so we have just created an internal task to implement that feature and to address the usability problems related to that. We will be updating this thread with any news or updates we have.

In principle it would be something like an init script that is e

[2021-01-08 08:41] alemorcuq commented on #4914
The `rails` should be under `/opt/bitnami/redmine/bin`. Can you check it?

[2021-01-08 08:45] huisebug commented on #4921
extraSecrets:
  load-definition:
    load_definition.json: |

The content defined below is difficult to parse, and the parsed plug-ins need to be optimized

[2021-01-08 08:45] alemorcuq commented on #4884
Doesn't setting the `values.yaml` to:

[code]

work as well?

[2021-01-08 09:00] carrodher commented on #4918
Hi, this feature was not removed it was modified and now it is using a different approach. With the changes in https://github.com/bitnami/charts/pull/4494 all the Bitnami charts are following the same approach for affinity there are some pros in the new approach such as a balanced UX for both advanced Kubernetes admins and less experienced user, opinionated presets but users can still define their

[2021-01-08 09:28] dani8art commented on #4705
Hi @maxisam, sorry, but I didn't catch it, did you have a chance to test this? Just to discard k8s and focus on the container performance.

[2021-01-08 09:37] andresbono commented on #4830
So you can't access to the pod IPs directly, you can only access through exposed services...

Do you have cluster-wide Network Policies?

[code]

Can the pod access to its own pod (endpoint) IP?

[code]

[2021-01-08 09:43] dfgrosso commented on #4914
Hello @alemorcuq

Yes it is. Thank you. I was able to find it yesterday. I'll describe here what I needed to do to make it work. The problem is (since I'm not a RubyOnRails guy) I don't have a clue if the following steps could somehow harm the redmine application.
Hopefully someone can doublecheck them.

1. Replaced the `/path_to_redmine/redmine/script/rails` with `/opt/bitnami/redmine/bin` and ra

[2021-01-08 09:47] leonidas-o commented on #4830
Haven't created explicitly any, so no, there are no cluster wide network policies:
[code]
Seems this is working:
[code]

[2021-01-08 09:56] FraPazGal commented on #4907
Hello @blinkiz,

Thanks for the heads up! We will create a PR addressing this shortly. Until then, please keep using the workaround you found.

[2021-01-08 10:04] FraPazGal commented on #4921
Hello @huisebug,

Besides `extraSecrets`, you will also need to set a few others parameters. The example provided in `values.yaml` is a very basic snippet. For an extended guide, please refer to our [README](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#load-definitions).

We are always happy to improve our solutions, could you please provide some more feedback on the proposed opt

[2021-01-08 10:36] miguelaeh commented on #4912
Hi @mattcg ,
To be honest I don't know why it takes that long. What is executed behind the scenes is `ruby rake db:migrate`

[2021-01-08 10:38] miguelaeh commented on #4919
Hi @Caelebs ,
It seems you are using Helm v2 which is not supported anymore. Could you give a try with Helm v3?

[2021-01-08 11:01] alemorcuq commented on #4905
Hi, @spleshka.

If I understood correctly, what is missing is the ability to set the service's `targetPort` field to a custom value in the YAML, is that right?

[2021-01-08 11:03] alemorcuq commented on #4920
Hi, @tbnguyen1407. We have an internal task where we are tracking the progress of this work. Unfortunately, due to winter holidays this has been delayed and could not be completed immediately.

Note: The first batch was done in #4870, and we are pending for newer batches to be completed ATM. We expect to continue early next week. If you need a fix sooner feel free to send a PR, we'd be happy to he

[2021-01-08 11:04] marcosbc commented on #4909
That's awesome, thanks! We're going to plan the addition of the new image shortly and will keep you posted with any update here or to #4916.

[2021-01-08 11:08] spleshka commented on #4905
@alemorcuq yes, exactly.

[2021-01-08 11:15] marcosbc commented on #4874
Hi @jemantheiy, if it could be implemented it would certainly be great, however I have my concerns over if this is even compatible with Helm charts.

As for node affinity, note that what I'm mentioning in my previous comment is that it would be necessary to deploy one chart per-DC and per-rack (i.e. if you have 2 DC and 3 racks -> 6 Helm deployments), and to configure node affinity to only deploy

[2021-01-08 11:17] andresbono commented on #4830
Yes, in that case, it seems to work... 🤔  It's odd that you can't reach other pod IPs if you don't have strict network policies in place...

What CNI plugin are you using?
How did you install your k8s cluster?

[2021-01-08 11:24] mkjmkumar commented on #2061
Hello Team,
  I am facing similar issue after increasing primary replica from 1 to 2. After this modifications application shows error during login page and in case login successes, it fail at some other functionality immediately after login.

org.postgresql.util.PSQLException: FATAL: password authentication failed for user "dbfuser"

If I add say few more databases on single replica, this would n

[2021-01-08 11:35] leonidas-o commented on #4830
As of yesterday, I had no CNI plugin installed at all. I'm not sure, but I don't think one is needed on a single node cluster, is it? But as said yesterday, I installed `weave.net` just to be sure, that this isn't the cause of the issue here.
Installed weave via:
[code]

Kubernetes was installed pretty straight forward (https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-

[2021-01-08 11:36] jeremos opened #4922 "Charts Repo down ?"
**Which chart**:
Repository is unavailable

**Describe the bug**
Access to https://charts.bitnami.com/bitnami is denied

<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>54DE72877642ED11</RequestId>
<HostId>wVhVrl3/Y+lyrpSZsDFIqXfMHUJO5Lf64Kf9s1Xyv7d9QYflbDBp7VkeYDVoITGyrEwXjfTCAI0=</HostId>
</Error>

**To Reproduce**
Steps to reproduce the behavior:

Make a curl to th

[2021-01-08 11:41] JeroenVanOort opened #4923 "[bitnami/posgresql-ha] Why include the cluster domain in the cluster node hosts? And what about the namespace?"
**Which chart**:
postgresql-ha

**Is your feature request related to a problem? Please describe.**
I'm having problems with the length limit on the cluster node hosts, as defined [here](https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/templates/postgresql/statefulset.yaml#L225) and validated [here](https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/templates/_he

[2021-01-08 11:48] #4922 closed

[2021-01-08 11:50] namloc2001 commented on #4884
Hi @alemorcuq it may well do, but we have to leave the default settings in the parent chart (DefectDojo) for "the masses", i.e. those deploying to K8s rather than OpenShift (via the restricted SCC).

But like I said, regardless of the way it is set as per the previous few comments, this is not a clean style, an `enabled` setting it much more deliberate/intentional and aligns with the postgreSQL ch

[2021-01-08 11:52] Javid907 commented on #4884
@namloc2001 Did you test with this config when persistent is enable ?

rabbitmq:
  enabled: true
  replicaCount: 1
  ...
  podSecurityContext:
    #fsGroup: 1001
    #runAsUser: 1001

[2021-01-08 12:06] andresbono commented on #4541
@andrew-vdb, what is the version of the chart that you are installing?

[code]

---

@aranair, you say that the chart (specifically `7.6.9`) fails when you enable persistence but it's a blank slate (e.g. no data). You are specifying an existing claim, doesn't that existing claim contain data. What do you mean by persistence in blank state? Are you removing `/bitnami/rabbitmq/mnesia/*`?

[2021-01-08 12:39] juan131 commented on #4882
The PR was merged, please give a try to the latest chart version @Skaronator @Mutantt
The issue should be solved now.

[2021-01-08 13:08] namloc2001 commented on #4884
@Javid907 yes, the rabbit chart has persistence enabled and we didn't overwrite it.

[2021-01-08 13:50] aranair commented on #4541
yup, if a pvc/pv is bound but that volume has nothing in it, or has data cleared (for whatever reason). And yup that directory along w some others.

[2021-01-08 14:00] andrew-vdb commented on #4541
@andresbono latest version? what version i will get if i just run install without specifying version (i already cleaned up my kubernetes too)

helm search repo bitnami/rabbitmq
![image](https://user-images.githubusercontent.com/12871379/104023607-333be280-51c2-11eb-9f67-9f48f539c1db.png)

[2021-01-08 14:00] jsoref commented on #4894
That sounds much better than what I got. Eventually both pods managed to wipe out their databases.

I look forward to revisiting this chart once the underlying containers have been reworked.

[2021-01-08 14:05] gertjangaillet commented on #4541
We have the same issue with chart v7.6.8 (app v 3.8.9).
When setting `persistence.enabled=false` the credentials set using `auth.username` and `auth.password` are properly configured and accepted.

[2021-01-08 14:07] alemorcuq commented on #4890
Hi, @sivasaiIT.

At the momento there is no support for MySQL Shell in the container and there are no immediate plans to add it. We will evaluate it, but I can't give you an ETA.

[2021-01-08 14:11] huang-jy opened #4924 "[bitnami/wordpress] -- extraTls block creates additional cert rather than bundle into main"
**Which chart**:
bitnami/wordpress (latest version)

**Describe the bug**
I want to create a cert that has the main domain (for example www.joebloggs.com) and some subdomains (for example, blog.joebloggs.com and archive.joebloggs.com)

When using the extraTls block, it does not create an ingress that I would expect for a multi-name SSL cert.

**To Reproduce**
Steps to reproduce the behavior:

Crea

[2021-01-08 14:13] dave-yotta opened #4925 "externalAccess fails without warning, connecting within cluster is confusing"
Edit 2: Ok - I've digged into how statefulsets interact with services (https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id) and it comes down to being available on `<pod-name>.<service-name>.default.svc.cluster.local` within the cluster.  I've got external access off - enabling it requires either specifying a hostname/ip that is valid for all replica members an

[2021-01-08 14:37] cschockaert opened #4926 "[bitnami/redis-cluster] tuning cluster stability upon pod restart"
**Which chart**:
redis-cluster

**Is your feature request related to a problem? Please describe.**
Hello, pleased to see that redis-cluster chart is almost working as i expected. But after doing some chaos monkey, like deleting all pod in the cluster, i got in a situation where new redis pods with new (dynamic ips) could not rejoin the cluster.
Seems, that when i delete only one pod, the new one i

[2021-01-08 15:32] huisebug commented on #4921
Yes, I followed the readme file you provided, but I feel that the detection mechanism is very strong. I want to add a lot of content, even if it is very small, it is exactly the same as the readme file you provided, but I have to write it by hand. I am wrong

[2021-01-08 15:47] #4655 closed

[2021-01-08 15:51] maxisam commented on #4918
@carrodher where is the part for variable dataNodeLoopId?

[2021-01-08 15:53] maxisam commented on #4918
so before I can use

[code]

What should I do now?

[2021-01-08 17:07] Mutantt commented on #4882
hi
yes, i installed the latest chart without the issue,thank you for your help.

[2021-01-08 17:07] #4882 closed

[2021-01-08 17:12] maxisam commented on #4705
@dani8art
I did. It has the same issue. I think I found something. It might be because the node crash when the volume is large, so I am trying to set resource limitation and ensure replicas are not in the same node with the primary. I am currently blocking by https://github.com/bitnami/charts/issues/4918.

[2021-01-08 20:18] maxisam commented on #4705
After adjusting resource, I got new errors like networkinterfaceexceededtimelimit on mongos and "Couldn't get a connection within the time limit" exception from the client, which makes it really hard to get pass 5000 connections

[2021-01-09 10:21] viceice commented on #4907
Same for phpmyadmin

https://github.com/bitnami/charts/blob/51b056ff67b99f9e98d7df6e618e01a8e31d0ff9/bitnami/phpmyadmin/templates/ingress.yaml#L29-L31

[2021-01-09 13:13] mattcg opened #4927 "[bitnami/discourse] Discourse liveliness probe should hit /srv/status"
The liveliness problem currently hits `/` whereas it should expect a 200 OK from `/srv/status`, which seems to be the Discourse endpoint specifically set up for this.

[2021-01-10 12:23] dangelm commented on #2260
Hi,
Same issue here.
each 1-3 days 2 out of 3 nodes of Maria stop working. usually node 0 is ok and node 1 and 2 are in crashloopback forever.
this is very serious because it makes Mariadb not production ready on k8s.

Logs from node 0:

	4c8671cc-8326,0
	4f734ff3-a4c6,0
	5209c753-a5ce,0
	5259e4fc-8e5e
2021-01-05  8:08:53 0 [Note] WSREP: New COMPONENT: primary = no, bootstrap = no, my_idx = 0, mem

[2021-01-10 12:45] dangelm opened #4928 "Mariadb galera nodes on k8s is crashing every few days"
<!--
**Which chart**:
mariadb-galera 10.5.5

**Describe the bug**

each 1-3 days 2 out of 3 nodes of Maria stop working. usually node 0 is ok and node 1 and 2 are in crashloopback forever.
this is very serious because it makes Mariadb not production ready on k8s.

Logs from node 0:

4bad400e-9ab6,0
4c8671cc-8326,0
4f734ff3-a4c6,0
5209c753-a5ce,0
5259e4fc-8e5e
2021-01-05 8:08:53 0 [Note] WSREP: New

[2021-01-10 13:05] #4928 closed

[2021-01-10 13:10] dangelm opened #4929 "Some of Mariadb galera cluster nodes in k8s are stuck in crashloopback state"
**Which chart**:
10.5.5

**Describe the bug**

each 1-3 days 2 out of 3 nodes of Maria stop working. usually node 0 is ok and node 1 and 2 are in crashloopback forever.
this is very serious because it makes Mariadb not production ready on k8s.

Logs from node 0:

[code]
=================================================

Logs from node 2:

[code]

we currently use this config:
galera:
bootstrap:
fo

[2021-01-10 15:35] koehn commented on #4785
Ping

[2021-01-10 18:16] RobinJ1995 opened #4931 "mariadb PodDisruptionBudget does not get created"
**Which chart**:
[code]

**Describe the bug**
Setting `primary.pdb.create=true` and `secondary.pdb.create=true` does not seem to have any effect.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy the `mariadb` chart using the following command:
[code]
... and with the following in `values.yaml`:
[code]
2. Watch 1 primary and 1 secondary pod come up.
3. Modify `values.yaml` to add the `

[2021-01-10 18:28] RobinJ1995 commented on #4931
Ah, the documentation is just wrong.

[2021-01-10 22:19] lilbumblebear opened #4933 "Magento via Kubeapps on Minikube"
**Which chart**: Magento Chart v16.0.3

**Describe the bug**
I am unable to view the magento frontend or admin, I get errors during the upgrade step for finishing the installation.  When I have tried hardcoding the values I still cannot figure out how to get to the frontend or admin pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Follow instructions for installing kubeapps
2. Install

[2021-01-11 04:46] raphaelcervantes commented on #2797
I'm looking into this again and I'm confused how grafana-operator addresses the issue of provisioning dashboards for k8 cluster monitoring.

[2021-01-11 06:20] Caelebs commented on #4919
I redeployed based on the Helm v3 version, and it can be deployed successfully, It seems that the V2 and v3 versions are very different, thank you for your reply @miguelaeh

[2021-01-11 06:20] #4919 closed

[2021-01-11 07:21] kristinnardal2 commented on #4732
There is a slight difference in how the official NGINX Ingress Controller chart does this and how this is done here, there are two scope values, `.Values.rbac.scope` and `.Values.controller.scope`.

This difference makes it so that the official chart does not have dead code while this one does.

I haven't checked whether what the official chart does actually solves the issue, it's been a while sin

[2021-01-11 07:40] trungphungduc commented on #4623
Hi @marcosbc,
Sorry for letting you wait, i just comeback.
I do as your tutorial.
Step 1:
[code]
Step 2: run `/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh /opt/bitnami/scripts/postgresql-repmgr/run.sh`
=> Result:
![Screen Shot 2021-01-11 at 14 30 28](https://user-images.githubusercontent.com/42766976/104155455-d33f7900-5419-11eb-9651-cb3a33a31b7f.png)
---
![Screen Shot 2021-01-11 at 14 33

[2021-01-11 07:44] carrodher commented on #4918
Yes, that's true, this option seems to be removed by mistake. I just created a PR to add it again

[2021-01-11 08:12] #4825 closed

[2021-01-11 08:39] dani8art commented on #2061
Hi @mkjmkumar, how did you scale it? did you use `kubectl` or `helm upgrade`? if you are using `helm` command to upgrade the chart with more replica, remember you need to provide the credential so the manifest and secrets are consistent.

Could you share the step to reproduce the scale out issue, please?

Thanks!

[2021-01-11 08:47] dani8art commented on #4705
Regarding this, I think it is a k8s resources configuration issue, right? if I'm not wrong it would be fixed by finding a high availability configuration for the chart, wouldn't it?

[2021-01-11 08:55] dani8art commented on #4713
Hi @drmy did you have a chance to work on this?

[2021-01-11 08:58] carrodher commented on #4925
In order to reproduce the issue on our side, can you share with us the steps you are following when you say?

In order to use replicaset as the architecture, I'm installing the chart by running
[code]
then I am able to install it again without any issues.

Are you able to reproduce the issue if the second installation is done with a different name or even in a different namespace?

[2021-01-11 09:05] Javid907 commented on #4884
@namloc2001 Did you try these values?

podSecurityContext: null
#fsGroup: 1001
#runAsUser: 1001

[2021-01-11 09:15] #4931 closed

[2021-01-11 09:28] travisghansen commented on #4678
There are still several problems with this I think:

- the configmap has the ENV vars pointing to the wrong directory (configmap has `secrets` instead of `certs`

[code]

This snippet fails to run with the default security contexts

[code]

And even with correcting all of the above I still get this in my logs...

[code]

[2021-01-11 09:35] marcosbc commented on #4785
Sorry, forgot to add the proper tag to avoid auto-close. Unfortunately there are no updates on this issue yet.

[2021-01-11 09:52] FraPazGal commented on #4921
Hello @huisebug,

I'm not sure I understand what your are referring to when you say detection mechanism, could you provide an example? You could also update the configuration using the UI, but you will need to write it by hand in both cases, it doesn't come to mind another way to do it.

[2021-01-11 09:57] javsalgar commented on #2797
Hi @raphaelcervantes , feel free to open a new ticket regarding grafana-operator and the way it provisions dashboards. I think this ticket, now that the operator is available, can be closed.

[2021-01-11 09:57] #2797 closed

[2021-01-11 10:18] #2046 closed

[2021-01-11 10:18] juan131 commented on #4894
Great, I created an internal task to evaluate this alternative and I associated it to this issue. We'll keep you updated.

[2021-01-11 10:26] dave-yotta commented on #4925
Sure in more detail, we've got the mongodb chart as a subchart/dependency of ours, and configuring in our values file like this:
[code]

We also set off a job that runs a script to initialise the replicaset - I had observed that there was no `rs.initiate` done by bitnami as far as I can tell:

[code]

Can you confirm if bitnami does infact do a `rs.initiate` command?  A race condition here might e

[2021-01-11 10:30] carrodher commented on #4918
Basically the option is added back again and some information was included in the values.yaml.
[code]
just by setting
[code]
in the _values.yaml_

[2021-01-11 10:31] FraPazGal commented on #4907
Thank you for reaching out @viceice,

 The first batch was done in #4870, and we are pending for newer batches to be completed ATM. We expect to continue this week, thank you for your understanding!

[2021-01-11 10:43] juan131 commented on #4923
Hi @JeroenVanOort

It's a matter of compatibility between clusters that may have a different cluster domain.

I recommend you using the `nameOverride ` or `fullnameOverride` parameter to avoid having such long names. For instance:

[code]

[2021-01-11 10:49] carrodher commented on #4925
Thanks for the info.

Yes, there is a logic to do the initialization in the primary.

In the container repo, you can find the [following function](https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.4/debian-10/rootfs/opt/bitnami/scripts/libmongodb.sh#L562):

[code]

That is executed [here](https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.4/debian-10/rootfs/opt/bitnami/s

[2021-01-11 10:56] dave-yotta commented on #4925
Perhaps I'm less familiar with the rs.initiate call - but it seems you are not adding the secondaries to the members array in your call, I don't believe that will work?

FYI here is the slightly perplexing "I'm not configured - I'm already configured - I'm not configured" timeline I'm seeing:

[code]

But perhaps this is due to two configs being sent into the cluster.  I'll backtrack and disable t

[2021-01-11 10:56] ItsReddi opened #4935 "[bitnami/redis-cluster] cluster cannot recover from failing states"
**Which chart**:
redis-cluster (4.2.1)

**Describe the bug**
Readiness & liveness probes are killing pods that are in recovery process.
![grafik](https://user-images.githubusercontent.com/3147888/104171694-50132880-5403-11eb-9a15-116aca0d2e09.png)
The problem is that both liveness and readiness will timeout for a long time after:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. start

[2021-01-11 10:57] JeroenVanOort commented on #4923
Thank you for your reply.

I understand that there are clusters that have a non-default domain. But that doesn't matter when the domain is no longer used in the host, right? If I understand correctly, `podname.servicename.namespace` is an alias for `podname.servicename.namespace.svc.clusterdomain`.

If I understand correctly, this is what is used in the [redis-cluster chart](https://github.com/bit

[2021-01-11 10:57] sachgaik-xl opened #4936 "RabbitMQ pods takes more time to deploy when used with AWS EFS as a storage class."
**Which chart**:
The name (and version) of the affected chart
https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq/
Version: 8.6.1

**Describe the bug**
RabbitMQ pod takes more than 20 mins to deploy when used with AWS EFS as a storage class. But it works fine when I use gp2 as a storage class.
Here is output of **kubectl get pods**
![image](https://user-images.githubusercontent.com/5982

[2021-01-11 11:29] rafariossaa commented on #4818
I am closing this issue.

[2021-01-11 11:32] andresbono commented on #4926
Hi @cschockaert, I'm not really sure if I'm understanding the proposal. It seems like you are specifying that the service for external access is of type `ClusterIP`, but at the same time, you are trying to modify the `loadBalancerIP` field. However, as per the [Kubernetes API reference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#servicespec-v1-core):

loadBalancerIP strin

[2021-01-11 11:43] rafariossaa commented on #4927
Hi,
  Thanks for spotting this !.
  Would you like to make a PR ? We will be glad to review and merge it .

[2021-01-11 11:57] dave-yotta commented on #4925
Ok - yes the replica set does come up as you've described - looks like you're adding members a different way here: https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.4/debian-10/rootfs/opt/bitnami/scripts/libmongodb.sh#L593

I'll just see what's happening if I do this on CI now.  Is there an init-container I should follow the logs of to see what's going on with the data-dir?

[2021-01-11 12:06] rafariossaa commented on #4830
Hi,
 This is weird.
 Just to try to debug this, do you mind stopping that kubernetes cluster and trying minikube ?
 On which linux distro did you install kubernetes ? I would like to set up a similar environment to try to debug this issue.

[2021-01-11 12:34] pestebogdan commented on #4255
Hi @boquie. Didn't bring up an environment to validate, but my guess is the reason is that you set `htaccessPersistenceEnabled: True`.

From the description in values.yml (https://github.com/bitnami/charts/blob/c7291dbc6ecc3eed53cfb812aef63924cabb609d/bitnami/wordpress/values.yaml#L131-L135)

[code]

Via the script you put the desired .htaccess configuration under /bitnami/wordpress/.htaccess , bu

[2021-01-11 12:52] leonidas-o commented on #4830
Running on CentOS 8, with Kubernetes 1.20 and podman, buildah, cri-o.
Minikube is unfortunately not an option. This environment should be as close to production as possible.

[2021-01-11 13:19] #4918 closed

[2021-01-11 13:27] cschockaert commented on #4926
Hmm yes you are right, but after some more tests i found that my real problem was that when persistance is off, a new pod would not automatically join the redis cluster again (as stated in this issue https://github.com/bitnami/charts/issues/3933)
i naively though that using a static service ip instead of pod dynamic ip in the redis announce ip would correct this thing but seems that it's not the c

[2021-01-11 13:31] cschockaert commented on #4926
Saying that, coz helm is fine for fast install package on a k8s cluster, but so many teams are using helm package as dependency with requirement feature, and are updating the requirements not always with helm upgrade command but with live kubectl command in production. So be able to troubleshoot a redis-cluster with easy accessible command (without running helm again) would be a great add to this

[2021-01-11 14:11] ValeriiVozniuk opened #4939 "RabbitMQ deployed as subchart fails on upgrade with "common.errors.upgrade.passwords.empty" error"
**Which chart**:
rabbitmq, 8.6.2

**Describe the bug**
After rabbitmq chart upgrade from 7.5.6 to 8.6.2 I've faced an issue with chart upgrade when rabbitmq is used as subchart. The primary chart is initially deployed with several components replicaCount set to 0, so they would not start till the database restore process job is completed. So, when restore process is completed, I run the upgrade co