[2022-04-01 09:37] dominik-bln opened #9654 "[bitnami/redis] <defunct> readiness and liveness probe processes"
### Name and Version

bitnami/redis 16.7.0

### What steps will reproduce the bug?

I have no clear reproduction, but the problem we are seeing is likely to be explained in https://github.com/containerd/containerd/issues/4255#issuecomment-629108343

Currently the `timeoutSeconds` is passed [as-is to the `timeout` call](https://github.com/bitnami/charts/blob/9d8c4321830d01bbb2ffeef57054c1ff0e463d8a

[2022-04-01 09:41] #5976 closed

[2022-04-01 11:40] Kamalsalimidi commented on #9498
It's working now, issue can be closed.

[2022-04-01 13:05] Startouf opened #9659 "[bitnami/postgres] document (and possibly override) existingSecret keys"
### Name and Version

bitnami/postgres

### What is the problem this feature will solve?

Inform the user of what keys are expected in existingSecret

THe postgres credentials can be confusing because there are
- the admin user "postgres" credentials
- the option non-admin database user often referred to as "postgresql"

When using an existingSecret, it is not clear what the values are for both of

[2022-04-01 13:48] pmpetit opened #9660 "[bitnami/pg] wrong password"
### Name and Version

bitname/postgres

### What steps will reproduce the bug?

follow the doc
and execute
[code]

### Are you using any custom parameters or values?

no

### What is the expected behavior?

password is ok

### What do you see instead?

running the pgsql client pod:
[code]

### Additional information

here is the way i use helm:
[code]

[2022-04-01 14:49] ArgonV commented on #8433
Ah, well the original message I had was: `Update failed: fatal: not a git repository (or any parent up to mount point /var/lib) Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set). : exit status 128`

When I totally removed the repo and added it back, the error I got was what I posted here in my previous comment.

[2022-04-01 14:58] skreienk opened #9663 "External-DNS extraArgs array index bug"
### Name and Version

bitnami/ external-dns:6.2.3

### What steps will reproduce the bug?

Using extraArgs in the values field in the helm chart

### Are you using any custom parameters or values?

extraArgs:
  - --txt-owner-id=k8s
  - --provider=rfc2136

### What is the expected behavior?

Should result in app deployment like:
  containers:
      - args:
        - --txt-owner-id=k8s
        - --p

[2022-04-01 15:21] jbianquetti-nami commented on #8433
Please, note that Helm charts it's not a Git repository but a CDN distribution. It doesn't understand any git API call, and this was causing a lot of errors from the CDN perspective. We set a few rules to prevent these calls from polluting the CDN statistics and thanks to this we're able to find the root issue, that was related to caching settings.  We're actively monitoring the issue.

[2022-04-01 15:36] skreienk opened #9664 "External-DNS rfc2136.kerberosConfig goes to the bitbucket"
### Name and Version

 external-dns:6.2.3

### What steps will reproduce the bug?

Populating rfc2136.kerberosConfig in the helm chart

### Are you using any custom parameters or values?

The values don't matter, it behaves the same no matter what the field is populated with

### What is the expected behavior?

Populating rfc2136.kerberosConfig should result in a configmap containing the entry, an

[2022-04-01 15:40] ArgonV commented on #8433
I am not sure what Rancher UI is doing then, I'm not specifically telling it that this is a Git repo.

[2022-04-01 16:30] javsalgar commented on #9632
Hi,

Just a note to let you know that we released a new revision of the container that fixes the issue with ulimit.

https://github.com/bitnami/bitnami-docker-rabbitmq/commit/5cfd04f2afa335f169b52a749dcf96a570198fc2

The chart is being updated with the latest image, so stay tuned.

[2022-04-01 17:43] hectoralicea commented on #9468
@marcosbc Thanks, that helped.  One question.  If there were keycloak cli commands that we wanted to run during the post container init, commands such as sync ldap or others like that, is there a section in the values yaml where we can create that script with cli calls to execute a the end of setup?  We do something similar to that in the wordpress helm chart.

[2022-04-01 19:50] abhi10agarwal commented on #1210
The issue Read-only file system was resolved by properly setting up the NFS server and client configuration.

[2022-04-01 23:51] Kaelten commented on #9476
looking forward to having the ha chart support 14.x; having to choose between HA and modern postgres isn't great :(

[2022-04-02 01:32] #9080 closed

[2022-04-02 01:32] #8802 closed

[2022-04-02 01:32] #8163 closed

[2022-04-02 01:32] #6315 closed

[2022-04-02 01:32] #4104 closed

[2022-04-02 01:45] Kaelten commented on #6352
So we don't have the ability to upgrade this reliabily then?  How could this be okay for almost a year?

[2022-04-02 13:19] ielyanov opened #9666 "[bitnami/kafka] Access fails on Liveness/Readiness"
### Name and Version

kafka-16.2.0

### What steps will reproduce the bug?

`helm repo add bitnami https://charts.bitnami.com/bitnami`

[code]

[code]

The installation result on:
`# kubectl describe pod/kafka-0 -n kafka-cluster1`

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Version of H

[2022-04-02 20:28] luyang93 commented on #9588
Yes, missing this CRD and role binding, https://github.com/argoproj/argo-workflows/blob/master/manifests/base/crds/full/argoproj.io_workflowtaskresults.yaml
![image](https://user-images.githubusercontent.com/39150988/161399850-d06d4e76-e7e2-4066-bf76-e0d375a5cd17.png)

[2022-04-02 20:30] luyang93 commented on #9588
Fallback version to 3.2.9?

[2022-04-03 00:56] skreienk commented on #9664
There was a parameter that I missed... rfc2136.rfc3645Enabled.

[2022-04-03 00:56] #9664 closed

[2022-04-03 01:04] skreienk opened #9668 "ExternalDNS prefix instructions clarification"
### Name and Version

 external-dns:6.2.3

### What steps will reproduce the bug?

Using the RFC2136 provider, both txtPrefix and txtSuffix are marked as optional and both are left to default to null.

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

If using RFC2136 the DNS registration should work after filling in all required parameters.

##

[2022-04-03 10:41] shaharl-sternum commented on #9639
Hi, @rafariossaa.

Thanks but it doesn't work.

[2022-04-03 12:27] igorrudyk opened #9671 "Expanding PVC value causes upgrade to fail"
### Name and Version

bitnami/mongodb

### What is the problem this feature will solve?

Steps to reproduce the behavior:

1) `helm install mongo bitnami/mongodb -f values.yml`
2) update pvc size on line 395 from 8Gi to 50Gi
3) `helm upgrade mongo bitnami/mongodb -f values.yml`
See error:
[code]

### What is the feature you are proposing to solve the problem?

I expect that it should upgrade expan

[2022-04-03 12:41] igorrudyk commented on #3291
Hello guys,
Could you please recommend the best way to extend Persistent Volume on AWS?

Thank you

[2022-04-03 20:38] justinrush commented on #9417
I'll give this a shot next week, thanks

[2022-04-04 01:32] #9399 closed

[2022-04-04 01:32] #9395 closed

[2022-04-04 01:33] #9324 closed, assigned to nobody

[2022-04-04 01:33] #9032 closed

[2022-04-04 01:33] #8985 closed

[2022-04-04 02:17] tbnguyen1407 commented on #8918
/keepalive

[2022-04-04 06:16] carrodher commented on #9668
Thanks for the suggestion. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-04 06:23] carrodher commented on #9659
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-04 06:43] javsalgar commented on #9663
Hi,

Thank you for using Bitnami. Could you try setting it as a map instead of an array?

[code]

[2022-04-04 07:08] #9498 closed

[2022-04-04 07:58] smolinari commented on #9061
:eyes: I'm interested in this too.

Scott

[2022-04-04 08:03] javsalgar commented on #5771
Hi,

Just a note to let you know that we recently released a new major version of the etcd chart changing the etcd image to 3.4 (as 3.5 was discouraged by etcd developers). I tried installing the cluster without persistence enabled and found no issues.

[code]

Not sure if the issue is still applicable with this etcd version. Could you confirm?

[2022-04-04 08:17] fmulero commented on #9540
Could you share your `values.yaml`? I think I've got it but I don't reproduce your issue exactly  and I'd like to reproduce it before fixing it

[2022-04-04 09:23] rafariossaa commented on #9639
Hi,
  I did this change to the values and the deployment went well for me.
[code]
Chart deployment:
[code]
The chart got deployed:
[code]

You could also render the templates and check that the configuration is there:
[code]

[2022-04-04 09:30] badatya14 opened #9674 "[bitnami/kubernetes-event-exporter]Enable imagePullSecrets in template files"
### Name and Version

bitnami/kubernetes-event-exporter 1.4.5

### What steps will reproduce the bug?

1. Pulling image `kubernetes-event-exporter:0.11.0-debian-10-r129 `from a private repo needs imagePullSecrets. (Note: We are hosting images in our own public cloud registry)
2. imagePullSecrets [variable](https://github.com/bitnami/charts/blob/master/bitnami/kubernetes-event-exporter/values.yaml#

[2022-04-04 09:33] fmulero commented on #9654
Thanks a lot @dominik-bln  for sharing this issue. Would you like to contribute by creating a PR with your proposal? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

Please note that you can test your solution setting a `customLivenessProbe`

[2022-04-04 09:35] miguelaeh commented on #9367
Hi @tbnguyen1407 ,
We configured several chars to work with `readOnlyRootFilesystem`, but in this case, we did it only for charts created around scratch containers, since they don't need to write into the system.
Zookeeper relays on some automatic configuration that probably needs to create files/directories, so even though you can use an emptyDir volume to fix the issue with the certificates, you

[2022-04-04 09:38] miguelaeh commented on #9472
Thanks!

[2022-04-04 09:40] rafariossaa commented on #8802
Hi,
  There was  an upstream update.
  The chart was update to include the latest version of the exporter.
  Could you give it a try ?

[2022-04-04 09:42] rafariossaa commented on #9603
Hi @lretrain91 and @aeber
  As you have find the issue,  would you like to send a PR fixing it ?. We will be glad to review and merge it.

[2022-04-04 09:54] shubhra27 opened #9675 "Integration with DNS"
### Name and Version

bitnami/postgresql-ha/8.6.0

### What is the problem this feature will solve?

Will be able to access postgres through DNS.

Also kindly suggest how to integrate postgres with tolls installed on VM.

### What is the feature you are proposing to solve the problem?

Will be able to access postgres through DNS.

### What alternatives have you considered?

_No response_

[2022-04-04 10:08] tbnguyen1407 commented on #9367
@miguelaeh Thanks for looking in to this.

We have not ran into any issue with the main container, only for the new init-certs container. Is it possible to add the fix for init-certs only in the chart for now? Currently we need an extra post-renderer to patch the init-container to avoid modifying upstream chart.

[2022-04-04 10:13] iFshadow opened #9676 "Broken RabbitMQ deploy with enabled RABBITMQ_DEFINITIONS_FILE"
### Name and Version

bitnami/rabbitmq

### What steps will reproduce the bug?

1. Run in kubernetes cluster
2. `values.yml` file included custom `load_definition.json` definition
3. Run as
[code]
4. Error
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Success run kubernetes pod

### What do you see instead?

Crashed pod with error
[c

[2022-04-04 10:17] shubhra27 commented on #9675
Hi @rafariossaa Actually I want to access postgres through DNS. Also I want to know about how can I add postgres as database for tools installed on VMs. Not sure if I raised in correct platform, bbut this is my requirement.

Thanks
Shubhra

[2022-04-04 10:36] dominik-bln commented on #9654
While trying to make the suggested change, I saw that someone else apparently already had the same idea with a slightly different fix using `add1`:

https://github.com/bitnami/charts/blob/2fff81ca29efc1ee0e3988998834541012a34b19/bitnami/redis/templates/master/application.yaml#L191-L192

I'm a bit confused now why we still saw this problem. The only idea I currently have is that we had a brief situ

[2022-04-04 11:03] javsalgar commented on #9666
Hi,

Does the issue happen when enabling persistence? Just to understand the cause of the issue.

[2022-04-04 11:20] joancafom commented on #9671
Hi @igorrudyk

I believe this is not directly related to the chart itself and has to do more with Kubernetes instead. You can check more info in the official documentation:

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#resizing-a-volume-containing-a-file-system
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#resizing-an-in-use-persistentvolumeclaim

[2022-04-04 11:22] igorrudyk commented on #9671
Thank you, @joancafom

[2022-04-04 11:38] rubyalwaystaken opened #9677 "Add a new helm-exporter chart"
### Name and Version

bitnami/helm-exporter

### What is the problem this feature will solve?

[This project](https://github.com/sstarcher/helm-exporter) exports helm release, chart, and version statistics in the prometheus format

### What is the feature you are proposing to solve the problem?

Add a new bitnami chart using sstarcher/helm-exporter

### What alternatives have you considered?

Ther

[2022-04-04 11:40] dgomezleon commented on #9660
Hi @pmpetit ,

Usually, this kind of issue appears because the password from a previous installation is present in the PVC. You can manually delete them or use another name for your release in order to use a new password.

[2022-04-04 11:56] rutkai commented on #9676
This one affects us too. Here is how it looked:

            {{- if .Values.loadDefinition.enabled }}
            - name: RABBITMQ_LOAD_DEFINITIONS
              value: "yes"
            - name: RABBITMQ_SECURE_PASSWORD
              value: "no"
            {{- else }}
            - name: RABBITMQ_LOAD_DEFINITIONS
              value: "no"
            - name: RABBITMQ_SECURE_PASSWORD

[2022-04-04 12:29] NorseGaud commented on #5771
My issue is seen with persistence enabled, @javsalgar

[2022-04-04 13:18] mikulass opened #9680 "Any plans for Argo-workflows v.3.3.1 with bitnami chart?"
### Name and Version

bitnami/argo-workflows 0.2.4

### What is the problem this feature will solve?

Hello, sorry to disturb with this, if this off topic or if I'm missing some info...For our workflow project we would like to use some new feature from Argo workflows v 3.3.1.  For deployment we use bitnami chart, which deploys currently  v 3.2.7. Is there any near future plan/schedule to release u

[2022-04-04 13:47] albertkohl-monotek commented on #9591
@migruiz4, hello! just following up.

[2022-04-04 14:09] maximemf opened #9682 "[bitnami/postgresql] outdated options in readme for a deployment to openshift"
### Name and Version

bitnami/postgresql

### What steps will reproduce the bug?

A new chart standardization has been applied recently to Postgresql Helm chart. This changed a lot the structure of the values.yaml file.

But the information in the README.md file under the [Differences between Bitnami PostgreSQL image and Docker Official image](https://github.com/bitnami/charts/blob/master/bitnami/

[2022-04-04 14:52] jotamartos commented on #9490
Hi @lknite,

Thank you for the suggestion and for taking the time to report this. I've been evaluating this component to add it to our catalogue and found that they are in the process of integrating the applicationset-controller binary into the Argo CD application.

https://github.com/argoproj/applicationset/commit/de10506d8ff81970567381ef3f4dae4b76f50220

As you can see here, they already have th

[2022-04-04 15:47] #9278 closed

[2022-04-04 17:51] anand-kulk opened #9684 "Authentication session notes disappear during registration flow"
### Name and Version

bitnami/keycloak 3.0.3

### What steps will reproduce the bug?

We're using keycloak chart and have customized bitnami/keycloak:16.1.0 image with custom authenticator and customized login/registration flows and Postgres enabled. The issue is, during pre-login, we're saving authNotes in authentication session but in next request the notes disappear. The issue intermittently ha

[2022-04-04 18:19] carrodher commented on #9680
Since version 1.1.2, the bitnami/argo-workflows Helm chart uses version 3.3.1 for the container images bundled in the Helm chart, see https://github.com/bitnami/charts/commit/ca9a3ca4597e3d4d1f199bf0aef05b92bd2c78fd.

Probably you need to update your Helm client repo:
[code]

[2022-04-04 20:20] mikulass commented on #9680
Many thanks

[2022-04-04 20:20] #9680 closed

[2022-04-04 20:31] alop commented on #5771
@javsalgar Just tried with the latest chart version, persistence disabled, rbac disabled, replicaCount=3

It almost wants to work, etcd-0 and etcd-1 seem to both expect the same cluster ID, but etcd-2 always comes up with a different cluster ID.

[2022-04-04 21:20] aeimer commented on #9478
@fmulero how can we help to "un-on-hold" this topic? Its quite relevant for us. Also I know for sure the problems began with the version switch `15.3.3 => 15.4.0`. Maybe that info helps. When you compare these two tags, the are quite some bash changes, I can't evaluate them properly as I don't have enough context to really understand whats going on. But it seems like since that change the redisson

[2022-04-05 06:43] carrodher commented on #9677
Thanks for your suggestion! We will check it internally and evaluate the feasibility but due to limited resources that could take some time.

If you want to contribute with the chart do not hesitate to open a PR and we will review it. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) you can find the requirements and scaffolding to create a

[2022-04-05 07:21] fmulero commented on #9654
Thanks @dominik-bln. Could you do a simple test? Please set the `master.readinessProbe.timeoutSeconds` and `master.livenessProbe.timeoutSeconds`. For example use this `values.yaml`:
[code]

[2022-04-05 07:30] rafariossaa commented on #9684
Hi,
  I am sorry, but we are not keycloak experts. In this case I would suggest you to ask in keycloak forums to get a better answer. My guess is that issue is related to your configuration an not with the default chart and images.
  Please, don't hesitate to come back and share your findings.

[2022-04-05 07:36] rafariossaa commented on #9675
Hi,
  As you may know, containers names are not resolvable outside the container enviroment. So, if for example you have a container running in you laptop, to access it from an application running in your laptop, you have to expose the ports and access it using `localhost`. You could give `localhost` and alias in `/etc/hosts` and use that alias in your application.

[2022-04-05 07:39] fmulero commented on #9390
HI @alexisaraya, sorry for the late response. Did you  resolve your issue?

[2022-04-05 08:12] #7264 closed

[2022-04-05 08:27] miguelaeh commented on #9674
Hi @badatya14 ,
Checking the `deployment.yaml` it should be rendering the image pull secrets. Check [this](https://github.com/bitnami/charts/blob/8f470730b42433cebc9a158def75d84ac8008e1d/bitnami/kubernetes-event-exporter/templates/deployment.yaml#L38).
There are two options:
1. Putting them into the `image` object. Check [this](https://github.com/bitnami/charts/blob/8f470730b42433cebc9a158def75d84

[2022-04-05 08:31] javsalgar commented on #9676
Hi,

This bug was fixed here https://github.com/bitnami/bitnami-docker-rabbitmq/commit/4c90fe2b508075c3e70c996023f5164a11469453

It seems that the chart was not updated with the latest image. I will force a release to fix it.

[2022-04-05 09:18] rlees85 commented on #8172
Its a shame this is closed as stale. I have the same problem and am tempted to submit a PR to work around it. I cannot think of a 'clean' approach to do this though.

Maybe something like a `systemCa` flag under `client` that is default to `false` (to keep existing behaviour). Then we can set it to `true` to skip adding the extra command line for the client CA certificate.

[2022-04-05 10:14] badatya14 commented on #9674
@miguelaeh Many thanks taking a look at it. It worked. Thank you 👍

[2022-04-05 10:14] #9674 closed

[2022-04-05 10:41] javsalgar commented on #5771
Hi,

I tried 10 times and I was only able to see the issue once. There must be some sort of race condition but I am unable to reproduce it. I tried with and without persistence, I don't think the issue has to do with persistence. Any clues about your Kubernetes platform that could help me to reproduce the issue?

[2022-04-05 11:26] larntz commented on #5771
I don't have a lot of details to add but maybe it will help. For me it works locally, but not [consistently] on eks. Both clusters are v1.20.x of kubernetes.

I did not have this issue on a local test cluster (vms on libvirt). But I do have this issue when deploying to an eks cluster -- there it failed ~4/5 times.

I also gave up and went back to v5 of the chart and it works every time.

[2022-04-05 11:28] cdemi commented on #5771
If it helps, I deploy on AKS (Azure) and still randomly the cluster doesn't reach quorum. I have to delete and recreate until it works

[2022-04-05 11:31] NorseGaud commented on #5771
I'm almost 100% certain this is a timing issue. ETCD is extremely sensitive to timing when deploying and even for things like disk I/O.

[2022-04-05 12:01] deB4SH opened #9686 "RabbitMQ Sercure Password Logic Missing"
### Name and Version

bitnami/rabbitmq

### What steps will reproduce the bug?

1) deploy after upgrading the helmchart to 8.31.*

### Are you using any custom parameters or values?

Not required for this issue

### What is the expected behavior?

RabbitMQ container is starting with given load_definitions

### What do you see instead?

[code]

### Additional information

The commit: https://github

[2022-04-05 12:41] Espe0n opened #9687 "[bitnami/cassandra] Typo in Certificate Handling"
### Name and Version

bitnami/cassandra 9.1.14

### What steps will reproduce the bug?

1. Deploy the Bitnami Cassandra Helm-Chart with auto-generated Certificates
2. Update the Helm-Chart

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Cassandra is deployed

### What do you see instead?

Error in the `init-certs`-Container
[code]
Most probab

[2022-04-05 13:49] migruiz4 commented on #9585
Not an issue with the service type, but with MongoDB design.

When the MongoDB client connects to a node, it may happen that the MongoDB server redirects to another node where the data is located, and the client will establish a new connection with that node.

If that address is internal, the client won't be able to connect to that second node. That is why with `externalAccess.enabled=true` an ind

[2022-04-05 15:11] anand-kulk commented on #9684
Thanks @rafariossaa, I asked on keycloak forum and will update here if I find anything there.

[2022-04-05 16:16] #9603 closed

[2022-04-05 16:36] dboc commented on #8433
@ArgonV Hi,
I have the same issue here, i've been using bitnami charts in Rancher and everything was fine until last week.

The message error is the same:  `Clone failed: Cloning into 'management-state/catalog-cache/a68a354dfd35755d14bebd02d825feb24ecbbd0496438ceb36691e1eabaa4947'... fatal: Remote branch master not found in upstream origin : exit status 128 `

Did you have some new about it?

[2022-04-05 16:40] ArgonV commented on #8433
Hello @dboc , sadly I do not. It is still broken for us (after adding, deleting, refreshing, removing the branch name from the Catalog add UI, etc...) - and I'm pretty sure the new filtering in-place on the CDN distro is the cause.

[2022-04-05 16:51] jonathon2nd opened #9689 "[bitnami/redis] Redis sentinel enters tilt mode and dies after a time"
### Name and Version

bitnami/redis 16.8.2

### What steps will reproduce the bug?

Install bitnami/redis in sentinel mode.

Wait a while (It typically happens within an hour) for sentinel containers to start restarting for no reason.

### Are you using any custom parameters or values?
[code]

### What is the expected behavior?

Expected behavior is sentinel to not restart for no seemingly reason.

[2022-04-05 17:08] dboc commented on #8433
@ArgonV , thanks.
There is an open Issue in Ranchers Github's, Maybe its related to the Rancher and not related to bitnami.
Link: https://github.com/rancher/rancher/issues/37136

[2022-04-05 17:13] jnt2007 opened #9690 "volumePermissions container not fixes permissions, still get Permission denied at startup"
### Name and Version

bitnami/kafka 16.2.2

### What steps will reproduce the bug?

1. Amazon EKS with EBS CSI driver
2. `helm install kafka bitnami/kafka -f kafka.yaml -n test --create-namespace`
3. Check Kafka pods logs

### Are you using any custom parameters or values?

kafka.yaml
[code]

### What is the expected behavior?

Kafka and zookeeper pods are running with no errors

### What do you s

[2022-04-05 17:52] shawnsavour commented on #7573
del-node and forget not working, after about 60 seconds, it appears again

[2022-04-05 17:53] shawnsavour commented on #7573
del-node and forget not working, after about 60 seconds, it appears again

[2022-04-05 17:57] jonathon2nd commented on #9689
Finished retested with smaller values. Exact same results. Redoing again with more things stripped, will post in a bit.
[code]

[code]

[2022-04-05 19:10] jonathon2nd commented on #9689
Finished another test, this time with a more basic values file. Exact same behavior.
I do not believe I can reduce the values more than this.
[code]

sentinel log
[code]

[2022-04-05 19:32] mikulass opened #9692 "Argo 3.3.1 workflow user "system:serviceaccount:..." cannot list resource "secrets" in API group "" at the cluster scope"
### Name and Version

bitnami/argo-workflows 1.1.8

### What steps will reproduce the bug?

Hello apologize if this is wrong place to ask... I've deployed argo-workflows 3.3.1 with bitnami helm chart on k8s (into ns argo-events).

After chart deployment I see following warning/error message in controller log:
W0405 18:04:56.432746       1 reflector.go:324] pkg/mod/k8s.io/client-go@v0.23.3/tools/ca

[2022-04-05 22:12] jonathon2nd commented on #9689
For sanity I reconfigured chrony on the hosts and configured them all to the same server. This did not help either.

[2022-04-06 01:30] #9415 closed

[2022-04-06 01:30] #9401 closed

[2022-04-06 01:31] #9392 closed

[2022-04-06 01:31] #9391 closed

[2022-04-06 01:31] #9384 closed

[2022-04-06 01:31] #9337 closed

[2022-04-06 01:31] #9228 closed

[2022-04-06 01:31] #8721 closed

[2022-04-06 03:25] karezza commented on #9491
Closing, yes, the technique you speak of was unfamiliar to me.  It works just fine.

[2022-04-06 06:30] #9491 closed

[2022-04-06 06:38] carrodher commented on #9689
Hi! After some attempts trying to reproduce the issue, it seems it is not an issue related to the Bitnami Redis Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and us

[2022-04-06 06:50] rickwang7712 opened #9693 "[bitnami/redis-cluster] Opening the temp file for AOF rewrite in rewriteAppendOnlyFile(): Permission denied"
### Name and Version

chart version redis-cluster-0.1.2 / app version 6.0.5

### What steps will reproduce the bug?

Apply helm chart with aof enabled and wait a couple days, and then some pods will occur logs like this:
[code]

There is another guy get the same issue like this on Stackoverflow: [Deploy bitnami redis-cluster using helm](https://stackoverflow.com/questions/71101957/deploy-bitnami-r

[2022-04-06 07:09] deB4SH commented on #9686
Issue is already tracked under: https://github.com/bitnami/charts/issues/9676
I'm closing this issue in favor of 9676

[2022-04-06 07:09] #9686 closed

[2022-04-06 07:15] PePTojr commented on #8869
Hi  my ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak-ingress-ssl
  namespace: default
  annotations:
     nginx.ingress.kubernetes.io/rewrite-target: /$1
#     nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
#     kubernetes.io/tls-acme: "true"
#     kubernetes.io/ingress.class: "nginx"
#     ingress.kubernetes.io/force-ssl-redirect: "true"
#     nginx.ing

[2022-04-06 08:05] rickwang7712 commented on #9693
I found this issue is related with the config get dir result is wrong:

normal: redis-cli config get dir
[code]

abnormal: redis-cli config get dir
[code]

After reset the dir:  `redis-cli config set dir /bitnami/redis/data`
everything works again.

[2022-04-06 08:07] ddelange commented on #7305
@nodesocket you could give [ZCube/bitnami-compat](https://github.com/ZCube/bitnami-compat) a spin ref https://github.com/bitnami/charts/issues/7305#issuecomment-1025062796

[2022-04-06 08:20] rafariossaa commented on #9690
Hi,
  Could you try enabling: `volumePermissions.enabled` ? That will run a container that changes the permissions. This is needed sometimes depending the type of storage used.

[2022-04-06 08:20] rafariossaa commented on #9684
Thanks !

[2022-04-06 08:21] rafariossaa commented on #9686
Thanks

[2022-04-06 08:23] javsalgar commented on #9687
Hi!

Thank you so much for reporting. It definitely seems a bug to me. Would you like to submit a PR fixing the issue?

[2022-04-06 08:23] ghost opened #9695 "Fix adding extra volumes and extra volumeMounts"
### Name and Version

bitnami/mongodb:11.0.1

### What steps will reproduce the bug?

Change how extraVolumes and extraVolumeMounts are injected in the standalone, arbiter, replicaset and hidden statefulsets.

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

extraVolumes and extraVolumeMounts are correctly added to the statefulset generated manifest.

#

[2022-04-06 08:27] itaytalmi opened #9696 "[bitnami/prometheus] `tls-secrets.yaml` template is invalid due to indentation issues"
### Name and Version

bitnami/prometheus 6.8.6

### What steps will reproduce the bug?

The `tls-secrets.yaml` template has indentation issues.
https://github.com/bitnami/charts/blob/master/bitnami/kube-prometheus/templates/prometheus/tls-secrets.yaml#L10#L11
`data` and `type` shouldn't be under `metadata`.

It should be:

[code]

### Are you using any custom parameters or values?

Irrelevant

###

[2022-04-06 08:34] jnt2007 commented on #9690
Please look at my attached values file. It is already enabled

[2022-04-06 08:36] rafariossaa commented on #9695
Hi,
  Could you provide more background of the issue you are finding with the volumes ?

[2022-04-06 08:39] rafariossaa commented on #9690
Sorry, I missed it.

[2022-04-06 08:43] javsalgar commented on #9693
Hi,

This is very strange, I'm not sure how the application may have changed the configuration directory. Does the issue happen consistently after some time?

[2022-04-06 08:44] javsalgar commented on #9696
Hi,

Thank you so much for reporting! Would you like to submit a PR fixing the issue?

[2022-04-06 08:46] itaytalmi commented on #9696
Hi @javsalgar We've actually tried, but ran into issues submitting the PR... That's why we've opened this issue.

[2022-04-06 08:47] rickwang7712 commented on #9693
@javsalgar I'm still observing, but it looks like it happens after some random time period.
I'm doubting if there is a security issue, but my redis-cluster doesn't expose on the internet.
Currently I'm grepping 'config' from MONITOR's output, and see if there was an unexpected config set command.

[2022-04-06 08:47] ielyanov commented on #9666
Sorry.  I can't check with PV right now.

It works on Centos7, but it doesn't work on Oracle Linux Server 8.5

[2022-04-06 09:16] stephaneetje opened #9698 "[redis] PDB differenciate master/replica"
### Name and Version

bitnami/redis

### What steps will reproduce the bug?

Actually, master and replicas are in the same pdb, thats problematic as it shouldn't be treated the same way.

I have 1 master and 2 replicas, as the pdb considers the 3 pods being in the same group, it kills the master (then i lose the connection on the replicas -> downtime on my app) as it considers i have 2 other pods

[2022-04-06 09:20] rickwang7712 commented on #9693
After investigation, I finally found that our redis-cluster has NodePort exposed... , and because I didn't add password protection, so I think it is a security problem...

[2022-04-06 09:20] migruiz4 commented on #9695
Hi @ajammali,

Thank you for reporting this issue. This will be addressed in #9648.

Currently, the `extraVolumes` and `extraVolumeMounts` values are not being interpreted as a template, and rendered instead with `toYaml`.

[code]

In that PR, we will replace that with
[code]

The helper `common.tplvalues.render` acts as a combination of both `tpl` and `toYaml`.

[2022-04-06 09:32] dominik-bln commented on #9654
I think I figured it out and the problem was pretty certainly on our side. When investigating the issue I apparently only looked at the Chart version defined in the application repo which is `16.7.0`. There were still some old Redis instances running with the Chart version `10.6.15` though which doesn't contain the fix mentioned above.

Let me know if you think I should still test with the setting

[2022-04-06 09:32] #9654 closed

[2022-04-06 09:45] ajammali commented on #9695
Hello,
@migruiz4 thanks for your reply.
@rafariossaa I think it's more clear now with @migruiz4 answer.

[2022-04-06 10:10] #8650 closed

[2022-04-06 11:00] alemorcuq commented on #9588
I've created a PR adding the missing CRD. Hope this fixes your issue.

[2022-04-06 11:25] #9582 closed

[2022-04-06 12:16] javsalgar commented on #5771
Hi,

I think I found the cause of the issue. I had to instrument the the upstream `etcd` code in the part that calculates the cluster id.

etcd calculates the cluster ID using the cluster member IDs. At the same time, the member IDs are calculated using the member hostnames. Here you can see one piece of instrumented code:

[code]

After adding these `plog.Infof`, I could see that the list of memb

[2022-04-06 13:15] smetal1 opened #9705 "Issue with latest Minio helm chart release"
### Name and Version

bitnami/minio 11.2.6

### What steps will reproduce the bug?

1. Add the bitnami  minio Helm chart
2. Install minio using helm

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

It should install minio

### What do you see instead?

Wait helm template failed. Error: found in Chart.yaml, but missing in charts/ directory: com

[2022-04-06 13:33] Espe0n commented on #9687
PR is here: https://github.com/bitnami/charts/pull/9706

[2022-04-06 13:35] saisree-philips opened #9707 "[bitnami/thanos] Deploy receive with replication factor higher than 1"
### Name and Version

bitnami/thanos

### What is the problem this feature will solve?

To be able to run receive with replication factor of 3 (anything higher than 1), hashring config has to be provided so that receiver knows where to forward the request to. With the current version of helm it is not possible to have this in combination with autoscaling of pods. When the receive pods are scaled a

[2022-04-06 13:37] #9693 closed

[2022-04-06 13:38] rickwang7712 commented on #9693
I found that the chart I used set's service's type to NodePort as default value.

[2022-04-06 14:06] Gowlar opened #9709 "bitnami/fluentd readiness and liveness probes connection refused"
### Name and Version

bitnami/fludent 5.0.15

### What steps will reproduce the bug?

Kubernetes Version: 1.21.2
FluentD: 5.0.15
Hello,

I am running FluentD 5.0.15, and the daemonset forwarders all fail on readiness and liveiness probes.
Furthermore, If i exec into the running pod try and curl 127.0.0.1/fluentd.healthcheck I get connection refused.

After a short period all the pods will get cras

[2022-04-06 14:38] franviera92 commented on #9588
i try worked with chart version 1.1.4 and no is work

[2022-04-06 15:00] krishnadce commented on #9296
Hi @migruiz4

We are facing a strange issue with redis on Kubernetes. When multiple application pods connecting to the redis and doing the increment operation by GET and then SET with +1, we observed that SET operation is performed with same value twice. So, instead of incrementing in the second write, the value is not changed.
1. We are suspecting that the read-replica is not synced with master b

[2022-04-06 15:22] luyang93 commented on #9588
Maybe still missing ClusterRole or  Rolebinding.
[apiGroups](https://github.com/argoproj/argo-workflows/blob/153540fdd0e3b6f00050550abed67cae16299cbe/manifests/install.yaml#L945)

[2022-04-06 15:27] Shujja1746 opened #9712 "Redis Cluster is failing with qurum reached error."
### Name and Version

bitnami/redis-cluster

### What steps will reproduce the bug?

Deploy the cluster with the latest values.yaml (11 masters and 11 slave)

Load the redis with 30gb data in each redis nodes

After some time redis is failing with qurum reached error

### Are you using any custom parameters or values?

Using value.yaml file with chart version redis-cluster-7.4.3 and app version 6.

[2022-04-06 15:44] dgomezleon commented on #9692
Hi @mikulass ,

I have merged a PR to fix the problem. Please let us know if you find any other issues.

[2022-04-06 17:17] Shujja1746 opened #9713 "Update or add redis nodes failing the entire redis cluster"
### Name and Version

bitnami/redis-cluster latest version

### What steps will reproduce the bug?

Deploy the redis-cluster with 9 nodes, load the redis cluter with 50 gb ram in each node.

Try to add nodes or upgrade the cluster to premium disk.

The cluster is going into pending state.

### Are you using any custom parameters or values?

Using values.yaml to do helm upgrade

helm upgrade --time

[2022-04-06 18:32] #5771 closed

[2022-04-06 20:00] jonathon2nd commented on #9689
Yeah I did not think it was a problem with the chart.

I am just completely baffled by this behavior, and if anyone has any ideas as to what could be causing this, I would be very grateful.

[2022-04-06 20:32] thomastvedt opened #9714 "Replica can't connect to master, Unable to connect to MASTER: Invalid argument"
### Name and Version

bitnami/redis 16.8.0

### What steps will reproduce the bug?

1. Install redis with no persistence, as Deployment and with values below
2. redis-master works
3. redis-replicas-0 can't contact redis-master

### Are you using any custom parameters or values?

values.yaml:

[code]

command:

[code]

### What is the expected behavior?

Expected master and replica to work OOTB.

#

[2022-04-06 21:13] mikulass commented on #9692
Hello @dgomezleon,
many thanks for PR to fix the problem. I've just deployed :

CHART NAME: argo-workflows
CHART VERSION: 1.1.4
APP VERSION: 3.3.1

with updated values.yaml, but I still see same error in **controller** pod:

time="2022-04-06T20:34:39.433Z" level=info msg="Update leases 200"
time="2022-04-06T20:34:40.391Z" level=info msg="List workflowtaskresults 403"
W0406 20:34:40.391993       1

[2022-04-06 21:59] nodesocket commented on #7305
@ddelange from a security standpoint, not sure we can in good faith use the ZCube builds unfortunately. We need a trusted source of truth.

[2022-04-07 00:41] vishZeno commented on #7305
Readiness/Liveness probe checks are failing on MacBook Pro M1 - is it because the ARM64 is not completely supported yet?

[2022-04-07 01:30] jokeyrhyme commented on #7305
Just to double-check: are we blocked here because ARM64 build agents are not available (e.g. paid for)? Or are we blocked because there's potentially non-trivial work to adopt ARM64 build agents?

[2022-04-07 01:30] #9420 closed

[2022-04-07 01:30] #9371 closed

[2022-04-07 01:30] #9298 closed

[2022-04-07 01:30] #8877 closed

[2022-04-07 02:50] tropicallydiv commented on #9604
@carrodher : will do

[2022-04-07 05:16] t1 commented on #7305
You don't need special build agents. E.g. https://github.com/t1/rdohna-wildfly-docker-image builds just fine on standard GitHub build infrastructure, both arm and amd.

[2022-04-07 05:42] ddelange commented on #7305
I think the bottleneck is not so much the computational resources but rather the human resources to get this done in the internal Jenkins pipeline (https://github.com/bitnami/charts/issues/7305#issuecomment-906480229 and https://github.com/bitnami/charts/issues/7305#issuecomment-957326180). If I understand correctly, in the end the ETA will come down to the priorities in the Tanzu roadmap (https:/

[2022-04-07 08:11] rafariossaa commented on #9695
Hi,
  Yes it is.
  Let's wait until #9648 is merged.

[2022-04-07 08:21] rafariossaa commented on #9713
Hi,
  When upgrading, which versions are you using ?  Regarding the scaling, have you take a look the the [notes here](https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster#user-content-cluster-topology) ?

[2022-04-07 08:23] stephaneetje commented on #9698
I tried to switch the master's kind to `deployment` but then the helm chart doesn't create the `pvc` :
`bitnami/redis/templates/master/pvc.yaml`
[code]
Looks like deployment kind can only be used in standalone mode.
Switching to deployment would have resolved the problem of rolling update killing my only master before the new one is up.

[2022-04-07 08:25] javsalgar commented on #8172
Hi!

If you had a PR in mind, do not hestitate to send it and we can iterate on it :D

[2022-04-07 08:31] cdemi commented on #5771
Is it possible that this fix broke the snapshotting functionality? On a brand new cluster, the snapshotter job refuses to run:
`/opt/bitnami/scripts/libetcd.sh: line 267: MY_STS_NAME: unbound variable`
![image](https://user-images.githubusercontent.com/8025435/162156167-5bcffd85-9e18-4c10-82c2-29905f23bc1b.png)

[2022-04-07 08:41] shubhra27 commented on #9675
Hi,

I deployed this postgres HA helm chart with loadbalancer service enabled. Now I want to attach DNS to the loadbalancer.
How can I do that?

[2022-04-07 08:42] javsalgar commented on #9696
Hi,

Could you explain which issue you found submitting the PR? Was there any issue in our Github actions?

[2022-04-07 08:45] javsalgar commented on #9705
Hi,

Could you explain how you installed the chart? I was unable to reproduce the issue.

[code]

It seems to me that you cloned the bitnami/charts repository and then executed the helm install. In that case, you need to run `helm dep build` inside the minio folder.

[2022-04-07 08:47] javsalgar commented on #9712
Hi,

Do you have a link to a dataset that triggers the issue? We would like to reproduce the issue in our side.

[2022-04-07 08:58] javsalgar commented on #8869
Hi @PePTojr could you share a values.yaml that triggers the issue? I would like to exactly reproduce the issue on my side.

[2022-04-07 09:03] javsalgar commented on #7573
Could you confirm that these instructions don't work?

https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster#scale-down-the-cluster

[2022-04-07 09:19] thomastvedt commented on #9714
https://github.com/bitnami/charts/blob/247ad356bf1731ca0b38dac8d507d807c0fd0b73/bitnami/redis/templates/replicas/statefulset.yaml#L128-L129

This is where replica sets it's master ref name, a zero is appended..

But here:
https://github.com/bitnami/charts/blob/247ad356bf1731ca0b38dac8d507d807c0fd0b73/bitnami/redis/templates/master/service.yaml#L5

The headless service name does not have a zero..

[2022-04-07 09:21] PePTojr commented on #8869
sorry my English,   values.yaml ,  where I can get,   Im noob))

extraEnv: |
  - name: KEYCLOAK_USER
    value: admin
  - name: KEYCLOAK_PASSWORD
    value: admin123
  - name: DB_ADDR
    value: "172.17.56.56"
  - name: DB_PORT
    value: "5432"
  - name: DB_DATABASE
    value: "keycloak"
  - name: DB_USER
    value: "keycloak"
  - name: DB_VENDOR
    value: "POSTGRES"
  - name: DB_SCHEMA
    valu

[2022-04-07 09:58] dunefro opened #9716 "extraEnvVarsCM not working in bitnami/airflow chart if specified on the global level"
### Name and Version

bitnami/airflow 12.1.5

### What steps will reproduce the bug?

1. Create a `configmap` with any name (let's say `test-cm`).
2. Pass the `configmap` in `.Values.extraEnvVarsCM`.
3. Run the `helm template` command or `helm install`.
4. Configmap is not attached to the pods
5. Passing the configmap in `.Values.scheduler.extraEnvVarsCM` or `.Values.web.extraEnvVarsCM` or `.Value

[2022-04-07 10:01] ano010 commented on #4675
Hi,

Is there any update on this? I have been trying to connect the MySQL client with Azure MySQL via SSL. Though it is enabled from the server-side, it seems the client doesn't support it.

I get this error "PHP Warning:  mysqli::__construct(): (HY000/3159): Connections using insecure transport are prohibited while --require_secure_transport=ON. in /opt/bitnami/moodle/lib/dml/mysqli_native_moodle

[2022-04-07 11:10] cdemi opened #9720 "[bitnami/etcd] - Snapshotter job crashing on startup"
### Name and Version

bitnami/etcd v7.0.2

### What steps will reproduce the bug?

Configure bitnami/etcd 7.0.2 with:

[code]

Wait for the snapshotter job to run.

On starting it will crash:

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

I think this is relate

[2022-04-07 12:22] WolfspiritM opened #9722 "minAvailable not"
### Name and Version

bitnami/redis-cluster 7.4.5

### What steps will reproduce the bug?

1. Use minAvailable of the chart
2. It's not used

### Are you using any custom parameters or values?

minAvailable: 1
maxUnavailable: 1

### What is the expected behavior?

I'd expect it to create a pdb with minAvailable set to that number

### What do you see instead?

Nothing happens

### Additional infor

[2022-04-07 12:26] WolfspiritM commented on #9481
I think this is not only a problem with affinity rules but also pod disruption budges.
https://github.com/bitnami/charts/issues/9722

I think it would be helpful to have master and slaves in different statefulsets but I guess cause of failovers and switching that's not possible?

[2022-04-07 13:15] fmulero commented on #9478
I am trying to build an scenario to reproduce the issue with redisson. Any help is welcome

[2022-04-07 14:08] lambertsbennett commented on #9660
@dgomezleon deleting the pvc's worked for me. Thanks!

[2022-04-07 14:34] FraPazGal commented on #9714
Hello @thomastvedt,

I have been able to reproduce the issue and there is indeed a bug when installing the chart using `master.kind=Deployment`.

The issue is indeed related to the hardcoded `master-0` pod name, but I don't think the issue is coming from the headless service, as it has an endpoint for the master node and you can ping the endpoint's IP from inside the cluster:

[code]

The issue se

[2022-04-07 18:55] fmulero commented on #9478
I've just reproduced the issue with redisson client 3.15.5

[2022-04-07 19:33] ask664 opened #9726 "failed: Connection timed out Is the server running on that host and accepting TCP/IP connections?"
### Name and Version
bitnami/postgresql:latest
### What steps will reproduce the bug?

wget https://get.helm.sh/helm-v3.8.0-linux-amd64.tar.gz.  # install helm
tar -xvf helm-v3.8.0-linux-amd64.tar.gz
linux-amd64/helm install **feast-postgres-offline-store** bitnami/postgresql  # install postgres with feast-postgres-offline-store release name

Successfully postgres installed.

# get postgres servic

[2022-04-07 19:41] maleksan opened #9727 "PostgreSQL in `readReplicas` section are missing pgHbaConfiguration and existingClaim parameters"
### Name and Version

bitnami/postgresql 11.1.18

### What steps will reproduce the bug?

PostgreSQL Helm chart version: 11.1.18
https://github.com/bitnami/charts/tree/master/bitnami/postgresql

In [values.yaml](https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml) file for `readReplicas` section are missing the following parameters (which are available in `master` section)

[2022-04-07 20:12] jonathon2nd commented on #9689
https://github.com/redis/redis/issues/10547#issuecomment-1092120764

@carrodher, is Redis Sentinel 7.0+ on the roadmap? I have not seen any reference nor do I see anything in https://hub.docker.com/r/bitnami/redis-sentinel

Thanks!

[2022-04-07 22:14] Tajjar commented on #9474
Hi @javsalgar,
sadly my aim is not overwrite resolv.conf but to modify and append. I still feel the necessity of having dnsConfig in the statefulset template.
BR,

[2022-04-07 23:41] vincentchong1 opened #9729 "pcp_attach_node is not successful"
### Name and Version

bitnami/postgresql-ha-8.4.4

### What steps will reproduce the bug?

I will like to reference below ticket in this channel too.

Will like to find out the procedure to attach backend node, after it detached automatically due to failure.

Restart pgpool work, but is there any other alternative.

https://github.com/bitnami/bitnami-docker-pgpool/issues/80

[code]

#### After cha

[2022-04-08 01:30] #9430 closed

[2022-04-08 01:30] #9339 closed

[2022-04-08 04:08] GounGG commented on #2427
I understand that the nodeport mode is still only accessed on the same intranet machine as kafka, rather than across different intranet segments, using the public network to access.

[2022-04-08 04:49] amithins opened #9730 "Permissions to vhost / is not granted to user if load_definition feature is used"
### Name and Version

bitnami/rabbitmq 8.31.2

### What steps will reproduce the bug?

1. Install the 8.31.2 chart of rabbitmq with load_definition feature enabled
[code]
2. Login to rabbitmq pod and list permissions of vhost /
[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

In rabbitmq container,
[code]

### What do you see instead?

In rabb

[2022-04-08 05:34] amithins commented on #5976
Thanks for taking this up @javsalgar, helps a lot. Tried out the new chart (8.31.2), [facing an issue with this](https://github.com/bitnami/charts/issues/9730).

[2022-04-08 05:41] #9427 closed

[2022-04-08 06:52] stephaneetje commented on #4088
Hello,
Is there any update on this ? Actually, with one master, each deployment makes a downtime with redis as it kills the master before creating the new one. I can't use it in production because of that.

[2022-04-08 08:01] lindhe commented on #9515
Please no stale.

[2022-04-08 08:31] BWagenerGenerali opened #9731 "RBAC configuration for OpenShift routes missing routes/custom-host resource"
### Name and Version

bitnami/grafana-operator 2.3.5

### What steps will reproduce the bug?

In this commit https://github.com/bitnami/charts/commit/d87dec202858e218f08470a8a28d5397426b6a6c?diff=split#r70792073 the resource "routes/custom-host" has been removed from the RBAC configuration.
We assume this is a mistake, the official grafana-operator RBAC configuration contains this resource https:/

[2022-04-08 08:36] javsalgar commented on #9720
Hi,

Thank you so much for reporting! Indeed, the latest changes are related. In the snapshotter env vars you need to add the following:

[code]

Would you like to submit a PR fixing the issue?

[2022-04-08 08:52] javsalgar commented on #9726
Hi,

It seems there are some formatting issues in the issue. Could you fix them so it is properly readable?

[2022-04-08 08:54] javsalgar commented on #9727
Hi,

I believe that the pghba configuration could be added to the chart. My concern would be in the existingClaim section, as it would be shared by all replicas in the statefulset, causing concurrency issues.

[2022-04-08 08:57] maleksan commented on #9727
Yes, you are right, adding existingClaim for replica could be possible if there will be only one replica, if more, than as you said - will be concurrency issues...

[2022-04-08 08:57] miguelaeh commented on #9604
It is possible that nothing happened because as @carrodher said, the parameters do not match the version you are using. Upgrade the helm chart to version `11.1.19` and find the corresponding parameters [here](https://github.com/bitnami/charts/blob/fe1a645434795c0838904e2b8cf0041a2ed904e0/bitnami/postgresql/values.yaml#L1)

[2022-04-08 09:04] WolfspiritM commented on #9722
Hi. I can give this a try. I'm however not sure what the best option would be. I can see two ways of doing it:

1. Remove minAvailable and maxUnavailable completly from the values and Readme as it's using the podDisruptionBudget as the spec via toYaml.
2. Change how the pdb is handled by having a "create" or "enabled" flag (that seems to be not consistent between charts). Something like
[code]
tha

[2022-04-08 09:27] cdemi commented on #9720
I have opened PR #9735

This is my first time opening a helm chart PR so I am not sure if it's up to standard. I welcome feedback

[2022-04-08 09:34] sharmavickram opened #9736 "zookeeper instances are in pending state so kafka is also crashing"
### Name and Version

bitnami/kafka   tag: 2.8.1-debian-10-r31

### What is the problem this feature will solve?

need 3 brokers kafka to be installed and working

### What is the feature you are proposing to solve the problem?

need 3 brokers kafka to be installed and working

### What alternatives have you considered?

getting zookeeper in pending states only

![image](https://user-images.github

[2022-04-08 09:38] alemorcuq commented on #9588
Will you be willing to contribute with a PR?

[2022-04-08 10:33] jaceksan commented on #9720
I am affected as well.
I tried to workaround it by setting disasterRecovery.enabled to false, but it does not work, obviously, because it is false by default.
Is there any workaround solution?

[2022-04-08 10:39] jaceksan commented on #9720
My colleague tried it too (in k3d too) and after some time etcd nodes completely crash reporting missing member_id.

[2022-04-08 10:50] jaceksan commented on #9720
OK, I used version 7.0.1. I updated to 7.0.2 and now it works.

[2022-04-08 13:41] alemorcuq commented on #9698
Thanks for reporting this. Would you be interested in contributing with a PR to fix the PDB?

[2022-04-08 13:52] stephaneetje commented on #9698
@alemorcuq
After thinking about it, i'm not sure this will fix, also not sure if that works as the pvc will be the same (can it be mounted on 2 pods at the same time?)
I found this issue which looks related but with no update since more than a year : https://github.com/bitnami/charts/issues/4088

[2022-04-08 14:40] rafariossaa commented on #9675
Not very sure what you mean by "attach DNS to the loadbalancer". You should have a name for the loadbalancer service, that name will be reachable inside the k8s cluster.

[2022-04-08 15:29] jaudiger commented on #9478
@fmulero If you need any more investigation, I can try to mount an environment on my side if you give me where I should look.

[2022-04-08 15:30] javsalgar commented on #9716
Hi,

Thank you so much for reporting! Would you like to submit a PR fixing it?

[2022-04-08 15:44] werwuifi opened #9739 "Problems deploying pre-configured and exported Keycloak realms"
### Name and Version

bitnami/keycloak 7.1.6

### What steps will reproduce the bug?

I am customizing values.yaml to import existing realm configs. According to the comments in the template file

`# NOTE: nil keys will be considered files to import locally
`
my assumption was I only need to provide the path to the exported files and leave the value after the colon empty.

[code]

results in:
Erro

[2022-04-08 15:50] werwuifi commented on #9739
Actually the 3rd option with pasting the content now works. My mistake was I put the whole path there (realms/...) instead of just a file name. However it would be more convenient to have the config in external JSON files than pasting thousands lines of code.

[2022-04-08 16:25] joancafom commented on #9707
Hi @saisree-philips

Thanks for opening up this issue. I will take a look into it with the team and provide you with updates soon 😁

[2022-04-08 16:44] m-guest opened #9740 "[bitnami/mariadb-galera] specifying metrics.servicemonitor.selector also adds default value"
### Name and Version

bitnami/mariadb-galera 7.1.6

### What steps will reproduce the bug?

1. Deploy chart with custom values as below (`metrics.serviceMonitor.enabled` + `metrics.serviceMonitor.selector`)
2. Check k8s `ServiceMonitor` `galera-mariadb-galera`

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Deploy `ServiceMonitor` without adding the

[2022-04-08 17:08] fmulero commented on #9478
I've attached [here](https://github.com/bitnami/charts/files/8453984/gh-9478.zip) the scenario that I tested. My main clue at the moment is host announcement. In version 15.4.0 we started to announce the members using [hostnames instead of IP address](https://github.com/bitnami/charts/blob/master/bitnami/redis/templates/scripts-configmap.yaml#L379) ([redis documentation](https://redis.io/docs/manu

[2022-04-08 17:13] dunefro commented on #9716
@javsalgar Yes would surely do that.

[2022-04-08 17:18] shawnsavour commented on #7573
yes, it is not working, after I forget the node, it seems to appear again after about 60 seconds. The only way I can do is delete all my Persistance volumn claim of redis to install it again.

[2022-04-08 17:55] carrodher commented on #4675
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-moodle#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image

[2022-04-09 01:30] #9471 closed

[2022-04-09 01:30] #9461 closed

[2022-04-09 03:23] luyang93 commented on #9588
ok, I'll try to do that.I know little about helm templates.

[2022-04-09 08:29] eelzinaty opened #9741 "Parse Server - Connect to external MongoDB using mongodb+srv protocol"
### Name and Version

bitnami/parse 17.0.8

### What is the problem this feature will solve?

Use external MongoDB instead of managing it.

### What is the feature you are proposing to solve the problem?

I want to have the option to set chart values that allows me to connect to external DB using `mongodb+srv` protocol. So in the chart options I can disable deploying MongoDB and use the external o

[2022-04-09 08:41] jaudiger commented on #9478
I mount a setup with Redis Sentinels and I only launched your `topic-subscriber` example. I did two modifications:
- First, I disabled the authentication (should have no impact here)
- Then, I switched to Redisson 3.17.0

Using the Redis Bitnami chart (version: 16.5.4), I got the following logs:

[code]

With the version 15.3.0 of the chart, I got the following logs:

[code]

[2022-04-09 14:54] itaytalmi commented on #9696
Hi @javsalgar I've now managed to submit the PR.

[2022-04-10 00:08] rthamrin opened #9743 "canary development features."
### Name and Version

bitnami/nginx-ingress-controller

### What is the problem this feature will solve?

enable canary future through the annotation

I got an error message "404" page not found when added the canary annotation

### What is the feature you are proposing to solve the problem?

support canary cookies, header and weight

### What alternatives have you considered?

snippets and config

[2022-04-10 01:31] #9477 closed

[2022-04-10 07:36] tridelt opened #9744 "bitnami/fluentd make plugins coinfigurable in chart"
### Name and Version

bitnami/fluentd 5.0.15

### What is the problem this feature will solve?

This fluentd chart uses an elasticsearch plugin which is incompatible with elasticsearch 7
I cannot install another fluentd-elasticsearch plugin which would be compatible with elasticsearch 7.

### What is the feature you are proposing to solve the problem?

Make plugins configurable in the elasticsearc

[2022-04-10 08:27] arezvani commented on #4429
I think these metrics not complete and when i check metrics.properties i saw some lines that contains driver and executer are commented. So i created configMap and mount it to metrics.properties then i got this error:
mv: cannot move '/opt/bitnami/spark/conf/metrics.properties.template' to '/opt/bitnami/spark/conf/metrics.properties': Device or resource busy
what should i do?

[2022-04-10 08:50] leonidUH opened #9745 "Uploading custom config set via zookeper"
### Name and Version

bitnami/solr:8.11.1

### What steps will reproduce the bug?

1 prepare custom config set (CS)
2. upload it via zookeeper
/opt/bitnami/solr/bin/solr zk upconfig -n {CS_NAME} -d {CS_FOLDER} -z {ZK_HOST}:2181
3 create collection with this config set

   https://{SOLR_HOST}:8983/solr/admin/collections?action=CREATE&name=
  {COLLECTION_NAME}&numShards=1&replicationFactor=1&maxShar

[2022-04-10 11:19] busyboy77 opened #9746 "installing mysql helm chart giving error '/opt/bitnami/mysql/conf/bitnami/my_custom.cnf' No Such file or directory"
### Name and Version

`bitnami/mysql             8.0.28`

### What steps will reproduce the bug?

1. Install chart using

[code]

#### Output Generated

[code]

2. Follow the instructions to run a pod and use it as a client

[code]

3. Note that it also happens on secondary

[code]

### Are you using any custom parameters or values?

--set auth.rootPassword=root  --set architecture="replication"

[2022-04-11 01:34] #9489 closed

[2022-04-11 01:34] #9486 closed

[2022-04-11 01:34] #9457 closed

[2022-04-11 01:34] #9448 closed

[2022-04-11 01:34] #9153 closed

[2022-04-11 02:46] scalp42 opened #9747 "Allow --aws-zones-cache-duration in external-dns chart"
### Name and Version

bitnami/external-dns 6.2.4

### What is the problem this feature will solve?

It should be possible to cache the API call that list hosted zones on Route53 side by making use of [--aws-zones-cache-duration=3h](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/aws.md) as an example.

### What is the feature you are proposing to solve the problem?

Addi

[2022-04-11 04:32] lou-lan opened #9748 "Add contour debug level option."
### Name and Version

bitnami/contour 7.6.0

### What is the problem this feature will solve?

* Add contour log level opetion.

### What is the feature you are proposing to solve the problem?

Update chart.

### What alternatives have you considered?

_No response_

[2022-04-11 06:38] jaudiger opened #9750 "[bitnami/elasticsearch] Add the ability to populate the keystore on init"
### Name and Version

bitnami/elasticsearch 17.9.25

### What is the problem this feature will solve?

Some plugins as `repository-s3` needs to be provisionned with the S3 credentials to access the repositories. These credentials need to be put inside the keystore. The keystore have to be provisioned before the start of elasticsearch in order to initialize correctly the plugin.

### What is the fe

[2022-04-11 06:40] jaudiger opened #9751 "[bitnami/elasticsearch] Add the possibility for a post init script"
### Name and Version

bitnami/elasticsearch 17.9.25

### What is the problem this feature will solve?

Today, there is no possibility to easily do a post initialization once the elasticsearch cluster has booted.

### What is the feature you are proposing to solve the problem?

It could be nice to have a such parameter to let the user runs a post initialization script.

### What alternatives have y

[2022-04-11 06:43] carrodher commented on #9750
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-11 06:43] carrodher commented on #9747
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-11 06:45] #9696 closed

[2022-04-11 06:56] carrodher commented on #9689
Hi, at this moment, Redis 7.0 is a "Release Candidate" version, once released this new major version as a stable version by the upstream Redis maintainer, we will include it in our catalog as usual.
The policy at this moment is to support as many branches as supported by the upstream projects.

[2022-04-11 06:59] carrodher commented on #4429
Hi @arezvani can you please create a new issue with the information about your specific use case?

[2022-04-11 07:02] carrodher commented on #9743
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-11 07:02] carrodher commented on #9741
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-11 07:05] carrodher commented on #9740
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-11 07:46] fmulero commented on #9478
Thanks @jaudiger for testing it and sharing the results.

I tested with redisson client 3.17.0 using the headless service and the result seems much better, but after terminating one redis pod (redis-node-0.redis-headless.default.svc.cluster.local) I started to see this dance. The IP address: `10.1.12.219` is the new one for that pod:
[code]
If we kill the topic subscriber, the new subscriber pod c

[2022-04-11 08:10] ustundagsemih opened #9752 "[bitnami/redis] Slaves external access with Sentinel enabled"
### Name and Version

bitnami/redis

### What steps will reproduce the bug?

Trying to create Redis Sentinel instances. However an application outside the cluster can't talk with the slaves because of the clusterIP addresses.

I tried creating seperate services for each pod in order them to be accessible outside the cluster but in sentinel.conf it still shows the cluster IP addresses.

Is it possi

[2022-04-11 08:16] carrodher commented on #8433
Apart from the Rancher UI issue, are you still facing this issue once applied on our side the mitigation described by @jbianquetti-nami at https://github.com/bitnami/charts/issues/8433#issuecomment-1086032159?

[2022-04-11 08:38] miguelaeh commented on #4088
Hi guys, there is no progress on this, and actually, it doesn't look possible to use a deployment since the Redis cluster needs different volumes for each replica and needs to connect to the rest of the pods. Using a deployment it won't be possible to perform those actions, so it wouldn't add any advatanges.

[2022-04-11 08:49] ask664 commented on #2061
I'm still facing same issue after deleting helm chart and PVC also:

[code]
After deleting i am trying to re-install.
Here postgres installation info:

[code]
When i execute this command showing me correct password which i set while installing postgres through helm -
To get the password for "postgres" run:
    `export POSTGRES_PASSWORD=$(kubectl get secret --namespace n1 postgres-postgresql -o jso

[2022-04-11 09:16] carrodher commented on #7709
Thanks for reporting this issue. Unfortunately and due to other priorities and the bandwidth we have, the task to add this feature is not part of our mid-term roadmap.
Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing

[2022-04-11 09:27] javsalgar commented on #9474
Hi!

I didn't know that field existed! Would you like to submit a PR adding it?

[2022-04-11 09:34] migruiz4 commented on #9296
Hi @krishnadce,

I'm sorry but I lack the expertise to help with more in-depth issues with Redis, I would recommend redirecting your question to the upstream Redis team.

To configure these settings, you can use either the value `commonConfiguration` or `master.configuration` / `replica.configuration`.
https://github.com/bitnami/charts/blob/0264ab422b994bb376962c3549c2208edda6788f/bitnami/redis/va

[2022-04-11 09:42] javsalgar commented on #9729
Hi,

Do you have any steps that trigger the `backend nodes` not available issue? Any values that trigger the issue always?

[2022-04-11 09:46] javsalgar commented on #9730
Hi!

Could you show the logs to see if there's anything meaningful?

[2022-04-11 09:49] javsalgar commented on #9731
Hi!

Thanks for the PR! The team will take a look

[2022-04-11 09:50] javsalgar commented on #9727
Hi,

About the pghba configuration, would you like to add the feature in the chart?

[2022-04-11 09:51] maleksan commented on #9727
Yes, sure, would like to add

[2022-04-11 09:57] javsalgar commented on #9722
Hi,

The standard would be `pdb` and `pdb.create`. We are working on making all the charts consistent and this is the preferred approach.

[2022-04-11 10:00] javsalgar commented on #9720
@cdemi thank you so much for the PR! The team will take a look

[2022-04-11 10:07] javsalgar commented on #9739
Hi,

Did you try with the existingConfigMap value?

[code]

[2022-04-11 10:17] shubhra27 commented on #9675
I got loadbalancer service IP, not name through which I am connecting to outside. Now I want to connect to postgres through DNS from outside cluster. Is it possible, if yes then how? Also, regarding the loadbalancer name, how can this be configures? I am not getting any documentation regarding this so reaching out to this portal.

[2022-04-11 10:19] sdahlbac opened #9755 "[bitnami/postgresql] checks improperly quoted"
### Name and Version

bitnami/postgresql 11.1.19

### What steps will reproduce the bug?

1. I am deploying the helm chart using terraform, but that should not matter
2. with tls enabled and healtchecks enabled postgres does not start

### Are you using any custom parameters or values?

tls.enabled: yes
tls.certificatesSecret: postgresql-tls-secret
tls.certFilename: cert.crt
tls.certKeyFilename: c

[2022-04-11 10:19] carrodher commented on #9748
Thanks for filling this issue and the associated PR. This issue will be automatically closed once merged the PR. The team is currently reviewing it

[2022-04-11 10:42] javsalgar commented on #9744
Hi,

In other charts we allow the use of init scripts in order to perform extra operations. Would that work for your use case?

[2022-04-11 10:48] tridelt commented on #9744
Dear @javsalgar,
thank you for your reply. Currently the elastic-search plugin is 5+ and I would need `4.3.3`.
I believe that the solution you suggested would fix my problem.
Yours
@tridelt

[2022-04-11 10:50] javsalgar commented on #9736
Hi,

I was not able to reproduce the issue

[code]

Could you provide more details about the k8s platform and volume provisioners you are using?

[2022-04-11 10:55] javsalgar commented on #9751
Hi,

Our charts already have init scripts support:

[code]

Would that be enough for your use case?

[2022-04-11 11:00] javsalgar commented on #9752
Hi,

It seems that the redis container should also configure the `replica-announce-ip` in order to allow this external access. We will work on this, but we cannot guarantee an ETA. If you want to speed up the process, would you like to add support for a REDIS_ANNOUNCE_IP variable via a PR?

https://github.com/bitnami/bitnami-docker-redis/

[2022-04-11 11:02] javsalgar commented on #9675
Hi,

That would depend on the cloud you are using for your Kubernetes cluster. Depending on which, they may also create accessible DNS entries for the LoadBalancer service.

[2022-04-11 11:09] sbnmanthey opened #9756 "[bitnami/drupal] Add parameters to create/assign ServiceAccounts"
### Name and Version

bitnami/drupal

### What is the problem this feature will solve?

To comply with german BSI IT-Grundschutz (government IT-Security guidelines), pods are not allowed to use default ServiceAccounts. The Drupal Chart uses the default ServiceAccount and has no parameters to assign and/or create an individual ServiceAccount.

### What is the feature you are proposing to solve the

[2022-04-11 11:13] javsalgar commented on #2061
Hi,

I've been unable to reproduce the issue:

[code]

[2022-04-11 11:19] javsalgar commented on #9755
Hi,

Does the issue happen with the auto-generated tls certificates?

[2022-04-11 11:21] sdahlbac commented on #9755
I haven't tried, since I cannot use them

[2022-04-11 11:22] sdahlbac commented on #9755
Not sure if this is related, but
[code]

I'm a bit surprised that this could even work

[2022-04-11 11:22] javsalgar commented on #8869
Do the container logs show anything meaningful?

[2022-04-11 11:23] javsalgar commented on #5976
Thanks for reporting! Let's continue the conversation there

[2022-04-11 11:24] #9748 closed

[2022-04-11 11:26] shubhra27 commented on #9675
Hi, we are using VMware Tanzu. I have got the DNS created, but now how to attach that to loadbalancer IP, that I am struggling with.

[2022-04-11 11:27] javsalgar commented on #9716
Awesome! Please let us know when you submit it and we'll take a look :D

[2022-04-11 11:33] leonidUH commented on #9745
Hey
I can give you my config set, but that's not the problem. You can use any config set you want.
The problem is when I upload the config set to zookeeper  ( https://solr.apache.org/guide/8_11/using-zookeeper-to-manage-configuration-files.html#uploading-configuration-files-using-binsolr-or-solrj )
it saved under /configs/{CS_NAME} path , but bitnami solr using another /solr/configs/{CS_NAME} path

[2022-04-11 11:49] amithins commented on #9730
[rabbitmq.log](https://github.com/bitnami/charts/files/8463686/rabbitmq.log)

[2022-04-11 11:54] PePTojr commented on #8869
if Im use L4  loadbalance all ok, without Nginx,  Im  use IP node and port over 30000+
if  use Nginx before  cluster   stuck on  keycloak.js  without any log on container keyloak
in  log  Nginx ingress :
[11/Apr/2022:11:50:41 +0000] "GET /auth/resources/x3jze/common/keycloak/node_modules/angular-route/angular-route.min.js.map HTTP/1.0" 200 5916 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleW

[2022-04-11 11:57] stephaneetje commented on #4088
It is possible to mount the pvc on 2 pods by changing the access mode of the pvc :
[code]
So `ReadWriteMany` should do the trick, then we might be able to use a deployment for the master.

[2022-04-11 12:31] carrodher commented on #6555
I'm closing this issue since different PRs were merged in order to solve this issue (for example https://github.com/bitnami/charts/pull/9035).
Please, don't hesitate to reopen it if you are still facing this issue using the latest Helm chart version. If you face a different issue, please create a new ticket.

[2022-04-11 12:31] #6555 closed

[2022-04-11 12:31] carrodher commented on #5589
I'm closing this issue since different PRs were merged in order to solve this issue (for example https://github.com/bitnami/charts/pull/9035).
Please, don't hesitate to reopen it if you are still facing this issue using the latest Helm chart version. If you face a different issue, please create a new ticket.

[2022-04-11 12:31] #5589 closed

[2022-04-11 12:31] carrodher commented on #7464
I'm closing this issue since different PRs were merged in order to solve this issue (for example https://github.com/bitnami/charts/pull/9035).
Please, don't hesitate to reopen it if you are still facing this issue using the latest Helm chart version. If you face a different issue, please create a new ticket.

[2022-04-11 12:31] #7464 closed

[2022-04-11 12:32] carrodher commented on #2610
I'm closing this issue since different PRs were merged in order to solve this issue (for example https://github.com/bitnami/charts/pull/9035).
Please, don't hesitate to reopen it if you are still facing this issue using the latest Helm chart version. If you face a different issue, please create a new ticket.

[2022-04-11 12:32] #2610 closed

[2022-04-11 12:34] robgroundhogday opened #9757 "harbor-registry throws error"
### Name and Version

bitnami/harbor 12.2.8

### What steps will reproduce the bug?

Updating the charts from `v11.x` to `v12.2.8` with the following commands

[code]

See values.yaml below

$ kubectl get pods -n harbor returns
[code]

I run my own instances of redis and postgres in the same namespace.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

[2022-04-11 12:45] edrandall opened #9758 "minio: MINIO_DAEMON_USER and _GROUP missing from /etc/passwd"
### Name and Version

bitnami/minio 11.2.6

### What steps will reproduce the bug?

1. Environment: docker-desktop 4.5.0 with k8s 1.22.5
2. config as below
3. Deploy to the local env

### Are you using any custom parameters or values?

values overrides:
[code]

### What is the expected behavior?

Expect minio to start normally

### What do you see instead?

[code]

### Additional information

defa

[2022-04-11 13:02] ask664 commented on #2061
It is showing me error on both -
1. psql: error: connection to server on socket "/tmp/.s.PGSQL.5432" failed: FATAL:  password authentication failed for user
"postgres"
2. psql: error: connection to server on socket "/tmp/.s.PGSQL.5432" failed: FATAL:  password authentication failed for user "admin"

[2022-04-11 13:18] pastushenkoy commented on #8462
@rafariossaa , I would also be glad to help implementing this feature, but as far as I know, first we will need to implement separate docker image for triggerer. This image should store in separate repository like [bitnami-docker-airflow-worker](https://github.com/bitnami/bitnami-docker-airflow-worker), [bitnami-docker-airflow-scheduler](https://github.com/bitnami/bitnami-docker-airflow-scheduler)

[2022-04-11 13:21] javsalgar commented on #7573
Hi,

But when you say it "appears" again, what does it mean? If helm upgrade deleted the nodes, where does the node appear?

[2022-04-11 13:29] dunefro commented on #9716
Please check the [PR](https://github.com/bitnami/charts/pull/9760)

[2022-04-11 13:37] #9515 closed

[2022-04-11 14:23] #9757 closed

[2022-04-11 14:23] robgroundhogday commented on #9757
Sorry, missed the `-c` option for specifying the included container.

[2022-04-11 15:20] amal209 commented on #2588
Hiii, i created a volume for requirements.txt and upgraded the chart, but i'm still getting ModuleNotFoundError: No module named 'yfinance'

[2022-04-11 15:33] #9716 closed

[2022-04-11 16:51] #9731 closed

[2022-04-11 20:18] ArgonV commented on #8433
@carrodher I changed the URL to https://raw.githubusercontent.com/bitnami/charts/index/bitnami as was suggested in https://github.com/rancher/rancher/issues/37136#issuecomment-1086704276 , refreshed and that worked for me for now.

[2022-04-11 20:46] EugenMayer opened #9765 "wordpress: changing database host does not adopt wp-config"
### Name and Version

bitname/wordpress-13.1.15

### What steps will reproduce the bug?

- deploy a wordpress chart with database host 1.2.3.4 and get it running
- change the database host in the helm chart to 4.3.2.1 and deploy
- the wordpress instance will never be able to connect to the database, since 1.2.3.4 is still used

### Are you using any custom parameters or values?

no

### What is th

[2022-04-11 21:16] vincentchong1 commented on #9729
i believe there is an equivalent command pcp_detach_node, not exactly sure if the command will work or not.

[2022-04-12 01:31] #9503 closed, assigned to nobody

[2022-04-12 02:34] firozxpd opened #9766 "Unable to upload photos, install updates due to permission issue"
### Name and Version

WordPress 5.9.3

### What steps will reproduce the bug?

1. Login to the WordPress admin
2. Go to posts
3. Create a post
4. Add an image
5. upload an image - Not working due to a permission issue

OR

Try to install an update of WordPress or any other plugins - also not happening due to the permission issue.

### What is the expected behavior?

Set the folder permission 755 f

[2022-04-12 06:50] carrodher commented on #8433
Thanks for letting us know, let's see if this workaround fixes the issue in Rancher. We are monitoring any issue using the Helm client

[2022-04-12 06:52] maleksan opened #9768 "PostgreSQL in readReplicas section missing pgHbaConfiguration parameter"
### Name and Version

bitnami/postgresql 11.1.18

### What is the problem this feature will solve?

PostgreSQL Helm chart version: 11.1.18
https://github.com/bitnami/charts/tree/master/bitnami/postgresql

In [values.yaml](https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml) file for `readReplicas` section missing the following parameter (which is available in `master` sect

[2022-04-12 06:53] #9727 closed

[2022-04-12 07:13] alemorcuq commented on #9531
I was able to reproduce the issue, @alert101-gof. However, I think this is something intrinsic to the Redis Exporter as it prints all the exporter options when the log level is debug: https://github.com/oliver006/redis_exporter/blob/bc033de94093d5d52a55449d716fcb6d73387832/exporter/exporter.go#L84

[2022-04-12 07:49] carrodher commented on #9768
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-12 08:04] javsalgar commented on #9744
Awesome, we will work on it. I cannot guarantee an ETA but as soon as we have more news we will update the ticket. If you want to speed up the process, feel free to submit a PR in the `bitnami-docker-fluentd` and `charts` repositories.

[2022-04-12 08:16] javsalgar commented on #9675
Hi,

This is more related to the TKG cluster configuration. In this sense, my advice would be to check with the TKG support to explain how to assign a DNS entry to a LoadBalancer service.

https://community.pivotal.io/s/?language=en_US

[2022-04-12 08:23] maleksan commented on #9768
Sorry, currently I can't do so.

[2022-04-12 08:29] javsalgar commented on #9730
Hi,

I was unable to reproduce the issue

This is my diff with values.yaml

[code]

When I entered the container I saw:

[code]

Also, looking at your logs, it seems that the policies and vhost were imported correctly, so it is very weird to me.

[2022-04-12 08:43] javsalgar commented on #9729
Hi,

It would be great for us to know that, because it is very difficult to reproduce the database inconsistency situations that you report. In the past we've been unable to reproduce them correctly.

[2022-04-12 09:05] javsalgar commented on #9766
Hi,

Could you add more details of the Kubernetes platform you are using? It seems there is an issue with the volume technology you are using.

[2022-04-12 09:14] tridelt commented on #9744
Hi @javsalgar,
if you don't mind me asking I would be curious to find out what is the use-case to have an elastic-search plugin for `bitnami/fluentd 5.0.15` which doesn't support elastic-search 7. Because currently only elastic-search 7 comes as a [bitnami chart](https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch). Please excuse this nooby question. I am only trying to find a pote

[2022-04-12 09:51] ielyanov commented on #9666
Yes.

Probably is a some problem with my kubernetes cluster.

I reinstalled kubernetes on Oracle Linux Server 8.5

I have a kubernetes cluster with 2 worker nodes.
---

The pods kafka-1, kafka-2, kafka-4, kafka-6  are placed on the kub-node-1 .

The pods kafka-0, kafka-3, kafka-5, kafka-zookeper-0  are placed on the kub-node-2 .

![new](https://user-images.githubusercontent.com/16875523/162933026-

[2022-04-12 09:53] amal209 commented on #2588
here is my requirements and values
![image](https://user-images.githubusercontent.com/57093156/162933405-7ef5ab9c-f1e7-422d-9b2f-22caa1256380.png)

[2022-04-12 09:58] uberspot commented on #6499
Is there any update on this? I've stumbled on the same issue and the only workaround is to manually copy the secrets into extraEnvVarsSecret which has to be kept up to date whenever the helmrelease is recreated (aka the secrets change).

[2022-04-12 11:00] joancafom commented on #9707
Hi @saisree-philips

As far as I understand, in order to solve this, we would need to add a new `bitnami/thanos-receive-controller` container to our catalog. Then, this could be used together with the chart to properly update the hashring config accordingly in this specific scenario. However, we are not currently considering adding new containers to our catalog and, unfortunately, this would not b

[2022-04-12 11:06] amithins commented on #9730
Thats weird, got this tested by a colleague as well, seeing the same behaviour. Not sure if it makes a difference but the k8s version used is `v1.19.15-eks-9c63c4`.

[2022-04-12 12:00] sebastiangaiser opened #9773 "[bitnami/minio] provisioning.enabled: true let provisioning fail"
### Name and Version

bitnami/minio:11.2.8

### What steps will reproduce the bug?

Apply Minio Helm chart bitnami/minio:11.2.8 with the following values...

If the provisioning flag is enabled at the first run, Minio and the provisioning pod will fail. If the flag enabled at the second run, the users, groups, etc. are setup correctly...

### Are you using any custom parameters or values?

[code]

[2022-04-12 12:05] EugenMayer commented on #9765
Hello @javsalgar thank you for the quick response. Just want to express / explain how critical this issue is for this chart, since it is rather hard to recover from it:

In the case that one migrates away from the old database-host and the old is no longer present the following happens

- your container does restart all the time, since it cannot connect to the database
- the time you can access it

[2022-04-12 12:07] sebastiangaiser commented on #9773
I tried to add more users and saw the same result as before...

Logs of the provisioning pod
[code]

[2022-04-12 12:15] grace110693 opened #9774 "Master and slave not syncing after failover"
### Name and Version

 1.12.0

### What steps will reproduce the bug?

1. maria db is running in kubernetes pod on linux
2.

### Are you using any custom parameters or values?

 datasource:
        url: jdbc:mysql:sequential://maria-mariadb-primary:3306,maria-mariadb-secondary:3306/grcont

### What is the expected behavior?

1.When slave master goes down and comes backup, sync between slave and ma

[2022-04-12 12:18] grace110693 opened #9775 "Enabling read/write on issue"
### Name and Version

1.12.0

### What steps will reproduce the bug?

1. MariaDB running in kubernetes pod

### Are you using any custom parameters or values?

 datasource:
        url: jdbc:mysql:sequential://maria-mariadb-primary:3306,maria-mariadb-secondary:3306/grcont?failOverReadOnly=true

### What is the expected behavior?

When master fails, slave is opened on read/write mode

### What do y

[2022-04-12 12:25] amal209 commented on #2588
UPDATE !!
I solved the problem by adding extraVolumeMounts and extraVolumes to the airflow web and scheduler pods

[2022-04-12 12:45] joancafom commented on #9746
Hi @busyboy77

I have been able to reproduce this issue on my side, and in fact, you don't need any custom params to do so. A simple

[code]

would suffice.

Nevertheless, the `mysql: [ERROR] Stopped processing the 'include' directive in file /opt/bitnami/mysql/conf/my.cnf at line 33` message does not prevent the client from working. Even if the message appears, you can effectively connect to the

[2022-04-12 12:49] busyboy77 commented on #9746
Thanks -- that works as you suggested.

[2022-04-12 12:50] busyboy77 commented on #9746
I'm a DevOps Quality assurance person and reporting such issues ( even they dont put any error in workload) is my job.

[2022-04-12 12:54] fmulero commented on #8462
Hi @pastushenkoy thanks a lot for your enthusiasm.

You can work in your own repository and share it with us using this issue for example.  Adding a new container to the bitnami catalog is not an easy task. It requires an internal process and it could take some time.

I'll try increase the priority of our internal task about this new airflow component.

[2022-04-12 13:06] #6293 closed

[2022-04-12 14:29] miguelaeh commented on #4088
I am not familiar with `skaffold`, but I wouldn't say it is unusable.
If the issues you are facing are for upgrading, you can always mount the old volumes on a new deployed Redis cluster nodes and force the cluster re-creation.

[2022-04-12 14:56] stephaneetje commented on #4088
So everytime there is a chart upgrade we will have to manually do it ? It is pretty bad, what's the point using k8s/helm if we can't rolling update the master, and have to do all the upgrades manually.

Actually i can only use redis-cluster on non production env as we always loose the master for few second when upgrading...

[2022-04-12 19:17] jaudiger commented on #9750
Hi @carrodher, I'll not have time anytime soon to work on this issue. But if I do, I'll let you know here.

[2022-04-12 19:22] jaudiger commented on #9751
Hi @javsalgar, if I read correctly the documentation (and from what I tried with this parameter), the init script does only run before the start of elasticsearch to prepare something. What I would like is a post init script that run once the cluster responds it's healthy (so when the readiness probe get the information of the readiness of the elasticsearch).

In this post init script, I need to do

[2022-04-12 21:13] jocadu commented on #9614
Hello Fran,

Thanks for answering.

Yes, my custom plugin "ocp-gateway-plugin" is defined as a KongPlugin CRD (this is a pre-requisite as per Kong documentation)

Most likely the issue with the permissions would be automatically resolved if the second issue is also resolved (by adding missing file in bitnami package)

The root cause of this second issue is that bitnami packaging forgot kong file:

[2022-04-13 01:31] #9525 closed

[2022-04-13 01:31] #9518 closed

[2022-04-13 01:31] #9374 closed

[2022-04-13 01:31] #9215 closed

[2022-04-13 06:20] viceice commented on #9773
I think this is the cause
- https://github.com/bitnami/charts/pull/9734#issuecomment-1097602111

[2022-04-13 06:43] leonidUH commented on #9745
Hi @miguelaeh
From solr documentation "**upconfig**" have only 3 parameters :

- -n or -confname <arg>
For upconfig, linkconfig, downconfig: name of the configuration set

- -d or -confdir <path>
For upconfig: a directory of configuration files. For downconfig: the destination of files pulled from ZooKeeper

- -z or -zkhost <locations>
ZooKeeper host address. This parameter is mandatory for all CL

[2022-04-13 07:55] fmulero commented on #9614
Hi @jocadu

I am checking official kong images and as you mentioned we are missing the protobuf files, but I don't see any package about protobuf installed, so I am not sure if the libprotobuf-dev is a kong requirement or your custom plugin requirement. Have you reproduced this issue with other plugin from the kong hub?

Regards

[2022-04-13 08:10] sharmavickram opened #9782 "Missing required configuration `zookeeper.connect` which has no default value"
### Name and Version

bitnami/kafka   tag: 2.8.0-debian-10-r0

### What steps will reproduce the bug?

3 instances kafka should be running without any issue

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

08:09:21.11 INFO ==> ** Starting Kafka **
[2022-04-13 08:09:22,680] INFO Registered kafka:type

[2022-04-13 08:32] javsalgar commented on #9773
Hi,

I launched the chart with these parameters and found no issues:

[code]

Could you provide a set of values that triggers the issue?

[2022-04-13 08:40] javsalgar commented on #9774
Hi,

Could you let us know some detailed steps to reproduce the issue? The values you changed from the default, some steps to force the situation you desrcribe. That would be helpful to us to identify the issue.

[2022-04-13 08:42] javsalgar commented on #9775
Hi,

I see you created a similar issue. Could you let us know some detailed steps to reproduce the issue? The values you changed from the default, some steps to force the situation you desrcribe. That would be helpful to us to identify the issue.

[2022-04-13 09:02] javsalgar commented on #9690
Hi,

Could you provide more details about the volume technology you are using? Maybe it is not compatible with chmod/chown operations.

[2022-04-13 09:04] javsalgar commented on #8869
Do the chrome web inspector logs and the network inspector show anything that we can use to understand what the requested url is?

[2022-04-13 09:06] javsalgar commented on #9666
Hi,

What happens if you disable the readiness/liveness probes? Does the container get executed correctly? Just to ensure the issue is in the probes and not something else.

[2022-04-13 09:19] jnt2007 commented on #9690
I'm using [AWS EBS storage](https://github.com/kubernetes-sigs/aws-ebs-csi-driver).
I investigated issue by changing script for `volume-permissions` container and tried to change owner of _/bitnami/kafka_ directory (`chown 1001:1001 /bitnami/kafka`) and then kafka container starts. So, I assume that volume permissions container has wrong scripts.

Also, volume permissions feature working well on o

[2022-04-13 10:39] PePTojr commented on #8869
now   I have  this error after enter  login/password
Your login attempt timed out. Login will start from the beginning.

[2022-04-13 10:46] #9720 closed

[2022-04-13 10:54] miguelaeh commented on #4088
You can try to delete the statefulset without deleting the pods and then execute helm upgrade:

1.
[code]

2. Execute helm upgrade

[2022-04-13 10:55] stephaneetje commented on #4088
That won't work as i'm using argocd to deploy

[2022-04-13 11:16] sdahlbac commented on #9755
This is not an issue as such, since it turns out that my cert was missing `extendedKeyUsage = clientAuth`

However, I have still not figured out how to enable `hostssl  all             all        all                          scram-sha-256`

Since if I provide

[code]

I end up with

[code]

i.e. the password is not set for user postgres

[2022-04-13 11:16] #9755 closed

[2022-04-13 12:00] cunningr opened #9785 "Redis TLS autoGenerated certs doesn't work well with helm upgrade"
### Name and Version

bitnami/redis latest (or 16.5.0)

### What steps will reproduce the bug?

Deploy the Redis bitnami chart with `tls.autoGenerated=true` and then after successful deployment, do;

[code]

The `helm upgrade` succeeds but then the Redis and Sentinel containers proceed to crash 2-3 times as the pods roll.  We see lots of these logs on the nodes before they crash:

[code]

This is

[2022-04-13 12:51] jocadu commented on #9614
Hi Fran,

If only Kong file "pluginsocket.proto" is placed in "/usr/local/kong/lib/ " exceptions regarding other missing ".proto" files are raised. This gets resolved all at once by installing package " libprotobuf-dev". Now this is the simplest way I could find to resolve the missing "protobuf" dependency issue.

I have not loaded other plugin from the kong hub.
My plugin works fine with just [ko

[2022-04-13 13:03] cunningr commented on #9785
From helm 3.1 we could use the `lookup` function - something like ...

[code]

[2022-04-13 13:25] OneCricketeer commented on #9782
Is this before or after #9736?

[2022-04-13 15:39] jonathon2nd commented on #9689
Hello @carrodher,

At this point I think I have it narrowed it down to Rancher RKE https://github.com/redis/redis/issues/10547#issuecomment-1098197509

I am wondering if you or someone else can test and can confirm?

[2022-04-13 16:13] hervekhg opened #9792 "Database stop working : [System] [MY-013172] [Server] Received SHUTDOWN from user <via user signal>. Shutting down mysqld (Version: 8.0.26)."
### Name and Version

docker.io/bitnami/mysql:8.0.26-debian-10-r60

### What steps will reproduce the bug?

Kubernetes / EKS

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

MYSQL start

### What do you see instead?
[code]
### Additional information
MySQL suddenly stops working. I'm not able to connect on it with root. I received this error message :
[

[2022-04-13 16:39] david618 commented on #7833
Thanks @amirrezawh

Instead of 600 seconds (10 minutes) I used.

[code]

This allowed my nodes to come up after 2 minutes; but would keep trying for another 10 minutes.

Your post was just what I needed to get past this problem!

[2022-04-13 19:58] michas2 opened #9795 "password authentication failed for user "bn_keycloak""
### Name and Version

bitnami/keycloak 7.1.14

### What steps will reproduce the bug?

I install the chart without any special parameters.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

keycloak should be able to connect to the created database and startup.

### What do you see instead?

The `keycloak-0` pod crashes because it is not able to connec

[2022-04-13 20:25] ruddy32 opened #9796 "Cannot setup postgresql in bitnami/odoo 21.2.7"
### Name and Version

bitnami/odoo 21.2.7

### What steps will reproduce the bug?

Deploy bitnami/odoo helm chart on kubernetes 1.18.20 using helm 3.8.1 and kubectl 1.23.5.

### Are you using any custom parameters or values?

I'm using specific container security context for postgresql subchart :
[code]

### What is the expected behavior?

Create postgresql configuration file and start the databas

[2022-04-13 20:53] justinmchase opened #9797 "Kafka chart has two services with the same port and the same labels"
### Name and Version

bitnami/kafka:15.0.0

### What steps will reproduce the bug?

1. `helm install -n example example bitnami/kafka`
2. `kubectl get -n example services -l app.kubernetes.io/component=kafka`

### Are you using any custom parameters or values?

no

### What is the expected behavior?

I expect there to be a single entry in the service list

[code]

### What do you see instead?

The

[2022-04-13 20:54] michas2 commented on #9795
The `keycloak-postgresql-0` pod contains:
[code]

For debugging I started a new postgresql pod:
[code]

[2022-04-13 21:00] colemanserious opened #9798 "[bitnami/redis] Replica.conf contains unaddressible URLs"
### Name and Version

bitnami/redis 16.8.5

### What steps will reproduce the bug?

1.  Deployed to k8s 1.21
2. Used values.yaml below, deployed with name as rules-cache
3. Interacted with Redis via Lettuce, and attempted to have it ReadFrom.REPLICA_PREFERRED

In investigating, discovered that ROLE was showing the replica addresses as:
* rules-cache-redis-replicas-0.
* rules-cache-redis-replicas-1

[2022-04-13 22:54] alop commented on #9511
This is not as easy as the docs state it should be. If I start with a 5 replica cluster, and scale up to 7 replicas, the new pods never join.

[code]
Logs for new pod:
[code]
The new pods go into ERROR state, then CrashLoopBackOff

[2022-04-14 00:02] vincentchong1 commented on #9729
@javsalgar, understood.
But I think my question is whether pcp_attach_node should work?  Since I do not think it is.  As it is not doing anything after it show "pcp_attach_node -- Command Successful", but the pgpool is still not ready.

[2022-04-14 01:31] #9543 closed

[2022-04-14 10:07] Tajjar commented on #9474
Hey!
gladly.

[2022-04-14 11:12] pagey101 opened #9800 "Internal server error"
### Name and Version

bitnami/ejbca 5.1.11

### What steps will reproduce the bug?

Deploy the subject chart with the attached values.

### Are you using any custom parameters or values?

    values:
      persistence:
        enabled: true
        storageClass: longhorn
      service:
        type: ClusterIP
      ingress:
        enabled: true
        hostname: ejbca.local
        annotations:

[2022-04-14 11:28] chargui-yassine opened #9801 "[bitnami/mysql:8.0.28-debian-10-r63] Access denied for user 'root'@'localhost' (using password: YES)"
### Name and Version

Bitnami MySQL Helm Chart Version 8.9.0 with image.tag: 8.0.28-debian-10-r63

### What steps will reproduce the bug?

`$ helm install mysql8 bitnami/mysql`

### Are you using any custom parameters or values?

No

### What is the expected behavior?

`ROOT_PASSWORD=$(kubectl get secret --namespace yassine-chargui mysql8 -o jsonpath="{.data.mysql-root-password}" | base64 --decode

[2022-04-14 11:35] denys-haponov opened #9802 "[bitnami/kube-prometheus] prometheus-ca certificate instead of R3 letsencrypt certificate loaded."
### Name and Version

6.5.1

### What steps will reproduce the bug?

not setting _**.Values.prometheus.ingress.certManager: true**_ value, results creation of cert, which will interfere with cert-manager+letsencrypt cluster issuer setup.

[code]

### Are you using any custom parameters or values?

workaround:
1. Deleting the certificate from secrets will trigger creation of new certificate which w

[2022-04-14 13:38] sumcha opened #9803 "Support required for Helm installation for logstash and Kibana in IBM Cloud"
### Name and Version

bitnami/kibana 7.17

### What steps will reproduce the bug?

Hi Team, I am looking for help with IBM opensource cloud offerings, "Logstash by Bitnami" and "Kibana by Bitnami" . I've done the helm installation for both products with default parameters. I can see, the pods for logstash are running but couldn't see a pod for kibana. We are very new to these products. Also, I wou

[2022-04-14 13:54] ielyanov commented on #9666
I`m very sorry.
I reinstalled kubernetes cluster.

Kafka works fine!

Thanks a lot!

![iiii](https://user-images.githubusercontent.com/16875523/163405589-929414d9-1271-448b-8739-a1cc40b796e6.png)

[2022-04-14 13:54] #9666 closed

[2022-04-14 15:26] Michiel-s commented on #9801
I have the same issue. Tried to find out what is going wrong, but don't have a clue.

Below the startup logs I see for the pod:
[code]

[2022-04-14 15:36] Michiel-s commented on #9801
Ok, just before taking a brake now. I noticed that installing without `-f values.yaml` the issue is gone.

I'll try to find out why this is the case. Tbc.

[2022-04-14 18:07] kennyatzeroeyes opened #9805 "Need help understanding load balancing. App keeps getting "Too many connection" errors and increasing pgpool/postgresql replicas isn't allowing more than 105 connections"
### Name and Version

bitnami/postgresql-ha 8.5.2

### What steps will reproduce the bug?

Kubernetes GKE cluster on node pool greater than 1 node
4 or greater pgpool replicas
4 or greater postgresql replicas
Enable external load balancer

Simple script to create connection array that doesn't close the connections and connects to the load balancer external IP
Increasing pgpool replicas seems to ha

[2022-04-14 18:11] kennyatzeroeyes commented on #9805
Example using python script to exhaust connections and not exhausting each pgpool/postgres, but instead load balancer seems to be serving based on another resource such as CPU. So even though there are likely more available connections we get errors because load balancer serves pgpool/postgresql which connections are exhausted. The number indicates total connections from querying "SELECT Count(*)

[2022-04-14 18:12] kennyatzeroeyes commented on #9805
Attaching this incase its helpful showing the pods during the above test

![image](https://user-images.githubusercontent.com/46905381/163451597-b98114ea-8043-4376-9ef6-a4f0ce4639f1.png)

[2022-04-14 18:15] kennyatzeroeyes commented on #9805
Attaching this incase helpful showing the load balancer service that I'm connecting to

![image](https://user-images.githubusercontent.com/46905381/163451946-09ff33ba-5869-4bdf-99e1-97bbc5d4dedb.png)

[2022-04-14 18:39] OxCom commented on #9689
I had same issue with bitnami images. Looks like default resource limits are to low. I was able to get reed of the issue once provided more resources:
[code]
also I have memory limit in configuration that is equal to limits.

[2022-04-14 19:38] jonathon2nd commented on #9689
Unfortunately no,

The chart does not have default. https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml#L1061

And setting that does not help. I tried it out thinking maybe RKE does something weird, but nope.
![Screenshot_20220414_133154](https://user-images.githubusercontent.com/52681917/163462836-93c60e67-7159-436f-8850-9175b4431fd9.png)
Even when I increase the limit to an a

[2022-04-14 20:16] alop commented on #9417
Checking the values.yaml file, the conditionals that wrap these annotations don't seem to exist anymore.
My statefulset doesn't have these checksums and still exhibits the same behavior - No-op changes cause a redeployment.

[2022-04-14 22:19] giulianopz commented on #9404
setting `volumePermissions.enabled` to `true` in the values.yaml and installing the chart again solved the issue in my case.

[2022-04-14 23:06] porscheme opened #9806 "Spark job cannot read Azure Storage, egging error 'Java gateway process exited before sending its port number'"
### Name and Version

bitnami/spark 5.9.9

### What steps will reproduce the bug?

1. Setup AKS cluster
2. Create custom spark container image with additional JAR files, see below docker file
-- [Dockerfile.spark.txt](https://github.com/bitnami/charts/files/8492727/Dockerfile.spark.txt)
3. Deploy spark cluster by running below command using custom image
-- helm repo add bitnami https://charts.bitn

[2022-04-14 23:09] porscheme commented on #9806
@kubernetes-bitnami

[2022-04-15 01:31] #9554 closed

[2022-04-15 01:31] #9546 closed

[2022-04-15 08:49] krzwiatrzyk opened #9807 "Incorrect singular form of affinities in documentation"
### Name and Version

bitnami/common 1.13.0

### What steps will reproduce the bug?

Try to include affinities templates according to documentation.

In the `_affinities.tpl` file definitions are spelled with plural form: https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_affinities.tpl#L7

but in docs they are in singular: https://github.com/bitnami/charts/blame/master/bitnam

[2022-04-15 09:43] OxCom commented on #9689
@jonathon2nd yep sorry for that. I was able to detect issue after 8h under load, however it's become more rare case

[2022-04-15 13:45] rjbaat commented on #8433
@carrodher I run into the same problem, I added the url `https://github.com/bitnami/charts` to get it to refresh in rancher UI. But then I run into the dependency problem of the mariadb chart I wanted to upgrade. That's pointing to the url: `https://charts.bitnami.com/bitnami`

[code]

[2022-04-15 13:55] mitko577 opened #9808 "BitnamiMySQL - selectors"
### Name and Version

bitnami/mysql

### What steps will reproduce the bug?

Hello, I have issue with the selectors of MySQL.

When you have 2 apps using different MySQL pods, they get confused which one to use, as they have the same selectors

Is there any value, that could be changed  in order use different selectors for one of the instanses.

### Are you using any custom parameters or values?

[2022-04-15 14:00] thowimmer commented on #9739
Hi @werwuifi & @javsalgar,

I can confirm that the configuration via **existingConfigmap** is working as expected.

This is how you can configure Keycloak with some config files in your Helm chart:

### Chart structure
[code]

### Chart.yaml
[code]

### configmap.yaml
[code]

### values.yaml
[code]

[2022-04-15 16:09] alop commented on #9511
Also, doing the `helm upgrade --set replicas` approach, the new pods never start, they log:
[code]
and go into CrashLoopBackOff

[2022-04-15 20:34] snagiel commented on #4241
I found a workaround here, namely by setting (overriding) the `REDIS_PASSWORD_FILE` environment variable, which you can then point to some mounted file that you create. (In my case, using the Vault CSI driver, but a similar challenge.)

[code]

[2022-04-15 21:33] firozxpd commented on #9766
16GB RAM Instance of Lightsail with the Bitnami installed

[2022-04-15 22:02] Tajjar commented on #9474
Hi @javsalgar,

Pull request (https://github.com/bitnami/charts/pull/9809) submitted and waiting for review.
Thanks for taking the time.

Cheers,

[2022-04-16 03:40] #9588 closed

[2022-04-16 23:50] carrodher commented on #8433
About the Rancher issue it was already reported in the Rancher repo, not sure how we can help with this specific topic.

[2022-04-17 00:01] carrodher commented on #9803
It seems it is not an issue related to the Bitnami ASSET container image but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the

[2022-04-17 00:24] carrodher commented on #9796
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/odoo#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this Hel

[2022-04-17 07:45] Tajjar commented on #4800
Hi @carrodher,
Is it possible in case of adding additional user using `extraSecrets` to use password of second user as existing secret other than `auth.existingPasswordSecret`?

[2022-04-17 08:18] leonidUH opened #9811 "Upgrade chart from bitnami/zookeeper 2.2.4 to 8.1.1"
### Name and Version

bitnami/zookeeper:8.1.1

### What steps will reproduce the bug?

1. install bitnami/zookeeper 2.2.4
2. add some data
3. install  bitnami/zookeeper 8.1.1

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

New pod in crash loop mode with errors:

 ZooKeeper JMX enabled by default

[2022-04-17 10:36] bab5470 opened #9812 "TLS/SSL for RabbitMQ Management Port"
### Name and Version

bitnami/rabbitmq 8.31.4

### What is the problem this feature will solve?

Right now it seems the chart only seems to support TLS/SSL on the AMPQ port (5672). This leaves the management port (15672) insecure over http.

### What is the feature you are proposing to solve the problem?

Extend the chart to support running RabbitMQ management port (15672) over https as well for b

[2022-04-17 10:59] bab5470 commented on #9812
I was able to accomplish this by injecting the following into values.yml:

[code]

This probably ought to be the default though. Generally using clear text/insecure http is a no-no.

[2022-04-17 16:03] jkreileder commented on #4633
This is still an issue as of today. Please reopen.

[2022-04-17 19:11] Michiel-s commented on #9801
I think I have figured what the issue was for me, but not 100% sure. At least now it works for me.

What I did before installing with Helm, I used the following cmd to get the chart values in a yaml file

I'm working on a Windows machine with VS Code. The terminal I'm using is Powershell. The `db-values.yaml` file that is written has encoding `UTF-16 LE`. I didn't noticed that before.

After chang

[2022-04-18 01:32] #9597 closed

[2022-04-18 01:32] #9592 closed

[2022-04-18 01:32] #9587 closed

[2022-04-18 01:32] #9421 closed

[2022-04-18 06:48] chukka commented on #9730
@javsalgar  we tried again with latest 3.19.15 image and chart 8.31.4 ,Still the same issue . This is blocking  issue for us to upgrade to latest chart .

Is there any other info we can provide to debug further ?

cc @amithins

[2022-04-18 07:11] javsalgar commented on #9744
Our policy is to use the latest versions of any plugin we ship. Especially for the case of security issues (having an older version of the plugin became very problematic for us in the past). About the chart, while currently it may be pinned to ES version 7, you could change the image to use ES 8 (as we also distribute this version in our registries).  Furthermore, in the future we will change the

[2022-04-18 07:12] javsalgar commented on #9752
Hi,

I believe because the announce ip should be only one, right? The one of the replica itself. Correct me if I'm wrong.

[2022-04-18 07:13] javsalgar commented on #9730
I'd say to enable the `image.debug=true` value and to check the logs to see if the definition gets loaded.

[2022-04-18 07:16] javsalgar commented on #9765
Hi,

We added a PR for this, we expect to merge it during this week :D

[2022-04-18 07:18] javsalgar commented on #9751
Right now, the only thing that comes to mind is to perform the wait for the `cluster healthy` inside the init script itself. As ES is running, it will eventually become to a ready state, so what I'd do is that, perform a loop inside the bash script and then perform the necessary operations.

[2022-04-18 07:22] rafariossaa commented on #4241
Hi,
  Thanks for sharing your workaround.

[2022-04-18 07:22] EugenMayer commented on #9765
This is so awesome, thank you @javsalgar !

[2022-04-18 07:39] amithins commented on #9730
[rabbitmq-debug.log](https://github.com/bitnami/charts/files/8504318/rabbitmq-debug.log)

[2022-04-18 07:39] javsalgar commented on #9797
Hi,

The headless service is meant for the kafka pods to have a DNS entry for communication. Could you add more details about the issue you are facing by not distinguishing both services? Not sure if there are integration errors with another tool.

[2022-04-18 07:41] javsalgar commented on #9729
Hi,

I'm afraid I'm not an expert on pgpool, if the command says that the attach was successful but it is not shown afterwards in `show nodes`, I'm not sure if it is an issue with pgpool itself.

[2022-04-18 07:49] amithins commented on #9730
[rabbitmq-debug-no-load-definition.log](https://github.com/bitnami/charts/files/8504360/rabbitmq-debug-no-load-definition.log)
This is the deb log when load-definition is not used.

[2022-04-18 07:49] rafariossaa commented on #9805
Hi,
  Depending on the load  you will need to tune the configuration. I found [this article](https://www.cybertec-postgresql.com/en/tuning-max_connections-in-postgresql/) and I think it could help you.
  I would suggest to get a good understanding in how connections work in pgpool/postgresql before adding more nodes or changing the values.

[2022-04-18 07:54] rafariossaa commented on #9801
Hi,
 Good catch @Michiel-s !.

 @chargui-yassine could you check if something similar is happening to you ?.

[2022-04-18 07:55] rafariossaa commented on #7833
Hi,
  Thanks for sharing your settings.

[2022-04-18 08:03] rafariossaa commented on #9621
Hi,
  Maybe [this comment](https://github.com/helm/helm/issues/2798#issuecomment-326454957) from other thread can help you. Could you give it a try ?

[2022-04-18 08:07] rafariossaa commented on #9709
Hi,
  Sorry for the long delay.
  Could you indicate the command you are using to run the chart ? Also, How long does it take to start crashing ?. Could you provide the logs ?

[2022-04-18 08:10] javsalgar commented on #9474
Thank you so much! The team will take a look

[2022-04-18 08:12] javsalgar commented on #9800
Hi,

I see several potential causes of errors here, so we should try to discard which one is the responsible.

- Storage: Could you try deploying it with persistence disabled?
- Database: Could you try using the default database values instead of the custom configuration?
- Ingress: Does it happen when using an external IP instead of using nginx?

[2022-04-18 08:18] carrodher commented on #9792
It seems it is not an issue related to the Bitnami MySQL container image but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the

[2022-04-18 08:20] carrodher commented on #9798
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-18 08:20] javsalgar commented on #9806
Hi,

I'm afraid that the level of customization of this image is high enough for us to provide regular support. If this is the only plugin that is failing, then maybe there is an issue with the plugin itself. Did you try checking with the Azure plugin developers? I will leave this ticket open in case someone from the community wants to add their experience. If the azure plugin devs mention we have

[2022-04-18 08:24] javsalgar commented on #9739
Thanks for letting us know!

[2022-04-18 08:28] leonidUH commented on #9811
I found solution
Need to add "snapshot.trust.empty=true" to conf file

[2022-04-18 08:29] #9811 closed

[2022-04-18 08:38] carrodher commented on #4800
In order to have the whole context of your use case, could you please create a separate issue filling the issue template? In this way, we will have all the information and can provide a better answer

[2022-04-18 08:59] javsalgar commented on #4633
Hi,

Thank you for bumping this. Reopening

[2022-04-18 09:04] javsalgar commented on #9730
Hi,

This is weird, we can see in the logs that it is being imported. Could you please share a values.yaml file that always triggers the issue? I would like to install with that exact values.yaml

[2022-04-18 09:05] carrodher commented on #9795
It looks like you upgraded the Helm chart but didn't specify the previous password. As the password is randomly generated and stored in a secret or PVC, when the chart is upgraded you need to set the current deployment password, otherwise a new random one will be generated and conflicts between the new one and the one stored are going to appear.

You can find more info in the following doc pages l

[2022-04-18 09:06] javsalgar commented on #9690
Do you see any difference in the init scripts code that is in the different chart versions? The init container code should be accessible in both cases

[2022-04-18 09:06] javsalgar commented on #8869
Could you please share with us a values.yaml file and instructions to exactly reproduce the issue? If I need to change anything in my /etc/hosts file please let us know as well. I

[2022-04-18 09:07] javsalgar commented on #9766
Hi,

Just to confirm, then you are using a Single VM and not a helm chart, right?

[2022-04-18 09:09] miguelaeh commented on #4088
@stephaneetje could you please explain your whole scenario and which are the issues you face?

[2022-04-18 09:21] miguelaeh commented on #9745
Hi @leonidUH ,
Could you give a try to set the path into the `-z` option like:
[code]

[2022-04-18 09:23] #9629 closed

[2022-04-18 09:27] fmulero commented on #9807
Thanks a lot @krzwiatrzyk Would you like to contribute by creating a PR to solve the issue? You already did the hardest work.

[Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-18 09:32] firozxpd commented on #9766
Yes, single VM

On Mon, Apr 18, 2022 at 2:38 PM Javier J. Salmerón-García <
***@***.***> wrote:

--
Regards
Firoz M

[2022-04-18 09:34] jnt2007 commented on #9690
Sure it is different at all.

Scripts was changed globally in version **15.0.0**. Changes [here](https://github.com/bitnami/charts/commit/a0732d72b5fa5cd21f8568948065c99ea429c617#diff-7896265e1ff0b94b6c11ea77fcd0c8827339cea0b3fe40328887aba55e8bb4faL112).

Version **15.3.1+** until now looks [like this](https://github.com/bitnami/charts/commit/e9284763d444a278d2c7d052f64e3d307757d855).

As I unders

[2022-04-18 09:39] amithins commented on #9730
[code]

[2022-04-18 09:44] PePTojr commented on #8869
I think I found the reason, everything works, the code deploys one pod, if I increase replicationset > 1 I get a redirect, the cluster from pod's is not collected if I use

JGROUPS_DISCOVERY_PROTOCOL = TCPPING
tried JDBC_PING ,
everything works as it should, I apologize for wasting time with my stupid questions

[2022-04-18 09:55] leonidUH commented on #9745
Hi @miguelaeh
It works now
Thank you

[2022-04-18 09:55] #9745 closed

[2022-04-18 10:16] javsalgar commented on #7437
Hi,

Just a note to let you know that we released a new revision of the etcd chart that fixes the issue:

[code]

https://github.com/bitnami/charts/commit/ac1a4997443d56a782e8e32c403d21764c43fc9f

[2022-04-18 10:16] #7437 closed

[2022-04-18 10:19] javsalgar commented on #8674
Hi,

Just a note to let you know that we released a new revision that shows the proper version of `kube-state-metrics`

[code]

[2022-04-18 11:00] marcosbc commented on #9785
Hi @cunningr, using `lookup` could be an option indeed. We have recently merged similar PRs for the passwords (e.g. #9271 for WordPress).

We would gladly accept any PR to support that feature, if you are able to contribute the required changes.

[2022-04-18 11:43] Tajjar opened #9814 "pass external secret to be interpreted inside load_definitions file"
### Name and Version

bitnami/rabbitmq 8.31.4

### What steps will reproduce the bug?
[code]

### What is the expected behavior?

using aws secret manager the expected behavior to defined key/value pair of password/password_value and have this read correctly inside the `load_definition.json` file as of the case where rabbitmq-password/password_value is used in case of `existingPasswrodSecret` unde

[2022-04-18 11:52] michas2 commented on #9795
After a `helm delete keycloak` both the keycloak and the postgresql pod is gone. Also all the secrets are gone.
(However the pvc is *not* deleted and will be reused later.)

Then I do a `helm install keycloak bitnami/keycloak -f values` with the above values, which will result in the described behavior, because it picks up the old pvc which is still configured with the old password.

Thanks for th

[2022-04-18 11:52] #9795 closed

[2022-04-18 12:07] #9765 closed

[2022-04-18 12:57] mishra157 opened #9816 "No Pod for Kibana found"
### Name and Version

bitnami/kibana

### What steps will reproduce the bug?

We have installed the Kibana Package available on IBM Cloud
but
We can not see any POD running for that
whereas we can see the service is running and PVC is created

deepakmishra@Deepaks-MacBook-Pro accesshub % kubectl get all -n elastic-stack | grep -i kibana
service/kibana2-b6bccb1c                            ClusterIP

[2022-04-18 13:30] kennyatzeroeyes commented on #9805
@rafariossaa thank you I will check out the article provided!

[2022-04-18 13:46] #7677 closed

[2022-04-18 13:47] KosShutenko commented on #8848
Hello,

I have the same issue. Cannot bootstrap mongo replicaset with external access in ClusterIP mode.
I need this mode because we have few clusters accessible via VPN. So I can use Cluster IPs for service access.

Can somebody explain why external access cannot be with  ClusterIP mode?

Thank you.

[2022-04-18 14:02] jkreileder commented on #4633
The icons are already missing in https://downloads.bitnami.com/files/stacksmith/harbor-core-2.5.0-0-linux-amd64-debian-10.tar.gz
Where does that come from? I failed to find a Git repo for it – so no PR unfortunately.

[2022-04-18 14:04] kennyatzeroeyes commented on #9805
@rafariossaa yeah this re-enforces my concern about adjust default settings blindly in postgresql/pgpool.conf so thank you was very helpful and exactly the kind of content to broaden our understanding we are hoping to find.

We are setting pooling to true on the connection string
Our app is using EF Core and we can enable "Context Pooling"

Question: So it sounds like we may just need to fine tune

[2022-04-18 14:28] javsalgar commented on #7677
Hi!

Just a note to let you know that we released a revision of the chart that moves the configuration to a secret. This would avoid exposing the password.

[2022-04-18 14:38] tridelt commented on #9744
Dear @javsalgar,
thank you very much for the reply. I greatly appreciate the support and also really like bitnami's charts and the awesome work you put in.
May I ask how I would change the image version to use ES 8?  I was unable to do so. Would you perhaps be so kind and point me to some online resource. : )
Hope you have an awesome day.
Yours Tridelt

[2022-04-18 15:25] marcosbc commented on #9417
Hi all, in the case described above I was able to reproduce this issue, and it was caused by changes to the checksum as mentioned previously:

[code]

I could get the diff by specifying the `--debug` option to `helm install` and `helm upgrade`.

It is simple to see that the `ETCD_INITIAL_CLUSTER` variable will always change during the first deployment. I don't think this is bad, as it indeed makes

[2022-04-18 15:43] rakibulalam opened #9818 "Can't connect inside kubernetes cluster."
### Name and Version

redis-16.8.5

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

Looking solution

### Additional information

_No response_

[2022-04-19 01:32] #9605 closed

[2022-04-19 01:32] #9601 closed

[2022-04-19 01:32] #9569 closed

[2022-04-19 01:32] #9560 closed

[2022-04-19 03:21] DevBey commented on #9585
Hi @migruiz4,

yep, thanks, scaling up is definitely working after using the helm upgrade command, which definitely means that's automatic HPA is impossible as of now.

my observation are->
1. HPA currently can't work with helm MongoDB because of an external load balancer issue, which is quite sad.
2. the workaround to automatic upscaling is either using carpenter or cluster autoscale which can au

[2022-04-19 07:05] jaudiger commented on #9751
I haven't tried yet this solution. Today, what i'm doing is:

- The `init script` is used to initialize the keystore as explained here (https://github.com/bitnami/charts/issues/9750)
- And a Kubernetes job is running when elasticsearch cluster is up.

[2022-04-19 07:21] rafariossaa commented on #9805
Hi,

My suggestion is to get a good understanding to all the settings involved, you could also take a look to pgpool documentation.

When you have more nodes you are more resilient to failures. It won't increase the connections available.
This numbers are very dependent on the user needs. So, they are left to the user to tune them accordingly to his needs.

[2022-04-19 07:33] rafariossaa commented on #9808
Hi,
  The `instance` one should be different for each deployment.
[code]

[code]

In any case, the applications should be using the service and not the directly the pod.

[2022-04-19 07:57] stumueller commented on #9217
@carrodher Hi, do you have an update on this ticket?

[2022-04-19 08:14] krzwiatrzyk commented on #9807
@fmulero I have created a MR: #9821

[2022-04-19 08:14] ingvar-goryainov commented on #5771
Hi, I still have an issue with upgrading etcd. When the upgrade is started, one of the pods in the "CrashLoopBackOff" states.

Logs look like:
etcd 17:32:14.70
etcd 17:32:14.70 Welcome to the Bitnami etcd container
etcd 17:32:14.70 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-etcd
etcd 17:32:14.70 Submit issues and feature requests at https://github.com/bitnam

[2022-04-19 08:39] sk-2310 opened #9822 "Getting Invalid userId error in pods"
### Name and Version

bitnami/wordpress 13.2.2

### What steps will reproduce the bug?

Getting below error in logs and pods are continuously going in crashloopbackoff state.
[code]
### Are you using any custom parameters or values?

Just modified below values in values.yaml file
[code]
### What is the expected behavior?

Pods should be in running state

### What do you see instead?
[code]
### Add

[2022-04-19 09:07] carrodher commented on #9217
CRDs were updated at https://github.com/bitnami/charts/commit/9c070343eecb574204a39c31498ad758ca379ab8, are you still facing any issues using the latest version?

[2022-04-19 09:27] javsalgar commented on #9816
Hi,

Could you let us know the values you used for installing the chart? Could you confirm if you installed bitnami/elasticsearch chart or bitnami/kibana chart?

[2022-04-19 09:28] javsalgar commented on #9818
Hi,

Could you let us know the pod states and the logs of the nodes?

[2022-04-19 09:52] migruiz4 commented on #9812
Thank you very much for sharing @bab5470.

Would you like to contribute to our repository by sending a PR with your suggestion? We will be happy to review it and help with anything if needed.

[2022-04-19 09:55] javsalgar commented on #9730
Hi,

Ok, I tried again and saw that, indeed, the permissions for `guest` are not applied, but the policies and vhosts are created as expected.

[code]

I think that these default definitions for guest are not set because of the fact that we are loading definitions:

[code]

[2022-04-19 09:58] javsalgar commented on #4633
Hi,

I'm afraid that we don't have the compilation recipes publicly available at the moment. However, I created an internal task to address the issue.

[2022-04-19 10:01] javsalgar commented on #9744
Hi,

In order to change the Elasticsearch image, you can execute the following command for example:

[code]

[2022-04-19 11:23] mishra157 commented on #9816
Hi
We have installed the ES and Kibana provided by Bitnami in IBM Cloud
Please see the attached screenshot
<img width="958" alt="Screenshot 2022-04-19 at 4 48 47 PM" src="https://user-images.githubusercontent.com/59172369/163992527-bc0a579a-8935-49e8-a679-981c338cb046.png">
<img width="958" alt="Screenshot 2022-04-19 at 4 49 08 PM" src="https://user-images.githubusercontent.com/59172369/163992541-

[2022-04-19 13:31] kennyatzeroeyes commented on #9805
@rafariossaa again very helpful thank you. I will research more onto pgpool today and in the coming days

[2022-04-19 13:49] ahu0605 opened #9828 "how to trigger graceful shutdown?"
### Name and Version

bitnami helm kafka

### What is the problem this feature will solve?

kafka graceful shutdown for entire data save disk

### What is the feature you are proposing to solve the problem?

kafka data is not safe, it spend  too much time to restart server , leader and repliace or index need reload

### What alternatives have you considered?

when service stop ,exec shutdown.sh ho

[2022-04-19 13:49] #9807 closed

[2022-04-19 13:50] fmulero commented on #9807
Great! Thanks a lot for your contribution

[2022-04-19 15:09] stumueller commented on #9217
@carrodher All appears to be working now thanks

[2022-04-19 15:09] #9217 closed

[2022-04-19 16:32] dgomezleon commented on #9692
Hi @mikulass ,

Sorry for the delay due to Holy Week. We are working on reproducing the issue and will let you know any advance.

Regards

[2022-04-19 18:20] manning-ncsa opened #9830 "Discourse backup fails due to mismatch in pg_dump versions"
### Name and Version

bitnami/discourse 7.0.15

### What steps will reproduce the bug?

1. Backup Discourse using native admin tool
2. Upgrade discourse Helm chart version 5.2.3 to 7.0.15
3. Restore data using native admin tool.
4. Attempt to run a new backup.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

The backup should execute properly.

### W

[2022-04-19 19:48] mpawlowski opened #9831 "postgres metrics failing to connect when using TLS"
### Name and Version

bitnami/helm 11.0.8

### What steps will reproduce the bug?

1. Deploy bitnami/postgres using TLS with cert-manager.
2. Enable metrics in the postgresql config.
3. Attempt to pull metrics from the sidecar.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Metrics sidecar should start correctly.

### What do you see instead?

[cod

[2022-04-19 19:58] vincentchong1 commented on #9729
@javsalgar , so you think this is more appropriate to handled via https://github.com/bitnami/bitnami-docker-pgpool/issues/80?

[2022-04-19 20:27] alop commented on #1278
Setting `auth.client.useAutoTLS: true` causes helm upgrades to fail.
Chart version 7.0.5, image version 3.4.18-debian-10-r20

[code]
This causes the pod to restart, subsequent pod that launches fails with this error:
[code]

[2022-04-19 22:16] carrodher commented on #9830
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/discourse#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to thi

[2022-04-20 01:33] #9624 closed

[2022-04-20 01:33] #9613 closed

[2022-04-20 01:33] #9611 closed

[2022-04-20 01:33] #9567 closed

[2022-04-20 05:41] porscheme opened #9864 "SSL Configuration Error: doesn't recognize spark-keystore.jks & spark-truststore.jks"
### Name and Version

bitnami/spark:3

### What steps will reproduce the bug?

1. Create spark-truststore.jks using below steps
[code]

2. Create spark-keystore.jks using below steps
[code]

3. Create K8S secret key
[code]

4. Deploy Sparck using helm charts

### What is the expected behavior?

SSL security enabled

### What do you see instead?

1. Below is the screen capture on master (initcontai

[2022-04-20 06:08] thyn opened #9832 "zookeeper error"
### Name and Version

bitnami/zookeeper 9.0.5

### What steps will reproduce the bug?

set maxSessionTimeout: 60000000
after deploy i've got exception on start of zookeeper
java.lang.NumberFormatException: For input string: "6e+07"

### Are you using any custom parameters or values?

 maxSessionTimeout: 60000000

### What is the expected behavior?

no exception

### What do you see instead?

java.

[2022-04-20 06:53] stephaneetje commented on #4088
Hello @miguelaeh
I'm using argocd to deploy helm charts.
Every time i upgrade redis helm chart, the master kills itself before popping the new one, which creates a downtime and drop connections to redis for a few seconds.
This is the only chart with which i'm facing this issue.

[2022-04-20 06:54] carrodher commented on #9832
It seems it is not an issue related to the Bitnami ZooKeeper Helm chart but the application itself or its configuration.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the application or the tec

[2022-04-20 07:37] amithins commented on #9730
Was able to get this working with the following workaround in values.yaml,
[code]

[2022-04-20 07:44] rafariossaa commented on #9805
Hi,
  @kennyatzeroeyes you are welcome. Don't hesitate to come back and share your findings. They could be useful for other users in a similar situation.

[2022-04-20 08:39] miguelaeh commented on #9814
Hi @Tajjar ,
IF I understood it properly, you want to put into the `load_definition.json` the content of a secret?

[2022-04-20 08:41] miguelaeh commented on #8848
@KosShutenko clusterIP services are not accessible from outside the K8s cluster, so you need to use either NodePort or LoadBalancer.

[2022-04-20 08:47] javsalgar commented on #9766
Hi,

For support regarding our Single VMs, please open a thread in community.bitnami.com. This repo is only for Kubernetes deployments. The team checks it on a daily basis and they will be able to help you. Closing this ticket.

[2022-04-20 08:47] #9766 closed

[2022-04-20 08:48] javsalgar commented on #9690
Thank you so much for the PR! The team will take a look

[2022-04-20 08:49] javsalgar commented on #8869
Hi,

Thank you so much for sharing the solution! I'm sure it will help other people in the community that come across the same issue :D

[2022-04-20 08:54] javsalgar commented on #9822
Hi!

Question, is the external database empty, or it contains traces from a previous WordPress installation?

[2022-04-20 09:05] sk-2310 commented on #9822
@javsalgar As it is fresh installation, so I created a blank DB using 'create database' command and then installed helm chart.
We are doing this setup for the first time.

Also, I could see DB schema got created and username and email id also got updated in the DB but still this error (Error: Invalid user ID, email or login: '1') comes in logs.

[2022-04-20 09:20] zhenghan008 opened #9833 "How to set the timeoutSeconds of readiness probe in RabbitmqCluster yaml file"
### Name and Version

bitnami/rabbitmq-cluster-operator

### What steps will reproduce the bug?

hi, teams！please tell me how to set the timeoutSeconds of readiness probe in RabbitmqCluster yaml file. thanks!

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

no

### Additional information

_No respon

[2022-04-20 09:53] dgomezleon commented on #9692
Hi @mikulass,

I was not able to reproduce the issue. Anyway I would try to add the action `list` in `templates/server/cluster-role.yaml`:

[code]

Another valid verbs are `watch`, `create`, `delete`, and `patch`. Ideally, we should only add the necessary ones to make it work.

Could you try that?

[2022-04-20 11:32] FraPazGal commented on #9476
Hello @Kaelten, @smatvienko-tb, @tal-efraim,

Our `bitnami/postgresql-ha` chart was just updated to use PostgreSQL 14, also adding our latest standardizations. You can check the changes at https://github.com/bitnami/charts/pull/9777/. Thank you all for your patience!

[2022-04-20 11:32] #9476 closed

[2022-04-20 11:33] FraPazGal commented on #9457
Hello @shubhra27,

Our `bitnami/postgresql-ha` chart was just updated to use PostgreSQL 14, also adding our latest standardizations. You can check the changes at https://github.com/bitnami/charts/pull/9777/. Thank you for your patience!

[2022-04-20 12:16] werwuifi commented on #9739
Thank you all for your help, all is working now as expected :) Closing the issue ...

[2022-04-20 12:16] #9739 closed

[2022-04-20 12:27] NickLarsenNZ commented on #8387
@j00p34 how do you even specify the plugins to install using the operator?

I'm having a lot of trouble spinning up Grafana with the plugins it needs. It seems like the `grafana-plugins-init` does nothing as you can't pass it any information about the container to load. If you can point me to however you did it, that would be great.

[2022-04-20 14:10] javsalgar commented on #9572
Hi!

I created this PR, feel free to take a look

[2022-04-20 14:35] ahmetemrebasakcioglu opened #9837 "[bitnami/redmine] wrong mount path"
### Name and Version

bitnami/redmine 19.0.1

### What steps will reproduce the bug?

After installed with helm chart on my k8s cluster, (using external pvc -- default nfs) , i added external themes under my nfs folder /public/themes , none of the themes show up.
After that i entered the pod's shell, figured out that mounted path was /bitnami/redmine and my templates was under that folder. but pro

[2022-04-20 14:42] ahmetemrebasakcioglu opened #9838 "[bitnami/redmine] k8s replicas causes to re-login after few clicks"
### Name and Version

bitnami/redmine 19.0.1

### What steps will reproduce the bug?

After installed with helm chart on my k8s cluster, (using external pvc -- default nfs) , with 3 replicas, everything work fine but after login, while surfing between pages, sometimes user session broke, and i have to re-login.

After downgrade to 1 replica, problem solved, thus i think it is a session-share issue

[2022-04-20 14:48] #9572 closed

[2022-04-20 14:57] justinmchase commented on #9797
I have an application that is attempting to locate services by label selectors and there is no way to distinguish between the two services using label selectors.

It then does a port-forward based on the located service, It would just be nice if the two services each had a distinct label to be able to uniquely identify them.

[2022-04-20 15:16] Tajjar commented on #9814
Hey @miguelaeh,
exactly, the aim is to be able to use an external secret for password secret just like the main user under àuth`

[2022-04-20 15:23] jotamartos commented on #9614
Hi @jocadu,

I've been reviewing this ticket and found this information that will be useful for you:

- Creating the "/usr/local/kong" directory shouldn't be necessary, that's the default KONG_PREFIX directory but we change that in the configuration to "/opt/bitnami/kong/server".

[code]

You can also see that every time you run a kong command, you get this output

[code]

If you take a look at th

[2022-04-20 17:00] kennyatzeroeyes commented on #9805
@rafariossaa yeah I definately will. We decided to try a managed postgres and found the provider we used is scaling max_connections with the tier of their instances and the standard tier has 500 max connections scaling up to 1000. I still feel like we may have room for improvement on the application side with Entity Framework Core context pooling or pooling on the connection string. I still have o

[2022-04-20 17:01] marcosbc commented on #9828
You could specify `terminationGracePeriodSeconds` to specify the amount of seconds to wait for a pod to be stopped. I don't think something more specific (like executing a stop command) would be supported for Kubernetes.

[2022-04-20 17:28] dgomezleon commented on #9802
Hi @denys-haponov ,

Could you please try this change in `templates/prometheus/tls-secrets.yaml`?

[code]

I hope it helps
[code]

[2022-04-20 20:58] Shujja1746 commented on #9713
Hi

Sure will create one small cluster and will test that from that notes info.

thanks

[2022-04-20 21:09] alop commented on #8591
FWIW - I was able to test a workaround for this scenario. I noticed that if I simply ran `etcdctl endpoint health` against localhost, it would pass, so I modified the healthcheck.sh script to not check the FQDN and it appears stable:

[code]

[2022-04-21 01:24] #9833 closed

[2022-04-21 01:34] #9630 closed

[2022-04-21 01:34] #9627 closed

[2022-04-21 02:00] ahu0605 commented on #9828
I think the node shutdown should exec kafka-server-stop.sh and wait time ,but I can not find anything in bitnami shell. I do not confirm the terminationGracePeriodSeconds duration can complete shutdown... the server should wait untill the shell be done!

[2022-04-21 07:08] rafariossaa commented on #9805
@kennyatzeroeyes That would be perfect. Thanks !

[2022-04-21 08:00] rafariossaa commented on #9837
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/redmine#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.
If you would like to contribute to this H

[2022-04-21 09:31] jnt2007 commented on #9690
Rebased onto latest master, please review.

[2022-04-21 09:35] Andrflor opened #9857 "[bitnami/minio] Api ingress backend unhealthy state"
### Name and Version

bitnami/minio latest

### What steps will reproduce the bug?

I'm deploying to GCP using the parameters below
Everything works great except that api ingress won't access api backend service.

### Are you using any custom parameters or values?

Helm command
[code]

Api ingress
[code]
Console ingress
[code]

### What is the expected behavior?

Minio api should be found by the i

[2022-04-21 09:59] javsalgar commented on #9816
You need to set the `global.kibanaEnabled` value to true in order to deploy Kibana. Is it possible to modify values of the chart or to update an existing release?

[2022-04-21 10:01] javsalgar commented on #9729
I would say to first check the upstream pgpool developers about the issue: https://pgpool.net/mediawiki/index.php/Bug_tracking_system

They may add more details about why the attach is successful but the nodes are not shown .

[2022-04-21 10:06] javsalgar commented on #9730
Thanks for sharing!

[2022-04-21 10:07] miguelaeh commented on #4088
So, the problem is that when you upgrade the cluster, there is some downtime for the master right?
I guess that downtime is only for writing right? As all the pods won't be restarted at the same time, there should always be a replica from which you can read.
In redis-cluster your client will be redirected to the node containing the proper slot, so, in case the master is down, read operations will

[2022-04-21 10:11] javsalgar commented on #9838
Hi,

Thank you for using Bitnami. Please, note this Helm chart is a community-supported solution. This means that the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this Helm chart. Any new issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being c

[2022-04-21 11:41] dgomezleon commented on #9864
Hi @porscheme ,

We have moved the issue to the charts repo.

Could you please let us know what parameters did you use to install the chart? Did you follow our documentation?

[2022-04-21 11:53] shubhra27 commented on #9457
Hi @FraPazGal Thank you so much. I believe we can use it. It's what we were waiting for.

[2022-04-21 12:17] ingvar-goryainov opened #9865 "Bad member ID"
### Name and Version

bitnami/etcd 7.0.4

### What steps will reproduce the bug?
[code]
### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

All etcd pods are in the "Running" state after the upgrade process.

### What do you see instead?

**Pod's logs**
[code]

[2022-04-21 14:35] ajammali commented on #9472
@d3ployment @miguelaeh the PR #9866 should resolve the issue

[2022-04-21 14:37] FraPazGal commented on #9457
Hi @shubhra27,

We are aware there is an issue in our internal CI blocking the publishing of the new version to the different chart registries and the team is actively working on it. I'll update this thread once the issue is solved.

[2022-04-21 14:44] ajammali opened #9869 "Add metrics to read replicas"
### Name and Version

bitnami/postgresql:11.1.22

### What is the problem this feature will solve?

Metrics are not available for read replica.

### What is the feature you are proposing to solve the problem?

Add the following to the read replica templates:

### What alternatives have you considered?

_No response_

[2022-04-21 15:00] porscheme commented on #9864
Thanks @dgomezleon quick reply. I'm happy to test any modifications you may suggest.

We are using official Bitnami Spark [Helm Charts](https://github.com/bitnami/charts/tree/master/bitnami/spark)
To be clear, to make it work below is what I did.
1. I made a custom image with both spark-keystore.jks & spark-truststore.jks files copied to the location /opt/bitnami/spark/conf/certs.
2. Removed below

[2022-04-21 15:10] taoyonggang opened #9871 "keycloak run error at 7"
### Name and Version

bitnami/charts/keycloak

### What steps will reproduce the bug?

1, version:7.0 ~ 7.1
2, depoly with chart
3, keycloak throw error and exit
[code]

### What do you see instead?

The errors may be coming from keycloak 16.
The keycloak has no error with version 15.

### Additional information

_No response_

[2022-04-21 15:49] marcosbc commented on #1278
@alop Could you share the steps and configurations to reproduce the issue in a consistent way?

[2022-04-21 15:54] marcosbc commented on #9828
It could be possible to add a `preStop` hook that executes the `kafka-server-stop.sh` script. However, it does not seem essential to get it working, or we would probably have seen a similar request in the past.

In any case, if you think it makes sense, feel free to contribute the required changes with a PR! We'd be happy to help with the review and release of the changes. You can find an example

[2022-04-21 15:59] TheMatrix97 commented on #9621
Thanks for your response! It worked like charm. I'm closing the issue

Just had to replace ` {{$labels.cluster}}` with `{{"{{$labels.cluster}}"}}`, I didn't know this was the way to escape curly braces in go templates.

[2022-04-21 15:59] #9621 closed

[2022-04-21 16:27] ZILosoft commented on #5951
any news?

[2022-04-21 16:52] sharmavickram opened #9874 "Kafka cluster is not accessible externally even though its exposed as LoadBalancer"
### Name and Version

bitnami/kafka   tag: 2.8.1-debian-10-r31

### What steps will reproduce the bug?

it should be connected from conduktor app
![image](https://user-images.githubusercontent.com/9397194/164511139-73420533-046b-407f-b308-9fac9f36dcc6.png)

### Are you using any custom parameters or values?
[code]

### What do you see instead?

it keeps loading only

### Additional information

![

[2022-04-21 17:25] alop commented on #1278
@marcosbc This is my overrides:
[code]

installed by `helm install etcd bitnami/etcd --version 7.0.5 -f overrides.yaml`

[2022-04-21 19:42] hdava opened #9875 "SSL Certificate configuration issue"
### Name and Version

bitnami/keycloak 7.1.16

### What steps will reproduce the bug?

I'm trying to configure an external generated SSL Certificate. My objective is to use helm in order to manage the certificate. I'm using Bitnami's Keycloak Helm chart for deployment purposes on AKS.

Following is an excerpt of the helm chart definition - only the ingress declaration part:

[code]

This is the ge

[2022-04-21 20:59] nir-bar-zvi opened #9876 "add ability to create minio service accounts by provisioning"
### Name and Version

bitnami/minio

### What is the problem this feature will solve?

minio service account can not be provisioned (like regular users can) when `provisioning.enabled` is `true`

### What is the feature you are proposing to solve the problem?

currently, we can define a set of users in `provisioning.users` to be created in minio - service accounts can be defined in a similar list

[2022-04-21 21:44] RumRogerz opened #9877 "metrics container not outputting mongodb metrics"
### Name and Version

bitnami/mongodb

### What steps will reproduce the bug?

Tested with chart versions:
11.1.8
11.1.7
11.1.6
11.1.5
11.1.4

`kubectl port-forward --namespace [your namespace] svc/mongo-service-metrics 9216`
`curl http://localhost:9216/metrics`

Output gives a bunch of other metrics such as:
[code]
but nothing related to mongo.

Installing a slightly older chart, such as 11.1.0 p

[2022-04-22 00:27] ahu0605 commented on #9828
i will try and test

[2022-04-22 01:32] #9649 closed

[2022-04-22 01:32] #9607 closed

[2022-04-22 05:49] kodeine opened #9879 "[bitnami/airflow] Git permission error"
### Name and Version

bitnami/airflow 12.2.0

### What steps will reproduce the bug?

Use git repository for dags and plugins

### Are you using any custom parameters or values?

yes

### What is the expected behavior?

_No response_

### What do you see instead?

<img width="743" alt="image" src="https://user-images.githubusercontent.com/8620059/164611503-dda25145-c8c8-428f-adc7-65276d570a58.png"

[2022-04-22 06:37] carrodher commented on #9879
In order to reproduce the issue on our side, could you specify what parameters are you using?

[2022-04-22 06:44] carrodher commented on #9876
Thanks for this suggestion. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-22 06:47] carrodher commented on #9874
It seems it is not an issue related to the Bitnami Kafka container image but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the

[2022-04-22 06:51] carrodher commented on #5951
Unfortunately, there was no internal progress on this task and I'm afraid that, if it was not prioritized during this time, there's not much chance we'll be working on it in the short term. Since we are a small team maintaining a lot of assets it is difficult to find the bandwidth to implement all the requests.

Being said that, thanks for reporting this issue and to be on top of it. Would you lik

[2022-04-22 06:58] carrodher commented on #9871
It seems an error with the application itself instead of an error with the Bitnami Helm chart, but we will try to reproduce it on our side. In order to do that, could you provide the parameters used to deploy the Helm chart? Are you installing it from scratch or doing an upgrade?

[2022-04-22 07:03] carrodher commented on #9869
In order to reproduce the issue on our side, could you share the specific parameters you're using when deploying the Helm chart or any other customization you're applying? In the same way, how are you checking the metrics?

[2022-04-22 07:08] carrodher commented on #9675
For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the application or the technology.

That said, we will keep this ticket open until the stale bot closes it just in case someone from the community a

[2022-04-22 07:09] b97390022 commented on #9879
I have faced the same issue, and probably cause by a release of the git 2.35.2 security update which fixes vulnerabilities described here [https://github.blog/2022-04-12-git-security-vulnerability-announced/](url).
You can consider to try out this options
[https://stackoverflow.com/questions/71901632/fatal-unsafe-repository-home-repon-is-owned-by-someone-else](url)
and my choice is just simply cha

[2022-04-22 07:13] carrodher commented on #9797
Thanks for your contribution! We will review the PR and provide feedback if needed

[2022-04-22 07:17] ajammali commented on #9869
actually the metrics section is missing from the read replication values and the sidecar is not added as well. So there are no values to show.
Also the serviceMonitor and metrics ConfigMap of read replica are not there.
I suggest we add them so we can start have metrics for read replication as well.
I've already implemented them and I can push them today.

[2022-04-22 07:20] ajammali commented on #9540
this issue has been resolved in most recent versions (11.2.22 for instance).

[2022-04-22 07:34] carrodher commented on #9869
Thanks for reporting this issue; yes, that would be nice. If you would like to contribute by creating a PR, the Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-22 09:55] jnt2007 commented on #9690
Fixed up pill requests according to 1 PR = 1 chart. Please review and approve.

[2022-04-22 10:46] busyboy77 opened #9885 "Deploying Keycloak with replicated PostgreSQL has problem : cannot resolve host "keycloak-postgresql": lookup keycloak-postgresql on 10.96.0.10:53: no such host"
### Name and Version

bitnami/keycloak

### What steps will reproduce the bug?

1. Deploy the Keycloak using the helm chart
2. Change the PostgreSQL to replication
3. keycloak is unable to locate the PostgreSQL service

errors thrown are:
[code]

### Are you using any custom parameters or values?

Changed the PostgreSQL deployment mode from Standalone to replication in keycloak helm chart only

##

[2022-04-22 10:51] BernhardGruen commented on #6495
I think this issue is obsolete now. I'll close it.

[2022-04-22 10:51] #6495 closed

[2022-04-22 11:17] carrodher commented on #9457
The new version is now appearing in the [ArtifactHub](https://artifacthub.io/packages/helm/bitnami/postgresql-ha) as well as in the Helm chart repo:
[code]

[2022-04-22 11:43] carrodher commented on #9885
In order to reproduce the issue, can you share what is the process and parameters you're using to change the PostgreSQL replication mode?

[2022-04-22 12:00] busyboy77 commented on #9885
I'm just changing the `postgresql.architecture ` in keycloak helm chart to 'replication'

[2022-04-22 12:00] BernhardGruen opened #9886 "[bitnami/kube-prometheus] Rendering fails if global.labels is used"
### Name and Version

bitnami/kube-prometheus 6.9.5

### What steps will reproduce the bug?

1. Use this as `value.yaml`
[code]
2. Render the chart
3. See followin error message that rendering fails

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

Error: YAML parse error on kube-prometheus/templates/alertm

[2022-04-22 12:09] BernhardGruen opened #9887 "[bitnami/kube-prometheus] podMetadata or podLabels for operator"
### Name and Version

bitnami/kube-prometheus 6.9.5

### What is the problem this feature will solve?

Currently there is no direct way to set pod labels for the operator. Currently the only way to set pod labels for the operator is to use `global.labels` (which is currently broken, see #9886). But this has the big disadvantage that those labels are then added to way too much pods, services, etc.

[2022-04-22 12:47] BernhardGruen commented on #9886
I assume the error was introduced by this code change:
https://github.com/bitnami/charts/commit/d6588d0ca793f1ab6590b21b48f0bca8ab4965c9#diff-ee9478ae1fceeae3fa3a37f39a25ace3ac83abfe08bd46f56d7ff05fdc888d43R72-R75

[2022-04-22 13:02] royanon opened #9889 "[bitnami/suitecrm] crontab is not installed"
### Name and Version

bitnami/suitecrm

### What steps will reproduce the bug?

Helm chart version
NAME            NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                   APP VERSION
xxx        xxx        6               2022-04-11 10:41:35.588616558 +0000 UTC deployed        suitecrm-10.0.11        7.12.5

The scheduler does not run, and no

[2022-04-22 13:16] carrodher commented on #9889
Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/suitecrm#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this

[2022-04-22 18:29] aleofreddi opened #9890 "typo in deployment.yaml causes deployment to fail when `volumePermissions.enabled` is set"
### Name and Version

bitnami/redmine 20.0.1

### What steps will reproduce the bug?

1. Run `helm install test bitnami/redmine --set volumePermissions.enabled=true`
2. See the following error:

[code]

### Are you using any custom parameters or values?

`--set volumePermissions.enabled=true`

### What is the expected behavior?

The chart gets installed, or at least the template renders.

### What

[2022-04-22 20:24] devth opened #9891 "Adding a chart as a subchart to an existing installation won't auto generate passwords"
### Name and Version

bitnami/minio:11.2.13

### What steps will reproduce the bug?

1. Add minio as a subchart to an existing helm installation
2. Use `helm upgrade` to apply it to the cluster with no configuration

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

It should auto generate passwords for the fresh minio install, even though it's

[2022-04-22 21:01] kodeine commented on #5544
is this not going to be implemented?

[2022-04-22 21:08] kodeine commented on #5544
@carrodher
is this not going to be implemented?

[2022-04-22 21:19] hoshposh commented on #7537
Did this request go anywhere? It would be great if the bitnami bot was able to accumulate a list of upstream reference points so that when I am researching the `external-dns` chart I can see which PRs, releases or commit it included from the upsteam site.

[2022-04-22 21:25] kodeine commented on #5544
@mailtobash how did you setup the vars can you please give me an example?

[2022-04-23 01:13] eroji opened #9892 "Prometheus Exporter for Solr Helm chart does not work"
### Name and Version

bitnami/solr-4.0.8

### What steps will reproduce the bug?

Install the Helm chart with LoadBalancer service type for Solr and enabling Prometheus Exporter

### Are you using any custom parameters or values?

Using `service.type=LoadBalancer,metrics.enabled=true`

### What is the expected behavior?

Prometheus Exporter sidecar should be deployed along with corresponding servi

[2022-04-23 01:31] #9632 closed

[2022-04-23 03:47] royanon commented on #9889
A quick & dirty fix on it without any modification and patch.
Run the container and pod as 0, set RunAsNonRoot false.
The cron tab and necessary script will run correctly except php
To make php run, use lifecycleHooks to change the ownership of /bitnami/suitecrm to owner 1 (daemon)

[2022-04-23 13:07] fzyzcjy commented on #5859
Hi, did you solve it?

[2022-04-23 16:25] guoxiaod opened #9908 "[binami/nginx] nginx binary in nginx-ingress-controller does not support ngx_stream_realip_module"
### Name and Version

bitnami/nginx-ingress-controller:1.1.3

### What steps will reproduce the bug?

1. install nginx-ingress-controller
    `helm install  --namespace ingress-nginx  -f ./values.yaml ingress-nginx nginx-ingress-controller/`
2. setup configmap like this:
[code]
3. we will see errors in the k8s :
 "set_real_ip_from" directive is not allowed here in /tmp/nginx-cfg1243224824:7507 ngi

[2022-04-23 19:57] EugenMayer opened #9893 "[bitnami/mariadb-galera] Cannot start cluster when all pods of the stateful set have been down"
### Name and Version

bitname/mariadb-galera 7.1.7

### What steps will reproduce the bug?

1. Deploy a mariadb-galera chart with 3 replicas on 3 workers
2. shutdown all 3 workers (and once or one after the other, but in the end, all should be down at the same time)
3. start all 3 workers again

MariaDB pod should fail to start since it cannot boostrap. One has to

- scale down the replicas to 1
-

[2022-04-24 11:02] taoyonggang commented on #9871
This is the keycloak docker image error.  I have test  the docker.io/bitnami/keycloak:16.1.1-debian-10-r85. The large version at 16 always has the error.

[2022-04-24 13:09] jefimm opened #9897 "Helm chart - postgres values"
### Name and Version

latest

### What steps will reproduce the bug?

Deploying superset with helm chart fails

### Are you using any custom parameters or values?

n/a

### What is the expected behavior?

install successful

### What do you see instead?

install fails to init database because superset user is not created

### Additional information

The bitnami helm chart for postgres uses differe

[2022-04-24 16:02] Dominicmaiorca opened #9898 "How to change memory from 40M?"
### Name and Version

Bitnami 5.9.3-0 / Wordpress

### What is the problem this feature will solve?

Hello
Can someone help me with my problem? I searched whole internet, how to change memory on my site, but haven't found.
My php.ini app say 512 is the memory limit. I need at least 64 to run some plugins. Please, my head hurts and solving this issue will be life changing.

I use my local domain (l

[2022-04-24 21:01] lknite opened #9900 "keycloak, getting 404 at /admin"
### Name and Version

keycloak:7.1.17

### What steps will reproduce the bug?

Kubernetes 1.23.6

### Are you using any custom parameters or values?

values.yaml
[code]

### What is the expected behavior?

A working keycloak installation.

### What do you see instead?

I can see the main screen at the expected fqdn:  keycloak.k.home.net

However, if I click on Console (which takes me to https://ke

[2022-04-24 22:32] kodeine opened #9901 "[bitnami/airflow]"
### Name and Version

bitnami/airflow 12.2.0

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

even if i remove `annotations`, its still unable to create pods. `CeleryExecutor` works fine.

[2022-04-25 01:41] addisonjones-gc commented on #9879
After looking at this for a bit on Friday, it looks like the directory `"/dags_{{ include "airflow.git.repository.name" . }}"`  is owned by root, but in the 1001 user group. Would that cause any issues with permissions since the container is run as user 1001?

[2022-04-25 04:05] Alansyf opened #9903 "bitnami Mongodb 5.0.7 MongoServerError: reshardCollection command not enabled"
### Name and Version

bitnami/mongodb-sharded:5.0

### What steps will reproduce the bug?

helm install bitnami/mongodb-sharded:5.0.

MongoDB version:
`[direct: mongos] testshard1> db.version()
5.0.7`

`[direct: mongos] testshard1> sh.shardCollection("testshard1.test11", {"_id": 1})
{
  collectionsharded: 'testshard1.test11',
  ok: 1,
  '$clusterTime': {
    clusterTime: Timestamp({ t: 1650859351,

[2022-04-25 07:35] rafariossaa commented on #9890
Hi,
  Please, [note that the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/redmine#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.
If you would like to contribute to

[2022-04-25 07:45] javsalgar commented on #9891
Hi,

We are working on removing the upgrades checks in favour of using the helm `fetch` function. You can see it in our bitnami/postgresql helm chart. We will work on it, but if you want to speed up the process feel free to submit a PR with the changes.

[2022-04-25 07:50] rafariossaa commented on #9621
I am glad it worked.

[2022-04-25 08:07] javsalgar commented on #9897
Hi,

It seems that the superset did not update the values to the new major version. Could you check with the superset team so they can update the  values accordingly?

[2022-04-25 08:09] jefimm commented on #9897
sorry, this one was supposed to go to superset...

[2022-04-25 08:09] #9897 closed

[2022-04-25 08:30] javsalgar commented on #9898
Hi,

Did you try setting the `PHP_MEMORY_LIMIT` environment variable? It's this section of the README https://github.com/bitnami/bitnami-docker-wordpress/#php-configuration

[2022-04-25 08:51] javsalgar commented on #9901
Hi!

Could you add more details to reproduce the issue? I deployed with the values but did not find the error:

[code]

[2022-04-25 08:59] javsalgar commented on #7537
Hi,

I'm afraid there are no plans to work on this at the moment. However, as we are in the process of performing changes in our repositories, I will forward this to the engineering team for consideration.

[2022-04-25 09:05] miguelaeh commented on #9814
Hi @Tajjar ,
Note the `.Values.existingPasswordSecret` is the name of a secret. Even making the template to render the value, what it will render is the name of the secret, not the content.
I think it is not possible to put the content of the secret there, you will need to put the password directly

[2022-04-25 09:08] Tajjar commented on #9814
Hey @miguelaeh,
That I know, that's why I am in favor of a solution where the existing secret can be used inside the load_definition.
Should I submit a feature request for that?

[2022-04-25 09:09] miguelaeh commented on #9886
Could you please execute `helm template` and share the output of the failing file? It is possible that the `-` included in the change you mentioned breaks the YAML due to removing spaces.

[2022-04-25 09:32] miguelaeh commented on #9892
Hi @eroji ,
Are you configuring authentication? If yes, please note that authentication and metrics are not compatible in this Helm Chart.

[2022-04-25 09:38] ronleb commented on #8853
Hello, I would also be interested in this feature, I submitted a proposal as a PR for review

[2022-04-25 09:38] Dominicmaiorca commented on #9898
Thanks for response,
You mean i change it in "README" file?
If so, which one? there is some readmes in bitnami's folder.
PHP is not problem, I mean memory used in WordPress Environment
I'm fresh at creating sites, sorry for my stupidity

[2022-04-25 09:59] javsalgar commented on #9822
However, it is saying that
[code]

This seems weird to me, as for some reason it assumes that the installation is complete. Could you add more details about this external DB? Is it MariaDB? Is it something I can reproduce by deploying an external MariaDB chart?

[2022-04-25 10:08] rafariossaa commented on #9885
Hi,
  I have created a PR to fix this issue.

[2022-04-25 10:14] javsalgar commented on #9857
Hi,

Does the API service work when accessing via, for example, kubectl port-forward or accessing using the cluster IP?

[2022-04-25 10:19] javsalgar commented on #9879
Hi,

Would it make sense to add these commands in the init container?

[code]

[2022-04-25 11:09] mishra157 commented on #9816
ok let me try this

[2022-04-25 11:12] javsalgar commented on #9900
Hi,

Could you try setting it to this?

[code]

[2022-04-25 11:12] FraPazGal commented on #9877
Hello @RumRogerz,

Thanks for reporting this! It seems like there were some changes indeed. I found the issue is coming from the `mongodb-exporter` container version. I tried using a previous version and the MongoDB logs came back:

[code]

This issue was already reported at https://github.com/percona/mongodb_exporter/issues/477. We'll keep an eye on this and wait until upstream answers and confir

[2022-04-25 11:12] javsalgar commented on #9900
It worked for me
<img width="1324" alt="image" src="https://user-images.githubusercontent.com/1133777/165078091-f937d1a6-8ade-46af-bfbb-cd8bed225128.png">

[2022-04-25 11:13] BernhardGruen commented on #9886
This is the requested output:
[code]
And this is the line with the error (which contains `some-label1: value` at the end):
[code]

I still assume that the lines I posted earlier are the problematic ones and there must be some `-` that eats too much white spaces.

[2022-04-25 11:14] joancafom commented on #9746
Hi @busyboy77

Thanks for the confirmation! I have created a new PR with the changes in the installation NOTES. Regarding the ugly error message that appears, I have created an internal task for the team to review. As mentioned, this does not prevent the client from working so it is more of a cosmetic change 😁

Thanks!

[2022-04-25 11:42] joancafom commented on #9887
Hi @BernhardGruen

We are currently making efforts to standardize all of our charts, adding common and helpful features that should be available across all of them (see https://github.com/bitnami/charts/pull/9441 for example). Indeed, `podLabels` are one of them!

Hence, you should expect them to be added to this chart eventually, though I can't provide you with an exact ETA. Nevertheless, if this

[2022-04-25 11:42] addisonjones-gc commented on #9879
I think that makes great sense for the time being while they sort out the git Docker container repo

[2022-04-25 11:45] mishra157 commented on #9816
Hi Thanks @javsalgar
We got the kibana POD running now

can you please help me how can we access Kibana logstash and ES using GUI ( in Browser)

[2022-04-25 12:18] busyboy77 commented on #9746
Thank you..

[2022-04-25 12:24] baflo opened #9912 "Custom command is wrongly interpolated in start-node.sh"
### Name and Version

bitnami/redis@6.8.7

### What steps will reproduce the bug?

1. Set `.Values.replica.command`
2. Try to install
3. Container `redis` won't start due to error `/opt/bitnami/scripts/start-scripts/start-node.sh: line 147: /[/bin/bash]: No such file or directory`

### Are you using any custom parameters or values?
[code]

### What is the expected behavior?

When trying to replace

[2022-04-25 12:31] tmeltser opened #9913 "Missing "context" literal in https://github.com/bitnami/charts/blob/master/bitnami/metallb/templates/speaker/daemonset.yaml"
### Name and Version

bitnami/metallb 3.0.0

### What steps will reproduce the bug?

Install the latest chart, with adding the following customization:
[code]
Helm installation will fail with the following error message:
[code]

### Are you using any custom parameters or values?

Mentioned above

### What is the expected behavior?

Helm installation should pass successfully.

### What do you see i

[2022-04-25 13:00] JulienHoullier opened #9914 "[bitnami/nginx] no way to configure ingress without host"
### Name and Version

bitnami/nginx 10.1.3

### What steps will reproduce the bug?

1. expose nginx pod through an Ingress controller using Ingress without host routing
2. activate ingress for chart and set hostname: ""
3. helm install
4. K8S complains since no rules are set for the Ingress. Chart template expect either hostname not empty or a list of extraHost.

### Are you using any custom param

[2022-04-25 14:06] lknite commented on #9900
adding /auth to that variable got me to the login prompt, if that's a new change the main documentation page will need to be updated:  https://github.com/bitnami/charts/tree/master/bitnami/keycloak  (down near the bottom)

However, I am unable to login, am getting 'invalid_user_credentials'.  Possibly related?

I'm trying 'user' and the password obtained with:
[code]

Were you able to login after

[2022-04-25 15:31] dgomezleon commented on #9908
Hi @guoxiaod ,

Thank you for reporting it. That module was not enabled at compilation. I have created a task to check it.

Regards

[2022-04-25 15:55] migruiz4 commented on #9875
Hi @hdava,

In combination with `secrets`, you need to use the value `extraTls` to add your ingress TLS spec:

[code]

The value `extraTls` is interpreted as a template, and it allows also using Helm expressions like:
[code]

[2022-04-25 16:02] jnt2007 commented on #9690
@marcosbc Issue not fixed in #9884, but should be fixed in #9823.
Please reopen until #9823 will be merged

[2022-04-25 16:53] fmulero commented on #9865
Hi @ingvar-goryainov

I am trying to reproduce your issue without success. I'll share with you all the stepsI am following to try to find any clue:
[code]
And this is the content of my values.yaml file (I disabled authentication to simplify the scenario):
[code]

Could you also check the content and permissions of the following file '/bitnami/etcd/data/member_id'?

[2022-04-25 16:58] OxCom commented on #9689
@jonathon2nd on prem. Also I tried keep data in memory or save to disk, but
still same issue in logs.
monitoring shows only 500k keys and no load by memory and CPU.

пн, 25 апр. 2022 г., 19:54 Jonathon Beauregard II ***@***.***

[2022-04-25 16:59] jonathon2nd commented on #9689
@OxCom, Do you use Rancher? If is your downstream k8s cluster RKE?

[2022-04-25 17:18] eroji commented on #9892
@miguelaeh yes basic auth is enabled. Are you saying that Prometheus exporter cannot be enabled if auth is turned on? If so, any reason why this is?

[2022-04-25 17:21] fmulero commented on #9903
Hi @Alansyf thanks for sharing it. QQ Are you testing the changes in this PR #9829?

[2022-04-25 17:29] OxCom commented on #9689
@jonathon2nd nope, we rolled out in hard way. only heml charts and custom yamls.

[2022-04-25 19:36] rlewkowicz opened #9924 "Is there a way to use nginx stable (1.20 vs 1.21)?"
### Name and Version

bitnami/nginx-ingress-controller latest

### What steps will reproduce the bug?

Not a bug, just a question

### What do you see instead?

I would like to see nginx 1.20 if possible.

[2022-04-25 21:36] jonathon2nd opened #9926 "[bitnami/redis] Diagnostic mode not working as needed"
### Name and Version

bitnami/redis 16.8.7

### What steps will reproduce the bug?

In k8s, deploy bitnami/redis in diagnostic mode `diagnosticMode.enabled: true`
Then go to start each redis and sentinel.
For redis, instructions are incomplete.
For sentinel, instructions fail.

### Are you using any custom parameters or values?

---
image:
  debug: true
auth:
  password: "password"
replica:
  repl

[2022-04-25 21:37] cdemi opened #9927 "[bitnami/etcd] PodDisruptionBudget should be enabled by default"
### Name and Version

bitnami/etcd

### What is the problem this feature will solve?

Without PDBs, every time a cluster is updated, since Kubernetes is not aware of how to handle the application without PDB, it may cause a majority failure.

According to [the etcd docs on Majority Failure](https://etcd.io/docs/v3.5/op-guide/failures/#majority-failure):

This means that manual intervention is need

[2022-04-26 00:28] hdava commented on #9875
Hi @migruiz4,

Thanks for that. I've added this additional config and now the ingress is generated with the TLS properties.

However, the website is still not secured. The secret is correctly generated as well.

[2022-04-26 00:44] whithajess commented on #6492
@rafariossaa This is now available in all the latest releases of `bitnami-docker-kafka` I created then PR, and while I don't have a need for a helm chart if you need any help with configuration or looking over a change to add it to the chart I am happy to help 👍

[2022-04-26 01:31] #9671 closed

[2022-04-26 01:31] #9668 closed

[2022-04-26 01:31] #9663 closed

[2022-04-26 01:31] #9659 closed

[2022-04-26 01:31] #9639 closed

[2022-04-26 03:16] Alansyf commented on #9903
No @fmulero . I am just verifying how resharding works in mongo 5.0.

[2022-04-26 03:37] vanhonit opened #9928 "failed to get memory utilization: missing request for memory"
### Name and Version

bitnami/redis

### What steps will reproduce the bug?

I am using the bitnami/redis repo when I try to enable the option autoscaling.enabled=true the HPA return error "failed to get memory utilization: missing request for memory" and "failed to get CPU utilization: missing request for CPU". I installed a metrics server on the Cluster and other HPA configurations are working w

[2022-04-26 04:49] DevBey commented on #9585
Hi @migruiz4,

I think we can close this issue down, thanks for all the help.

[2022-04-26 04:49] #9585 closed

[2022-04-26 06:08] Tajjar commented on #9676
Hi,
Any update on this? we are also facing this problem.
Thanks!

[2022-04-26 06:56] carrodher commented on #8853
Thanks for creating the PR, we will review it and provide feedback

[2022-04-26 07:02] carrodher commented on #9927
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-26 07:07] carrodher commented on #9924
You can use any valid image tag by specifying `defaultBackend.image.tag`, for example `defaultBackend.image.tag=1.20`. Supported tags are listed at https://github.com/bitnami/bitnami-docker-nginx#supported-tags-and-respective-dockerfile-links.

Please note this configuration is supported but not tested.

[2022-04-26 07:11] #9690 closed

[2022-04-26 07:31] migruiz4 commented on #9875
Are your certificates self-signed?

If so, your browser will show the `Not Secure` warning unless you add your CA certificate to your browser.

[2022-04-26 07:31] rafariossaa commented on #6492
Hi @whithajess,
  Thanks for your offering. Please feel free to send PRs we will be glad to review and merge them.

[2022-04-26 07:38] hdava commented on #9875
No. It's a CA certificate.

[2022-04-26 07:38] cdemi commented on #9927
Thanks! I have opened #9929 for your review

[2022-04-26 07:39] rafariossaa commented on #9913
Hi,
  I can see you sent a PR to fix this.
  Let's wait until it is reviewed and merged.

[2022-04-26 07:55] migruiz4 commented on #9875
In that case, I would recommend troubleshooting your ingress controller and certificates configuration.

What is your browser complaining about? Could be invalid CA, hostname not matching certificate, etc.
Check your ingress events and ingress controller logs in case there is anything relevant to TLS configuration.

I'm sorry I may not be able to give further help, as it is not a problem with the

[2022-04-26 08:00] rafariossaa commented on #9869
Hi,
  Thanks for your PR. Let's wait until it get reviewed and merged.

[2022-04-26 08:02] carrodher commented on #9927
Thanks for the PR, we will review it and provide feedback

[2022-04-26 08:15] javsalgar commented on #9871
Hi,

I was unable to reproduce the issue, could you provide more details about the k8s platform you are using? Which values are you using to deploy the chart?

[2022-04-26 08:20] Andrflor commented on #9857
Api Service works fine, i can access minio trough kubectl port 9000:9000 forward.

May the issue be coming from the health check default conf ?
Health check trough minio Console service HTTP on / port 80 is working fine.
Health check trough minio Api service HTTP on / port 80 is failing.

[2022-04-26 08:26] javsalgar commented on #9914
Hi,

Thank you so much for reporitng. Indeed, right now we are forcing to use a hostname. I believe that we should changed the `{{- if  ... }}` statement in ingress.yaml to allow not using a hostname. Would you like to submit a PR?

[2022-04-26 08:26] BernhardGruen commented on #9886
kube-prometheus 6.9.6 is still affected by this issue.

[2022-04-26 08:37] javsalgar commented on #9912
Hi,

Thank so you much for reporting! Indeed, the `command` section is not correctly parsed. Actually, I'm not sure if that `if` section in the configmap makes sense. I'd say that scripts-configmap is meant to be used with the default parameters. I'd advocate to remove that if statement, thoughts?

[2022-04-26 08:40] #9831 closed

[2022-04-26 08:40] #9885 closed

[2022-04-26 08:41] rafariossaa commented on #9885
Hi,
  The branch was just merged. Could you give it a try ?

[2022-04-26 08:47] javsalgar commented on #9926
Hi,

Thank you so much for reporting. Indeed, the command is incorrect. In the case of Redis primary, it should be:

[code]

In the case of replica:

[code]

In the case of sentinel:

[code]

Would you like to submit a PR fixing the NOTES.txt file?

[2022-04-26 09:17] migruiz4 commented on #9928
Hi @vanhonit,

The `<unknown>` cpu/memory shows an issue with metrics-server.

I would recommend troubleshooting your metrics-server deployment, checking the metrics server pod is up in your `kube-system` namespace, checking its log, etc.

The solution may vary depending on your setup, but I may not be able to give you further help as it is not a problem with the Redis chart.

Here are some simila

[2022-04-26 10:31] konopka90 opened #9932 "How to upgrade influxdb from 4.0.11 to 4.0.12 ?"
### Name and Version

bitnami/influxdb 4.0.12

### What steps will reproduce the bug?

1. Environment
- Kubernetes v1.20.15
- Longhorn 1.2.4

2. Steps to reproduce

I am using influxdb chart 4.0.11 with default values and want to perform the upgrade to 4.0.12 with default values.

[code]

The upgrade is accepted but the newly created Pod is stuck in "Containercreating" status. Volume from the old

[2022-04-26 11:16] tmeltser commented on #9913
I didn't send any PR, just reported the bug and indicated the exact place and the correction.

[2022-04-26 12:01] #9913 closed

[2022-04-26 12:09] ingvar-goryainov commented on #9865
Stable release before an upgrade
$ cat /bitnami/etcd/data/member_id
a5f041fda1ee48db

After the upgrade process
$ ls -la /bitnami/etcd/data/member_id
-rw-r--r-- 1 1001 root 0 Apr 26 11:43 /bitnami/etcd/data/member_id
$ cat /bitnami/etcd/data/member_id
$
File is empty

etcd pod logs
2022-04-26 11:43:10.749055 W | etcdmain: found invalid file/dir new_member_envs under data dir /bitnami/etcd/data (Ig

[2022-04-26 14:26] nfeltrin-dkb opened #9936 "Jmx serviceMonitor targets the wrong metrics service"
### Name and Version

bitnami/kafka 16.2.8

### What steps will reproduce the bug?

Deploy the chart with `metrics.jmx.enabled=true` and `metrics.serviceMonitor.enabled=true`, without any `commonLabels`.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

The serviceMonitor matchLabel should match the labels in the service

### What do you see instead?

[2022-04-26 14:28] q-markwilliams opened #9950 "[bitnami/etcd] Recreated pod doesn't attach to recent cluster"
### Name and Version

bitnami/etcd 3.5.4-debian-10-r0

### What steps will reproduce the bug?

Using Helm chart & Kubernetes v1.21.10 (GKE)
Will attach install values for the helm chart in comment below

### Process:

Perform a fresh install of the etcd chart, wait until the cluster is healthy and then run the following commands:
`kubectl delete pvc data-etcd-2`
`kubectl delete pod etcd-2`

### Wh

[2022-04-26 15:02] Joda89 opened #9937 "[bitnami/postgresql-ha] postgresql-ha service monitor don't work"
### Name and Version

bitnami/postgresql-ha 9.0.3

### What steps will reproduce the bug?

install postgresql-ha with this config:
[code]
on serviceMonitor we have this :
[code]
but on the service metrics we don't have the label "prometheus: kube-prometheus" :
[code]

### Are you using any custom parameters or values?

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

### What is the e

[2022-04-26 15:55] fmulero commented on #9865
To be honest I don't fully understand how the member_id file was cleaned. Maybe theses questions seems stupid but I am trying to get any clue:
* From what version are you trying to upgrade?
* Is that happening with all pods or only with `vault-etcd-2`?
* Could you run this command in your pods before the upgrade process?
[code]

I've seen that you were checking the issue #5771  Did you find someth

[2022-04-26 20:48] #9924 closed

[2022-04-26 21:29] #9714 closed

[2022-04-26 22:14] joepa37 commented on #7305
Any updates?

[2022-04-26 22:15] jonathon2nd commented on #9689
Hi @carrodher,
I noticed the reference to custom images here: https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml#L159
Is there any way to fork and modify the bitnami/redis image?

[2022-04-27 01:33] #9684 closed

[2022-04-27 01:33] #9682 closed

[2022-04-27 01:33] #9591 closed

[2022-04-27 02:32] mailtobash commented on #5544
@kodeine my above post is how I implemented it.
Adding the `lifecycle.postStart.command` as an additional value and mount the secret with the script that set up the variables

[code]

[2022-04-27 05:25] ingvar-goryainov commented on #9865
@fmulero
I was trying to upgrade from 6.13.3 to 7.0.4. While the upgrade process the readiness probes is failed and after a couple of restarts vault-etcd-2 pod is on "CrashLoopBackOff" state.

$ getent ahosts
127.0.0.1       localhost
127.0.0.1       localhost ip6-localhost ip6-loopback
10.108.77.28    vault-etcd-2.vault-etcd-headless.stage-sandbox-vault-etcd.svc.cluster.local vault-etcd-2

[2022-04-27 06:40] jnt2007 commented on #9690
Thank you all for your help to resolve this issue. For now it is fixed!
[code]

[2022-04-27 06:45] rafariossaa commented on #5544
@kodeine I am sorry, but not by now.
As @carrodher indicated, we are a small team and we have not bandwidth right now, but feel free to send a PR implementing this. We will be glad to review and merge it.

[2022-04-27 07:10] rafariossaa commented on #9937
Hi,
  Thanks for sending a PR. Let's wait until it is reviewed and merged.

[2022-04-27 07:54] musicmuthu opened #9964 "Custom pg_hba.conf have issue in postgres helm chart"
### Name and Version

bitnami/postgresql:11.1.25

### What steps will reproduce the bug?

after enabled the pgHbaConfiguration pod was not deployed.
[code]

### What is the expected behavior?

_No response_

### What do you see instead?
[code]

### Additional information

i try to enable the custom TLS certificate on postgres
i followed the bitnami suggestions
like below.
[code]

[2022-04-27 08:06] javsalgar commented on #9898
Ok, let's start from the beginning. How are you creating the site? Are you using helm install?

[2022-04-27 08:10] javsalgar commented on #9816
In order to access from a browser you may need to change the service type (kibana.service.type value) to LoadBalancer or enable ingress (kibana.ingress.enabled)

[2022-04-27 08:12] javsalgar commented on #9901
Hi,

We test our charts daily in GKE and do not find issues. Does it directly crash when deploying the chart or do I need to trigger something?

[2022-04-27 08:16] javsalgar commented on #9676
Could you ensure that you are using the latest version of the chart? The issue was fixed in https://github.com/bitnami/bitnami-docker-rabbitmq/commit/4c90fe2b508075c3e70c996023f5164a11469453

[2022-04-27 08:19] javsalgar commented on #9936
Hi,

Thank you so much for reporting. Would you like to create a PR fixing the issue? If not we will work on it but we cannot guarantee an ETA.

[2022-04-27 08:21] carrodher commented on #9689
Yes, the code is present at https://github.com/bitnami/bitnami-docker-redis, you can fork this repo and do any modification in the container logic.

Then, you can use your own image by using it in the `image:` section https://github.com/bitnami/charts/blob/master/bitnami/redis/values.yaml#L78

[2022-04-27 08:24] javsalgar commented on #9879
Hi,

Thanks! We will work on it. If you want to speed up the process, feel free to submit a PR and we will review it.

[2022-04-27 08:35] javsalgar commented on #9900
Hi!

I had no issue with the login

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/1133777/165477144-8a4715c8-6a86-4858-af6c-414f8c679cb1.png">

Could it be that you have volumes from previous installations?

[2022-04-27 08:36] javsalgar commented on #9857
Could you try entering the pod and try access the service via de cluster IP and port 80?

[2022-04-27 08:49] Tajjar commented on #9676
@javsalgar using version 8.32.1

[2022-04-27 09:16] miguelaeh commented on #9814
Hi @Tajjar ,
I don't fully understand what you mean by `the existing secret can be used inside the load_definition`, could you clarify that, please?
Do you know how to render the secret content directly instead of the name?

[2022-04-27 09:25] Tajjar commented on #9814
Hey @miguelaeh,
I have kubernetes secret that contains username/password and want that to be parsed inside the load definition file.
Sadly, I don't know as of now.

[2022-04-27 09:28] kOstovic opened #9943 "[bitnami/redis-cluster] Error introduced in svc-cluster-external-access.yaml with new loadBalancerSourceRanges"
### Name and Version

bitnami/redis-cluster 7.5.0

### What steps will reproduce the bug?

Values yaml which works with 7.4.8 and does not work with new 7.5.0 chart altho nothing changed..bug has been introduced if new if statement for loadBalancerSourceRanges

because of an error:
Error: INSTALLATION FAILED: template: redis-cluster/templates/svc-cluster-external-access.yaml:33:24: executing "redi

[2022-04-27 09:28] kOstovic commented on #9943
@chnyda

[2022-04-27 09:37] pankaj-dahiya opened #9944 "Error in helm lint"
### Name and Version

bitnami/mysql

### What steps will reproduce the bug?

Helm lint

### What is the expected behavior?
[code]
### What do you see instead?

No helm lint error

[2022-04-27 10:01] Tajjar opened #9945 "[rabbitmq] auth user tag option"
### Name and Version

bitnami/rabbitmq 8.32.1

### What is the problem this feature will solve?

Currently we want to have the main rabbitmq user without admin privileges.

### What is the feature you are proposing to solve the problem?

It would be nice to have more flexibility under the `auth` in `values.yaml` to include user `tag` option.

### What alternatives have you considered?

Tried `extr

[2022-04-27 10:19] DeathInTheAir opened #9946 "[bitnami/mongodb] fallocate:: Operation not supported when recovering data from the last clean checkpoint"
### Name and Version

helm.sh/chart=mongodb-9.0.0  mongodb:4.4.0-debian-10-r0

### What steps will reproduce the bug?

There is error of  Operation not supported when restoring by velero-restic。

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

It is not recovered successfully and there is error log.

[2022-04-27 11:43] nfeltrin-dkb commented on #9936
I'd like to (it's a simple line change) but I don't think I'll have the time before this weekend to setup everything to contribute according to your standards. If somebody wants to do it before then, they're welcome to, otherwise I'll prepare the PR myself in a few days :)

[2022-04-27 13:10] caiofbpa commented on #7305
Is there a tracker anywhere marking which images are already supporting arm64 and which ones aren't? It would be really nice to follow the progress over time here.

[2022-04-27 14:33] Aurorxa opened #9952 "bitnami/harbor 12.3.5"
### Name and Version

bitnami/harbor 12.3.5 Invalid user name or password.

### What steps will reproduce the bug?

1. helm is v3.6.3 and k8s is v1.21.10 。
2. while i run following command , I found harbor say Invalid user name or password.
[code]
![1](https://user-images.githubusercontent.com/25677587/165540905-085bfe38-7136-4838-9e6d-179f818a332d.PNG)
3. i see the request, the console of chrome

[2022-04-27 15:20] Andrflor commented on #9857
Got nothing on port 80 from the pod but port 9000 and port 9001 are working flawlessly.
I'm not really sure what is happening but i guess that port 80 redirects on
 * 9001 for minio console
 * 9000 for minio api

port 9001 returns code 200 = Health check success
port 9000 return code 400 = Health check failure

I'm not really sure how does GKE ingress controller pick up the healthCheck location /

[2022-04-27 15:30] javsalgar commented on #9676
Awesome, thanks!

[2022-04-27 15:37] javsalgar commented on #9944
Hi,

I was unable to reproduce the issue:

[code]

Could you ensure you are using the latest version of the chart?

[2022-04-27 17:25] rahimalizada commented on #8877
Installing helm chart with defaults and replica set enabled (name-rs) and killing one of the replicas changes the replica set name to name-replica-set and marks it as ghost replica

[2022-04-27 18:39] jowko commented on #7709
Issue is still valid.

[2022-04-27 20:50] carrodher commented on #9945
Thanks for the suggestion. Would you like to contribute by creating a PR implementing it? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-04-27 22:05] ISSebastianRamirez opened #9956 "Migrate MySql to SQLServer"
### Name and Version

bitnami/redmine 5.0.0

### What is the problem this feature will solve?

Hi, I have a doubt. How can I migrate the database from MySql to SqlServer? I already installed redmine through bitnami but by default it is installed with mysql, what can I do to be able to install it with sqlserver or allow me to migrate it to sqlserver?

### What is the feature you are proposing to so

[2022-04-27 22:17] pedominguezbr opened #9957 "[bitnami/argo-cd] Fix issue with server.config kustomize.buildOptions"
### Name and Version

bitnami/argo-cd

### What is the problem this feature will solve?

in the server.config there is no data kustomize.buildOptions

### What is the feature you are proposing to solve the problem?

enable the kustomize.buildOptions in the server config cm

### What alternatives have you considered?

`
server:
  config: |
    kustomize.buildOptions: "--enable-helm"
`

https://argo

[2022-04-28 00:38] lknite commented on #9900
Upon investigation my pvc was the exact same age as other processes.  In any case, decided to try your idea, deleted the namespace and allowed everything to come back to life.  Long as '/auth' is added, everything works.

Thank you for your help!

[2022-04-28 00:38] #9900 closed

[2022-04-28 01:05] cangel111 commented on #1461
Hi guys,

I spent another 24 hours on this and found a simpler and more persistent solution.

1. Add this to the wordpress section in `deployment.yaml` of the helm chart:
[code]

2. Add this script in `customPostInitScripts` in `values.yaml`:
[code]

This replaces the paths for the Wordpress URLs using `sed` initial in wp-config.php, which is why the database is also initialized with the correct U

[2022-04-28 01:34] #9712 closed

[2022-04-28 01:34] #9705 closed

[2022-04-28 01:34] #9660 closed

[2022-04-28 01:34] #9468 closed

[2022-04-28 01:34] #9367 closed

[2022-04-28 01:34] #8172 closed

[2022-04-28 03:01] pankaj-dahiya commented on #9944
Hi @javsalgar  Thanks for reply.
I am using it inside my parent chart. My directory structure is:
BackendApp
    charts
        MySQL
    templates
    charts.yaml
    values.yaml

When I am linting MySQL chart then there is no error. Whereas, when I lint BankendApp chart, then it shows error in Mysql chart!

[2022-04-28 05:50] EugenMayer commented on #9893
Thank you @joancafom, so by description of the reproduction above is not correct in the sense that, in either of the name ways, the bootstrap will be flawless:

1. Controlled shutdown, means all nodes are e.g. shutdown using `shutdown -h now` and getting prog `SIG` signals this way
2. Managed downscaling, which means shutdown one node (pod) after the other, until all are shutdown

For me, 1. def.

[2022-04-28 05:57] EugenMayer commented on #9893
Something i have also tried and does not really fit the picture:
Bootstrapping with

- force-bootrstrap (cluster starts, but brain splitter)
- then removing force bootstrap

Does lead me where i started, no node is able to safe boot any longer. What i have to do here is

- force bootstrap
- scale to 1
- remove all pvs of the pods that no longer run
- start in non force boostrap mode
- scale up to

[2022-04-28 06:10] Aurorxa commented on #9952
Ha ha, the parameter setting is wrong，The command should be like this：
[code]
because i use http instead of https

[2022-04-28 06:10] #9952 closed

[2022-04-28 06:32] viceice opened #9959 "[bitnami/postgresql] Best / fastest way to do major db updates"
### Name and Version

bitnami/postgresql

### What is the problem this feature will solve?

Currently it seems there is no build-in way to upgrade postgresql major versions. I use terraform to deploy all my charts and postgresql is the only image which has no build-in major db upgrade feature.

I know it's not easy. databases are easy to backup and restore, but whats the best ways to also backup /