[2020-06-29 11:12] ransoor2 commented on #2868
@juan131 is there any update on the mnesia tables issue?
Currently if the deployment will go down / k8s will reschedule pods for some reason then rabbit will hit the mnesia issue and data will be deleted.
We really want to use this chart but if this issue is not solved soon we would need to look for other solutions

[2020-06-29 11:12] nikhilno1 opened #2957 "[bitnami/elasticsearch]: Use x-pack basic image instead of OSS version in the chart"
I understand the bitnami elasticsearch image uses the OSS version.
I wanted to know if it is possible to use the x-pack basic image instead of the OSS from these helm charts?
Thanks.

[2020-06-29 11:14] #2947 closed

[2020-06-29 11:27] dani8art commented on #2937
That's strange because it should be transparent to the initialisation logic inside the container.

I also tested with this kind of volume binding and the chart works properly

**create the storage class**
[code]

[code]

[code]

[code]

[2020-06-29 11:29] dani8art commented on #2946
It seems to be due to `--deploy-mode client`, I've tried without this and it works, could you give a try with the following

[code]

[2020-06-29 11:31] #2922 closed

[2020-06-29 11:42] dani8art commented on #2957
Hi @nikhilno1 we implemented this chart using OSS version of elasticsearch and taking the advantages of the configuration logic that is implemented [in the container](https://github.com/bitnami/bitnami-docker-elasticsearch/blob/master/7/debian-10/rootfs/opt/bitnami/scripts/libelasticsearch.sh), regarding that, you can try to use the x-pack version of elasticsearch but unfortunately we can not guar

[2020-06-29 11:49] finaldzn commented on #2920
I tried to connect to the postgres server through an application in the same cluster. But the password was not right and I had a `password authentication failed for user "postgres"` .

But removing my local postgres on windows (not in a container) and resetting my cluster fixed the problem.

[2020-06-29 11:52] michael-bouvy commented on #2937
I guess it might me a cloud-provider specific problem then, closing this issue, thanks for your help and your time!

[2020-06-29 11:52] #2937 closed

[2020-06-29 12:04] nikhilno1 commented on #2957
Thank you for the response. I am using it to build a log analytics solution. I have an on-prem version (that uses x-pack basic) and want to move it to cloud. I would like to get as many features out of the box so that I have fewer customizations to deal with.
For e.g. x-pack basic can give me monitoring, RBAC, index management and bunch of other things that I can use straight-away.
Is not supporti

[2020-06-29 12:11] miguelaeh commented on #2956
Hi @michael-bouvy ,
Thank you very much for your comment, try executing `helm dependencies update` to bring the latest common chart we use for common functions.

[2020-06-29 12:17] dani8art commented on #2937
Oki, thanks! do not hesitate to contact us if you find any other issue.

[2020-06-29 12:38] thomas-riccardi commented on #2940
Hi @javsalgar,
I confirm your summary.
I alas wont have time to work on that PR, however small it is...

[2020-06-29 13:29] marcosbc commented on #2917
Thanks for sharing! I'm sure it will be useful for others with similar issues. In the meantime, I'll leave this as `on-hold` until we implement support for this.

[2020-06-29 13:58] joancafom commented on #2913
Hi @mikeyGlitz

Glad to see this can solve your issue regarding LDAPS. To keep you updated about the matter, I am currently implementing the [changes](https://github.com/bitnami/charts/compare/master...joancafom:owncloud-root-ca) and plan to make a PR soon.

Thanks!

[2020-06-29 14:35] misterstrickland commented on #2920
Running this:
[code]

Installed helm/k8s:
[code]

[2020-06-29 14:48] dbrennand commented on #2922
How long does it take before I can use this fix?

I have ran `helm repo update` and it's still using the broken version.

[2020-06-29 14:55] carrodher commented on #2223
It seems the issue is that you are using a parameter that is not valid :`--set jenkinsUsername=admin` the real parameter is `--set jenkinsUser=admin`. We are using `jenkinsUser` everywhere in the docs (README.md) except in an example code-block that I just fixed in this commit: c9a01cb22534bc48c3f791d0454e3053554a06b8

Using `jenkinsUser` this is the result:
[code]
according to the above notes and

[2020-06-29 15:39] raphaelcervantes commented on #2798
I have tried starting from scratch. I have also tried deleting my minikube installation and restarting that as well. However, the results are the same. *sigh*

I use the ip address because I am not confident I can properly edit `/etc/hosts`. In another tutorial, I have made ingress work with a raw ip address. In fact, I did make something like <somename>.<ip-address> work before. Also, my minikube

[2020-06-29 17:10] marcosbc commented on #2892
@smhmayboudi I see now. Why are you installing chart 4.5.0? It is not supported in modern clusters, and we're currently only able to support 6.x.x for that reason (preferably 6.14.4).

[2020-06-29 17:23] marcosbc commented on #2941
Hi @stevehipwell, feel free to send the PR! We would be glad to review it.

I can see that the current stable/fluentd sets up a configmap with a script to install the plugins with `fluent-gem`, overwriting the `command`, and the end calls the `/run.sh` script for running the service.

In our case, the initialization logic is included in the `rootfs` of the container, so it would probably make more

[2020-06-29 17:40] ejpir commented on #2548
we have been able to further narrow it down to a lost packet with only a SYN and no ACK.

Possible causes:

- Calico vs host iptables mismatch (1.6, v1.8, altho it seems calico runs in iptables-legacy mode, not nft).
- Snat
- Source/Destination checking on the ENI (AWS network interface). Nodes have more than one interface, might get trapped in one of those.

This simple workaround has got it work

[2020-06-29 19:51] fonsecas72 opened #2959 "[bitnami/redis-cluster] CrashLoopBackOff"
**Which chart**:

bitnami/redis-cluster 3.1.1

**Describe the bug**

CrashLoopBackOff of in the sts pod

Logs:

`sed: can't read /bitnami/redis/data/nodes.conf: No such file or directory`

**To Reproduce**

Basically I used the following (in GKE)

[code]

**Expected behavior**

**Version of Helm and Kubernetes**:

Helm 2.16.8
K8S 1.16.9

[2020-06-29 20:02] geota opened #2960 "[bitnami/contour] Contour chart should support deploying with an AWS NLB"
**Which chart**:
bitnami/countour 1.0.0

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

The chart should support deploying with an NLB:
https://projectcontour.io/guides/deploy-aws-nlb/
https://github.com/projectcontour/contour/tree/master/examples/contour#deploying-with-host-networking-enabled-for-envoy

**Describe alternatives you've c

[2020-06-29 20:06] mboutet commented on #2959
I don't know if this is related to your problem, but you need at least 6 nodes (3 masters + 1 replica for each master, so 6 nodes total) for redis-cluster to work properly.

[2020-06-29 20:17] fonsecas72 commented on #2959
Thanks. I tried it but now all of them have the error

[code]

error keeps

[code]

[2020-06-29 20:33] mboutet commented on #2959
Did the cluster creation job run?

[2020-06-29 20:58] fonsecas72 commented on #2959
no, seems not. It didn't even created it.

Can it be because with `"helm.sh/hook": post-install,post-upgrade"`  it will only be executed on a successful installation ?

[2020-06-29 21:02] mboutet commented on #2959
If you have the `--wait` flag while installing, helm will wait for all the pod to be ready before running the hook. However, my guess is you have a volume permission issue. Is your storage class a disk or is it some kind of SMB/NFS?

[2020-06-29 21:12] fonsecas72 commented on #2959
ok, seems I had a typo in resources (I'm required to set resources). Now I see the job, but it's in infinite loop

I'm using GKE with standard volumes

[code]

Regarding permissions, they seem correct

[code]

[2020-06-29 21:14] mboutet commented on #2959
What are the logs for the job? The job should wait for all the nodes to be ready, so if you don't have the `--wait` flag, it can take some time until all the redis nodes are ready.

[2020-06-29 21:16] fonsecas72 commented on #2959
loop with

[code]

helm runs until it times out with

`Error: failed post-install: timed out waiting for the condition`

let me with the "--wait" flag

[2020-06-29 21:18] mboutet commented on #2959
Were all the redis nodes "ready" during that time?

[2020-06-29 21:29] fonsecas72 commented on #2959
yes, unless something odd was going on. But I have tried many ways. I always make sure I start from clean state before every try (sts, pvc, pv, job, cm)

btw, what the "can't read /bitnami/redis/data/nodes.conf: No such file or directory" means?

there is no file there and from the code I'm not sure it was supposed to be, was it?

After looking at the docker image i see it is expecting /opt/bitnam

[2020-06-29 21:51] mboutet commented on #2959
I think the `nodes.conf` is created by redis itself once the cluster is initialized. In my case, it seems like it's there as soon as the container starts, even when the cluster is still not initialized by the job.

Here are my values if it helps:
[code]
I'm using the version `3.1.3`.

[2020-06-29 21:55] fonsecas72 commented on #2959
yes, perhaps I'm missing the permission setup for the init-cluster job 🤔  let me check. thanks again 🙌

[2020-06-29 22:23] alextes opened #2963 "[bitnami/grafana] Any way to add notification channels / alerts into the grafana chart?"
**Which chart**:
Grafana 2.1.2

**Is your feature request related to a problem? Please describe.**
When recreating grafana my opsgenie webhook notification channel is gone. It also appears a dashboard is failing to automatically create because it can't find the notification channel it needs for its alert.
[code]

**Describe the solution you'd like**
Declare notification channel like we do dashboar

[2020-06-29 22:41] gmendel opened #2965 "Contour chart has no report/category entry for onboarding with the IBM catalog"
**Which chart**:
contour 1.5.1

**Describe the bug**
This chart is not in the Bitnami report: https://bitnami.com/library/ibm_charts_report.json -> lacking category to be onboarded with.

**To Reproduce**
Steps to reproduce the behavior:

[2020-06-30 00:39] asgoel commented on #2940
Hi @javsalgar,  I opened a PR here: https://github.com/bitnami/charts/pull/2966

[2020-06-30 05:37] zenbones opened #2967 "[bitnami/elasticsearch] OOM on data/master"
This is not a bug, so apologies, but I'm getting repeated OOM shutdowns on master and data containers. This is very shortly after startup and there's almost no usage of elasticsearch, even when the cluster is in operation. It's not like I'm providing a huge amount of memory, but 512M for the master and 1.5G for data, and there should be nearly no data. Any suggestions? Too little memory? Is there

[2020-06-30 06:44] juan131 commented on #2868
Hi @ransoor2

I was not able to reproduce that issue on my side. Could you please provide this information?

- What specific steps should I follow to reproduce it? Please share the exact commands so it's easier for me.
- What kind of persistence volume are you using?
- What K8s cluster distro are you using?
- Are new pods scheduled in the same node?

[2020-06-30 07:10] joancafom commented on #2959
Hi @fonsecas72, thanks for your issue and @mboutet for giving a helping hand!

Yes, you are right! The `nodes.conf` file is created by redis itself at startup, and I do agree that the most plausible thing happening under the hood is related to a permissions issues with filesystem.

[2020-06-30 07:21] andresbono commented on #2920
Hi @misterstrickland, it is possible that you need to start from a totally clean deployment. In order to preserve the data of PostgreSQL, some persistent volumes are kept even if you do `helm delete`. Maybe you are keeping volumes from a previous deployment and then the password is out of sync.

You can list the persistent volumes claims with `kubectl get pvc`. If you are sure there is no relevant

[2020-06-30 07:38] andresbono commented on #2548
Hi @ejpir, thanks for the detailed information. We are going to reopen the issue for some time in case someone else is also experiencing the same problem.

---

I'm not sure if I'm understanding this part correctly. If you don't want to use password authentication, you should deploy the chart with `usePassword: false` and `sentinel.usePassword: false`. It should be configured in the first initiali

[2020-06-30 07:48] miguelaeh commented on #2922
Hi @dbrennand ,
Sorry for the time this release is taking. A new version of Thanos appeared that is failing in our internal pipeline and because of that it is not being released. The changes will be published once we fix the issues with this new version. In the meantime, you can use this new version by cloning this repository and executing from the root of the repo:
[code]

That will take the late

[2020-06-30 07:54] javsalgar commented on #2940
Thank you very much! We will review it and provide feedback very soon :)

[2020-06-30 07:54] #2813 closed

[2020-06-30 07:55] javsalgar commented on #2960
Hi! Thank you very much for your feedback! We will take a look to the PR and provide feedback very soon :)

[2020-06-30 08:06] juan131 commented on #2798
Hi @raphaelcervantes

These are the exact steps I followed. Could you please give them a try?

- Setup:

[code]

- Wait for pods to be ready:

[code]

- Open a browser and access to http://prometheus.local or http://alermanager.local

![Screenshot 2020-06-30 at 10 05 41](https://user-images.githubusercontent.com/6740773/86100582-540bd880-bab9-11ea-95d1-90e49b0c1270.png)

[2020-06-30 08:06] #2940 closed

[2020-06-30 08:21] geota opened #2968 "[bitnami/contour] Envoy container fails to launch on EKS without running as root user"
**Which chart**:
bitnami/contour 1.0.0

**Describe the bug**
The envoy container fails to bind to port 80 or 443 without running it as root on a vanillla aws eks cluster.

**To Reproduce**
Steps to reproduce the behavior:
0. Vanilla EKS cluster with default eks.priveleged PSP
See: https://docs.aws.amazon.com/eks/latest/userguide/pod-security-policy.html
1. helm install bitnami/contour
2. View logs

[2020-06-30 08:25] dani8art commented on #2967
Hi @zenbones , 512M might be an insufficient amount of memory for elasticsearch since we have this https://github.com/bitnami/bitnami-docker-elasticsearch#environment-variables `ELASTICSEARCH_HEAP_SIZE=1024m` by default. Maybe you can try to adjust this value to fit your requirements.

[2020-06-30 08:39] ransoor2 commented on #2868
@juan131 So, it seems that with a new deployment, the mnesia tables issue resolves when disabling the readiness probe.
We experienced the data loss when upgrading the chart from version 6.
Thank you for all your help

[2020-06-30 08:41] Perfect-Web commented on #2890
@javsalgar there are 2 problems i have found with the new version:

1. Failed to install app redis-cluster. Error: UPGRADE FAILED: YAML parse error on redis-cluster/templates/redis-statefulset.yaml: error converting YAML to JSON: yaml: line 30: could not find expected ':'

this is when having
[code]

and

2. when specifying redis.resources

[2020-06-30 08:51] #2796 closed

[2020-06-30 09:16] thomas-riccardi commented on #2940
Hi @asgoel @miguelaeh @javsalgar , please reopen this issue as #2966 is not complete, see https://github.com/bitnami/charts/pull/2966#issuecomment-651637906

[2020-06-30 11:35] nikhilno1 commented on #2957
Hi @dani8art, if I have to change the ES image from OSS to Basic, what changes are needed? Would you be able to give some pointers? Thanks.

[2020-06-30 14:10] carrodher commented on #2963
Hi,

In order to try to reproduce the issue on our side, please, can you provide more information about the specific parameters you used to deploy the chart? Mainly what are the custom values you used such as parameters, config files, etc

Apart from that, once deployed the chart, what method are you using to recreate Grafana?

[2020-06-30 14:25] lukejpreston opened #2973 "[redis-cluster] persistence matchLabels not working as expected"
I am trying to start a Redis cluster and want to use my own persistence. I am not sure if something is wrong/not working or if I am doing it wrong. Could someone please advise?

This is my PV and PVC on my local machine

[code]

This is my values file `redis-values.yaml`

[code]

this is the command I run to install

[code]

The Redis cluster starts but creates it's own volume and uses that. I wou

[2020-06-30 15:06] farlop opened #2974 "[RabbitMQ] Unable to set existingSecret for ingress.tls"
**Which chart**:
RabbitMQ 7.3.3

**Describe the bug**
Using an existing secret for tls for ingress is not possible as it's mandatory to be named _hostname-tls_ as seen in the template just [here](https://github.com/bitnami/charts/blob/93bf9562211ba685fc341c70ed71f508c9610918/bitnami/rabbitmq/templates/ingress.yaml#L40)

**Expected behavior**
Having an existing parameter named _ingress.tls.existing

[2020-06-30 15:24] raphaelcervantes commented on #2798
Ok. I followed verbatim in a bash shell (there is a subtlety in zsh that requires putting quotes around certain parameters).

I managed to successfully visit prometheus.local. Unfortunately, alertmanager.local just sends me to the default nginx backend.
![Screenshot from 2020-06-30 08-21-08](https://user-images.githubusercontent.com/18469999/86144661-cfb25900-baaa-11ea-8e3f-46f510cfa727.png)

Here

[2020-06-30 16:03] huangyingw opened #2975 "[Bitnami Wordpress] local PV for PVC: data-wordpress-mariadb-0 ?"
**Which chart**:
wordpress:latest

**Is your feature request related to a problem? Please describe.**
I tried to install wordpress on my local bare-metal server:
helm dependency update ./
helm install wordpress ./

it creates a PVC:
kubectl get persistentvolumeclaims
NAME                       STATUS    VOLUME   CAPACITY   ACCESS MODES   STORAGECLASS   AGE
data-wordpress-mariadb-0   Pending

[2020-06-30 16:22] mboutet commented on #2868
@juan131, I tried the custom probes and they seem to be more appropriate. From my tests, the probe properly wait for a fully booted node and does not seem to be affected by alarms. It should be the default in `values.yaml` in my opinion.

[2020-06-30 16:40] ejpir commented on #2548
Hola @andresbono Yeah I understand the setting (I think ;P). I mean the default on this line:

- https://github.com/bitnami/charts/blob/bc8581861f8fa2bd0b2351f17efe7a329267ace5/bitnami/redis/templates/redis-master-statefulset.yaml#L245

The `-a "$REDIS_PASSWORD"` is always used, regardless of setting  `usePassword: false`, right? shouldn't it be surrounded by an if?

[2020-06-30 16:46] marcosbc commented on #2950
Hi @mboutet, unfortunately I could not reproduce this issue.

Checking your logs I could see this:

[code]

Which seems to indicate that it is not the first initialization of the cluster. Could you confirm it is the case? If so, could you try and install the chart with a different name and check the logs of the `cluster-create` job?

[2020-06-30 16:59] #2460 closed

[2020-06-30 16:59] #2848 closed

[2020-06-30 16:59] #2891 closed

[2020-06-30 17:12] asgoel commented on #2940
@thomas-riccardi @miguelaeh @javsalgar opened a new PR here: https://github.com/bitnami/charts/pull/2976

[2020-06-30 18:44] ianhlee opened #2977 "[bitnami/mongodb] when auth disabled, mongod throws an error about its exporter connection"
https://github.com/bitnami/charts/blob/54aa501b7f6633c437add6eb260f9b3f16179f5f/bitnami/mongodb/templates/replicaset/statefulset.yaml#L293
https://github.com/bitnami/charts/blob/54aa501b7f6633c437add6eb260f9b3f16179f5f/bitnami/mongodb/templates/standalone/dep-sts.yaml#L234

when auth disabled, mongod throws errors as follows, with and without root user password:
[code]

I guess the exporter should

[2020-06-30 19:50] mboutet commented on #2950
It was a completely fresh install on a freshly provisonned AKS cluster.

Like I said, this is not happening every time the chart is freshly deployed. I think that the `redis_cluster_create` function in [6.0/debian-10/rootfs/opt/bitnami/scripts/librediscluster.sh](https://github.com/bitnami/bitnami-docker-redis-cluster/blob/6f38b34fd2dfba9a4bc079802c49863f101266a8/6.0/debian-10/rootfs/opt/bitnami/s

[2020-06-30 20:18] davejhahn opened #2978 "Unable to see kafka metrics in prometheus"
**Which chart**:
bitnami/kafka  11.31
bitnami/prometheus-operator 0.21.3

**Describe the bug**
Unable to see Kafka or Zookeeper metric targets in Prometheus even though metric endpoints are accessible when port-forwarding and accessing the URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Prometheus Operator
2. Install Kafka-Zookeeper using helm values: metrics.enabled=true,metric

[2020-06-30 21:26] ados1991 commented on #2646
Hi, i am facing the same issue, @tereschenkov and @marcosbc can you show me how you proceed with the custom scripts ?

please give an example. it is an issue in production

best regards

[2020-06-30 21:42] aspettl commented on #2810
Remove stale

[2020-07-01 02:00] fifa451 commented on #2973
You may have to set **persistence.enabled** to **false**, and use **extraVolumes** and **extraVolumeMounts** to define your own local volume.
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#claims-as-volumes

[2020-07-01 02:07] davejhahn commented on #2978
I ended up getting this to work by following a suggestion in https://github.com/coreos/prometheus-operator/issues/1470

Basically:
kubectl get -n monitoring prometheus -o yaml shows the following selector:

serviceMonitorSelector:
  matchLabels:
    release: prometheus-operator

I added the label "release:  prometheus-operator" to the servicemonitor for kafka and zookeeper, and the targets both be

[2020-07-01 02:50] fifa451 opened #2981 "[bitname/redis-cluster] ExtraVolume didn't create, customised server label has error, and statefulset init container indent incorrect"
**Which chart**:
redis-cluster 3.1.3

**Describe the bug**

* The extraVolume is not populated properly.
* The service customized label has error during the deployment.
* The int container in statefulset got errors.

**To Reproduce**
Steps to reproduce the behaviour:

* For **ExtraVolume**
1. Add value to extraVolume section

[code]
2. Run `helm template`
3.  The statefulset output volume section

[2020-07-01 03:06] #2978 closed

[2020-07-01 06:15] juan131 commented on #2848
Hi everyone,

A new major version of MongoDB (**8.0.0**) was released including refactoring the way to expose MongoDB nodes outside the K8s cluster, so there's one service per node. It also groups every secondary and primary node under the same statefulset. Please feel free to give it a try since it should address this issue.

More info at https://github.com/bitnami/charts/tree/master/bitnami/mong

[2020-07-01 06:15] juan131 commented on #2891
Hi everyone,

A new major version of MongoDB (**8.0.0**) was released including refactoring the way to expose MongoDB nodes outside the K8s cluster, so there's one service per node. It also groups every secondary and primary node under the same statefulset. Please feel free to give it a try since it should address this issue.

More info at https://github.com/bitnami/charts/tree/master/bitnami/mong

[2020-07-01 06:15] juan131 commented on #2460
Hi everyone,

A new major version of MongoDB (**8.0.0**) was released including refactoring the way to expose MongoDB nodes outside the K8s cluster, so there's one service per node. It also groups every secondary and primary node under the same statefulset. Please feel free to give it a try since it should address this issue.

More info at https://github.com/bitnami/charts/tree/master/bitnami/mong

[2020-07-01 06:26] juan131 commented on #2868
@mboutet that's great!! Glad to hear that. Let's wait for other users to confirm that they don't find issues with these probes and, if that's the case, I agree with making them the default ones.

[2020-07-01 06:28] juan131 commented on #2868
@ransoor2 as we mentioned in the chart README.md, upgrades from version 6 are not supported due to the amount of breaking changes included in the 7.0.0 major version: https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#to-700

[2020-07-01 07:07] juan131 commented on #2981
Hi @fifa451

There's an issue in the indentation of the values you shared (also the `:` are missing after `extraVolumes`):

[code]

It should be:

[code]

You're also missing the `:` after the `initContainers` and the container name shouldn't start with `-`:

[code]

I also find there's an issue in the chart, and I created a PR to address it.

[2020-07-01 07:21] #2817 closed

[2020-07-01 07:26] juan131 commented on #2798
Great! I'm glad that finally you were able to expose Prometheus.

Regarding Alertmanager, I did not find any issue either, see:

![Screenshot 2020-07-01 at 09 24 30](https://user-images.githubusercontent.com/6740773/86215296-b7127380-bb7c-11ea-9130-682875c191c1.png)

Could you share the output of running the commands below?

[code]

[2020-07-01 07:27] rafariossaa commented on #2810
Hi,
  I added the on-hold label to avoid the stale bot.
  We hope to have news on this issue soon.

[2020-07-01 07:29] rafariossaa commented on #2965
Hi,
  We fixed a issue on this.
   Could you check it again ?

[2020-07-01 08:00] #2913 closed

[2020-07-01 08:05] fifa451 commented on #2981
@juan131  Thanks for pointing out the missing `:`.  I updated it.

[2020-07-01 08:05] lukejpreston commented on #2973
I tried the following

[code]

and it didn't seem to mount these extra volumes

Perhaps if I explain what I am trying to do it might give some context and help resolve this issue. I currently have a redis database, using the redis helm chart. I want to scale redis and see if the redis-cluster will help. I want to migrate my data to the cluster as well as keep a copy of the aof file(s) and any back

[2020-07-01 08:22] ramzes13 opened #2985 "RabbitMq extraPlugins"
**Which chart**:
name: rabbitmq
version: 7.3.3

**Describe the bug**
I want to install `prometheus_rabbitmq_exporter` plugin, this plugin depends on:
[code]
see [here](https://github.com/deadtrickster/prometheus_rabbitmq_exporter/releases/tag/v3.7.9.1)

from README:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
After deploy with this config:
[code]
**Expected behavior**
`prometh

[2020-07-01 08:25] andresbono commented on #2548
@ejpir, adding an if there makes sense. Can you share the values that you are using to deploy the chart? We would like to reproduce the issue.

[2020-07-01 08:44] dani8art commented on #2957
Hi @nikhilno1 sorry for my late response,

Yes it is a matter of licensing, our open source catalog only ships open source licensed software in containers and charts.

Regarding the second question, I don't know what you would need to add, what I can say is what we do in our image.

- In the repository for `bitnami/elasticseach` you could see all the bash configuration logic that we apply to confi

[2020-07-01 08:45] Bajix commented on #2917
Also worth noting, there's the same problem with initialization. Ideally I would be able to run a command during startup after my module loads to start a background timer. From what I see now, I'd probably need to do something clever with replacing the startup script or would need to setup a sidekick. It would be interesting if we could inject commands into the startup script

[2020-07-01 08:58] andresbono commented on #2985
Hi @ramzes13, thanks for reporting this issue. I see two problems here:

1) Could you please use `communityPlugins` instead of `customPlugins`? See the `values.yaml`:

https://github.com/bitnami/charts/blob/36a663607aa4929a294bf547da583ce2edc64ec8/bitnami/rabbitmq/values.yaml#L119-L122

The README needs to be updated.

2) The link that you are indicating has a redirection to the final asset. The c

[2020-07-01 09:03] andresbono commented on #2985
Related: https://github.com/bitnami/bitnami-docker-rabbitmq/issues/126

[2020-07-01 09:47] ramzes13 commented on #2985
Hello @andresbono, thanks for quick reply,

I tried with `communityPlugins` and it worked after I uploaded the plugin archives on separated file storage.

One thing to remark, If you want to clone multiple plugins, they must be listed in one string, separated by space
[code]

[2020-07-01 09:47] #2985 closed

[2020-07-01 09:48] parvaths1118 opened #2987 "Second replica from statefulset is not starting post postgresql-ha helm chart depoyed"
**Which chart**:
[code]

**Describe the bug**
Currently we are running postgresql in docker and would like to move to production with postgresql-ha so I have deployed the postgresql-ha helm chart with replicaCount 2 but second replica is not crashing. I Have copied all the outputs and logs. Please let me know if any other information is needed.
[code]
**To Reproduce**
Steps to reproduce the behavi

[2020-07-01 09:51] joancafom commented on #2968
Hi! Thank you so much for you feedback and contribution. I saw one of our engineers has already provided some feedback 😁.

Thanks!!

[2020-07-01 09:51] carrodher commented on #2974
Hi, thanks for open this issue. I just created a PR (attached to this issue) that should solve the issue, feel free to take a look. Once reviewed and merged, the issue will be automatically closed.

[2020-07-01 10:16] #2981 closed

[2020-07-01 10:28] #2974 closed

[2020-07-01 11:11] raphaelcervantes commented on #2798
This is the result of `kubectl get pods -n monitoring `
[code]
And this is the result of `kubectl get endpoints -n monitoring`
[code]

[2020-07-01 11:33] fifa451 commented on #2973
@lukejpreston you are right, I did try after that, and there were some bugs for **extraVolumes** in the old version. I did a pull request for it, the version 3.1.4 should fix the **extraVolumes** issue.

[2020-07-01 11:40] lukejpreston commented on #2973
@fifa451 I will upgrade to 3.1.4 and report back :D

[2020-07-01 12:28] marcosbc commented on #2917
For that cases, we usually add support for custom init scripts. See the Cassandra Docker initialization logic function example: https://github.com/bitnami/bitnami-docker-cassandra/blob/master/3/debian-10/rootfs/opt/bitnami/scripts/libcassandra.sh#L704It looks like Redis does not support that yet, but adding support for that should be simple.

Then, to support that in the chart, we would need to ad

[2020-07-01 12:43] marcosbc commented on #2646
@ados1991 You have several ways to specify init scripts, it is documented in the [Elasticsearch chart README](https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch#using-custom-init-scripts).

The easiest way is to specify `initScripts` in values.yaml:
[code]

Alternatively, specify initScriptsSecret or initScriptsCM and pass the name of a [secret](https://kubernetes.io/docs/concepts

[2020-07-01 13:13] juan131 commented on #2798
I just saw there's a typo in the command I suggested you to use. Maybe that's the reason...

[code]

[2020-07-01 13:22] #2806 closed

[2020-07-01 13:22] #2780 closed

[2020-07-01 13:22] #2757 closed

[2020-07-01 13:22] #2612 closed

[2020-07-01 13:30] borgez commented on #2805
@joancafom hi, you have plan to fix it?

[2020-07-01 14:00] andresbono commented on #2985
Thanks for confirming it, @ramzes13. We have fixed the issue with:

- https://github.com/bitnami/bitnami-docker-rabbitmq/commit/d8f7fa2a714ace0f578fd77e0bb521b1baf806b9
- https://github.com/bitnami/charts/pull/2989

In case you want to update your deployment.

[2020-07-01 14:20] raphaelcervantes commented on #2798
ok that worked!

I'm going to have to think about why nothing I tried before worked. But thank you!

[2020-07-01 14:26] lukejpreston commented on #2973
It mounted the volumes but it doesn't seem to be writing as I would have expected

On my machine after install

[code]

on each cluster

[code]

This feels like a step forward but I am not sure what is missing.

[2020-07-01 14:29] #2939 closed

[2020-07-01 14:30] javsalgar commented on #2890
Hi,

I was unable to reproduce the issue. I installed the chart and found no issues, as you can see here:

[code]

It seems that you are doing an upgrade, does the same issue happen when deploying a fresh one?

[2020-07-01 15:02] nikhilno1 commented on #2957
Thank you @dani8art for the detailed and clear response. Appreciate it.

[2020-07-01 15:14] Perfect-Web commented on #2890
@javsalgar indeed this is an upgrade, i need this to work as it is production ...

[2020-07-01 15:44] andresbono commented on #2975
Hi @huangyingw,

Do you have any Persistent Volume Provisioner in your K8s cluster? Please note that you need one in order to dynamically create Persistent Volumes that you can attach to your pods. You can find more information in the link below:

- https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/

The error could also be related with your Persistent Volume Provisioner expecting a

[2020-07-01 16:09] nagyclaudiu83 opened #2992 "[bitnami/harbor] Harbor v2.0.0 GC not working"
**Which chart**:
Harbor version 6.0.6
- will affect all Bitnami chart versions that deploy Harbor v2.0.0+

**Describe the bug**
Clicking the "GC Now" button in Harbor will trigger a GC job that will always end with status "Error"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Administration/Garbage Collection'
2. Click on 'GC Now'
3. Click on History tab
4. Wait for the job to finish

[2020-07-01 16:32] nagyclaudiu83 opened #2993 "Harbor Chart v6.0.6 still using trivy v2.0.0"
**Which chart**:
Harbor Chart v6.0.6

**Describe the bug**
All images in harbor chart v6.0.6 are running harbor v2.0.1 except for trivy that is by default still set to run image v2.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install/Upgrade Harbor
2. Check the version of the container images deployed
3. harbor-adapter-trivy is running tag 2.0.0-debian-10-r26 instead of maybe 2.0.1-de

[2020-07-01 18:05] zenbones commented on #2967
I did adjust the value, and checked that it gets to the container as the proper env value, and checked that the java process is using that value for xms and xmx, and it's all correct. And then the containers OOM. Maybe this is an elastic search thing where it just needs a larger minimum heap, but it does seem like a lot for a little.

[2020-07-01 18:47] zenbones opened #2995 "[bitnami/elascticsearch] Allow existing volume in master and data"
I recently had a change merged to allow existing volume claims in the elasticsearch chart, which is fine in non-replicated environments. In a replicated environment use of volumeClaimTemplate is required  due to constraints on re-use of the data directory in elasticsearch. However, you could still define the volume with a pv, rather than get a slew of dynamically created ones by adding a (optional

[2020-07-01 18:49] #2833 closed

[2020-07-01 18:49] zenbones commented on #2833
pr merged

[2020-07-01 19:09] dsindatry opened #2997 "Cannot produce/consume when using load balancer for per pod service NLB in kafka"
I have spun up Kafka in eks cluster and using per node load balancer service. But i cannot produce or consumer.
Telnet NLB port works

This is my command
[code]

[2020-07-01 19:13] zenbones commented on #2995
Added pull request with the same title, so this can be closed.

[2020-07-01 19:13] #2995 closed

[2020-07-01 22:07] xkbarkar opened #3000 "Inclusive selector in deployment creates conflict with image-renderer when using port-forward"
**Which chart**:
grafana-2.1.2

**Describe the bug**
After helm installation the instructions specify
[code]
To open  the dashboard, running this command will result in error
[code]
since the selector in the grafana service
[code]
Will return both grafana and grafana-image-renderer pods

**To Reproduce**
Install grafana using helm , follow the port-forward instructions in the terminal

**Expected

[2020-07-01 23:21] fifa451 commented on #2973
Maybe you can provide more details of what structure do you want?

The `/bitnami/redis/data` path is defined in `persistence.path` for regular Redis data by **default**. maybe set it to  `/bitnami-default/redis/data`, and then mount your own volume to `/bitnami/` ?  It seems that all the data has to write into `/bitnami/redis/data`, from there cluster setup script: https://github.com/bitnami/bitna

[2020-07-02 00:53] misterstrickland commented on #2920
That did the trick, thanks!

[2020-07-02 06:05] ados1991 commented on #2646
Hi @marcosbc Thanks for your answer, it was helpfull for my fix in production. Also i have a question about monitoring for my elasticsearch cluster.

In the documentation i see this  (metrics.enabled | Enable prometheus exporter |) to enable prometheus to scrape the metrics but i also see this metrics.serviceMonitor.enabled for monitoring. Which one should i choose and what is this difference betw

[2020-07-02 06:20] alesanmed opened #3001 "[PostgreSQL] salves cannot connect to master due to password authentication failed"
**Which chart**:
Chart: PostgreSQL
Version: 8.10.11

**Describe the bug**
I installed the chart using the production values. The slaveCount is set to 2, the user is the default `repl_user` and the password is empty because I'm setting the `existingSecret` key. The secret I'm using contains `postgresql-replication-password`. When I install the chart, the master is running but both slaves are showin

[2020-07-02 06:24] juan131 commented on #2798
Great @raphaelcervantes !! I'm glad it finally worked.

I think it's a matter of understanding how Ingress works, and how it redirects requests bases on the hostname. This might be helpful for you:

- https://kube.academy/lessons/introduction-to-ingress

[2020-07-02 07:04] srinathganesh1 commented on #2931
Hey, I am working with @rg2609 on this topic of HPA for postgres. So I am NOT hijacking this thread/post
------

Summary of Research:
- There is a environment variable called `REPMGR_PARTNER_NODES`
  - This maintains a list of known replicas in format `APP_NAME-postgresql-ha-postgresql-REPLICA_NUM.APP_NAME-postgresql-ha-postgresql-headless.default.svc.cluster.local`
  - This is populated by `templ

[2020-07-02 07:35] rafariossaa commented on #2987
Hi @parvaths1118 ,
  I changed   I was not able to reproduce the issue, I can not have NFS PVC so I don't know if it would be related to that.

  Could you indicate the kubernetes cluster you are using ?

  Also, could you try provided `values-production.xml` as it is, and the make the changes one by one to see which one produce the failure? If you don't have the default 8GB it is safe to set it t

[2020-07-02 08:03] nagyclaudiu83 commented on #2993
This is fixed in Harbor Chart v6.0.8 .

[2020-07-02 08:03] #2993 closed

[2020-07-02 08:04] dani8art commented on #2967
Regarding that elasticsearch is built in java, I would bet on this phrase. You only have to see that default value is `1024m`. Here they wrote a very good explanation on how to set production environment heap size and physical memory https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html

[2020-07-02 08:38] rafariossaa commented on #2814
Hi @joseguerrero ,
  I am sorry, this issue got lose. I am working on it now.

[2020-07-02 09:33] dani8art commented on #2992
Hi @nagyclaudiu83 we were able to reproduce it and we are working on fixing it, thank you so much for the feedback we will keep you updated.

[2020-07-02 10:22] standup-jb opened #3003 "Install Rabbitmq charts error."
Hi .I use the rabbitmq chart deploy in k8s cluster , The rabbitmq can't normally start . Any body else can help me .I really wants to use this helm charts.

I use the command install as below
`helm install rabbitmq-1 /home/helm-package/rabbitmq -f /home/helm-package/rabbitmq/values-production.yaml --set global.storageClass=managed-nfs-storage`

When the pod starting. The output log as below
` 10:1

[2020-07-02 10:36] carrodher commented on #2997
Hi, thanks for using the bitnami kafka chart. In order to try to reproduce the issue on our side, please can you provide more info about how did you deploy the chart? Did you change any parameter by using a custom _values.yaml_ or options via `--set` when installing the chart?

In the same way, there is a section in the README about [how to access Kafka brokers from outside the cluster](https://gi

[2020-07-02 10:39] javsalgar commented on #2890
Hi,

But just to confirm, do you see the issue when deploying a fresh instance? I want to make sure that the issue only appears when upgrading, so we can narrow down the causes of the issue

[2020-07-02 11:07] standup-jb commented on #3003
I use another way .still meet some problems .
I use the command as below
`helm install rabbitmq-1 bitnami/rabbitmq --set clustering.addressType=ip,clusterDomain=cluster.local.`

The pod logs as below
`11:04:26.26
 11:04:26.27 Welcome to the Bitnami rabbitmq container
 11:04:26.27 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-rabbitmq
 11:04:26.27 Submit issues

[2020-07-02 11:19] dbrennand commented on #2922
@miguelaeh
I cloned the repo and from the root directory ran:
` helm install thanos bitnami/thanos --namespace monitoring --values=.\thanos-values.yaml`
I recieved the following error:
Error: found in Chart.yaml, but missing in charts/ directory: minio
🤔

[2020-07-02 12:04] akacodemonkey opened #3007 "Permissions around configmaps"
**Which chart**:
metrics-server 4.2.1

**Describe the bug**
Pod in constant reboot cycle due to error
[code]

This permission hasn't been given to the role

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to deploy without any additional configuretion
2. View logs and view following message:

[code]

**Expected behaviour**
Expect pod to start up

**Version of Helm and Kubernetes**

[2020-07-02 12:09] #3003 closed

[2020-07-02 12:17] standup-jb opened #3008 "RabbitMq cannot login with username and password"
**Which chart**:

bitnami/rabbitmq

**Describe the bug**

Login http://10.20.112.202:15672/ use username and password. but login failed. there api response http code 401 .

**To Reproduce**

Steps to reproduce the behavior:

1. My chart values.yaml

[code]

2. After I install chart successed.

[code]

3. I use the browser open the admin page

![image](https://user-images.githubusercontent.com/1826

[2020-07-02 12:47] akacodemonkey commented on #3007
Ignore me, package wasn't deployed to kube-system. D'oh

[2020-07-02 12:47] #3007 closed

[2020-07-02 13:01] dsindatry commented on #2997
Yes i followed those steps and ran my charts like this _helm install kafka -f values.yaml bitnami/kafka_
I am running bitnami kafka chart on amazon eks.
I am testing Producers/consumers from an ec2 instance in the same vpc. I can create topics but cannot produce/consume using load balancer URL's

[2020-07-02 13:58] juan131 commented on #3008
Hi @standup-jb

Did the issue appear after installing the chart from scratch? Or was it after upgrading an existing release? Please note it's mandatory to set the the `auth.username`, `auth.password` and `auth.erlangCookie` parameters when upgrading too.

- https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#upgrading

Please also ensure you don't have PVCs from previous releases, since

[2020-07-02 14:02] joancafom commented on #2805
Hi @borgez

We are evaluating different approaches regarding how to skip this complementary information provision when performing an upgrade, but I am afraid I can't give you an ETA. On the meantime, `README.md` contains a [section](https://github.com/bitnami/charts/tree/master/bitnami/postgresql-ha#upgrade) explaining this is necessary and how to overcome the problem.

Thanks again!

[2020-07-02 15:41] miguelaeh commented on #2977
Hi @ianhlee ,
Thank you very much for reporting the issue. I am not totally sure I understand the issue, could you share the steps to reproduce it?

[2020-07-02 15:46] martingerman81 opened #3009 "IBM Cloud - Prometheus Operator basic authentication"
**Which chart**:
Prometheus Operator - 0.3.9 IBM cloud
Prometheus-operator-0.20.4

**Describe the bug**
We set a secret to the ingress configuration for basic authentication in order to login using user and password to get access to Prometheus API. We set the prometheus.ingress.annotations with
{"kubernetes.io/ingress.class": "nginx", "nginx.ingress.kubernetes.io/auth-type": "basic", "nginx.ingres

[2020-07-02 15:56] andresbono commented on #2920
Cool! Thanks to you for confirming it!

[2020-07-02 16:01] sgops opened #3011 "[bitnami/mongodb] NodePort service is created with wrong targetPort"
**Which chart**:
bitnami/mongodb 8.0.1

**Describe the bug**
I am deploying mongodb chart with the following values:

[code]
The NodePort services get created but seem to have the wrong value for targetPort. targetPort is set to NodePort.

That's the relevant section of one of the created NodPort services:

[code]

https://github.com/bitnami/charts/blob/e76971bc01439c2e1068e4e1cabddd8af3364144/bit

[2020-07-02 16:11] miguelaeh commented on #3001
Hi @alesanmed ,
Did you deploy the release previously? Try to delete the previous PVC before installing it again. The database password is stored in the PVCs that are not deleted with the `helm delete` command, so the database could be configured with a previous password.
IF you don't want to delete the PVCs you can just install the Chart with a different name.

[2020-07-02 16:13] miguelaeh commented on #2922
That should be that you don't have the proper dependencies in the `charts` directory. Try to execute:
[code]

[2020-07-02 17:28] zenbones commented on #2967
Thanks for the reference. It's a bit harsh, btw, to blame this on the JVM. There's overhead for working under the virtual machine, but on a server application where there's a single JVM in a relatively unconstrained environment, the cost is not particularly relevant. What is relevant is the way elasticsearch works, which is going to chew RAM no matter what it's written in. That speed is sitting on

[2020-07-02 17:42] marcosbc commented on #2646
@ados1991 This looks unrelated to the current issue, could you open a new Issue if, despite my reply, you were unable to fix it?

The service monitor allows to monitor your services, not only components (i.e. pods). You can read more about it here: https://coreos.com/blog/the-prometheus-operator.html

You should be able to use both without issues. See an example tutorial where we use MariaDB chart

[2020-07-02 17:51] marcosbc commented on #2950
Oh, I see. I agree that the default timeout of 5 seconds (5 retries each node max * 5 seconds between retry - [link](https://github.com/bitnami/bitnami-docker-redis-cluster/blob/6f38b34fd2dfba9a4bc079802c49863f101266a8/6.0/debian-10/prebuildfs/opt/bitnami/scripts/libnet.sh#L33) and [link](https://github.com/bitnami/bitnami-docker-redis-cluster/blob/6f38b34fd2dfba9a4bc079802c49863f101266a8/6.0/debi

[2020-07-02 20:46] tomerleib commented on #2910
About jumping from old version to a (much ) newer version, you're correct, however, I cannot go this path now so I have to jump.

I have tried this method, simply creating the snapshot and performing the upgrade caused the pods to crush with the error of `No snapshot found, but there are log entries. Something is broken!`

So it seems that I still need to go with the custom config file.

[2020-07-02 21:05] junkiebev opened #3014 "[bitnami/mongodb] pase error _helpers - illegal number syntax: "-""
**Which chart**:
mongodb v8.01 (latest)

**Describe the bug**
When trying to deploy a mongodb with `externalAccess.enabled:true` and `autoDiscovery.enabled: true`, Helm is throwing the error:
**`Wait helm template failed. Error: parse error in "mongodb/templates/_helpers.tpl": template: mongodb/templates/_helpers.tpl:227: illegal number syntax: "-" : exit status 1**`

**To Reproduce**
Deploy mongo

[2020-07-03 01:30] x0day commented on #2868
@juan131 also tried the same way like @mboutet , problem solved.

[2020-07-03 06:37] Alexx-G opened #3015 "[bitnami/thanos] Allow providing an existing service account for all componenets"
**Which chart**:
bitnami/thanos v0.13.0

**Is your feature request related to a problem? Please describe.**
I'm using IAM roles for service accounts in AWS EKS to give access to the S3 bucket for Thanos componenets. While this work quite nicely when there's a single service account, it's a bit of a problem when you can't control service account name.
Currently when creating the assume policy for t

[2020-07-03 06:39] juan131 commented on #2868
I just created a PR to make these probes the default ones. Thanks so much for helping debuging this.

[2020-07-03 07:25] standup-jb commented on #3008
I solved this problem. Thank you very much . I will close this issues.

[2020-07-03 07:25] #3008 closed

[2020-07-03 07:29] standup-jb commented on #3008
In fact , Use github issues solve problems isn't effective way . Is there have some IM method to connect your . Such as facebook . messager or email .

[2020-07-03 08:06] rafariossaa commented on #2910
Hi,
  Maybe other way of doing this is to backup the data and import later the data in a new cluster.
  I have found this tool: https://github.com/rgs1/zk_shell .
  Could you give it a try ?.

[2020-07-03 08:29] miguelaeh commented on #3014
Hi @junkiebev ,
I tried to reproduce this issue but with no luck.
I deployed the Helm Chart using your values.yaml and it was deployed correctly.
Is there any missing value there?
Also, I checked the line in the trace but I didn't find any syntax error apparently.
Are you installing the Chart by cloning the repo or from the registry? And, in case you are using the repo, did you perform any changes

[2020-07-03 08:34] #2868 closed

[2020-07-03 08:45] glothriel commented on #2679
I have the same issue, strangely after adding `image.debug=true`, the it doesn't crash and works normally...

[2020-07-03 09:38] Sadarex commented on #3014
I had this error myself, but only with the "diff" plugin. (for the latest Helm 2 version)
Helm itself worked.

[2020-07-03 10:31] lwj5 opened #3019 "[bitnami/wordpress] Wordpress maintenance mode returns 503 health check fails"
**Which chart**:
wordpress

**Describe the bug**
When updating WordPress plugins or themes. WordPress is automatically put into maintenance mode.
wp-login.php will return 503, thus health check will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WordPress updates'
2. Click on 'update all'
4. See pod die

**Expected behavior**
The pod is not supposed to be killed, the health che

[2020-07-03 10:36] standup-jb opened #3020 "How to config pod time zone"
I use the rabbitmq charts deploy in k8s . but the time zone is UTC
`
I have no name!@rabbitmq-24-0:/etc$ date
Fri 03 Jul 2020 10:32:43 AM UTC
`
I am in ShangHai China  . I want to set the time zone is Asia/shanghai . So Is there any way to change the time zone .

[2020-07-03 12:25] javsalgar commented on #3019
Hi,

I think that, in the case of a long upgrade, it may make sense to change the liveness/readiness probe of the container. In other charts we are allowing a customLivenessProbe and customReadinessProbe section that deals with this kind of situations. In this chart it is not implemented yet, so while you perform this maintenance operation I would advise you to disable the liveness/readiness probe

[2020-07-03 12:50] denniseffing commented on #2889
Hi @joancafom, I opened up a PR that replaces the labels.

[2020-07-03 13:19] carrodher commented on #3011
Hi, thanks for using the Bitnami MongoDB chart and for reporting this issue. We are going to take a look trying to reproduce the issue on our side; but yes, probably there is an issue with that

[2020-07-03 13:21] marcosbc commented on #2111
Hi, it seems this behavior is happening because of the NGINX `absolute_redirect` configuration: http://nginx.org/en/docs/http/ngx_http_core_module.html#absolute_redirect

Setting the following configuration to your NGINX server should fix the issue:

[code]

[2020-07-03 13:47] junkiebev commented on #3014
I’m using Helm inside of Rancher 2.4.5, if that matters.

[2020-07-03 14:05] carrodher commented on #2931
Hi, thanks for being keeping an eye on this. Are you able to share this env. variable across nodes and maintain it up-to-date?

[2020-07-03 14:07] irizzant opened #3023 "[bitnami/fluentd] Removal of mapping_types"
**Which chart**:
bitnami fluentd 1.2.4

**Describe the bug**
Fluentd is producing a lot of deprecation warnings:
`warning: 299 Elasticsearch-7.8.0-757314695644ea9a1dc2fecd26d1a43856725e65 "[types removal] Specifying types in bulk requests is deprecated."`

See https://github.com/uken/fluent-plugin-elasticsearch/issues/766 for a possible fix

**To Reproduce**
Steps to reproduce the behavior:
1. Dep

[2020-07-03 14:10] carrodher commented on #2997
Hi, running `helm install kafka -f values.yaml bitnami/kafka` it is going to use the default parameters, without taking into account the specific configuration for the load balancers. There are two ways, on the first one you can take advantage of an initContainer in order to discover the IPs, in that case you need to install the chart using
[code]
On the second way, you can manually specify the IP

[2020-07-03 14:30] lukejpreston commented on #2973
Sorry for the delay, I haven't had a chance to try the suggestion until now. I am getting the error

[code]

But it looks like it is saving the appendonly.aof file to my local disk which it wasn't doing before. Here are the values I am currently using:

[code]

[2020-07-03 14:42] dani8art commented on #2679
Hi @glothriel that's so strange! are you sure you were using the same version of the chart?

[2020-07-03 15:02] AnCh7 commented on #2862
1. InfluxDB relay returns `HTTP 204 No Content` in it's /ping endpoint. See here:
[code]
https://github.com/influxdata/influxdb-relay/blob/master/relay/http.go

2. GCP healthchecks supports only HTTP 200 OK:
https://cloud.google.com/load-balancing/docs/health-check-concepts
[code]

See similar ticket with telegraf:
https://github.com/influxdata/telegraf/issues/4935

Since u have a forked InfluxDB

[2020-07-03 15:54] srinathganesh1 commented on #2931
Not able to find a way to use HPA to update `REPMGR_PARTNER_NODES`

[2020-07-03 20:56] dsindatry commented on #2997
@carrodher I run <helm install kafka -f values.yaml bitnami/kafka> after modifying <values.yaml> to include the parameters mentioned

externalAccess.enabled=true
externalAccess.service.type=LoadBalancer
externalAccess.service.port=9094
externalAccess.autoDiscovery.enabled=true
serviceAccount.create=true
rbac.create=true

I can also try your suggestion.

[2020-07-04 14:21] dsindatry commented on #2997
How to specify annotations using `set`
Tried this and its not working.
@carrodher your thoughts ?

helm install kafka --set externalAccess.enabled=true --set externalAccess.service.type=LoadBalancer --set externalAccess.service.port=9094 --set externalAccess.autoDiscovery.enabled=true --set serviceAccount.create=true --set rbac.create=true --set service.annotations='service.beta.kubernetes.io/aws-

[2020-07-04 18:39] fonsecas72 commented on #2959
Decided to go for another approach, closing ticket. Many thanks for the help!

[2020-07-04 18:39] #2959 closed

[2020-07-05 21:53] #2737 closed

[2020-07-05 21:53] #2769 closed

[2020-07-06 01:16] synth3tk commented on #3014
I'm also seeing this error on Rancher 2.4.5 with chart version 8.0.3.

[2020-07-06 03:09] phodamentals opened #3025 "Having issues pulling images for bitnami/airflow chart since this morning..."
Since this morning, I noticed I was unable to install the `bitnami/airflow` chart on a fresh EKS cluster deployment.

I've been able to install this chart several times in the past few weeks, no problem. Noticed there was a version update (6.3.5). Not sure if that has anything to do with it...

Something up with the docker registries?

[code]

[2020-07-06 03:29] SHUFIL opened #3026 "can't able to take mongodb DUMP getting autherror and not authorized for query on my-database.system.indexes Err"
**Which chart**:
The name (and version) of the affected chart
CHART mongodb-7.14.8, APP VERSION-4.2.8

**Describe the bug**
A clear and concise description of what the bug is.
when i take mongodb dump its getting error , err: "not authorized for query on mydb.system.indexes"
If we use "-u root" getting authentification error
**To Reproduce**
Steps to reproduce the behavior:
1. install bitnami/mong

[2020-07-06 06:29] parvaths1118 commented on #2987
Hi @rafariossaa ,

Thank you for your response,I have followed the same steps as you advised. Please find the series of steps that were followed from scratch. I have not made any changes in values-production.yaml except volumePermissions.enabled to true

Kubernetes was setup with 3 masters ,3 worker nodes,3 etcd cluster was installed in masters nodes using kube-spray.

Kindly review the steps and

[2020-07-06 07:08] irizzant commented on #3023
Update

https://github.com/uken/fluent-plugin-elasticsearch/releases/tag/v4.0.10 should fix this

[2020-07-06 07:46] joancafom commented on #2889
Thanks so much for your contribution! One of our team of engineers will review it soon and provide with feedback 🚀

[2020-07-06 07:46] juan131 commented on #3008
Hi @standup-jb

We attend issues related with Bitnami charts or Bitnami containers through GitHub. We don't provide support through mail or IM systems.

We also have a Community forum, where we attend generic issues related with Bitnami products (regardless they're related to containers/charts or other Bitnami products such as native installers or single VMs):

- https://community.bitnami.com/

[2020-07-06 08:03] juan131 commented on #3020
Hi @standup-jb

Try setting the `TZ` environment variable:

[code]

[2020-07-06 08:05] rafariossaa commented on #2987
Hi,
  Thanks for the detailed info.

Could you set `postgresqlImage.debug=true` and paste the log. This will enable debugging.

Could you try this ?

[2020-07-06 08:12] javsalgar commented on #2869
Not stale. Creating a PR

[2020-07-06 08:19] parvaths1118 commented on #2987
Hi @rafariossaa ,

Thank  you for your response,

Please find the detailed output. Please let me know if you need any other information.

**To get the password for "postgres" run:**

[root@masternode1 postgresql-ha]# export POSTGRES_PASSWORD=$(kubectl get secret --namespace default postgres-ha-postgresql-ha-postgresql -o jsonpath="{.data.postgresql-password}" | base64 --decode)

**To get the passw

[2020-07-06 08:29] juan131 commented on #3011
Thanks so much for reporting it @sgops
I just created as PR to fix this issue

[2020-07-06 08:48] parvaths1118 commented on #2987
Hi @rafariossaa ,

Sorry I have missed copying below output from my earlier comment. As suggested connected to pod postgresql-o and executed psql command. Please find the output below. Also as requested,I have copied the pod postgresql-1 debug log in my earlier comment.

Please let me know if any other information is needed.

[root@masternode1 postgresql-ha]# **kubectl get pods**
NAME

[2020-07-06 09:16] standup-jb commented on #3020
I modified the rabbitmq chart statefulset.yaml . add env TZ as below and resolved this issue . I think it is  enhancement . Chart show provided a variable config timezone in values.yaml . Default is UTC .but usually use local time when developer deploy in their country.
`
          env:
            - name: TZ
              value: Asia/Shanghai
`

[2020-07-06 09:16] #3020 closed

[2020-07-06 09:30] bananbyran opened #3028 "Issues with deployments on GKE after Cluster update"
**Which chart**:
The name (and version) of the affected chart
Wordpress
Mariadb

**Describe the bug**
Probably not a bug, rather a failure from my way.

Google upgraded the node pool (or gke version) automatically and since then all deployments fail, especially mariadb.
I use a slightly customized wordpress image with a default bitnami mariadb. The mariadb deployment fails to start since the upgra

[2020-07-06 10:22] miguelaeh commented on #3014
Hi guys,
I don't have access to a rancher cluster to test that, is the same happening with Helm 3?

[2020-07-06 10:43] rafariossaa commented on #2997
Hi @dsindatry ,
  To set the annotations, could you take a look to [this thread ](https://github.com/bitnami/charts/issues/1894) ? Maybe it helps.

[2020-07-06 10:49] #3011 closed

[2020-07-06 10:58] joancafom commented on #3025
Hi @phodamentals

Thanks for your issue. I was unable to reproduce it locally, neither pulling directly the image nor installing the chart itself.

[code]

Could you please try that again in order to discard the possibility of a transitory error? If you still face the same error, you can run the following command to check for the latests events in your cluster and a brief description of them (mayb

[2020-07-06 11:05] alextes opened #3029 "Feature request: Streaming NATS chart"
**Which chart**:
Doesn't exist.

**Is your feature request related to a problem? Please describe.**
The NATS chart is great, but it doesn't support streaming NATS.

**Describe the solution you'd like**
A great streaming NATS chart like the many others Bitnami made 👌 .

**Describe alternatives you've considered**
https://nats-io.github.io/k8s/ has a pretty decent Helm chart already, but is missing

[2020-07-06 11:38] vishalgoel1988 opened #3030 "Kafka unable to connect to zookeeper ensemble on EKS"
**Which chart**:
bitnami/kafka

**Describe the bug**
I am trying to run Kafka cluster on AWS EKS cluster (v1.16). I am using bitnami helm charts. https://github.com/bitnami/charts/tree/master/bitnami/kafka https://github.com/bitnami/charts/tree/master/bitnami/zookeeper

I have deployed zookeeper ensemble successfully using below command:

`helm install zookeeper bitnami/zookeeper --set replicaCoun

[2020-07-06 12:59] alextes opened #3031 "Feature request: Grafana notifiers"
**Which chart**:
Grafana 3.0.1

**Is your feature request related to a problem? Please describe.**
Recreating the resource I have to recreate alert notification channels by hand.

**Describe the solution you'd like**
Declarative alert notification channels. The stable repo has a grafana chart that supports its under the name notifiers: https://github.com/helm/charts/tree/master/stable/grafana

Tha

[2020-07-06 13:06] gmendel opened #3032 "The IBM helm feed for the MetalLB has an invalid icon url"
**Which chart**:
MetalLB Controller 0.9.3

**Describe the bug**
The icon url for this chart: https://metallb.universe.tf/images/logo.png is invalid

[2020-07-06 14:17] synth3tk commented on #3014
Yes, I currently have the repo setup with Helm 3. I did notice that starting with a fresh 8.0.1 instance and upgrading to 8.0.3 seems to avoid this error.

[2020-07-06 14:49] LucaPrete opened #3035 "[bitnami/discourse] Add existingSecret sections to chart config"
**Which chart**:
discourse

**Is your feature request related to a problem? Please describe.**
The chart does not allow to use existing secrets and managing db dependencies (i.e. create new DB vs use existing DBs) is quite complex. Many values for DBs are duplicated in the values.yaml file.

**Describe the solution you'd like**
I'd like to remove the externalDatabase / externalRedis sections. I'll

[2020-07-06 14:49] LucaPrete commented on #3035
Going to send a first PR...

[2020-07-06 15:12] dani8art commented on #3015
Hi @Alexx-G , I've just created a PR adding the feature requested, please let's move the conversation there. Thank you!

[2020-07-06 15:54] rafariossaa commented on #3023
Hi,
  Could you try the just released version 1.2.7 of the chart ?
  It uses a new image that includes a new version of `fluent-plugin-elasticsearch`.

[2020-07-06 16:22] #2869 closed

[2020-07-06 22:24] greggbjensen opened #3040 "MySQL - Cannot create database with UTF8MB4"
**Which chart**:
mysql v6.14.4

**Describe the bug**
When I start the container I get warning messages about UTF8MB4.  If I set `master.config` to UTF8MB4 the container fails to start.

[code]

I am using Pimcore which requires UTF8MB4, so I explicitly set the `master.config` to UTF8MB4:

[code]

Now the container fails with no messages after `Installing database`:

![image](https://user-images.gi

[2020-07-06 23:10] greggbjensen commented on #3040
I was able to get it to work if I removed all character set lines from the master.config:

[code]

[2020-07-07 04:51] mohamedih opened #3043 "Use private git repository in Airflow"
Hi,

I'm using Airflow Bitnami chart from IBM Cloud. I'm trying to connect to private git repository.

I'm creating ssh secret like this:
`kubectl create secret generic git-ssh-key-secret --from-file=id_ed25519=.ssh/id_ed25519 --from-file=known_hosts=.ssh/known_hosts --from-file=id_id_ed25519.pub=.ssh/id_ed25519.pub`

I configured the secret name into airflow.gitCloneContainer.extraEnvVarsSecret
I

[2020-07-07 05:41] rsokolovs opened #3044 "mongodb replicaset members names with hostname"
**Which chart**:
bitnami/mongodb --version 8.0.5

**Describe the bug**
I'm deploying bitnami/mongodb helm chart on OKD 3.11 with architecture=replicaset.

Deployment is ok but when I run `rs.status()` that shows that arbiter pod is connected with hostname and all mongo pods are connected with IP.
If I delete mongodb pod then it can't connect back to replicaset because new pod has different IP.
But

[2020-07-07 06:02] #3014 closed

[2020-07-07 06:33] juan131 commented on #3028
Hi @bananbyran

It's very likely to be related with your previous PVC. What kind of PV were you using? Is it a Local PV? If it's a local PV, it means it's a disk mounted on a specific node (see https://kubernetes.io/blog/2019/04/04/kubernetes-1.14-local-persistent-volumes-ga/#what-is-a-local-persistent-volume) and that can be problematic if the node pool was upgraded.

Do you have any backup of yo

[2020-07-07 07:04] lwj5 commented on #3019
I see okay, thanks for the reply. I'll try to find something for a long term solution.

[2020-07-07 07:06] rafariossaa commented on #2987
Can you run on pgpool node 'show pool_nodes' ?
It should return something like:
[code]
One node should be `primary` and the other `secondary`.
Also, could you run `select * from pg_stat_replication ;` in both postgresql nodes ?

[2020-07-07 07:26] rafariossaa commented on #3031
Hi @alextes ,
  Thanks for the suggestion, I am opening an internal task to study your request.
  We will come back as soon as we have news.
  In any case, if you want to send a PR we will be glad to review and merge it.

Best regards,

[2020-07-07 07:34] bananbyran commented on #3028
Pretty sure they are local yeah. Is there a way to fix them. Also I have moved a bit further in my own findings. I enabled the debug feature for the mariadb image and got this.
[code]

Some googling later a suggestion was to rename the ib_logfile0, which I did, with the help of a recover pod.
Which resulted in this log

[code]

So now I have the issue of a faulty root password I guess. Shouldn't t

[2020-07-07 08:27] bappr commented on #3044
Just got hit by this one too. Pretty serious issue.

[2020-07-07 08:29] parvaths1118 commented on #2987
Hi @rafariossaa ,

As mentioned pg-1 pod is not running so i could not connect to pg-1 pod.

[root@masternode1 ~]# kubectl get pods
NAME                                                READY   STATUS             RESTARTS   AGE
postgres-ha-postgresql-ha-pgpool-79f78f4c75-jj72g   1/1     Running            0          23h
postgres-ha-postgresql-ha-postgresql-0              2/2     Running            0

[2020-07-07 08:43] vishalgoel1988 commented on #3030
HI, It comes out to be the Istio porxy issue. I uninstalled Istio and it worked out.
https://github.com/bitnami/bitnami-docker-kafka/issues/38#issuecomment-451381003

[2020-07-07 08:43] #3030 closed

[2020-07-07 09:05] ahovgaard opened #3045 "[bitnami/redis] Error accepting a client connection: error:1408F10B:SSL routines:ssl3_get_record:wrong version number"
**Which chart**:
redis-10.7.9

**Describe the bug**
After deploying bitnami redis using the default `values.yaml` with TLS and sentinel enabled, the redis container in the redis master pod frequently logs errors like the following:

[code]

No clients are trying to connect.

**To Reproduce**
Steps to reproduce the behavior:
1. Create kind cluster:
[code]

2. Generate certificates:
[code]

3. Creat

[2020-07-07 09:27] rhysjtevans commented on #2851
thanks @miguelaeh , that was kind of my point right?
It would be good for the Helm Chart to be updated to rectify this. I may be able to create a PR but with the number of IF/ELSE it might be easier/quicker for someone who developed and familiar with it to update the logic.

[2020-07-07 09:43] standup-jb opened #3047 "Grafana dashboard for rabbitmq"
Sorry. I meet a problems . I use the prometheus scrape the metric data from rabbitmq . I download the rabbitmq dashboard template in the Grafana website. But the metrics name is not fit in promethues collected.

So is there any provided grafana dashboard template is match the rabbitmq metrics data .

[2020-07-07 10:04] miguelaeh commented on #2851
Hi @rhysjtevans ,
Do you think the helm chart will be functional without providing the `tenantID` and the rest of parameters?  It seems to be mandatory: https://docs.bmc.com/docs/cloudlifecyclemanagement/46/setting-up-a-tenant-id-client-id-and-client-secret-for-azure-resource-manager-provisioning-669202145.html

[2020-07-07 10:37] Roarain opened #3049 "[bitnami/postgresql-ha] How to use repmgr to check postgresql replication cluster status"
**Which chart**:
The name (and version) of the affected
chart postgresql-ha
docker.io/bitnami/postgresql-repmgr:12.2.0-debian-10-r108

no matter using what option repmgr output

[code]

How to use repmgr to check postgresql replication cluster status

[2020-07-07 11:53] andresbono commented on #3040
Hi @greggbjensen, you can use the value `image.debug=true` to get more information about what is going on. Adding the following lines to your `mysql.yaml` file showed what is causing the issue:

[code]

[code]

Then I checked [Supported Character Sets and Collations](https://dev.mysql.com/doc/refman/8.0/en/charset-charsets.html). Executing the `SHOW CHARACTER SET;` in a working deployment (without

[2020-07-07 12:07] rhysjtevans commented on #2851
Yes I can provide them but I'll have to build some mechanism to create/pull those creds and dump them into the CI/CD pipeline which will be difficult to do securely as we're using FluxCD.

The intention was to simply mount the hosts `/etc/kubernetes/azure.json` file in the container leveraging [MSI authentication](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-res

[2020-07-07 12:17] kanersps commented on #2810
What can I currently do if my cluster is already having this issue?

Would setting `galera.bootstrap.bootstrapFromNode` and upgrading the helm chart work

[2020-07-07 12:20] lentzi90 commented on #2810
Yes that works for me. I'm installing it like this now (replace passwords of course):
[code]
After this has finished, I can delete any one of the pods and they will successfully come back.

[2020-07-07 12:27] techsaau commented on #2905
@marcosbc Actually I didn't fill up reproduce steps.
After automatic scaling when RMQ pods counts come to minimum count (for example 2) from 5, It shows others nodes are not running instead of just removing it from cluster. It is leading a ton of warnings in RMQ logs.

![image](https://user-images.githubusercontent.com/46290126/86781261-f39f0d00-c05d-11ea-9c83-b9fdf8c2319c.png)

Log would be:

202

[2020-07-07 12:38] alextes commented on #3031
I'm no pro with Helm and a bit overburdened the next month but after that I could take a stab at it.

It's similar to what is done with the dashboard provider but simpler. In steps:
* create a configmap that looks something like:
[code]
* define the configmap as a volume for the grafana deployment
[code]

* mount the volume to the right dir for grafana:
[code]

[2020-07-07 13:55] andresbono commented on #2931
Hi @srinathganesh1, this seems to be a blocker. We couldn't find an easy way to keep the variable up-to-date. We will continue checking possibilities and if we find a solution we will post a comment.

[2020-07-07 14:08] srinathganesh1 commented on #2931
Ok thank you. If you have any ideas I can try implement and raise a PR.

[2020-07-07 14:21] bananbyran commented on #3028
Also found a slightly related issue #2634 though I'm sure I didn't redeploy them without the reference to the old secrets.
Is there a way to reset the password on the PVC data? Feels like that would be my solution but everything I try ends up not working.

Last thing I tried was to install mysql on a recover-pod that mounts the data, but changing the datadir in mysql to the mounted data wont work.

[2020-07-07 14:41] chrisjs opened #3052 "[bitnami/spring-cloud-data-flow] SCDF shell showing ?'s"
**Which chart**:

Not sure if this is the right place to log it, since its not technically the chart but with the image: `bitnami/spring-cloud-dataflow-shell:latest`. Please let me know if I should log this elsewhere

**Describe the bug**
`?` characters are showing up rather than lines as showing in the below issues:

![Selection_001](https://user-images.githubusercontent.com/539358/86797312-84192

[2020-07-07 14:48] satya0429 opened #3053 "bitnami/chartmuseum Unable to get Upgrade's to my installed custom helm charts from Kubeapps"
**Which chart**:
The **Chartmuseum v2.13.0** of the affected chart

**Describe the bug**
* I have created a custom helm chart and Upload a custom chart to ChartMuseum.
* I am able to install the custom chart from kubeapps.
* Later on, made some changes to my custom chart and again upload it to ChartMuseum.
* But the thing is I am not getting any updates to my custom chart which I have installed al

[2020-07-07 15:00] vpartington commented on #923
I'm trying to find a way to address the lack of backwards compatibility introduced in v8.0.0:
https://github.com/bitnami/charts/tree/master/bitnami/kafka#to-800
Telling the user of my product to uninstall and re-install is not an option for me.

This is what my research so far has taught me:

1. This change was introduced in PR https://github.com/bitnami/charts/pull/2028 and explained in this note

[2020-07-07 15:24] dani8art commented on #3035
Hi @LucaPrete thanks for your feedback we will be happy to handle the PR, let's move the conversation there!

[2020-07-07 15:40] irizzant commented on #3023
Hi
version 1.2.7 still show the same warning:
`warning: 299 Elasticsearch-7.8.0-757314695644ea9a1dc2fecd26d1a43856725e65 "[types removal] Specifying types in bulk requests is deprecated."`

Image used is:
`image: docker.io/bitnami/fluentd:1.11.1-debian-10-r15`

[2020-07-07 15:57] dani8art commented on #3043
Hi @mohamedih thank for opening the issue.

I would say you need to set volumes and volumeMounts instead, since `extraEnvVarsSecret` will only expose the secret fields as env vars. Could you try this?

[code]

BTW, I would say you will need the `./ssh/config` as well.

[2020-07-07 17:09] marcosbc commented on #2862
Thanks for the details @AnCh7. However, I'm not sure this affects the Bitnami chart, as it does not enable a `httpGet` readinessCheck/livenessCheck, instead it runs the command that @carrodher mentioned above.

[2020-07-07 17:12] marcosbc commented on #3009
Hi @martingerman81, note that the IBM Ingress controller does not use the following annotation format:

[code]

Instead, it looks like it must have a format like this:

[code]

Refer to https://cloud.ibm.com/docs/containers?topic=containers-ingress_annotation for more information.

[2020-07-07 17:20] marcosbc commented on #2973
@lukejpreston Could you describe your configuration further? It looks like you're changing the mount path of the persistence to `/bitnami-default/redis/data`, and instead making `/bitnami` be the volume for backups.

Note that the actual configuration for the container will use the `/bitnami/redis/data` directory for persistence no matter what, [it is not customizable](https://github.com/bitnami/b

[2020-07-07 17:26] LucaPrete commented on #3035
Daniel, thanks!

The PR is ready for review :)

-Luca

Il giorno mar 7 lug 2020 alle 17:24 Daniel Arteaga <notifications@github.com>
ha scritto:

[2020-07-07 17:27] marcosbc commented on #3029
Thanks for the suggestion. The Streaming NATS chart is not currently in our backlog but I make sure to open an internal discussion for this.

Note that you could always contribute the Streaming NATS chart to the Bitnami `charts` repository if you want. Other users have already contributed charts such as [Discourse](https://github.com/bitnami/charts/pull/2072), [MetalLB](https://github.com/bitnami/

[2020-07-07 19:15] debjitk opened #3055 "[bitnami/redis-cluster] coalesce.go:199: warning: destination for nodeSelector is a table. Ignoring non-table value <nil>"
I am getting the following warning:

`coalesce.go:199: warning: destination for nodeSelector is a table. Ignoring non-table value <nil>`

Here is the configuration

[code]

[2020-07-07 19:31] davejhahn opened #3056 "fluentd metrics endpoints return connection refused"
**Which chart**:
fluentd-1.2.7

**Describe the bug**
Installation with metrics.enabled= true, metrics.serviceMonitor.enabled=true, and metrics.serviceMonitor.namespace set (to monitoring in my case) creates Service Monitor and fluentd-metrics service but there are no metrics endpoints accessible.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Prometheus-Operator
2. Install bitnami f

[2020-07-07 19:48] davejhahn opened #3058 "kibana metrics endpoint reporting as down wth "server returned HTTP status 404 Not Found""
**Which chart**:
kibana-5.2.6

**Describe the bug**
Installed bitnami Kibana chart with metrics.enabled=true,metrics.serviceMonitor.enabled=true,metrics.serviceMonitor.namespace=monitoring.  The ServiceMonitor is created, but there are no pods or sidecars created for metrics.   Target endpoints appears in Prometheus but as DOWN with  "server returned HTTP status 404 Not Found".

**To Reproduce**
S

[2020-07-07 22:57] AnCh7 commented on #2862
As I can see here https://github.com/bitnami/charts/blob/master/bitnami/influxdb/templates/relay/deployment.yaml:
[code]
InfluxDB Relay doesn't have any custom readiness/liveness probe logic, so it will be doing simple HTTP requests to relay pod (using `/` endpoint). These requests will fail because relay is not listening on `\`. It can be fixed by using instead `\ping`, relay is configured with t

[2020-07-08 01:56] #3056 closed

[2020-07-08 06:35] juan131 commented on #3028
Yes, they should take from the secret but the secret could have changed from the original values if you upgraded the chart without indicating the original password (that's explained in this section https://github.com/bitnami/charts/tree/master/bitnami/mariadb#upgrading)

That said, you can still reset the root password by mounting the volume on a Bitnami MariaDB container and rewriting the default

[2020-07-08 06:43] lwj5 commented on #3019
@javsalgar wp-admin/install.php might be a good health check path. It doesn't get affected by maintenance mode and fails when DB connection fails. You could consider the path change.

[2020-07-08 06:46] juan131 commented on #3047
Hi @standup-jb

This chart uses the [rabbitmq_prometheus plugin](https://github.com/rabbitmq/rabbitmq-prometheus) (see https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml#L674) to expose RabbitMQ metrics. Therefore, you need to look for a Grafana dashboard compatible with its metrics.

[2020-07-08 07:06] juan131 commented on #3044
Hi @rsokolovs

Thanks so much for reporting this! I just created a PR to fix it.

This is related to the changes that we added to support external access, that shouldn't interfere when this feature is not enabled in the **MONGODB_ADVERTISED_HOSTNAME** configuration.

[2020-07-08 07:34] #3044 closed

[2020-07-08 07:52] javsalgar commented on #3055
Hi,

I think this warning appears because it has as default value this

[code]

If we change it to

[code]

The warning should not appear. However, you can freely ignore that warning, as it will not affect your deployment.

Thank you very much for reporting

[2020-07-08 07:55] javsalgar commented on #3019
Hi,

Thank you very much for the input! Feel free to create a PR with the change. If not, we will add it to our backlog (which would take a bit longer because of priorities)

[2020-07-08 07:56] rafariossaa commented on #3023
Hi,
  Could you check if in your log appears the right version of `fluent-plugin-elasticsearch`?

[code]

[2020-07-08 08:05] rafariossaa commented on #3031
Hi @alextes,
  Thanks for the tips.

[2020-07-08 08:06] rafariossaa commented on #2810
Hi ,
  Thanks for the workaround, we are currently working on this issue, we hope to have news soon.

[2020-07-08 08:06] andresbono commented on #2931
In the same way, please, let us know if you come up with new approaches.

[2020-07-08 08:06] irizzant commented on #3023
Hi
as I wrote the docker image used in your chart v 1.2.7 is:
`docker.io/bitnami/fluentd:1.11.1-debian-10-r15`

Logs show:
[code]

Output of:
`kubectl get po fluentd-0 -o yaml | grep image`

[code]

And still I get the warning:
[code]

[2020-07-08 08:40] dani8art commented on #3053
Hi @satya0429, thank you for opening the issue, I was able to reproduce the issue and It seems something relates with kubeapps at least regarding the logs that I found.

The thing is that when it is trying to list the repositories kubeapps is able to list them

[code]

Also, when kubeapps tries to get the charts inside a repository it returns a 200 HTTP code

[code]

The problem comes when it trie

[2020-07-08 08:43] javsalgar commented on #3045
Hi,

Thank you very much for the detailed inforation. I think I found the cause of the issue. It is in sentinel because it is missing one parameter so it speaks with TLS with the Redis server. I will update the ticket with a PR.

[2020-07-08 08:47] andresmgot commented on #3053
Hi @satya0429,

Indeed, this is a bug present in the latest version of Kubeapps: https://github.com/kubeapps/kubeapps/issues/1815

It will be fixed in the next release but in the meantime, you can create the App Repository in the same namespace than Kubeapps. This will make the App Repository global (so it can be used in any namespace) and you should be able to upgrade the application.

Let us kno

[2020-07-08 08:49] javsalgar commented on #3045
PR https://github.com/bitnami/charts/pull/3061 created

[2020-07-08 08:54] bananbyran commented on #3028
Thanks, managed to resolve it with the help of the above, though the mysql-init way didn't work for some reason. Instead I altered the start command to.
`/opt/bitnami/mariadb/bin/mysqld_safe --defaults-file=${DB_CONF_DIR}/my.cnf --basedir=${DB_BASE_DIR} --datadir=${DB_DATA_DIR} --socket=${DB_SOCKET_FILE} --skip-grant-tables 2> /dev/null &`

Which starts mysql without the need to login. I then did

[2020-07-08 08:55] juan131 commented on #923
Hi @vpartington

Thanks so much for the great analysis.

That was my fault. You're right and it's totally worthless to add it in the environment section since it's overwritten in the **setup.sh**. I created a PR to fix this (see https://github.com/bitnami/charts/pull/3062)

What about including a new parameter (sth like "customSetup") that allows you replacing the default `setup.sh` script with yo

[2020-07-08 09:03] standup-jb commented on #3047
At finally . I use this Grafana dashboard (https://grafana.com/grafana/dashboards/10991) is right . Thanks for you help .

[2020-07-08 09:03] #3047 closed

[2020-07-08 09:08] javsalgar commented on #3026
Hi,

I was unable to reproduce the issue. I deployed the chart with the parameters you provided, added some collections and was able to dump

[code]

In my case I used kubectl port-forward and a local mongodb client

[2020-07-08 09:09] joesimon0102 opened #3064 "Question: correct Redis connection string"
Hi All,

I have deployed Redis into K8s but I'm not able to connect to it from a backend API which is already inside K8s in the same namespace.
I tried a lot of different connection string to connect to Redis but I couldn't succeed.

My question how can I find out what Redis connection string should I use inside my backend API?
Can I query it from somehow with help of kubectl?

I'm using this: htt

[2020-07-08 09:13] beltran-rubo commented on #3032
This has been fixed in MetalLB Chart version 0.1.17 (appVersion 0.9.3)

[2020-07-08 09:13] #3032 closed

[2020-07-08 09:14] satya0429 commented on #3053
Awesome, Thanks much @dani8art  @andresmgot changed namespace it's working now.

[2020-07-08 09:14] #3053 closed

[2020-07-08 09:20] miguelaeh commented on #2851
Right now following the logic for the Azure authentication:
[code]

You don't need to provide the client ID and the client secret (I think those are the credentials you refer to), you will need to provide the `tenantId`, `subscriptionId` and `resourceGroup`. Setting `useManagedIdentityExtension` to `true` will remove the need of providing the credentials (i.e. the `clientId` and `clientSecret`.
Is

[2020-07-08 09:20] srinathganesh1 commented on #2931
ok sure

[2020-07-08 09:46] caalberts commented on #2682
Hi @juan131, I'm also encountering a similar problem where postgres pod is going into restart loop.

Chart: `postgresql-8.9.4`

- Output of `kubectl describe pod postgresql-pod`

[code]

- Output of `kubectl logs postgresql-pod`

[code]

[2020-07-08 09:55] irizzant commented on #3023
See https://github.com/uken/fluent-plugin-elasticsearch/issues/766

Simply updating the plugin is not enough, you also have to add in the config:

`suppress_type_name true`

This way the warn log disappear.

[2020-07-08 09:55] #3023 closed

[2020-07-08 09:57] rafariossaa commented on #2987
Hi,
  Can you try to connect to the postgresql-0 node from a postgres client container ?
Similar to:
[code]
(you will need to change the host, user and password accordingly)

[2020-07-08 11:11] #3015 closed

[2020-07-08 11:27] chris922 opened #3067 "[bitnami/mongodb] Invalid port name for mongo services"
_Originally posted in https://github.com/bitnami/charts/pull/2918_

Hey @juan131 , we just installed mongo using version 8.0.7 of the mongodb chart and noticed that we aren't able to connect to the deployed mongo using this connection string: `mongodb+srv://mongodb-headless.persistence.svc.cluster.local`

I found out that the reason is, that the port within the `mongodb-headless` service is named

[2020-07-08 11:29] SHUFIL commented on #3026
then what i done wrong , i still getting same issue , yes i used port-forward  , and tryed from local system, getting below error
[code]

[2020-07-08 12:14] chris922 commented on #3067
@juan131 I just changed all port names (to keep them in sync even if it is maybe not required for the non-headless services) and raised a PR. Hopefully I haven't missed something.

[2020-07-08 13:05] parvaths1118 commented on #2987
Hi @rafariossaa ,

Please find the output while connecting to postgresql-0 node,Please let me know if you need any other information.

[root@masternode1 ~]# kubectl run postgres-ha-postgresql-ha-client --rm --tty -i --restart='Never' --namespace default --image bitnami/postgresql:11 --env="PGPASSWORD=$POSTGRES_PASSWORD" --labels="postgres-ha-postgresql-ha-client=true" --command -- psql -h **postgr

[2020-07-08 14:44] alextes commented on #3029
I recently learned the NATS team is working on https://github.com/nats-io/jetstream , might want to wait.

Noted on the welcome contribution!

[2020-07-08 17:07] marcosbc commented on #3049
@Roarain The reason is because the nss_wrapper environment is not configured when you run "kubectl exec".

Note that the PostgreSQL container is non-root, and repmgr does not play well with non-root users, so we are adding nss_wrapper for making it think it has a proper configuration.

To fix it on your side, you would need to run the following commands to setup the environment, so you can run `re

[2020-07-08 17:15] marcosbc commented on #2862
Checking the deployment source, it does indeed have a readiness/liveness probe, but it is for checking the TCP socket to the HTTP port. Note that is different from a HTTP GET request like is in the other chart.

Sorry if I'm not understanding your issue correctly. But currently the code looks to be performing the proper action, and should work in GCP because it is not performing any HTTP request (

[2020-07-09 03:45] srinathganesh1 opened #3071 "Postgresql-HA | Documentation for backup-restore and importing database (from regular postgres)"
**Which chart**:
Postgresql-HA

**Is your feature request related to a problem? Please describe.**
I cannot find documentation to perform these critical tasks:
1. Perform Backup and Restore
2. Import database from a existing regular Postgres database

**Describe the solution you'd like**
Documentation or Guidence to achieve above

[2020-07-09 06:56] juan131 commented on #3047
Great! I'm glad you could fine a dashboard that meets your requirements.

[2020-07-09 07:00] juan131 commented on #3028
Great @bananbyran !!! I'm very glad you were able to restore your database!! Were you able to also recover your WP site?

[2020-07-09 07:05] juan131 commented on #2682
Hello @caalberts

Did you perform any upgrade of your PostgreSQL release recently? A very common issue is to upgrade the chart without indicating the original passwords that were generated the 1st time you installed. When this happens, the password in your secrets (the one used by readiness/liveness probes) is regenerated, and it gets is out of sync with the one available in your PostgreSQL data.

[2020-07-09 07:07] jugrajsingh commented on #2223
Using the Above command i have recieved following output:
[code]
The issue still persist and unable to set the username and password.

I am using values.yaml to hardcode the Username and Password
[code]

[2020-07-09 07:20] juan131 commented on #3071
Hi @srinathganesh1

We have this generic docs about how to create/restore backups on Bitnami solutions (such as installers or VMs) including PosgreSQL:

- https://docs.bitnami.com/general/infrastructure/postgresql/administration/backup-restore-postgresql/

Then one we have these guides that are specific for the PostgreSQL chart:

- https://docs.bitnami.com/kubernetes/infrastructure/postgresql/

I

[2020-07-09 07:46] parvaths1118 commented on #2987
Hello @rafariossaa ,

Thank you so much for all your kind help so far,Is there a way we could connect and discuss this issue in live session ,I think this would help to fix the issue quicly? This issue is blocking our production deployment,i still do not have any reason for why postgres-1 pod is not starting.

Thanks again for all your help so far.

Regards
SridharP

[2020-07-09 07:55] srinathganesh1 commented on #3071
Ok thanks, since Postgresql-HA has replicas I felt there would be a diffent instruction set for it. I will try out the links, thanks

[2020-07-09 08:32] javsalgar commented on #3026
The difference in your command is that you do not use the `root` user, could that be the reason?

[2020-07-09 08:50] juan131 commented on #3067
Hi @chris922

Did you try adapting your connection string to `tcp-mongodb+srv://mongodb-headless.persistence.svc.cluster.local`?

The reason behind using `tcp-mongodb` as port name is to be compatible with [Istio](https://istio.io), since it requires the ports to be prefixed with the protocol name.

[2020-07-09 08:54] rsokolovs opened #3072 "VolumeClaim selector for mariadb-galera"
**Which chart**:
mariadb-galera

**Is your feature request related to a problem? Please describe.**
It will be very nice to have a VolumeClaim selector for mariadb-galera chart.

**Describe the solution you'd like**
It should be something like rabbitmq chart - https://github.com/bitnami/charts/blob/fbb761d4b64c0fa07721b002edffa05df5e3bf8d/bitnami/rabbitmq/templates/statefulset.yaml#L325-L327
or re

[2020-07-09 09:01] rafariossaa commented on #3064
Hi,
  When you run helm install you will get some instructions on how to connect to.
E.g.:
[code]
  To get this information from your current running chart, you can do:
[code]
  where `my-release` is the name you gave to the chart.
  You can get your running charts with:
[code]

[2020-07-09 09:02] #3045 closed

[2020-07-09 09:59] vpartington commented on #923
Hi @juan131,

Thank you for your reply. And for confirming my suspicion about superfluous bits in `setup.sh` and then removing them. Saves me from a lot of headscratching. ;-)

A new parameter to modify (or add to) the existing `setup.sh` script would help me out a lot.

Alternatively, a way to insert an init container to "patch" stuff before the real container starts would work as well. A lot of

[2020-07-09 10:43] pbn4 commented on #3058
Did you solve your issue?

[2020-07-09 11:01] pbn4 commented on #2671
@javsalgar I have a following flux helm release definition:

[code]

and unfortunately prometheus is not able to scrap metrics:

[code]

Could you point me to how to install this metrics plugin?

[2020-07-09 11:49] emikolajczak opened #3073 "[bitnami/mongodb] ReplicaSet scale down issue"
**Which chart**:
MongoDB 8.0.9

**Describe the bug**
There is an issue when scale down of MongoDB ReplicaSet. ReplicaSet is not re-configured, deleted mongo nodes are not being
removed from ReplicaSet configuration. `rs.status()` return it as `"(not reachable/healthy)"`. In my opinion deleted nodes should be removed from ReplicaSet, because can cause lack of quorum.
Everything is ok when scale up,

[2020-07-09 12:28] TK0L opened #3074 "Bitnami/rabbitmq issue while upgrading/installing"
**Which chart**:
NAME                               	CHART VERSION	APP VERSION
bitnami/rabbitmq                   	7.4.7        	3.8.5
**Describe the bug**
Can't upgrade/install this chart with helm 3.0.3.
If installing without extrahost (but providing primary ingress.hostname etc.), getting bellow error:
Error: YAML parse error on rabbitmq/templates/ingress.yaml: error converting YAML to JSON: ya

[2020-07-09 12:45] joesimon0102 commented on #3064
Thanks I'll try this out.

[2020-07-09 12:47] HenriqueLBorges commented on #2682
Hello @juan131

This is not my case, the readiness and liveness probes start to fail usually at times when I'm not heavily using it. Almost feels like is random.

[2020-07-09 14:06] plmercereau commented on #3001
Thanks @miguelaeh, I had the same problem and it solved it.
If I understood well what happened, the password is not updated when changed through a helm command.
Is there another way to prevent this?

[2020-07-09 14:47] chris922 commented on #3067
Just tried the connection string and unfortunately it is not working, the Java mongo driver fails:

Regarding Istio: You are probably referring to this page here?
-> https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

As it defines a `mongo` protocol the port name should then be `mongo-mongodb`.

Nevertheless with K8s 1.18+ the `appProtocol` field will be support

[2020-07-09 14:47] andresbono commented on #3073
Hi @emikolajczak, how are you scaling the cluster? You will need to execute `rs.remove("<the_node>")` [doc](https://docs.mongodb.com/manual/tutorial/remove-replica-set-member/#remove-a-member-using-rs-remove). This is what we tried:

`custom_values.yaml`
[code]

Install the chart
[code]

Scale down the replicas and delete missing member:
[code]

[2020-07-09 15:47] pawcykca commented on #3073
Hi @andresbono

All this steps works ok for scaling down, but after when we are trying to scale up replica again the member that was removed from replica is not added automatically and we need to add it manually executing `rs.add("...")`

[2020-07-09 18:32] marcosbc commented on #2905
@techsaau It looks like that is specific to RabbitMQ configuration, since the chart does not specify the list of nodes that should be connected.

It looks like you may be looking for something such as the `forget_cluster_node` option. See: https://www.rabbitmq.com/rabbitmqctl.8.html#forget_cluster_node

[2020-07-09 18:45] connec commented on #2797
I've also been investigating some way of using the bitnami/grafana chart as a dependency and provisioning Grafana dashboards from an external source of truth (e.g. rather than having to keep them all in-tree as config maps).

I've created a PR (#3077) that adds support for arbitrary extra volumes in the Grafana pod/container, which I intend to use with a `curl`-based sidecar that will pull dashboa

[2020-07-09 20:19] violuke opened #3078 "Bitnami/phpmyadmin allow setting additional environment variables"
**Which chart**:
bitnami/phpmyadmin v6.2.2 (and all versions)

**Is your feature request related to a problem? Please describe.**
The upstream [bitnami-docker-phpmyadmin](https://github.com/bitnami/bitnami-docker-phpmyadmin) docker image allows for additional env vars which I need to set to allow larger file imports - such as `PHP_UPLOAD_MAX_FILESIZE`, `PHP_POST_MAX_SIZE` and `PHP_MEMORY_LIMIT`

*

[2020-07-10 03:29] davejhahn commented on #3058
@pbn4 no I didn't actually solve it.

I had closed it because I read in the helm chart a note that it requires kibana-prometheus-exporter plugin which I didn't realize and assumed that was the issue.

However, I added the 7.8.0 version of the kibana-prometheus-exporter plugin (to align with the Kibana version for the latest chart) using the plugins[0] value and although it added it (I can see it i

[2020-07-10 05:56] emikolajczak commented on #3073
Indeed. Same issue here. After scale down member is not automatically added to replica during next scale up.

[2020-07-10 05:59] #2878 closed

[2020-07-10 05:59] #2762 closed

[2020-07-10 05:59] #2823 closed

[2020-07-10 05:59] #2885 closed

[2020-07-10 05:59] #2845 closed

[2020-07-10 05:59] #2812 closed

[2020-07-10 05:59] #2854 closed

[2020-07-10 05:59] #2801 closed

[2020-07-10 05:59] #2834 closed

[2020-07-10 05:59] #2819 closed

[2020-07-10 06:28] torchlard opened #3082 "[Bitnami/mongodb] Question on custom configuration"
I see that there's "configuration" setting in value.yaml, and the type is String, but I don't understand how to use it. Is there any detail explanation? The same question is on existingConfigmap. Hope someone helps

[2020-07-10 06:31] juan131 commented on #3071
Hi @srinathganesh1

I agree, we should have specific guides for this solution. I'll share your feedback with the docs team, so they can evaluate and create specific guides if needed.

[2020-07-10 06:45] juan131 commented on #2682
Hi @HenriqueLBorges

Could you share the output of running `kubectl describe pod POSTGRESQL_POD`, where _POSTGRESQL_POD_ is a placeholder for your actual PostgreSQL pod.

I'd like to see if the probes are providing information about the reason why they're failing.

[2020-07-10 06:45] amin224 opened #3083 "Kubernetes Pod application connection issues to external database"
I have deployment an application on a Kubernetes Pod in a cluster, but I need to connect the application to an external database Postgresql. I am receiving connection exceptions from the application due to connection issues. I am working on local host. I am trying to connect my spring boot API application inside a Pod to an external database (a separate machine within my local network). According

[2020-07-10 07:31] miguelaeh commented on #3001
I am afraid no. We are currently working to find the proper solution since this is a common issue. The problem here is that our containers are configured only the first time they are deployed and the configuration is stored into the PV. To change the passwords you will need to change it manually by executing the proper `psql` command inside the pod.

[2020-07-10 08:10] javsalgar commented on #923
Hi, in other charts we also include the option of overriding the `command` with a custom one so you can define whatever logic. I think that would be more standard with our charts than the `customSetup` value. We are in the process of adding a new batch of standardizations to our charts, so expect these values soon :)

[2020-07-10 08:13] javsalgar commented on #2797
Hi

Thank you very much! We will review it very soon :)

[2020-07-10 08:27] javsalgar commented on #2671
Hi,

Could you enter the kibana container and check what this command shows?

[code]

Did you also confirm in the logs that the plugin is being downloaded and installed?

[2020-07-10 08:30] rafariossaa commented on #3064
You are welcome.
 Please don't hesitate to share your findings.

[2020-07-10 08:54] pakomp opened #3086 "[bitnami/postgresql] extraEnv not applied to statefulset-slaves"
**Which chart**:
bitnami/postgresql/8.10.14

**Describe the bug**
I'm trying to activate tls support added on the recent postgres image, by using extraEnv to set

- POSTGRESQL_ENABLE_TLS
- POSTGRESQL_TLS_CERT_FILE
- POSTGRESQL_TLS_KEY_FILE

but extraEnv only gets added to the master in
charts/bitnami/postgresql/templates/statefulset.yaml
while charts/bitnami/postgresql/templates/statefulset-slaves

[2020-07-10 09:01] plmercereau commented on #3001
Thanks for this - the update of the config through helm will be definitely of great help!
In the meantime I now know this pitfall and its workaround.
Good luck in finding the solution!

[2020-07-10 09:03] alesanmed commented on #3001
Thanks for the help. I'll try the solution and check if it worked. If so, I'll close the issue.

[2020-07-10 09:22] rafariossaa commented on #3074
Hi,
  There has been a couple of releases after 7.4.7, could you try with the latest one (7.5.3) ?  It also uses rabbit v.3.8.5
  If the error persists, could you indicate the exact helm install command and changes in the values.yaml ?

[2020-07-10 09:25] dani8art commented on #3067
hi @chris922 , does it fit yours requirements?

[code]

I'm able to connect using this.

[2020-07-10 09:37] vpartington commented on #923
Hi @javsalgar,

Being able to override the `command` would work too! And it would be a lot easier than setting up a complete new init-container.

Would a user of the chart also be able to add scripts to the configmap? The fix looks like this:
[code]
and that might be hard to squeeze into a single command, together with invocation of the real `setup.sh` script.

Regards, Vincent.

[2020-07-10 10:57] joancafom commented on #3086
Hi @pakomp ,

Good news, I have implemented a PR #3057 including TLS support to this Chart. It is being reviewed and soon it will be merged. There you can find the changes I have performed in order to have it up and running.

Regarding the `extraEnv`, it seems to me you are right, we currently are only supporting this parameter on the master statefulset. We may implement these changes, as they are

[2020-07-10 11:08] chris922 commented on #3067
Thanks @dani8art , this works, but we would like to use the SRV DNS entry to connect so that we don't need to define all available pods in our applications. They should just connect to one static name (the SRV entry) and resolve the nodes automatically.

Using your method we would need to update the connection strings in all our applications everytime we scale up/down our mongo nodes.

[2020-07-10 11:16] andresbono commented on #3083
Hi @amin224, you should check the network visibility and reachability of the external database from the pod inside the cluster. It will depend on the particularities of the network configuration of your cluster. Maybe you can execute a pod for debugging purposes and start troubleshooting from there. For example:

[code]

If you can't get it to work, you can use `hostNetwork` spec in the pod, but i

[2020-07-10 12:30] amin224 commented on #3083
Hello @andresbono , Thank you for your response I appreciate your support as I have been stuck with this issue for three consecutive days. I am researching for a solution to this problem and I have came across everything at this point. I did use the sleep infinity command in my deployment file to keep my Pods running unfortunately that will not help as the API request to database is not working. I

[2020-07-10 12:39] pbn4 commented on #2671
Command listing kibana plugins returns an empty array but the logs show:

[code]

[2020-07-10 12:39] pbn4 commented on #2671
Are the configuration values that I attached correct in order to install plugins?

[2020-07-10 13:10] lukejpreston commented on #2973
I have created a repo with my configuration if that helps <https://github.com/lukejpreston/redis-cluster-example>

Should I change `mountPath: /bitnami` to `mountPath: /bitnami-default/redis/data`?

[2020-07-10 13:20] amin224 commented on #3083
Dear @andresbono , Good news! I have used the hostNetwork spec in the pod and as I can see the Pod is running with no crashes, in addtion, while checking the logs of the Pod everything seems good. Meanwhile sending an API request using postman there seems to be a Error: socket hang up. I used the clusters IP and port of my service is this the correct way to use my Pod?

**kubectl describe service

[2020-07-10 13:26] ericfaure007 opened #3089 "with azure-marketplace-charts/bitnami/elasticsearch chart, kibana pod is failing when installing image version 6"
**Which chart**:
azure-marketplace-charts/bitnami/elasticsearch/
version: elasticsearch-12.4.3

**Describe the bug**
when installing chart with command:
helm install elastic-test --set image.tag=6,name=elastic-test,global.kibanaEnabled=true bitnami-azure/elasticsearch
kibana pod is failing because elastic is running version 6.8.10 but kibana is running in version 7.8.0

**To Reproduce**
helm insta

[2020-07-10 13:36] amin224 commented on #3083
Dear @andresbono , Thank you so much, including hostNetwork in my deployment file helped me connect to the database when sending an API request.  Hopefully in the future I will include my database in the cluster and not face network issues.

[2020-07-10 13:36] joancafom commented on #3078
Hey @violuke,

I have created a PR implementing the possibility to provide with extra environment variables, that should fix the problem.

Thanks for your issue!

[2020-07-10 14:15] shaekhhasanshoron opened #3091 "[bitnami/mysql] Slave pods are not running."
**Which chart**:
bitnami/mysql
version: 6.14.3
appVersion: 8.0.20

**Describe the bug**
I am running this version of the chart and using **'docker.io/bitnami/mysql:5.7.30-debian-10-r53'** tag. First I have fetched the master and slave descriptor using 'helm template' command and customize the root password, db user and password. Then deployed the descriptor. After deploying descriptors, the master

[2020-07-10 15:15] ericfaure007 opened #3092 "[azure-marketplace-charts/bitnami/elasticsearch] howto: enable authentication to elastic and kibana"
**Which chart**:
[azure-marketplace-charts/bitnami/elasticsearch]

**Describe the bug**
There is no clear documentation on how to enable authentication for elastic and kibana
I tried to add some variables in values.yaml file
extraEnvVars:
- name: ELASTICSEARCH_USERNAME
    value: elastic
  - name: ELASTICSEARCH_PASSWORD
    value: elasticpass
  - name: xpack.security.enabled
    value: true

helm

[2020-07-10 16:01] marcosbc commented on #3072
Hi @rsokolovs, do you want to contribute the change to the Helm chart? It does not look complex, so feel free to send a PR, we would be glad to check it!

[2020-07-10 16:10] marcosbc commented on #3082
Hi @torchlard, those parameters allow you to set custom MongoDB configuration. You can set those parameters via `helm install` with `--set`:

[code]

For `configuration`, there are various ways to set it:

* Copy the values.yaml file to your computer, and edit it by hand adding the desired configuration, and then run `helm install ... bitnami/mongodb` with `--values /path/to/values.yaml`. Alternat

[2020-07-10 18:57] kferrone opened #3094 "[rabbitmq] Don't Regenerate the Password"
**Which chart**:
RabbitMQ 7.5.3

**Describe the bug**
If you update the chart the the password in the secret will regenerate and cause RabbitMQ to end up in an infinite crashloop.

**To Reproduce**
Steps to reproduce the behavior:
1. leave `auth.password` empty in the values
2. run the chart
3. change something, anything at all
4. re-deploy
5. notice the password is changed after an update

**Expe

[2020-07-11 00:13] TheHunter opened #3095 "New properties on values.yaml & values-production.yaml don't work"
**Which chart**:
rabbitmq

**Describe the bug**
Install the helm chart with the proposed values.yaml and values-production.yaml doesn't consider new properties, example:
auth.username, auth.password, auth.erlangCookie, replicaCount.

**To Reproduce**
Steps to reproduce the behavior:
use the two values | values-production yaml, setting before the username, password and replicaCount, and you notice

[2020-07-11 00:23] sergeyshaykhullin opened #3096 "[rabbitmq] mnesia_dir_not_found"
**Which chart**:
rabbitmq:7.5.1

**Describe the bug**
Rmq pod is staring and then exited with mnesia_dir_not_found

**To Reproduce**
values.yaml
[code]
definitions.json
[code]

**Expected behavior**
RabbitMQ is working and forming cluster
[code]
- Output of `helm version`:
[code]

**Additional context**

logs
[code]

[2020-07-11 02:08] SHUFIL commented on #3026
I have used helm 3, and used `helm install mongodb bitnami/mongodb`, now i can able login inside the POD
`mongo admin --host "mongodb" --authenticationDatabase admin -u root -p $MONGODB_ROOT_PASSWORD`

helm3 no need to install helm tiller, also no need to use --name <helm-name>

[2020-07-11 03:30] HenriqueLBorges commented on #2682
Hi @juan131

Here is the output below:

`Name:         postgres-postgresql-0
Namespace:    prd
Priority:     0
Node:         worker-k8s-4/172.20.8.6
Start Time:   Thu, 25 Jun 2020 21:29:08 +0000
Labels:       app=postgresql
              chart=postgresql-8.4.0
              controller-revision-hash=postgres-postgresql-7878b964b8
              heritage=Tiller
              release=postgres

[2020-07-11 03:57] and-dzh3 commented on #2915
@javsalgar tnq for answers, done with init dB scripts .

[2020-07-11 03:57] #2915 closed

[2020-07-11 07:48] torchlard commented on #3082
configuration='# configuration file'  <=== what do you mean by that?
I know how to use value.yaml in helm, but I dont't understand what exactly is the format for config file.
for example, I want to use config
[code]
do I write like this:
[code]
OR like this in value.yaml ??
[code]
I have tried to create configmap like this and put config in separate file
`kubectl create configmap mongo-config --fr

[2020-07-11 07:49] violuke commented on #3078
Thanks @joancafom that's really helpful of you 👍 Looking forward to it being merged

[2020-07-11 09:52] sergeyshaykhullin commented on #3096
pog env vars
[code]

[2020-07-12 08:00] yardenshoham commented on #2492
Any progress on this?

[2020-07-12 20:06] ayushin opened #3097 "[odoo] longpolling support"
Hi,

Just giving a thought about moving our odoo setup to kubertnettes however I can't find wether this chart supports longpolling?

I'd expect to have a separate service and perhaps even a  dedicated ingress with long timeouts?

[2020-07-12 22:41] phodamentals commented on #3025
The problem seems to have corrected itself. Thanks!

[2020-07-12 22:41] #3025 closed

[2020-07-13 02:22] trung-hiro opened #3098 "[MariaDb] Can't connect to local MySQL server through socket '/opt/bitnami/mariadb/tmp/mysql.sock'"
**Which chart**:
MariaDB - version 10.3.23

**Describe the bug**
After i deploy my project to vitualmachines (Azure server).
So my project connect to mariadb about 20minute. And after then my server is restarted. so i login to my server and can restart mariadb. My log i recived :

ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/opt/bitnami/mariadb/tmp/mysql.sock' (111)

Ju

[2020-07-13 05:03] #2892 closed

[2020-07-13 05:55] andresbono commented on #3083
In theory, both IP address and service name can be used. If you have defined a service/endpoint, it's better if you use them, so that you can update the information about your external database in the service/endpoint files, for example, changing the IP address.

It is expected that the network space address are different because they are different networks, internal to the cluster and external. B

[2020-07-13 06:11] parvaths1118 commented on #2987
Hi @rafariossaa ,

Kindly can you update if you have find any solution for my problem ?

Regards
SridharP

[2020-07-13 06:30] andresbono commented on #3091
Hi @shaekhhasanshoron, we couldn't reproduce your issue. In our case, all the pods (master and slaves) are showing correct status and appropriate logs.

To get more information from the logs, please, add the following to the slave-statefulset manifest (in your mysql.yaml):

[code]

Then show again the logs for the pods that are failing. Please, remember that you might need to do a clean-up of the

[2020-07-13 06:36] andresbono commented on #3073
Correct, if you explicitly remove a member from the cluster to avoid the `"(not reachable/healthy)"` state, you will need to add them again manually when scaling up.

We are going to check if there is something we can do to improve the user experience. Please, any suggestions and contributions from you to improve this chart are welcome!

[2020-07-13 06:45] andresbono commented on #3097
Hi @ayushin, we haven't explored that option. To better understand what you are proposing, can you share an example of chart that is doing that already? How the traffic would be split for the different services and ingress?

[2020-07-13 08:11] philross commented on #1712
+1

[2020-07-13 08:12] juan131 commented on #3073
Hi @pawcykca @emikolajczak

The problem here is that we cannot distinguish (at container/pod level) when a MongoDB container is shutting down due to an upgrade, scaling down the solution or a K8s node being drained. So, we cannot use "pre-stop hooks" to remove the node from the cluster.  Something very similar happened on RabbitMQ, and we had to document in the **README.md** how to "forget" member

[2020-07-13 08:13] juan131 commented on #3067
Hi @chris922

If you're configuring MongoDB as a replicaset and you want to access it from outside the K8s cluster, then you'll have to update the connection strings with the list of external services (one per MongoDB node) to use. Check the section "Replicaset: Accessing MongoDB nodes from outside the cluster" in the **README.md**.

This is sth typical in MongoDB. You application should know the

[2020-07-13 08:19] ayushin commented on #3097
@andresbono well, i haven't explored that option either, but we do use livechat which takes a connection to port 8072 (or whatever the longpolling port is configured to be) and a very long time out (600s) for proxy and workers. I don't see it anywhere in the chart templates, so I assumed the im_chat would not be working?

It took us a very long time to get it working by tweaking nginx and odoo set

[2020-07-13 08:38] juan131 commented on #2682
Hi @HenriqueLBorges

There is not much information about the reasons why the readiness probes are failing there. As you can see, these are the probes:

[code]

Could you please manually access your PostgreSQL container and manually run the command below?

[code]

[2020-07-13 08:48] chris922 commented on #3067
Thanks @juan131 , I just had a look at the mentioned chapter, but we don't need to access the mongo from outside our k8s cluster.

Since MongoDB 3.6 it is possible to use a DNS SRV record, see https://www.mongodb.com/blog/post/mongodb-3-6-here-to-SRV-you-with-easier-replica-set-connections

Using this the client doesn't need to know the nodes of the replica set and instead just need to know the DN

[2020-07-13 08:56] dbrennand commented on #2922
Hi @miguelaeh
Has the issue internally been fixed yet?

[2020-07-13 09:09] juan131 commented on #3096
Hi @sergeyshaykhullin

Did the error appeared during an upgrade of an existing chart release or did it happen while installing the chart for the 1st time?=

[2020-07-13 09:44] joesimon0102 commented on #3064
Thanks for you help, it works.

[2020-07-13 09:44] #3064 closed

[2020-07-13 09:54] dani8art commented on #2922
Hi @dbrennand we are actively working on fixing it but unfortunately it wasn't fixed yet. Was the workaround to install the chart useful for you?

[2020-07-13 10:21] rafariossaa commented on #1712
Hi,
  I am creating a internal task to provide this feature, we will come back as soon as we have news.

[2020-07-13 10:28] rafariossaa commented on #3098
Hi,
  Could you provide more information about your deployment ? Chart version, settings in values.xml used, chart logs, etc.

[2020-07-13 10:42] dbrennand commented on #2922
Thanks for your reply @dani8art
The workaround did work. However, it isn't ideal 😄I will be awaiting the release 👍

[2020-07-13 10:45] rafariossaa commented on #2987
Hi,
  Yes, we are in the process of releasing it.
  I will come back as soon as it is available.

[2020-07-13 10:46] javsalgar commented on #923
Hi,

We would also allow using the extraVolumes and extraVolumeMounts so you can add your custom configmaps if necessary. You would need to deploy the configmap beforehand or use the `extraDeploy` parameter and add the yaml of the configmap there.

[2020-07-13 10:48] javsalgar commented on #2671
Before Kibana getting initialized you should see a log entry that install the plugin, do you see it there? It seems to me that the init scripts are not being executed for some reason.

[2020-07-13 10:48] rafariossaa commented on #3092
Hi,
  I am sorry, our container does not include xpack because of its license.

[2020-07-13 10:54] javsalgar commented on #3026
Thanks for letting us know! Do not hesitate to open a new ticket if you find any other issue

[2020-07-13 10:56] javsalgar commented on #3095
Hi,

I've been unable to reproduce the issue. Could it be that you are using an old version of the chart? Could you try running `helm repo update`?

[2020-07-13 11:34] emikolajczak commented on #3073
Hi @juan131
Your solution is fine. After remove PVC and add member again replicaSet is correctly configured.

[2020-07-13 12:40] HenriqueLBorges commented on #2682
Hello @juan131

Here is the output:

`root@master-k8s:~# kubectl exec -it postgres-postgresql-0 --namespace prd -- /bin/bash
Defaulting container name to postgres-postgresql.
Use 'kubectl describe pod/postgres-postgresql-0 -n prd' to see all of the containers in this pod.
I have no name!@postgres-postgresql-0:/$ pg_isready -U "postgres" -h 127.0.0.1 -p 5432
127.0.0.1:5432 - accepting connections`

[2020-07-13 12:41] parvaths1118 commented on #2987
Thank you @rafariossaa ,Do you have any ETA ,this will help for our planning .

[2020-07-13 14:39] alesanmed commented on #3001
It worked! Thanks! Closing the issue.

[2020-07-13 14:39] #3001 closed

[2020-07-13 17:03] joancafom commented on #3094
Hi @kferrone,

Thanks very much for your issue! When upgrading the application, the old values for passwords must be provided to ensure they are not altered. For further details on this, the process is described in the [Upgrading section](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#upgrading) of README.md.

We are currently working on improving this behaviour, analysing and eval

[2020-07-13 17:19] marcosbc commented on #3089
Hi @ericfaure007, we understand your issue but we don't believe it's something the chart should be doing, since this would only be to support a very specific use case, which can be easily fixed by just setting the kibana version with `kibana.image.tag`.

Note that we only test the version of Elasticsearch currently published in the chart (currently 7.8.0), meaning that any other tag (i.e. 6.x) may

[2020-07-13 17:25] marcosbc commented on #2492
Unfortunately not @yardenshoham. However, we are updating our charts little by little, although Elasticsearch has not seen such changes yet. If you wish, you could try and update it on your send and send a PR, we would be glad to review it! Here you have an example affecting PostgreSQL: https://github.com/bitnami/charts/pull/3021

[2020-07-13 17:33] marcosbc commented on #3082
@torchlard Keep in mind that, when you're specifying the configuration via configmap or in the values.yaml file, you need to specify **the entire configuration file** and not only parts of it. Basically, what it will do, is to replace the entire configuration file with what you're specifying.

The values.yaml file [contains an example](https://github.com/bitnami/charts/blob/master/bitnami/mongodb/

[2020-07-13 17:35] marcosbc commented on #2973
In your repository I see it being set to `mountPath: /bitnami-default/redis/data`. It should be `mountPath: /bitnami`.

[2020-07-13 18:00] SrinivReddy opened #3103 "[Request] etcd dashboard for multiple etcd cluster metriccs"
Hi Team,

I have configures a etcd cluster using bitnami helm charts and enabled metrics to promethues.

I have a two etcd clusters in my eks cluster, how can we get metrics per cluster in grafana dashboard ?

[2020-07-13 18:20] shaekhhasanshoron commented on #3091
@andresbono thank you so much for your reply. I have cleaned all the resources and deployed MySQL master and slave descriptors again.  I was also working with another MySQL tag **'docker.io/bitnami/mysql:8.0.19-debian-10-r21'**.  I have just changed the image without changing any other configuration on the deployment descriptor. After deployment, the master and slave ran successfully and for this

[2020-07-13 19:22] druesendieb commented on #1541
I got the same issue as @konradmalik
Since this one wasn't solved I am going to reopen it.

I've attached a minimalized version of my chart which allowed me at least on 2 platforms to reproduce the problem.

**Which chart**:
bitnami/Cassandra 5.5.3, Cassandra 3.11.6

**Describe the bug**
Trying to deploy Cassandra in a cluster with 3 nodes, it fails on initial startup of the first node, same as OP

[2020-07-13 19:25] druesendieb opened #3104 "[bitnami/Cassandra] Issue: Cassandra fails at initial setup without minimized HeapSize"
I got the same issue as @konradmalik in #1541
Since it wasn't solved and I cant reopen #1541, here I am ;)

I've attached a minimalized version of my chart which allowed me at least on 2 platforms to reproduce the problem.

**Which chart**:
bitnami/Cassandra 5.5.3, Cassandra 3.11.6

**Describe the bug**
Trying to deploy Cassandra in a cluster with 3 nodes, it fails on initial startup of the first

[2020-07-13 19:30] davejhahn commented on #3058
Not able to get the plugin to return metrics on the Bitnami helm chart version.   Looking for some thoughts.

[2020-07-13 20:25] jonahbohlmann commented on #1395
Hello,

As describes, I added a file called "init.sql" to the folder "files/docker-entrypoint-initdb.d", next to my values.yaml with default values from this repo.
![image](https://user-images.githubusercontent.com/9147768/87349643-ed75c880-c556-11ea-98fd-1f43a5c25c09.png)

content of init.sql:
[code]

To find more information I enabled the debug:
`debug: true`

But I was not able to see any outpu

[2020-07-13 21:11] Chenjigaram opened #3106 "Azure File Share Volume Mount Error for mongodb standalone"
Hi

I created a storage Account in Azure with file share , out of that created persistedVolume and Claim
and specified those values for the mongodb chart

### mongoDB values
mongodb:
  nameOverride: xxxxx-mongodb
  fullnameOverride: xxxxx-mongodb
  architecture: standalone
  auth:
    database: xxxxx
    enabled: true
    password:
    rootPassword:
    username: xxxxx
  volumePermissions:
    ena

[2020-07-14 01:35] mhoskiso commented on #1461
I ended up doing some more modifications since I didn't want to commit the wp-config.php. I added a script that runs sed on the wp-config.php and updated the entrypoint script to run it after wp-config.php is added to /bitnami/wordpress on start up.

**Dockerfile**
[code]
**app-entrypoint.sh**
[code]
**change_blog_path.sh**
[code]

[2020-07-14 02:11] torchlard commented on #3082
thx for answering. I got error using `configuration |-`
`Error: UPGRADE FAILED: template: mongodb/templates/replicaset/statefulset.yaml:40:35: executing "mongodb/templates/replicaset/statefulset.yaml" at <include (print $.Template.BasePath "/mongodb/configmap.yaml") .>: error calling include: template: no template "mongodb/templates/mongodb/configmap.yaml" associated with template "gotpl"`

[2020-07-14 02:16] kferrone commented on #3094
I have made plenty of charts where the following works just fine:
[code]
Then no secrets are changed after an update.

If anything at least allow us to add our own annotations to the secret. For example in the values file you could have something like:
[code]
Then I can do the following in my values.yaml:
[code]
This way I can use the built in Helm feature for handling generated secrets.

[2020-07-14 05:02] ltsbkuster commented on #2363
Hi, is there any update on this feature?
I just found out that this feature might be very helpful to workaround an issue related to shared memory.

Postgresql is using `/dev/shm` for shared memory buffers. The default in docker/kubernetes for `/dev/shm` is 64mb which leads to errors like this in queries:

[code]

According [to this Kubernetes Issue](https://github.com/kubernetes/kubernetes/issues/

[2020-07-14 07:14] #3083 closed

[2020-07-14 07:19] andresbono commented on #1395
Hi @jonahbohlmann, these are the commands that we executed, everything seems correct. Can you check them?

[code]
[code]
[code]

Are you creating a new chart deployment from scratch or are you keeping PVCs from a previous test?

[2020-07-14 07:38] sumeshsquare opened #3108 "[bitnami/drupal] pod-startup error with minikube"
### Chart: drupal

I am using GCP VM for this setup with minikube (driver as docker), using helm chart to install drupal without changing any default config with command: `helm install drupal .`

Drupal pod error below:
[code]

Version of Helm and Kubernetes:  Helm Version: v3.2.4 & minikube version: v1.12.0

Help: @andresbono

[2020-07-14 07:47] andresbono commented on #3091
@shaekhhasanshoron, everything works fine for us with the image that you are indicating:

[code]

Are you able to connect to the master pod and connect to the database with mysql client? Is the password the expected one and the one specified in the slave statefulset manifest?

Are you cleaning PVC between one deployment and the following? That may be causing issues.

[2020-07-14 07:48] andresbono commented on #3073
Thanks for confirming @emikolajczak.

[2020-07-14 07:48] #3073 closed

[2020-07-14 07:53] balleon commented on #2987
I have same issue when persistence is enabled.

[2020-07-14 07:55] juan131 commented on #2682
Hi @HenriqueLBorges

It seems your probes are working (at least at the very moment you tried them), but it's hard to debug since you don't have the logs of the probes when they fail.

The output from the probes is swallowed by the Kubelet component on the node. If a probe fails, its output will be recorded as an event associated with the pod. However, we didn't obtain any relevant information when

[2020-07-14 08:03] juan131 commented on #3103
Hi @SrinivReddy

You can play with the labels to distinguish between the metrics coming from one etcd cluster or another. Or obtain the ones coming from both clusters.

For instance, if I install two etcd cluster called "foo" and "bar":

[code]

Then, you'll find that there are labels both solutions share (e.g. `app.kubernetes.io/name=etcd`) but there are other that are different (e.g. `app.kubern

[2020-07-14 08:05] juan131 commented on #1461
Hi @mhoskiso

Thanks for sharing your workaround.

Please note that you can also clone the Bitnami WP repo, and include your "sed" modifying the original "post-init.sh" script. This way you don't need to add extra scripts to the image.

[2020-07-14 08:07] juan131 commented on #3067
I see @chris922 ... Thanks for providing the whole context.

Let's move back to `mongodb` name.. Do you see any cons @javsalgar @dani8art? I did some testing and there's no issue while upgrading existing releases. That said, users will have to adapt (again) their apps configuration.

[2020-07-14 08:10] javsalgar commented on #3067
If the port name has this kind of consequences in the applications, maybe it makes sense to allow setting the name as a value. Wouldn't that work for most of the users with different apps configurations?

[2020-07-14 08:16] dani8art commented on #3067
I agree with @javsalgar , we could make it configurable in the `values.yaml` so people that want to use istio will still able to do it and people that want to use DNS SRV too. I see two way of doing so:

[code]

or

[code]

[2020-07-14 08:26] lukejpreston commented on #2973
I did this and I now get ` Invalid value: "/bitnami": must be unique`

[2020-07-14 08:32] juan131 commented on #3067
I'd rather use the second approach. The reason to use a specific port name can be related with Istio but also with other reasons.

[2020-07-14 08:40] chris922 commented on #3067
As I already mentioned in one of my previous comments I think even for Istio the `tcp-` prefix is not required, because Istio will treat it by default as tcp. We are also using Istio that still works naming the port just `mongodb` (but it's maybe related to the Istio config).

_(see https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/)_

And if you want to improve

[2020-07-14 08:54] #2960 closed

[2020-07-14 08:54] #2968 closed

[2020-07-14 09:32] rafariossaa commented on #2363
Hi,
  I am sorry, no news yet.
  But your issue seems to be a little bit different. Do you mind opening a new issue for yours ?

Thanks forehand,

[2020-07-14 09:53] rafariossaa commented on #3106
Hi,
  I can see mongo is trying to start with persisted data. That is from a previous run. Also there are error that seems to be permissions errors, that could be because of the PVC.
 Could you recreate the PVC and delete your deployment and run it again ?

[2020-07-14 10:06] rafariossaa commented on #1541
Hi,
  The values I proposed was to be able to execute cassandra in his scenario.
  As @juan131 indicated in #1949, there are parameters to limit the cassandra resources.

  The issue is not with the chart itself, What produced this issue was the amount of resources kubernetes can give to the pods.
  Could you check if your cluster have enough free resources to run with the intended configuration ?

[2020-07-14 10:09] #3067 closed

[2020-07-14 10:14] bartversluijs opened #3110 "[bitnami/redis] Can't open the append-only file: Permission denied"
**Which chart**:
[bitnami/redis - v10.7.11](https://github.com/bitnami/charts/tree/master/bitnami/redis)

**Describe the bug**
When I start the bitnami/redis chart on a microk8s cluster, the master as well as the slave keeps crashing with the following logs:
[code]

I've tried it on a managed Kubernetes cluster, where it works out of the box.

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2020-07-14 10:18] dani8art commented on #3108
Hi @sumeshsquare could you share with us the chart version?

I'm using `version: 7.0.3` and Im not able to reproduce it.

Thanks!

[2020-07-14 10:18] andresbono commented on #3097
Hi @ayushin, thanks for the details. We deploy Odoo with basic configuration but we haven't explored or checked the `im_chat` feature, so we can't tell you if it will work or not. Please, if you finally get it working, it would be great if you can open a PR so we continue improving the chart. We will be more than happy to review it!

[2020-07-14 10:26] sumeshsquare commented on #3108
I am using the latest one:

apiVersion: v1
name: drupal
version: 8.0.1
appVersion: 9.0.2

[2020-07-14 10:27] #2889 closed

[2020-07-14 10:34] andresbono commented on #3108
Hi @sumeshsquare, sorry for the inconvenience. Could you stick to the previous major until we fix the issue? `7.0.3`. As soon as we release a new version of the container, the issue should be gone.

[2020-07-14 10:36] sumeshsquare commented on #3108
Hi @dani8art, Thank you for the info.
I am a newbie, could you please let me know how to get the older version 7.0.3, please

[2020-07-14 10:40] andresbono commented on #3108
Hi @sumeshsquare, please follow the steps specified here: https://github.com/bitnami/charts#user-content-tldr

Note that in the chart repository, the stable version is `7.0.3`:

[code]

[2020-07-14 10:48] sumeshsquare commented on #3108
Hi @andresbono, Thank you so much, it worked :)
one final question, how can I get the source code of version 7.0.3, in git repo, I could able to see latest one only.

[2020-07-14 10:51] andresbono commented on #3108
You can use this link: https://github.com/bitnami/charts/tree/e6db6bfa55c09418e53aa33a6cf7f56d422e64ea/bitnami/drupal. It does a checkout to e6db6bfa55c09418e53aa33a6cf7f56d422e64ea, the commit of the `7.0.3` release.

[2020-07-14 10:51] Chenjigaram commented on #3106
Hi @rafariossaa
I tried deleting and recreating azure file share and deleting PVC also
didn't work, please find below YAML for PV and PVC
[code]

mongodb chart override values
[code]

[2020-07-14 10:52] sumeshsquare commented on #3108
Awesome, Thanks @andresbono and @dani8art

[2020-07-14 10:54] ltsbkuster commented on #2363
Ok i will, Thanks

[2020-07-14 11:36] #3078 closed

[2020-07-14 11:54] ltsbkuster opened #3111 "[bitnami/postgres-ha] Could not resize shared memory segment; To little space on `/dev/shm`"
**Which chart**:
postgresql-ha-3.2.10

**Is your feature request related to a problem? Please describe.**
I have a database with two connected tables.
 - table sensor: 1 million rows
 - table sensor_stats: 10 million rows (10 rows per sensor)

Executing a query like this
[code]

causes following Error
[code]

After a bit of googling it statet out that postgres uses `/dev/shm` to exchange data betw

[2020-07-14 12:01] druesendieb commented on #1541
Hi @rafariossaa
thanks for your fast reply :)

I am aware of the parameters to limit the cassandra resources and have used them accordingly in `values.yaml`
[code]
These aforementioned resources (and plenty more) are also available on the cluster, if you have any suggestions on how to double-check, I am all ears!

[2020-07-14 12:12] fefi42 opened #3112 "[bitnami/etcd] snapshotter error when one replica"
**Which chart**:
etcd 4.8.2

**Describe the bug**
When only one replica exists the snapshotter job fails. With the following error:

[code]

The script tries to read the endpoints with a comma as a delimiter. However when only one replica is present it will never read anything since there is no comma present.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the chart with one replica a

[2020-07-14 13:06] BenchmarkingBuffalo commented on #1799
Hi there,
I am currently experiencing the exact same issue @CountZukula was talking about. In my case, it is a bare metal setup of k8s and I am using the chart in version postgresql-ha-3.3.1. Did this bug came up again?
I was also wondering if I can tune the times pgpool checks the readyness of the backends. In my case it takes 1.5 minutes until pgpool is back up again and has accepted the new mas

[2020-07-14 13:21] joancafom commented on #3086
Hi again @pakomp

Just to let you know that PR #3057 has been successfully merged! Now the Chart comes with TLS support.

Best regards.

[2020-07-14 13:46] jonahbohlmann commented on #1395
Hi @andresbono , thank you!

I checked out this bitnami repo and executed your commands. I had the same output as you described.

From my repo folder I used the following command:
[code]
And had no output.

Do I have to copy the whole "bitnami/mariadb-galera" folder content to my deployment repo?
I thought I just need the repository and my own values file.

I am new to helm, so maybe it's my fault

[2020-07-14 13:50] duvallj opened #3113 "[bitnami/redis-cluster] cp: cannot stat '/opt/bitnami/redis/etc/redis-default.conf': No such file or directory"
**Which chart**:
bitnami/redis-cluster version 3.1.5

**Describe the bug**
When attempting to install the helm chart, all the go into a crash loop with the same behavior: `cp: cannot stat '/opt/bitnami/redis/etc/redis-default.conf': No such file or directory`

**To Reproduce**
Steps to reproduce the behavior:
1. `helm install my-release bitnami/redis-cluster`
2. Run `kubectl get pods` to see that

[2020-07-14 13:52] joancafom commented on #3094
Hi @kferrone

I am interested in this alternative, but have been investigating about the `resource-policy: no-upgrade-existing` and it seems like the official Helm release does not support it. I have been unable to find any official documentation nor [source code ](https://github.com/helm/helm/blob/master/pkg/kube/resource_policy.go) associated to it in the official repo (the only value that seems

[2020-07-14 14:03] dk-do opened #3114 "[bitnami/etcd] Restore Issues on Kubernetes"
**Which chart**:
Tested with etcd-4.8.9 and etcd-4.4.3

**Describe the bug**
We have some issues regarding etcd-backup restores on Kubernetes:
The etcd-snapshotter is running every hour. Once a day we copy the data from the etcd-snapshot directory to a backup folder in filesystem to perform a tape backup.

Time by time we are struggeling with restoring data.

**To Reproduce**
1. Copy the db file t

[2020-07-14 14:47] TK0L commented on #3074
Hello,

thank you for your answer and sorry for late response, however spent some time playing with this:

First off, not sure why, but even after helm repo update, it didn't update to version of rabbitmq availabe, so got a newer one (yet still not the latest you've mentioned):
[code]
First try to upgrade it, i got an error that unable to update due to existing ingress, which is odd, cause helm in

[2020-07-14 15:23] marcosbc commented on #1799
@BenchmarkingBuffalo Unfortunately I don't know if the user found the bug again. As for tuning  the readiness/liveness checks, you can edit the following properties:

* `postgresql.livenessProbe` and `postgresql.readinessProbe`
* `pgpool.livenessProbe` and `pgpool.readinessProbe`

I.e. `helm install mydeployment --set postgresql.livenessProbe.initialDelaySeconds=90 bitnami/postgresql-ha` ([see `in

[2020-07-14 15:34] marcosbc commented on #2973
It looks like that is related to there being an `extraVolumeMounts` referring to `/bitnami` as well. That should not be needed if the persistence path is kept unmodified.

[2020-07-14 15:48] marcosbc commented on #3082
That's a bug in the current config map usage with the Bitnami MongoDB chart. We're working on fixing it, keep an eye on #3082 for the fix.

[2020-07-14 16:04] marcosbc commented on #3104
I'm not sure how we can fix this in the chart. The problem looks like it is Cassandra eating too many resources, more than what the cluster can offer. And we want to avoid setting default values for the users, as is [mentioned in `values.yaml`](https://github.com/bitnami/charts/blob/master/bitnami/cassandra/values.yaml#L136).

[2020-07-14 18:15] kferrone commented on #3094
Here is what I found for reference: https://github.com/helm/helm/pull/5290/files

I can't seem to find much about the `no-upgrade-existing`? I was told somewhere to do this and it has just worked for me. It seems Helm may have just gone with `keep`.

Either way, I do know with `"helm.sh/hook": pre-install` on the secret, this will also give the desired effect as well. I simply know this works from

[2020-07-14 21:24] ieugen commented on #3035
I've also encountered these issues.
Any news on the PR?
I'm figuring out how to use the chart now and it's a bit frustrating :) .

[2020-07-14 21:53] ieugen commented on #3035
I found the usage of `externalDatabase.postgresqlPostgresPassword` not good.
I'm trying to expose an external PostgresSQL running on Debian and they don't set passwords for `postgres` user.
You use `sudo -u postgresq psql` to operate.

Is this password necessary when using an external database?
I believe the chart should allow for a super user + password and not expect postgres.

[2020-07-14 22:22] ieugen commented on #3035
I would also like to give some feedback on the ingress and certificate issuance.
There are assumptions that a load ballancer is used.
Also I didn't figure out how to issue certificates with cert-manager which IMO is quite common.

[2020-07-14 23:21] ieugen commented on #3035
helm uninstall does not seem to clean the services when using an external database.
p.s. I had a typo in my host name and that is why the certificates did not work.

[2020-07-15 00:30] ieugen commented on #3035
For database initialization I would use the "Initialization scripts" https://hub.docker.com/_/postgres  .

The script can be a shell one and it will run with super user + it can use env variables (for password).

The commands I used are for discourse are (I initialized it manually for now) :
[code]

[2020-07-15 00:55] ieugen commented on #3035
With my setup, the admin is not created and I don't know why at the moment.
So I can't access the instance once I've set it up.
Also there seems to be no SMPT config - so no validation emails are getting out.
Hence, I am locked out.

I'm deploying on k3s, bare metal.

[code]

[2020-07-15 04:14] ukanga commented on #2510
I did encounter the exact same error message, `Unable to AUTH to MASTER: -WRONGPASS invalid username-password pair`.  It turned out the issue was how I generated the password file used to create the secret. In my case, the file had a newline character. Hence, generating the file without a newline character did resolve the issue for me.
It seems that Redis master pod does include the newline charac

[2020-07-15 05:24] andresbono commented on #3108
Hi @sumeshsquare, the latest version of Drupal chart is now released:

[code]

[2020-07-15 05:47] sumeshsquare commented on #3108
Hi @andresbono ,
Great release, I like the common chats separation!

With latest update, the Permission issue was fixed, but the pod startup is in hang state, logs below:

[code]

[2020-07-15 06:03] tnakajo opened #3118 "We detected a DOS attack from WordPress pod to these IPs"
**Which chart**:
WordPress
https://cloud.ibm.com/catalog/content/wordpress-Qml0bmFtaS13b3JkcHJlc3M=-global#about

**Describe the bug**
IBM Cloud Abuse team and Trust & Safety Analyst team detected a DOS attack from the IBM Cloud IKS worker node (10.85.50.61 / 158.177.229.162) to the owner(s) of these IPs (Outside of IBM Cloud network).

The customer of the IKS cluster running the bitami WordPress,

[2020-07-15 06:04] tnakajo commented on #3118
[pod.describe.txt](https://github.com/bitnami/charts/files/4923181/pod.describe.txt)
[get_services_-o_wide.txt](https://github.com/bitnami/charts/files/4923182/get_services_-o_wide.txt)
[get_pods_-o_wide.txt](https://github.com/bitnami/charts/files/4923183/get_pods_-o_wide.txt)
[pod.describe.txt](https://github.com/bitnami/charts/files/4923184/pod.describe.txt)

[2020-07-15 06:24] #3082 closed

[2020-07-15 06:32] gnunns commented on #2946
I was able to resolve this issue by setting the following in the spark conf. Because I was kicking the job from a jhub notebook it was running as --deploy-mode client. If its possible to run the driver on the cluster and get the results back to the notebook I would love to know that trick.

The problem seemed to be the driver was running on my notebook in client mode and the spark workers were not

[2020-07-15 07:29] beltran-rubo commented on #3118
Hi @tnakajo

A possible to this issue is the customer migrated his own WordPress site (previously hosted in vhosting-it.com) to the IKS Bitnami WordPress deployment. That migration requires to configure properly WordPress to point to the new IP or domain and it is possible the customer did not change it.

The K8s health checks are running every 10 secs by default and it is trying to get the "/wp-l

[2020-07-15 07:45] tnakajo commented on #3118
Thank you. I invited the customer here to respond.

[2020-07-15 07:45] juan131 commented on #3112
Hi @fefi42

Thanks for reporting the issue! This piece of code should make it:

[code]

I just created a PR to fix this.

[2020-07-15 07:50] vpartington commented on #923
Aha, of course!

Then I look forward to having the ability to override the standard command. Shall I create a PR for that or would you rather do it yourselves?

Thanks! Regards, Vincent.

[2020-07-15 08:02] lukejpreston commented on #2973
@marcosbc could you clarify what you mean by `persistence path is kept unmodified`

I have removed the `extraVolumes` and `extraVolumeMounts` but I am back to where I started. I have manually created volumes and no claims but the redis cluster isn't claiming them using the labels, it is instead creating its own volumes. Here are all my volumes after running my latest config. I have pushed to the r

[2020-07-15 08:04] caalberts commented on #2682
Hi @juan131, no it was not an upgrade to an existing PostgreSQL. It's a new PostgreSQL deployment.

[2020-07-15 08:17] javsalgar commented on #3111
Hi,

Thank you very much for the feedback! This is very valuable for us :) In other charts we have the values for extraVolume and extraVolumeMounts which allow you to add different types of volumes. I think that it would also make sense to allow an extraVolumeClaimTemplates section that will also create volumes for the statefulset. From what I read, you are proposing to add a value called `shmMoun

[2020-07-15 08:21] rg2609 opened #3120 "Can we have VPA with Postgres"
**Which chart**:
Postgres

I am trying to add the [Vertical Pod autoscaling (VPA)](https://cloud.google.com/kubernetes-engine/docs/concepts/verticalpodautoscaler) in Postgres chart, and my questions are

- Can we add VPA with Postgres

-  if we can, then how to do it

Any help on this VPA topic will be appreciated.
Thank you.

[2020-07-15 08:25] ltsbkuster commented on #3111
I think it would be totally fine to add extraVolumes to the Postgresql Statefulset to stay as close as possible to the other charts.

[2020-07-15 08:35] mn0o7 commented on #1788
Hi,

Im having the same issue it looks like somehow installation of mariadb in a different namespace is messing with me.
Current installation in
namespace: stg
name: stg-mariadb-galera

New installation
namespace: dev
name: dev-mariadb-galera

for both im using   storageClass: "rook-ceph-block"

The New installation failed when i used the name dev-mariadb-galera, if i used a different name like de

[2020-07-15 08:36] javsalgar commented on #923
Hi,

Feel free to create a PR adding this feature, just check how we do it in other charts like `kong`. Thank you very much!

[2020-07-15 08:37] andresbono commented on #1395
Hi @jonahbohlmann, it seems it is required, but then you won't be receiving updates that we do in the chart. You might want to use the alternative values properties:

`initdbScriptsConfigMap` or `initdbScripts`.

[2020-07-15 08:38] javsalgar commented on #3111
Thank you very much! Stay tuned as I'll notify here when the PR is available :)

[2020-07-15 08:40] dbrennand opened #3121 "[bitnami/prometheus-operator] Thanos sidecar CrashLoop - container init caused \"setenv: invalid argument\"""
**Which chart**:
[bitnami/prometheus-operator]
[code]

**Describe the bug**
I am trying to deploy the Thanos sidecar container with object storage configuration. However, the following error occurs:
[code]
All other containers in the pod are ok.

I create the secret **thanos-objstore-config** using the following command: `kubectl -n monitoring create secret generic thanos-objstore-config --from-fi

[2020-07-15 08:47] mn0o7 commented on #1788
Looks like adding this from [here](https://github.com/bitnami/charts/issues/2013)
extraEnvVars:
  - name: MARIADB_INIT_SLEEP_TIME
    value: "20"

[2020-07-15 08:52] andresbono commented on #3113
Hi @duvallj, thanks for opening this issue. We couldn't reproduce it, we are using `3.1.5` as well.

- Are you modifying any of the default values for the chart?
- What is the image that you are using?

[code]

- Are you installing the deployment from scratch? Do you have PVCs from previous retries?
- Is the configmap for that file being created?

[code]

[2020-07-15 08:59] druesendieb commented on #3104
Both clusters I've tested this on have more resources available than I've set as `request/limit` so that actually shouldn't be the case.

[2020-07-15 10:02] #3112 closed

[2020-07-15 10:29] dani8art commented on #3035
Hi @ieugen, thank you so much for your great feedback!!

I think there is so many things, let's go step by step

Yes your are right, they shouldn't be mandatory when using `externalDatabase` we can fix it as follow and you can find it in this PR (#3125).

**values.yaml**

[code]

Could you open an issue and tell us with more details what does this mean?

I'm not sure about that, I've just tried to

[2020-07-15 10:39] dani8art commented on #2946
Hi @gnunns thank you so much for the contribution, we will take a look to it and try to add it to our chart.

[2020-07-15 10:39] Photic commented on #3118
Hello, I am the person currently working on the talked about cluster.

The wordpress.txt files is the yaml file used to spin up reklameapp1 to start with. The configuration changed is only the readiness and liveliness probes.

At the moment there is only 2 wordpress instances running, but we had, at some point, 6 running, all spun up using the same yaml file, which would explain the amount of traf

[2020-07-15 10:54] nevets963 commented on #2260
Hey @andrew-landsverk-win @juan131

We're also experiencing this exact same issue which we trigger by an unexpected shutdown of the node running a given pod (pod-0 in the example). My workaround is the basically the same as described by @andrew-landsverk-win.

[code]

This then brought back the pod, and after it's 'Running' again, I did the inverse of the 'sed' command in the Pod spec defined abov

[2020-07-15 11:02] joancafom commented on #3110
Hi @bartversluijs ,

Thanks for your issue! Could you please try with the following values altogether and tell me if they worked for you?

[code]

Thanks!

[2020-07-15 11:21] jugrajsingh commented on #2223
Any Update on This?

[2020-07-15 11:23] Shadowraze228 opened #3126 "[bitnami/mongodb] volumeclaim created even if persistence: false"
**Which chart:** mongo-sharded

**Describe the bug:**
VolumeClaim template created even if persistence: false
https://github.com/bitnami/charts/blob/master/bitnami/mongodb/templates/replicaset/statefulset.yaml#L362

**To Reproduce**
1. This values.yml
[code]
2. Deploy
[code]

**Expected behavior:**
MongoDB replicaset created without any pv/pvc.

**Version of Helm and Kubernetes**:

- Output of `he

[2020-07-15 11:26] juan131 commented on #2682
Hi @caalberts

The "no response" answer on `pg_isready` means the PostgreSQL server is not responding See https://www.postgresql.org/docs/12/app-pg-isready.html

That said, your logs didn't show any warn/error describing the reasons why it's not responding:

[code]

You can try increasing the log verbosity by setting `log_error_verbosity` in the `postgresql.conf` configuration file. To do, install

[2020-07-15 11:30] juan131 commented on #2260
@rafariossaa I think you have more context about this. Could you please take a look?

[2020-07-15 12:16] bartversluijs commented on #3110
Hi @joancafom,

Thanks! I thought I've tried that before, settings `fsGroup` and `runAsUser` to 1001. But it seems like it did the trick, thanks!

[2020-07-15 12:16] #3110 closed

[2020-07-15 13:24] SrinivReddy commented on #3103
@juan131 , Got it Thanks!

[2020-07-15 13:24] #3103 closed

[2020-07-15 13:24] beltran-rubo commented on #3118
Did they customize WordPress somehow? installing plugins (e.g. a CDN plugin for static assets) or restoring a previous WordPress installation could make to do requests to other sites.

If you run `wget http://(IP or Domain)/wp-login.php`, could you check if you see those IPs or Domains inside the html page?

[2020-07-15 13:32] joancafom commented on #3094
Hi @kferrone

It is true that rabbitmq chart already supports arbitrary annotations on several resources. However, the annotations you plan to use are `helm hooks` and I would like to investigate your use case before (e.g. imagine these annotations were triggered before the template is even rendered. That way this solution would not work). After evaluating it, I will come here and post my findings

[2020-07-15 13:40] dbrennand commented on #3121
Hi guys 😄
The issue was due to the inital file encoding of thanos-object-storage.yaml

I am using PowerShell `Out-File` to create it. Once specifying the `-Encoding` as **ASCII**, it accepted the bucket config 😄

[2020-07-15 13:40] #3121 closed

[2020-07-15 13:43] BenchmarkingBuffalo opened #3127 "[bitnami/postgres-ha] PgPool taking long to switch to new master"
**Which chart**:
I am using the postgres-ha chart in version 3.4.3

**Describe the bug**
When deleting the master-backend-node, pgpool sometimes takes about 30 seconds to switch to the newly promoted master-node.

**To Reproduce**
Steps to reproduce the behavior:
1. Use minikube (minikube version: v1.12.0) in a CentOS 8 VM.
2. Install helm and the tiller pod.
3. Deploy the chart using
[code]
4. Ge

[2020-07-15 13:55] rafariossaa commented on #3074
Hi,
  The `helm repo update` thing is weird, in any case, you can clone this repo and run: `helm install rabbitmq --namepace .... -f values.yml .`
  Could you try that ?

[2020-07-15 14:15] Cellebyte commented on #2795
I currently lack time but will create a PR. It would be great if someone can help me to make the helm chart bitnami compliant.

[2020-07-15 14:23] rafariossaa commented on #2223
Hi @jugrajsingh ,
  It should work with the instructions provided by @carrodher , instead of changing it in the values,  could you try the following?
[code]

[2020-07-15 14:33] rafariossaa commented on #3106
Hi,
  The container is ready to work with user 1001, could you change that in your PV ?

[2020-07-15 14:43] vpartington commented on #923
Hi @javsalgar,

#3128 is ready for review. 😄

Regards, Vincent.

[2020-07-15 14:44] HenriqueLBorges commented on #2682
Hi @juan131,

Do you have a different command to recommend in the probes?

Thanks in advance

[2020-07-15 15:04] machine424 commented on #3096
I had the same problem.

Given the two logs:
[code]
We can say that this occurs while upgrading/rebooting Rabbitmq with the option `force_boot` activated, in other words `rabbitmqctl force_boot` that we run [here](https://github.com/bitnami/bitnami-docker-rabbitmq/blob/master/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L516) fails.

According to `rabbitmqctl` code source [here](https:/

[2020-07-15 15:05] rafariossaa commented on #3114
Hi,
  I can see this is already being tracked here https://github.com/bitnami/bitnami-docker-etcd/issues/7
  To not duplicate issues, I am closing this one.

[2020-07-15 15:06] #3114 closed

[2020-07-15 15:55] kfox1111 opened #3129 "[bitnami/mongodb] replicaset across Kubernetes clusters"
**Which chart**:
bitnami/mongodb

Trying to configure a stand alone deployment on 3 different Kubernetes clusters into a replicaset. Not finding all the config options needed to enable this.

Standalone doesn't seem to allow setting a replicaset key. Setting type as repliaset seems to assume one Kubernetes.

[2020-07-15 17:13] marcosbc commented on #3120
Hi @rg2609, it's not something the chart currently supports, but you could always contribute it via a PR. We would be glad to review it!

[2020-07-15 17:26] tschale opened #3130 "`postgresql-postgres-password` doesn't work with `global.postgresqlUsername` and without `postgresqlPostgresPassword`"
**Which chart**: postgresql 9.1.1

**Describe the bug**
Including `postgresql-postgres-password` in the `existingSecret` only works when `postgresqlUsername` and `postgresqlPostgresPassword` are set. It doesn't work when `global.postgresqlUsername` is set instead or when the password is only included as `postgresql-postgres-password` in the secret without a value for `postgresqlPostgresPassword` i

[2020-07-15 17:38] marcosbc commented on #3058
Hi @davejhahn, you're right. Kibana requires the [kibana-prometheus-exporter plugin](https://github.com/pjhampton/kibana-prometheus-exporter) to be installed, it is vaguely mentioned in values.yaml and NOTES (which appears when installing the chart) of the Kibana subchart, and not the Elasticsearch.

The following options allow the Kibana chart to be installed with the Prometheus plugin:

[code]

[2020-07-15 20:06] jugrajsingh commented on #2223
Hi @rafariossaa
I have deployed using the command line --set argument also. No success there.
[code]
Problem is with specifying password, if i do it without and argument it will setup some password. But i do alot of upgrades and refresh in the cluster so need to have password fix.

Both these command shows the expected output which means secret is being created with the correct password.
[code]

B

[2020-07-15 22:39] Photic commented on #3118
All the ip addresses using the command wget yields the correct ingress ip for the cluster.

They do have wordpress plugins installed, just dont see how those plugins could have anything to do with the probing of vhosting in such a specific manner. Only way to find out is to kill the wordpress pods, and see if the attacks continue I guess.

[2020-07-16 01:47] #2909 closed

[2020-07-16 01:47] #2912 closed

[2020-07-16 01:48] #2865 closed

[2020-07-16 01:48] #2888 closed

[2020-07-16 01:48] #2811 closed

[2020-07-16 01:48] #2896 closed

[2020-07-16 02:14] yangvipguang opened #3131 "bitnami/elasticsearch/ service type is not headless"
**Which chart**:
The name (and version) of the affected chart
elasticsearch-12.5.1
**Describe the bug**
A clear and concise description of what the bug is.
I want to know why   isn't the  data and master  statefulset's service type None (aka  headless)。

![图片](https://user-images.githubusercontent.com/11416887/87618730-237c9d80-c74d-11ea-86e1-68df7bce0310.png)

[2020-07-16 04:45] johnsiciliano opened #3132 "bitnami/wordpress"
I have this docker image running in Kubernetes.
I'm not sure whether I should post this in the helm chart support or the docker image support.
(I opened a duplicate issue on the Wordpress docker repo)
It seems that wp_cron job was failing for a while.
I removed WP_CRON_DISABLED from my wp-config.php
Now I'm running into this issue. Container restarts for some odd reason
[code]

I went as far as ba

[2020-07-16 05:50] rajan123456 opened #3133 "[bitnami/mongodb] unable to override chart values"
**Which chart**: bitnami/mongodb (8.1.1)

**Is your feature request related to a problem? Please describe.** Help request

I am new to Helm and using Helm 3. I am trying to build a simple helm chart which depends on the mongodb helm chart.

This is the structure of my chart:
[code]
I am trying to override the value of rootPassword (and some other properties) through the values.yaml file of the par

[2020-07-16 06:02] beltran-rubo commented on #3118
You can try but if the code for connecting to those servers is into the wordpress plugins/uploads folder (inside 'wp-content' folder) it will continue happening as this folder is in a persistent volume.

[2020-07-16 06:07] fifa451 commented on #2973
@lukejpreston

I guess the problem is that the when you using your own volume, make sure each Redis node configure is in a different directory, otherwise it will overwrite or lock each other.
I guess This is idea directory structures will:

* /bitnami/redis/data/redis-cluster-0,
* /bitnami/redis/data/redis-cluste-1,
* /bitnami/redis/data/redis-cluste-2,
* /bitnami/redis/data/redis-cluste-3,
* /bit

[2020-07-16 06:11] rg2609 commented on #3120
Thank you @marcosbc for a reply, can you give us any guidelines about it

[2020-07-16 06:35] #3132 closed

[2020-07-16 07:18] ReToCode commented on #2977
I have the same issue. Just deploy the chart with `auth.enabled: false` and `metrics.enabled: true`. The connection from the metrics container will fail with:

**mongodb container**
[code]

**metrics container**
[code]

[2020-07-16 07:24] ieugen commented on #3035
Hi @dani8art ,

Thanks for the feedback. I took a break yesterday.
I can open some issues but right now I don't know if they are bugs with the chart or just me not knowing how to properly use the chart (documentation issue).

I fixed the issue with certificate.
I figured out I need to pass in SMTP configuration and found the values nicely documented here https://github.com/bitnami/bitnami-docker-d

[2020-07-16 07:27] andresbono commented on #3129
Hi @kfox1111, that implementation is not supported. The helm chart should be deployed in a single Kubernetes cluster. The cluster may have one or more nodes, but all belonging to the same Kubernetes cluster.

[2020-07-16 07:39] BenchmarkingBuffalo commented on #3127
I figured out, what might be the problem:
The replication is not working correctly. When I insert data, it only shows up on the master and is not copied to the slave.
When I run
[code]
on the master, it outputs
[code]
I dont know how to fix this

[2020-07-16 07:42] javsalgar commented on #3126
Hi,

Thank you very much for reporting the issue. We will fix the issue (by adding an if statement) so the PVCs are not created. If you want to speed up the process, feel free to contribute with a PR.

[2020-07-16 07:42] ieugen commented on #3035
I downloaded the chart locally with `helm pull bitnami/discourse` and added the SMTP env vars manually.
The emails still did not reach me - sendmail is missing :( .

`kubectl  logs -f discourse-co-76465d5c7b-pz9sk sidekiq`
[code]

[2020-07-16 07:43] lukejpreston commented on #2973
@fifa451 the volumes are all different directories. Sorry if I am being a bit slow on the intake. From the docs I thought `persistence.matchLabels` would tell the chart to use these volumes and not create its own, which is what I want it to do.

When the cluster starts up it all looks correct, I just want to control where/how the volumes are saved

For example instead of using volume `pvc-85bd4bfe

[2020-07-16 07:45] javsalgar commented on #923
Thanks! Reviewed :)

[2020-07-16 07:49] javsalgar commented on #3131
Hi,

The context of not making it headless was for Istio compatibility. You can find more info in this issue: https://github.com/bitnami/charts/issues/2199

[2020-07-16 07:50] #923 closed

[2020-07-16 08:08] nashpaz123 opened #3135 "When setting a private docker repo pullSecrets,"
**Which chart**:
bitnami/rabbitmq

**Describe the bug**
The chart works fine when the docker repo is public and the pullSecrets section is commented.
When creating the shenzhenregistry secret, and setting a private docker repo pullSecrets like so in values.yaml:

image:
  registry: registry-intl.cn-shenzhen.aliyuncs.com/myregistry
  repository: rabbitmq
  tag: 1

  pullSecrets:
    - shenzhenregis

[2020-07-16 08:11] juan131 commented on #3096
Hi @machine424

Thanks so much for investigating the issue and discover what's going on. This regression is very likely introduced by me on this PR (https://github.com/bitnami/charts/pull/2843) where I refactored the RabbitMQ chart.

Could try setting `RABBITMQ_MNESIA_BASE` instead? I mean: adding the environment variables below:

[code]

[2020-07-16 08:52] andresbono commented on #3108
Hi @sumeshsquare, can you deploy the chart with debug enabled?

[code]

This is what we get:

[code]

How many resources does minikube have assigned?

[2020-07-16 09:03] andresbono commented on #2510
Thanks for letting us know about it, @ukanga!

[2020-07-16 09:04] TK0L commented on #3074
Hello,
well just tried updating helm repo, and for some reason latest version (7.5.4) is there already, however no change at all.
[code]
Upgarding gives following error:
[code]
Full reinstall went a little better, i was able to successfully install it, however it still gives me same login error. Double checked secret and config map - all good.

Also update helm to never version, earlier was 3.0.3,

[2020-07-16 09:31] rafariossaa commented on #3135
Hi,
  Could you try with ?
[code]

[2020-07-16 09:31] phlegx commented on #2697
Having the same problem on my cluster. ATM running bitnami `redis` with `sentinel` (1 master two slaves) on one single host (I know that should not be in production) for testing purposes. Had to restart my server and redis didn't came up. Had to restart the two slave pods then it was able to recover.

[2020-07-16 09:39] rafariossaa commented on #1541
Hi,
  @druesendieb , I think this issue is also being followed in #3104, let's continue there.

[2020-07-16 09:57] dani8art commented on #2795
Great, we will be happy to handle it, hopefully working on this soon! thank you so much!

[2020-07-16 09:59] dani8art commented on #2963
Hi @alextes any updates, could you please take a look at the @carrodher's questions?

[2020-07-16 10:00] andresbono commented on #2977
Hi @ReToCode, @ianhlee, we have just created a PR to address the issue. Take a look if you want!

[2020-07-16 10:09] andresbono commented on #1788
Hi @mn0o7, so adding that variable solved the issue? Isn't related to the PVs, right?

[2020-07-16 10:11] parvaths1118 commented on #2987
Hello @rafariossaa ,Please can you let me know when the fix will be available ?? This will help our planning.

[2020-07-16 10:19] rafariossaa commented on #3127
Hi,
   Could you share the results of the following ?
[code]
  About the node checking, there are two [parameters](https://www.pgpool.net/docs/latest/en/html/runtime-config-health-check.html) that control this behavior: `health_check_max_retries` and `health_check_period`

  You can change pgpool.conf values by these steps:>

- Create the a file with the parameters (name doesn’t matter):
[code]
-

[2020-07-16 10:21] rafariossaa commented on #2987
Hi,
  Let me check the releases.

[2020-07-16 10:23] mnorrsken opened #3138 "Excessive cpu usage from mediawiki probes"
**Which chart**:
Mediawiki 10.0.1

**Describe the bug**
The probing to api.php causes excessive cpu usage because api.php renders the "help" page

**To Reproduce**
Steps to reproduce the behavior:
1. Check cpu usage for idle container

**Expected behavior**
Not that much cpu usage from idle container

To fix, change probe to:
 /api.php?action=query&meta=siteinfo&format=none

[2020-07-16 10:33] #2977 closed

[2020-07-16 11:25] mn0o7 commented on #1788
My issue is solved but i cant really say what this is related to and why in specific deployment name or without persistance it works fine

[2020-07-16 11:28] dani8art commented on #3035
Hi @ieugen,

thanks for continue given us feedback!

Should be fixed by #3137

I wasn't able to reproduce it, please could you try to open a new issue so we can go deeper on it?

[2020-07-16 11:35] rafariossaa commented on #2987
Hi,
  I have just merged this https://github.com/bitnami/charts/pull/3006, and with the new container images it should work now.
  Could you give it a try ?

[2020-07-16 11:47] parvaths1118 commented on #2987
Hi @rafariossaa ,Does that mean i can clone the latest helm chart and deploy it ??

[2020-07-16 11:48] hadifarnoud commented on #2232
I have the same issue. I used Rancher "Apps" to install wordpress which uses this chart. how can I fix this issue there?

[2020-07-16 11:49] BenchmarkingBuffalo commented on #3127
Hi,
thank you for your response,
The output of show pool_nodes is
[code]
The output of select * from pg_stat_replication is
[code]
I used your tips to tune the config a little:
[code]
Now the failover happens much faster, which is good. The downside is, that I am now sure, that there is no working replication.
I created a table while pod ...-0 was master and inserted an entry. This was replicated

[2020-07-16 12:11] parvaths1118 commented on #2987
@rafariossaa ,With the latest helm chart deployment itself is failing. This property "**postgresqlDatabase**" doesn't exsist in the values.yaml any more.

[root@masternode1 postgresql-ha]# helm install --name postgres-ha bitnami/postgresql -f values-production.yaml --set postgresqlPassword=AmHbj5KKhvDLnay --set postgresql.repmgrPassword=password
Error: render error in "postgresql/templates/statefu

[2020-07-16 12:22] machine424 commented on #3096
I think `RABBITMQ_MNESIA_BASE` is already exported/sourced from here https://github.com/bitnami/bitnami-docker-rabbitmq/blob/master/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L48 before calling `rabbitmqctl force_boot`.

I think I've already tried to run `rabbitmqctl force_boot` after setting all the env vars in `librabbitmq.sh` manually, but it didn't work. I can re-test when I have

[2020-07-16 12:30] rafariossaa commented on #2223
Hi,
  In your command you are upgrading the chart.
  Could you try to delete all installed jenkins charts and run the following exact command  ?
[code]
 Once this work we can try other things, but we need to settle a common base where to start from.

[2020-07-16 13:07] sumeshsquare commented on #3108
Hi @andresbono, thanks for that debug tip !

The error was with the MySQL instance which I am trying to connect with is 5.6,

[code]

Thanks Again...

[2020-07-16 13:08] #3108 closed

[2020-07-16 13:33] andresbono commented on #3108
We are glad to have helped! 👍

[2020-07-16 14:27] iMoses commented on #2697
No special configuration, running on Azure AKS on version 1.16.9

[2020-07-16 14:46] rajan123456 commented on #3133
There was a file format issue that was causing the values.yaml to be ignored.

[2020-07-16 14:46] #3133 closed

[2020-07-16 15:25] duvallj commented on #3113
Hi @andresbono , thank you for the follow-up! To answer your questions:
* No, I am not modifying any default values
* The output of the command to get the image shows `docker.io/bitnami/redis-cluster:6.0.5-debian-10-r27`, which is the same image you said you were using
* I did not manually configure any PVCs, but I did run `helm uninstall h-redis` before retrying each time. Is this something I sho

[2020-07-16 15:57] marcosbc commented on #3120
Sure!

If you want to enable VPA, you would need to define a resource affecting the Helm chart. To do that, create a file such as `vertical-pod-autoscaler.yaml` inside the `bitnami/postgresql/templates` directory in this repository.

The file would have a structure similar to what is defined here: https://cloud.google.com/kubernetes-engine/docs/how-to/vertical-pod-autoscaling#getting_resource_reco

[2020-07-16 16:06] PhoneixS opened #3140 "[bitnami/jenkins] Allow specifying the JNLP port"
**Which chart**:
Bitnami/jenkins 5.0.18

**Is your feature request related to a problem? Please describe.**
The problem is trying to use docker agents. They are created correctly but they can't communicate with the Jenkins server as the port isn't opened in the pod neither in the service.

**Describe the solution you'd like**
I think it could be a nice feature to allow the user to set extra ports

[2020-07-16 16:14] akshaysharama opened #3141 "Consumer with static membership is not able to Rejoin after broker restart in k8s environment"
**Which chart**:
apiVersion: v1
name: kafka
version: 6.0.1
appVersion: 2.3.0

**Describe the bug**
Running single consumer with "group.instance.id" : "1"(enabled static membership).
After restarting of broker(kafka server), could see consumer is not able to rejoin.

******************************BROKER LOGS ***********************

[2020-07-16 14:04:00,281] INFO [GroupMetadataManager brokerId=1001

[2020-07-16 16:29] marcosbc commented on #3104
From the Cassandra `jvm.options` file:

[code]

It could be that Cassandra detects a heap size of 8GB, so it tries to take that the limits you set to that same value. Note there are other processes eating memory/CPU so it eventually crashes.

I'm not sure if there's anything we should do on the chart to 'fix' this issue. In your case, it looks like you should either set a higher limit, or to confi

[2020-07-16 16:30] marcosbc commented on #2232
@hadifarnoud Could you open a new issue with more details? It is fine if you link to this one. Please add as much information as possible for us to troubleshoot this issue, including the type of NGINX Ingress Controller you have configured.

[2020-07-16 16:39] marcosbc commented on #2973
I see, in that `existingClaim` is the correct option but the feature is not yet supported in `redis-cluster`. However, it looks like something that should not require many changes to the Helm chart.

Feel free to submit a PR to implement support for `existingClaim`, we'd be happy to review it!

[2020-07-16 16:59] TheHunter commented on #3095
Hi,
I've updated with the last version of helm charts, I've executed the command suggested by you:
helm repo update

I've retried to install the rabbit chart but nothing..

After executing the helm install, I've got this:
![image](https://user-images.githubusercontent.com/992665/87699753-a0336a00-c795-11ea-85ec-42898c8a0df0.png)

But in the UI I' tried to use the credentials and I have this error:

[2020-07-16 21:29] druesendieb commented on #3104
Aah, now I see what you've meant with your previous comment.
You weren't talking about the resources the Cassandra workloads were using on the Kubernetes cluster but about the resources inside of the actual Cassandra Cluster. Sorry I misunderstood, my bad.

Thanks for the hint with `cassandra-env.sh`.
I did some research and tests now and I think I found the problem.
`cassandra-env.sh` assumes you

[2020-07-16 23:07] TheHunter commented on #3095
Hi all,
I've found the problem.. and the problem is on values.yaml values example for this chart, on Rabbit configuration property :

![image](https://user-images.githubusercontent.com/992665/87731025-b3602d00-c7c9-11ea-82ab-95be5ef4d843.png)

And the solution is:

![image](https://user-images.githubusercontent.com/992665/87731061-d1c62880-c7c9-11ea-88ac-527eaa807f7d.png)

Thanks a lot for the sup

[2020-07-17 00:15] fifa451 commented on #2973
@lukejpreston I think @marcosbc  is right, my previous suggestion isn't the right direction.  If the chats add the `existingClaim` then, we can have volume format like this to reclaim the existing Volume.

e.g.

[code]

[2020-07-17 04:44] emerson131 commented on #2588
Ive been having the same issue and i did see the comments on this closed ticket but i wasnt able to successfully mount the requirements.txt file to the location /bitnami/python/requirements.txt since there is an existing python executable at the same location.

sudo docker run -d --name airflow -p 8080:8080 \
  -e AIRFLOW_FERNET_KEY=xxxxx \
  -e AIRFLOW_EXECUTOR=CeleryExecutor \
  -e AIRFLOW_DATAB

[2020-07-17 06:06] rg2609 commented on #3120
@marcosbc, Thank you for your reply
I got your point on how to add VPA in Postgres. VPA evacuate the pod and restart it, is there any harm or chance of any data loss.

[2020-07-17 07:24] juan131 commented on #3096
I created a PR to include the `RABBITMQ_MNESIA_DIR` env. var. I'm just waiting for someone from the team to review it

[2020-07-17 07:30] juan131 commented on #2682
Hi @HenriqueLBorges

I would try first to increase the log verbosity as I mentioned in my previous comment. That said, you can replace the `pg_isready` probe with some query to the database (e.g. listing databases or sth like that).

One important thing you can do is to relax the frequency of the probes. The default "periodSeconds" value for the readiness&livenessprobes is set to 10 seconds. You c

[2020-07-17 07:53] rafariossaa commented on #3127
Hi,
  That behavior is weird, I can not reproduce it.
  Let's try a default deployment, connect to pgpool node  and create a database and a table in the new database. Then check in the postgresql nodes if the new database and table have been replicated.
  These are the steps I followed.
- Install the chart with the default settings, use a new name for the deployment this is to avoid reusing the PV

[2020-07-17 07:53] javsalgar commented on #3095
Hi,

Thank you very much for letting us know! We will the issue, but feel free to submit a PR to speed up the process.

[2020-07-17 07:57] rafariossaa commented on #2697
Hi,
  This was originally reported with chart version 10.6.15, current version is 10.7.11.
  Could you indicate which chart version are you using ?

[2020-07-17 08:05] javsalgar commented on #3141
Hi,

I've been unable to reproduce it with the regular commands. After killing and restarting the consumer rejoined without issues.

![image](https://user-images.githubusercontent.com/1133777/87763421-0dd2ab00-c815-11ea-845b-7a57bc01770b.png)

Could you let me know the exact commands that you used to trigger the issue?

[2020-07-17 08:11] rafariossaa commented on #3074
Hi,
  Could you share the logs for the pods ?
  Have you tried a new clean default deployment ? Just to check the deployments go well in you kubernetes cluster.  Then you can delete it (PVCs included) and start adding, one by one, other parameters like the user/password.

[2020-07-17 08:16] akshaysharama commented on #3141
@javsalgar
Are you using kafka cli?

We are having an client (which using confluent-kafka-go).
Here is the configuration of client
[code]
we are running go binary in built the confluent-kafka-go (master branch) and librdkafka(1.4.0)

[2020-07-17 08:19] phlegx commented on #2697
I'm on version `10.5.7`. Will upgrade. Thanks!

[2020-07-17 08:23] TheHunter commented on #3095
Hi,
perfect, I've just created an PR.

[2020-07-17 08:33] javsalgar commented on #3141
Hi,

Yes, I'm using the kafka cli and it works there. Not sure if the issue could be located in the go library then. Did you try contacting the devs about that?

[2020-07-17 08:40] lukejpreston commented on #2973
I will have a look at making a PR!

Thanks for the help, I don't think this issue needs to stay open but I will leave that with you to decide if you want to close it.

[2020-07-17 08:43] akshaysharama commented on #3141
Hi,

Yes, i've raised same in confluent also.

[2020-07-17 08:45] BenchmarkingBuffalo commented on #3127
Hi,
the above steps work for me as well. But what happens in your setup, when you delete the primary pod?
In my setup the standby takes over and from there on, the replication is not working anymore.
In fact, the former master gets restarted twice and during the second restart, it clones the database from the new master.
But if you create a new table after the new standby is fully ready, the new t

[2020-07-17 08:57] #3096 closed

[2020-07-17 09:44] michael-bouvy commented on #2956
Hi @miguelaeh, sorry for late reply ; I think running the dependencies update command is not applicable in this context, as I am using the remote chart with a standalone helm command, without any chart config.

[2020-07-17 10:04] mzwettler2 opened #3146 "required software missing"
1)
I downloaded the postgres chart.
Trying to build the container I realized that I cannot download anything from:
DOWNLOAD_URL="https://downloads.bitnami.com/files/stacksmith
How / where do I get the required tar.gz archive?

2)
How can I install additional postgres extensions not included with the tar.gz archive mentioned above?

Thanks, Markus

[2020-07-17 10:57] shaekhhasanshoron commented on #3091
@andresbono I ran the command and deployed the descriptor without changing anything. But still slave pod are not working for 'mysql:5.7.30-debian-10-r53' whereas its working for 'mysql:8.0.19-debian-10-r21'.  The master pod is running successfully for both tags and I have also successfully connected those with MySQL client. I have tried both ways, first I have tried deleting all PVC and run those

[2020-07-17 11:02] TheHunter commented on #3074
A similar error I've had when I've removed my chart e reinstall with the new chart version.. the problem was resolved removing Persistent Volumes.
My deployment is done on AKS, and I use persistent volumes, but when you removing chart, volumes aren't removed automatically.. if you try to remove manually and you start a clean installation, maybe this problem is resolved itself.

[2020-07-17 12:44] Iamcerba opened #3147 "[bitnami/kafka] Error while accessing from the outside"
**Which chart**: kafka

**Description**:
I've installed the chart in Azure AKS according to the instructions. Exposed public IP address for the bootstrap server and every broker. I'm able to connect using kafka-client to brokers, but unable to connect to the bootstrap server.

**Steps to reproduce the behavior**:
1. kubectl create namespace kafka
2. helm update dependency
3. helm install kafka . -

[2020-07-17 12:46] unacceptable commented on #2061
@jmarcos-cano fantastic find!  I reckon if you're using [helmfile](https://github.com/roboll/helmfile) you can apply a cleanup hook: https://github.com/roboll/helmfile#hooks

[2020-07-17 13:39] Iamcerba commented on #3147
Also, I have seen a similar issue in Closed ticket: https://github.com/bitnami/charts/issues/1572

[2020-07-17 13:53] joancafom commented on #3140
Hi @PhoneixS !

Thanks for posting your issue. It would be a nice feature for sure, and we already have some other charts that support it (see [EJBCA](https://github.com/bitnami/charts/tree/master/bitnami/ejbca) or [Discourse](https://github.com/bitnami/charts/blob/3250b3dfd96d1f5a20bf8e5d2a383259d1e8fcdd/bitnami/discourse/values.yaml#L342), for example). We can implement that in our side, or if y

[2020-07-17 14:10] dbrennand commented on #2797
Hey everyone 😄
I am also very interested in these dashboards being added! 👍

[2020-07-17 14:23] marcosbc commented on #2973
Awesome, thanks! I'll keep this open for now. I'm adding the `on-hold` label so it doesn't close.

[2020-07-17 14:24] connec commented on #2797
Something I came across and hoped to see in the Bitnami charts is grafana operator: https://github.com/integr8ly/grafana-operator

In a high automated cluster with prometheus operator and other elements in the BKPR, something like Grafana Operator would make a lot of sense to me.

[2020-07-17 14:25] marcosbc commented on #3120
Note that PostgreSQL data is persisted with PVCs, so you should not worry about data loss. And since the amount of nodes doesn't change, you should not see new volumes being created or other volumes being deleted either.

[2020-07-17 14:52] rafariossaa commented on #3130
Hi,
  Thanks for noticing this.
   I have created an internal task to fix this because the changes needed can have lateral effects in other charts that use this one.
  We will come back as soon as we have news.
  In any case, PR will be welcome and we will be glad to review it.

[2020-07-17 14:56] rafariossaa commented on #2260
Hi,
  Sorry for the delay.
   You can force `safe_to_bootstrap` by using `galera.bootstrap.forceSafeToBootstra`, please take a look to [this section](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera#user-content-bootstraping-a-node-other-than-0) in the readme.
  Could you give it a try and see if this is what you need ?

[2020-07-17 15:13] cbrendanprice commented on #1880
if it helps with diagnosing this issue further, i found that i was able to consistently reproduce this error by overriding values for the `postgresql.securityContext`. for example, running with this:
[code]
would fail every time, no matter what i tried (e.g. [scaling the statefulset down and deleting the pvc as *mboutet* suggested](https://github.com/bitnami/charts/issues/1880#issuecomment-6475532

[2020-07-17 15:48] akshaysharama commented on #3141
Hi @javsalgar

with static membership, after broker restarts there would be no rebalancing of consumer right?

[2020-07-17 17:07] ianhlee commented on #2977
oops, forgot to follow up. Thank you so much @andresbono

[2020-07-17 18:19] ianhlee opened #3151 "[bitnami/mongodb] when metrics disabled, metrics-svc.yaml should not be created"
**Which chart**:
mongodb

**Describe the bug**
when metrics.enabled: false, metrics-svc.yaml content should be generated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to values.yaml file
2. Change metrics.enabled from true to false
3. Run helm install or helm template to see metrics-svc.yaml content is generated

**Expected behavior**
metrics-svc.yaml content should **NOT** be generated

[2020-07-17 19:52] nguse opened #3153 "Access denied on https://charts.bitnami.com/index.yaml"
**Describe the bug**
Currently receiving 401 access denied on https://charts.bitnami.com/index.yaml, this was working before today

[2020-07-17 20:53] gittadesushil opened #3154 "Not able to access running kafka using port forward from outside the cluster"
**Which chart**:
helm install my-release bitnami/kafka

**Describe the bug**
Fort forward is not allowing me to access running kafka service.

Command I run to install helm charts:
[code]

**To Reproduce**
Steps to reproduce the behavior:
my-release-kafka-0-external is successfully running on my cluster
NAME                                      TYPE           CLUSTER-IP    EXTERNAL-IP   PORT(S)
my

[2020-07-17 22:30] TheHunter commented on #3095
It's impossible to understand the problem on PR, so the solution is here in this issue

[2020-07-17 23:52] #2929 closed

[2020-07-17 23:52] #2360 closed

[2020-07-17 23:52] #2759 closed

[2020-07-17 23:52] #2932 closed

[2020-07-18 08:22] beltran-rubo commented on #2992
There were several new versions of Harbor Chart since you reported the issue, could you please check if you can still reproduce it with the latest version 6.0.10 ?

[2020-07-18 08:43] alextes commented on #2963
@dani8art it's resolved for me actually! I figured out how to do this, totally forgot about this issue and [created a feature request](https://github.com/bitnami/charts/issues/3031) explaining what the chart would need to do.

[2020-07-18 08:43] #2963 closed

[2020-07-18 09:03] tschale commented on #3130
Thank you! I'll keep it in mind, but I don't think I'll be able to work on a PR in the short term...

[2020-07-18 11:10] rajan123456 commented on #3153
I have been using https://charts.bitnami.com/bitnami/index.yaml and it is still working correctly.

[2020-07-18 13:05] avinashbo commented on #3153
Was working well yesterday

$ helm repo add bitnami https://charts.bitnami.com
Error: Looks like "https://charts.bitnami.com" is not a valid chart repository or cannot be reached: Failed to fetch https://charts.bitnami.com/index.yaml : 403 Forbidden
$

[2020-07-18 17:47] cybercoder opened #3156 "Install postgresql-ha on a bare-metal"
I did install k8s using ```kubeadm```, then create a PersistentVolume :

[code]
and ```chmod 777 -R /opt/bitnami``` (I don't know which permission to set! I am running ```kubectl``` as root user in ubuntu but it says i've not enough permissions to write on volume!)
and a pvc:

[code]

Then i did install the chart using helm:

``` helm install n1-pgsql bitnami/postgresql-ha --set persistence.existi

[2020-07-18 19:22] beltran-rubo commented on #3153
Hi,

This was an old repository location, it was moved to https://charts.bitnami.com/bitnami in 2018 and we were keeping a redirection. Due to a HTTPS to HTTP redirection, we recently removed the redirection and added the instructions to the proper location in the HTML site, sorry for the inconvenience.

Please use https://charts.bitnami.com/bitnami as the Helm repository.

[2020-07-18 20:09] SayakMukhopadhyay opened #3157 "Error executing 'postInstallation': EPERM: operation not permitted, utime '/bitnami/wordpress/.restored' on a fresh insta;;"
**Which chart**:
wordpress:9.3.20

**Describe the bug**
I am trying to install wordpress inside a custom kubernetes cluster (not AKS) inside Azure. I am deploying with 3 replicas and as mentioned in the docs, I am setting `persistence.accessMode: ReadWriteMany`. For Azure, AzureFiles is the only storage mechanism which supports `ReadWriteMany` and it is registered as a storage class in the cluster

[2020-07-19 14:07] dani8art commented on #2992
Hi @nagyclaudiu83, sorry for my late response. We did the changes and created a symbolic link between registry_DO_NOT_USE_GC and registry, so that you should be able to run it from the UI.

You can check it by executing:

[code]
Hopefully it fixes your problems. Please do not hesitate to contact us if you find any other problem.

[2020-07-19 18:43] mboutet opened #3158 "[bitnami/etcd] Error while upgrading from 4.8.9 to 4.8.14"
**Which chart**:
etcd-4.8.14

**Describe the bug**
Error updating chart from 4.8.9 to 4.8.14

**To Reproduce**
Steps to reproduce the behavior:
1. Install etcd-4.8.9
[code]
2. Upgrade the chart to 4.8.14 with `etcd.initialClusterState=existing`
3. See error
[code]

**Expected behavior**
It should work (it used to work up to 4.8.9 at least)

**Version of Helm and Kubernetes**:

- Output of `helm ve

[2020-07-19 19:05] mboutet commented on #3158
Perhaps it is related to https://github.com/bitnami/charts/commit/90af20ff79a6887bf8faa92ccd883fbaba182674#diff-19460662a12c6ee96419d91626b52331?

I think the bug just showed now for me since none of my etcd pods restarted after the initial install of the 4.8.9 chart.

[2020-07-19 21:44] a01fe opened #3159 "[bitnami/wordpress] mariadb readiness probe fails"
**Which chart**:
bitnami/wordpress-9.3.21

**Describe the bug**
The `wordpress-maria` stateful set is stuck in a crash loop because the `wordpress-mariadb-0` pod's readiness probe fails with:

[code]

It worked ok after the initial `helm install` but now fails as above after nodes were restarted for installing OS updates.

`/opt/bitnami/mariadb/tmp/mysql.sock` does not exist in the container:

[co

[2020-07-19 21:52] cybercoder commented on #3156
every pod needs it's pv, i found i can't share a pv between pods automatically.

[2020-07-19 21:52] #3156 closed

[2020-07-20 04:15] #2953 closed

[2020-07-20 04:15] #2933 closed

[2020-07-20 04:15] #2941 closed

[2020-07-20 06:30] juan131 commented on #1880
Thanks so much for sharing your valuable insights @cbrendanprice !! We really appreciate it!

[2020-07-20 06:40] carrodher commented on #1788
I can't see the relation between the `MARIADB_INIT_SLEEP_TIME` env. variable and the issue, so maybe what makes the difference was the restart or reapply the values. Anycase, we're glad that you were able to fix the issue

[2020-07-20 06:46] #3153 closed

[2020-07-20 07:56] andresbono commented on #2883
FYI @mohamedih, https://github.com/bitnami/charts/issues/2946#issuecomment-658574054. You might find it useful.

[2020-07-20 08:03] javsalgar commented on #3141
Hi,

I have not much experience with static membership, is it something that can be set in the kafka cli?

[2020-07-20 08:08] javsalgar commented on #2956
Hi,

This is a warning due to the resources value not being set as `{}` by default. In this PR I set the value https://github.com/bitnami/charts/pull/3149

[2020-07-20 08:27] nashpaz123 commented on #3135
that seems to work (no errors),
unfortunately describe pods gives: "image "
registry-intl.cn-shenzhen.aliyuncs.com/xxxxxx/rabbitmq:1" already present
on machine" so I have no way to be sure the secret's working (no access to
the nodes). But the syntax seems fine. Thanks!

On Thu, Jul 16, 2020 at 12:31 PM Rafael Ríos Saavedra <
notifications@github.com> wrote:

--
-נחשון פז-

[2020-07-20 09:07] TK0L commented on #3074
Hello, thanks for the tip, I'll give it a try to remove PVCs and do full reinstall and let you know how it goes. However this seems odd, because I was thinking it does not delete persistent storage for a reason, we're running this  on prod environment and i suppose when doing upgrade/reinstall rabbit puts all unfinished queues to that storage, so removing it means, i'll loose data.

[2020-07-20 10:12] kev24uk opened #3161 "[mongodb] Unable to deploy replicaset due to bug in portName"
**Which chart**:
mongodb

**Describe the bug**
Attempting to deploy a mongodb replicaset gives the following error:

```Error: template: mongodb/templates/replicaset/external-access-svc.yaml:31:22: executing "mongodb/templates/replicaset/external-access-svc.yaml" at <.Values.service.portName>: can't evaluate field Values in type int```

**Expected behavior**
A clear and concise description of what

[2020-07-20 10:20] andresbono commented on #3113
You might try to remove the PVCs created for the deployment in addition to the `helm uninstall`. Make sure you don't mind removing them. That way, you will start from a totally new, clean deployment.

It is a very weird issue indeed.

---

There shouldn't be any issues with restricted networks to global internet.

[2020-07-20 10:22] andresbono commented on #3138
Thank you very much for the suggestion, @mnorrsken!! Would you like to open a PR addressing the changes? Contributions are more than welcome 👍

[2020-07-20 10:26] mnorrsken commented on #3138
Not done anything like that before but ill try. I also think i have to test it with different security settings.

[2020-07-20 10:26] joancafom commented on #2805
Hi again,

We are currently making improvements to prevent this issue from happening. You can check this PR for further details 😄, but we plan to log some errors when some required fields were not provided in the upgrade.

Thanks for your issue!

[2020-07-20 10:30] javsalgar commented on #2797
Hi,

Thank you very much for the input! I will forward it evaluation. Other users contributed with a helm chart PR (Contour, Discourse, MetalLB, ASP.Net Core) which did speed up the process of packaging. Feel free to contribute if you want us to maintain a Grafana Operator chart :)

[2020-07-20 10:32] dbrennand commented on #2922
Hey guys, Is commit [3c3f801](https://github.com/bitnami/charts/commit/3c3f801156d19f2cbb94a5d31e79c4af80a7e364) the new release? Did you guys sort it? 😄
@dani8art @miguelaeh

[2020-07-20 10:53] andresbono commented on #3091
It seems like `mysql-test` is not resolvable. Can you list the services?

This is what we get:

[code]

[2020-07-20 11:18] andresbono commented on #2967
Hi @zenbones, this issue has been stale for a while. Is there anything that requires our attention or anything we can help you with? Was the reference we shared useful for you?

[2020-07-20 11:18] rafariossaa commented on #3135
Hi,
  Maybe you can try setting:
[code]
  And checking if it is pulling the image again.

[2020-07-20 11:25] borgez commented on #2805
@joancafom Great, thank you!

[2020-07-20 12:24] rafariossaa commented on #3000
Hi,
  Could you try with chart version 3.1.2 ?

[2020-07-20 12:35] rafariossaa commented on #2260
Hi,
  You can indicate the node number in `galera.bootstrap.bootstrapFromNode`.

[2020-07-20 12:54] rafariossaa commented on #3127
Hi,
   Thanks for detailing it, I was able to reproduce it.

[2020-07-20 13:28] #2992 closed

[2020-07-20 13:28] nagyclaudiu83 commented on #2992
Thank you for the fix.

[2020-07-20 13:51] andresbono commented on #3157
Hi @SayakMukhopadhyay, thank you very much for the analysis on the performance issues with Azure files. There is not so much we can think about to solve the issue. You might try by changing the security context options for the WordPress pods. That way, it is possible that you don't need to tweak the mount options of the storage class: https://github.com/bitnami/charts/blob/8d0240ec3b35587a4b78e573

[2020-07-20 14:30] yghern opened #3166 "Unable to deploy chart using terraform: 403 forbidden on index.yaml"
Hello.
I am using terraform to deploy one of your helm modules (external-dns). Since yesterday my terraform started getting 403 error when trying to access https://charts.bitnami.com/index.yaml (I tried to access it using Terraform itself, browser and wget@linux). The same code run successfully for several weeks now without any change from my side, so I narrowed it down to change in your configura

[2020-07-20 14:33] iamwithnail commented on #3166
I had this this morning.  The address you have is an older one that isn't being forwarded anymore - if you replace the repository url with `https://charts.bitnami.com/bitnami` it'll go back to working.

[2020-07-20 14:37] rafariossaa commented on #3158
Hi,
  I was not able to reproduce the issue.
  I tried the following:
- Installation:
[code]
- Upgrade:
[code]

 About the indicated commit [90af20f](https://github.com/bitnami/charts/commit/90af20ff79a6887bf8faa92ccd883fbaba182674#diff-19460662a12c6ee96419d91626b52331) , I can not see the connection with your issue.

[2020-07-20 15:36] yghern commented on #3166
Yup I can now confirm that updating repo URL fixes the problem

[2020-07-20 15:36] #3166 closed

[2020-07-20 15:53] ddcprg opened #3168 "[bitnami/zookeeper] Replace liveliness and test probes with a proper zookeeper command"
**Which chart**:
bitnami/zookeeper

**Describe the bug**
Too many exception due to pod probes.

**To Reproduce**
Let the pods run for a bit and check the logs
[code]

**Expected behavior**
No logs due to HC tests

**Version of Helm and Kubernetes**:
zookeeper-5.17.3

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
References:
- https://kubernetes

[2020-07-20 16:12] joancafom commented on #3154
Hi @gittadesushil !

Thanks for posting your issue. There is a step I don't really understand, but maybe you can provide me with a little bit more context:

I guess you are trying to forward traffic from your localhost:8080 to cluster's 9094 but I think there is no need to (and that in fact, would not be considered external traffic). Since you are using NodePort, you may find more convenient to di

[2020-07-20 16:25] joancafom commented on #3147
Hi @Iamcerba ,

Thanks for your issue. I have a couple of question that will help me bound a little bit more the problem:

1. Where did you execute the `nslookup` command you mentioned above? We must ensure that the address is resolvable from **within** the container we are trying to establish the connection.
2. Have you tried using the solution found in the other post?
3. If instead of using the

[2020-07-20 17:40] LucaPrete opened #3169 "[bitnami/discourse] Administrator account is not set"
**Which chart**:
Discourse 0.1.7

**Describe the bug**
The first time I start Discourse and I navigate to the home page I get the following message:

[code]

**First issue: ** the email has been provided through the *DISCOURSE_EMAIL* env variable (see the configmap file of the chart). Why the GUI still asks to create an account?

**Second issue: ** Clicking on the link "create an administrator acc

[2020-07-20 18:17] SayakMukhopadhyay commented on #3157
Hi @andresbono , thanks for the response. Right now, I am using the production spec provided with the chart which uses the above values already
[code]
I realise that the performance issue is not within your control but the fact that the same `securityContext` values creates difference file/folder perms for Azure Disk and Azure File is weird and I was hoping if you would have some insight into it.

[2020-07-20 18:32] Iamcerba commented on #3147
Hey @joancafom,

Experienced issues installing "dnsutils" on the pod with Kafka node. I used a separate ubuntu pod within the same namespace for nslookup. Let me try to use Kafka pod.

I tried, it hadn't helped.

Yes, I tried DNS as well as public IPs.

[2020-07-20 19:11] ddcprg commented on #3168
We will be happy to contribute the patch if this is accepted

[2020-07-20 19:23] machine424 commented on #3096
Thanks, I thought it was to be added in https://github.com/bitnami/bitnami-docker-rabbitmq/blob/master/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L48, so the docker image is useable out of the box if one wants to run it directly.