[2020-06-01 20:33] felixfriedrich commented on #2693
And another test: If I paste a correct db config into `/opt/bitnami/config/databases.yml` I can run `bundle exec rake redmine:send_reminders days=7 users="3" RAILS_ENV="production"` and it succeeds.

Is there anything else the `nami` tools takes into account to generate the Redmine config? I mean, I wonder what that might be as all the container gets is env vars.

[2020-06-02 07:24] juan131 commented on #1279
Hi everyone,

I'd like to share with you that we introduced today some major changes in the latest revision of the Kafka Docker image, and the latest version of the Kafka Helm chart.

These changes, introduced in the chart version `11.0.0`, refactor how listeners and authentication are configured on Kafka, allowing you to have different listeners for different purposes, and configure different aut

[2020-06-02 07:28] javsalgar commented on #2719
One thing that comes to mind. Could you let us know if you are using a password that has any special character? I'm not sure if there's any validation issue there.

[2020-06-02 07:32] javsalgar commented on #2693
I believe the key is that you are directly executing nami initialize but the container logic is launching another function

https://github.com/bitnami/bitnami-docker-redmine/blob/master/4/debian-10/prebuildfs/opt/bitnami/base/helpers#L35

That function is reading the env vars and generating the proper parameters. Could you try using that function instead?

[2020-06-02 07:33] #2722 closed

[2020-06-02 08:11] joancafom commented on #2711
Hey @liyuntao

Thanks for your explanation! There are two main ideas that comes to my mind for what you want to do. I will try to explain them and you can tell me if they are a valid option to you 😁.

There are two concepts in Kubernetes called [_Jobs_](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) and [_CronJob_](https://kubernetes.io/docs/concepts/workloads/c

[2020-06-02 10:54] GCHQDeveloper926 opened #2735 "[bitnami/mariadb] Add support for setting pod labels"
**Which chart**:
MariaDB

**Is your feature request related to a problem? Please describe.**
I am trying to set pod labels so I can run KubeMonkey in my cluster

**Describe the solution you'd like**
Similar to https://github.com/bitnami/charts/issues/1873 I'd like to add support for setting podLabels in a similar way to how annotations are done.

**Describe alternatives you've considered**
Labelli

[2020-06-02 10:58] carrodher commented on #2704
You're welcome! I just launched the PR in our internal test & release pipeline, once released this issue is going to be automatically closed and you will find the new chart version after run `helm repo update`.

[2020-06-02 10:59] felixfriedrich commented on #2693
I am happy to say, it worked with this command:

[code]
Thanks for all your help!

It would be great if it was possible to only invoke the config part, because now the `nami` tool also performs a database migration, which isn't needed at this point.

[code]

I could use the cron job definition as it is now, but I am happy to create a PR for the helm chart, if you are open to accept it. Are you?

[2020-06-02 11:28] marcosbc commented on #2735
Hi @GCHQDeveloper926! You're right, currently the MariaDB chart is missing that. We would really appreciate if you contribute and send the PR, we'll be happy to review it. Thanks!

[2020-06-02 12:35] #2704 closed

[2020-06-02 13:35] GCHQDeveloper926 commented on #2735
Great, I'll get started on this!

[2020-06-02 14:10] jeusdi commented on #2679
Sorry @dani8art I'm using `7.4.3`.

Here events:

[code]

and here logs:
[code]

I've tested using this command line:

[code]

Current pods:

[code]

Is there any way to get more detailed logs?

[2020-06-02 17:34] deton57 commented on #2719
changed the password to: **G1asbj1231231** still same issue..

php     TRACE [runProgram] Executing: /opt/bitnami/php/bin/php magento,setup:install,-v,--base-url,http://193.122.10.147/,--backend-frontname,admin,--db-host,<my-db-ip>:3306,--db-name,bitnami,--db-user,bitnami,--db-password,G1asbj1231231,--admin-firstname,FirstName,--admin-lastname,LastName,--admin-email,user@example.com,--admin-user,u

[2020-06-02 17:34] dani8art commented on #2726
Hi @jkralik, we have just release a major version of this chart, could you test with the latest version and see if it works? `helm repo update` and try with the latest one `11.0.0`.
Thanks!

[2020-06-02 21:14] nungster opened #2737 "Postgres-ha does not deploy using values-production.yaml"
**Which chart**:
postgres-ha

**Describe the bug**
Tried to deploy chart to Azure using the values-production.yaml.  Node 0 will come up with both metrics and postgresql containers running.  Node 1 metrics will come up but the postgresql container will timeout waiting on primary.  Primary is not accessible.

**To Reproduce**
helm install my-release bitnami/postgresql-ha -f helm-values.yaml --names

[2020-06-03 02:46] xrow opened #2738 "[bitnami/redis] cluster-create script stuck"
**Which chart**:

[code]
**Describe the bug**
The create script is is tuck after "Waiting for the cluster to join"
[code]

**To Reproduce**

just do a normal run wiht the chart. I must admit sometimes it works, but mostly it doesn`t. The script doesn`t seem fail save all the way.

**Expected behavior**
script to exit without error

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[2020-06-03 08:33] javsalgar commented on #2693
Hi,

I think that it is something so specific that I don't see much sense in adding it as a value with a feature. If it was something that more users requested, that could be something to evaluate.

However, as an alternative, what we are adding to the charts is a value called `extraDeloy` where it allows you to add any custom YAML you want (something similar with what you would do with an umbrell

[2020-06-03 08:46] javsalgar commented on #2719
Hi,

Just to confirm. You said that the external database is empty, could it be that you did not create the user and database for Magento? Also, I see this parameter, could you confirm that this is correct?

[code]

It seems that it is missing the IP

[2020-06-03 09:40] deton57 commented on #2719
Yes, I created the user "bitnami" as I mention the values.yaml.
it could connect, but after it I got the error.

[2020-06-03 09:45] felixfriedrich commented on #2693
I don't really understand why you consider this feature specific given it's an official Redmine feature. The Redmine developers deemed it important enough to develop it in the first place, so it must be somewhat needed by users.

Putting the yaml of the cronjob in the values.yaml file doesn't have any benefits, does it? Values, like the image name, still need to be changed manually. I'd rather kee

[2020-06-03 09:45] #2693 closed

[2020-06-03 09:47] QwertyQaz414 opened #2741 "[Bitnami/redis-cluster] Add PodDisruptionBudget to template"
Hi,

I can't seem to find a PDB field option for redis-cluster. Am I missing something? It would be very useful to have one!

[2020-06-03 10:12] marcosbc commented on #2673
Hi, we have already released the improvements to the MySQL container image. Version `6.14.2` of the chart should already include it, but you can also use the container tag `8.0.20-debian-10-r37` if you want to avoid upgrading the chart, for now.

[2020-06-03 10:46] GCHQDeveloper926 opened #2742 "[bitnami/rabbitmq] add pod labels to statefulset metadata"
Which chart:
RabbitMQ
Is your feature request related to a problem? Please describe.
I am trying to set pod labels so I can run KubeMonkey in my cluster (mariaDB (done) and rabbitMQ). Labels also need to be applied to the statefulset metadata labels.

Describe the solution you'd like
Similar to #2735  I'd like to add support for podLabels applied to metadata as well as the pod.

Describe alternati

[2020-06-03 10:48] #2735 closed

[2020-06-03 11:28] jkralik commented on #2726
@dani8art Yes it is working with `11.0.0`. What I need to do If I want to change `externalAccess.service.port` to `9092` ? I found that I need to change `service.port`, `service.internalPort` , because listeners cannot listen on same port.

[2020-06-03 11:29] runar-indico opened #2743 "DokuWiki: Cannot access after helm upgrade"
**Which chart**:
 dokuwiki-6.0.18

**Describe the bug**
Cannot access the container via browser, after simple upgrade.

 I believe it may be due to some traffic being sent ass https to port 80 or similar, since the container prints this in the logs for every request:

[code]

**To Reproduce**
Steps to reproduce the behavior:
I did a simple upgrade, by only adding an annotation with `nginx.ingress.

[2020-06-03 11:36] jkralik commented on #2726
With this cfg it's not working:
[code]
and Kafka produces error:
`[2020-06-03 11:35:25,994] WARN [Controller id=0, targetBrokerId=0] Connection to node 0 (kafka-0.kafka-headless.streaming.svc.cluster.local/172.17.0.20:19093) could not be established. Broker may not be available. (org.apache.kafka.clients.NetworkClient)`

[2020-06-03 11:37] runar-indico commented on #2743
I believe this may have something to do with us using ClusterIP here, and that the service is using the http-port

[2020-06-03 14:36] Blimes opened #2746 "[bitnami/kafka] replication not working with values-production. Wrong broker.id in meta.properties"
**Which chart**:
The name (and version) of the affected chart
bitnami/kafka latest

**Describe the bug**
Using production-values.yaml only one broker start.
CrashLoopBackOff for slave brokers with message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. helm install kafka bitnami/kafka -f production-values.yaml

my production-values is edited as follow:

[code]

**Expected behavior**

[2020-06-03 15:29] nungster commented on #2737
I got my chart to deploy using the production values.  There should be an entry in the values file if a network policy is applied as in the case for the production values.
The postgresql pod needs to have a value for podLabels to label the pod as a client.

At line 130
podLabels:
    <deployment name>-postgresql-ha-client: "true"

[2020-06-03 16:46] ishfid4 opened #2748 "Missing customization of annotations in pod template section for Kafka Exporter"
**Which chart**:
Kafka chart.

**Describe the bug**
Kafka exporter deployment changed, therefore there is no possibility to add custom pod annotations in section _spec.template.metadata.annotations_ . I've noticed that in versions 9.0.0+. Previously this possibility was present since version 7.4.0
In order to use DataDog auto-discovery feature (https://docs.datadoghq.com/agent/autodiscovery/), the

[2020-06-03 16:51] #2378 closed

[2020-06-03 16:51] #2381 closed

[2020-06-03 16:51] #2574 closed

[2020-06-03 16:51] #2433 closed

[2020-06-03 17:03] dm3ch opened #2749 "[bitnami/redis] Call failover while gracefull shutdown of master"
**Which chart**:
bitnami/redis 10.6.18

**Is your feature request related to a problem? Please describe.**
When you are gracefull killing redis pod that is current master, election of new master starts only after configured timeout.

**Describe the solution you'd like**
I think it would be a good idea to add preStop hook for all sentinel containers. It should check if pod is actual master and trig

[2020-06-03 20:24] WarheadsSE commented on #2749
This was bumped into while exploring turning on native `bitnami/redis` dependency with Sentinels @ https://gitlab.com/gitlab-org/charts/gitlab/-/issues/2132#note_353985755

[2020-06-04 00:23] tarpanpathak opened #2750 "[bitnami/mongodb] Initial Deployment Failures"
**Which chart**:
bitnami/mongodb:3.6.17-ol-7-r26

**Describe the bug**
We are trying to deploy a new MongoDB cluster using [this](https://github.com/bitnami/charts/blob/master/bitnami/mongodb/values-production.yaml) file but the `arbiter` is failing to come up with the following message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run: `helm install my-release bitnami/mongodb`
2.

[2020-06-04 01:17] ggillies opened #2751 "[external-dns] Automatic creation of secret for Cloudflare is broken"
**Which chart**:
external-dns chart version 3.1.1

**Describe the bug**
When you attempt to use the cloudflare provider, and pass `cloudflare.email` and `cloudflare.apiKey` through use of helm values, you get a secret created by the chart, but the deployment doesn't use it.

**To Reproduce**
Steps to reproduce the behavior:

* Create a values file with the following
[code]
* Use helm diff to see w

[2020-06-04 06:59] juan131 commented on #2743
Hi @runar-indico

I'm missing the `ingress.enabled=true` parameter in your **values.yaml**:

[code]

Are you aware of it?

[2020-06-04 07:35] miguelaeh commented on #2737
Hi @nungster ,
I am glad you solved the issue.
Thank you for sharing your solution!

[2020-06-04 07:59] miguelaeh commented on #2749
Hi @dm3ch ,
Thank you very much for your suggestion,
would you like to open a PR for that feature? We will be pleased to review it.

[2020-06-04 08:32] dm3ch commented on #2749
I'll try to create PR with adding such logic

[2020-06-04 09:28] dani8art commented on #2679
Hi @jeusdi , yes please could you execute with `--set image.debug=true`

[2020-06-04 09:29] GCHQDeveloper926 commented on #2742
@marcosbc @miguelaeh just FYI this is a simplified version of the mariadb changes I made as this already had labels on pods

[2020-06-04 09:30] Blimes commented on #2746
I think the problem is in statefulset.yaml on line 176-177

Broker id is always -1 even if we comment line 100 of the values-production.yaml.
Any suggestion ?

[2020-06-04 09:48] dani8art commented on #2738
Hi @xrow I have tried to reproduce it but I couldn't, I have run

[code]

Please could you share a bit more detailed step by step of commands so that I could reproduce on my local?

[2020-06-04 10:43] dani8art commented on #2750
Hi @tarpanpathak, why are you using `bitnami/mongodb:3.6.17-ol-7-r26` `ol` version of the image? I would recommend using the latest version of the chart with the latest version of the image. We aren't supporting `ol` images currently. Please try:

[code]

[2020-06-04 10:49] juan131 commented on #2726
Hi @jkralik

Probably related to the hardcoded port in the listeners (despite the advertised listeners are correctly configured).

- Could you please share the whole values.yaml you're using?
- Could you also share the output of running the command below?

[code]

[2020-06-04 11:07] jkralik commented on #2726
@juan131 Sure:

[values.yaml](https://github.com/bitnami/charts/files/4729513/values.yaml.txt)
[cmd.output](https://github.com/bitnami/charts/files/4729533/cmd.output.txt)
Kafka logs:
[kafka-0.log](https://github.com/bitnami/charts/files/4729536/kafka-0.log.txt)

[2020-06-04 11:41] joancafom commented on #2741
Hi @QwertyQaz414

That would be a nice feature to have for sure. We will consider your request into account so as to enhance our Chart, but I can't give you an exact ETA at the moment. However, if you would like to contribute, you can send us a PR with the changes and we will be more than happy to review and include them!

Thanks!

[2020-06-04 13:29] andresbono commented on #2746
Hi @Blimes, in order to troubleshoot the values being set, you might find useful the following command:

[code]

[2020-06-04 14:34] joancafom commented on #2751
Hi @ggillies

I have been able to reproduce your issue and successfully checked that both `apiKey` and `apiToken` were susceptible to plaintext printing in the resulting output. I will implement changes to change this behaviour and use the secret that is already created.

Thanks for your reporting!

[2020-06-04 15:02] tarpanpathak commented on #2750
Hi @dani8art , thx for the responding. To answer your question - we are currently running version `3.4.20` and are looking to upgrade to `3.6`. Using `latest` will not work for us at this time due to the number of changes.

As suggested, I've just executed the following:
[code]
This returns a new error, as follows:
[code]
For the sake of testing, I tried running the latest version of the chart wit

[2020-06-04 15:10] jeusdi opened #2757 "[bitnami/spark] application logs are not reached"
**Which chart**:
[code]

**Describe the bug**
When I'm trying to get access to some details of a current running spark submited application via web interface, links are broken.

I mean, they are pointing to urls like:
* application ui detail: http://10.0.2.15:4040/
* stdout: http://10.130.2.112:8081/logPage?appId=app-20200604143941-0000&executorId=11&logType=stdout

As you can see, host of these u

[2020-06-04 17:51] sabbyanandan commented on #2346
Hi, @beltran-rubo. I wanted to follow-up if you have any updates for us.

[2020-06-04 18:01] beltran-rubo commented on #2346
Yes, we are pretty close to release the container images and you can see the PR for the Helm Chart at https://github.com/bitnami/charts/pull/2747. I will contact you once this first version is fully functional with the Bitnami container images.

[2020-06-04 20:55] st0ckface opened #2758 "Kafka Exporter Deployment requires $NAME-jaas secret even when auth is disabled"
**Which chart**:
bitnami/kafka

**Describe the bug**
The kafka-exporter-deployment template doesnt have any ability to remove a requirement on the $NAME-jass secret for the `SASL_USER_PASSWORD` environment variable, even when auth is not being used.

**To Reproduce**
`helm install kafka bitnami/kafka  --set metrics.kafka.enabled=true`
Notice that the pod created for the kafka metrics exporter is s

[2020-06-04 21:04] cglacet opened #2759 "postgresqlDatabase doesn't seem to have any effect"
**Which chart**: bitnami/postgresql

**Describe the bug**: Using minikube and setting `postgresqlDatabase` or `global.postgresql.postgresqlDatabase` to `my_database` in the configuration doesn't seem to have any effect (database is not created). I also tried using ` --set postgresqlDatabase=my_database` directly in the installation command line.

Even if the database is not create I can correctly

[2020-06-05 00:38] tarpanpathak commented on #2750
In case this helps anyone else, I was able to deploy the cluster successfully using the desired version by using the following parameter: `nameOverride: mongodb-ha`. I'll close this out for now.

[2020-06-05 00:38] #2750 closed

[2020-06-05 04:14] #2587 closed

[2020-06-05 04:14] #2500 closed

[2020-06-05 07:00] genughaben opened #2762 "wp-content cannot be found in destined persistent volume folder but in docker/overlay2"
Sorry if that's not a bug, but a feature... I'd appreciate an explanation nonetheless! Thank you for your help!

**Which chart**:
wordpress App version 9.0.3 used in rancher 2.4.4

**Describe the bug**
When I choose to save data in a persistent volume and persistent volume claim (created local-path-provisioner) the files are not saved in the destined folder, here:

[code]

 but in

[code]

and mul

[2020-06-05 07:21] rafariossaa commented on #2748
Hi,
  If you want add annotations to the metrics pods, as the example you gave, you need to enable the metrics and provide the annotations values.
  Could you try using version 10 of the chart and the following diff ?
[code]
The I can see it is generated in the resulting yaml.
[code]

[2020-06-05 08:15] Blimes commented on #2746
In each broker values set is "-1" (quoted)

[2020-06-05 08:50] javsalgar commented on #2693
Hi,

Thank you very much, let's see if more users request it.

About the extraDeploy array, note that everything would be templatized so you wouldn't need to manually set any image name or nothing of the sort.

[2020-06-05 08:52] felixfriedrich commented on #2693
I see, great, I'll look into this. Thanks!

[2020-06-05 09:50] tgdfool2 commented on #1278
Hi @mordf. Could you please elaborate on how you managed to get it working with your own certificates? Especially how the format of the `existingSecret` should look like. Thanks in advance!

[2020-06-05 10:04] pbn4 opened #2763 "[bitnami/elasticsearch] Mismatch between ServiceMonitor endpoint port name and service port name"
**Which chart**:
bitnamis/elasticsearch: 12.3.1

**Describe the bug**

Prometheus is not able to detect a service described by ServiceMonitor because it's spec.endpoints port name is 'metrics' whereas metrics service exposes 'http-metrics'.
I believe the fix is to change ServiceMonitor definition to use `http-metrics` but I am not 100% sure this doesnt brake anything else.

Attaching default yamls

[2020-06-05 10:11] miguelaeh commented on #2749
Thank you very much!

[2020-06-05 10:17] #2726 closed

[2020-06-05 10:28] miguelaeh commented on #2762
Hi @genughaben ,
I think that is more related to the Kubernetes cluster than the Helm Chart. In that way, it should not be a problem in order to persist the data.
If you want to use a specific full path in the host, I think you would need to config the PVC to use `hostpath` paths.

[2020-06-05 10:42] ThePoipoi opened #2765 "[Bitnami] External Access fails on Liveness/Readiness"
**Which chart**:
kafka-10.3.3

**Describe the bug**
We have two Kubernetes cluster (A and B); Kafka server is running on the cluster A. We want to allow access to a Kafka client from cluster B. To do that, we try to use the "ExternalAccess" option but fails on several points. Our last step : Readiness and Liveness probe both failed, even if we do not change anything on this point (except activate

[2020-06-05 11:14] #2193 closed

[2020-06-05 13:06] oxr463 opened #2769 "RabbitMQ missing metadata.name and metadata.namespace"
**Which chart**:

Catalog: rabbitmq
Template Version: 6.8.3

**Describe the bug**

I am receiving the following error:

[code]

Despite these being defined as seen below:

field | status.podIP | All | MY_POD_IP
-- | -- | -- | --
field | metadata.name | All | MY_POD_NAME
field | metadata.namespace | All | MY_POD_NAMESPACE
secret | rabbitmq | {{cookie}} | RABBITMQ_ERL_COOKIE
secret | rabbitmq | {{pa

[2020-06-05 13:21] andresbono commented on #2759
Hi @cglacet, we couldn't reproduce the issue. This is what we did:

1. Deploy the chart

[code]

2. Connect to the database and list databases:

[code]

The output shows the database:

[code]

What is the result in your case?

[2020-06-05 14:06] cglacet commented on #2759
What you showed here works for me too, I forgot to mention this only fails on subsequent databases (for some reason the first always works). Here is how it looks when I try to add a second database:

[code]

[2020-06-05 15:23] #2742 closed

[2020-06-05 15:54] AnthonyAlcalaBeltran commented on #2223
Any other version that works properly?

[2020-06-05 16:22] carrodher commented on #2758
I thanks for filling this issue, I will take a look and update this thread in a couple of days

[2020-06-05 20:27] borgez opened #2771 "$ in password break install chart"
**Which chart**:
postgresql-ha:3.2.9

**Describe the bug**
postgresql-0 cannot start with error in console
/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh: line 21: An9: unbound variable

**To Reproduce**
Steps to reproduce the behavior:
1. user password with $
4. publish chart

**Expected behavior**
any password allowed

[2020-06-05 22:49] argestes commented on #2674
Do you consider this a bug or is this intented behavior?

[2020-06-06 15:36] abhi1git commented on #1380
How are these symlinks by default getting configured from the PVC mount path (/bitnami/redmine) to actual redmine path (/opt/bitnami/redmine)
I cannot see any such configuration in helm chart about creation of symlinks.
I want to add symlinks for Gemfile and Gemfile.lock so that these files get updated after plugins are pasted in /bitnami/redmine/plugin folder and bundle install command is execute

[2020-06-06 16:08] wimtiaz14 commented on #2475
help to correct my code on update picture @wimtiaz14

[2020-06-07 07:43] tkam8 opened #2775 "[bitnami/prometheus-operator] telemetry port "already in use""
**Which chart**:
prometheus-operator-0.19.1

**Describe the bug**
When starting kube-state-metrics, it wants to bind the telemetry port to 8081, but already in use by another service. Need a way to change this port.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install release: helm install prometheus-release1 --namespace monitoring bitnami/prometheus-operator
2. Issue kubectl get

[2020-06-07 10:51] #2602 closed

[2020-06-07 12:07] malmuzaini commented on #1905
Hey
I am getting the same error on OCI OKE, using the helm chart version `1.2.0`!

[2020-06-07 13:01] malmuzaini commented on #1905
It turns out an extra hostPath `/u01/data` needs to be mounted.

[2020-06-07 14:51] #2594 closed

[2020-06-07 15:51] austinbv commented on #1380
@abhi1git we extended the image. Another way we found was to use our own volumes with the plugins in it then use a config map with a startup script that will allow us to install plugins

[2020-06-07 19:51] #2604 closed

[2020-06-07 20:51] #2591 closed

[2020-06-07 23:22] iMoses commented on #2697
I'm experiencing the same issue under the same conditions.. still seems like an issue that should remain open

[2020-06-07 23:52] iMoses opened #2776 "Could not connect to Redis: No route to host"
**Which chart**:
redis 10.6.18

**Describe the bug**
slave can't connect to master with this error
[code]
it seems that the address is wrong because i can connect only using `redis-master-0.stage0.svc.cluster.local:6379`
i think that `.redis-headless` appearing in the dns is the bug

**To Reproduce**
no idea.. happened after helm uninstall then install.

**Expected behavior**
dns should be correct

[2020-06-08 00:07] iMoses commented on #2776
further investigation proved that it was a dns refresh issue

[2020-06-08 00:07] #2776 closed

[2020-06-08 06:15] andresbono commented on #1380
@abhi1git, the symlinks are created as part of the initialization process of the container. Let us know if @austinbv approaches work for you.

[2020-06-08 07:07] #2751 closed

[2020-06-08 07:13] andresbono commented on #2759
Oh ok, @cglacet. Note that `postgresqlDatabase` only applies for the first initialization. Subsequent initializations are slightly different and take into account previous data. Volumes are persisted so your data (in this case, the old database) is preserved:

[code]

If you really want to delete everything, you will need to delete the volumes in addition to deleting the chart deployment.

But ple

[2020-06-08 07:58] andresbono commented on #2746
Hi @Blimes, it seems the `KAFKA_CFG_BROKER_ID` env-var is getting overwritten with the value of the index pod:

https://github.com/bitnami/charts/blob/bb63ebb107c76122db902fc779353ed6ba73aa6b/bitnami/kafka/templates/scripts-configmap.yaml#L65-L69

[2020-06-08 08:08] carrodher commented on #2769
Hi, in order to try to reproduce the issue, are you using the default parameters, or did you modify the `values.yaml` or use other parameters via `--set`? I would like to be able to deploy the chart with the same conditions, although it seems a specific issue in Rancher (see https://github.com/rancher/rancher/issues/18312).

Are you able to execute `env` in the container to check if those environm

[2020-06-08 08:19] michelefa1988 commented on #2612
@marcosbc  I have been testing various combinations of this. The command I have been running is

`` helm upgrade --install  test -f values.yaml  ./rabbitmq/ --set existingPasswordSecret=test-rabbitmq --set existingErlangSecret=test-rabbitmq
and
[code]

[2020-06-08 09:14] andresbono commented on #2771
Hi @borgez, thanks for opening this issue. What is the password parameter that you are using and that triggers the issue?

[2020-06-08 10:21] #2606 closed

[2020-06-08 10:43] cglacet commented on #2759
No, I don't want to delete the existing database, I want to create other databases for other services to use. Should I do it manually for all but the first one?

[2020-06-08 11:03] dani8art commented on #2763
Hi @pbn4, thank you for reporting this issue, I've just opened a PR for fixing that. I'll keep you updated.

[2020-06-08 11:15] joancafom commented on #2775
Hi @tkam8 ,

I have tried to reproduce your steps but I did not face the same issue. In my case, this is the logs that `kube-state-metrics` is providing:

[code]

It is worthwhile mentioning that I am using the default `values.yml` file. Just to try to bound the issue, are you proving a custom `values.yml`?

Thanks!

[2020-06-08 11:37] dani8art commented on #2475
Also, now that it was implemented in the containers, you could take the advantages of `extraEnvVars` in `bitnami/mariadb` chart and modify the collations. Please try to add this to your helm deployments.

[code]

[2020-06-08 11:46] borgez commented on #2771
Hi, i try parameters like this, don't know which password triggers, after change password error gone

[code]

[2020-06-08 12:36] #2741 closed

[2020-06-08 13:16] rafariossaa commented on #2223
Hi,
  We are fixing this in the next 15 days.

[2020-06-08 13:19] rafariossaa commented on #2697
Hi @iMoses ,
  Could you provide more context ? I would like to know which kubernetes cluster are you using, or if is has any special configuration.
Thanks forehand.

[2020-06-08 13:26] carrodher commented on #2758
Hi @st0ckface, the issue should be fixed with the above PR (thanks @juan131 for the changes). We are waiting for our internal tests and release pipeline. Once released, the PR will be merged and this issue closed automatically, but please, don't hesitate to reopen it if needed.

[2020-06-08 13:29] javsalgar commented on #2765
Hi,

Do the logs show anything meaningful regarding the configuration? Does it work when you try to use the shipped zookeeper (even though it is not the one you want to use, it is for discarding causes of the issue)?

[2020-06-08 13:31] javsalgar commented on #1905
Hi,

Thanks for letting us know! :) It will be helpful for other OKE users.

[2020-06-08 13:34] carrodher commented on #2674
I think both environment variables should be set according to the desired scenario, if you want to use a protocol via `GHOST_PROTOCOL` that is served in a different port, you also need to set the `GHOST_PORT_NUMBER` variable.

If setting both parameters with the appropriate value, it doesn't work, then it's a real bug that we need to solve. In the other case, maybe we can add more documentation to

[2020-06-08 13:38] javsalgar commented on #2719
Hi,

I've been trying to reproduce the issue with an external MariaDB database and found no issues. Could it be because of the MySQL version you are using? Maybe it is not compatible with Magento.

[2020-06-08 13:49] oxr463 commented on #2769
When it is up, yes. But this issue causes the container to crash so I am not able to exec since it is dead at that point. Thanks for that Rancher issue link. That might be the problem.

[2020-06-08 13:53] ThePoipoi commented on #2765
There is no log on this case, cause the pod doesn't even start.
And it's not working either with shipped Zookeeper, cause we can't instantiate Persistance Volume on those environnements (we don't have right access and we're not supposed to be on our project).

Here is two file : the first one (logs) are what we see at deployment, and the second one is the result of a "describe" command on the kafk

[2020-06-08 13:59] javsalgar commented on #2765
Hi,

Could you try it using the shipped zookeeper with zookeeper.persistence.enabled=false? With that you shouldn't see any PVC.

[2020-06-08 14:08] ppintogbm opened #2780 "[chart/wordpress]Guidelines for required storage"
**Which chart**:
wordpress-9.2.4

**Is your feature request related to a problem? Please describe.**
I'm trying to install the chart on IBM Cloud Kubernetes Service (IKS), and get it running, but get a poor performance (super slow site). IBM provides some ways to provision different kinds of storage (file, block, cloud object), and some of them have constraints like the IOPS. Tried to deploy it us

[2020-06-08 14:49] #2758 closed

[2020-06-08 15:55] ThePoipoi commented on #2765
Same behavior :/

[2020-06-08 17:29] carrodher commented on #2769
Yes, you're right if the container is not running you can't check the environment variables. I am not sure if the issue is solved in more recent versions of Rancher or it's related to the Helm version used by Rancher. I tried in Rancher `v2.14.3-rancher1` and the issue didn't appear, but as you rightly said (and the descriptions in the Rancher issue), the error appears sporadically so my deploymen

[2020-06-08 18:46] alex1989hu opened #2782 "[bitnami/metallb] Invalid metrics jobLabel"
**Which chart**:
bitnami/metallb:0.1.13

**Describe the bug**
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Helm Chart bitnami/metallb:0.1.13 with `prometheus.serviceMonitor.enabled=true`
2. See error

**Expected behavior**
Valid job label is set.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Addit

[2020-06-08 18:46] alex1989hu commented on #2782
/cc @Cellebyte

[2020-06-08 19:53] Cellebyte commented on #2782
@alex1989hu could someone review the changes.

[2020-06-08 21:12] SirCremefresh commented on #1774
Hi
I am currently on Chart version: 3.2.9, pgpool:4.1.2-debian-10-r15, postgresql-repmgr:11.8.0-debian-10-r21.
I am getting the same error as @sperolsUNIV

[2020-06-09 01:06] s12chung commented on #2737
I feel like this label should be defaulted in the helm chart....

[2020-06-09 02:38] Nuru opened #2784 "[prometheus-operator] Fails to set required labels on pods"
**Which chart**:
prometheus-operator 0.19.1

**Describe the bug**
Labels are not set on Prometheus pods, causing podAntiAffinity to have no effect.

The podAntiAffinity rules require `prometheus-operator.prometheus.matchLabels` to be set:
https://github.com/bitnami/charts/blob/4ea05704cd211f4dd0357ab4ed45c4312f1e1574/bitnami/prometheus-operator/templates/prometheus/prometheus.yaml#L139-L143

but t

[2020-06-09 08:18] andresbono commented on #2759
Hi @cglacet, you can also create different helm deployments, but if you only want to keep one deployment with multiple databases, you will need to create them manually.

[2020-06-09 08:21] andresbono commented on #2782
Thanks for reporting and providing a fix!

[2020-06-09 08:38] Cellebyte commented on #2782
@andresbono and @alex1989hu you're welcome :)

[2020-06-09 08:52] andresbono commented on #2771
Thanks, we could reproduce it now. Your case would be the second one:

#### Set `postgresql.repmgrPassword` with `$`

[code]

#### Set `postgresql.password` with `$`

[code]

---

It seems a inherent problem to use bash logic to handle the initialization. Do you have any suggestions to improve this behavior?

[2020-06-09 09:17] javsalgar commented on #2765
This is very strange. Is the application usable when disabling the liveness/readiness probes? I want to know if the issue is in the probe or in the application startup.

[2020-06-09 09:19] borgez commented on #2771
1) update docs about this behavior or
2) use password as plain text

ps update docs about repmgrPassword is regenerate on each update, it breaks cluster

[2020-06-09 09:39] ThePoipoi commented on #2765
That's the point that triggered me...even if I disabled both (or only one) liveness/readiness parameter, I have both error probes messages...
And the kafka pod never start because of that, I can't see its logs and only can use the describe command on it.

It's a weird behavior, and I've tried to disabled one or both parameter because I've found an issue on it logged on StackOverflow. But even with

[2020-06-09 12:27] fifa451 opened #2787 "[bitnami/redis-cluster] incorrect indent for extraVolumeMounts, extraVolumes, sideCar"
**Which chart**:
redis-cluster 2.2.3

**Describe the bug**
when adding values for the **extraVolumeMounts**, **extraVolumes**, and **sidecar**, the helm output has an error. The causes of these errors are incorrect indent in statefuset templates therefore it output invalid k8s yaml file.

helm.go:84: [debug] error converting YAML to JSON: yaml: line 96: did not find expected key
YAML parse error o

[2020-06-09 12:31] kemra102 opened #2788 "[bitnami/rabbitmq] Cannot Create resources via Definitions"
**Which chart**:
rabbitmq 6.25.13

**Describe the bug**
Using the "extraSecrets" method listed [here](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#load-definitions) I am trying to create a RabbitMQ cluster via Terraform and the aforementioned config in a values.yaml file. However the RabbitMQ pods never come up as healthy and give the following error when checking the logs:

[cod

[2020-06-09 13:14] shankarmohannamakkal opened #2789 "New chart for dotnet-core application"
**Which chart**:
New chart required to deploy asp.net core applications (web/api)

**Is your feature request related to a problem? Please describe.**
Currently there is no chart in bitnami for deploy the asp.net core application projects using kestrel server

**Describe the solution you'd like**
We can create a new chart with the following templates for deploy the asp.net core applications
- Confi

[2020-06-09 14:10] nikhilbalekundargi opened #2791 "Redis Chart not found - Helm release using Flux CD"
**Which chart**:
Redis

**Describe the bug**

We are using flux in our GKE cluster to deploy Kubernetes yamls and deploy helm charts. Below is the helm release yaml for deploying Redis to our cluster using Flux helm operator -
[code]
Flux helm operator is not deploying the Redis to our cluster. Below is the error from logs
[code]

**Expected behavior**
Redis should be deployed to our cluster

**Ve

[2020-06-09 14:37] #2763 closed

[2020-06-09 15:01] carrodher commented on #2791
Hi, I just checked that the chart is published in the registry, for that I added the registry using the Helm CLI and checked `bitnami/redis` is present:
[code]

Apart from that, I am not sure how can I help you, it seems something is not configured properly in the Flux helm operator.

[2020-06-09 15:15] miguelaeh commented on #2737
Hi @s12chung ,
could you explain why do you think it should be set as a default parameter so we can evaluate it and change it if necessary?

[2020-06-09 15:26] Axelcouty opened #2793 "[bitnami/cassandra] Changing namespace doesnt work ?"
**Which chart**:
cassandra - v5.6.4

**Describe the bug**

Please note that I'm not a kubernetes expert.

Deploying Cassandra as chart dependency in a 'myname-test-namespace' namespace:
Cassandra fails to start because

*cassandra_first_boot.log*
[code]
I may be wrong, but it seems `atlas-cassandra-0.atlas-cassandra-headless.default.svc.cluster.local` is wrong isn't it ?

Shouldn't it be `atlas-ca

[2020-06-09 15:29] miguelaeh commented on #2784
Hi @Nuru ,
Do you mean that the `podMetadata` section is empty? It is intended to be used by the user adding their labels: https://github.com/bitnami/charts/blob/4ea05704cd211f4dd0357ab4ed45c4312f1e1574/bitnami/prometheus-operator/values.yaml#L523

[2020-06-09 15:39] addshore commented on #2360
So, I'm still looking at this and testing it in my production.
Ran into an issue today where the replication stopped on a replica but it kept thinking it was ready.
This seems to happen when Seconds_Behind_Master is NULL, so this code perhaps should also be looking for Slave_SQL_Running

I'll have a new PR soon and also rebase it to master

[2020-06-09 15:50] s12chung commented on #2737
once you use these values in `production-values.yaml`:

[code]

pgpool will lose connection to the nodes. the second node will never connect to pgpool. you'll get something like:

[code]

and then to figure out why, you have to look into the chart source and find what the values do, which creates a `NetworkPolicy`, then figure out the label is missing. then set the label to the proper pod by diggi

[2020-06-09 17:11] nikhilbalekundargi commented on #2791
Yes its working by adding the repo to cluster and if i run the command helm install my-redis bitnami/redis. But not working using flux helm release.

[2020-06-09 17:37] carrodher commented on #2791
It sounds like there is an issue with the Flux YAML, I didn't use Flux previously nor it's something we provide support for, but taking a look at the above code block it seems the indentation doesn't look very well-formed, in the same way, `service` as root parameter doesn't exist, you need to use `master.service`, `slave.service`, `metrics.service`, etc, [here](https://github.com/bitnami/charts/t

[2020-06-09 18:34] Cellebyte opened #2795 "{feature request} [bitnami/gatekeeper-operator] Onboard Open Policy Agent gatekeeper-operator."
**Which chart**:
[bitnami/gatekeeper-operator]
[bitnami/gatekeeper]

**Describe the solution you'd like**
I want to onboard the gatekeeper operator.

**Additional context**
As the gatekeeper project stated, that complex helm charts are currently not in the scope of the project [https://github.com/open-policy-agent/gatekeeper/pull/505](https://github.com/open-policy-agent/gatekeeper/pull/505).
I cr

[2020-06-09 20:11] sssarali opened #2796 "Bitnami Wordpress Change Volume MountPath"
**Which chart**:
wordpress:latest

**Describe the bug**
Cannot change the mountPath:
[code]
When I change `bitnami/wordpress` to `opt/bitnami/wordpress`, my container does not start.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `deployment.yml`
2. Change `bitnami/wordpress` to `opt/bitnami/wordpress`
3. Deploy helm chart to minikube
4. Container terminates

**Expected behavior**
The

[2020-06-09 22:22] raphaelcervantes commented on #2676
I have it working now. I think the solutions were that I needed to add a subpath to the grafana configmap. I also needed to enable ingress in the grafana chart custom values.

Here are my kubernetes configuration files.

### grafana-ini-configmap.yaml

[code]

### grafana-values.yaml

[code]

[2020-06-09 22:22] #2676 closed

[2020-06-10 03:55] raphaelcervantes opened #2797 "[bitnami/grafana][bitnami/prometheus-operator] automatically provision prometheus dashboards"
**Which chart**:
grafana-1.5.2 and prometheus-operator-0.15.4

**Is your feature request related to a problem? Please describe.**
I am transitioning away from the charts in the stable repository because they are becoming deprecated. Their version of prometheus-operator has grafana incorporated with provisioned prometheus-dashboards that make cluster monitoring a joy. The provisioned dashboards are

[2020-06-10 04:01] sssarali commented on #2796
When I change the mountPath to opt/bitnami/wordpress in the Deployment folder, I get this error
[code]

[2020-06-10 04:38] Nuru commented on #2784
@miguelaeh I mean the chart's podAntiAffinity settings do not work because they select labels that are not applied to the pods.

[2020-06-10 05:06] raphaelcervantes opened #2798 "[bitnami/prometheus-operator] exposing Prometheus and Alertmanager through ingress controller"
**Which chart**:
prometheus-operator-0.15.4

**Describe the bug**
I have tried to configure prometheus-operator to expose Prometheus and Alertmanager to be exposed using nginx-ingress. When I try to visit the url in the nginx-configuration, it fails.

**To Reproduce**
Steps to reproduce the behavior:
0. Install `nginx-ingress-controller`. The custom values are pasted below

nginx-ingress-controlle

[2020-06-10 06:46] juan131 commented on #2798
Hi @raphaelcervantes

Does this happen when you try to use a subdomain instead of a subdirectory for the hostnames? E.g.:

[code]

[2020-06-10 07:09] juan131 commented on #2789
Hi @shankarmohannamakkal

Thanks so much for this great initiative. We'll be glad to accept your contribution and add this helm chart to the repository.

Please take a look to our [Contributing guidelines](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md), specially put special emphasis in the section [Adding a new chart to the repository](https://github.com/bitnami/charts/blob/master

[2020-06-10 07:12] #2600 closed

[2020-06-10 07:12] #2603 closed

[2020-06-10 07:20] szymonrychu commented on #2759
AFAIK that's not how you're supposed to use databases.

I'm trying to achieve the same thing- creating multiple databases in the same container (once again- it's a common practice), but I have hard time doing so, because of how the container handles init-scripts.
I'm trying to do something like this:
[code]

But the script is constantly failing and I don't know why (there is nothing in the logs).

[2020-06-10 07:45] #2782 closed

[2020-06-10 07:46] meodemsao opened #2799 "[bitnami/redis] using with ioredis"
**Which chart**:
bitnami/redis 6.0.3

**Describe the bug**
 I can't connect to redis
I using ioredis 4.17.1

when i install chart log return

[code]

My config ios redis

[code]

output log

[code]

[2020-06-10 07:51] rafariossaa commented on #2676
Hi @raphaelcervantes ,
  Thanks for sharing your findings.

Best regards,

[2020-06-10 08:02] rafariossaa commented on #2793
Hi,
  In which kubernetes cluster are you running cassandra ?
  Does is work when deployed manually `helm install mycassandra bitnami/cassandra` ? I mean outside the chart dependency. Please, delete the PVC first to get rid of data from previous deployment.
  Could you provide the full log ?

[2020-06-10 08:12] #2624 closed

[2020-06-10 08:26] rafariossaa commented on #1774
Hi @SirCremefresh ,
  Which kubernetes cluster are you using ?

  I run it with:
[code]

And not getting the error in the log:
[code]
Versions:
[code]

[2020-06-10 08:39] andresbono commented on #2771
Hi @borgez, we could identify a posible cause of the issue. We will release a new version of the chart soon

[2020-06-10 08:43] marcosbc commented on #2780
Hi @ppintogbm, we do offer support for Storage Classes, and there is a section in the README for production-compatible configuration: https://github.com/bitnami/charts/tree/master/bitnami/wordpress#production-configuration

If you want to read more on Storage Classes, check the [official Kubernetes documentation page](https://kubernetes.io/docs/concepts/storage/storage-classes/).

[2020-06-10 08:50] andresbono commented on #2759
Hi @szymonrychu, could it be that the syntax is wrong? These scripts are only executed on the first initialization of the helm chart. This is what we tried:

`values.yaml`
[code]

[code]

[2020-06-10 08:58] marcosbc commented on #2757
AFAIK that is because you are using "NodePort". If you use another service type such as "Ingress" you would see something like this:

[code]

[code]

[2020-06-10 09:09] marcosbc commented on #2612
In that case you must not specify `rabbitmq.existingErlangSecret`. For instance, the below command worked without issues for me:

[code]

Afterwards, my RabbitMQ deployment runs without any issues:

[code]

Could you try the command above and let us know if it works? It could be possible there is a misconfiguration in your `values.yaml` file.

[2020-06-10 09:12] #2516 closed

[2020-06-10 09:18] nashpaz123 opened #2801 "user name and password aren't available in rabbitmq management"
**Which chart**:
https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq
version 6.26.0

**Describe the bug**
user name and password aren't available in rabbitmq management, when trying to log in or when viewing admin -> users. When entering with user:guest pass:guest under admin -> users, no users exists except guest

**To Reproduce**
Steps to reproduce the behavior:
1. On an AWS EKS clust

[2020-06-10 09:25] miguelaeh commented on #2737
Hi @s12chung ,
Thank you for the clarification.
Then I would say it should be enough to modify the `values-production.yaml` that is where we set the `networkPolicy` to `enabled` but maintaining the `values.yaml` like it is currently. Do you agree?

[2020-06-10 09:41] szymonrychu commented on #2759
I've used your snippet and still pod is dying afterwards:
[code]

output (from stern):
[code]

state of the pod:
[code]

[2020-06-10 10:27] Axelcouty commented on #2793
Hey,

Thanks for your reply :)

- > I mean outside the chart dependency.

Tested, it works like a charm.

**You helped me find my mistake right there**

my cassandra.yaml file is wrong.
[code]
No wonder it doesn't take effect of the namespace...

I assumed the seed was generated via go templating, which is right I think. BUT, as I disabled security, I had to get copy bitnamy's default cassandra.ya

[2020-06-10 10:35] #2793 closed

[2020-06-10 10:45] javsalgar commented on #2765
That's weird. Could you execute kubectl get pods -o yaml (with the name of the pod) to see if the readiness/liveness probes are set?

[2020-06-10 11:01] javsalgar commented on #2788
Hi,

Thank you for using Bitnami. From what I experimented, if you set this definition you also need to set the credentials. I tried this set of values and it worked for me.

[code]

Could you check if it works for you?

[2020-06-10 11:03] javsalgar commented on #2797
Hi,

Thank you very much for using Bitnami. I think this is a good feature to have. We will evaluate it and update the ticket when we have more information. As this is not a critical feature, we cannot guarantee an ETA. However, as soon as I have news, I will let you know.

[2020-06-10 11:11] nikhilbalekundargi commented on #2791
@carrodher Thank you for the reply.

My bad, I missed values in the yaml, it was a copy paste error. Anyway, using the below yaml still the same issue

[code]

logs -

ts=2020-06-10T11:06:38.496189471Z caller=release.go:75 component=release release=redis targetNamespace=redis resource=redis:helmrelease/redis helmVersion=v3 info="starting sync run"
ts=2020-06-10T11:06:38.509430664Z caller=release.g

[2020-06-10 11:12] #2619 closed

[2020-06-10 11:14] pbn4 opened #2802 "[bitnami/fluentd] Mismatch between ServiceMonitor endpoint port name and service port name"
**Which chart**:
[bitnami/fluentd] 1.2.0

**Describe the bug**
Basically the same as https://github.com/bitnami/charts/issues/2763.

ServiceMonitor:

[code]

Fluentd Metrics Service:

[code]

[2020-06-10 11:26] vmwiz commented on #2667
Issue still exists with latest release

[2020-06-10 11:40] andresbono commented on #2801
Hi @nashpaz123, we have just tried and we couldn't reproduce the issue:

[code]

![image](https://user-images.githubusercontent.com/1057973/84263439-cd01bb00-ab1f-11ea-86ac-87992aa32105.png)

Does the logs of your pod show anything relevant?

[2020-06-10 11:57] nikhilbalekundargi commented on #2791
I changed the yaml to include version of the chart as below -

[code]

Logs -
[code]

I even tried with version 10.6.8. version not found.

[2020-06-10 14:02] borgez opened #2805 "[postgresql-ha] delete pods in ha break cluster"
**Which chart**:
postgresql-ha:3.2.9

**Describe the bug**
postgresql-0, postgresql-1, postgresql-2 cannot start agan because repmgr passwords change when pods recreate

**To Reproduce**
1) create with default config
2) wait to full up Workloads
3) hard delete all pods from deployment (like update chart)
3) wait for pods recreate and up
4) pods cannot start because passwords change **what**?

**Ex

[2020-06-10 16:27] YuXiaoCoder opened #2806 "[bitnami/elasticsearch] Enable bundled Kibana"
**Which chart**:
bitnami/elasticsearch 12.0.0

**Is your feature request related to a problem? Please describe.**
How to specify the image version of Kibana when the bundled Kibana is enabled by ES

**Describe the solution you'd like**
specify the image version of Kibana when the bundled Kibana is enabled by ES

[2020-06-10 18:37] raffaelespazzoli opened #2807 "[bitnami/redis-cluster] error when creatig a tls cluster"
**Which chart**:
redis-cluster master branch

**Describe the bug**
I'm getting this error when starting the redis pod:
[code]

I configured the new tls settings like this:

[code]

**Expected behavior**
Cluster starts, nodes connect using TLS connections

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
the sam

[2020-06-11 04:11] nikhilbalekundargi commented on #2791
We have found the correct config to deploy redis using Helm release. Below is the yaml for reference

[code]

Closing the issue

[2020-06-11 04:11] #2791 closed

[2020-06-11 08:30] rafariossaa commented on #2667
Hi @vmwiz ,
  Sorry for the long delay, it seems our support system missed this issue.

  Could you indicate in which kubernetes cluster are you running this chart ?.

[2020-06-11 08:43] rafariossaa commented on #2802
Hi @pbn4 ,
  Thanks for reporting this.
  I am creating a PR to fix this.

[2020-06-11 08:47] vmwiz commented on #2667
Hi @rafariossaa,

I'm running it on a bare-metal (CentOS 7) kubespray cluster with 1.16.9

[2020-06-11 09:53] #2787 closed

[2020-06-11 10:03] javsalgar commented on #2619
Hi @katsika were you able to work on this?

[2020-06-11 10:05] javsalgar commented on #2765
Hi,

I think I see what the issue is, even though if you set the livenessProbe as null it will be included anyway. I will work on fixing the issue, as it is a bug in our side. I will let you know when I have a PR.

[2020-06-11 10:18] javsalgar commented on #2765
Hi,

I created this PR https://github.com/bitnami/charts/pull/2809

[2020-06-11 10:20] javsalgar commented on #2806
Hi,

You could set it using `kibana.image.tag`

[2020-06-11 10:21] marcosbc commented on #2780
We have a related GitHub Issue for the WordPress container image, with the intention of improving the performance of initialization for slow volumes: https://github.com/bitnami/bitnami-docker-wordpress/issues/164

However, that was already fixed in version 9.3.1 of the chart. Could you look into updating to that version or newer ones and see if it works better now?

[2020-06-11 10:23] rafariossaa commented on #2622
Hi @asgoel ,
  We really appreciate any feedback provided.

Thanks forehand.

[2020-06-11 10:34] marcosbc commented on #2799
Hi @meodemsao, first of all can you confirm you have connectivity to your Redis cluster in the computer you're running ioredis?

I.e.:

[code]

If you get a different error such as `curl: (6) Could not resolve host ...` then it means it does not resolve.

In addition to that, does the `redis-cli` work as instructed in the NOTES? If so, I would say the issue is related to your ioredis configuration

[2020-06-11 10:52] rafariossaa commented on #2737
Hi @s12chung,
  It would be great if you do the PR! I'd be glad to review it

[2020-06-11 10:52] marcosbc commented on #2759
Hi, we could not reproduce this issue. We installed the chart using the command and changes to `values.yaml` below, respectively:

[code]

[code]

And the database was created properly:

[code]

Could you enable `image.debug` (i.e. `--set image.debug=true` or modify `values.yaml`) and let us know if you get more information?

NOTE: You should remove the PVC, to avoid using existing persisted data

[2020-06-11 10:56] aspettl opened #2810 "[bitnami/mariadb-galera] New bootstrap options break upgrade/rollout"
**Which chart**:
mariadb-galera, 3.1.3 (since 3.0.0)

**Describe the bug**
The chart version 3.x introduced the force bootstrap feature: https://github.com/bitnami/charts/pull/2727
This is really a needed feature for recovery from a failure state, but it introduced a major regression: A rolling restart of the mariadb-galera pods does not work anymore, which is performed e.g. by a chart upgrade. By

[2020-06-11 11:13] marcosbc commented on #2771
Hi @borgez, thanks for pinging us. We're tracking the other ticket and expect to check it shortly.

As for this issue, we've fixed it in the release `3.2.10` of this chart. I'm closing this, but if you find any issues please let us know.

[2020-06-11 11:13] #2771 closed

[2020-06-11 11:34] marcosbc commented on #2796
Hi @sssarali, since it looks like your primary issue is around enabling a plugin, I'll focus on that (and not changing the volume mount path).

If you enable `extraVolumeMounts` for a file such as `/docker-entrypoint-init.d/myscript.sh`, with the below contents:

[code]

Then that should take care of installing the plugin to `/bitnami/wp-content/plugins` and enabling it in the database.
And in a s

[2020-06-11 11:42] marcosbc commented on #2805
Hi @borgez, when you mention this:

Do you mean running a command such as "helm update"?

Note that if you do that, secrets are regenerated and if you had a persistent volume, there will be a mismatch between the current secrets and configured secrets, meaning the authentication fails.

To fix that, you have a couple of options:

* Specify existingSecrets with the name of the previous -working- se

[2020-06-11 12:31] Javid907 opened #2811 "Error while deploy prometheus operator"
I use this doc for deploy Prometheus Operator and Thanos

https://docs.bitnami.com/tutorials/create-multi-cluster-monitoring-dashboard-thanos-grafana-prometheus/

But after deploy with helm I see followings errors

[code]

Please help(

[2020-06-11 13:21] hussainsaify opened #2812 "[bitnami/postgresql] How to enable ssl and external access through ingress"
Hi Team,

I was enabling ssl/tls on postgresql but pod is failing to come up with failure related to password authentication.

I have copied certificates to postgresql data directory and added ssl=on in postgresql.conf

Following is the error on pod startup.
[code]
Thanks in advance!

[2020-06-11 13:43] hussainsaify opened #2813 "[bitnami/postgresql-ha] Not able to access postgres externally using ingress"
Hi Team,

I have installed postgresql-ha helm chart but not able to access db externally using nginx-ingress.

Client- pgadmin3
Kubernetes- 1.14 (AWS EKS)
Ingress Controller - nginx-ingress
url- postgresql-ha-test.********.com
port- 80

Error-
9:02:01: Error: Error connecting to the server: received invalid response to SSL negotiation: H

Do we need to do anything extra to get it work?

Thanks,
Hu

[2020-06-11 14:04] borgez commented on #2805
I tried to break the cluster in different ways to check its fault tolerance.
I think I did similar thing to "helm update"

it break cluster

I not found this in docs

fix it for me, yes

But this is not the **expected behavior**.
In docs i found [update](https://github.com/bitnami/charts/tree/master/bitnami/postgresql-ha#upgrade) section and i expect it will be new password, not exist,  this not c

[2020-06-11 14:11] s12chung commented on #2737
have some release dates this month. i'll try to get back to this in 4 weeks.

[2020-06-11 14:13] ThePoipoi commented on #2765
Good news that you have fix the liveness/readiness issue.

But does this will also fix this External Access problem ? Because my first purpose is to have 2 K8S cluster with 2 kafka that can communicate

[2020-06-11 14:24] borgez commented on #2805
Or may be helm param global.rollPasswords=true, but not by default

[2020-06-11 14:38] borgez commented on #2805
And i think if chart force roll password it need to notify payload about it and change passwords in payload postgresql, repmgr etc, it break kubernetes philosophy

[2020-06-11 15:14] raphaelcervantes commented on #2798
@juan131 Thank you. I have tried your custom values. I seem to get the same errors.

[2020-06-11 15:35] #2802 closed

[2020-06-11 16:52] joseguerrero opened #2814 "[bitnami/mongodb-sharded] Unable to use initScripts configmap"
**Which chart:** mongo-sharded

**Describe the bug:**
I cannot use initScripts configmap

**To Reproduce:**

1. Apply this sample configmap:

[code]

2. Deploy a `mongo-sharded` release referencing that configmap:

[code]
**Describe the results you received:**

[code]

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

[2020-06-11 18:50] bsvihovec opened #2817 "Broken link in Osclass readme"
**Which chart**:
Osclass - 7.0.17

**Describe the bug**
The following link in the readme - https://osclass.org/ - does not load correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/bitnami/charts/blob/master/bitnami/osclass/README.md
2. Click on Osclass (first word of the readme)
3. See error

**Expected behavior**
The link to load correctly.

[2020-06-11 18:59] alexbrand opened #2818 "[bitnami/cassandra] How to setup and configure multiple users"
**Which chart**:
Cassandra v5.4.2

**Is your feature request related to a problem? Please describe.**
I need to configure multiple user credentials in my Cassandra database.

**Describe the solution you'd like**
Currently, it is only possible to set the admin user/password of the database.

While it is possible to provide custom cql scripts that run when the container starts up via `initDBConfigMa

[2020-06-11 19:52] anilnokia opened #2819 "Zookeeper pods are not starting"
**Which chart**:

Zookeeper 5.16.0

**Describe the bug**

I tried production version with 3 replicas but non of the pods are coming up. Single replica version works fine. This is what I get in log of pod:

[code]

Please help? I have tried for many days without much progress.

Thanks,

**Expected behavior**

I was expecting 3 pods to work normally forming zookeeper quarum.

**Version of Helm and K

[2020-06-11 20:51] SirCremefresh commented on #1774
Thanks for the reply.
It was a Problem that cert-manager did not generate the certificat and so LDAP tls did not work.
It also had to add --set ldap.tls_reqcert="demand" from your example

[2020-06-11 21:35] ajchiarello opened #2821 "[harbor] Error upgrading to chart version 6.0.0"
**Which chart**:
harbor, version 6.0.0

**Describe the bug**
When attempting to upgrade my harbor install to this version, I get the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to upgrade from chart version 5.4.0 to 6.0.0

**Expected behavior**
The upgrade to be successful.

**Version of Helm and Kubernetes**:
helm 3.2.0, kubernetes 1.17.5

**Additional context**

[2020-06-11 21:46] dmilcevski commented on #2240
How do you setup the _listen_address_, _broadcast_rpc_address_ in case of a cluster? They are the names of the pods and cannot be the same in a cluster.

[2020-06-12 07:11] #2490 closed

[2020-06-12 07:33] zzhao2010 commented on #1927
@juan131
This doc https://github.com/coreos/prometheus-operator/blob/master/Documentation/additional-scrape-config.md is also out-dated. The command in the doc has been deprecated. Also I don't see a step to create the configmap with its content. Can you provide more detail how do you create the configmap with its content? Thanks.

[2020-06-12 12:22] dm3ch opened #2823 "[bitnami/charts] First slave after initial sentinel setup reports 127.0.0.1 as a current master"
**Which chart**:
redis

**Describe the bug**
After initial chart install with sentinel enabled and 2 slaves. First slave (slave-0) reports that current master is 127.0.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Install chart with next values:
[code]
2. Wait until 3 pods would be created.
3. Execute following command for each of 3 pods:
[code]
4. Check that slave-1 and master-0 retur

[2020-06-12 13:43] #2765 closed

[2020-06-12 15:39] evgmoskalenko commented on #2295
Hello, Could you please reopen this issue? I created a pull request for this feature - https://github.com/bitnami/charts/pull/2826

[2020-06-12 18:28] raffaelespazzoli commented on #2807
I have updated the chart to master and started with a clena namespace. I'm getting this error now:
[code]

Anyway I can get some help on this?

[2020-06-12 19:50] taylorsmithgg opened #2827 "[bitnami/mongodb-sharded] Support for external mongos"
**Which chart**:
bitnami/mongodb-sharded

**Describe the bug**
I am currently having issues finding a working configuration for connecting the mongos templates to an external Mongo cluster.

**To Reproduce**
Deploy mongos with an external configuration.

**Expected behavior**
Mongos should connect to external mongo cluster.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

[2020-06-13 09:57] ttinkr commented on #1631
Was there any real solution to this? How should one manage multiple users between postgresql and pgpool without using LDAP?

[2020-06-13 16:14] mboutet opened #2829 "[bitnami/postgresql-ha] Unable to set configuration options via postgresql.configuration"
**Which chart**:
chart: bitnami/postgresql-ha
version: 3.2.10 (problem can also be reproduced on 3.2.6)

**Describe the bug**
Unable to specify postgresql server settings via `postgresql.configuration`

**To Reproduce**
Steps to reproduce the behavior:
1. Create `pg-custom.yaml` with the following content:
[code]
2. `helm install bitnami/postgresql-ha --values pg-custom.yaml --generate-name`
3. po

[2020-06-13 21:05] mboutet commented on #2829
Sorry, I just realized I must use the `postgresql.extendedConf` to do what I want. I was completely overriding the postgresql conf and thus breaking the replication et HA settings.

Closing this issue.

[2020-06-13 21:05] #2829 closed

[2020-06-14 12:52] #2647 closed

[2020-06-14 13:42] mabdelfattah opened #2830 "Helm - PostgreSQL | How to enable PostGIS extension?"
As per the README.md file in the PostgreSQL Chart, the PostGIS is installed. However it is not enabled. The question is how to enable it? Considering the chart does not allow super users.

[2020-06-14 18:25] rgarcia89 commented on #1908
@dani8art any update on this? The issue is open since February 🤔

Maybe the community can help if you let us know where exactly you are struggling with right now?

[2020-06-14 19:20] zenbones opened #2833 "Use existing volume claim for elastic master/data"
I'd like to be able to use an existing volume claim, or at least specify the PV to be bound for elasticsearch master and data. Is there currently away to do either of these?

[2020-06-14 21:31] andrei-dascalu opened #2834 "[bitnami/grafana] document setting up SMTP for Grafana chart"
**Which chart**:
bitnami/grafana

**Describe the bug**
SMTP user/pass can be set either through dedicated variables or through an existing secret with configurable keys, the SMTP can be enabled/disabled via a flag. However, I can't find how to provide the SMTP server address.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/bitnami/charts/blob/master/bitnami/grafana/v

[2020-06-15 07:02] rafariossaa commented on #2667
Hi,
  I could run it by:
- Deleting the previous PVCs
- Deploy with following command, using provided `values-production.yaml`:
[code]

Could you give it a try ?

[2020-06-15 07:18] carrodher commented on #2821
Hi, in this major version we introduced some changes that can break backwards compatibility, can you take a look at the upgrade section in the README? https://github.com/bitnami/charts/tree/master/bitnami/harbor#600

It's possible the issue with the key is due to `secretKey` has been moved to `core.secretKey`.

[2020-06-15 07:25] carrodher commented on #2830
Hi, PostGIS is installed but not enable, to enable it you can follow the regular approach, for example, the one described in the [official documentation](https://postgis.net/install/).

Using a new deployment from scratch, you can use the postgresql-client to enable it.
[code]

Then, using the postgres CLI you can execute:
[code]

[2020-06-15 07:35] carrodher commented on #2812
Hi, in order to reproduce the issue on our side, can you provide more information about how are you installing the chart? It's useful for us to know the changes in the values.yaml or the parameters used via `--set`.

Is it the first installation or did you install it previously? In that case, please take into account you need to remove the PV/PVCs between installation because the randomly generate

[2020-06-15 07:38] rgarcia89 commented on #1908
Changing `ETCD_INITIAL_CLUSTER_STATE` from `new` to `existing` fixes the issue.
Could you guys please make this variable configurable?

[2020-06-15 07:42] mabdelfattah commented on #2830
Thank you @carrodher , but any idea how to automate this? I don't want to run anything manually.

[2020-06-15 07:52] #2471 closed

[2020-06-15 07:54] ttinkr opened #2836 "[bitnami/postgresql-ha] Is there a way to sync credentials between pgpool and postgresql (without LDAP)?"
**Which chart**:
bitnami/postgresql-ha 3.2.10

**Is your feature request related to a problem? Please describe.**
Maybe there is already a way or maybe I am just not understanding how things work correctly. But when I deploy postgresql with pgpool I need the same sets of credentials for the database on both systems. It seems like there is no way to include a secret or something that acts as a comm

[2020-06-15 07:59] joancafom commented on #2805
Hi @borgez

By default, if no password is provided by the end user, the Chart will generate and use a random one instead. When performing an upgrade (and not specifying a password) this behaviour is preserved. By providing with the same credentials (or an `existingSecret` containing them), this random stage is skipped. As aforementioned, this is specially important when dealing with persistent vol

[2020-06-15 08:08] joancafom commented on #2817
Hi @bsvihovec

The URL is correct and I fear that this is actually related to the official web itself, which seems to be inactive 🤔

Thanks for reporting!

[2020-06-15 08:12] andresbono commented on #2813
Hi @hussainsaify, did you set the `ingress.enabled` flag? Can you share with us the command or values.yaml that you are using to deploy the chart? That would help us reproducing the issue. Please make sure no sensitive information is shared.

[2020-06-15 08:14] juan131 commented on #2798
Hi @raphaelcervantes

Do the subdomains `prometheus.nlwymmd.orpheus` point to K8s cluster IP? I mean, to the external IP used by your NGINX Ingress controller?

[2020-06-15 08:20] juan131 commented on #2546
Hi everyone,

Could you please give a try to the new major version (`6.0.0`) that includes the new major version of Harbor `2.0.0`? This issue was addressed on that major version.

[2020-06-15 08:20] #2546 closed

[2020-06-15 08:24] andresbono commented on #2614
Hi @Djiit, we have released a new version of the chart: `6.0.1` that is using Harbor 2: https://github.com/bitnami/charts/tree/master/bitnami/harbor. Hope you find it useful!

[2020-06-15 08:24] #2614 closed

[2020-06-15 08:30] juan131 commented on #1927
Hi @zzhao2010

We (Bitnami) are not maintaining the CoreOS documentation, so please create an issue on their side to update that docs.

You can simply create the ConfigMap definition in a YAML file and create it using the command below:

[code]

Find more information about configmaps in the K8s docs: https://kubernetes.io/docs/concepts/configuration/configmap

[2020-06-15 08:31] juan131 commented on #2295
Thanks @evgmoskalenko ! Someone from the team will review your PR

[2020-06-15 08:37] hussainsaify commented on #2813
[postgres-values.txt](https://github.com/bitnami/charts/files/4778973/postgres-values.txt)

Thanks, @andresbono  for responding. I have attached my values file.

Yes, I do have ingress.enabled flag set to true and ingress is getting created. When I try to connect through ingress URL it gives me SSL negotiation error on the ingress controller.

Please let me know if you need more details.

Thanks,

[2020-06-15 08:44] dbaumgarten commented on #1908
I think the true issue for all this problems is far deeper.
The whole setup.sh script is really unreliable.

It decides what actions to take (re-join the cluster, update cluster member, add member to cluster, delete datadir) based on files stored on the volume of the pod. Unfortunately it also does directly delete this files after checking them. If now a (temporary) error occurs during the action

[2020-06-15 08:47] miguelaeh commented on #2833
Hi @zenbones ,
It seems that currently, we are not supporting it.
Please feel free to send a PR and we will be pleased to review it.

[2020-06-15 08:53] juan131 commented on #1631
Hi @ttinkr

We don't have a solution for this yet. I proposed a solution some time ago (see https://github.com/bitnami/charts/issues/1631#issuecomment-565357598) but I was waiting for confirmation about my proposal. What do you think about it?

[2020-06-15 08:54] juan131 commented on #2836
Hi @ttinkr

I noticed you also commented in this issue https://github.com/bitnami/charts/issues/1631. Let's move the conversation there to avoid duplications.

[2020-06-15 08:54] #2836 closed

[2020-06-15 08:54] javsalgar commented on #2818
Hi,

Thank you very much for the feature request. Indeed, I believe that we should allow both configmaps and secrets (just like we do in other charts). I will open a task for adding the feature. While we cannot guarantee an ETA, I will update this ticket as soon as I have more news. If you want to speed up the process, feel free to send a PR.

[2020-06-15 08:57] ttinkr commented on #1631
Hello @juan131!
A shared secret where the credentials are stored (and also the scripts to sync the content of the secret with pgpool_passwd and the postgresql user store) would be great, yes!

To be honest I am a little bit confused how people are using this in production then? Is everyone using only the one initial account to access the database? ...or is everyone using LDAP?

[2020-06-15 09:01] miguelaeh commented on #2737
Hi @s12chung ,
I agree, I think we should add the label
[code]
to the pods when network policy is enabled and it should solve the issue.

[2020-06-15 09:03] rafariossaa commented on #2810
Hi @aspettl ,
  Thanks for reporting this issue.
  We will look for a fix for this, I have created and internal task. We will come back as soon  as we have news.

[2020-06-15 09:03] javsalgar commented on #2827
Hi,

Thanks for the feedback. I didn't think about just deploying a set of mongos. That's something that we could add it in the chart.  I'm not sure about the cause of the error above, don't you have any other log or message that could provide more clues about the issue?

[2020-06-15 09:05] joancafom commented on #2807
Hi @raffaelespazzoli !

Could you provide me with some more details regarding the parameters you are using for configuring Redis? It seems to me that the error you are experiencing in your first post could be related to the `redisPort ` parameter.

Regarding your second attempt, I have been able to successfully deploy an instance of Redis-Cluster using the latest release in master. Just to try to

[2020-06-15 09:13] miguelaeh commented on #2784
Hi @Nuru ,
You are right, I copied the wrong labels. Now I saw what you mean. Please take a look to the PR I created, it solves the issue. #2803

[2020-06-15 09:19] nvtkaszpir commented on #1908
That's why we switched to coreos/etcd-operator (now defunct, but cwbs fork works), because rewriting the shell scripts would actually mean that we write another etcd-operator.

[2020-06-15 09:21] juan131 commented on #2819
Hi @anilnokia

Thanks so much for reporting it! It seems to be related with the KeyStore and Truststore passwords not being set (see parameters `service.tls.client_keystore_password` and
`service.tls.client_truststore_password` in the [parameters table](https://github.com/bitnami/charts/tree/master/bitnami/zookeeper#parameters)).

I'll try to fix that since these parameters should be optional.

[2020-06-15 09:22] rgarcia89 commented on #1908
@nvtkaszpir I tried the helm chart for the coreos/etc-operator. This was way less working. We have a DEV Cluster in the cloud that gets suspend during the night. Guess what? The coreos/etc-operator is not able to handle such a situation. So all etcd pods fail

[2020-06-15 09:23] rafariossaa commented on #1774
Hi,
  It is not very clear for me, did you managed to make it work ?

[2020-06-15 09:26] lelithium commented on #2537
The underlying issue has been fixed (see https://github.com/bitnami/bitnami-docker-influxdb/pull/2), which has solved the issue on my end **when manually specifying the image*

values_current.yaml
[code]

values_fixed.yaml
[code]

[code]

I'm not sure how the CI updates tags on this chart, but I think it's safe to use this new tag unto the chart (`r60` is the latest as of writing)

[2020-06-15 09:44] tbnguyen1407 commented on #2622
Hello, there is an error with if/else in this line causing the certs not mounted on slave-statefulset:

https://github.com/bitnami/charts/blob/365514ff6a116dacd30b5d5c3c144f788b799930/bitnami/redis/templates/redis-slave-statefulset.yaml#L481

[2020-06-15 09:44] rafariossaa commented on #2823
Hi,
  I was not able to reproduce the issue. This is what I did:
Changes in values.yaml used:
[code]

[code]

[code]
Could you try again deleting first the PVCs ?

[2020-06-15 09:52] borgez commented on #2805
Hi @joancafom

Yes, if secrets alredy exists random stage **should be skipped** but it not...

[2020-06-15 10:06] hussainsaify commented on #2813
Also,  following is the command I am using to connect

kubectl run postgresql-ha-test-client --rm --tty -i --restart='Never' --namespace test --image bitnami/postgresql:11 --env="PGPASSWORD=$POSTGRES_PASSWORD" --labels="postgresql-ha-test-client=true" \
        --command -- psql -h postgresql-ha-test.**********.com -p 80 -U postgres -d postgres

[2020-06-15 10:10] borgez commented on #2805
I record screencast https://nimb.ws/MkaKpZ

[2020-06-15 10:11] dani8art commented on #1908
Hi guys!

I think this is the best way to tackle it we would need to improve the way we decide what action to take and change the way we check `is_disastrous_failure`

what I would suggest changing is:

- moving the removal of the file later and outside`should_add_new_member` function
- also do `store_member_id` synchronous

[code]

then

-  `is_disastrous_failure` I would say there is no direct c

[2020-06-15 10:25] hussainsaify commented on #2812
Thanks @carrodher for responding. After setting password and user through the chart, pods got started successfully but when installing a fresh chart, pods starts failing due to not being able to initialize postgres data directory. Through init container, I am copying server certificate and  keys inside postgreql data directory and that is the likely cause of pod not getting restarted.

I am attach

[2020-06-15 10:30] nvtkaszpir commented on #1908
@rgarcia89 well, too bad, maybe it's because in general etcd is clustered so that is is always available, and not shut down/up when needed. In such case I suggest delete etcd cluster defined by CRD for the night and then spawn it back. Or use backup/restore operator - we got that working with backups to google cloud storage via backup operator and mix it with restore operator.

AFAIR the chart nee

[2020-06-15 10:35] carrodher commented on #2812
Installing a fresh chart without removing the PV/PVCs and without setting the password via parameters is going to fail because the new installation is generating a new random password that is different from the one stored in the PV.

So you need to: 1) delete the PV/PVC in order to the new installation using the new random password or 2) set as parameter the password present in the PV

[2020-06-15 10:39] dbaumgarten commented on #1908
I did already create a modified version of the script. In my tests it did perform fine.
I also added a few "maintenance-features" that allow you to recover a broken cluster from a single node and that allow you to execute commands manually before etcd starts.

I do not expect this script to be used as it, but maybe it provides some ideas.
[code]

[2020-06-15 10:54] hussainsaify commented on #2812
Yes, that fixed the issue. But, now I am getting a new issue, if I try to copy SSL keys before data directory initialization then pod fails. For now, I am installing chart without SSL and once it is installed, I am upgrading with SSL enabled and it's working fine.

Do we have a better way of installing chart with SSL other than installing without ssl and then upgrading with SSL?

Thanks,
Hussain

[2020-06-15 11:30] SirCremefresh commented on #1774
Hello,
Yes, there was a Problem with the LDAP ssl configuration.

[2020-06-15 11:31] rgarcia89 commented on #1908
I see there are a lot of good ideas. However, with the current chart version, it is not even possible to modify the deployment by for example adding `envVarsConfigMap` in case you mist it, in the first place without breaking it. Therefore, I would really appreciate it, if we could get a hotfix in place to make this work. Further improvements could be addressed as next step. My option at least

[2020-06-15 12:06] dm3ch commented on #2823
Tried to delete all PVCs before install:

Here's my additional values for test:
[code]

Test results:
[code]

It's very strange, I'm able to reproduce such behaviour in 100% of my attempts.

I'll try to test that in some other k8s cluster.

[2020-06-15 12:11] dbaumgarten commented on #1908
Updating the setup.sh script does not require changing anything in the deployment.
The updated script I am using is (nearly) completely compatible to the current chart.
The only thing that is missing is the original disaster recovery feature. As I am not using it, I just left it out when doing my changes.

While I generally agree, that a short fix should be the first step, I do think it is difficu

[2020-06-15 12:43] anilnokia commented on #2819
Hi,

I set them to abc123 just to try but I still get following:
helm install my -f values-production.yaml .

[38;5;6mzookeeper [38;5;5m12:38:26.80 [0m
[38;5;6mzookeeper [38;5;5m12:38:26.80 [0m[1mWelcome to the Bitnami zookeeper container[0m
[38;5;6mzookeeper [38;5;5m12:38:26.81 [0mSubscribe to project updates by watching [1mhttps://github.com/bitnami/bitnami-docker-zookeeper[0m
[38;5;6mzookeeper

[2020-06-15 13:06] raffaelespazzoli commented on #2807
@joancafom hi, and thanks for considering this issue.
As commented I understood the root cause and send a PR to fix it. however I suspect there is something else going on which is highlighted by the log excerpt.
It looks like under certain conditions (as per my original error) the initial script of the redis container fails in such a way subsequent restarts of the container cannot then recover.
In

[2020-06-15 13:36] anilnokia commented on #2819
Apologies for second message but after setting longer password it works now.

Thank you very much.

From: Juan Ariza Toledano <notifications@github.com>
Sent: Monday, June 15, 2020 5:21 AM
To: bitnami/charts <charts@noreply.github.com>
Cc: Rana, Anil (Nokia - US/Holmdel) <anil.rana@nokia-bell-labs.com>; Mention <mention@noreply.github.com>
Subject: Re: [bitnami/charts] Zookeeper pods are not start

[2020-06-15 13:51] Edenee commented on #2769
Hi, I have the same problem @oxr463. Did you find a solution?

[2020-06-15 14:13] oxr463 commented on #2769
No, but as a workaround we have instructed the developers to not try to scale the workload down to 0 using the slider anymore. Otherwise, I have to delete the app and redeploy.

[2020-06-15 14:27] rg2609 opened #2844 "Scaling down replicas giving error"
**Scaling Down replica Count**:

**Describe the bug**
It creating error while scaling down the postgres replica count from 10 to 2, and also scale downing the replica count, PVC also not getting delete.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the chart with postgres replica count 10
2. upgraded the chart with a replica count 2

**Expected behavior**
Success fully scale down the

[2020-06-15 15:15] szymonrychu commented on #2801
I have the same problem with helm chart `bitnami/rabbitmq` in version `6.27.0` :)
values.yaml:
[code]
then I'm running:
`kubectl port-forward svc/cluster-rabbitmq 15672:15672`

[2020-06-15 15:17] szymonrychu commented on #2801
some more troubleshooting:
[code]

[2020-06-15 15:29] szymonrychu commented on #2801
I've added the user by `kubectl exec -it $(kubectl get pod | grep rabb | grep Running | head -1 | awk '{print $1}') -- bash` and using commands below:
[code]

Unfortunately the chart doesn't provide a way to add sidecar containers, so there is no fancy sidecar container I can share with community as a workaround :(

[2020-06-15 16:34] Progdrasil commented on #2830
I'm having this same issue. This happen for the postgis extension as well as the uuid-ossp extension.

[2020-06-15 16:54] ajchiarello commented on #2821
That was it, thanks!

[2020-06-15 16:54] #2821 closed

[2020-06-15 18:19] anton-chuhunou opened #2845 "[bitnami/influxdb] InfluxDb probes not working with authEnabled"
**Which chart**:
0.5.0

**Describe the bug**
With enabled authentication, readiness and liveness probes cannot connect to the influxdb.

**To Reproduce**
1. Set:
[code]
2. Set:
[code]
3. Errors:
[code]

[2020-06-15 19:17] Nuru commented on #2784
@miguelaeh Thanks. I haven't tested it, but #2803 looks good to me.

[2020-06-15 19:23] samgabrail opened #2846 "Moodle site restore can't log in"
**Which chart**:
Moodle chart moodle-7.2.14, APP Version 3.8.3

**Describe the bug**
Can't log in to moodle after a site restore of the mariadb and the moodledata folder.

**To Reproduce**
I'm trying to restore my Moodle site. I used phpmyadmin to import a mariadb database that I had backed up using mysqldump command:
[code]

I also restored the moodledata folder which I had backed up. The followi

[2020-06-15 22:59] raphaelcervantes commented on #2798
@juan131 It looks like alertmanager and prometheus don't have an external IP or a Cluster IP. My grafana instance has a cluster IP but no external IP, and I can access grafana by vising nlwymmd.orpheus/grafana

[code]

[2020-06-15 23:40] #1837 closed

[2020-06-15 23:40] #2634 closed

[2020-06-15 23:40] #2419 closed

[2020-06-15 23:40] #2618 closed

[2020-06-16 04:37] ganchandrasekaran opened #2848 "[bitnami/mongodb] MongoDB primary pod restart fails to connect to mongodb-secondary"
**Which chart**:
The name (and version) of the affected chart
chart: bitnami/mongodb
version: 7.14.6

**Describe the bug**
A clear and concise description of what the bug is.
Once MongoDB cluster is deployed with replicaSet enabled and persistence disabled.
persistence. enabled: false
replicaSet. enabled: true

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy MongoDB chart
[code]
2. Res

[2020-06-16 05:32] mohamedih opened #2849 "extraVolumeMounts for Spark in IBM Cloud"
**Which chart**:
Spark in IBM Cloud

**Describe the bug**
How can i add extra volume and extraVolumeMounts to the workers. I tried many combination but it failed. what is the format that i have to use t enter the details?
What this comment mean ?
"Array of extra volume mounts to be added to thehttps://github.com/bitnami/charts/issues/new/choose Spark worker deployment (evaluated as template). Norm

[2020-06-16 07:18] carrodher commented on #2812
Just to be clear, if you enable SSL in the values.yaml with
[code]
and also use an init container to copy the SSL keys with
[code]
the pod fails. Then your workaround is to set `ssl: off` in the first installation and then upgrade setting this parameter to `on`. Is this the approach you're following? Can you share with us what is the error when you enable everything in the first deployment?

[2020-06-16 07:29] joancafom commented on #2844
Hi @rg2609 !

We actually have two flavours of postgresql charts (`postgresql` and `postgresql-ha`). Could you please indicate which one you are experiencing this issue with and I'll be more than happy to assist and check it out for you!

Thanks!

[2020-06-16 07:31] hussainsaify commented on #2812
@carrodher Yes, you are right I have to first turn SSL off and remove the init container for moving certificates on installation and once installed, turn SSL on and add init container for moving certificates to data directory and upgrade the chart. Below are the error logs if I enable SSL at the time of 1st chart installation.

Logs during pod startup-

postgresql 07:26:17.75
postgresql 07:26:17.7

[2020-06-16 07:46] mabdelfattah commented on #2830
@Progdrasil I think I found a solution (workaround)، which is basically leaving the username as `postgres` and set `postgresqlPostgresPassword`
[code]

[2020-06-16 07:46] #2830 closed

[2020-06-16 08:07] joancafom commented on #2805
Hi @borgez

I will try to exemplify my words by running an example. Let's say I want to deploy a new release of my chart using helm:

[code]

Once I give some reasonable amount of time for the pods to go up, I am successfully able to see  them all running:

[code]

This release also came along with some secrets using that were populated using random passwords, as I did not specify any on installat

[2020-06-16 08:20] rafariossaa commented on #2814
Hi @joseguerrero ,
  I was able to reproduce the issue, I am trying to find a fix for it.

[2020-06-16 08:41] rafariossaa commented on #2823
Hi,
  I am using that addition values.  I am sorry, there was a line missing in my previous post:

[code]

  In which k8s cluster are you running this ?

[2020-06-16 08:42] rafariossaa commented on #1774
Ok, thanks
I am closing this issue.

[2020-06-16 08:42] #1774 closed

[2020-06-16 08:43] carrodher commented on #2848
Hi, thanks for the detailed explanation.

I was able to see the same behavior, it seems that disabling persistence via `--set persistence.enabled=false` the rollout restart of any node (not only the primary) produce an error adding the node to the cluster because it is not able to find a matching ID. Maybe this issue can be solved by setting a fixed ID in the node without relying on the volume, bu

[2020-06-16 08:44] miguelaeh commented on #2537
Hi @lelithium ,
thanks for the information. The tags are updated in every PR to the `bitnami/chart` repo by our CI. That's why we tell the users to wait until the tags are updated before merge the PRs.

[2020-06-16 08:47] juan131 commented on #2819
Hi @anilnokia

I just wanted to let you know that, starting with version `3.6.1-debian-10-r47`, the passwords for the JKS files are optional. You can try it switching the `image.tag` parameter to `3.6.1-debian-10-r47` when installing the Zookeeper chart.

[2020-06-16 08:50] juan131 commented on #2846
Hi @samgabrail

Could you please provide information about what steps you performed to restore the moodledata folder?

[2020-06-16 09:23] javsalgar commented on #2845
Hi,

I am unable to reproduce the issue. I just did these steps

[code]

As you can see, the probe is working fine. Are you referring to a different probe?

[2020-06-16 09:43] andresbono commented on #2801
Hi @szymonrychu, thanks for all the detailed information. It looks like there is a typo in your `values.yaml` https://github.com/bitnami/charts/issues/2801#issuecomment-644197280. Please change `usernmame` to `username`. With that, the user credentials should be updated. This is what we have tried:

[code]

[code]

[2020-06-16 09:54] rhysjtevans opened #2851 "Azure MSI"
**Which chart**:
External DNS 3.2.0

**Describe the bug**
My understanding is that I should be able to provide a values file with just provider: azure and azure.useManagedIdentityExtension = true and it should render fine. It does not add mount /etc/kubernetes/azure.json from the host.

If I negate the conditional at
#L453 and #L512 it renders as expected.

The second part to this bug is the valid

[2020-06-16 09:58] juan131 commented on #2798
Hi @raphaelcervantes

They don't need an external IP since you're using Ingress to access them. Also please note the services pointing to Alertmanager and Prometheus pods are the ones below that do have an Cluster IP:

[code]

What I want you to double check is that your NGINX Ingress controller has an external IP, and that `prometheus.nlwymmd.orpheus` and `alertmanager.nlwymmd.orpheus` points to

[2020-06-16 10:09] andresbono commented on #2849
Hi @mohamedih, please check the format with the following example. It will create a volume from a configmap and it will be mounted in the worker pods:

`custom-values.yaml`:
[code]

[code]

[2020-06-16 10:09] joancafom commented on #2807
Hi @raffaelespazzoli

Thanks for the providing more details. I was able to reproduce the issue and I am delving in it trying to find what is causing such a problem. I will keep you updated on my findings.

Thanks!

[2020-06-16 10:30] juan131 commented on #1631
Hi @ttinkr

I've been checking the changes to be implemented and theres's something extra to be done.

We can create a secret with a list of users and passwords to be created. And then, use that information on some script to auto-generates the **pool_passwd** file:

[code]

That said, PostgreSQL nodes aren't aware of these new users. So we'll have to modify PostgreSQL nodes too with some script to

[2020-06-16 10:35] ttinkr commented on #1631
Makes totally sense, yes. Thanks for the quick solution to this!

[2020-06-16 10:40] samgabrail commented on #2846
Hi @juan131

I tested logging into the site before and after restoring the moodledata folder and got the same result. I also tested everything using docker-compose and got the same error.

Here are the steps I took to backup and restore the moodledata folder:
## Backup Script

[code]

## Moodle data files Restore

[code]

[2020-06-16 10:50] #1908 closed

[2020-06-16 12:05] rhysjtevans commented on #2851
I've also tested azure-private-dns doesn't have the same validationValue ruleset.

[2020-06-16 12:21] mohamedih commented on #2849
Thank you @andresbono . In IBM Cloud, I have UI to add my configurations. I do not manually install spark helm chart. I have configuration boxes like below, not sure how can i addextraVolumeMounts and extraVolumes in these configuration box.
<img width="1414" alt="Screen Shot 2020-06-16 at 8 04 44 AM" src="https://user-images.githubusercontent.com/55608955/84772606-2f880a80-afa9-11ea-9a8d-6a6b99a6

[2020-06-16 12:55] raffaelespazzoli opened #2854 "[bitnami/redis-cluster] envoy-proxy sidecar option"
**Which chart**:
redis-cluster

**Is your feature request related to a problem? Please describe.**
redis-clusters while providing multi-master HA deployments require the consumers to be aware of the topology of the cluster. This often implies complex network set-ups.

One way to mitigate the problem is to put a proxy in front of the cluster.
I'm expanding this redis-cluster chart to support a depl

[2020-06-16 13:12] anilnokia commented on #2819
Ok great!

I will try it out.

Thank you!

From: Juan Ariza Toledano <notifications@github.com>
Sent: Tuesday, June 16, 2020 4:47 AM
To: bitnami/charts <charts@noreply.github.com>
Cc: Rana, Anil (Nokia - US/Holmdel) <anil.rana@nokia-bell-labs.com>; Mention <mention@noreply.github.com>
Subject: Re: [bitnami/charts] Zookeeper pods are not starting (#2819)

Hi @anilnokia<https://github.com/anilnokia>

[2020-06-16 13:38] anton-chuhunou commented on #2845
Hi!
I can still reproduce it with default values-production.yaml.
Clone repo:
[code]
Set admin password:
[code]
Install to cluster:
[code]
[code]
Logs:
[code]
[code]

[2020-06-16 14:22] nashpaz123 commented on #2801
In my it turns out that a team mate deployed rabbitmq by pulling it to a local folder, and setting a docker image instead of the original image:
  registry: docker.io
  repository: bitnami/rabbitmq
  tag: 3.8.3-debian-10-r100
deploying with `helm install rabbitmq bitnami/rabbitmq --set rabbitmq.username='admin',rabbitmq.password='admin',rabbitmq.erlangCookie=erlangCookiesecretcookie` works fine.
T

[2020-06-16 14:37] samgabrail commented on #2846
Ok, I found the issue. It turned out to be an issue with an afaqr field which has to do with the a2fa authentication plugin. I had to go into the database with PHPMyAdmin and delete that row in the mdl_user_info_field table.

[2020-06-16 14:37] #2846 closed

[2020-06-16 14:43] samgabrail opened #2855 "ability to increase the size of file uploads"
**Which chart**:
moodle-7.2.14

**Is your feature request related to a problem? Please describe.**
I'd like to have the ability to increase the size of file uploads. Right now the default is at 40 MB.

**Describe the solution you'd like**
This is done by following the instructions in the link below
https://docs.bitnami.com/aws/apps/moodle/administration/increase-upload-limit-php/

However, the iss

[2020-06-16 14:56] dm3ch commented on #2823
Hi, all previous tests was in my work k8s cluster deployed by kupe-spray.

I just tested on GKE cluster and didn't caught this bug.
GKE version:
[code]

This is very wierd.

[2020-06-16 15:04] dm3ch commented on #2823
Interesting.

I found that redis-slave-0 have different behaviour on my GKE and nonGKE cluster.

In my nonGKE cluster it runs sentinel container successful even if redis-master-0 pod is not yet ready.
In GKE cluster sentinel container in slave pod is crashing until redis-master-0 pod becomes ready.
Logs of crashing:
[code]

So I suppose there's a difference in DNS behaviour.
I also found that nonG

[2020-06-16 16:50] beltran-rubo commented on #2346
Hi @sabbyanandan

The container images are now available in Docker Hub and in GitHub at https://github.com/bitnami/bitnami-docker-spring-cloud-dataflow and https://github.com/bitnami/bitnami-docker-spring-cloud-skipper. The PR #2747 already uses those images. We continue working on building the Prometheus Rsocket Proxy image and adding some other functionalities into the Helm Chart but any feedbac

[2020-06-16 16:56] sabbyanandan commented on #2346
Nicely done! @chrisjs: Feel free to take it for a spin and share any feedback that you may have.

[2020-06-16 22:09] sssarali commented on #2796
Hi @marcosbc,

Could you please clarify how to run `wp  commands` in the wordpress helm chart? When `extraVolumeMounts` is enabled, where can I put the commands?

[2020-06-17 01:44] meodemsao commented on #2799
I using redis-cli like output after install and everthing working
But i resolve problem by disable sentinel ( temporary )
Now i can connect to master as well

[2020-06-17 02:27] raphaelcervantes commented on #2798
@juan131
It doesn't look like my ngress controller has an external IP.

[code]

I'm using the hostnetwork. Here is my custom values `nginx-ingress-controller` installation
[code]
I hope that clarifies some things.

[2020-06-17 04:53] rg2609 commented on #2844
Hi @joancafom,
I used the Horizontal Scaling one  `postgresql-ha`.

Thank you :smile:

[2020-06-17 06:39] juan131 commented on #2846
Great @samgabrail !! I'm very glad you were able to identify and solve the issue!

[2020-06-17 06:52] carrodher commented on #2812
Hi, it seems the `postgresqlDataDir` is not containing the proper data. You are setting it to `postgresqlDataDir: /postgresql/data` and that shouldn't be an issue, for example, I launched a new deployment using this value and the chart is properly initialized and the files are present in the proper folder:
[code]

Can you check if when you're using the init container (and the volume mount at `/pos

[2020-06-17 06:56] hussainsaify commented on #2813
@andresbono Did you get a chance to look into it?

[2020-06-17 07:03] hussainsaify commented on #2812
@carrodher The Issue is because of init container, I am copying certificates inside PostgreSQL data directory and during fresh installation Postgres expect the data directory to be empty. That's why when I install without SSL it works, and after that when I upgrade with SSL there are no issues as data directory is already in initialized state.

So, it's a two-step process, first install chart with

[2020-06-17 07:07] joancafom commented on #2622
Hi @tbnguyen1407

Thanks so much for reporting! PR #2852 is going to be merged shortly and should be able to fix this problem 😄.

[2020-06-17 07:12] #2666 closed

[2020-06-17 07:32] andresbono commented on #2849
Oh I see. I haven't tried that UI, but to be safe, I'd use JSON minified format to provide the arrays so they don't contain multiple lines. To continue with the example from my previous comment this would be the format:

[code]

[code]

[2020-06-17 07:53] joancafom commented on #2796
Hi @sssarali !

The idea is to do something similar to this:

1. Create a script that will be executed at installation time, e.g. `myscript.sh`:
[code]
2. Copy that file to your pods under the path `/docker-entrypoint-init.d/myscript.sh`. For example, you could create a configMap out of it and mount it:

* Create a ConfigMap from the file:
[code]

* Modify `values.yml` to include this brand-new Co

[2020-06-17 08:02] dani8art commented on #2834
Hi @andrei-dascalu thank you for opening the issue.

There is another way to pass configuration properties to grafana, you can use envvars with the following pattern `GF_<section>_<property>` and the chart have the `extraEnvVars` feature. So I think you could try:

[code]

[2020-06-17 08:18] andresbono commented on #2813
Hi @hussainsaify, we have been checking this issue more in depth and, in principle, with an nginx-ingress, you can't use the ingress rule that the helm chart creates out-of-the-box.

The ingress rule is using the http protocol but postgresql is plain tcp. Both protocols are not compatible. Future versions of this chart will update the templates and documentation to avoid confusion.

Possible solut

[2020-06-17 08:20] lelithium commented on #2537
Hi @miguelaeh, that makes sense. Are there any steps I should take to have this new image tag incorporated unto a new version ? Or is the ball on bitnami's side to use the CI to upgrade ? I'm 100% OK with opening a PR myself on this repo if that's what's needed

[2020-06-17 08:20] juan131 commented on #2819
Thanks @anilnokia

Please keep up us updated.

[2020-06-17 08:29] shankarmohannamakkal commented on #2789
New chart created as dotnet-core-kestrel.

PR - https://github.com/bitnami/charts/pull/2859

[2020-06-17 08:37] hussainsaify commented on #2813
Thanks @AndreaBeggiato

Currently, we are using configmap only for forwarding the requests but it gets ugly when you are hosting about 40 databases and forward request to them using different ports. Also, creating a service loadbalancer is too costly as it requires to create a load balancer for each of them.

Is there a better solution to access externally?

[2020-06-17 08:41] juan131 commented on #2798
Hi @raphaelcervantes

If you're using the host network, I guess you're using a DaemonSet (instead of a Deployment for the NGINX Ingress Controller), right? Check [parameters](https://github.com/bitnami/charts/tree/master/bitnami/nginx-ingress-controller#parameters) below:

Parameter | Description | Default
-- | -- | --
kind | Install as Deployment or DaemonSet | Deployment
daemonset.useHostPort |

[2020-06-17 08:42] miguelaeh commented on #2851
Hi @rhysjtevans ,
I think it is not possible to provide only those values. There are mandatory values that should be set in order to deploy the chart properly. For example, using your proposed values:
[code]
You will get something like this, pointing out that you need to provide those mandatory parameters:
[code]

[2020-06-17 08:57] #2807 closed

[2020-06-17 08:59] joancafom commented on #2844
Hi @rg2609

I was unable to reproduce your issue (scaling down replicas works fine for me!). Are you missing the password parameters when performing the upgrade maybe? Here is an example:

 1. Create a brand new release (I have modified `values.yaml` in order to set `replicaCount=3`):
[code]

 2. Wait for the installation to succeed:
[code]

3. Scale down your cluster. It is very important in this

[2020-06-17 09:07] evgmoskalenko commented on #2295
Thanks, already reviewed.. :-)

[2020-06-17 09:09] #2295 closed

[2020-06-17 09:24] andresbono commented on #2801
In principle, yes, I think that Dockerfile is correct. If you push that image to a container registry and specify the reference in the values of the chart, it will use that custom image.

Yes, it is possible to extend the Dockerfile or just modify the one that you pointed.

[2020-06-17 09:34] javsalgar commented on #2855
Hi,

Thank you very much for the input. I think it makes sense to allow our containers to modify several critical php parameters or even allowing you to mount your custom php configuration. I will open a task so we can evaluate adding these features. We cannot guarantee an ETA, but I will update this ticket when we have more information.

[2020-06-17 09:54] javsalgar commented on #2845
Hi,

I just followed the exact steps and found no issue

[code]

Could it be that we are missing something?  Which Kubernetes platform are you using?

[2020-06-17 10:01] miguelaeh commented on #2854
Hi @raffaelespazzoli ,
Thank you very much for offering you to create that PR.
I would like to understand better the differences between using `envoy` and the current deployment.
Currently, we support a single access point to the Redis cluster using both internal and external access. In the internal access case, the client will be redirected to the proper Pod Ip, and in the external access, the cl

[2020-06-17 10:27] raffaelespazzoli commented on #2854
Miguel,
having only one endpoint to talk to (not just to initiate the
conversation to) is what I am trying to achieve.
exposing too many loadbalancer IPs, was my customer's problem that
prompted the proposed design.
Also making the deployment compatible with openshift routes is a secondary
objective. This way the connection just goes through a passthrough route
and zero load balancer services need

[2020-06-17 11:59] rg2609 commented on #2844
@joancafom, Thank you help :smile: :+1:

[2020-06-17 13:35] anton-chuhunou commented on #2845
It is a cluster in GCP:
[code]
Can you also please check your logs? Do you have the same error messages there?

[2020-06-17 13:35] miguelaeh commented on #2537
Hi @lelithium ,
I forced a new release on our side to update the tags. Now they are using the latest ones: https://github.com/bitnami/charts/commit/6ef7bcde81395854bf408d04f065ce93931d8cd8#diff-ee387abc9aa8a623b2074e83d06f6bf2

[2020-06-17 13:41] anton-chuhunou opened #2862 "[bitnami/influxdb] InfluxDB Relay healthcheck in GCP."
**Which chart**:
0.5.0

**Describe the bug**
GCP only supports HTTP 200 codes in its healthchecks. Since InfluxDB relay uses HTTP 204 for it's /ping endpoint, healthcheck never gets healthy status. Because of that LoadBalancer cannot forward traffic to this "unhealthy" backend and the whole setup is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable ingress in the helm chart

[2020-06-17 14:41] sssarali commented on #2796
Thanks @joancafom, that helps!

However, the problem I am having is that I need the `wp commands` to interact with the contents of an image I am using in a `Job` yaml file. The image has custom settings that would need read write permissions that only the root user has.
Is there a way to put all those `wp commands` in `Job` yaml file that shares the `bitnami/wordpress` volume mount using a non-aut

[2020-06-17 15:50] anton-chuhunou commented on #2845
Also it looks like that issue is reproducible with high-available architecture.

[2020-06-17 16:50] manitycloud opened #2865 "Pre-installed plugins and themes via YAML ? - Wordpress"
Dears,

I'm new to the Kubernetes mechanism, so please don't judge me :)
I try to implement what I need with this technology, this is for the moment a learning approach rather than a production approach.
In your YAML you mention that we can specify extra plugins and themes for wordpress.
However, I don't really understand how this command is actually working:

[code]
Could you please give me a con

[2020-06-17 17:30] jonathan-m-foley opened #2866 "[bitnami/postgresql-ha] Clarification of pgpool scaling"
**Which chart**:
[bitnami/postgresql-ha]

**Is your feature request related to a problem? Please describe.**
The postgresql-ha chart inclues a value "pgpool.replicaCount" that allows the deployment of pgpool to be scaled. However, it is unclear from the documentation whether setting this value to 2 or more is ever advisable. I don't see any places in the templates where pgpool watchdog is configur

[2020-06-17 18:35] pmorelli92 commented on #2337
Sorry for re opening this, but I am having the same problem.

@marcosbc  the `service.nodePort` is mapping against the 5672 port as you can see here:

https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/templates/svc.yaml#L33

Meanwhile por the management port 15672 the node port will always be null:

https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/templates/svc.yaml#L61

[2020-06-17 19:15] #2669 closed

[2020-06-18 01:05] ganchandrasekaran commented on #2848
Hello, Thank you for response.

=>
Regarding the role of secondaries and arbiters, according to the official docs https://docs.mongodb.com/manual/core/replica-set-architecture-three-members/ it seems the secondary can be elected as the primary while the arbiter is only used to vote in the elections.

In general, yes that is the behavior. However, from this chart it looks like the Primary is constr

[2020-06-18 03:54] logicbomb421 opened #2868 "[bitnami/rabbitmq]: Error while waiting for Mnesia tables"
**Which chart**:
bitnami/rabbitmq@7.0.0

**Describe the bug**
It seems whenever the StatefulSet needs to update, but still has an existing PVC, we get stuck in a loop during initialization with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the chart (used `values-production.yaml`), wait for stabilization
2. Make a change to the chart (I added `prometheu

[2020-06-18 05:13] elordahl opened #2869 "[Postgres-ha] mountPath & extendedConf conflict and prevent pod start"
**Which chart:**
[bitnami/postgresql-ha]

**Is your feature request related to a problem?** Yes
When using the `persistence.enabled` AND `postgresql.extendedConf` values, the ConfigMap is mounted in `/bitnami/postgresql/conf/conf.d/` which is inside the default mountPoint `/bitnami/postgresql/`.  While troubleshooting, I noticed some inconsistencies with mount points and wanted to check on the fol

[2020-06-18 06:44] juan131 commented on #1631
Hi @ttinkr

I collected all this information and created an internal task to add this feature in the chart. Thanks so much for your feedback!!

We'll keep you updated about our progress.

[2020-06-18 07:03] rafariossaa commented on #2865
Hi,
  Could you take a look to this other approach ?
  https://github.com/bitnami/charts/issues/2796

[2020-06-18 07:07] andresbono commented on #2813
Maybe you can launch a single postgresql-ha deployment with multiple databases and credentials, that way, you will need to expose a single port only and you can manage all the databases in a unified way.

[2020-06-18 07:11] rafariossaa commented on #2823
Hi,
  Could it be that the nodes are restarting and all "think" that they are the master ? Could you check the restarts ?

[2020-06-18 07:38] joancafom commented on #2844
You are welcome @rg2609 ! Do not hesitate to ask any further questions that may arise 😄

[2020-06-18 07:38] #2844 closed

[2020-06-18 07:47] joancafom commented on #2796
Hi @sssarali

You're welcome! By using a `wordpress` container in your Job you should be able to run `wp commands` without any problems. That being said, could you provide us with the `.yaml` file you are using for your Job so that we can provide you with better feedback?

Thanks!

[2020-06-18 07:49] hrvatskibogmars commented on #2762
I have the same issue. Wordpress files are just not persisted in the right location on the disk, but MariaDB works fine. I am using the latest docker version, latest WordPress chart version, and latest local-path-provisioner.

I didn't have these issues before.

[2020-06-18 07:54] hrvatskibogmars commented on #2762
@genughaben Did you manage to fix the problem?

[2020-06-18 08:02] pmorelli92 opened #2870 "[Bitnami/RabbitMQ] Credentials are not working"
**Which chart**:
RabbitMQ - Version 7.0.0.

**Describe the bug**

Pod wont get ready since the liveness check is failing.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

Pod gets ready.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**

I managed to make it work only u

[2020-06-18 08:22] carrodher commented on #2862
Hi, the readiness/liveness probe for **influxdb** consists basically in running the following command
[code]
https://github.com/bitnami/charts/blob/master/bitnami/influxdb/templates/influxdb/deployment-standalone.yaml#L192
in the same way the **influxdb relay** readiness/liveness probe is based on the socket connection
[code]
https://github.com/bitnami/charts/blob/master/bitnami/influxdb/templates

[2020-06-18 08:50] carrodher commented on #2848
Hi, I was reviewing our internal backlog and there is a task to improve the behavior in this kind of use case. At this moment there is a teammate working on that, so probably in the next days/week, there is a new release of MongoDB chart fixing this issue by using a new approach.

I just added a link to this issue in the task just to be taken into account. Thanks again for letting us know. I am se

[2020-06-18 09:05] javsalgar commented on #2869
Hi,

Thank you for using Bitnami. Yes, you are right. I believe that the volumeMount should be there always, as it is using an emptyDir when persistence is set to false. Feel free to submit a PR :)

[2020-06-18 09:27] javsalgar commented on #2845
Hi,

I'm sorry, but I'm unable to find the error message in the logs. I see initialization messages and then some access logs. Could you point me to the exact error message you are seeing?

[2020-06-18 09:28] carrodher commented on #2812
Hi, yes, at this moment it is not the best approach. We are working on adding SSL support directly to the container image used in this chart, so this issue should be solved soon. With the new approach, it will be possible to handle SSL directly using the default image and some parameters in the chart, as we are already doing in other Bitnami charts. Those changes are going to be applied to the Pos

[2020-06-18 09:37] miguelaeh commented on #2854
Hi @raffaelespazzoli ,
I understand, thanks for the clarifications.
Please feel free to send that great PR if you address those problems, we will be really pleased to review it.

[2020-06-18 09:38] marcosbc commented on #2799
I understand your issues were resolved by using redis-cli, so I'm going to close this. Let me know if you continue to find issues with the Bitnami chart.

[2020-06-18 09:38] #2799 closed

[2020-06-18 09:46] miguelaeh commented on #2762
Hi @hrvatskibogmars ,
Are you also using rancher? Do you know which is the latest version that works in your case?

[2020-06-18 09:50] marcosbc commented on #2811
Hi, I could see errors such as:

[code]

Could you check if your PVC is properly configured and that your Kubernetes node has enough free space? Also, could you share more info on your environment? I.e. whether you are using Minikube, EKS...

[2020-06-18 09:57] appunni-dishq commented on #1461
I believe  wp-config.php accepts environment variables for those in wordpress docker, So passing env vars should do or a configMap

[2020-06-18 10:01] marcosbc commented on #2337
Note that it is only null with `service.type=ClusterIP`, which as per this issue should not be the case (since `service.type=NodePort`):

      {{- if eq .Values.service.type "ClusterIP" }}
      nodePort: null
      {{- end }}

But since it is not set to null, it will try to allocate a random port (even though it is not configurable), which I understand is the main issue. I probably got confused

[2020-06-18 10:06] pmorelli92 commented on #2337
Hi @marcosbc thanks for the quick reply :)

I cannot just change:

    - name: http-stats
      port: {{ .Values.service.managerPort }}
      targetPort: stats
      {{- if eq .Values.service.type "ClusterIP" }}
      nodePort: null

To this:

    - name: http-stats
      port: {{ .Values.service.managerPort }}
      targetPort: stats
      {{- if (eq .Values.service.type "ClusterIP") }}
      nod

[2020-06-18 10:19] miguelaeh commented on #2866
Hi @jonathan-m-foley ,
Thank you very much for sharing your thoughts. Actually, I think we should investigate about having more than one PgPool replicas. I will open a task on our side to check the official docuemntation and adapt the Helm Chart if needed or document the current approach.

[2020-06-18 11:12] josefschabasser commented on #2868
Since chart version 7.0.0 I can't even install the chart because of this error. After 15 minutes, only 2 of 3 pods are up and constantly restarting.
[code]

[code]

[2020-06-18 11:12] dm3ch commented on #2823
Nope in both clusters nodes was completely healthy. There wasn't any pod restarts (except slave-0 in GCP cluster while master-0 is not yet available)

[2020-06-18 11:53] hrvatskibogmars commented on #2762
Docker
`
Client: Docker Engine - Community
 Version:           19.03.11
 API version:       1.40
 Go version:        go1.13.10
 Git commit:        42e35e61f3
 Built:             Mon Jun  1 09:13:48 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.11
  API version:      1.40 (minimum version 1.12)
  Go version:

[2020-06-18 13:06] sssarali commented on #2796
Hi @joancafom, this is the Job's yaml file:
[code]
1. In the Job I had to do `wp core download` and re-create the wp-config.php file in the Job's file path: `/var/www/html` because I got an error saying:
[code]
I am guessing that it is because the volume doesn't have access to the Wordpress installation located at `opt/bitnami/wordpress`.

2. Right now the job uses user `root`. However, I am tryin

[2020-06-18 13:33] mboutet opened #2873 "[bitnami/prometheus-operator] Add read permissions on namespaces for prometheus"
**Which chart**:
chart: bitnami/prometheus-operator
version: 0.20.3

**Is your feature request related to a problem? Please describe.**
Prometheus is unable to scrape metrics for objects in other namespaces than its own.

**Describe the solution you'd like**
Adding the following rule to [prometheus/clusterrole.yaml](https://github.com/bitnami/charts/blob/master/bitnami/prometheus-operator/template

[2020-06-18 13:36] jonathan-m-foley commented on #2866
Great, thank you!

[2020-06-18 13:36] vDMG opened #2874 "[bitnami/zookeeper] allow possibilty to give a schedulerName to pod spec"
**Which chart**:
bitnami/zookeeper

**Is your feature request related to a problem? Please describe.**
I would like, and it may be useful for a lot of person to give a schedulerName, especially for on-premise kubernetes storage solution (aka portworx)
**Describe the solution you'd like**

https://github.com/bitnami/charts/pull/2872

**Describe alternatives you've considered**
N/A
**Additional cont

[2020-06-18 15:44] apenney opened #2875 "[Bitnami/ghost] url in config.production.json is wrong"
**Which chart**:
Ghost 10.0.10

**Describe the bug**
Despite setting ghostProtocol to "https", the url I end up with in config.production.json is http://, and I can't seem to massage the values to make it https at all.

**To Reproduce**

Using values:

    values:
        allowEmptyPassword: false
        ghostHost: company.me
        ghostPath: /blog/
        ghostProtocol: https
        ghostUse

[2020-06-18 15:55] sergeyshaykhullin opened #2876 "[postgresql-ha] Using with multiple users/databases"
**Which chart**: postgresql-ha

**Is your feature request related to a problem? Please describe.**
- I can use initDb script to create another db/user, but only once
- I have to use sql

**Describe the solution you'd like**
[code]

**Additional context**
It should be idempotent sql script, to add ability to add more users/databases later

[2020-06-18 16:02] #2784 closed

[2020-06-18 16:12] connorearl opened #2877 "[bitnami/rabbitmq] extraEnvVars example incorrect"
**Which chart**:
rabbitmq 7.0.0

**Describe the bug**
The example in values-production shows the extraEnvVars format as below
[code]
When it should actually be:
[code]

[2020-06-18 16:13] connorearl opened #2878 "[bitnami/rabbitmq] Custom username cannot set password"
**Which chart**:
rabbitmq 7.0.0

**Describe the bug**
When a custom user and existing secret is set for the password, the pod will fail to start with error
`Couldn't change password for user 'user'`

**To Reproduce**
Steps to reproduce the behavior:
1. Set username using `auth.username`
2. Set password using `auth.existingPasswordSecret`

**Expected behavior**
The pod to start successfully with th

[2020-06-18 17:08] apenney commented on #2875
It looks like ghost can take a URL envvar to override whatever it's doing to build this config.production.json, so I tried adding it via extraEnvVars and ran into #2880.

Once that's merged and I verify this really fixes my problem, I'll work on adding URL as a real parameter rather than via an extraEnvVar.

[2020-06-18 17:12] sergeyshaykhullin commented on #2499
@carrodher I am getting same issue

Version
[code]
Logs (INVERTED)
[code]

[2020-06-18 18:21] mboutet commented on #2873
Closing this since there's no issue after all. Turns out I didn't send any requests to the newly installed `nginx-ingress-controller` 🤦 . Thus, no data for `nginx_ingress_controller_requests` had been scraped yet. I probably performed some http requests and thought that my change to the `ClusterRole` was what made those metrics to appear.

[2020-06-18 18:21] #2873 closed

[2020-06-18 18:28] ankit302 commented on #1985
HI @javsalgar ,

I'm also facing the same issue, I'm running spark in cluster mode, 1 master & 1 worker in AKS -kubernetes environment.

Worker node logs  :
`20/06/18 16:46:05 INFO Worker: Asked to launch executor app-20200618164330-0000/67 for Spark shell
20/06/18 16:46:05 INFO SecurityManager: Changing view acls to: root
20/06/18 16:46:05 INFO SecurityManager: Changing modify acls to: root
20/06

[2020-06-18 23:49] frankoonk commented on #2048
Is it possible to add this specific php.ini extension in further releases? Because it's a standard WordPress improvement and i don't want to use a custom WP Image, because of future updates.

[2020-06-18 23:53] #2682 closed

[2020-06-19 03:09] #2075 closed

[2020-06-19 05:01] mohamedih opened #2883 "Error in Spark Submit"
I'm using Spark chart in IBM Cloud. I'm using values.yaml. The cluster master and the workers are up and running in Kubernetes. When i use spark submit from pod inside Kubernetes, I see the below behavior:

**This log from the driver itself.**

[code]

**This is error form one of the workers.**

[code]

****Here is the spark submit command****
[code]

[2020-06-19 05:07] mohamedih commented on #2883
**Here is the Kubernetes resources for the drivers process**

`apiVersion: v1
kind: Service
metadata:
  name: cloudant-spark-app
  labels:
    app: cloudant-spark-app
spec:
  ports:
    - port: 4040
      name: http
      protocol: TCP
      targetPort: 4040
  selector:
    app: cloudant-spark-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudant-spark-app
  labels:
    app: clou

[2020-06-19 06:28] rafariossaa commented on #2048
Hi,
  The current image contains php with imagick but the extension is disabled.
  Instead of creating new image, you can extend ours to enable imagick. This way, when you want to update only you need to extend the same way the new image.
  To enable imagick you need to uncomment the following line from `/opt/bitnami/php/lib/php.ini`:
[code]
  You have an example on how to extend a WP image in thi

[2020-06-19 06:34] rafariossaa commented on #1461
Hi,
 Thanks for sharing.

[2020-06-19 06:56] carrodher commented on #2874
Hi, thanks for your changes. I just reviewed the PR and launched it in our CI/CD system. Once merged the PR this issue should be automatically closed

[2020-06-19 06:57] juan131 commented on #2870
Thanks so much for reporting this issue! This regression was introduced by me when I did a major refactoring of the chart.

I just created a PR to address it.

[2020-06-19 07:26] manitycloud commented on #2865
Thank you for your reply.
So if I'm right, I simply should do this:
[code]
Am I correct?

[2020-06-19 07:31] manitycloud commented on #2865
Or maybe is there an easier way to do that simply with the helm command via a parameter?

[2020-06-19 07:45] carrodher opened #2885 ""connection refused" issue in postgresql-ha"
@carrodher I am getting same issue

Version
[code]
Logs (INVERTED)
[code]

_Originally posted by @sergeyshaykhullin in https://github.com/bitnami/charts/issues/2499#issuecomment-646184958_

[2020-06-19 07:45] rafariossaa commented on #2823
Hi,
  Yes, it seems to be related with GKE DNS.
  If it happens you found a fix or a workaround, please don't hesitate to share it or even feel free to send a PR.

Thanks forehand

[2020-06-19 07:50] carrodher commented on #2885
Hi @sergeyshaykhullin, I created this issue as a separate issue, it seems the error in the original post:
[code]
is unrelated to the one you're facing:
[code]

In this case, please can you provide more information in order to try to reproduce the issue? For example:
- Are you using any custom parameters or modifications in the _values.yaml_?
- Is it the first installation or is it an upgrade?
- Is

[2020-06-19 08:35] #2870 closed

[2020-06-19 08:35] juan131 commented on #2870
Hi @pmorelli92

We just released a new version of the chart (7.0.2) addressing this issue, could you give it a try?

[2020-06-19 09:02] miguelaeh commented on #2762
Hi @hrvatskibogmars ,
I wanted to say which version of the Helm Chart

[2020-06-19 09:21] miguelaeh commented on #2875
Hi @apenney ,
It has been merged, could you give it a try?

[2020-06-19 09:35] #2874 closed

[2020-06-19 10:19] farlop opened #2887 "[bitnami/rabbitmq] ingress.extraHosts points to service 'http' which does not exists"
**Which chart**:
bitnami/rabbitmq 7.0.1

**Describe the bug**
In order to use an ingress with relative path 'xxx.yyy.com/rabbitmq' for accesing to management, you have to use the 'ingress.extraHosts' parameter because there is no 'ingress.path'.

When using this approach, ingress resources are pointed to servicePort named 'http' instead of 'http-stats'.

It looks like this line is wrong: https://g

[2020-06-19 10:41] farlop commented on #2887
Could it be possible to add a `ingress.path` parameter so we don't have to use extraHosts and extraTls?

[2020-06-19 10:52] andresbono commented on #2883
Hi @mohamedih, did you try with the commands shown in the chart notes? You can obtain them with:

[code]

It will show how to execute a `spark-submit` with a sample jar file

[2020-06-19 11:02] ankit302 opened #2888 "Spark executors are getting exited with status1 & error code1"
HI @javsalgar ,

I'm also facing the same issue, I'm running spark in cluster mode, 1 master & 1 worker in AKS -kubernetes environment.

Worker node logs :
20/06/18 16:46:05 INFO Worker: Asked to launch executor app-20200618164330-0000/67 for Spark shell 20/06/18 16:46:05 INFO SecurityManager: Changing view acls to: root 20/06/18 16:46:05 INFO SecurityManager: Changing modify acls to: root 20/06/1

[2020-06-19 11:48] denniseffing opened #2889 "[bitnami/postgresql] Adhere to Helm label best practices"
**Which chart**: postgresql (chart version 8.10.6)

**Is your feature request related to a problem? Please describe.**
We use the service mesh Istio in combination with a Kiali deployment to visualize our mesh.
Kiali utilizes labels to group deployed resources into "apps". By default, the label `app=` is used for this. Istio v1.5 and Kiali v1.15 changed the default app label from `app=` to `app.ku

[2020-06-19 12:16] ejpir commented on #2548
@andresbono we have been able to narrow it down to `calico` networking and these 2 lines:

[code]

will update the ticket when we know what part of calico is blocking the traffic. Without calico it works.

[2020-06-19 13:18] apenney commented on #2875
Appreciate the merge!  I'm still running into the same issue:

[code]

[code]

I'm baffled as to where it finds and builds this value!

[2020-06-19 13:27] apenney commented on #2875
Slow progress, turns out a lower case url does something better than URL.  However, in my case that is "crash the container in a way that gives me no useful logs".  Baby steps!

[2020-06-19 13:33] apenney commented on #2875
Ultimately I fixed this by jumping into the running setup and using "ghost config url" which permanently changed it.  I'll do some testing this weekend to ensure a clean setup with the right GHOST_PROTOCOL works.

I think I set this up, then added GHOST_PROTOCOL after the first run, and at that point it was unfixable through the chart itself.  I'll verify this is the case and ensure a clean run wi

[2020-06-19 13:34] mohamedih commented on #2883
@andresbono it shows command that use the workers directly, but in my case i will not use the workers to submit the jobs. not sure what is actually the problem.

[2020-06-19 13:49] chrisjs commented on #2346
lots of good stuff in that PR!

[2020-06-19 14:21] joancafom commented on #2877
Hi @connorearl ,

Thanks for reporting! This issue was already fixed in a recent PR #2867 and has already been released, so updating the Chart will make it work with the format you find in both `values` and `values-production`.

Thanks!

[2020-06-19 14:22] #2877 closed

[2020-06-19 14:34] juan131 commented on #2868
Hi @logicbomb421

This is probably related to [this issue](https://github.com/bitnami/charts/issues/2870) which was already addressed and fixed at [this PR](https://github.com/bitnami/charts/issues/2870). Sorry for the inconveniences.

Could you please give a try to the latest chart version?

[2020-06-19 14:40] javsalgar commented on #2878
Hi,

I was unable to reproduce the issue. Just did this

[code]

Could you try with the latest release of the chart? I see that 7.0.3 is available

[2020-06-19 14:42] javsalgar commented on #1985
Hi,

Where are you running the job from? I can't see the logs correctly, but do you see anything like this?

[code]

[2020-06-19 15:05] stevefan1999-personal commented on #1788
/reopen
I have found a way to workarouind this. Basically you do a brute force attack -- setting the password yourself.
You will need to connect to the TTY of the main MariaDB pod, and type the following commands:
[code]
If done right you will be greeted with MariaDB welcome message. You can hop around, use `SHOW database` and stuff.
This indicates your password actually aren't being set by the in

[2020-06-19 15:20] sssarali commented on #2865
Hello,

I am also having trouble using the `initContainer`. I am trying to pull a custom image from harbor. And I have this for the `initContainer`. I'm not using any commands yet as to test whether the initContainer will even work:
[code]
However, the initContainer keeps failing. Any ideas why? Thanks!

[2020-06-19 15:24] stevefan1999-personal commented on #1788
But coming to think about this, I think MariaDB prefer us NOT to use native socket with local administration, and actually prefers using UDS instead. So I think this is why I can connect to the server successfully without any password set. See https://superuser.com/a/1103735 for more.
**SUGGESTION 1**: Disable/Do not use UDS auth plugin from the upstream Bitnami MariaDB Docker image. This could be

[2020-06-19 16:43] ankit302 commented on #1985
Not a job , running in spark-shell .

Error logs:-

20/06/18 16:46:05 INFO Worker: Asked to launch executor app-20200618164330-0000/67 for Spark shell
20/06/18 16:46:05 INFO SecurityManager: Changing view acls to: root
20/06/18 16:46:05 INFO SecurityManager: Changing modify acls to: root
20/06/18 16:46:05 INFO SecurityManager: Changing view acls groups to:
20/06/18 16:46:05 INFO SecurityManager: C

[2020-06-19 16:46] beltran-rubo commented on #1985
"/usr/lib/jvm/java-1.8-openjdk/jre/bin/java" that path does not exist in the Spark container, try to use only "java" and it will use the location from the path.

[2020-06-19 18:04] elordahl commented on #1880
I have encountered a similar issue, but the PDB setting makes no difference -- only disabling of persistence will work **or** some carefully placed `sleep` statements in the docker image.   I believe there's some race conditions during the initial-boot-sequence, which can prevent the Primary Registration from completing.

In my testing, the primary node isn't registered, but several other operatio

[2020-06-19 19:50] #2030 closed

[2020-06-19 20:57] logicbomb421 commented on #2868
Hi @juan131, thanks for the reply!

Unfortunately it appears I'm getting a YAML parse error when attempting to upgrade to `7.0.2`:
[code]

The command I used was:
[code]

The `values.yaml` I am using is a copy of `values-production.yaml` with the configuration tweaks I have made in my environment. If you need to see these, please let me know and I'll be happy to provide. Thanks!

[2020-06-19 21:31] logicbomb421 commented on #2887
I also need something like @farlop suggested -- I have a need to expose the actual amqp port (5672) through an ingress. It looks like the `ingress.yaml` template defaults the backend to `http`, which does not exist as this issue describes.

[2020-06-20 00:08] sabbyanandan commented on #2346
@beltran-rubo @juan131: Impressive work! Thank you for pushing it to promote a cleaner and a pluggable design. Looking forward to giving it a go when the PR merged.

[2020-06-20 07:16] Perfect-Web opened #2890 "annotation on init cluster job"
https://github.com/bitnami/charts/blob/15c13ec45a64f95eb624c3b542655c5985a8a5d9/bitnami/redis-cluster/templates/init-cluster.yaml#L8

in case of using istio autoinject, this job will never finish and the helm deployment will timeout.
we need to be able to specify
`sidecar.istio.io/inject: "true"` on the job

[2020-06-20 12:36] JustDoItSascha commented on #2571
I'm trying to use the node chart and setting the persistence.storageClass Property, but I get the error: Error: YAML parse error on node/templates/pvc.yaml: error converting YAML to JSON: yaml: line 11: mapping values are not allowed in this context.

Does this error come from the topic discussed here? Or is it something else?

[2020-06-20 16:53] chowwaihei1228 opened #2891 "[bitnami/mongodb] MongoDB primary node and secondary node are always deployed in the same node in AWS EKS"
**Which chart**:
mongodb (Version 7.14.8)

**Describe the bug**
I find the primary node and secondary node are deployed in the same node by using values-production.yaml.

Then I try to use Pod Anti Affinity with **requiredDuringSchedulingIgnoredDuringExecution** to prevent such issue but failed. I observe the persistent volumes are created and mounted by the same node before the pods are created,

[2020-06-20 18:56] smhmayboudi opened #2892 "unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta1""
**Which chart**:
The name (and version) of the affected chart

  - name: mysql
    version: 4.5.0
    repository: https://charts.bitnami.com/bitnami

**Describe the bug**
A clear and concise description of what the bug is.

I add the chart to chart.yaml and even I use "ci/values-production.yaml" to extra check.

**To Reproduce**
Steps to reproduce the behavior:
1. add the dependency at chart.yaml

[2020-06-21 12:02] ransoor2 commented on #2868
@juan131 This issue happens with 7.0.3 as well.
To reproduce the issue I created a new deployment from scratch, works fine.
Then I deleted the entire stateful set and when upgrading again I get the "Error while waiting for Mnesia tables".
Trying the clustering.forceBoot option does not work as well (there is another error appearing).
Waiting for an update on this issue

[2020-06-21 14:39] shapeofarchitect commented on #923
In my case I didn't provide any value so kafka set the broker id 0,1,2 in my pods. But I agree to change this to comment and not hardcode the broker.id in the values at all.

[2020-06-22 04:30] #2720 closed

[2020-06-22 04:30] #2724 closed

[2020-06-22 04:30] #2706 closed

[2020-06-22 05:04] Javid907 commented on #2811
Hi Thank very much

I was prompted  in this ticket
https://github.com/coreos/prometheus-operator/issues/3114

чт, 18 июн. 2020 г. в 13:50, Marcos Bjoerkelund <notifications@github.com>:

[2020-06-22 06:10] juan131 commented on #2891
Hi @chowwaihei1228

This is related to Primary and Secondary nodes to be part of different statefulsets. Therefore, it doesn't consider a conflict to have both a primary and a secondary in the same node.

This is going to change soon since we're working on a chat refactorization that will put together both primary and secondary nodes under the same statefulset.

[2020-06-22 06:29] chowwaihei1228 commented on #2891
Hi @juan131

Got it thanks! I'm looking forward for the new version.

[2020-06-22 06:37] rafariossaa commented on #2865
No, I am sorry.
In that example he is not using the initcontainer, but a shell script that run the plugins installation commands. This script should be located on /docker-entrypoint-init.d.

[2020-06-22 06:38] rafariossaa commented on #2865
Hi,
  You issue seem to be different, do you mind to open a new issue so we can make a better tracking of it ?.

Thanks forehand.

[2020-06-22 07:00] carrodher commented on #1788
At the end the issue is that with the default options, the random password is stored in the PV then when you uninstall the deployment with `helm delete` the PV/PVCs are not deleted. So the second installation generates a new random password different from the first one that is still present in the PV so there is a conflict between the new password and the previous one.

This is not a specific issu

[2020-06-22 07:18] dani8art commented on #2876
Hi @sergeyshaykhullin, thank you for the suggestion, I would like to know a bit more. If I understood well, you would like to have the possibility of creating users and databases either when installing the chart or also when updating it, right? In the end, you would like to follow a process like:

**creation time**

[code]

**upgrading time**

[code]

[2020-06-22 07:40] ganchandrasekaran opened #2896 "[bitnami/mariadb] MariaDB Switchover, promote a slave to take its Master's place"
**Which chart**:
The name (and version) of the affected chart.
charts/bitnami/mariadb

**Is your feature request related to a problem? Please describe.**
Currently the exact role of Slave is unclear. Slave is unable to take the role of Master. As I understand Master is always rescheduled by K8S.  This would mean, Write operation has some downtime when Master pod is down.

**Describe the solution y

[2020-06-22 07:43] ganchandrasekaran commented on #2848
@carrodher Can you share more information on such new approach? Perhaps add link to the PR page!
I found similar limitation with MariaDB, so reported in its spaces: https://github.com/bitnami/charts/issues/2896
Thanks

[2020-06-22 07:47] dani8art commented on #2888
Hi @ankit302 thank you for opening this issue, I was testing the example command and it seems to be working fine for me:

[code]

we can see in the logs the result of the job launched:

[code]

Is that happening for you as well?

[2020-06-22 07:48] dani8art commented on #2738
any updates @xrow ?

[2020-06-22 07:49] miguelaeh commented on #2887
Hi @farlop and @logicbomb421 .
Thank you very much for reporting this.

As you said, Ingress can only be used with HTTP/S protocols so you cannot use it for AMQP. In that case, you will need to expose a LoadBalancer service.

Regarding the original issue reported.

I would say that the change should fix two issues, fix the incorrect port used for extra hosts, and add the feature to set the path fo

[2020-06-22 07:51] dani8art commented on #2679
Hi @jeusdi , might you execute the command with `--set image.debug=true`? do you have any updates on this?

[2020-06-22 08:08] beltran-rubo commented on #2888
@ankit302 please try to use "java" only as the command to execute and the job will pick it from the path. The path you specified does not exist: "/usr/lib/jvm/java-1.8-openjdk/jre/bin/java"

[2020-06-22 08:19] ankit302 commented on #2888
@dani8art Can you share your github repo ??
are you running this in K8s...

still getting same error;

20/06/22 07:43:40 INFO ExternalShuffleBlockResolver: Clean up non-shuffle files associated with the finished executor 28
20/06/22 07:43:40 INFO ExternalShuffleBlockResolver: Executor is not registered (appId=app-20200622074237-0000, execId=28)
20/06/22 07:43:40 INFO Worker: Asked to launch execut

[2020-06-22 08:28] miguelaeh commented on #2875
Hi @apenney ,
Thank you very much for sharing your progress. Any updates on that?

[2020-06-22 08:30] josefschabasser commented on #2868
@juan131 Helm chart v7.0.3 fixed the problem during install from scratch. All pods ready after 5 minutes, no restarts after 20 minutes. I didn't test upgrading though.

[2020-06-22 08:30] #2711 closed

[2020-06-22 08:31] carrodher commented on #2848
Hi, the work is still in progress, when the PR was created we can link the PR with this issue

[2020-06-22 08:34] miguelaeh commented on #1880
Hi @elordahl ,
Could you try if adding those `sleep` you commented plus increasing readiness and liveness probes makes the application to start always, so we can confirm it is a race condition?

[2020-06-22 09:18] sergeyshaykhullin commented on #2876
@dani8art Yes, i want to add/modify users on install/update chart values

[2020-06-22 09:53] xrow commented on #2738
As said this is sometimes the case. Something it si working as expected. We can close it for the time being un less we have new information.

[2020-06-22 09:53] #2738 closed

[2020-06-22 10:19] Korzi commented on #1572
I didn't use helm for kafka but came across the same issue.
Temporary solution that worked for me is adding following annotation to headless kafka service
[code]

However right now I'm trying to add livenessProbe to restart kafka pod if such situation occurs - but so far I didn't find a way how to check if Kafka has successfully joined the cluster (there is a brokerId of the broken Kafka pod in th

[2020-06-22 11:22] dani8art commented on #2876
Ok @sergeyshaykhullin , we are going to open an internal task in order to evaluate this suggestion.   Unfortunately, we can't give you an ETA, however, if you have a chance and you can work on this and open a PR with your proposal we will so happy to handle it!

Thank you so much for your feedback!

[2020-06-22 11:29] farlop commented on #2887
Hi @miguelaeh

I just reviewed your changes and that's exactly what we need! Thank you so much! Please let me know when these changes are available in order to adapt my scripts to the new version of the chart.

[2020-06-22 11:31] joancafom commented on #2796
Hey @sssarali ,

I am currently thinking of two options to overcome your problem, let me know what are your thoughts about them:

1. Stick to using wordpress' wp-cli image and use its built-in [capabilities](https://make.wordpress.org/cli/handbook/guides/running-commands-remotely/) to execute commands remotely via ssh to the other pod. By using this approach, you would not even need to mount data

[2020-06-22 12:12] andresbono commented on #2883
Hi @mohamedih, we have identified some issues related to the submit command from remote nodes. We are going to investigate it and we will try to find a solution. We will update this issue when we have more information.

[2020-06-22 12:15] andresbono commented on #2548
Thank you very much for the information, @ejpir.

[2020-06-22 12:40] rg2609 opened #2898 "[MongoDB] Unable to set replicas max count"
**Which chart**:
bitnami/mongodb

**Describe the bug**
I am trying to set the replica set true and setting the `replicaSet.pdb.maxUnavailable.secondary` and `replicaSet.pdb.maxUnavailable.arbiter` but unable to start the chart. And when I am using the `values-production.yaml` same error I am getting.

**Error Output**
[code]
I am don't know, that I am missing something or what. I just wanted the M

[2020-06-22 13:15] javsalgar commented on #2890
Hi,

In some charts we have a `commonAnnotations` value that would be added to all objects. Would it make sense for this case? Also, maybe the `podAnnotations` value could be used for the job as well.

[2020-06-22 13:18] javsalgar commented on #923
Hi,

Thanks for the feedback! It is still in our backlog but as soon as we have more news we will update the ticket

[2020-06-22 13:40] Perfect-Web commented on #2890
@javsalgar any of the 2 approaches would work for my situation

[2020-06-22 13:44] Perfect-Web commented on #2890
@javsalgar infact not really, i would need the main pods to work with the annotation but the init cluster not, so i would opt for a `job only` annocation

[2020-06-22 14:26] mboutet commented on #1880
For the record, it also happens to me from time to time. I also believe that @elordahl is right regarding the root cause. My workaround is to manually scale down the StatefulSet to 0, delete the PVCs and then scale back up to 3 replicas.

[2020-06-22 15:43] javsalgar commented on #2818
Hi,

Just a note to let you know that I created a PR that fixes it. Feel free to take a look: https://github.com/bitnami/charts/pull/2900

[2020-06-22 15:53] luos commented on #2868
Hi,

We are having the same issue, seems like the network is lost between the nodes, and that is why they can not connect after updating the `replicaCount` in the `values`.

Seems like the names are not resolved:

[code]

The error is:
[code]

[2020-06-22 15:55] joancafom commented on #2889
Hey @denniseffing

Thanks for your issue, it does sound completely reasonable to me! I can try to implement the changes in a PR or, if you are up to it, you can create a PR with the changes and our team will be more than happy to review it !

What do you think? Thanks again!

[2020-06-22 16:00] elordahl commented on #1880
The sleeps improved the probability of it starting, but still not to 100%.  I pushed up [the changes to the image that helped start the primary node](https://github.com/elordahl/bitnami-docker-postgresql-repmgr/commit/f575b84e01d4616c38386552b0991c02b6b5cb6a) (there's some debug stuff in there).  Basically, I added an iteration (each stop of PG seems to restart the pod) to the boot sequence:

Firs

[2020-06-22 16:16] denniseffing commented on #2889
Hi @joancafom

thank you for your feedback! I will try to open up a PR sometime this week, the week after that at the latest.

[2020-06-22 16:27] javsalgar commented on #2827
Hi.

I created a PR for your case. Feel free to take a look https://github.com/bitnami/charts/pull/2901

[2020-06-22 16:52] marcosbc commented on #2337
You're right. For now I'm opening an internal task for fixing this, but if you identify a fix feel free to contribute it! If you have any questions let us know.

[2020-06-22 16:57] marcosbc commented on #2892
Hi, I can see this error:

[code]

Could you check that your Kubernetes version is up to date, the MySQL chart version is also up to date, and that there aren't any mentions to "apps/v1beta1" in the charts?

[2020-06-22 17:01] marcosbc commented on #2571
@JustDoItSascha What command is it you are executing? It works for us:

[code]

[2020-06-22 17:03] marcosbc commented on #2811
Hi @Javid907, some users are mentioning it could be because there were other Prometheus Operator instances in their Kubernetes cluster, maybe it's worth to check if it could be the case.

Also, were you able to check what we asked in my previous comment?

[2020-06-22 18:21] sssarali commented on #2796
Hi @joancafom

First of all, thank you for your efforts! 🙂

**Option 1**:
This approach could work. However, I would rather deploy my helm charts and have all the settings and dependancies be taken care of in one go. I'm also not sure if the wp-cli would need root access or not to make changes to the wordpress core files.

**Option 2**:
This approach would be great. However, my custom settings tha

[2020-06-22 18:54] JustDoItSascha commented on #2571
I tried installing it via Lens App. The chart used was 11.4.25, this was the full values spec:

[code]

[2020-06-22 19:03] mboutet commented on #2890
@Perfect-Web, would this PR I've been working on solve your problem? https://github.com/bitnami/charts/pull/2895

[2020-06-22 19:06] Perfect-Web commented on #2890
@mboutet no, i do not see how would that help, it doesnt add any annotations to it

[2020-06-22 19:30] mboutet commented on #2890
Oh ok, I see. I thought you needed to bypass the helm hooks annotation. Sorry.

[2020-06-22 21:59] elordahl commented on #1880
It looks like the standby nodes are following the script, the entrypoint calls:
What i am noticing is:

1.  The entrypoint invokes [`setup.sh`](https://github.com/bitnami/bitnami-docker-postgresql-repmgr/blob/master/11/debian-10/rootfs/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh#L27) which appears to complete.
1.  Then, the database shuts down and the entrypoint doesnt proceed, since the [

[2020-06-22 22:04] elordahl commented on #1880
What I am noticing is:

1.  The entrypoint invokes [`setup.sh`](https://github.com/bitnami/bitnami-docker-postgresql-repmgr/blob/master/11/debian-10/rootfs/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh#L27) which appears to complete.
1.  Then, the database shuts down and the entrypoint doesn't proceed, since the [subsequent "setup finished!"](https://github.com/bitnami/bitnami-docker-postgre

[2020-06-22 22:05] mboutet commented on #1880
@miguelaeh, can we reopen the issue since this is still occasionally happening?

[2020-06-22 22:32] jonathan-m-foley opened #2902 "[bitnami/zookeeper] ENV for seperate dataLogDir"
**Which chart**:
bitnami/zookeeper (5.17.0)

**Is your feature request related to a problem? Please describe.**
Zookeeper's Administrator Guide recommends storing the data and transaction logs on separate storage devices for performance. This is accomplished by specifying the dataDir and dataLogDir properties, respectively, in the zoo.conf file. Unfortunately, I do not see any support for changing

[2020-06-22 22:41] elordahl commented on #1880
Just realized the standby node wasn't starting because of a debug cmd I added to verify when PIDs are killed.  Will update and retest

https://github.com/elordahl/bitnami-docker-postgresql-repmgr/commit/f575b84e01d4616c38386552b0991c02b6b5cb6a#diff-d1a60fd4a64a59a6016e7376f14173e0R74

[2020-06-23 07:10] rafariossaa commented on #1572
Hi,
  Thanks for sharing your workaround.
  @alisivgin , this issue was close but don't hesitate to open a new one so we can do a proper handling of your issue.

[2020-06-23 07:22] #2818 closed

[2020-06-23 07:44] javsalgar commented on #2890
After thinking about it, I would like to work on a batch of changes that cover your case amongst others, so stay tuned! As soon as I have a PR, I will update this ticket.

[2020-06-23 07:58] joancafom commented on #2898
Hi @rg2609

Are you setting those values by editing `values-production.yaml` ? If so, you must ensure to comment out the lines referring to `minAvailable`. According to he official Kubernetes [documentation](https://kubernetes.io/docs/tasks/run-application/configure-pdb/#specifying-a-poddisruptionbudget), only one of `maxUnavailable` or `minAvailable` can be specified in a single PDB:

Regarding s

[2020-06-23 08:16] marcosbc commented on #2571
Thanks for the info @JustDoItSascha! We were able to reproduce this issue and created the #2904 PR to fix it.

[2020-06-23 08:24] joancafom commented on #2889
That is wonderful! Do not forget to link back this issue in the PR.

Thanks!

[2020-06-23 08:37] juan131 commented on #2868
Hi everyone! Thanks for reporting this and sorry for the incoveniences.

I think the issue should be solved with the fix done by @arodus at https://github.com/bitnami/charts/pull/2894

Could you please give it a try?

[2020-06-23 09:00] ransoor2 commented on #2868
@juan131 I upgraded to image docker.io/bitnami/rabbitmq:3.8.5-debian-10-r14 with chart 7.1.1
The issue continues

[2020-06-23 09:18] joancafom commented on #2796
Hey @sssarali

I am glad to see you have come to a solution!! 🎉 Thanks for posting it here so that other people can benefit from it.

It does run some configuration logic in order to properly initialize the container. This logic is APACHE licensed but it is not public in GitHub or any other public code repository. However, we are changing this approach in favour of `bash` and for instance, you can

[2020-06-23 09:27] ransoor2 commented on #2868
@juan131 I tried a workaround - I added
podManagementPolicy: Parallel
And after some restarts it seems to be working, but, now I get:
PLAIN login refused: user '<user>' - invalid credentials
Why was the password changed?

[2020-06-23 09:31] josefschabasser commented on #2868
Did you specify `auth.username`, `auth.password` and `auth.erlangCookie` during upgrading? If not, new random values are generated. And the username `user` hints at no `auth` data at all.

[2020-06-23 09:34] ransoor2 commented on #2868
@josefschabasser of course. I made sure it reflected in the secret and also I can see them in env variable inside the pod

[2020-06-23 09:47] techsaau opened #2905 "K8s RabbitRMQ Scale out is causing issue"
**Which chart**:
Rabbitmq 1.0.1

**Describe the bug**
I have installed RMQ in Azure Kubernetes Service. It is up and running fine. But after automatic scaling when RMQ pods counts come to minimum count (for example 3), It shows others nodes are not running instead of just removing it from cluster. It is leading a ton of warnings in RMQ logs. Below is the same log:

2020-06-22T17:34:18.375270279Z 2

[2020-06-23 10:05] luos commented on #2868
Hi,

Any easy way to get into this situation is this:

1. deploy the cluster with a fixed user / password / cookie.
2. change the username to something else
3. upgrade the cluster, realize that this was a bad idea because now healthchecks are failing
4. change the user back to the original
5. upgrade the cluster to try to revert
6. delete the pods one-by-one to recover, starting with -0.

It is un

[2020-06-23 11:44] ransoor2 commented on #2868
@luos Thats not what happened.
When I first upgraded the chart and had the issues above, I tried the podManagementPolicy: Parallel workaround, then I first encountered the password issues.
After that I did remove the password from the yaml file and let it generate a random password, but thats only after the first issue with the passwords.
I was now able to cancel the health checks and change the p

[2020-06-23 12:56] juan131 commented on #2346
@sabbyanandan @chrisjs I just wanted to let you know that Spring Cloud Dataflow chart is now published! Please take a look when you have a chance.

[2020-06-23 13:35] #2571 closed

[2020-06-23 13:36] marcosbc commented on #2571
Just merged the PR, so this should be fixed now. Let us know if you find any similar issues!

[2020-06-23 13:49] dani8art commented on #2888
Hi @ankit302 I've noticed you are using other different images than the `bitnami` ones, is it right? I can see in the logs `image: registry.apps.aXXXXXXXXXX/spark-master:2.4.4-hadoop2.7 `. Our Chart `bitnami/spark` is ready to be launched with `bitnami/spark` image only, we can not guarantee that it would work with other non-bitnami images.

If you really want to try our chart I would recommend yo

[2020-06-23 13:50] rafaelbielawski opened #2909 "Chart bitnami/kong"
**Which chart**:
bitnami/kong 1.2.2

**Describe the bug**
returning this error
need some additional confg?
thanks

E0623 13:22:38.277198      10 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.4/tools/cache/reflector.go:105: Failed to list *v1.KongIngress: the server could not find the requested resource (get kongingresses.configuration.konghq.com)

**Version of Helm and Kubernetes**:
1.15.11-gke

[2020-06-23 13:55] dani8art commented on #2896
Hi @ganchandrasekaran we are currently using [standard replication as topology](https://mariadb.com/kb/en/replication-overview/#standard-replication) in this chart. However, if you need to have more than one master or use other topology you can also use our [bitnami/mariadb-galera](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera) chart which permits multiple master replication

[2020-06-23 14:13] tomerleib opened #2910 "[bitnami/zookeeper] Custom Config issue when no snapshot exists."
**Which chart**:
name: zookeeper
version: 5.17.0
appVersion: 3.6.1

**Describe the bug**
Unable to upgrade the chart when no snapshot created. Related to https://issues.apache.org/jira/browse/ZOOKEEPER-3056

According to the bug solution, I need to do add `snapshot.trust.empty=true` to zoo.cfg

The problem with this approch is that in order to add it to my zoo.cfg, I need to add it under the confi

[2020-06-23 15:41] tfellinger commented on #1631
Hello @juan131 !

Sorry for being impatient, but do you have any timeline when this is going to be released?

Thanks,
Thomas

[2020-06-23 15:42] ttinkr commented on #1631
Hello @juan131 !

Sorry for being impatient, but do you have any timeline for releasing this?

Thanks,
Thomas

[2020-06-23 16:21] jonathan-m-foley commented on #2902
Regarding my comments in the "Describe alternatives you've considered section", I believe the problem I ran into there is owing to the fact that the the zookeeper_generate_conf() function in libzookeeper.sh only runs if no user configuration file is specified, effectively requiring the chart user to set the server.x properties statically in their supplied Values.config.

[2020-06-23 16:51] miguelaeh commented on #2887
You're welcome @farlop , thanks to you for reporting the issue!!

[2020-06-23 17:04] miguelaeh commented on #1880
Thank you guys for reporting this issue.
I will create an internal task so we can debug this properly.

[2020-06-23 17:54] raphaelcervantes commented on #2798
I tried to test in a simplified environment, so I tried the installation in minikube.

My minikube ip address is 172.17.0.3.

I installed the nginx-ingress-controller helm chart and prometheus-operator helm chart. My custom values are

### nginx-ingress-controller-values.yaml

[code]

### prometheus-operator-values.yaml

[code]
I confirmed that I get access to the nginx default page when I visit 1

[2020-06-23 20:43] rafaelbielawski opened #2912 "[bitnami/mediawiki] ERROR: You did not provide an external host in your 'helm install' call"
bitnami/mediawiki

[2020-06-23 21:53] Danh4 commented on #2868
I've just tried 7.1.1 with a single node, the only config I specified was to enable ingress and the hostname.

I can't log into the management console using user and the password saved in the secret and the readiness/liveliness probes both return 401 which eventually kills the container.  I've tried playing around by specifying the username and password with a clean install but to no effect.

[2020-06-24 00:06] #2673 closed

[2020-06-24 02:35] mikeyGlitz opened #2913 "[bitnami/owncloud] Mount secret as volume to container"
**Which chart**:

bitnami/owncloud

**Is your feature request related to a problem? Please describe.**

I want to connect my Owncloud deployment to a LDAP server for user authentication. Currently LDAP queries are being rejected because the Owncloud server is not configured to send a CA certificate with the LDAP request.

**Describe the solution you'd like**

I'd like a new variable in the Helm ch

[2020-06-24 06:43] rafariossaa commented on #2910
Hi,
  Could you indicate from which version are you trying to upgrade ?

[2020-06-24 06:58] juan131 commented on #2902
Hi @jonathan-m-foley

Thanks so much for this great feedback!! I agree with you, we should explore a way to use two separate volumes as recommended for production environments: one for data, another one for logs.

I just opened an internal task to work on this feature. We will keep you updated about our progress.

[2020-06-24 07:00] juan131 commented on #1631
Hi @ttinkr

I am afraid I can't provide you any exact ETA. I can tell you that the task is already assigned to one of our engineers, and it usually take a couple of weeks to be implemented once they're assigned.

Thanks for your consideration and patience.

[2020-06-24 07:17] andresbono commented on #2909
Hi @rafaelbielawski, can you share with us the helm command or values.yaml that you have used to deploy the chart?

[2020-06-24 07:51] juan131 commented on #2798
Hi @raphaelcervantes

I would associate `alertmanager.minikube.local` and `prometheus.minikube.local` to your Minikube IP:

[code]

Then, try using these values:

[code]

[2020-06-24 08:08] juan131 commented on #2868
Hi everyone,

As @josefschabasser mentioned, it's necessary to specify `auth.username`, `auth.password` and `auth.erlangCookie` during upgrades. This is documented in the link below:

- https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#upgrading

I know this can be very painful. And it's even more problematic when you manually change the password through the Management console after i

[2020-06-24 08:44] and-dzh3 opened #2915 "[bitnami/influxdb] Users permission and db creation"
**Which chart**:
[bitnami/influxdb] version: 0.5.1

**Is your feature request related to a problem? Please describe.**
I want to be able to create ha influxDB cluster with few databases and few users but
If services exposed via load balancer(AWS) I can't  create users and databases, not via CLI and not  via chronograph because it randomly redirects to different pods (and data not synchronized betw

[2020-06-24 08:53] lyptt commented on #2870
@juan131 I get the same issue on the latest version, and the version you've mentioned. I can see that the environment variables are specified as `RABBITMQ_USERNAME` and `RABBITMQ_PASSWORD` on the pod. Which version was working before your changes?

[2020-06-24 08:55] dani8art commented on #2912
Hi @rafaelbielawski could you give us a bit more info (commands, values, etc...) so that we can try to reproduce the issue?

BTW, Mediawiki needs an external host when exposing externally because the app itself does some redirection and builds some path base on this, so we prevent future errors by adding this kind of validations.

[code]

or you can also try to deploy using ClusterIP.

[code]

[2020-06-24 09:09] javsalgar commented on #2915
Hi,

Thank you for using Bitnami. So, if I understand correctly, the issue is that you cannot access the influxdb database from outside the cluster. We've seen similar cases for other charts like Kafka or Redis Cluster. Maybe it makes sense in this case to allow exposing all pods externally, so you don't find any issue with the redirections. Would that make sense?

[2020-06-24 09:12] and-dzh3 commented on #2915
@javsalgar no, I can access , read database via the load balancer  and inject data via a relay load balancer, but if i want to manage permission and create databases its always send me to different pods ( so I need to create databases and users on each pod  and there is no replication mechanism )

[2020-06-24 09:25] joancafom commented on #2913
Hi @mikeyGlitz,

Thanks for your issue, it is an interesting issue to have for sure! Just to fully understand the request, how are you configuring LDAP requests right now? Are you using the web interface? Also, I do understand this has to do with LDAP**S** and that LDAP itself works fine, am I right?

Thanks!

[2020-06-24 09:52] tomerleib commented on #2910
Sure, it's quite an outdated version.
Chart version 1.2.3
App version 3.4.13

[2020-06-24 10:45] mikeyGlitz commented on #2913
As it stands, I can establish an LDAP connection without TLS. As soon as I enable TLS, the LDAP request is denied.
OwnCloud has an LDAP plugin which can be downloaded from the marketplace which is what I'm using to set up LDAP.
As for the certificates, they're generated using [cert-manager](https://cert-manager.io/docs/installation/kubernetes/).

[2020-06-24 10:50] #2743 closed

[2020-06-24 11:20] #2827 closed

[2020-06-24 11:36] rafaelbielawski commented on #2909
Hi @andresbono,

command
helm upgrade --namespace kong --install kong -f values.yaml bitnami/kong

values.yaml
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##
# global:
#   imageRegistry:

[2020-06-24 11:44] rafaelbielawski commented on #2912
hi @dani8art,

command
`helm upgrade --install mediawiki --namespace mediawiki -f values.yaml --set persistence.existingClaim=mediawiki-pvc bitnami/mediawiki`

this chart is compatible with postgres?

[2020-06-24 12:08] jugrajsingh commented on #2223
@rafariossaa
Any Update on this Issue

[2020-06-24 12:45] vmwiz commented on #2667
Sorry for the late answer... Just had the chance to test your command and I can't reproduce the problem, my bad :confused:
As I haven't my original value file somewhere close to me to retest with my own values lets close this issue, thank you Rafael!

[2020-06-24 12:45] #2667 closed

[2020-06-24 13:57] finaldzn commented on #2060
Hello, Ive encountered this bug after installing postgres locally (windows) I then could not connect to the postgres container using the secret's password.

[2020-06-24 14:30] jonathan-m-foley commented on #2902
Great, thank you!

[2020-06-24 14:32] #2887 closed

[2020-06-24 16:22] jonathan-m-foley commented on #2902
Due to crunchtime on my end, my company has just given me the greenlight to fork & attempt a fix myself.  I should be able to post a PR within 2 weeks. This would involve small PRs both for the chart and the associated docker image.

Implementation Plan:
- Add value to zookeeper chart’s values.yaml corresponding to the zoo.conf’s dataLogDir property.
- Inject the new value as an ENV into the docke

[2020-06-24 16:26] jonathan-m-foley commented on #2902
^I neglected to note that the above planis a partial fix - I had already worked around the StatefulSet's VolumeClaimTemplates not being configurable (i.e. I used kustomize to patch in additional volumee claim templates). Time permitting I would also like to update the chart to allow passing down arbitrary VolumeClaimTemplates via Values.yaml in this PR.

[2020-06-24 17:01] orlandothoeny commented on #2673
I got the same error.

The container crashing after `==> Installing database`.
However, the issue in my case was an invalid custom config.

Checked it with https://dev.mysql.com/doc/refman/8.0/en/server-configuration-validation.html

Worked after fixing the config.

[2020-06-24 21:55] logicbomb421 commented on #2868
I seem to be encountering this error when my cluster hits its `disk_free_limit` now, too.

I just ran a stress test where I loaded messages in until I hit the `disk_free_limit` (25GB, 128GB total disk). When the limit was hit, I see the blocked message in the logs:

[code]

Followed by what appears to be a reboot sequence:
[code]

And finally culminating in this Mnesia table issue:
[code]

I also

[2020-06-25 00:00] Bajix opened #2917 "[bitnami/redis] Can't mount module within Redis"
I'm having issues with mounting a module to be loaded into redis. My parent chart has this:

[code]

Is this the correct way of mounting the module? How should this be done

[2020-06-25 01:07] Bajix commented on #2917
Upon further review, I don't see any way this chart can mount modules. Please advise

[2020-06-25 03:40] raphaelcervantes commented on #2798
I think the echo command isn't right. both URLs alertmanager.minikube.local and prometheus.minikube.local redirect me to the nginx default backend.

Also, I looked at the logs of the nginx-ingress-controller. I see messages that alertmanger and prometheus are missing endpoints. Does this have anything to do with it?

[code]

[2020-06-25 06:07] rafariossaa commented on #2223
Hi,
  Sorry for the delay, we are currently working on this.

[2020-06-25 06:28] luos commented on #2868
In current implementation the health check endpoint returns failure in case an alarm is active, which causes the node to be restarted. Usually this is not a reason to restart RabbitMQ, so maybe a different endpoint could be used?

[2020-06-25 06:34] juan131 commented on #2868
I think @luos is right and it could be related to K8s restarting the pod due to failing liveness probes.

@logicbomb421 could you please do the same test disabling the probes (`--set livenessProbe.enabled=false,readinessProbe.enabled=false`)? Just to confirm the probes are the one causing this.

[2020-06-25 06:35] juan131 commented on #2870
Hi @lyptt

Could you please share what steps did you follow so I can reproduce the issue on my side ?
Did you install RabbitMQ on a clean environment? I mean, without existing PVCs from previous deployments.

[2020-06-25 06:42] juan131 commented on #2902
Hi @jonathan-m-foley

Every contribution is welcomed, so please feel free to create a PR adding this feature and we'll be glad to review it. As you said both the container and the chart would need changes since we need to add the chart a way to create custom PVCs, and we need to provide a way to configure Zookeeper so it uses different directories for data & logs.

[2020-06-25 06:46] rafariossaa commented on #2060
Hi @finaldzn ,
  Could you open a new issue so we can do a proper tracking of it ? This issue was relate to the password the user was generating and as you are using postgres container in windows maybe it is a different case.

Thanks forehand.

[2020-06-25 06:50] geota opened #2919 "bitnami/contour 1.0.0 chart - envoy container fails to launch healthy"
**Which chart**:
bitnami/contour 1.0.0

**Describe the bug**
Envoy container health check fails when launching the chart with default values. Envoy container crash loop.

**To Reproduce**
Steps to reproduce the behavior:
1.   `helm upgrade --install --reset-values contour bitnami/contour --version 1.0.0 --cleanup-on-fail --create-namespace --kube-context XXXX --namespace kube-system`
2. View pods

[2020-06-25 06:52] rafariossaa commented on #2910
Hi,
  You could try creating a fake snapshot by entering the container and run:
[code]
  please adjust the path if needed.
  As a general rule, make always a backup before the upgrade. And as this is quite outdated, do the upgrades step by step and not try to jump to the very latest version in one shot.

[2020-06-25 07:04] juan131 commented on #2798
Hi @raphaelcervantes

They should be listing endpoints. Check this example (I installed the Prometheus Operator in the "monitoring" namespace:

[code]

Indeed, if you check the following two lines of the Ingress Controller log, you'll find that once the services list the endpoints, the Controller is updated with the IP of the Prometheus and Alertmanager pods:

[code]

Could you share the output of

[2020-06-25 07:36] javsalgar commented on #2915
Hi,

From what I see, this seems to be a limitation in how influxdb-relay works. I'm not sure if there's an easy option for this. The only thing that comes to mind would be allowing to modify the custom scripts so they get executed everytime the container gets restarted. In that script you could check if a given user exists and if not, create it. The same with the database.

So, if you need to cre

[2020-06-25 07:59] finaldzn opened #2920 "[postgresql] bug : password authentication failed after installing postgres on windows (not in container)"
**Which chart**:
The name (and version) of the affected chart
postgresql-8.7.2
**Describe the bug**
A clear and concise description of what the bug is.
When installing postgres locally (ie not in a container) on windows, pg passwords are not recognized anymore by the pg container in kubernetes despite them being correct.
**To Reproduce**
Steps to reproduce the behavior:
1. Install the postgresql c

[2020-06-25 08:12] andresbono commented on #2909
Hi @rafaelbielawski, you are using the upgrade command. Did you install the chart in a previous version?

[2020-06-25 08:44] andresbono commented on #2920
Hi @finaldzn, when you install the chart, you get some information on how to connect to postgresql.

You can get that information again by executing:

[code]

Do the commands work for you? How are you trying to connect to the cluster?

[2020-06-25 09:06] pmorelli92 commented on #2870
Hi @juan131 sorry for the delay, for me it worked using 7.0.2 and also 7.1.2. Thanks for the fix

[2020-06-25 09:31] joancafom commented on #2913
Hi @mikeyGlitz,

I see, so it may be the case that OwnCloud fails to complete LDAPS requests because it does not trust the CA. I have been reviewing this recent PR on redmine #2774 and currently thinking of implementing something similar for OwnCloud. That way, in addition to adding the specified certificates under `/etc/ssl/certs` and `update-certificates-ca` command is also triggered so as to co

[2020-06-25 09:34] dani8art commented on #2912
Hi @rafaelbielawski did you tested commands with `--set mediawikiHost=<your_external_host>` or locally with `--set mediawikiHost=localhost:8084`?

Right now this chart is only compatible with `mariadb`.

[2020-06-25 09:38] bhavaniravi opened #2921 "bitnami/airflow: Add KubernetesExecutor to Airflow"
**Which chart**:
airflow

**Is your feature request related to a problem? Please describe.**
Airflow has an option to use KubernetesExecutor instead of CeleryExecutor, from what I saw the executor is hardcoded i[n scheduler deployment config](https://github.com/bitnami/charts/blob/master/bitnami/airflow/templates/deployment-scheduler.yaml#L214). This makes impossible to use this helm chart for peo

[2020-06-25 09:58] dbrennand opened #2922 "[bitnami/thanos] thanos: error: expected command but got "bucket""
**Which chart**:
bitnami/thanos:
Output from helm list:
`thanos                  monitoring      1               2020-06-25 09:23:39.9358571 +0000 UTC   deployed        thanos-1.1.1                    0.13.0`

**Describe the bug**
When installing the chart, the bucketweb container fails to start and the following error is produced in the logs:
[code]

**To Reproduce**
Steps to reproduce the behavi

[2020-06-25 12:16] nikolamalesevic opened #2925 "[bitnami/rabbitmq] Cannot use custom username/password"
**Which chart**:
rabbitmq 6.27.1

**Describe the bug**
Setting custom username and password does not seem to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Install while setting the username and the password:
[code]
2. Wait for the pod to go online.
3. Forward ports to be able to access management:
[code]
4. Access the management through [localhost:15672](url)
5. Enter `yolo123` and `

[2020-06-25 12:49] Teslavolt commented on #2759
I think I have the same issue, where when I use postgresqlDatabase, it tries to log into that database when authenticating via the initdb script, which fails because that database hasn't been created yet.

With this line: `postgresqlDatabase: initdb` in the values file, I get this:

`
postgresql 12:29:30.53 INFO  ==> Loading custom scripts...

postgresql 12:29:30.53 INFO  ==> Loading user's custom

[2020-06-25 13:01] thomas-riccardi commented on #2622
Hello, using redis chart 10.7.5 with `tls.authClients=false` the probes (readiness/health) still send client certificates, using server key/cert.
Somehow in my case it doesn't work:
- server logs `1:M 25 Jun 2020 12:55:16.247 # Error accepting a client connection: error:1417C086:SSL routines:tls_process_client_certificate:certificate verify failed` in logs, no more info with `loglevel debug`, but

[2020-06-25 13:13] thomas-riccardi commented on #2622
(for more details:
I use https://cert-manager.io/ to:
- first create a selfsigned Issuer
- used to generate a Certificate `ca-root` (with `isCA: true`)
- used to bootstrap a `ca` Issuer
- and finally create a Certificate `redis` from the `ca` Issuer, which creates a `redis-tls` tls Secret that I pass to redis helm chart via `tls.certificatesSecret`.

I don't understand why redis-server rejects the

[2020-06-25 14:26] mboutet commented on #1880
If this is of any help, it just happened again two times in a row. It always happens during a fresh install of the `postgresql-ha` chart (I'm using `3.2.10`). I'm using the following values:
[code]

I'm using AKS and here are my `helm` and `kubectl` versions:

`helm`:
[code]

`kubectl`:
[code]

[2020-06-25 14:38] raphaelcervantes commented on #2798
This is my minikube ip
[code]

This is my /etc/hosts after following your instructions
[code]

These are my prometheus and alertmanager endpoints. So there are endpoints, but the nginx-ingress logs show the endpoint error.

[code]

This is the list of services I am running
[code]

This is the ingress object for prometheus-operator-prometheus
[code]

And this is the configuration for the alertmanag

[2020-06-25 15:00] juan131 commented on #2798
Hi @raphaelcervantes

You're defining in the Ingress object for prometheus-operator-prometheus

[code]

However, you're using `prometheus.minikube.local` in your `/etc/hosts`. Please note these hostnames must be the same, otherwise the Ingress Controller won't be correctly configured.

On the other hand, it seems Prometheus service is not reporting any active replica:

[code]

Could you please che

[2020-06-25 15:01] juan131 commented on #2870
I'm glad to hear that @pmorelli92
Thank you for reporting it!!!

[2020-06-25 15:19] carrodher commented on #2919
Hi, I am trying to reproduce the error, but in my case I am not able to see the same issue:

- Installing the chart without extra parameters:
[code]
- Check all the resources:
[code]
- Envoy & Shutdown-manager logs:
[code]

In order to try to find the source of the issue, are you facing the same issue running just `helm install` (like I did) instead of `helm upgrade [more options]`?

[2020-06-25 15:23] raphaelcervantes commented on #2798
The prometheus pods are up and running

[code]
I now see that the Ingress object is configured to be `host: prometheus.local`. I also see that alertmanager Ingress object is configured with `host: alertmanager.local`. Why would that be when I have configured my prometheus custom values to use `alertmanger.minikube.local` and `prometheus.minikube.local`?

[code]

[2020-06-25 15:42] smhmayboudi commented on #2892
Deploy multiple microservice is not working with helm in the case which chart needs the same dependency. skaffold changes the meta types of the 1st microservice dependency and the second microservice with the same dependency wants to update and it is not working.
1st dep app.kubernetes.io/managed-by=skaffold-v...
2nd dep app.kubernetes.io/managed-by=Helm
I switch to tilt and it is working properly

[2020-06-25 17:22] geota commented on #2919
same behavior:
[code]

[code]

[code]

[2020-06-25 18:36] marcosbc commented on #2905
Hi @techsaau, could you describe this part further?

[code]

I'm a bit confused with the dots. If that's not a typo, a screenshot would be appreciated.

[2020-06-25 18:42] marcosbc commented on #2917
@Bajix Currently it's not supported, but we were working on adding modules support to the container in the past. Check https://github.com/bitnami/bitnami-docker-redis/pull/134 for more info.

Note that completing the PR is currently in our backlog, so we cannot give any estimate for when it would be implemented. But if you wish, you could try to contribute the required changes based on the previou

[2020-06-25 19:34] appunni-dishq commented on #1461
[code]
I wrote it in form of a docker file like this

[2020-06-25 20:20] scottillogical opened #2929 "[bitnami/cassndra] Uninstalling and reinstalling cassandra results in bad username and password"
**Which chart**:
bitnami/cassandra

**Describe the bug**
If you install, uninstall, and then re-install the cassandra helm chart, the instructions to connect to it no longer work.

I understand this is likely because the password is stored in the persistent volume which does not get removed when you helm uninstall.

**To Reproduce**
1.  Install the helm chart
2. Verify password works with provided

[2020-06-25 20:35] finaldzn commented on #2920
Hello, I'm trying to connect to postgres from inside the cluster directly

Le jeu. 25 juin 2020 à 10:44 AM, Andrés Bono <notifications@github.com> a
écrit :

[2020-06-25 22:10] geota commented on #2919
@carrodher I figured this out. I had the stable/bitnami chart installed previously. The CRDs were clashing in some non-obvious way. Purging the all the contour related CRDs and reinstalling the chart seems to have fixed my issue. Thanks!

[2020-06-25 22:10] #2919 closed

[2020-06-26 01:47] logicbomb421 commented on #2868
Hi @juan131 @luos,

This hypothesis was indeed correct -- disabling the probes causes RabbitMQ to handle the disk alarm as I would expect.

I've also noticed the `rabbitmqctl` command currently used in those probes is apparently deprecated. What is the preferred way to perform health checks now? Are there plans to update this chart to use whatever that may be?

Thanks again for all the attention h

[2020-06-26 04:44] #2748 closed

[2020-06-26 04:44] #2749 closed

[2020-06-26 05:35] rg2609 commented on #2898
Thank you @joancafom,
Appreciate for your help :+1: , I thought that it should have min and max both. I will try to create HPA feature and create PR for the same

[2020-06-26 05:48] rg2609 opened #2931 "Postgres-ha"
**Which chart**:
Postgres-ha

**Describe**
Postgres-ha is a good feature, one more feature makes it better that is Horizontal Pod Auto-scaling (HPA). Now, we can scale the pod but it is manually scaling.

**Expected behavior**
It should scale up and down the pod automatically.

[2020-06-26 06:01] Bajix commented on #2917
@marcosbc Thanks for the reply! I realized earlier that an alternate solution is to override the image, and so went that route to address this. Hopefully this helps someone else in the interim

Here's the Dockerfile I created for this:
[code]

I'm them using this in my parent chart to override the repository and to append loadmodule to redis.conf:
[code]

[2020-06-26 06:24] juan131 commented on #2798
Hi @raphaelcervantes

It's a problem of indentation in your **values.yaml**, please apply the changes below:

[code]

Basically you need to indent two spaces the "annotations" and "hosts" blocks.

[2020-06-26 06:28] juan131 commented on #2929
Hi @scottillogical

As you mentioned this is related to the PVCs. There is a known issue in Helm (reported quite long time ago) with PVCs since these ones are not deleted when you delete your helm release, see:

- https://github.com/helm/helm/issues/5156

Therefore, you need to ensure that you manually removed them. Otherwise, if you install again a chart using the same name you previously used, i

[2020-06-26 06:29] serg-bs opened #2932 "Postgressql. existingClaim should be for master and slave"
**Which chart**:
postgresql

**Describe the bug**
Deploy to bare metal kubernetes I need to set up persistence.existingClaim
persistence.existingClaim should be different for master and slave
like in mysql helmchart
[code]

[2020-06-26 06:53] juan131 commented on #2868
Hi @logicbomb421

Thanks so much for helping with this.

Maybe we can try using `rabbitmqctl ping` (which is less intrusive) instead of `rabbitmqctl node_health_check` that is deprecated as you mentioned. Could you try enabling again the probes and using the custom image I just created for you `juanariza131/rabbitmq:3.8-debian-10`?

[code]

This image just contains the changes below:

[code]

[2020-06-26 07:00] rafariossaa commented on #2921
Hi,
  I am opening an internal task to study this request and the changes needed.
  We will come back as soon as we have news.

Thanks.

[2020-06-26 07:23] nikhilno1 opened #2933 "Right way to specify podAffinity/nodeSelector for kibana sub-chart from Elasticsearch chart"
I have just started using Bitnami Elasticssearch chart to deploy my cluster on AWS EKS. I have been able to deploy it successfully using the _values-production.yaml_ file. Thank you for this wonderful chart.

I have one issue though. I see that the _templates/metrics-deploy.yaml_ doesn't handle both, node selector or pod affinity. I want my metrics container to run on one of the Elasticsearch mast

[2020-06-26 07:29] rafariossaa commented on #2622
Hi @thomas-riccardi,
  Do you mind opening a new issue ? This way we can do a proper handling of it.
  This issue was originally to request TLS implementation.

Thanks forehand.

[2020-06-26 08:05] andresbono commented on #2759
Hi @Teslavolt, we couldn't reproduce the issue. This is what we did:

`values.yaml`
[code]

[code]

Both databases are created without any issues.  What is the chart version that you are using? The test above was done with `8.10.8`.

[2020-06-26 08:13] andresbono commented on #2920
Hi @finaldzn, if you are connecting from inside the cluster, there is nothing to worry about your local postgresql installation in Windows.

Did you try the commands from my previous comment? Please, give us more information about the commands that you are executing to connect to your postgresql deployment if you need further help.

[2020-06-26 08:15] donbeave commented on #2346
Hello!

Is it possible to use external RabbitMQ or Kafka? I can see configuration for external database or skipper, but can not find a way to configure external messaging system here: https://github.com/bitnami/charts/blob/master/bitnami/spring-cloud-dataflow/values.yaml

[2020-06-26 08:20] andresbono commented on #2932
Hi @serg-bs, it makes sense to add this feature. Would you like to open a PR addressing the changes? Contributions are more than welcome!

[2020-06-26 08:30] miguelaeh commented on #1880
Thank you for sharing that information @mboutet , it will be useful for us to debug the issue.

[2020-06-26 08:47] miguelaeh commented on #2922
Hi @dbrennand .
thank you very much for reporting the issue, the command has changed, we will take care of it.

[2020-06-26 09:27] #2890 closed

[2020-06-26 09:28] javsalgar commented on #2890
Hi,

Just a note to let you know that we released a major version that now allows annotations in the job. Please let us know if it covers your use case.

[2020-06-26 09:50] nikolamalesevic commented on #2925
Not an issue, got help [here](https://stackoverflow.com/questions/62591016/unable-to-log-in-to-rabbitmqs-web-management-interface-on-kubernetes).

The parameter names have changed - they used to be called `rabbitmq.username` and `rabbitmq.password` in version 6.27.1.

[2020-06-26 09:50] #2925 closed

[2020-06-26 09:50] dm3ch commented on #2749
reopen

[2020-06-26 10:03] joancafom commented on #2898
That is awesome! Do not hesitate to create any other issues and contact us back!

[2020-06-26 10:03] #2898 closed

[2020-06-26 10:57] carrodher commented on #2931
Hi, thanks for the suggestion, at this moment we are working on different fixes/improvements for the postgresql(-ha) charts, but the one you are suggesting was not in our short term improvements list. I think it's a good feature to be added to the chart if you want to contribute with the required changes we are happy to help and review the PR.

[2020-06-26 11:06] rg2609 commented on #2931
Hi @carrodher, thanks for the quick response. If you could give us a guidence on how to implement HPA (what components needs to be tweaked on top of a example like [https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#create-horizontal-pod-autoscaler](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#create-horizontal-pod-autos

[2020-06-26 12:31] michael-bouvy opened #2937 "[bitnami/redis-cluster] nodes.conf not found with persistence enabled"
**Which chart**:

Redis Cluster 2.3.5 (tested with both Redis 5.0 and 6.0 Docker images)

**Describe the bug**

When deploying Redis Cluster without any custom configuration, I get the following error in all Pods:

[code]

**To Reproduce**

**Edit**: Requires a `StorageClass` with `volumeBindingMode: WaitForFirstConsumer`.

Steps to reproduce the behavior:
1. `helm install -n <my-namespace> <my-re

[2020-06-26 12:43] michael-bouvy commented on #2937
With Redis 5.0 image, when coupling this with `persistence.enabled: false`, I get an additional error about `rdb-del-sync-files no` being incorrect. Works fine with 6.0 image.

[2020-06-26 13:32] ajchiarello opened #2939 "Harbor Chart - CSRF Key invalid"
Harbor, v6.x

After installing the chart, I cannot log into harbor due a CSRF_Key invalid error. Looking in the core-envvars, I see that the string for the CSRF_KEY has been distorted. Replacing it with the string I had defined in the install resolves the issue. In the template for this secret, I see that it is not base64 encoding the value of the CSRF_KEY value, which I believe to be the issue.

[2020-06-26 13:40] dani8art commented on #2360
Cool!! thanks you so much for your effort here!

[2020-06-26 13:48] dani8art commented on #2937
Hi @michael-bouvy I couldn't reproduce it, this is what I did

[code]

[code]

[code]

[2020-06-26 14:07] michael-bouvy commented on #2937
Actually, my default `StorageClass` has `volumeBindingMode: WaitForFirstConsumer`.

For some reason I don't understand, forcing a storage class with immediate binding mode works fine.

[2020-06-26 14:38] thomas-riccardi opened #2940 "Redis with tls and tls.authClients=false should *not* send client certificates in probes"
**Which chart**:
redis (possibly the redis-cluster too)

**Describe the bug**
With `tls.enabled=true` and `tls.authClients=false`, the healthcheck/readiness probes still use client certificates when communicating with the redis server.

This is an issue when the client certificate is not OK from the server point of view (which is frequent I suppose when we disable the authClients). Meaning probes

[2020-06-26 14:39] thomas-riccardi commented on #2622
@rafariossaa done at #2940

[2020-06-26 14:53] MaiReo commented on #1654
Access UI /harbor/projects/1/helm-charts GET internal server error
![image](https://user-images.githubusercontent.com/11777709/85870530-b76ae180-b7ff-11ea-8231-b4b141c09f33.png)

Should Core need to accept custom CA, too?

2020/06/26 14:38:27.909 [D] [middleware.go:52]  |  192.168.3.100| 500 | 370.772714ms|   match| GET      /api/chartrepo/maireo/charts   r:/api/chartrepo/:repo/charts
2020-06-26T1

[2020-06-26 16:07] stevehipwell opened #2941 "[bitnami/fluentd] Plugin installation"
**Which chart**:
`fluentd` v1.2.5

**Is your feature request related to a problem? Please describe.**
Maintaining a separate _Docker_ image to enable custom plugins is painful and could be fixed withing this chart by allowing plugin installation as in `stable/fluentd`.

**Describe the solution you'd like**
Allow plugin configuration as part of this chart.

**Describe alternatives you've considered

[2020-06-26 16:53] raphaelcervantes commented on #2798
@juan131 The indentation mistake is embarassing mistake and I have fixed it.  Thank you for pointing that out and thank you for your patience.

Having this setting in my /etc/hosts
`172.17.0.2 alertmanager.minikube.local prometheus.minikube.local`
seems to have redirected alertmanager.minikube.local and prometheus.minikube.local to the same default nginx default backend page, so I removed it.

I h

[2020-06-26 18:12] Progdrasil commented on #2830
This helped, but now this means the database password is in the repository in plain text... It's a functional workaround but not a secure one

[2020-06-27 00:26] logicbomb421 commented on #2868
Hi @juan131,

It appears there is still a call to the deprecated health check somewhere.

I have installed the chart with the suggested `image.repository` and `image.tag`, however I'm still noticing the following line in the logs:
[code]

Further, when I do hit the disk alarm, all RMQ nodes still end up restarting, though somehow I'm _not_ hitting the Mnesia table issue this time. Unfortunately si

[2020-06-27 02:26] mikeyGlitz commented on #2913
That sounds like what I'm trying to do. The certificate secret needs to be mounted onto the pod/container as a volume. The CA certificate then needs to be trusted in able to make the requests using TLS.

[2020-06-27 02:40] misterstrickland commented on #2920
Not sure if my issue is related, but I'm installing the chart on a Fedora 29 and the authentication never works. I followed all the steps to extract the password, tried overriding the user name and password (with and without `global.postgresql`), copy/pasting the command to run the client container, and nothing works.  I always get `psql: FATAL:  password authentication failed for user "postgres"`

[2020-06-27 18:20] tpoxa opened #2944 "Unable to disable persistence for redis"
**Which chart**:
redis

**Describe the bug**

I am trying to use Redis chart as a dependency. I really need the simplest redis running without persistence.

Here are my values.yaml

[code]

requirements.yaml

[code]

**To Reproduce**
Create empty helm chart
Add lines above to requirements
Add lines to values.yaml

**Expected behavior**
No pvc templates for stateful set

Instead, I see next
[code]

[2020-06-27 18:34] tpoxa commented on #2944
Sorry, typo :)

[2020-06-27 18:34] #2944 closed

[2020-06-27 20:06] gnunns opened #2946 "[bitnami/spark] Issue running spark client tasks"
Hi,

After deploying spark, 1 master 5 workers using the bitnami docker image and helm charts on a kubernetes cluster I am having issues running jobs successfully.  Kicking off a task either with spark submit or from a python spark context will connect to the master and start the executors on all workers, the executor apps then exit with code 1 exitStatus 1.

Spark Helm version: 1.2.28
Spark appVe

[2020-06-27 21:30] mboutet opened #2947 "[bitnami/etcd] Unable to take etcd snapshot when using Azure Files storage"
**Which chart**:
etcd-4.8.5

**Describe the bug**
Unable to use the snapshot cronjob with storage classes not supporting symlink/hardlink such as Azure Files.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the chart with disaster recovery enabled and Azure Files provisionner.
2. Wait for first cron schedule and observe the failure:
[code]

**Expected behavior**
The disaster recovery

[2020-06-27 21:49] mboutet commented on #2947
In fact, the latest snapshot can be retrieved using:
[code]

[2020-06-28 08:33] smhmayboudi commented on #2892
Initial Build • melo-mysql-master
STEP 1/1 — Deploying
     Injecting images into Kubernetes YAML
     Applying via kubectl:
     → melo-mysql:service
     → melo-mysql-master:statefulset
ERROR: Build Failed: kubectl apply:
stderr: error: unable to recognize "STDIN": no matches for kind "StatefulSet" in version "apps/v1beta1"
: exit status 1

[2020-06-28 11:47] #2746 closed

[2020-06-28 11:56] smhmayboudi commented on #2892
I get an error from this command
helm install -f values.yaml melo bitnami/mysql --version 4.5.0

[2020-06-28 16:47] #2674 closed

[2020-06-28 16:47] #2719 closed

[2020-06-28 16:47] #2775 closed

[2020-06-28 17:52] mboutet opened #2950 "[bitnami/redis-cluster] redis-cluster-creation hook does not create cluster even if it completes successfully"
**Which chart**:
redis-cluster-3.0.2

**Describe the bug**
`redis-cluster-create` job (executed as `post-install` and `post-upgrade` helm hooks) complete successfully without creating the cluster.

**To Reproduce**
(I don't think the issue can be reproduced systematically)
Steps to reproduce the behavior:
1. Set the following values:
[code]
2. Install the chart without using the `--wait` flag.
3.

[2020-06-29 02:14] jorgeantoniosandoval1 opened #2953 "Also, now that it was implemented in the containers, you could take the advantages of `extraEnvVars` in `bitnami/mariadb` chart and modify the collations. Please try to add this to your helm deployments."
Also, now that it was implemented in the containers, you could take the advantages of `extraEnvVars` in `bitnami/mariadb` chart and modify the collations. Please try to add this to your helm deployments.

[code]

_Originally posted by @dani8art in https://github.com/bitnami/charts/issues/2475#issuecomment-640549055_

[2020-06-29 06:57] juan131 commented on #2798
Hi @raphaelcervantes

Have you been upgrading your release or did you install it from scratch? Since you've been doing several fixes, I recommend you to start from scratch. I mean, uninstall the Prom. Operator chart, and install it again using the new values.

By the way, why do you use `alertmanager.172.17.0.2`? I understand you want to use it as a subdomain of the Minikube IP's, but it's not nec

[2020-06-29 07:04] rafariossaa commented on #2953
Hi,
  I am not very sure what do you mean with this ?
  The feature is implemented in the chart https://github.com/bitnami/charts/blob/master/bitnami/mariadb/values.yaml#L262, so you can use what @dani8art indicated.

[2020-06-29 07:09] rafariossaa commented on #2622
Hi @thomas-riccardi ,
  Thanks .

[2020-06-29 07:09] #2622 closed

[2020-06-29 07:14] joancafom commented on #2939
Hi @ajchiarello,

Thank you for your issue, I have created a PR #2954 that is intended to properly encode the Key again and solve the problem.

Thanks!

[2020-06-29 07:17] rafariossaa commented on #2933
Hi @nikhilno1 ,
  Yes, currently it can not handle both.
  Would you like to make a PR ? We will be glad to review and merge it.

[2020-06-29 07:45] juan131 commented on #2868
Hi @logicbomb421

Thanks for helping debugging this. Now it seems the issue is related with the API check. We're expecting the `curl` command below to return: `{"status":"ok"}`

- https://github.com/bitnami/bitnami-docker-rabbitmq/blob/master/3.8/debian-10/rootfs/opt/bitnami/scripts/rabbitmq/apicheck.sh
- https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/templates/statefulset.yaml#L22

[2020-06-29 08:13] carrodher commented on #2830
Hi, there are several ways to configure the password, you can use for example a secret, on this way the password is not going appear in the repository in plain text. In the same way, instead of modifying the `values.yaml` you can also set the parameters directly in the install command, i.e `helm install --set postgresqlPassword=my_app`

Those are the different options to configure the password:
[c

[2020-06-29 08:15] juan131 commented on #2346
Sure, it would be a great idea to provide support for using an external messaging service. I'll take a look to your PR as soon as possible, thanks so much!

[2020-06-29 08:24] donbeave commented on #2346
@juan131 ok, good, I'll add support external messing service today a little bit later.

[2020-06-29 08:26] andresbono commented on #2920
Hi @misterstrickland, can you share the specific version of the chart and the values that you are using to install the chart?

[2020-06-29 08:32] carrodher commented on #2931
Hi, at this moment there are different charts implementing HPA: `spring-cloud-dataflow`, `spark`, `nginx`, `thanos` or `kong`.

For example, in the case of kong, [this is the template](https://github.com/bitnami/charts/blob/master/bitnami/kong/templates/hpa.yaml) and [here you can find the values](https://github.com/bitnami/charts/blob/master/bitnami/kong/values.yaml#L475).

[2020-06-29 09:00] javsalgar commented on #2940
Hi,

Thank you for using Bitnami. So, from what I read, when these two parameters are set as you mention, the healthcheck should change to not use the client certificate, right? Instead, it should use regular authentication. Would that work for your case? If that's the case, the PR should be very simple (feel free to contribute with one if you want to speed up the process).

[2020-06-29 09:00] javsalgar commented on #1654
Hi,

Could you provide the values you used for deploying the chart? Which version did you use?

[2020-06-29 11:06] michael-bouvy opened #2956 "[bitnami/redis-cluster] Unable to set resources using Helm's --set"
**Which chart**:

`bitnami/redis-cluster 3.1.1`

**Describe the bug**

When setting Redis resources using `--set` CLI param, the value is not rendered in the templates.

**To Reproduce**
Steps to reproduce the behavior:

1. `helm template --set redis.resources.requests.memory=1024Mi redis-cluser bitnami/redis-cluster`
2. Check output:

[code]

Setting values within `values.yaml` works fine.

**Exp