[2022-03-08 15:35] InderpreetSaini opened #9336 "DML query hangs indefinitely when synchronous_commit is set to on"
### Name and Version

bitnami/postgresql-ha

### What steps will reproduce the bug?

Hi,

This is the same issue which is mentioned in [https://github.com/bitnami/charts/issues/1414].

I am using the postgres 13.5 image to deploy Postgres HA Helm chart (bitnami/postgresql-repmgr:13.5.0-debian-10-r35).

Synchronous_commit is set to on in this image by default. I have enable syncReplication to true

[2022-03-08 15:41] #9175 closed

[2022-03-08 15:41] InderpreetSaini commented on #9306
Thanks @juan131 . I will give it a try.

[2022-03-08 16:16] stumueller opened #9337 "Leader election causes pods to restart"
### Name and Version

bitnami/contour 7.0.1

### What steps will reproduce the bug?

We have deployed the contour helm chart as follows:
[code]
the contour pods are going into a namespace called projectcontour.

Approximately once a day we get the following in our logs as the contour pods restart. This causes downtime for us
[code]

### What is the expected behavior?

The pods do not restart

[2022-03-08 16:27] cunningr commented on #9296
Looks like https://github.com/bitnami/charts/issues/7392?  The latest seems to resolve this particular issue but I have other master/replica stability issues with latest.

[2022-03-08 16:42] ngingihy opened #9338 "StatefulSet my-release-postgresql failed error: pods "my-release-postgresql-0" is forbidden: failed quota: ns-resource-quota: must specify limits.cpu,limits.memory"
### Name and Version

bitnami/kong

### What steps will reproduce the bug?

I had Kong running normally on a previous namespace that i provisioned previously. Now i changed the namespace, it should have the same specs as the old one. I keep getting that error  failed quota: ns-resource-quota: must specify limits.cpu,limits.memory. I'm using the exact same values.yaml file

These are namespace even

[2022-03-08 16:50] #7403 closed

[2022-03-08 17:10] rafariossaa commented on #8721
Hi, could you give it a try to the new chart version (7.1.1)? That is using the new image with the PR from @Bananenbieger1234

[2022-03-08 17:23] cunningr commented on #9296
UPDATE: I am leaving the latest to soak over night but initial tests suggest the latest with the following work arounds (from https://github.com/bitnami/charts/issues/9227) looks ok:

[code]

[2022-03-08 17:47] javsalgar commented on #9272
Just a note to let you know that we released a new revision of the chart that fixes the issue. Please let us know if you find any other issue.

[2022-03-08 21:40] carrodher commented on #9332
Thanks for reporting this issue, I think the change should be in the other direction, keeping `serverName` in the _values.yaml_ but update the deployment template to use the proper value.

Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can f

[2022-03-09 01:24] epochsupport commented on #9246
HI Team,

Could you please let me know how can we specify our own route in the existing setup (Deployment/ConfigMap/Volume)

[2022-03-09 01:29] #9006 closed

[2022-03-09 01:29] #8996 closed

[2022-03-09 01:29] #8931 closed

[2022-03-09 01:29] #8790 closed

[2022-03-09 01:38] epochsupport commented on #9246
Hi ,

In the config map , have below lines , where to update the routes for URL auth.

{
	"ingress-container-start.sh": "#!/bin/bash

		. /health/ingress-container-wait-for-kong.sh

		kong-ingress-controller",
	"ingress-container-wait-for-kong.sh": "#!/bin/bash

		echo \"Waiting for the Kong container to be ready\"
		if wait-for-port --timeout=300 --host=127.0.0.1 --state=inuse 8000; then
		  echo

[2022-03-09 03:56] chelope opened #9339 "StatefulSet with architecture: high-availability should not set volume tmp emptyDir: {}"
### Name and Version

bitnami/memcached 6.0.5

### What steps will reproduce the bug?

I've installed in a kubernetes cluster the memcached helm using a values.yml with the values architecture = high-availability and persistence storage enabled. With this configuration the statefulset pod is created with volumeClaimTemplates "data" that would be enough, but the statefulset pod is created with a lo

[2022-03-09 05:15] matt-smiley commented on #8071
I finished an end-to-end validation run using the helm chart and got the same good results from profiling a toy workload.  This looks fantastic!  Thank you very much!

[2022-03-09 06:06] InderpreetSaini commented on #1799
@sameersbn , I am facing a similar issue while using the Bitnami Postgresql HA chart with the Postgresql RepMgr Image version 14.2. The PgPool pods restart when any of the Postgresql nodes are deleted.

Was the fix integrated with the 14.2 version as well?

[2022-03-09 06:25] epochsupport commented on #9246
Hi,

Could se the kong Helm deployment is showing failed

sl_notifications@cloudshell:~$ helm3 list
NAME                    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                                   APP VERSION
ibmcloud-block-storage  default         1               2022-02-18 05:15:10.536145227 +0000 UTC deployed        ibmcloud-block-storage-p

[2022-03-09 06:58] #8888 closed

[2022-03-09 07:38] #9308 closed

[2022-03-09 07:44] juan131 commented on #1799
Hi @InderpreetSaini

Could you please create a new issue describing the problem you're facing and how to reproduce it? This is quite an old issue with references to old versions of the chart and I think it'd be better to start a new "clean" conversation. Thanks in advance.

[2022-03-09 07:53] juan131 commented on #9339
Hi @chelope

The "tmp" storage is an "emptyDir" volume as you can check in the link below:

- https://github.com/bitnami/charts/blob/master/bitnami/memcached/templates/statefulset.yaml#L237

As you can see in the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir) these volumes exist as long as the Pod exists and they're delete once the Pod is removed for what

[2022-03-09 07:56] migruiz4 commented on #9337
Hi @stumueller,

Thank you for reporting this issue!

The error appears to be caused by Contour failing to get the `leader-elect` configmap when connecting through the Kubernetes API:
[code]

This action can be reproduced manually by opening a bash terminal inside the pod, and then using these instructions: https://kubernetes.io/docs/tasks/run-application/access-api-from-pod/

[code]

This should

[2022-03-09 07:58] aakrem opened #9342 "[bitnami/discourse] Redis :: TimeoutError : Connection timed out"
### Name and Version

bitnami/discourse 2.7.13-debian-10-r26

### What steps will reproduce the bug?

run the helm chart in eks 1.19

### Are you using any custom parameters or values?

[code]
also tried the same values above with different discourse env vars definition like:
[code]

### What is the expected behavior?

no connection timeout with redis

### What do you see instead?

[code]

Additio

[2022-03-09 08:53] migruiz4 commented on #9296
I tried to reproduce using both latest version and 15.6.3, with the following `values.yaml` (reduced the provided values.yaml to only the values that differ from default):
[code]

Both started successfully and recovered from deleting 2/4 pods and 4/4 pods.

In my case, `sentinel.conf` looked like this:
[code]

Although, I have noticed that the issue is happening at the initialization script, in th

[2022-03-09 09:10] javsalgar commented on #9298
Maybe you could try launching it with `diagnosticMode.enabled=true`, enter the containers and see if the filesystem is actually readonly

[2022-03-09 09:18] javsalgar commented on #9040
Oh sorry, didn't notice that. We can take the PR from here and apply the change. Best wishes and stay safe.

[2022-03-09 09:24] javsalgar commented on #8705
So it seems to fail in write-operations, right? I would still check with the PV technology devs to see if they can provide more advice. Your use case is not something we actively test and support.

[2022-03-09 09:29] javsalgar commented on #9246
Hi,

For adding custom post-configuration logic, you try the `kong.initScriptsCM` value where you can put a configmap with your custom startup scripts. Then, about specific Kong configuration, I suggest you to check the kong official configuration. https://docs.konghq.com/getting-started-guide/latest

[2022-03-09 09:39] javsalgar commented on #9336
Hi,

I was unable to reproduce the issue:

[code]

Could you provide more details about the values.yaml you used and the Kubernetes platform?

[2022-03-09 09:41] javsalgar commented on #9338
Hi,

It seems to me that this is not related to the Bitnami packaging, but the configuration in your cluster. The error shows that you have a ResourceQuota object in the namespace that is forcing you to define the CPU and Memory limits.

[2022-03-09 09:44] AhmedSRamadan commented on #9292
Hello @marcosbc
I think it's not related to node anfinity it's even igonre the postgresql password values

[2022-03-09 12:44] FraPazGal commented on #7636
Hello @holzman,

This issue is now fixed in the latest chart's major, `12.0.0`. You can check it so by doing:

[code]

<img width="246" alt="Screenshot 2022-03-09 at 13 43 32" src="https://user-images.githubusercontent.com/26460210/157444085-5bc7ca64-f912-4ff2-9e40-449ed6ee4add.png">

Thanks for reporting this bug and please do not doubt to reach out to us if there is any further issue.

[2022-03-09 12:44] #7636 closed

[2022-03-09 12:44] FraPazGal commented on #5192
Hello @paulczar, @holzman,

This issue is now fixed in the latest chart's major, `12.0.0`. You can check it so by doing:

[code]

<img width="246" alt="Screenshot 2022-03-09 at 13 43 32" src="https://user-images.githubusercontent.com/26460210/157444085-5bc7ca64-f912-4ff2-9e40-449ed6ee4add.png">

Thanks for reporting this bug and please do not doubt to reach out to us if there is any further issue.

[2022-03-09 12:44] #5192 closed

[2022-03-09 12:49] InderpreetSaini commented on #9336
Thanks @javsalgar for the response.

From the logs which you have shared, I can see that the version you are using is 11.15.

I am deploying the chart using the Postgres13.5 Image as we are looking for a higher version of Postgres than 11.

[code]

[2022-03-09 13:06] cwrau commented on #8721
This seems to be working, at least with a couple of tests of mine

The only downside is that the update is not intervention-free, as the `serviceName` of the StatefulSet changed, which means the user has to delete the StatefulSet before the update

[2022-03-09 13:08] cwrau commented on #8721
Nvm, an update just results in the nodes crashing;

[code]

[2022-03-09 13:11] ngingihy commented on #9338
hey @javsalgar, does that mean i need to specify it in the values.yaml file?

[2022-03-09 13:24] kvendingoldo opened #9353 "[bitnami/redis-cluster] Cluster can't be built if auth enabled"
### Name and Version

bitnami/redis-cluster 7.3.1

### What steps will reproduce the bug?

1. Deploy cluster with these values:
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

cluster works

### What do you see instead?

[code]

### Additional information

If I'm going into a pod and trying to execute:
`redis-cli -h 10.160.7.43 -p 6379

[2022-03-09 13:37] kvendingoldo commented on #9353
Interesting observation:

[code]

Looks like `REDISCLI_AUTH` contains newline, because the following flow works:
[code]

Does anybody have an idea where this newline could be added?

[2022-03-09 13:54] chelope commented on #9339
Hi @juan131

I think this empy dir is affecting the scale down in kubernetes cluster since the GKE is showing the following message

![image](https://user-images.githubusercontent.com/2678164/157455031-c6b4127c-2eb0-4163-8ea7-29f14b502db9.png)

![image](https://user-images.githubusercontent.com/2678164/157455211-1cdfbfda-0c09-4e82-918b-bb3929a45b77.png)

This is the log

![image](https://user-imag

[2022-03-09 13:55] kvendingoldo commented on #9353
Looks like I've found an issue: https://www.funkypenguin.co.nz/blog/beware-the-hidden-newlines-in-kubernetes-secrets/

This issue can be closed.

[2022-03-09 13:55] #9353 closed

[2022-03-09 15:48] readverish commented on #9022
The missing  UDPIngress  CRD problem, that impeded the kong-ingress-controller from starting is partially fixed. The CRD is now in the chart, except that the ClusterRole is missing the accesses to the udpingresses endpoints (see below excerpt of the ClusterRole included in the helm chart).

[code]

[2022-03-09 17:12] fivovic commented on #9083
Spent this afternoon wrestling with this error.

Even with the readiness probe set to comical timings (30m+), execing into the mysql container and attempting to login to mysql is rejected with the same access denied error. Process was clearly running and container logs indicate mysqld was ready for connections.

No amount of tinkering with the values file fixed this after the fact. I even emptied

[2022-03-09 17:38] mamiu opened #9360 "Inconsistencies between docker-entrypoint-initdb.d and docker-entrypoint-init.d"
### Name and Version

bitnami/wordpress:13.0.22 (and probably many other charts as well)

### What steps will reproduce the bug?

@carrodher Sorry for bothering you once more with this (after mentioning you in [this comment](https://github.com/bitnami/bitnami-docker-wordpress-nginx/pull/77#issuecomment-1063116419)), but I've seen that you've been involved in a few issues in different projects rega

[2022-03-09 17:44] krishnadce commented on #9296
I have upgraded to the latest version of the chart and also added the startupProbe as suggested.

[code]

The sentinel containers are often failing "BackoffRestarting" with Liveness Probe failures. Below is the logs from the sentinel container with -p option.

[code]

[2022-03-09 17:57] protoman92 opened #9361 "[bitnami/mysql] global.storageClass, primary.persistence.storageClass and secondary.persistence.storageClass are ignored"
### Name and Version

bitnami/mysql 8.8.26

### What steps will reproduce the bug?

1. Install MySQL with bitnami/mysql helm chart.
2. Set the values for `global.storageClass`, `primary.persistence.storageClass` and `secondary.persistence.storageClass` to any value.
3. The specified storage class values are ignored.

### Are you using any custom parameters or values?

- global.storageClass
- prima

[2022-03-09 21:53] reisor commented on #8705
If it was related with persistence the primary node wouldn't see the data but it does. it's failing to replicate it to the other nodes.
In all, primary and replicas pods i created the directories logging in with kubectl exec -ti .... bash
mkdir -p /bitnami/postgresql/mydb/ts_a /bitnami/postgresql/mydb/ts_b /bitnami/postgresql/mydb/ts_c /bitnami/postgresql/mydb/ts_d

CREATE TABLESPACE ts_pm_topo LO

[2022-03-10 01:30] #9037 closed

[2022-03-10 01:30] #9021 closed

[2022-03-10 01:30] #9020 closed

[2022-03-10 01:30] #9017 closed

[2022-03-10 01:30] #9014 closed

[2022-03-10 01:30] #9013 closed

[2022-03-10 01:30] #8630 closed

[2022-03-10 01:31] #7378 closed

[2022-03-10 05:14] jainpratik163 opened #9366 "how to integrate kubernetes-event-exporter with elasticsearch"
### Name and Version

kubernetes-event-exporter

### What is the problem this feature will solve?

NA

### What is the feature you are proposing to solve the problem?

NA

### What alternatives have you considered?

_No response_

[2022-03-10 05:59] tbnguyen1407 opened #9367 "[bitnami/zookeeper] init-certs fails in hardened environment (readOnlyRootFilesystem)"
### Name and Version

bitnami/zookeeper 8.1.1

### What steps will reproduce the bug?

1. Deploy custom values.override.yaml

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Successful pod start

### What do you see instead?

Failure in init-certs initContainer:

[code]

### Additional information

Adding an emptyDir volume and mount it to init-certs

[2022-03-10 07:23] juan131 commented on #9339
Hi @chelope

The problem isn't related with the "emptyDir" volume but the PVC that's created using the volumeClaimTemplates below:

- https://github.com/bitnami/charts/blob/master/bitnami/memcached/templates/statefulset.yaml#L242

Depending on the StorageClass you're using (customizable via [this parameter](https://github.com/bitnami/charts/blob/master/bitnami/memcached/values.yaml#L457)), your cl

[2022-03-10 07:29] carrodher commented on #9360
Thanks for creating this issue, please note the combination of [Bitnami WordPress Helm Chart](https://github.com/bitnami/charts/tree/master/bitnami/wordpress) with the [bitnami-docker-wordpress-nginx](https://github.com/bitnami/bitnami-docker-wordpress-nginx) container image is not supported out of the box.

The [Bitnami WordPress Helm Chart](https://github.com/bitnami/charts/tree/master/bitnami/w

[2022-03-10 07:34] juan131 commented on #9366
Hi @jainpratik163

Could you please feel the required information available in the issue template? Thanks in advance.

[2022-03-10 07:48] Bananenbieger1234 commented on #8721
@cwrau what do you mean with "servicename" ?? Can you explain what you did during upgrading your cluster (helm upgrade?)

[2022-03-10 08:03] SoJoh commented on #9298
Very good idea

this is the result of ```$ mounts```

Seems not to be ro exclusively.

[code]

[2022-03-10 08:22] cwrau commented on #8721
In the statefulset, you used to use the headless service for cluster communication; `gcomm://test-4ap-cra-mariadb-headless.test-4ap.svc.cluster.local`

In the new version you use some kind of subdomains of the headless service; `gcomm://test-4ap-cra-mariadb-0.test-4ap-cra-mariadb-headless.test-4ap.svc.cluster.local,test-4ap-cra-mariadb-1.test-4ap-cra-mariadb-headless.test-4ap.svc.cluster.local`.

[2022-03-10 09:22] Bananenbieger1234 commented on #8721
You can explicitly override your "cluster address" pointing to the headless service.

Like this:
`MARIADB_GALERA_CLUSTER_ADDRESS: gcomm://test-4ap-cra-mariadb-headless.test-4ap.svc.cluster.local`

I don't know why this behavior has changed some weeks ago and I don't know if this is the reason for your errors ...
![image](https://user-images.githubusercontent.com/48549289/157630785-9fc5b075-20eb-45

[2022-03-10 09:58] cwrau commented on #8721
That seems to work, so that should probably be reverted then

Maybe @rafariossaa can tell us why that change was made and how it was supposed to work? Cause

[2022-03-10 10:37] jainpratik163 commented on #9366
@juan131 i want doc which says how we can send events to Elasticsearch as i am not able to find any example.

[2022-03-10 10:49] UmfintechWtc opened #9370 "No kafka-server-start.sh file"
### Name and Version

bitnami/kafka:2.8.1-debian-10-r0

### What steps will reproduce the bug?

helm3 install kafka, exception information:
**kafka 10:44:53.30 INFO  ==> ** Kafka setup finished! **
kafka 10:44:53.32 INFO  ==> ** Starting Kafka **
error: exec: "/opt/bitnami/kafka/bin/kafka-server-start.sh": stat /opt/bitnami/kafka/bin/kafka-server-start.sh: no such file or directory
**
what should

[2022-03-10 10:51] rafariossaa commented on #8721
The reason is that you need to get all the nodes names (IPs) explicitly, so one node is able to find the rest of them. In the previous approach you are only getting one of the IPs for the service.

[2022-03-10 12:13] PeterKneale opened #9371 "bitnami/fluentd and bitnami/elasticsearch compatability - The client noticed that the server is not Elasticsearch and we do not support this unknown product"
### Name and Version

bitnami/fluentd latest and bitnami/elasticsearch latest (details below)

### What steps will reproduce the bug?

- install bitnami/elasticsearch
[code]

- Apply the config map found here as is
https://github.com/bitnami/charts/blob/master/bitnami/fluentd/README.md#forwarding-the-logs-to-another-service

- install fluentd just specifying the config map created above, passing i

[2022-03-10 12:26] ebostijancic opened #9372 "make serviceAccount.automountServiceAccountToken: true the default"
### Name and Version

bitnami/keycloak 7.1.0

### What is the problem this feature will solve?

The default value set in the values file for `serviceAccount.automountServiceAccountToken` is `false`, however according to Kubernetes documentation the default is `true` (opt-out). Please change the default to `true` so that users does not need to care about this.

### What is the feature you are propo

[2022-03-10 12:44] aakrem commented on #9281
Increased resources and the problem is solved.

[2022-03-10 12:44] #9281 closed

[2022-03-10 12:53] ahgraber opened #9373 "[keycloak] included postgres does not respect postgresql.persistence.existingClaim"
### Name and Version

bitnami/keycloak 7.1.0

### What steps will reproduce the bug?

I have the following settings in my keycloak.values:

[code]

However, the chart does not seem to respect persistence.existingClaim; an additional PV `data-keycloak-postgresql-0` is created and mounted to the `keycloak-postgresql-0` pod instead of the intended `keycloak-db` claim specified.

### Are you using any

[2022-03-10 12:55] NicklasWallgren commented on #6427
@migruiz4 Great, thank you!

[2022-03-10 13:13] cwrau commented on #8721
But the headless service returns all pods' IPs, that's how it worked before

Or is mariadb only using the first IP? But then how did it work before? 😅

In any case, the new approach doesn't work either, as these DNS records don't exist

[2022-03-10 13:55] voarsh2 opened #9374 "Maria Galera: WSREP: Non-primary view - Server status change connected -> disconnected not not shutting down pod"
### Name and Version

mariadb-galera/7.0.1

### What steps will reproduce the bug?

1. Normal default configs.
2. Two instances synced, 3rd joining but with inconsistent data
3. Upon joining and applying SST:

[code]

Final result:

[code]

The instance isn't terminated and Kubernetes is using the disconnected instance to serve traffic, the liveness check isn't setup to see that the instance is in

[2022-03-10 14:45] rafariossaa commented on #8062
Hi @xiaoyaozi5566, @vishrantgupta ,
  I've doing some testing with the changes in #9255 and it worked well for me.
  Could you take a look to it and share your thoughts ?.

[2022-03-10 14:52] stevek-pro opened #9375 "can be deleted"
Issue resolved

[2022-03-10 16:11] jk-pru commented on #8721
Yep, everything seems to be working now. Every single restart I did was handled correctly, and there's no regression with regards to deleting selected pods or helm upgrade.

Good work!

[2022-03-10 16:11] paulden commented on #9227
Thanks @jack1902 for raising this issue, we are encountering the same problem during a fresh Redis install using this chart at version >= 16.4.1 (while using version prior to the deletion of the `timeout 5` does not raise any issue).

I understand the reason why the `timeout 5` was removed but I feel like either way there has to be some mechanism where at some point, no response means you assume t

[2022-03-10 16:17] mickours commented on #6121
I've just been bitten by this. Any solution on the pipe?

[2022-03-10 16:18] migruiz4 commented on #9361
Hi @protoman92,

Could you please give more information about your issue? I haven't been able to reproduce it:

[code]
[code]

The values are used by the common helper "common.storage.class". Check these references:
https://github.com/bitnami/charts/blob/c4beca4305ecc636cac2cae50441380cdf3afcf1/bitnami/mysql/templates/primary/statefulset.yaml#L364
https://github.com/bitnami/charts/blob/c4beca4305e

[2022-03-10 16:27] jk-pru commented on #8721
@cwrau was the version of the chart you were using before the upgrade below 7.0.1? Before that update the cluster had a tendency to split into 2. So it’s possible that mariadb-1 is in a separate cluster from mariadb-0 and won’t be able to join, because it’s completely out of sync. Check in the logs of both nodes if they have the same UUID. If not – make sure mariadb-0 has all the data you need, sc

[2022-03-10 16:27] #9375 closed

[2022-03-10 16:37] carrodher commented on #8433
Hi, monitoring didn't show bad connections or alike, on our side, are you still facing this intermittent issue?

[2022-03-10 16:38] voarsh2 commented on #9307
I'm confused.... Are you trying to re-deploy the statefulset with "parallel" to bring up all of the pods and select a specific one to bootstrap?

[2022-03-10 16:40] ajchiarello commented on #9325
My mistake - something in my deployment was blanking it out.

[2022-03-10 16:40] #9325 closed

[2022-03-10 17:49] darealShadow commented on #8603
It depends what you mean. Some compatibility with applications using the latest version of the database and chart does have issues (Nextcloud 23 and MariaDB 10.8). But in general there is no issue around deprecation with NFS or any other backend storage. The latest chart works as intended and does also restore after a crash.

[2022-03-10 18:12] rrileyca opened #9378 "[bitnami/kafka] Make certificates work with cert-manager"
### Name and Version

bitnami/kafka:3.1.0-debian-10-r31

### What is the problem this feature will solve?

`auth.tls.existingSecrets` currently does not work "out of the box" with cert-manager because the `Secret` resource made by cert-manager does not include a `ca.crt` field, which causes the `auto-discovery.sh` script to fail [here](https://github.com/bitnami/charts/blob/3e7c06fdf291753b37603cc

[2022-03-10 18:19] rrileyca commented on #9215
I'm curious how you even got this to boot up. Did the `Secret` from cert-manager include a `ca.crt`? The `auto-discovery.sh` script fails without it. See this issue I just raised: https://github.com/bitnami/charts/issues/9378

Maybe the `ca.crt` in your secret is what is causing the trouble? Could could test it with `openssl verify -CAfile ca.pem -untrusted subject.pem`.

[2022-03-10 19:00] juan131 commented on #6121
Recent versions of the PostgreSQL chart use Helm's "lookup" functionality to auto-detect existing secret keys. What version are you using @mickours ? In any case, the alternatives that you have to solve the issue if you faced it are documented in the Troubleshooting guide below:

- https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#credential-errors-while-upgrading-chart-relea

[2022-03-10 19:01] juan131 commented on #9372
Hi @ebostijancic

Thanks so much for warning us about this. I agree with you that it should be set to "true" by default.

Would you like to contribute with a PR amending this? Thanks in advance.

[2022-03-10 22:25] dunn commented on #6685
This issue is still present on the current Redis chart.

[2022-03-10 23:06] igorwwwwwwwwwwwwwwwwwwww commented on #8071
Huge thanks @miguelaeh and @javsalgar, I'll go ahead and close this out!

[2022-03-10 23:06] #8071 closed

[2022-03-11 00:54] rthamrin opened #9380 "set the retention more than 10d"
### Name and Version

bitnami/kube-prometheus-6.6.5

### What steps will reproduce the bug?

1. install the Prometheus through helm bitnami/kube-prometheus-6.6.5
2. modify the retention days up to 10d. I have tried to modify to 1y , 90d, 360d
3. helm upgrade the values

### Are you using any custom parameters or values?

values.yaml

### What is the expected behavior?

saving data metric more than

[2022-03-11 01:29] #9056 closed

[2022-03-11 01:29] #9018 closed

[2022-03-11 04:18] hinorashi opened #9381 "[bitnami/keycloak] Empty secret name for KEYCLOAK_DATABASE_PASSWORD"
### Name and Version

bitnami/keycloak 7.1.1

### What steps will reproduce the bug?

## 1. My config
Use external database (_I think other settings won't involve_):
[code]

## 2. How I run
[code]

## 3. The error
[code]

## 4. Debugging
This is how I debug:
[code]

What I see (only useful piece of info):
[code]
As you could see, the field `valueFrom.secretKeyRef.name` for `KEYCLOAK_DATABASE_PASSW

[2022-03-11 05:49] smolinari commented on #9381
I can confirm this issue.

Scott

[2022-03-11 06:09] mamiu commented on #9360
Thanks for redirecting this ticket to your team members.

And yes, I'm aware that the NGINX image is not the official one and that it's marked as "Community supported solution".
It was just an example where I discovered this inconsistency, but it's likely that other applications are affected by this as well.

I've tried to find more about the origin of the `docker-entrypoint-initdb.d` and `docker-

[2022-03-11 07:45] migruiz4 commented on #6685
Hi @dunn,

As mentioned in this thread, making `ping_readiness_xxxx` aware of this scenario may not be trivial, considering the behavior `OK -> Loading -> OK` and checking the configuration being the only method to determine whether there is data to load or not.

Support for `startupProbes` has been available for some time, so my recommendation would be tunning them depending on your use case.

[2022-03-11 08:26] mickours commented on #6121
Thanks, this is coming from the `requarks/wiki` chart which use an outdated version of this chart:
https://github.com/Requarks/wiki/blob/main/dev/helm/Chart.lock

[2022-03-11 08:29] juan131 commented on #9360
Hi @mamiu

Thank you for the detailed analysis.

I agree with you 100%, this is something that was adopted from other projects and then, we've been replicating (copy-pasting and adapting the logic to support custom scripts) through the many containers in the Bitnami catalog. However, I don't think we didn't pay attention to the differences between `initdb.d` vs `initd.d`.

I'll proceed to create a

[2022-03-11 09:26] mamiu commented on #9360
@juan131 Thanks a lot for taking this on.

And you're right, I couldn't find any problem with current Bitnami charts. So it's probably only if somebody wants to use a different image that uses the other custom scripts folder name (e.g. `init.d` instead of `initdb.d`) as it happened in my case (the example from above).

If you need any help let me know.

[2022-03-11 09:28] cwrau commented on #8721
Yes, since the chart is "broken" since 6.0.4, we've been staying on 6.0.3 waiting for the fix, aka this ticket here 😅

I'm gonna try that, but can we get around this manual intervention? This would mean that I'd have to migrate all 77 mariadb clusters by hand 🙈

[2022-03-11 09:39] juan131 commented on #9366
Hi @jainpratik163

Thanks for the suggestions! Please feel free to improve the docs by submitting a PR updating the [ElasticSearch chart's README.md)]https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/README.md) or the [ElasticSearch docs](https://github.com/bitnami/charts-docs/tree/main/charts/elasticsearch).

[2022-03-11 09:42] juan131 commented on #9339
Thanks for sharing this workaround! Can you confirm that the annotations works to solve the issue?

[2022-03-11 09:48] juan131 commented on #9227
I agree that parametrizing the parameters the timeout would be the best option. Would you like to contribute a PR adding support for a parameter that allows modifying the timeout?

[2022-03-11 09:48] migruiz4 commented on #9381
Hi @hinorashi,

Thank you for reporting this issue, I'm looking into it.

P.S.: I'm editing the original post as the `values.yaml` used to reproduce the issue is missing:
[code]

[2022-03-11 09:50] juan131 commented on #6121
Hi @mickours

The ideal thing in this case would be to update the chart deps on that chart, but that's out of our scope. I hope that the alternatives documented in the Troubleshooting guide will be useful to workaround the issue.

[2022-03-11 09:59] javsalgar commented on #9336
I tried with the latest 13.x.x image and no issues either

[code]

[2022-03-11 10:00] migruiz4 commented on #9381
Hi again!

PR #9383 should fix this. Thank you again for reporting!

[2022-03-11 10:01] javsalgar commented on #9338
Hi,

Exactly, you may need to tweak the limit settings inside the PostgreSQL subchart. Check the PostgreSQL chart settings

https://github.com/bitnami/charts/blob/master/bitnami/postgresql/values.yaml

For these values, you need to add `postgresql.`, as it is part of a subchart.

[2022-03-11 10:10] jack1902 commented on #9227
Why not add two bits?

`startupProbe` for those that want the 220 bit but enable the `timeout` to be also set as a separate piece? This way the default is happy and you can tune it down if you want?

[2022-03-11 10:38] javsalgar commented on #9083
Hi,

Could it be that you did not delete the PVCs from previous installations? That could explain an access denied error.

[2022-03-11 10:41] javsalgar commented on #8705
There must be some operation related to symlinks that don't seem to be compatible with the filesystem. Maybe you could also check with the PostgreSQL devs for more hints as well.

[2022-03-11 10:44] rafariossaa commented on #8721
@cwrau as @jk-pru metioned, the issues related to cluster split were fixed in `7.0.1`.

Regarding the `serviceName` change, it was changed to follow the same approach we have in the rest of the charts. This is to get the names/IPs of the nodes and be able to configure galera with the rest of the name nodes. In the previous approach it was using always the service one, that is not the best approach

[2022-03-11 10:44] javsalgar commented on #9146
Hi! Did you have time to check the suggestions from the PR?

[2022-03-11 10:51] javsalgar commented on #9298
Have you tried creating a file?

[2022-03-11 10:58] javsalgar commented on #9370
Hi,

I was unable to reproduce the issue:

[code]

[2022-03-11 11:00] smolinari commented on #9381
@migruiz4 - Sorry to be off-topic, but is there a slack channel or Discord server or the like for the Bitnami Helm charts to discuss such problems up front? I found this problem almost a week ago, but wasn't sure if it was me, cause I'm not an experience DevOps person. I could have asked about it in the community first to get confirmation it was a chart problem and maybe could have reported it soo

[2022-03-11 11:01] javsalgar commented on #9373
Hi,

Looking at the values.yaml, it seems that you did not set the correct value. It should be `kong.primary.persistence.existingClaim`

[2022-03-11 11:06] javsalgar commented on #9380
Hi,

Note that, in this case, we are applying this value to the operator object. Therefore, if it is not applied, maybe the issue has to do with the operator or with changes in the CRD. Did you check with the prometheus-operator devs?

[2022-03-11 11:18] stumueller commented on #9337
Thanks for that.
So at 22:00 on the 10/03 I got a contour pod restart due to the failed leader election, when I came in this morning  followed the steps in your reply and was able to get the api server address. I then ran
``` curl --cacert ${CACERT} --header "Authorization: Bearer ${TOKEN}" -X GET https://essmatsdev-559cc4df.hcp.uksouth.azmk8s.io:443/api/v1/namespaces/projectcontour/configmaps/lea

[2022-03-11 11:22] jainpratik163 commented on #9366
@juan131 i want to integrate kubernetes-event-exporter with elastic search , so that we can send k8s events to ES and later on we can check issue.

[2022-03-11 11:35] SoJoh commented on #9298
Hi,

I really appreciate your help and effort trying to guide me!

So I created a few files the directory ```/bitnami/mysql``` is writable.
The directory ```/bitnami``` is not.

Is there any other directory we need to test?

[2022-03-11 11:48] Jagadeepkosuri opened #9384 "Unable to see XComs in Airflow 2.1.2"
### Name and Version

bitnami/airflow10.3.1

### What steps will reproduce the bug?

Install Airflow 2.1.2 using the helm chart
Below are the docker images used in this chart
[code]
### Are you using any custom parameters or values?

Try with the default values

### What is the expected behavior?

Should be able to XCom list

### What do you see instead?

[code]

[2022-03-11 11:49] cwrau commented on #8721
Ok, if we can't get around the deletion of the StatefulSet, I at least found a nicer workaround than the one above;

1. Set `MARIADB_GALERA_CLUSTER_ADDRESS` to the old value, as @Bananenbieger1234 suggested
[code]

3. Delete the StatefulSet with `cascade=orphan`
2. Apply upgrade (the newer nodes join the existing cluster)
3. Wait until all nodes are recycled
4. Remove envVar from step 1
5. Reupgra

[2022-03-11 12:25] jayaswalayush opened #9385 "Enabling statsd metrics on Airflow Hem Chart"
### Name and Version

bitnami/airflow 12.0.10

### What steps will reproduce the bug?

Install Bitnami Airflow Helm Chart by enabling the metrics and service monitor

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

[code]
### What do you see instead?

[code]
### Additional information

Ideally metrics should be seen on the Grafana dashboard as per the

[2022-03-11 12:28] DamienFontaine commented on #9215
Bellow the result of the command `openssl verify`
[code]
Only the intermediate certificate is present.

[2022-03-11 12:48] ahgraber commented on #9373
I'm sorry, I don't understand how `kong` is tied to keycloak or the postgres subchart...

[2022-03-11 13:03] #9373 closed

[2022-03-11 13:29] linuxmail opened #9388 "[bitnami/thanos] No service discovery with Helm chart .. just ruler"
### Name and Version

bitnami/thanos 10.0.0 (0.25.0)

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Scrape other services, like node-exporter

[code]

### What do you see instead?

[code]

So I see only in querer frontend .. the ruler
![Bildschirmfoto von 2022-03-11 14-27-25](https://user-images.githu

[2022-03-11 14:56] javsalgar commented on #9366
Hi,

Is the Elasticsearch support documented in the kubernetes-event-exporter official documentation?

[2022-03-11 15:00] marcosbc commented on #9292
@AhmedSRamadan Could you share `postgresql-pv-0.yaml` and `postgresql-pvc-0.yaml` so we can reproduce this issue? Note that you should need to specify the namespace in those YAMLs.

[2022-03-11 15:04] AhmedSRamadan commented on #9292
Hello @marcosbc ,
Case solved after adding this env variable --set primary.primary.enabled=true
and also for the password fixed by add this env value  --set auth.postgresPassword=xxxx

[2022-03-11 15:07] javsalgar commented on #9298
I think that should be enough. Could you try also running the `/opt/bitnami/scripts/mariadb/entrypoint.sh` `/opt/bitnami/scripts/mariadb/run.sh` command (while you are in diagnosticMode and see if the error appears? If the error apears, you can try checking the files that have been created.

[2022-03-11 15:08] fivovic commented on #9083
Went back to check and you are correct in my case, recreating the PVC always resolved any errors incurred by syncing password changes. Thanks for pointing that out!

[2022-03-11 15:09] marcosbc commented on #9371
Hi @PeterKneale, thanks for reporting this! This is definitely the issue:

We are actively working on releasing the Helm chart for Elasticsearch 8.0.0, which should fix this issue for anyone deploying the new version. Due to this, I'm not sure if it is worth reverting the change right now, given the release of the new version is inminent.

In the meantime, you could extend the container image to i

[2022-03-11 15:10] marcosbc commented on #9022
@readverish Thanks for reporting this. Would you be up for contributing the fix?

[2022-03-11 15:12] webdz9r commented on #9146
I wasn't aware of any suggestions.

[2022-03-11 15:16] #9372 closed

[2022-03-11 15:19] MateuszKuchniak-TomTom commented on #8287
Hi coming back to this topic. Still does not work with helm chart version 6.1.8

 @miguelaeh I'll try deployment without the helm

[2022-03-11 15:35] #9381 closed

[2022-03-11 17:01] lknite opened #9389 "argo-cd does not include ApplicationSet"
### Name and Version

bitnami/argocd : latest

### What is the problem this feature will solve?

At the argocd site documentation says applicationset is now included in the argocd release as of v2.3:
https://argocd-applicationset.readthedocs.io/en/stable/Getting-Started/

Yet, when I install the bitnami argocd helm chart it doesn't know what a kind of type ApplicationSet is.

### What is the featu

[2022-03-11 17:02] #5752 closed

[2022-03-11 17:02] #6741 closed

[2022-03-11 17:04] lknite commented on #9389
Nevermind, I reviewed available versions and it looks like you already have the newer version in there.

[2022-03-11 20:03] cedricve commented on #9228
@rafariossaa I used latest one.

[2022-03-11 20:31] gowthamprabhu opened #9390 "Requirements.txt file in Bitnami Airflow"
### Name and Version

bitnami/airflow:2.2.4-debian-10-r1

### What steps will reproduce the bug?

I have installed Airflow in Kubernetes with the Helm Chart, however the requriements.txt file doesn't seem to be executed.

I have created a configmap in the namespace with the below command,

kubectl create configmap requirements --from-file=requirements.txt -n airflow

Now in the values file, I've u

[2022-03-11 21:06] kvendingoldo commented on #9153
@migruiz4 thx for you effords, I found the same and described in closed ticket: https://github.com/bitnami/charts/issues/9353

[2022-03-11 21:51] rrileyca commented on #9215
Sorry - if you have 3 files:
- `ca.pem` - the root
- `sub.pem` - the subordinate
- `endpoint.pem` - the endpoint

You would check them with `openssl verify -CAfile ca.pem -untrusted sub.pem endpoint.pem`.

The autodiscovery script pulls the PEM ca chain from the `ca.crt` field in the `existingSecret` you provided, but I don't know what happens with that PEM after that. Maybe it gets put into a JKS

[2022-03-11 21:58] sjegancbe commented on #7900
@Mauraza Can you please elaborate more on how to specify the existingSecret setting, does that mean we need to specify the path of the cert file in the existingSecret parameter or do we need to explicitly load the certs as Secrets and specify the secret name here?

[2022-03-12 01:27] #9047 closed

[2022-03-12 06:06] gowthamprabhu commented on #3533
Hello, I'm little new to Kube, How do I map the requirements.txt using Helm to mounts ?

[2022-03-12 06:14] zxkane commented on #8635
Met a case the magento only supports `upported versions: MySQL-8, MySQL-5.7, MariaDB-(10.2-10.4)`. `image.debug` helps a lot.

[2022-03-12 09:04] carrodher commented on #4104
Hi, unfortunately, this is not something on our roadmap for the short term. Due to other priorities, the team has and our capacity it is not possible to find bandwidth for this topic.
Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find t

[2022-03-12 09:13] carrodher commented on #5347
Hi, this issue should be solved in recent versions of the container and Helm chart. Please, feel free to reopen this ticket if something doesn't work as expected.

[2022-03-12 09:13] #5347 closed

[2022-03-12 09:29] #9187 closed

[2022-03-12 12:34] carrodher commented on #6315
Unfortunately, after evaluating the addition of this feature internally, we didn't consider it to be addressed in the short/mid-term. As pointed out before, we are a small team in charge of maintaining different apps so we should select where to put effort.

Any PR is welcome for the Helm chart or container image in order to support new features, the team will be happy to review them and provide f

[2022-03-12 16:26] koo9 commented on #5347
excellent！Thanks

[2022-03-12 20:23] edwardcookemacu opened #9391 "redis replicas restart when master restarts"
### Name and Version

bitnami/redis

### What steps will reproduce the bug?

In docker-desktop

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

When the master pod is deleted (for whatever reason) the replicas don't restart.

### What do you see instead?

The replicas restart

### Additional information

I simulate a restart of the master node by cal

[2022-03-12 22:39] rafalix1337 opened #9392 "[rabbitmq-cluster-operator] Lack of secret with default user and password"
### Name and Version

bitnami/rabbitmq-cluster-operator 2.3.4

### What steps will reproduce the bug?

1. install rabbitmq-cluster-operator by Helm in Kubernetes
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

When we install rabbitmq-cluster-operator by kubectl manifests (https://github.com/rabbitmq/cluster-operator#quickstart) we hav

[2022-03-13 02:54] rapnics21121 opened #9393 "bitnami support tool 73e0a87b-8aed-e6db-6b9c-6b3baddecd3d"
### Name and Version

bitnami / wordpress

### What steps will reproduce the bug?

bitnami support tool 73e0a87b-8aed-e6db-6b9c-6b3baddecd3d

[Sat Mar 12 17:56:04.119958 2022] [proxy_fcgi:error] [pid 14752:tid 140133256828672] (70007)The timeout specified has expired: [client **ip_address**:15980] AH01075: Error dispatching request to : (polling), referer: https://tradevits.com/about/ [Sat Mar 12

[2022-03-13 04:20] protoman92 commented on #9361
@migruiz4 that's interesting - i just realized that we have been using version 8.8.23. I currently do not have hardware that can support a cluster to reproduce the issue i had yet - perhaps I'll get back to this issue later.

May I ask if storageClass is also used by the chart in v8.8.23?

[2022-03-13 04:28] bboyadao commented on #2374
Thank for suggestion

[2022-03-13 06:33] NikitaIvankov1992 opened #9394 "PDB for oauth2-proxy doesn't work"
### Name and Version

bitnami/oauth2-proxy 2.0.8

### What steps will reproduce the bug?

Hello bitnami team,

We're trying to use oauth2-proxy chart and have got an error setting up PDB, if you set 'pdb' variable 'create' equal to true it uses default values of 'minAvailable' and 'maxUnavailable' which are equal to '1' and we receive the error
[code]
So maybe you can set both(or at least one of t

[2022-03-13 20:17] carrodher commented on #9393
Please note we provide support for container images and Helm charts in GitHub, but this case seems to be related to native installers, Virtual Machines, MultiTier templates, etc. Support for those products is provided via https://community.bitnami.com/, can you post your question in that forum?

[2022-03-13 20:17] #9393 closed

[2022-03-13 22:18] dc232 commented on #8985
still WIP haven't got round to it

[2022-03-13 22:53] ninjaslothx opened #9395 "[bitnami/thanos] add support for thanos stateless ruler"
### Name and Version

bitnami/thanos 10.1.1

### What is the problem this feature will solve?

Add support for thanos ruler stateless mode https://thanos.io/tip/components/rule.md/#stateless-ruler-via-remote-write

### What is the feature you are proposing to solve the problem?

Enable to switch between a statefulset and deployment based on using stateless mode with the receiver.

### What alterna

[2022-03-13 23:51] lknite commented on #9389
If I install using the install script provided by argocd I can view the CRD of the ApplicationSet:
[code]

If I then delete that and install using the latest bitnami argo-cd helm chart and run the same test:
[code]

[2022-03-14 01:29] #9078 closed

[2022-03-14 01:29] #9043 closed

[2022-03-14 01:29] #9026 closed

[2022-03-14 01:29] #8921 closed

[2022-03-14 07:13] carrodher commented on #9395
Thanks for this suggestion. Would you like to contribute by creating a PR adding this feature? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-14 07:20] #9182 closed

[2022-03-14 07:23] alert101-gof opened #9398 "Disabling AOF still results in warnings when using azurefiles on AKS"
### Name and Version

bitnami/redis-cluster 7.2.3

### What steps will reproduce the bug?

1. Run redis-cluster on Azure Kubernetes Service
2. Configuration
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

No errors in the logs.

### What do you see instead?

Even when AOF has been disabled the aof files produce errors because azurefile

[2022-03-14 07:25] alert101-gof opened #9399 "[bitnami/redis-cluster] Support for subPathExpr on volumes"
### Name and Version

bitnami/redis-cluster

### What is the problem this feature will solve?

This will reduce the amount of disk mounts required when persistence isn't used. For example with Azure Kubernetes Service the Kubernetes nodes have a limited amount of disks that can be mounted. Adding support for subPathExpr would allow the redis cluster to use a single volume for all redis nodes.

###

[2022-03-14 07:29] carrodher commented on #9399
Thanks for suggesting this feature. Would you like to contribute by creating a PR to support it? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-14 08:13] SoJoh commented on #9298
Ok, I tried this,

it comes down to the problem of the directory ```/bitnami/mysql/data``` to be missing.
Trying to create a new folder in  ```/bitnami/mysql``` gives Permission denied. I cannot change it as the container does not have sudo command installed.

I tried to deploy with option ```volumePermissions.enabled=true``` but it runs the container with root UID which is forbidden in our contex

[2022-03-14 08:38] #6217 closed

[2022-03-14 08:49] jmc171144 opened #9400 "Add annotations for redis' secret only"
### Name and Version

bitnami/redis

### What is the problem this feature will solve?

The idea is to allow to add annotations only on the redis secret. Actually the only way to add annotations to the secret is to use the commonAnnotations value, but this add the annotations to all kubernetes elements so it can be problematic.

### What is the feature you are proposing to solve the problem?

Add a

[2022-03-14 09:17] jaypif33 opened #9401 "[bitnami/postgresql-ha] Unable to enable TLS on both side pgpool and postgresql (backend authentication failed, backend response with kind 'E' when expecting 'R')"
### Name and Version

bitnami/postgresql-ha 8.3.1, 8.5.4

### What steps will reproduce the bug?

**Environment**
Kubernetes 1.21.9

**Configuration**
Enabled TLS following https://docs.vmware.com/en/VMware-Application-Catalog/services/apps/GUID-apps-postgresql-ha-administration-enable-tls.html

**Run**
`helm install project`
On startup 4 applications are connecting to pgpool using client certific

[2022-03-14 12:50] RamyaRohidas commented on #9211
[zookeeper-3-6-3.csv](https://github.com/bitnami/charts/files/8244897/zookeeper-3-6-3.csv)
Attaching the CVEs logged from twistlock

[2022-03-14 12:55] RamyaRohidas opened #9403 "Followup on ZK 3.6.3 with CVEs https://github.com/bitnami/charts/issues/9211"
### Name and Version

3.6.3

### What steps will reproduce the bug?

zookeeper 3.6.3 when we run twistlock scan
[zookeeper-3-6-3.csv](https://github.com/bitnami/charts/files/8244944/zookeeper-3-6-3.csv)

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Many high and critical CVEs

### Additional info

[2022-03-14 12:59] baflo opened #9404 "Problem with `append-only file: Permission denied` in long-time operation"
### Name and Version

bitnami/redis:15.4.1

### What steps will reproduce the bug?

We cannot reproduce the bug, it just appears in the long-run. Sometimes after a day, sometimes after a month. I manifests as follows:

* Kubernetes v1.20.2
* we deploy a StatefulSet using the Bitnami `redis` chart
  * currently version 15.4.1, but we started with v13
  * Sentinel Mode
  * with `volumePermissions: t

[2022-03-14 13:27] fle108 commented on #9324
thanks, i'll wait for community feedback if possible, if not i'll ask for a pull request .

[2022-03-14 14:36] carrodher commented on #9403
I'm closing this issue in favor of the already opened one (https://github.com/bitnami/charts/issues/9211).

[2022-03-14 14:36] #9403 closed

[2022-03-14 17:35] marcosbc commented on #9385
Hi @jayaswalayush, note that we are not making any modifications to Airflow. If those configuration options are valid, they will be taken into account for the application.

The only thing that occurs to us that could be causing the issue is that could be causing this issue, is that the statsd_exporter needs to be run in the same pod (and I assume that in this context, that means in the same pod):

[2022-03-14 20:19] pepgid opened #9406 "On Kafka Helm Chart installed on Docker Kubernetes On Mac Can't connect to external port"
### Name and Version

bitnami/kafka 14.0.2

### What steps will reproduce the bug?

1. On Mac, docker-desktop Kubernetes.
2. use zookeeper in indipindant chart
`helm --kube-context docker-desktop upgrade zookeeper -n kafka bitnami/zookeeper -f values.yaml --version 7.3.0`
3. `helm --kube-context docker-desktop install kafka -n kafka bitnami/kafka -f values.yaml --version 14.0.2`
5. custom values a

[2022-03-14 20:42] rrileyca commented on #9378
I should clarify that this becomes especially problematic when cert-manager is using ACME. Although cert-manager has the [ability to creates JKS keystores](https://cert-manager.io/next-docs/reference/api-docs/#cert-manager.io/v1.CertificateKeystores), it can only do so with a non-ACME issuer. When using an ACME issuer, the cert-chain is accessible but not the Root CA. It assumes that each system w

[2022-03-14 23:30] reisor commented on #8705
Its seems i was doing something wrong on the tbps creation but the problem remains,

This is easily repeatable even in a local k8s (k3d) on laptop:
helm3 install my-release bitnami/postgresql-ha
Login in each of the pods (bash):
mkdir -p /bitnami/postgresql/tpch/ts_user

in the postgres client:
create database xpto;

CREATE ROLE pmdba WITH CREATEDB CREATEROLE SUPERUSER REPLICATION BYPASSRLS LOGIN

[2022-03-15 00:24] LiberoScarcelli commented on #9381
This is not closed at all. This issue is still there

Hi,

this is not closed at all... this issue is still there

[2022-03-15 01:38] PeterKneale commented on #9371
Thanks for the quick reply - I will have a try, I will also experiment with the fluentd chart but modifying the `image.tag` to older releases to see if they contained older dependencies that might work.

It would be nice to have a combination of these two charts that worked together because the change to 8 involves a significant licence change doesn't it?

Do you know if you will be offering a bit

[2022-03-15 04:37] pluess opened #9408 "Missing properties for skipper kubernetes deployer"
### Name and Version

bitnami/spring-cloud-data-flow 6.0.0

### What is the problem this feature will solve?

The kubernetes deployer for skipper is missing some properties:

1. `entryPointStyle`: When skipper deployes a streaming pod, the entryPointStyle defines how the arguments are passed to the pod and how it is started. See https://docs.spring.io/spring-cloud-dataflow/docs/current/reference/h

[2022-03-15 05:09] smolinari commented on #9381
Agreed. Somehow this got missed.

Scott

[2022-03-15 06:11] aldemira opened #9410 "Postgresql statefulset.yaml is missing storageClassName directive"
### Name and Version

bitnami/postgresql 11.1.6

### What steps will reproduce the bug?

helm install postgresql bitnami/postgresql

### Are you using any custom parameters or values?

--set persistence.storageClass=mystg-class

### What is the expected behavior?

Persistent volume claim should be bound and persistent volume is created automatically.

### What do you see instead?

A pending PVC sa

[2022-03-15 06:21] #9394 closed

[2022-03-15 08:02] migruiz4 commented on #9381
Hi,

Due to an issue with our release process, version `7.1.2` did not include the fix for this issue. Instead, it will be included in version `7.1.3`.

[2022-03-15 08:18] carrodher commented on #9406
It seems it is not an issue related to the Bitnami Kafka or Zookeeper Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project be

[2022-03-15 08:19] migruiz4 commented on #9361
Hi @protoman92,

Version `8.8.23` also includes support for `global.storageClass` and `primary/secondary.storageClass`. As far as I know, the latest change that affected `*.storageClass` settings was the major `8.0.0`.

[2022-03-15 08:30] rafariossaa commented on #3533
hi @gowthamprabhu ,
  Could you take a look to [this](https://github.com/bitnami/charts/issues/6190) ?
  In any case my advise is to take a look to kubernetes documentation first to get familiar with this topic.

[2022-03-15 08:36] rafariossaa commented on #9400
Hi,
  Thanks from bringing this.
  Let's wait until the PR is discussed and merged.

[2022-03-15 08:36] carrodher commented on #9391
Can you try adding the debug parameters so there is more information in the container logs?
[code]

[2022-03-15 08:38] alemorcuq commented on #9227
Yes, we could do both. We can fine tune the default values for the `startup probe` (as suggested by @ndd7xv) and also support a customizable timeout for the command. Would you be interested in contributing with a PR?

[2022-03-15 08:40] jiaxinyang1 commented on #9238
1. Fisrt i used  install mongo
[code]
2. change the aribter sts yaml . I change the MONGODB_INITIAL_PRIMARY_HOST  use "mongo1" to simulate primary changed from pod-0 to pod1 and never become back in some case.(I'm not sure exactly what caused him not to change back,it was a coincidence)
[code]
3.Restart the arbiter pods  and logs :
[code]

[2022-03-15 08:46] alemorcuq commented on #9398
Hi, @alert101-gof.

Can you double check the container is being deployed with no persisted data? (check the initial logs of the container).

Also, reading through [this documentation](https://redis.io/topics/persistence), it looks like `save ""` is used when enabling AOF. Is that right? Note that I'm not a Redis expert.

[2022-03-15 08:47] rafariossaa commented on #9408
Hi,
 Thanks for noticing this.
  Let's wait until the PR is discussed and merged.

[2022-03-15 08:54] alemorcuq commented on #9388
We'll look into it, thanks. Could you please provide only the values you are specifically setting instead of the whole list? It will be helpful for us to try to reproduce.

[2022-03-15 09:37] fmulero commented on #8877
Hi @vincent-herlemont I can not reproduce your issue with latest chart version(11.1.0), Could you give it a try and share your results?

[2022-03-15 09:53] migruiz4 commented on #9337
Hi @stumueller,

That is correct. If I'm not mistaken, the issue is the following:
- Contour periodically uses the Kubernetes API to obtain the `leader-elect` ConfigMap. The default leader election can be found here: https://projectcontour.io/docs/v1.20.0/configuration/#leader-election-configuration
- RBAC is configured correctly, since the pod has access to the ConfigMap, but for any reason, the

[2022-03-15 10:42] migruiz4 commented on #9389
Hi @lknite,

Thank you for reporting this issue! I have submitted this PR #9413 updating existing CRDs and adding the ApplicationSet CRD.

[2022-03-15 10:48] fmulero commented on #9410
Hi @aldemira

You can set the storageClass using the following parameters:
* `global.storageClass`
* `primary.persistence.storageClass`
* `readReplicas.persistence.storageClass`

Please review the [documentation](https://github.com/bitnami/charts/tree/master/bitnami/postgresql#parameters) to know more about them

[2022-03-15 10:56] #9220 closed

[2022-03-15 11:07] rafariossaa commented on #9378
Hi,
  This seems related to [this cert-manager issue](https://github.com/cert-manager/cert-manager/issues/1571).
  I think other option is to check `tls.crt` if it includes the CA (or intermediate certs) and extract it from there. Maybe [this comment](https://github.com/cert-manager/cert-manager/issues/1571#issuecomment-486661887) can help.

[2022-03-15 11:35] fmulero commented on #9390
Hi @gowthamprabhu

I am not able to reproduce your issue. This is a `values.yaml` file with a similar configuration that you are trying:

[code]

Please be aware of:
* Path to `extraVolumeMounts` and `extraVolumes` parameters. They are inside of `web`, `worker` or `scheduler` configuration
* `extraDeploy` parameter could help you to create additional resources like the requirements configmap.

I h

[2022-03-15 11:39] rafariossaa commented on #9228
Could you also check if the other kafka nodes are able to connect to `node-0` ?

[2022-03-15 11:45] rafariossaa commented on #9374
Hi,
  Thanks for bringing this out.
  How would you recommend to check that in the liveness ?.

[2022-03-15 11:46] #9408 closed

[2022-03-15 11:47] rafariossaa commented on #8721
Hi,
  Thanks for providing a workaround for that case.

[2022-03-15 12:15] rafariossaa commented on #9392
Hi,
  The commands you indicated you have used deploy only the operator. In the `quickstart` link you can see that the operator is deployed with the first `kubectl apply` command, and later a `hello-world` CRD is deployed.
  The operator is the one who is creating all the elements when the CRD appears.

[2022-03-15 12:21] #9410 closed

[2022-03-15 13:18] prithakundu opened #9415 "[posgresql-ha]"pod has unbound immediate PersistentVolumeClaims" error after deployment"
### Name and Version

bitnami/postgresql-ha

### What steps will reproduce the bug?

Command used to install postgresql-ha:
`helm install myrelease bitnami/postgresql-ha`

docker image: `docker.io/bitnami/postgresql-repmgr:11.15.0-debian-10-r26`

output of `kubectl get pods` :
[code]
**Log of `myrelease-postgresql-ha-postgresql-1` and `myrelease-postgresql-ha-postgresql-2` pod:**
[code]

**All pvc

[2022-03-15 13:29] jayaswalayush commented on #9385
@marcosbc : You mean to say that even after adding the env variables we cannot get statsd metrics in the bitnami helm chart ? Do you suggest any other ways to visualize the metrics in the Airflow Helm chart ?

 - name: AIRFLOW__METRICS__STATSD_ON
    value: "True"
  - name: AIRFLOW__METRICS__STATSD_ALLOW_LIST
    value: scheduler,executor,dagrun

[2022-03-15 13:52] rrileyca commented on #9378
Hi @rafariossaa,

You're right it is related to those issues. I have tried manually copying the certificates in the chain into the `ca.crt` field though I have not been successful.

What I think is specific to this issue is the ability to use this chart without the need for a `ca.crt`. For example, having a flag that specifies the `tls.crt` field in the Secret is a PEM chain, and then having the `

[2022-03-15 14:29] justinrush opened #9417 "[bitnami/etcd] rolling restart with no changes"
### Name and Version

bitnami/etcd 6.13.4

### What steps will reproduce the bug?

1. Deploy etcd with a minimal config
2. Run helm upgrade with the same values overrides
3. notice that a rolling restart occurs

This snippit reproduces the issue:

[code]

### Are you using any custom parameters or values?

Provided above

### What is the expected behavior?

With no changes, no rolling restart shou

[2022-03-15 14:30] linuxmail commented on #9388
Hi @alemorcuq

thanks for the reply .. I hope, that I do not forget something

[code]

cu denny

[2022-03-15 15:35] Shujja1746 commented on #8876
Hi

I am using using the latest values file
https://github.com/bitnami/charts/blob/master/bitnami/redis-cluster/values.yaml

When we do external its not working on azure aks.

![image](https://user-images.githubusercontent.com/100185414/158414056-c2b15984-0d13-48bc-be82-edc0df813860.png)

cluster is showing down
Warning: Using a password with '-a' option on the command line interface may not be sa

[2022-03-15 16:10] webdz9r opened #9420 "Wordpress Helm Chart using Nginx docker image - Pass configMaps for vhosts for multisite deployments"
### Name and Version

Bitnami/wordpress:latest

### What is the problem this feature will solve?

Right now I'm using extraHosts and extraTls for vhosts for my multi-site installs. Ideally I'd like to add custom vhosts Nginx configuration values for my deployments. Any advise on this if it's already supported? It would be a great option if not

### What is the feature you are proposing to solve th

[2022-03-15 16:36] danvy opened #9421 "[keycloak] External Database Password missing secret name"
### Name and Version

bitnami/keycloak 7.1.2

### What steps will reproduce the bug?

You just have to generate the chart template (`helm template keycloak bitnami/keycloak`) with an external database so `postgresql.enabled=false` and `externalDatabase.password=xxxxxxxxxxxx` (+host, etc.)

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

The chart shoul

[2022-03-15 21:22] pepgid commented on #9406
I updated both zookeeper and Kafka to latest versions
kafka chart 15.4.0
zookeeper chart 8.1.1

kcat -b localhost:30000 -L
command works!!! meaning that a connection is established yet publishing and consuming hang

[2022-03-15 23:22] carrodher commented on #9415
It seems it is not an issue related to the Bitnami postgresql-ha container image or Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by

[2022-03-15 23:31] carrodher commented on #9421
I'm not able to reproduce the issue:
[code]
This is expected since this parameter is rendered following [this logic](https://github.com/bitnami/charts/blob/0b98d4ce79002f3e17a9b524b4e9fbddf6cc378d/bitnami/keycloak/templates/statefulset.yaml#L222):
[code]

[2022-03-15 23:45] FORCE-Tanzu-Team opened #9423 "Notary Server and Notary Signer fail to migrate from previous version"
### Name and Version

bitnami/harbor 11.2.4

### What steps will reproduce the bug?

1. deploy 11.2.4 bitnami/harbor helm chart over an existing harbor installation

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

migrate scripts kick off successfully and notary server and notary signer come up successfully

### What do you see instead?

The m

[2022-03-16 00:20] chelope commented on #9339
Hi @juan131

Just to confirm that the issue is solved adding the annotation "cluster-autoscaler.kubernetes.io/safe-to-evict."

[2022-03-16 01:30] #9170 closed

[2022-03-16 01:30] #9168 closed

[2022-03-16 01:30] #9152 closed

[2022-03-16 01:30] #9145 closed

[2022-03-16 01:30] #9144 closed

[2022-03-16 01:30] #9010 closed

[2022-03-16 04:26] kvokka opened #9425 "Elasticsearch chart does not allow to set persistentVolumeReclaimPolicy"
### Name and Version

bitnami/elasticsearch:17.9.11

### What is the problem this feature will solve?

Add an extra field to the chart with the settings, cos by default k8s set `persistentVolumeReclaimPolicy` to `Delete` which might be not appropriate and atm is unconfigurable.

### What is the feature you are proposing to solve the problem?

PR will follow soon

### What alternatives have you con

[2022-03-16 05:02] kvokka commented on #9425
It requires k8s 1.23, so it's too soon to claim this feature.

[2022-03-16 05:02] #9425 closed

[2022-03-16 06:39] jmjiji opened #9427 "To set verbosity for logs in redis helm charts"
### Name and Version

bitnami/redis-14.8.8

### What is the problem this feature will solve?

I am facing some issues in my redis deployment, and what I can see is that there isn't any logs for the particular issue, due to which I can't come to an conclusion if this problem is with redis deployment or something else because of which I want to set a proper verbosity for redis deployment. If this fe

[2022-03-16 06:54] Shujja1746 commented on #9153
@migruiz4

Any update on this?

https://github.com/bitnami/charts/issues/9153#issuecomment-1058348083

[2022-03-16 07:01] alert101-gof commented on #9398
Hi, @alemorcuq.
save "" is used to disable RDB snapshotting as per the configuration [here](https://raw.githubusercontent.com/redis/redis/6.2/redis.conf).

The issue seems to be with the replicas still using AOF somehow even if it's disabled in the config. I'll update the OP now.

[2022-03-16 07:45] #9389 closed

[2022-03-16 08:47] javsalgar commented on #9215
Hi,

AFAIK, there's no conversion to JKS, you see the logic here https://github.com/bitnami/bitnami-docker-kafka/blob/master/3/debian-10/rootfs/opt/bitnami/scripts/libkafka.sh:

[code]

[2022-03-16 09:38] javsalgar commented on #9298
It seems to me that you volume provider is not compatible with fsGroups. Because of this, we have the volumePermissions container to workaround this use case. However, if your k8s cluster does not allow this kind of scenarios, then you would need to either change the PVC provider or allow the volumePermissions container.

[2022-03-16 09:41] javsalgar commented on #8876
Hi,

I'm not sure I fully understand. You mention that there are issues with the PVCs, but the issue lies when using externalAccess, could you specify which exact values you set for enabling external access? Did you set the list of LoadBalancer IPs? Did you use autoDiscovery?

[2022-03-16 10:07] miguelaeh commented on #9367
Hi @tbnguyen1407 ,
Thank you for reporting.
We are currently working on investigating how to configure the charts with default `readOnlyRootFilesystem`, we will update this thread once we implement the changes.

[2022-03-16 10:13] miguelaeh commented on #9427
Hi @jmjiji ,
you can specify Redis configuration in [this](https://github.com/bitnami/charts/blob/b269c20fd861435a07dbe78eeda3375fc72cc21f/bitnami/redis/values.yaml#L132) parameter

[2022-03-16 10:17] miguelaeh commented on #9238
That parameter is only used when installing the Helm Chart to initiate the MongoDB cluster. Changing it after the chart is running should not produce any change on the release. If you need to simulate a primary change you will need to kill the primary pod and wait until a new one is elected.

[2022-03-16 10:24] DaedalusDev opened #9430 "[bitnami/kube-prometheus] All tls-secret generated by ClusterIssuer are overwriten by the chart"
### Name and Version

bitnami/kube-prometheus 6.6.12

### What steps will reproduce the bug?

1. Deploy a kube-prometheus with the following values
[code]
2. A secret named `<valid-hostname>-tls` will be generate the cluster issuer
3. Deploy the chart again
4. A secret name `<valid-hostname>-tls` (sefl signed) will be generate the chart

### Are you using any custom parameters or values?

[code]

[2022-03-16 10:50] pepgid commented on #9406
` ~ kubectl -n kafka exec -it  kafka-0  -- cat /opt/bitnami/kafka/config/server.properties | grep advertised.listeners
Defaulted container "kafka" out of: kafka, jmx-exporter, auto-discovery (init)
advertised.listeners=INTERNAL://kafka-0.kafka-headless.kafka.svc.cluster.local:9093,CLIENT://kafka-0.kafka-headless.kafka.svc.cluster.local:9092,EXTERNAL://192.168.65.4:30000`

I deployed a kafkacat pod

[2022-03-16 11:06] #9227 closed

[2022-03-16 11:13] DaedalusDev commented on #9430
I'm not sure it's possible to produce backwards solution by solving this issue.

According to https://semver.org/, have i to bump chart's version from 6.x.x to 7.x.x ?

[2022-03-16 11:37] carrodher commented on #9420
Please note this is something not supported out of the box, the bitnami/wordpress Helm chart uses [this container image](https://github.com/bitnami/bitnami-docker-wordpress) which is based on Apache.

[2022-03-16 13:09] rrileyca commented on #9215
Thanks @javsalgar. I ended up forming the repo and I got this working. I opened PR #9422

[2022-03-16 13:46] DanPhonovation opened #9443 "Grafana Helm Chart - alertmanager datasources not picking up "prometheus" implementation"
### Name and Version

bitnami/grafana 7.6.17

### What steps will reproduce the bug?

I am trying to deploy the alpha alert manager UI as per: https://grafana.com/docs/grafana/latest/datasources/alertmanager/

I have a secret enabling the alpha plugins and my datasource appears in the UI.

However, it is prometheus alert manager, so I specify the prometheus implementation but the UI still shows "C

[2022-03-16 14:08] DanPhonovation commented on #9443
[code]

Changing to this (add apiversion) seems to have resolved it.

[2022-03-16 14:12] #9443 closed

[2022-03-16 14:55] migruiz4 commented on #9423
Hi @FORCE-Tanzu-Team,

Could you please provide more information about your case?

From what version are you upgrading?

When you mention the following:

Do you mean the `migrations` folder is missing in your `harbor-notary-server` and `harbor-notary-signer`?

Using the default image for harbor-notary-server pod (`docker.io/bitnami/harbor-notary-server:2.4.1-debian-10-r59`) I can see the migration

[2022-03-16 15:09] brandshaide opened #9444 "Thanos-sidecar missing in release"
### Name and Version

bitnami/thanos

### What steps will reproduce the bug?

1. Runtime AKS k8s  with `kube-prometheus` and `prometheus-operator`
2. ``helm repo add bitnami https://charts.bitnami.com/bitnami`` ``helm install my-release bitnami/thanos``

### Are you using any custom parameters or values?

Using a `values.yaml` with `objectStorage` configured accordingly for Azure storage account:

[2022-03-16 15:24] marcosbc commented on #9417
Hi @justinrush, thanks for reporting this issue. Does this affect in any way the functionality of the cluster, after being deployed? In addition, could you share more info relative to the reason of the restart that you are seeing? (e.g. some logs about the readines/liveness probes, or a failed initialization).

[2022-03-16 15:42] justinrush commented on #9417
We wrap helm upgrades along with other kubernetes based changes using a process similar to common GitOps in a mono repo. Any changes to config in that repo will trigger a `helm upgrade` on the instance. The way other charts behave is no changes are observed if there are no changes to the values overrides.

The rolling restart seems to complete fine with no impact to clients consuming the service,

[2022-03-16 15:42] marcosbc commented on #9371
My understanding is that it happened already with Elasticsearch 7.11, see [FAQ on 2021 License Change](https://www.elastic.co/pricing/faq/licensing). So if you are already running that version, you shouldn't find any issues.

Thanks for the suggestion! We don't have short-term plans for supporting it, but I will propose it so it gets considered. Unfortunately we will be unable to provide any sort

[2022-03-16 15:45] EBCEEB opened #9445 "Can't use numeric password as initdb.password"
### Name and Version

bitnami/postgresql 11.1.7

### What steps will reproduce the bug?

Try to deploy chart with initdb.password=12345678

### What do you see instead?

[code]

### Additional information

The password value is not quoted in manifest:

[code]

[2022-03-16 15:56] chudyandrej commented on #7195
I have the same problem.

[2022-03-16 16:16] javsalgar commented on #8877
Hi @dtrinf , I think this issue can be closed now this fix was merged https://github.com/bitnami/charts/pull/9387

[2022-03-16 16:31] fmulero commented on #8705
Hi @reisor Could you open a new issue with that information? Also if you could enable the debug mode (parameter `postgresqlImage.debug`) and share the logs would be great

[2022-03-16 16:39] marcosbc commented on #6813
From the concern in #9275, I'm going to push for the re-priorization of the internal task, as we are not able to support InfluxDB 1.x anymore. Unfortunately I'm unable to provide any ETA for when it could be done.

In the meantime, PRs are welcome! We would be glad to help with the review and release of those changes to push this feature forwards with 2.x.

[2022-03-16 16:44] #9225 closed

[2022-03-16 17:09] pepgid commented on #9406
We solved the issue exclusively by configuring helm values:

`externalAccess:
  enabled: true
  autoDiscovery:
    enabled: false
    image:
      registry: docker.io
      repository: bitnami/kubectl
      tag: 1.23.4-debian-10-r17
      pullPolicy: IfNotPresent
      pullSecrets: []
    resources:
      limits: {}
      requests: {}
  service:
    type: NodePort
    port: 9094
    loadBalancerIP

[2022-03-16 17:09] #9406 closed

[2022-03-16 18:44] lknite commented on #9389
Is there a known eta when this new change will be available via bitnami/argo-cd chart release?

[2022-03-16 22:00] carrodher commented on #9445
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-16 22:02] lknite opened #9448 "argo-cd improved comment in values.yaml on helm chart for configuring oidc"
### Name and Version

bitnami/argocd : latest

### What is the problem this feature will solve?

Attempting to configure oidc.  I know the values I need as I have configured things before using a configmap.

Configuring via the helm chart is proving a little difficult.

I have read about the technique I seem to need here:
https://docs.bitnami.com/tutorials/bitnami-best-practices-hardening-charts/

[2022-03-16 22:22] lknite opened #9449 "argo-cd, common.tplvalues.render source server.config may conflict if used, should it be something other than server.config to avoid conflicting with other values such as: server.config.url?"
### Name and Version

bitnami/argocd : latest

### What steps will reproduce the bug?

Add some additional values in values.yaml which you want to have end up underneath data in the argocd-cm:

values.yaml:
[code]

Now install helm argo-cd helm chart using the provided values.yaml.

### Are you using any custom parameters or values?

yes, see previous note, the idea is to add additional values to

[2022-03-16 22:24] lknite commented on #9448
Possibly related:  https://github.com/bitnami/charts/issues/9449

[2022-03-16 22:51] jgallucci32 opened #9450 "[bitnami/minio] Add tiering functionality to chart with removal of MinIO Gateway"
### Name and Version

bitnami/minio

### What is the problem this feature will solve?

Thee MinIO Gateway for GCS, Azure, HDFS is scheduled for removal on June 1st, 2022 per https://github.com/minio/minio/issues/14331. The recommended migration path is to use MinIO in distributed mode with tiering to backend storage. Configuring the tiering in the chart would provide a similar configuration for us

[2022-03-17 01:30] #9174 closed

[2022-03-17 01:30] #9146 closed

[2022-03-17 01:30] #9121 closed

[2022-03-17 01:30] #9085 closed

[2022-03-17 04:17] Stark-X commented on #9221
Closes by #9368

[2022-03-17 04:17] #9221 closed

[2022-03-17 05:23] jmjiji commented on #9427
Hi @miguelaeh
Thanks for your response.
Can you tell how can I specify log level verbosity to let say "debug" level in the above parameter you mentioned. Your help would be much appreciated.

Thanks

[2022-03-17 06:05] jiaxinyang1 commented on #9238
yes.I understand what you mean, I just want to know that the arbiter is connected to pod-0 every time it is initialized, so when pod-0 is not the master node, can the aribter start successfully?
I noticed that the priority of pod-0 is set to 5, while the priority of other nodes is 1. In this case, even if pod-0 is killed, the other nodes will only become the master node for a short time, and will

[2022-03-17 07:39] migruiz4 commented on #9423
Hmm that is weird, I checked it and both containers have the migration script and files under the `migrations` folder, and also checked the pods are not overwriting the folder using defaults:
[code]

It shouldn't be a permission issue, since non-root users have permission to read the `migrations` folder with `root` group.
Maybe a volume is being mounted over `migrations` using `extraVolumesMounts`

[2022-03-17 08:01] masterkain commented on #9013
I'm on microk8s and seeing this

[code]

[code]

[2022-03-17 08:10] carrodher commented on #9445
Thanks for this PR, this issue will be automatically closed once merged the PR. Regarding the PR itself, I just added a comment

[2022-03-17 08:43] rafariossaa commented on #7900
Hi,
  You need to create a secret and specify the name there.

[2022-03-17 09:13] rafariossaa commented on #9013
Hi,
  Could you try to install it by using the following ?
[code]
  I could see it was deployed without issues:
[code]

[code]

[2022-03-17 09:34] rafariossaa commented on #9378
Thanks for your PR. Let's wait until it get merged to close this.

[2022-03-17 09:43] miguelaeh commented on #9427
You need to add there the configuration for the login level. Check [this](https://www.papertrail.com/help/redis/).

[2022-03-17 09:44] carrodher commented on #9449
When running `helm template petete bitnami/argo-cd -f values.yaml -s templates/argocd-cm.yaml` using the following values
[code]
the config map is rendered without any issue
[code]

[2022-03-17 09:48] javsalgar commented on #9339
Thanks for confirming!

[2022-03-17 09:53] javsalgar commented on #9430
Maybe you can use a coalesce to allow multiple values for this. However, let's continue the conversation in the PR. Thanks for the contribution!

[2022-03-17 10:18] javsalgar commented on #9444
Hi,

Did you try using the `prometheus.thanos.create` value inside the kube-prometheus chart? It is not clear to me that you need to use the thanos chart apart from the kube-prometheus chart.

[2022-03-17 10:21] javsalgar commented on #9450
Hi!

The chart already supports distributed mode. Could you let us know what it is required to configure this tiering?

[2022-03-17 10:28] BapRx opened #9456 "[bitnami/grafana-operator] `ValidationError(Grafana.spec.dashboardNamespaceSelector`"
### Name and Version

bitnami/grafana-operator 2.2.9/2.2.10

### What steps will reproduce the bug?

With this simple values.yaml file:
[code]
And these env variables:
[code]

I get the following error:
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Debug trace:
[code]

### Additional infor

[2022-03-17 10:28] #5784 closed

[2022-03-17 10:51] dscham commented on #7323
Hello, I have an error while upgrading from 6.0.1 to 7.1.5 which seems to me like it correlates to this issue.
![image](https://user-images.githubusercontent.com/17717545/158793478-8d2f54be-91ac-4574-87a3-62120a23f4a8.png)
The secret it complains about does exist. And the postgres password is configured in the values.yaml as well.
Otherwise, the app runs and redeploys fine.

[2022-03-17 10:54] shubhra27 opened #9457 "Postgres HA setup with helm chart"
### Name and Version

bitnami/postgresql-ha/8.6.0

### What steps will reproduce the bug?

Hi,

I am trying to install bitnami's postgres HA helm chart to my kubernetes environment.
The database version that is available as default is 11.5. I need to use 12.x + version. When I am trying to increment the database's docker image version, the containers are crashing. I am getting below error:
[code]

[2022-03-17 11:00] brandshaide commented on #9444
Hi and thanks a lot for your help!

I did not, so that means I can configure a complete thanos environment with all components (storegateway, compactor, query-frontend ...) using [this](https://github.com/prometheus-community/helm-charts/blob/e5bf6848eaa53da2fd04ac76aef3a7174c43b37a/charts/kube-prometheus-stack/values.yaml#L1759) ?

[2022-03-17 11:10] BSchwetzel opened #9458 "[bitnami/rabbitmq] Authentication no longer working in 8.30.1"
### Name and Version

bitnami/rabbitmq 8.30.1

### What steps will reproduce the bug?

Using the values.yaml provided below works fine when using chart version 8.30.0, but won't work in 8.30.1.

The error message on login (of a technical user):

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Employees can login via Management UI, "technical"

[2022-03-17 12:16] FORCE-Tanzu-Team commented on #9423
Output before I implemented my workaround; edited out internal ips, nodes, registries, etc.
[code]

[2022-03-17 12:55] Y0ngg4n opened #9461 "[bitnami/mediawiki]"
### Name and Version

docker.io/bitnami/mediawiki:1.37.1-debian-10-r58

### What steps will reproduce the bug?

1. Run a already persisted installation.
2. Go to the Website

### Are you using any custom parameters or values?

Noting special

### What is the expected behavior?

Just show the Website.

### What do you see instead?

[code]

### Additional information

_No response_

[2022-03-17 13:08] DirkDittmarMonday opened #9462 "[bitnami/solr] tls.existingSecret"
### Name and Version

bitnami/solr

### What steps will reproduce the bug?

1. I tried to configure TLS (`values.yaml`):
[code]
2. `helm template . ` gives me the following error:
[code]

The Parameter `tls.existingSecret` is not documented (I think that's the only problem):
https://github.com/bitnami/charts/blob/4e3e2e24823338390171d533c49807788da881a2/bitnami/solr/templates/_helpers.tpl#L173

##

[2022-03-17 16:12] lknite commented on #9449
@carrodher Running that command worked for me also.

I'm not sure what troubleshooting to perform.  If I remove the 'config: |' then my error goes away, demonstrating it is the source of the error.

# Some additional detail

Chart.yaml
[code]

So, it is a subchart meaning my values.yaml does have a top level argo-cd:
[code]

[2022-03-17 16:59] spuny opened #9467 "Disable pool_passwd"
### Name and Version

bintami/postgresql-ha

### What is the problem this feature will solve?

Dynamical user/password provision via vault.

### What is the feature you are proposing to solve the problem?

Let admin enable/disable using pool_passwd file. In config it cleary says that it can be disabled:
`pool_passwd` = 'pool_passwd'
                                   # File name of pool_passwd for

[2022-03-17 22:08] hectoralicea opened #9468 "[keycloak] Failed to bind properties under 'import' to de.adorsys.keycloak.config.properties.ImportConfigProperties failed"
### Name and Version

bitnami/keycloak

### What steps will reproduce the bug?

running standard helm chart with just keycloakConfigCli enabled on AWS EKS.

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

should launch

### What do you see instead?

[code]

### Additional information

using pretty straightforward.

[2022-03-17 23:11] sjegancbe commented on #7900
@rafariossaa Thank you

[2022-03-17 23:26] sjegancbe opened #9470 "Bitnami Elasticsearch Metrics Exporter Issue when connecting to the Elasticsearch Cluster when TLS is enabled"
### Name and Version

bitnami/elasticsearch

### What steps will reproduce the bug?

Deployed the Bitnami Helm Chart of Elasticsearch cluster with security enabled for the cluster. The cluster has the metrics module enabled to capture the ES metrics, it was working fine when we had the ES Cluster built without security enabled. Looks like the Bitnami Elasticsearch Exporter container that gets depl

[2022-03-18 00:59] stdll00 opened #9471 "[Minio] Pods Crash when mode=distributed and set defaultBuckets (Behavior in case of wrong settings, not critical)"
### Name and Version

bitnami/minio:11.1.4

### What steps will reproduce the bug?

k8s pods crash with `mode=distributed` and set `defaultBuckets`

From documentation, I feel `defaultBuckets` is no effect but the actual behavior is that all pods are crashing.

It would be more helpful to either ignore defaultBuckets, display an error message, or add a note in the README saying `Do not set this va

[2022-03-18 01:30] #9212 closed

[2022-03-18 01:30] #9197 closed

[2022-03-18 01:30] #9193 closed

[2022-03-18 01:30] #8914 closed

[2022-03-18 01:30] #6370 closed

[2022-03-18 08:23] rafariossaa commented on #7900
You are welcome

[2022-03-18 08:41] rafariossaa commented on #9461
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/mediawiki#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.
If you would like to contribute to this Helm

[2022-03-18 08:53] d3ployment opened #9472 "[bitnami/postgresql] How to pass extendedConfiguration to replication ?"
### Name and Version

bitnami/postgresql 11.0.2

### What steps will reproduce the bug?

1. Add Chart as a dependency :
[code]
2. Use `architecture: replication` and `primary.extendedConfiguration`
[code]

### What is the expected behavior?

_No response_

### What do you see instead?

Note that those settings are only applied on primary and that no replication.extendedConfiguration is available

[2022-03-18 09:24] miguelaeh commented on #9238
Hi @jiaxinyang1 ,

Look like the arbiter is always configured `MONGODB_INITIAL_PRIMARY_HOST` so it will only connect to pod-0.

And yes, this is expected. You can see the whole code [here](https://github.com/bitnami/bitnami-docker-mongodb/blob/master/5.0/debian-10/rootfs/opt/bitnami/scripts/libmongodb.sh).

[2022-03-18 09:30] carrodher commented on #9458
Are you facing the issue when upgrading from `8.3.0` to `8.3.1` or is it a totally new deployment of `8.3.1`?

[2022-03-18 09:36] BSchwetzel commented on #9458
This was an upgrade, I went from 8.29.0 straight to 8.30.1. I then rolled back to 8.29.0, everything worked again. After that I went to 8.30.0, and it still worked just fine. When I then went from 8.30.0 to 8.30.1 it broke again. I rolled back to 8.30.0 after that and it started working again. I'm still running 8.30.0 now.

So basically, it was an upgrade, but no matter whether I came from 8.29.0

[2022-03-18 09:42] #9445 closed

[2022-03-18 09:53] carrodher commented on #9449
It seems using those parameters the ConfigMap is properly rendered as well:
[code]
[code]

In your case, being used as a subchart shouldn't make any difference

[2022-03-18 09:55] carrodher commented on #9458
Did you upgrade the Helm chart using the credentials from the first installation? See https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#upgrading

[2022-03-18 10:00] Tajjar opened #9474 "add dnsConfig to rabbitmq statefulset template"
### Name and Version

bitnami/rabbitmq 8.24.3

### What is the problem this feature will solve?

Would enable modification of **search** and **ndots** options in /etc/resolv.conf for each rabbitmq pod.

### What is the feature you are proposing to solve the problem?

Adding **dnsConfig** to statefulset.yaml template

### What alternatives have you considered?

Having my own custom rabbitmq chart t

[2022-03-18 10:19] BSchwetzel commented on #9458
Yes, and the probes work fine. The upgrade completes successfully, I "just" can't login anymore. It's also not the first upgrade we've done (although I don't know with which version we started, but this cluster is operating for some months now).

Out of curiosity I started to switch the image tags around (given that 8.30.0 uses -r38, while 8.30.1 uses -r55). Sure enough, using 8.30.0 with the -r55

[2022-03-18 10:26] marcosbc commented on #9457
Hi @shubhra27, unfortunately we are not testing the combination of PostgreSQL HA chart with version 12.x or newer. However, we already have an internal task in our backlog for incrementing the version to 14.x, but unfortunately I cannot give an ETA for when it will be done.

In the meantime, you can set the following environment variables in the `pgpool.extraEnvVars` option (or `pgpool.extraEnvVar

[2022-03-18 10:42] marcosbc commented on #9448
Hi @lknite, thanks for the feedback. I would like to understand further what is your concern with the current documentation.

Note that what [`common.tplvalues.render`](https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_tplvalues.tpl) will do is basically execute the [Helm `tpl` function](https://helm.sh/docs/howto/charts_tips_and_tricks/#using-the-tpl-function) on a string, o

[2022-03-18 11:21] javsalgar commented on #7195
Hi,

Could you check this?

[2022-03-18 11:21] marcosbc commented on #9385
Hi @jayaswalayush, what I meant to say is that we are not making any modifications to Airflow, meaning that if those options are accepted by the application, they should be taken into account.

You can try and verify that the options are enabled for the specific pod by `kubectl exec -ti` into it, and then executing the `env` command. If you see those options, they are being enabled for the pod. An

[2022-03-18 11:36] marcosbc commented on #9417
This could be the reason you are seeing those upgrades: [statefulset.yaml#L34](https://github.com/bitnami/charts/blob/master/bitnami/etcd/templates/statefulset.yaml#L34)

You could try and disable the `checksum/configuration` and `checksum/token-secret` annotations, if enabled, and see if this behavior stops occurring.

[2022-03-18 11:41] marcosbc commented on #9468
@hectoralicea Have you enabled any sample configuration, or an existing configmap with configuration? If not it won't import any config, and it won't work.

Feel free to send any PR to improve the documentation if you think it is confusing.

[2022-03-18 11:54] javsalgar commented on #9456
Hi,

Could you change it to map instead of array?

[code]

[2022-03-18 11:56] javsalgar commented on #9462
Hi,

It seems to me that there may be a conflict with the expected value and the value in values.yaml. Thank you so much for detecting the issue! Would you like to submit a PR with the fix?

[2022-03-18 12:24] #9467 closed

[2022-03-18 12:40] fmulero commented on #9471
Hi @stdll00

Thanks for the suggestion. To be perfectly blunt, this kind of improvements has a very low priority in our backlog so it won't be done in short term. Any PR is welcome, please feel free to share the best solution for you and we will be happy to review it

[2022-03-18 12:57] BapRx commented on #9456
Hi @javsalgar,
Thanks for your suggestion, you're right the grafana operator is expecting a dict: https://github.com/grafana-operator/grafana-operator/blob/eec0e7c38193526faa8011816394d748a6727cca/controllers/common/controllerState.go

I got these warnings but it went through:
[code]
[code]
I don't know where those warnings come from and if we can get rid of these.

The values.yaml example should

[2022-03-18 13:07] hectoralicea commented on #9468
We have not enabled any sample configuration.  How do we do that?  I'm not sure I've seen that in the documentation, but we will continue researching.

[2022-03-18 13:54] tal-efraim opened #9476 "With new repmgr image 14.2, auth is by default scramsha 256 and not md5 while pgpool conf save as md5, failed when deployed"
### Name and Version

bitnami/postgresql-ha 8.6.3

### What steps will reproduce the bug?

1. use same values yaml just add passwords and usernames
2. use repmgr image 14.2 (current latest) instead of 11.15

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

My expectation is if repmgr default encryption for users in database is scram sha-256 the

[2022-03-18 14:28] DirkDittmarMonday commented on #9462
@javsalgar I could make a PR but I'm not sure what the correct solution is. Maybe you could help me with this:

I've noticed that the similar parameter 'auth.existingSecret' exists. I guess that `tls.certificatesSecretName` should be `tls.existingSecret`. So I see two solutions:
1. rename `tls.certificatesSecretName` to `tls.existingSecret` ... this would be a breaking change of cause
2. rename `t

[2022-03-18 15:14] camilo-alice opened #9477 "Wordpress Helm with externalDatabase and extraEnvVarsSecret"
### Name and Version

bitnami/wordpress

### What steps will reproduce the bug?

1. Environment: EKS ArgoCD bitnami/wordpress 13.0.13

### What do you see instead?

Hi! I have tried to configure the argocd application to deploy WordPress in EKS production environment. Inside the argocd application manifest, I configured the bitnami helm chart values and worked fine without external secrets. I have

[2022-03-18 16:08] #9378 closed

[2022-03-18 16:56] jaudiger opened #9478 "Redis sentinel state seems to be corrupted on pod restart"
### Name and Version

bitnami/redis 16.5.4

### What steps will reproduce the bug?

I'm facing the problem described in these issues (https://github.com/redisson/redisson/issues/4003 and https://github.com/redisson/redisson/issues/4189) and this one (https://github.com/bitnami/charts/issues/8614):

On first Redis sentinel startup, the Spring Boot service connects without any issue on Redis. But fo

[2022-03-18 17:02] camilo-alice commented on #9477
[code]

[2022-03-18 17:13] jaudiger opened #9479 "Provision Kafka's topics in parallel"
### Name and Version

bitnami/kafka

### What is the problem this feature will solve?

Not sure, if we can call it a feature request, but it's in the middle of a feature request and a bug. We could call it an improvement.

Today the chart can let provision a Kafka cluster with default topics. The problem is when there are dozen of topics to provision (or even hundred of topics), the provisioning j

[2022-03-18 20:15] fcbavya opened #9481 "Redis-cluster deployment in multiple availability zone"
### Name and Version

bitnami/redis-cluster version: 7.0.2

### What steps will reproduce the bug?

Hi,

We deployed bitnami redis cluster with three master and three slaves. Used node affinity rule to place the master node in different availability zone. However the replica of a master node gets scheduled in the same AZ of master. Is there a way I can force replica nodes to different availability

[2022-03-18 23:56] Kevinwoolworth commented on #7264
I faced the same issue, error log:
[code]
after upgrade to nginx ingress controller version v1.1.1
[code]
It works.

[2022-03-19 01:29] #9194 closed

[2022-03-19 02:13] tbnguyen1407 commented on #8918
/keepalive

[2022-03-19 02:36] kodeine commented on #3799
@anirvanr were you able to solve this issue?

[2022-03-19 02:47] kodeine commented on #3579
@FraPazGal so is this issue resolved?

[2022-03-19 06:07] manhhailua opened #9486 "KEYCLOAK_FRONTEND_URL in `extraEnvVars` takes no effect"
### Name and Version

bitnami/keycloak 7.1.3

### What steps will reproduce the bug?

1. Install chart bitnami/keycloak with below values
2. Ensure `KEYCLOAK_FRONTEND_URL` is specified in `extraEnvVars`

### Are you using any custom parameters or values?

My custom values file:

[code]

### What is the expected behavior?

The frontend url of master realm should be configured with value: `https://d

[2022-03-19 06:12] manhhailua commented on #9486
The workaround solution for now is to configure frontendUrl via `extraStartupArgs`:

[code]

[2022-03-19 08:09] carrodher commented on #9477
It seems it is not an issue related to the Bitnami Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the applicatio

[2022-03-19 16:06] DecisionSystems commented on #9404
I'm having the same issue on IBM Cloud Classic Mode K8s cluster.

[2022-03-19 17:23] voarsh2 commented on #9374
I haven't confirmed, but since liveness is querying the database and thinking it's live, does the disconnected state reflect in the wresp status?

[2022-03-20 01:30] #9203 closed

[2022-03-20 02:10] lknite commented on #9449
I was using 1.18, just retested with 1.22.4.  Still seeing the same result.

Your command works:
[code]

The exact same 'config: |' configuration indented under the appropriate subchart name does not appear to work.

[2022-03-20 02:26] lknite commented on #9448
Like this?
[code]

Didn't work, tested with:
helm template argocd bitnami/argo-cd -f ./values.yaml -s templates/argocd-cm.yaml

Also tried with:
[code]

No errors, just lacks the oidc data:
[code]

[2022-03-20 04:00] rrileyca commented on #9215
@DamienFontaine my PR is merged and may help you close this issue. Try using the `pemChainIncluded` feature. This is working for me with cert-manager and Let's Encrypt ACME.

[2022-03-20 04:09] lknite commented on #9448
I eventually figured it out:
[code]

Maybe adjust the upper comment to something like:
[code]

Or move the available sections underneath config:
[code]

[2022-03-20 05:23] lknite commented on #9449
hmm, this also works:
[code]

troubleshooting ...

[2022-03-20 05:39] lknite commented on #9449
I guess this is a helm related issue.  I'll close and reopen over there.

[2022-03-20 06:06] lknite commented on #9449
For whatever reason, the pipe was required after oidc.config like so:
[code]

[2022-03-20 06:06] #9449 closed

[2022-03-20 08:44] sunsong opened #9489 "not able to specify an tls using cert-manager"
### Name and Version

bitnami/magento 19.2.12

### What steps will reproduce the bug?

I am using cert-manger to make multiple kubernetes apps share a single wildcard ssl certificate. But when I deploy mangeto, I   run into issue like this.

[code]

That means the scripts are trying to create this secret which I've already had. I read the code and found that

In this file:
https://github.com/bitna

[2022-03-20 10:00] krishnadce commented on #9296
Sure @migruiz4. I will increase the resources for sentinel and will check again.

[2022-03-20 10:09] krishnadce commented on #9296
In the meantime, I am facing different issue with redis container in 2 redis nodes in another cluster from 2 days. The other two nodes are running with no issues though.

[code]

redis container logs (ocinventoryredis-node-1):

[code]

In the describe output I checked the volume and the PVC and PV but couldn'd find any error.

[code]

Could you check how the PVC suddenly become readonly for the no

[2022-03-20 19:15] lknite opened #9490 "argo-cd: applicationset not supported"
### Name and Version

argo-cd:latest

### What steps will reproduce the bug?

Install binami argo-cd chart and attempt to use an ApplicationSet:
https://argocd-applicationset.readthedocs.io/en/stable/

### Are you using any custom parameters or values?

no

### What is the expected behavior?

Expect to be able to use an ApplicationSet.  Please verify that you can use an ApplicationSet before marki

[2022-03-20 22:10] alexisaraya commented on #9390
Hi @gowthamprabhu ,
I have a some problem  although the unit was mounted using configmap, it does not execute the installation of the packages.

Name and Version
marketplace.azurecr.io/bitnami/airflow:2.2.2-debian-10-r16

see describe pod.

regars

[2022-03-21 01:31] #9223 closed

[2022-03-21 01:31] #1210 closed

[2022-03-21 03:16] lknite opened #9491 "kube-prometheus, add support for new ingress backend.service.name instead of serviceName"
### Name and Version

kube-prometheus:latest

### What is the problem this feature will solve?

maintain current kubernetes standard

### What is the feature you are proposing to solve the problem?

check api version and use appropriate style, you can use technique implemented here:
https://github.com/twuni/docker-registry.helm/blob/main/templates/ingress.yaml

### What alternatives have you consi

[2022-03-21 07:40] shubhra27 commented on #9457
Hi @marcosbc thanks for quick response. I wanted to use postgres HA with 12.x + version. That is prerequisite for me. Now I have to think of other options then.

[2022-03-21 08:13] alex1989hu opened #9493 "[bitnami/redis] Templating issue in topologySpreadConstraints"
### Name and Version

bitnami/redis 16.5.4

### What steps will reproduce the bug?

1. Download bitnami/redis 16.5.4
2. Use custom Helm Chart values file (see below)
3. Run `helm template redis ./redis/ -f redis-values.yaml > removeme.yaml`
4. See Helm warning:

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

1. Warning shall not occur
2. Do not mix

[2022-03-21 08:29] #9444 closed

[2022-03-21 09:22] rafariossaa commented on #3799
@kodeine , this issue is quite old. If you are having some issues I would suggest you to create a new one.

[2022-03-21 09:29] Mihirkumarsingh opened #9498 "[bitnami/redis] Latest master changes is not being reflected in the zip file"
### Name and Version

bitnami/redis 16.5.4

### What steps will reproduce the bug?

- Get the latest helm chart for redis
- It is not having the latest master changes which were pushed in this PR https://github.com/bitnami/charts/pull/9452

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

It is still

[2022-03-21 09:31] javsalgar commented on #7323
In the latest major of PostgreSQL we removed the Password validation and relied on the `fetch` function. When all the charts are upgraded to the latest major of the PostgreSQL subchart, this issue should not appear.

[2022-03-21 09:32] Mihirkumarsingh commented on #9498
@rafariossaa
@javsalgar
Can you please check this, it is in reference to the PR you merged

https://github.com/bitnami/charts/pull/9452

[2022-03-21 09:36] rafariossaa commented on #9493
Hi,
  Thanks for spotting this out. Would you like to send a PR to fix it in redis ?

[2022-03-21 09:46] rafariossaa commented on #9470
Hi,
  Thanks for spotting this out. I am creating a internal task to add this, but I can not provide an ETA.
  Meanwhile feel free to send a PR implementing this. We will be glad to review and merge it.

[2022-03-21 09:56] javsalgar commented on #9450
Hi,

Thank you so much! I created a task for working on it. I cannot guarantee an ETA, but if you want to speed up the process, feel free to submit a PR to bitnami/charts or bitnami/bitnami-docker-minio repos and we will review it :)

[2022-03-21 10:02] javsalgar commented on #9474
Hi,

Did you try using the `extraVolumes` and `extraVolumeMounts` values? This way you should be able to mount a custom configmap that overrides the resolv.conf file. If you want to add the contents of the resolv.conf file you can use the `extraDeploy` value

[2022-03-21 10:04] alex1989hu commented on #9493
I have just sent 🎉

[2022-03-21 10:06] javsalgar commented on #9456
Hi,

Agree, would you like to submit a PR fixing this?

[2022-03-21 10:10] javsalgar commented on #9462
Hi,

I vote more on option 1. I see that you created the PR. Thank you so much! We will review it

[2022-03-21 10:10] rafariossaa commented on #9374
I think there could be false positive errors if it is in a transient state.
Would you like to send a PR to test this concept ?

[2022-03-21 10:12] rafariossaa commented on #9493
Hi,
  Thanks for your PR.
  Let's wait until it is reviewed and merged.

[2022-03-21 10:17] javsalgar commented on #9481
Hi,

The issue is that, as we're using the same statefulset, I don't think it is possible to define affinity rules with that level of granularity. It seems to me that you may need to perform some manual intervention in the configuration of the nodes after being deployed.

[2022-03-21 10:23] javsalgar commented on #3579
Hi,

We recently fixed issues with NodePort external access and with cluster failover, could you check if you find the exact issue described here? If not, I believe we could close this issue.

[2022-03-21 10:39] javsalgar commented on #9476
Hi,

Just a note to let you know that I reproduced the issue. I will open a task for investigating this. Thank you so much for reporting.

[2022-03-21 10:54] javsalgar commented on #9215
Thank you so much @rrileyca !

[2022-03-21 11:04] javsalgar commented on #9490
Hi,

Thank you for letting us know. I will forward this to the engineering team. As soon as there are issues, we will let you know.

[2022-03-21 11:14] javsalgar commented on #9498
Hi,

This may be due to an issue in our automations publishing the chart. As soon as there are news, we will let you know

[2022-03-21 12:51] fcbavya commented on #9481
Hi,

Thank you for the response. Is there any chance for implementing this feature in bitnami helm future releases?

Thank you,
Bavya

[2022-03-21 13:04] voarsh2 commented on #9374
If you query wsrep_cluster_status (specifically looking for "disconnected"), that should help liveness check in this scenario... I don't know the chart well enough to know if this is going to cause problems elsewhere, but if disconnected continue to happen on several occasions, I think it's safe to assume that the DB is not live and should be restarted?

I cannot help program this with a PR, unfor

[2022-03-21 14:57] alemorcuq commented on #9489
Thanks, will check this.

[2022-03-21 15:14] migruiz4 commented on #9153
Hi @Shujja1746,

I'm sorry but since this issue has diverged a lot from the original topic, it would be helpful if we could recap to make sure we are on the same page.

On one side, you reported the chart `bitnami/redis-cluster` not deploying with values: `cluster.nodes=6 / cluster.replicas=1`.
But working fine with `cluster.nodes=9 / cluster.replicas=2` and default values (`cluster.nodes=6 / clus

[2022-03-21 15:17] yohboy opened #9503 "[bitnami/kafka] Add SSL for Zookeeper"
### Name and Version

[bitnami/kafka] 15.5.0

### What is the problem this feature will solve?

Currently, Kafka supports SSL for brokers and clients. The Kafka chart also allows enabling and managing Zookeeper from Kafka chart. However, there are no parameters to configure SSL for Zookeeper quorum and clients (both Kafka side and Zookeeper side).

### What is the feature you are proposing to solv

[2022-03-21 15:44] migruiz4 commented on #9423
I appreciate all the help troubleshooting this issue although the workaround is already working.

Unfortunately, I can't find any potential causes for this issue in the pod description.

All I can think is this might be an issue with the image pulled from the internal registry not having `/opt/bitnami/harbor-notary-server/migrations/` or having different permissions.

We could discard these possib

[2022-03-21 16:21] fmulero commented on #9478
Hi @jaudiger

Thanks for sharing your issue, but we are not able to reproduce it. Could you reproduce the issue with other client? for example any of our charts with a redis dependency: airflow, harbor, argo-cd, etc.

Other thing to review about the IPs we can see in the logs from your app. Are they the new ones after the rollout restart or the old one?

[2022-03-21 16:49] migruiz4 commented on #9486
Hi @manhhailua,

The image `bitnami/keycloak` does not have support for the env variable `KEYCLOAK_FRONTEND_URL`.

Nevertheless, I have implemented the necessary changes adding support for it and a new image including them should be released soon.

[2022-03-21 17:10] krishnadce commented on #9296
Thank you @migruiz4, I will try again with volumentPermissions and confirm you.

I have a question, how it was working earlier?

[2022-03-21 17:18] marcosbc commented on #9404
@DecisionSystems Could you share more details about your environment? That said, please have a look into our previous message. If you are using an NFS provider, the only way might be for you to change to a different one.

[2022-03-21 17:20] marcosbc commented on #9448
I think you might be right, as the pipe character should be required in these cases. Feel free to contribute the fix with a PR! We'd be glad to review it.

[2022-03-21 17:21] marcosbc commented on #9468
To enable a custom configuration, you can check the `configuration` option of the Helm chart: https://github.com/bitnami/charts/blob/master/bitnami/keycloak/values.yaml#L240

[2022-03-21 23:48] xiaoyaozi5566 commented on #8062
Hi @rafariossaa, I just ran the 4th scenario with the latest chart, got the same result. My analysis stays the same: pod restarts immediately and claim itself as primary while the new primary search was going on. This again was seen in the startup log of old primary node
[code]
Do I need to overwrite some values when deploying the chart? If not, I don't think the changes fix the problem.

[2022-03-22 01:31] #9233 closed

[2022-03-22 01:31] #9222 closed

[2022-03-22 01:31] #9213 closed

[2022-03-22 03:18] TK-Khaw commented on #8062
hi @xiaoyaozi5566 , I'm probably asking a stupid question but have you set the value `postgresql.repmgrFenceOldPrimary` to `true` ?

Also, there might be a short instance of time where two primaries exist. However once the false primary realized that no children node are currently following it, it will kill itself and thus come back to follow the new primary. You can manipulate the waiting time th

[2022-03-22 03:25] kodeine commented on #4182
@FraPazGal you are right, i am getting this error
[code]

i am using following config for external access. also this all works fine without tls.
[code]

Can we please re-open this issue?

[2022-03-22 05:58] 0xc0deface opened #9505 "setting configurationConfigMap for spark results in image not loading."
### Name and Version

bitnami/spark 5.9.4

### What steps will reproduce the bug?

set `spark.master.configurationConfigMap` to a config map and try installing. master will fail to start.

### Are you using any custom parameters or values?

[code]

[code]

### What is the expected behavior?

The expected behavior is that the container still starts up correctly when config is set.

### What do you

[2022-03-22 06:18] 0xc0deface commented on #9505
Docs explain that spark-env.sh needs to be created by the replacement ConfigMap

https://github.com/bitnami/charts/tree/master/bitnami/spark#configuration-and-installation-details

[2022-03-22 06:27] jmjiji commented on #9427
Hi @miguelaeh

Thanks for the response.
But the link you have shared I have already seen, the issue what I am facing is and what I need help on is, if you could help me is, how can we add the configuration in the value.yaml file for the bitnami/redis chart.

[2022-03-22 06:34] jaudiger commented on #9479
Sure, I could work on it. I'll try to do a PR this week and link this issue in it. I'll ping you once done, thanks.

[2022-03-22 08:48] DirkDittmarMonday opened #9506 "[bitnami/solr] tls with existing secret (tls.certificatesSecretName)"
### Name and Version

bitnami/solr 3.0.10

### What steps will reproduce the bug?

We want to start the solr with a self-signed certificate (by cert-manager.io). I've boiled our setup down to this deployment script:
[code]
The cert-manager is installed with:
[code]
and then bootstraped with `issuer.yaml`:
[code]
Then we create a certificate and a password-secret:
[code]
... and then we install the

[2022-03-22 08:52] ThWoywod commented on #9404
@marcosbc since @baflo can't answer right now, maybe I would add some information here. Apparently this error also occurs in environments where no nfs is used, unlike what @baflo describes. This error has now also occurred on a cluster where we use ceph as storage provider.

The file permissions are actually correct, unlike the error says. After restarting the pod the error is gone and cannot be r

[2022-03-22 08:54] rafariossaa commented on #8062
If it is restarting very fast, maybe you can play with the parameter until you find the right ones for you cluster. Not sure if something could be done in the logic of the chart / docker images.

[2022-03-22 09:04] #9493 closed

[2022-03-22 09:05] rafariossaa commented on #9493
Hi,
  Thanks for your PR !!, it was merged.

[2022-03-22 09:18] #9456 closed

[2022-03-22 09:26] techdecline opened #9507 "Azure Private DNS Zone"
### Name and Version

bitnami/external-dns:6.2.1

### What is the problem this feature will solve?

For Alibaba and AWS it is supported to manage private DNS Zones, but this does not work for Azure as you will receive messages that your zone is not suitable: "Ignoring changes to 'nginx.xxx.xxx.com' because a suitable Azure DNS zone was not found".

### What is the feature you are proposing to solv

[2022-03-22 09:42] miguelaeh commented on #9427
You need to add this to values.yaml:

[code]

[2022-03-22 09:44] miguelaeh commented on #9472
Hi, sorry for the late response, the issue did not appear on our dashboard.
I just checked it and looks like that parameter is missing for the replicas, would you like to create a PR adding it?

[2022-03-22 09:46] #9462 closed

[2022-03-22 10:20] carrodher commented on #9503
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.
[Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-22 10:28] carrodher commented on #9506
Thanks for creating this issue, I was trying to reproduce the issue on my side but without luck.
As it seems a very specific issue related to the application itself, customization of the content within the application I am not sure if we can help with this topic. On the other hand, if you think there is something wrong with your specific use case and the Helm chart can be improved to support that

[2022-03-22 10:36] carrodher commented on #9458
There are different topics. When upgrading, the upgrade can work fine in terms of the deployed k8s objects but the problem is that passwords are stored in the PVs/PVCs which are not being updated. If you upgrade **without** setting the `--set auth.password=[PASSWORD] --set auth.erlangCookie=[RABBITMQ_ERLANG_COOKIE]` parameters, the RabbitMQ logic is going to generate a new random password that is

[2022-03-22 12:04] Loqieblack opened #9511 "After helm update(and next install) work 1\3 pod"
### Name and Version

bitnami/etcd

### What steps will reproduce the bug?

1.) helm install test-etcd bitnami/etcd -n test -f Z:\repo\values.yml
2.) helm upgrade test-etcd bitnami/etcd -n test -f Z:\repo\values.yml --set statefulset.replicaCount="3"
3) kubectl get po -n test-etcd
```test-etcd-0            0/1     CrashLoopBackOff   11         37m```
```test-etcd-1             1/1     Running

[2022-03-22 12:17] techdecline commented on #9507
I just realized you can set the provider to "azure-private-dns" and leave everything else as described to implement external-dns for private Azure DNS zones as documented at [the repos documentation](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure-private-dns.md).

[2022-03-22 12:17] #9507 closed

[2022-03-22 12:37] BSchwetzel commented on #9458
Yes, they are exactly what is expected.

What I am saying in the previous comment boils down to: Regardless of the chart version (8.29.0, 8.30.0, 8.30.1), if I use image revision -r38, it works. I can freely switch between the chart versions, as long as I use -r38. As soon as I use any revision that is at least -r55 (-r55, -r58, -r60) in any of the aforementioned chart versions, it breaks by not l

[2022-03-22 12:37] #9458 closed

[2022-03-22 13:31] carlosjgp opened #9513 "[bitnami/rabbitmq-cluster-operator] Misssing CRD after helm chart upgrade"
### Name and Version

bitnami/rabbitmq-cluster-operator:2.4.0

### What steps will reproduce the bug?

1. Install bitnami/rabbitmq-cluster-operator:2.0.0
2. Upgrade to bitnami/rabbitmq-cluster-operator:2.4.0
3. See Topology operator failing due to missing CRD SuperStream

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

New CRDs and updated versions a

[2022-03-22 13:47] lerytke opened #9514 "Auth not working on Harbor helm deploy"
### Name and Version

CHART NAME: harbor CHART VERSION: 12.1.3 APP VERSION: 2.4.2

### What steps will reproduce the bug?

deploying the latest Harbor chart with these values set

chartmuseum:
  replicas: 1
core:
  replicas: 1
expose:
  ingress:
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubern

[2022-03-22 14:40] DecisionSystems commented on #9404
I have a theory about what's going on here.

https://www.digitalocean.com/community/tutorials/how-to-secure-your-redis-installation-on-ubuntu-14-04

Step 6 — Setting Data Directory Ownership and File Permissions

if you don't change the ownership when Redis is installed, then you're going to get the error related to append-only file.

I plan to give it a try today.

[2022-03-22 14:55] lindhe opened #9515 "[bitnami/harbor] rollingUpdate may not be specified when strategy `type` is 'Recreate'"
### Name and Version

bitnami/harbor 12.1.3

### What steps will reproduce the bug?

Installing the bitnami/harbor chart with `jobservice.updateStrategy.type` set to `Recreate` causes the following error in Kubernetes:

[code]

This is because `rollingUpdate` is set to `{}` [here](https://github.com/bitnami/charts/blob/5b159a70ec71d4a59280be1cdb8091660502e51e/bitnami/harbor/values.yaml#L1627) and

[2022-03-22 14:56] lindhe commented on #9515
It seems this bug was introduced with #9263 so perhaps you have this issue in other Charts too?

[2022-03-22 15:34] voarsh2 commented on #9374
I will need to work out some ways to.... reproduce this.... but from memory, usually when SST fails, or joining after a crash.
I'll update my comment if I have more info about it.

[2022-03-22 16:27] DawidWozniak-TomTom opened #9518 "Critical vulnerabilities in external-dns and postgresql images"
### Name and Version

external-dns-6.2.1 and postgresql-11.1.9

### What steps will reproduce the bug?

1. Installed external-dns and postgresql helm charts.
2. Runned trivy scan for critical vulnerabilities
3. Found identical critical vulnerabilities for images used in mentioned charts: bitnami/external-dns:0.10.2-debian-10-r89 and bitnami/postgresql:14.2.0-debian-10-r35
[CVE-2021-33574](https://

[2022-03-22 17:34] roman-chub opened #9519 "HPA for controllers is not working on EKS cluster"
### Name and Version

bitnami/contour-7.4.2

### What steps will reproduce the bug?

I'm using helm chart Contour v 7.4.2 for installing new ingress on my EKS cluster where controllers were installed as deployment. All is fine but my HPA is not working:

Errors from events:

[code]

### Are you using any custom parameters or values?

I'm using custom parameters and values from the chart

### What

[2022-03-22 17:51] jaudiger commented on #9479
Hi @javsalgar, I just opened this PR: https://github.com/bitnami/charts/pull/9520

[2022-03-22 18:21] xiaoyaozi5566 commented on #8062
@TK-Khaw My bad, didn't set `postgresql.repmgrFenceOldPrimary` to `true`. That actually solved the multiple primary issue! Thanks for the fix!

What's the reason to have `postgresql.repmgrFenceOldPrimary=false`? What's the use case?

[2022-03-22 19:41] lerytke commented on #9514
need to add other paths for core not just portal to my traefik v2 ingress controller, example at the bottom

apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: harbor
  namespace: harbor
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`registry.example.com`)
    kind: Rule
    services:
    - name: harbor-harbor-portal
      namespace: harbor
      port: 8

[2022-03-22 19:41] #9514 closed

[2022-03-22 19:54] snorlaX-sleeps commented on #8433
We are also using Terraform to deploy the external DNS Helm chart and have experienced it several times today.
It did not however occur with the metrics-server Helm Chart.

[2022-03-22 20:21] hjones2199 commented on #8869
Still not fixed

[2022-03-22 20:38] dazedavid commented on #9385
Hi @jayaswalayush I have had similar issue what I did was add the airflow.cfg file as following in values.yaml
config: |
    [core]
    # The folder where your airflow pipelines live, most likely a
    # subfolder in a code repository. This path must be absolute.
    dags_folder=/opt/bitnami/airflow/dags
    # Hostname by providing a path to a callable, which will resolve the hostname.
    # The f

[2022-03-22 21:03] xiaoyaozi5566 commented on #8062
@TK-Khaw I didn't set `postgresql.repmgrFenceOldPrimary` to `true`, so I tried again with this value set. Got slightly different output from the log, but the end result is the same: two primaries.

From the log of old primary node
[code]
Then the log kept printing
[code]
The false primary didn't kill itself

[2022-03-22 21:44] lknite opened #9521 "harbor, add oidc configuration to helm chart"
### Name and Version

bitnami/harbor:latest

### What is the problem this feature will solve?

for a gitops setup it is nice to have all configuration in a repo rather than have to configure something after it is deployed

### What is the feature you are proposing to solve the problem?

.

### What alternatives have you considered?

_No response_

[2022-03-22 21:49] skyrain opened #9522 "[bitnami/mongodb-sharded] extenralIP is not supported correctly"
### Name and Version

bitnami/mongodb-sharded

### What steps will reproduce the bug?

`bitnami/mongodb-sharded` is supposed to support externalIP, however `service.externalIPs` field is not referenced anywhere in helm chart, and as I set up following value file
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do

[2022-03-23 01:30] #9219 closed

[2022-03-23 01:40] TK-Khaw commented on #8062
Here on my setup I've set the `postgresql.repmgrChildNodesDisconnectTimeout` to 15 seconds, thus it took around 15 seconds for the false primary to kill itself.

The default value for `postgresql.repmgrChildNodesDisconnectTimeout` is 30 seconds. Did you keep the default value?

[code]

[2022-03-23 04:05] weichensun opened #9524 "[bitnami/harbor]: Admin Password Not Update After Reinstall"
### Name and Version

bitnami/harbor

### What steps will reproduce the bug?

1. Helm Install bitnami/harbor
2. Get password with command
    `kubectl get secret --namespace harbor-registry harbor-core-envvars -o jsonpath="{.data.HARBOR_ADMIN_PASSWORD}" | base64 --decode`
    (Remember old password)
4. Helm uninstall bitnami/harbor
5. Helm Install bitnami/harbor again
6. Get password with command

[2022-03-23 05:25] truhojun commented on #9248
Anyone can help?

[2022-03-23 06:58] carrodher commented on #9518
Hi, unfortunately, those security vulnerabilities are not fixed by the OS or the application itself, so although we built the images on a daily basis, this kind of CVE will be reported while there is not a new version patching the issue in the OS or the application.

You can find more info in [this blog post](https://docs.bitnami.com/kubernetes/open-cve-policy/).

The Bitnami Open Source/Community

[2022-03-23 08:08] pathob opened #9525 "[bitnami/sonarqube] volumePermissions should probably run after custom init containers"
### Name and Version

bitnami/sonarqube 1.0.3

### What is the problem this feature will solve?

Dear Bitnami team,

I'm currently evaluating your SonarQube chart and trying to integrate a custom init container that downloads SonarQube plugins from a Maven repository. It looks like this custom init container is leaving file permissions behind, that make it unable for SonarQube to start. As far as

[2022-03-23 08:11] rafariossaa commented on #9507
Hi,
  Thanks for coming back and sharing your findings.

[2022-03-23 08:13] rafariossaa commented on #9524
Hi,
  This is intended, if the data are persisted you need to use the password for the first installation, the password is not reset if the chart is redeployed and you reuse the existing PVCs.

[2022-03-23 08:53] javsalgar commented on #9470
Hi,
Just a note to let you know that we released a new revision of the chart with this fix https://github.com/bitnami/charts/pull/9517

[2022-03-23 08:56] AbbasHallal commented on #4909
Hello @rafariossaa, what is the status regarding this request?

[2022-03-23 08:59] rafariossaa commented on #9521
Hi,
  I am creating an internal task to add support for this, however I can not provide an ETA.
  Meanwhile feel free to send a PR adding this. We will be glad to review and merge it.

[2022-03-23 09:29] rafariossaa commented on #4909
Hi,
  This was implemented, but later it was removed because the upstream exporter is not maintained:
https://hub.docker.com/r/bitnami/redis-sentinel-exporter

[2022-03-23 09:31] javsalgar commented on #9479
Thank you so much for the PR! The team will take a look

[2022-03-23 09:32] jaudiger opened #9527 "[Elasticsearch] Bad Elasticsearch hosts when no coordinating or no data node"
### Name and Version

bitnami/elasticsearch 17.9.16

### What steps will reproduce the bug?

The hosts provided through environment variables to the elasticsearch pods do not reflect the real ones. If the data node or the coordinating node is not configured in the chart, the hosts variable is not correctly updated.

The issue seems to come from this code:

[code]

The DNS of the three nodes is alw

[2022-03-23 09:34] linuxmail commented on #9388
Hello,

I've found the "issue". Problem is / was .. that there was no Thanos sidecar, which uploads the Prometheus data to the S3 (minio). I compared my old Thanos K8s config with the Bitnami chart and missed the sidecar. I've found also related tickets like this [one](https://github.com/bitnami/charts/issues/3843) that pushes me in the right direction.

After adding

[code]
to the kube-prometheus

[2022-03-23 09:34] #9388 closed

[2022-03-23 09:35] javsalgar commented on #9481
Hi,

Right now there are no plans on implementing this feature, but in case the community comes up with an idea on how to implement this, PRs are welcome and we will review them :D

[2022-03-23 09:42] rafariossaa commented on #8062
Yes, I used the default values and I am testing in a local minikube and in a GCE cluster.

[2022-03-23 09:43] rafariossaa commented on #9374
Hi,
  Thanks !, don't hesitate to come back when you have more info.

[2022-03-23 10:14] miguelaeh commented on #9515
Thank you for the report, the above PR should fix the issue. Looks like in other charts it is correct

[2022-03-23 10:17] rafariossaa commented on #9505
Hi,
  I was able to reproduce this. Thanks for spotting this out.
  I am creating an internal task to address this issue, it seems it would required also changes in the container image.
  I can not provide an ETA for this, but meanwhile feel free to send a PR. We will be glad to review and merge it.

[2022-03-23 10:28] carrodher commented on #9513
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-23 10:29] carrodher commented on #9525
Thanks for reporting this issue, yes, it makes sense to run the `volumePermissions` init container after others.
Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-23 10:30] carrodher commented on #9527
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-23 10:40] jaudiger commented on #9527
Hi @carrodher,

Sure, I'll create a PR to fix this issue. I'll let you know once create.

[2022-03-23 11:35] jaudiger commented on #9527
@carrodher, I just opened this PR to fix this issue: https://github.com/bitnami/charts/pull/9530

[2022-03-23 12:08] fcbavya commented on #9481
Got it. Thank you.

Bavya

[2022-03-23 12:28] hectoralicea commented on #9468
@marcosbc

[code]

I'm sorry.  We have been trying to figure this out.  Can you point to a real-life example?  We have been struggling to figure out what the contents of this configuration file should look like.  We have a very generic out of the box config, with simple authentication to a local departmental LDAP.

[2022-03-23 12:31] alemorcuq commented on #9511
Can you share the logs of the failing containers?

[2022-03-23 12:32] alert101-gof opened #9531 "[bitnami/redis-cluster] metric container reveals redis password if debug is enabled"
### Name and Version

bitnami/redis-cluster 7.4.1

### What steps will reproduce the bug?

Add the following extraArgs to the metrics section and the metrics container will print out the redis password in the log.
[code]

### What is the expected behavior?

Redis password shouldn't be printed out.

### What do you see instead?

The redis password is printed in the logs.

[2022-03-23 12:40] benoitm76 commented on #8869
Check this:
[code]

Must be set to true to allow access to Kubernetes API from Keycloak when HA enabled.

[2022-03-23 12:58] JoepWeijers commented on #8433
Yes, we are still seeing this issue

[2022-03-23 13:15] Loqieblack commented on #9511
like a file? I don't understand, the logs are attached in the text above

[2022-03-23 13:31] steinarox commented on #9513
@carlosjgp how did you upgrade it? [note that helm ](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations) will not include changes in the crd folder on upgrades. The new crd's is included in the charts crd folder.
https://github.com/bitnami/charts/blob/b1d6ade168a219cd7571bcf0461f76557d8d4e85/bitnami/rabbitmq-cluster-operator/crds/crds-messaging-top

[2022-03-23 13:54] carrodher commented on #9527
Thanks! We will review it and provide feedback

[2022-03-23 14:14] #9521 closed

[2022-03-23 14:29] alemorcuq commented on #9511
Yes, but as far as I can see those are the logs of one of the pods. What about the other two pods?

[2022-03-23 15:09] DamienFontaine commented on #9215
@rrileyca I tried with version 15.5.1 and parameters:

      tls:
        type: pem
        pemChainIncluded: true
        existingSecrets:
          - secret-kafka-tls

But we have the following error:
`[2022-03-23 14:48:52,911] ERROR [KafkaServer id=0] Fatal error during KafkaServer startup. Prepare to shutdown (kafka.server.KafkaServer)
org.apache.kafka.common.KafkaException: org.apache.kafka.c

[2022-03-23 15:17] javsalgar commented on #9522
Hi,

Thank you so much for reporting! Would you like to submit a PR adding this section?

[code]

[2022-03-23 15:30] rrileyca commented on #9215
This is a generic error and could be a lot of things, so let's verify:

1. What cert-manager issuer are you using? An ACME? A custom CA? Is the Root Authority a public CA, or is it one of your own?
2. What does your secret look like? It should have 2 fields `tls.crt` and `tls.key`.
3. If you copy the value out of `tls.crt` and echo it into base64 you can decode it back to PEM. Some thing like `ech

[2022-03-23 16:28] clchera opened #9538 "Access refused for user username when connecting to the stomp plugin from another pod"
### Name and Version

bitnami/rabbitmq

### What steps will reproduce the bug?

Hi everyone!
I have installed rabbitmq in k8s from this helm recipe: https://artifacthub.io/packages/helm/bitnami/rabbitmq
with the following settings:
[code]
When trying to connect from another k8s pod I am getting the error below:
[code]

If I connect from my local machine using telepresence it does work as expected

[2022-03-23 16:37] #9505 closed

[2022-03-23 16:38] Loqieblack commented on #9511
[logs.txt](https://github.com/bitnami/charts/files/8334873/logs.txt)
[logs1.txt](https://github.com/bitnami/charts/files/8334874/logs1.txt)
[logs2.txt](https://github.com/bitnami/charts/files/8334875/logs2.txt)

[2022-03-23 17:00] #9538 closed

[2022-03-23 17:30] masterphenix commented on #9513
Hello, I have the same problem, and also using FluxCD HelmController.
Most other controllers that I manage with FluxCD manage CRDs by providing an option like "installCRDs: true" inside values.yaml, which triggers the installation of a dependent Chart.

[2022-03-23 17:45] d3ployment opened #9540 "[bitnami/postgresql] Wrong custom-init-scripts CM volume name"
### Name and Version

bitnami/postgresql 11.0.2

### What steps will reproduce the bug?

Install chart with the values below
- replicated architecture
- localPath persistence
- dictionary of initdb scripts

### Are you using any custom parameters or values?

architecture: replication

primary:
  persistence:
    enabled: true
    mountPath: /bitnami/postgresql

  configuration: |
    ...

  initdb

[2022-03-23 17:48] fmulero commented on #9519
Hi @roman-chub. Please check you are setting the  resource limits for envoy.  If you already did it, please share your `values.yaml` file to try to reproduce your issue

[2022-03-23 18:52] lknite opened #9543 "harbor, 1.18: request which chart version will work with older kubernetes 1.18 (documentation add)"
### Name and Version

bitnami/harbor:latest

### What is the problem this feature will solve?

Unfortunately, at the moment I am still working with 1.18.  Recently I unstalled harbor and went to reinstall only to discover too much has changed.  In my attempts to reinstall I keep getting "too many redirects".  In my efforts to resolve this I noticed a requirement of 1.19 has appeared.

Before I tro

[2022-03-23 19:08] roman-chub commented on #9519
hey @fmulero  you're right! I forgot to describe limits for `shutdownManager` :(
There are two containers, for envoy I set limits, but for manager - leave as default
Many thanks for the hint , works as it should :)

[2022-03-24 01:09] weichensun commented on #9524
Ok, got it. Thanks

[2022-03-24 01:09] #9524 closed

[2022-03-24 01:31] #9265 closed

[2022-03-24 01:31] #9244 closed

[2022-03-24 01:31] #8932 closed

[2022-03-24 01:31] #8917 closed

[2022-03-24 01:38] #9332 closed

[2022-03-24 04:30] codebio opened #9545 "WordPress Multisite Certificado por Bitnami y Automattic 5.9.2-1"
### Name and Version

WordPress Multisite Certificado por Bitnami y Automattic 5.9.2-1

### What steps will reproduce the bug?

Bitnami Diagnostic tool.

    ? Apache: Found possible issues
    ? Mariadb: Found possible issues
    ✓ Connectivity: No issues found
    ✓ Wordpress: No issues found
    ✓ Resources: No issues found
    ✓ Processes: No issues found
    ✓ Php: No issues found

[Apache]

[2022-03-24 05:45] Kamalsalimidi commented on #9498
@javsalgar any updates on this

[2022-03-24 06:18] carrodher commented on #9545
Hi, we provide support for containers and Helm charts in GitHub, but the support for different kinds of assets like MultiTiers, VIrtual Machines, native installers, etc is provided in our community forum (https://community.bitnami.com/). Can you please post your question in this forum? Thanks

[2022-03-24 06:18] #9545 closed

[2022-03-24 06:31] carrodher commented on #9543
Currently, the way to check what changed from one version to another is by looking at the [commit history](https://github.com/bitnami/charts/commits/master/bitnami/harbor). Notable changes are highlighted in the README, see https://github.com/bitnami/charts/blob/master/bitnami/harbor/README.md#upgrading

[2022-03-24 07:07] steinarox commented on #9513
@carlosjgp true, notes in the readme would be nice when extra steps is needed for install. ex [kube-prometheus-stack upgrade notes](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack#upgrading-chart)

[2022-03-24 07:13] cuttingedge1109 opened #9546 "[apache] Init container fails to clone the git repo again #7966"
### Name and Version

bitnami/apache

### What steps will reproduce the bug?

This is not a new issue. I just tried to reopen https://github.com/bitnami/charts/issues/7966.
I added the suggestion https://github.com/bitnami/charts/pull/7970#discussion_r833983812.
Please check.

**Describe bug**
I clone htdocs from Github and use `emptyDir` as the volume type.
It works at the first time but once the

[2022-03-24 07:34] carrodher commented on #9513
We just created the above PR synchronizing the CRDs; please, feel free to send a PR updating the Upgrade instructions in order to clarify the use of CRDs if you think it can be useful. The team will be happy to review it and provide feedback

[2022-03-24 07:39] #9238 closed

[2022-03-24 08:49] fmulero commented on #9519
Great! thank a lot for sharing the findings, it could help to other users

[2022-03-24 08:49] #9519 closed

[2022-03-24 09:08] javsalgar commented on #7427
Hi,

We were unable to reproduce the issue after several attempts. Could you add more details about how the issue occurs and a way to reproduce it?

[2022-03-24 09:38] chris12399 opened #9550 "bitnami/moodle/"
reference by https://github.com/bitnami/charts/blob/master/bitnami/moodle/values.yaml

[2022-03-24 09:57] javsalgar commented on #9550
Hi! Thank you for using Bitnami.

Please, note this Helm chart is a community-supported solution. This means that the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this Helm chart. Any new issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being c

[2022-03-24 10:40] javsalgar commented on #9505
Hi,

Just a note to let you know that we released a new revision of the chart that fixes the issue. Please let us know if you find any issue.

[2022-03-24 10:46] #9385 closed

[2022-03-24 10:51] carlosjgp commented on #9513
I created a PR for this :D

[2022-03-24 12:09] jesseadev opened #9554 "Redis Plugin Not Enabled"
### Name and Version

bitnami/moodle:latest

### What steps will reproduce the bug?

ENV: EKS, EFS, RDS.

Issue: Slow page load times and unable to enable Redis Plugin. See image below.

![Redis Highlighted in Grey](https://user-images.githubusercontent.com/101015204/159913000-5f3674c4-5cd0-4465-b845-46b830ce6ca4.png)

### Are you using any custom parameters or values?

_No response_

### What is

[2022-03-24 12:25] DanPhonovation opened #9555 "Grafana Helm Chart not pulling in extraenvvars?"
### Name and Version

bitnami/grafana 7.6.19

### What steps will reproduce the bug?

In my helm chart I have:

`extraEnvVarsSecret: "grafana-extraenvvars"`

As a result, I see the K8 deployment and pod manifest show:

[code]

The manifest looks like this:

[code]

However, Grafana doesn't seem to be picking this up as seen from the pods shell:

[code]

### What is the expected behavior?

ENV vari

[2022-03-24 13:39] DanPhonovation commented on #9555
I switched to using a configMap and that worked.

`apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-extraenvvars
  namespace: monitoring
data:
  GF_PLUGINS_ENABLE_ALPHA: 'true'
  GF_SERVER_ROOT_URL: 'https://monitoring.mydomain.com'`

[2022-03-24 13:39] #9555 closed

[2022-03-24 14:20] carrodher commented on #9513
Thanks! We will review it

[2022-03-24 14:47] #9550 closed

[2022-03-24 15:39] #9513 closed

[2022-03-24 15:44] ProNibs opened #9560 "[postgresql-ha] Using tls with pgpool results in having to roll the pgpool pods everytime the cert renews"
### Name and Version

bitnami/postgresql-ha:8.6.4

### What steps will reproduce the bug?

Running cert-manager to make pgpool tls certificates means that the tls certificates will get auto-renewed. When the auto-renew occurs, the app will pick up this new tls cert but pgpool will be stuck on the old one.

### Are you using any custom parameters or values?

pgpool:
  tls:
    enabled: true

### Wh

[2022-03-24 15:58] alemorcuq commented on #9531
Thanks for reporting this, we will investigate it.

[2022-03-24 18:30] burakovsky opened #9563 "[bitnami/wordpress] 'Persisting WordPress installation' is stuck when use EFS persistent volume"
### Name and Version

bitnami/wordpress 13.1.3

### What steps will reproduce the bug?

1. Create AWS EFS filesystem with the default configuration
2. I tested it only with an external database (AWS RDS)
3. install [aws-efs-csi-driver](https://github.com/kubernetes-sigs/aws-efs-csi-driver)
4. Create a storageClass for dynamic provisioning:
[code]
5. Install Wordpress using Helm with custom values

[2022-03-24 18:37] reavessm opened #9564 "[postgresql] Nextcloud fails when providing persistence to postgresql"
### Name and Version

bitnami/postgrestql 10.16.2

### What steps will reproduce the bug?

1. Install nextcloud via [nextcloud's helm chart](https://github.com/nextcloud/helm/blob/master/charts/nextcloud/Chart.yaml)
2. configure yaml:

[code]

3. `helm install -f values.yaml my-nextcloud nextcloud/nextcloud`
4. Watch Postgresql crash loop
5. Change postgresql.persistence.enabled = false
6. `helm u

[2022-03-25 01:30] #9270 closed

[2022-03-25 01:30] #9234 closed

[2022-03-25 01:30] #8908 closed

[2022-03-25 07:37] idonca opened #9566 "Arbiter is restarting after EKS upgrade"
### Name and Version

mongodb-10.30.0 (4.4.10)

### What steps will reproduce the bug?

We are running mongodb helm chart 10.30.0 with mongodb version 4.4.10 on EKS. After EKS upgrade from 1.19 -> 1.21, we have problems with the mongodb arbiter because it throws the following error: `Temporary failure in name resolution`

### Are you using any custom parameters or values?

[code]

### What is the

[2022-03-25 08:02] idonca opened #9567 "Rabbitmq cannot became ready after EKS upgrade from 1.19->1.21"
### Name and Version

bitnami/rabbitmq 8.11.0 - 3.8.12

### What steps will reproduce the bug?

We currently install rabbitmq via helm, and after we did eks upgrade from 1.19->1.21. The pods don't become ready, the readiness probe is failing.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

The pod should become ready.
We change the readiness probe t

[2022-03-25 09:54] FarhanSajid1 opened #9569 "Failed to read node.conf file"
### Name and Version

bitnami/redis-cluster v7.4.1

### What steps will reproduce the bug?

1. create a helm deployment with the following values
2. Deploy and eventually the error below is observed

### Are you using any custom parameters or values?
[code]

### What is the expected behavior?

Redis in clustered mode will start normally

### What do you see instead?

[code]

### Additional informa

[2022-03-25 10:37] ams0 opened #9572 "[bitnami/external-dns] Validation of azure-resource-group not necessary"
### Name and Version

bitnami/external-dns 6.2.2

### What steps will reproduce the bug?

In Azure, using Managed Identity (thus, picking up `/etc/kubernetes/azure.json` from the host, it is still possible to override the resource group where the DNS zones resides ([link](https://github.com/kubernetes-sigs/external-dns/blob/570b51659fdc218281e3504a558a437178465f29/pkg/apis/externaldns/types.go#L42

[2022-03-25 10:42] marcosbc commented on #9404
Thanks @ThWoywod. So this error appears, but the pod is not restarted as the health check considers it it working, and the service continues running (in spite of the error). Is that what you are seeing?

It certainly seems like some kind of bug in the Redis behavior, but I'm unsure at this point how it could be fixed in the chart.

[2022-03-25 11:09] marcosbc commented on #9468
Hi @hectoralicea, according to the documentation it should be the contents of the standalone-ha.xml file to be imported into Keycloak. Here you can find an example: https://github.com/DemocracyOS/keycloak/blob/master/customization/standalone-ha.xml

If you find any error, please share the specific errors you see as well as steps to reproduce it on our side.

[2022-03-25 11:13] javsalgar commented on #9554
Hi! Thank you for using Bitnami. Please, note this Helm chart is a community-supported solution. This means that the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this Helm chart. Any new issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being cl

[2022-03-25 11:16] idonca commented on #9566
was a problem from the coredns side

[2022-03-25 11:16] #9566 closed

[2022-03-25 11:20] #9527 closed

[2022-03-25 11:22] javsalgar commented on #9564
Hi,

Could you launch the chart with`image.debug=true`? This should provide more logs

[2022-03-25 11:33] pavelbrylov commented on #6492
https://github.com/bitnami/bitnami-docker-kafka/pull/235
Looks like docker support is there now? ;)

[2022-03-25 11:33] javsalgar commented on #9572
Hi,

Thank you reporting. The validations are in _helpers.tpl. Would you like to submit a PR changing the validation?

[2022-03-25 11:35] javsalgar commented on #9498
There was a release a day and a half ago of a new revision. Could you check it?

[2022-03-25 11:38] javsalgar commented on #9567
Hi,

Question, does the issue happen with a fresh chart? Not sure if it is due to missing values in helm upgrade like the rabbitmq cookie or the passwords.

[2022-03-25 11:46] #9479 closed

[2022-03-25 11:53] reavessm commented on #9564
@javsalgar adding the debug logs let me know that the issue was with user permissions on the nfs vol that backed the pvc.  A simple chown fixed my issue.  Thank you for pointing that out!

[2022-03-25 11:53] #9564 closed

[2022-03-25 12:34] EBCEEB commented on #9569
Faced the same issue using kind @ Docker Desktop for Mac (M1).

It works using built-in Docker Desktop K8s, but it has non-configurable network conflicting with my VPN.

The same thing :-(

[2022-03-25 12:59] DanielJRusev commented on #8433
https://charts.bitnami.com/bitnami

<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>SN5Q4NA1V71A1ZKZ</RequestId>
<HostId>/KusJDXgVbJl8HSUg3Q/U45KyzXNVDntRtCPoB34yPbvV4MWBWIXtBe8mQyMNtOHvRVcDfRkQHQ=</HostId>
</Error>

[2022-03-25 14:02] idonca commented on #9567
hello @javsalgar ,

it wasn't a fresh chart. We only upgraded the EKS version, and after the cluster roll, the rabbitmq didn't work anymore, the readiness probe failed with the mentioned message above. This worked well before the k8s upgrade, even for a couple of months.

Thanks,
-Ionut

[2022-03-25 14:13] FarhanSajid1 commented on #9569
I am also on an M1 mac, does that mean there is not a way to run this?

[2022-03-25 14:41] skyrain commented on #9522
Just opened another PR to fix some bug related to externalIP, can you review again?

[2022-03-25 14:46] migruiz4 commented on #9546
Thank you for reporting this issue and for your contribution @cuttingedge1109.

My colleague @javsalgar will review your PR.

[2022-03-25 16:32] ianchudson-caribou opened #9579 "Shared Extra Env Vars Removed from Charts"
### Name and Version

bitnami/airflow 12.0.14

### What steps will reproduce the bug?

As part of: [bitnami/airflow] Chart standardization (https://github.com/bitnami/charts/pull/8909)

extraEnvVars shared value was removed from the airflow chart. (not sure why?)

The base values file was left alone leading the user (me) to believe I could still declare shared values across all containers.

This c

[2022-03-25 16:59] fmulero commented on #9540
Hi @d3ployment

I was trying to reproduce your issue with the latest version of the chart (11.1.9) without success. I've used this values.yaml file:
[code]

Could you try again after updating the repositories?:
[code]

[2022-03-25 17:10] Mihirkumarsingh commented on #9498
Sure I will check that and update the issue

[2022-03-25 17:15] fmulero commented on #9560
Hi @ProNibs

Thanks for reporting this issue and information about projected volumes. It looks an interesting and useful feature, unfortunately we don't have enough bandwith to do it in a reasonable time. Would you like to contribute by creating a PR to implement it? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.

[2022-03-25 18:55] longkai opened #9581 "Add a new shadowsocks chart"
### Name and Version

bitnami/shadowsocks

### What is the problem this feature will solve?

[Shadowsocks](https://github.com/shadowsocks) is a fast tunnel proxy that helps you bypass firewalls.

It's nice if bitnami have one and I'm delight to do the contribution!

### What is the feature you are proposing to solve the problem?

Add the new chart to the bitnami.

### What alternatives have you co

[2022-03-25 19:06] paul-civitas opened #9582 "[contour] No option to have the envoy service point external https to internal http, which is required for NLB use case"
### Name and Version

bitnami/contour 7.4.4

### What steps will reproduce the bug?

In this article: https://projectcontour.io/guides/deploy-aws-tls-nlb/

The project contour team instructs how to set up contour behind a SSL terminating AWS network load balancer.

However looking at the example it defines an envoy service like this:

[code]

You can see they have port 443 pointing to port 80. Thi

[2022-03-25 19:36] xAlertax commented on #9421
I have same problem
helm.sh/chart=keycloak-7.1.1
Image:       docker.io/bitnami/keycloak:16.1.1-debian-10-r33

`  Warning  FailedCreate      6s (x190 over 2d1h)  statefulset-controller  create Pod keycloak-test-2 in StatefulSet keycloak-test failed error: Pod "keycloak-test-2" is invalid: spec.containers[0].env[4].valueFrom.secretKeyRef.name: Invalid value: "": a lowercase RFC 1123 subdomain must

[2022-03-25 19:49] paul-civitas commented on #9582
Thanks for the PR @roberto-civitas

[2022-03-25 20:29] #9522 closed

[2022-03-25 23:29] acim commented on #8560
Se still have sudden splits of cluster using the latest chart. Today I could see one node restarted once and it made it‘s own cluster after that while the remaining two nodes with 0 restarts remained in the same (old) cluster.

[2022-03-26 05:20] Loqieblack commented on #9511
@alemorcuq  can u help me pls?

[2022-03-26 07:47] 1339811979 commented on #5033
![image](https://user-images.githubusercontent.com/35001319/160230116-241d14b9-0319-453c-84da-94964da48d77.png)

[2022-03-26 07:48] 1339811979 commented on #5033
您的邮件本人已经收到，稍后回复你！或者致电：17600562066

[2022-03-26 10:25] chukka commented on #8433
FYI- To workaround  this issue,  we moved all used  bitnami charts under  https://charts.jfrog.io (powered by artifactory)

[2022-03-26 11:27] DevBey opened #9585 "autoscaling HPA doesn't work after enabling it in MongoDB yaml files"
### Name and Version

bitnami/mongodb

### What steps will reproduce the bug?

1. in eks 1.21.2 tried deploying mongodb using bitnami/mongodb latest version chart
2.  tried using `kubectl get hpa` doesn't show anything.
3.  tried kubectl autoscale sts mongodb --min=1 --max=5 --cpu-percent=20 which start a HPA for the particular statefulsets.

### Are you using any custom parameters or values?

aut

[2022-03-26 14:22] ProNibs commented on #9560
Hi @fmulero!

Believe I made a PR, seems like I passed all the initial checks.
Let me know if you want me to add any more comments or have any feedback on the specific PR.

I did want to note that postgresql has the same issue with the initContainer, however my workplace strictly uses pgpool for auth and pgpool->postgresql cannot use the tls cert auth. Unsure if that should be a separate PR or not

[2022-03-26 18:18] FarhanSajid1 commented on #7305
Any updates on redis-cluster m1 support?

[2022-03-27 01:26] hernan-cision opened #9587 "[grafana] There's NOT an option to connect to a shared database as MySQL or Postgres"
### Name and Version

bitnamy/grafana

### What is the problem this feature will solve?

[grafana] There's NOT an option to connect to a shared database as MySQL or Postgres

### What is the feature you are proposing to solve the problem?

In the README file, about High Availability, you suggest to [Set up Grafana for high availability](https://grafana.com/docs/grafana/v7.5/administration/set-up-f

[2022-03-27 05:00] luyang93 opened #9588 "[bitnami/argo-workflows] cannot run workflows"
### Name and Version

bitnami/argo-workflows:1.1.2

### What steps will reproduce the bug?

1. Deploy  bitnami/argo-workflows:1.1.2 by helm in namespace argohelm.
Submit workflow does not run into running state.
The controler and server get error message.
[code]
2. Continue with official command
https://github.com/argoproj/argo-workflows/releases/tag/v3.3.1
[code]
The install yaml create workflowt

[2022-03-27 05:21] luyang93 commented on #9588
https://github.com/argoproj/argo-workflows/pull/8000

[2022-03-27 16:39] vavdoshka commented on #7325
And also it seems the value should not start with a special character,

at least this root-user was causing the same issue `-jIs-BkOibZtkg-P.80R`

[2022-03-27 17:50] albertkohl-monotek opened #9591 "mariadb-galera not starting all pods"
### Name and Version

bitnami/mariadb-galera

### What steps will reproduce the bug?

i'm using microk8s with a helm install of bitnami/mariadb-galera.
i had the cluster set to 3 replicas. after changing some system settings for my cluster, i rebooted two of the nodes (at the same time) which basically broke the cluster.

once everything came back up, i deleted the galera pods that were stuck "ter

[2022-03-27 18:58] puckettgw commented on #9056
This occurs for me as well, on secondaries when the primary is available and working.
Hangs at `[System] [MY-013381] [Server] Server upgrade from '80028' to '80028' started.`

I'm using `mysql-8.8.27` chart version.

The PVCs are in a very fast ceph cluster, fast enough to provide backing for numerous game servers, mariadb instances and postgres instances. There's no way it's being caused by the p

[2022-03-27 19:06] puckettgw opened #9592 "Secondary pods hang at upgrade step and eventually fail"
### Name and Version

bitnami/mysql 8.8.27

### What steps will reproduce the bug?

Install this chart, scale up secondary statefulset, watch it burn

Hangs at [System] [MY-013381] [Server] Server upgrade from '80028' to '80028' started.

I'm using mysql-8.8.27 chart version.

The PVCs are in a very fast ceph cluster, fast enough to provide backing for numerous game servers, mariadb instances and

[2022-03-28 01:31] #9295 closed

[2022-03-28 01:31] #9291 closed

[2022-03-28 01:31] #9283 closed

[2022-03-28 01:31] #9048 closed

[2022-03-28 01:32] #5962 closed

[2022-03-28 05:45] ppadashe opened #9595 "Grafana pod is stuck in ContainerCreating using Grafana Helm charts hosted on IBM Cloud"
### Name and Version

bitname/grafana

### What steps will reproduce the bug?

I tried to install Grafana helm chart hosted on IBM cloud on my test kubernetes environment (v1.21.9+IKS) and see the grafana pod is stuck in ContainerCreating state

 kubectl get po -n monitoring
NAME                                 READY   STATUS              RESTARTS   AGE
grafana2-639fda2e-5758b6b49d-dpknh   0/1

[2022-03-28 07:05] ThWoywod commented on #9404
Yes, @marcosbc , that is what we can observe. The pod is not restarting. The only thing that restarts is the container. But that's apparently not enough to fix the error.

[2022-03-28 07:37] rafariossaa commented on #6492
yes, let wait until that is solved

[2022-03-28 07:57] 1naboki1 opened #9597 "[bitnami/grafana-operator] dashboardlabelselector will not work"
### Name and Version

bitnami/grafana-operator:4.2.0

### What steps will reproduce the bug?

1. Deploy grafana operator
2. enable grafana inside the grafana operator
3. create a dashboard like https://github.com/grafana-operator/grafana-operator/blob/master/documentation/dashboards.md
4. use label app: grafana

### Are you using any custom parameters or values?

dashboardLabelSelector:
  - matchE

[2022-03-28 08:10] aeimer commented on #9478
We still see this problem as described in my ticket https://github.com/bitnami/charts/issues/8614. It seems like the problem is redisson related, as our nodejs Apps work properly. Also the symptoms were gone for a little time, but it seems like the redisson state is corruped. We see many/all apps failing when one pod starts with the problem.
Also the change in behaviour was not preset in the versi

[2022-03-28 08:20] rafariossaa commented on #7305
Hi,

I'm afraid it is still in our backlog. We've done some feasibility studies but I still cannot provide a date on when this will be available.

[2022-03-28 08:21] viceice opened #9598 "[metallb] support new FRR / Dualstack mode (v0.12)"
### Name and Version

bitnami/metallb 2.6.10

### What is the problem this feature will solve?

I like to test the new dualstack compatibillity with k3s and metallb

https://metallb.universe.tf/release-notes/#version-0-12-1

### What is the feature you are proposing to solve the problem?

Add the same FRR support like the official chart

### What alternatives have you considered?

Use the official

[2022-03-28 08:23] rafariossaa commented on #7325
Hi,
  Thanks for sharing your findings.

[2022-03-28 08:30] jmc171144 commented on #9400
Hello @rafariossaa, the PR is ready and waiting to be merged

[2022-03-28 08:33] rafariossaa commented on #9598
Hi,
  Thanks for suggesting this, but currently it seems that it stills being an experimental feature:
[code]

[2022-03-28 08:40] viceice commented on #9598
I know, will hopefully be stable soon 🙃

Maybe add a short message to the readme, that this isn't yet supported? So users coming from metallb docs will see this early?

[2022-03-28 08:52] alemorcuq commented on #9588
Hi, @luyang93.

What do you mean by this?

Could you provide me with some steps to submit the workflow and reproduce the issue?

[2022-03-28 08:57] rafariossaa commented on #9597
Hi,
  Thanks for spotting this out.
  As  you provide a fix for the issue, would you like to send a PR ?

[2022-03-28 08:57] miguelaeh commented on #9595
Hi @ppadashe ,
It looks to be an issue provisioning volumes on you custer:
[code]

Take a look to your volume provisioning to check why it is failing. From you logs, I would say the storageclass is called ` ibmc-block-gold`

[2022-03-28 09:02] rafariossaa commented on #9587
Hi,
  [In our README is indicated](https://github.com/bitnami/charts/tree/master/bitnami/grafana#supporting-ha-high-availability) that you need to provide a config file with the database configuration. This can be done [using a custom config file](https://github.com/bitnami/charts/tree/master/bitnami/grafana#using-custom-configuration).
  The links you mentioned are from grafana documentation.

[2022-03-28 09:07] rafariossaa commented on #9582
Let's wait for the PR to get reviewed and merged.

[2022-03-28 09:11] rafariossaa commented on #9569
Have in to account that Docker Desktop is not a native docker deployment in Mac, it uses a VM. This usually brings it own set of limitations with the networking.
My suggestion is to post this kind of usage in Docker Desktop forums, maybe they can provide a way to workaround this.

[2022-03-28 09:21] alemorcuq commented on #8433
I can't reproduce the issue on my side:

[code]

[2022-03-28 09:25] rafariossaa commented on #8560
Hi @acim
  If you keep observing this behavior, would you mind opening a new issue ? could you gather all the information you can ? This kind of issues are usually very difficult to reproduce and usually involves timing, so eventually this kind of this could happen.

[2022-03-28 09:31] migruiz4 commented on #9563
Hi @burakovsky,

I'm sorry but I may not be able to help you if it is an issue with EFS storage, since it would be out of my scope if it is not a problem with the Wordpress chart or image.

I have seen some users having similar issues with EFS when using non-root containers. My recommendation would be to try a simple test deployment, fine-tune EFS-related settings, then use it with the chart. Mayb

[2022-03-28 09:33] migruiz4 commented on #9421
Hi, this issue has been already fixed in version 7.1.3 of the `bitnami/keycloak` chart with this PR https://github.com/bitnami/charts/pull/9383

Due to some issues with our release process, it wasn't included in version 7.1.2 but 7.1.3.

[2022-03-28 09:45] migruiz4 commented on #9591
Hi @albertkohl-monotek,

Could you please share more information about your deployment?
* What version of the mariadb-galera chart are you using? (`helm list`, field `CHART`)
* Did you deploying the mariadb-galera with any custom value? If so, please share the command used to deploy and custom values.yaml if so.
* Could you please share the logs of the galera pods? You can get them using `kubectl

[2022-03-28 09:52] migruiz4 commented on #9579
Hi @ianchudson-caribou,

Thank you for reporting this issue, and I'm sorry for the inconvenience.

The removal of `Values.extraEnvVars` wasn't intentional, so I will submit a PR fixing this.

[2022-03-28 10:08] #9400 closed

[2022-03-28 10:09] EBCEEB commented on #9569
Docker Desktop's built-in K8s also runs VM, but this chart works fine.

Unfortunately I can't use it due to non-configurable network.

[2022-03-28 10:16] alemorcuq commented on #9248
Could you check #9600? It solves some bugs in the rule creation. Also, note that in your custom values you are using `prometheusRule` while it should be `prometheusRules`.

[2022-03-28 10:56] migruiz4 commented on #9585
Hi @DevBey,

I'm sorry but the `bitnami/mongodb` chart does not have support for `autoscaling.*` values, as you can see in the [README.md](https://github.com/bitnami/charts/blob/master/bitnami/mongodb/README.md).

If you would like to contribute to our charts, feel free to send a PR adding the HorizontalPodAutoscaler template and values. We will be happy to review it and help with anything needed.

[2022-03-28 11:11] dasMulli opened #9601 "appProtocol in charts for easier service mesh integration"
### Name and Version

postgresql-ha/8.6.4

### What is the problem this feature will solve?

Service Meshes such as OpenServiceMesh and Istio implement protocol detection in different ways but seem to be centered around utilizing `appProtocol` for explicit protocol detection. This is especially needed for server-first protocols and thus the service port's `appProtocol` field should be influencable

[2022-03-28 13:44] alemorcuq commented on #8433
I reproduced the issue now, but it worked immediately after:

[code]

[2022-03-28 13:57] albertkohl-monotek commented on #9591
@migruiz4

- version: **mariadb-galera-7.0.6**
- custom values: **none**
- logs from mariadb-galera-0: [mariadb-galera-0.log](https://github.com/bitnami/charts/files/8363395/mariadb-galera-0.log)
- other galera pods: **no other pods even exists, that's my problem, they dont show up at all as if they were removed from the statefulset. but the statefulset shows 0/3 replicas...**

 Thanks! i apprecia

[2022-03-28 14:22] alemorcuq commented on #9511
Can you take a look [at this guide on scaling up the deployment](https://docs.bitnami.com/kubernetes/infrastructure/etcd/administration/scale-deployment/)? It seems the parameter you are using is deprecated.

[2022-03-28 16:08] EBCEEB commented on #9569
Looks like an issue with local path provisioner.

Docker Desktop's K8s uses own "docker.io/hostpath" provisioner (with `Immediate` volume binding mode!), while kind uses "rancher.io/local-path" (with `WaitForFirstConsumer`).

[2022-03-28 16:17] lretrain91 opened #9603 "Permission denied on /opt/bitnami/redis-sentinel/etc when sentinel.persistance.enable=false + SecurityContext"
### Name and Version

bitnami redis-chart 16.6.0

### What steps will reproduce the bug?

ligne 414 of redis/templates/sentinel/statefulset.yaml
[code]

sentinel-data VolumMount is under conditional on persistence to true.
Then the Volume is never mounted in the case that you don't want persistence.
This is not a problem with the default chart values.yaml but when you want to set a sentinel contai

[2022-03-28 16:36] EBCEEB commented on #9569
Failed a bug for kind: https://github.com/kubernetes-sigs/kind/issues/2697

[2022-03-28 16:53] fmulero commented on #9592
Hi @puckettgw

Thanks for sharing your issue. There is one thing I don't fully understand, what do you mean with:

Are you working with the `standalone` configuration but trying to spin up manually new instances? Please be aware that they won't work as a cluster. If you want a mysql cluster please set to `replication` the `architecture` parameter

[2022-03-28 17:11] albertkohl-monotek commented on #9591
i did set the password to use a secret... here's the output:
[mariadb_statefulset.txt](https://github.com/bitnami/charts/files/8364859/mariadb_statefulset.txt)

[2022-03-28 17:45] tropicallydiv opened #9604 "Unable to configure archive_command in postgres"
### Name and Version

Postgres 11.

### What steps will reproduce the bug?

Trying to configure the archive command using the postgres helm charts

[code]

Version:
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Either  the values get updated in the postgresql conf file or a new configmap should be created.
Neither happened.

### What

[2022-03-28 18:04] pravinkumarb84 opened #9605 "Error installing latest spring cloud dataflow - found character that cannot start any token"
### Name and Version

bitnami/spring-cloud-dataflow 6.0.8

### What steps will reproduce the bug?

Hi.

I am trying to install spring-cloud-dataflow chart - version - 6.0.8 as a helm release via terraform. I am on the latest helm version and when I try to install it via terraform, getting the below mentioned error.

when I try to install the same using `helm install` command from local machine, it

[2022-03-28 19:44] smatvienko-tb commented on #9476
Hey! I'm preparing the [ThingsBoard](https://thingsboard.io/) cluster setup with fancy Bitnami charts and having the same issue.

After bumping postgresql-repmgr to 14.2 using helm chart:
[code]

The **pgpool** is never got a Ready status:
![image](https://user-images.githubusercontent.com/79898499/160473518-eda09a92-3c49-4a56-8415-7fde140e5914.png)

The **pgpool** log output is:
[code]

Will appr

[2022-03-28 21:11] burakovsky commented on #9563
Hi @migruiz4,

Thank you for your responce! Yes, I checked the permissions and everything is ok but looks like efs performance is the main issue here. I started chart in diagnostic mode and ran entrypoint command manually - it finished successfully, but it took ~ 5 min to finish, so liveness probe just restarted a container earlier than all preparation steps finished.

Close this issue as there is

[2022-03-28 21:11] #9563 closed

[2022-03-28 21:11] ianchudson-caribou commented on #9579
Awesome, thanks! I wasn't sure if this was expected or accidental so I appreciate the reply. We are using the chart and was very confused when the shared configs weren't working as we expected so I dug through the git history. :)

[2022-03-28 21:55] anuragagarwal561994 commented on #7305
What do you think are the issues and how can the community help?

[2022-03-28 21:58] nodesocket commented on #7305
Would absolutely ❤️  arm64 containers / helm chart support for the following:

- postgresql
- memcached

For example, a project I am trying to deploy Gitea uses Bitnami for PostgreSQL and Memcached dependencies, but I cannot run it because running Raspberry Pi (`arm64`) Kubernetes cluster.

[2022-03-28 23:34] soelgary commented on #9219
@skyrain

I came here with the same question, but was able to figure it out. There are two streams plugins you can enable: `rabbitmq_stream` and `rabbitmq_stream_management`. You will also need to open the streams port in the service. I did this using `service.extraPorts`:

[code]

Hopefully others find this useful.

[2022-03-29 01:32] #9329 closed

[2022-03-29 01:32] #9326 closed

[2022-03-29 01:32] #9306 closed

[2022-03-29 01:32] #9075 closed

[2022-03-29 03:38] mooncser opened #9606 "[bitnami/elasticsearch] Failed to upgrade elasticsearch to coordinate node bad_certificate"
### Name and Version

bitnami/elasticsearch

### What steps will reproduce the bug?

1. For security section, with auto-generated certification:
[code]
Run 'helm upgrade ...', the coordinating node failed to connect to master node due to certification error.
But the es cluster works well if I uninstall and reinstall the helm chart.  The es has worked well for several months before I have upgraded

[2022-03-29 04:52] xiaolongjiangkolena commented on #5771
I am using latest helm chart and it's just not working for replica > 1 at all.

[2022-03-29 06:04] luyang93 commented on #9588
https://cloud-native.slack.com/archives/C02097VUKUM/p1648262930247249
The fact that the task is not running is just a superficial phenomenon. The real reason is that argo >= 3.3.0, argo creates new CRDs, workflowtaskresults.argoproj.io, but when bitnami/argo-workflow is installed through helm, workflowtaskresults and the corresponding ClusterRole are not created.

[2022-03-29 06:05] luyang93 commented on #9588
https://cloud-native.slack.com/archives/C02097VUKUM/p1648262930247249
The fact that the task is not running is just a superficial phenomenon. The real reason is that argo >= 3.3.0, argo creates new CRDs, workflowtaskresults.argoproj.io, but when bitnami/argo-workflow is installed through helm, workflowtaskresults and the corresponding ClusterRole are not created.

[2022-03-29 06:52] rafariossaa commented on #9605
Hi,
  Not sure here as we don't use terraform. If it works using `helm install` it should be some parameters that terraform is passing to the templating.

[2022-03-29 06:58] #9579 closed

[2022-03-29 07:01] rafariossaa commented on #9598
I am sorry, but it would be impossible to keep track of this kind of things in an automatic way. We are a small team and it is not possible to keep track manually of this.

[2022-03-29 07:03] rafariossaa commented on #9581
Thanks for your suggestion! We will check it internally and evaluate the feasibility but due to limited resources that could take some time.

If you want to contribute with the chart do not hesitate to open a PR and we will review it. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) you can find the requirements and scaffolding to create a

[2022-03-29 07:08] rafariossaa commented on #9569
Hi,
  Thanks for coming back and sharing your findings.

[2022-03-29 07:22] GaneshbabuRamamoorthy opened #9607 "Kafka helm chart is not working when deployed with "tls.existingSecrets" configuration"
### Name and Version

bitnami/kafka-16.1.2 with kafka docker image 3.1.0

### What steps will reproduce the bug?

Hi All,

I am trying to deploy latest [kafka helm chart](https://github.com/bitnami/charts/tree/master/bitnami/kafka) in my k8s environment and when I tried deployed we are getting the below error in pod logs,

[code]

I have used this [script ](https://raw.githubusercontent.com/conflu

[2022-03-29 07:59] rafariossaa commented on #9607
Hi,
  I think you need to set one of `interBrokerProtocol`, `tlsEncryption` or `externalClient.tlsEncryption` to `tls`.
Could you take a look to [this section](https://github.com/bitnami/charts/tree/master/bitnami/kafka#enable-security-for-kafka-and-zookeeper) ?  Maybe that information helps you to solve this issue.

[2022-03-29 08:11] viceice commented on #9598
OK, no problem. I'll come back when FRR feature becomes stable. 🤗

[2022-03-29 09:50] carrodher commented on #9476
There are in progress plans to move the PostgreSQL HA Helm chart to psql 14, but since it will require a new major version in the Helm chart the changes are not straightforward. We will update this thread once the PR with those changes is created in this repo.

[2022-03-29 09:52] carrodher commented on #9604
Please note this Helm chart received a new major version bump some weeks ago, can you try using the latest major? There are some changes since the version you're using

[2022-03-29 10:00] miguelaeh commented on #9601
Hi @dasMulli ,

We don't officially support Istio or other services, but we sometimes try to add the Istio requirement in the ports naming like `protocol-portName`.
You can always clone this repo and perform your required modifications or send a PR.

[2022-03-29 11:42] fmulero commented on #9560
Thanks @ProNibs  I've shared some comments in your PR and I've just noticed that here you have the answer for one of my questions, hahaha, sorry about that.

Please let's continue in the [PR](#9586 )

[2022-03-29 11:44] #9292 closed

[2022-03-29 12:15] GaneshbabuRamamoorthy commented on #9607
Hi @rafariossaa

Thanks for sharing your thoughts and I have redeployed with the same values.yaml pods were running fine and kafka nodes were created successfully.

I have tried enabling kafka-exporter in the same values.yaml and below is the config I have added,

[code]

Below is the kafka-exporter pod describe,
[code]

[code]

What is the value I should provide in tls.ca-file ?

When I tried giv

[2022-03-29 13:34] GaneshbabuRamamoorthy commented on #9041
@juan131

I am facing this similar issue in my k8s environment

I have tried enabling kafka-exporter in the values.yaml and below is the config I have added,

[code]

Below is the kafka-exporter pod describe,

[code]

[code]
What is the value I should provide in **tls.ca-file** ?

When I tried giving **ca-file as kafka.truststore.jks** below is the error I am getting,

[code]

kindly share your th

[2022-03-29 14:12] williepadin commented on #9468
@marcosbc Thank you so much for your support of this ticket. I work with @hectoralicea. I just have some quick questions: 1) Where can I find the schema documentation for this standalone-ha.xml? I found it a little more confusing to understand than an export we did of the keycloak server. (On that note --->) 2) We did an export of the configuration (JSON) and it appears to have everything that we

[2022-03-29 15:07] parikshitseth1 opened #9611 "Pods not starting up"
### Name and Version

Bitnami/rabbitmq 3.9.2203282201

### What steps will reproduce the bug?

Pods not starting up when deploying helm chart in IBM Cloud Kubernetes cluster. Getting below error:

Events:
  Type     Reason            Age   From                    Message
  ----     ------            ----  ----                    -------
  Warning  FailedScheduling  2m7s  default-scheduler       0/

[2022-03-29 16:49] ahmedalnuaimi commented on #9472
Do we have a fix?

[2022-03-29 21:57] dc232 opened #9613 "[bitnami/wordpress] Add Netapp azure files support [help requested]"
### Name and Version

bitnami/wordpress

### What is the problem this feature will solve?

[code]

currently when using the azure  netapp files CSI the following is produced despite having an active VNET

### What is the feature you are proposing to solve the problem?

Current thinking is  to add nfs tag such as in https://stackoverflow.com/questions/70282694/cannot-connect-nfs-server-with-azure-a

[2022-03-29 22:54] jocadu opened #9614 "[bitnami/kong] Unable to install and run an Embedded Go Plugin with bitnami kong chart"
### Name and Version

bitnami/kong "2.8.0-debian-10-r5"

### What steps will reproduce the bug?

Environment: minikube
Command helm install kong -f kong/values.yaml bitnami/kong

I have a Go embedded Plugin working and tested with Kong 2.7, now I want to use the same Plugin with a bitnami chart installation, but it fails to start.

There are 2 Problems identified and solutions (work-arounds ) for

[2022-03-30 01:30] #9342 closed

[2022-03-30 05:24] ludydoo commented on #8379
@kbraun-axio have you solved this? I'm looking for a solution as well..

[2022-03-30 05:54] stravi opened #9616 "Documentation / Example on how to configure logstash to consume from kafka"
### Name and Version

bitnami/logstash 3.8.4

### What is the problem this feature will solve?

I have read the existing README for logstash chart but it is not clear for me how should I set the [`input` parameter for logstash](https://github.com/bitnami/charts/tree/master/bitnami/logstash#logstash-parameters) such that it consumes from a kafka topic. Looking at the default value for the parameter

[2022-03-30 06:44] carrodher commented on #9041
Hi, it seems a different error, the one reported in this issue was fixed in the attached PR. Can you please create a separate issue for this topic? Thanks

[2022-03-30 07:12] migruiz4 commented on #9591
Hi @albertkohl-monotek,

Sorry for the late response. One last request from my side to ensure I have all the information I need.

Could you please share the output of `kubectl describe pod <galera_pod_0>` and `kubectl get pods`?

I would like to check if the Galera pod 0 readiness and liveness probes are succeeding or not, and the reason why.

[2022-03-30 07:14] rafariossaa commented on #9616
Hi,
  Sorry, I am not very sure about your question. If it is on how to use the chart or how to configure logstash for your purpose.
If it is about how to configure logstash, as we are not logstash experts,  I would suggest to better ask in logstash forums to get a better answer.

[2022-03-30 07:34] rafariossaa commented on #9598
Thanks for your understanding.
I am closing this issue by now.

[2022-03-30 07:34] #9598 closed

[2022-03-30 08:02] javsalgar commented on #9611
Hi,

This is strange, as we were unable to reproduce the issue. Could you confirm it is a clean deployment and there are no PVCs from other installations? Also, could you try entering the node and see if executing the same command that the readiness probe performs shows a more meaningful error? You could also launch the chart with `diagnosticMode.enabled=true` and launch the initialisation scripts

[2022-03-30 08:04] javsalgar commented on #9613
Hi,

Thank you for using Bitnami. It is not clear to me in this case if the issue has to do with the Bitnami packaging (or the chart features, which allow adding labels, annotations and extra objects) or with the Azure cloud itself. Did you create a ticket to Azure with this exact issue? I think they may provide more insight on what to do.

[2022-03-30 08:09] javsalgar commented on #9567
Hi,

My advice would be to deploy the chart with `diagnosticMode.enabled=true`. There you will be able to launch the initialization scripts manually and see what the exact issue is. Make sure that the secret has not changed since the initial deployment, as that could partially explain the issue.

[2022-03-30 08:09] javsalgar commented on #9219
Thank you for sharing!

[2022-03-30 08:13] javsalgar commented on #9056
Hi,

Could you add more details about the size of the database?

[2022-03-30 09:02] stravi commented on #9616
You are right, my question came from missing knowledge in both. Now that I made it work, the answer is that in bitnami/logstash values.yaml the `input` parameter has to be a string and it has to contain what ever you want to be contained in [logstash configuration file](https://www.elastic.co/guide/en/logstash/current/config-examples.html).
An example of seting the logstash `input` parameter from

[2022-03-30 09:02] #9616 closed

[2022-03-30 09:16] d3ployment commented on #9540
Hi @fmulero

Thanks for your answer !
I've tried to update to latest (11.1.12) and this doesn't work

[code]

[2022-03-30 09:25] Rafi-UCW opened #9620 "Error adding Bitnami package in Azure"
### Name and Version

?

### What steps will reproduce the bug?

Trying to add bitnami package in Azure

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Error message

### Additional information

![image](https://user-images.githubusercontent.com/28951337/160798024-f15d9c83-195c-42c2-b811-bf23d8584d

[2022-03-30 09:59] fmulero commented on #9540
Sorry @d3ployment  but I have some doubts about your case.
* Did you upgrade previous failing installation? Please, if you don't have any data, uninstall postgresql-ha, remove persistenVolumesClaims and do a fresh install
* If the original problem persists. Please share your `values.yaml` file

[2022-03-30 10:15] TheMatrix97 opened #9621 "Ruler config is trying to solve variables"
### Name and Version

bitnami/thanos 10.3.0

### What steps will reproduce the bug?

When defining a ruler configuration under ruler.config, it seems is trying to solve the variables inside, obviously, are prometheus and return an undefined variable error

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

I'm expecting to automatically create and popul

[2022-03-30 10:59] fmulero commented on #9478
Thanks @aeimer  for sharing that info.

I was also having a look to #7461 because it seems related but I'll need a further investigation.  @jaudiger Could you share a simple scenario to reproduce this issue?

[2022-03-30 11:19] oktayalizada opened #9624 "Error while trying to install prometheus"
### Name and Version

bitnami/prometheus:2.33.5-debian-10-r19

### What steps will reproduce the bug?

When trying to install
` helm install prom -f prometheus.yaml bitnami/kube-prometheus`

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Helm installed successfully

### What do you see instead?

`Error:INSTALLATION FAILED: podsecuritypolicies.policy

[2022-03-30 12:48] d3ployment commented on #9540
Thanks for your help @fmulero

I didn't upgrade but did a clean fresh install
I'll try to remove PVC, maybe I forgot this step last time

I just noticed something in the [read STS template](https://github.com/bitnami/charts/blob/master/bitnami/postgresql/templates/read/statefulset.yaml#L383-L410)
I can't see the part where the CM is mounted as a volume like in the [primary STS](https://github.com/

[2022-03-30 13:05] danielorkabi8 opened #9627 "error calling include: template: no template "thanos.ingress.certManagerRequest" associated with template "gotpl""
### Name and Version

bitnami/thanos:10.3.1

### What steps will reproduce the bug?

I was trying to add grpc ingress for the storegateway.
While adding a regular ingress (storegateway.ingress.enabled) things worked properly, however when I tried to add a grpc one (storegateway.ingress.grpc.enabled) I got the following error:

Error: UPGRADE FAILED: template: templates/storegateway/ingress-grpc.ya

[2022-03-30 13:37] albertkohl-monotek commented on #9591
@migruiz4, no worries, i'm sure you all are busy. i appreciate the help.

outputs are attached.
[mariadb_pods.txt](https://github.com/bitnami/charts/files/8380927/mariadb_pods.txt)

[2022-03-30 14:00] rjgildea opened #9629 "Rabbitmq: $NODE_PORT_AMQP points to epmd port"
### Name and Version

bitnami/rabbitmq 8.30.3

### What steps will reproduce the bug?

Chart installed with:
`helm install rabbits bitnami/rabbitmq -f values.yaml`

gives the following output:
[code]
However, following the above instructions gives the incorrect port for `$NODE_PORT_AMQP`:
[code]
As shown by the full list of `.spec.ports` it gives the `epmd` port (`.spec.ports[1]`) rather than the

[2022-03-30 14:54] rodrigoscferraz opened #9630 "Errors in Grafana Deployment pod"
### Name and Version

bitnami/grafana-operator 1.4.4

### What steps will reproduce the bug?

Just a fresh install of the Operator and a simple Grafana kind deployment

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

I also have some Grafana Dashboards and Grafana Datase

[2022-03-30 14:59] rogerfn commented on #8770
@eclipsetalk I'm actually having the same issue at the moment using airflow:2.2.4. Did you figure it out?

[2022-03-30 15:59] carrodher commented on #9620
Please note support for Virtual Machines and Cloud Images is provided at https://community.bitnami.com/ (where your screenshot comes from).
In GitHub, we provide support for Containers and Helm charts. Can you post your question in the above forum? Thanks

[2022-03-30 15:59] #9620 closed

[2022-03-30 17:08] sharique-masood opened #9632 "ulimitNofiles not working in rabbitmq chart"
### Name and Version

 bitnami/rabbitmq:3.9.13-debian-10-r55

### What steps will reproduce the bug?

The parameter `ulimitNofiles: "65536"` in values.yaml  is not setting the ulimit for rabbitmq, the default/current ulimit being set is `1048576`.

### Are you using any custom parameters or values?

Yes `ulimitNofiles: "65536"` in values.yaml

### What is the expected behavior?

The expected behav

[2022-03-30 20:26] boima81 opened #9633 "MovingVM to another subscription"
### Name and Version

Virtual Machine V1

### What steps will reproduce the bug?

Moving Linux (ubuntu 14.04) VM V1 to another subscription is and getting the error " MarketplacePurchaseEligibilityFailed"

Microsoft said the plan (3-2) is no longer on their marketplace. And I should contact the publisher (bitnami).

Is there a workaround to move this VM to a new subscription?

### Are you using an

[2022-03-30 20:31] franviera92 commented on #9588
what is the solution? my job have status pending and never change

[2022-03-31 01:31] #9328 closed

[2022-03-31 01:31] #9040 closed

[2022-03-31 01:43] michelveloso commented on #7420
Same problem here, the messages is never deleted

![image](https://user-images.githubusercontent.com/346317/160959329-32cb4f37-ce30-412b-b4ce-c4c44676e88f.png)

[2022-03-31 03:41] mooncser commented on #9606
@alemorcuq I have found the root cause. It has caused by the prometheus-elasticsearch-exporter helm chart dependency when I upgraded the elasticsearch. It has been resolved by restarting the exporter pod. Thank you for you time. Close the issue.

[2022-03-31 03:41] #9606 closed

[2022-03-31 04:10] protoman92 commented on #9361
@migruiz4 thanks for the clarification. Let me give this a try again.
Meanwhile, I'll close this issue :)

[2022-03-31 04:10] #9361 closed

[2022-03-31 05:34] GaneshbabuRamamoorthy commented on #9041
@carrodher

Thanks I have created the request. https://github.com/bitnami/charts/issues/9607

[2022-03-31 06:38] carrodher commented on #9633
Hi, please note the support related to VMs, AMIs, MultiTier solutions, etc is provided in the [Bitnami Community Forum](https://community.bitnami.com/). Could you please post your question there?

In GitHub, we provide support for container images and Helm charts.

[2022-03-31 06:38] #9633 closed

[2022-03-31 06:50] alemorcuq commented on #5771
I've increased the priority of the internal task associated to this issue.

[2022-03-31 06:54] alemorcuq commented on #9588
I can't access to that Slack, @luyang93, but I understand there's some CRD missing from the chart in [this directory](https://github.com/bitnami/charts/tree/master/bitnami/argo-workflows/crds) ?

[2022-03-31 06:55] marcosbc commented on #9404
It is indeed a really weird issue.

The only thing that occurs to me, would be for you to try and troubleshoot this error. To do this, you would disable the liveness/readiness probes, and override the command/args for the affected Redis node (e.g. `master.command`/`master.args` or `replica.command`/`replica.args`), and then individually exec into the container(s) and execute the original startup c

[2022-03-31 07:01] marcosbc commented on #9468
Actually, please ignore my previous comment. We are using [keycloak-config-cli](https://github.com/adorsys/keycloak-config-cli), which mentions to support both YAML and JSON configurations, but not XML.

You can find some examples for both formats here: https://github.com/adorsys/keycloak-config-cli/tree/main/contrib/example-config

You can see how we are executing it here: https://github.com/bitn

[2022-03-31 07:34] rafariossaa commented on #7420
Hi @michelveloso ,
  As this seems not to be an issue with the chart or the containers, I would suggest you to ask in rabbitmq forums why this could be happening.

[2022-03-31 08:33] javsalgar commented on #9627
Hi,

It seems to me that both should use the same helper. Would you like to submit a PR fixing it?

[2022-03-31 08:34] FraPazGal commented on #9632
Hello @sharique-masood,

Thank you for reporting this error! I was able to reproduce your case and I have opened an internal task for the team to work on this bug. I will leave this ticket open until a fix has been implemented for this.

[2022-03-31 08:36] danielorkabi8 commented on #9627
Sure :)

[2022-03-31 08:39] fmulero commented on #9540
Hi @d3ployment  I think I've got your point now, but please correct me if I am wrong because I am not facing the error about the `MountVolume.SetUp` at any moment.

_Are you trying to install an extension and it is only installed in the primary replica?_

In order to do that you need to share the preloaded libraries. Here you have an example with `pg_stat_statements`:
[code]

With previous example

[2022-03-31 09:21] aeber commented on #9603
Hi!

I think this is an unintended side-effect of https://github.com/bitnami/charts/pull/9282

In that PR, the previous emptyDir mount over `/opt/bitnami/redis-sentinel/etc` got [removed](https://github.com/bitnami/charts/pull/9282/files#diff-8c384cc283443d7d59806d168ed118c26093f1e319071da23b06eaba2a99f08fL418),
 but the [new emptyDir](https://github.com/bitnami/charts/pull/9282/files#diff-8c384cc

[2022-03-31 10:32] shaharl-sternum opened #9639 "Cannot add roles to values"
### Name and Version

bitnami/argo-cd

### What steps will reproduce the bug?

I've added the following values:
[code]
And i get the following error:
[code]
### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

System is successfully upgraded

### What do you see instead?
[code]
### Additional information

_No response_

[2022-03-31 10:38] migruiz4 commented on #9630
Hi @rodrigoscferraz,

The `bitnami/grafana-operator` does not have version `1.4.4`, and the latest version is `2.3.2`.
Also, the custom values provided are not a valid `values.yaml` for the chart.

Could you please provide the correct version and custom `values.yaml` used to deploy the chart, so we can try to reproduce the issue?

[2022-03-31 10:52] sharique-masood commented on #9632
Thanks @FraPazGal  will wait for the fix.

[2022-03-31 12:51] bunicb commented on #8908
Had the same issue around a month ago in a test cluster.
Today the same thing happened in a different cluster, when a node went into a weird network state, and a redis pod restarted into this state.

Any news on this?

[2022-03-31 14:18] kbraun-axio commented on #8379
No, I was not able to solve it. At the moment, we try to not restart RabbitMq. Then the solution with the init containers posted in my previous comment works. But RabbitMq still looses messages when its pods are restarted, so the persistence does not work as expected.
I am still looking for a solution to this problem.

[2022-03-31 14:20] kbraun-axio commented on #8379
@alemorcuq Any news or an ETA from the official maintainers of the chart?

[2022-03-31 14:30] kbraun-axio commented on #8379
Nice, I will check if your solution works in our cluster, too. Thanks for sharing!

[2022-03-31 15:43] jaudiger commented on #9478
Hi @fmulero,

I can't give the exact application I'm using to reproduce the error, since the application is internal to our organization. But here is what I'm doing:

1. Start Redis with sentinels with the configuration in my initial message
2. Start a Spring Boot Application using the redisson library configured to use Redis sentinel
3. Restart/rollout one of the Redis node

From here, the Spring

[2022-03-31 15:45] miguelaeh commented on #9472
I am not sure, @d3ployment did you have the time to create the PR?

[2022-03-31 16:26] williepadin commented on #9468
@marcosbc Thank you for the links!!! I'll get back to you with progress.

[2022-03-31 17:01] joancafom commented on #9607
Hi! I am currently taking a look into the issue and will provide you with further comments soon.

[2022-03-31 18:38] deoxyseia opened #9649 "wordpressScheme doesn't produce efects in the Wordpress generated URLs"
### Name and Version

bitnami/wordpress 13.1.11

### What steps will reproduce the bug?

Install Wordpres chart behind Nginx Ingress.

`helm install wordpress bitnami/wordpress -f values.yaml `

Registry the DNS record with the Nginx LB hostname with `wordpress.example.com`

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Be able to load the Wordpres

[2022-03-31 19:12] ArgonV commented on #8433
Howdy all, I would just like to report that I am seeing this issue to, in southeast Texas.

`Clone failed: Cloning into 'management-state/catalog-cache/a68a354dfd35755d14bebd02d825feb24ecbbd0496438ceb36691e1eabaa4947'... fatal: Remote branch master not found in upstream origin : exit status 128`

[2022-03-31 19:44] shunnell opened #9650 "Discourse Stuck in Login Loop"
### Name and Version

bitnami/discourse 5.2.3 & 7.0.4

### What steps will reproduce the bug?

Environment: k8s

1. Backed up Discourse from old k8s cluster
2. Tried a Discourse helm chart install of both 5.2.3 and 7.0.4 with a restore
3. After restore and going to the URL, it is stuck in a login loop.
(See additional information for attempted fix)

### Are you using any custom parameters or value

[2022-03-31 20:41] shunnell commented on #9650
Please cancel ticket. The backup file was somehow corrupted. When using a previous day's backup, it successfully restored without the login loop problem.

[2022-04-01 01:32] #9380 closed

[2022-04-01 01:32] #9370 closed

[2022-04-01 01:32] #9366 closed

[2022-04-01 01:32] #9338 closed

[2022-04-01 01:32] #9336 closed

[2022-04-01 01:32] #9083 closed

[2022-04-01 01:32] #9022 closed

[2022-04-01 01:32] #8424 closed

[2022-04-01 02:26] tbnguyen1407 commented on #9367
/keepalive

[2022-04-01 06:05] carrodher commented on #8433
Please note this is a totally different and unrelated issue. Helm client doesn't work with `git` not cloning any Git repository. It seems something totally different and unrelated to Bitnami.

Regarding the original issue related to the Helm registry, we are doing more research on our side in order to find the root cause of those transient errors and mitigate them.

[2022-04-01 06:08] #9650 closed

[2022-04-01 06:43] carrodher commented on #9649
It seems it is not an issue related to the Bitnami WordPress Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the

[2022-04-01 06:57] rafariossaa commented on #9639
Hi,
  I think you need to use:
[code]
  Could you give it a try ?

[2022-04-01 07:42] truhojun commented on #9248
@alemorcuq
It works properly.
Thank you very much.

[2022-04-01 07:42] #9248 closed

[2022-04-01 08:26] d3ployment commented on #9540
Hi @fmulero

Thanks for your answer but I already have `postgresqlSharedPreloadLibraries` set to `'pg_stat_statement'`
At the moment, the error that I get doesn't seem to be `initdb scripts` related but configuration related.

For example the `max_connections=400` is taken into account by the primary but not by the replica

[2022-04-01 08:41] joancafom commented on #9607
Hi @GaneshbabuRamamoorthy !

I will try to answer your question, but before let's start with the basics. As described in the [Enable security for Kafka and Zookeeper](https://github.com/bitnami/charts/tree/master/bitnami/kafka#enable-security-for-kafka-and-zookeeper) section from the README, the Bitnami Kafka Helm Chart can be configured with different encryption/authentication protocols. In parti

[2022-04-01 09:13] abhi10agarwal commented on #1210
Hi, I am using a cluster-based environment and getting the below error while starting the Postgresql pod.

Storage mode - nfs-storage-class

 -->kubectl logs -n gss-qa postgres-lb-deployment-7b45c5f6f5-zb5c9

postgresql 07:32:23.80
postgresql 07:32:23.81 Welcome to the Bitnami postgresql container
postgresql 07:32:23.81 Subscribe to project updates by watching https://github.com/bitnami/bitnami-do