[2021-02-10 08:48] kheraud commented on #4711
You are totally right @juan131 , I missed this obvious mistake

I kept tracking this performance issue. When I have 70% CPU available (`kubectl top nodes`) I can see a real improvement in chart deployment delay. I fine tuned my autoscaling settings to keep this CPU margin. I would try in the coming weeks to dive more deeply in the chart to point the exact issue.

[2021-02-10 08:50] javsalgar commented on #5431
Hi,

Thank you for using Bitnami. Could you provide the values that you used for deploying the chart?

[2021-02-10 08:52] NadavkOptimalQ commented on #5431
[code]

[2021-02-10 08:56] Morriz commented on #5412
Thanks a lot, of course I did not do my homework.

[2021-02-10 08:56] #5412 closed

[2021-02-10 09:16] miguelaeh commented on #5060
Hi @internetionals,
could you share your services names and check if the namespace is properly set on the FQND path please?

[2021-02-10 09:17] viceice commented on #5424
[code]

did not work, because helm deployment will timeout 😕  so only solution is to put haproxy in front

[2021-02-10 09:18] hitman249 commented on #5442
After updating helm to v3.5.2, the problem was solved

[2021-02-10 09:18] #5442 closed

[2021-02-10 09:22] miguelaeh commented on #4713
Hi @drmy ,
Thank you very much for sharing the use cases, I will re open a task to chek those scenarios you shared.

[2021-02-10 09:24] mohanagandlla commented on #5432
Yes thank you I have changed the reduness and liveness probes now the pod is 1/1 but if I exec into the pod and giving command like
Influx -ssl -host DN
Not giving any response

But if I try with api communication I am getting the output isn't DN won't work inside the pod ?

[2021-02-10 09:29] miguelaeh commented on #5437
Hi @Tassatux ,
Maybe I misunderstood the issue but at:
[code]
you are specifying yo use a secure connection, so that implies to use the certificates.
Did you try `query.grpcTLS.client.secure=false` ?

[2021-02-10 09:36] juan131 commented on #4711
Great @kheraud !! I'm glad you were able to solve it by using a single `.sql` file!
Please do not hesitate to share with us your insights about the database performance. That said, I'd appreciate if you open a different issue to avoid confusion (we should try to stick to the topic of each issue so other users looking for answers can easily identify them).

[2021-02-10 09:38] juan131 commented on #5442
Great! Glad to hear that @hitman249

[2021-02-10 09:42] juan131 commented on #5360
Hi @etavene

I followed your recommendation to reproduce the issue, and commented out the prestop section:

[code]

Then, I followed the same steps described at my [previous comment](https://github.com/bitnami/charts/issues/5360#issuecomment-772310610), and I found no issues either. The reason, my GKE cluster uses `gcePersistentDisk` volumes by default. Therefore, although the pod was rescheduled

[2021-02-10 09:43] javsalgar commented on #5441
Hi,

Thank you for the input. My question would be about the persistence volume technology you are using. Could it be that you are using a very slow volume type and that could potentially explain the performance drop? Which is the cluster you are using as well? How many Kubernetes nodes it has?

[2021-02-10 09:57] mumbley commented on #5405
@juan131 Thanks for this. I read through the chart and it looks like the problem was PEBKAC.  :) I have re-written the values we use to override the values.yaml and it now works fine.  Your response helped me to ignore what was just a false positive and focus elsewhere so thanks for that.

[2021-02-10 09:57] #5405 closed

[2021-02-10 10:01] andresbono commented on #5381
Yes, that's specific to the operator. For example, in Helm, you can make use of checksum annotations: https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments.

It's basically a calculation of the sha256sum of some helm template files. If any of them change, that will trigger an update of the statefulset. However, the calculation is done when you execute a helm install/upg

[2021-02-10 10:08] javsalgar commented on #5431
Hi,

We've been investigating this issue in the past, and we added several fixes to avoid this situation. Could you confirm that the issue did not occur at the initial startup? I guess this could be related to the nodes restart.

[2021-02-10 10:11] Tassatux commented on #5437
My bad, I oversimplified the problem, it only make sense when there stores exposed over TLS:

[code]

I have the exact same problem than https://github.com/bitnami/charts/issues/3988, I've got multiple cluster exposing Thanos gRPC endpoint via Nginx ingress controller (which only permit gRPC with TLS). As it's not possible to configure per store TLS configuration on Thanos query for now, I only re

[2021-02-10 10:12] NadavkOptimalQ commented on #5431
Yes
The cluster was up for 27 days and we didn't come across this issue.

This might be related to the redis version?
The cluster was using redis version 6.0.9
I recreated the cluster yesterday (had to. is our production cluster) and specified version 6.0.10. Haven't had any issues so far but it might come up again

[2021-02-10 10:28] viceice commented on #5424
My workaround is to use the chart from [DandyDeveloper/redis-ha](https://github.com/DandyDeveloper/charts/blob/master/charts/redis-ha).

I like the bitnami charts 🙃

[2021-02-10 10:31] carrodher commented on #5434
I was able to reproduce the issue by installing it from scratch (only with `--set drupalSkipInstall=true`), it seems the `SKIP_BOOTSTRAP` logic is not properly implemented. When the application is initialized following the regular/default path, the configuration files are created setting the required parameters but following the `SKIP_BOOTSTRAP` path, the configuration is not properly set, so it i

[2021-02-10 11:00] carrodher commented on #5407
Using the above values.yaml, the thanos receiver is failing (CrashLoopBackOff) but with a different error in my case:
[code]
(the error was a one-line error but replacing the `\n` and `\t` is the visual content).

It's true I am not configuring anything else, just `helm install mythanos bitnami/thanos -f values.yaml` so maybe the error is different in my case since something else can be needed (?)

[2021-02-10 11:05] Excpt0r opened #5443 "[bitnami/etcd] ETCD cluster fails after restart due to member remove"
**Which chart**:
etcd 5.6.0

changes in values.yaml:
[code]

**Describe the bug**
Issue #1908 is not really fixed. Situations with upgrade/rollout where a majority etcd nodes remain running might work, but not the following:

With a 3 node etcd cluster installed, when pods are terminated, they call a `member remove` by the script `prestop-hook.sh`.
This leads to issues when starting the cluster ag

[2021-02-10 11:23] iAshishHere opened #5444 "[bitnami/airflow] worker pods are scaled to Maximum size, even though there is no workloads/DAGS running"
**Which chart**:
bitnami/airflow

**Describe the bug**
Airflow worker pods are autoscaled to Max, even though there is no DAGS/Workloads running.

**To Reproduce**
Steps to reproduce the behavior:

helm repo add bitnami https://charts.bitnami.com/bitnami

helm install my-release airflow

Below mentioned is the configuration I am using in my Helm chart.

`executor: 'CeleryExecutor'`

[code]

[code]

[2021-02-10 12:10] #4412 closed

[2021-02-10 12:51] mscbpi commented on #5381
Thank you for your answer,

So it is 200% sure that the helm-deployed rabbit will not refresh its certificate when secret is updated ?

Thanks

[2021-02-10 13:41] enibache opened #5446 "bitnami/consul helm chart won't install with nfs-provisioner as default"
**Which chart**:
Bitnami/consul helm chart

**Describe the bug**
I can't seem to be able to deploy this helm chart with my custom values.yaml file. The release is created though but the consul pods won't start

**To Reproduce**

1. helm install consul -f <my custom values.yaml provided>
2. kubectl describe po/consul-0
3. volumes can't mount
4.

**Expected behavior**
I expected the consul helm char

[2021-02-10 13:45] ccarv commented on #5441
@javsalgar I deployed in AWS EKS with t3.2xlarger servers. It could very well be the storage but wouldn't standalone installation exhibit similar behavior? Using GP2.

[2021-02-10 13:50] janvaca92 commented on #5413
Would be option to enable remote logging to avoid this issue ?

[2021-02-10 14:27] DiegoGamaV commented on #1279
Hi @juan131, thanks for the reply!

The names of the .jks files are the exact names speficied in the README: `kafka-0.keystores.jks`, `kafka-1.keystores.jks`, `kafka-2.keystores.jks`, `kafka.truststore.jks`. They are being successfully recognized by the brokers (so much that the mTLS between them happen). The problem happens only when the **client** tries to authenticate with its certificate. Agai

[2021-02-10 14:29] mtenrero opened #5447 "[bitnami/kafka] pure IPV6 cluster and metrics exporter causes InvalidReceiveException"
**Which chart**:
kafka (2.7.5)

**Describe the bug**
When the kafka chart is deployed in a pure IPV6 cluster, the kafka pods receives some connections from the sidecar jmx-exporter which are not expected and gets refused. This issue can't get reproduced in a IPV4 cluster.

jmx-exporter container:

[code]
kafka container:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Deploy the chart

[2021-02-10 15:32] bharat15-ml opened #5448 "[bitnami/redis-cluster] How to run backup script as cron job (daily)?"
**Which chart**:
redis-cluster-4.3.1

**Is your feature request related to a problem? Please describe.**
I am trying to run backup-script as a cron job on each pod daily. have tested the backup script working fine on each pod from location [/opt/bitnami/redis/backup-scripts/redis_backup_local.sh].

Wanted to know three things-
1. How I can schedule this script as a cron job on daily basis on each

[2021-02-10 16:03] vovkanaz commented on #5407
Yes, that's correct, I have absolutely the same error, unfortunately. The error is different when you are using different approaches:
So in the case of:
[code]
I have one kind of error.

In a case of:
[code]
I've received error the same as in your case.
But in both cases CrashLoopBackOff for the receiver component :(

[2021-02-10 16:08] alrf opened #5449 "[bitnami/mongodb-sharded] not all metrics are exposed"
**Which chart**:
mongodb-sharded (3.2.10)

**Describe the bug**
Not all MongoDB metrics are exposed, only `mongos` metrics are available through the kubernetes service.

**To Reproduce**
There is `mongodb_mongod_metrics_ttl_deleted_documents_total` metric on `configsvr` and `shards` metrics containers.
From configsvr:
[code]
From shard:
[code]

Then I request the same metric through the service:
[

[2021-02-10 16:13] rickrain opened #5450 "[bitnami/drupal] Site doesn't render correctly when configured with SMB share"
**Which chart**
- helm.sh/chart=drupal-10.2.1
- Image: docker.io/bitnami/drupal:9.1.3-debian-10-r0

**Describe the bug**
When I configure Drupal to mount an SMB File Share PVC for site content and configuration, the site doesn't render (CSS) correctly over http.  However, if I access the site over https, then it does render correctly.

I believe this is related to the SMB share because if I use th

[2021-02-10 16:27] migruiz4 commented on #5440
Hi @avadhanij ,

I think the solution you are looking for is pod [affinity/anti-affinity](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity).

In this case, if you wanted each replica to be allocated in a different host, you'd need to set antiAffinity similar to this:
[code]

The bitnami/redis chart configures your pods by default with the labels `

[2021-02-10 17:12] ashishmgofficial opened #5451 "[bitnami/airflow] Unable to mount the dags folder or logs folder to EFS PV"
**Which chart**:
8.0.3

**Describe the bug**
Not able to mount the dags [ /opt/bitnami/airflow/dags or /opt/bitnami/airflow] as well as logs folder to Amazon EFS . Also no provision for s3 remote logging found in the chart

**To Reproduce**

1. Create PV and PVC as below :
pv.yaml

[code]

pvc.yaml

[code]

2. Create deploy.yaml for providing mount information for each web, scheduler and worker se

[2021-02-10 17:44] syepes opened #5452 "[bitnami/kafka] log4j configuration syntax - 12.7.5"
Hello,

I have been tying to change some of the default log4j config values, but I have not managed to find out what is the exact syntax.  #4181
I am getting the following error:

`Error: template: kafka/templates/log4j-configmap.yaml:15:8: executing "kafka/templates/log4j-configmap.yaml" at <include "kafka.tplValue" (dict "value" .Values.log4j "context" $)>: error calling include: template: no te

[2021-02-10 18:05] ccarv commented on #5441
Looks like I solved my second issue. I was running a `helm uninstall` and subsequently tried to run `helm install`. When the mongo pod came back online, it continued to look for the other nodes in the previous replicaset. Purging the entire installation and setting replicaCount to 1 fixed it.

This begs the question of scaling up and down a replicaset. If one of the primary members was removed, wh

[2021-02-10 18:47] avadhanij commented on #5440
Thanks a ton for spelling it out. I really appreciate it.

[2021-02-10 18:47] #5440 closed

[2021-02-10 18:58] marcosbc commented on #5421
Hi @Andrei-Paul, I agree it's confusing.

After some investigating, I found that this particular parameter is based on the official NGINX Ingress Controller Helm chart as you can see [here](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/controller-daemonset.yaml#L85), with the only difference that it's not parametrized.

It seems like it did once support the

[2021-02-10 19:15] TJM opened #5453 "[postgresql-ha] additional node will not come online (live/readiness probe too aggressive?)"
**Which chart**:
postgresql-ha 6.5.0

**Describe the bug**
We had a problem which caused the second node to restart, but now it will not restart, it is stuck in a CrashBackoff, we think because it is taking too long to replicate the data from the primary.

[code]
... it just stops there every time, no further information.

**To Reproduce**
Steps to reproduce the behavior:

1. Install postgresql-ha

[2021-02-10 19:53] rickrain commented on #5450
UPDATE: I was able to fix the `setfacl` errors shown above by creating a new StorageClass with `UID: 1001` (per the note I found in the documentation), and then deriving my PV and PVC from this StorageClass.  However the original problem still exists with the site not rendering correctly.

[2021-02-10 22:18] ArcticSnowman opened #5454 "[bitnami/discourse] Add support for persistant volume selector to discourse chart pcv.yaml"
**Which chart**:
Discourse

**Is your feature request related to a problem? Please describe.**
Add selector support to the PVC template

**Describe the solution you'd like**
In the values.yaml
[code]
This would generate a selector clause for the PVC.   Similar to what the Postgresql and Redis template do.

[2021-02-11 02:59] iAshishHere commented on #5451
Is your worker pods getting created? If yes, can you share the logs of the worker pod

[2021-02-11 04:33] aravindabiswal commented on #4541
Hi ,

Recently we are also facing this issue in one of our cluster and the issue is intermittent.

Chart: bitnami/rabbitmq
version: 8.5.4

Persistence is disabled in our chart, still we get this issue.
It works fine after restarting the rabbitmq pod in K8s .

When we tried to authenticate inside the container, it throws error.

$ rabbitmqctl authenticate_user admin
Authenticating user "admin" ...

[2021-02-11 05:08] aks-wp commented on #5409
@rafariossaa So that was my question - We already use `customPostInitScripts`  for another purpose and as expected, this runs AFTER the DB has been initialized. In this context, we need this right at the start.  Included logs to clarify.

Also, on a related note, we weren't able to change the permissions on  /usr/local/share/ca-certificates/ to run steps 3 and 4.
There's no problem with updating t

[2021-02-11 06:29] VORUSRIK000 commented on #5226
I did look at this, and it is possible redis is closing idle connections. I checked azure logs for redis resource, but didnt find any errors or message indicating this.
Also, most of the suggestions in the attached thread refer to the code changes related to calling redis cache and setting "health_check_interval". Considering we are using Airflow OOB, assume this is already handled within the fram

[2021-02-11 06:56] ashishmgofficial commented on #5451
My web and Scheduler pods are crashing due to access issue::

upon describing the pods i get this error :

[code]

[2021-02-11 07:02] ashishmgofficial commented on #5451
@iAshishHere

My web and Scheduler pods are crashing due to access issue::

upon describing the pods i get this error :

EACCES: permission denied, open '/.nami/registry.json'
while creating access point in Amazon EFS I tried by following user, group id combos:

POSIX User
User : 1001
Group: 1001

Root directory creation permissions :

Owner User ID: 1001
Owner Group ID: 1001
Permission: 755

POSI

[2021-02-11 07:42] #5385 closed

[2021-02-11 08:19] carrodher commented on #5444
In order to reproduce the issue, can you share with us the values you are using to deploy the chart? In the beginning, you mention some values related to the worker resources and autoscaling, apart from that, as the additional context you're also referring to a different image (with different I mean, not the default one included in the chart). Apart from that, are you doing any extra customization

[2021-02-11 08:28] migruiz4 commented on #5418
Hi @ricoberger and @fzyzcjy,

I have been trying to reproduce this issue using the latest version of the Redis chart but I was unable to.

The pod changing its IP when deleted and the emptyDir causing problems when moving to a different K8S host are good candidates to be the root cause of the problem, thank you for the suggestions.

I have created an internal task to further investigate this issue

[2021-02-11 08:28] Mauraza commented on #5450
Hi @rickrain,

now you fix the error with `setfacl`, could you share again the logs of drupal? Did you change something more apart from the persistence and the external database?

[2021-02-11 08:36] rafariossaa commented on #5424
Hi,
 Thank you for placing your trust in us.
 We will take a look to that chart and see how we can improve ours.
 Could you share which settings are you using when deploying the chart ?

[2021-02-11 08:44] viceice commented on #5424
**values.yaml for redis-ha**
[code]

**deploying with terraform**
[code]

[2021-02-11 08:44] etavene commented on #5360
@juan131

The helm upgrade command try to remove  largest ordinal number (2) in a 3 node cluster. If a node running etcd-1 pod is down, then helm upgrade with replica count 2, might remove etcd2 instance, in that case my cluster will be temporarily unavailable with only one pod running

But I tried your steps
         set up  3-node etcd with local volumes running on different nodes

[2021-02-11 08:44] rafariossaa commented on #5226
Hi,
  I am sorry I don't know that details about airflow. Is this only happening when using SSL ?
  I think it is not a matter of an error in your current deployment but in how it works.
  Did you tried to post the question in airflow forums ? Maybe they can provide some clues.

[2021-02-11 08:51] rafariossaa commented on #5446
Hi,
  Did you face the same issue when using default storageclass ?
  Have you tried to deploy a simple pod using that storageclass ?

[2021-02-11 09:07] #4896 closed

[2021-02-11 09:13] miguelaeh commented on #5437
Hi @Tassatux ,
In that case, with the configuration you provided the flag `--grpc-client-tls-secure` should be the only one set.
I think the issue is that the `/tls/client/ca.pem` will not be created since the `query.grpcTLS.client.ca` is not set, and from the log you shared, it seems that Thanos requires it:

[2021-02-11 09:23] javsalgar commented on #5431
Please let us know if the incident happens again and the reason of the shutdown. We want to avoid issues like that and want to find out the cause of this issue.

[2021-02-11 09:25] rafariossaa commented on #5409
Hi,
  With the current logic it is not possible to run scripts at other points.
  Maybe you would like to create your image and customize `app-entrypoint.sh` .
  For the SSL, Did you try by setting `WORDPRESS_DATABASE_SSL_CA_FILE` [environment variable](https://github.com/bitnami/bitnami-docker-wordpress#user-content-connect-wordpress-docker-container-to-an-existing-database) ?

[2021-02-11 09:30] iAshishHere commented on #5444
Following are the images I am using.
[code]
[code]
[code]
I have used Azure File share to mount my dags
[code]

Rest all to default values.

[2021-02-11 09:31] javsalgar commented on #5441
https://github.com/bitnami/charts/issues/5441#issuecomment-776715491

It may exhibit a similar behavior but if there's a blocking dependency between the nodes (such as a synchronous write or similar), the limitations between the different node storages may become worse. One way to test if it is an issue with the storage is to deploy with persistence disabled and see if the performance is still the

[2021-02-11 09:32] miguelaeh commented on #5448
Hi @bharat15-ml ,

The only wy I can think right now it to add a sidecar container with the cronjob configuration that executes your script and stores the result in a new volume. Check the `sidecars` parameter from the Values.yaml

You can try to use the `extraVolumes` and `extraVolumeMounts` parameters, mount the new volume into the sidecar container and configure the script to store the data int

[2021-02-11 09:34] juan131 commented on #5405
You're welcome @mumbley! I'm very glad you were able to identify the issue
Please don't hesitate to let us know if you require further help.

[2021-02-11 09:37] javsalgar commented on #4541
Hi,

We're trying to reproduce the issue but were unable to do so. Did you check this? https://github.com/bitnami/charts/issues/4541#issuecomment-769686328

[2021-02-11 09:40] juan131 commented on #5432
Hi @mohanagandlla

It depends, what hostname did you use? Is it a custom one? In that case, are you using any solution such as [external-dns](https://github.com/kubernetes-sigs/external-dns) to publish your InfluxDB server on any public DNS server?
If you're using as hostname the one created by Kubernetes for the internal network, it should work.

This article might be helpful for you:

- https://

[2021-02-11 09:45] juan131 commented on #5360
You're right.. If you don't meet the minimal quorum (`(n+1)/2` members up), etcd won't be able to recover the cluster.

That's the reason why we implemented the "disaster recovery" feature, see:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#disaster-recovery

It consists on periodically (you can decide the frequency) create a snapshot of the cluster in a NFS volume. In case the min

[2021-02-11 09:47] javsalgar commented on #5452
Hi,

Thank you for reporting. I will work on fixing it. I will update this ticket as soon as we have more news.

[2021-02-11 09:54] javsalgar commented on #5452
Hi, I created a PR fixing the tplValues issue

[2021-02-11 10:23] Tassatux commented on #5437
This doesn't seem to be the case:

[code]

[code]

I've submited a PR to bring back the old behavior while keeping the new `query.grpcTLS.client.existingSecret` option: https://github.com/bitnami/charts/pull/5457

[2021-02-11 11:19] etavene commented on #5360
But in a 3 node cluster, if one node is down. I can recover the failed node even without diaster-recovery rt ?  How can I achieve that here ?

[2021-02-11 11:24] andresbono commented on #5381
I assume it is not done that way, but I haven't tested it. Most servers need to be reloaded to be aware of new configuration options provided in configuration files. The same should happen if certificates change.

[2021-02-11 12:31] aravindabiswal commented on #4541
@javsalgar ..thanks for the reply . We use the same cookie to deploy , but every time the installation is in a fresh cluster.

[2021-02-11 13:05] bharat15-ml commented on #5448
Thanks Miguelaeh for the info. Coming to the second point, I wanted one more persistent path for backup data, through extraVolumes and extraVolumeMounts that location depends on podlifecycle.

 How I can create one more persistent path to store backup data??

[2021-02-11 13:13] marcosbc commented on #5443
Thanks for creating this issue! I've created an internal task for looking into this issue to determine what is happening. Unfortunately I cannot give an ETA for when we fix it.

[2021-02-11 13:15] marcosbc commented on #5443
https://github.com/bitnami/charts/issues/1513 is also related

[2021-02-11 13:17] marcosbc commented on #5454
Hi @ArcticSnowman, thanks for the suggestion! It seems like a simple feature, would you be up to contributing with a PR to add that feature?

[2021-02-11 13:22] reyerdam opened #5462 "[bitnami/rabbitmq] unable to set tag_queries"
**Which chart**:
bitnami/rabbitmq 8.9.2

**Describe the bug**
setting ldap: tag_queries_management and tag_queries_administrator and vhost acess failed in new format with json errors.

**To Reproduce**
the following advancedConfig:

[code]

1. Line https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml#L276

also the Documentation gives no hint how to deal with the new config f

[2021-02-11 13:27] marcosbc commented on #5413
@janvaca92 That could be an option yes. @jagusztinl could you try it?

[2021-02-11 14:08] Morriz commented on #5412
Well, I have to revisit this, as it does not work as intended. I have to provide `existingSecret` to create one on the fly with that name. Confusing, and not according to the docs.

[2021-02-11 14:08] DiegoGamaV commented on #1279
Oh, now I see. I dont think a client should be able to access the brokers from outside the cluster, while using the brokers' headless service DNS in the SAN of its certificate. I mean, since the headless service DNS is only solvable from the inside. That is probably the cause of the problem.

How could I run a client from the inside passing a certificate and the required configuration to test if i

[2021-02-11 14:11] Morriz opened #5463 "[postgresql] one has to provide `existingSecret` to create one on the fly"
In order to provide passwords so that those do not get re-generated every time, it is now needed to provide `existingSecret` which, according to the docs, should point to a pre-deployed secret, when in fact it is being used to create a secret on the fly.

Sample values:
[code]

[2021-02-11 14:13] Morriz commented on #5463
I had to do a lot to figure this out, and I deem this to be a bug. The docs might be ok, but the workings should reflect those docs.

[2021-02-11 14:17] kaspernielsen opened #5464 "Keycloak chart notes contains invalid information"
**Which chart**:
Bitnami/Keycloak 2.0.0

**Describe the bug**
When deploy keycloak chart. The notes contain

3. Access the Administration Console using the following credentials:
  echo Username: user
  echo Password: $(kubectl get secret --namespace nnnt keycloak-env-vars -o jsonpath="{.data.admin-password}" | base64 --decode)"

When calling this command you get

Error from server (NotFound): sec

[2021-02-11 14:26] rickrain commented on #5450
Hi @Mauraza, here are the logs after I fixed the UID configuration on my StorageClass.  And no, other than externalizing the database, the only other changes to `values.yaml` are the changes I listed above.

[code]

[2021-02-11 14:31] juan131 commented on #5453
Hi @TJM

Correct! It looks like that. You can play with the readinessProbes/livenessProbes default values so you give the new replicas more time to clone the data before they're restarted, see:

- https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/values.yaml#L294

In [this issue](https://github.com/bitnami/charts/issues/4894) we are discussing about possible alternatives such as

[2021-02-11 14:31] #5453 closed

[2021-02-11 14:42] ArcticSnowman commented on #5454
Also as you mount the same volume for both the discourse/sidekiq pods it going to have to be a ReadWriteMany unless we split the mount and do one for discourse and one for sidekiq.

I'll work on a PR..

[2021-02-11 14:52] alrf commented on #5449
I will close it as `podMonitor` can be used.

[2021-02-11 14:52] #5449 closed

[2021-02-11 15:35] addtzg commented on #5418
To be honest two Sentinels are enough to execute failover procedure. It's even described in official manual:
![image](https://user-images.githubusercontent.com/44340531/107659192-30338680-6c87-11eb-9168-87af915dbe6a.png)

[2021-02-11 16:03] ArcticSnowman commented on #5454
PR created

[2021-02-11 16:58] migruiz4 commented on #5451
Hi @ashishmgofficial,

Could you please share your `values.yaml`? I think the issue could be caused by something else, as the file `/.nami/registry.json` is not located inside `/opt/bitnami/airflow` so it should not be affected by the VolumeMount.

Is airflow deployed successfully when not using the EFS extraVolume?

[2021-02-11 17:00] ashishmgofficial commented on #5451
I got it working by changing the User to 1001 and Group to 0 in EFS setting and then changing the User and Group in values.yaml to 0

[2021-02-11 21:53] lusu007 opened #5468 "[Harbor] Set postgres password via secret in harbor"
Unfortunately I have not found a suitable issue template for my question.

I would like to change the default password for the postgres instance that is installed with harbor. Is this only possible directly via values.yaml or also via secret?

[2021-02-11 21:55] gschuager commented on #4910
@mhoshi-vm can you comment on how you worked around this?

[2021-02-12 00:57] aks-wp commented on #5409
Thank you! @rafariossaa That's exactly what we were looking for. Works great and takes care of the steps outlined, including updating the wp-config.php file with SSL related configuration.

`  extraEnvVars:
     - name: WORDPRESS_DATABASE_SSL_CA_FILE
       value: /mnt/certs/cert.pem`

[2021-02-12 00:57] #5409 closed

[2021-02-12 06:36] fam0x opened #5469 "Configurable metrics container port and metrics service port name in MongoDB chart"
**Which chart**:
MongoDB (also Zookeeper)

**Is your feature request related to a problem? Please describe.**
Yes. I need to be able to modify the container port for metrics service and the port name for the metrics service.

**Describe the solution you'd like**
In zookeeper chart we can set values like "metrics.containerPort". Require the same configuration in mongodb.
Also require a "metrics.ser

[2021-02-12 07:07] iAshishHere opened #5471 "[bitnami/airflow] Fail to run a DAGs"
**Which chart**:
[code]
**Describe the bug**
After deploying, I was testing some example DAGs to test their execution, and I noticed that DAG's are failing. And after some time, I am not able to access the Webserver.

![image](https://user-images.githubusercontent.com/29349091/107739095-2153df00-6d2e-11eb-9ecc-41c0e5b880fa.png)

**To Reproduce**
Steps to reproduce the behavior:

helm repo add bitn

[2021-02-12 08:34] carrodher commented on #5464
Thanks for reporting the issue, I just created the above PR fixing it

[2021-02-12 08:42] #5454 closed

[2021-02-12 09:19] mohanagandlla commented on #5432
Ya ok I got it thank you.

[2021-02-12 09:19] #5432 closed

[2021-02-12 09:45] javsalgar commented on #5280
Hi,

So, from what I see, it seems that the semver comparison does not work correctly in some clusters, is that correct? Could you confirm that setting `ingress.apiVersion` works for you as a workaround?

[2021-02-12 09:55] javsalgar commented on #5307
Hi,

Just as you mentioned, currently Ingress would not support the MongoDB traffic. I know that there are some guides to configure HAProxy as a load balancer for MongoDB https://www.programmersought.com/article/92561851648/. With that, I'm not entirely sure if you could configure ingress to access HAProxy and then HAProxy forward to MongoDB. I imagine this could add some extra overhead and, as it

[2021-02-12 10:01] javsalgar commented on #5292
Hi,

Just my 2 cents. I tried it in my side and was unable to reproduce the issue. Let's see if @percenuage was able to reproduce it.

[2021-02-12 10:03] javsalgar commented on #5181
Hi,

Could you share the code of your chaos testing? It would be great for us for the investigation.

[2021-02-12 10:09] harroguk commented on #5181
Unfortunately the tool is  an in house application so cannot be shared (The public equivalent would be [chaos-mesh](https://github.com/chaos-mesh/chaos-mesh) carrying out a pod-kill action.

[2021-02-12 10:10] javsalgar commented on #5336
Hi,

Just on top of my mind. Would it make sense to add an init container that, for the nodes different from the first, perform an initial wait? This could potentially prevent the race condition. Thoughts on that?

[2021-02-12 10:14] javsalgar commented on #4833
Hi,

Could you show the logs of the initialization? That way we could check what's causing the crash.

[2021-02-12 10:21] itspngu commented on #5280
Yep, that's what I did to get past the problem.

[2021-02-12 10:22] javsalgar commented on #5437
Thank you for submitting a PR! We'll take a look :D

[2021-02-12 10:26] javsalgar commented on #5360
Hi,

There's something I don't fully understand. If you are using local volumes, it could happen that an etcd node gets rescheduled to another k8s that does not contain the corresponding PVC. So, for example, in the case of an upgrade, the etcd node 2 could get scheduled to the node where etcd node 3 previously was, causing a conflict with the PVCs. Which is the issue you are finding with the fail

[2021-02-12 10:32] javsalgar commented on #5448
Hi,

I think that using the `extraDeploy` section, you could add the YAML of a cron job that performs the backup to a volume of your choice. You could reference it to an existing PVC or even add the code for deploying the PVC yaml. In the kafka README.md we have an example of how to use the this value. https://github.com/bitnami/charts/tree/master/bitnami/kafka#deploying-extra-resources

The redis

[2021-02-12 10:39] javsalgar commented on #5462
Hi,

Note that the ldap section in the values.yaml is not part of the advancedConfig section. Right now the tag queries is not supported in the chart, but you could try setting it in the advancedConfig section using the expected format. Here you can find an example.

https://www.rabbitmq.com/ldap.html

[2021-02-12 10:42] cwrau commented on #5336
That'd also just be a workaround, as delays can be unpredictable and this also wouldn't be much better than the current workaround

The best way would really be a readinessProbe that doesn't include the initial data-loading database

[2021-02-12 11:02] javsalgar commented on #4541
Hi,

Please let us know the exact set of values that you changed when deploying, let's see if we find the one that's causing the error.

[2021-02-12 11:04] carrodher commented on #5424
Thanks for the info, we already created an internal task to check if there is any missing feature in bitnami/redis-ha Helm Chart that can be added. I just added the `on-hold` label to prevent stale bot from closing this issue while we work on the task.

[2021-02-12 11:04] javsalgar commented on #1279
If you have the secrets, you could deploy a pod that mounts the proper certificates in the container. You could use the bitnami/kafka container overriding the command with, for example, a `sleep infinity`. With that you could enter the pod and perform any internal access. Would that work for you?

[2021-02-12 11:08] #5464 closed

[2021-02-12 11:10] javsalgar commented on #5463
Hi,

Let me see if I understand this correctly. When you specify existingSecret, is it creating a secret with the name `zoomazumzum`? Another option to not regenerate the secret would be providing the `postgresqlPassword` and `replication.password` values.

[2021-02-12 11:14] javsalgar commented on #5450
Hi,

This is very strange. I don't see a reason for working over HTTPS and not over HTTP because of the filesystem. Could it be that you had resources cached in your browser and that's why you see it in HTTPS and not HTTP. My intuition tells me that it should fail in both HTTP and HTTPS if it's because of the filesystem.

[2021-02-12 11:18] #5452 closed

[2021-02-12 11:19] javsalgar commented on #5451
Hi,

Good to know that the issue was fixed :D

[2021-02-12 11:26] javsalgar commented on #5468
Hi,

You could use the `postgresql.postgresqlPassword` section from the postgresql subchart. Check the bitnami/postgresql documentation for the full list of values https://github.com/bitnami/charts/tree/master/bitnami/postgresql

Remember to set the `postgresql.` prefix as it is a subchart in Harbor.

[2021-02-12 11:29] javsalgar commented on #5469
Hi,

Thank you very much for the input. We will work on adding this feature. We cannot guarantee an ETA as it is not a critical feature. However, if you want to speed up the process, feel free to submit a PR and we will review it. Could you explain in more detail your use case, by the way?

[2021-02-12 11:33] carrodher commented on #5444
Although there is not the latest chart with the latest images (the latest one is using the new Airflow 2.X), there is nothing in the values that should affect that.
The autoscaler is configured using the average value, so it is possible if a single pod is using a lot of memory/CPU (more than the value specified as limit), it is going to deploy more pods until reach the maximum, but probably most o

[2021-02-12 11:40] carrodher commented on #5407
The following log suggest like something is not properly formed, but in my case I am not able to see where:
[code]
Can you execute one of the following commands in order to check the format of the generated manifests and k8s objects?
[code]

[2021-02-12 12:21] javsalgar commented on #5471
Hi,

I found something weird when testing the dags. I'm triggering a new build that should update the current helm chart. Let's see if the issues disappear after that.

[2021-02-12 13:46] DiegoGamaV commented on #1279
Hi @javsalgar, thanks for the reply!

Nice idea, I just tried it and was able to try a producer and a consumer, but both to no success. Even with a client inside the cluster I was not able to complete the SSL Handshake to the server. With the **producer**, the error is always the same:

`I have no name!@kafka-client:/$ kafka-console-producer.sh --broker-list kafka-k8s-0.kafka-k8s-headless.default.

[2021-02-12 13:56] olegelantsev commented on #2311
Hi @thomas-riccardi,

If you use aad-pod-identity's helm chart, then it already supports installation of azure identities. See [my comment](https://github.com/kubernetes-sigs/external-dns/issues/1456#issuecomment-778203755) on how to set this up.

However, Bitnami's helm chart has to be extended anyway to support user-assigned managed identity, which is simply adding  `userAssignedIdentityID` attr

[2021-02-12 14:05] lusu007 commented on #5468
I have also seen this variable. My problem is that I am looking for a way to set the password by creating secret. For me, all settings are stored in git and I would not like to have passwords in there, even if it is only the default password.

Normally I would create a sealedsecret and add it as an existingSecret to my helm chart.

[2021-02-12 14:26] rickrain commented on #5450
Hi @javsalgar, I cleared my browser cache.  Even tried new in-private browser sessions.  It didn't change anything.

[2021-02-12 15:18] liquidtoon01 opened #5479 "[bitnami/mysql] helm chart nodeSelector on either primary or secondary doesn't seem to work."
**Which chart**:
The name (and version) of the affected chart

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

Run the values.yaml file with a change to the nodeSelector variable and deploy. Alternatively add --set secondary.nodeSelector.{SELECTIONCRITERIA} to your helm install

**Expected behavior**
helm install with cus

[2021-02-12 15:33] Morriz commented on #5463
But as you can see I did. If I leave `postgresql.existingSecret` empty it will create its own with generated passwords

[2021-02-12 15:34] #5469 closed

[2021-02-12 15:55] javsalgar commented on #5469
Hi,

I just added the feature in both charts. Please let us know if you find any issue

[2021-02-12 16:31] cabaumgartner opened #5483 "[bitnami/kafka] installing chart with NodePort service results in incorrect external advertised listener"
**Which chart**
bitnami/kafka 12.6.2

**Describe the bug**
I am trying to enable external access using a NodePort as described here:
https://artifacthub.io/packages/helm/bitnami/kafka#using-nodeport-services

After using helm to install the chart, if I list the contents of /opt/bitnami/kafka/config/server.properties, the external advertised listener looks incorrect. The hostname is the same as the

[2021-02-13 01:32] corey-hammerton commented on #5181
@javsalgar what he said.

Be advised, we are experimenting with setting `sentinel.staticID` and running similar chaos tests

[2021-02-13 04:57] fam0x commented on #5469
Thanks a lot for adding this feature. It has been really helpful!!

[2021-02-13 05:01] fam0x opened #5485 "Configurable metrics service port name in MongoDB chart"
**Which chart**:
MongoDB

**Is your feature request related to a problem? Please describe.**
Prometheus can be configured to used service port names. So we tend to keep our metrics port names consistent. In the MongoDB chart it is not possible to configure the service port name, it defaults to "http-metrics". We would like to have an option to configure that to something we want, for eg if we may

[2021-02-13 09:25] iAshishHere commented on #5471
When I am not using VolumeMounts, then it's working fine and all the example DAGs are not failing.
But when I am using Mounts then it fails, even though the DAG files are syncing properly.

[2021-02-13 13:24] lusu007 commented on #5191
I have the same problem with my installation. I deployed Harbor into a Managed OVH Kubernetes cluster.
The problem occurs when an update is triggered via Argocd. The version does not even have to be upgraded.

[2021-02-14 06:32] iAshishHere opened #5487 "[Bitnami/airflow] External volume for Logs with Azure File Share causes failure of DAGs"
**Which chart**:
[code]
**Describe the bug**
Mounting of `logs folder` with external volume using `Azure File Share` is not working as expected, whereas, able to mount the external volume for DAGs, Plugins.

**To Reproduce**

helm repo add bitnami https://charts.bitnami.com/bitnami

helm install my-release airflow

Below mentioned is the configuration I am using in my Helm chart.

[code]
Apart fro

[2021-02-14 06:34] iAshishHere commented on #5471
Closing this issue.
After analyzing it thoroughly, I found the problem is in the mounting of LOGs folder with external volume on Azure FileShare.
Raised another issue - #5487

[2021-02-14 06:34] iAshishHere commented on #5471
Closing this issue.
After analyzing it thoroughly, I found the problem is in the mounting of LOGs folder with external volume on Azure FileShare.
Raised another issue - #5487

[2021-02-14 06:34] #5471 closed

[2021-02-14 07:47] vovkanaz commented on #5407
Sure!
helm install thanos --namespace thanos -f values.yaml bitnami/thanos --dry-run
[code]
##Case2:
[code]

[2021-02-14 07:54] vovkanaz commented on #5407
Update!!!. I don't know, what has been changed, but in the latest version, the receiver started working properly. Thanks a lot for your efforts!

[2021-02-14 10:15] tampler opened #5488 "Keycloak admin console login fails"
**Which chart**:
Keycloak chart 2.0.0

**Describe the bug**
I'm able to reach the admin console, but login fails due to invalid credentials:

`
09:46:35,274 WARN  [org.keycloak.events] (default task-3) type=LOGIN_ERROR, realmId=master, clientId=security-admin-console, userId=1c956109-eede-4342-9842-195792332a71, ipAddress=***, error=invalid_user_credentials, auth_method=openid-connect, auth_type=c

[2021-02-14 15:13] ashishmgofficial commented on #5451
Im closing this issue , since it is resolved :)

[2021-02-14 15:13] #5451 closed

[2021-02-14 15:44] deveshk0 commented on #4051
@carrodher I want to add the hidden node functionality to the mongodb chart as it already merged in upstream [bitnmani-mongo-docker](https://github.com/bitnami/bitnami-docker-mongodb/pull/246)

I am little confused how to structure this, I got three options -

1. Create another folder `hidden` like we have arbiter,replicaset,standalone
2. Create a sub folder `hidden` in replicaset
3. Added templat

[2021-02-14 17:43] raefezzeldin opened #5491 "[Bitnami/Airflow] Dags Fail when running using Kubernetes Executor"
I have Enabled the Kubernetes Executor using the following configuration.

![image](https://user-images.githubusercontent.com/1645929/107884296-df2cc800-6efc-11eb-831d-324843f88b83.png)

and I am getting the following error.

![image](https://user-images.githubusercontent.com/1645929/107884307-f66bb580-6efc-11eb-8108-efaaf6832d4b.png)

[2021-02-14 20:21] Yinabled opened #5492 "[Bitnami/Airflow] infinite redirect loop on web UI"
**Which chart**:
bitnami/airflow 8.0.4

**Describe the bug**
The Airflow chart was installed onto our cluster without any additional configuration. Accessing the web UI (via `bitnami-airflow:8080`) results in an infinite redirect loop between the `/` and `/home` paths.

**To Reproduce**
1. Install the Airflow chart in your cluster, without any additional configuration beyond the base config. (We u

[2021-02-14 21:57] grahambunce commented on #5348
@miguelaeh In the end, after multiple uninstalls and reinstalls and leaving it for several hours, the ElasticSearch instance with "in-built" kibana suddenly started working.

The "external" kibana also started working around the same time. However, when I tried to uninstall "in-built" kibana and the external one, everything broke again.

The only configuration that I could get working was "in-buil

[2021-02-14 22:02] grahambunce opened #5493 "[bitnami]/[nginx] Installing with custom config map will not start - invalid PID number "" in "/opt/bitnami/nginx/logs/nginx.pid""
Nginx installed via Helm chart with custom config maps will not start due to error in pod

**To Reproduce**
Install via

[code]

Config map =

[code]

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**

I think this is configured correctly? I'm learning how to use NGINX as a reverse proxy and the github guide is

[2021-02-14 22:52] electrical opened #5494 "[Bitnami/Postgres] Storage class option for master and replica"
**Which chart**:
postgres

**Is your feature request related to a problem? Please describe.**
Currently when using persistence for the data, it's not possible to have a separate storageClass or other settings.
Although size would make sense since it's a 1 to 1 replica, i want to have the master on ceph backed storage, and the replica on local lvm backed storage.
Currently this is not possible

**D

[2021-02-14 23:22] raefezzeldin commented on #5413
@jagusztinl Have you find a solution for that as I a facing the same issue.

[2021-02-15 03:30] echel0n commented on #4342
This is still an issue, extraTls does not work correctly with provided existing secret, would appear that Keycloak instead creates a self-signed cert.

[2021-02-15 05:27] mohanagandlla commented on #5182
HI @FraPazGal The issue is again came these are the logs but noting is there inside the logs these are logs
[code]

server is restarting again and again

[code]

[2021-02-15 07:59] etavene commented on #5360
local storage requires node affinity, Even if node fails, the etcd instance wont get scheduled on other node. It tries to comeup on the same node where it got scheduled previosuly

Here is my node replacing scenario with local volume

kubectl get pvc :
data-etcd-etcd-0                  Bound    etcd-pv1                                 5Gi        RWO            etcdclass        2d18h
data-etcd-etcd

[2021-02-15 08:02] andresbono commented on #5485
Hi @fam0x, would it be the same than `service.portName` but for metrics, right?

https://github.com/bitnami/charts/blob/16b0448fe29543c7892cedddfb3591f339b22485/bitnami/mongodb/values.yaml#L495-L497

Would you like to open a PR addressing the changes? Contributions are more than welcome!

[2021-02-15 08:19] #5437 closed

[2021-02-15 08:26] juan131 commented on #1279
Hi @MrPink

The error below makes me suspect that maybe you're `client.properties` file is not pointing to the path where you mounted the credentials in the container.

[code]

Could you please double check that `ssl.truststore.location` and  `ssl.keystore.location` properties point to the exact paths were the JKS files are mounted?

[2021-02-15 08:50] netdip opened #5495 "Issue in installation of [Grafana/Prometheus]"
When we try to install grafana/prometheus we are getting error.

diptenh:~/kube-vnext(OV-14569/st4-grafana⚡) » helm install grafana -f environment/release4/apps/grafana/values.yaml bitnami/grafana --dry-run                                                    1 ↵
Error: parse error at (grafana/charts/common/templates/_secrets.tpl:84): function "lookup" not defined

----------
diptenh:~/kube-vnext(OV

[2021-02-15 08:52] juan131 commented on #2311
Hi @olegelantsev

Please correct me if I'm wrong but you're suggesting to adapt the "external-dns.azure-credentials" macro to accept a new parameter that allows setting the `userAssignedIdentityID` key, right?

- https://github.com/bitnami/charts/blob/master/bitnami/external-dns/templates/_helpers.tpl#L209

[2021-02-15 08:57] juan131 commented on #5483
Hi @cabaumgartner

That should be fixed in the latest (`12.7.6`) version of the chart. A fix to this specific issue was recently donated by one of our users, see:

- https://github.com/bitnami/charts/pull/5218

[2021-02-15 08:58] xm3n1 commented on #5462
Hi @javsalgar ,
thanks for your hint.
i was just wondered because in the  values yaml it was recommended to set the ldap stuff in the advancedConfiguration https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/values.yaml#L276

[2021-02-15 08:58] alemorcuq commented on #5407
That's great! I will close this issue as solved.

[2021-02-15 08:58] #5407 closed

[2021-02-15 09:02] juan131 commented on #4342
Hi @echel0n

Could you please share the values.yaml you're using to deploy keycloak? Please only share the values that you actually change omitting the ones with default values.
Could you also please let us know the version of the chart you're using?

[2021-02-15 09:03] rafariossaa commented on #5191
Hi,
  Thanks for providing more info.
  Could you check the logs of your pods and look for some errors ?

[2021-02-15 09:11] migruiz4 commented on #5479
Hi @liquidtoon01 ,

Could you please share more details about your issue?

Any error message or a more detailed example of your `helm install` command would be helpful.

In my case, I tried to reproduce the issue using the following command and both `helm template` and `helm install` were executed successfully:
[code]

[2021-02-15 09:14] juan131 commented on #4051
Hi @deveshk0

I'd create a similar structure to the one used for arbiter nodes. I mean, create a `hidden` subdirectory under `templates` and add the manifests below:

- `headless-svc.yaml`
- `statefulset.yaml`
- `pdb.yaml`
- `configmap.yaml`

Just curious: why do you need to provide support for external access to this kind of nodes?

[2021-02-15 09:38] Mauraza commented on #5488
Hi @tampler,

it seems is related to the configuration of Keycloak, could you check this documentation https://www.keycloak.org/docs/latest/server_installation/#verify-configuration?

[2021-02-15 09:38] m-guest opened #5497 "[bitnami/mariadb-galera] mariabackup replication auth credentials visible in log output"
**Which chart**:
mariadb-galera 5.5.1 (also tested with version 5.4.0, but probably more versions affected)

**Describe the bug**
mariabackup replication credentials (username and **password**) are visible in Pod logs.

**To Reproduce**
Steps to reproduce the behavior:

1. Install chart with default settings:
`helm install galera-test bitnami/mariadb-galera`
2. After all startup completed and all

[2021-02-15 09:50] deveshk0 commented on #4051
@juan131 hidden nodes are very good use case for analytical  nodes, so you are not putting analytical workloads on active cluster.

[2021-02-15 10:20] juan131 commented on #5360
Hi @etavene

How did you perform step 6?

- Did you manually create the new pod?
- Or did you scale the statefulset?
- Or did you perform a helm upgrade?

[2021-02-15 10:21] miguelaeh commented on #5468
Hi @lusu007 ,
It seems that it is not possible right now to set the Postgresql password using an existing secret. Would you like to create a PR?

[2021-02-15 10:24] miguelaeh commented on #5487
Hi @iAshishHere ,
It seems to be a permission since I can see the following in your logs:
[code]

Does you volumes have permissions for the user `1001` ?

[2021-02-15 10:27] aleksandra-galara commented on #3474
Hello, I want to report that I've met the same problem.

We cannot change the default ports for redis-cluster from 6379 to 7000. The chart allows it but will not deploy correctly.
The same issue occurs on Kubernetes and Openshift cluster.

**Which chart:**
appVersion: 6.0.10
name: redis-cluster
sources:
- https://github.com/bitnami/bitnami-docker-redis
- http://redis.io/
version: 4.3.1

**Helm & k

[2021-02-15 10:30] miguelaeh commented on #5348
Hi @grahambunce ,
Could you share wich type of cluster are you using?

[2021-02-15 10:31] liquidtoon01 commented on #5479
Hi @migruiz4 I'm trying to have this all in the values.yaml file, when I add the nodeSelector like this it doesn't seem to work;

[code]

[2021-02-15 10:32] miguelaeh commented on #5494
Hi @electrical ,
I am not sure to understand the issue. Isn't this parameter enough to configure the sorage class? https://github.com/bitnami/charts/blob/951c82830ed1b973d43e17c72b51b741bc1e955d/bitnami/postgresql/values.yaml#L405

[2021-02-15 11:09] olegelantsev commented on #2311
Hi @juan131,

That's correct, just passing an extra argument. Here is the [Pull Request](https://github.com/bitnami/charts/pull/5477) for that.

[2021-02-15 11:16] lusu007 commented on #5468
I'll try it in the days, but without guarantee that I get it done 😅😊

[2021-02-15 11:22] electrical commented on #5494
My apologies for not adding a title, I must have overlooked that :-)
The StorageClass option works indeed but it sets it for both the master and replica the same.
You can't configure it in a way that the master uses one StorageClass option and that the replica's use another one.

[2021-02-15 12:29] iAshishHere commented on #5487
@miguelaeh yes

[code]

[2021-02-15 12:42] andresbono commented on #5492
Hi @Yinabled, can you share the specific values that you are using to deploy the chart? In addition to that, can you do queries to the different services and endpoints to see where the redirection loop is happening?

- Endpoint
- Service
- Ingress

To obtain the endpoint and service IPs you can execute:

[code]

Then, you can exec into the airflow web container and do the queries:

[code]

We only

[2021-02-15 12:47] Mauraza commented on #5495
Hi @netdip,

what version of `helm` are you using?
[code]

[2021-02-15 12:55] etavene commented on #5360
I didnt do anything that you mentioned.
I added the new node with the same IP and hostname of the failed node, to the existing K8 cluster using kubespray.  When new k8 node got added, all the stateful set  pod instances which were previosuly running in the failed node, came up automatically.

[2021-02-15 13:32] lusu007 commented on #5191
The logs unfortunately do not contain any errors.

Chartmuseum, Jobservice and the registry itself cant attach the old volume because it isn't detached from the old pod.
![image](https://user-images.githubusercontent.com/10341994/107952756-76942880-6f9a-11eb-9257-564809fb5aad.png)
![image](https://user-images.githubusercontent.com/10341994/107952808-8875cb80-6f9a-11eb-94b9-c57f8c202430.png)

[2021-02-15 13:43] #5479 closed

[2021-02-15 13:44] liquidtoon01 commented on #5479
Looks like I've got it working, I think it may have been an indentation issue. Thanks!

[2021-02-15 14:29] rafariossaa commented on #5493
Hi,
  As that is a template, it should follow this guideline: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/custom-template/.

[2021-02-15 14:44] rafariossaa commented on #5191
Could you check in which node was deployed the "old" pod and in which node is trying to deploy the "new" pod ?

[2021-02-15 15:06] Mauraza commented on #5450
Hi @rickrain,

did you change something in the configuration of Drupal? I found this thread https://groups.drupal.org/node/194543, could you check it?

[2021-02-15 15:06] Forbzy opened #5500 "Securing communication between Kafka client and Zookeeper server"
I've configured both Kafka server and Zookeeper server to use SSL/TLS using the JKS. I've confirmed this using openssl. I'm using Bitnami Helm charts of Kafka and Zookeeper. Below is the log output from Kafka. I'm pretty sure that the Kafka client isn't sending requests to Zookeeper server securely because of the Zookeeper logs. How do I ensure Kafka client uses SSL/TLS. I think the kafka client n

[2021-02-15 15:19] javsalgar commented on #5463
Hi,

Could you specify which exact chart you are using? Are you using the bitnami/postgresql chart or you are using another chart that has the bitnami/postgresql as a subchart? If you are using bitnami/postgresql, then the existingSecret and password sections should not go inside the `postgresql` map.

[2021-02-15 15:23] netdip commented on #5495
Hi

It is helm V3.

On Mon, 15 Feb 2021, 6:17 pm Ibone González Mauraza, <
notifications@github.com> wrote:

[2021-02-15 15:30] krinklesaurus opened #5501 "[bitnami/mongodb] Permission denied using Minikube and volumePermissions set to true"
**Which chart**:
`bitnami/mongodb version: 9.0.0`

**Describe the bug**
I try to run MongoDB locally using the Helm chart on Minikube. The init container to change the permissions of the mounted folder runs with no errors and returns 0, but the ownership remains 1000:1000 instead of 1001:1001. I tried to change the ownership manually running a Busybox container with the same security context as th

[2021-02-15 15:34] javsalgar commented on #5497
Hi,

Thank you so much for reporting. I was able to reproduce the issue. We will work on fixing it. I will update the ticket when we have more details.

[2021-02-15 15:40] lusu007 commented on #5191
Every new pod gets deployed on a new node. So none of the new pods is on the same node as the old ones.

When I add your suggested changes Harbor restarts without any error and without a Multi-Attach error.
But I think Harbor should be able to restart on other nodes too. Or am I wrong?

[2021-02-15 16:00] tampler commented on #5488
Hi, Mauraza

Thanks for your reply. I tried that Keycloak test, but have no idea how it could be helpful. For reference, you can check the test results [here](https://drive.google.com/file/d/1HsNz3T-i5VTU8Q_uzK6iJb7joPdaceN0/view)

Any more ideas?
Thanks !

[2021-02-15 16:19] marcosbc commented on #5413
@raefezzeldin Could you try to enable remove logging like the user mentioned?

[2021-02-15 16:20] echel0n commented on #4342
When setting the following below, it should not create a self-signed certificate, it should be using the certificate provided by the existing secret. But instead, it does create a self-signed cert called keycloak.local-tls

[code]

[2021-02-15 16:22] marcosbc commented on #5491
This is a duplicate issue of #5413:

[2021-02-15 16:37] netdip commented on #5495
Thanks for reply. After upgrading to latest helm version issue has been resolved.

version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVersion:"go1.15.7"}

[2021-02-15 16:37] #5495 closed

[2021-02-15 17:12] grahambunce commented on #5493
@rafariossaa thank you for the link. Unfortunately due to my lack of knowledge that doesn't really help me at all. If I have misconfigured NGINX then I guess my real question is "how to configure the nginx Bitnami Helm chart so I can pass to it the reverse proxy rules... as really is all I'm trying to do.

e.g. This bit:

[code]

[2021-02-15 17:36] bbezak opened #5503 "[bitnami/spark] Spark helm chart does not support setting seLinuxOptions"
**Which chart**:
spark-5.1.2

**Describe the bug**
Spark helm chart does not support setting seLinuxOptions. It is a problem on SElinux enabled k8s nodes, when using shared storage as extraVolumes for spark workers - several workers are not able to access shared PVCs.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy spark helm chart with extra volumes on SElinux enabled k8s nodes
[cod

[2021-02-15 17:56] Morriz commented on #5463
I am using the `kubeapp` chart.

[2021-02-15 18:03] enibache commented on #5446
hi, this storageclass works for other workloads, but this one won't deploy... Simply running the chart without turnning on anything else, it deploys but non of the pod start either. BTW. nfs-managed-storage is my default storageclass.

[2021-02-15 19:09] lusu007 commented on #5468
I just tried something but I dont know how to test my changes. Do you an example how to test probably?

[2021-02-15 19:47] deveshk0 commented on #4051
@juan131 I have added a PR https://github.com/bitnami/charts/pull/5505, I still need to update README.md for variables

[2021-02-15 22:29] #5493 closed

[2021-02-16 07:12] meezaan opened #5507 "mariadb-galera does not bootstrap after failure"
**Which chart**:
mariadb-galera - both 5.5.0 and 5.5.1

**Describe the bug**
When trying to bootstrap the cluster after a crash using values in the YAML, none of the correct env variables are set.

**To Reproduce**
Steps to reproduce the behaviour:

1. Create a values.yml file with the following:
[code]
2. Upgrade the helm chart.
3. SSH into the the helm chart
4. Run ``` echo $NODE_ID```, it's nul

[2021-02-16 08:05] alemorcuq commented on #5182
Hi, @mohanagandlla. I have some questions regarding your issue:

- Did you get those logs with the `--previous` flag? I'm checking if those logs are complete or something else happened causing the restart.
- What version of the chart are you using? Have you tried with the latest version?
- Can you also share the output of `kubectl describe po <your-pod>`?

[2021-02-16 08:06] migruiz4 commented on #5479
Hi @liquidtoon01 ,

I'm glad the issue is now resolved, if you need any further help don't hesitate to let us know.

[2021-02-16 08:10] alemorcuq commented on #5503
Hi, @bbezak.

I have created an internal task to add this feature. I can't provide you with an ETA, but feel free to send a PR and we will gladly review and merge it.

[2021-02-16 08:38] juan131 commented on #4051
Yes, I understand why this kind of nodes are useful. I was more curious about the reasons to expose them externally (out of the cluster).

Great! It will be assigned to some of the maintainers and be reviewed soon. Thanks so much

[2021-02-16 08:46] menevs opened #5508 "[bitnami/mongodb] ReplicaSet not initialized when using NodePort and externalAccess is enabled"
**Which chart**:
bitnami/mongodb 10.7.0

**Describe the bug**
When MongoDB tries to initialize a replicaset it uses the value set in $MONGODB_ADVERTISED_HOSTNAME. Using NodePort  for external access results in
[code]

Regardless of using autodiscovery or not, setting externalAccess.enabled=true and using NodePort won't create a working mongo replicaset. externalAccess.enabled=false will create a w

[2021-02-16 09:06] lorenzo-biava opened #5509 "[bitnami/thanos] Option to run Thanos Compactor as CronJob"
**Which chart**:
Thanos (latest) v3.9.0 +

**Is your feature request related to a problem? Please describe.**
The Compactor is run as a deployment. While this is a convenient way to run it, it's not necessarily efficient from a resource usage point of view. For instance, with our dataset, compactions for longer intervals (e.g. 7/14 days) require a significant amount of memory (20-40GB) and only ha

[2021-02-16 09:10] juan131 commented on #5360
Oh! I see, thanks for the explanation.

Something must be failing when running the `etcdctl member add ...` command below:

- https://github.com/bitnami/charts/blob/master/bitnami/etcd/templates/scripts-configmap.yaml#L148

And.. as you mentioned before, it's very likely to be related with the `ETCD_INITIAL_CLUSTER_STATE` environment variable. What happens if you repeat the process but doing a `he

[2021-02-16 09:14] javsalgar commented on #5463
Hi,

I checked the kubeapps chart, and I see this

[code]

In this case, my advice would be to check with the kubeapps team (as we are only mirroring the kubeapps chart here). https://github.com/kubeapps/kubeapps/issues

[2021-02-16 09:20] mohanagandlla commented on #5182
Hi @alemorcuq these are the logs for pervious server
[code]
and the version is
[code]

while i am trying to update the imflux from 1.8 to 2.0 it is troughing some errors
[code]

[2021-02-16 09:22] miguelaeh commented on #5468
To test the changes you will need to create the secret, and then install the local chart using something like the followiing:
[code]

That command should be executed from the chart directory that's why I used `.`, you can also execute it from other directory changing the `.` by the path.

Then connect to PostgreSQL and check that the password is the one inside the secret you previously created

[2021-02-16 09:23] juan131 commented on #4342
Hi @echel0n

Could you try applying the change below to your **values.yaml**?

[code]

I think that should make the trick, since it will disable the auto-generation of the self-signed certificate, and it will try associate the hostname `keycloak.local` to the existing secret named `ssl-tls`.

[2021-02-16 09:24] miguelaeh commented on #5468
Hi @lusu007 ,
Thank you very much for the collaboration.
To test the changes you will need to create the secret, and then install the local chart using something like the followiing:
[code]

That command should be executed from the chart directory that's why I used `.`, you can also execute it from other directory changing the `.` by the path.

Then connect to PostgreSQL and check that the passwor

[2021-02-16 09:26] miguelaeh commented on #5494
Hi @electrical ,
Thank you for the clarification, that seems to not be supported, would you like to acreate a PR adding that change? We will really appreciate it

[2021-02-16 09:30] juan131 commented on #5507
Hi @meezaan

Your values.yaml should look like this instead (please note you were missing the `galera` level):

[code]

---

Are you also passing the `rootUser.password`, `db.password` and `galera.mariabackup.password` parameters when upgrading the chart? Please note you could face credentials issues if you don't use the same ones that were used during the 1st installation of the chart. Find more

[2021-02-16 09:31] andresbono commented on #5509
Hi @lorenzo-biava, thank you very much for suggesting this feature! I think having the option to run Compactor as Deployment or Cronjob makes sense, and as you point, Compactor supports both modes.

That would be great! Contributions are more than welcome. Please link this issue into the PR for reference. We will be happy to review it :+1:

[2021-02-16 09:31] juan131 commented on #2311
Great @olegelantsev !! I just saw that @alemorcuq reviewed it
Thanks so much for the PR!

[2021-02-16 09:33] miguelaeh commented on #5487
Hi @iAshishHere ,
In some platforms the `fsGroup` does not work properly to change the volume permissions. I am not sure if this could be one of those cases, could you try adding an extra init container by setting `initContainers` to change the volume permissions? That init container should mount the same volume and perform the `chown` to the user `1001`.

Before that you can also try to mount the

[2021-02-16 09:58] andresbono commented on #5500
Hi @Forbzy, can you share the `values.yaml` that you are using to deploy the charts? Did you check this section in the README? You might find some information there to help with your issue:

https://github.com/bitnami/charts/tree/master/bitnami/kafka#enable-security-for-kafka-and-zookeeper

[2021-02-16 10:36] meezaan commented on #5507
yes @juan131 they're all in the file, it's the same file I use to startup the cluster when I created it. I just uncommented these lines. There's no issue with the credentials. If I set the safe to bootsrap env var in the pod, then it works, but the YAML file is not read by the chart (and perhaps passed to the template in the right place), it would seem.

I have not debugged yet but just ran into t

[2021-02-16 11:09] Mauraza commented on #5488
Hi @tampler,

did you try to create a topic in https://keycloak.discourse.group/? I think that the question is related to the application itself

[2021-02-16 12:06] Forbzy commented on #5500
Hi Andres
Thanks for the assist. Here is my values.yaml. I've followed the documentation best I could but there is still something I'm not understanding.

Kind Regards

James

________________________________
From: Andrés Bono <notifications@github.com>
Sent: 16 February 2021 09:59
To: bitnami/charts <charts@noreply.github.com>
Cc: James Forbes <james_forbes@live.co.uk>; Mention <mention@noreply.g

[2021-02-16 12:15] migruiz4 commented on #5280
Hi @itspngu ,

Could you please confirm what version of `bitnami/common` are you using?

I have been testing this corner case, and the only circumstance where I was able to reproduce this issue was reverting `bitnami/common` to a version prior to this change https://github.com/bitnami/charts/commit/22ab07ac7d39d4153cc839de2b714086e99cfc04 (1.3.1)

With the latest versions of `bitnami/common` this

[2021-02-16 12:22] migruiz4 commented on #5336
Hi @cwrau ,

I'm sorry for the late response.

At the moment this chart does not include built-in mechanisms to dynamically wait for the initial data to be loaded.

I have created an internal task to develop this feature request. We will come back to you as soon as we have news.

Meanwhile, feel free to send any contribution you consider. We will be glad to review and merge it.

[2021-02-16 12:26] cwrau commented on #5336
Thanks! I'll be looking forward to it!

[2021-02-16 12:59] migruiz4 commented on #5462
Hi @xm3n1 ,

The list of available ldap settings in values.yaml is the following:

Parameter | Description | Default
-- | -- | --
ldap.enabled | Enable LDAP support | false
ldap.servers | List of LDAP servers hostnames | []
ldap.port | LDAP servers port | 389
ldap.user_dn_pattern | Pattern used to translate the provided username into a value to be used for the LDAP bind | cn=${username},dc=example

[2021-02-16 12:59] tlperini commented on #4553
Hi.
And what about making it possible to disable any service ports we might need to disable? Such as http-stats or metrics.
This would be nice and useful to prevent unwanted external access to sensitive data when the service is public.
I think the solution would be the same...

[2021-02-16 13:11] olegelantsev commented on #2311
@juan131 you are welcome! Thanks for quick review and merge :-)

[2021-02-16 14:08] iAshishHere commented on #5487
Yes, they are using `1001`. Please see the below screenshot
![image](https://user-images.githubusercontent.com/29349091/108073811-7a08dc00-708e-11eb-9665-52013ad65a75.png)

[2021-02-16 14:19] meezaan commented on #5507
@juan131 if it helps, here is the complete file:

[code]

[2021-02-16 14:56] Morriz commented on #5463
Ah, of course. Thought this was upstream already.

[2021-02-16 14:56] #5463 closed

[2021-02-16 16:29] lusu007 commented on #5468
That's what I did. But I got an error that my Chart dependencies were not found.
If you need I can provide more information in a few days.

[2021-02-16 16:31] felixep opened #5514 "Add ingressClassName field for newer version of K8s"
**Which chart**:
WordPress

**Is your feature request related to a problem? Please describe.**
Could you please add compatibility with K8s 1.18+ by adding the ingressClassName field to the ingress definition. For more information you can check [here](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/)

This can be done by adding an extra parameter to the valu

[2021-02-16 17:13] rafariossaa commented on #5501
Hi,
  Have you tried changing `runAsUser` and the `fsGroup` ?
  If you run minikube without the mount options it should be working ok, I guess this is a mismatch between the user who owns the directory used as storage and the user that runs the container.

[2021-02-16 17:17] rafariossaa commented on #5191
The volumes are related to a node, because is the node the one who provides this storage space to the container. If the container starts in other node, it can not found its storage space. More info on this [topic here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#introduction).

[2021-02-16 17:21] rafariossaa commented on #5446
Could you provide the error you got when describing the pod ?

[2021-02-16 17:22] krinklesaurus commented on #5501
Hi @rafariossaa ,
yet, tried different `runAsUser` and `fsGroup` settings, no success. Also setting user id or group id when mounting with Minikube did not work. But you're right, if I omit the minikube mount option it's working fine. I will stick with this workaround since the mounting to a host path is not crucial for me. Thanks for looking into this. I'll close the ticket

[2021-02-16 17:22] #5501 closed

[2021-02-16 18:04] lusu007 commented on #5191
Okay, that makes sense. So actually the old pods should be stopped before the new ones start or not?

[2021-02-16 18:30] #5417 closed

[2021-02-16 18:34] marcosbc commented on #5508
Hi @menevs, it seems this is related to #4073. We have an internal task where we're tracking this issue but unfortunately we haven't made any progress yet. I'll add a note that it is also happening here.

[2021-02-16 18:39] marcosbc commented on #3474
Hi @aleksandra-galara, could you share the contents of the `/opt/bitnami/redis/etc/redis.conf` file inside the Redis Cluster pod?

Note that [in `templates/configmap.yml` we are hardcoding the port to 6379](https://github.com/bitnami/charts/blob/master/bitnami/redis-cluster/templates/configmap.yaml#L105) so you would also need to update that value.

[2021-02-16 21:30] Yinabled commented on #5492
Thanks @andresbono. The specific values used when deploying the chart are the default chart values, except for `"service.type=ClusterIP"`. Here's our Airflow `helm_release` Terraform configuration (the `set` blocks correspond to `--set` arguments when installing the chart):
[code]

Additionally, I tried each of the queries you mentioned. `curl`ing Airflow from within the cluster (both hitting the

[2021-02-16 22:09] rickrain commented on #5450
Hi @Mauraza, no changes to Drupal.  I'm going to redeploy to a new/clean cluster to see if that helps.  I'll report back here afterwards.  Thanks for your help.

[2021-02-17 00:03] Majen commented on #4833
The pod even got killed by the liveness probe at 300s initialDelay. Further investigation revealed that we had a performance degradation on our storage backend. After fixing this, the pods now show the behaviour that @FraPazGal originally asked me about (pods don't come up properly with `usePasswordFile: true` in the latest chart version. I didn't experience this issue with `6.0.0` but can reprodu

[2021-02-17 02:16] Yinabled commented on #5492
I ended up resolving this issue by switching to the [airflow-helm implementation](https://github.com/airflow-helm/charts/tree/main/charts/airflow) since I was familiar with how to set the Airflow config via values, and then setting `ENABLE_PROXY_FIX=True` on that chart. However, I'd like to use Bitnami's chart since it seems more consistently-maintained - how would I go about enabling this setting

[2021-02-17 04:06] mohanagandlla opened #5519 "[bitnami/influxdb] timeout reached before the port went into state "inuse""
Hi team,
I am facing this issue while the pod is getting started
[code]
and the influxdb version is 1.8
when i was trying to upgrade or install the new instance to 2.0 it is showing like
my helm version is 2+

[code]

[2021-02-17 04:23] mohanagandlla commented on #5519
sorry i found i missed the required field in the yaml deployment file DB is connecting but still getting the upgrade error as well as
#5182

[2021-02-17 05:15] echel0n commented on #4624
Any further progress or timeline as to when this will be completed?

[2021-02-17 06:43] echel0n commented on #4342
Well, that did the trick, thank you, kind sir!

[2021-02-17 07:55] andresbono commented on #5500
Hi @Forbzy, sorry I can't get the `values.yaml`. Maybe attachments in the mail are not shared in the GitHub issue?

[2021-02-17 08:01] andresbono commented on #4553
Thanks for submitting the PR, @tlperini. Our team will review it.

[2021-02-17 08:29] juan131 commented on #5507
Hi @meezaan

Could you do a test cloning the repo and using `helm template`? Just to doublecheck Helm is recognising your values, for instance:

[code]

[2021-02-17 08:32] juan131 commented on #4342
Great! I'm glad you could solve it! Don't hesitate to let us know if you require further help.

[2021-02-17 08:38] rafariossaa commented on #5191
As it is a Rolling Update, it will stop the old ones once the new ones are running. This is the way you get the issue, because to run the new ones the volumes need to be mounted but as they are in a different node, and it can not be done.

[2021-02-17 08:41] rafariossaa commented on #5501
HI @krinklesaurus ,
  I am happy you were able to find a solution for this.

[2021-02-17 08:44] shivakumar-p-sap opened #5521 "Helm repo Issue for postgresql"
Describe the bug
Getting the error as below

Error 1:
Error: looks like "https://charts.bitnami.com/bitnami" is not a valid chart repository or cannot be reached: read tcp xx.xx.xx.xx:51789->xx.x.xx.xxx:443: wsarecv: An existing connection was forcibly closed by the remote host.

Error 2:
Error: parse error at (postgresql/charts/common/templates/_secrets.tpl:84): function "lookup" not defined

Err

[2021-02-17 08:51] miguelaeh commented on #5487
That's the user running the process not the directory permissions. To check the directory permissions you need to execute, for example `ls -l <dir>`

[2021-02-17 08:52] miguelaeh commented on #5468
aah, you need to execute `helm dependencies update` from the chart directory before be able to install it to fetch the subcharts.

[2021-02-17 08:53] miguelaeh commented on #5521
i @shivakumar-p-sap ,
Could you share your Helm version? The `Error 2` is due to anold version, so probably the rest too

[2021-02-17 08:53] migruiz4 commented on #5514
Hi @felixep ,

Thank you for your suggestion. I have created this PR adding this feature: https://github.com/bitnami/charts/pull/5522

I changed it slightly to keep backward compatibility and to make it easier to apply this change to other charts in the future.

By default, the `ingressClassName` will be empty as according to Kubernetes documentation it is only mandatory when more than one default

[2021-02-17 08:55] Mauraza commented on #5450
Hi @rickrain, I hope this try works.

[2021-02-17 09:01] #4553 closed

[2021-02-17 09:02] shivakumar-p-sap commented on #5521
Hi Miguelaeh,
                     This is the version
version.BuildInfo{Version:"v3.0.3", GitCommit:"ac925eb7279f4a6955df663a0128044a8a6b7593", GitTreeState:"clean", GoVersion:"go1.13.6"}

Regards
Shivakumar P

[2021-02-17 09:44] andresbono commented on #5492
If you want to set that, you should be able to use the following parameter in your values: `web.extraEnvVars`.

https://github.com/bitnami/charts/blob/1b3b6ea089dfa8239bce9011f5490db2148806e6/bitnami/airflow/values.yaml#L121-L123

In yaml, it would be:

[code]

You can check if it is enabled by executing:

[code]

For reference:
- https://airflow.apache.org/docs/apache-airflow/stable/configuration

[2021-02-17 10:09] andresbono commented on #4624
Hi @echel0n, no progress so far, I'm afraid. The task is still in our backlog and I cannot guarantee an ETA due to different priorities of our engineering team.

[2021-02-17 10:43] sveba opened #5523 "[btinami/kafka] Combination of Zookeeper with jaas-SASL and client with mTLS not possible"
This block is dependent from settings for client and interbroker protocol.
https://github.com/bitnami/charts/blob/ec76369dec2948a2b14e5a05b6156ff75384b389/bitnami/kafka/templates/statefulset.yaml#L225-L235

This makes the usage of ZK with SASL (Username + Pass) in combination with client/interbroker mTLS not possible

[2021-02-17 11:02] migruiz4 commented on #4833
Hi @Majen ,

Thank you for reporting this issue, I have created this PR #5525 that fixes the problem when using `usePasswordFile: true`.

[2021-02-17 11:06] lusu007 commented on #5468
Ah okay thanks! I will try it tomorrow.

[2021-02-17 11:11] noe-charmet opened #5526 "[bitnami/redis-cluster] init job labels same as pods"
**Chart**:
redis-cluster @ 4.3.1

**Bug**:
The pods managed by the StatefulSet as well as the Job used to initialize the cluster share some common labels. These labels being the ones that are used as selector by other resources.

This causes confusion on some resources and unexpected behaviors. For now I have identified:
- The init Job is seen as being a children of the StatefulSet as  its selecto

[2021-02-17 11:49] DiegoGamaV commented on #1279
Hi @juan131

I understand and it would make sense, but `config.properties` does point to the right path. I mounted it on a volume called `credentials`, and passed the correct value to their addresses. The configuration is the one below:
[code]
Regarding the error, I tried to misinform the path intentionally to see if the error persisted, but it is different. This is the error that occurs when the

[2021-02-17 12:16] StanleyP opened #5527 "https://charts.bitnami.com/bitnami access denied"
Hello,

I am getting access denied on bitnami chart repo https://charts.bitnami.com/bitnami:

[code]
3 hours ago it was still working.

Is it an outage? Or change of endpoint? Thanks for any info, currently our CI/CD builds are blocked.

[2021-02-17 12:18] iAshishHere commented on #5487
This issue was fixed when I added the mount options.
**docs** - https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#mount-options

[code]

[2021-02-17 12:18] #5487 closed

[2021-02-17 13:23] etavene commented on #5360
@juan131
I havent yet tested it as per your suggestion. But my doubt is, if i do helm upgrade, there is a possiblity that my cluster will be running with only one instance for sometime.

`//In theory, in this case, when the k8 node is added again, the pod should be created with ETCD_INITIAL_CLUSTER_STATE=existing and it should be able to join the cluster.//`
This is not happening,  The should_add_

[2021-02-17 14:03] iAshishHere commented on #5444
Autoscale works fine when I am using the latest images (i.e. 2.X).
However, I want to know the normal Memory consumption of a worker pod when there is **no workload running.**
In my case, the memory consumption of a worker pod when there is no worker running is:  `920 Mi - 999 Mi`. Is this normal behavior?

[2021-02-17 15:08] andresbono commented on #5519
Hi @mohanagandlla, thanks for opening this issue. I understand that this one is resolved and you will continue the conversations in #5182 to resolve the upgrade one, right? Let me know if not and I will reopen it. Thanks!

[2021-02-17 15:08] #5519 closed

[2021-02-17 15:32] whgibbo commented on #5033
I'm still seeing this this issue with version 12.6.0 -> 12.7.4

[code]

[2021-02-17 15:44] Majen commented on #4833
Great, the PR fixes the problem with `usePasswordFile: true` in my deployment!

I'm still getting the original issue with the `conninfo` disclosing the password in the logs though as confirmed by @FraPazGal:

[2021-02-17 16:30] ArtemChekunov commented on #4593
what's the point to have the option then **operator.enabled=false** ?

[2021-02-17 19:11] adrianovieira opened #5532 "Grafana ldap.enabled=true doesn't setup grafana.ini"
**Which chart**:
The name (and version) of the affected chart
grafana-5.2.3

**Describe the bug**
A clear and concise description of what the bug is.

Even when I set `ldap.enabled: true` on my own values it doesn't setup `grafana.ini`. It remains like:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. set you ldap values, e.g.:
[code]
2. helm install ... e.g.:  `helm install grafana

[2021-02-17 22:13] robinsomarajv opened #5533 "Integrate with Auzre AD for identity management"
How to configure the helm charts to pass the Azure AD identity management properties for Spring cloud dataflow

Chart: spring-cloud-dataflow-2.4.2

Unable to pass the identity management values and no description available

[2021-02-18 00:21] aks-wp opened #5535 "[bitnami/wordpress] Mounted files are corrupted when using Ubuntu18 with Apache"
Issue:

We recently upgraded our Azure Kubernetes clusters to v18 which uses Ubuntu18 and our Wordpress image uploads stopped working. In troubleshooting with MSFT support, looks like the issue boils down to this bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=900821

The following solution in that thread appears to be a reasonable workaround.

alternate workaround should be to set EnableMMA

[2021-02-18 02:37] thomaswmanion commented on #4912
I see the same thing. Any ideas?

[2021-02-18 05:05] aks-wp commented on #5535
Hi @rafariossaa, looks like a custom httpd.conf can be set based on https://github.com/bitnami/bitnami-docker-apache#full-configuration. If there is a way to update one specific field that might be ideal but if a custom file needs to be used, I see the error
EROFS: read-only file system, open '/opt/bitnami/apache/conf/httpd.conf'

[2021-02-18 05:07] tardich opened #5536 "metallb"
**Which chart**:
metallb, version 2.3.0

**Describe the bug**
helm template fails

- in servicemonitor.yaml: still refers heavily on .Values.prometheus.serviceMonitor, which was moved
- in service-accounts.yaml: include metallb.labels: Has disappeared from _helpers.tpl

**To Reproduce**
Steps to reproduce the behavior:

1) helm template metallb .

**Expected behavior**
helm template should print a

[2021-02-18 05:22] #5536 closed

[2021-02-18 05:23] tardich commented on #5536
Got files from previous version. Cleaned up

[2021-02-18 06:40] gkulkarni32 opened #5537 "solr deployment fails when trying to install it with exporters"
**Which chart**:
bitnami/solr

**Describe the bug**
When I try to deploy the solr chart with exporters, it fails.

**To Reproduce**
Steps to reproduce the behavior:

1. Run : `helm install dp -n dp  bitnami/solr --set authentication.enabled=false,exporter.enabled=true`
2. See error: ```Error: Deployment.apps "dp-solr-exporter" is invalid: spec.template.spec.containers[0].livenessProbe.successThres

[2021-02-18 07:52] edikmkoyan opened #5538 "Error executing 'postInstallation': ENOSPC: no space left on device, mkdir '/opt/bitnami/airflow/tmp'"
**Which chart**:
The name (and version) of the affected chart 8.0.4 - Feb 12, 2021

**Describe the bug**
The scheduler and the web are not being Initialized due to small amount of disk space.

**To Reproduce**
helm install airflow

[2021-02-18 08:58] juan131 commented on #1279
Hi @DiegoGamaV

That looks like sth is wrong in your certificates. Honestly, I don't know exactly what is wrong with them, but I'm pretty sure that there's something not compatible with kafka.

Could you try to generate them using a Bitnami Kafka container? Just to ensure you're using the same OpenSSL version and there are no compatibilities or sth like that.

You can do sth like this:

[code]

Th

[2021-02-18 08:58] miguelaeh commented on #5521
Could you try to update it just in case?
[code]

[2021-02-18 09:00] #5503 closed

[2021-02-18 09:08] miguelaeh commented on #5487
Thank you for sharging the solution @iAshishHere ,
Have in mind `0777` are the most permissive mode, I would try to at least remove writing permissions for others with `0775`

[2021-02-18 09:10] miguelaeh commented on #5033
Hi @whgibbo ,
Please try to update your Helm version since the error appears with 3.0.x and 3.1.x

[2021-02-18 09:12] javsalgar commented on #5527
Hi,

I just tried again and it seems to work now, I imagine it was something transient. Could you please check again?

[2021-02-18 09:13] StanleyP commented on #5527
Hello, yes, I can confirm that is works.

[2021-02-18 09:13] #5527 closed

[2021-02-18 09:14] javsalgar commented on #4593
It could be used for deploying a Prometheus object or Alertmanager object in case you already have the operator deployed in the cluster.

[2021-02-18 09:16] javsalgar commented on #5535
Hi,

Could you show the full logs to know the point where the error appears?

[2021-02-18 09:49] miguelaeh commented on #4912
Hi @thomaswmanion ,
Are you persisting the data? The first discourse installation is very slow so in case you are not persiting the data the application will be reinstalled with each restart

[2021-02-18 09:50] juan131 commented on #5360
You can play with the `statefulset.updateStrategy` and `statefulset.rollingUpdatePartition` parameters to adapt how the statefulset replaces existing pods with new ones, so you ensure there are always two pods up and reayd.

The new pod re-added to the node is created with an empty data directory, right?

[code]

It shouldn't reach the point where `should_add_new_member` is called, but execute the

[2021-02-18 09:58] alemorcuq commented on #5523
Hi, @sveba. Do you mind elaborating a bit? I'm afraid I don't understand the issue with that block.

[2021-02-18 10:06] sveba commented on #5523
sure,
the problem is that the Zookeeper auth block depends from the https://github.com/bitnami/charts/blob/ec76369dec2948a2b14e5a05b6156ff75384b389/bitnami/kafka/templates/statefulset.yaml#L213

So if you need a SASL (Username:Pass) between the brokers and the zookeeper you **must** use SASL for the client or the interbroker communication.

I have the case that I use mTLS for the client and the in

[2021-02-18 10:18] ashishmgofficial commented on #3533
@juan131 I have mounted the requirements.txt and it seems to install the dependencies in the scheduler container but the workers complain that the module is not found. Any help ?

[2021-02-18 10:48] ashishmgofficial commented on #2588
@javsalgar The requirements.txt is working great in scheduler but the in worker pods im getting module not found error ? Anything im missing ?

[2021-02-18 10:58] ashishmgofficial opened #5539 "[Bitnami/Airflow] : PIP install not working in worker pods"
I have mounted the requirements.txt . I can see pip dependencies getting installed in the scheduler logs . But in the Worker pods im getting ```module not found error```

[2021-02-18 11:10] miguelaeh commented on #5532
Hi @adrianovieira ,
I have been able to reproduce the issue. Indeed there are not log related to LDAP after signin. I will create an internal task to check it in deeper.
Thank you for reporting.
Regards

[2021-02-18 11:20] mohanagandlla commented on #5182
Hi team any updates here

[2021-02-18 12:00] alemorcuq commented on #5182
As there is nothing in the logs indicating a failure, I think the restarts are most likely caused by the liveness probes, but I don't know why. Perhaps you can try playing a bit with the probes (disabling/increasing the time) to see if it's actually because of the probes.

Regarding the upgrade issue, I assume you are not using Helm 3.1+. This is the minimum Helm version required for the chart.

[2021-02-18 12:09] chromafunk opened #5541 "[Bitnami/ElasticSearch] How can I run only one replica per node ?"
**Which chart**:
[Bitnami/ElasticSearch] 14.2.1

Is it possible to run only one replica of coordinating / master / data nodes, only ONE replica per node ?

Right now by default I am getting two replicas stuffed on the same node, and it's killing my resources. I have 3 worker nodes and I would like to run only one of each per worker node on the cluster.

Any hints on how to achieve this would be gr

[2021-02-18 13:04] donofriov commented on #5032
I'm on helm 3.5.2 and still getting the error:

[code]

Is there anything else that I need to update?

[2021-02-18 13:23] tom-schoener commented on #5164
We have the same problem with our sentinel setup.
That's our config:

[code]

We can reproduce the issue by deleting the master pod. We noticed that the second redis node still tries to connect to the old master server, in this case `10.0.0.15:6379`:

[code]

The new redis node, that starts after we deleted the master pod, now logs:

[code]

Indeed, the server at 10.0.0.15 does not exist anymore.

[2021-02-18 13:41] aariacarterweir commented on #5347
I'm seeing this happen too on a local kind cluster, as well as on GKE

[2021-02-18 13:53] aariacarterweir opened #5543 "redis + sentinel master pod reschedule / deletion results in two masters"
**Which chart**:
bitnami/redis 12.7.4

**Describe the bug**
If the master pod is rescheduled / deleted manually, a new master is elected properly but when the old master comes back online it elects itself as a master too.

**To Reproduce**
Steps to reproduce the behavior:

1. Install chart
[code]
1. Delete master pod
2. observe failover correctly happening and new master elected
3. when deleted po

[2021-02-18 14:02] aariacarterweir commented on #5543
Note this is on 12.2.3 because that's the only version of the chart i can get working that doesn't initialise all instances as masters, as per #5347

[2021-02-18 14:04] DiegoGamaV commented on #1279
Thanks, @juan131 !!

Yes, you were right. The generation was wrong due to not using `-keyalg RSA`, since I was following [@anoopl gist](https://gist.github.com/anoopl/85d869f7a85a70c6c60542922fc314a8). After I noticed that and recreated the certificates, I was able to finally connect with both internal and external clients.

I created an [updated version of his gist](https://gist.github.com/anoopl

[2021-02-18 14:11] mailtobash opened #5544 "Airflow: Connections and variables in the charts values"
The airflow/stable version has support for `connections` and `variables` to be passed to it [as per the chart here](https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/scheduler/scheduler-deployment.yaml) but the current version of bitnami charts seem to be missing it.
Any guidance on how this can be configured when deploying the chart would be great.

Example how can I perfo

[2021-02-18 14:30] Majen commented on #4833
Just wanted to note that the original issue isn't resolved yet, therefore this ticket should be reopened.

[2021-02-18 14:33] Mauraza commented on #4833
Hi @Majen,

I just reopen the issue, we keep working in:

   just taking the content of said file and passing it to repmgr.conf as part of conninfo and not as explained in the repmgr
  documentation.

[2021-02-18 15:03] andresbono commented on #5538
Hi @edikmkoyan, it looks like the node where the pod is deployed is running low in disk space. Could you check that?

[2021-02-18 15:33] wittydan opened #5545 "Joomla Kubernetes on Digital Ocean"
I am trying to get joomla setup with Kubernetes on Digital Ocean. I keep running into the same error after running "helm install my-release bitnami/joomla." The error says "Kubernetes cluster unreachable: Get http://localhost:8080/version?timeout=32s": dial tcp 127.0.0.1.8080: connect: connection refused."

[2021-02-18 15:47] alemorcuq commented on #5533
Hi, @robinsomarajv.

I'm afraid that is not possible at the moment. I'm going to create an internal task to add this feature, but unfortunately I can't give you an ETA. In the meantime, feel free to create a new PR and we will gladly review it.

[2021-02-18 16:45] #5537 closed

[2021-02-18 16:45] Cellebyte commented on #5032
@donofriov just check which common version is deployed.

[2021-02-18 16:46] marcosbc commented on #5537
Thanks for reporting @gkulkarni32! We just fixed this in #5548. For now, to workaround this while the new chart is released, you could deploy with `--set exporter.livenessProbe.successThreshold=1`.

[2021-02-18 16:50] marcosbc commented on #5444
Well, I assume there is a service running in the pod, right? Note that Airflow is a big application and 1GB of usage is not too much if the application detects that it could reserve that memory. If you find it getting to higher values (i.e. 2GB+) then it would make more sense to be a memory leak issue.

[2021-02-18 16:52] haghabozorgi opened #5549 "[bitnami/thanos] receive component is broken"
**Which chart**:
Thanos 3.11.1

**Describe the bug**
Template seems to be broken at https://github.com/bitnami/charts/blob/master/bitnami/thanos/templates/receive/statefulset.yaml#L80

**To Reproduce**
set `receive.enabled` to `true`
trying to apply the helm charts returns
[code]

**Expected behavior**
I expected the component to deploy. I believe the cause was introduced in this PR https://github

[2021-02-18 16:53] juan131 commented on #1279
Great @DiegoGamaV !! I'm so glad that you could finally get it working 👏

[2021-02-18 18:03] haghabozorgi commented on #5549
this actually does not seem to be an issue with the helm chart and is perhaps the way we are using terraform to apply this chart. going to close for now.

[2021-02-18 18:34] donofriov commented on #5032
@Cellebyte How can I do that?  I thought common was included with the external-dns install as a dependency?

[2021-02-18 18:34] mazzespazze opened #5550 "[Bitnami/Kibana] Readiness probe failed"
**Which chart**:
bitnami/kibana

**Describe the bug**
Running Kubernetes on DigitalOcean.
I have already installed "bitnami/elasticsearch" that works perfectly. I wanted to attach Kibana to it, but when I run this command:
`helm install kibana --set elasticsearch.hosts[0]=http://elasticsearch-elasticsearch-coordinating-only --set elasticsearch.port=9200 bitnami/kibana`

I am keep getting a: `Readi

[2021-02-18 18:43] mukubi01 commented on #5413
I am facing the same issue and would like some help. Not sure how to enable remove the logging.

[2021-02-18 18:44] Cellebyte commented on #5032
@donofriov just download the helm chart manually from here -> https://charts.bitnami.com/bitnami/external-dns-4.8.0.tgz
and verify that the common version is greater than `1.3.5` also verify that you helm version is greater than `3.1`

[2021-02-18 18:52] manisha-tanwar commented on #5081
Hi I'm also facing the same error, it used to work earlier. This is what I've configured.
[code]

getting error:

helm.go:81: [debug] roles.rbac.authorization.k8s.io "stackstorm-rabbitmq-ha" is forbidden: User "system:serviceaccount:linuxandvirtualisation:linuxandvirtualisation-deploy" cannot get resource "roles" in API group "rbac.authorization.k8s.io" in the namespace "stackstorm-test"

[2021-02-18 18:52] aks-wp commented on #5535
app-entrypoint.sh 18:47:19.50
app-entrypoint.sh 18:47:19.50 Welcome to the Bitnami wordpress container
app-entrypoint.sh 18:47:19.51 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-wordpress
app-entrypoint.sh 18:47:19.51 Submit issues and feature requests at https://github.com/bitnami/bitnami-docker-wordpress/issues
app-entrypoint.sh 18:47:19.51
nami    INFO  Ini

[2021-02-18 20:00] anthonyvetter opened #5551 "Notary returning 500 when trying to notary init"
**Which chart**:
The name (and version) of the affected chart
Harbor chart version 2.1.3

**Describe the bug**
A clear and concise description of what the bug is.
After deploying Harbor and Notary, and setting up TLS, I run
[code]
If I run the same command but purposefully put in incorrect creds, I get a 401: Unauthorized, so at least that step is happening.

I am new to Notary so this is likely N

[2021-02-18 20:26] shirivgb commented on #5527
Hi,

It happens to me now. any ideas?

[2021-02-18 20:33] andresbono commented on #5212
Hi @DanTulovsky, we have just released a new version of `bitnami/keycloak` that includes the requested extension for metrics.

- Chart version: `2.1.2` https://github.com/bitnami/charts/commit/7ade14c492ccf2590c1b9a8a4100e46bf8162e70
- Container tag: `12.0.3-debian-10-r4`

What we did to test it was:

- Go to Manage -> Events -> Config. Add the `metrics-listener` and enable events and admin events

[2021-02-18 20:33] #5212 closed

[2021-02-18 23:18] ThoreKr commented on #5549
@haghabozorgi can you elaborate on this?

We are facing the same issue, but with a flux helmrelease pipeline and it seems to break with the default values.yaml.

[2021-02-18 23:41] haghabozorgi commented on #5549
@ThoreKr  for example, when using terraform we were supplying values to the `helm_release` provider using
[code]
From what I gathered it seems helm possibly thinks the value provided is a string not an int??? I did not go down the rabbit hole deep enough to find out for sure though. Oddly it seemed using `set` does work as expected though.
[code]
Let me know if you have any questions. Hope this he

[2021-02-18 23:47] marcosbc commented on #5527
Hi @shirivgb, it works for me now (using `helm repo update`), so it is probably something transient like mentioned above. Could you try again?

[2021-02-18 23:50] ThoreKr commented on #5549
Ok, so basically got to the same point (except I only have yaml at hand) but I'm also getting this error while not explicitly overriding it, so I'd still say it's a bug?

[2021-02-19 00:03] haghabozorgi commented on #5549
@ThoreKr not sure I followed that, are you using terraform(helm provider) in your setup? Note, when I tried applying this chart without explicitly setting the `replicaCount` I was getting the same error.
I tested the thanos helm chart by rendering it using `helm template` with the default values.yaml and it rendered as expected, so it certainly seems helm was working as expected? I came to conclus

[2021-02-19 00:15] ThoreKr commented on #5549
@haghabozorgi Interesting. We are using flux, so it's a HelmRelease resource definition, which pipes the values.yaml from a configmap into the helm deployment service.

The configmap is stored as a multiline yaml text block.

In the end it looks like this.
[code]

 But even when the replicaCount is commented out, it throws the same error.

[2021-02-19 00:18] aks-wp commented on #5535
Hi @javsalgar, For the above test, used the following...

In values.yaml
[code]
ConfigMap
[code]

[2021-02-19 00:32] haghabozorgi commented on #5549
@ThoreKr, I dont know too much about flux's helmrelease resource, but it is curious you are also seeing the same issue. while not using the same mechanism. I wonder if terraform helm provider and flux helmrelease resource are doing something funky or if this is indeed a bug in the chart with how the conditional is being done. have you tried in that yaml to do `replicaCount: ""1""` or something lik

[2021-02-19 01:00] haghabozorgi commented on #5549
Given @ThoreKr experience, we may want to confirm if this is indeed a bug

[2021-02-19 01:07] ThoreKr commented on #5549
@haghabozorgi It's the same issue with both. I notified @Cellebyte to share how they are configuring this.

[2021-02-19 01:17] haghabozorgi commented on #5549
my guess is something in the way go templating language differs in various versions of helm? Thanks for notifying him. @ThoreKr  can you confirm what version of helm you are seeing this with?

[2021-02-19 01:36] ThoreKr commented on #5549
As far as I can tell it should be sourced here https://github.com/fluxcd/helm-controller/blob/v0.6.1/go.mod#L16 3.5.0, but that's just an slightly educated guess.

[2021-02-19 04:54] mohanagandlla commented on #5182
HI @alemorcuq I have disabled the probes and i found an error like this
[code]

How to fix this

[2021-02-19 06:16] lipere123 opened #5554 "Kubernetes OwnCloud Certificate"
Hello:
This post come from :
https://community.bitnami.com/t/kubernetes-owncloud-certificate/92185

It is for this chart :
https://hub.kubeapps.com/charts/bitnami/owncloud

**Describe the bug**
I have done the quick and easy install command line.
Now I want to generate a let-encrypt certificate for it.
There is no internal command in the container for doing it and the port is 8443, which is not go

[2021-02-19 07:04] andresbono commented on #5545
Can you make sure that kubectl is using the correct context?

[code]

[2021-02-19 07:29] SaadbinWaheed opened #5555 "Google Cloud Wordpress deployment url is null"
I made a Wordpress deployment yesterday and it all worked fine.

Today the site stopped opening up and upon inspection I see these fields are null:

Site address: http://null/
Admin URL: http://null/wp-admin/

The machine is an f1-micro.

[2021-02-19 07:35] SaadbinWaheed commented on #5555
My machine instance had stopped. Resumed it, working fine.

[2021-02-19 07:35] #5555 closed

[2021-02-19 08:20] Cellebyte commented on #5549
@ThoreKr i will fix it by doing a typecast.

[2021-02-19 08:21] juan131 commented on #3533
Hi @ashishmgofficial

Could you please share how you're mounting  this `requirements.txt` in the workers? Are you using the `worker.extraVolumes` and `worker.extraVolumeMounts` parameters of the chart?

[2021-02-19 08:55] juan131 commented on #5551
Hi @anthonyvetter

There are two parameters (see https://github.com/bitnami/charts/tree/master/bitnami/harbor#harbor-registry-parameters)  that define the user/password to be used to access Harbor Registry, see:

Parameter | Description | Default
-- | -- | --
registry.credentials.username | The username for accessing the registry instance, which is hosted by htpasswd auth mode. More details see of

[2021-02-19 08:56] miguelaeh commented on #5549
Thank you very much guys for the detailed discussion and create the fix!!! ❤️
We really appreciate it!

[2021-02-19 08:59] miguelaeh commented on #5554
Hi @lipere123 ,
Are you just trying to serve the request over `https`? Did you consider using Ingress?

[2021-02-19 09:01] juan131 commented on #5544
Hi @mailtobash

Please note the charts behaviour is different.

It seems that chart you shared mounts some JSON files including pools, variables, connections, etc. and then adds them to Airflow during the initialisation, see:

- https://github.com/airflow-helm/charts/blob/main/charts/airflow/templates/scheduler/scheduler-deployment.yaml (lines 253 to 264)

The Bitnami chart, allows to specify any

[2021-02-19 09:07] rafariossaa commented on #5539
Hi,
  Could you provide instructions on how did you deploy and mount the file ? Also, could you send the logs ?

[2021-02-19 09:37] Cellebyte commented on #5549
@haghabozorgi do you want to test? I can provide you with a custom build.

[2021-02-19 09:44] sveba commented on #5523
@alemorcuq was my comment useful?

[2021-02-19 10:10] lipere123 commented on #5554
Hello.
Thanks for your reply.

Frankly, I use metallb with the internet IP directly for accessing my service.
Witch mean I have a VPS like system and I like to keep that way please.
As it is, I can build sort of 16 VPS with kubernetes for less then 1€ per VPS, each with it own internet IP.

So, no, I am not considering Ingress, what I do need it the methodology for working directly on the chart a

[2021-02-19 11:21] rafariossaa commented on #5347
Hi,
  Thanks for your feedback.

[2021-02-19 11:23] rafariossaa commented on #5032
Hi,
  @Cellebyte , thanks for helping other users with the issue ?
  @donofriov Did that worked for you ?

[2021-02-19 11:25] rafariossaa commented on #5164
Hi,
  We are currently working on a fix for this kind of issues in redis.
  I will add this github issue to our internal task and we will notify when it is released.

[2021-02-19 11:45] donofriov commented on #5032
Yea definitely thanks for the help @Cellebyte unfortunately I wasn't able just to update the bitnami versions because we are also using flux (v1). I just updated to the latest flux deployment (1.21.2) and flux helm-operator deployment (1.2.0) and that actually resolved the issue. Now i'm able to use external-dns 4.8.0 and common 1.3.9 without any errors, specifically the lookup function missing.

[2021-02-19 11:53] juan131 commented on #5551
Hi @anthonyvetter

I was able to reproduce the issue and I'm trying to figure out what's going on...

I found errors like the one below in my notary server pod:

[code]

[2021-02-19 12:00] juan131 commented on #5551
I mean, I left the `notary.secretName` empty (null), so `notary-signer-ca.crt`, `notary-signer.crt` and `notary-signer.key` were auto-generated (see https://github.com/bitnami/charts/blob/master/bitnami/harbor/templates/notary/notary-secret.yaml#L15)

Parameter | Description | Default
-- | -- | --
notary.secretName | Fill the name of a kubernetes secret if you want to use your own TLS certificate

[2021-02-19 12:13] t-persson opened #5559 "[bitnami/redmine] Cannot get it to deploy"
**Which chart**:
bitnami/redmine
App Version: 4.1.1
Chart Version: 15.2.2

**Describe the bug**
Launching redmine via helm and it does not deploy properly.
It seems to stop after the "redmine INFO  Migrating database..." step and the pod never goes past status "0/1 Running"
I am running kubernetes in docker-desktop.

I cannot see any errors in the mariadb log:
[code]

And I cannot see any informat

[2021-02-19 12:15] Cellebyte commented on #5032
@donofriov Nice that it is now working :)

[2021-02-19 12:35] vassie79 opened #5560 "[bitnami/grafana-operator] grafana.adminPassword being ignored"
**Which chart**:
bitnami/grafana-operator

**Describe the bug**
The `grafana.adminPassword` field is being ignored, I have set a custom password in clear text but it still generates a random password

**To Reproduce**
Steps to reproduce the behavior:

1. Set `grafana.adminPassword` to a custom password
2. Deploy to cluster
3. Custom password is ignored and I have to inspect the secret

**Expected

[2021-02-19 13:21] Balde-ak47 opened #5561 "[Bitnami/prestashop] container down after a back office modification"
**Which chart**:
bitnami/prestashop

**Describe the bug**
The bug is when i am in the back office. And change the default configuration. like the language or currenty and clic on save the container is down.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'back office'
2. Click on 'international'
3. Click on 'localization'
4. import a new language- currency.
4. Scroll down to 'configur

[2021-02-19 13:37] Balde-ak47 commented on #5561
After clicking on save, the container are not working and my web site is down too.

[2021-02-19 13:42] Balde-ak47 commented on #5561
**A kubectl describe pod <pod name> give me this :**

Name:         my-realase-prestashop-764fb9dd64-wr2k7
Namespace:    default
Priority:     0
Node:         nodepool***************************
Start Time:   Fri, 19 Feb 2021 13:48:28 +0100
Labels:       app.kubernetes.io/instance=my-realase
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=prestashop

[2021-02-19 13:58] bogdan-ionescu opened #5562 "Deploying a new MariaDB Slave (Secondary instance) in a different Kubernetes cluster"
I'm trying to configure a geo-distributed system in which the writes always go to a master MariaDB node, but more slaves can be deployed when needed to different data centers across the globe, for improved read performance. Some replication latency is acceptable, as long as the reads are fast.

I've successfully deployed a master-slave configuration with the default settings to one Kubernetes clus

[2021-02-19 14:18] alemorcuq commented on #5541
Hi, @chromafunk.

You need to set up pod anti-affinities for that. You can read more about them here: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity

In particular for our charts, you can try using the `hard` preset for pod anti-affinity: https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch#setting-pods-affinity

[2021-02-19 14:20] 98christianp opened #5563 "[bitnami/wordpress] Updating wordpressExtraConfigContent with helm upgrade isn't saved"
**Which chart**:
The name (and version) of the affected chart

* name: bitnami/wordpress
* version 10.6.7

**Describe the bug**
Adding to the `wordpressExtraConfigContent` works during helm install but not when doing upgrades

**To Reproduce**
Steps to reproduce the behavior:

1. run helm install with the production values.yaml

2. Add something to `wordpressExtraConfigContent`

3. do a `helm upgr

[2021-02-19 14:22] t-persson commented on #5559
I am running on a slow HDD in WSL2 which takes a while to write to which means that the startup time is a lot longer (about 15m) than it normally takes.
This makes the startup/readiness probes fail and it is forcefully restarted.

When I removed the probes, it booted without problems.

[2021-02-19 14:22] #5559 closed

[2021-02-19 14:47] #5523 closed

[2021-02-19 14:52] alemorcuq commented on #5550
Hi, @mazzespazze.

Please, remove the `http` from the host:

[code]

That should work.

[2021-02-19 14:56] alemorcuq commented on #5523
Yes, @sveba, thank you very much!

[2021-02-19 14:57] Cellebyte commented on #5549
@miguelaeh the fix is now tested and is working as @ThoreKr tested it.

[2021-02-19 16:21] andresbono commented on #5146
Hi @iamaverrick, we have just released the new container image for keycloak-config-cli. I added some comments in the PR so that you can make the changes to be able to test the new image.

[2021-02-19 16:31] #5549 closed

[2021-02-19 16:37] marcosbc commented on #5413
@mukubi01 It was mentioned to use "remote" logging (not remove logs). See here for official Airflow docs on remote logging: https://airflow.apache.org/docs/apache-airflow/1.10.2/howto/write-logs.html (skipping the "Writing Logs Locally" section)

[2021-02-19 16:50] mazzespazze commented on #5550
@alemorcuq and that was it. Thousand thanks! Now it feels such a silly issue...

I have a follow up question though, feel free to open a new "issue" if you feel it is not related at all and it is not a bug.

I would like to *protect* my ES LoadBalancer with a password, since now anyone could potentially access the IP and add and delete indexes. Looking a bitnami/elasticsearch and https://github.co

[2021-02-19 17:34] manisha-tanwar opened #5564 "RabbitMQ on node rabbit@rabbitmq-test-0.rabbitmq-test-headless.namepsace.svc.cluster.local is not running or has not fully booted yet (check with is_booting)"
Hi, I'm trying to deploy rabbitmq cluster with persistence enabled. But pod is crashing with below error logs:
[code]

Pod events show:
[code]

This is the command I used to install chart:

`helm3 install rabbitmq-test --set persistence.storageClass=gluster-heketi-external --set serviceAccount.create=false --set serviceAccount.name=rabbitmq-sa --set rbac.create=false bitnami/rabbitmq`

Please help

[2021-02-19 18:44] mcritchlow opened #5566 "[bitnami/solr] Helm repo seems to not be updated with latest available chart version"
**Which chart**:
Solr

**Describe the bug**
It seems that despite being on version `0.2.1` the new Solr chart that's
available in the repository is `0.1.0`

**To Reproduce**
Steps to reproduce the behavior:

1. `helm search repo solr`

[code]

In comparison, a search for `redis` is up to date as expected:

1. `helm search repo redis`

[code]

**Expected behavior**
I would expect the `CHART VERSION

[2021-02-19 21:52] Sharathmk99 opened #5567 "[elasticsearch] Not creating different data/master node folders in Persistence Volume"
**Which chart**:
Chart: `elasticsearch`
Version: `12.6.1`

**Describe the bug**
Trying to create elasticsearch chart with 2 master node and 3 data node with Azure File Share as Persistence Volume.
helm command:
`helm install elk bitnami/elasticsearch --set master.replicas=2,coordinating.service.type=ClusterIP,data.replicas=3,master.persistence.existingClaim=persistent-volume-elk-master-claim,maste

[2021-02-19 22:25] adrianovieira opened #5568 "[grafana] mkdir: cannot create directory '/opt/bitnami/grafana/data/plugins': Permission denied"
**Which chart**:
The name (and version) of the affected chart

Grafana-5.2.3
[code]

**Describe the bug**
A clear and concise description of what the bug is.

Trying to mount a PV/PVC from a nfs storage (NAS).

**To Reproduce**
Steps to reproduce the behavior:

1. alocate space and share it from NAS
2. create a PV: `grafana-data-pv`
3. create a PVC: `grafana-data-pvc`
4. define _values_
[code]
5.

[2021-02-19 22:44] tsterker commented on #4710
@alemorcuq I have now taken over the sporadic investigation of the problem that @RefusesNames describes.

Unfortunately, so far I did not get around reproducing the issue and e.g. **compare the logs of a successful deployment with a failing one** and cross-reference this with the [initialization logic you linked to](https://github.com/bitnami/charts/issues/4710#issuecomment-763800143), e.g.

![ima

[2021-02-19 23:02] mailtobash commented on #5544
Thank you @juan131 ,
The `AIRFLOW__{SECTION}__{KEY}` helps to mount the extraVariables.
For the connections,however lines 257 to 260 in the template, there is not an equivalent in the bitnami chart :
[code]

[2021-02-19 23:25] tseruga opened #5569 "[Airflow] k8s executor fails to spin up worker pods due to timeout to web service"
**Which chart**:
airflow-8.0.4

**Describe the bug**
When using the KubernetesExecutor, worker pods fail to initialize due to a timeout from `k8s-executor-init-config` failing to reach the airflow web service.

Logs from the `k8s-executor-init-config` service:
[code]

This is running on minikube, k8s v1.20.2.

**To Reproduce**
Steps to reproduce the behavior:

1. Create yaml file to enable K8s exe

[2021-02-19 23:59] alexgaganashvili commented on #2436
I'm having the same problem as described by @albertocsm. I eventually have to intervene and restart the pods.

[2021-02-20 02:29] joel-schaal opened #5570 "[bitnami/postgresql] Cannot import large dump through initdbScripts"
**Which chart**:

postgresql      10.2.4  (as a subchart for [Sentry](https://github.com/sentry-kubernetes/charts))

**Describe the bug**

I am trying to import a 1.8GB sql dump in a fresh database.
I wanted to use `initdbScript` and `initdbScriptsConfigMap` for that but I have discovered it is [difficult to create a ConfigMap over 1MB](https://kubernetes.io/docs/concepts/configuration/configmap/#

[2021-02-20 04:07] petersin0422 opened #5571 "Request to support the `portName` field on both AlertManager and Prometheus"
**Which chart**:
Name: kube-prometheus
Version: 2.2.1

**Is your feature request related to a problem? Please describe.**
The chart currently will create both `Prometheus` and `AlertManager` with the default `portName`, which defaults to `web`, resulting in two kubernetes service objects using the same port but different port name (**for example, a `ClusterIP` service with `TCP/9090 = http` and a

[2021-02-20 04:11] petersin0422 opened #5572 "Request to support the `routePrefix` field on AlertManager"
**Which chart**:
Name: kube-prometheus
Version: 2.2.1

**Is your feature request related to a problem? Please describe.**
I was trying to expose `AlertManager` via an Istio ingress gateway using a sub path, but I notice `alertmanager.routePrefix` isn't supported today. Even though it is a supported option for `Prometheus`.

**Describe the solution you'd like**
Addition of `alertmanager.routePrefix

[2021-02-20 06:45] AkashRajvanshi opened #5574 "[Bitnami/cassandra] How to set custom cassandra.yaml!"
Hey, I want to set a custom cassandra.yaml for my deployment. I created a configmap with Cassandra yaml

`kubectl create configmap cassandra-config --from-file=cassandra.yaml
`

and then use it in values.yaml, but pod doesn't start and shows crashloopbackoff. I also  use the initContainer to set up another container in pod to copy-paste this file ( because config maps are read only ) but no succes

[2021-02-21 02:31] shibuiwilliam opened #5576 "[bitnami/redis-cluster] how can I make access to k8s redis cluster with Python and Golang?"
Hi,

I am trying to make a connection to k8s redis cluster with Python and Golang.
I have difficulty connecting to the cluster.
Does anybody know how to connect and send set/get to the redis cluster via Python?
Any suggestion?

This is my current redis cluster.
[code]

Python connection with rediscluster.

[code]

After I ran the script, I get the following error.

[code]

[2021-02-21 12:09] shirivgb commented on #5527
Hi,
I can confirm that it works now. thanks!

[2021-02-21 14:40] ashishmgofficial commented on #3533
@juan131

Yes I have mounted using ```worker.extraVolumes``` and ```worker.extraVolumeMounts``` as below :

[code]

[2021-02-21 14:43] ashishmgofficial commented on #5539
@juan131

I have mounted using ```worker.extraVolumes``` and ```worker.extraVolumeMounts``` as below in my deploy.yaml under worker section :

[code]

now if I try to import lets say pyspark in my DAG , I get the following error :

[code]

[2021-02-21 16:33] elucidsoft commented on #5164
I had to go to a single instance until this is fixed, its not idea but it reduced my downtime significantly since at least a single instance auto recovers vs. the sentinel thing just spinning and requiring manual intervention.

[2021-02-21 18:12] andresbono commented on #5081
Hi @manisha-tanwar, if those values were working earlier but not now, it means that now your cluster enabled RBAC. You either need to configure the rules manually or let the chart configure them for you.

[2021-02-21 18:38] manisha-tanwar commented on #5081
Thanks for the response @andresbono
[code]
resolved issue for me!

[2021-02-22 00:23] don4of4 commented on #5569
This is interesting.  I also am seeing this config fail, but for a different reason:
[code]

[2021-02-22 00:36] don4of4 opened #5577 "[Bitnami/airflow] v1beta1 RoleBinding, and v1beta1 Role are Deprecated"
**Which chart**:
https://github.com/bitnami/charts/tree/master/bitnami/airflow
version: 8.0.4

**Describe the bug**
v1beta1 Rolebinding, and v1beta1 Role are deprecated and need to be updated.

**To Reproduce**
Steps to reproduce the behavior:
1) Deploy the chart
2) Recieve warning

[code]

**Expected behavior**
No deprecation warning.

**Version of Helm and Kubernetes**:

- Output of `helm versio

[2021-02-22 01:41] mohanagandlla commented on #5182
Hi team any updates

[2021-02-22 07:38] tulid commented on #5398
Can you tell me how to get the root permissions of mysql container ? Or, tell me how test the bitnami mysql containers performance using other way.  because i want to test the mysql container performance by installing the tool of sysbench as below. Thanks a lot.
"
wget https://github.com/akopytov/sysbench/archive/1.0.zip -O "sysbench-1.0.zip"
unzip sysbench-1.0.zip
cd sysbench-1.0
yum install auto

[2021-02-22 08:42] javsalgar commented on #2588
Hi,

This is weird, as I see the same code in the worker container.

https://github.com/bitnami/bitnami-docker-airflow-worker/blob/master/2/debian-10/rootfs/app-entrypoint.sh#L17

Are you installing the exact same packages in one and the other?

[2021-02-22 08:44] juan131 commented on #5574
Hi @AkashRajvanshi

To mount a custom Cassandra configuration, you should use the `existingConfiguration` parameter, see:

- https://github.com/bitnami/charts/tree/master/bitnami/cassandra#using-custom-configuration

In any case, it's hard to debug what's going on without taking a look to the Cassandra logs. Could you please share the logs (using `kubect logs ...`) of the Cassandra container in th

[2021-02-22 08:50] javsalgar commented on #5543
Hi,

Thanks for reporting. Pinging @rafariossaa as he is looking into the Redis + Sentinel issues.

[2021-02-22 08:51] juan131 commented on #5539
@ashishmgofficial we're duplicating conversations. Please let's continue at https://github.com/bitnami/charts/issues/3533

[2021-02-22 08:51] #5539 closed

[2021-02-22 08:54] rafariossaa commented on #5543
Hi @aariacarterweir ,
  Could you indicate which kubernetes cluster are you using ?
  Also, I need a bit of clarification, in the first message of this issue you indicated this for v12.7.4, but later you indicated 12.2.3. I guess you mean you have this issue with 12.2.3 because with 12.7.4 you get all the instances as master. Am I right ?

[2021-02-22 08:57] viceice commented on #5328
I'v again strange zombie issues

![image](https://user-images.githubusercontent.com/1798109/108684632-6c6eae80-74f3-11eb-994e-8c6ad8c597bf.png)

[code]

`existingSecret`  is passed via `set`, chart version is `4.3.1`

[2021-02-22 08:58] lusu007 commented on #5468
Merged in #5542 .

[2021-02-22 08:58] #5468 closed

[2021-02-22 09:01] juan131 commented on #5563
Hi @98christianp

Thanks so much for opening this issue!

The `wp-config.php` file is generated during the 1st boot of the WP container based on the environment variables you set. Once it's created, it's persisted in the volume attached to WP containers along with the WP data saved under the `wp-content` directory.

After that, every-time the container is restarted or recreated (which is the case

[2021-02-22 09:09] javsalgar commented on #5535
Hi,

I think I found why the read-only filesystem error appears. I will work on adding a fix to this. I will let you know as soon as it available.

[2021-02-22 09:26] 98christianp commented on #5563
Hi @juan131,

Thank you for the reply, that makes total sense.

[2021-02-22 09:27] #5563 closed

[2021-02-22 09:50] miguelaeh commented on #5554
Hi @lipere123 ,
In that case, I think that a possible solution would be to mount the certificates as a volume, then mount that volume in the OwnCloud certificate directory but also in a sidecar container that would be in charge of updating the certificate.
Would it fit your case?

[2021-02-22 09:54] juan131 commented on #5569
Hi @don4of4 @tseruga

Could you please share al the changes you introduced in your **values.yaml**?
- Did you install any custom plugin in Airflow (see [loading custom plugins](https://github.com/bitnami/charts/tree/master/bitnami/airflow#loading-plugins))?
- Are you using the default `pod_template.yaml` or did you set the `worker.podTemplate` parameter to customize it?

[2021-02-22 09:57] miguelaeh commented on #5560
Hi @vassie79 ,
Are you setting it in the first Helm install or in an upgrade?

[2021-02-22 10:00] sveba opened #5578 "[bitnami/kafka] Default Kafka-Config values override in values.yaml"
Why do you need to change the default config values for the kafka brokers in the values.yaml? I mean: https://github.com/bitnami/charts/blob/91dbd11bcdd9284029e5857235b0b7b0ddade1b5/bitnami/kafka/values.yaml#L122-L207

Logs directory is the only value, where I see, that a change is needed. The other props are not required by the docker image and are in some cases impossible to override. Like this

[2021-02-22 10:05] miguelaeh commented on #5571
Thank you very much for the PR!
We will take care of it!

[2021-02-22 10:07] juan131 commented on #5544
Hi @mailtobash

You're right. There's no easy or direct way to do this using the Bitnami Airflow chart. You can try adding a sidecar container to the scheduler pods, see:

- https://github.com/bitnami/charts/blob/master/bitnami/airflow/values.yaml#L292

This container could try configure the connections automatically using a command such as the one below:

[code]

That said, it's likely that you'l

[2021-02-22 10:07] miguelaeh commented on #5398
Hi @tulid ,
If you want to run them as root you can change the `securityContext.runAsUser` parameter

[2021-02-22 10:13] vassie79 commented on #5560
@miguelaeh Yes, this is fresh install and I have set the following in `values.yaml`

[code]

Upon deployment `test-password` does not work and I have to inspect the secret

[2021-02-22 10:14] lipere123 commented on #5554
Hello.
Thanks for your answer.
To late, I did rebuild my OwnCloud chart from a docker-compose.yml and kompose then install OwnCloud myself via Ansible.
So now I have the certificate.

One suggestion, perhaps :
==> Make things obvious, easy, and very automated.
Because, now, that I have Kompose, I am going to use it for all my services. (^^)
It is that easy for me, but yes much more work.

Thanks b

[2021-02-22 10:17] AkashRajvanshi commented on #5574
[code]

[2021-02-22 10:17] juan131 commented on #3533
Hi @ashishmgofficial

Did you modify the default command/args used on worker nodes so `pip install ...` is executed before starting the worker? Sth like:

[code]

[2021-02-22 10:20] AkashRajvanshi commented on #5574
[code]

[2021-02-22 10:48] miguelaeh commented on #5566
Hi @mcritchlow ,
Please execute `helm repo update` and try again

[2021-02-22 10:58] meezaan commented on #5507
@juan131 I'll come back on this. Just need to get the product live with a VM then I'll come back to testing this. Thank you.

[2021-02-22 11:10] rafariossaa commented on #5559
Hi,
  Thanks for sharing your workaround. I would suggest you to not delete the probes but set a longer timeout.

[2021-02-22 11:11] rafariossaa commented on #5032
Should I process to close this issue ?

[2021-02-22 11:18] rafariossaa commented on #5570
Hi,
  Could you post the log where you got the error ?
  If you got the "out of memory" error when creating the configmap, I think you meed to increase the resources of your cluster.
   Instead of using a configmap, maybe you can use the initscripts feature to pull the dump into the pod and then import it into the database.

[2021-02-22 11:20] rafariossaa commented on #5164
Hi @elucidsoft,
  Yes, if you don't need more nodes that is a good workaround meanwhile.
  Could you indicate which kubertenes cluster are you using ? @tom-schoener It would be great if you can also share which kubernetes cluster are you using.

[2021-02-22 11:27] tom-schoener commented on #5164
We are using GKE version 1.17.15-gke.800

[2021-02-22 11:42] Mauraza commented on #5568
Hi @adrianovieira,

Could you check the permissions of the `/opt/bitnami/grafana/data/` folder?
Grafana runs as the `1001` user, did you try to change the `fsgroup` that will change the permissions of the volume?

[2021-02-22 11:47] rafariossaa commented on #5577
Hi,
  Thanks for noticing this.
  I am creating an internal tasks to review this kind of messages in all our charts and find a solution on how to handle this depending on the kuberentes versions.

[2021-02-22 11:53] matus-cuper opened #5580 "[bitnami/mongodb] Failed to access external IP with externalAccess LoadBalancer"
**Which chart**:
[code]

**Describe the bug**
I cannot log into mongodb from outside, but when I use external IPs from container in cluster, it works.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

When I create mongodb client inside AKS cluster, it is working
[code]

but when I tried external IPs from my local machine it timed out

[code]

or with different message with exact

[2021-02-22 11:59] rafariossaa commented on #5577
This will be deprecated on 1.22 so, I guess that won't be released until September.

[2021-02-22 12:24] don4of4 commented on #5577
Sounds good thank you.  Just to ensure you are aware, it looks like it will
be *removed* at 1.22, it's already deprecated.

-Don

On Mon, Feb 22, 2021 at 6:00 AM Rafael Ríos Saavedra <
notifications@github.com> wrote:

--

------------------------------

Don Scott  <https://www.linkedin.com/in/dscottiv>
*“However much you study, you cannot know without action.”  -Saadi*
s https://www.donaldscott.c

[2021-02-22 12:39] alemorcuq commented on #5550
Unfortunately, due to licensing issues we can't ship X-Pack in our charts. A common way of protecting Elasticsearch without X-Pack is to set up and Apache proxy with HTTP authentication that will forward the requests to Elasticsearch.

[2021-02-22 12:42] alemorcuq commented on #5572
Thanks for opening a PR!

[2021-02-22 12:44] don4of4 commented on #5569
No I am not doing either, the above configuration in the original request captures the settings.

This may be related:
https://github.com/bitnami/charts/issues/5413

[2021-02-22 12:50] Mauraza commented on #5562
Hi @bogdan-ionescu,

Sorry, right now is something we don't support in our chats and there isn't a plan to work it anytime soon.
Maybe you can try this as you already have a full deploy master-slave configuration, now you can deploy a slave with deployment or statefulset indicate the values of the master (https://github.com/bitnami/bitnami-docker-mariadb#setting-up-a-replication-cluster) and check

[2021-02-22 12:59] etavene commented on #5360
two cases here , first one is data dir is empty (ETCD_DATA_DIR=/bitnami/etcd/data). In that case. you will see the following logs.

==> Bash debug is off
==> Detected data from previous deployments...
==> Adding new member to existing cluster...

second case is, data dir itself not there.  In that case, you will see the following logs. Because the data dir is getting created automatically  due to

[2021-02-22 14:32] EtienneBarbier opened #5584 "[bitnami/kube-prometheus] Prometheus Operator Reloader image weird behavior"
**Which chart**:
kube-prometheus 4.0.1

**Describe the bug**
In file `templates/_helpers.yml` i do not understant why we have a different behavior for Prometheus Operator Reloader image name. (See below)
Why do we have this conditional on this image and not on others ?

[code]

[2021-02-22 14:39] alemorcuq commented on #5561
Hi, @Balde-ak47.

Which version of the chart are you using? Which values did you use to install it?

[2021-02-22 14:39] #3755 closed

[2021-02-22 14:40] mralexho commented on #5434
Our team is also experiencing the same issue. Thanks for your prompt response.

[2021-02-22 14:44] juan131 commented on #3755
Hi @ChangSurrey

I just want to share with you that the new chart version `12.9.2` (it can take a couple of hours to be published at https://charts.bitnami.com/bitnami) only configures `ssl.client.auth` to `required` when `mtls` is chosen as authentication method.

Please give it a try when you have a chance.

[2021-02-22 14:48] alemorcuq commented on #5182
Unfortunately I'm not able to reproduce your issue. You can try to set the parameter `image.debug` to `true` to see if it gives any new information about your issue.

[2021-02-22 14:56] #5577 closed

[2021-02-22 15:00] #5566 closed

[2021-02-22 15:06] alemorcuq commented on #5567
Do you see any errors when describing the pod?

[code]

[2021-02-22 15:13] Balde-ak47 commented on #5561
I used the default one. And I change some values like the language and country I put "fr" for France. But always the same problem.

[2021-02-22 15:34] aks-wp commented on #5535
Appreciate you looking into this @javsalgar !

[2021-02-22 15:51] Mauraza commented on #4833
Hi @Majen,

I found why happen, if you check the container the files of the container `bitnami-docker-postgresql-repmg`, you can find this
https://github.com/bitnami/bitnami-docker-postgresql-repmgr/blob/1916d4f0bc479a1c5b20d634abb9b419340879ef/13/debian-10/rootfs/opt/bitnami/scripts/librepmgr.sh#L414
[code]
I going a create an internal to investigate possibles solutions, but if you want you can c

[2021-02-22 16:46] tseruga commented on #5569
Using the default pod_template, and the only other settings in my `values.yaml` were related to git sync.

[2021-02-22 16:49] migruiz4 commented on #5181
Hi,

We are aware that Redis Sentinel is having issues recovering from failures affecting the master node where Kubernetes has to redeploy the pod in a different node.

We are currently working on it and will get back to you as soon as possible.

Sorry for the inconvenience.

[2021-02-22 16:51] harroguk commented on #5181
Is there any sort of timeline on this?
Days, Weeks, Months, Years?

Just trying to manage my expectations :P

[2021-02-22 17:29] don4of4 commented on #5569
Based on https://github.com/apache/airflow/issues/14266 I think we may need to look at the container definition for the webserver -- there might be something amiss.

I am on ` repository: bitnami/airflow tag: 2.0.1-debian-10-r4`, and tried to go to r14, but looks like that image didn't make it to the azure helm repo.  _I am surprised since the helm chart has the repo param in there, but it doesn't

[2021-02-22 17:55] don4of4 opened #5587 "[bitnami/airflow] Chart Ignores Web Container Image Repository"
While trying to update the web container for Airflow, I noticed that the `web.image.repository` param is currently ignored in the chart.

### Issue
See [values.yaml](https://github.com/bitnami/charts/blob/71fb99f541e971b1daafaa20ffb7d18b153b8d60/bitnami/airflow/values.yaml#L547) where the repo flag is specified, but [the template for web](https://github.com/bitnami/charts/blob/71fb99f541e971b1daaf

[2021-02-22 18:00] don4of4 commented on #1832
@alemorcuq @colek42  This issue is closed by #2174.  Can you close this?

[2021-02-22 18:48] DevvG opened #5588 "init sql script not working in postgresql-ha when persistence enabled and the application redeployed/upgraded"
**Which chart**:
postgresql-ha 6.5.5

**Describe the bug**
When installing the application for the first time with persistence enabled, init db scripts works fine and creates relevant database and tables. After that modifications made in init db scripts and then the application reinstalled after deleting only application and keeping persistence volume claims or upgraded with helm upgrade command d

[2021-02-22 18:53] marcosbc commented on #5564
Hi @manisha-tanwar, please fill in the "New issue" template, you can find it here: https://github.com/bitnami/charts/issues/new

Also, could you share more information on how you're deploying RabbitMQ? Is the data from a previous deployment, or from an external source? Make sure that the versions are compatible.

[2021-02-22 18:57] marcosbc commented on #5576
Hi @shibuiwilliam, note that you cannot access 127.0.0.1:6379 from outside of the Kubernetes pod where each Redis Cluster node is running.

It is probable that if you enable `cluster.externalAccess` for it to work properly: https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster#cluster-management-parameters

[2021-02-22 18:58] somejfn opened #5589 "[postgresql-ha]: Default pgpool configuration does not follow primary after failover ?"
**Which chart**:
bitnami/postgresql-ha 6.5.1

Installed on K8s 1.19 with:
[code]

A test keycloak instance is the connecting application,  installed with

[code]

See above external DB is set to the pgpool svc

**Describe the bug**

Following a primary PG pod restart (i.e. because of a K8s node is drained), and this is triggering the standby to take the role of primary, then the client application

[2021-02-22 19:50] raefezzeldin opened #5590 "[bitnami/Airflow] JAVA not found"
I am trying to run bashOperator in Airflow (*.Jar file) but I got error java not found. it seems that the image doesn't have java.

[2021-02-22 20:24] manisha-tanwar commented on #5564
Hi @marcosbc,

Found similar issue for error:
[code]

Replica:1
& disabled clustering solved issue for me.

Is it possible to disable rbac and still configure rabbitmq cluster?

[2021-02-22 21:12] manisha-tanwar commented on #2227
Hi, I'm also facing the same issue and removing clustering from configuration fixed it for me.
But I would like to setup cluster with `replica:3`,  is it possible to configure it without roles access on K8 API?

[2021-02-22 23:48] anthonyvetter commented on #5551
Logs from Notary pod, basically this, repeated:
`2021/02/22 23:47:04 grpc: Server.Serve failed to complete security handshake from "10.76.1.1:55524": EOF`
I too left `notary.secretName' empty

[2021-02-23 04:34] darkn3rd opened #5591 "[bitnami/external-dns] error when using azure.secretName"
**Which chart**:
* external-dns-4.6.0

**Describe the bug**

Getting an error when using `azure.secretName`, and also noticed that when specifying `azure.resourceGroup`, it is not rendered to `- --azure-resource-group="something"`.  I am following this guide and converting it to use this helm chart:

* https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md

**To Reprod

[2021-02-23 05:58] AkashRajvanshi commented on #5574
Hey, I see the boot logs of the pod and I set some wrong configs in cassandra.yaml which is not met with bitnami Cassandra env. I don't want to set full Cassandra yaml by myself. I only want to enable the incremental backup feature on Cassandra.yaml. Can you please help, how can I set `incremental backup: true` in bitnami default cassandra.yaml file???

[2021-02-23 07:22] carrodher commented on #5434
Thanks for letting us know, unfortunately, due to other priorities in the team the task is still on our backlog and I can't provide a specific ETA. On the other hand, the configuration logic is based on Bash scripts placed in the _rootfs/_ folder that appears in the container repository (https://github.com/bitnami/bitnami-docker-drupal), just in case you want to contribute by sending a PR. Our tea

[2021-02-23 07:40] robinsomarajv opened #5592 "bitnami/springcloudataflow"
Parameter list for helm chart was missing parameter 'server.ingress.tls'  which seems to be mandatory and set as true for enabling SSL with a tls secret on Kubernetes cluster

[2021-02-23 08:04] carrodher commented on #1832
Thanks for letting us know, I am closing it

[2021-02-23 08:04] #1832 closed

[2021-02-23 08:08] juan131 commented on #5578
Comments added on your PR @sveba

[2021-02-23 08:50] javsalgar commented on #5580
Hi,

Just in case, could you provide the output of `kubectl get endpoints`? A connection timeout definitely looks to me as a firewall error, so I would double check that the rules are properly set.

[2021-02-23 08:55] juan131 commented on #5574
Hi @AkashRajvanshi

So your use case it's a little bit different from the one supported by the Helm chart. You don't want to override the whole configuration file, but extend it instead.

As a workaround, you could try sth like this:

- Install the Cassandra chart with default values and wait for the Cassandra pods to be ready:

[code]

- Obtain the generated `cassandra.yaml`:

[code]

- Apply any

[2021-02-23 08:56] juan131 commented on #5507
👍  @meezaan ! Please keep up us updated about your progress.

[2021-02-23 08:56] sveba commented on #5578
@juan131
Thank you for your comment.

I would like to discuss the general problem with predefined values.

1. What is the intension of setting those?
2. Why not go with default Apache-Kafka values and let the user decide what to change, if needed. The Bitnami-Kafka-Image can be run without setting any ENVVAR

[2021-02-23 09:00] javsalgar commented on #5592
Hi,

Thanks for the input! We will add the parameter to the README.md file. If you want to speed up the process. Feel free to create a PR and we will review it.

[2021-02-23 09:10] miguelaeh commented on #5560
Hi @vassie79 ,
Not sure where did you find those parameters, maybe an old version of the chart? The admin section should be like this one: https://github.com/bitnami/charts/blob/5e600624c066378c5fc6393348894f2a0ebfda7d/bitnami/grafana/values.yaml#L57
So you should use
[code]

[2021-02-23 09:12] vassie79 commented on #5560
@miguelaeh Those setting are for `bitnami/grafana`, I'm using `bitnami/grafana-operator`

[2021-02-23 09:17] miguelaeh commented on #5588
Hi @DevvG ,
I would say it is because the file `"$POSTGRESQL_VOLUME_DIR"/.user_scripts_initialized` exists. Try deleting that file from your volume and the scripts should be executed again in the next restart.
If you want them to be run always you can build your custom image deleting this line from the original code: https://github.com/bitnami/bitnami-docker-postgresql/blob/20f01a4b3199035aa2b9d7d

[2021-02-23 09:21] miguelaeh commented on #2227
Hi @manisha-tanwar ,
I think you are talking about deploying RabbitMQ in cluster mode without RBAC. RabbitMQ needs RBAC for peer discovery so it is not possible unless you find another way to discover peers. You can check this comment https://github.com/bitnami/charts/issues/2227#issuecomment-609686661

[2021-02-23 09:30] Mauraza commented on #5590
Hi @raefezzeldin,

That's right, airflow doesn't have installed java. If you want java, you can create a new container using the image base `docker.io/bitnami/airflow:2-debian-10`

[2021-02-23 09:30] migruiz4 commented on #5591
Hi @darkn3rd ,

The secretName option is deprecated, could you please try using this values.yaml instead:

[code]

This should resolve the issue with `--azure-resource-group=externaldns`
https://github.com/bitnami/charts/blob/5e600624c066378c5fc6393348894f2a0ebfda7d/bitnami/external-dns/templates/deployment.yaml#L154-L159

[2021-02-23 09:33] #5571 closed

[2021-02-23 09:33] #5572 closed

[2021-02-23 09:34] miguelaeh commented on #5560
Hi @vassie79 ,
Sorry for my confusion. I have checked the Grafana operator, and I am able to reproduce the issue. Nevetheless, checking the CRDs code it seems to be set properly. And from the upstream operator I can see it is set in the same way: https://github.com/integr8ly/grafana-operator/blob/dd8e55750558061224dae7c52e39fde314ad13c3/deploy/crds/Grafana.yaml#L43
We would need to check this in d

[2021-02-23 09:37] migruiz4 commented on #5181
We are currently working on a fix, but I don't have an ETA as it will probably require major changes in the Redis chart.

I will keep you updated on any changes.

[2021-02-23 09:54] manisha-tanwar commented on #5564
Get serviceaccount created with attached rolebinding. & It worked fine without any configuration changes. This is what I've now:
[code]

 Thanks for the help!

[2021-02-23 09:54] #5564 closed

[2021-02-23 09:54] manisha-tanwar commented on #2227
Thanks @miguelaeh
Get serviceaccount created with attached rolebinding. & It worked fine without any configuration changes. This is what I've now:
[code]

 Thanks again for the help!

[2021-02-23 10:29] matus-cuper commented on #5580
Thank you for your response, here is output:

[code]

IP addresses may differ since I recreated environment, but they still point to pods.

[2021-02-23 10:37] migruiz4 commented on #5526
Hi @noe-charmet ,

I'm sorry for the late response. I have created this PR #5593 that should fix this issue by adding a filter to the PodDisruptionBudget to not match the initJob using the label `job-name`.

Would the fix would work for your case?

[2021-02-23 11:11] AkashRajvanshi commented on #5294
hey, can you please explain how I expose the JMX port? so I can access it from outside!

[2021-02-23 11:23] AkashRajvanshi commented on #5574
Hey, this is working if i setup a new deployment ( like you deploy above ). But if I use this in my existing deployment where I set 3 replicas for Cassandra. New pods will not connect to other container and also if I delete all the pods and start new pods ( this will not work )

[code]
& I also have another question, can bitnami provides or you can suggest some automated backup solution for cassan

[2021-02-23 11:42] eremcan commented on #3576
I'm having a similar issue. After I  get backup with psql, It throws psql: timeout expired.
Is there any solution for it?

[2021-02-23 12:54] kheraud commented on #4351
Any news on this subject ? We are facing the exact same issue

[2021-02-23 13:00] juan131 commented on #2921
This feature was added at https://github.com/bitnami/charts/pull/4069

[2021-02-23 13:00] #2921 closed

[2021-02-23 13:03] juan131 commented on #5569
There's definitely something wrong here with the latest version of `bitnami/airflow` and the `KubernetesExecutor` executor. I'll open an internal task to properly investigate this.

I'll keep you updated about our progress./

[2021-02-23 13:05] juan131 commented on #5360
I'm a bit confused. Are you obtaining the same logs on both cases?

[2021-02-23 13:19] noe-charmet commented on #5526
thanks for taking time to resolve the issue ;)

This would indeed fix the immediate issue of PodDisruptionBudget matching the job.

I would however personally vouch to extend this to other selectors in the chart that need to select only the children of the StatefulSet.

Namely:
- Headless service
- Network policies
- Redis service
- External access service

Effect would be quite negligible in most

[2021-02-23 16:01] alemorcuq commented on #5589
I think I've reproduced your issue. Could you execute this command in one of your psql pods to see if we are having the same error?

[code]

This is what I get: the two nodes are running as primary.

[code]

In fact, one of the nodes has all the new users I've tried to create after provoking the failure.

[2021-02-23 16:03] kevin96666 opened #5594 "[bitnami/redis]"
**Which chart**:
bitnami/redis 12.7.4 (latest)

**Describe the bug**
Warning Logs on Redis launch

WARNING: The TCP backlog setting of 511 cannot be enforced because /proc/sys/net/core/somaxconn is set to the lower value of 128

WARNING you have Transparent Huge Pages (THP) support enabled in your kernel. This will create latency and memory usage issues with Redis. To fix this issue run the comman

[2021-02-23 16:50] rafariossaa commented on #5164
Hi,
  Thanks for sharing.

[2021-02-23 16:58] rafariossaa commented on #5587
Hi,
  Thanks for noticing this and providing the fix.
  Would you like to send a PR ? We will be glad to review and merge it.

[2021-02-23 17:13] GerryWilko opened #5595 "RabbitMQ Chart service to be used by other services"
Hello,

Apologies for the basic question but I am struggling to understand how to get the RabbitMQ Helm chart services to work.

A simple deploy of the helm chart into my cluster creates 2 services -rabbitmq and -rabbitmq-headless.

If I try to use the -rabbitmq service internally I cannot connect with the C# RabbitMQ.Client Nuget package over AMQP.

Using port forwarding I can access the manageme

[2021-02-23 17:40] juan131 commented on #5551
Hi @anthonyvetter

I could get it working (even using self-signed certificates) after applying the fix available on this PR. This is the **values.yaml** I used:

[code]

notary --tlscacert /etc/docker/certs.d/registry.juan.cluster/ca.crt -s https://notary.juan.cluster -d /tmp/trust init registry.juan.cluster/project/minideb

[2021-02-23 17:41] leokhachatorians commented on #4887
I'm also interested in this issue. Specifically cross-regional setup.

[2021-02-23 17:57] juan131 commented on #5551
Hi @anthonyvetter

I could get it working (even using self-signed certificates) after applying the fix available on the PR i just referenced. This is the **values.yaml** I used:

[code]

[code]

As you can see, everything is self-signed. To be able to login with `docker login` and push containers with `docker push`, I had to do a trick to trust the certificates.

[code]

After that, I published a

[2021-02-23 18:05] marcosbc commented on #5584
Hi @EtienneBarbier, it seems to be a way to allow for non-default behavior. Refer to [values.yaml](https://github.com/bitnami/charts/blob/master/bitnami/kube-prometheus/values.yaml#L247) for more info.

[code]

If you specify a value there, then the default container image will be overridden for config reloading.

[2021-02-23 18:08] marcosbc commented on #5594
Hi @kevin96666, that error is expected. Refer to the [README](https://github.com/bitnami/charts/tree/master/bitnami/redis#host-kernel-settings) for more info.

[2021-02-23 18:15] somejfn commented on #5589
Hi,

Please see below how each replica have a different view of the cluster after the primary pod was evicted by a node drain and restarted:

[code]

And I did notice something additionally.   If I want to provoke a failover gracefully,  I can call the /pre-stop.sh pre-stop lifecycle hook in the primary pod myself and the failover will go perfectly.

But if you delete the pod (or drain a node)...

[2021-02-23 19:23] juan131 commented on #5294
Hi @AkashRajvanshi

You can create a tunnel using `kubectl port-forward ...`  (see https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/). Otherwise, it's not possible to do access this port using the current chart since that port is not exposed in the Cassandra svc.

I'm just curious: why do you want to access that port externally?

[2021-02-23 19:52] viceice opened #5597 "Waiting 0s before querying node ip addresses"
**Which chart**: redis-cluster 4.3.3

**Describe the bug**
Hung cluster creation job with message `Waiting 0s before querying node ip addresses`

**To Reproduce**
Steps to reproduce the behavior:

1. create new redis-cluster 4.3.3 and job times out

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of Helm and Kubernetes**:

- Output of `helm version`

[2021-02-23 20:41] viceice commented on #5597
Looks like it was an issue in my infra, i have now two worker nodes connectied via a vpn and it seems the initJob had trouble.

My workaround is to force all container running in vpn zone, and that had worked now

[2021-02-23 20:41] #5597 closed

[2021-02-23 21:00] somejfn commented on #5589
Apparently the /pre-stop.sh script exits prematurely.   Added a sleep 15 after it so it leaves more time for PG to stop and at least graceful node draining is possible.  It's not addressing the issue of unplanned maintenance tho but prolly we'd need to fix the script for this case.

[2021-02-23 21:14] kevin96666 commented on #5594
Hi @marcosbc thanks, but still facing an issue. After setting properly securityContext.sysctls,  I face a new issue when launching the pod :

**forbidden sysctl: "net.core.somaxconn" not whitelisted**

Your help is highly appreciate

[2021-02-23 23:28] anthonyvetter commented on #5551
Not working for me.
[code]
These are using staging certs from LE now for ingress, which is where I pulled the ca, crt, and key from. So that could be the issue.

[2021-02-24 00:39] deefdragon commented on #5488
I am also having trouble logging in with the bitnami chart when there is more than 1 replica. I get `login attempt has timed out` when logging in, but also another error sometimes.

[2021-02-24 05:15] ANGkeith opened #5600 "[bitnami/redis] readOnlyRootFilesystem"
**Which chart**:
redis-12.7.4

**Describe the bug**
Pods is unable to start when running as readOnlyRootFilesystem, producing the following error message
[code]

**To Reproduce**
Steps to reproduce the behavior:

Install the helm chart using the following values.yaml
[code]

**Expected behavior**
Expected the redis to be running

[2021-02-24 08:31] juan131 commented on #5574
Hi @AkashRajvanshi

That's expected. The auto-generated configuration for Cassandra is not the same when you have a standalone pod compared with the one you have in cluster mode.
Indeed, it's different per replica. Let's see this with an example:

- We install Cassandra with 3 replicas and wait for them to be ready:

[code]

- Retrieve every replica configuration file:

[code]

- Compare them:

[c

[2021-02-24 08:47] juan131 commented on #3576
Hi @eremcan

Does your backup modifies the password of the `postgres` user?
Please note that these probes (readiness/liveness probes) use the password you set when installing the chart to access the database. So, if this is no longer a valid password, the probes will fail.

[2021-02-24 08:57] #5600 closed

[2021-02-24 09:02] javsalgar commented on #5580
Hi,

I see that the endpoints are correct and the services exist. If there are no NetworkPolicies enabled in the cluster (please check this), it definitely looks like a cloud firewall issue to me. I'd suggest to check with Azure to see if there's any configuration missing.

Could you try accessing with mongo to just one node? This could help us identify where the connection drop is happening

[2021-02-24 09:02] miguelaeh commented on #2227
You're welcome!

[2021-02-24 09:05] javsalgar commented on #4351
Hi,

Sorry this issue got closed. Reopening it. Currently it is still in our backlog. Could you provide the exact set of values so I can reproduce?

[2021-02-24 09:07] miguelaeh commented on #4887
Hi @leokhachatorians ,
As @andresbono  said it seems the target configuration of this issue is not supported by the helm Chart at this moment https://github.com/bitnami/charts/issues/4887#issuecomment-754590126. You could try a configuration like the one explained here https://github.com/bitnami/charts/issues/4887#issuecomment-754605180 but it seems he is also having issue with that

[2021-02-24 09:10] ANGkeith commented on #5094
fixed by #5047

[2021-02-24 09:14] juan131 commented on #5551
Hi @anthonyvetter

What throws the error below: "notary CLI" or is it taken from the "notary server" logs?

[code]

You should have two ingress rules:

[code]

Could you please share the output of running the commands below?

[code]

---

Another question: did you leave `notary.secretName` parameter empty? If not, please do so.

[2021-02-24 09:17] #5526 closed

[2021-02-24 09:44] TheMysteriousVincent commented on #4541
Hi! I *had* the same problems as mentioned above.

The error occurred, because the password is being saved to the the volume (which shouldn't in a containerized environment). Since PVs are not removed by default after they are not used anymore, RabbitMq kept using the same PV and thus an old or even no password.

The password **IS NOT** overriden by it's Helm configuration but relies on the values

[2021-02-24 09:46] Mauraza commented on #5488
Hi @deefdragon,

It seems is not the same problem, could you open a new issue with all the information about your trouble? Thanks

[2021-02-24 10:01] lusu007 opened #5605 "[bitnami/harbor] Harbor doesnt delete old replicasets on upgrade"
**Which chart**:
Harbor 9.5.0

**Describe the bug**
Harbor doesn't delete old Replicaset after upgrading to a newer version.
Or is it the default rollback functionality of kubernetes?
![image](https://user-images.githubusercontent.com/10341994/108983825-8fce6080-768f-11eb-99d1-8b7d22c882a5.png)

**To Reproduce**
Install version 9.4.0 upgrade to 9.5.0. Old Replicaset is still there but without any

[2021-02-24 10:57] juan131 commented on #5578
Honestly I don't know it @sveba

I just saw these default values have been there since the very beginning, see:

- https://github.com/bitnami/charts/pull/681/files#diff-eb48889a737011f08ce276531652461851fa335e5988268092b6698e44870cce

@tompizmor do you remember where this comes from or what's the reason to use them?

[2021-02-24 10:58] rafariossaa commented on #5605
Hi,
  Bitnami's charts are tested using helm, maybe it is related to argocd. Could you do a test and deploy and upgrade it using helm ?

[2021-02-24 11:01] rafariossaa commented on #5094
Hi,
  @ANGkeith thanks for mentioning this.
  @judge-red I am sorry, This issue got untracked and I did not provide the patch. Could you check if it is fixed for you too ?.

[2021-02-24 11:19] #2190 closed

[2021-02-24 11:20] eremcan commented on #3576
Hello @juan131
No my backup script doesn't make any modification for postgres user.

[2021-02-24 12:58] adrianovieira commented on #5568
Yes! You're right.

I changed `data` folder the right permissions and everything is working like a charm.

Thank you.

Maybe one could add this information on the chart docs

[2021-02-24 12:59] lusu007 commented on #5605
ArgoCd does not seem to be to blame for this. If I deploy the Helm chart directly without ArgoCd and then make a change, the old replica sets are not deleted too. Could this be related to the rollback feature of Kubernetes?

![image](https://user-images.githubusercontent.com/10341994/109004032-7980ce80-76a8-11eb-95a4-943785b23e5c.png)

[2021-02-24 13:12] #5590 closed

[2021-02-24 13:12] raefezzeldin commented on #5590
I have created a new image and I have installed Java on it.

[2021-02-24 14:37] marcosbc commented on #5594
Hi @kevin96666, you would need to deploy kubelets via `allowed-unsafe-sysctls`, refer to [the official documentation](https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#enabling-unsafe-sysctls) for more info.

[2021-02-24 15:59] carrodher commented on #5595
k8s (at the end Helm is using k8s), allows clients to discover pod IPs through DNS lookups. Usually, when you perform a DNS lookup for a service, the DNS server returns a single IP (the service’s cluster IP). But if you tell k8s you don’t need a cluster IP for your service (you do this by setting the clusterIP field to None in the service specification ), the DNS server will return the pod IPs ins

[2021-02-24 16:05] ChiefAlexander commented on #5443
I think a quick bandaid here for those that are experiencing a problem is to have a flag to disable this pre-stop hook completely. Would that be acceptable?

[2021-02-24 16:14] Balde-ak47 commented on #5561
I solve it by doing
helm upgrade <release-name> bitnami/prestashop --set livenessProbe.enabled=false --set readinessProbe.enabled=false

[2021-02-24 16:15] tompizmor commented on #5578
I may know the reason...

The first version of the chart (and the kafka container) didn't support configuring all Kafka properties through env vars (that feature was added in #1202) so we only exposed the main properties with the Kafka default values at that time.

Right now, as we can set any kafka property with `KAFKA_CFG_XXX` env vars, it wouldn't be necessary to maintain those properties confi

[2021-02-24 16:23] GerryWilko commented on #5595
Ahh I see perfect. That makes sense. Thank you for taking the time to explain that. I shall use the headless service then.

Also I estabilished the cause of my original issue. It was actually just that my cluster resources were restricting the rabbitMQ pod as it defaults to `BestEffort`. In my case I settled on the following `Burstable` resource requests:

[code]

[2021-02-24 16:23] #5595 closed

[2021-02-24 16:36] #3700 closed

[2021-02-24 16:38] rafariossaa commented on #3700
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:38] rafariossaa commented on #3202
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:38] rafariossaa commented on #5347
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:38] rafariossaa commented on #5164
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:38] rafariossaa commented on #5543
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:39] rafariossaa commented on #5181
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 16:39] rafariossaa commented on #1544
Hi,
  A new version of the chart was released.
  Could you give it a try and check if this fixed the issue for you ?

[2021-02-24 17:03] tom-schoener commented on #5164
Thanks. I'll try it tomorrow and will let you know if it fixes the issue.

[2021-02-24 17:04] julienbruitte opened #5608 "Ingress ressource not scheduled"
**Which chart**:
nginx-controller : 0.44
**Describe the bug**
When deploying more than 5 ingress ressources, they are not consumed by the pod.

hello, on a cluster when we try to deploy more than 5 ingress ressources on one nginx controller, they are not consumed. No IP and no events.

And when we log on the pod, we can see the 5 first ressources (event.go on line 282).

Is there any limitations ?

[2021-02-24 17:23] anthonyvetter commented on #5551
It was from the CLI
[code]

[2021-02-24 18:46] sparkleGoat commented on #5413
I have tried with s3 remote logging and am still getting that "name must be provided".  I am fine with working with another version of the image/Airflow. If someone could point me to the one that works with the KubernetesOperator and does not include a Redis pod.  Also if there is an update on this issue since the last post?

Also, I was read about this error in airflow issues https://www.mail-arc

[2021-02-24 19:11] sveba commented on #5578
Yes, the extraEnvVars are the solution and the right way to do it. I'm using now a combination of helm values (to overwrite the helm defaults) and extraEnvVars, which is not very nice.

[2021-02-24 19:39] leokhachatorians commented on #4887
@miguelaeh Ah understood. I ended up more or less doing a bit of a hack to the `libmariadbgalera.sh` to adjust the manner in which it would determine when to bootstrap the cluster; if anyone ends up going down a similar path.

[2021-02-24 21:37] kzellag commented on #5347
Hi everyone,
  Here are my observations after trying this fix (bitnami/redis : 12.7.7 , 2dc23f8a22cef67a7c096983e55a019f6c875d3b).

I did the following tests:

--------
 Test-1
--------
 I Deployed the chart with the default values for livenessProbe/readinessProbe under "master:", "slave:" and "sentinel:", with 4 replicas. 3 redis pods started, where only one of them stayed in the "Running" state

[2021-02-25 02:56] Pjstaab opened #5610 "[bitnami/postgresql] Installing custom modules"
**Which chart**:
bitnami/postgresql 10.3.5

**Describe the bug**
Unable to install custom modules to the library folder using initdbScripts.

**To Reproduce**
Create initdbScripts to copy files to /opt/bitnami/postgresql/lib during initialization.

**Expected behavior**
Files are copied to the folder

**Version of Helm and Kubernetes**:
Helm 3.1.2
K8s 1.15.14

**Additional context**
I'm trying to

[2021-02-25 06:14] mohanagandlla commented on #5182
I am sorry at where i can pass this log level as debug

[2021-02-25 06:49] shenqinb-star opened #5612 "[bitnami/redis] lots of ssl errors in pod logs when enable tls for redis sentinel deployment"
**Which chart**:
bitnami/redis:12.7.6

**Chart values**:
sentinel enabled:
![image](https://user-images.githubusercontent.com/79623318/109113914-ee6f0980-7777-11eb-8128-b0d467a2cab3.png)
tls enabled:
![image](https://user-images.githubusercontent.com/79623318/109113978-00e94300-7778-11eb-8b01-707fb7c711b6.png)

**Describe the bug**
After deploying redis sentinel with tls enabled into K8s, I got a

[2021-02-25 06:52] shenqinb-star commented on #5612
1. I'm wondering where does these errors come from. I'm sure it is not caused by external client connect.
2. The error still occurs after a disable the livenessProbe and readinessProbe.

[2021-02-25 08:19] alemorcuq commented on #4710
Thanks for the information, @tsterker! Let's hope the issues are solved with that update. Please, keep us updated.

[2021-02-25 08:36] Mauraza commented on #5568
The documentation of non-root contianers is [here ](https://github.com/bitnami/charts-docs/blob/53cdfb201cea89b74a93372d13983b565c081463/common/_use_non_root.md.erb)

[2021-02-25 08:36] juan131 commented on #3576
Hi @eremcan

Thanks! Could you try the following approach?

- Install (or upgrade) the chart disabling the probes.
- Restore your backup in the database.
- Check the CPU/RAM of the PostgreSQL pods (`kubectl top pod POD_NAME`) and share the results.
- Try to access manually to the database after restoring the database and share the results.

[2021-02-25 08:39] javsalgar commented on #4541
Hi,

Being able to reset passwords after initialization is something that we don't currently support. From a declarative perspective, we would like to support it but in most infrastructure applications is not trivial. That means that the password you set is, actually, the bootstrap password (maybe it would make sense to change the nomenclature). If you want to deploy a fresh installation, you need

[2021-02-25 08:43] alemorcuq commented on #5328
Thanks, @viceice. I will create a PR implementing these changes done in the past for the Redis chart in the Redis Cluster chart: #3559

[2021-02-25 08:44] javsalgar commented on #5610
Hi,

In principle, for security reasons, we don't allow writing in the `lib/` folder, only at build time or launching the container as root. At the moment, the recommended approach is that of building a custom image. I'm not sure how common the use case of adding modules with initscripts is. Another option that comes to mind is using the extraVolumes and extraVolumeMounts values where you can add

[2021-02-25 08:45] RammusXu opened #5613 "[bitnami/redis-cluster] Can't failover when IP chanages"
**Which chart**:
bitnami/redis-cluster-4.3.3

**Describe the bug**
When a node restart or pod recreate, it changes IP. It won't failover due to it headless service.

**To Reproduce**

1. `helm install`
2. Wait cluster setup.
3. Delete a redis pod or drain a node.
4. Wait redis pod recreate.
5. `redis-cli cluster nodes` shows node didn't get back.

**Expected behavior**
All redis node should get ba

[2021-02-25 08:45] alemorcuq commented on #5561
Nice to hear that, @Balde-ak47! It's possible that you need to fine tune those probes so that they work correctly in your environment.

[2021-02-25 08:45] #5561 closed

[2021-02-25 08:47] matus-cuper commented on #5580
Hi,

[code]
and I tried to access single mongoDB instance, but behavior is the same. I am able to connect from container inside kubernetes cluster, but from outside I got the same error:

[code]

Here is picture of my network security group for Kubernetes:
![Network Security group rules](https://user-images.githubusercontent.com/19537184/109126419-80ade800-774d-11eb-87bf-be7e8808894c.png)

[2021-02-25 08:51] javsalgar commented on #5580
And are you able to launch a mongodb client container from inside the cluster and access one node using the service ClusterIP (not the external ip)? If that works, then we can confirm that there's an issue in the cloud side. That information should be enough to report Azure so they check what is happening.

[2021-02-25 09:02] giladger commented on #5521
Hi, I have the same issue with 3.5.2

[2021-02-25 09:23] rafariossaa commented on #5347
Hi  @kzellag,
  Thanks for your testing.

  Regarding `test1` you will need to increase the liveness as you found in test 2. You will need to tune those parameters depending on the cluster. I tried in gce, azure and minikube and I found not issues with the default settings.

  Regarding the test 2, could you share the logs of the sentinel and redis containers ?
  I tried in a google k8s cluster (3

[2021-02-25 09:23] juan131 commented on #5551
Hi @anthonyvetter

That looks like an issue with your **ca.crt** (probably not a valid X.509 format). The error you're obtaining comes from below code:

- https://github.com/Shopify/docker/blob/master/pkg/tlsconfig/config.go#L79

That's probably related to be using the "staging" certs. Could you paste your **ca.crt** in the site below and ensure it can decode it?

- https://tools.keycdn.com/ssl

O

[2021-02-25 09:31] miguelaeh commented on #4887
thank you for sharing it @leokhachatorians !

[2021-02-25 09:32] rafariossaa commented on #5605
It should be deleting the old nodes when the new ones becomes ready.
Could you run `kubectl describe pod  name_of_the_pod_here` (new and old pod) ? Let's see what the event log indicates.

[2021-02-25 09:33] rafariossaa commented on #5164
Hi,
  @tom-schoener thank you very much.

[2021-02-25 09:33] miguelaeh commented on #5521
Hi @giladger ,
Could you share the logs errors and the output for Helm version, kubectl version and the chart version please?

[2021-02-25 10:31] Mauraza commented on #5608
Hi @julienbruitte

could you add more information about this? for example the logs of the pod and where are you deploy these resources.

[2021-02-25 10:41] julienbruitte commented on #5608
Hi @Mauraza

Thank you for your reply.

First the ingress ressources list :

NAMESPACE  NAME                                    CLASS    HOSTS          ADDRESS          PORTS     AGE
ingress1   secretive-servant--app                  <none>   ingress1.net   IP OK   	    80, 443   47d
ingress2   various-edge-various-edge-app           <none>   ingress3.app           	    80, 443   19h
ingress3   te

[2021-02-25 10:56] matus-cuper commented on #5580
Seems it is working from container inside cluster with Cluster IPs:

[code]

[code]

I will report this issue to Azure support and see what they will respond.

Do you have experience with this setup with different cloud provider?

[2021-02-25 11:12] tom-schoener commented on #5164
I've updated the Helm Chart from v12.7.4 to v 12.7.7 (default docker image docker.io/bitnami/redis:6.0.11-debian-10-r0) and used the default `sentinel.cleanDelaySeconds: 5`. In v12.7.4 I could easily reproduce the error. I can still reproduce the error in v12.7.7 if I delete the first redis pod out of two.

First node has IP `10.0.1.26`, second one has IP `10.0.0.31`:
pod 1 logs:
[code]
pod 2 logs

[2021-02-25 11:26] viveksinghggits commented on #5521
Hey @giladger
updating the helm version to
[code]
works.
I just installed postgreSQL.

[code]

[2021-02-25 11:44] alemorcuq commented on #5182
Oh, sorry. This is a parameter the chart takes, not an InfluxDB configuration.

[2021-02-25 12:55] Balde-ak47 commented on #4514
Hi,

So still now this issue is not solve ? Because I have the same problem.

[2021-02-25 13:33] bharat15-ml opened #5615 "[bitnami/redis-cluster] how to change default data dir - /bitnami/redis/data and enabling logs??"
**Which chart**:
bitnami/redis-cluster-4.3.1

**Describe the bug**
Want to change default persistent data dir- "/bitnami/redis/data" To "/redis/data/$HOSTNAME", so that each pod will have different persistent location based on $HOSTNAME??

**To Reproduce**
Steps to reproduce the behavior:

1. In values.yaml have made below changes in line-157
    extraEnvVars:
    -  name: REDIS_DATA_DIR
       va

[2021-02-25 13:47] EtienneBarbier commented on #5584
Hi @marcosbc, i'm ok with thr non-default behavior.
My problem is that the default behavior is to use prometheus-operator image for prometheusConfigReloader.
Is it mean than prometheus-operator image include prometheusConfigReloader feature ?
If not, then the default behavior is wrong and should be removed.

[code]

[2021-02-25 13:55] #4890 closed

[2021-02-25 13:55] #4716 closed

[2021-02-25 13:55] #4895 closed

[2021-02-25 13:55] #4874 closed

[2021-02-25 13:55] #4528 closed

[2021-02-25 13:55] #4634 closed

[2021-02-25 14:21] paulux84 opened #5616 "Docker build using https://bitnami.com/stack/jenkins/helm"
Hi all, i've installed jenkins using helm https://bitnami.com/stack/jenkins/helm1 but i not found a way to use docker build. I've found docker installation program inside jenkins configuration and using  `org.jenkinsci.plugins.docker.commons.tools.DockerTool`

ex pipeline:

[code]

The problem is that `mvn spring-boot:build-image` command cannot connect to docker socket so the build command not wo

[2021-02-25 14:32] shivakumar-p-sap commented on #5521
Hi miguelaeh,

For me 3.5.0 worked.
version.BuildInfo{Version:"v3.5.0", GitCommit:"32c22239423b3b4ba6706d450bd044baffdcf9e6", GitTreeState:"clean", GoVersion:"go1.15.6"}

[2021-02-25 14:33] #4585 closed

[2021-02-25 14:36] sida-khalibre commented on #5580
@matus-cuper could you try reach with telnet client? Does it able to connect?

[2021-02-25 14:44] #5227 closed

[2021-02-25 14:44] rafariossaa commented on #5227
I am procceding to close this issue.
Please don't hesitate to reopen it if needed.

[2021-02-25 14:49] matus-cuper commented on #5580
Nope. It returns connection closed from inside cluster

[code]

and it stuck on "Trying" from outside

[code]

[2021-02-25 14:51] rafariossaa commented on #5164
@tom-schoener ,
If I understood it correctly, are you running only 2 nodes ?
You need an odd number of nodes (minimun 3) to redis be able to reach a [quorum and promote nodes.](https://redis.io/topics/sentinel#fundamental-things-to-know-about-sentinel-before-deploying)

[2021-02-25 14:54] #4225 closed

[2021-02-25 14:54] #4616 closed

[2021-02-25 14:54] #4607 closed

[2021-02-25 14:54] #4587 closed

[2021-02-25 14:54] #4611 closed

[2021-02-25 14:54] #3952 closed

[2021-02-25 14:54] #4574 closed

[2021-02-25 14:54] #4635 closed

[2021-02-25 14:54] #4465 closed

[2021-02-25 14:54] #4466 closed

[2021-02-25 15:06] amin224 opened #5617 "Bitnami/rabbitmq not displaying metrics on RabbitMQ-Overview dashboard"
**Which chart**:
helm install my-release bitnami/rabbitmq

**Describe the bug**
I have a working bitnami/rabbitmq server working on my Kubernetes cluster but the graphs displayed on Grafana are not enough, I found this dashboard [RabbitMQ-Overview](https://grafana.com/grafana/dashboards/10991) which has sufficient details that can be very useful for my bitnami/rabbitmq server but unfortunately the

[2021-02-25 15:31] IbraheemAlSaady commented on #5030
PR is already merged, closing this.

[2021-02-25 15:31] #5030 closed

[2021-02-25 15:51] tom-schoener commented on #5164
My bad. I am now using 3 nodes. Destroying the pod containing the master node doesn't cause issues anymore - That's great! The only thing I've noticed is that after I destroyed the pod, it has to restart once (start and then restart) in order to work. But that's not an issue in my eyes. After the restart another redis node is master.

Thanks for the support, I appreciate it! :)

[2021-02-25 16:03] kishorkk91 opened #5618 "Fluentd daemonset doesn’t generate logs as standard output"
I have deployed the EFK helm chart on the K8s cluster. All pod runs fine but Fluentd not showing any logs and consequently not on Kibana either. I don't know if I have something missing in the config or the Bitnami issue itself. The cluster is restricted, and don't know if that makes any difference. Firstly, pods were not up so I deployed as a **non-root** user and ** pspEnabled: true** then pods

[2021-02-25 16:06] javsalgar commented on #5580
Please let us know what the Azure team says

[2021-02-25 16:10] javsalgar commented on #4514
Hi,

I am afraid it is still in our backlog. I will forward it to the engineering team to evaluate a re-prioritization.

[2021-02-25 16:16] juan131 commented on #5447
For some reason, we lost the tracking of this issue until today the stale bot added the comment. Sorry for that @mtenrero

Honestly, I don't know if the JMX exporter (based on [this project](https://github.com/prometheus/jmx_exporter)) is compatible with IPv6. This line below suggests me it's not:

- https://github.com/prometheus/jmx_exporter/blob/master/jmx_prometheus_javaagent/src/test/java/io/p

[2021-02-25 16:17] javsalgar commented on #5616
Hi,

We don't have much experience with the Docker-in-docker configuration that the Jenkins Helm chart would require. I imagine that it may require you to mount the Docker socket from the host (and maybe making the Jenkins deployment privileged as well).

You would need to use the podSecurityContext and containerSecurityContext values to make the container privileged (in case your k8s cluster supp

[2021-02-25 17:04] marcosbc commented on #5443
It was implemented for disaster recovery, so my understanding is that it was required if you wanted to be able to restore a cluster, so I don't think it's ideal. @juan131 can you confirm?

[2021-02-25 17:10] marcosbc commented on #5612
Hi @shenqinb-star, we supposedly implemented a fix for this in #3061, however, running a `helm template` I noticed it doesn't appear for the `master` node anymore. It was apparently removed in #3658.

Since you found the issue, it would be awesome if you wanted to contribute with a fix for this change. In principle you would only need to add the `--tls-replication yes` flags to the `start-master.s

[2021-02-25 17:28] StianHaugland1 commented on #5360
Not sure if its related but im also having some issues. Deleting one pod in a 3 node etcd-cluster causes the pod to go in to a crashloop: logs are:
[code]
Default values with:
[code]

deleting both the failing pod and another etcd pod at the same time, starts the pods again.

[2021-02-25 17:30] marcosbc commented on #5413
Unfortunately we haven't fixed this in bitnami/airflow yet. However, the official Airflow chart seems to include these changes, if you need these changes urgently and don't mind using non-Bitnami charts.

In this case, I don't think so because the issue is referring to logs for Kubernetes executors. Reading those logs requires access via RBAC.

Currently the known fix for this issue involves adapt

[2021-02-25 18:09] MichaelHudgins commented on #5016
@javsalgar Would you be open for the service names being changed or set as a chart variable?  I am having to overwrite my service names on each helm update.  I believe the service names having the tcp is the only part of my istio workflow that is not manageable by chart options.

[2021-02-25 18:13] lusu007 commented on #5605
The problem is not that the pods are not deleted, but that the replica sets remain there.

I have therefore attached the output of describe command of the Replicasets.

Old:
[code]

New:
[code]

[2021-02-25 19:00] Pjstaab commented on #5610
That's what I figured. I'll look at extraVolumes and extraVolumeMounts. Thanks!

[2021-02-25 19:00] #5610 closed

[2021-02-25 19:00] joel-schaal commented on #5570
Here it is:
[code]

I considered this but then was not so liking to setup credentials in the script for pulling out the data

I actually used a Helm hook to mount the file as a `hostPath` and connect to the DB to import it.
While that works and solves my issue, I find it a bit hacky (needing to set some nodeAffinity), and I hoped other people used the initdbscript feature for such use case.

[2021-02-25 19:50] phihos opened #5620 "Running `helm diff` will always yield a change in the `memberlist` secret"
**Which chart**:
metallb 2.3.2

**Describe the bug**

Running `helm diff` will always yield a change in the `memberlist` secret. The is because the existing `speaker.secretValue` is unquoted and the "new" (but same) `speaker.secretValue` is quoted.
I already traced the behavior down to `common.secrets.passwords.manage` but I could not find the actual culprit.

**To Reproduce**
Steps to reproduce t

[2021-02-25 20:07] amitsehgal opened #5621 "vulnerabilities in bitnami metrics server docker image"
**Which chart**:
5.6.0 and image is bitnami/metrics-server
**Describe the bug**
After scanning found 1 HIGH and 16 MDEIUM vulerabilities preventing to put the chart into prod.

**To Reproduce**
Steps to reproduce the behavior:

download image docker pull bitnami/metrics-server:0.4.2
and scan

[code]

**Expected behavior**
clean image with no vulerabilities
**Version of Helm and Kubernetes**:
helm

[2021-02-25 20:55] avadhanij commented on #5347
@rafariossaa, I pulled the latest chart and reinstalled it on my minikube cluster. I did **not** use the livenessProbe and readinessProbe 30 second values @kzellag provided as initial workaround.

It works. Even on the first bring up, I can see that the master is correctly elected, the other two become replicas, and the sentinel info reflects it as well.

`master0:name=my-master,status=ok,address=

[2021-02-25 21:38] pentago opened #5624 "Multiple external-dns releases in separate namespaces conflict"
Installing of multiple `external-dns` releases in separate namespaces conflicts because both releases require `ClusterRole` to function properly (_I have no luck making Clouflare and Gogole CloudDNS to work on GKE without RBAC_).

I tried even making the proper ordering by installing one release with ClusterRole enabled and second one (_in other namespace_) with ClusterRole disabled, needles to sa

[2021-02-25 22:09] yangzaizi commented on #3141
https://issues.apache.org/jira/browse/KAFKA-10285

I also see this issue filed against Kafka.

[2021-02-25 22:41] kzellag commented on #5347
Hi again,
  I did 2 additional tests, where one works under a "KIND" cluster, and the other, under an EC2 instance, shows the same errors as in the aforementionned Test-1.

----------------------
Under KIND
----------------------

kubectl -n myns get pods
NAME             READY   STATUS    RESTARTS   AGE
myredis-node-0   2/2     Running   0          15m
myredis-node-1   2/2     Running   0

[2021-02-26 01:50] mohanagandlla commented on #5182
HI @alemorcuq I have enabled the debug and removed the liveness and redines probs now influxdb server is UP and i am getting this error some time
[code]

[2021-02-26 02:28] shenqinb-star commented on #5612
Hi @marcosbc, thanks for your replay. I'm happy to contribute a fix it. currently the change should be made the template/configmap-scripts.yaml, am I right?

[2021-02-26 06:00] doctorpangloss opened #5626 "Keycloak missing schema environment variable / configuration"
**Which chart**:
https://github.com/bitnami/charts/tree/master/bitnami/keycloak
All versions
**Describe the bug**
Cannot set `DB_SCHEMA`.

**To Reproduce**
 1. Try to set the `DB_SCHEMA` environment variable or add the appropriate configuration to all three `xml` files.
 2. Observe the schema is not used.

**Expected behavior**
Use the specified schema as the upstream keycloak image does.

**Versi

[2021-02-26 06:29] shenqinb-star commented on #5612
Hi @marcosbc, I did following fix in my laptop, but I still got the ssl errors, Am I miss something?
1. download helm to my laptop `helm pull bitnami/redis:12.7.7 --untar`
2. add **ARGS+=("--tls-replication" "yes")** to templates/configmap-scripts.yaml
![image](https://user-images.githubusercontent.com/79623318/109263710-b4b50600-783e-11eb-8641-730df7e6fcab.png)
3. install local chart `helm instal

[2021-02-26 07:04] juan131 commented on #5443
Hi everyone,

I'm currently working on improving the logic in the scripts that boot etcd since we're observing a flaky behaviour under certain circumstances, expect news from me about this in the following days.

We could include a flag like that, I don't see any problem on it. That said, it shouldn't be necessary. I mean, the logic should be able whether the "pre-stop" hook was successfully compl

[2021-02-26 07:12] juan131 commented on #5360
Please check the comment I just dropped at https://github.com/bitnami/charts/issues/5443

Several people reported instability around **etcd** when performing operations such as scaling or relocating pods. I'm currently working on removing tech debt from the scripts we use to bootstrap the containers.

Expect new from my side in the following days.

[2021-02-26 07:26] juan131 commented on #3141
Thanks for sharing the link @yangzaizi

@akshaysharama also mentioned in [this previous comment](https://github.com/bitnami/charts/issues/3141#issuecomment-669286032) that it was an issue in Kafka itself.

[2021-02-26 07:31] RammusXu commented on #5613
I found it caused by `persistence.enabled=false`

reproduce:
[code]

[2021-02-26 07:38] sveba commented on #5578
I would be happy to create a PR, which removes the default values. This would be a breaking change for some guys maybe. What do you think @tompizmor @juan131?

[2021-02-26 08:04] Mauraza commented on #5608
Hi @julienbruitte,

you are right it's strange could you add the `describe` of these resources, to check if there some event there?

[code]

[2021-02-26 08:08] beltran-rubo commented on #5621
Hi @amitsehgal

The image is based on Debian 10 and those issues are open by the the Debian distro. You can see the full report at https://quay.io/repository/bitnami/metrics-server?tab=tags

If you click in the "show only fixable" you can see the ones that are already fixed packages in the repository. You can learn more about what is Bitnami policy for keeping those containers up-to-date at https:

[2021-02-26 08:10] julienbruitte commented on #5608
Hi @julienbruitte,
`Name:            tender2-rainstorm-tender-rainstorm-app
Namespace:        ingress3
Address:
Default backend:  default-http-backend:80 (<none>)
TLS:
  letsencrypt-prod terminates api-preppy.origami-marketplace.net
Rules:
  Host                                Path  Backends
  ----                                ----  --------
 ingress2.app
                                      /

[2021-02-26 08:24] juan131 commented on #5620
Hi @phihos

It's easy to reproduce by simply running this:

[code]

This comes from:

- https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_secrets.tpl#L90

That final: `| quote }}` is adding the quotes that are provoking the `helm-diff` plugin to fail.

Honestly, I'm not sure if this is really a problem in the chart or a limitation in the plugin that's unable to recognise equi

[2021-02-26 08:25] shenqinb-star commented on #5612
after reading templates/configmap-scripts.yaml, it only run start-node.sh and start-sentinel.sh when set cluster.enabled =true and sentinel.enabled=true. start-master.sh doesn't take effect.

[2021-02-26 09:05] miguelaeh commented on #5605
Hi @lusu007,
it is a Kuberentes feature, you can edit it using `.spec.revisionHistoryLimit` in the deployment

[2021-02-26 09:06] carrodher commented on #5613
You can disable the persistence provided by default but then you need to set an existing PVC or another method to save the status of the pods, that info is used during the initialization in order to determine the cluster and the role used by the new member is waking up after a restart

[2021-02-26 09:08] miguelaeh commented on #5347
Hi guys,
Thank you very much for your detailed processes, @rrios is working on it and will get back to you with news

[2021-02-26 09:17] Mauraza commented on #5624
Hi @pentago,

Are you using the same name to deploy in both `external-dns` in different namespaces?
If you using differents namespaces to deploy there shouldn't be any problem.

[2021-02-26 09:20] shenqinb-star commented on #5612
after reading the charts, I think the problem may as below:
1. when we enable TLS, redis will verify the hostname verification, I gues

[2021-02-26 09:43] RammusXu commented on #5613
Can you write warning on this configuration or a workaround for that? Thank you.

[2021-02-26 09:49] miguelaeh commented on #4082
Hi guys, thank you very much for the extended discussion, I added my concerns to the PR.

[2021-02-26 09:50] pentago commented on #5624
Hi @Mauraza,

Godamn, how I didn't think of that earlier :D
I reinstalled charts, each with a different name and it works now.

Thanks a ton!

[2021-02-26 09:50] #5624 closed

[2021-02-26 09:57] lusu007 commented on #5605
All clear! Then my first guess was right after all. Thanks anyway for your efforts.

[2021-02-26 09:57] #5605 closed

[2021-02-26 10:45] Mauraza commented on #5618
Hi @kishorkk91,

Did you check this issue https://github.com/bitnami/charts/issues/4813? I think could be related.

[2021-02-26 11:43] lukasmrtvy commented on #3763
@FraPazGal any progress on this ?

fluentd-config:
[code]

values.yaml:
[code]
is working for me. Is there any chance for adpoting this mechanism ? Thanks

[2021-02-26 13:41] marcosbc commented on #5615
Hi @bharat15-ml, could you share more on your use case? Pods shouldn't be sharing the persistent directory so that's why it's not supported currently.

[2021-02-26 14:36] ChiefAlexander commented on #5443
I think that users should be able to decide if they want an etcd member to be removed on pod stop or not. Regardless of the need of this script always working as intended.

[2021-02-26 14:52] alemorcuq commented on #5589
As noted in https://github.com/bitnami/bitnami-docker-postgresql-repmgr/issues/66, we have created an internal task to investigate the issue.

[2021-02-26 15:42] juan131 commented on #5578
Hi @sveba

We should be cautious since it could be an unpleasant surprise for users to discover that after running an upgrade the default settings were modified.

It's probably better wait for a major version of the chart to remove them.

[2021-02-26 17:04] SiegfredRodriguez opened #5628 "Document generation methods"
This is more of question, I am trying to generate documentation for my charts, and your charts are wonderfully documented.
I have tried Frigate for that, and i ran into a few limitations here and there.

TLDR; What is your documentation generation method and tools? Generating values.yaml documentation in particular.

[2021-02-26 17:36] marcosbc commented on #5612
@shenqinb-star You seem to be right, I forgot to enable `sentinel.enable` in my local copy.

If you run `kubectl describe configmap NAME-scripts` (where `NAME` is your deployment name), can you see `--tls-replication` being enabled in `start-node.sh`?

[2021-02-26 17:45] marcosbc commented on #5626
Hi @doctorpangloss, currently the Bitnami Docker image for Keycloak does not support that environment variable, as it's from the [official](https://github.com/keycloak/keycloak-containers/) Docker image.

It seems like adding support for it would only require you to modify [L105 of `libkeycloak.sh`](https://github.com/bitnami/bitnami-docker-keycloak/blob/master/12/debian-10/rootfs/opt/bitnami/scri

[2021-02-26 18:07] marcosbc commented on #5584
@EtienneBarbier What that will do is add the image to specify `--prometheus-config-reloader` flag when running `prometheus-operator`.

Note that when Prometheus Operator deploys the image specified by `prometheusConfigReloader.image`, [it will override the Docker image's `ENTRYPOINT` to run `/bin/prometheus-config-reloader`](https://github.com/prometheus-operator/prometheus-operator/blob/master/pk

[2021-02-27 00:57] anthonyvetter commented on #5551
Sorry for the delay. The patch in chart v9.5.1 seems to have resolved this issue. I initially had the following error from the notary-server pod:
[code]
I let it run for a bit but it never connected. I deleted the norary-server pod and it seems to be connecting now.
[code]

[2021-02-27 01:27] shenqinb-star commented on #5612
@marcosbc I checked, Yes, both start-node.sh and start-sentinel.sh has `ARGS+=("--tls-replication" "yes")`

[2021-02-27 08:09] sveba commented on #5578
Hi @juan131,

I agree. Do you have any tag, that you can add, so it will not be forgotten?

[2021-02-27 08:25] wantdrink commented on #5181
Hi @rafariossaa ,
Tested with

[code]
after rebooting all worker nodes and the error logs are the same as before:
sentinel:

[code]

redis:
[code]

metrics:
[code]

[2021-02-27 10:37] carrodher commented on #5617
There is a metrics exporter already bundled in the RabbitMQ Helm Chart, but it is not enabled by default, you need to manually enable and configure it, for that, you can take a look at [this section in the README](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#metrics-parameters) where the different parameters are listed. In the same way, you can have more info by directly looking

[2021-02-27 10:48] carrodher commented on #5164
We are glad to see the deployment works better right now, anyway, feel free to continue this thread if there is anything that is not working as expected

[2021-02-27 16:10] fangzhengjin opened #5630 "Provide syncTimeZone option"
**Is your feature request related to a problem? Please describe.**
Provide syncTimeZone option

**Describe the solution you'd like**
Since not all charts currently provide extraVolumeMounts and extraVolumes options, when these two options are not provided, I cannot customize the time zone of the container synchronization node, and the time zone of the container synchronization node should be a ver

[2021-02-27 21:49] phihos commented on #5620
Yes you are right. Probably this change causes far more trouble than fixing the helm diff plugin.

[2021-02-27 22:29] prakashmnnit81 opened #5633 "not able to add config map in bitnami postgreql using values.yaml"
I am trying to add config map in bitnami postgreqsql  from values.yaml using option  but unable to see config map in deployment
primary:
    extraVolumes: |
      - name: testscript
        configMap:
          name: testconfig
    extraVolumeMounts: |
      - mountPath: /test/temp
        name: testscript

[2021-02-27 22:41] doctorpangloss opened #5634 "Keycloak with KUBE_PING will sometimes fail and manifest as failed redirect, also upgrading to higher replica count fails"
**Which chart**:
`keycloak-2.1.2`

**Describe the bug**
A failure in `KUBE_PING` leads to a successful installation and good liveness/readiness but login to the admin console will fail with a redirect.

Not sure yet what would aggravate KUBE_PING failure on install because it's not consistent.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure with:
[code]
2. `helm install --debug ke

[2021-02-28 01:26] doctorpangloss commented on #5634
Basically you need something like this?

[code]

[2021-02-28 05:13] mlb5000 commented on #4541
I get this issue, but ONLY when trying to connect to the RabbitMQ node from INSIDE the K8S network (via `rabbitmq.default.svc`). When I use `rabbitmqctl` to authenticate or run the exact same consumer outside the K8S network t talking to the exposed K8S port on the host, it works fine (using credentials other than `guest`). But inside of the K8S network with those exact same credentials I get:

``

[2021-02-28 09:17] sbkg0002 commented on #4624
What would be the correct way to integrate this? Running a init-container?

[2021-02-28 10:41] giladger commented on #5521
Please scratch that. My bad.
I was using an old terraform helm provider. I can confirm everything works with 3.5.2.
Thanks.

[2021-02-28 14:12] mecampbellsoup commented on #2568
@deed02392 what did you end up doing to work around this? In our case we had to use `aiopg` backend (I assume you are also using `encode/databases` library).

I think we will likely switch our postgres HA deployment from `bitnami/postgresql-ha` to Crunchy Data's Kubernetes offering and use pgBouncer for connection pooling.

https://github.com/CrunchyData/postgres-operator#connection-pooling

[2021-02-28 14:32] electrical commented on #5494
@miguelaeh sorry for the delay. More than happy to add the support for it.
I presume backwards compatibility is required?
The cleanest solution would be for both the primary and readreplica's to have their own persistence part.

[2021-02-28 17:51] carrodher commented on #5613
To be honest, I am not sure what should be documented related to that. This is a general topic from k8s, the data should be persisted somehow so when a pod is destroyed the new one created by k8s contains the same data. In this specific application, the data is used to determine the cluster status, among other purposes, then it is not possible for the new pod/container to know the status of the cl

[2021-02-28 19:40] deed02392 commented on #2568
hi @mecampbellsoup , I ended up just using hundreds of native connections with the `postgres` chart. I am now in the process of setting up pgbouncer with a dedicated DB node instead because my performance needs have increased a lot since I first raised this issue.

[2021-02-28 19:42] #5061 closed

[2021-02-28 20:03] mecampbellsoup commented on #2568
Interesting, so you setup/teardown each of those native connections (instead of using any sort of pooling) basically?

[2021-02-28 20:41] deed02392 commented on #2568
Yeah basically just not using any pooling whatsoever.

Thanks for the tip! Didn't try aiopg, I'm not sure if it's a drop-in replacement for asyncpg or whether I'd need to modify a bunch of application code though (it might be the reason I never tried it).

[2021-02-28 22:58] kishorkk91 commented on #5618
Hello @Mauraza ,
Thanks for the feedback. Yes, I am following #4813

[2021-02-28 23:03] kishorkk91 commented on #4813
I am using version 3.6.2 of fluentd and I have used the default ConfigMapFiles for forwarder and aggregator from values.yaml. After so many trials and errors I am able to see some logs but unfortunately since the year 1970.01.01 and of course in kibana I see logstash logs from **1970.01.01**

`kkot@ltp-str-00-0085:~/logging-int$  kubectl logs -l "app.kubernetes.io/component=aggregator"
`
**1970-01