[2022-02-14 03:34] digihunch opened #8999 "Customize service.name in Traffic Exposure parameters"
### Name and Version

bitnami/postgresql-ha 8.3.1

### What is the problem this feature will solve?

[Istio](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#explicit-protocol-selection) uses named port to identify traffic and apply appropriate authorization rules.  Currently, the [Traffic Exposure Parameters](https://artifacthub.io/packages/helm/bitnami/postgr

[2022-02-14 07:15] #8978 closed

[2022-02-14 07:16] juan131 commented on #8978
thanks @codervinod ! I just accepted and merged your PR

[2022-02-14 07:21] juan131 commented on #8985
Hi @dc232

Thanks for reporting this feature request. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-14 07:24] carrodher commented on #8993
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-moodle#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by fi

[2022-02-14 07:29] juan131 commented on #8990
Hi @OvervCW

Could you please provide the values.yaml you're using to deploy the PostgreSQL chart? I'd like to reproduce the issue on my side. Thanks in advance.

[2022-02-14 07:31] juan131 commented on #8997
Thanks so much for reporting this issue @bdols ! I just sent a PR to address it.

[2022-02-14 07:44] juan131 commented on #8975
Thank you @sunjayBhatia !

[2022-02-14 07:53] Cryingmouse commented on #8721
Today I tried the latest Chart 7.0.1. Everything is good for fresh installation. But when I tried to restart all the VMs (on which mariadb galera pods are running) to simulate the power off of the whole data center, the whole cluster cannot recover gracefully. After check the content of the file ``` grastate.dat``` in each VM, the value of ```safe_to_bootstrap``` equals to 1 in one of the nodes. C

[2022-02-14 08:19] rafariossaa commented on #8987
Hi,
  Thanks for spotting this out.
  Since you already have the changes, Would you like to send a PR ? we will be glad to review and merge it.

Thanks forehand

[2022-02-14 08:22] juan131 commented on #8790
No @bdols

They're just executed during the 1st container initialization.

[2022-02-14 08:26] rafariossaa commented on #8457
@kfox1111
Could you provide the command used to deploy the chart as well as the values.yaml or parameters used via --set (if any)? We would like to try to reproduce the issue in our side.

[2022-02-14 08:26] juan131 commented on #8977
Hi @betoksoft

Thanks so much for reporting this issue. Could you please share the complete **values.yaml** you're using so I can reproduce the issue on my side?

[2022-02-14 08:39] OvervCW commented on #8990
@juan131 Sure, the values are:

[code]

And they are rejected by this code:

https://github.com/bitnami/charts/blob/f1b572a51d4b539f9eb690437766cc6e6467a053/bitnami/postgresql/templates/_helpers.tpl#L261-L270

[2022-02-14 09:00] javsalgar commented on #8984
Hi,

Thank you so much for spotting the issue! Would you like to submit a PR fixing it? We would review it and provide feedback.

[2022-02-14 09:06] javsalgar commented on #8989
Hi,

Thank you so much for the feedback! I think it makes sense to implement the feature. If you want to speed up the process, would you like to submit a PR adding the feature?

[2022-02-14 09:38] tom-schoener commented on #8773
I'd like to contribute. I'll create a PR by the end of next week.

[2022-02-14 09:55] javsalgar commented on #8999
Hi,

Thank you for using bitnami. Please note that we do not actively test our charts with istio. However, adding a prefix to the port names seems a reasonable change that we've done in other charts. Would you like to contribute with a PR?

[2022-02-14 10:25] miguelaeh commented on #8848
Hi @floresfactor ,
that's probably a typo on the README. The external access as it name indicates is to be able to connect to MongoDB from outside of the K8s cluster. `ClusterIP` services are used to connect inside the K8s cluster so they won't be resolvable from outside.

[2022-02-14 10:39] miguelaeh commented on #8071
Hi guys,
I did a test on this. Not stripping the binaries will increase by around 21 MB in the Redis bin folder. Which will increase our image size by 22%.
We will discuss this with the team and let you know if that's assumable or not.

[2022-02-14 10:56] alemorcuq commented on #8992
Thanks for reporting this, @quickjp2. We are providing the fly CLI in the image's PATH so you can use it from inside the container, but I agree with you that we should also allow users to download it as intended by Concourse.

I have created an internal bug to address it. Thanks again for reporting it.

[2022-02-14 11:10] migruiz4 commented on #8878
Hi @qeternity,

I'm sorry your experience with the Redis chart was not positive. Our team and the users who contribute to this chart, either by reporting issues or submitting PRs, try to continuously improve it.

Cloud-native may be used as marketing fluff most of the time, but in this case, I used it to refer to the issues we encounter because Redis is not designed to work in containerized enviro

[2022-02-14 11:10] igorwwwwwwwwwwwwwwwwwwww commented on #8071
@miguelaeh Thanks for the update! What is the breakdown of sizes per binary? Does that include `redis-cli` as well?

The main one we're concerned with is `redis-server`, stripping the others would probably be fine.

The other question is: Did you end up using one of the compression options suggested above by @matt-smiley? The tests we ran with symbol compression suggested much smaller increase tha

[2022-02-14 11:19] javsalgar commented on #8998
Hi,

Could you add the `image.debug=true` flag to see what the exact error is?

[2022-02-14 12:22] ngingihy opened #9005 "failed to install CRD crds/custom-resource-definitions.yaml"
### Name and Version

bitnami/kong

### What steps will reproduce the bug?

1) With Installing latest version of Kong on a provisioned namespace not on a whole cluster (Not having access to GET/List CRD's), i'm getting the below error
`Error: INSTALLATION FAILED: failed to install CRD crds/custom-resource-definitions.yaml: customresourcedefinitions.apiextensions.k8s.io is forbidden: User "system:s

[2022-02-14 12:50] RamyaRohidas opened #9006 "Close insecure plain-text port 2181"
### Name and Version

zookeeper "3.6.1-ubuntu"

### What steps will reproduce the bug?

1. Make variable ZOO_TLS_CLIENT_ENABLE true.
2. Add condition - if ZOO_TLS_CLIENT_ENABLE is true, then don't enter clientPort at any value at all.
3. Delete clientPort = 2181 from the zoo.cfg file (this line was indeed deleted, but 3 more lines were added by default:
server.1 = platform-nap-zookeeper-0.platform

[2022-02-14 12:54] deschmih opened #9007 "[bitnami/grafana] Wrong default type in values.yaml for extraConfigmaps and extraEnvVars"
### Name and Version

bitnami/grafana 7.6.9

### What steps will reproduce the bug?

In the **value.yaml** the values **extraEnvVars** and **extraConfigmaps** are defaulted as object and not as array. This leads during helm install to warning `cannot overwrite table with non table for extraConfigmaps and  extraEnvVars `, if vaules are used.

proposal as bugfix in values.yaml:
[code]

### Are you u

[2022-02-14 13:26] oktayalizada commented on #8998
Hi @javsalgar
I am not getting any debug logs
{"type":"log","@timestamp":"2022-02-14T13:24:20+00:00","tags":["warning","plugins","actions","actions"],"pid":51,"message":"APIs are disabled because the Encrypted Saved Objects plugin is missing encryption key. Please set xpack.encryptedSavedObjects.encryptionKey in the kibana.yml or use the bin/kibana-encryption-keys command."}
{"type":"log","@timest

[2022-02-14 13:31] qeternity commented on #8878
Hi @migruiz4,

Thanks for the reply, and thanks for all of Bitnami's work in general (we use a few other charts that we are very happy with and grateful form and certainly none that we feel entitled to). I have just pulled my hair out with this chart a handful of times, so if I seem exasperated, it's only because I would very much like to migrate our hand-rolled system into something like this.

R

[2022-02-14 14:13] pascalrimann commented on #8889
@alemorcuq any updates on this?

[2022-02-14 15:01] alemorcuq commented on #8812
I'm going to leave this open in case someone wants to contribute to this.

[2022-02-14 15:22] cdprete commented on #1210
It would be really helpful if this would be fixed also in the image and not just in the chart. Maybe with an env variable like `BITNAMI_POSTGRES_ENABLE_VOLUME_PERMISSIONS` or so and having by default `true` as value.
I've the exact same issue when using the image alone (without Helm) on Rancher k3s.

[2022-02-14 15:30] betoksoft commented on #8977
This is the configuration i have in my values.yaml:

`minio:
  mode: distributed
  auth:
    rootUser: "MinioRoot"
    rootPassword: "somepassword123*"
  persistence:
    size: 15Gi
  provisioning:
    enabled: true
    resources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 64Mi
    buckets:
      - name: xxx
        region: aws
        v

[2022-02-14 16:22] ggolub commented on #8521
I also have a need to support multiple configMap and secrets and would think that to be a common need.  Can this be reopened and added to a feature request?

[2022-02-14 17:27] quickjp2 commented on #8992
@alemorcuq Thanks for looking into this! Could you provide the exact path the CLI is in? I was unable to find it anywhere in the container.

[2022-02-14 17:40] hectoralicea opened #9010 "[bitnami/wordpress 11.1.5] Unable to deploy wordpress helm chart to OpenShift: Forbidden: not usable by user or serviceaccount"
### Name and Version

`bitnami/wordpress` 11.1.5

### What steps will reproduce the bug?

 Step 1 - log into openshift cluster and update helm repo

[code]

Step 2 - add annotations to allow for user id / group id of 1001

[code]

Step 3 - run helm install / update

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

should deploy without error

[2022-02-14 19:43] kfox1111 opened #9013 "[bitnami/minio] Fails to start when release-name != minio"
### Name and Version

bitnami/minio 10.1.1

### What steps will reproduce the bug?

helm upgrade --install testothernameminio bitnami/minio -f /tmp/foo.yaml  --set auth.rootUser=$(uuidgen) --set auth.rootPassword=$(uuidgen) --version 10.1.1

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

accesskey/

[2022-02-14 19:51] kfox1111 commented on #9013
I had a second minio running with the name minio in the same namespace that was working fine when I added the second one. I deleted the pod for the 'minio' instance and it no longer starts too. So the presence of the otherly named minio causes issues too.

[2022-02-14 19:58] kfox1111 commented on #9013
If I clear it out / make a new namespace, then install just testothernameminio it still fails the same way.

So, feels like one of the environment variables maybe that mess with it. Here's a diff between a working and nonworking env:
[code]

[code]

[2022-02-14 20:56] kfox1111 commented on #9013
Ok. If I just deploy a release name 'minio' with nothing else in the namespace, I can break it by defining:
[code]

This doesn't break it:
[code]
So some script is choking on variables that end with "MINIO_PORT" as a var name.

[2022-02-14 21:31] kfox1111 commented on #9013
Actually, now I can't reproduce the issue anymore. Just starting completely from scratch:
[code]
Is now failing the same way:
[code]

[2022-02-14 21:34] budirec opened #9014 "Specify db schema"
### Name and Version

bitnami.sonarqube/0.2.6

### What is the problem this feature will solve?

Permission problem if the db user only has access to specific schema

### What is the feature you are proposing to solve the problem?

Expose db schema to externalDatabase.schema and pass it to JDBC connection of sonarqube

### What alternatives have you considered?

Expose sonarqube jdbc connection

[2022-02-14 21:41] oktayalizada commented on #8998
I figured out the problem the error was in version: 7.13.0-debian-10-r4 image, after upgrading to version: 7.16.3-debian-10-r18 the error was fixed

[2022-02-14 21:41] #8998 closed

[2022-02-14 22:18] kfox1111 commented on #9013
Yeah. fresh minikube and fresh minio are crashing this way right now. so can't debug further until I can figure out whats going wrong. the Initial issue I've seen on multiple clusters. so that is real still.

[2022-02-14 22:49] kfox1111 commented on #9013
Seeing it on chart 10.1.7 as well.

[2022-02-14 23:26] alongfield commented on #8917
@juan131 Having this same issue as OP.  If you set `cluster.externalAccess.enabled = true` on 7.2.1, the template for svc-cluster-external-access fails:

`helm template testing bitnami/redis-cluster --version 7.2.1 --set cluster.externalAccess.enabled=true`

You get:

`Error: template: redis-cluster/templates/svc-cluster-external-access.yaml:15:24: executing "redis-cluster/templates/svc-cluster-ex

[2022-02-15 01:23] kfox1111 commented on #8457
[code]
new cluster with:
[code]

This works:
[code]

This is currently entering the crashloop:
[code]

Something changed between:
bitnami/minio:2021.6.17-debian-10-r58 and bitnami/minio:2021.9.3-debian-10-r1

Any chart past 7.3.1 all the way up to 10.1.7 is failing for me most of the time. Before 7.3.0, solid.

[2022-02-15 01:28] #8770 closed

[2022-02-15 01:28] #8747 closed

[2022-02-15 01:28] #8745 closed

[2022-02-15 01:28] #8742 closed

[2022-02-15 01:28] #8737 closed

[2022-02-15 01:28] #8729 closed

[2022-02-15 01:29] #8594 closed

[2022-02-15 01:29] #8566 closed

[2022-02-15 01:29] #8565 closed

[2022-02-15 02:48] digihunch commented on #8999
Thanks @javsalgar I understand the stance. I cited istio as an example just to make my point on the use case for customizing port name. I submitted PR #9015 for review

[2022-02-15 07:15] juan131 commented on #9010
Hi @hectoralicea

You're enabling autoscaling without previously installing Metrics service, though you receive the "FailedGetResourceMetric" warnings from the "horizontalpodautoscaler".

Regarding the issue with the `1001` user id / group, it's not related with the chart. It seems to be related to some restriction (I guess a PodSecurityPolicy or similar) you have in your cluster.

I'am afraid I'm

[2022-02-15 07:20] #8987 closed

[2022-02-15 07:36] juan131 commented on #8630
Hi everyone! Thanks so much for your feedback!

Would a description like the one below be less confusing?

[code]

[2022-02-15 07:40] juan131 commented on #8790
Yes @bdols

During upgrades it's also true if you enabled persistence. As long as the container logic detect there's existing data in the data volumes, they'll skip the initdb scripts.

[2022-02-15 07:40] #8875 closed

[2022-02-15 07:45] juan131 commented on #8977
Hi @betoksoft

The error is coming from the line below:

- https://github.com/bitnami/charts/blob/master/bitnami/minio/templates/provisioning-job.yaml#L106

As you can see it's executing the command `mc admin bucket quota provisioning/xxx --fifo 14Gi;` but `mc` doesn't accept `--fifo` as a valid flag, see:

- https://docs.min.io/docs/minio-admin-complete-guide.html#bucket

[2022-02-15 07:55] fmulero commented on #8875
Hi @mpmatti

We've just merged the changes to allow using names in external listeners. Two new parameters have been added:
* `externalAccess.service.loadBalancerNames`: It takes precedence over load balancer IPs, if loadBalancerNames is not defined then IP addresss will be used for external access in broker configuration. If this parameter is set, `externalAccess.service.loadBalancerIPs` is not ma

[2022-02-15 07:56] foal commented on #8630
1. Relay on cert-manager to create it by setting the cert-manager.io/cluster-issuer or cert-manager.io/issuer annotation
2. Custom TLS secrets defined setting the `ingress.extraTls` parameter
May I use in the extraTls the helm variables?
So instead of
[code]
use the
[code]

[2022-02-15 07:58] fmulero commented on #8942
Hi

We've just merged the changes to allow using names in external listeners. Two new parameters have been added:

* `externalAccess.service.loadBalancerNames`: It takes precedence over load balancer IPs, if loadBalancerNames is not defined then IP addresss will be used for external access in broker configuration. If this parameter is set, `externalAccess.service.loadBalancerIPs`is not mandatory.

[2022-02-15 08:10] juan131 commented on #8990
Hi @OvervCW

I see.. It seems this validation is included since we're using the code block below using the "VolumePermissions" init-container to perform some `chmod/chown` operations so the certs have the expected permissions, see:

- https://github.com/bitnami/charts/blob/master/bitnami/postgresql/templates/primary/statefulset.yaml#L121-L129

That said, I thinks it's something we can workaround w

[2022-02-15 08:22] matt-smiley commented on #8071
@miguelaeh like @igorwwwwwwwwwwwwwwwwwwww said, we'd expect to see a much smaller size increase if you either compress or strip the debug-info sections in the binaries.  You can do that either:
* During compilation, by using: `gcc -gz` (compress) or `gcc -g0` (omit debug sections)
* After the build as a post-processing step, by using: `objcopy --compress-debug-sections redis-server` or `strip --st

[2022-02-15 08:53] rafariossaa commented on #9013
Hi,
  I was not able to reproduce the issue. I tried this in minikube:
[code]
And I got all the pods up and running.

[code]

[2022-02-15 09:06] rafariossaa commented on #8457
Hi @kfox1111 ,
  Is this the same you reported [here](https://github.com/bitnami/charts/issues/9013) ?

[2022-02-15 09:25] javsalgar commented on #8996
Hi,

Did you check with the IBM Cloud support for help on this?

[2022-02-15 09:36] miguelaeh commented on #9005
Hi @ngingihy ,
Looks like an RBAC issue. Could you check if it is properly configured? In the log you shared:
[code]

[2022-02-15 09:44] miguelaeh commented on #8071
Hi guys,
I built it without stripping any binaries. If just leaving out of the strip `redis-server` is enough the size increase should be smaller.
I will come back with more information. In any case, looks like it is assumable in our side since it would be less than 21MB

[2022-02-15 09:45] miguelaeh commented on #8931
Thank for for the report @xMAC94x ,
then we would try to fix it once we have the time for that.

[2022-02-15 09:46] fmulero commented on #8992
Hi @quickjp2.

As you mentioned the folder `fly-assets` was being removed. The propose behind, was reduce the size of the image, but it is not make sense when removing that folder affects to the expected behavior of the solution.

During today a new image version will be released and charts will be updated to point to this new version.

[2022-02-15 10:03] andy812 opened #9017 "[bitnami/logstash] No logstash.yml in configuration-cm.yaml template"
### Name and Version

bitnami/logstash 3.7.4

### What is the problem this feature will solve?

I want to add `pipeline.ecs_compability` option in `/opt/bitnami/logstash/config/logstash.yml`, but i have no way to do it.

### What is the feature you are proposing to solve the problem?

Please, add `logstash.yml` in `configuration-cm.yaml` template and mount it as the volume is `sts.yaml`.

### What

[2022-02-15 10:12] fmulero commented on #8986
Hi @ameier38, thanks for sharing.

I reproduced the issue using the following  `values.yaml`:
[code]
We'll open an internal task to review it but we cannot guarantee an ETA. As soon as there are more news, we'll let you know.

[2022-02-15 10:32] aeimer commented on #8614
@alemorcuq can we support you somehow? As long as this breaking change stays, we are stuck with that version :/

[2022-02-15 10:47] ComradePashka opened #9018 "[bitnami/mongodb] selector is not available for non-sts deployment (possible bug?)"
### Name and Version

bitnami/mongodb:11.0.3

### What steps will reproduce the bug?

mongodb is setup as dependency (subchart) to my own chart:
[code]

I want to use standalone mode with persistency and PVC with selectors so I passed values to subchart via main values.yaml:
[code]

so according to `mongodb\templates\standalone\dep-sts.yaml` if .Values.persistence.enabled and there's no .Values.pe

[2022-02-15 12:44] migruiz4 commented on #8917
Hi @alongfield,

I have submitted this PR that fixes the issue with externalAccess that was introduced in #8821 as you reported.

@oguzhansrky, what my colleague @juan131 is trying to say is, that it would be helpful if you could share what version are you upgrading from, so we can try to reproduce the error by upgrading from that version to the latest `7.2.1 ` as you did.

[2022-02-15 12:53] miguelaeh commented on #8071
Hi guys,
I did a couple more of tests.

1. Skipping the strip only for `redis-server`. This produces an increase of 9.8 MB.
2. Skipping the strip only for `redis-server` plus adding `-gz`. Produced the same size than 1.
3. Skipping the strip only for `redis-server` plus adding `-g0`. Produced just an increase of 0.5 MB.
4. Skipping the strip only for `redis-server` plus adding both `-gz` and `-g0`

[2022-02-15 13:05] oktayalizada commented on #6718
Hi @Mauraza and @Sam-Sundar-Apty I didn't find the solution instead found workaround. I added my configurations in initScript like this:
`initScripts:
   my_init_script.sh: |
      #!/bin/sh
      mkdir /bitnami/elasticsearch/backups
      chmod -R 777 /bitnami/elasticsearch/backups
      sed '1,2d' /opt/bitnami/elasticsearch/config/elasticsearch.yml > /opt/bitnami/elasticsearch/config/tmpfile; mv

[2022-02-15 13:18] JamesArthurHolland opened #9020 "MountVolume.MountDevice failed for volume : rpc error: code = Internal desc = Unable to find device path out of attempted paths"
### Name and Version

bitnami/wordpress 13.0.11

### What steps will reproduce the bug?

[code]

Anyone know why this may be?

3 nodes on linode, only 1 pod for wordpress.

Mariadb can mount its volumes no problem.

Using
https://github.com/bitnami/charts/tree/master/bitnami/wordpress

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

volume sho

[2022-02-15 13:33] igorwwwwwwwwwwwwwwwwwwww commented on #8071
Oh, that result for 2. is really surprising! I saw in [the gcc docs for `-gz`](https://gcc.gnu.org/onlinedocs/gcc/Debugging-Options.html#index-gz):

So I wonder if that is what may be happening here.

Point 3 would be absolutely acceptable for us, but getting compression working would be even better.

As an alternate way of performing option 2, could you try compiling _without_ `-gz` and then runn

[2022-02-15 13:48] ngingihy commented on #9005
@miguelaeh , it's configured through my administrator, i cant change it.

[2022-02-15 13:54] dadacom379 opened #9021 "[Bitnami/spring-cloud-dataflow] rsocket host configuration"
### Name and Version

bitnami/spring-cloud-dataflow 2.5.0

### What is the problem this feature will solve?

When installing stream applications (source/processor/task/sink/app) in another Kubernetes namespace using this feature

- environment variable KUBERNETES_NAMESPACE

All Grafana monitoring stop working by default, in that case you can always need to modify all stream freetext at every deplo

[2022-02-15 14:24] alemorcuq commented on #9006
Could you give me some detailed steps to reproduce? I'm not really sure I understand this:

What command are you using to install the chart and which are your custom values?

[2022-02-15 15:06] superbobmtl opened #9022 "[bitnami/kong] Kong-ingress-controller deployment failure when configured as DB-less"
### Name and Version

bitnami/kong 5.0.5

### What steps will reproduce the bug?

I pulled latest chart release 5.0.5 to my VM. I extracted it so I can change some parameters in values.yaml to deploy DB-less, and deploy using command:

helm install kong -f kong/values.yaml kong

I get same result if I run command:
[code]

### Are you using any custom parameters or values?

I followed the instructi

[2022-02-15 15:51] migruiz4 commented on #7536
Hi @Nold360,

Sharing my thoughts about this issue:

We are conditionally setting the env variables for the Keystore password and Truststore password:
https://github.com/bitnami/charts/blob/e67be9af57fece432bd20df8cf278865cad3768e/bitnami/keycloak/templates/statefulset.yaml#L126-L149

By that I mean, that if Keystore or Truststore passwords are not provided, the chart won't complain about it.  Nei

[2022-02-15 16:45] hazmat345 commented on #8630
@juan131 yeah, that's great. Thanks!

[2022-02-15 16:47] javsalgar commented on #8800
Hi,

Just a note to let you know that we updated the rabbitmq-cluster-operator chart with a new revision of the default-user-credential-updater container. Please let us know if you find any other issue.

[2022-02-15 16:47] betoksoft commented on #8977
Thank you for your help!

[2022-02-15 16:59] sidju opened #9026 "Kafka add provisioning.extraCommands value"
### Name and Version

bitnami/kafka 15.1.0

### What is the problem this feature will solve?

Customizing the provisioning script is currently only possible via provisioning.command and provisioning.args, which results in overwriting the built-in provisioning script for topics. Thus even a minor addition to the script will require re-implementing it.

In my case the addition I wish to make is writ

[2022-02-15 17:06] pitwegner commented on #8800
Using the latest chart version 2.3.1 the issue persists. The used credential-updater image is `docker.io/bitnami/rmq-default-credential-updater:1.0.1-scratch-r1`, the rabbitmq image `docker.io/bitnami/rabbitmq:3.8.27-debian-10-r6`.

[2022-02-15 17:17] foal opened #9027 "Missing ingressClassName setting"
### Name and Version

bitnami/jenkins 8.1.7

### What steps will reproduce the bug?

1. Try to install

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Configure ingressClassName in the Values

### What do you see instead?

There is no `ingressClassName` setting for Jenkins ingress

### Additional information

_No response_

[2022-02-15 17:47] rajyadav911 commented on #8952
@rafariossaa We are passing values from values.yaml . Since we have persistence disabled so via values.yaml we have done
persistence:
  ## @param persistence.enabled Use a PVC to persist data.
  ##
  enabled: false

To install redis we are using command
helm install --timeout 600s redis bitnami/redis-cluster  --values values.yaml

[2022-02-15 19:18] dc232 commented on #8985
Hey @juan131  thanks for getting back to me,
happy to give it a go
will have a look on Saturday UK time

[2022-02-15 19:35] kfox1111 commented on #8457
It may be. I could have sworn I saw it working reliably where the release minio would work, but otherminio release wouldn't. but maybe its a bit racy and I didn't look long enough. Right now, its consistently failing every time on these versions no matter how often I try.

[2022-02-15 19:50] Nold360 commented on #7536
Hi @migruiz4
Thanks for your reply. I get that it's not impossible to add new certificates. It just doesn't fit well in my GitOps workflow.

When i have to create a secret first, it also means i need to generate a truststore password. But I don't want or need to know that password. Also I have to generate that truststore somehow & store it in a secret.

That makes reproducing the whole workflow ki

[2022-02-15 20:50] budirec commented on #9014
Here is the connection that I use
jdbc:postgresql://<HOST>:<PORT>/<DB>?currentSchema=<SCHEMA>

Not sure where the bash script location is

[2022-02-15 21:14] waster commented on #8908
The same thing after k8s node was shutting down on power and some redis pods was unable to run while trying to read broken AOF file from PVC. I tried to delete this pods with corresponding PVC but they created a new master with 0 replicas and stuck in Running state.

BTW, how to fix those issues when AOF file or file system on PVC become broken due any hardware issues on k8s node?

[2022-02-16 00:10] maxnitze opened #9028 "Unterminated quoted string on prometheus rules with specific text lengths"
### Name and Version

bitnami/postgresql 14.1.0

### What steps will reproduce the bug?

Add one of the following rules in the `metrics.prometheusRule.rules` section of the chart:

[code]

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

Copied the rules fr

[2022-02-16 01:28] #8786 closed

[2022-02-16 01:28] #8785 closed

[2022-02-16 01:28] #8776 closed

[2022-02-16 01:28] #8748 closed

[2022-02-16 01:28] #8669 closed

[2022-02-16 01:28] #2111 closed

[2022-02-16 05:44] ComradePashka commented on #9018
UPD, so with .Values.persistence.existingClaim set upt to 'my-pvc' and following conf for pv/pvc pair everything is working, but I still interested in using selectors only with mongodb chart config:

[code]

[2022-02-16 07:20] juan131 commented on #9020
Hi @JamesArthurHolland

Could you please share the values.yaml you're using to install the WordPress chart? Thanks in advance.

[2022-02-16 07:33] #8977 closed

[2022-02-16 07:40] carrodher commented on #9021
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-16 07:44] DevvG commented on #7163
We are seeing this issue contsantly. Any update?

[2022-02-16 07:56] DevvG opened #9032 "Both nodes becomes primary causing stale/old data in the Database"
### Name and Version

postgresql-ha 11.10.0

### What steps will reproduce the bug?

Please refer to earlier bug https://github.com/bitnami/charts/issues/7163 for details.

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Sometime both nodes becoming primary and data replication not happening properl

[2022-02-16 08:02] rafariossaa commented on #8457
Let's continue the discussion in that issue.

[2022-02-16 08:04] rafariossaa commented on #9013
Could you indicate witch kubernetes cluster are you using ? I was not able to reproduce the issue in GCE nor minikube.

[2022-02-16 08:04] juan131 commented on #9018
Hi @ComradePashka

You're not using `useStatefulSet=true`, therefore, the PVC comes the manifest below:

- https://github.com/bitnami/charts/blob/master/bitnami/mongodb/templates/standalone/pvc.yaml

As you can see, the `persistence.volumeClaimTemplates.selector` is missing in that manifest. We'll have to support a `persistence.selector` parameter and add it to the PVC manifest like we did in Disc

[2022-02-16 08:08] juan131 commented on #8630
@foal yes, you can do that since the  `extraTls` parameter is evaluated as a template. Try with:

[code]

[2022-02-16 08:37] javsalgar commented on #1210
Hi!

I think that, for this case, the best option would be to use init containers in docker-compose, emulating the volumePermissions commands.

Find an example here https://github.com/docker/docker.github.io/issues/12633#issuecomment-819511768

[2022-02-16 08:38] javsalgar commented on #8999
Thank you for the PR! As it is merged, I will close the ticket

[2022-02-16 08:38] #8999 closed

[2022-02-16 08:42] javsalgar commented on #6718
Thanks for letting us know!

[2022-02-16 09:37] OvervCW commented on #8990
@juan131 I just tested your PR and it works as expected! Thanks for the quick response.

[2022-02-16 09:38] javsalgar commented on #9017
Hi,

Thank you so much for the feature request. I will forward this to the engineering team. As this is not a critical feature, we cannot guarantee an ETA. However, if you want to speed up the process, feel free to submit a PR and we will review it

[2022-02-16 09:48] rafariossaa commented on #8952
Hi,
  I was able to reproduce the issue. Currently, the thing is that persistence is needed as the IPs are stored so a node can check and clean the IP list.
   I am creating an internal task to study this issue and how to solve it. We will come back as soon as we have news.

[2022-02-16 10:08] DevvG commented on #9032
The exact scenario:

/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh repmgr -f /opt/bitnami/repmgr/conf/repmgr.conf node check
postgresql-repmgr 10:03:32.82
postgresql-repmgr 10:03:32.83 Welcome to the Bitnami postgresql-repmgr container
postgresql-repmgr 10:03:32.83 Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-postgresql-repmgr
postgresql-repmgr 10:03:32

[2022-02-16 11:08] mhaola opened #9034 "Mautic packaged by Bitnami Versão: 4.1.2-0 on Debian 10 Problem"
### Name and Version

Mautic packaged by Bitnami Versão: 4.1.2-0 on Debian 10

### What steps will reproduce the bug?

Hello, I recently started using Bitnami's Mautic framework on AWS for my digital marketing agency. The settings seem correct but my first campaign does not trigger the emails. Can you please help me to check what might be happening?

### Are you using any custom parameters or valu

[2022-02-16 11:40] snev52 commented on #8625
I was not able to install the chart in Version 7.0.1 at all.
It runs into a restart loop, as the initialization takes a long time, liveness and readiness probes fail multiple times and the first created pod is restarted.
With chart 6.0.3 it takes 2:09 minutes until I see the logmessage "** MariaDB setup finished! **", with chart 7.0.1 it fails afer 3 minutes (restarting the pod). I think the "init

[2022-02-16 12:17] migruiz4 commented on #9027
Hi @foal,

This PR adds is currently being reviewed and adds the missing `ingressClassName` https://github.com/bitnami/charts/pull/9003

[2022-02-16 12:17] cdprete commented on #1210
I disagree :)
It's more an hack than a real solution. It's like "since we can't/don't want to fix it then apply this workaround here".
Also, I'm not using docker-compose but Rancher k3s.
This would mean to put an additional container in the pod just to workaround an issue in another container in the same pod. That's really ugly...

[2022-02-16 12:34] FraPazGal commented on #7378
Hello @alff, @nleconte-csgroup,

After investigating the reported issue, it seems this is a simple misunderstanding. The `pgpool.customUsersSecret` and `pgpool.customUsers` values are used to define the pairs of `username:password` that should be added to the `pgpool_passwd` file, so those users can be used to login via the pgpool pod.
[code]
Ref: [postgresql-ha values.yaml](https://github.com/bit

[2022-02-16 12:59] sveba opened #9037 "Combination of `auth.tls.jksKeystoreSAN` and `auth.tls.existingSecrets` not working"
### Name and Version

bitnami/kafka 15.2.1

### What steps will reproduce the bug?

1. Create Cert with  multiple dnsNames: eg. "broker-1.kafka.svc.cluster.local, broker-2.kafka.svc.cluster.local, broker-3.kafka.svc.cluster.local"
2. Create K8s-Secret `san-cert` with data {keystore.tls: base64(cert)}
3. Use the secret as existing secret and set the `jksKeystoreSAN`

### Are you using any custom pa

[2022-02-16 13:26] migruiz4 commented on #7536
Since it is a QoL feature for the chart, and we already had the code to generate the Keystore/Truststore given a TLS secret for autoGenerated certs, I have submitted this PR https://github.com/bitnami/charts/pull/9039 that would allow users to provide PEM certificates, which I think fits your case.

Unfortunately, it is still necessary to provide both the Node certs and the CA certs, because our c

[2022-02-16 13:55] aeimer commented on #8614
It is probably related to this ticker/fix https://github.com/redisson/redisson/issues/4003

We are testing it now.

[2022-02-16 14:02] maxnitze commented on #9028
Could fix this issue by using multiline strings.

Still unsure why the former one failed though. Is Helm introducing line breaks in its values, which in my case ended up in between two quotes?

[2022-02-16 14:19] juan131 commented on #8990
Awesome! Waiting for a reviewer to approve and I'll merge it.

[2022-02-16 14:50] miguelaeh commented on #9005
Hi @ngingihy ,
Then we cannot help too much. You will need to talk with him

[2022-02-16 14:57] fmulero commented on #9028
Hi @maxnitze

From your error it seems you are trying to work in your own chart. I tried to reproduce it using directly the
latest `bitnami/postgresql` chart  (version 11.0.4) without success. This is the `values.yaml` that I used:
[code]

Could you share more information? For example commands run and outputs

[2022-02-16 15:10] GrigorievNick opened #9040 "Metrics-server `serviceAccount.name` paramter ignored."
### Name and Version

bitnami/metrics-server 5.11.1

### What steps will reproduce the bug?

create chart with
[code]

### Are you using any custom parameters or values?

serviceAccount.name yes throug set.

### What is the expected behavior?

Service account `metric-server-sa` created and used.

### What do you see instead?

Service account with the name `metric-server` created. But metric-server

[2022-02-16 15:14] sveba opened #9041 "Metrics exporter not starting"
### Name and Version

bitnami/kafka 15.2.1

### What steps will reproduce the bug?

1. K8s-env
2. TLS configuration
3. Metrics exporter deployment pods not starting properly

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

The problem is that attribute value quote

[2022-02-16 15:37] rajyadav911 commented on #8952
Thanks @rafariossaa

[2022-02-16 15:54] rafariossaa commented on #8721
Hi,
  For this situation you need to force bootstrap from one of the nodes.

[2022-02-16 16:15] rafariossaa commented on #9032
Hi,
  I think this is similar to #6555. Could you take a look to it to confirm it ?
  Do you a step sequence that leads to this state ?

[2022-02-16 16:16] miguelaeh commented on #8071
Removing `-gz` and using `objcopy` I obtain an increase of 9.9 MB.
So, still, the best option is option 2 commented above.

[2022-02-16 16:27] jack1902 opened #9043 "keycloak ingress 502 errors"
### Name and Version

bitnami/keycloak 6.1.5

### What steps will reproduce the bug?

1. Install keycloak using the `values-ha.yaml` in the `ci` folder onto a cluster with `ingress-nginx`
2. Login to the `admin` auth panel
3. hit refresh a couple of times to observe a 502

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Things to "just-work" o

[2022-02-16 16:28] jack1902 commented on #9043
Unsure of how to address this from within the `readme` without polluting it for all example ingress use-cases since I am unsure if this same error happens on other ingresses with keycloak

[2022-02-16 16:29] MswPaulDSmith opened #9044 "Example of setting podLabels for postgresql-HA?"
### Name and Version

bitnami/postgresql-ha master

### What steps will reproduce the bug?

1. On linux, Kubernetes
2. Add the following to my values.yaml
[code]
3. I expected the resulting kubernetes pod to have a label `app=something` but this label does not appear to get added.
4. No errors were reported, my attempt to create the podLabel simply failed.

Apologies if this is a Kubernetes newbie

[2022-02-16 16:45] igorwwwwwwwwwwwwwwwwwwww commented on #8071
@miguelaeh Thanks for the testing, in this case let's go with option 3 (I believe this is the one you were referring to). This should cover our needs for CPU profiling, and comes at a very low cost.

[2022-02-16 17:52] marcosbc commented on #9022
Hi @superbobmtl, unfortunately this is not a scenario that we are testing, so it is something we are officially able to support. However, we are open to any contributions for supporting such scenarios.

That is probably a mistake. Would you be up for sending a PR to modify it?

[2022-02-16 17:55] marcosbc commented on #9007
Hi @deschmih, you are right, it seems like that is a typo in our documentation. Would you be up for sending a PR to fix this issue?

[2022-02-16 17:58] marcosbc commented on #8928
Hi @hojerst, after checking internally, more team members agree that `provisioning` should only be executed during the initial deployment, for the reasons we mentioned earlier.

However, it was also mentioned that it could be worth to document this in the README as well.

Would you be up for contributing those changes to the chart?

[2022-02-16 18:21] khowling opened #9047 "Contour controller POD not starting, missing RBAC"
### Name and Version

bitnami/contour-7.3.5

### What steps will reproduce the bug?

Installing the latest bitnami contour helm char in kubernetes 1.21.7

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

a working ingress controller

### What do you see instead?

After deploying the helm chart, the contour Controller Logs output:
```cannot get resourc

[2022-02-16 18:37] #8992 closed

[2022-02-16 19:14] JesalR opened #9048 "initdb scripts are not running in Postgres container"
### Name and Version

bitnami/postgres 11.0.4

### What steps will reproduce the bug?

Install the postgres chart with the following values
View DB or logs to see the script was not run

### Are you using any custom parameters or values?

values.yaml

[code]

alternative script
[code]

template/pvc.yaml
[code]

### What is the expected behavior?

The script is run and the postgis extension is enab

[2022-02-16 19:45] JamesArthurHolland commented on #9020
helm upgrade --install wordpress ./helm/wordpress \
  --set image.debug="true" \
  --set volumePermissions.enabled="false" \
  --set persistence.enabled="false" \
  --set persistence.size="8Gi" \
  --set global.storageClass="linode-block-storage-retain" \
  --set persistence.storageClass="linode-block-storage-retain" \
  --set ingress.enabled="true" \
  --set ingress.hostname="${HOST}" \
  --set s

[2022-02-16 19:51] ppoddar-affordably opened #9049 "Access Denied for https://charts.bitnami.com/bitnami"
### Name and Version

https://charts.bitnami.com/bitnami

### What steps will reproduce the bug?

Visiting `https://charts.bitnami.com/bitnami` gives an error recently:

[code]

All of a sudden, I am getting:

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

When visiting directly:

[code]
 e

[2022-02-16 20:56] ppoddar-affordably commented on #9049
Never mind -- even though the URL still shows an authorization error, I'm still able to use it.

[2022-02-16 20:57] #9049 closed

[2022-02-16 21:35] quickjp2 commented on #8992
Thank you @alemorcuq and @fmulero! Wanted to confirm that we tested the new image and we are seeing the correct behavior now. Thank you for the quick response and fix!

[2022-02-17 00:26] maxnitze commented on #9028
Hey,

I created a minimal setup that fails with the _unterminated quoted string_ error:

[code]

[code]

[code]

[code]

What also fixed the issue is _escaping_ the parts, that should be _templated by Prometheus_ another way.

Instead of _escaping_ it as a whole like

[code]

_escaping_ the curly brackets alone

[code]

[2022-02-17 01:23] #8751 closed

[2022-02-17 06:46] easayliu commented on #8812
with this config
[code]

[2022-02-17 06:57] deschmih commented on #9007
@marcosbc PR is created and is waiting for review.

[2022-02-17 07:21] #9041 closed

[2022-02-17 07:21] juan131 commented on #9041
Thanks so much for reporting this issue @sveba ! I just approved/merged your PR

[2022-02-17 07:34] migruiz4 commented on #9020
Hi @JamesArthurHolland,

My first impression is that this is not an issue with the Wordpress chart but with Linode.
I have found this related issue with the same error as you, so I would recommend having a look: https://www.linode.com/community/questions/20010/deploying-postgres-databasa-with-csi-volumes

There, users mention several options to solve the problem:
- Issues may happen if the same vo

[2022-02-17 07:43] matt-smiley commented on #8071
@miguelaeh would you mind another experiment?  I think the compression option is silently failing, but I'd like to verify that.

Here's what I get when I locally build redis on a Linux box.  If you don't mind, I'd like you to repeat this and share the `readelf` output before versus after trying to compress the debug sections in the binary.

[code]

[2022-02-17 07:50] #8990 closed

[2022-02-17 08:09] fmulero commented on #9028
Hi @maxnitze

My fault, I didn't copy the description line what is causing the issue. I think this issue is in the `toYaml` function (so w can't do too much hereto be honest), this function automatically wraps the text to 80 characters (aprox) adding new lines if needed.

Thanks for sharing the solution you found. Other possible solution and clear way to avoid the auto-wrapping is setting the desc

[2022-02-17 08:30] fmulero commented on #9044
Hi @MswPaulDSmith, thanks for sharing!

I tried to reproduce the issue without success:
[code]
After that I listed the labels in postgresql-ha pods (keep in mind that this parameter doesn't affect to pgpool pod) and everything looks fine. Please see the following picture:
![image](https://user-images.githubusercontent.com/23502572/154435642-25ff6c8e-7808-4d6c-9f1b-ab8ec973be26.png)

If you tested

[2022-02-17 08:58] janlauber opened #9052 "[Bug] init-chmod-data init container resources rendering"
### Name and Version

bitnami/postgresql 11.0.5

### What steps will reproduce the bug?

1. Deploy the postgresql instance with primary resource requests/limits
2. `init-chmod-data` resource requests/limits won't get rendered correctly

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

[code]

### What do you see instead?

[code]

### Additional inform

[2022-02-17 09:12] javsalgar commented on #9014
Hi!

Here is the script https://github.com/bitnami/bitnami-docker-sonarqube/blob/master/9/debian-10/rootfs/opt/bitnami/scripts/libsonarqube.sh

[2022-02-17 09:16] maxnitze commented on #9028
Ok, was also the function I suspected. Unfortunately the error message as well as the debug output do not give any useful information in that direction.

But ok. There are two ways of getting around this issue. Ok for me. So I close the bug. Thanks for your support :)

[2022-02-17 09:16] #9028 closed

[2022-02-17 09:19] javsalgar commented on #7163
@rafariossaa is working on this

[2022-02-17 09:21] MswPaulDSmith commented on #9044
Well I tried it but it still had no affect.  I notice that you are starting the postgresql chart directly whereas I am using it as a dependency of my project; might this make a difference?  This is the command I use to start my application.  Apologies that it is quite complex; I will be improving it once I figure out how to get the podLabels to work!
[code]
and here is the result of checking the p

[2022-02-17 09:22] carrodher commented on #9034
Hi, please note we provide support for Helm charts and containers using GitHub issues, but support for VMs, cloud images, etc is provided at https://community.bitnami.com/. Can you post your question in our community forum? Thanks

[2022-02-17 09:22] #9034 closed

[2022-02-17 09:27] carrodher commented on #9037
Thanks for the PR, we are already reviewing it, once applied the feedback and merged the PR this issue will be automatically closed

[2022-02-17 09:31] carrodher commented on #9021
Thanks, there is nothing special about branch naming, [here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines

[2022-02-17 09:32] jmicans commented on #5488
Thanks, this was useful thread.
I had the same issue but for different reasons. My previous kubernetes stack with a keycloak instance was broken and reinstalled, but installing keycloak with `helm install` with new admin password did not update admin user settings in keycloak db, even if username and password was specified in helm values.
Since the previous password was lost, I was able to encode

[2022-02-17 09:34] javsalgar commented on #9040
Hi,

I think I found the issue. In `bitnami/metrics-server/templates/serviceaccount.yaml`:

[code]

It should be

[code]

As you spotted the issue, would you like to submit a PR fixing it?

[2022-02-17 09:37] javsalgar commented on #9043
Hi!

Thank you for sharing this. It would be great if other ingress users (non-nginx) could share their findings on this. Maybe a note right now for the nginx ingress controller case should suffice. Would you like to contribute with a PR?

[2022-02-17 09:44] GrigorievNick commented on #9040
hi @javsalgar yes, as I also see this code.
I just want not sure how all this is `common. templates` work.
If you say it's safe to just change this variable in the service account template.
I can do it, without a doubt.

[2022-02-17 09:46] #9052 closed

[2022-02-17 09:49] snev52 commented on #8625
I had a closer look and was able to adjust livenessProbe.initialDelaySeconds and readinessProbe.initialDelaySeconds to higer values.
So far it looks fine with chart verson 7.0.1 - data seems to be replicated to all nodes again. Thank you.

[2022-02-17 10:06] javsalgar commented on #8800
Thanks for letting us know!

[2022-02-17 10:56] miguelaeh commented on #8071
Hi @matt-smiley ,
How much would that reduce the size? The mentioned option 2 was already increasing just 0.5MB, so which kind of extra advantage brings building it on that way?

[2022-02-17 10:56] fmulero commented on #9044
I think you are not setting correctly the values for your chart and/or bitnami/postgresql-ha chart. Please [review the values in the release](https://helm.sh/docs/helm/helm_get_values/)
[code]

[2022-02-17 11:00] messiahUA opened #9054 "nginx strategy type"
### Name and Version

bitnami/nginx 9.7.6

### What is the problem this feature will solve?

there is no way to set/define strategy type for the deployment

### What is the feature you are proposing to solve the problem?

provide an ability to change/set strategy type for the deployment

### What alternatives have you considered?

custom chart

[2022-02-17 11:29] MswPaulDSmith commented on #9044
Your suggestion was great and I see what is going on.  The config I had in my `values.yaml` was like this:
[code]
But it has to be like this:
[code]
Note the extra level of `postgresql-ha`.  This is probably just my misunderstanding of the config and not appreciating that I needed the Chart name before the config parameters described.
Many thanks for your help, especially that final command which

[2022-02-17 12:18] fmulero commented on #9044
Great!, I'll close the issue then

[2022-02-17 12:18] #9044 closed

[2022-02-17 12:49] jaanhio opened #9056 "[bitnami/mysql] Startup probe failed...logs stuck at "Server upgrade from '80028' to '80028' started"."
### Name and Version

bitnami/mysql-8.8.23

### What steps will reproduce the bug?

Run `helm install -f values.yaml mysql bitnami/mysql` with the following values:

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Expected a mysql statefulset pod to be running.

### What do you see instead?

`startupProbe` kept failing.

Enabling debug mode a

[2022-02-17 14:35] rafariossaa commented on #8625
Hi @snev52 ,
  Thanks for checking it out.
  We choose the default values based on our test on AWS and GCE clusters. It is not possible to find an appropriate values for all scenarios hence they are customizable by the user. I am glad you were able to find the right values for you.
  I am closing this issue now. Please, don't hesitate to reopen it or to create a new one if needed.

[2022-02-17 15:44] marpontes opened #9060 "[bitnami/common] README `common.labels.matchLabels` description isn't compatible"
### Name and Version

bitnami/common 1.11.1

### What steps will reproduce the bug?

1. Go to [README.md](https://github.com/bitnami/charts/tree/master/bitnami/common#labels);
2. Check the description for `common.labels.matchLabels`:
    1. _Return the proper Docker Image Registry Secret Names_
3. It matches the description for [pullSecrets/renderPullSecrets](https://github.com/bitnami/charts/tree

[2022-02-17 15:48] nicolaerosia commented on #8921
hm, I think it's actually two different issues

Basically when starting mariadb galera on IPv6, we see this error
[code]

I believe resolveip does not support IPv6

[2022-02-17 16:28] MrBuddyCasino opened #9061 "Support Keycloak in Quarkus Mode"
### Name and Version

bitnami/keycloak latest

### What is the problem this feature will solve?

Keycloak distribution based on WildFly is deprecated and has switched to Quarkus. The CLI and Docker images are very different, so the current chart doesn't work.

### What is the feature you are proposing to solve the problem?

Update the chart to use the Quarkus distribution, or introduce a separate

[2022-02-17 18:36] jose-galvez commented on #8851
I wanted to do a quick bump on this ticket to see if there's any plans on either removing the timeout or increasing it. We are currently blocked from upgrading to the latest because of this so any insight on it would help us a lot @eigenmannmartin

[2022-02-17 19:28] matt-smiley commented on #8071
@miguelaeh great questions!  Notes for both are below.

Compressing the debug sections would reduce the unstripped `redis-server` binary from 12.2 MB to 5.3 MB.

More details are at the end, in case you want to play with this some more.

There are 2 complimentary sets of benefits we can get, summarized below.

The smaller option (preserving symbol tables) provides names for most of the functions,

[2022-02-17 19:42] jack1902 commented on #9043
Sure, perhaps in the readme? Nginx "gotchas" or something similar?

[2022-02-18 01:27] #8804 closed

[2022-02-18 01:27] #8789 closed

[2022-02-18 02:14] Cryingmouse commented on #8721
Here is my environment:
[code]
I checked that in ```mariadb-mariadb-galera-1``` is the node I have to force bootstrap. How I can do that? It is appreciated that you can have an instruction on that. Thanks a lot!

[2022-02-18 05:22] ComradePashka commented on #9018
yes, in my case I don't need stateful set, but want to have selector support for deployment.
I never contibuted to public projects before, so.. yeah maybe it's time to finally make some PR! :-)

[2022-02-18 05:27] #9007 closed

[2022-02-18 07:00] juan131 commented on #9047
Hi @khowling

It seems it's something related to RBAC permissions, the changes at #9030 should fix this issue.

[2022-02-18 07:12] juan131 commented on #9018
Thank you @ComradePashka ! I just reviewed your PR

[2022-02-18 08:48] rafariossaa commented on #8721
Hi,
  Could you try the instructions provided [here](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera#user-content-bootstraping-a-node-other-than-0) ?

[2022-02-18 09:27] #8986 closed

[2022-02-18 09:27] javsalgar commented on #1210
Note that, in that case, the container would need to have root privileges in order for chown operations to work. The containers are non-root and that's the main reason we rely on the volumePermissions init containers in the chart.

[2022-02-18 09:40] javsalgar commented on #9040
Awesome!

[2022-02-18 09:43] javsalgar commented on #9054
Hi,

The update strategy is something that we have in several charts. I think it makes sense to have it here as well. If you want to speed up the process, would you like to submit a PR?

[2022-02-18 09:45] javsalgar commented on #9056
Hi,

Depending on the PVC type, it can take a substantial amount of time. If the storage technology is slow, then you'll need to tweak the probe values.

[2022-02-18 09:48] javsalgar commented on #9060
Thank you so much for the PR! The team will check the issue.

[2022-02-18 10:28] fmulero commented on #8986
Hi @ameier38,

A new version with the fix has just released. During today it will be available in the helm repository, but if you are eager to use it, you can download it directly from github.

Regards

[2022-02-18 10:38] miguelaeh commented on #8071
Hi @matt-smiley ,
Thanks for the detailed info.

I did a re-test of compressing the debug info, just for curiosity as to check if I did something wrong the first time. I did not exactly obtain the size you mentioned but a similar one.

In short, I built it with `'-g0 -fno-omit-frame-pointer'` and after the build executed `objcopy --compress-debug-sections redis-server` as per your recommendation.

[2022-02-18 11:38] ComradePashka commented on #6493
Hi, I had similar problem when redeploy with changed password. at first I updated password via phpmyadmin, but still had some issues in another PODs deployed from same chart, and even when I found mention about PV/PVC and removed 'em I still had issues, until completely wiped all the data in mounted directory and finally had deployed one more time from scratch.

so I just leave it here if someone

[2022-02-18 12:46] alemorcuq commented on #8889
Yes, @pascalrimann, sorry for the late reply. I was able to reproduce the issue using the chart but not using a docker compose deployment, which leads me to believe this is an issue on our side. Thanks for double checking.

I wasn't able to identify the root cause on my investigation, so I've created an internal task to address it. However, I can't give you an ETA.

[2022-02-18 12:54] nc-ruth commented on #7488
@alvneiayu do you have any update on this?

[2022-02-18 14:55] udupicloud opened #9073 "Mariadb Galera Cluster v10.6.5 - Kubernetes StatefulSet Deployment for Production"
### Name and Version

bitnami/mariadb

### What is the problem this feature will solve?

Hi,
I am beginner to Kubernetes and Bitnami Charts.
I am looking for a Mariadb Galera Cluster v10.6.5 - Kubernetes StatefulSet deployment for Production.

1. I want yaml file for Mariadb Galera v10.6.5 StatefulSet.
2. I want those deployments with systemd and SSH commands to work (CentOS Stream 8 preferred)
3.

[2022-02-18 14:59] mchobbel opened #9074 "Init-container wordpress terminates on chown"
### Name and Version

bitnami/wordpress-13.0.11

### What steps will reproduce the bug?

In OVH.com public cloud Kubernetes I

created a pvc like this:

[code]
And then run the install with this:
[code]
with below values.yaml

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

The wordpress install would complete and a working wordpress pod becomes avai

[2022-02-18 15:08] h0jeZvgoxFepBQ2C opened #9075 "[bitnami/redis] You must provide your current passwords when upgrading the release. even with auth=false"
### Name and Version

bitnami/redis latest

### What steps will reproduce the bug?

helm upgrade --install redis -f values.yaml bitnami/redis

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

let it upgrade without problems, since we don't use any password authentication

### What do you see instead?

[code]

### Additional information

Am I wrong wit

[2022-02-18 15:16] TH-C013 commented on #6234
@DSWijenayake

I'm facing similar issue with my deployment with 2 Moodle replicas and 1 Mariadb.
I'm getting the same error
![image](https://user-images.githubusercontent.com/71526018/154709877-fe925565-3652-4140-8fc4-c77aa800f74b.png)

Please can you share some insight on your resolution ?

[2022-02-18 16:44] electrical opened #9078 "[Redmine] Persisted storage mounted in wrong location"
### Name and Version

bitnami/redmine

### What steps will reproduce the bug?

1. Install redmine with persisted storage
2. Deploy new version

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

To see new plugins etc

### What do you see instead?

Since the persisted volume is mounted on /bitnami/redmine it overrides anything that we provide for

[2022-02-18 16:48] electrical commented on #9078
Sorry, found. that it's working differently than expected, but even how it works now is very weird.
it's storing everything ( plugins, config, etc ) while this makes no sense

[2022-02-18 19:13] ChrisJBurns commented on #3545
I get this when using Istio and the `istio-proxy` is enabled for the `notary-server` pod. The signer pod also doesn't start up, but I am assuming it's because the server pod doesn't come up.

It's worth mentioning that I don't get this error if I remove the `istio-proxy` sidecar from the `notary-server` pod. It's only when it's enabled. I am trying to achieve strict mTLS on all pods in the `harbor

[2022-02-19 00:01] skyrain opened #9080 "nats to support JetStream"
### Name and Version

charts/bitnami/nats/

### What is the problem this feature will solve?

Nats currently supports streaming server: Jetstream. We are looking forward to use streaming capability to help persist message.

### What is the feature you are proposing to solve the problem?

Support configure Jetstream which nats supports now.
https://docs.nats.io/using-nats/developer/develop_jetstrea

[2022-02-19 01:26] #8756 closed

[2022-02-19 01:26] #8755 closed

[2022-02-19 01:26] #8677 closed

[2022-02-19 09:41] matt-smiley commented on #8071
@miguelaeh thanks a bunch for sharing this output!

That was a surprising result, but I think I've figured it out.

Unfortunately that 2.6 MB build of `redis-server` is missing most of its debug sections after all.  I think you're running into a subtle inconsistency in Redis's Makefiles (specifically the hiredis Makefile).  When you set the `-g0` option, this tells `gcc` to not create debug sectio

[2022-02-19 13:43] cdprete commented on #1210
Can't you just switch temporarily to root?
Like
[code]

[2022-02-19 18:09] dc232 commented on #8985
Hey @juan131 was wonering for the var ```wordpressExtraConfigContent``` how does the content supplied to the var persist within the volume, it seems a  bit unclear when the var is set via the deployment, I'm planning to use the var as a template for the functions.php on the basis that there is one present and outside of the themes dir

[2022-02-20 01:28] #8792 closed

[2022-02-20 12:16] thanhtoan1196 opened #9082 "How to set WP_MEMORY_LIMIT for wordpress"
### Name and Version

bitnami/wordpress 13.0.11

### What steps will reproduce the bug?

1. In values.yaml, set `wordpressExtraConfigContent` = `define('WP_MEMORY_LIMIT', '512M')`
2. Run helm upgrade.
3. I see memory limit is not set, it's still 40MB (default)

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see

[2022-02-20 15:25] bryopsida commented on #9074
I'm seeing this in the Kafka chart as well.

[code]

[2022-02-20 21:44] denniscallanan opened #9083 "Can't connect to local MySQL server through socket '/opt/bitnami/mysql/tmp/mysql.sock"
### Name and Version

bitnami/mysql 8.8.24

### What steps will reproduce the bug?

### Environment

Helm chart configuration in Devspace, using local K3D cluster

`auth.rootPassword` was only added because of previous error: `'auth.rootPassword' must not be empty, please add '--set auth.rootPassword=$MYSQL_ROOT_PASSWORD' to the command`

### Config

[code]

### Run

[code]

Underneath the Devspac

[2022-02-21 01:25] #8779 closed

[2022-02-21 05:56] alekseytivonchik commented on #8025
@juan131
Hello!

I have another issue after upgrade.

Postresql ver - 10.13, bitnami helm chart ver - 10.12.0
Upgrade to version 12.8
Postgresql deployd on k3s with PVC

After all steps from  [answer](https://github.com/bitnami/charts/issues/8025#issuecomment-964906018), i couldn't connect to postgresql with error
`postgres user has no password assigned`

Password should be assigne from kubernetes

[2022-02-21 06:39] alekseytivonchik opened #9085 "Upgrade Postgresql 11 to 12"
### Name and Version

bitnami/postgresql-10.12.0

### What steps will reproduce the bug?

Postresql ver - 11.13, bitnami helm chart ver - 10.12.0
Upgrade to version 12.8
Postgresql deployed on k3s with PVC

After all steps from [answer](https://github.com/bitnami/charts/issues/8025#issuecomment-964906018), i couldn't establish remote and local connect to postgresql with error
`postgres user has no

[2022-02-21 06:43] carrodher commented on #8888
You're totally right, sorry. Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-21 07:11] carrodher commented on #8773
Thanks for the PR, the team will review it and provide feedback. This issue will be automatically closed once merged the PR

[2022-02-21 07:12] carrodher commented on #9078
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this project](https://github.com/bitnami/bitnami-docker-redmine#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this container image by f

[2022-02-21 07:32] juan131 commented on #9073
Hi @udupicloud

It seems it is not an issue related to the Bitnami MariaDB Galera chart but questions about how to properly use it, please note Bitnami maintainers do not provide consulting services through GitHub. We highly recommend you to read carefully the [Configuration and Installation details](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera#configuration-and-installatio

[2022-02-21 07:34] purvaldur commented on #7488
This seems to have been fixed for Kafka in https://github.com/bitnami/charts/commit/5776fdbe0217d20d0cded059072396597d5d7385

[2022-02-21 07:38] juan131 commented on #7488
The PR I just created should fix this for MariaDB Galera

[2022-02-21 07:46] #8975 closed

[2022-02-21 07:53] juan131 commented on #8985
Hi @dc232

You can find in the link below the logic that's used in the container scripts to manage the `WORDPRESS_EXTRA_WP_CONFIG_CONTENT` env. variable:

- https://github.com/bitnami/bitnami-docker-wordpress/blob/master/5/debian-10/rootfs/opt/bitnami/scripts/libwordpress.sh#L260

[2022-02-21 08:04] juan131 commented on #9080
Hi @skyrain

Thanks so much for this feature request!

At this point, we don't have much bandwidth to work on adding support for more complex setups for NATS. That's why we'd really appreciate some help here: it'd be a pleasure for us helping in the review process if someone drops a PR adding support for this.

[2022-02-21 08:26] javsalgar commented on #8921
That seems to me that it has to do with upstream mariadb-galera rather than the Bitnami configuration. Did you report this to the MariaDB devs as well?

[2022-02-21 08:27] javsalgar commented on #9043
In the Ingress section could work, yes

[2022-02-21 08:29] purvaldur commented on #7488
Fixed for the Kafka chart in v.2.8.1 https://github.com/bitnami/charts/commit/94bc49b9bbb2fc59c96c9686140d2f5961a52a37

[2022-02-21 09:53] #7488 closed

[2022-02-21 09:56] javsalgar commented on #1210
But that's at the docker build level, not at runtime. I believe we're talking about using the container at runtime.

[2022-02-21 10:10] Becram opened #9121 "[bitnami/rabbitmq] Force boot not working"
### Name and Version

bitnami/rabbitmq 8.29.0

### What steps will reproduce the bug?

configured with values:

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

When the pods abruptly killed it should be started with force boot without checking other peers as force boot is enabled  but the force boot is  not happening when the pod start

[2022-02-21 10:28] javsalgar commented on #9083
Could you add more details about the volume technology you are using? If it is slow, you may need to tweak the probe values.

[2022-02-21 10:33] javsalgar commented on #9085
Hi,

Which are the steps you are doing to upgrade PostgreSQL? Note that, as you are upgrading between major versions, helm upgrade will not work out of the box.

[2022-02-21 10:38] denniscallanan commented on #9083
I don't explicitly configure anything outside the default functionality. It seemed to work fine for the Bitnami Postgres Helm Chart: https://github.com/bitnami/charts/tree/master/bitnami/postgresql

How would I go about tweaking the probe values?

[2022-02-21 11:11] miguelaeh commented on #9082
Hi @thanhtoan1196 ,
the configuration file is created the first time you run helm install. After that, since the existing configuration is loaded so just changing that parameter in the values and performing an upgrade is taking the old configuration. Check the code [here](https://github.com/bitnami/bitnami-docker-wordpress/blob/0518030e9946997a59d301bfa12f47513f8a91a2/5/debian-10/rootfs/opt/bitnam

[2022-02-21 11:14] juan131 commented on #7488
Hi everyone!!

I sent a PR per chart to avoid hardcoding the version in the whole catalog. Find the PRs using the filter below:

- https://github.com/bitnami/charts/pulls?q=is%3Apr+author%3Ajuan131+%22Do+not+hardcode+PDB+apiVersion%22

[2022-02-21 11:26] thanhtoan1196 commented on #9082
@miguelaeh thank you.

[2022-02-21 11:26] #9082 closed

[2022-02-21 12:14] alemorcuq commented on #8614
No idea, @aeimer, but I'm glad you were able to solve your issues. I'll reflect this on our task on sentinel issues.

[2022-02-21 12:54] alekseytivonchik commented on #9085
@javsalgar

Steps:
1. Change image tag to 12.8.0-debian-10-r91
2. Enable debug mod in helm chart and run pod as root _(runAsUser: 0)_
3. Update chart on k3s
4. Exec into postgresql container
5. Run shell commands inside postgresql container:
[code]
6. Disable debug mod and _runAsUser: 0_ in helm chart and update chart on k3s
7. Connect to Postgresql

[2022-02-21 12:58] aeimer commented on #8614
@alemorcuq alright. Then Ill close the ticket, as the problem is solved for me.

Thank you for the help!
Alex

[2022-02-21 12:58] #8614 closed

[2022-02-21 13:59] nmousouros commented on #5589
seems like the latest merge fixed the issue for us.

[2022-02-21 14:07] juan131 commented on #9075
Hi @h0jeZvgoxFepBQ2C

What version of the Bitnami Redis chart are you using? Is it the latest one?

[2022-02-21 14:20] bryopsida opened #9126 "[bitnami/kafka] Cannot create fresh install with volumePermissions.enabled=true"
### Name and Version

bitnami/kafka 15.3.0

### What steps will reproduce the bug?

1. On a fresh install
2. `helm install bitnami/kafka --generate-name --set volumePermissions.enabled=true`

The init container on the Kafka broker will fail with the following error:

[code]

The issue is on a fresh PVC the chown command fails.

It was changed to use a find that pipes results to a chown here: https

[2022-02-21 14:30] migruiz4 commented on #9074
Hi @mchobbel,

I have created this PR #9123 that should address this issue. With the flag `-r` xargs won't fail on empty folders.

[2022-02-21 15:03] nmousouros commented on #5589
Not with --grace-period=0 but I deleted the pods and  they now elected a master successfully instead of both them becoming masters

[2022-02-21 15:12] hannesknutsson opened #9127 "[bitnami/postgresql] Error on startup when running as non-root user."
### Name and Version

bitnami/postgresql 11.0.6

### What steps will reproduce the bug?

We are deploying the chart as described below in a Minikube cluster (using ArgoCD), but trying to do so without ever using a root user. That meaning not even the init-container may be root. This is because when deploying in our dev/staging/prod environment, running as root is prohibited.

### Are you using any

[2022-02-21 15:15] talesam commented on #7305
I compiled the speech + postgres + redis for ARM64, but I didn't succeed in connecting the bank to the speech, it probably needs more things to change. Has anyone come to test the speech for ARM64? I have some servers at Oracle on ARM64 and I would like to run your Docker Image Speech there, but it's complicated, I've been trying for two days, could anyone help me?

[2022-02-21 15:38] nmousouros commented on #5589
It makes sense sice the pre-stop hook is what fixes this issue because killing it without grace period wouldn't trigger the script, I might try this scenario later. However even if that is true, it's better than before that I couldn't get the nodes to recognize the master with any kind of restart, now after deleting the pod it's coming back to normal.

Maybe adding some "pre-start" stuff to do tho

[2022-02-21 16:01] #9074 closed

[2022-02-21 16:29] tom-schoener commented on #8773
PR was merged, this issue is resolved.

[2022-02-21 16:29] #8773 closed

[2022-02-21 16:29] sidju commented on #9026
I'll make a PR which handles this and another issue (with sidecar-proxies not being able to wrap the init-container, making everything lock up completely if you require service mesh to connect to kafka)

[2022-02-21 16:55] jacksgt opened #9144 "[bitnami/minio] Set MINIO_SERVER_URL based on ingress hostname"
### Name and Version

bitnami/minio 10.1.4

### What is the problem this feature will solve?

Minio has various "smart" redirect where it redirects the user from the API endpoint (e.g. `s3.example.com`) to the Console endpoint (`console.s3.example.com`).

At the moment, this is kind of broken with this chart because the Minio doesn't know about the "external" endpoints, i.e. it only knows it's own

[2022-02-21 16:57] jacksgt commented on #9144
If there is consensus that this is the right thing to do, I'm happy to submit a PR for it.

[2022-02-21 17:11] ngingihy opened #9145 "Installing Kong with postgres image from a private image registry, i keep getting Database needs bootstrapping or is older than Kong 1.0 for the kong-migrate pod."
### Name and Version

bitnami/kong

### What steps will reproduce the bug?

1)I'm provisioning a namespace in a cluster, added the repo, trying to install kong chart.
2)In the values.yml file, pulling all the images from a private repo. It successfully pull all the images.
3) The installation fails due to
[code]
when i try to check the pods running, i see
[code]
when I check the events on my clust

[2022-02-21 17:26] webdz9r opened #9146 "wrong file path in ConfigMap for configure-w3-total-cache.sh"
### Name and Version

Bitnami/wordpress 13.0.9

### What steps will reproduce the bug?

Enable w3 cache

wordpressConfigureCache: true

### Are you using any custom parameters or values?

nope

### What is the expected behavior?

Needs to point to the right path `chmod a-w /bitnami/wordpress/wp-config.php`

### What do you see instead?

It's missing the root path `chmod a-w bitnami/wordpress/wp-co

[2022-02-21 18:09] vishrantgupta commented on #8062
Please reopen it, it's not fixed.

[2022-02-21 18:12] vishrantgupta commented on #5589
This issue https://github.com/bitnami/charts/issues/8062 will make it tricky to implement the pre-start hook. The pgpool should fence the failed primary before doing the failover.

[2022-02-21 19:35] reisor commented on #8705
Hi @javsalgar,
When you mention "this kind of configurations using Kubernetes host-mounted volumes goes against the recommended production best practices" I only understand if they are somehow different between pods (i.e. they would be dependent on the host where they run),
If I have a k8s storage class which will be persistent and passed in each of the nodes (assuming 1 pool and 3 pg pods).
and i

[2022-02-21 20:25] JMSwag opened #9150 "[bitnami/kafka] topologySpreadConstraints does not render"
### Name and Version

bitnami/kafka 12.0.0

### What steps will reproduce the bug?

Execute

[code]

values-test.yaml
[code]

### Are you using any custom parameters or values?

`-f values-test.yaml`

### What is the expected behavior?

topologySpreadConstraints to be rendered

### What do you see instead?

topologySpreadConstraints is not rendered

### Additional information

Fixed in https://git

[2022-02-21 20:25] jacksgt commented on #9144
Minio logs before:
[code]

After setting the env vars discussed above:

[code]

[2022-02-21 23:03] lireanne commented on #3213
In case anyone still experiences the same issue: I was still having trouble with mongodb pods crashing following `helm install my-mongo -f values-production.yaml` with non-empty `configuration` settings. The aforementioned workaround of default install + upgrade unfortunately did not solve the issue for me.

My solution:
 - Create a configMap `mongod-conf` with the configurations I needed
 - In `v

[2022-02-21 23:12] matt-smiley commented on #8071
@miguelaeh wow, that's surprising.  Would you mind uploading that 12 MB `redis-server` file, so I can look at the binary itself?

I'm not sure why the compression is not working, and I might be able to find a clue if I can look at the unstripped binary.  (It would also help to see more details about the build script, but since that's not open source, I'm not asking to see that.)  It might be an as

[2022-02-22 01:25] #8856 closed

[2022-02-22 01:25] #8836 closed

[2022-02-22 01:25] #8833 closed

[2022-02-22 01:25] #8830 closed

[2022-02-22 01:25] #8824 closed

[2022-02-22 01:25] #8791 closed

[2022-02-22 01:25] #8783 closed

[2022-02-22 01:25] #8734 closed

[2022-02-22 01:25] #8200 closed

[2022-02-22 01:25] #7825 closed

[2022-02-22 01:42] Cryingmouse commented on #8721
It looks good.  In order to orchestrate the logic, I have to build the logic somewhere out of mariadb-galera cluster.
Is it possible to handle in mariadb-galera built-in scripts automatically when the cluster restart? ：）

[2022-02-22 05:14] pitstop-sirish-bajpai opened #9152 "updateStrategy type Recreate does not work."
### Name and Version

bitnami/wordpress 13.0.13

### What steps will reproduce the bug?

1) Try to upgrade deployment with
[code]
Upgrade fails with error:
[code]
2) A dry-run produces the following:
[code]
I believe the problem is caused by a spurious rollingUpdate line. It should be suppressed if the type is Recreate

### Are you using any custom parameters or values?

_No response_

### What is

[2022-02-22 06:03] Shujja1746 opened #9153 "Cluster not deploying with 12 nodes"
### Name and Version

bitnami/redis 6.2.6

### What steps will reproduce the bug?

Install bitnami/redis cluster with 12 nodes

APP VERSION   6.2.6
 CHART             redis-cluster-7.2.4

### Are you using any custom parameters or values?

using values.yaml file and configuring it to deploy 12 node cluster with 6 master and 6 slave
[code]
### What is the expected behavior?

_No response_

### What

[2022-02-22 07:13] jacksgt commented on #9144
It appears that setting the env variable `MINIO_SERVER_URL` actually causes the login via the Minio Console to fail - even though it is not clear to me why this would happen: https://github.com/minio/minio/issues/13992#issuecomment-1001190835

Nevertheless, we could still set the `MINIO_BROWSER_REDIRECT_URL`.

[2022-02-22 07:26] juan131 commented on #9126
Hi @bryopsida

This should be fixed with the changes introduced at https://github.com/bitnami/charts/pull/9134
Please give a try to the chart version `15.3.1`.

[2022-02-22 07:38] #9054 closed

[2022-02-22 07:39] carrodher commented on #9152
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-22 07:45] carrodher commented on #9150
Thanks for creating the associated, can you please take a look at the comments? I just fixed the issue with the signature

[2022-02-22 07:47] fmulero commented on #8726
HI @faaizshah

For this particular topic please refer to the upstream project or oficial partners, for example, please take a glance to [this documentation from confluent](https://docs.confluent.io/home/connect/self-managed/userguide.html#standalone-mode), I hope it can help you.

[2022-02-22 07:47] rafariossaa commented on #9144
Hi,
  Thanks for bringing this.
  Yes, please sent the PR, we can discuss it there.

[2022-02-22 07:56] rafariossaa commented on #8721
Hi,
  I am not very sure what you mean. What would you need to do ?

[2022-02-22 08:27] hannesknutsson commented on #9127
Changing from
[code]
To
[code]
solved the problem and the containers now start as expected.

I don't know why we set the daemon user before, but this works for us now.

[2022-02-22 08:27] #9127 closed

[2022-02-22 08:55] zfrhv opened #9158 "minio security context"
### Name and Version

bitnami/minio 1.2.3

### What is the problem this feature will solve?

run minio instance on openshift without high scc

### What is the feature you are proposing to solve the problem?

add podSecurityContext and containerSecurityContext options to minio, just as rest of the pods have.

also add some global.podSecurityContext and global.containerSecurityContext to the helm ch

[2022-02-22 09:00] javsalgar commented on #9146
Hi!

Thank you so much for the PR! The team will take a look :D

[2022-02-22 09:33] itaytalmi opened #9159 "[bitnami/elasticsearch] Ingress is incorrectly rendered when Elasticsearch security (X-Pack) is enabled"
### Name and Version

bitnami/elasticsearch 7.17.0

### What steps will reproduce the bug?

When deploying the chart with the below values.yaml file, ingress doesn't work because the ingress resource is rendered incorrectly and the resulting ingress spec points to an incorrect port.

### Are you using any custom parameters or values?

Values.yaml:

[code]

### What is the expected behavior?

When

[2022-02-22 09:38] javsalgar commented on #9153
Hi,

Does the issue occur with the default values?

[2022-02-22 10:02] carrodher commented on #9158
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-22 10:14] carrodher commented on #9121
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback.

[2022-02-22 10:18] Becram commented on #9121
oh sure

[2022-02-22 10:26] mchobbel commented on #9074
Should I put this in a new Issue?

[2022-02-22 10:53] alemorcuq commented on #8429
Hi, @F43RY.

I've noticed your secrets contain some newline characters that may be causing your issue. I modified your secret to strip those newline characters and it looks like this:

[code]

I then deployed the chart using the following `values.yaml`:

[code]

[code]

As you can see, the three pods are running:

[code]

And I can connect to one of them using the root password from the secret:

[

[2022-02-22 12:38] javsalgar commented on #1395
Hi,

I detected a race condition when using init scripts. Adding this PR to fix it https://github.com/bitnami/charts/pull/9161

Maybe this helps with the issue described here.

[2022-02-22 13:32] zfrhv commented on #9158
well its my first time ever creating a pull request, but i really want to try to do it.
so it will probably take me a while to learn how to do it, but i will try my best.

[2022-02-22 15:07] Shujja1746 commented on #9153
@javasalgar

No, default working fine,

9 nodes working fine (3 maters and 2 replica each)

12 nodes not working (6 masters and 1 replica each)

[2022-02-22 15:08] migruiz4 commented on #9074
Hi @mchobbel,

Just a quick question, is your pod running with PodSecurityContext.fsGroup = 1001 (or the UID used to run Worpress)?

You can check your pods securityContext for both pod and container levels using this command:
[code]

[2022-02-22 15:11] mpmatti commented on #8875
Hi @fmulero

Thank you for the fix. Just tested it and it seems to work fine!

[2022-02-22 15:18] hectoralicea commented on #9010
Thanks @juan131 .  I understand the issue is with the `1001` user id / group id, but I'm not sure I can change that for `containerSecurityContext` or `podSecurityContext`.  The wordpress docker image is hard coded to 1001 as shown here:
https://github.com/bitnami/bitnami-docker-wordpress/blob/e0531ffebe97111a957dc92bb9097f6b33b1710d/5/debian-10/Dockerfile#L39
Is there a way to map the docker defin

[2022-02-22 15:26] alemorcuq commented on #8851
I'd say let's remove the timeout. I see on #8616 it was added to prevent the liveness probe from killing the pod, but I don't think that's the right thing to do. IMO, if the liveness probe is killing the pod before it starts then the probe should be adapted (or even use a startup probe).

Would you like to contribute with a PR?

[2022-02-22 15:59] bab5470 opened #9165 "Thanos won't deploy with minio access key"
### Name and Version

bitnami/thanos 9.0.5

### What steps will reproduce the bug?

Deploy thanos using the guide here:
https://tanzu.vmware.com/developer/guides/prometheus-multicluster-monitoring/
https://github.com/bitnami/charts/blob/master/bitnami/thanos/README.md
https://docs.bitnami.com/kubernetes/infrastructure/thanos/administration/enable-metrics/

And this values.yml

[code]

Results in t

[2022-02-22 16:09] juan131 commented on #9010
Hi @hectoralicea

The image uses by default `1001` but it works perfectly if you run it with any other random user (e.g. `1002`).

[2022-02-22 16:14] leventov commented on #8746
We have exactly the same problem. @manning-ncsa was you able to hunt down this issue?

[2022-02-22 16:19] manning-ncsa commented on #8746
@leventov Unfortunately, I have had no luck identifying the cause or a solution. The effort it would take to start hacking the source code to debug on my own has been a prohibitive barrier for me so far.

[2022-02-22 16:23] #1395 closed

[2022-02-22 16:48] DevvG commented on #9032
Yes it is similar. I able to reproduce it in AWS cluster pretty easily now. One just need to restart primary pod and this is happening immediately or after attempting the same for 2 to 3 times. To me, as some one mentioned in some comments, it is happening due to the restarted pod coming up quickly even realizing that it is standby now and not joining the new primary.

Although this has to be inve

[2022-02-22 17:23] migruiz4 commented on #9074
Since you have been modifying the `deployment.yaml`, could you please try this change instead of adding another `chmod`?

[code]

With `-mindepth 0`, the folder `/bitnami/wordpress` should also be included. Please let me know if it works for you so we can apply the fix for Wordpress and other charts.

[2022-02-22 18:09] gpl opened #9168 "Support extraArgs on envoy initcontainer bitnami/contour"
### Name and Version

bitnami/contour

### What is the problem this feature will solve?

We're attempting to use the bitnami/contour chart in a v6-primary cluster.  Unfortunately, we cannot do so since the chart does not provide enough control over extraArgs and the xds address.

### What is the feature you are proposing to solve the problem?

It would be useful to have an ability to specify extra

[2022-02-22 18:26] mchobbel commented on #9074
Yeah nice,  it works!

[2022-02-22 18:44] xiaoyaozi5566 commented on #8062
@miguelaeh What exactly do you want me to try? I don't see a referenced PR.

[2022-02-22 19:40] viniciusfacco commented on #8433
I'm having the same issue. This is the message I get:

[2022-02-22 20:36] markdbuck opened #9170 "keycloak keycloakConfigCli.command default value causing container to fail"
### Name and Version

bitnami/keycloak 16.1.1

### What steps will reproduce the bug?

If you enable the keycloakConfigCli in the 16.1.1 version of the Keycloak helm chart, you will encounter the problem that the config-cli job will fail with the following error in the logs:
`Error: Unable to access jarfile /opt/bitnami/keycloak-config-cli/keycloak-config-cli-16.1.1.jar`

### Are you using any cus

[2022-02-22 22:52] AkhileshK8y opened #9171 "Etcd readme overview link is deprecated"
### Name and Version

bitnami/etcd

### What steps will reproduce the bug?

1. Open bitnami etcd [readme](https://github.com/bitnami/charts/blob/master/bitnami/etcd/README.md).
2. Click on `Overview of Etcd` This opens https://www.redhat.com/en/technologies/cloud-computing/openshift
3. The link actually points to https://coreos.com/etcd which is deprecated.
4. Should we point to etcd.io??

### Are

[2022-02-22 23:44] bryopsida commented on #9126
That fixed it. Thank you!

[2022-02-22 23:44] #9126 closed

[2022-02-23 01:29] #8852 closed

[2022-02-23 03:21] Cryingmouse commented on #8721
When the cluster restarts, can mariadb-galera pods detect the value of ```safe_to_bootstrap```  and then make a decision which pod should start as the bootstrap node automatically? It is be more simple for the user. :)

[2022-02-23 07:04] carrodher commented on #9158
Thanks, you can use any of the existing Helm charts as the base. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines

[2022-02-23 07:05] carrodher commented on #9168
Thanks for the suggestion. Would you like to contribute by creating a PR to add this feature? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-02-23 07:26] carrodher commented on #9171
Thanks for reporting the typo, we just updated it at https://github.com/bitnami/charts/commit/d57e505587e71d058bdce88ab16ca608da138dfb

[2022-02-23 07:26] #9171 closed

[2022-02-23 07:30] zfrhv commented on #9158
hello,
i checked the helm charts and i realized that i got confused.
the minio helm chart is not missing the security context configuration.

i was using the thanos helm chart, and in the [README.md](https://github.com/bitnami/charts/tree/master/bitnami/thanos#minio-chart-parameters) it told only few values about the minio.
i think the right will be to add something like "to see additional minio c

[2022-02-23 07:52] zfrhv commented on #9158
oh maybe i can add this comment in values.yaml 🤦‍♂️

[2022-02-23 07:59] makapszenna commented on #5527
Hi, It happens to me since yesterday also. What is wrong?

[2022-02-23 08:34] rafariossaa commented on #8062
Hi @xiaoyaozi5566 ,
  I think @miguelaeh wanted to refer to [this comment](https://github.com/bitnami/charts/issues/8062#issuecomment-966153986). In anycase, I would suggest you to try the latest version of the chart.

[2022-02-23 08:53] rafariossaa commented on #9032
Hi @DevvG ,
  Thanks for sharing you experience and your workaround.
  As this seems to be timing related it is very dependent on each cluster. In the cases were the default values doesn't work you will need to find the settings that work for you. If more users find that those settings work for them, we can change the default settings in the chart.
  A quick question, which chart version are you u

[2022-02-23 08:59] rafariossaa commented on #8721
Hi,
  I agree, that would be more simple for the user, but for that you will need an operator.
  It would need to check that file in all the PVCs to decide on which node the cluster should bootstrap, and then, set the parameters to bootstrap the galera cluster.

[2022-02-23 09:17] #8851 closed

[2022-02-23 09:18] javsalgar commented on #9083
Maybe you could try changing the `initialDelaySeconds` value so the checks start a bit later.

[2022-02-23 09:20] javsalgar commented on #9085
Hi,

I don't think we support this kind of upgrade in the chart. What we recommend is using a dump and restore operation using a fresh PostgreSQL installation.

[2022-02-23 09:34] javsalgar commented on #8705
Hi,

That "Invalid argument" error seems to be due to some incompatibilities with the filesystem and the PostgreSQL operations. I would check with the devs of the persistence volume technology to see what the issue is.

[2022-02-23 09:36] mschmidt291 opened #9174 "[bitnami/kong] Kong 5.0.7 not available in Bitnami Helm Repo"
### Name and Version

bitnami/kong

### What steps will reproduce the bug?

So yesterday the bitnami/kong 5.0.7 helm chart was released and merged into master. This version fixes the CRD depreciation in 1.22 kubernetes and above - but although it is merged into master, and has a bumped chart version, only 5.0.6 is available in the repository.
I already looked at the index.yaml of the repository my

[2022-02-23 09:50] carrodher commented on #3380
Unfortunately, due to the capacity and priorities the team has, there are no plans to work on this refactor of the secrets in the short term.
I'm closing this issue and it can be reopened in the future if we find bandwidth for this change.

[2022-02-23 09:50] #3380 closed

[2022-02-23 09:54] javsalgar commented on #9170
Hi,

Thanks for letting us know. I will force a new release of the keycloak chart so the keycloak-config-cli gets updated:

[code]

As you can see, the latest one includes the cli.

[2022-02-23 10:15] #9073 closed

[2022-02-23 10:43] jk-pru commented on #8721
Since being stuck on 10.6.4-debian-10-r43 is not great and the current release where the database that can't handle a restart is not suitable for any important deployment, I've taken the current libmariadbgalera.sh script, edited the lines @Bananenbieger1234 pointed out, and build the image with:

FROM bitnami/mariadb-galera:10.6.7-debian-10-r2
COPY libmariadbgalera.sh /opt/bitnami/scripts/

And i

[2022-02-23 10:48] oguzhansrky commented on #8917
Hello, I guess I didn't get the point across.

As I used before, when normal installation is done, only 1 'cluster ip' appears in the 'k8s services' section. This was working when I manually changed it to 'load balancer'. It no longer WORKS at all. I keep getting 'MOVED' ERROR.

If we still can't agree, I will shoot a video and leave a link.

I will take a video and share it in the working version

[2022-02-23 10:49] oguzhansrky commented on #8917
<img width="978" alt="Screenshot 2022-02-23 at 13 48 42" src="https://user-images.githubusercontent.com/52497227/155304887-de33efbe-ba3a-41b6-aae2-43b983fad3a3.png">

[2022-02-23 10:50] oguzhansrky commented on #8917
Whatever development you've done, bring the '7.0.13' version back to when it was first released or test this version as it was when you first released it. You will see for yourself that the system is working. You will understand where the problem is.

[2022-02-23 10:58] oguzhansrky commented on #8917
external access is available, but will I buy 9 separate ip addresses for 9 pods?

[2022-02-23 12:11] ojhughes opened #9175 "[bitnami/geode] java.io.EOFException warning in server log"
### Name and Version

bitnami/geode 1.14.3
kubernetes 1.21 (GKE)
helm 3.7.2

### What steps will reproduce the bug?

Deploy chart using default settings `helm upgrade --install my-release bitnami/geode`

Wait for server pods to come up and check logs, a stack trace is shown in the logs

[code]

I can still connect to the cluster with `gfsh` and see the cluster members using list-members

### Are y

[2022-02-23 13:05] h0jeZvgoxFepBQ2C commented on #8878
@qeternity we have the same problem as it seems and it really surprised our team that this is running so unstable.
Did you find a better solution for this whole class of problems?

[2022-02-23 13:21] h0jeZvgoxFepBQ2C commented on #5347
Hm not really usable right now with this problems.. I really think there should be a hint in the readme which shows that the sentinel integration is not stable.

[2022-02-23 13:37] qeternity commented on #8878
@h0jeZvgoxFepBQ2C we are pinned to an older version of the chart that we found to be stable, combined with an init container that takes a k8s lock to coordinate startups.

[2022-02-23 14:22] muffl0n opened #9177 "[bitnami/solr] Implement possibility to load plugins"
### Name and Version

bitnami/solr 3.0.2

### What is the problem this feature will solve?

When trying to add a plugin (GCS in this example), there are some possibilities, that all feel pretty tedious:
* Create custom solrconfig.xml that includes the path of the plugin
* Copy plugin from "dist" to the "lib" directory by creating a custom Docker image
* Mount plugin as a Volume

### What is the fe

[2022-02-23 14:37] tom-schoener commented on #9177
The official HelmChart for the `SolrCloud` CRD has this feature, see https://github.com/apache/solr-operator/tree/main/helm/solr#running-solr -> `solrOptions.solrModules` and `solrOptions.additionalLibs`.
It would be great if you could edit the `solr.xml` configuration file within the `values.yaml` in some way or another.

[2022-02-23 14:43] fmulero commented on #9159
Hi @itaytalmi , thanks for sharing this issue and such detailed documentation. It was easily reproduced.

We are working on it, a new version of the chart will be relased soon

[2022-02-23 15:31] vishrantgupta commented on #8062
Hi @rafariossaa , @miguelaeh, the changes in [this comment](https://github.com/bitnami/charts/issues/8062#issuecomment-966153986), have an issue as described in [this comment](https://github.com/bitnami/charts/issues/8062#issuecomment-977460671)
I observed the pgpool pods were getting stuck when any one of the Postgresql pods was failing (i.e., when there was no master node), this is against the h

[2022-02-23 15:32] #7536 closed

[2022-02-23 15:47] jaudiger opened #9182 "Elasticsearch exporter does not connect to master node"
### Name and Version

bitnami/elasticsearch 17.9.3

### What steps will reproduce the bug?

1. Add a master node
2. Add a data node
3. Enable exporter

No coordinating node has to be added to reproduce this issue. If a coordinating node is added, there is not problem with the exporter. See, below why.

### Are you using any custom parameters or values?

_No response_

### What is the expected beha

[2022-02-23 15:50] jaudiger commented on #9182
If you want any help, I'm here. I just want to be sure first of the approach to take to solve this issue.

[2022-02-23 18:54] johnymbr opened #9186 "[bitnami/zookeeper] Cannot create fresh install with volumePermissions.enabled=true"
### Name and Version

bitnami/zookeeper 8.0.3

### What steps will reproduce the bug?

1. On a fresh install
2. helm install bitnami/zookeeper --generate-name --set volumePermissions.enabled=true

The init container on the Kafka broker will fail with the following error:

[code]
The issue is on a fresh PVC the chown command fails.

Current code:
[code]

### Are you using any custom parameters or v

[2022-02-23 18:58] bab5470 commented on #9165
Any ideas/help? :) Our monitoring system is effectively down at the moment and I'm at a loss as to what the issue is.

[2022-02-23 19:03] xiaoyaozi5566 commented on #8062
@rafariossaa I just tried with the latest version of the charts, got into the same issue. After killing primary node, the cluster ended up in the following state
[code]
This should be fairly straightforward to replicate, right? You just need to deploy the charts and kill the primary node and wait for 30 seconds. Not sure what is blocking the investigation into this issue. imo this issue is a top p

[2022-02-23 22:58] #8942 closed

[2022-02-23 23:01] cdprete commented on #1210
Yes. I didn't check the image definition honestly, so when do you the `chown` exactly?
If is part of the image definition (aka a `RUN` command), then I think it should be possible to do the switch as I was suggesting...

[2022-02-24 01:28] #8882 closed

[2022-02-24 01:28] #8881 closed

[2022-02-24 01:28] #8880 closed

[2022-02-24 01:28] #8820 closed

[2022-02-24 02:13] Cryingmouse commented on #8721
@rafariossaa, thanks for you quick response. Will it happen to have multiple pods in which ``` safe_to_bootstrap``` equal to 1?

[2022-02-24 02:22] clcc2019 opened #9187 "[minio] minio distributed mode install error"
### Name and Version

bitnami/minio 10.1.9

### What steps will reproduce the bug?

![image](https://user-images.githubusercontent.com/46099295/155444912-e1b30209-8597-4290-bd73-5200cdc01e3d.png)
![image](https://user-images.githubusercontent.com/46099295/155445033-e7a9db27-3cc6-447a-9a6b-8218dda8bd25.png)

### Are you using any custom parameters or values?

--set mode: distributed
--set defaultBu

[2022-02-24 06:55] carrodher commented on #9121
Thanks for your PR, the team will review it and provide feedback.

[2022-02-24 06:59] carrodher commented on #9158
Sure, feel free to contribute by adding a paragraph in Thano's README pointing to MinIO

[2022-02-24 07:08] carrodher commented on #5527
Thanks for letting us know, we are facing some **transient** issues with the Helm registry, it should work if you retry it:
[code]

Please note this issue was already reported at #8433, I will maintain this one as closed in order to keep all the conversations in a single place. Thanks!

[2022-02-24 07:11] carrodher commented on #9174
Thanks for letting us know, as pointed out in the [CONTRIBUTING guidelines](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#pr-approval-and-release-process):

We are testing internally all the charts in different k8s clusters (IKS, GKE, TKG, AKS, etc) before pushing them to the Helm registry. Currently, we are having some issues with our infrastructure and one of those clusters is no

[2022-02-24 07:32] mschmidt291 commented on #9174
Thanks for the quick response! I already did what you recommended as a workaround, so we can use the filepath instead of a repo. I just opened this issue because I thought there is maybe something wrong with a release pipeline or something like this. Did not know that the charts are tested "manually".
Then we have to wait a little bit longer :+1:

[2022-02-24 07:34] carrodher commented on #9174
No no, they are not tested manually, this test & release pipeline is fully automated, the topic is that there are some issues in the underlying infrastructure. If you're curious, [here](https://docs.bitnami.com/kubernetes/faq/get-started/understand-charts-release-process/) you can find more info about this process.

[2022-02-24 07:57] juan131 commented on #9177
Hi everyone!

I guess we can add support for mounting custom configuration files easily in the image as it's described in the link below:

- https://github.com/bitnami/bitnami-docker-solr#using-your-apache-solr-cores-configuration-files

Would you like to contribute with a PR adding this feature?

[2022-02-24 08:01] juan131 commented on #9187
Hi @clcc2019

As it's mentioned in the **values.yaml** you can only use "defaultBuckets" in standalone mode, see:

- https://github.com/bitnami/charts/blob/master/bitnami/minio/values.yaml#L109

You can try using the provisioning job instead when using the distributed mode:

- https://github.com/bitnami/charts/blob/master/bitnami/minio/values.yaml#L202

[2022-02-24 08:02] juan131 commented on #9186
Duplicate of https://github.com/bitnami/charts/issues/9126 and fixed at https://github.com/bitnami/charts/pull/9134

[2022-02-24 08:02] #9186 closed

[2022-02-24 08:43] devent opened #9191 "Unable to update the policy: policy `consoleAdmin` already exists"
### Name and Version

bitnamy/minio:10.1.11

### What steps will reproduce the bug?

1. deploy helm chart on K8s v1.22.5
2. Config:
[code]
3. minio is deployed
4. provision pod is crash:
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Minio is deployed and the users and groups are provisione

[2022-02-24 09:28] javsalgar commented on #9175
Hi,

Could you let us know if this message appears several times or is something that appears only once? It could be a warning due to the configuration.

[2022-02-24 09:35] javsalgar commented on #9153
Hi,

I was unable to reproduce the issue

[code]

Could you add more details about the platform you are using?

[2022-02-24 09:37] javsalgar commented on #9191
Hi,

Could you launch it with `image.debug=true` to see if it adds more debugging information?

[2022-02-24 10:58] johnymbr commented on #9186
Thanks for the feedback, @juan131.

[2022-02-24 11:09] devent commented on #9191
I don't think the provisioner have debug. I did anyway. I have added debug logging to the provisioner by copying the job and adding `-x`.
[code]
minio:
[code]
provisoner:
[code]

[2022-02-24 11:26] miguelgmedina opened #9193 "logstash-output-syslog plugin installation"
### Name and Version

bitnami/logstash-3.5.5

### What is the problem this feature will solve?

Hi, we need to install a logstash-output-syslog plugin in our logstash deployment. We are using bitnami logstash helm chart for that. We are studing two alternatives:
* Customize the original image to include that output plugin, upload that custom image to our internal container registry and modify the

[2022-02-24 11:33] andrewhadji-michael opened #9194 "Help with node/pod affinity"
### Name and Version

bitnami/solr 0.3.3

### What steps will reproduce the bug?

Hi.

Hopefully someone can help me with my issue.

I am using an older version of the bitnami/solr helm chart 0.3.3.

I have been given this code to production so I would rather not upgrade the helm if I can avoid it so I don’t have to do extra work.

Everything is working just fine, however, I notice that when I spi

[2022-02-24 11:37] RafaelTCostella commented on #8924
Solved @javsalgar thanks!

[2022-02-24 11:37] #8924 closed

[2022-02-24 11:49] rafariossaa commented on #8721
You should only have one with that state. You can check how it works [here](https://galeracluster.com/2016/11/introducing-the-safe-to-bootstrap-feature-in-galera-cluster/).

[2022-02-24 11:56] rafariossaa commented on #8062
Hi @xiaoyaozi5566 ,
  I missed in PR#9035 to increase the default number of nodes.
  Now, I took the opportunity an also added more information in the README and value.yaml.

[2022-02-24 12:21] cwrau opened #9195 "[bitnami/mariadb-galera] Add support for setting annotations on the statefulset PVCs"
### Name and Version

bitnami/mariadb-galera 7.0.4

### What is the problem this feature will solve?

We want to continuously test our app, for that we want a clean slate on a daily basis. We kinda accomplished this with `kube-janitor`, which deletes our application, and `flux` redeploys it.

The only things leftover are the PVCs of the `mariadb-galera` helm chart. Which means the DB won't be clea

[2022-02-24 13:05] NicklasWallgren commented on #6427
@migruiz4 How do we expose the added ports via the ingress?

I have defined `extraContainerPorts` and `extraPorts`, but only 15672 is available via ingress.

![image](https://user-images.githubusercontent.com/1784879/155529233-84d3a6d1-1515-49c6-82d9-14076cc909a1.png)

![image](https://user-images.githubusercontent.com/1784879/155529405-526b97a5-cb66-45f3-8f37-7195891d8bfd.png)

[2022-02-24 13:13] NicklasWallgren commented on #6427
I solved it by changing `service.type` to NodePort.

[2022-02-24 13:40] fmulero commented on #3545
Hi @ChrisJBurns, Are you having the same problem with the `bitnami/harbor` chart? I have to say that we don't officially support istio, but it's very easy to get these errors (failures verifying CA or certificate) when you try to use mTLS. `istio-proxy` container wraps all the traffic and depending on your configuration envoy can apply different rules.

My suggestion is:  run a simple test and che

[2022-02-24 14:09] jouve opened #9197 "inconsistent values to specify prometheus rules between different charts"
### Name and Version

bitnami/tomcat 10.1.10

### What steps will reproduce the bug?

one of the best feature of these charts is the consistency in values.yaml among the differents components.

I noticed that the templates for prometheusRule have slight differences :

tomcat :
* guarded by `if and .Values.metrics.jmx.enabled .Values.metrics.prometheusRule.enabled` (notice the `metrics.jmx`)
* `spe

[2022-02-24 14:33] migruiz4 commented on #6427
Hi @NicklasWallgren,

To expose additional ports via ingress, you will need to use the value `ingress.extraHosts` or `ingress.extraPaths` to modify the default `ingress.yaml`:

https://github.com/bitnami/charts/blob/6c698dfcf39233b54139661458f0813a8df60e6a/bitnami/rabbitmq/templates/ingress.yaml#L22-L45

For example, you can configure a different path in your ingress that used a different service

[2022-02-24 15:03] jowko commented on #8922
The issue is still valid.

[2022-02-24 15:18] migruiz4 commented on #9182
Hi @jaudiger!

Thank you for reporting this issue!

Indeed, this is a bug with the metrics deployment here:
https://github.com/bitnami/charts/blob/6c698dfcf39233b54139661458f0813a8df60e6a/bitnami/elasticsearch/templates/metrics-deploy.yaml#L44-L50

It should be using 9200 instead of `{{ .Values.master.service.port }} `, since the `master.service.port` references the transport port (9300) and not t

[2022-02-24 15:19] steven-varga commented on #3366
Experienced similar problems and following thought the above conversation helped to  solve my problems. Many thanks!
[code]

[2022-02-24 15:27] NicklasWallgren commented on #6427
@migruiz4 Thanks for the reply.

I tried with the following;
[code]

But I cannot get it to work, the service port points to 15672 instead of 15674.

![image](https://user-images.githubusercontent.com/1784879/155554046-b3ccb250-68a1-46d8-83a7-127017828220.png)

[2022-02-24 16:12] marcosbc commented on #9165
Hi @bab5470, you mention that your system is down at the moment. DId it ever deploy well? If so, what steps triggered this issue? (e.g. an upgrade or something else)

As for the error, it does seem related to this:

You could try and investigate what access key is being provided to thanos, for instance, with the diagnostics mode of the chart. That might help you find our where that key is being ob

[2022-02-24 16:19] #8952 closed

[2022-02-24 16:37] bab5470 commented on #9165
Thanks for the reply back I believe I have figured out the problem.

It seems that in the newer helm chart minio has depreciated the secret key and access key and instead requires root user and root password to be specified.

I figured this out by reading this  github post: https://github.com/bitnami/charts/issues/6726

The problem I had is that I misunderstood what rootPassword and rootUser were.

[2022-02-24 16:37] #9165 closed

[2022-02-24 16:39] carrodher commented on #9194
For information regarding the customization of the content within the application or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the application or the technology.

That said, I will keep this ticket open until the stale bot closes it just in case someone from the community adds some valuable info

[2022-02-24 17:16] jaudiger commented on #9182
Thanks @migruiz4 , I just opened this PR (https://github.com/bitnami/charts/pull/9199) to fix this issue.

[2022-02-24 17:41] fmulero commented on #3545
Hi @ChrisJBurns, as the initially reported issue seems solved, I'll close this issue but feel free to open a new one.

Regards

[2022-02-24 17:41] #3545 closed

[2022-02-24 17:46] #9159 closed

[2022-02-24 17:47] ojhughes commented on #9175
Hi the exception is logged repeatedly as long as the server is up. The cluster is operating correctly other than this logging

[2022-02-24 19:16] jouve commented on #9197
If an option can be agreed, I can implement the changes.

[2022-02-24 22:04] Segamegadrive commented on #8433
Hi, I'm also facing similar type of error. Jenkins build fails and I'm using Terraform HEML Provider to deploy Prometheus HEML chat from bitnami. Tried to get around with it by creating docker image as well; defining commands to install HELM 3 and added CMD to add repos, and still didn't help. I also tried replacing TF HELM repository attribute with "/.cache/helm/repository/" but throws Protocol H

[2022-02-24 22:48] xiaoyaozi5566 commented on #8062
Hi @rafariossaa , I updated the number of replicas to 3, but the incorrect timeline problem still exists.
The initial state
[code]
After I kill `postgresql-ha-postgresql-0` and wait for 30 seconds, the state becomes
[code]
There are still two primaries with different timelines. Changing the number of replicas doesn't help.

Again, reproducing the issue is pretty straightforward. I strongly suggest

[2022-02-24 23:37] frankfong0208 opened #9203 "Logstash tcp input truncating long events?"
### Name and Version

bitnami/logstash 3.7.4

### What steps will reproduce the bug?

1. install the logstash chart in aws eks v1.18.20-eks-8c49e2 with the following custom values.yaml
2. Configure some log source to send json format logs (with one json event key having long string value, say, over 2.2k or something) to logstash over tcp using its loadbalancer service address
3. You will see this

[2022-02-25 00:19] anuragagarwal561994 commented on #7305
I have access to ARM based system, how can I contribute to the project for supporting ARM based images.

[2022-02-25 03:08] QuanTran91 commented on #2635
Hi @Stephane-Thales
Might I know did you set the db as repository via extraEnvVars?
Thank you.

[2022-02-25 05:42] philraj commented on #8914
I will submit a PR sometime this week.

[2022-02-25 05:56] pluess opened #9207 "It's not possible to properly switch off deployer.podSecurityContext"
### Name and Version

bitnami/spring-cloud-data-flow 5.2.1

### What steps will reproduce the bug?

To get the chart working on OpenShift I had to get rid of all `podSecurity` and `containerSecurity` entries. This works fine except for `deployer.podSecurityContext`.   `deployer.podSecurityContext` is not checking for enabled. Instead it just checks wheter the table has any contents at all. This me

[2022-02-25 06:19] cctvccav commented on #2769
I have the same problem

[2022-02-25 06:40] yankay commented on #7305
We have the same problem like @anuragagarwal561994 . How can we contribute bitnami to support ARM. Is there any sample ?

[2022-02-25 07:31] carrodher commented on #9203
It seems it is not an issue related to the Bitnami logstash container image or Helm chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the p

[2022-02-25 07:35] carrodher commented on #9193
For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the project behind the application or the technology.

That said, I will keep this ticket open until the stale bot closes it just in case someone from the community ad

[2022-02-25 07:48] Stephane-Thales commented on #2635
Hi it was a long time ago, If I remember correctly I was not able to do it using helm, and used only the kubectl and yml.

[2022-02-25 07:50] QuanTran91 commented on #2635
Nevermind, I figure out
  grafana:
    extraEnvVars:
    - name: GF_DATABASE_TYPE
      value: postgres
    - name: GF_DATABASE_HOST
      value: <database endpoint>
    - name: GF_DATABASE_NAME
      value: grafana
    - name: GF_DATABASE_USER
      value: grafanauser
    - name: GF_DATABASE_PASSWORD
      value: <password>
    - name: GF_DATABASE_SSL_MODE
      value: disable

[2022-02-25 07:50] Shujja1746 commented on #9153
@javsalgar

Deploying to aks with nodepool size Standard E32ds v5 (32 vcpus, 256 GiB memory).

12 nodes not coming up, 9 nodes are coming, but i want more masters to hold more data on redis
redis-2-redis-cluster-0    0/1     Running   1          5m54s   10.3.0.39    aks-redispool-53995875-vmss00000o    <none>           <none>
redis-2-redis-cluster-1    0/1     Running   1          5m54s   10.3.0.1

[2022-02-25 08:05] javsalgar commented on #8952
Just a note to let you know that now persistence is mandatory. After analysis, that's the best option we devised.

[2022-02-25 08:51] javsalgar commented on #1210
I think I'm not following in this case, what would we exactly want to achieve by doing a chown at the docker build level? Right now, it is configured so any random user that belongs to the root group works. If we perform a chown then it wouldn't work with random users.

[2022-02-25 08:57] javsalgar commented on #9195
Hi,

Thank you so much for the feature request! If want to speed up the process, feel free to submit a PR and we will review it :D

[2022-02-25 09:00] javsalgar commented on #9197
I personally think the `postgresql` approach is the best among them

[2022-02-25 09:01] javsalgar commented on #9175
Could it be because of the liveness readiness probes? Could you try disabling them and see if the issue is there? It will help us to exactly track the cause of the issue and find a solution afterwards

[2022-02-25 09:21] RamyaRohidas opened #9211 "Vulnerability bugs raised by twistlock for version 3.6.1"
### Name and Version

 3.6.1

### What steps will reproduce the bug?

critical	https://nvd.nist.gov/vuln/detail/CVE-2021-38297
Go before 1.16.9 and 1.17.x before 1.17.2 has a Buffer Overflow via large arguments in a function invocation from a WASM module, when GOARCH=wasm GOOS=js is used.
high	https://nvd.nist.gov/vuln/detail/CVE-2021-41772
Go before 1.16.10 and 1.17.x before 1.17.3 allows an arch

[2022-02-25 09:28] javsalgar commented on #9207
Hi,

Thank you so much for the input! Would you like to submit a PR with the fix?

[2022-02-25 09:45] u0324020 opened #9212 "README.md link unworkable"
### Name and Version

bitnami/thanos

### What steps will reproduce the bug?

In readme.md line:39, the [configuration](#configuration) not link to the appropriate session.

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

maybe you mean [configuration](#Configuration and installation details)?

###

[2022-02-25 09:45] ojhughes commented on #9175
I removed the liveness and readiness probes and as you say, the stack trace no longer appears in the log

[2022-02-25 09:54] javsalgar commented on #9212
Hi!

Thanks for reporting! The link should be `#parameters`. Would you like to submit a PR fixing it?

[2022-02-25 10:52] Jasper-zh commented on #5962
I have the same problem and it has not been solved yet

[2022-02-25 11:55] carrodher commented on #9211
Hi, unfortunately, most of the security vulnerabilities are not fixed by the OS or the application itself, so although we built the images on a daily basis, this kind of CVE will be reported while there is not a new version patching the issue in the OS or the application. In order to check this specific case, can you please share with us what is the image where those CVEs are reported? Or the exac

[2022-02-25 12:04] RamyaRohidas commented on #9211
Hi Carlos

Thanks for getting back to me on this issue. The docker image is picked
from the below git link, version is 3.6/debian-10
<https://github.com/bitnami/bitnami-docker-zookeeper/tree/master/3.6/debian-10>
More
details attached to the email xls.
https://github.com/bitnami/bitnami-docker-zookeeper

Thanks,
Ramya

On Fri, Feb 25, 2022 at 5:25 PM Carlos Rodríguez Hernández <
***@***.***> wrote

[2022-02-25 12:28] carrodher commented on #9211
Please note 3.6.1 is not the latest image available for the 3.6 branch, using 3.6.3 there is not any **fixable** vulnerability:
[code]

[2022-02-25 12:31] bab5470 opened #9213 "err="getting metadata: fallback fetching info from xxx:10901: rpc error: code = DeadlineExceeded desc = context deadline exceeded" address=xxx:10901"
### Name and Version

thanos-9.0.6

### What steps will reproduce the bug?

Deploy bitnami Prometheus in a downstream cluster with a load balancer
Deploy Thanos in an aggregator cluster pointing to the Prometheus downstream cluster.
Check the logs

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Thanos should be able to talk to Prometheus

###

[2022-02-25 12:32] bab5470 commented on #9213
How else can I troubleshoot why this isn't working? Why do my other downstream clusters work but this one doesn't? I've compared values.yml from other clusters they seem identical with the exception of the clusterLabel (Which should be different). There's obviously communication (See NC command above). This error is really generic and I can't seem to find much information on what causes it or what

[2022-02-25 12:34] #9158 closed

[2022-02-25 12:41] larsivi opened #9214 "[bitnami/rabbitmq] With rabbitmq as a dependency, not able to create user reachable from main application"
### Name and Version

bitnami/rabbitmq 8.29.2

### What steps will reproduce the bug?

Running in GCP Kubernetes
Inspired by https://techblog.commercetools.com/prisma-horizontal-scaling-a-practical-guide-3a05833d4fc3, but it is 4 or so years old, and pretty much none of the versions are relevant anymore.

I am setting up a chart for our prisma, that needs rabbitmq as a dependency.

There is a secr

[2022-02-25 12:44] DamienFontaine opened #9215 "[bitnami/kafka] SSLHandshakeException: Invalid CertificateVerify signature with type PEM"
### Name and Version

bitnami/kafka:15.3.1

### What steps will reproduce the bug?

1. Generate a certificate with cert-manger
2. Use the generated certificate in `auth.tls.existingSecrets` with `auth.tls.type: pem`
3. Install with Helm

### Are you using any custom parameters or values?
[code]
### What is the expected behavior?

Use PEM certificates generated by cert-manger instead of JKS.

### W

[2022-02-25 13:00] bab5470 commented on #9213
Cranking up debug logging for the thanos querier to LogLevel: debug hasn't resulted in any more verbose messages as to why its failing.

[2022-02-25 13:05] cdprete commented on #1210
Ok, I was not aware of this.

[2022-02-25 13:16] bab5470 commented on #9213
Is there someway to exec into the container? I tried /bin/sh /bin/bash /bin/ash sh bash ash - nothing seems to work. I am not sure what shell or path the shell is in in this container.

[2022-02-25 15:08] miguelaeh commented on #8071
Sorry guys, I missed the notification of the response.

Thank you @matt-smiley for the details.

Since there are weird behaviors as you commented with the `hiredis`. To avoid extending this too much in time, I think we could proceed with option 3:

It will just add 0.5MB to the image and from what we talked about, looks to be enough for the case.

[2022-02-25 15:17] miguelaeh commented on #5962
Hi guys, I am reopening the issue, but please provide the requested information, if not, we can't help and the issue will be definitelly closed.

[2022-02-25 15:41] carrodher commented on #8647
This issue should be solved with the changes at https://github.com/bitnami/charts/pull/9076. Please, feel free to reopen it if something is not working as expected.

[2022-02-25 15:41] #8647 closed

[2022-02-25 16:28] stumueller opened #9217 "requestRedirectPolicy validation error"
### Name and Version

bitnami\contour 7.3.9

### What steps will reproduce the bug?

We are using the latest bitnami chart for contour - 7.3.9

our httpproxy yaml's are as follows:
redirect.yaml
[code]
proxy.yaml
[code]
after applying proxy.yaml when running `kubectl apply -f redirect.yaml`

We get the error:
[code]

### What do you see instead?
[code]
### Additional information

I initially raise

[2022-02-25 18:02] joancafom commented on #7071
Hi @szc1233444

We have released [a new version of the Chart (7.0.5)](https://github.com/bitnami/charts/commit/b4850b2f1766363b6b5f551e369f37bc306d6b0b) that should fix the issue! Feel free to check it out when you have a chance 🙂

[code]

[2022-02-25 18:28] fmulero commented on #6217
Some news about this issue

JDBC parameters can be set in keycloak image using `KEYCLOAK_JDBC_PARAMS` allowing several parameters following a query string format. More information in [keycloak docker readme](https://github.com/bitnami/bitnami-docker-keycloak#connecting-to-a-postgresql-database).

In the following lines you can find a `values.yaml` to test this feature in the chart:
[code]

[2022-02-25 19:08] bab5470 commented on #9213
The issue we're encountering sounds suspiciously similar to this: https://discuss.konghq.com/t/grpc-request-block-at-the-proxy-level/6429

[2022-02-25 19:46] lknite opened #9218 "argocd install ca-bundle using postStart gets access denied"
### Name and Version

bitnami/argocd : latest

### What steps will reproduce the bug?

helm install with postStart value

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Working to install a ca-bundle.  My workplace rewrites https, this makes it appear that all certificates are invalid unless the onprem certificate authority is trusted.

I would expe

[2022-02-25 21:59] matt-smiley commented on #8071
@miguelaeh that sounds great, let's do that, thank you!

[2022-02-26 01:25] #8906 closed

[2022-02-26 01:25] #8869 closed

[2022-02-26 01:26] skyrain opened #9219 "Does rabbitmq or rabbitmq-cluster-operator support rabbitmq stream"
### Name and Version

bitnami/rabbitmq

### What is the problem this feature will solve?

Currently, rabbitmq support rabbitmq streams as https://blog.rabbitmq.com/posts/2021/07/rabbitmq-streams-overview. I would love to know does either `bitnami/rabbitmq` or `bitnami/rabbitmq-cluster-operator` support rabbitmq streams? I do see the appversion in `bitnami/rabbitmq` is `3.9.13` which should support

[2022-02-26 02:14] tbnguyen1407 commented on #8918
/keepalive

[2022-02-26 12:04] andrewhadji-michael commented on #9194
OK, forget the helm chart I posted above, is no one else running in to the issue of the pods being scheduled on nodes which don’t have ebs volumes in the right availability zone on aws?

How do I fix this.

I know I have to label the nodes and the pods.

The nodes have labels for az already. But how do I label the pods and the ebs volumes to choose the correct nodes in those azs.

[2022-02-26 13:23] batazor commented on #1210
Are there ways to solve this problem?

[2022-02-27 01:27] #8867 closed

[2022-02-27 07:27] devent commented on #9191
It's basically with all policies. Here the error from policy in group:

[code]

If I remove all policies from the provisioning then it works.

Is there no command to check first if the policy already exist?

[2022-02-27 10:43] mypa opened #9220 "Airflow broken LocalExecutor deployment"
### Name and Version

bitnami/airflow 12.0.5

### What steps will reproduce the bug?

1. In a local k8s cluster
2. when installing a Helm release of bitnami/airflow with `executor=LocalExecutor` or `executor=SequentialExecutor`

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Helm installs an Airflow release using the local executor settings

[2022-02-27 13:08] Stark-X opened #9221 "[bitnami/jenkins] cannot upgrade to the latest version (9.0.2)"
### Name and Version

bitnami/jenkins 9.0.2

### What steps will reproduce the bug?

[code]

Output:
[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

Upgrade correctly

### What do you see instead?

[code]

### Additional information

_No response_

[2022-02-27 13:28] bab5470 commented on #9213
Anyone have any ideas or suggestions?

[2022-02-27 15:02] mchobbel commented on #9074
Can this go into a new PR? Should I create one?

[2022-02-27 16:40] carrodher commented on #9220
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-02-27 16:48] carrodher commented on #9214
Please note the different instructions for the current latest version of the bitnami/rabbitmq Helm chart are present in the [README.md file](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq). If you want to follow external documentation using an old Helm chart you can install a previous version of this helm chart by running `helm install my-rabbit bitnami/rabbitmq --version X.Y.Z`

[2022-02-27 17:56] ngingihy opened #9222 "Installing Kong using bitnami image and keep getting "An invalid response was received from the upstream server""
### Name and Version

bitnami/kong

### What steps will reproduce the bug?

I tried installing Kong using Bitnami chart. Every thing works fine. I  was able to successfully create a service and route using admin-api. But now when i try the route using Kong i get `"An invalid response was received from the upstream server"` ;
GET : http://10..xxx.xx.x:80/mock

my service
[code]

my route
[code]

##

[2022-02-27 23:58] th3penguinwhisperer opened #9223 "Odoo helm chart on Openshift"
### Name and Version

bitnami/odoo 20.2.11

### What steps will reproduce the bug?

Deploying in an Openshift environment.

The database comes up properly and Odoo can connect to the database however I get this error:

`rm: cannot remove '/opt/bitnami/odoo/addons': Permission denied
`

This is in the Odoo container. Do I need the volumePermissions? But this should be handled by Openshift, right (w

[2022-02-28 00:07] frankfong0208 commented on #9203
Thanks for your reply @carrodher.

[2022-02-28 05:22] rohilsurana opened #9224 "[bitnami/contour] auto refresh tls cert before it expires in 365 days"
### Name and Version

bitnami/contour 7.3.11

### What is the problem this feature will solve?

Currently the TLS cert used for communication between envoy and contour pods has an expiry of 365 days(certgen default). For releases that are not updated in that time this makes config calls fail b/w contour and envoy pods since the helm hook is set to `pre-install, pre-upgrade`

### What is the featur

[2022-02-28 07:48] shenchenguo opened #9225 "[bitnami/redis-cluster] The real number of master nodes is incorrect after adding redis cluster nodes and replicas"
### Name and Version

bitnami/redis-cluster

### What steps will reproduce the bug?

1. create a Redis cluster as 5 master and 5 replica nodes (there will be 1 replica per master node)

cluster:
  init: true
  nodes: 10
  replicas: 1
  update:
    addNodes: false
    currentNumberOfNodes: 10

install the chart with the release name redis-sample-cluster:
`helm install redis-sample-cluster bitnami/r

[2022-02-28 08:12] larsivi commented on #9214
Thank you! Wrong structure was indeed the issue (and also messed up those that persistent storage). It works now :)

[2022-02-28 08:12] #9214 closed

[2022-02-28 08:18] carrodher commented on #9223
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/odoo#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this Helm cha

[2022-02-28 08:54] javsalgar commented on #9153
Just for ensuring, could you please double check the following?

- It is strange that with `--set` it works and not in `values.yaml`.  There must be some extra value that you are changing that may be causing the issue.
- Could you check that you are removing the PVCs from previous installations?

[2022-02-28 09:02] javsalgar commented on #9175
Just a note to let you know that I was able to reproduce it. Indeed, the probes are adding noise to the logs, so I think we should revisit them. I will open a task for investigation.

Thank you so much for reporting!

[2022-02-28 09:58] javsalgar commented on #9215
Hi,

I've been trying with the `autogenerated` PEM files that the chart has and found no issue. It seems to me that it could be some incompatibility with the PEM files that cert-manager creates. Could you check the error with the upstream Kafka devs to see if they can provide more insight on what the issue is? It is not clear to me that the issue is directly related to the Bitnami packaging (takin

[2022-02-28 10:11] DamienFontaine commented on #9215
Hi,

Same, Kafka works with `autogenerated ` . I will check with Kafka devs.

[2022-02-28 10:15] javsalgar commented on #1210
@batazor could you provide more details of your configuration and the issue you are facing?

[2022-02-28 10:20] javsalgar commented on #9217
Hi,

Thanks for letting us know! It seems that we need to update the CRDs. I will open a task for this.

[2022-02-28 10:24] javsalgar commented on #9221
Hi,

Could you let us know from which version of the chart you are trying to upgrade?

[2022-02-28 10:38] javsalgar commented on #9218
Hi,

Thank you for using Bitnami. It seems that the steps you are doing are not compatible with how configmap and secrets work. Note that configmaps and secrets are read-only. Mounting the configmap inside a folder may cause permission issues because of that. You may need to use alternatives like PVCs instead.

[2022-02-28 10:54] javsalgar commented on #9222
Hi,

Thank you for using Bitnami. The error of the "invalid response from the upstream server" seems to be more related with how you configured the route and the service rather than the service itself. It could also be related with an issue with the Kubernetes cluster (for example, networking issues). Did you try checking the Kong developers to see if there's anything incorrect in your service con

[2022-02-28 10:56] javsalgar commented on #9224
Hi,

In my opinion, exposing the certificate-lifetime parameter makes more sense to me that adding an extra cron job deployment. Would you like to submit a PR exposing this parameter in the chart?

[2022-02-28 11:06] javsalgar commented on #9191
Hi,

Could it be by using the `mc admin policy list` command? Maybe the provisioning scripts needs some tweaks.

[2022-02-28 11:16] javsalgar commented on #9219
Hi,

If the application includes it, then you should be able to use it in the Bitnami containers. About `bitnami/rabbitmq`, it is not clear to me looking at the documentation if there's any setting to enable or if it is something to be created using the CLI.

About `rabbitmq-cluster-operator`, I advise you to ask to the `rabbitmq-cluster-operator` devs to see if the operator supports it. https://g

[2022-02-28 11:26] #9060 closed

[2022-02-28 12:31] javsalgar commented on #9074
Hi!

Feel free to submit a PR and we will review it :D

[2022-02-28 14:00] jack1902 opened #9227 "[bitnami/redis] latest is broken for a fresh deployment of redis-sentinel"
### Name and Version

bitnami/redis 16.4.4

### What steps will reproduce the bug?

1. helm upgrade -i bitnami/redis --version 16.4.4 --set 'auth.enabled=false,sentinel.enabled=true'
2. observe `redis-node-0` never coming up

This is because a `timeout` has been removed from the script which ensures that the script can continue in this commit: https://github.com/bitnami/charts/commit/d6d66f1458cd7

[2022-02-28 14:01] jack1902 commented on #9227
caused by: https://github.com/bitnami/charts/pull/9169

[2022-02-28 14:05] kvendingoldo commented on #9153
I have the same issue:
3 nodes, 0 replicas

[2022-02-28 14:31] kvendingoldo commented on #9153
btw. shouldn't we use `=` instead of `==` for shell scripts?

[2022-02-28 14:32] cedricve opened #9228 "[bitnami/kafka-exporter] Error Init Kafka Client: kafka server: SASL Authentication failed."
### Name and Version

bitnami/kafka-exporter 1.4.2-debian-10-r158

### What steps will reproduce the bug?

Use the official Kafka helm chart: https://github.com/bitnami/charts/tree/master/bitnami/kafka

### What is the expected behavior?

A valid connection to the Kafka brokers

### What do you see instead?

I can connect to the brokers using the Explorer 2 client, or Golang API, however doesnt wo

[2022-02-28 14:37] jack1902 commented on #8851
@alemorcuq Do you have an example startup probe to use here since I can't spinup a redis-sentinel cluster without the `timeout` as the `livenessProbe` kills it.

Raised: https://github.com/bitnami/charts/issues/9227

[2022-02-28 14:50] cekicbaris opened #9229 "There is no containerSecurityContext parameter in Values.yaml , should'nt it reference worker.containerSecurityContext?"
### Name and Version

bitnami/airflow:12.0.6

### What steps will reproduce the bug?

1. Create a values.yaml file.
2. Enable `git.sync` by following enabling following parameter: `git.dags.enabled: true`

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

[code]

### What do you see instead?

[code]

### Additional information

The reference in

[2022-02-28 15:09] jack1902 commented on #9227
So running `redis-cli` will have a default timeout of 2 minutes according to the following output:

[code]

[2022-02-28 15:27] jack1902 commented on #9227
looking at the logs, by adding a `startupProbe` with an initialDelay of 220 then it eventually comes online but this is significantly slower than the previous `5` seconds and still runs the risk of having 3 masters running.

[code]

values.yaml for reference

[code]

[2022-02-28 16:52] lknite commented on #9218
I modified my strategy to copy the existing /etc/ssl/certs/ca-certificates.crt, add the certs which I wanted to the end of it then mount my ca-certificates.crt like so:
[code]
Still getting a "x509: certificate signed by unknown authority" error.

Which pod needs to have my additional certificates?  controller, repoServer, or server?

[2022-02-28 17:39] lknite commented on #9218
I modified my strategy to copy the existing /etc/ssl/certs/ca-certificates.crt, added the certs which I wanted to the end of it, then mounted my ca-certificates.crt like so:
[code]
This successfully replaces the /etc/ssl/certs/ca-certificates.crt with my ca-certificates.crt file.

This strategy has worked.

[2022-02-28 17:39] #9218 closed

[2022-02-28 18:26] xiaoyaozi5566 commented on #8062
Please reopen this issue.

[2022-02-28 19:21] evhfla opened #9233 "How can I add a license file to ElasticSearch and add xpack.encryptedSavedObjects.encryptionKey setting"
### Name and Version

bitnami/elasticsearch-17.9.1

### What steps will reproduce the bug?

Deploy bitnami/ElasticSearch chart to AKS Cluster.

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

No way that I can see to do it.

### Additional information

_No response_

[2022-02-28 19:24] yanndebelgique commented on #9075
I'm having same issue. the image is docker.io/bitnami/redis:6.0.12-debian-10-r3

[2022-02-28 19:25] kvendingoldo commented on #8908
any news here? looks like that I have the same issue

[2022-02-28 20:41] mehta-ankit commented on #7778
Is there a timeline for this to be done ?
I ask because after upgrade things broke for us (which as mentioned above, we can fix) but there have been more PR's in some charts like this one: https://github.com/bitnami/charts/pull/8448 which have made specific charts use a different value vs what was suggested in this ticket.
For example `metrics.serviceMonitor.additionalLabels` vs `metrics.serviceMo

[2022-02-28 21:02] qtomato3 opened #9234 "[bitnami/nats] Pod CrashLoopBackOff when defining NATS-server configuration"
### Name and Version

bitnami/nats 7.1.7

### What steps will reproduce the bug?

1. Define NATS-server configuration in values.yaml
[code]
2. Install NATS helm chart
3. NATS Pod failed to run: "CrashLoopBackOff"
[code]

### Are you using any custom parameters or values?
[code]

### What is the expected behavior?

Expected: NATS Pod is Running.

### What do you see instead?

NATS Pod: CrashLoopBac

[2022-03-01 01:29] #8916 closed

[2022-03-01 01:29] #8915 closed

[2022-03-01 01:29] #8719 closed

[2022-03-01 01:29] #8263 closed

[2022-03-01 02:43] Stark-X commented on #9221
jenkins-8.1.5

[2022-03-01 07:12] jiaxinyang1 opened #9238 "[charts/mongodb] arbiter node cannot auto-recover when mongo primary is not node 0"
### Name and Version

charts/mongodb  4.4.12

### What steps will reproduce the bug?

1. Deploy two mongodb replicatSet nodes and an arbiter node,
2. Delete the primary mongodb pods (it's node-0 ) and wait for the primary node to become another node (it's node-1 ),node-0 becomes secondary.
3. Delete the arbiter node and wait for the arbiter node to restart.
4. Arbiter node restart failed
[code]

#

[2022-03-01 07:47] carrodher commented on #8594
Can you please provide more info about your use case? What version of the Helm chart are you using, custom values used, etc

[2022-03-01 07:59] juan131 commented on #9222
As @javsalgar pointed out it seems this is not an issue related to the Bitnami Kong chart but about how the application or environment is being used/configured.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastructure; we highly recommend checking forums and user guides made available by the p

[2022-03-01 08:49] juan131 commented on #9229
Thanks so much for reporting this bug @cekicbaris !! I just created a PR to address it.

[2022-03-01 08:53] juan131 commented on #9075
Hi @yanndebelgique @h0jeZvgoxFepBQ2C

I'm asking about the chart version (instead of the image version). The chart isn't including these validations since version `15.6.10`, see:

- https://github.com/bitnami/charts/pull/8518

[2022-03-01 09:01] yanndebelgique commented on #9075
I was using the latest version v16.4.3. When I specified the
version v16.4.0 then I didn't have the issue anymore

On Tue, Mar 1, 2022 at 9:54 AM Juan Ariza Toledano ***@***.***>
wrote:

[2022-03-01 09:32] javsalgar commented on #9228
Hi,

Thank you for using Bitnami. About the values.yaml file above, could you let us know which exact values you changed? This will be easier for us to reproduce the issue.

[2022-03-01 09:35] fmulero commented on #9234
Hi @qtomato3 thanks for sharing the issue with such detailed level, that's great!

The problem is related to the assigned groups. The group 1001 doesn't have permissions over the nats config file. So you have 2 options to sort it out:
* Set `podSecurityContext.runAsGroup` and `podSecurityContext.fsGroup` as here:
[code]
* Or directly don't set `podSecurityContext.runAsGroup` parameter:
[code]

[2022-03-01 09:36] javsalgar commented on #7778
Hi,

We are doing efforts in standardizing all the objects is the chart. Could you let us know in which chart you are having the issue?

[2022-03-01 09:40] javsalgar commented on #9153
Hi @kvendingoldo, as far as I'm concerned, the number of nodes should be at least 6, could you try with more nodes?

[2022-03-01 09:42] miguelaeh commented on #9238
Hi @jiaxinyang1 ,
are you using any custom options when deploying the chart?

[2022-03-01 09:44] javsalgar commented on #9219
Hi,

Sorry for not explaining myself correctly. What Bitnami essentially does is packaging open source apps and automating certain parts of the configuration. In this case, in order to enable streaming in RabbitMQ, we first need to know how to enable in RabbitMQ itself. Do you know the exact steps to enable streaming in RabbitMQ? If we know them, then we can check how to add more automations to th

[2022-03-01 09:49] jiaxinyang1 commented on #9238
this is my values.yaml
[code]

[2022-03-01 09:53] miguelaeh commented on #9238
Hi @jiaxinyang1 ,
Please note we cannot review all your options one by one, please run the following to obtain just the changed ones:

[code]

[2022-03-01 10:03] kvendingoldo commented on #9153
checked, it works for 6 nodes (3 master, 3 replicas) and for 3 master, 0 replicas if I setup it up from scratch.
Can you show me where is the requirement for 6 nodes at least?

[2022-03-01 10:20] ngingihy commented on #9222
@juan131 Yes, i added above how i configured the service/route.

[2022-03-01 10:25] rafariossaa commented on #8062
Hi,
  @xiaoyaozi5566 , I could not reproduce the issue by killing node-0 as it happened when you only have 2 nodes. Could you indicate are your triggering the issue ?

  I am testing this in minikube and in GCE. This is what I did:

- Versions I am using
[code]

- Install the chart
[code]

- Wait until all pods are up and running and check the cluster:
[code]

- Kill pod 0 (primary):
[code]

- Mea

[2022-03-01 10:26] rafariossaa commented on #8719
I am leaving this issue closed.
Feel free to comment in it to get it reopened.

[2022-03-01 10:40] rafariossaa commented on #9233
Hi,
  I think you could use the `config` or `extraConfig` [parameters](https://github.com/bitnami/charts/tree/master/bitnami/elasticsearch#user-content-elasticsearch-parameters).

[2022-03-01 11:30] Shujja1746 commented on #9153
@javsalgar

Deploying with different name, still not coming.

Deployed with 20 nodes too, not working.

redis-cl-redis-cluster-0              0/1     Running   1          21m
redis-cl-redis-cluster-1              0/1     Running   2          21m
redis-cl-redis-cluster-10             0/1     Running   1          21m
redis-cl-redis-cluster-11             0/1     Running   2          21m
redis-cl-red

[2022-03-01 12:47] mehta-ankit commented on #7778
Hi @javsalgar thanks for asking.
I currently use Kafka and Zookeeper charts and as I mentioned above they both have different ways of adding the labels to the serviceMonitor:

1. https://github.com/bitnami/charts/blob/master/bitnami/kafka/templates/servicemonitor-metrics.yaml#L13
2. https://github.com/bitnami/charts/blob/master/bitnami/zookeeper/templates/servicemonitor.yaml#L13

Problem is worse

[2022-03-01 12:52] perlun commented on #7419
In case it helps anyone reading this, we have temporarily adopted the Prometheus `redis_sentinel_exporter` project: https://github.com/hiboxsystems/redis_sentinel_exporter/issues/1. We've also published a new 1.7.2 release to the GitHub project.

[2022-03-01 12:57] iwanchiyou opened #9241 "[bitnami/argo-cd] syntax error with metrics-svc.yaml in repo-server"
### Name and Version

bitnami/argo-cd 3.0.9

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

[code]
to
[code]

### What do you see instead?

[code]

### Additional information

_No response_

[2022-03-01 14:47] alemorcuq commented on #9227
Hi, @jack1902. Could you please explain this multimaster risk without the timeout command?

[2022-03-01 16:35] stumueller commented on #9217
@javsalgar thanks for that

Do you have an eta for when this will happen?

[2022-03-01 19:07] thesmashburn opened #9244 "Key Rotation for RabbitMQ"
### Name and Version

bitnami/rabbitmq

### What is the problem this feature will solve?

Since credentials are persisted, doing a helm upgrade with credentials pointing to existing secrets will not rotate the keys. For security reasons, I would like to be able to rotate my keys periodically using helm.

### What is the feature you are proposing to solve the problem?

Is there a way to trigger a f

[2022-03-01 19:08] jack1902 commented on #9227
so looking at https://github.com/bitnami/charts/issues/8851 , the "fix" was to increase the timeout from the set `5 seconds` to the default 2 minutes which is how long it takes for the command `redis-cli ....` to timeout by default.

No matter what the timeout is, 5 seconds or 2 minutes you still run a risk of multiple masters (as per the linked issue, they observed this when the timeout was 5 sec

[2022-03-01 20:12] cedricve commented on #9228
hello @javsalgar I have set following mechanisms to sasl (https://github.com/bitnami/charts/blob/master/bitnami/kafka/values.yaml#L231-L244).

When setting to plaintext I confirm the exporter is working.

[2022-03-01 20:20] xiaoyaozi5566 commented on #8062
@rafariossaa Thanks for trying to reproduce the issue. I think I found out why the failover didn't work in my setup. The difference between my setup and yours is that I have service mesh Istio installed. Every pod has a Istio sidecar proxy. The traffic of the postgres containers will go through the sidecar proxy in order to communicate with other services. Here are several scenarios that I tested

[2022-03-01 21:35] qtomato3 commented on #9234
Thank you for prompt response. I tried 2nd approach (not specifying `runAsGroup`) and it worked.
However, this means NATS container will run under root group (0).
[code]
Is this a security risk or is there any way to run NATS with a non-root GID?

[2022-03-01 21:36] ndd7xv commented on #9227
Having the `timeout 5` seemed to have sporadically caused errors, but it's clear that a 220 second wait definitely increases deployment time.

If we modify the startup probe to use something like `failureThreshold: 22` and `periodSeconds: 10` as opposed to `initialDelaySeconds: 220` (so liveness/readiness probes start the moment it succeeds as opposed to always waiting 220 seconds) would that impr

[2022-03-01 22:15] epochsupport opened #9246 "Kong kubernet setup in IBM Cloud"
### Name and Version

kong-03-01-2022

### What is the problem this feature will solve?

Hi Team,

We have deploy the Kong services provided by bitnami in IBM Cloud IKS and all the POD's are running fine, Now we are not to sure how can we proceed further.

Could you please help me on any document  or a session so that we can complete the setup of kong.

### What is the feature you are proposing to

[2022-03-01 22:16] xiaoyaozi5566 commented on #8062
Tried a 4th scenario as suggested by @vishrantgupta
4. With istio sidecar proxy but added a wait condition before postgres starts, kill primary with `--grace-period=0 --force`
This yielded the same result as scenario 2. The reason is similar. When the killed pod comes back, it couldn't detect the primary node. The reason why it couldn't detect is different tho: it's because the pod comes back imme

[2022-03-01 22:42] ndd7xv commented on #9227
Also, did you conflate 220 seconds (3m40s) with 2 minutes and 20 seconds, or was that the lowest `initialDelaySeconds` you got to work? I've tried creating an interval of 150 seconds (2m30s), and I'm able to successfully deploy Redis, though I can see how our results could vary for many other reasons.

[2022-03-02 01:05] jiaxinyang1 commented on #9238
i install use that:
[code]

[2022-03-02 01:30] #8943 closed

[2022-03-02 01:30] #8934 closed

[2022-03-02 01:30] #8592 closed

[2022-03-02 01:40] jiaxinyang1 commented on #9238
I observed that node 0 will always become the master node, even if node 0 fails, the master node is transferred to other nodes, and after node 0 recovers for a while, node 0 will become the master node again。Is it designed like this?my problem is that in some cases, node 0 is no longer able to retake the master node
[code]
The priority of node 0 becomes the same as node 1

[2022-03-02 02:22] clcc2019 opened #9247 "[bitnami/mysql] add lower_case_table_names cant start"
### Name and Version

[bitnami/mysql] 8.8.26

### What steps will reproduce the bug?

add config lower_case_table_names=1
restart mysql pod

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

Support to modify the configuration

add lower_case_table_names=1

### Additional information

_No response_

[2022-03-02 02:32] truhojun opened #9248 "[bitnami/mariadb-galera] Renaming prometheusRule.selector is not applied"
### Name and Version

bitnami/mariadb-galera 7.0.6

### What steps will reproduce the bug?

apply following values.yaml
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

Prometheus rule registered

### What do you see instead?

Prometheus rule not registered

### Additional information

According to upgrade [guide to 7.0.0](https://githu

[2022-03-02 03:15] zanderson-aim commented on #9217
Had the same issue, manually pulled the CRD out of this https://raw.githubusercontent.com/projectcontour/contour/release-1.20/examples/render/contour.yaml and applied it. Works for me now

[2022-03-02 07:39] juan131 commented on #9241
Thanks for reporting it @iwanchiyou !! I just created a PR to address it.

[2022-03-02 07:49] juan131 commented on #7403
@mamiu we opened support for "lookup" some months ago. That's what we're doing in some charts such as PostgreSQL that use our helper "common.secrets.passwords.manage" that is based on the Helm "lookup" feature:

- https://github.com/bitnami/charts/blob/master/bitnami/postgresql/templates/secrets.yaml#L17
- https://github.com/bitnami/charts/blob/master/bitnami/common/templates/_secrets.tpl#L76

We

[2022-03-02 08:27] javsalgar commented on #7778
Hi,

You should expect these charts to become standardized with all these values. It is something that we're working on at the moment.

[2022-03-02 08:28] #9241 closed

[2022-03-02 08:54] eumel8 opened #9251 "[bitnami/external-dns] trailing whitespace in chart description"
### Name and Version

6.1.7

### What steps will reproduce the bug?

try to mirror chart from bitnami repo and push in a private s3 repo:

[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

fetch/push without any errors

### What do you see instead?

see above

### Additional information

trailing whitespaces are not allowed

[2022-03-02 09:08] jack1902 commented on #9227
🤣  i may or may not have confused 220 for 2 minutes 20 as I was briefly looking at updating the version of the redis chart whilst doing some other bits.

Either way, if the `timeout 5` causes other issues then the startupProbe might be better to check quick but only fail after a long period of time to enable the other pods to come online pretty quickly. This doesn't alleviate the "first" deploymen

[2022-03-02 11:05] miguelaeh commented on #9244
Hi @thesmashburn ,
You would need to use the standard rabbitmq process for performing such rotation.

[2022-03-02 11:16] miguelaeh commented on #8071
Hi!
I launched the internal jobs to release the new version, sorry for the time it took, I forgot to remove the `objcopy` the first time and I needed to re-run them.
The new image should appear in some hours

[2022-03-02 11:20] rafariossaa commented on #9247
Hi,
  Could you provide how you are changing that parameter and the errors you are getting ?

[2022-03-02 11:21] JesperBerggren opened #9256 "Error in template for metallb in regards to podLabels for speaker DaemonSet"
### Name and Version

bitnami/metallb 2.6.2

### What steps will reproduce the bug?

1. Try to install (or template) metallb with a values file containing:
[code]
It does not work. The pod label is not set on the speaker DaemonSet.
And that appears to because of the template file: _charts/bitnami/metallb/templates/speaker/daemonset.yaml_
It contains:
[code]
Notice that if tests for: _.Values.podLa

[2022-03-02 11:27] migruiz4 commented on #8917
Hi @oguzhansrky,

I'm sorry for the late response. When trying to access Redis Cluster from outside the Kubernetes cluster, it is necessary to set the value `cluster.externalAccess.enabled=true`.

This is because of how Redis Cluster works, it will try to redirect you to the node where the requested data is stored using the IP of the node. If that IP is not reachable externally, then it will fail

[2022-03-02 11:50] n1vgabay commented on #5962
Hi,
I have the same issue here.

Pods in distrubted mode are getting restart randomly with few errors.

First, this is how it looks in our argocd:
<img width="409" alt="minio-restart-pods-distrubted" src="https://user-images.githubusercontent.com/48561558/156356368-8283eec8-3593-4b88-9c60-be4d2a7cb7a1.png">

One by one, all the 4 pods are getting recreated. And those logs appears.

The log code fr

[2022-03-02 11:56] muffl0n commented on #9177
Look like it's already possible! I just added the env-var SOLR_OPTS with this value:
[code]
Plugin is loaded and ready to be used.

Thank you very much for this awesome chart! ❤️

[2022-03-02 11:56] #9177 closed

[2022-03-02 14:05] yelhouti opened #9265 "Moodle prob endpoints creates a new session each seconds which stored in a db..."
### Name and Version

bitnami/moodle:12.1.10

### What steps will reproduce the bug?

just install the chart and check:
SELECT COUNT(*) FROM mdl_sessions;

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

probes should be as minimal as possible by default

### What do you see instead?

unjustified disk usage

### Additional information

_No res

[2022-03-02 14:33] alemorcuq commented on #9248
Looks like you are setting `additionalLabel` instead of `additionalLabels`, can you check that?

[2022-03-02 14:39] mamiu commented on #7403
Thanks for your quick response @juan131!

Sure, let me try.

[2022-03-02 15:15] sspreitzer commented on #7403
If not already mentioned and you are an ArgoCD user;

Using `lookup()` in combination with ArgoCD does not work. ArgoCD is templating the manifests via `helm template` and thus does not receive the accurate cluster resources, but empty results.

[2022-03-02 16:13] sudhirpandey opened #9270 "bitnami/kube-prometheus fails to deploy"
### Name and Version

bitnami/kube-prometheus

### What steps will reproduce the bug?

We are using helmfile to deploy the charts. We aare trying to apply we get the error, but when we use helmfile to invoke helm template it generates the manifets "helmfile -e sit -l name=prometheus-thanos-sidecar template"

1. have this in values.yaml
[code]

in prometheus-values.yaml.gotmpl we have
[code]

2. tr

[2022-03-02 16:27] javsalgar commented on #8500
Hi,

We've been taking a look to the issue and created to PoCs

https://github.com/bitnami/charts/pull/9243
https://github.com/bitnami/charts/pull/9250

After checking, we got to this conclusion:

[2022-03-02 16:28] #8500 closed

[2022-03-02 16:53] #9195 closed

[2022-03-02 17:02] sudhirpandey commented on #9270
it seems helm does not roll out the necessary crds hence these need to apply first
[code]

so probably would be nice to get it added in Read.me as pre req

[2022-03-02 17:29] rohilsurana commented on #9224
Sounds good. Let me give this a try.

[2022-03-02 17:59] hermesalvesbr opened #9272 "Can´t change port 5432 postgresql-ha v8"
### Name and Version

bitnami/postgresql-ha:8.5.2

### What steps will reproduce the bug?

CHART NAME: postgresql-ha
CHART VERSION: 8.5.2
APP VERSION: 11.15.0

I'm usign Rancher Server Version 2.6.3 and trying to change port: containerPort: 5432 by YAML and CONFIG. But, didn´t listen the new port.

### Are you using any custom parameters or values?

containerPort: 35432

### What is the expected b

[2022-03-02 18:27] epochsupport commented on #9246
Hi,

Thanks for the update, Is it possible to connect over team/WebEx call, So that i can share the details , please suggest the date and time.

[2022-03-02 21:18] brsolomon-deloitte opened #9274 "Conflicting examples/docs around keycloak.existingSecret database password"
### Name and Version

bitnami/keycloak 6.2.5

### What steps will reproduce the bug?

There seem to be some conflicting documentation / examples around `keycloak.auth. existingSecret` and specifically the use of a key named `password` versus `database-password`.

In https://docs.bitnami.com/kubernetes/apps/keycloak/configuration/manage-passwords/ and `keycloak/values.yaml`, an example is given usi

[2022-03-02 22:47] brgj commented on #5771
Hi @juan131, I am having the same problem as @jan-xyz, but I have persistence enabled. It is very intermittent, but I was able to get into this state with the following on a fresh namespace:

[code]

This only happened once over the course of a few days of testing.

It seems like there is no way to recover from this short of deleting the PVCs and redeploying with `initialClusterState=new`.

[2022-03-02 23:47] truhojun commented on #9248
Oh it was mistake.
But even I fix it to `additionalLabels`, it is same.
Anyway, `prometheusRule.selector` in the values file seems to have to be fixed

[2022-03-03 01:29] #8961 closed

[2022-03-03 01:29] #7744 closed

[2022-03-03 07:05] Bananenbieger1234 commented on #8721
@jk-pru we currently did a fork and reverted the changes as you did. Everything works fine. That's why I created a PR for this. Maybe we can get this to be merged (@rafariossaa)

[2022-03-03 07:17] juan131 commented on #8918
Sorry I didn't find to check this.. I'll try to book time tomorrow to check it

[2022-03-03 07:30] juan131 commented on #9177
That's awesome @muffl0n !! Thanks so much for sharing this solution to load custom plugins.

[2022-03-03 07:34] carrodher commented on #9256
Thanks for reporting this issue. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-03 07:37] #9224 closed

[2022-03-03 07:37] juan131 commented on #9224
Thanks @rohilsurana ! I just accepted/merged your PR, we really appreciate your time.

[2022-03-03 07:42] juan131 commented on #9270
Hi @sudhirpandey

I'm afraid I'm not familiar with `helmfile`. Is it based on Helm2 or Helm3? Please note that this chart is meant for Helm3 as it's listed in the prerequisites section, see:

- https://github.com/bitnami/charts/tree/master/bitnami/kube-prometheus#prerequisites

The CRDs are not including in the "templates" folder and they're under the `crds` folder as recommended by Helm, see:

-

[2022-03-03 07:54] fmulero commented on #9234
As you pointed out, the container is running with a non root user which belongs to the root group. Root group doesn't have any special permission at kernel level but this fact will allow nats user read some configuration files owned by root.

In this particular case,  doesn't make sense that `/opt/bitnami/nats/conf/nats-server.conf` file is owned by root.

[2022-03-03 07:56] carrodher commented on #9265
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/moodle#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this Helm c

[2022-03-03 08:36] javsalgar commented on #9217
@carrodher is working on it. As soon as this is updated, he will update the ticket.

[2022-03-03 08:43] sudhirpandey commented on #9270
Helmfile is based on helm3  for me at least ,. as i have helm3 installed
[code]
more docs here https://github.com/roboll/helmfile.

Great the crds are here
https://github.com/bitnami/charts/tree/master/bitnami/kube-prometheus/crds

but when we apply since these are not  in templates , how are these crds deployed ?
in a similar chart like this one , https://github.com/prometheus-community/helm-char

[2022-03-03 08:57] migruiz4 commented on #6427
I'm sorry for the late response @NicklasWallgren.

I'm sorry my previous answer wasn't very accurate, as the `extraHosts` value does not allow changing the backend port.
I have submitted this PR #9276 adding a new feature `extraRules`, that would allow the addition of ingress rules evaluated entirely as a template.

[2022-03-03 08:57] sudhirpandey commented on #9270
okey i think i am running into this issue https://github.com/roboll/helmfile/issues/1124 :) . I will close this one .

[2022-03-03 09:01] javsalgar commented on #9221
Hi,

In principle, the standardizations in the values changed the format to `metrics.service.ports.http`. It seems that the values.yaml was not correctly changed. Would you like to submit a PR fixing the issue?

[2022-03-03 09:09] miguelaeh commented on #8071
The images have already been released, please check them and let's know.

[2022-03-03 09:14] javsalgar commented on #9272
Hi,

Thank you so much for reporting. It seems that the statefulset is missing the environment variable `POSTGRESQL_PORT`. Would you like to submit a PR fixing the issue?

[2022-03-03 09:27] miguelaeh commented on #9238
mmm this reminds me of something we saw in the past. Are you using the latest version of the chart (`11.0.6`)?

[2022-03-03 09:35] miguelaeh commented on #5962
Hi @n1vgabay ,
It does not look to be the same issue as the initially reported.
In your case looks to be related to a connection error. Also, it looks to be transient, if you check the end of the log you will see
[code]

since the previous error was
[code]

looks like it is just a transient connection error or timeout in the request

[2022-03-03 09:41] jiaxinyang1 commented on #9238
my chart version is 11.0.3

[2022-03-03 10:06] MrKrabat opened #9277 "bitnami/common Still validating old postgresql 10.x chart"
### Name and Version

bitnami/keycloak 7.0.0

### What steps will reproduce the bug?

1. Install bitnami/keycloak 7.0.0
2. Do a `helm upgrade`

### Are you using any custom parameters or values?

I am using an existing secret.

[code]

### What is the expected behavior?

Upgrade should work.

### What do you see instead?

[code]

### Additional information

If you have a look at https://github.com

[2022-03-03 10:11] cedricve commented on #9228
Thank you for the reply.

    image:
       registry: docker.io
       repository: bitnami/kafka
       tag: 3.1.0-debian-10-r29

and

    image:
      registry: docker.io
      repository: bitnami/kafka-exporter
      tag: 1.4.2-debian-10-r158

[2022-03-03 10:25] migruiz4 commented on #9153
Hi @Shujja1746,

I have been able to reproduce the initial issue, not by using `helm install` but `helm upgrade` trying to increase the number of replicas.

I have submitted a PR fixing this issue:
[code]
But it only happens when `cluster_state:fail`, so I still need to investigate the real cause of the issue.

Regarding your second question, what issues are you facing when Redis reaches 30gb?
If

[2022-03-03 11:10] iwanchiyou opened #9278 "[bitnami/argo-cd] Missing default value with "repoServer:containerPorts:metrics" & Confused the metrics port number between server and repoServer"
### Name and Version

bitnami/argo-cd 3.0.11

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

[code]
to
[code]
&
[code]
to
[code]

### What do you see instead?

[code]

### Additional information

_No response_

[2022-03-03 11:49] javsalgar commented on #8878
@qeternity could you share what the logic for the kubernetes lock is? We would like to evaluate it as it may make sense to add it to the chart, at least as an experimental feature.

[2022-03-03 12:31] hermesalvesbr commented on #9272
Hi,

I would love to help with that, but I don't know how. I'm using bitnami because I don't know how to create yaml from postgresql.

[2022-03-03 15:00] aakrem opened #9281 "[bitnami/discourse] 114 Killed"
### Name and Version

[bitnami/argo-cd] 6.0.1

### What steps will reproduce the bug?

run the helm chart in eks 1.19

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

[code]

### Additional information

- I am using external postgres and external redis with tls
- All credentials are passed correctly

[2022-03-03 15:22] jagu-sayan commented on #8594
Yes :

# Install eks cluster (version 1.21) with [eksctl cli](https://eksctl.io/introduction/) (version 0.86.0) and default AWS VPC.

[code]
<details>
  <summary>eksctlconfig.yml</summary>

[code]
</details>

# Install mongodb with helm (version 3.8.0)
[code]

# Logs

After that I got an error `Readiness probe failed` when the second pod (my-db-mongodb-1) is starting.

<details>
  <summary>my-db-m

[2022-03-03 15:59] carrodher commented on #9281
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/discourse#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this Hel

[2022-03-03 17:53] camilo-alice opened #9283 "AWS ExternalSecret"
### Name and Version

bitnani/wordpress 13.0.13

### What is the problem this feature will solve?

Hi folks! I have deployed the WordPress using bitnani helm chart. I intend to use external secrets from aws secretManager . I have tried to add this code block at the end of values.yaml, but it does not work:
[code]

### What is the feature you are proposing to solve the problem?

Could you improve t

[2022-03-03 18:02] paulden opened #9285 "[bitnami/haproxy] loadBalancerIP is not used though documented"
### Name and Version

bitnami/haproxy 0.3.7

### What steps will reproduce the bug?

- Set `service.loadBalancerIP`.
- No impact on the service created.

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

The loadBalancerIP is actually set to 10.0.0.2.

### What do you see instead?

loadBalancerIP is not set.

### Additional information

Suggested MR to

[2022-03-03 18:18] Shujja1746 commented on #9153
@migruiz4

Thanks for replying.

Not sure cluster is going down and coming back

Seeing this at cluster nodes

Do you know how to fix this error
10.3.0.203:6379> cluster nodes
5fda0fe76136fee595039599d0158dd8eea880de 10.3.0.17:6379@16379 slave 6f9243d57d35993b9c3710a686acc7d9ad10e5f9 0 1646330288000 1 connected
cc154dbee22149d38cd4f6363efbbb9a16af7526 :0@0 master,noaddr - 1646227660968 16462276609

[2022-03-03 19:07] ZKruse commented on #8932
Can this be reopened? I'm just running into this issue now trying to run the bitnami helm rabbitmq chart in Openshift. Since I want `persistence.enabled: true` , [that necessitates setting](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq/#adjust-permissions-of-the-persistence-volume-mountpoint) `volumePermissions.enabled: true` (otherwise it doesn't remount properly) and thus, the p

[2022-03-03 19:39] carrodher commented on #9283
Secrets are passed by using the `existingSecret` parameter see https://github.com/bitnami/charts/tree/master/bitnami/wordpress#wordpress-configuration-parameters. This is done by modifying the `values.yaml` or using `--set`, see the [values.yaml](https://github.com/bitnami/charts/blob/4961e12e11d29353595e908919f383d75b756714/bitnami/wordpress/values.yaml#L105) for more info:

[code]

The secret sh

[2022-03-03 19:46] carrodher commented on #8932
Sure, I just reopened the issue. In order to fix it, would you like to contribute by creating a PR adding this option to the RabbitMQ Helm chart as in MongoDB (or others)? The Bitnami team will be happy to review the PR and provide feedback

[2022-03-03 20:22] carrodher commented on #9246
Hi, unfortunately, we don't provide this kind of support.

We provide support for issues related to the Bitnami Helm charts and Bitnami container images, but not for issues related to the application itself or the underlying infrastructure.

For information regarding the application itself, customization of the content within the application, or questions about the use of technology or infrastruct

[2022-03-03 23:44] AlexisDucastel opened #9288 "[bitnami/keycloak] Upgrade from 6.2.5 to 7.0.0 leads to postgres crashloopBackoff"
### Name and Version

bitnami/keycloak 7.0.0

### What steps will reproduce the bug?

We have a keycloak that was running with chart 6.2.5, we tried to upgrade to 7.0.0

By digging information on 7.0.0 commit diff and bitnami/postgres documentation, we achieved to proceed to upgrade on helm side. For this we deleted postgresql statefulset and postgresql secret according to Postgresql chart upgrade

[2022-03-04 00:05] AlexisDucastel commented on #9288
For your information, we achieved to get Keycloak back by forcing posgresql image tag to `11.15.0-debian-10-r19` by deleting postgresql sts with
[code]

And then adding this to values :
[code]

But this is clearly a workaround, as we are in chart bitnami/keycloak:7.0.0, but forcing subchart bitnami/postgresql with a tag that is not the default one of the subchart.

Maybe it should be useful to giv

[2022-03-04 01:30] #8957 closed

[2022-03-04 01:30] #8941 closed

[2022-03-04 03:05] lou-lan opened #9289 "[bitnami/contour]: Add ipFamilyPolicy for envoy service of conrout ingress"
### Name and Version

bitnami/contour:7.4.0

### What is the problem this feature will solve?

Support dual stack

### What is the feature you are proposing to solve the problem?

Support dual stack

### What alternatives have you considered?

_No response_

[2022-03-04 07:22] #9027 closed

[2022-03-04 07:23] matt-smiley commented on #8071
@miguelaeh thank you!  This looks great!  The `redis-server` binary does have both frame pointers and symbol tables, so we can get high quality profiles like the following flamegraph.

[code]

![flamegraph bitnami-redis-server](https://user-images.githubusercontent.com/2974180/156717906-bd91d607-1f9a-480d-8dcf-fa78983d908c.svg)

[2022-03-04 07:26] juan131 commented on #9274
Hi @brsolomon-deloitte

Please note this template is NOT used when `.Values.auth.existingSecret` is set, check the condition below:

- https://github.com/bitnami/charts/blob/master/bitnami/keycloak/templates/secrets.yaml#L1

However, if you check the code block below, you'll find that it's assuming that database password comes from a key called "password", ignoring whatever value is set in the `ex

[2022-03-04 07:30] carrodher commented on #9289
Thanks for creating this issue and the associated PR, the team will review it and provide feedback!

[2022-03-04 07:35] juan131 commented on #9270
Hi @sudhirpandey

They're deployed as pure YAML manifests during the chart installation and they're ignored during Helm upgrades.

Were you able to solve the issue following the solutions proposed in that thread?

[2022-03-04 07:37] yanndebelgique commented on #9075
Hi
There wasn't an error shown. Just that other pods who wanted to connect to
REDIS could not because authentication was required.
I got this message when connecting to REDIS:* NOAUTH Authentication
required.*

On Wed, Mar 2, 2022 at 9:05 AM Juan Ariza Toledano ***@***.***>
wrote:

[2022-03-04 07:39] #9285 closed

[2022-03-04 07:40] juan131 commented on #9285
Thanks for reporting the issue and address it @paulden !!

[2022-03-04 07:58] #9289 closed

[2022-03-04 08:46] iwanchiyou opened #9291 "[bitnami/argo-cd] dex livenessProbe & readinessProbe check failed caused by some TLS issues"
### Name and Version

bitnami/argo-cd 3.0.11

### What steps will reproduce the bug?

[code]

### Are you using any custom parameters or values?

[code]

### What is the expected behavior?

[code]
to

[code]

or
add TLS support

### What do you see instead?

Liveiness probe failed: HTTP probe failed with statuscode: 404
Readiness probe failed: HTTP probe failed with statuscode: 404

### Additional

[2022-03-04 09:00] AhmedSRamadan opened #9292 "failed to set primary.persistence.existingClaim variable and build default pvc"
### Name and Version

bitnami/postgresql 11.1.3

### What steps will reproduce the bug?

1- create namespace then PV then PVC
2- run helm with setting PVC parameter
[code]

3- Pod pending because of
[code]

4- another pvc creating but not bounded because this error
[code]

### Are you using any custom parameters or values?
[code]

### What is the expected behavior?

pod running because of bound PV

[2022-03-04 09:51] javsalgar commented on #9278
Hi!

Thank you so much for reporting! Would you like to contribute with a PR fixing the issue?

[2022-03-04 10:01] javsalgar commented on #9272
No problem, we'll work on it. As it is not a critical feature I cannot guarantee an ETA, but as soon as there are news we will update the ticket.

[2022-03-04 10:15] miguelaeh commented on #8071
Great!!

Can we close the issue then?

[2022-03-04 10:49] migruiz4 commented on #9153
Hi @kvendingoldo,

Could you please provide the exact command and sanitized `values.yaml` used to deploy the chart?

Also, please ensure no remaining data from a previous installation remain in your kubernetes cluster using `kubectl get pvc -n my_namespace`.
Reusing the same release name and namespace will cause Redis to use existing PVC if any, causing initialization errors if different passwords

[2022-03-04 11:00] iwanchiyou opened #9295 "[bitnami/argo-cd] argocd application controller dose not support HA"
### Name and Version

bitnami/argo-cd 3.0.11

### What is the problem this feature will solve?

Support HA variable "ARGOCD_CONTROLLER_REPLICAS"

### What is the feature you are proposing to solve the problem?

When setting to the config below, the controller will not be started.
[code]
According to the [official doc](https://argo-cd.readthedocs.io/en/stable/operator-manual/high_availability/), HA

[2022-03-04 11:38] marcosbc commented on #9292
Hi @AhmedSRamadan, it seems like in your case you may want to look into affinity/anti-affinity options: https://github.com/bitnami/charts/tree/master/bitnami/postgresql

Also see https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/

[2022-03-04 11:46] AhmedSRamadan commented on #9292
Hi @marcosbc
Thanks for answering me I installed everything in one namespace and worked with bitnami mysql and mongoddb fine but not working with postgresql
this variable --set primary.persistence.existingClaim=postgresql-pvc-0 not working and create default pvc called data-postgresql-postgresql-o
Kind Regards,
Ahmed

[2022-03-04 13:21] krishnadce opened #9296 "sentinel container fails with FATAL CONFIG FILE ERROR Unrecognized sentinel configuration statement."
### Name and Version

bitnami/redis redis-15.6.3 & APP 6.2.6

### What steps will reproduce the bug?

bitnami/redis chart is deployed with 1 master and 3 replicas with sentinel enabled. It has been running for days and then the sentinel container failed. All the redis nodes reporting "Crashloopback" for sentinel failure while redis container is running in all master and replica nodes.

Sentinel lo

[2022-03-04 14:25] SoJoh opened #9298 "Pod startup fails with errno. 13"
### Name and Version

bitnami/mysql

### What steps will reproduce the bug?

Hello all,

I'm trying to deploy
- to Kubernetes EKS cluster on AWS (Version 1.19)
- using HELM bitnami/mysql package
- with this command
[code]

Does anybody have a lead on what could be wrong. I did disable persistance and the deployment did not create a pvc so I guess it must be something wrong with local file permissi

[2022-03-04 14:31] kvendingoldo commented on #9153
Tried to setup from scratch:

`helm upgrade "redis-main" bitnami/redis-cluster  --install -f example.yaml --version=7.2.7 --namespace=redis`

Values:
[code]

The same if:
`useAOFPersistence: "yes"`

The same if
[code]

What I'm getting in all cases:
[code]

[code]

[2022-03-04 15:53] rafariossaa commented on #8062
@xiaoyaozi5566 thanks digging into your issue.

We do not use istio in our testing stage in the CI/CD, so this kind of things can happen. In general, Istio can have a lot of side effects that need to be taken into account when designing the different charts/containers.

Yes, it is going to happen what you mention. Hence reducing the timing for the failover. If you system is fast, you would need to

[2022-03-04 16:31] juan131 commented on #9288
Hi @AlexisDucastel

We should've definitely include better upgrade instructions... Could you please follow these instructions and let us know if they work (the following example assumes that the release name is *keycloak* and the release namespace *default*)?

1. Obtain the credentials and the names of the PVCs used to hold the data on your current release:

[code]

2. Delete the PostgreSQL statef

[2022-03-04 16:39] #8878 closed

[2022-03-04 17:13] qeternity commented on #8878
@javsalgar just had a look over the PR - I think this is a better approach than our init container lock. I will deploy it to our dev cluster for some testing.

[2022-03-04 17:47] #8922 closed

[2022-03-04 18:25] fmulero commented on #9277
Hi @MrKrabat  thanks a lot for sharing this issue.

I've just created a PR to amend this issue in keycloak chart using a different approach, with new version that validation is not needed anymore.  The goal is remove that dependency in new or revisited charts.

[2022-03-04 18:39] camilo-alice commented on #9283
Thanks @carrodher . What I was looking for is the parameter extraDeploy:

[code]
With this code block the ArgoCD was able to retrieve the secrets from AWS.

[2022-03-04 20:11] Docteur-RS opened #9302 "Can't helm install redis helm chart"
### Name and Version

bitnami/redis

### What steps will reproduce the bug?

[code]

It seems that the trailing slash is not supported as mentioned in the readme.

### What is the expected behavior?

Helm chart should begin to install

### What do you see instead?
[code]
### Additional information

Remove trailing shlash to fix
[code]

Using helm v3.7.0

[2022-03-04 20:54] B3arp commented on #6352
Any update on this?

[2022-03-05 00:03] Shujja1746 commented on #8876
@javsalgar

The lastest version for external redis is still not working.

Can you let me know when it can be available.

Thanks

[2022-03-05 01:29] #8944 closed

[2022-03-05 06:03] thomastvedt opened #9303 "Cannot use redis chart with cert-manager?"
### Name and Version

bitnami/redis 16.4.5

### What steps will reproduce the bug?

1. Create a cert-manager "Certificate" for redis.mydomain.com. I want to use cert manager to automatically renew certificates etc.
2. Cert-manager will pick up the Certificate resource, and create a secret with name `redis-certificate` that looks like this:

[code]

3. According to instructions in readme, I can onl

[2022-03-05 06:34] matt-smiley commented on #8071
I think probably so, but there's one more check I want to run to make sure.  I didn't have time to get to it today, but I will do so on Monday and report back here.

[2022-03-05 07:50] carrodher commented on #9302
This is not an issue of the chart but how the Helm CLI is designed, you need to remove the trailing slash from your call:
[code]

If you think the trailing slash should be supported by the Helm CLI, please create an issue in the https://github.com/helm/helm repo

[2022-03-05 07:50] #9302 closed

[2022-03-05 18:52] jord1e commented on #9061
Unstale please

[2022-03-05 19:34] epochsupport commented on #9246
Hi,
Thanks for the update, We need to deploy the kong on kubernets.

we have deploy the kong on kubernet , now we unable to get how can we deploy our own kong.yaml file in cluster, Could you please share us the document or steps.

[2022-03-06 08:32] InderpreetSaini opened #9306 "Upgrade of the postgresql version from 11.15 to 12 or 13"
### Name and Version

bitnami/postgresql-ha

### What steps will reproduce the bug?

Hi,
We are planning to deploy the Postgresql Bitnami HA Helm chart for our Postgres DB requirement. Currently the Postgresql version supported by it is 11.15.

Is there a plan to upgrade it to a newer version, probably 12 or 13 in near future?

Thanks and Regards,
Inderpreet.

### Are you using any custom paramete

[2022-03-06 10:37] n1vgabay commented on #5962
@miguelaeh Do you think is it something normal and eventually, the service is up and running green without any issues in the background?

In my opinion, nothing really happens, but when you see the logs... I have to fully verify this you can understand I'm sure.

[2022-03-06 11:05] withinboredom opened #9307 "Instructions do not work to recover a galera cluster"
### Name and Version

bitnami/mariadb-galera 7.1.0

### What steps will reproduce the bug?

Create a new cluster using the following configuration:

[code]

Quickly delete all pods to simulate a power failure or other catastrophic failure.

Follow the instructions to force bootstrap the cluster after determining the highest `seqno`.

See the following error:

[code]

Possibly related to #8721

###

[2022-03-06 11:16] withinboredom commented on #9307
Ah, I need to delete the stateful set before upgrading 🤦

[2022-03-06 11:16] #9307 closed

[2022-03-06 11:41] lou-lan opened #9308 "Sync CRDs version of contour ingress"
### Name and Version

[bitnami/contour] 7.4.1

### What steps will reproduce the bug?

Fix https://github.com/projectcontour/contour/issues/4374

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

_No response_

### What do you see instead?

The app version is updated, but the crd is not.

### Additional information

PR: https://github.com/bitnam

[2022-03-06 12:43] jasonyihk commented on #9292
I am having the same issue. set `existingClaim: data-postgresql` does not work and statefulset still keep using the default PVC, wihich is `data-postgresql-0`

[2022-03-06 13:32] 0x0013 commented on #9256
The same issue also affects the metallb [controller deployment](bitnami/metallb/templates/controller/deployment.yaml#L22)

[2022-03-07 06:53] carrodher commented on #9256
Thanks for reporting the issue and creating the PR, we will review it and provide feedback/merge it during the day

[2022-03-07 07:55] carrodher commented on #9048
Unfortunately, I'm not able to reproduce the issue by using a custom sh script. I just added it by modifying the default `values.yaml` as follows:

[code]

Then, deployed the Helm chart with
[code]

As you can see the sentence added into the `echo` is present which means the script is being executed. Apart from that, the container logs are showing `Loading custom scripts...` and `Loading user's cu

[2022-03-07 08:04] juan131 commented on #9075
Hi @yanndebelgique

I'm sorry but I don't think that I understand the whole scenario. Please correct me if I'm wrong in any of the assumptions below:

- You installed the chart (version `16.4.3`) disabling authentication (setting `auth.enabled` to `false`).
- Then, you upgraded your release with the same parameters and you obtained the authentication error.

Am I right?

[2022-03-07 08:15] #9277 closed

[2022-03-07 08:52] carrodher commented on #9291
Thanks for reporting this issue, I was able to reproduce it. Would you like to contribute by creating a PR to solve the issue? The Bitnami team will be happy to review it and provide feedback. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2022-03-07 09:20] juan131 commented on #9306
Hi @InderpreetSaini

Yes, we have plan to upgrade to PostgreSQL 14 as the default image. In any case, please note that we build the `bitnami/postgresql-repmgr` for every branch from 10 to 14, see:

- https://github.com/bitnami/bitnami-docker-postgresql-repmgr

Therefore, you can easily install the `bitnami/postgresql-ha` by setting the `postgresqlImage.tag` parameter. For instance:

[code]

[2022-03-07 09:29] juan131 commented on #9303
Hi @thomastvedt

AFAIK adding the CA certificate is optional, isn't it? Did you found any issue when the CA isn't present in the TLS secret?

[2022-03-07 09:54] yanndebelgique commented on #9075
Correct

On Mon, Mar 7, 2022 at 9:04 AM Juan Ariza Toledano ***@***.***>
wrote:

[2022-03-07 09:58] javsalgar commented on #9295
Hi,

Thank you for using Bitnami. Could you add the exact error it shows when setting this environment variable?

[2022-03-07 10:11] javsalgar commented on #9246
Hi,

Could you specify what you mean by your own `kong.yaml`? Are you talking about `kong` routes? Or a custom deployment of kong different from what the chart offers?

[2022-03-07 10:12] javsalgar commented on #9040
Hi,

I see that you created a PR but not in our repository, would you like to submit the PR to the bitnami/charts repository?

[2022-03-07 10:13] javsalgar commented on #9308
Hi!

Thank you so much for the PR! The team will take a look

[2022-03-07 10:29] GrigorievNick commented on #9040
Yes. But I am from Ukraine. I was busy with more important staff.

пн, 7 мар. 2022 г., 12:12 Javier J. Salmerón-García <
***@***.***>:

[2022-03-07 10:51] javsalgar commented on #8876
Hi,

Could you provide the exact issue and the values you are using?

[2022-03-07 11:16] #9150 closed

[2022-03-07 11:18] javsalgar commented on #9298
Hi,

I was not able to reproduce it:

[code]

Could it be that you have some sort of PSP in place that is forcing readOnlyRootFilesystems?

[2022-03-07 11:25] miguelaeh commented on #9238
could you shares the logs of the error that you are getting please?

[2022-03-07 11:25] rafariossaa commented on #9061
Hi,
  I could see that @javsalgar has created an internal task for this. I am adding this info to it.

[2022-03-07 11:28] #9005 closed

[2022-03-07 11:29] miguelaeh commented on #9283
Hi @camilo-alice ,
I guess we can close the issue then?

[2022-03-07 11:33] miguelaeh commented on #5962
Hi @n1vgabay ,
It could be due to several things, maybe the response took longer than some timeout to respond, maybe on certain instant the node was unable to respond, etc. That's something that you would need to debug if you need more information or the errors is happening too frequently. I would not worry about it if it just happened once or if it happens just once in a big-time slot.

[2022-03-07 11:38] rafariossaa commented on #9228
And for the chart ? You can find it [in the Chart.yaml file](https://github.com/bitnami/charts/blob/c2182e3e3c5193b18bec925305aab6513c523338/bitnami/kafka/Chart.yaml#L32)

[2022-03-07 11:44] simplenotezy opened #9313 "Error syncing to GCP: error running backend syncing routine: error ensuring health check: googleapi: Error 400: Invalid value for field 'resource.timeoutSec': '3'. TimeoutSec should be less than checkIntervalSec., invalid"
### Name and Version

bitnami/node 17.0.4

### What steps will reproduce the bug?

1. Installing the helm chart
2. Enabling ingress

### Are you using any custom parameters or values?

My values:

[code]

### What is the expected behavior?

_No response_

### What do you see instead?

`Error syncing to GCP: error running backend syncing routine: error ensuring health check: googleapi: Error 400: I

[2022-03-07 12:16] #9229 closed

[2022-03-07 12:21] brsolomon-deloitte commented on #9274
Yes, agreed. Thanks for clarifying.

[2022-03-07 12:24] fmendez89 commented on #9061
Thanks for update @rafariossaa

[2022-03-07 12:38] SoJoh commented on #9298
Hi,

not sure if I'm on the right track, but we have only one specific PSP that has readOnlyRootFilesystems enabled and it's for prometheus.

If I check the role assigned to the mysql serviceaccount I cannot find any PSP attached:

[code]

Is this all I need to check or is there something else?

[2022-03-07 13:14] reisor commented on #8705
I dont think it is related with the pv technology since the pg master starts and reads from the volume where tablespaces where created in the respective mount points. It fails to replicate the data to the other nodes.

[2022-03-07 13:17] simplenotezy commented on #9313
Fixed it, aparently it has nothing to do with the Ingress per say, but with my Deployment where the health/readiness probes had an value where timeoutSec was higher than checkIntervalSec

[2022-03-07 13:17] #9313 closed

[2022-03-07 17:22] djhoese commented on #9048
Just another data point here from an outside observer, this worked for me using version 11.1.3 of the chart:

[code]

[2022-03-07 17:39] fle108 opened #9324 "moodle database password not detected"
### Name and Version

bitnami/moodle

### What steps will reproduce the bug?

Environment: AKS
Kubernetes Version: 1.21.9
chart version: latest
mariadb enabled: false
externaldb: yes

when installing moodle with helm using env_secrets.yaml and values.yaml files, if the parameter `allowEmptyPassword` is set to false even if a password is set up , the container crash with error :
`The MOODLE_DATABAS

[2022-03-07 17:56] migruiz4 commented on #9296
Hi @krishnadce,

It would be helpful if you could provide information to help us troubleshoot this issue:
- A bigger section of the container logs.
- Sanitized version of your `values.yaml` or `helm install/upgrade` command so we can attempt to reproduce the issue.
- Open a terminal into the container `kubectl exec -it ocinventoryredis-node-0  -c sentinel -- bash` and get the content of `/opt/bitn

[2022-03-07 18:23] epochsupport commented on #9246
HI Team,

Yes we need to custom deployment of kong different from what the chart offers

[2022-03-07 19:29] ajchiarello opened #9325 "[Harbor] The trivy tag is not working"
### Name and Version

bitnami/harbor 12.0.0

### What steps will reproduce the bug?

When setting the following values, the chart deploys trivy without any tag:
[code]

### Are you using any custom parameters or values?

_No response_

### What is the expected behavior?

That you can set the trivy tag and it will be included in the statefulset

### What do you see instead?

No tag is included in t

[2022-03-07 19:51] haydockjp opened #9326 "SonarQube TLS secret not hard coded to hostname"
### Name and Version

bitnami/sonarqube 1.0.0

### What is the problem this feature will solve?

In the ingress configuration for TLS uses the `hostname` for the `secretName`

I have several subdomains on the same certificate and would like to use the same certificate for all of the ingress configurations

[code]

### What is the feature you are proposing to solve the problem?

Could you have this

[2022-03-07 20:07] haydockjp commented on #9326
There is a workaround for this, but I don't like using it

[code]

[2022-03-07 21:42] carrodher commented on #9325
I'm not able to reproduce the issue, applying the following change into the default _values.yaml_
[code]
everything seems to be rendered properly:
`helm template hrb . -f values.yaml -s templates/trivy/trivy-sts.yaml`
[code]
Paying attention to the trivy container section, we can see what is the image used: `image: public.ecr.aws/aquasecurity/harbor-scanner-trivy:0.25.0`

[2022-03-08 01:07] atunbey opened #9328 "Add on-premise pod/node"
### Name and Version

Odoo 15

### What is the problem this feature will solve?

I have a odoo installation in azure using kubernetes. can i extend my cluster to include a pod/node on-premise.

### What is the feature you are proposing to solve the problem?

Have a local install using the pos and the cloud running the website.  local could lose internet and still process transactions and then sync

[2022-03-08 01:29] #8993 closed

[2022-03-08 01:29] #8984 closed

[2022-03-08 01:29] #8848 closed

[2022-03-08 02:05] metalshanked opened #9329 "Elasticsearch Chart (17.9.8) has many Deprecated values"
### Name and Version

bitnami/elasticsearch 17.9.8

### What is the problem this feature will solve?

Elastic version 8.x is here and below are few of deprecated items i see in this chart.

![2022-03-07_19-00-46](https://user-images.githubusercontent.com/57646596/157151697-6d9536f1-c849-4d75-8158-8cd6a3b5f3dd.png)

### What is the feature you are proposing to solve the problem?

Will there be char

[2022-03-08 03:46] krishnadce commented on #9296
**Sentinel container logs**:

[code]
**redis logs**:
[code]

**values.yaml**:

[code]

**sentinel.conf from node-0**:
[code]
**sentinel.conf from node-2**:
[code]
**kubectl describe output**:
[code]

The above are the requested logs/files. I will upgrade to the latest version of the chart in another cluster and try to reproduce the issue.

[2022-03-08 06:20] thomastvedt commented on #9303
Ahh..
Cert manager doesn't have to include the CA cert in the secret since it's optional, and uses a trusted root.
I thought that redis server needed to load the CA cert too and didn't check the machine store for trusted roots, but this was just an assumption. I did get a connection error, but that was probable a issue on the client side..

Anyway, we moved to a self signed version using a cert ma

[2022-03-08 06:20] #9303 closed

[2022-03-08 06:22] thomastvedt commented on #9303
From https://redis.io/topics/encryption:

In order to support TLS, Redis must be configured with a X.509 certificate and a private key. In addition, it is necessary to specify a CA certificate bundle file or path to be used as a trusted root when validating certificates.

[2022-03-08 07:15] carrodher commented on #9328
Please, [note the Bitnami team is not actively monitoring GitHub Issues for this Helm chart](https://github.com/bitnami/charts/tree/master/bitnami/odoo#community-supported-solution). This issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

If you would like to contribute to this Helm cha

[2022-03-08 07:15] juan131 commented on #9075
Hi @yanndebelgique

I wasn't able to reproduce the issue. These are the steps I followed on a clean environment:

- Install the chart version you mentioned setting `auth.enabled` to `false`:

[code]

- Wait for the pods to be ready, and upgrade to latest version:

[code]

- Wait for all the replicas to be updated, create a Redis client and connect to Redis master without authentication:

[code]

[2022-03-08 07:18] juan131 commented on #9303
I'm glad that you were able to workaround the issue @thomastvedt

[2022-03-08 07:54] #8928 closed

[2022-03-08 07:54] #9191 closed

[2022-03-08 09:53] javsalgar commented on #9324
Hi. Please, note this Helm chart is a community-supported solution. This means that the Bitnami team is not actively working on new features/improvements nor providing support through GitHub Issues for this Helm chart. Any new issue will stay open for 20 days to allow the community to contribute, after 15 days without activity the issue will be marked as stale being closed after 5 days.

The Bitna

[2022-03-08 09:56] yanndebelgique commented on #9075
Ok sorry then I must have omitted something regarding my setup in my bug
description

On Tue, Mar 8, 2022 at 8:16 AM Juan Ariza Toledano ***@***.***>
wrote:

[2022-03-08 10:10] CaptAintHere commented on #4077
So it seems that the docker image now supports the dual stack mode, what about the Helm chart? I still see the value `bind_address=0.0.0.0` in the `values.yaml` file.

[2022-03-08 10:20] alemorcuq commented on #9329
Hi, @metalshanked.

Thanks for this. We haven't released a chart for ES 8 yet. I'll redirect this to the appropriate team so they can take it into account.

[2022-03-08 11:12] miguelaeh commented on #9326
Hi @haydockjp ,
Looks like what you describe is useful in that particular scenario. We provide general-purpose charts, with several configuration options to be fully customizable. As you stated, you can easily configure that using the `extraTls`. Feel free to open a PR if you consider and we will review it.

[2022-03-08 11:13] miguelaeh commented on #4077
You can edit that in your own `values.yaml` configuration.

[2022-03-08 11:35] g0pinath opened #9332 "Document update"
### Name and Version

thanos:0.25.0

### What steps will reproduce the bug?

Please update https://github.com/bitnami/charts/blob/master/bitnami/thanos/values.yaml#L365-L367 as below
[code]

Capitalized N is not being picked and applied on the query args.
https://github.com/bitnami/charts/blob/master/bitnami/thanos/templates/query/deployment.yaml#L148-L149
The above is looking for servername and N