[2021-01-11 14:37] juan131 commented on #4933
Hi @lilbumblebear

A similar situation can be reproduced using helm cli:

[code]

You're right, the **APP_PORT** is not used, and it doesn't provide instruction to obtain **APP_PASSWORD**. The upgrade command should look like this:

[code]

I'll make a PR to fix it.

[2021-01-11 15:07] rafariossaa commented on #2866
Hi @anatoliy-balakirev @haizafrog ,
  Sorry for the delay.

  I would like to make some clarifications first.
  When it is said that `you don't need HA on K8s` it doesn't mean you don't need several pgpool nodes to ensure availability. What it means is you don't need to handle the HA because K8s is taking care of that.
  In typical HA scenarios, not in kubernetes but when using baremetal or virtua

[2021-01-11 15:47] javsalgar commented on #4541
Hi,

Does the same issue happen in the latest release of the chart? Version 8.6.2

[2021-01-11 15:54] lilbumblebear commented on #4933
Thank you @juan131!  I tried with the new commands and get this error after I run the upgrade:
`Error: UPGRADE FAILED: cannot patch "magento-mariadb" with kind StatefulSet: StatefulSet.apps "magento-mariadb" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden`

I got around this using this command before running

[2021-01-11 16:35] boquie commented on #4255
Hi @pestebogdan, thank you for the response, I tried the changing the variable but unfortunately it didn't work.  I've tried several combinations of these variables with no success.  From what I could understand from the [Bitnami docs on .htaccess for Wordpress](https://github.com/bitnami/charts/tree/master/bitnami/wordpress/#disabling-htaccess), this is what should work:

Any further suggestions

[2021-01-11 17:46] jusonn opened #4943 "discourse chart does not work"
after i run helm install, deployments shows this log

pod has unbound immediate PersistentVolumeClaims (repeated 2 times)
Readiness probe failed: Get http://10.24.1.11:3000/: dial tcp 10.24.1.11:3000: connect: connection refused

[2021-01-11 17:56] aeimer commented on #4778
@javsalgar Thank you for that info. I will try it. I actually don't like that solution, as I need to check the template with each new version you release and adapt my own version of it. An specific helm config would be way more convenient.

[2021-01-11 18:00] maxisam commented on #4705
@dani8art yeah, I did. So I set a higher resource limit, I got a higher connection count. It is still 7000ish but 400 more. I think I can safely assume the problem is on resource, especially on memory.

There are still some problems.

Like I still get lots of exceptions from the code when the volume go up.
The overall performance is not as good as mongodb without container structure. (~30% lower)

[2021-01-11 18:15] marcosbc commented on #4924
Hi @huang-jy, the problem is that some users may not want to use the same certificates for their domains, so the current approach seems the best for me, as it is more flexible, especially when using non-autogenerated certs.

In any case, I understand you may want to autogenerate the cert to support all of the domains listed. If so, feel free to send a PR to improve the chart, we'd be glad to help

[2021-01-11 18:15] lilbumblebear opened #4944 "Question - How to add a Redis instance to the Magento Chart?"
**Which chart**:
Magento Chart v 16.0.3

**Is your feature request related to a problem? Please describe.**
Magento has several options to use things like Redis, RabbitMQ, etc. to improve performance or add features.  It would be helpful to have a "How To" guide to show something like Redis (or any other bitnami helm chart) added to a Magento installation

**Describe the solution you'd like**
A "H

[2021-01-11 18:22] marcosbc commented on #4678
You seem to be right. Would you be open to sending a PR fixing this typo?

I guess that once the previous item is fixed, this will work since the directory would exist (and hence `mkdir -p` would not fail).

What version of the Keycloak container are you using? We recently fixed some errors in Keycloak's configuration in [`11.0.3-debian-10-r63`](https://github.com/bitnami/bitnami-docker-keycloak/c

[2021-01-11 18:29] dave-yotta commented on #4925
Ok it's not starting after waiting 5mins on the CI system here (kubectl get all and logs of all pods - missing init container logs though):

[code]

The primary there looks to be in an odd state? It's stuck on `Configuring MongoDB primary node` on `logs of pod/local-mongo-0` there.  The secondaries have started mongod but seem to believe there's been a restart - which implies the data was not dele

[2021-01-11 18:37] huang-jy commented on #4924
I may do that. Thanks very much

[2021-01-11 19:55] bikej opened #4945 "Bitnami/Redis istio-proxy problem"
**Which chart**:
bitnami/redis

**Describe the bug**
Istio-proxy can't connect to istiod cluster ip.

**To Reproduce**
Everything done according to https://docs.bitnami.com/tutorials/deploy-redis-sentinel-production-cluster/
After deployment everything is up (redis, sentinel, metrics) except istio-proxy.

**Expected behavior**
Redis sentinel cluster deployed.

**Version of Helm and Kubernetes**:

[2021-01-11 20:10] aranair commented on #4541
Yes, I observe the same behaviour with chart 8.6.2 + image 3.8.9
- persistence enabled
- blank slate, no data

[2021-01-11 21:36] OmriHarary opened #4946 "[bitnami/phpmyadmin] Typo in template name causes error when providing db.chartName"
Attempting to install the chart when setting `db.chartName` results in the following error:
[code]

The culprit is the typo on the following line:
https://github.com/bitnami/charts/blob/d504676bbadaf70d21f41c6a0c45d869893fb542/bitnami/phpmyadmin/templates/deployment.yaml#L75

[2021-01-12 02:28] gkulkarni32 commented on #4896
Thanks @beltran-rubo
Few questions on the solr chart:
1. If I want to use a zookeeper along with this docker image for solr, what should be the environment variables that i should be setting? I dont see anything mentioned in the docker environment variables.
2. If i want to create a statefulset, where should i be mounting the data?

[2021-01-12 02:46] huisebug commented on #4921
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-load-definition
type: Opaque
stringData:
  load_definition.json: |-
    {
      "users": [
        {
          "name": "user",
          "password": "CHANGEME",
          "tags": "administrator"
        }
      ],
      "vhosts": [
        {
          "name": "/"
        }
      ]
    }
Finally, I used the method of passing the self built secr

[2021-01-12 05:08] TsuyoshiUshio opened #4947 "Bitnami Kafka: Couldn't find the expected Java Key Stores (JKS) files!"
**Which chart**:
kafka-12.5.0

**Describe the bug**
I install kafka using following command.

[code]

However, the kafka broker pod says

[code]

The secret looks mounted on the pod.

[code]

As I use Azure, I also try `azure-marketplace/kafka` however, it can't deploy at all that looks fail on init container.

**To Reproduce**

I described it already.

**Expected behavior**

The broker started wi

[2021-01-12 06:03] jjangga0214 opened #4948 "[oauth2-proxy] Introduction"
[oauth2-proxy](https://github.com/oauth2-proxy/oauth2-proxy) is, as its name implies, a standalone proxy for oauth2.

In fact, Bitnami already provides an [image](https://bitnami.com/stack/oauth2-proxy/containers) of it.

As we know, stable charts are deprecated and [oauth2-proxy chart](https://github.com/helm/charts/blob/master/stable/oauth2-proxy/README.md) is one of them.

So, what if we mainta

[2021-01-12 06:56] kuznero opened #4949 "[bitnami/redis-cluster] register instance in global context"
**Which chart**: bitnami/redis-cluster

**Is your feature request related to a problem? Please describe.**

Consider the following excerpt from the values file:

[code]

When generating a template it becomes obvious that `external-dns.alpha.kubernetes.io/hostname` produces same values 3 times (for the number of master nodes).

**Describe the solution you'd like**

Instead what would be needed is t

[2021-01-12 07:06] beltran-rubo commented on #4896
- Currently the Solr container does not support the configuration with Zookeeper but you can extend that container with a PR
- Not sure about the specific data you want to mount, but you can check other Charts and the approach we are following in the other Charts.
- We do not have a Solr metrics exporter yet, I assume we will use the official approach from Solr https://lucene.apache.org/solr/guide

[2021-01-12 08:18] huang-jy commented on #4924
@marcosbc I have created PR https://github.com/bitnami/charts/pull/4953 let me know if that is acceptable or if I have to make any changes.

I've tested it on my own installation and it does successfully generate a single cert with multiple alternative names

[2021-01-12 08:30] dani8art commented on #4943
Hi @jusonn, thank you for reporting it.

Could you share with us your `values.yaml` and the commands that you have executed?

Thanks!

[2021-01-12 08:43] FraPazGal commented on #4921
Hello @huisebug,

I tested your example and the chart is installed properly, without any error on my logs. Could you please share the error? Does it appear at chart installation time? Keep in mind that when using `extraSecrets` in `values.yaml`, it is being read as a template, so you need to maintain its format:

[code]

[2021-01-12 08:49] javsalgar commented on #4945
Hi,

Could you let us know the Istio settings that you have? Or you did not add any istio object or configuration apart from the ones set during istio installation?

[2021-01-12 08:59] dani8art commented on #4705
Hi @maxisam, yes I think so.

We have created an internal task in order to perform further investigations, unfortunately, we can't give you an ETA but we will keep you updated with our investigation results.

BTW, we would appreciate it if you provide the exact instructions to reproduce your environment, helm commands, values.yaml, test scripts (if possible) and so on that permit us to continue th

[2021-01-12 09:01] juan131 commented on #4946
Thanks for reporting the issue! I just created a PR to fix it.

[2021-01-12 09:07] juan131 commented on #4933
Hi @lilbumblebear

It look like you're upgrading between different versions of Magento. I mean, when you installed Magento through Kubeapps, an old version of the chart was installed. However, when you run the `helm upgrade` a recent version of the chart was used. This is highly likely to be related with an outdated repository used on Kubeapps.

As it's explained in the guide below, Kubeapps shoul

[2021-01-12 09:09] carrodher commented on #4948
Thanks for your suggestion! We will check it internally and evaluate the feasibility but due to limited resources that could take some time.

If you want to contribute with the chart do not hesitate to open a PR and we will review it. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) you can find the requirements and scaffolding to create a

[2021-01-12 09:11] RefusesNames commented on #4710
I have the same (or similar?) issue. In my case before the image is pulled, a rescale is triggered (which slows the startup similar to the slow disk in this issue). After the container has started, I am unable to authenticate via
[code]
This also affects the management UI. If I kill or delete the pod, the restarted version will have the credentials loaded properly. I created a liveness probe to ch

[2021-01-12 09:16] FraPazGal commented on #4944
Hello @lilbumblebear,

Thanks for using our chart! From what I understand, an example of a "How to" guide would be to add Redis as cache as explained in the [documentation](https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html), right? We are not planning to add this type of content in the short-term though I agree that it could be a good addition to our chart and we will

[2021-01-12 09:19] alemorcuq commented on #4905
I've created #4956 adding back this feature. Thanks, @spleshka !

[2021-01-12 09:20] alemorcuq commented on #4884
I agree with you, @namloc2001, this is not as clean. I will create a PR adding the `enabled` toggle.

[2021-01-12 09:21] #4946 closed

[2021-01-12 09:26] namloc2001 commented on #4884
@alemorcuq thanks very much.

[2021-01-12 09:32] #4905 closed

[2021-01-12 09:33] RefusesNames commented on #4710
I also tried disabling the probes according to @alemorcuq 's comment. Nothing changed: credentials don't work, I delete the pod to restart it and they start working.

[2021-01-12 09:47] huisebug commented on #4921
OK, this is mine value.yaml
[Uploading values.yaml…]()

[2021-01-12 09:51] huisebug commented on #4921
![image](https://user-images.githubusercontent.com/27762438/104298135-98634100-54fe-11eb-9b7c-d4612781840f.png)

I found that the problem is that {} is written in the provided example Values.auth.username }}, will prompt the error, the explanation is not allowed to write like this

[2021-01-12 10:00] juan131 commented on #4923
As it's explained at [Kubernetes documentation](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service), when using a headless service to expose the SRV Records created for each pod has the form:

- `pod-name.headless-svc.namespace.svc.cluster-domain.example`

To be honest, I'm not 100% sure why we use the FQDN instead of using one of the sorter aliases. I'll have to investigate t

[2021-01-12 10:04] carrodher commented on #4936
Thanks for using the bitnami/rabbitmq Helm Chart. According to the container logs there is not any issue beyond of the time (from _08:35:35.95_ to _08:49:59.102_, 15 minutes is not normal). Regarding the storage class, the chart is not doing anything special depending on the provider, so it is like more an issue with the storage class provider than something that can be fixed with the chart itself

[2021-01-12 10:05] c4m4 opened #4958 "mongodb service account annotations"
**Which chart**:
The name (and version) of the affected chart
mongodb

**Describe the bug**
A clear and concise description of what the bug is.

Thre is no option to add annotations to the service account

**To Reproduce**
Steps to reproduce the behavior:

mongodb/templates/serviceaccount.yaml

[2021-01-12 10:10] FraPazGal commented on #4921
I tried the same `load_definition.json`, with `"name": "{{ .Values.auth.username }}" and "password": "{{ .Values.auth.password }}"` and there doesn't seem to be any errors. Are you setting the value of `auth.password`? By default this parameter's value is `nil`. You would need to set the password for your code to work like so:

[code]

[2021-01-12 10:10] javsalgar commented on #4541
Hi,

I don't get, I try several times and I don't reproduce the issue

[code]

[2021-01-12 10:21] bikej commented on #4945
Istio profile dump in attach. No, nothing added, just default.

I can also confirm that bitnami/redis-cluster deployed succesfully (cluster join) as soon as I removed istio injection label.

[istio.log](https://github.com/bitnami/charts/files/5801293/istio.log)

[2021-01-12 10:32] marcosbc commented on #4623
Hi @trungphungduc, this time it looks like your data is getting persisted properly.

As for your error, it seems like if you were stopping (i.e. exit the shell) of the PostgreSQL container before the PgPool container is restarted, so it cannot find any running PostgreSQL.

I would advise to let the PostgreSQL/repmgr service running (and not quitting) and give some time for the PgPool container to

[2021-01-12 10:34] miguelaeh commented on #4939
Hi @ValeriiVozniuk ,
That's not an error. It is meant to avoid the passwords to be changed on the secrets while maintaining the old ones configured in the volumes. Forcing users to set the same passwords when upgrading maintains the secrets synced with the volumes.
That's why we added a function to make the upgrade fail if the user does not provide the password when upgrading.

[2021-01-12 10:46] carrodher commented on #4925
Thanks for the detailed information, I am trying to reproduce the issue but without luck at this moment, it seems something for a particular scenario.

In the container logs, we can see more information or debug traces by setting the following parameter in the values:
[code]

Apart from the container logs, can you see any issue or weird message when describing pods or other resources? Like issues

[2021-01-12 11:49] alemorcuq commented on #4929
Hi, @dangelm.

Can you check this section in the README to figure out how you can recover from this? https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera#bootstraping-a-node-other-than-0

It is also very strange that your nodes are going down every couple of days, I would try to investigate what is the root cause of that.

[2021-01-12 11:58] #4884 closed

[2021-01-12 12:26] mkjmkumar commented on #2061
I have not tried with helm upgrade but by editing statefulset.apps/pg-prod-oeis-postgresql-primary using kubectl and increase replica count from 1 to 2. What is the recommendations here using helm only?

[2021-01-12 12:40] dangelm commented on #4929
@alemorcuq  Thanks for the quick response.
the nodes in our environment are getting down in a sort of random way due to some costs saving algorithms..
because of this we decided to use cluster and to use multi master so even if a node will go down we could still operate with no downtime.
we will try the steps written in the readme but i would expect that an automatic recovery mechanism would imple

[2021-01-12 12:44] andresbono commented on #4926
Hi @cschockaert, thanks for sharing your thoughts on the usability of the chart. Could you please share the sequence of commands that you would expect to work and they don't? I cannot guarantee it will be supported, but at least we can have a look at it.

[2021-01-12 12:50] andresbono commented on #4949
Thanks for opening this issue and providing a PR to solve it! We will review it and we will get back to you.

[2021-01-12 13:18] jusonn commented on #4943
I installed using both helm cli and kubeapps. Results are same as above.

I didn't save my `values.yaml` but I only changed discourse admin, password, site, sitename, postgres password, postgresqlPostgre password.
I executed `helm installl my-release -f values.yaml bitnami/discourse` and in kubeapps, just clicked deploy button.

[2021-01-12 14:03] aranair commented on #4541
Hmm, Do you have persistence enabled (and on top of that no data in the the
volume)?

On Tue, Jan 12, 2021 at 5:11 AM, Javier J. Salmerón-García <
notifications@github.com> wrote:

[2021-01-12 14:30] lilbumblebear commented on #4944
Thank you for your reply @FraPazGal

If you can give me a high-level overview of what would need to be done, I would be happy to create a PR once I have an example up and running.

I assume that to do what I want, I will be modifying the Magento helm chart and adding a dependency on the Redis chart as well.  I would then expect to modify the Magento configuration to point to the Redis network info

[2021-01-12 14:36] lilbumblebear commented on #4933
Magento Chart v16.0.3, I am using all of the default repositories and have not included any private/3rd party repositories.

I also tried hardcoding the variables (MagentoHost, MagentoPassword, etc.) into the yaml so I did not have to run an upgrade after running the install.  When I did this, the pods all appear to be running, but I still cannot get to the Magento frontend.  I get the same error

[2021-01-12 14:50] travisghansen commented on #4678
I deployed with this:

[code]

Associate image is:

[code]

Is there a newer chart version which uses the updated image? Does the updated image need a new chart or can I just update override the image and test it with chart version 1.2.0?

[2021-01-12 15:05] travisghansen commented on #4678
OK, so I deployed with the new image and things are better but still unable to truly test due to permissions problems. I fix the path in the configmaps and then I still get this:

[code]

I'm not sure how that can happen since I have this:

[code]

If you update the image without fixing the configmap options the pod will puke (if tls is enabled) so you'll want to make sure all of the above is clea

[2021-01-12 15:13] maxisam commented on #4705
So I use Rancher 2.5.5 to create my k8s. (1.19.4)
It has 9 nodes. (6 works nodes).
Node is created by VMWare vSphere 6.5
CPU: 4 core (2.7kHz)
Memory: 6G
OS: ubuntu 20.04
Storage: OpenEBS HostPath
Network: Weave
LoadBalancer: MetalLB
DNS: CoreDNS
Helm: 3

values.yml
[code]

ycsb test (I only use it to test none-sharding collection) But you can still see the performance difference.

[code]

I think

[2021-01-12 15:28] jgallucci32 commented on #4821
My third option of symbolic links with a configMap is out. Kubernetes mounts configMaps volumes as read-only by design. See https://github.com/kubernetes/kubernetes/issues/62099 for more details.

The more I dig into this the less I understand the need for the niche use case of unique certificates per replica. Kubernetes is designed to scale applications through replica sets and they need to be st

[2021-01-12 15:28] dave-yotta commented on #4925
Ok here's the debug and previous logs.  The volume seems mounted ok - looks like both primary and secondaries are undergoing setup.  The secondaries look to have completed thier scripts and restarted, but he master is stuck in the config step?
While stuck in this state, I am able to contact the primary to do `rs.status()` getting "no replset config has been provided".

Is there any way to disable

[2021-01-12 15:40] travisghansen commented on #4678
I can't catch a break, if I try to hack the chart locally to update the ENV vars and install from that I get this:

[code]

Also if I remove the root user config options I'm back to:

[code]

[2021-01-12 15:53] dave-yotta commented on #4925
Also just double checking - you've said you're installing with `helm install my-mongo --set mongodb.architecture="replicaset" bitnami/mongodb`? This doesn't actually install a replicaset when I've run it:

[code]

I posted my config above but I don't see any typo in your values - maybe it's missing something?

[2021-01-12 16:27] FraPazGal commented on #4958
Hello @c4m4,

I have created a PR implementing the serviceAccount annotations. It should be approved and merged fairly soon!

[2021-01-12 16:35] jgallucci32 commented on #4821
@FraPazGal Please take a look at my PR when you get a chance. I decided to go with the simplified approach to show exactly what the fixed chart would look like using a single TLS cert. My thought was since multiple TLS certs is not working now anyways, if we take this approach and if it is actually needed it can be fixed in a different PR at a later time.

[2021-01-12 16:37] imagine-admin opened #4969 "[bitnami/redis] Sentinel deployment has no method to add envs or preExecCmds"
**Which chart**:
redis

The redis chart has methods to add extra envs and preExecCmds to master or slaves but does not contain a method to add these options if sentinel is enabled.

See: https://github.com/bitnami/charts/blob/master/bitnami/redis/templates/redis-node-statefulset.yaml

**Expected behavior**
The ability to add extra envs and preExecCmds to the statefulset when using sentinel.

**Add

[2021-01-12 16:38] #4969 closed

[2021-01-12 16:40] MichaelHudgins opened #4970 "[bitnami/redis] Sentinel deployment has no method to add envs or preExecCmds"
Which chart:
redis

The redis chart has methods to add extra envs and preExecCmds to master or slaves but does not contain a method to add these options if sentinel is enabled.

See: https://github.com/bitnami/charts/blob/master/bitnami/redis/templates/redis-node-statefulset.yaml

Expected behavior
The ability to add extra envs and preExecCmds to the statefulset when using sentinel.

Additional co

[2021-01-12 16:55] cschockaert commented on #4926
Ok for example, making a helm install redis-cluster with default values (3 master, 3 replicas).

Then k scale sts/redis-cluster --replicas=8 (6->8)

node 7 and 8 (redis-cluster-6 and redis-cluster-7)  would not join the cluster after the startup, but just start a redis with an empty pvc, would make him spawn as a master standalone pod.

Access an redis-cluster-arbitrer pod with the following scrip

[2021-01-12 17:10] juan131 commented on #4933
...reopening the issue since it was closed after merging the PR fixing the NOTES.txt

Regarding your issue @lilbumblebear, could you please share the exact `helm install` and `helm upgrade` command you're using?

[2021-01-12 17:38] rafariossaa commented on #2260
Hi @dangelm ,
  We will continue with your issue in #4929 .

[2021-01-12 17:43] lilbumblebear commented on #4933
Here are the commands I am running (I am using minikube, I stopped using Kubeapps to make sure I isolate any issues)
1)
[code]
2)
[code]
3)
[code]

When I go to the Store URL (an IP in my case) it says:
[code]

Thank you for your help @juan131

[2021-01-12 17:58] rafariossaa commented on #2260
Hi @jfillatre , @nevets963, @ganchandrasekaran
  I would like to know if you where able to solve your issue with the indications provided in this thread.
  @dangelm's issue is going to be handled in #4929.

[2021-01-12 20:18] titou10titou10 opened #4976 "[bitnami/harbor] volumePermissions.enabled: true leads to "job-logs" volume missing in Trivy StatefulSet"
**Which chart**:
harbor v 9.3.0

**Describe the bug**
When we enable`volumePermissions.enabled:true` and Trivy (`trivy.enabled: true`), the StetfulSet generated declares this for the`volume-permissions` initContainer:

    volumeMounts:
    - name: job-logs
      mountPath: /var/log/jobs

But there is no equivalent`"volume"`for`"job-logs"`in the manifest. The section for the `"volume"`is missing f

[2021-01-12 20:25] rbs4ba opened #4977 "[kube-prometheus] Error Templating Ingress"
**Which chart**:
kube-prometheus:3.3.3

**Describe the bug**
Upon upgrading to version 3.3.3 of the kube-prometheus chart, we are encountering the following errors on the templating step of a deploy:
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Aside from the default values.yaml, we're setting the following in our own manifest
[code]
2. Deploy kube-prometheus with chart vers

[2021-01-12 22:33] krtk6160 opened #4979 "[bitnami/mongodb] Add support for startup probe"
**Which chart**:
Mongodb

**Is your feature request related to a problem? Please describe.**
I had a mongodb replicaset running on GKE without an explicit cache size or ram limit set. After the replicaset started taking too much ram, I set the limit explicitly. After this, mongodb would not start due to a long running oplog truncation process that would prevent mongodb from getting ready, and thus

[2021-01-12 22:33] cheskayang commented on #4222
I'm experiencing the same issue with release v8.6.2.

As long as the load definition is added in the yaml file, the user gets removed.

when calling `rabbitmqctl list_users`, an empty result is returned

[2021-01-13 01:11] aaronsssya opened #4980 "[bitnami/kong] Add nodeselector for migrate job and postgresql statefulsets"
**Which chart**:
bitnami/kong 3.1.0

**Is your feature request related to a problem? Please describe.**
yes. due to we have multiple type node. We leverage label to assign node. Therefore, we would like to add nodeSelector for migrate job an postgresql statefulsets. Thanks

**Describe the solution you'd like**
Add nodeselector in the global OR in the job/statefulset. therefore, those pods will run

[2021-01-13 02:35] trungphungduc commented on #4623
Hi @marcosbc, i am not stopping anything.
Now i run the command as:
[code]
------
Result:
1. kubectl exec to pod and run script.
![Screen Shot 2021-01-13 at 09 23 25](https://user-images.githubusercontent.com/42766976/104398406-3bf53580-5581-11eb-9bcd-f2c71828d9d7.png)

2. Checking my server (Centos 7)
**Get all:
![Screen Shot 2021-01-13 at 09 33 03](https://user-images.githubusercontent.com/42766

[2021-01-13 02:37] trungphungduc commented on #4623
After a few minutes.
I logs posgres-0:
![Screen Shot 2021-01-13 at 09 36 16](https://user-images.githubusercontent.com/42766976/104399248-e02bac00-5582-11eb-9e82-c40d4abebd44.png)
The error is the same as i always get.

[2021-01-13 02:47] LinuxForYQH opened #4981 "very hard use , fuck"
**Which chart**:
The name (and version) of the affected chart

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Version of Helm and Kubernetes**:

- Output of `he

[2021-01-13 03:37] huisebug commented on #4921
If I set it up, I will still report an error. I will give my answer value.yaml You can point me out

[2021-01-13 03:39] huisebug commented on #4921
[values.txt](https://github.com/bitnami/charts/files/5806253/values.txt)

[2021-01-13 04:30] siegfried01 commented on #4788
For the immediate future I'm going to try using the MSSSQL serverless service as described here [https://docs.microsoft.com/en-us/azure/azure-sql/database/single-database-create-quickstart?tabs=azure-cli](url).

If that works I might try experimenting by making an MS SQL stateful set and then editing the deployment as described here:  [https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli#d

[2021-01-13 04:30] #4788 closed

[2021-01-13 05:08] jw-maynard commented on #4843
@marcosbc I submitted a PR to fix this.

[2021-01-13 06:52] ganchandrasekaran commented on #2260
@rafariossaa Thank you very much for your time. I can verify that your earlier post is detailed and works as you suggested. However, if only there is a way to make it work in a more automated fashion it would be very useful. For example when all pods are in crashloop:

1, Try to resolve it without needing to delete the helm release and install again with bootstrapFromNode flag.
2, Avoid manually i

[2021-01-13 07:06] spleshka commented on #4905
Thank you for a quick turnaround @alemorcuq. I've got to say I admire contributors who pick issues and solve them so fast. Great job!

[2021-01-13 08:01] iamsudip opened #4983 "airflow: add support for different nodeSelectors for different airflow components"
**Which chart**:
airflow chart all versions.

**Is your feature request related to a problem? Please describe.**
We need to run workers on different nodes and web/scheduler on different nodes.

**Describe the solution you'd like**
Make nodeSelector variable component scoped instead of current global scoped.

**Describe alternatives you've considered**
Trivial for now, so we are still running all o

[2021-01-13 08:02] iamsudip commented on #4983
@dani8art Can we do this? I can share a PR.

[2021-01-13 08:02] thanhtai9606 commented on #4840
It doesn't work. I tried it again but it not working??
`helm install redmine -n kubeapps bitnami/redmine -f sources/apps/redmine/1.redmine-values.yaml
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(Ingress.spec.rules[0].http.paths[0].backend): unknown field "serviceName" in io.k8s.api.networking.v1.IngressBackend, Valid

[2021-01-13 08:05] andresbono commented on #4541
We have tried in both ways, still unable to reproduce the issue.

Can activate debug by setting the parameter `image.debug=true` and compare the logs in both cases? The logs are very verbose but you should see some lines like these ones:

[code]

Do you see any traces of errors in your case?

It would be great if you can share your complete logs with debug enabled in both scenarios, with and witho

[2021-01-13 08:40] javsalgar commented on #2061
Hi,

In this case, we advise you to use helm upgrade only. Otherwise, this environment variable would not be updated

[code]

Notice that it requires all the nodes to be there. As my colleague said, do not forget to add the credentials during the upgrade.

[2021-01-13 08:42] dani8art commented on #2061
Yes, in addition, you must take into account that you will be upgrading a release so you need to provide the exact values plus the new `replicaCount` and the already existing passwords so the state of the release is consistent.

[2021-01-13 08:51] javsalgar commented on #4977
Hi,

Thank you very much for reporting. The issue here is that the common is assuming that ingress.apiVersion is accessed using `.Values.ingress.apiVersion`, however this is not the case in kube-prometheus. I will work on fixing the library so this case is covered.

[2021-01-13 08:57] javsalgar commented on #4821
Hi,

Thanks for letting us know! We will check the PR

[2021-01-13 09:33] dani8art commented on #4943
Sorry,  I'm not able to reproduce it. what is your environment?

Could you try to clean up it and deploy it again?

[code]

Thanks!

[2021-01-13 09:34] #4924 closed

[2021-01-13 09:37] dani8art commented on #4705
Thanks for the info!

[2021-01-13 09:43] miguelaeh commented on #4970
Hi @MichaelHudgins ,
Thank you for reporting this. The PR above should address the changes you requested. Please take a look to it.
Reagards.

[2021-01-13 09:43] juan131 commented on #4933
Hi @lilbumblebear

Please follow these steps:

[code]

Then, open a browser (e.g. Chrome or Firefox) and browse to the IP.

If, for some reason, the Magento pod doesn't reach the "ready" status, the please share the output of running the command below:

[code]

I warn you that Magento uses MariaDB and ElasticSearch as dependencies (which normally require a lot of CPU/RAM), so it's very likely that

[2021-01-13 09:43] FraPazGal commented on #4944
Hi @lilbumblebear,

Yes, that would be the general steps to follow. The redis host will be its service name, much as it is done with mariadb. You would also need to have set the redis configuration options by hand. We are currently finishing this asset migration to bash, which would be an overhaul of its docker image and change several things in the chart. This migration will make customising this

[2021-01-13 09:51] zzguang520 opened #4986 "[bitnami/posgresql-ha] FATAL: password authentication failed for user "repmgr""
**Which chart**:
The name (and version) of the affected chart
6.3.4 or 6.3.5

**Describe the bug**
A clear and concise description of what the bug is.
have issue from installed by helm:
[code]

**_from k8s describe:_**
[code]

**_from k8s logs:_**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior*

[2021-01-13 09:52] andresbono commented on #4222
This is still work in progress, I'm raising the priority right now. If you are providing a load definition, you will probably need to specify the authentication in that load definition:

[code]

[2021-01-13 10:01] andresbono commented on #4981
This issue violates the [Contributor Code of Conduct](https://github.com/bitnami/charts/blob/master/CODE_OF_CONDUCT.md) so it will be deleted.

[2021-01-13 10:12] andresbono commented on #4926
Hi @cschockaert, we have been thinking about your proposal and we see to main blockers:

- `templates/update-cluster.yaml` uses helm templates to support different configurations. i.e. TLS or external-access. It would be complex to move from helm to the container and it would require many extra env-vars to be taken into account.
- We would like to keep k8s specific logic in the Helm context and le

[2021-01-13 10:12] miguelaeh commented on #4983
Hi @iamsudip ,
We are always happy to review PRs, please feel free to open it
Thanks!

[2021-01-13 10:15] flmmartins opened #4987 "[bitnami/redis] Probes failed when adding slaveCount 2 with Sentinel and Cluster enabled"
**Which chart**:
bitnami/redis on chart version 12.4.0 or 12.3.3

**Describe the bug**
Do we have a limitation of how many nodes with sentinel and cluster enabled we can run per Kubernetes Node?
I have ONE Kubernetes Node and I am trying to run the chart with 2 slaves.

The first node pod is deployed normally but the second one never passes the readiness check. The log is attached

[code]

**To Re

[2021-01-13 10:33] andresbono commented on #4840
Thanks @thanhtai9606, we will be releasing a new version of the chart to fix the issue.

[2021-01-13 10:46] FraPazGal commented on #4921
Hello @huisebug,

I was able to reproduce your issue with your `values.yaml`. It seems the configuration your are copying into the `yalm` has `\n` in it and that is causing the error. This seems to be an error with helm https://github.com/helm/helm/issues/6161 and there isn't much we can do to fix it. A solution to avoid having to rewrite all the configuration file in `values.yalm` could be to cre

[2021-01-13 10:48] FraPazGal commented on #4976
Hi @titou10titou10,

Thanks for catching this! We will create a PR addressing this shortly.

[2021-01-13 11:00] cschockaert commented on #4926
Well thanks for the quick reply, @andresbono ,

just found this article on medium https://medium.com/swlh/scaling-redis-cluster-via-kubernetes-horizontal-pod-autoscaler-852541c01b29

this is what we are looking for, but i dont know if there is a such thing (in production grade) already existing.

[2021-01-13 12:08] 8297530225 opened #4991 "Redis Cluster LDAP Authentication"
HI Team.. I have deployed Redis Cluster using bitnami helm chart and wanted to know if it Supports LDAP or not.

If supports can anyone tell what configuration paramaters need to be used in deployment file.

I have used following parameters in deployment file and deployed. Pods came up and running but not sure how to connect to redis database by passing username and password. Can someone help me h

[2021-01-13 12:10] 8297530225 opened #4992 "Redis Cluster Ldap Authentication"
HI Team.. I have deployed Redis Cluster using bitnami helm chart and wanted to know if it Supports LDAP or not.

If supports can anyone tell what configuration paramaters need to be used in deployment file.

I have used following parameters in deployment file and deployed. Pods came up and running but not sure how to connect to redis database by passing username and password. Can someone help me h

[2021-01-13 13:12] karl18 commented on #2855
Hi @javsalgar

I'd the same issue, tried the proposed solution and worked fine!
Thanks a lot !

[2021-01-13 14:18] javsalgar commented on #4945
Hi,

I was able to reproduce the issue. I will open a task for investigating the issue. As soon as we have more news, we will update the ticket. Thanks for reporting.

[2021-01-13 14:52] lilbumblebear commented on #4933
Thank you @juan131

I ran the commands exactly as directed, here are a couple of things I noticed:

1) APP_HOST is different than the minikube IP,
APP_HOST = 192.168.49.2
minikube IP = 127.0.0.1

2) The Magento pod does take a few minutes to get to the ready state, but it does complete and become "Ready"

3) When I check the logs after the pod is ready I see a lot of this over and over:
[code]

4)

[2021-01-13 16:15] #4977 closed

[2021-01-13 16:24] carrodher commented on #4980
Thanks for the suggestion, do you like to contribute to this repo by creating a PR?

[2021-01-13 16:32] marcosbc commented on #4935
Note that the values for readiness/liveness probes are meant to be set for normal-sized installations. If you have 5gb data it is more unlikely that the data will be able to sync properly.

If you increase the liveness/readiness probes, does it work for you?

[2021-01-13 16:43] marcosbc commented on #4678
@travisghansen For the `missing in charts/` error, try running "helm dep update".

Note that the `mkdir -p` option will not fail if the directory exists, even if you don't have permissions to write to it. Could you verify that this is the case? Maybe there's something else that needs to be changed for certs to be mounted on that directory.

NOTE: For debugging purposes, you may find it useful to s

[2021-01-13 16:46] marcosbc commented on #4979
Hi @krtk6160, we are usually adding new features to Bitnami charts like these, however due to the amount of charts we're unable to make all those changes at once, meaning they usually take some time before they are available.

Note that we're open for contributions, so feel free to send a PR implementing the required changes! We'd be glad to help with the review and the release of the chart with t

[2021-01-13 16:59] marcosbc commented on #4843
Awesome, thanks! I see that we already added some comments, hopefully once resolved we'll be able to merge it. 🚀

[2021-01-13 17:00] marcosbc commented on #4979
FYI a recent PR was added to make the changes for MariaDB here, in case you want to contribute these changes to MongoDB, as they would be very similar: https://github.com/bitnami/charts/pull/4966

[2021-01-13 17:12] marcosbc commented on #4947
Hi @TsuyoshiUshio, unfortunately I could not reproduce this issue. When I deploy with the exact same options as you, the certs are created and the script succeeds (by copying them to the `/opt/bitnami/kafka/config/certs` directory).

[code]

And to generate the secrets:

[code]

I would recommend you to deploy with `--set 'command[0]=sleep,args[0]=infinity'`, then `kubectl exec -ti` into the pod a

[2021-01-13 17:16] flmmartins commented on #4987
Hello everyone.

I increase my nodes to 2 but this still does not work. After I disabled Sentinel everything works so I am guessing this is a Sentinel problem maybe?

[2021-01-13 17:21] marcosbc commented on #4623
Hi @trungphungduc, note that if you deploy with these options:

    --set 'postgresql.command[0]=sleep,postgresql.command[1]=infinity

Then "kubectl logs" will not show anything. So the first screenshot you sent showing the error of a service already running on port 5432 would make sense because you'd try to run PostgreSQL on a service already running the service.

Could you re-deploy in a clean e

[2021-01-13 18:09] tluzon-digibank opened #5015 "Airflow initContainers 's' is missing"
**Which chart**:
Airflow 7.1.1

**Describe the bug**
There is a typo in the templates, initContainers is written initContainer which is different from other charts and from what you see in the values file - thus additional init containers are not created

[2021-01-13 18:24] andrisdru commented on #4947
Hi,

i can reproduce same issue on AKS but not with helm kafka clean intsall, error appears when doing helm update. Seems there is something wrong with /scripts/setup.sh , ID value is not assigned .

i manually added line  ID=${KAFKA_CFG_BROKER_ID} and issue dissapeared. Yes but this will not solve problem scripts-configmap.yaml should be fixed.

`	"setup.sh": "#!/bin/bash

		if [[ -f \"/bitnami/k

[2021-01-13 18:47] MichaelHudgins opened #5016 "[bitnami/redis] Requested chart change to allow for istio with mtls."
**Which chart**:
redis

So like other people that have tried the redis chart with istio enabled with mtls I ran into some issues, but I was able to get redis with sentinel working with the following modifications, one would need chart changes to support. I am going to go ahead and outline what I needed to do in full for anyone who runs into this issue.

The first change is that services need to be

[2021-01-13 18:48] MichaelHudgins commented on #4713
@dani8art  I ran into a very similar issue requiring much of what was discussed here.  I have outlined what I needed to do here: https://github.com/bitnami/charts/issues/5016

[2021-01-13 18:50] MichaelHudgins commented on #4945
@javsalgar The service part of this https://github.com/bitnami/charts/issues/5016 may have to do with the direct ip denials.

[2021-01-13 19:06] papdaniel commented on #2876
I think we could use another init script for creating/altering users, which would run on every db start, then we should handle the multiple runs in the script.
What do you think @dani8art and @joancafom ?

[2021-01-13 19:48] nabadger opened #5017 "[bitnami/external-dns]: Missing namespace on various resources"
**Which chart**:

[external-dns](https://github.com/bitnami/charts/tree/master/bitnami/external-dns)

**Describe the bug**

When using Helm Templating (either via `helm template` or underlying libs), the `--namespace` scope is not respected for various resources.

This results in those resources being deployed to the `default` namespace.

For example, the `Deployment ` resource [here](https://gith

[2021-01-13 19:58] sergeyshaykhullin commented on #2876
I have WIP pr for crdb provisioning, it can be a starting point https://github.com/cockroachdb/helm-charts/pull/46

[2021-01-13 21:50] jurgenweber opened #5019 "make new chart versions github releases"
**Which chart**:
All charts

**Is your feature request related to a problem? Please describe.**
The releases page is a RSS/Atom feed, I take that feed and put it into Vienna so I can easily watch a bunch of repos for new releases... Since I use a good 5 or so bitnami charts i'd like to be able to monitor this repo.

**Describe the solution you'd like**
Everytime a release is completed/a version bu

[2021-01-14 01:18] huisebug commented on #4921
Yes, I am using the method of external secret now, so I say that the detection mechanism of components is very strong. Do you want to ignore these symbols

[2021-01-14 01:43] thanhtai9606 commented on #4840
Thank you so much

[2021-01-14 04:13] trungphungduc commented on #4623
Hi @marcosbc,
So i re-deploy:
[code]
Step 1:
`kubectl exec pod/testpgpool-postgresql-ha-postgresql-0 -n stgcochat`
![Screen Shot 2021-01-14 at 11 03 46](https://user-images.githubusercontent.com/42766976/104543559-40d8e880-5658-11eb-9fab-3708fb03fae1.png)

Step 2:
`kubectl exec pod/testpgpool-postgresql-ha-postgresql-1 -n stgcochat`
![Screen Shot 2021-01-14 at 11 05 23](https://user-images.githubu

[2021-01-14 07:52] philippevidal80 opened #5021 "[bitnami/rabbitmq] Allow nil selectors in ServiceMonitor to allow full scan of kubernetes cluster services."
**Which chart**:
bitnami/rabbitmq

**Is your feature request related to a problem? Please describe.**
One `ServiceMonitor` can scan all RabbitMQ services in a cluster.

**Describe the solution you'd like**
Allow `nil` selectors in `ServiceMonitor` to allow full scan of kubernetes cluster services.

**Describe alternatives you've considered**
Manually add matching pattern (namespace for example) in

[2021-01-14 07:53] ItsReddi commented on #4935
Yes it will not killed if we increase the values to 10 minutes.
But then upgrades of the cluster is taking hours to finish

[2021-01-14 07:54] beniamin opened #5022 "Subcharts with bitnami/common dependecy conflicts"
**Which chart**:
all charts that use bitnami/common

**Describe the bug**
I have one master-chart that uses kube-prometheus as subchart at version 2.2.1.
I wanted to add mysql in my master-chart, but it failed because both mysql and kube-prometheus depends on bitnami/common, but on different version. Kube-prometheus depends on v0.x.x version and mysql depends on v1.x.x.
I tried to upgrade kube-pro

[2021-01-14 08:11] bikej commented on #4945
Thx guys

[2021-01-14 08:49] javsalgar commented on #4992
Hi,

Thank you for using Bitnami. Looking at the documentation, LDAP is only available for Redis Enterprise.

https://docs.redislabs.com/latest/rs/administering/designing-production/security/ldap-integration/

I'm afraid that it is not possible to use LDAP in the Open Source Redis version.

[2021-01-14 08:52] javsalgar commented on #2855
Thank for letting us know!

[2021-01-14 08:55] javsalgar commented on #4713
Thank you for the information!

[2021-01-14 08:59] javsalgar commented on #5016
Hi,

Thank you very much for the information. I will forward the information to the team so we can evaluate and implement any required changes to make the chart compatible.

[2021-01-14 09:07] juan131 commented on #4933
Hi @lilbumblebear

As it's mentioned at https://minikube.sigs.k8s.io/docs/handbook/accessing/#getting-the-nodeport-using-kubectl:

Depending on the driver you used to start Minikube it can be `127.0.0.1` or a different IP (`192.168.49.2` in my case using `docker` driver).

Regardless the IP it returns, please ensure when you run the `helm upgrade` command that value you set at `APP_HOST` is the sa

[2021-01-14 09:20] miguelaeh commented on #5019
Hi @jurgenweber ,
The main problem I can see with that is that each chart has its own versioning. Which version would we use on the release page?
Also, every PR merged must have a version bump (except when it only affects the README). It is our internal pipeline wo does the releases to `https://charts.bitnami.com/bitnami`. Maybe there is any way to track the releases there.

[2021-01-14 09:23] carrodher commented on #5015
Thanks for reporting this issue, I just created the above PR fixing it

[2021-01-14 09:38] dani8art commented on #4987
Hi @flmmartins I was not able to reproduce it

[code]

Could you share your exact diff for the values, please?

[code]

Thanks!

[2021-01-14 09:46] #4843 closed

[2021-01-14 09:53] dani8art commented on #2876
Hi @papdaniel, I think this could be a possible solution and you could use `postgresql.command` in conjunction with `postgresql.extraVolumes` and `postgresql.extraVolumeMounts` to achieve this.

[2021-01-14 10:09] dani8art commented on #5021
Hi @philippevidal80 thanks for the feedback, I think that could make sense in some scenarios, would you mind to open a PR making the changes, and w'll discuss the solution there?

thanks!!

[2021-01-14 10:12] andresbono commented on #4926
We have HPA for some of the charts, but not in the case of `redis-cluster`: See [bitnami/kong ](https://github.com/bitnami/charts/tree/master/bitnami/kong)for instance.

[2021-01-14 10:21] cschockaert commented on #4926
Hmm, ok, i dont get it, what has kong to do with the ability to autoscale a redis-cluster?
Or you are just pointing to a chart with some HPA k8s crd written in it?

[2021-01-14 10:24] dave-yotta commented on #4925
I've tried this with kind also - primary stuck at `mongodb 09:54:04.53 INFO  ==> Configuring MongoDB primary node` for 5min or so.  I'm trying to add more logging to the image to get the error from the mongo initiate call if there is one - there's nothing that would prevent `echo` from working in these shell scripts no?

[2021-01-14 10:26] rafariossaa commented on #5017
Hi,
  Thanks for spotting this. If you run `helm install ... --namespace test` you will get all the components created in that namespace.
[code]
[code]
  Will that work for you ?

[2021-01-14 10:35] flmmartins commented on #4987
Hey @dani8art

Thanks for the reply. So I did a diff of the file and only this changes:

<   enabled: true
---

Where enabled is sentinel which makes sense.

Below is the command I am using:

[code]

I also tried without networkPolicy but still the same result.

[2021-01-14 10:50] rafariossaa commented on #2260
Hi,
  I am sorry, it is difficult for us to set a similar environment to check what could be happening there. We test our chart in several kubernetes clouds but we can't test all kind of component combinations. I just suggested minikube to try do discard other kind of issues.
  All points that is a networking issue in your cluster. Maybe you are (or you will be) experiencing other issues related t

[2021-01-14 10:51] rafariossaa commented on #4830
Hi,
  I am sorry, it is difficult for us to set a similar environment to check what could be happening there. We test our chart in several kubernetes clouds but we can't test all kind of component combinations. I just suggested minikube to try do discard other kind of issues.
  All points that is a networking issue in your cluster. Maybe you are (or you will be) experiencing other issues related t

[2021-01-14 10:52] dave-yotta commented on #4925
Ok - after putting some logs in [mongodb_is_primary_node_initiated](https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.4/debian-10/rootfs/opt/bitnami/scripts/libmongodb.sh#L562) I can see it's stuck getting this error:

[code]

[2021-01-14 10:55] rafariossaa commented on #2260
Hi,
  Thanks for your suggestions. We are constantly evolving our charts and I will add these to see what we can do future releases.
  However, this kind of handling I think it won't be possible without the use of operators.

  I am closing this issue. If someone find other related issue, please don't hesitate to reopen this one or create a new one and reference this one.

[2021-01-14 10:55] #2260 closed

[2021-01-14 10:56] ssh-sysadmin opened #5025 "[bitnami/mariadb-galera] Pods never become ready"
**Which chart**:
The name (and version) of the affected chart
Mariadb Galera 5.3.4
**Describe the bug**
A clear and concise description of what the bug is.
Pods simply do not get into a ready state ever.
**To Reproduce**
Steps to reproduce the behavior:
$ helm repo add bitnami https://charts.bitnami.com/bitnami
$ helm install my-release bitnami/mariadb-galera
1. Go to '...'
2. Click on '....'
3. S

[2021-01-14 11:04] ssh-sysadmin commented on #5025
[code]
The readiness check is getting an access denied error: https://i.imgur.com/2lrUQwx.png

[2021-01-14 11:06] ssh-sysadmin commented on #5025
Logs when it does boot:
[code]

[2021-01-14 11:08] FraPazGal commented on #4991
Hello @8297530225,

Unfortunately, I don't think it supports it. The bitnami docker image that we use on the bitnami/redis-cluster chart comes from the upstream official redis repository. I haven't been able to find any information related to LDAP in their [documentation](https://redis.io/documentation). Could you point it to me so that I can take a look at the necessary configuration?

[2021-01-14 11:50] rafariossaa commented on #4652
Hi,
  We have made a new release of the container image that will fix this issue.

  This chart should be updated automatically, but in the mean time , could you use  `--set image.tag=11.10.0-debian-10-r61` and give it a try ?

[2021-01-14 11:52] #4970 closed

[2021-01-14 12:07] rafariossaa commented on #4929
Hi @dangelm ,
  I understand your point, but have into account that using k8s doesn't make anything fault tolerant, specially in the case that the database is not cloud native.
  I would like to more about your scenario and figure out how we can improve the chart to be able to handle those situations.
  For example, I guess you shutdown k8s nodes in order to save costs, this will kill the pods in

[2021-01-14 12:09] ItsReddi commented on #3743
It seems that not only that is broken on adding new nodes.
In our case it starts the cluster update, adding new nodes.
Cluster Update finish with success:
[code]
after that a new cluster update spawns: (it will never finish)
[code]

and the new nodes are hanging around without any shards:
[code]

[2021-01-14 12:17] dangelm commented on #4929
Hi,
i dont expect it to be tolerant but at least recoverable if it is not hw\sw issue.
we have a cluster of 3 nodes, configured with anti affinity which causes each pod to be running on different node.
we do not have control on which node will be shut down, but for this case we have 3 nodes in multi master configuration.

[2021-01-14 12:17] dave-yotta commented on #4925
More logs - It's initating with `mongodb 12:05:51.57 WARN  ==> initating with: rs.initiate({"_id":"rs1", "members":[{"_id":0,"host":"51.132.57.214:27017","priority":5}]})"` instead of `local-mongo-0-external:27017` - any ideas? I'll keep digging :/

[2021-01-14 12:30] dave-yotta commented on #4925
Ok so this isn't set because I've got `externalAccess` enabled.  Can I ask how this works?  I've set it up as a nodeport, however due to mongodb advertising of replica set info - when you connect over one dns route (e.g. my-external-access:32001) mongod replies with the replica set config and forces you to connect over this.  So you end up needing split-horizon dns in the cluster (not 100% how thi

[2021-01-14 12:35] dave-yotta commented on #4925
Yet without external-access I cannot form a replica-set connection string like `mongodb://mongo-0:27017,mongo-1:27017,mongo-2:27017` to connect to the replica set? There is `service/local-mongo-headless` but that only points to one node?

[2021-01-14 12:52] nabadger commented on #5017
Sadly not, since my workflow only uses `helm template`, but not `helm install`.

I'm actually using https://tanka.dev/helm which uses `helm template` underneath.

[2021-01-14 13:02] FraPazGal commented on #5022
Hello @beniamin,

From the upgrade error you shared, this seems to be related to a change we introduced in bitnami/common regarding ingress rules in #4859. We are updating our whole catalog, though it may take a few days. As a workaround, please try adding the parameter `ingress.apiVersion` to you `values.yaml`, that should solve it for now.

[2021-01-14 13:05] #5015 closed

[2021-01-14 13:16] dave-yotta commented on #4925
Ok I've changed the title and updated the description - if you manage to resolve these seemingly basic problems even without external access please let me know, otherwise I'm just rolling my own chart using the offical mongo image which at this point will be far less convoluted.  There's a lot of gotchas in here and I wouldn't advise anyone use bitnami apps at the moment because a lot of these pro

[2021-01-14 13:58] dave-yotta commented on #4925
Reading the statefulset docs on kubernetes you get a stable network id - replica set seems to get configured with `local-mongo-2.local-mongo-headless.default.svc.cluster.local:27017` - bit of a mouthful.  Maybe you could consider adding this to the readme under "how to connect"?

[code]

[2021-01-14 14:17] psward commented on #3324
Has there been any update on this issue? I am running into the exact same error.  I have deployed the master and workers using docker-compose up while giving them ample resources and then try to run a job and it just hangs forever constantly giving the same error shown here.  Thank you for any advice.

[2021-01-14 14:58] rafariossaa commented on #4785
Hi @koehn ,
  I tried to reproduce the issue with the latest chart version and I didn't get the error. I connected to node 0 and run the dump there and later import it on pgpool node as you indicated.
  The dump is the following, and it has a couple of `\connect` commands. I removed comments and blank lines to post it here
[code]
  I any case, I would not recommend you to use `pg_dumpall` in this

[2021-01-14 14:59] lilbumblebear commented on #4933
Thank you for all of your help @juan131

I tried adjusting the upgrade command and using the minikube IP
[code]

Then waited for the pod to be ready. This time I get
[code]

It seems like I can use the commands I sent previously using 192.168.49.2 IP for APP_HOST and then running
[code]
gets me closer to seeing Magento.

I still am unable to get to the Magento interface :-(

I really appreciate yo

[2021-01-14 15:11] #3887 closed

[2021-01-14 15:13] rafariossaa commented on #4785
This issue is similar to https://github.com/bitnami/charts/issues/3273

[2021-01-14 15:43] FraPazGal commented on #4921
Hi,

I would say that this error comes from the helm bug that I previously linked, rather being the consecuence of a strong detection mechanism.

I'm not entirely sure how a workaround would need to be implemented to fix this and, given that there is two methods to input the configuration, I would say that this can wait until Helm provides a fix. Nevertheless, we are always happy to include user a

[2021-01-14 15:50] #4958 closed

[2021-01-14 16:30] atsai1220 opened #5028 "Charts Access Denied"
**Which chart**:
The name (and version) of the affected chart
https://charts.bitnami.com/bitnami

**Describe the bug**
A clear and concise description of what the bug is.
Unable to access charts from Rancher UI. However it is possible with Helm3 CLI.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

Add Chart to Rancher Catalog
![image](https://user-images.githubusercontent.com/1

[2021-01-14 16:35] brianrudolf opened #5029 "[bitnami/cassandra] Adding DB users via Helm (Kubernetes secrets)"
**Which chart**:
bitnami/cassandra-7.1.2

**Is your feature request related to a problem? Please describe.**
I am currently developing an application with this chart, and am using the super user credentials for my various services that access the DB. I would like to transition to using dedicated user credentials for each service (first to avoid using the super user, but also to be able to provisio

[2021-01-14 16:56] marcosbc commented on #4935
I see. Unfortunately I'm not sure how we can help you with these issues. The chart configures Redis to work in a lot of scenarios, so it's possible that some of them may just not work that well, although it's more likely for it to be related to your K8s cluster than the container image itself.

Just in case, could you verify that your disk IO for persistent data is fast enough? We haven't seen suc

[2021-01-14 17:02] IbraheemAlSaady opened #5030 "[bitnami/thanos] add support for mounting existing secret for grpcTLS config in Query"
**Which chart**:
Current chart version: 3.3.0

**Is your feature request related to a problem? Please describe.**
My current issue is providing the config under grpcTLS as plain text. there is no option to provide an existing secret

**Describe the solution you'd like**
A solution would be to provide a configuration for defining an existing secret and mount the secret . Something like this

values

[2021-01-14 17:03] marcosbc commented on #4947
Hi @andrisdru, the ID value is determined from the node name so if it is named something like `myrelease-kafka-0` it will extract that 0 from it.

It wouldn't make much sense for this to be related to any upgrade due to that, as the node name would still follow the same format. In fact, I have just run an upgrade (same parameters as `helm install` except for the port, to force an upgrade) and I co

[2021-01-14 17:19] ashalagi commented on #3324
I am not aware of any update so far.

[2021-01-14 17:20] marcosbc commented on #4623
Hi, it seems like you didn't specify pgpool.command/args/etc, so when you deploy PgPool it fails and ends up in CrashLoopBackOff. Please specify those and try again.

Another thing is I can see (on step 2) is that the postgresql-1 node contains data already so the initialization fails. However, it seems like the postgresql-0 node does not present this.

[2021-01-14 17:28] franklin432 commented on #4925
So i'm a bitnami/mongodb user and I noticed your question. There are a few things wrong here that will need to be addressed in order for your question to resolve.
1. This chart has two values.yaml file. The values.yaml file and the values-production.yaml file. By default if you do a helm install without specifying -f <nameofvaluesfileHere> , the chart will automatically install the values.yaml one

[2021-01-14 17:41] dave-yotta commented on #4925
@franklin432 thanks - yes that's is.

1,2) It's because I've got the bitnami/mongodb chart as a dependency of my chart which involves other services (and in this case it's tests too).  I posted my config fragment I put in my own values.yaml - which overrides those coming from the mongodb subchart.  To be clear, here is my chart.yaml file:
[code]

3) This is specifically for local debugging and run

[2021-01-14 18:21] #5028 closed

[2021-01-14 19:02] beniamin commented on #5022
It worked. I used the following params for my prometheus subchart(this is the oldest one):
[code]

Thank you!

[2021-01-14 19:02] #5022 closed

[2021-01-14 19:52] carrodher commented on #5030
Yes, sure, PRs are more than welcome. There are other places (in this chart or in others) where secrets are being used, you can use pieces of existing code as a base for your PR. The team will be happy to review it! Thanks

[2021-01-14 21:50] davejhahn opened #5032 "function "lookup" not defined"
**Which chart**:
Latest (1/14/2021)

**Describe the bug**
Error: parse error at (zookeeper/charts/common/templates/_secrets.tpl:82): function "lookup" not defined

**To Reproduce**
Deploy helm chart

**Additional context**
I just deployed yesterday and didn't have any issues.  After getting this error, I forced version 6.0.0 of the Helm Chart and it worked.  Not sure if something is wrong with the

[2021-01-14 21:50] davejhahn opened #5033 "function "lookup" not defined"
**Which chart**:
Latest (1/14/2021)

**Describe the bug**
Error: parse error at (zookeeper/charts/common/templates/_secrets.tpl:82): function "lookup" not defined

**To Reproduce**
Deploy helm chart

**Additional context**
I just deployed yesterday and didn't have any issues.  After getting this error, I forced version 6.0.0 of the Helm Chart and it worked.  Not sure if something is wrong with the

[2021-01-15 01:59] trungphungduc commented on #4623
Hi @marcosbc,
I run the command as below, is it right ?
[code]
If Yes, then i show more information:
kubectl exec to pod postgres/pgpool and run command like:
`kubectl exec -it pod/testpgpool-postgresql-ha-postgresql-0 -n stgcochat bash`
`/opt/bitnami/scripts/postgresql-repmgr/entrypoint.sh /opt/bitnami/scripts/postgresql-repmgr/run.sh`

Step 1: postgres-0
![Screen Shot 2021-01-15 at 08 51 00](htt

[2021-01-15 02:49] tom1005 opened #5034 "[kafka] I'm using kafka in bitnami, but prometheus metric is not perfect."
Hi.

I'm using kafka in bitnami, but prometheus metric is not perfect.

Can you check this issue?

The below is prometheus exporter curl result.

[curl_result.log](https://github.com/bitnami/charts/files/5818114/curl_result.log)

[2021-01-15 02:55] jurgenweber commented on #5019
that is not a problem, that is the point? The idea? Its like.. the feature. Each chart, each version, to release.

You could do it like [eks-charts](https://github.com/aws/eks-charts) I suppose, it works with the idea but I would just run with every chart, new release.

again that is the point.

Is it a RSS/Atom feed? That is just the chart index... hmm.

[2021-01-15 03:00] MichaelHudgins commented on #4970
Hi @miguelaeh that worked for the start-sentinel.sh but it looks like start-node.sh is still missing its ability to inject preExectCmds.  I think based upon slave's values being used for start-node.sh it needs this near the bottom
[code]

[2021-01-15 03:21] MichaelHudgins commented on #4970
Added additional pr for adding commands to start-node.sh https://github.com/bitnami/charts/pull/5035

[2021-01-15 04:51] 8297530225 commented on #4992
Thanks for your Quick response @javsalgar. Is there any other alternative way to achieve it in open source either with keycloak or something else. And do we need any license for using bitnami redis in production?

[2021-01-15 05:01] kunalkushwaha opened #5036 "Redis cluster on ipv6 based kubernetes binds to 0.0.0.0 not ipv6"
**Which chart**:
redis-cluster

**Describe the bug**
While setting up the Redis Cluster on the Kubernetes cluster (ipv6 based). In spite of passing "::" for bind-address, the Redis server binds to 0.0.0.0

- To pass bind-address, the values.yaml passed to helm charts have the following settings.
[code]

**To Reproduce**
But once pods are up, I found the Redis server is bound to 0.0.0.0, though the

[2021-01-15 05:15] MrAmbiG opened #5037 "Phabricator pod never gets deployed even after an hour"
**Which chart**:
The name (and version) of the affected chart
phabricator --version 10.2.2
**Describe the bug**
A clear and concise description of what the bug is.
mariadb pods gets deployed and running. phabriactor pod never gets deployed. phabricator service is created.

**To Reproduce**
Steps to reproduce the behavior:

helm -n phabricator install phabricator bitnami/phabricator --version 10.2.

[2021-01-15 05:19] MrAmbiG opened #5038 "Redmine crashloopbackoff forever"
**Which chart**:
redmine 15.0.3

**Describe the bug**
mariadb deployed.
redmine service created.
redmine pod crashloopbackoff error.

**To Reproduce**
Steps to reproduce the behavior:

describe pod
[code]

**Expected behavior**
Redmine pod runs.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
Add any other co

[2021-01-15 08:19] javsalgar commented on #5025
Hi,

It seems to me that there could be an issue with the Kubernetes platform performance, causing that the readiness check fails too many times and therefore the pods restart. In order to confirm this, could you try launching it with `readinessProbe.enabled=false` and `livenessProbe.enabled=false`

[2021-01-15 08:22] javsalgar commented on #4992
Hi,

At the moment, we are unaware of a way to achieve Keycloak and Redis integration. About using Bitnami Redis in production, there is no license required. For production workloads and adaptation to your needs we recommend you to take a look at Tanzu Application Catalog, where you can build you catalog with the customizations and OS you require https://tanzu.vmware.com/application-catalog

[2021-01-15 08:31] javsalgar commented on #5037
Hi,

Could you provide more details about the Kubernetes platform you are using? Could you provide more details about the volume provisioning you are using? Most of the issues appear because of the PVC technology used.

[2021-01-15 08:37] juan131 commented on #5028
Hi @atsai1220

It seems you closed the issue. Did you solve it?
Is there anything we can help you with?

[2021-01-15 08:40] juan131 commented on #5038
Hi @MrAmbiG

Let's try to debug what's going on. Please provide us a little more information:

- What kind K8s cluster are you using to deploy Redmine (e.g. Minikube, GKE, AKS, etc.)?
- Could you please share the exact command you used to install the Redmine chart?
- Could you please also share the logs of the Redmine container? Just share the output of running the command below replacing the `RED

[2021-01-15 09:03] juan131 commented on #4933
Hi @lilbumblebear

Let's try this:

[code]

Now, open a second terminal (keeping the 1st one running with the `minikube service...` command), and run:

[code]

Once, Magento pod is ready, run the command below and share the output:

[code]

[2021-01-15 09:20] marcosbc commented on #4623
Hi @trungphungduc, I actually just noticed something that may explain all your issues (sorry for not noticing earlier).

In Statefulsets, it should be avoided to use `existingClaim` because any PVC will be shared by all replicas (in your case, replicas=2). Unfortunately there is no simple fix for this.

That explains in your case why postgresql-1 has data before it is initialized (and even in a ne

[2021-01-15 09:20] rafariossaa commented on #5032
Hi,
  I could not reproduce the issue.
  Could you indicate how you deployed the chart ?
  I tried using directly the bitnami chart and also cloning the repo and I couldn't get the issue reproduced.

Using the repo:
[code]
Using the chart:
[code]
Deployed charts:
[code]

[2021-01-15 09:21] alemorcuq commented on #4710
I'm not sure what you mean with "before the image is pulled, a rescale is triggered", could you specify?

[2021-01-15 09:32] miguelaeh commented on #4970
Thank you very much!
Let's move to the PR, we have already take care of it

[2021-01-15 09:33] dani8art commented on #4987
Hi, still not possible to reproduce

[code]

Could you share the specific kubernetes environment?

[2021-01-15 09:37] alemorcuq commented on #4986
Hi, @zzguang520.

According to the info you shared, the pod has been restarted 5 times already. It would be nice to see the logs of the first start to see what went wrong.

[2021-01-15 09:46] dani8art commented on #3324
Hi, we did some investigation on how to submit spark applications from outside the cluster, in most of the cases they are network restriction that could be fixed taking into account them. please could you take a look at these comments? they may fix your issues too.

- https://github.com/bitnami/bitnami-docker-spark/issues/18#issuecomment-700628676
- https://github.com/bitnami/charts/issues/4656#is

[2021-01-15 09:59] randreev1321 opened #5041 "[mysq,parse,spring-cloud-dataflow] Missing `extraDeploy` templates in some charts."
**Which chart**:
mysql: 8.2.4
parse: 14.0.0
spring-cloud-dataflow: 2.5.0

**Describe the bug**
The charts are missing a template file for the `extraDeploy` parameter, the using of which is mentioned in README.md . Because of this, it is not possible to deploy additional manifests that may be needed.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy some of the described chart with defi

[2021-01-15 10:58] andrisdru commented on #4947
nothing special with install from pipeline
[code]

this is complete auto generated setup.sh, but take a look if file /bitnami/kafka/data/meta.properties exsits, ID value is not assigned and script fails, ofc i dont know full picture of whole chart, but this is what i understand problem.

[code]

es workarund currently i created manually new setup1.sh script with ID assignment and edited also value

[2021-01-15 11:07] RefusesNames commented on #4710
These are the events that I got from `describe` during startup:
[code]

[2021-01-15 12:57] MrAmbiG commented on #5038
- 6 node baremetal k8s, installed using RKE with ceph storage backend.
- helm -n SECRETNAMESPACE install redmine bitnami/redmine --version 15.1.0 [copy paste from here https://artifacthub.io/packages/helm/bitnami/redmine?modal=install]
- Since the pod keeps crashing, I cannot get logs (it says such pod doesn't exist), I could only get the describe [kubectl describe REDMINEPODNAME]

[2021-01-15 13:01] MrAmbiG commented on #5037
- Just updated the environment details. I wish I could get more logs or info but since the pod never gets deployed, I am not sure how to get more info on this.
- All our applications, microservices, builds are all using the dynamic pvc by ceph with all upto 10+ TB SSD

[2021-01-15 13:08] franklin432 commented on #4925
@dave-yotta cool glad you got it figured out.  In regards to not being able to connect externally im not sure why it does not work for you. It does for me. I get the hostname of each member by using its NodeName or NodeIP. For instance if your primary member is called test-mongodb-0 and has a node port of 30000, I simply do a "kubectl describe pod/test-mongodb-0 | grep Node: "
This gives me the ho

[2021-01-15 13:20] MrAmbiG commented on #5038
Just tried the newest 15.1.0 released today and the error for the redmine pod is...
[code]

[2021-01-15 13:39] andresbono commented on #4926
Sorry for the confusion, @cschockaert. I was just pointing to a chart with HPA capabilities, but `bitnami/redis-cluster` doesn't support it.

A requirement that is needed for HPA is to support scaling through the `statefulset` directly, without additional `helm upgrade` commands.

We will be glad to review implementation proposals (or even PRs) that would add scaling in the `statefulset` but takin

[2021-01-15 13:40] sergeyshaykhullin commented on #4920
Fix https://github.com/bitnami/charts/pull/5007

[2021-01-15 14:11] dave-yotta commented on #4925
I imagine that will work for a kubernetes service with public node ips - have you tried it on a local machine with a local kubernetes cluster e.g. Kubernetes for docker desktop on win10, microk8s on ubuntu, or kind on either?

[2021-01-15 14:18] juan131 commented on #5038
Hi @MrAmbiG

It looks like a permissions issue. You have two alternatives to ensure the PVC added to the Redmine container has the appropriate permissions for it to work:

- Option A (enabled by default in the chart): Use SecurityContexts by setting the `podSecurityContext.enabled` and `containerSecurityContext.enabled` to `true`.
- Option B (if your cluster doesn't support adapting PVCs based on

[2021-01-15 14:34] franklin432 commented on #4925
@dave-yotta yup I have. Im running it from a closed off network (companies internal service) with no public internet access. This is on our local machine on our local K8s cluster.

[2021-01-15 14:38] #5041 closed

[2021-01-15 14:57] miguelaeh commented on #5019
Hi @jurgenweber ,
this is something we are starting to do for the repositories of the images.
I am going to create an internal task to evaluate how to do this for the Helm Chart repository but I cannot provide and ETA since we would need to evaluate the effort and decide if it is something where we should invest the time of the team.
Regards.

[2021-01-15 15:01] dave-yotta commented on #4925
I mean on a local k8s cluster - not one on your company network but one on your actual dev machine?  I guess you must be passing the hostname because otherwise it will curl for the public internet ip, from the readme:
`The pod will try to get the external ip of the node using curl -s https://ipinfo.io/ip unless externalAccess.service.domain is provided.`

[2021-01-15 15:11] rafariossaa commented on #4862
Hi,
  I have just merged a change to fix this issue, could you give it a try ?

[2021-01-15 15:11] rafariossaa commented on #4864
Hi,
  I have just merged a change to fix this issue, could you give it a try ?

[2021-01-15 15:24] franklin432 commented on #4925
Ahh I see what you are saying. Aside from externalAccess.enabled set to true are you also setting externalAccess.autoDiscovery.enabled to true

[2021-01-15 15:32] lilbumblebear commented on #4933
Yes! That got me somewhere
[code]

I can get to the frontend when I go to 127.0.0.1:SERVICE_PORT (49252 in my case).  The last issue I have is that it will not load any of the styling/resource files.  Ex:
[code]
I get `ERR_CONNECTION_REFUSED` Any ideas how to fix this issue?  If I try to load the file manually and add the SERVICE_PORT into the URL it works.

Thank you so much @juan131

[2021-01-15 16:07] juan131 commented on #4933
Hi @lilbumblebear

Correct. As you said, Magento is not generating the URLs with the right port.
As it's explained [in this link](https://github.com/bitnami/bitnami-docker-magento#user-and-site-configuration), there are two env. variables that can help defining the external port to use: `EXTERNAL_HTTP_PORT_NUMBER` and `EXTERNAL_HTTPS_PORT_NUMBER`

We're missing the corresponding parameter in the c

[2021-01-15 16:17] trungphungduc commented on #4623
Hi @marcosbc,
Thank for your suggestion.
I will test and get back to you soon

[2021-01-15 16:24] marcosbc commented on #5029
Hi @brianrudolf, I guess you're looking for something like [initDBConfigMap](https://github.com/bitnami/charts/blob/master/bitnami/cassandra/values.yaml#L227) or [initDBSecret](https://github.com/bitnami/charts/blob/master/bitnami/cassandra/values.yaml#L232). Those scripts will be executing only during the first initialization so it should work for the creation of initial users / DB schema.

Hope

[2021-01-15 16:31] brianrudolf commented on #5029
@marcosbc this looks like a great way to accomplish this. I will close the issue as this is definitely an appropriate way to accomplish my needs.

[2021-01-15 16:31] #5029 closed

[2021-01-15 16:40] michaelpearce-gain opened #5050 "Spring Data Flow Charts - External Kafka"
**Which chart**:
Spring Data Flow

**Is your feature request related to a problem? Please describe.**
I want to launch Spring Data Flow with an external kafka cluster, like it is possible with rabbitmq as the stream backend binder.

**Describe the solution you'd like**
Able to provide kafka full kafka config options, not just bootstrap, but all of them, e.g. credentials, security settings etc. Ide

[2021-01-15 16:57] abhassine opened #5051 "Looking for S3 output configuration fluentd"
**Which chart**:
The name (and version) of the affected chart.

apiVersion: v2
appVersion: 1.12.0
version: 3.3.0

**Is your feature request related to a problem? Please describe.**

I would to know if you have S3 configuration like you have for Elasticsearch

**Describe the solution you'd like**

I would to know if you have S3 configuration like you have for Elasticsearch

**Describe alternatives

[2021-01-15 17:20] lilbumblebear commented on #4933
Ok, I tried that and get:
[code]
I tried setting value="PORT" and value=PORT, seems like a very simple syntax error on my part now but SO CLOSE!

[2021-01-15 17:22] FraPazGal commented on #5033
Hello @davejhahn,

Thanks for reporting this! This was an issue with a new function introduced in a new helper in the `common` chart. Although it is only being tested on a couple of charts, this templating error propagated anyways. We just released a new version `1.3.4` of bitnami/common addressing this issue https://github.com/bitnami/charts/pull/5018.

Could you confirm this error is now fixed?

[2021-01-15 18:38] FraPazGal commented on #5036
Hello @kunalkushwaha,

Currently, this asset is not 100% ready to be used with IPv6, so we can't ensure it to work correctly. Although it is in our backlog to support it across our catalog, we are not yet able to give an ETA on this.

[2021-01-15 19:33] youngnicks commented on #4082
Instead of using node port to expose the master, would it be better to have a dedicated master service? Sentinel can be configured to execute a command when the master is changed. This script could update pod labels to switch which pod the service is routing to.

Doing it this way would remove the need for clients to even know about Sentinel as the master service should always be pointing to the l

[2021-01-15 19:40] micahbeeman-wf commented on #5033
@FraPazGal Can you also update the Chart.lock files of other charts? They are pinned to bitnami/common 1.3.3: https://github.com/bitnami/charts/blob/master/bitnami/redis/Chart.lock#L4

[2021-01-15 19:41] atsai1220 commented on #5028
It was a firewall issue on our side. I still have access denied in my browser (which doesn't matter) and accessing from Helm and Rancher works fine now :) Thank you!

[2021-01-15 20:53] MiddleMan5 opened #5054 "Incorrect indentation in extraVolumes"
https://github.com/bitnami/charts/blob/d5a4224e56b2f2bf9f46957f99a8fc5b38ba8806/bitnami/harbor/templates/nginx/deployment.yaml#L170

nindent should be 8, not 6

[2021-01-15 21:32] davejhahn commented on #5033
I will give it a try and post an update.   Thanks for checking into this.

[2021-01-16 06:46] drmy commented on #4713
Hi @dani8art ,
I applogize for the late since busying in my work recently. I was trying to test that solution however I didn't succeed yet by following those instructions. I many need more time to research on that, will keep you updated once I get something new.

[2021-01-16 10:07] ssh-sysadmin commented on #5025
mariadb-galera-0 starts and stays ready. 1 and 2 keep restarting with the following logs.
Logs from mariadb-galera-1: https://ptero.co/sefofinaji.php
Logs from mariadb-galera-0: https://ptero.co/okozijaceb.coffeescript
If you need any more info, please let me know. I just wanna get this working.

[2021-01-16 12:45] IbraheemAlSaady commented on #5030
@carrodher I have just opened a PR

[2021-01-16 16:06] DanTulovsky opened #5060 "postgres-ha chart: cannot install in non-default namespace"
**Which chart**:
postgresql-ha / 6.3.6

**Describe the bug**
If I try to install the chart in a namespace other than 'default' ('db' in my case), the second node that comes up never manages to get past "Cloning data from primary node...".

**To Reproduce**
Steps to reproduce the behavior:

[code]

My values.yaml has:

[code]

If I run:

[code]
Then everything works fine.

**Expected behavior**
Cha

[2021-01-16 16:11] DanTulovsky commented on #5060
Please note that I can reproduce this without a custom values.yaml file as well:

[code]

[2021-01-16 18:20] travisghansen commented on #4678
OK, here are the details...

# without any funny *securityContext* settings

[code]

# adding an emptyDir volume/mount

[code]

Results in this:

[code]

And during startup I get this:

[code]

And trying to invoke the 'Logout All' endpoint.

[code]

My truststore has a single self-signed CA which **is not** the cert used in the endpoint so from what I can tell adding the `emptyDir` worked. Now wh

[2021-01-16 19:28] lilbumblebear commented on #4933
I think the above error is related to: https://github.com/kubernetes/kubernetes/issues/82296

If I try quoting, then I can get past this issue, but the pod crashes because Magento does not like the quoted port.  Any other way around this?

[2021-01-16 20:18] unreliability opened #5061 "Upgrading PostgreSQL helm chart to v12 or v13"
Apologies if this has already been covered or documented, but my organization uses both the PostgreSQL and PostgreSQL HA charts internally for various services (i,e GitLab). We are looking to upgrade our installed charts to the latest major release of postgres (v13.x) but there doesn't seem to be any documentation on the best way to do this. It also doesn't seem like there's a means of installing

[2021-01-17 02:51] fabiocarneiro commented on #4711
@dani8art I'm sure it takes 5x to 10x longer than when using the chart directly with `helm install`. I did not modify any of the settings in either the dependency approach or the direct approach.

I don't think it's related to resources unless there is a difference related to it when used as a dependency. The machine I'm using is powerful, I can install either my app or the chart in whatever order

[2021-01-17 09:35] travisjeffery commented on #5032
I'm getting the same issue with external-dns, I'm using microk8s' helm3 which is this version:

[code]
Trying to install the latest 4.5.3 version which supposedly fixes a breaking change with backwards compability: https://github.com/bitnami/charts/tree/master/bitnami/common.

[2021-01-17 09:36] travisjeffery commented on #5032
Ah, looks like this it's this https://github.com/bitnami/charts/commit/14a0042dc90c01fd38f814e1e43559384a3baa9f#r46011226

[2021-01-17 11:38] #5033 closed

[2021-01-17 11:53] ssh-sysadmin commented on #5025
mariadb-galera-0 starts and stays ready. 1 and 2 keep restarting with the following logs.
Logs from mariadb-galera-1: https://ptero.co/sefofinaji.php
Logs from mariadb-galera-0: https://ptero.co/okozijaceb.coffeescript
If you need any more info, please let me know. I just wanna get this working.

[2021-01-17 23:31] DanTulovsky commented on #4857
Just to be clear, the database itself is also not shipped as part of the image and the chart does not provide any way to add it?

[2021-01-17 23:33] DanTulovsky commented on #4857
Oh, for those that might be here for the same reason, to mount nginx.conf as an extra volume:

[code]

And the following will install the config:

[code]

[2021-01-18 01:04] tom1005 commented on #5034
Hi. @alemorcuq

I think that kafka metric information (via exporter) is less appears.
Please, can you check "curl_result.log"?

[2021-01-18 01:47] #4921 closed

[2021-01-18 02:20] kunalkushwaha commented on #5036
Hi @FraPazGal , Thanks for the quick update.

It would be great if someone can give me for code, where config map settings get translated to the pod config.

I can try to fix and make a PR for the same but am unable to understand the flow of how it is overwriting the settings.

[2021-01-18 03:23] avanichy25 opened #5064 "Issue after enabling kafka external access"
**Which chart**:
version: 11.8.3
appVersion: 2.6.0

**Describe the bug**
Trying to enable kafka to access outside the cluster and followed the link below but it gives an error like added below:
https://github.com/bitnami/charts/tree/master/bitnami/kafka#accessing-kafka-brokers-from-outside-the-cluster
[code]

Configuration:
[code]

2) i have service created with loadbalancer as mentioned below how

[2021-01-18 06:55] swartz-k commented on #3911
Hey, Does there is any progress? Or If possible I can make a pr about this? Using Thanos Receiver Component by self provided chart.

[2021-01-18 07:38] #4656 closed

[2021-01-18 07:38] #4738 closed

[2021-01-18 07:38] #4755 closed

[2021-01-18 07:38] #4734 closed

[2021-01-18 07:38] #4749 closed

[2021-01-18 07:38] #4774 closed

[2021-01-18 07:38] #4722 closed

[2021-01-18 07:38] #4664 closed

[2021-01-18 07:38] #4753 closed

[2021-01-18 07:38] #4800 closed

[2021-01-18 08:09] juan131 commented on #4082
Hi @youngnicks

Thanks for sharing your proposal.

How do you plan to automate the execution of this script?
- Do you plan to execute the script in the same container where Sentinel is running?
- Do you plan to have a cronjob running in your K8s cluster with RBAC permissions to make requests to the K8s API?

[2021-01-18 08:10] juan131 commented on #5028
Glad to hear that!! Thanks

[2021-01-18 08:50] juan131 commented on #5051
Hi @abhassine

As it's explained in the [Parameters table](https://github.com/bitnami/charts/tree/master/bitnami/fluentd#parameters), you can use the parameters below to mount your custom configuration for both the aggregator and forwarder nodes:

- `forwarder.configFile`
- `forwarder.configMap`
- `aggregator.configFile`
- `aggregator.configMap`

As you mentioned, the README.md includes an example

[2021-01-18 08:53] javsalgar commented on #5037
We are currently working on a major bump of the chart. Stay tuned as the new release may fix the issues you are experiencing.

[2021-01-18 08:55] juan131 commented on #4933
Hi @lilbumblebear

Did you try "escaping" the quote characters? I mean: `--set extraEnvVars[0].value=\"49252\"`

[2021-01-18 08:56] javsalgar commented on #5050
Hi,

Thanks for the request. We have the bitnami/kafka cluster right now. In order to integrate it, do you know which parameters or environment variables we would need to set to SCDF in order to make it work. Do you have experience configuring this integration?

[2021-01-18 09:00] javsalgar commented on #4713
Thank you! Please update the ticket with you findings

[2021-01-18 09:04] red-trela opened #5065 "[memcached] values-production.yaml non-functional"
**Which chart**:
memcached

**Describe the bug**
The values-production.yaml is non-functional

**To Reproduce**
Steps to reproduce the behavior:

1. Attempt to install the helm chart with the values-production.yaml
2. Get an error about replicaCount > 1 being incompatible with architecture == standalone
3. Fix the above and install the helm chart again
4. Notice that the memcached containers crash

[2021-01-18 09:06] javsalgar commented on #5025
Hi,

Checking the logs, I see that it received a SIGSEV (Segmentation fault). Do you have more details about the Kubernetes platform you are using? Do you have more than one Kubernetes worker node? It may be running out of memory if they are all being scheduled to one node.

[2021-01-18 09:10] javsalgar commented on #5061
Hi,

In this kind of scenarios, switching the PostgreSQL will not work as the `initdb` command will fail. In this sense, I would advise you to deploy a fresh PostgreSQL and perform a manual backup/restore from one instance to the other. Did you try performing backup-restore operations?

[2021-01-18 09:11] javsalgar commented on #3911
Hi,

I am afraid it is still in our backlog. If you want to speed up the process, feel free to open a PR and we will review it.

[2021-01-18 09:14] ssh-sysadmin commented on #5025
We have 3 nodes, each with 8 threads and 32GB of RAM. The pods are being scheduled to different nodes.

[2021-01-18 09:20] Cellebyte opened #5066 "[bitnami/blackbox-exporter] Ask for onboarding the blackbox-exporter as a helm-chart"
**Which chart**:
[bitnami/blackbox-exporter]

**Is your feature request related to a problem? Please describe.**

The new prometheus-operator CRDs support the `kind: Probe`.
It would be nice to add an exporter which could be used with that new CRD.
Most people have the use-case of monitoring external targets from the Kubernetes Cluster Monitoring Stack.
As the CRD now has support for ingress and s

[2021-01-18 09:39] Cellebyte opened #5067 "Artifacthub.io -> Verified Publisher Tag"
**Which chart**:
All charts of bitnami are indexed by the artifacthub.
As of today they are not verified.
It could be that someone entered the repository into artifacthub.
To really allow users to see that its a verified repository from bitnami.

* [Claim Ownership](https://github.com/artifacthub/hub/blob/master/docs/repositories.md#ownership-claim)
* [Verified Publisher](https://github.com/artifa

[2021-01-18 09:51] michaelpearce-gain commented on #5050
Hi, i thought this chart was done in collaboration with the spring team, and your team had/is working with them to make an official helm charts (it reads that way on their microsite), we are simply looking at solution options atm, this tool for us also is new, and just following details found here:

https://dataflow.spring.io/getting-started/

[2021-01-18 10:15] ahmgeek commented on #3843
@FraPazGal heeey, happy new year guys.
Is there any update on this?

[2021-01-18 10:16] jeff51419 opened #5068 "[bitnami/fluentd] helm upgrade fluentd configmap.yaml fail"
**Which chart**:
bitnami/fluentd
1.12.0-debian-10-r0
**Describe the bug**
After I modified the "aggregator.configMapFiles" in value.yaml, I helm upgrade the fluentd.
but the "fluentd-aggregator-cm" did not update.

**To Reproduce**
Steps to reproduce the behavior:
1. update fluentd-value.yaml  (https://gist.github.com/jeff51419/97cad849a2a3f6ae43df52b4a62eb884)
2. helm upgrade -f fluentd-value.yam

[2021-01-18 11:43] andresbono commented on #5065
Hi @red-trela, thanks for reporting this issue. We plan to remove all the `values-production.yaml` from the different charts as they are not that useful. Could you please stick to the `values.yaml` file?

The removal of the files will start during the following days.

[2021-01-18 12:11] FraPazGal commented on #5036
Hi @kunalkushwaha,

The code where the mounted `redis-default.conf` file is used to configure the cluster by the container can be found [here](https://github.com/bitnami/bitnami-docker-redis-cluster/blob/master/5.0/debian-10/rootfs/opt/bitnami/scripts/libredis.sh#L358). You would need to make some changes to that code as, from what I can see, the bind IP is being hardcoded to `0.0.0.0`.

[2021-01-18 12:19] flmmartins commented on #4987
That's strange.
What kind of details do you want?

I am using AKS which is the Azure Kubernetes Svc.
My network is Calico and I have a Azure CNI plugin installed.
Nginx as load balancer.

If I deploy the Redis with 1 node it works.
If I deploy Redis without sentinel with 1 master and 2 slaves it works as well....

[2021-01-18 12:40] kunalkushwaha commented on #5036
Hi FraPazGal <https://github.com/FraPazGal>,

Thanks, It will be really helpful.
I will try to fix it and create a PR.

Thanks,
Kunal

On Mon, Jan 18, 2021 at 9:11 PM Francisco de Paz Galán <
notifications@github.com> wrote:

[2021-01-18 13:00] red-trela commented on #5065
Oh, that's a pity, I actually think they're very useful - maybe less so for memcached but certainly for more complex charts. But in that case, figure this issue is obsolete.

[2021-01-18 13:00] #5065 closed

[2021-01-18 13:41] sylvainOL commented on #4077
Hello @sptmhall and @kkosewski, if you look at https://github.com/bitnami/bitnami-docker-mariadb-galera/blob/master/10.5/debian-10/rootfs/opt/bitnami/scripts/mariadb-env.sh#L180, you'll see that `DB_GALERA_NODE_ADDRESS` is not the right env variable to set but `MARIADB_GALERA_NODE_ADDRESS` (I did the same mistake with another env variable ^_^).

it would allow to have a workaround but I believe a

[2021-01-18 14:50] rafariossaa commented on #3743
Hi,
  Thanks for providing more feedback. I am adding this information to our internal task.

[2021-01-18 14:54] rafariossaa commented on #5017
Hi,
  I understand.
  We are a small team, and I can not provide a ETA for this. Would you like to send a PR and add support for this ? We will be glad to review and merge it.

[2021-01-18 15:03] rafariossaa commented on #5032
Hi,
  It seems that PR #5056 by @Cellebyte was mereged yesterday. Could you give it a try ?

[2021-01-18 15:10] swartz-k commented on #3911
Thanks so mush. I have made a pr about this. README.md still need some changes, I will update it tomorrow.

[2021-01-18 15:22] rafariossaa commented on #5066
Thanks for your suggestion! We will check it internally and evaluate the feasibility but due to limited resources that could take some time.

If you want to contribute with the chart do not hesitate to open a PR and we will review it. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) you can find the requirements and scaffolding to create a

[2021-01-18 15:28] lturmel commented on #4947
Have the same issue when I passed from Helm Chart 11.8.9 to 12.4.0... I don't try from 11.8.9 to 12.x.y version but I confirm that I've the same problem too

[2021-01-18 15:28] lilbumblebear commented on #4933
I can get past the upgrade error, but the pod fails. I believe it is failing because the port should not have quotes when Magento gets it (makes sense) but the quotes are required in the upgrade command

[code]
(above the error I can see this)
[code]

[2021-01-18 15:29] youngnicks commented on #4082
Hi @juan131

Like I stated above, Sentinel has a hook to run a script when a new master is selected. Therefore, the execution of this script would best be done in the Sentinel container. Currently, I'm thinking of a sidecar container with kubectl to manage the labels but curl could also be used. I'm guessing the pod would need the appropriate RBAC permissions to update its own labels.

[code]

[2021-01-18 15:33] rafariossaa commented on #4929
Hi,
  We will review what we can do on this.
  In any case, the minimum advisable of nodes is 3. When you run below that number is it possible that the cluster can not identify if it is in a split brain situation.
Reference:
  - https://galeracluster.com/library/kb/two-node-clusters.html
External reference:
  - https://blog.famzah.net/2017/02/23/mysql-galera-cluster-how-many-nodes-do-you-really-ne

[2021-01-18 15:33] carrodher commented on #5064
Can you share with us the values you are using to deploy the chart (via file or in the `helm install` command)? In the same way, there are some installation notes you can consult where there is some information about how to access the cluster according to the values you used. You can check those notes by executing `helm get notes RELEASE_NAME`

[2021-01-18 15:34] carrodher commented on #5030
Thanks for creating the PR, we will check it.

[2021-01-18 16:08] FraPazGal commented on #5060
Hi @DanTulovsky,

I haven't been able to reproduce the issue with your configuration nor with the default one. Have you tried installing the chart in a new namespace? Also, are your existing secrets created for the custom namespace?

[2021-01-18 16:13] carrodher commented on #5054
Thanks, I just created the above PR addressing the issue

[2021-01-18 17:08] DanTulovsky commented on #5060
Hi,

The secrets are definitely there.  The 'db' namespace was new, I haven't tried any others.

I switched to the non-HA version of the chart at this point as I've also lost data twice now due to pods being restarted in sequence.  Also, once it did work in the default namespace, the replicas got out of sync and both became masters.  At that point I decided this was too much of a time sync for me

[2021-01-18 17:20] dani8art commented on #4711
Sorry for this issue being closing automatically but we were waiting for additional information and tests about resources.

Could you provide more relevant details about your environment?

Thanks!

[2021-01-18 17:23] dani8art commented on #4585
Hi @drmy did you have a chance to work on this?

[2021-01-18 17:51] #4976 closed

[2021-01-18 17:57] marcosbc commented on #4678
Hi @travisghansen, I can see you added this volumeMount:

[code]

So then a folder will be mounted into /opt/bitnami/keycloak, and any `cp` command will fail since Kubernetes mounts as read-only usually. Does the same happen if you try without it?

I know that we recently fixed some issues with Keycloak container for SSL support, mentioning in case your issue could be related: https://github.com/b

[2021-01-18 17:59] FraPazGal commented on #5032
Hello @travisjeffery @davejhahn,

After investigating the error, we found out that it should be related to the used Helm version. It seems Helm 3.0 is reporting issues with the `lookup` function even if it isn't being used by the chart. While we work on a fix, could you try installing the chart with Helm version 3.1 or a superior one?

[2021-01-18 18:00] marcosbc commented on #4947
Hi @andrisdru, unfortunately we're still unable to reproduce it. Could you share some specific steps with all the info (i.e. values.yaml/--set options included) to reproduce it on our side?

@lturmel Not sure what may be happening on your side. If the PVC was mounted then /bitnami/kafka/data/meta.properties should exist. Are you able to reproduce this issue in a clean environment? (if so please sh

[2021-01-18 18:58] travisghansen commented on #4678
@marcosbc it's actually the opposite, doing an `emptyDir` volume mount is the only thing that actually makes it work. You can see in my comment what the permissions are on the dir. So basically the `emptyDir` is needed.

To summarize:

- I have to update the image tag to the version you mentioned
- I have to add the volume/mount manually

At this point everything works...except my truststore doesn

[2021-01-18 19:12] nabadger commented on #5017
I can do that no problem - I'll give it a go over the weekend :)

[2021-01-18 19:17] travisjeffery commented on #5032
@FraPazGal in my situation I can't because it's the version microk8s uses, they'd have to upgrade. Also, @rafariossaa don't you need to push a new external-dns version (and zookeeper, etc.) to include that change, right?

[2021-01-18 19:17] MrAmbiG commented on #5038
`helm -n jira upgrade -i redmine bitnami/redmine --set "volumePermissions.enabled=true,redminePassword=MYPASS,mariadb.auth.password=M4r14db,mariadb.auth.rootPassword=MYPASSroot,podSecurityContext.enabled=false" `

`helm -n jira upgrade -i redmine bitnami/redmine --set "volumePermissions.enabled=true,redminePassword=MYPASS,mariadb.auth.password=M4r14db,mariadb.auth.rootPassword=MYPASSroot,podSecuri

[2021-01-18 19:24] lturmel commented on #4947
Hi @marcosbc, as @andrisdru said, the $ID variable is not set when passing through an upgrade scenario, this is what is causing the upgrade scenario. This was introduced by this commit on December 14, 2020 -> [](https://github.com/bitnami/charts/commit/f4eb7172411355ba3ebf164e05ecaa37dbb2f5c2#diff-d66da5348bd3175a782700e0f07824213afb6c787db21dab9b819171bb776ae2)

Has you can see in this image
![Mi

[2021-01-18 19:26] siegfried01 commented on #4787
Thanks FraPazGal... I plan to give that a try. (Unfortunately, I have had a few distractions).

[2021-01-18 19:52] fabiocarneiro commented on #4711
@dani8art What else do you want to know? I already provided the versions of everything above.

[2021-01-18 19:55] travisjeffery commented on #5032
Yeah looks like I'm still getting the lookup issue with latest external-dns.

[2021-01-18 20:36] sentry-gun opened #5072 "Kafka: "SSL handshake failed" on producer console when auth/encryption enabled"
**Which chart**:
Kafka 11.8.9

**Describe the bug**
SSL Handshake error when trying to work with kafka-console-producer.sh, getting lots of logs similar to
[code]
and the pod logs show
[code]

**To Reproduce**
Steps to reproduce the behavior:

* Run script found in documentation ([here](https://raw.githubusercontent.com/confluentinc/confluent-platform-security-tools/master/kafka-generate-ssl.sh))

[2021-01-18 21:36] Cellebyte commented on #5032
@travisjeffery could you try to manually update?

[2021-01-18 21:53] marcosbc commented on #4947
Oh, I see now @lturmel. It looks like it should be as simple as replacing `ID` there with `KAFKA_CFG_BROKER_ID`. Would you be open to contributing this change via a PR? We'd be glad to review and help with the release.

[2021-01-18 22:53] lturmel commented on #4947
Thanks @marcosbc, I'm open to fix it, but I look the code, the PR and the #4626 issue, and that part with the "minBrokerId" seems not right at all.

The question is: How you expect the ID to be used.
This #4626 Issue is a very tricky one that open the doors to a lot of confusion

I was expecting the usage of minBrokerId to also drive the Kafka Pod Name, but seems to not be the case at all.

The va

[2021-01-19 01:19] iamaverrick opened #5074 "Keycloak not working behind nginx ingress controller"
**Which chart**:
The name (and version) of the affected chart

bitnami/keycloak --version 1.2.0

**Describe the bug**
A clear and concise description of what the bug is.
we currently deployed the helm chart on aws private cloud. we use nginx ingress controller as reverse proxy via a OpenVPN connection client to access all apps on private network which all work fine. the applications deploys fine w

[2021-01-19 01:37] bborovan opened #5075 "Can't apply custom postgresql.config values"
**Which chart**:
The name (and version) of the affected chart
postgresql-ha 13.1.0

**Describe the bug**
A clear and concise description of what the bug is.

We've been trying to setup the PostgreSQL HA Bitnami Helm Chart in our dev environment in a three node cluster and have had no luck getting the helm chart to recognize our customer parameters and/or a customized version of the postgresql.conf

[2021-01-19 02:07] Bryce-huang opened #5076 "[bitnami/mariadb-galera] After all nodes were down and restarted, the create_time of information_schema.tables changed"
**Which chart**:
The name (and version) of the affected chart
mariadb-galera-5.0.1
**Describe the bug**

After all nodes were down and restarted, the create_time of `information_schema.tables` changed

create_time of `information_schema.tables` becomes the time to rebuild the cluster

**To Reproduce**
Steps to reproduce the behavior:

1.  create a database and table.
2. query the create_time of in

[2021-01-19 02:51] travisjeffery commented on #5032
I'm pretty sure I had the lock saying 1.3.5 at one point and it still wasn't working, I could be wrong but I don't think so. But I had to pin to 4.5.1 and moved on. So I don't know.

[2021-01-19 04:07] holleyism opened #5077 "Fluentd chart has a typo in the ingress.yaml template"
**Which chart**:
fluentd 3.4.0

**Describe the bug**
When trying to apply the fluentd aggregator and enabling the ingress, an error occurs:
Error: failed to create resource: Ingress.extensions "fluentd-aggregator" is invalid:
[code]
The reason this appears to happen is because `$serviceName` is quoted so is not replaced.

**To Reproduce**
1. Update the values.yaml to enable ingress
2. `helm instal

[2021-01-19 06:33] floek commented on #4839
This issue is back. For me in chart version 10.4.4, butI think it came back with 10.4.1 and merge request #4953

[2021-01-19 06:39] floek opened #5079 "Again: Using wildcards in Wordpress ingress configuration: YAML parse error on wordpress/templates/ingress.yaml"
**Which chart**:
wordpress 10.4.4

**Describe the bug**
When I add a wildcard entry like "*.domain.tld" to ingress.extraHosts I get the following error:
[code]

This was already fixed with #4839 and maybe came back with #4953.

**To Reproduce**
Steps to reproduce the behavior:

1. add a domain with a wildcard to ingress.extraHosts

**Expected behavior**
I want to configure a subdomain multisite in

[2021-01-19 07:17] thanhtai9606 opened #5080 "[bitnami/redmine, bitnami/pgadmin] cannot create redmine with persistentVolumeClaim"
**Which chart**:
The name (and version) of the affected chart

**Describe the bug**
I cannot create redmine when I enable persistentVolume. Although It already bound persistent volume with dynamic nfs-client-provisioner?

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I already used dynamic nfs provi

[2021-01-19 07:40] carrodher commented on #5077
Thanks for reporting the issue and creating the associated PR, the team will review it

[2021-01-19 07:53] FraPazGal commented on #4787
Hi @siegfried01,

Glad to hear from you! Don't worry, I'll reopen this and wait for your feedback.

[2021-01-19 08:02] FraPazGal commented on #3843
Hi @ahmgeek,

Unfortunately, this task has not yet being assigned to be worked on. I'll try to move this along so it gets included in our short-term backlog. Thank you for your patience!

[2021-01-19 08:03] #4920 closed

[2021-01-19 08:05] tweetysat opened #5081 "RabbitMQ not installing - Error: roles.rbac.authorization.k8s.io"
I'm trying to install RabbitMQ chart on my company kubernetes cluster.

I already managed to install (also from bitnami) redis and consul charts.

But there is a problem with the rabbitmq chart.

I first pulled the chart to modify the repository because the image must be pulled from internal harbor repository (I also pushed the image there).

So when trying

`helm install my-rabbitmq .`

I have

[

[2021-01-19 08:11] carrodher commented on #4925
In relation to the above-mentioned topic about _values-production.yaml_ we are going to stop supporting this file. As mentioned in the README (https://github.com/bitnami/charts/tree/master/bitnami/mongodb#production-configuration-and-horizontal-scaling) there are not many differences between both values files: more replicas, and replicaset, Pod Disruption Budget, and metrics enabled.

Apart from t

[2021-01-19 08:20] alemorcuq commented on #5079
Sorry about that. I will fix it ASAP.

[2021-01-19 08:47] javsalgar commented on #5025
Hi,

Another thing that could be causing issues is the storage. Which storage provider are you using?

[2021-01-19 08:48] dave-yotta commented on #4925
I've not tried `autoDiscovery` - looks like it's for loadbalancer.  Not sure, but I think docker desktop for win10 at least does provide a load balancer - that sounds like it has a chance of working, will try.

[2021-01-19 08:53] javsalgar commented on #5050
Hi,

Sorry, I am not an expert on SCDF hence the question. I double checked and saw that we already provide Kafka support as a subchart, so then it should be relatively simple to add support for externalKafka just like we do with other charts like WordPress, where we have an externalDatabase set of values. I will open a task for implementation. I will update this ticket as soon as we have more new

[2021-01-19 08:54] javsalgar commented on #3911
Thank you so much for the contribution! We will take a look :D

[2021-01-19 09:11] dangelm commented on #4929
hi @rafariossaa
thanks, i really hope you will look into it further.
we are indeed familiar with the advisable number of nodes. thats why we run a cluster of size 3.
the issue happens sometimes even if only one node is going down

[2021-01-19 09:22] alemorcuq commented on #5034
Yes, I've seen `curl_result.log`, but to be honest I don't know what to look for there. Do you mean the exporter is retrieving less metrics than it should? Why do you think that? Could you give me some information?

[2021-01-19 09:24] #5079 closed

[2021-01-19 09:25] alemorcuq commented on #5079
Hi, @floek. The PR has been merged, so this should be fixed when version `10.4.5` is published. I've also added a test to ensure this does not happen again.

[2021-01-19 09:26] miguelaeh commented on #5080
Hi @thanhtai9606 ,
Could you please the errors you are getting? Try to share the describe of the pods and pvc please.

[2021-01-19 09:31] juan131 commented on #4082
Hi @youngnicks

It sounds interesting but risky. I mean, a potential attacker that gains access to your Sentinel pods (exploiting any security vulnerability that Redis may have) could gain control of your cluster if it has permissions to query the K8s API.

Therefore, I highly recommend you to limit the scope of actions the container can perform by defining strict RBAC rules.

[2021-01-19 09:51] juan131 commented on #5075
Hi @bborovan

Did you clone the repository before putting your custom configuration files under the `files` directory? I mean, the custom files should be included in the directory below:

- https://github.com/bitnami/charts/tree/master/bitnami/postgresql-ha/files

By the way, I don't recommend to follow this method to set the custom configuration. Instead, I would update the value of the `pgpool.c

[2021-01-19 10:01] juan131 commented on #4933
Okay @lilbumblebear .. Let's try with a custom **values.yaml** instead of using parameters:

- Uninstall Magento (and remove existing PVCs)
- Install Magento.
- Obtain the required env. variables (APP_PASSWORD, APP_PORT, MARIADB_ROOT_PASSWORD, and MARIADB_PASSWORD)
- Create the custom values.yaml using the command below:

[code]

- Upgrade Magento using the command below:

[code]

[2021-01-19 10:11] ssh-sysadmin commented on #5025
I'm using longhorn

[2021-01-19 10:11] dani8art commented on #4987
Hi @flmmartins, after some tests, I've realized that some times sentinel takes much time to be ready, could you try to add more time to the readiness probe so the pods can get to a ready status?

Thanks!

[2021-01-19 10:17] juan131 commented on #5038
Hi @MrAmbiG

I just discovered that we introduce a regression on the major version bump.. Please wait for the fix I just sent to be published or install the chart running the command below:

[code]

[2021-01-19 10:17] juan131 commented on #5038
Thanks for reporting it

[2021-01-19 10:28] soft-sysops opened #5085 "Can’t connect remotely to Mongodb Replicaset with TLS using node.js"
Chart used:
  Chart Mongodb
  appVersion: 4.4.3
  version: 10.4.0

Bug:

I deployed a Mongodb RS on Kubernetes (On Kapsule of Scaleway) using Bitnami chart with

tls:
  enabled: true
......
externalAccess:
  enabled: true

I added a costum DNS.6 = *.mycostumdomain.fr on StatefulSet.yaml file

The Mongodb cluster is running correctly and I can reach it from outside using mongo shell ( mongo --host

[2021-01-19 10:41] Bryce-huang commented on #5076
this situation appears in a 3-node kubernetes cluster, and set `safe_to_bootstrap: 0` to `safe_to_bootstrap: 1`
After checking the `grastate.dat` file, I controlled which node can be started first

[2021-01-19 10:42] scleep commented on #5034
Hey guys. :D
What @tom1005  wants to say is that there are only two kafka metrics.
`# HELP kafka_brokers Number of Brokers in the Kafka Cluster.
# TYPE kafka_brokers gauge
kafka_brokers 1
# HELP kafka_exporter_build_info A metric with a constant '1' value labeled by version, revision, branch, and goversion from which kafka_exporter was built.
# TYPE kafka_exporter_build_info gauge
kafka_exporter_b

[2021-01-19 10:43] dani8art commented on #4711
Hi I've tried to reproduce it but unfortunately, I couldn't reproduce it, this is what I did:

[code]

So it seems a standalone chart took like 60s to be ready, then I created a `test-chart` that uses MySQL as subchart.

[code]

And MySQL took 62s to get ready.

Are you setting something specific in the values? I requested more info because this is what I can reproduce with the data that you are p

[2021-01-19 10:56] javsalgar commented on #5074
Hi,

I was unable to reproduce the issue, I deployed the chart with `ingress.enabled=true` and I could access the admin panel

![image](https://user-images.githubusercontent.com/1133777/105025009-0a7edd00-5a4d-11eb-9ed7-3a383f40a334.png)

Could it be another setting that you are configuring in the chart?

[2021-01-19 10:56] alemorcuq commented on #5068
Hi, @jeff51419. I'm not able to reproduce the issue. Here's what I did:

I installed version `3.3.0` of the chart with the default values running:

[code]

[code]

Then, I added a comment to the `fluentd.conf` file:

[code]

Finally, doing a dry run of the upgrade with this modified `values.yaml` file:

[code]

I can see that the comment I added is present in the config map:

[code]

[2021-01-19 11:02] marcosbc commented on #4947
Thanks for all the details and for the PR! I agree it might be a bit confusing, although at least now we have something that works with the mentioned scenarios. We can continuing improving on this later on.

I'm assuming this issue should be fixed once the chart with #4683 is released, which hopefully will happen later today, so I'm proceeding to close this issue.

[2021-01-19 11:09] #5054 closed

[2021-01-19 11:16] #5038 closed

[2021-01-19 11:29] marcosbc commented on #4857
Using NGINX's GeoIP2 module requires some additional files to be generated for your specific setup, for more info see this: https://docs.nginx.com/nginx/admin-guide/security-controls/controlling-access-by-geoip/

Unfortunately the databases are not pre-downloaded, and there is no flag to enable them in NGINX configuration. However, by mounting NGINX configuration files and the database files, it s

[2021-01-19 11:29] pmalek-sumo commented on #3692
This is not an issue anymore in `5.3.4` 👍🏻

[2021-01-19 11:33] pmalek-sumo opened #5087 "Helm lint fails due to "invalid metadata name""
**Which chart**:
`metrics-server` `5.3.4`

**Describe the bug**
`helm lint` fails with the following message:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. run `helm lint` on `metrics-server` chart

**Expected behavior**
`helm lint` passes without errors.

**Version of Helm**:
- Output of `helm version`:

[code]

[2021-01-19 11:39] crevillo opened #5088 "Trying to enable ACL"
Hello. I have a question on enabling ACL for consul.
I'm setting my custom values like this
[code]

When applying those changes the configMap looks like
[code]

but still in the pod i can see this kind of erro over and over again.
[code]

Do you know that `ACL not found` means and how to solve this problem? i've read that i should execute `consul acl bootstrap`to generate a "master" token, but whe

[2021-01-19 11:49] FraPazGal commented on #5060
Hi @DanTulovsky,

We are sorry to hear that you are having issues with our chart. I have checked this again but I wasn't able to make any progress. Let's leave this open a while and see if other users having this problem can provide more insights.

[2021-01-19 12:25] ioannissavvaidis opened #5089 "[bitnami/harbor] Image version update to fix proxy cache bug"
**Which chart**:
Harbor 9.4.1

**Describe the bug**
The bug is already described and fixed in : https://github.com/goharbor/harbor/issues/13740#

pull requests from Docker 20.10 via proxy-cache get :
[code]
From the mentioned issue, Harbor v2.1.3 contains this fix.
In the latest Bitnami's Harbor chart the appVersion is: https://github.com/bitnami/charts/blob/20a02814afda5b4bc1b447f5d2cb0fa472f2422

[2021-01-19 12:36] iamaverrick commented on #5074
Thank you @javsalgar for prompt response. Deploying the chart locally works perfectly. The only issue locally is the fact that it complains about the https but that’s besides the point. Mostly the issue happens when deploying to production environments on a private AWS KoPs cluster. We use the Nginx ingress controller to deploy a AWS NLB so we can access that apps from outside the cluster. I’m thi

[2021-01-19 12:37] andresbono commented on #5065
Thank you, @red-trela. The problem is that "production" could mean very different things for each user, so we think it doesn't make sense to impose some production values. Instead of that, we want to focus on providing flexibility so each user can customize the default `values.yaml` to particular needs depending on the case.

This will be explained in detail as soon as the plan for removing these

[2021-01-19 12:48] drmy commented on #4585
Hi @dani8art , I am sorry for the slow resoponse because I was busy in some work stuff. Yes, I am working on that and plan to make it by this week, will keep you updated.

[2021-01-19 12:54] mislayming commented on #4926
so...   how to resolve this problem?
I have the same problem that I forced reboot a node of k8s, and then the slave node of redis pod can't started because of dirty data was generated. so I deleted the PV of this pod and the pod instance.

after this pod is rescheduled by K8s (the IP of this pod has been changed), it can't rejoin the cluster.

[2021-01-19 13:09] FraPazGal opened #5091 "Notice: New Helm version prerequisite"
Bitnami Helm Charts will be bumping the required Helm version from `3.0-beta3+` to `Helm v3.1.0`. This comes from our implementation of a new functionality, `lookup` function, that was introduced on Helm 3.1. This new feature will allow us to improve password's management during upgrades.

You can find more information about our implementation at https://github.com/bitnami/charts/pull/4831.

[2021-01-19 14:14] Antiarchitect opened #5092 "[bitnami/harbor] JobService should be a statefulset"
According to the current behavior (cannot increase jobservice.replicas to 2 because of the multiattach volume error) JobService should be a statefulset. I can submit a PR if I am actually correct and it should be a STS.

[2021-01-19 14:37] alemorcuq commented on #4710
I don't think that cluster autoscaling thing has anything to do with the issue. Could you share the exact command and values file you are using so I can try to reproduce the issue myself?

[2021-01-19 14:38] iamaverrick commented on #5074
Another thing worth noting @javsalgar is that we do not use TLS as the ssl is being terminated at the NLB. In order to use this we use ports 80, and 443. I’m not sure if we are missing something here.

[2021-01-19 14:49] youngnicks commented on #4082
Hi @juan131

I have thought of this and am considering putting Sentinel/kubectl in its own pod with pod affinity for the Redis instances. I will still also have strict RBAC to hopefully limit just updating the label.

[2021-01-19 15:00] RefusesNames commented on #4710
Neither do I think that the autoscaling on it's own is at fault. I just see the parallel to the original issue about since in both cases the startup seems to take very long.

I would love to provide a command to reproduce this issue, but so far I have failed to reproduce it outside of our development setup which I am unable to share. Do you maybe have any hints/thoughts on where I can look to find

[2021-01-19 15:08] alemorcuq commented on #5081
I think you may need to contact your cluster's admin. It looks like you don't have permissions to do this.

[2021-01-19 15:33] abhassine commented on #5051
Hi @juan131

I did it little a bit differently - for testing purposes - but it works fine now.
I'm still struggling to format the S3 folder output as I'm not getting what I want json format was taken into account all the files are gz, I don't if you have feedback experience on this or guidance.
I'm trying to follow official doc

Thanks,
Anis

[2021-01-19 15:37] judge-red opened #5094 "[memcached] Always mount an emptyDir on /tmp"
**Which chart**:
memcached

**Describe the bug**
There's three ways to configure the architecture and persistence:
1. `architecture: standalone`
2. `architecture: high-availability` AND `persistence.enabled: true`
3. ` architecture: high-availability` AND `persistence.enabled: false`

With the third configuration, NO `emptyDir` is mounted under `/tmp`. This becomes an issue if `securityContext.rea

[2021-01-19 15:44] carrodher opened #5095 "Stop supporting values_production.yaml"
Some of the Bitnami Helm Charts (40 of 80) contain a _values-production.yaml_ file apart from the _values.yaml_. The content of both values files is practically the same but the production ones have different default values in some parameters, being the most common metrics enabled, number of replicas, forced to specify a password, forced a URL, TLS enabled, and more.

There are no clear guidelines

[2021-01-19 15:57] FraPazGal commented on #5072
Hello @sentry-gun,

Thank you for the detailed info! I'll work on reproducing this and come back with my findings!

[2021-01-19 16:26] bborovan commented on #5075
Hi @juan131

Thank you for the reply and assistance.

No we did not clone the repository and simply created a "files/" directory as described in your documentation. Do we need to clone the entire repository and if so how exactly do we run the helm command in that case?  The documentation only shows how to pull it from the helm repository, but no examples of running it from a local copy with custom

[2021-01-19 16:47] johnweldon opened #5115 "arm64 support for redis"
**Which chart**:
redis 12.6.1 (6.0.10)

**Is your feature request related to a problem? Please describe.**
I'm unable to run this helm chart on a raspberry pi cluster

**Describe the solution you'd like**
Ideally the bitnami redis images would be multiarch and include support for arm64, arm/v7

**Describe alternatives you've considered**
Manual deployment of arm64v8/redis image instead

**Addition

[2021-01-19 17:21] rafariossaa commented on #5017
Hi,
  Thanks forehand

[2021-01-19 17:37] rafariossaa commented on #5094
Hi,
  Thanks for spotting this.
  I will create a PR to fix this issue.

[2021-01-19 17:47] 8297530225 opened #5140 "Redis ACl and Client Connection"
Hi Team,

I have deployed Bitnami Redis cluster in our environment. As LDAP is not possible in open source bitnami I have created multiple ACL users and given permissions for those users.

So,
1. Is there any way to connect directly to Redis DB with those ACL users through redis client.
Currently when I try to connect through redis client am using following connection string:
redis-cli -h hostid -

[2021-01-19 21:09] ajchiarello opened #5142 "[bitnami/harbor] Bugs in the deployed version of Trivy reporting false positives for npm and RubyGems"
**Which chart**:
Harbor 9.4.1

**Describe the bug**
The chart deploys the harbor-scanner-trivy version v0.14.1, which has bugs in how it reports npm and RubyGem vulnerabilities (due to using trivy 0.9.2). They resolved this issue in Trivy 0.13.0, which is included in the harbor-scanner-trivy plugin from version v0.15.0 on; the current version is v0.17.0.

**To Reproduce**
Use the built-in trivy to

[2021-01-19 21:24] jw-maynard opened #5143 "[bitnami/kube-state-metrics] Errors in prometheus when kube-state-metrics is deployed with multiple replicas"
**Which chart**:
kube-state-metrics - 1.1.6

**Describe the bug**
Currently this chart allows you to run multiple replicas but the kube-state-metrics project is not designed to run multiple replicas unless you enable sharding (see https://github.com/kubernetes/kube-state-metrics#horizontal-scaling-sharding). This causes issues in Prometheus because 2 instances of kube-state-metrics collect the met

[2021-01-19 21:51] larryzhu2018 opened #5144 "PmaAbsoluteUri as in https://docs.phpmyadmin.net/en/latest/config.html#cfg_PmaAbsoluteUri"
**Which chart**:
The name (and version) of the affected chart
6.5.7
**Describe the bug**
A clear and concise description of what the bug is.
how do I set PmaAbsoluteUri so that I can put this under reverse proxy?

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what

[2021-01-19 22:34] iamaverrick commented on #5074
Hello @javsalgar we managed to make progress on the issue we have. so at the moment the we are able to deploy the chart locally and we verified that all works as expected. once we deploy to production environment we are able to ping site using VPN client @ https://keycloak.ex.company.io/auth/ and we get the default keycloak web page. but once we click on Administration Console. we get redirected t

[2021-01-19 22:37] zenbones opened #5145 "Adding EKS standard service annotations"
rabbitmq 8.7.2 (also memcached 5.4.2)

Looking to add standard service.annotations for EKS...

[code]

Unfortunately, the templating chokes on the '-' in external-dns.alpha.kubernetes.io, and I can't find a way around it.

Error: unable to build kubernetes objects from release manifest: unable to decode "": resource.metadataOnlyObject.ObjectMeta: v1.ObjectMeta.Annotations: ReadString: expects " or

[2021-01-19 22:51] justinmchase commented on #4033
I'm having this same issue. I just got the latest chart edited these values only:
[code]

Deployed successfully but cannot log into the manager:

![Screen Shot 2021-01-19 at 4 42 34 PM](https://user-images.githubusercontent.com/10974/105103100-9573cd80-5a75-11eb-86c7-ed83087a408f.png)

From logs
[code]

[2021-01-19 23:18] thanhtai9606 commented on #5080
this is describe my redmine pop
`Name:         redmine-56854df6f5-wktg2
Namespace:    kubeapps
Priority:     0
Node:         k8s-worker-2/192.168.104.5
Start Time:   Tue, 19 Jan 2021 14:12:38 +0700
Labels:       app.kubernetes.io/component=redmine
              app.kubernetes.io/instance=redmine
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=redmine

[2021-01-20 04:12] thanhtai9606 commented on #5080
I solved my problem, /etc/exports miss this no_root_squash,no_all_squash on NFS. This is the problem
`/srv/nfs/kubedata  *(rw,sync,no_subtree_check,no_root_squash,no_all_squash,insecure)`
Thank you!!

[2021-01-20 04:13] #5080 closed

[2021-01-20 04:28] iamaverrick opened #5146 "[bitnami/keycloak] Configuration as a service CaaS"
**Which chart**:
The name (and version) of the affected chart.

bitnami keycloak version 1.2.0

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Keycloak is very difficult and time consuming service to implement and once implemented maintaining is a hassle. By configuring this service ju

[2021-01-20 04:32] tom1005 commented on #5034
Ops...

I'm sorry.... I have a mistake;;;;

It's normal.

thanks response @scleep @alemorcuq

[2021-01-20 04:32] #5034 closed

[2021-01-20 04:50] larryzhu2018 commented on #5144
Please help. I tried  PMA_ABSOLUTE_URI as follows, and it did not have any effective.

extraEnvVars:
    - name: PMA_ABSOLUTE_URI
      value: https://services.adp.p.c.scs.us-ashburn-1.ocs.oracleiaas.com/phpmyadmin/

[2021-01-20 04:50] soonoo opened #5147 "[bitnami/nginx] Cannot set servicePort of Ingress rule"
**Which chart**:
latest nginx chart

**Is your feature request related to a problem? Please describe.**
Both `http` and `https` ports are exposed in deployment.
https://github.com/bitnami/charts/blob/152afd99edf61b03f7ed6ab4ab1e79207c34ceb3/bitnami/nginx/templates/deployment.yaml#L116-L121
It seems `servicePort` in Ingress rule is fixed to `http` however.
https://github.com/bitnami/charts/blob/152

[2021-01-20 06:19] tweetysat commented on #5081
Ok, but till now I managed to install lot of things.
So what's the specificity of that chart ?  Which part of the chart requires a 'special' permission that I wouldn't have ?

[2021-01-20 06:44] zzguang520 commented on #4986
The logs of the first start is the same as what I showed

[2021-01-20 06:54] VORUSRIK000 opened #5148 "QUESTION: Airflow helm chart support for remote logging to Azure Blob"
Apache Airlfow supports configuring remote logging, and integrate with Azure Blob as the sink for all logs and metrics. (https://airflow.apache.org/docs/apache-airflow/1.10.14/howto/write-logs.html?highlight=logging#writing-logs-to-azure-blob-storage)

Is this supported through bitnami helm?

[2021-01-20 07:05] tweetysat commented on #5081
It seems the "problem" comes from roles.yaml
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create"]
I commented those 3 lines and now everything seems working.
What could be the impact of doing so ?
I can connect to the console.
I will now try to use it with my application.

[2021-01-20 08:04] alemorcuq commented on #5142
Hi, @ajchiarello.

We are using versions `0.9.2` and `0.14.1` of Trivy and the scanner as they are the ones that Harbor 2.1.3 (the latest version of Harbor and the one included in the chart) uses. See: https://github.com/goharbor/harbor/blob/v2.1.3/Makefile#L107

We will update them when Harbor releases a new version.

[2021-01-20 08:13] cuijxin opened #5150 "FATAL: database "template0" is not currently accepting connections Previous connection kept"
I had one instance that the chart bitnami/postgresql-ha:
CHART:postgresql-ha-6.3.6
APP VERSION: 11.10.0

I installed it following this [README.md](https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/README.md)

Then, I got the pod and service Running status.
[code]

[code]

But, when I try connect my database following command:
[code]

[code]

Then, I try to connect the database in

[2021-01-20 08:27] juan131 commented on #5075
Hi @bborovan

It's not mandatory to clone the repo but, at least, you have to fetch the chart (`helm fetch ...`) an have a copy of it in your working directory. We know this is confusing and many users commit the same mistake, that's why we're starting to remove this feature from the charts and the reason why I told you to update the **values.yaml** instead.

helm install my-release -f values.yaml

[2021-01-20 08:42] javsalgar commented on #5025
I see. We test our solutions with the default persistence of the major Kubernetes distributions. We had some tickets about issues using longhorn storage. I will forward this ticket for evaluating studying persistence volumes like longhorn. Thanks for the input.

In order to confirm that the issue has to do with longhorn, could you try deploying without persistence? If it works, then we can confirm

[2021-01-20 08:44] javsalgar commented on #3692
Thanks for confirming! I will proceed to close the ticket. Do not hesitate to reopen in case there's anything we're missing.

[2021-01-20 08:44] #3692 closed

[2021-01-20 08:57] javsalgar commented on #5087
Hi,

Thanks for the input! In this case, we are actually following the naming conventions that can be seen in the default Kubernetes RBAC objects, for example:

[code]

So, in this case, I would not change the name of the objects.

[2021-01-20 09:03] javsalgar commented on #5143
Hi,

Thank you very much for the input! I agree that, if we allow mulitple replicas, we should enable the shard parameter. Could you confirm that, by using the `extraArgs` value with the missing parameters, then the multiple replicas work without issues? Then I'll create a PR.

[2021-01-20 09:07] javsalgar commented on #5074
Hi,

So, in order to reproduce the issue, we need to configure an AWS NLB that points to the ingress deployment inside the cluster. Any special steps to deploy this NLB?

[2021-01-20 09:11] miguelaeh commented on #5067
Hi @Cellebyte ,
Thank you very much for notifying about this. The team is checking it.

[2021-01-20 09:14] miguelaeh commented on #5150
Hi @cuijxin ,
Could you share the parameters you used to install it?

[2021-01-20 09:22] juan131 commented on #4082
Hi @youngnicks

I think you don't need to get that far. You can still run Sentinels as a sidecar container in Redis pod, but double-check the pod has only RBAC permissions to do the required changes in the labels and nothing else.

You can also play with the "SecurityContext" (see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#securitycontext-v1-core) used in the Sentinel sid

[2021-01-20 09:31] zzguang520 opened #5151 "[bitnami/postgresql-ha] FATAL: password authentication failed for user "postgres""
**Which chart**:
The name (and version) of the affected chart
[root@master ~]# helm list -n test
NAME            NAMESPACE       REVISION        UPDATED                                 STATUS          CHART                   APP VERSION
postgresql-ha   test           1               2021-01-20 16:10:31.327186118 +0800 CST deployed        postgresql-ha-6.3.6     11.10.0

**Describe the bug**
A clea

[2021-01-20 09:36] zzguang520 commented on #5151
same errors after tried to changed other version of charts

[2021-01-20 09:43] dani8art commented on #4585
That's great! thanks!

[2021-01-20 10:02] juan131 commented on #5051
Hi Anis,

Please correct me if I'm wrong but your problem is that the config file is mounted as a `gz` in the Fluentd container, right? Could you please share the values.yaml you're using to set the `aggregator.configFile` and `aggregator.configMap` parameters?

[2021-01-20 10:11] juan131 commented on #5144
Hi @larryzhu2018

Currently we don't support any env. variable to configure that setting using env. vars. Could you please open an issue at https://github.com/bitnami/bitnami-docker-phpmyadmin//issues requesting it to be added? Thanks in advance.

[2021-01-20 10:12] andresbono commented on #5092
Hi @Antiarchitect, thanks for opening this issue. Could you please share what is the particular error and how can we reproduce it?

I have just installed the helm chart with 2 replicas for the jobservice but I didn't get any errors:

[code]

[2021-01-20 10:16] juan131 commented on #5088
Hi @crevillo

Do you mind posting your question at this issue https://github.com/bitnami/charts/issues/1976 and reopen it? It's just to avoid having duplicated topics.

Thanks in advance.

[2021-01-20 10:16] #5088 closed

[2021-01-20 10:38] juan131 commented on #4033
Hi @justinmchase

I was unable to reproduce the issue.

Did you install the chart on a "clean" environment? I mean, with no existing PVCs from previous installations. See [this section](https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#persistence-volumes-pvs-retained-from-previous-releases) of the Troubleshooting guide for more information.

Just curious: Why did you disable

[2021-01-20 11:24] Antiarchitect commented on #5092
[code]

[2021-01-20 11:32] dani8art commented on #5140
Hi @8297530225,

Thanks for opening this issue. Have you tried to execute the command with those parameters?

[code]

[2021-01-20 11:38] rakeshnambiar opened #5152 "I am getting an error while installing the minio chart"
**Which chart**:
bitnami/minio

**Describe the bug**
I am getting an error while installing the chart.
`Error: parse error at (minio/charts/common/templates/_secrets.tpl:82): function "lookup" not defined`

**To Reproduce**
helm install my-release bitnami/minio -n my-namespace

**Expected behavior**
Installation should be a success

**Version of Helm and Kubernetes**:

K8s - Minor:"17", GitVersion

[2021-01-20 11:46] 8297530225 commented on #5140
Hi @dani8art ,

I have tried with the following format through redis client pod but its saying authentication failed:
I have set the ACL user test with password and used in the connection string.

 redis-cli -h host id -p 6379 --user test --pass <password>

[2021-01-20 11:48] FraPazGal commented on #5085
Hello @soft-sysops,

It seems your mongodb chart is working correctly and its configuration is fine, as you are able to connect to it from outside using TLS. It seems the issue is your application (or the infrastructure) is not able to resolve the service name so it does not look an error in the Chart.

Our charts are tested with a standard Helm installation, so there may be instances where they r

[2021-01-20 12:02] iamaverrick commented on #5074
Hi,

so hoe we easily deploy nginx is using this helm chart located [here](https://artifacthub.io/packages/helm/nginx/nginx-ingress) you can find the vaules.yml file configs [here](https://github.com/nginxinc/kubernetes-ingress/tree/v1.9.1/deployments/helm-chart) and for the values we use annotations to configure like so

ingress class you need to set in order for the services to locate the servic

[2021-01-20 12:13] FraPazGal commented on #5032
Hello,

Yes, the issue comes from the current Helm version used. We have decided to bump the minimum Helm version to 3.1 so that new functionalities can be added to our charts. We understand this may inconvenience some users but opted for this solution to maintain our products up-to-date and benefitting from the newer features. For more information, please check #5091

[2021-01-20 12:17] FraPazGal commented on #5152
Hi @rakeshnambiar,

Yes, this is a reported issue that has been discussed in #5032. You would need to update your helm version to `3.1` to install the chart.

I'll be closing this issue as there is already an open one. Please refer to it if you need further help.

[2021-01-20 12:17] #5152 closed

[2021-01-20 12:51] deveshk0 commented on #4051
@carrodher initdbScripts allows the customisation but it doesn't create a sperate service for connection, I am think add this. I will submit a PR soon

[2021-01-20 12:55] bborovan commented on #5075
Thank you @juan131 for the help.

I am trying your latter suggestion with adding the change to the config file as follows (similar to the syntax you showed):
postgresql:
  configuration: |=-
    max_connections = 200
    shared_buffers = 1GB
    effective_cache_size = 3GB
    maintenance_work_mem = 256MB
    checkpoint_completion_target = 0.7
    wal_buffers = 16MB
    default_statistics_target =

[2021-01-20 13:16] andresbono commented on #4926
Hi @mislayming, please check this section of the README: [Adding a new node to the cluster](https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster#adding-a-new-node-to-the-cluster)

[2021-01-20 13:34] carrodher commented on #5146
It seems a good feature to automate the configuration but having said that, there are some items that need to be covered in order to add this subchart as a Keycloak dependency.

The `keycloak-config-cli` chart should be part of the Bitnami Helm Chart catalog and then create a PR with the required changes in the bitnami/keycloak Helm chart. The process would be something like this:

1. Create a PR

[2021-01-20 13:35] carrodher commented on #4051
Thanks, @deveshk0, any PR is more than welcome.

[2021-01-20 13:48] Antiarchitect commented on #5092
Even when jobservice image is updated it cannot spawn new generation of pods because of this error sts should solve this problem

[2021-01-20 14:37] justinmchase commented on #4033
Yeah my cluster forbids it sadly, its a hosted cluster with multiple tenants and we are forbidden from creating service accounts and most roles. Do you think that could be related to the issue?

[2021-01-20 14:52] ValeriiVozniuk commented on #4939
Hi Miguel,

I understand your point, and what issue you are trying to solve, but for the case I've described current behavior creates a deadlock. As I said, for now I've solved the issue for me just by removing the validation, so all is up to you, if you want to support/handle such scenario automatically.
Anyway, as I'm leaving the current project, I'm not really care what your decision will be :)

[2021-01-20 15:00] mariantrifu opened #5155 "Kubewatch key tolerations missing in deployment.yaml template"
**Which chart**:
Kubewatch versions 3.0.0 to 3.0.4

**Describe the bug**
tolerations key is missing in deployment.yaml template

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy the chart with values.yaml containing tolerations key
2. Have a node with taint
3. See in error in events that: 1 node(s) had taint {node-group: monitoring}, that the pod didn't tolerate

**Expected behavior**

[2021-01-20 15:02] alemorcuq commented on #5115
Hi, @johnweldon.

Yes, this is in our roadmap and is something we want to support soon. See: https://github.com/bitnami/bitnami-docker-redis/issues/192

[2021-01-20 15:11] alemorcuq commented on #4986
Well, these logs you shared show this line:

[code]

Your first start shouldn't have that line, unless what you are trying to do is to use some persisted data from a previous installation. If that is the case, you need to deploy the chart using the same credentials as the previous installation.

If not, this is probably some leftover data from a previous installation and you would need to delete t

[2021-01-20 15:12] alemorcuq commented on #5151
This looks similar to #4986 so let's continue in that thread.

[2021-01-20 15:12] #5151 closed

[2021-01-20 15:20] franklin432 commented on #4925
@dave-yotta did you get it to work?

[2021-01-20 15:28] justinmchase commented on #4033
I wiped everything out of my local kubernetes and reinstalled just rabbit and it seemed to work. I'm not sure because I wasn't seeing errors about it but it seems like the 8gi volume claim may have been too big for what I had setup by default and it was failing to mount the disk. After repairing my volumes a bit, manually, it now works as expected. Sorry for false alarm.

[2021-01-20 15:57] rakeshnambiar commented on #5152
Thanks. That worked.

[2021-01-20 16:21] zenbones commented on #5145
My mistake, didn't like the 300 unquoted.

[2021-01-20 16:21] #5145 closed

[2021-01-20 16:22] franklin432 opened #5157 "bitnami/mongodb External Access when set to NodePort is causing external connection to the cluster to fail"
**Which chart**:
[code]

**Describe the bug**
Users are unable to connect externally to the mongo cluster when externalAccess.enabled and autoDiscovery.enabled are set to true, as well as when externalAccess.service.type is set to NodePort. When attempting to connect it is looking for the internal Kubernetes IP and not the node IP.

**To Reproduce**
I am using NodePorts instead of LoadBalancers fo

[2021-01-20 16:33] colegatron commented on #4737
For a postgres initializing a 230Gb PVC on AWS EKS I had to specify 200 seconds of delay in order to let the bootstrap process to finish.
Guess the time it takes to initialize the volume makes does not lets finish the bootstrap process and then the pod is killed because does not passes the first probes, leaving postgres data/config in an inconsistent state.

[2021-01-20 16:44] zenbones opened #5160 "When service type is load balancer and the architecture is high availability, the clusterIP is left at 'None' and complains"
For memcached 5.4.2, setting...

[code]

...yields...

`Error: Service "<release>-memcached" is invalid: spec.clusterIP: Invalid value: "None": may not be set to 'None' for LoadBalancer services`

...due to ...

[code]

I do not need to choose a cluster IP on high availability setting if the service type is ClusterIP, why should I have to make that choice when the service type is LoadBalancer? Wha

[2021-01-20 16:53] juan131 commented on #5075
Ups sorry!! There was at typo (a `=` symbol introduced by mistake) @bborovan

Please use:

[code]

[2021-01-20 17:00] andresbono commented on #5147
Hi @soonoo, in general, when you want to use ingress and https, the SSL/TLS connections end in the ingress and it proxies the requests to the backend through http. Note that the cert management is handled by the ingress if it is enabled.

[2021-01-20 17:06] igorwwwwwwwwwwwwwwwwwwww opened #5162 "Requesting a 11.x series release for Redis 6.0.10"
**Which chart**:
redis 11.3.4

**Is your feature request related to a problem? Please describe.**
We're looking to upgrade GitLab from Redis 5.0.9 to 6.0.10. As part of this upgrade, we'd also like to upgrade the chart.

However, we still need to support Helm 2. AFAIK, this means we need to use the 11.x series of the chart (as 12.x is Helm 3 only).

The latest release in that series is `11.3.4`, w

[2021-01-20 17:15] alemorcuq commented on #4710
You can find the initialization logic in the images' repository: https://github.com/bitnami/bitnami-docker-rabbitmq/blob/05f7e9fa05158f8238ace3e864528c238fc4ebfd/3.8/debian-10/rootfs/opt/bitnami/scripts/librabbitmq.sh#L661

It's very weird that this is only happening in your environment, I don't know what could be causing the issue.

[2021-01-20 17:16] alemorcuq commented on #5081
That will prevent the chart from creating events. However, I can't tell you if that is going to break something in the application if it depends on those events to function. It's possible that some k8s native features don't work as expected.

[2021-01-20 17:30] elucidsoft commented on #1544
I just had this happen again in production using latest everything.  I don't understand what's causing it but it seems related to cluster restarts.

[2021-01-20 17:42] carrodher commented on #5162
As you rightly said, the last version previous to the Helm 3 changes is `11.3.4` that includes Redis `6.0.9`. From that point, `12.0.0` was released removing the Helm 2 support.
You can use a previous chart major version, such as `11.3.4` but with a recent Redis version by setting a custom `image.tag` value, i.e `image.tag=6.0.10`.

About the tagging policy for images, there is an immutable tag re

[2021-01-20 17:43] dave-yotta commented on #4925
Not tried it yet :D It's on my list 📜

[2021-01-20 17:44] marcosbc commented on #5076
Hi @Bryce-huang, are you forcing a safe-to-bootstrap? If so it could be possible for the create_time of information_schema.tables to be reset.

[2021-01-20 17:46] marcosbc commented on #5089
Hi @ioannissavvaidis, thanks for reporting this. I've launched Harbor 2.1.3 container image releases, so hopefully it should be updating during the night or tomorrow.

[2021-01-20 17:48] franklin432 commented on #4925
read my post, it may help with what you are attempting to resolve.
https://github.com/bitnami/charts/issues/5157

[2021-01-20 17:50] ssh-sysadmin commented on #5025
Used this storage class and it worked: https://github.com/rancher/local-path-provisioner

Is this a storage class that's fine to use?

[2021-01-20 17:58] marcosbc commented on #4678
I see, in any case it looks like the "certs" directory is a typo and should really be "secrets".

It should be possible yes, although it would require to execute some extra commands.

Unfortunately including that package would not be enough. To add root certificates to the truststore you could follow these steps: https://docs.oracle.com/cd/E19906-01/820-4916/geygn/index.html

[2021-01-20 18:03] elucidsoft opened #5164 "Redis: Error condition on socket for SYNC: No route to host"
I don't think this https://github.com/bitnami/charts/pull/3658 is resolved.  I went a while without having this issue, then all the sudden I have had it happen twice in two weeks on our production server using the latest version of the helm package.

This is very maddening as it seems completely random.  I am using sentinel: enabled, and staticID: true. The error logs don't really contain anything

[2021-01-20 18:03] larryzhu2018 commented on #5144
I sent a PR to add the support https://github.com/bitnami/bitnami-docker-phpmyadmin/pull/30/files

now I got back "URL not found" instead of timing out. can you please give a hint how to troubleshoot this new error after setting PmaAbsoluteUri

[2021-01-20 18:40] larryzhu2018 commented on #5144
the issues were resolved when I enabled URL rewrite in the ingress level :-). So this is resolved. thanks.

[2021-01-20 18:40] #5144 closed

[2021-01-20 18:40] larryzhu2018 commented on #5144
the issues were resolved via PR  https://github.com/bitnami/bitnami-docker-phpmyadmin/pull/30/files

[2021-01-20 18:58] cinglese opened #5166 "Helm Chart Variable Misspelling"
The following lines have a variable misspelling:
https://github.com/bitnami/charts/blob/master/bitnami/postgresql/templates/statefulset.yaml#L342
https://github.com/bitnami/charts/blob/master/bitnami/postgresql/templates/statefulset.yaml#L344

It currently reads: **.Values.postgresqlTcpKeealivesCount**

The variable should read: **.Values.postgresqlTcpKeepalivesCount**

[2021-01-20 19:24] marcosbc commented on #1263
Hi @brogger71, we have just released a new major release of the Bitnami Docker image for Magento, [2.4.1-debian-10-r80](https://github.com/bitnami/bitnami-docker-magento#241-debian-10-r80). It includes major changes with respect to how the image is initialized, and now the source code for the initialization scripts is also published in the [rootfs](https://github.com/bitnami/bitnami-docker-magento

[2021-01-20 19:24] marcosbc commented on #1263
Re-opening since this issue was actually specific for Redmine

[2021-01-20 19:46] percenuage commented on #2891
Hello,

I'm using mongodb chart (v10.4.0) on GKE with production values (no arbiter) with 3 replicas. I have the same problem : All replicas are deployed in the same node which is not good for availability. Maybe I miss some configuration.

My current values :
[code]

![image](https://user-images.githubusercontent.com/6691104/105226504-58d0d080-5b60-11eb-838a-e65b80227949.png)

[2021-01-20 20:16] bborovan commented on #5075
Hi @juan131 Thank you for letting me know. I tried without exactly as you show above, but it still does not work and I get another error stating "Error: template: postgresql-ha/templates/postgresql/configmap.yaml:25:48: executing "postgresql-ha/templates/postgresql/configmap.yaml" at <.Values.postgresql.configuration>: range can't iterate over max_connections = 200 ", as seen here:

![image](https

[2021-01-20 20:43] jw-maynard commented on #5143
Hey @javsalgar I worked around this in a different way. I'm using the kube-prometheus chart which uses this chart as a sub chart. We don't have a particularly large cluster (it's tiny actually) and so the horizontal benefits of sharding really are not useful to us. Since this chart currently doesn't support sharding I added a relabel config like so
[code]
This makes all of the labels exactly the s

[2021-01-20 20:55] marcosbc commented on #4944
Hi @lilbumblebear, for adding support to Redis you'd need to update your Magento chart to [17.0.0](https://github.com/bitnami/charts/tree/master/bitnami/magento#1700), and specify `MAGENTO_EXTRA_INSTALL_ARGS` (i.e. via `--set magentoExtraInstallArgs`) to an appropriate value. In this issue you can find an example of the required flags: https://github.com/bitnami/bitnami-docker-magento/issues/165#i

[2021-01-20 21:07] marcosbc commented on #1508
Hi, we have just released a new major release of the Bitnami Docker image for Magento, [2.4.1-debian-10-r80](https://github.com/bitnami/bitnami-docker-magento#241-debian-10-r80). It includes major changes with respect to how the image is initialized, and now the source code for the initialization scripts is also published in the [rootfs](https://github.com/bitnami/bitnami-docker-magento/tree/maste

[2021-01-20 21:08] #1508 closed

[2021-01-20 21:22] timothydowney opened #5168 "bitnami/discourse How to upgrade Discourse?"
How do I perform a Discourse upgrade using the `bitnami/discourse` chart?  I'm running an instance of the chart inside
of my Kubernetes cluster and having issues when attempting an upgrade.

Firstly, thanks for this chart!  It's well done and has saved me a lot of time.

This is part of a process of migration out of an EC2 instance into Kubernetes.  The steps I've followed are:

- Install `bitnami

[2021-01-20 21:52] OmriHarary opened #5169 "[bitnami/spring-cloud-dataflow] Fully support use of external Kafka"
**Which chart**:
spring-cloud-dataflow

**Is your feature request related to a problem? Please describe.**
The spring-cloud-dataflow chart currently supports both internal and external databases, and both internal and external RabbitMQ, but only includes parameters in `values.yaml` for internal Kafka.

**Describe the solution you'd like**
The chart should support external Kafka in the same way tha

[2021-01-21 02:18] Bryce-huang commented on #5076
yes ,I set up safe-to-bootstrap, like this:
[code]

[2021-01-21 03:11] avanichy25 commented on #5064
@carrodher Thanks. Now i can connect to the application with load balancers but the question is that, i have 3 pods running for the kafka and it created 3 external service with load balancers.

When i give all three loadbalancers ip:port to my application it takes always the first broker. How about if the first pod, then our application wont work.  This should be handled in the application or if t

[2021-01-21 06:27] danielzhanghl opened #5170 "[bitnami/postgres-ha] full TLS support for backend PQ"
**Which chart**:
The name (and version) of the affected chart.
bitnami/postgres-ha
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

right now the PQPool support TLS setting with frontend, and how about backend?
and seems the PQ database still TLS disabled, is there procedure on how to en

[2021-01-21 07:01] soonoo commented on #5147
Hi @andresbono, thank you for your comment.
I'm using [nginx-ingress-controller](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough)'s ssl-passthrough feature and it works without ingress side certificates.

By the way, problem is solved with `ingress.extraPaths`. Another question is whether `http` service or ingress could be disabled.

Do you ha

[2021-01-21 07:47] cuijxin commented on #5150
cmd:
[code]
values.yaml:
[code]

[2021-01-21 08:20] ioannissavvaidis commented on #5089
Hi @marcosbc, thanks for your response!

[2021-01-21 08:24] juan131 commented on #4033
Great @justinmchase !!
I'm very glad that you could workaround the issues by repairing your volumes!

This chart uses the [RabbitMQ Peer Discovery Kubernetes](https://github.com/rabbitmq/rabbitmq-peer-discovery-k8s) that requires to make some basic consults to K8s API to discover other peers. If you have RBAC enabled in your cluster, you many find issues when setting `rbac.create=false`.

[2021-01-21 08:27] juan131 commented on #5144
Great!! Thanks so much for the PR!! Someone from the team will review it and ensure they're included in next revisions of the image.

[2021-01-21 08:39] juan131 commented on #5075
Hi @bborovan

You're 100% right.. For reasons that I don't really understand, this configuration parameter was implemented in a different way on this chart and it expects the values as a dict and using camelCase (see https://github.com/bitnami/charts/blob/master/bitnami/postgresql-ha/values.yaml#L437):

[code]

So I tried using the values below and it worked:

[code]

A configMap like the one belo

[2021-01-21 08:43] juan131 commented on #5169
Hi @OmriHarary

Thanks so much for this suggestion!! I totally agree with you and we should also support a way to use an external Kafka server when Kafka is chosen as messaging solution.

Would you like to contribute a PR adding this possibility (see [Contributing](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md))? Otherwise, some maintainer will do it for you.

[2021-01-21 08:44] miguelaeh commented on #4939
Hi @ValeriiVozniuk ,
Sorry I am not sure about which the issue is. Using the chart as subchart you can set the old pasword by using: `--set rabbimq.auth.erlangCookie=$RABBITMQ_ERLANG_COOKIE`. Note the prefixed `rabbitmq` that should be name used for the dependency

[2021-01-21 08:50] javsalgar commented on #5074
Thanks for the information on how to deploy ingress. And what about the AWS Load Balancer themselves, do you perform any configuration in the AWS Control Panel? I don't have that much experience working with these load balancers and I would like to reproduce the issue.

[2021-01-21 08:53] javsalgar commented on #5155
Hi,

Thank you very much for reporting! We will work on adding this to the template. If you want to speed up the process, feel free to open a PR and we will review it.

[2021-01-21 08:55] javsalgar commented on #4737
Good to know that with 200 seconds it worked. Definitely seems that, depending on the PVC technology, the process can take much longer.

[2021-01-21 08:56] FraPazGal commented on #5166
Hello @cinglese,

Thank you for catching this! We have created a PR fixing the typo, it should be merged fairly soon!

[2021-01-21 08:58] javsalgar commented on #5025
Hi,

I'm not sure that would be a good option as it depends on the local storage of the nodes, so there could be issues when changing switching the node a mariadb pod goes to . Do you have other volume provider avalable in your cluster?

[2021-01-21 09:02] miguelaeh commented on #5150
Hi @cuijxin ,
I can reproduce it. I am not expert about how PostgreSQL works internally but I would say it is expected. The databases `template0` and `template1` are used to create new database when using the `CREATE DATABASE` command. By default `template1` is used, so it is not recommended to modify it, if you edit that database the changes will apear in every new created database.
Could you exp

[2021-01-21 09:06] javsalgar commented on #5143
Hi,

Thanks for the research! Indeed, I think that a section in the readme would be very helpful for users. Feel free to open a PR and we will review it

[2021-01-21 09:06] FraPazGal commented on #5160
Hello @zenbones,

This was indeed a bug in the chart. It was addressed in https://github.com/bitnami/charts/pull/5047 and should now be solved. Thanks for reporting this!

[2021-01-21 09:08] ValeriiVozniuk commented on #4939
Hi Miguel,

The issue is that **there is no erlangCookie yet**, because initial deploy was with replicas=0, so rabbitmq did not create it **yet**. And if you pass the name for erlangCookie which should be created, then you will get a failure as there is no data there **yet** -> deadlock

[2021-01-21 09:09] javsalgar commented on #5168
Hi,

Thank you for using Bitnami. How was the backup/restore done? Was it using the Discourse interface? Could it be that you had extensions/plugins in your initial installation that were not transferred to the new instance? Does the issue happen when upgrading to an intermediate version, such as 2.3.0 or 2.4.0 (this is important for us to isolate the issue)

[2021-01-21 09:18] soonoo commented on #5170
@danielzhanghl
 I'm not sure but below properties might be working. Secret named `postgresql-cert` should exist in your cluseter.
[code]

[2021-01-21 09:22] Bryce-huang commented on #5076
Hi@marcosbc, can you reproduce this problem? I cannot reproduce this problem in a non-container environment. So I think this is a bug.
This is my configuration under non-container：
[code]

Result after restart：

[code]
My restart steps：
1. checking `grastate.dat` file
2.  If all nodes are: `safe_to_bootstrap: 0`
3. Then select the node with the largest seqno to update `safe_to_bootstrap: 0` and ex

[2021-01-21 09:45] vitali-zevako commented on #4346
The same issue, able to open it via port-forward, but via ALB ingress getting blank page (and 404 errors to load page scripts)

[2021-01-21 09:48] antonincms commented on #4546
I have the same issue with the chart v5.3.4 on EKS:
[code]
I guess it is a vendor thing... Maybe the documentation could be improved as follows ?
[code]

[2021-01-21 09:52] wingtch commented on #4925
I'm facing the same while nodeports and domain are set. The `mongodb_is_primary_node_initiated` script tries to initiate the replicaset primary node with the external IP (which is set by 'domain') and container pod (27017), not the frist nodeport in list. That is not reachable.  In my values.yaml they are different.
`
  externalAccess:
    enabled: true
    service:
      type: NodePort
      node

[2021-01-21 10:59] FurkanSalih commented on #2227
Values of `plugin` and `cluster_formation.peer_discovery_backend` are different. One of them is `rabbitmq_peer_discovery_k8s ` and the other is `rabbit_peer_discovery_k8s`. Is this bug or something?

[2021-01-21 11:05] hieulengoc opened #5173 "[bitnami/keycloak] externalDatabase password could be fetched from existing secret"
**Which chart**:
keycloak v1.2.0

**Is your feature request related to a problem? Please describe.**
when using externalDatabase, normally we already have the secret and configmap which contains all information to connect to that database. However, the current chart doesn't support a way to specify those configmap and secret directly but putting the values into the values.yaml.

**Describe the sol

[2021-01-21 11:21] jeff51419 commented on #5068
I upgrade the helm to v3.5.0, then i can update the value.
thanks a lot

[2021-01-21 11:21] #5068 closed

[2021-01-21 11:38] igorwwwwwwwwwwwwwwwwwwww commented on #5162
@carrodher Thanks for the in-depth response, we'll go with `image.tag` pinning for now. I'll go ahead and close this.

[2021-01-21 11:38] #5162 closed

[2021-01-21 12:27] iamaverrick commented on #5074
Hi,

that’s the great thing about using the nginx ingress controller it takes care of deploying the AWS NLB for you so you really don’t have to do anything else but deploy the helm chart and wait until it automatically configures everything for you. In the annotation part of the configuration you are actually configuring the AWS NLB.

hope this helps please feel frees to reach out

[2021-01-21 14:28] timothydowney commented on #5168
Hi @javsalgar  -- This is a good lead.  I have two plugins from the initial install that I have not been able to migrate.  To answer your other question I grabbed a tarball of a backup from my original instance and I'm using the built-in restore capability on my new k8s instance to restore it.

As for the plugins -- On my existing EC2 instance, I have three plugins installed:

* ldap
* [discourse-

[2021-01-21 15:13] carrodher commented on #5157
Thanks for the detailed information, as there are a couple of issues from different users with different configurations and use cases I think it is something we need to evaluate properly.
I'm going to create an internal task to dedicate some efforts (according to the rest of the priorities the team has) to implement any improvement in this chart. Apart from that, any PR to the chart itself or the

[2021-01-21 15:14] carrodher commented on #4925
I'm copying here the same message I post in the new issue:

I'm going to create an internal task to dedicate some efforts (according to the rest of the priorities the team has) to implement any improvement in this chart. Apart from that, any PR to the chart itself or the documentation that can help improve the use of this chart is more than welcome

[2021-01-21 15:42] dani8art commented on #5140
Could you share with us your ACL configuration, please?

[2021-01-21 15:47] 8297530225 commented on #5140
I have configured acl users  in redis db with the following command

Acl setuser test on >redis1234

Where redis1234 is password and test is username

 Using Auth test redis1234 ..am switching to that user.. but am unable to
coonect through client to acl user directly.. I do not want default user to
come in between.. please help

On Thu, Jan 21, 2021, 9:13 PM Daniel Arteaga <notifications@github.c

[2021-01-21 15:50] dani8art commented on #1544
Hi @elucidsoft, could you share info about your deployment, please?

[2021-01-21 16:16] bborovan commented on #5075
Hi @juan131

Thank you kindly for all your help! That works now and great to see!

Would be good if someone can update the documentation on this so that others don't get confused too ;)

Thanks again!
Brent

[2021-01-21 16:31] marcom71 opened #5176 "[bitnami/redis-cluster] High Availability with Redis cross replication"
**Which chart**:
bitnami/redis-cluster

**Is your feature request related to a problem? Please describe.**
We are deploying bitnami/redis-cluster with one replica for each master into a Kubernetes cluster with the same number of nodes as Redis masters. It would be useful to have each Redis master and its slave deployed on different nodes to provide high availability if one node fails. We need bitn

[2021-01-21 16:31] youngnicks commented on #4082
I was able to get this idea working. When the current master goes down a new one is elected and the labels are updated. However, it seems to take Sentinel longer to elect a new master and run the script than it does for Kubernetes to bring up a replacement pod. Because of this, it seems to be better to not use Sentinel and Cluster as it is less resources and faster recovery times. I'm wondering if

[2021-01-21 16:54] erpel commented on #4986
I'm also seeing this repeatedly:

`$ 2021-01-21 16:43:32.943 GMT [21079] FATAL:  password authentication failed for user "repmgr"
2021-01-21 16:43:32.943 GMT [21079] DETAIL:  Password does not match for user "repmgr".
	Connection matched pg_hba.conf line 1: "host     all            repmgr    0.0.0.0/0    md5"`

It started after running

`helm upgrade --install --namespace pgha11 --create-namespace

[2021-01-21 16:58] marcosbc commented on #5170
@danielzhanghl Please check @soonoo's comment

[2021-01-21 17:08] carrodher commented on #5064
It depends on the configuration, are you using the `autoDiscovery` parameter? In [this section](https://github.com/bitnami/charts/tree/master/bitnami/kafka#using-loadbalancer-services) of the README, you can find the differences. With `autoDiscovery` there is an initContainer looking for the IPs, while without it you need to know beforehand the IPs and set them in the `externalAccess.service.loadB

[2021-01-21 17:09] marcosbc commented on #4986
Hi @erpel, that could be because you upgraded without specifying proper passwords. Note that when you `helm install`'d for the first time, you should have stored all the generated passwords.

In particular, you seem to be missing these values:

[code]

[2021-01-21 17:16] marcosbc commented on #5076
Hi @Bryce-huang, thanks for the details.

I don't have any idea why this happen, it could be a bug in how MariaDB is initialized, so I've created an internal task to further investigate this issue. Unfortunately I cannot give an ETA for when we will start working on that, as we are a small team and have a huge backlog.

If you want to investigate on your side, you can find the source for the initi

[2021-01-21 17:31] andresbono commented on #4346
Hi @vitali-zevako, can you share the commands that you are using to deploy the RabbitMQ chart? Could you also check the question from @alemorcuq? https://github.com/bitnami/charts/issues/4346#issuecomment-728769052

[2021-01-21 17:52] zenbones commented on #5160
I'll close this then. Thanks.

[2021-01-21 17:52] #5160 closed

[2021-01-21 18:06] zenbones opened #5177 "Memcached chart updated to 5.4.3 but using it fails in helm update"
memcached 5.4.3

Error: can't get a valid version for repositories memcached. Try changing the version constraint in Chart.yaml

[2021-01-21 19:17] OmriHarary commented on #5169
Hi @juan131

Schedule permitting, I will work on contributing this.

[2021-01-21 21:21] pixtim opened #5178 "[Bitnami / Keycloak] Automatic Keycloak realm import not working"
**Which chart**:
keycloak 1.1.5

**Describe the bug**
Unable to configure chart to import for `realm.json` when setting `KEYCLOAK_IMPORT` environment variable with `-Dkeycloak.profile.feature.upload_scripts=enabled` argument.

**To Reproduce**
- Create a ConfigMap with the `realm.json` content exported from Keycloak UI.
- Mount it to the Keycloak pod and set the `KEYCLOAK_IMPORT` and `KEYCLOAK_EXT

[2021-01-21 21:51] cocampbe opened #5179 "airflow install KubernetesExecuter redis.enable=false not working"
**Which chart**:
airflow 7.1.3

**Describe the bug**
When I run helm install to use the KubernetesExecutor with the seetings per the docs, I get the following error.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run 'helm -n airflow install airflow bitnami/airflow --set service.type=LoadBalancer --set executor=KubernetesExecutor --set redis.enabled=false --set rbac.create=true --s

[2021-01-21 22:21] justinmchase commented on #4033
@juan131 It needs to find the peers for clustering correct?

Which parts of the API does it need access to, the pods api I'm guessing? I am actually able to create such a Role and RoleBinding (I've done it for other pods) but I have to do it outside of this chart as it requires a User account to create them and not a ServiceRole which is what I'm using to deploy from the CI server.

Thanks for let

[2021-01-21 22:57] elucidsoft commented on #1544
It's sentinel based, staticID enabled. The rest is the default configuration. It's also not repeatable, I have attempted to force it to happen by deleting the pods manually. I tried this for hours and it always recovered. Every single time. I tried restarting the nodes and still it recovered. I have gone 4 months without this happening, but I just had it happen twice in two weeks as well.

What's

[2021-01-22 01:53] danielzhanghl commented on #5170
@soonoo thanks that seems work!
 check the pq is ssl enabled:
====

cat /opt/bitnami/postgresql/conf/postgresql.conf |grep ssl
ssl = 'on'
#ssl_ca_file = ''
ssl_cert_file = '/var/run/postgresql-cert/tls.crt'
#ssl_crl_file = ''
ssl_key_file = '/var/run/postgresql-cert/tls.key'

=====
**only a log noise like( I change the mode to 600 when mount):**

postgresql-repmgr 09:44:56.23 INFO  ==> Configuring

[2021-01-22 01:53] #5170 closed

[2021-01-22 02:02] avanichy25 commented on #5064
@carrodher We have enabled the `autodiscovery` and init container does the job for us.  But still the question is, if I run 3 pods it generates the 3 external load balancer ips. In my application I need to use all three external load balancers and write a logic to select which one is master before i do anything or is there any other way we can handle the same within the kafka itself ?

[2021-01-22 02:55] wantdrink opened #5181 "[bitnami/redis] All pods in CrashLoopBackOff status after rebooting worker nodes"
**Which chart**:
bitnami/redis redis-12.6.2 app version 6.0.10

**Describe the bug**
After rebooting all of the K8S worker nodes, the redis pods are always in CrashLoopBackOff status.

**To Reproduce**
Steps to reproduce the behavior:

1. Set redis image with 5.0.10-debian-10-r81, sentinel image with 5.0.10-debian-10-r78.
2. cluster = true, slaveCount=3
3. helm install mycache bitnami/redis  -n te

[2021-01-22 03:04] mohanagandlla opened #5182 "[bitnami/influxDB] Server is restarting by itself while reading the data"
HI team
I have deployed the bitnami/influxDB which is used for storing the Prometheus data. The data sending is good and storing data read and write operation are also good. I am maintinag the data inside the DB with retention period as 30 days. After some days the InfluxDB by its self server is disconnecting and restating happening and there is no errors its just reading the stored data to connec

[2021-01-22 03:43] rahulsadanandan opened #5183 "[bitnami/rabbitmq] rabbitmq with storageClass nfs takes longer time to start ."
**Which chart**:
rabbitmq:7.7.1

**Describe the bug**
When using managed NFS as a storage class (efs) with newer bitnami image(3.8.9-debian-10-r58) it takes a longer time to start (about 15 minutes).
the older image in 6.x charts (3.8.2-debian-9-r0) don't have this issue.

**To Reproduce**
1) Install rabbitmq chart with storageClass (nfs)
[code]

**Expected behavior**
Rabbitmq should not take 15 m

[2021-01-22 03:59] wantdrink commented on #5181
Rebooted again after 1 hour (to test another chart bitnami/rabbitmq), now all redis pods status are Running.
The bitnami/rabbitmq pods also could be recovered automatically, one pod is running first, and the other two changed form 0/1 running to 1/1 after more than 10 minutes.

So if pods are always in CrashLoopBackOff  status after rebooting, is there any simple way to manually recover them witho

[2021-01-22 05:02] chukka commented on #4936
@carrodher We are facing the same issue #5183 with 7.x charts of bitnami

Also , we tried with `6.25.2` chart of bitnami with image tag - `3.8.2-debian-9-r0`, it starts as expected without any delay on nfs storage

Could you please check if there any changes

1. Docker images of bitnami (3.8.2-debian-9-r0 vs 3.8.9-debian-10-r58)
2. 6.x to 7.x chart changes

cc @rahulsadanandan

[2021-01-22 05:05] haizafrog commented on #2866
Hi @rafariossaa

Thank you very much for the explanation. It make sense :)
I will test it and update if there will be any issue.
Thanks,
Hai

[2021-01-22 06:09] vitali-zevako commented on #4346
hi @andresbono
Here is my values.yaml
[code]

Deploying it with:
`helm upgrade rabbitmq bitnami/rabbitmq --install -f values.yaml`

Resulting ingress:
[code]

When i opening management endpoint in browser it shows blank page (load only root page and 404 for all js files)

[2021-01-22 07:11] zhaofang1995 opened #5185 "[bitnami/elasticsearch] Install es on k8s cluster"
**Which chart**:
elasticsearch 7.10.2

**Describe the bug**
[WARNNING]master not discovered yet, this node has not previously joined a bootstrapped (v7+) cluster,after installing latest version with comand "helm install elasticsearch bitnami/elasticsearch"

**LOG**
[code]

[2021-01-22 07:55] hatzhang opened #5186 "[bitnami/rabbitmq] Starting stucked and then memory leak by eating 32G memory"
My test machine is a Arch linux vm has 32G memory, and i installed Kind for k8s cluster provision.
After i intall bitnami/rabbitmq, the pod's status won't be ready. When check the log, it seemed stucked at ** Starting RabbitMQ **, and the log continued when i try to helm uninstall it.
And by then, all memory were consumed. And consumed by some rabbitmq-diagnostics tool.
So what might be the reason

[2021-01-22 08:25] javsalgar commented on #5074
Hi,

Thank you very much for the input! I will ping you when I'm able to reproduce the issue.

[2021-01-22 08:39] andresbono commented on #5178
Hi @pixtim, there are some things that you can try. Some considerations:

- It seems that the `upload_scripts` option is not needed anymore and it is deprecated. See this table: [Server Installation: Profiles](https://www.keycloak.org/docs/11.0/server_installation/#profiles).
- The bitnami/keycloak container doesn't read the `KEYCLOAK_IMPORT` environment-variable, so you will need to specify the p

[2021-01-22 08:41] javsalgar commented on #5155
Hi,

I created this PR that should fix the issue https://github.com/bitnami/charts/pull/5187

[2021-01-22 08:42] erpel commented on #4986
Thank you very for the hint @marcosbc. This is a pattern I've never seen before and did not expect, sorry for the noise.

[2021-01-22 08:43] juan131 commented on #5169
Sure @OmriHarary ! Take all the time you need.
We really appreciate when users take a step forward and contribute with great ideas to improve our charts. Thanks so much!!!

[2021-01-22 08:44] carrodher commented on #5177
It seems you are using Memcached as a subchart, right? What does the `Chart.yaml` (and `Chart.lock`) look like in your parent chart?

If you want to use the latest major version you can define something like the below code block in your `Chart.yaml`:
[code]
then when running `helm dep update` or `helm dep build` a `charts/` folder with the latest version of Memcached chart (in branch 5) should app

[2021-01-22 09:19] mariantrifu commented on #5155
Hi,
Thanks, I'm waiting for PR to be accepted and I'll try again.

[2021-01-22 09:29] miguelaeh commented on #2227
Hi @FurkanSalih ,
I just checked it and it seems to be correct. the pluggin name seems to be different from the `discovery_backend`.
https://www.rabbitmq.com/cluster-formation.html -> check here the `rabbit_peer_discovery_k8s`
https://github.com/rabbitmq/rabbitmq-peer-discovery-k8s -> check here the plugin name

[2021-01-22 09:29] ioannissavvaidis commented on #5089
Hi @marcosbc
New chart version fixed the issue!

Thank you!

[2021-01-22 09:29] javsalgar commented on #5168
Hi,

I tried installing the latest version of the chart and found no issues when installing the plugin .

![image](https://user-images.githubusercontent.com/1133777/105472829-ace0cf80-5c9c-11eb-8a35-6555a0b2d0c3.png)

I'm curious if the latest discourse admin can import backups from previous versions. Did you try that?

[2021-01-22 09:30] #5089 closed

[2021-01-22 09:39] juan131 commented on #5075
Hi @bborovan

I'm glad you could get it working!!

Indeed, I'd say that we need to stop using this `camelCase -> sneakcase` transformation because I can't really find any advantage on using it, and I find it very confusing.

I'll create a PR to address this.

[2021-01-22 09:39] miguelaeh commented on #4939
Hi @ValeriiVozniuk ,
The erlanCookie is created by Kubernetes in a secret not by RabbitMQ, so even if you have `replicas` set to `0` it should exist. YOu must obtain it executing something like:
[code]

[2021-01-22 09:43] #5166 closed

[2021-01-22 09:52] juan131 commented on #5185
Hi @zhaofang1995

Could you please share the command you used to install the ES chart? If you're using a custom **values.yaml**, could you also share its content? Thanks in advance.

[2021-01-22 09:58] xrow commented on #1263
I guess this means the next update of redmine will ship it. Lets us know for testing once released.

[2021-01-22 10:06] juan131 commented on #4082
Hi @youngnicks

Sorry I'm a little bit confused. What do you mean when "it seems to be better to not use Sentinel and Cluster"? Are you talking about the Redis Cluster chart?

It shouldn't affect that as far as each container (sentinel and redis) has enough resources.

[2021-01-22 10:08] juan131 commented on #5176
Hi @marcom71

I'm afraid that, since the same statefulset is used to create both slave and master replicas, it's not possible to configure the affinity to guarantee that.

That's also the reason why each pod has its own loadbalancer IP when you expose it outside the cluster. There's no way to use a single service to load balancer between master or slave replicas since you cannot distinguish them b

[2021-01-22 10:10] #4983 closed

[2021-01-22 10:12] marcosbc commented on #4986
No worries! Glad to help.

[2021-01-22 10:12] #4986 closed

[2021-01-22 10:16] zhaofang1995 commented on #5185
Everything is default . Just use this command

[2021-01-22 10:18] juan131 commented on #4033
Hi @justinmchase

It consults the API for peers discovery. As you can see in the Role below, it just need permissions to "get" endpoints, and "create" events.

- https://github.com/bitnami/charts/blob/master/bitnami/rabbitmq/templates/role.yaml

[2021-01-22 10:20] FraPazGal commented on #5182
Hello @mohanagandlla,

Can you obtain the logs of the DB when it tries to come back up? Also, does the pod keeps restarting after the first time? If not, you may be able to retrieve the logs of the original pod with `kubectl logs podname –-previous`.

I can't be sure without logs, but if it is failing after a long run time period it could be an error related to reaching a limit on number of concur

[2021-01-22 10:27] zhaofang1995 commented on #5185
Everything is default. The only action is “helm install ealsticsearch bitnami/elasticsearch ”

[2021-01-22 10:28] andresbono commented on #4346
Hi @vitali-zevako, there should be a problem with the annotations that you are using.

If you check the annotations table: https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/ingress/annotations/#annotations

You might be missing `alb.ingress.kubernetes.io/scheme: internet-facing`: [`alb.ingress.kubernetes.io/scheme`](https://kubernetes-sigs.github.io/aws-load-balancer-cont

[2021-01-22 10:51] marcosbc commented on #5186
Hi @hatzhang, RabbitMQ is not stuck at "Starting RabbitMQ", when it reaches that point it means that the initialization completed and RabbitMQ will be running like you expect it to be.

As for memory usage, you may want to set the [`RABBITMQ_VM_MEMORY_HIGH_WATERMARK` environment variable](https://github.com/bitnami/bitnami-docker-rabbitmq#memory-and-disk-configuration) via `extraEnvVars`/`extraEnv

[2021-01-22 11:35] dani8art commented on #5173
Hi @hieulengoc, I've created a PR, please let's move the conversation there!

Thanks for the feedback!

[2021-01-22 11:41] dani8art commented on #5140
It seems by default ACL are created the most restrictive as possible try to give some access to the user like: https://redis.io/topics/acl#what-happens-calling-acl-setuser-multiple-times

[2021-01-22 12:23] pixtim commented on #5178
Thanks @andresbono! :smiley:

I used the `keycloak.import` system property and now my realm is being imported.

[code]

The material I used must have been outdated. The helm chart is working really well, thanks Bitnami!

[2021-01-22 12:23] #5178 closed

[2021-01-22 12:36] carrodher commented on #5064
What is the result of `helm get notes RELEASE_NAME`? The output of that command should show the instructions to access Kafka from inside and outside the cluster depending on the custom parameters you're using.

I don't know what is your specific use case or the application, but as a general rule, Kafka is used as a "peer to peer" architecture and there is no master/slave or primary/secondary confi

[2021-01-22 12:51] #5075 closed

[2021-01-22 12:52] andresbono commented on #5147
I don't think that is possible right now, @soonoo.

Maybe you can use the [force-ssl-redirect](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-side-https-enforcement-through-redirect) annotation to help with what you want.

You can tweak a little bit the helm chart parameters and at least you can restrict the ports in the service and the container to 4

[2021-01-22 13:42] starspoint opened #5190 "Mongodb: Readiness probe failed"
I updated my Helm repo and upgrade my chart for bitnami/mongo. Chart: 10.5.0 , App: 4.4.3
However it threw me message with : Readiness probe failed

![image](https://user-images.githubusercontent.com/13492875/105498031-9c5f4200-5cfa-11eb-9e23-306caa9d6eeb.png)

Screenshot for your reference

[2021-01-22 14:02] mohanagandlla commented on #5182
Hi @FraPazGal I didn't enable the backUP and after the server disonnection the after some time pod is also restating so i lost the pod logs  and my values.yaml is

[code]
I did'nt changed any new in values.yaml but i have passes the DB user and Password at helm command

my deployment file is

[code]

and i have already mentiond my config file above.

[2021-01-22 14:16] starspoint commented on #5190
Resolve with using the latest values.yaml

[2021-01-22 14:16] #5190 closed

[2021-01-22 14:54] ValeriiVozniuk commented on #4939
Hi Miguel,

Thank you for your time, I've tried to reproduce the issue I've initially had with passing `--set rabbimq.auth.erlangCookie`, and was unable to do so. Today all was working fine, and I didn't saw the error I've initially had (it was different from "'auth.erlangCookie' must not be empty", so now I'm not sure what was causing it. I'm closing this for now, thanks again

[2021-01-22 14:54] #4939 closed

[2021-01-22 15:12] paulczar opened #5191 "[Harbor] harbor upgrade fails to start several pods."
**Which chart**:

Harbor 9.3.0

**Describe the bug**

When you upgrade Harbor several Deployments don't properly roll the pods as they have PVCs attached. Whether upgrading for a new version, or upgrading for changes to a config (such as a TLS cert).

**To Reproduce**

[code]

[code]

[code]

[2021-01-22 15:20] paulczar opened #5192 "[Harbor] In Harbor when you go to `about` it shows version as empty."
I guess this is more of an image build problem, but when I deploy harbor via the chart, the about->version in the web app shows as empty.

[2021-01-22 15:32] andresbono commented on #5092
Hi @Antiarchitect, but would it make sense to use different volumes for each replica? I'm thinking on the following alternatives:

- Set the `jobservice.jobLogger` value to a different value than `file`.
- Use a different storage class with ReadWriteMany access.
- Modify the affinity settings so that all the replicas are scheduled in the same node.

[2021-01-22 15:35] Antiarchitect commented on #5092
@andresbono I see now. Missed jobLogger parameter. Thank you so much!

[2021-01-22 15:35] #5092 closed

[2021-01-22 15:47] #5155 closed

[2021-01-22 16:38] Brafgard opened #5197 "Fail to update redis chart from v12.5.* to 12.6.* - nil pointer evaluating interface {}.labels error appeared"
**Which chart**:
bitnami/redis

**Describe the bug**
Update from the chart from version 12.5.* to 12.6.* by helm upgrade command failed with error
"
Error: UPGRADE FAILED: template: redis/templates/redis-slave-statefulset.yaml:345:22: executing "redis/templates/redis-slave-statefulset.yaml" at <.Values.slave.statefulset.volumeClaimTemplates.labels>: nil pointer evaluating interface {}.labels
"

**

[2021-01-22 16:39] bborovan commented on #5075
Hi @juan131

It seems I spoke too soon, and after further investigation it seems the Helm chart ran fine now after your suggested changes to the syntax, however, any time that I add the configuration section as you described the Postgresql cluster does not start up.

For example if i run:
helm install -f test.yaml postgresql-ha bitnami/postgresql-ha --set postgresql.password=MYPASSWORD

And the te

[2021-01-22 16:41] KlausIllmayer commented on #4521
I can confirm that there is a problem with special characters for the password (probably also for user and other settings). I had a hash character (#) in it and after switching to a password without any special characters it worked.

Before I had problems when it comes to the part of installing Drupal (as pointed out in the additonal logs by @xmfreak but with a slightly different error message tel

[2021-01-22 16:50] rafariossaa commented on #4546
Hi,
  Thanks for the suggestion.
  I have sent a PR, to add more info to the REAMDE and also to the values.yaml

[2021-01-22 16:53] rafariossaa commented on #2866
Hi,
  You are welcome.
  I am procceding to close this issue now.
  Please, don't hesitate to reopen it or open a new one if you find more issues.

[2021-01-22 16:53] #2866 closed

[2021-01-22 17:05] holleyism commented on #5077
Closing since the PR was merged.

[2021-01-22 17:05] #5077 closed

[2021-01-22 17:10] zenbones commented on #5177
- name: memcached
    version: 5.4.3
    repository: https://charts.bitnami.com/bitnami

But it resolved itself. I suggest that the build system may have been logging behind the push since I've made no changes. But all is well.

[2021-01-22 17:10] #5177 closed

[2021-01-22 17:12] carrodher commented on #4936
Hi @chukka @rahulsadanandan, some questions in order to try to find where the issue can be located.

- Are you able to see the same issue by using the latest version (at this moment 8.7.4 with image `3.8.10-debian-10-r0`)?
- When you say it worked in 6.X, are you referring to the past or in this very moment? I mean, what is your use case from the following scenario?
   - Scenario 1: Installed 6.X

[2021-01-22 17:21] carrodher commented on #4936
BTW, I am closing https://github.com/bitnami/charts/issues/5183 in favor of this one, just to keep all the conversation in a single place

[2021-01-22 17:24] rafariossaa commented on #5179
Hi,
 Thank your for spotting this.
  Yes, currently the logic fails in the case you don't need redis.
  We will come back with a fix for this. Meanwhile if you want to send a PR we will be glad to review and merge it.

[2021-01-22 17:24] carrodher commented on #5183
Hi, as it seems there is an already existing issue for this topic (https://github.com/bitnami/charts/issues/4936) I am closing this one in favor of the previous one. I just added a comment mentioning you in that ticket. In this way, we can keep all the information together without duplicating efforts.

[2021-01-22 17:24] #5183 closed

[2021-01-22 17:25] dani8art commented on #1544
Hi @elucidsoft thanks for the info it seems to be very related to https://github.com/bitnami/charts/issues/5181, I will check if I can reproduce it in my local environment and figure out the issue.

[2021-01-22 17:27] dani8art commented on #5181
Hi @wantdrink thanks for the info it is very related to the linked issue, we will check if we can reproduce it in our local environments and figure out the issue.

[2021-01-22 17:28] rafariossaa commented on #5164
Hi,
  Could you indicate which cluster are you using, the install command or values you are using and if you have some clue about the random conditions? Maybe nodes shutdown or something like this.

[2021-01-22 17:31] rafariossaa commented on #5191
Hi,
  Could you list your pvc and the nodes they are attached too ? also the pods.
  Maybe the new pods are being deployed in a different node that does not have that PVC.

[2021-01-22 18:01] rafariossaa commented on #5148
HI,
  I am sorry, currently our chart does not support remote logging.
  I am creating a internal task to review this kind of features, and maybe adding then in a future.

[2021-01-22 18:11] beltran-rubo commented on #5148
@VORUSRIK000 we are also open for pull requests or any contributions to the catalog, any suggestion or change will be welcome and reviewed! Thanks

[2021-01-22 18:33] youngnicks commented on #4082
I was referring to the cluster option in this chart which enables master/slave. There is still a benefit to using master/slave topology if you have a high read load. The application I'm currently working on does not have that so there is no benefit for us.

Sentinel OTOH took longer to elect a new leader than Kubernetes took to spin up a replacement pod. I don't think resources are an issue but ra

[2021-01-22 18:34] migmartri opened #5199 "Best way to purge installation including statefulset PVC?"
Hi!

I am wondering what's the best way to purge the installation of a chart that contains a PVC provisioned by the statefulset controller.

For example in WordPress

[code]

What's the best way to delete all the chart resources including the ones created by a statefulset that will not require me to delete the statefulset manually?

I could use labels and such but I am wondering if there is someth

[2021-01-22 19:26] peters95 commented on #4936
@carrodher You closed both tickets. Was this resolved?

[2021-01-22 20:33] zenbones opened #5201 "[bitnami/memcached] High availability does not consistently hash"
memcached 5.4.3

I have a setup with 2 replicas in high availability. The clients use the service endpoint, which seems to do round robin selection between the 2 instances, which means that keys inserted by one client are not visible to the other half the time. The service endpoint behavior is expected, but because Memcached has no clustering of its own, I would think part of the high availability

[2021-01-22 20:37] sportmma opened #5202 "Magento GCP Linux BUG"
Hello. Updated Magento GCP to version 2.4.1-6 by mistake. According to your changelog, the latest version is 2.4.1-3. Version 2.4.1-6 is for OS X and sneaks into GCP Linux. I am asking for a quick solution to this problem.

[2021-01-23 00:07] carrodher commented on #4936
This issue is not closed, for me it is appearing as Open

[2021-01-23 01:58] elucidsoft commented on #1544
I think that issue is what I'm experiencing yes...

[2021-01-23 02:04] JfrogPrasanna commented on #4936
@carrodher It is indeed Scenario 2. We tried 6.x now and it does work - but be aware that the version of rabbit is also older one.
We wanted to conclude that this is not an issue with EFS, as 6.x works.
Also concluded that it is not an issue with `3.8.9-debian-10-r20` as it works with NFS service when mounted into the container.

We have zeroed in on the chart, we will progress this further on Mon

[2021-01-23 03:45] wantdrink commented on #5181
Thanks @dani8art. #1544 looks the same.

[2021-01-23 07:16] entrymon opened #5205 "MYSQL Helm chart - function "lookup" not defined"
**Which chart**:
MySQL chart

**Describe the bug**
Copied latest values.yaml and added password in it from repo - https://github.com/bitnami/charts/blob/master/bitnami/mysql/values.yaml

helm install mysql  bitnami/mysql -f mysql-values.yaml --namespace=default

**To Reproduce**
Copied latest values
try install repo

**Expected behavior**
helm chart should have got deployed

**Version of Helm and

[2021-01-23 09:34] hatzhang commented on #5186
@marcosbc , while, the pod won't be ready which means readyness check failed, and my application can't connect to it.
As for memory leak, this "rabbitmq-diagnostics" process were created a lot, and each of it will consume 5% of memory , that is 1.5G, can't the existing one be replaced with new one?
I think the problem here is pod won't go ready, any clue about this?

[code]

[2021-01-23 10:08] carrodher commented on #4936
Thanks! I hope to continue looking at this topic on Monday as well, an answer to the other questions would be very useful for us in order to debug the issue on our side.

[2021-01-23 14:48] drmy commented on #4585
Hi @dani8art ,

I have created a PR for the redis README.md change for the metrics parameter usage:

https://github.com/bitnami/charts/pull/5207

[2021-01-23 15:48] chukka commented on #4936
@carrodher Appreciate the follow up on this. Replies inline :)

- Are you able to see the same issue by using the latest version (at this moment 8.7.4 with image 3.8.10-debian-10-r0)?
 @chukka - Yes , @sachgaik-xl  tried on 8.6.x but it occurs on latest chart as well( we are still using 7.x charts implies apiVersion: 1 in our charts)
- When you say it worked in 6.X, are you referring to the past o

[2021-01-23 17:50] #4560 closed

[2021-01-23 17:50] #3920 closed

[2021-01-23 17:50] #4665 closed

[2021-01-23 17:50] #4675 closed

[2021-01-23 17:50] #4706 closed

[2021-01-23 17:50] #3931 closed

[2021-01-23 17:50] #4723 closed

[2021-01-23 17:50] #4756 closed

[2021-01-23 17:50] #4837 closed

[2021-01-23 17:50] #4834 closed

[2021-01-23 17:50] #4809 closed

[2021-01-23 17:50] #4134 closed

[2021-01-23 17:50] #4474 closed

[2021-01-23 17:50] #4526 closed

[2021-01-23 17:50] #4535 closed

[2021-01-23 17:50] #4795 closed

[2021-01-23 17:50] #4827 closed

[2021-01-23 17:50] #4773 closed

[2021-01-23 17:58] EArminjon commented on #4805
It was an infrastructure issue, i use an another solution : the nfs storage.

[2021-01-23 18:05] acim commented on #4899
This is already fixed.

[2021-01-23 18:05] #4899 closed

[2021-01-23 18:24] wereldbolt commented on #4365
Hi @marcosbc , thanks for you clarifaction and for pointing me in the right direction.

[2021-01-24 03:00] #4670 closed

[2021-01-24 03:00] #4188 closed

[2021-01-24 03:00] #4366 closed

[2021-01-24 03:00] #4367 closed

[2021-01-24 03:00] #4216 closed

[2021-01-24 03:00] #4086 closed

[2021-01-24 03:00] #4369 closed

[2021-01-24 03:00] #4401 closed

[2021-01-24 03:00] #4407 closed

[2021-01-24 03:00] #4398 closed

[2021-01-24 03:00] #4386 closed

[2021-01-24 03:00] #4308 closed

[2021-01-24 03:00] #4384 closed

[2021-01-24 03:00] #4394 closed

[2021-01-24 03:00] #4420 closed

[2021-01-24 03:00] #4344 closed

[2021-01-24 03:00] #4342 closed

[2021-01-24 03:00] #4406 closed

[2021-01-24 03:00] #4425 closed

[2021-01-24 03:00] #4426 closed

[2021-01-24 03:00] #4240 closed

[2021-01-24 03:00] #4417 closed

[2021-01-24 03:00] #4032 closed

[2021-01-24 03:00] #4431 closed

[2021-01-24 03:00] #4597 closed

[2021-01-24 03:00] #4606 closed

[2021-01-24 03:00] #4590 closed

[2021-01-24 03:00] #4568 closed

[2021-01-24 08:06] yardenshoham opened #5208 "[bitnami/nifi] Request for an apache nifi chart"
**Which chart**:
nifi

**Is your feature request related to a problem? Please describe.**
I want to deploy a highly-available nifi instance. For every other 3rd component in my cluster, a bitnami helm chart exists.

**Describe the solution you'd like**
I would like a nifi bitnami helm chart.

**Describe alternatives you've considered**
I thought about using [this](https://github.com/cetic/helm-nif

[2021-01-24 10:55] ylacaute opened #5210 "Unable to use RewriteEngine on htaccess"
Chart bitnami/wordpress
helm.sh/chart: wordpress-10.4.6
docker.io/bitnami/wordpress:5.6.0-debian-10-r32

**Describe the bug**
When we add a security plugin (Wordfence or whatever) which update the .htaccess files, Wordpress is not working anymore (many 404, 502 and even, sometimes, 503 HTTP errors).

This ticket focus on `RewriteEngine On` : as soon as we are using it, all urls break and return a

[2021-01-24 13:17] alemorcuq commented on #2223
Hi! I've been able to reproduce the issue, but only when using `admin` as the username. As shown below, when installing the chart with the username `admin` the `users.xml` file doesn't have any information and I'm not able to login:

[code]
[code]

However, if I use a different username, the `users.xml` file gets populated and I can login successfully:

[code]
[code]

 I have created an internal t