[2021-02-28 23:05] kishorkk91 commented on #5618
I am using version 3.6.2 of fluentd and I have used the default ConfigMapFiles for forwarder and aggregator from values.yaml. After so many trials and errors I am able to see some logs but unfortunately since the year 1970.01.01 and of course in kibana I see logstash logs from **1970.01.01**
I have the same date issue on all 3 clusters of mine!!

kkot@ltp-str-00-0085:~/logging-int$ kubectl logs -l

[2021-03-01 03:37] shenqinb-star commented on #5612
since the error occurs every 1 seconds, I guess the potential cause is Redis use non-tls for heartbeat health checking. the command like `redis-cli -h localhost -p 6379 -a xp7hK6wLffj7NuXKCLftnAZx ping`. but I didn't find the place to re-configure it.

[2021-03-01 05:05] AkashRajvanshi commented on #5574
Hey, Sorry for the late reply. when I use this, it will throw an error for volume mounts

[code]

[2021-03-01 06:53] bharat15-ml commented on #5615
Hi @marcosbc, I wanted to run a script for each pod to take a backup of data, for that have added a extra deployment in to values.yaml, ultimately this extra deployment is  running as cronjob pod at specific interval.

Currently facing Two Problems, Pls provide your thoughts on this:-

1. cronjob pod is having a seperate persistent location to take a backup of each pod. for example- "/persistent/b

[2021-03-01 07:13] mehmetsalgar opened #5636 "blockdev configuration für Cassandra Helm Charts"
**Which chart**:
Cassandra Charts

**Is your feature request related to a problem? Please describe.**
We are trying to bring our current Cassandra Production environment to Cloud and I am experimenting with Bitnmai Charts. Our current Cassandra Cluster is really sensitive to 'Read Ahead' configurationen für Storage and requires specific values to be set with blockdev. I could not find any mechanis

[2021-03-01 07:39] EtienneBarbier commented on #5584
@marcosbc Thank you for this explanation, it is clear to me now :)
Il will update chart to be able to run container with default registry #5582

It will give something like this:
[code]

[2021-03-01 07:55] mehmetsalgar opened #5637 "A second VolumeClaimTemplate with an additional storageClass for commit log directories"
**Which chart**:
Cassandra Chart

**Is your feature request related to a problem? Please describe.**
It is recommended in Cassandra documentation to seperate the storage for data (SSTable, etc) and the Commit Log Sorage.
[Commit Log Storage](https://cassandra.apache.org/doc/latest/architecture/storage_engine.html)
[code]
        name: commitlog
        labels: {{- include "common.labels.matchLabel

[2021-03-01 08:20] amin224 commented on #5617
@carrodher The RabbitMQ Overview dashboard works by getting metrics from the rabbitmq_prometheus plugin, after deploying my servers I enabled that plugin by entering to each pod and typing `rabbitmq-plugin enable rabbitmq_prometheus` but there are no data in the dashboard. I think the plugin did not work while running, I will try to restart the helm chart with rabbitmq_prometheus plugin enabled.

[2021-03-01 10:52] judge-red commented on #5094
@rafariossaa Yes, works for me now, thanks

[2021-03-01 11:08] larsrnielsen opened #5640 "Making Memcached play nicely with Kiali"
**Which chart**:
Memcached

Using memcached chart 5.5.1 I am unable to achieve the following with Kiali ("Istio dashboard"): based on label `app.kubernetes.io/name` group workloads that include memcached together, as memcached matchLabels are defined as:

[code]

Say I have a Helm chart X for my-app with:
-  deployment of pod A and B
- memcached as dependency
and I want to use `app.kubernetes.io/n

[2021-03-01 13:31] Dhinesh-ATCI commented on #5032
Hello ,
I am facing the same Issue for deploying the external-dns  through flux . With the Error message as

 Warning  FailedReleaseSync  3s (x3 over 4m35s)  helm-operator  synchronization of release 'external-dns' in namespace 'clust-mgmt' failed: installation failed: parse error in "external-dns/charts/common/templates/_secrets.tpl": template: external-dns/charts/common/templates/_secrets.tpl:84

[2021-03-01 13:35] Cellebyte commented on #5032
@Dhinesh-ATCI <- please update your flux it is using probably an old helm version.

[2021-03-01 14:44] Majen commented on #4833
Yes, that's the code in librepmgr.sh I pointed out in the original bug report. I replaced that line with
[code]
and tried to set the environment variable properly in the other shell scripts via `PGPASSWORD=<pwd>`, but didn't get it working successful. Therefore I'm hoping that you can come up with a solution that works :)

[2021-03-01 15:02] Dhinesh-ATCI commented on #5032
Thanks @Cellebyte . My flux was deploying a helm-operator with version v2 as default and when I changed to v3 it is working good and I able to view the external-dns deployment now .

[2021-03-01 16:22] g00ntar opened #5641 "Way to change index.store.type for ElasticSearch chart"
Is there way to change index.store.type like on [https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-virtual-memory.html](https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-virtual-memory.html) in ElasticSearch chart ?

[2021-03-01 16:35] amin224 commented on #5617
@carrodher Please note that I re-installed a fresh installation for helm chart with this command. Can you please suggest any ideas to fix this issue. I noticed that there was no ServiceMonitor or PodMonitor created which is supposed to enable the Prometheus target on the RabbitMQ Pod or is it not needed.

`helm install -f values.yml broker bitnami/rabbitmq --namespace default --set nodeSelector.te

[2021-03-01 17:14] RomainPhil opened #5642 "Kube-prometheus: variable format for additionnal jobs configuration"
**Which chart**:
chart : kube-prometheus-4.1.1
app Version: 0.46.0

**Describe the bug**
For an integration with istio i want to add the job description to get the different metrics from istio component

got the following issue:

`Error: UPGRADE FAILED: error validating "": error validating data: ValidationError(Prometheus.spec.configMaps[0]): invalid type for com.coreos.monitoring.v1.Prometheus.s

[2021-03-01 17:42] techgnosis opened #5643 "Contour chart 4.1.3 does not finish install"
**Which chart**:
Contour 4.1.3

**Describe the bug**
The Contour and Envoy Pods deploy and it looks successful but the `helm install` command hangs and eventually fails

**To Reproduce**
[code]

**Expected behavior**
I expect `helm install` to succeed and a `helm status` to show success instead of failure

**Version of Helm and Kubernetes**:
- Output of `helm version`:

[code]

Fails on TKGI 1.10

[2021-03-01 18:08] jagusztinl commented on #5415
Thank you, it solved!

[2021-03-01 18:08] #5415 closed

[2021-03-01 18:43] brunojus opened #5645 "Airflow Chart - How to pass Personal Access Token from Bitbucket for git clone of DAGs"
Hello Everyone,

Is there a possibility to clone a private repository on-premise as a DAG repository? I am able to export the git token for it. I am using Openshift as my k8s platform, how can I use this secret with a token in my values.yaml?

[2021-03-01 18:43] jagusztinl commented on #5413
Yes, but how to configure it? I install bitnami Airflow on Azure with helm. Ai can set the environment variables in values.yaml, but how to add the extra .py template files??  (should I rebuild the bitnami docker images??)

https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/logging.html

[2021-03-01 19:14] youngnicks commented on #4082
@juan131 @miguelaeh
For Sentinel I had another idea on how to reduce the number of Redis instances without removing Sentinel from the pods. I don't know if it would be too complex to have a separate Sentinel only deployment which a computed number of replicas. It would be sentinel count - redis count. This way you still get the benefits of having Sentinel in the same pod but can also have just two

[2021-03-01 20:35] jagusztinl opened #5646 "CeleryKubernetesExecutor crashloop"
**Which chart**:
The name (and version) of the affected chart

bitnami/airflow

**Describe the bug**
A clear and concise description of what the bug is.

Schduler crash in case of CeleryKubernetesExecutor config. Other executors work well

**To Reproduce**
Steps to reproduce the behavior:

helm install -f bitnami_values.yaml airflow bitnami/airflow --set executor=CeleryKubernetesExecutor   --set r

[2021-03-02 01:17] shenqinb-star commented on #5612
hi @marcosbc , any thoughts about this issue?

[2021-03-02 01:26] zaistev opened #5647 "[bitnami/airflow] module not found from plugins or nested modules"
**Which chart**:
chart: airflow-8.0.3
app version 2.0.1

**Describe the bug**
I am currently using git-sync to fetch dags and plugins, It does fetch the code from a private git repository. However when I try to import  a module from nested module it doesnt work. Ive checked this issue [2305](https://github.com/bitnami/charts/issues/2305),
so I added __init__.py file to each sub folder to be recogn

[2021-03-02 01:38] zaistev commented on #5645
explained in the documentation
https://github.com/bitnami/charts/tree/master/bitnami/airflow#option-2-get-your-dag-files-from-a-git-repository

u gotta get a deployment token from bitbucket, then update your values.yml to use it.

[2021-03-02 02:11] gkulkarni32 opened #5648 "bitnami/wavefront to be updated with features from wavefront/wavefront"
**Which chart**:

bitnami/wavefront App version 1.3.0

**Describe the bug**

In my existing wavefront deployment, the collectors were configured to scrape the metrics from the prometheus endpoints for different applications metrics. All of a sudden, I started getting the below error.

[code]

On reaching out to the wavefront team, found out there was a recent rollout to support reading discovery r

[2021-03-02 03:23] mukubi01 commented on #5569
Facing the same issue as @don4of4. Stuck and not able to make progress on our project. Hopefully to get a resolution or path forward from thorough this thread.

[2021-03-02 03:30] mukubi01 commented on #5413
I tried setting up the S3 connection  and followed the instructions.
However get this message
*** Log file does not exist: /opt/bitnami/airflow/logs/AWS_S3_FileTransfer/config/2021-02-28T00:00:00+00:00/1.log
*** Fetching from: http://my-release-airflow-worker-0.my-release-airflow-worker-headless.marketview.svc.cluster.local:8793/log/AWS_S3_FileTransfer/config/2021-02-28T00:00:00+00:00/1.log

There

[2021-03-02 03:39] mukubi01 commented on #5413
I tried setting up the S3 connection and followed the instructions.
However get this message
*** Log file does not exist: /opt/bitnami/airflow/logs/AWS_S3_FileTransfer/config/2021-02-28T00:00:00+00:00/1.log
*** Fetching from: http://my-release-airflow-worker-0.my-release-airflow-worker-headless.marketview.svc.cluster.local:8793/log/AWS_S3_FileTransfer/config/2021-02-28T00:00:00+00:00/1.log

There

[2021-03-02 05:28] brunojus commented on #5645
I tried like this, but I got an erro on Openshift, I think it is because of the internal bitbucket. Is it possible to pass it as a secret?

[2021-03-02 05:38] adamlehenbauer-cubic opened #5649 "[bitnami/kafka] `extraDeploy` doesn't render with example in documentation"
**Which chart**:
bitnami/kafka

**Describe the bug**
When using the `extraDeploy` parameter as the documentation indicates, the template fails to render with the message:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a trivial chart depending on the bitnami/kafka chart, e.g.

[code]

2. Give a values.yaml with the documented `extraDeploy` value:

[code]

3. Attempt to rende

[2021-03-02 07:51] alemorcuq commented on #5628
Hi, @SiegfredRodriguez. At the moment everything is manual, but we are working on adding some metadata to the `values.yaml` files so that we can generate the documentation for them.

[2021-03-02 07:53] alemorcuq commented on #5630
Hi, @fangzhengjin. Thanks for the suggestion.

@juan131 @javsalgar what do you think about this?

[2021-03-02 07:54] juan131 commented on #5443
I agree with you @ChiefAlexander

I'll add the possibility to remove the container lifecycle hooks in the PR I'm working on.

[2021-03-02 07:57] juan131 commented on #5620
@javsalgar what do you think about this?

[2021-03-02 08:00] juan131 commented on #5634
Hi @doctorpangloss

Correct! The `KUBE_PING` methods requires defining RBAC rules on clusters with RBAC enabled. That's why we included these parameters in the chart:

- https://github.com/bitnami/charts/tree/master/bitnami/keycloak#rbac-parameters

In the values.yaml, you can find an example that you simply need to uncomment to get it working:

- https://github.com/bitnami/charts/blob/master/bitn

[2021-03-02 08:07] suridaddy commented on #5589
@alemorcuq  same issue in my 3-nodes environment.
[code]

[2021-03-02 08:09] juan131 commented on #5574
Hi @AkashRajvanshi

There was an issue with the indentation! I just edited my response, could you copy-paste it again and retry? Sorry for the inconveniences.

[2021-03-02 08:12] juan131 commented on #5551
👏   that's great @anthonyvetter !!!

So, can we consider this issue solved? Were you able to use the notary CLI?

[2021-03-02 08:24] juan131 commented on #5640
Hi @larsrnielsen

You're looking for a way to add custom labels to every resource (apart of using the default ones), right? Sth like the `commonLabels` parameter that we have in other charts such as NGINX:

- https://github.com/bitnami/charts/tree/master/bitnami/nginx#common-parameters

[2021-03-02 08:26] juan131 commented on #5569
I'll try to increase the priority of the associated task so we can have a solution available as soon as possible, but I'm afraid I cannot provide you any ETA

[2021-03-02 08:49] javsalgar commented on #5016
Hi,

I think that this small change is something that we could easily implement. If you want to speed up the process, feel free to submit a PR and we will review it. If not, I will work on it during this iteration.

[2021-03-02 08:57] javsalgar commented on #5633
Hi,

Could you check that in the generated yaml you see the proper section  for the configmap? kubectl get pods -o yaml <name of the statefulset>

[2021-03-02 09:00] javsalgar commented on #5647
Hi,

Are your dags located in a public repository that we could use to reproduce the issue?

[2021-03-02 09:05] #5645 closed

[2021-03-02 09:07] #5584 closed

[2021-03-02 09:32] javsalgar commented on #5630
Hi,

Could you tell us which chart does not have the extraVolumes and extraVolumeMounts option? We performed several standardizations and now all of them should have it. We tend to be very conservative with the global values. Unless there's a clear demand for that feature, we tend to not add any extra values to the global section. So the first thing I would do is to ensure that all of the charts h

[2021-03-02 09:37] miguelaeh commented on #5494
Hi @electrical ,
Thank you very much!!

Yes, we always prefer to maintain it until breaking it is totally necessary.

[2021-03-02 09:42] miguelaeh commented on #5637
Hi @mehmetsalgar ,
Would you like to create a PR adding that feature? We will be happy to review it!

[2021-03-02 09:52] miguelaeh commented on #5643
Hi @techgnosis ,
Could you try increasing the timeout? using `--timeout` in the Helm Install command.

[2021-03-02 10:20] fzyzcjy commented on #3202
@rafariossaa Hi I have created my own helm chart two weeks ago (since I did not know when will the bugfix be released, and I needed the bug to be fixed immediately). The code looks good to me, but I do not have a cluster to test on hand.

[2021-03-02 10:20] #5550 closed

[2021-03-02 10:56] zaistev commented on #5647
hi @javsalgar
thanks for the reply. I published this repo with same structure
https://github.com/zaistev/example-dags/tree/master/src/dags

dags:
    ## Enable in order to download DAG files from git repositories.
    ##
    enabled: true
    repositories:
      - repository: https://github.com/zaistev/example-dags.git
        branch: master
        **name: dags**
        path: "src/dags"

Broken

[2021-03-02 11:34] mehmetsalgar commented on #5637
Sure I can do it...

[2021-03-02 11:42] jagusztinl opened #5651 "Airflow worker pods starts very slow because of K8s init container"
**Which chart**:
The name (and version) of the affected chart
bitnami/airflow 2.0.1
**Describe the bug**
A clear and concise description of what the bug is.

Airflow worker pods starts very slow because of K8s init container

checked the container log:
�[37mnami �[39m �[32mINFO �[39m Initializing airflow-worker
�[36mairflow�[39m �[32mINFO �[39m ==> No injected configuration files found. Creating d

[2021-03-02 11:57] alemorcuq commented on #5182
It's worth trying. In Google I can see this error 500 timeout happens to more users, but I don't see a clear solution to that.

[2021-03-02 12:09] mehmetsalgar commented on #5636
Hi,

you can read the concepts of the read ahead here....

[Cassandra Read Ahead](https://cassandra.apache.org/doc/latest/getting_started/production.html)

For ex, in our Linux distribution, out of the box value for Read Ahead was 256KB and we were using SSDs, hte consequence was, Cassandra try to load the data, it tought we will need but we didn't and it throwed it directly away but that cause lo

[2021-03-02 12:11] Mauraza commented on #5570
Hi @joel-schaal,

I'm glad you solve the issue using a Helm hook.

[2021-03-02 12:17] Mauraza commented on #5608
Hi @julienbruitte,
Did you have something different in this ingress?. all the `describe` are the same?

[2021-03-02 12:19] miguelaeh commented on #4082
Hi @youngnicks ,
Is there a strong reason for not be using Redis Cluster in this case? I think you said you don't have a big read load, so maybe it will better fit your requirements. That said, not sure why you want only two Redis instances, Redis cluster will have 6 by default.

[2021-03-02 12:26] andresbono commented on #4624
Hi @sbkg0002, I'm not sure if it would be feasible to do it with an init-container. What was discussed was to implement a script or a function to install the plugins during the first initialization of Discourse.

Here you have an example of other application that does something similar:

https://github.com/bitnami/bitnami-docker-rabbitmq/blob/bab4bd8a57aaafec7a0be5414d6f043db7451049/3.8/debian-10/

[2021-03-02 12:34] Mauraza commented on #5578
Hi @sveba,

I added a tag so that the issue is not automatically closed and we know that it is pending.

[2021-03-02 12:44] AkashRajvanshi commented on #5574
Hey, it asks for an image, which image should I use??? bitnami/cassandra??

[code]

[2021-03-02 12:53] Mauraza commented on #5618
Hi @kishorkk91,

We have this guide https://docs.bitnami.com/tutorials/integrate-logging-kubernetes-kibana-elasticsearch-fluentd
You new to create two configMap that appears in [step 3](https://docs.bitnami.com/tutorials/integrate-logging-kubernetes-kibana-elasticsearch-fluentd#step-3-configure-and-deploy-fluentd)
I hope that helps you.

[2021-03-02 12:55] larsrnielsen commented on #5640
correct. If I had `commonLabels` available then I would be able to use an `app` label to tie workloads like memcached,  together in Kiali.

[2021-03-02 12:59] kishorkk91 commented on #5618
Hi @Mauraza ,
Yes, I am already referring to it and thanks for the link.
just a question: Do I have to still include **"configFile: fluentd.conf"** file in values.yaml even if I am creating the configmaps by myself?

[2021-03-02 13:10] Mauraza commented on #5618
Hi @kishorkk91,

This value `configFile: fluentd.conf`  is the name of the config file that will be used by Fluentd at launch under the `/opt/bitnami/fluentd/conf directory`, if you follow the guide you don't have to include is that value because it is the default value.

[2021-03-02 13:19] #5642 closed

[2021-03-02 13:59] andresbono commented on #3202
Thanks for letting us know, @fzyzcjy!

[2021-03-02 13:59] #3202 closed

[2021-03-02 14:15] kishorkk91 commented on #5618
Hi @Mauraza ,
Thanks for the valuable and useful feedback and finally I am able to see some logs from logstash on Kibana.

![image](https://user-images.githubusercontent.com/59603187/109661197-0248b000-7b6a-11eb-9594-7f13c5514a2b.png)

[2021-03-02 15:22] carrodher commented on #5648
Hi, thanks for creating this issue. At this moment the `bitnami/wavefront` Helm Chart is not following the same development process as the `wavefront/wavefront` one. We are maintaining up-to-date container images bundled in the chart once a new version appears in the upstream project. Regarding changes in the chart manifest itself, we are implementing new features from the Bitnami team or external

[2021-03-02 15:38] marcosbc commented on #5612
Hi @shenqinb-star, note that you can see if the `--tls` flag appears when executing `helm template`, at the `health-configmap.yaml` file. When I run the command it does appear for me.

Right now I have no idea what may be causing this. I have created an internal task for looking into this, but unfortunately I cannot give an ETA for when we will start looking into this. If you happen to find a solu

[2021-03-02 16:02] mehmetsalgar commented on #5637
Here ist die PR...

https://github.com/bitnami/charts/pull/5653

[2021-03-02 16:06] marcosbc commented on #4813
Hi @kishorkk91, the error you mention seems unrelated to this issue. Could you open a new issue?

I'm not familiar with the error, but it looks like there is either some permission issues to read the date for the files, or the files are just being created with the wrong date in the log directories that is configured for your Helm deployment.

[2021-03-02 16:14] kishorkk91 commented on #4813
Hi @marcosbc ,
The issue was not about permission but I had used config provided inside default values.yalm. Instead I provided my own config with correct parameters in fluent.conf and redeployed again.
Already answered in #5618
Thanks for the feedback though.

[2021-03-02 16:29] marcosbc commented on #5615
That is something more in an "operator" area, not something that is usually handled by charts.

It is not as simple, as you would first need the volume to be mounted as read-write-many. Next, you would need to create a cron-job per node which manually mounts all used volumes, for backing up.

Alternatively, you could try and define a sidecar container for running alongside the nodes, which via a s

[2021-03-02 16:33] marcosbc commented on #5032
Since it seems to be working now, I'm closing this issue.

[2021-03-02 16:33] #5032 closed

[2021-03-02 16:50] luigi-13 opened #5654 "[bitnami/wordpress] WP_HOME"
Hello,

Im using the bitnami wordpress chart, and i dont know how i can configure the WP_HOME ?
Im using an existing wordpress database where the siteurl and home options are well configured.
The home option url is https://www.mysite.com/blog.

But when im going in the wp-admin, the field is on readonly and it is https://www.mysite.com/.
So all the pages are broken because they redirect to https:/

[2021-03-02 16:56] marcosbc commented on #5413
@mukubi01 You seem to be using wrong environment variable names. Refer to the official [configuration reference page](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#base-log-folder) for more info (i.e. they should start with `AIRFLOW__LOGGING__`).

@jagusztinl Please check above.

_____

Also, we wanted to let you all know that we're soon going to start the investiga

[2021-03-02 16:56] carrodher commented on #5641
It is possible to use the `config` parameter from the _[values.yaml](https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/values.yaml#L133)_ in order to provide a custom ES configuration, see
[code]

which it's going to create a ConfigMap with the data provided in this section and mounted to `/opt/bitnami/elasticsearch/config/elasticsearch.yml`. You should be able to set any paramet

[2021-03-02 17:01] youngnicks commented on #4082
Hi @miguelaeh

Some of our instances are fairly small and used as a work queue so a full cluster is not needed. Other instances are using the multiple database feature which is not available in Redis Cluster.

[2021-03-02 17:02] carrodher commented on #3763
Hi, in the linked issue, we implemented some features present in the deprecated stable/fluentd chart, see https://github.com/helm/charts/issues/21235#issuecomment-721561451. But, unfortunately, for this specific feature, we didn't find enough bandwidth to work on that, mainly due to other priorities and the size of the team.

Being said that, we will be happy to review any PR implementing this (or

[2021-03-02 17:15] anthonyvetter commented on #5551
Still working on some other issues, but notary init and publish seem to be working. I think this issue can be closed. Thank you!

[2021-03-02 17:19] juan131 commented on #5551
Great! Feel free to reopen it if you continue struggling with it.

[2021-03-02 17:19] #5551 closed

[2021-03-02 17:29] RomainPhil commented on #5642
wasn't use the right config the  jobs have to be configured in

prometheus.additionalScrapeConfigs.internal

[2021-03-02 18:14] prakashmnnit81 commented on #5633
hello @javsalgar,
Thanks for replying, I have generated the yaml after sending the above command  below is response not found the volumemount with above name
![image](https://user-images.githubusercontent.com/24299719/109694696-1a8fed80-7bb1-11eb-9ccf-1d78f5625e1c.png)

[2021-03-02 18:17] KYHS-BOX opened #5655 "Not able to login AKS-Airflow web frontend // Getting: Invalid login. Please try again."
**Which chart**:
airflow-aks bitnami/airflow

**Describe the bug**
Invalid login. Please try again (web frontend)
User and Pass Are Not working.

**To Reproduce**
Steps to reproduce the behavior:

1. az aks create --name aks-cluster --resource-group rg-aks-cluster --node-count 2 --generate-ssh-keys
2. az aks get-credentials --name aks-cluster --resource-group rg-aks-cluster
3. run this helm comman

[2021-03-02 20:29] wojtek-viirtue commented on #4541
This started happening to me all of sudden as well.  Despite the correct chart properties being set, when persistence is enabled and using the "standard" storageClass on minikube.... the default password "CHANGEME" is used. Logging into the container I can see that the env variables are set correctly to the password and erlanCookie I set, but authentication fails unless the default passwrod "CHANG

[2021-03-02 21:09] mukubi01 commented on #5413
Thanks @marcosbc . It worked after fixing the variables.

It now fails with a Forbidden error. Working on trying to determine the failure.
*** Failed to verify remote log exists s3://xxxxx/airflow-logs/AWS_S3_FileTransfer/Check_config_files/2021-03-02T21:00:51.870295+00:00/1.log.
An error occurred (403) when calling the HeadObject operation: Forbidden

[2021-03-02 22:42] fredgate commented on #5081
I am using GitLab dynamic environments, and I want to deploy the rabbitmq chart using a service account scoped to a dynamic namespace with the ClusterRole `admin`. This is a predefined Kubernetes role that can do a lot of things in the namespace, but it can only read Event resources (list, get, watch).

[2021-03-02 23:09] zaistev commented on #5647
there is a workaround to this problem
in the dag file is manually import the path, ugly af but works.

import sys
sys.path
sys.path.append('/opt/bitnami/airflow/git-<git.plugins.repositories[0].name>')

[2021-03-03 00:30] aariacarterweir commented on #5543
@rafariossaa sorry I haven't gotten back to you. I will give this a shot soon, but:

Yup that's correct. For now I'm using the dandydeveloper chart as it works with pod deletion and also correctly promotes only one pod to master. I'll give this chart a spin again soon though and get back to you

[2021-03-03 01:12] shenqinb-star commented on #5612
hi @marcosbc, thanks for your help, please let me know if you have any updates.

[2021-03-03 02:21] gajus commented on #2557
Where are you getting `rabbitmq-password` secret key from?

[2021-03-03 02:31] gkulkarni32 commented on #5648
Hi @carrodher thank you for your response. Currently the wavefront integration is broken in the data platforms helm chart due to the latest changes in wavefront. Can you please give a tentative date when we are able to fix this? I can attach this issue to the data platforms pull request and plan for that release accordingly.

[2021-03-03 06:46] #5618 closed

[2021-03-03 06:46] robbiesguo opened #5657 "bitnami/external-dns can't accsess bitnami/etcd. error message:etcdserver: user name is empty"
**Which chart**:
The name (and version) of the affected chart
bitnami/external-dns	4.8.4
bitnami/etcd        	5.6.1

**Describe the bug**

**Install etcd**
[code]

**install external-dns**
[code]

**A clear and concise description of what the bug is.**
external-dns can't request the etcd with user auth.
I don't know how to set the value for "coredns.etcdEndpoints".

The external-dns log  as follow

[2021-03-03 07:56] prasadallu121 commented on #1889
Is there any development for the above issue, even i am facing the same issue as above
EnvVars:
  - name: AIRFLOW__WEBSERVER__AUTH_BACKEND
     value: airflow.contrib.auth.backends.password_auth

[2021-03-03 08:09] juan131 commented on #5574
My bad! yes, you should use `bitnami/cassandra` image since it includes the backup tools you need. I just updated my post again.

[2021-03-03 08:13] juan131 commented on #1889
Honesty, I don't know the status of this.

@dani8art did you address this issue in the **7.0.0** major version?

[2021-03-03 08:25] dani8art commented on #1889
Hi all,

It seems the recent airflow versions have modified the acceptable values for this configuration parameter so you need to use `airflow.api.auth.backend.basic_auth` for `AIRFLOW__API__AUTH_BACKEND`, [see more](https://airflow.apache.org/docs/apache-airflow/stable/security/api.html#basic-authentication).

[2021-03-03 08:39] migruiz4 commented on #5654
Hi @luigi-13,

Currently, the image used for this chart [bitnami/wordpress](https://github.com/bitnami/bitnami-docker-wordpress) does not have an environment variable to configure `WP_HOME` and `WP_SITEURL`.

But it is possible to use `/docker-entrypoint-init.d` to run a script that executes `wp-cli` or uses a regex to modify `wp-config.php` replacing the definitions of `WP_HOME` and `WP_SITEURL.`

[2021-03-03 08:43] AkashRajvanshi commented on #5294
I'm just curious: why do you want to access that port externally?
@juan131 - to use nodetool in another pod ( backup pod )

[2021-03-03 08:48] javsalgar commented on #5647
Hi,

Wow, this is strange. So, if I understand correctly, if in  the chart you specify the `extraEnvVars` values (there is one for each component) with PYTHONPATH (and adding the proper dirs), then it should work, right? Just to confirm that this is enough and with that you don't have to use the sys.path.append function.

[2021-03-03 08:57] javsalgar commented on #5633
Hi,

I used this

[code]

Ran `helm install --debug --dry-run` to see the generated YAML and got this

[code]

Could you confirm that you are using the proper YAML formatting?

[2021-03-03 08:57] carrodher commented on #5648
Hi @gkulkarni32, I just created the above PR adding the different changes introduced in `wavefront/wavefront` since August. Now it is time for other people in the team to test and review the PR, if everything is ok, the release should be triggered sooner rather than later and the new version appears in the Helm Charts repository.

[2021-03-03 08:59] javsalgar commented on #5655
Hi,

Just to discard possible issues, are you able to make it work when not using the external database and the external redis? Instead, using the bundled redis and postgresql

[2021-03-03 09:00] prasadallu121 commented on #1889
when is use the below env variables getting the same error
key: AIRFLOW__API__AUTH_BACKEND
value: airflow.api.auth.backend.basic_auth

[2021-03-03 09:02] javsalgar commented on #4541
Hi,

I also used minikube when trying to reproduce the issue and found no problems. I imagine that the credentials were working on the first deployment, right? Or it was using CHANGEME from the beginning?

[2021-03-03 09:04] gkulkarni32 commented on #5648
Thanks @carrodher for the update. Looking forward to this release as it's holding data platform helm chart releases.

[2021-03-03 09:21] amin224 commented on #5617
Data showing after including this command `--set metrics.serviceMonitor.enabled=true`

Thank you @carrodher for the reference.

[2021-03-03 09:21] #5617 closed

[2021-03-03 09:21] ajeetratnu opened #5660 "On local kubernetes (Docker Desktop): password authentication failed for user "postgres""

[2021-03-03 09:24] #5660 closed

[2021-03-03 09:24] ajeetratnu commented on #5660
will create again with required info.

[2021-03-03 09:25] miguelaeh commented on #5637
Thank you very much for the PR!!
We will take care of it!

[2021-03-03 09:27] miguelaeh commented on #5651
Hi @jagusztinl ,
As you can see in the log:

During that time it is creating the default configuration. That should only happen the first time when the volumes are empty, for future restarts it should not wait for that long since the configuration will be there.

[2021-03-03 09:29] miguelaeh commented on #4082
Thanks for the clarifications.
I think for this kind of specific case you should modify the Helm Chart as you need, but maybe the amount of other users needing this feature is really low.

[2021-03-03 10:05] migruiz4 commented on #5646
Hi @jagusztinl ,

I'm sorry but the `bitnami/airflow` chart does not have support for `CeleryKubernetesExecutor` yet.
The allowed executor values are: `SequentialExecutor`, `Local Executor`, `CeleryExecutor`, `KubernetesExecutor`

I have created an internal task to evaluate this feature request and develop it, but I can not give you an ETA for it to be ready.

If you want to contribute, feel free

[2021-03-03 10:41] #5648 closed

[2021-03-03 10:50] carrodher commented on #5648
This issue was automatically closed since the associated PR was merged. I will add a new post here once the new `bitnami/wavefront` version (`1.3.0`) is released in the Helm repository.

[2021-03-03 11:38] carrodher commented on #5648
The PR was merged and the new version is already present in the Helm repository:
[code]

With this new version including all the features present in the wavefront/wavefront chart, you shouldn't face any issue since everything is in sync between both charts. Anyways, please, don't hesitate to reopen this thread if needed

[2021-03-03 12:35] prakashmnnit81 commented on #5633
Hello,
I am using bitnami postgresql as sub chart
in chart i am adding as dependency like this
dependencies:
  - name: test
    version: ""
    repository: https://charts.bitnami.com/bitnami
    condition: test.deploy
    alias: test
in chart values.yaml
test:
  deploy: true
  postgresqlDatabase: test
  postgresqlUsername: testuser1
  postgresqlPassword: ""
  persistence:
    enabled: true
  prima

[2021-03-03 13:03] migruiz4 commented on #5560
Hi @vassie79,

To configure Grafana's admin user and password, you should use instead `grafana.config.security.admin_user` and `grafana.config.security.admin_user`.

The values `grafana.adminPassword` and `grafana.adminUser` seem to be a typo in the grafana-exporter CRD and do not work as expected.

More information can be found here: #5661

Thank you for reporting this issue.

[2021-03-03 13:36] echang0929 commented on #4737
Thanks for all your helps.

[2021-03-03 13:36] #4737 closed

[2021-03-03 13:52] carrodher commented on #5657
I was able to reproduce the issue, and I will investigate a little bit more, in the meantime, can you take a look at this other similar case https://github.com/bitnami/charts/issues/2433 just in case it rings a bell for you?

[2021-03-03 14:05] marcosbc commented on #5413
Hi @mukubi01, I would say that could be happening because of using wrong credentials. Could you verify that your connection "MyS3Connection" is properly set up, with proper access/secret keys and all that?

[2021-03-03 14:07] marcosbc commented on #2557
@gajus AFAIK that's the required parameter name, refer to the [README](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#parameters) -> `auth.existingPasswordSecret` parameter.

[2021-03-03 14:09] KYHS-BOX commented on #5655
(@javsalgar) Hi Javier, Also not possible to use internal Postgress and Reds..

Container Live Log: Error executing 'postInstallation': Failed to connect to airflow-aks-next-postgresql:5432 after 36 tries (see help command I used specified below)

helm install airflow-aks-next bitnami/airflow `
  --set service.type=LoadBalancer `
  --set executor=KubernetesExecutor `
  --set loadExamples=true `

[2021-03-03 14:16] Mgonand commented on #4918
@carrodher Can we add this to the arbiters affinity template too?

[2021-03-03 14:25] zaistev commented on #5647
@javsalgar in my dag file "data_pipeline_dag.py" I added these lines:

import sys
sys.path
sys.path.append('/opt/bitnami/airflow/**git-dataflow-plugins**')

"git-dataflow-plugins" is a reference to the name definition in the yml file for git.plugins.repositories[0].name

plugins:
    ## Enable in order to download Plugins files from git repositories.
    ##
    enabled: true
    repositories:

[2021-03-03 14:50] npande opened #5662 "bitnami/mysql - podLabels not applied to Primary and Secondary"
**Which chart**:
bitnami/mysql
https://bitnami.com/stack/mysql/helm

**Describe the bug**
Install bitnami/mysql helm chart and then upgrade helm chart to apply podLabels.
Outcome: podLabels not applied to Primary and Secondary

**To Reproduce**
Steps to reproduce the behavior:

In the MySQL-values.yaml add following to help configure podLabels. This is done based on documentation provided at https

[2021-03-03 14:54] andresbono commented on #5642
Thanks for letting us know and closing the issue, @RomainPhil!!

[2021-03-03 15:02] andresbono commented on #5081
Hi @fredgate, what are the parameters that you are using to deploy the chart? Are you using the [RBAC parameters](https://github.com/bitnami/charts/tree/master/bitnami/rabbitmq#rbac-parameters)?

[2021-03-03 15:06] joraojr commented on #4983
Hi,

 I think you forgot to add the support to `nodeSelector `to [pod_template.yaml](https://github.com/bitnami/charts/blob/master/bitnami/airflow/templates/config/configmap.yaml).  When I try to use the KubernetExecutor, the worker pod is not created at the specified `worker.nodeSelector`.

[2021-03-03 15:59] nc-ruth opened #5663 "[bitnami/kafka] Question about revision difference in bitnami images"
Hi Bitnami,

I was wondering why there is a revision difference between the image being used for running kafka, and the image being used for provisioning kafka topics?

The exact lines are:
https://github.com/bitnami/charts/blob/3bbab7d4876edd35da13a3ae4df85ebc6c6edec0/bitnami/kafka/values.yaml#L17
https://github.com/bitnami/charts/blob/3bbab7d4876edd35da13a3ae4df85ebc6c6edec0/bitnami/kafka/values

[2021-03-03 16:01] frankreno commented on #5662
while `primary.podLabels` and `secondary.podLabels` is documented as a valid parameter, no template is currently using this label.  Try `commonLabels` instead.

[code]

[2021-03-03 16:12] migruiz4 commented on #5181
Hi @wantdrink,

Thank you for your feedback.

We will continue investigating this issue as it seems to persists after our fix attempt.

[2021-03-03 16:54] npande commented on #5662
Thnx @frankreno
**commonLabels** worked like a charm.

[2021-03-03 17:00] prakashmnnit81 commented on #5633
@javsalgar which version of bitnami chart  have you  used?

[2021-03-03 17:48] g00ntar commented on #5641
I looking to change this parameter because this allow to run ElasticSearch pod as unprivileged and allow to install this helm on GKE Autopilot. After your answer I created `myvalues.yml` with content
[code]
and after running `helm install -f myvars.yml test-es-1 bitnami/elasticsearch` container dies in pod with error complaining about `Invalid kernel settings. Elasticsearch requires at least: vm.m

[2021-03-03 18:31] MichaelHudgins commented on #5016
@javsalgar I can do it, would you prefer me to go changing the default or making it a chart option?

[2021-03-03 19:14] JohannesMattsson91 opened #5666 "[bitnami/wildfly] replicaCount value is not used, unable to set replicaCount for deployment"
Wildfly 8.1.1
replicaCount is listed as a parameter in the readme but not used in the [template/deployment.yaml](https://github.com/bitnami/charts/blob/master/bitnami/wildfly/templates/deployment.yaml) file.

[2021-03-03 19:21] JohannesMattsson91 commented on #5666
https://github.com/bitnami/charts/pull/5667

[2021-03-03 19:51] awuetz opened #5668 "[bitnami/minio]: Support MinIO server with TLS certificates"
**Which chart**:
bitnami/minio:6.1.4

**Is your feature request related to a problem? Please describe.**
I want to enable tls, as described by min.io itself (here)[https://github.com/minio/minio/tree/master/docs/tls/kubernetes], in front of the min.io server to achieve encrypted transfer between my ingress and min.io servers.
This is currently not possible because the bitnami/minio chart does not

[2021-03-03 20:11] NadavkOptimalQ commented on #5431
Hi
Just got this to happen again in our staging environment.
After some issues, I recreated the cluster from scratch.

Then I ran this:
`helm upgrade --timeout 600s --set "fullnameOverride=redis-cluster,usePassword=false,cluster.nodes=6,cluster.update.addNodes=true,cluster.update.currentNumberOfNodes=8" bitnami/redis-cluster`

This added two new nodes, then started to restart some of the other nod

[2021-03-03 20:23] agessner commented on #5413
Hello @marcosbc, just to make sure I'm not missing anything.
I've configured the remote logging and I can see the files being saved there just fine.

But I'm also facing the issue when loading from the UI interface, as it keeps looking for the pod and, as the pod is not there, it does not find it (as expected).

Any reason for not trying to go to s3? Is it the same problem you are investigating in

[2021-03-03 22:22] AlexDag opened #5671 "bitnami/mongodb - replicaset - error of usage the previous value of external host name"
**Which chart**:
The name (and version) of the affected chart
bitnami/mongodb:   mongodb-10.4.1 	4.4.3
**Describe the bug**
A clear and concise description of what the bug is.
mongodb pod use values  of external host (LoadBalancer) of the the **previous** helm installation.

**To Reproduce**
Steps to reproduce the behavior:

1.  "helm install mongodb .....  bitnami/mongodb" replicaset cluster with

[2021-03-03 22:34] cris-b commented on #5569
i managed to work around this by adding:

airflow:
  worker:
    extraEnvVars:
    - name: AIRFLOW_WEBSERVER_HOST
      value: "{{ include \"common.names.fullname\" . }}"
    - name: AIRFLOW_WEBSERVER_PORT_NUMBER
      value: "{{ .Values.service.port }}"

to the values.yaml.  It seems its missing setting these for the init container, leaving the container default of airflow:8080

[2021-03-03 23:49] NicolasRisi commented on #3533
hi @juan131 ,

I have the same problem. My worker pods doesn't install python packages from requirements.txt

We can't overwrite the command of the worker container in a pod (kubernetesExecutor) because of [this template](https://github.com/bitnami/charts/blob/0f29afcb16e74d5b9ad87c23bfaad3efadea1f5d/bitnami/airflow/templates/config/configmap.yaml)

As the kubernetes documentation state :
![image]

[2021-03-04 01:12] wantdrink commented on #5181
Thank you @migruiz4 .

[2021-03-04 02:42] darnfish commented on #1761
Having this issue on DOKS too :~(

[2021-03-04 02:56] darnfish commented on #1761
Nevermind I'm stupid

[2021-03-04 05:23] jxl4650152 opened #5674 "[Grafana] Readiness and liveness check enhancements"
**Which chart**:
Grafana

**Is your feature request related to a problem? Please describe.**
Grafana chats' liveness and readiness probe use `httpget` action and send HTTP `GET` request to path "/".  When SSO is configured, the probe will receive the redirect response to SSO endpoint with status code set to 302, which leads to the `Probewarning` events
[code]

**Describe the solution you'd like**

[2021-03-04 05:40] jxl4650152 commented on #5674
Already implemented.

[2021-03-04 05:40] #5674 closed

[2021-03-04 06:42] fangzhengjin commented on #5630
So far I have only failed to find these two options in [Redis](https://github.com/bitnami/charts/tree/master/bitnami/redis) and [etcd](https://github.com/bitnami/charts/tree/master/bitnami/etcd).

[2021-03-04 07:29] AkashRajvanshi commented on #5574
Hey, I use this to snapshot the test keyspace. But this container can't access to Cassandra nodetool. but it will not work

[code]

[code]

when I use this from my cassandra container ( because it uses the nodetool on localhost )

[code]

I also create Cassandra client pod to test the nodetool connection

[code]
Pods and services

[code]

Sorry If i ask for dumb questions here, I know it's very fr

[2021-03-04 07:39] alemorcuq commented on #5662
Thanks, @frankreno !

We will add the missing `podLabels` to the templates. Is any of you interested on creating a PR?

[2021-03-04 07:40] alemorcuq commented on #5630
Thanks, @fangzhengjin. We will add the `extraVolumes` and `extraVolumeMounts` to those charts. Are you interested in creating a PR?

[2021-03-04 07:44] alemorcuq commented on #5589
You can run `repmgr node check` in the nodes. The info you get there may help fixing your case:

[code]

[2021-03-04 08:00] juan131 commented on #5640
All right! I'll send a PR adding this feature during the day.

[2021-03-04 08:02] juan131 commented on #1889
Could you share the exact values.yaml you're using @prasadallu121 ? I'd like to reproduce the exact same scenario on my side.

[2021-03-04 08:07] juan131 commented on #5294
@AkashRajvanshi to access it from another pod, you can access using the FQDN that the headless service creates for each Cassandra replica. You don't need to expose it outside the cluster to access that port.

That said, you'll have to ensure Cassandra listen on `0.0.0.0` instead of `127.0.0.1` for this port.

[2021-03-04 08:14] juan131 commented on #5569
cc @migruiz4

[2021-03-04 08:16] #5666 closed

[2021-03-04 08:16] juan131 commented on #5666
Thanks for reporting it @JohannesMattsson91 ! I just approved/merged your PR

[2021-03-04 08:25] juan131 commented on #3533
You're right @NicolasRisi

If you're using the `kubernetesExecutor` executor, it'll use the **pod_template.yaml** you pointed to, and there's no way to extend/customize the command/args used in the worker.

It's extensible though, when using the `CeleryExecutor`, see:

- https://github.com/bitnami/charts/blob/master/bitnami/airflow/templates/worker/statefulset.yaml#L85

Would you like to contribut

[2021-03-04 08:35] javsalgar commented on #5633
Hi,

I used the latest available.

[2021-03-04 08:38] javsalgar commented on #5655
Hi,

I remember that, for other applications that we packaged that used Azure Database for PostgreSQL, the support was not direct. For example, it would need to have the proper SSL CA in the client and the application must have support for SSL databases. Did you ever work with other SSL databases and Airflow?

[2021-03-04 08:43] javsalgar commented on #5647
Hi,

I'm not sure if the structure of this DAG is different (in our tests we import a DAG have no issues) and that's why it requires extra changes like the one you were doing. The first to do is to confirm that this works

[code]

[2021-03-04 08:46] juan131 commented on #5574
Hi @AkashRajvanshi

As you can see, there's a `cassandra-headless` service. Headless services create a FQDN for each replica. In your case, the `cassandra-0` pod is accessible through the domain below:

- **cassandra-0.cassandra-headless.default.svc.cluster.local**

So, yo should be able to access the pod using:

[code]

Also, check these docs: https://cassandra.apache.org/doc/latest/faq/#nodetool

[2021-03-04 08:47] javsalgar commented on #5016
Thank you so much! I think changing the default shouldn't break anything.

[2021-03-04 08:52] prakashmnnit81 commented on #5633
yes I tried with latest version it was working, earlier I was using older version in which it was not working,
Thanks @javsalgar  working to resolve the issue

[2021-03-04 08:52] etavene commented on #5360
@juan131

ETCD_DATA_DIR =  /bitnami/etcd/data

the /bitnami/etcd/ is mounted on /mnt/etcd of host using local volume

When /mnt/etcd/data folder is empty

[code]
The should_add_memeber becomes true and then calling "Adding new member to the cluster". This is even true for a delete pod case, where pre-stop hook delete the  corresponding member, add member_removal.log in etcd_data_dir

[code]

[code

[2021-03-04 08:58] miguelaeh commented on #4983
Hi @joraojr,
I created that PR that should solve it, could you take a look?

[2021-03-04 09:00] Mauraza commented on #5663
Hi @nc-ruth,

we are going to investigate why this is happened, as far as I know, should be the same tag. We will update this thread when we have more information.
Thanks for reporting!

[2021-03-04 09:02] javsalgar commented on #5431
Hi,

We are unable to reproduce it. Could it be that something crashes during the first initialization? Do you see any crash before turning them to master?

[2021-03-04 09:03] javsalgar commented on #5633
Thanks for letting us know!

[2021-03-04 09:03] #5633 closed

[2021-03-04 10:07] #5626 closed

[2021-03-04 10:14] marcosbc commented on #5413
@agessner The issue you mention seems to be heavily related to KubernetesExecutor usage, so it should be fixed via #5569. We have increased the priority of the internal task, and we have started work on it. I cannot give an ETA unfortunately, as it will depend on the amount of issues we find.

[2021-03-04 11:41] carrodher commented on #4918
Yes, sure, would you like to contribute by creating a PR? We will be happy to review it and provide feedback, [here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md) you can find the contributing guidelines.

[2021-03-04 11:45] carrodher commented on #5668
Thanks for creating this issue and the associated PR, the team is looking into the PR providing feedback. This issue will be automatically closed once the PR merged. Thanks again!

[2021-03-04 11:47] #5560 closed

[2021-03-04 12:33] SamMousa commented on #4446
This is not resolved. Installing the external-dns chart with the following config:
[code]
As expected, no `ClusterRole` is created (since we want this to be namespace only). A Role and a RoleBinding are created.

[code]

What exact condition is it waiting for?

[2021-03-04 12:37] jagusztinl commented on #5646
I see, thank you.

[2021-03-04 12:37] #5646 closed

[2021-03-04 12:39] #5413 closed

[2021-03-04 12:39] jagusztinl commented on #5413
Changed to ELK logging

[2021-03-04 12:51] andresbono commented on #5626
Hi @doctorpangloss, a new version of the `bitnami/keycloak` container image was released including the changes from your PR. The chart was also updated. Please check the `2.2.3` version:

- Container: https://github.com/bitnami/bitnami-docker-keycloak/commit/925665cc7a5589c636be6f5e44335ddd4b0f0461
- Chart: https://github.com/bitnami/charts/commit/dc58d7f586f4b9a2a949a6dc413ba932c594ef9a

[2021-03-04 13:26] andresbono commented on #5636
I see, so by using the `blockdev` linux utility, you want to do some `ioctls` calls to the system to configure the way block devices are accessed, is that correct?

What kind of storage are you using in your cluster?  In Kubernetes, you don't always mount volumes as raw block devices. See here the storage plugins with raw block volume support:

https://kubernetes.io/docs/concepts/storage/persisten

[2021-03-04 13:43] SamMousa commented on #4446
@carrodher apologies for the ping, but since stalebot will not reopen this and it is very likely that a comment on a closed issue will go unnoticed I see no good alternative.
Could you please reopen this issue, I'm available to further debug the issue and provide whatever information is needed.

[2021-03-04 14:13] graste commented on #2402
Using the above example as a reference with helm chart v13.1.3 this 'works':

[code]

This creates a single pod `master` stateful set w/ service. The `data` stateful set is still defined, but has no running pods. The `coordinating-only` deployment is also defined, but running with 0 pods. So still a bit more than necessary for dev-only tests, but at least has a somewhat usable elasticsearch node.

[2021-03-04 14:20] mehmetsalgar commented on #5636
Hi, while my first try was to fire up the container to be able to see what are the actual values Linux Dist uses but while the container is initialized with user 1001, I don't have an access to root user to check actual values. So I tought I will set the parameter anyway because if the values are not set correctly it has a super deterioriating effect on our application in production.

We are plann

[2021-03-04 15:06] alemorcuq commented on #5671
Can you share the full command you are using to install the chart?

[2021-03-04 15:31] mscbpi commented on #5381
To be checked but this is the answer I got from rabbit-mq
https://github.com/rabbitmq/rabbitmq-server/discussions/2788#discussioncomment-429675

So we should be OK when renewing the certs also with a helm-deployed rabbitmq !

[2021-03-04 15:31] #5381 closed

[2021-03-04 15:38] MichaelHudgins commented on #5016
Sounds good, PR is in

[2021-03-04 15:45] AlexDag commented on #5671
helm install mongo-eks  --set\
 architecture=replicaset\
,volumePermissions.enabled=false\
,replicaCount=2\
,externalAccess.enabled=true\
,externalAccess.service.type=LoadBalancer\
,externalAccess.service.port=27017\
,externalAccess.autoDiscovery.enabled=true\
,serviceAccount.create=true\
,rbac.create=true bitnami/mongodb

[2021-03-04 16:18] juan131 commented on #5360
Hi @etavene

I just created a PR that tries to tackle all the issues around etcd instability on scale/upgrade operations. Could you give it a try?

[2021-03-04 16:38] olivierboudet opened #5683 "Allow ClusterIP in externalAccess.service.type to expose Mongodb through nginx"
**Which chart**:
bitnami/mongodb:10.7.2

**Is your feature request related to a problem? Please describe.**
I want to enable externalAccess to my replicaset through ingress-nginx tcp service. The chart does not allow to create a ClusterIP service for externalAccess, just LoadBalancer or NodePort. And it creates only a headless service.

**Describe the solution you'd like**
I would like to allow Cl

[2021-03-04 16:57] joraojr commented on #4983
Hi @miguelaeh ,
 Thank you! It should solve my problem.

[2021-03-04 17:27] NicolasRisi commented on #3533
I tested this approach but unfortunately it doesn't work ....
When we override the command with :
![image](https://user-images.githubusercontent.com/11333761/110003341-90fa3000-7d16-11eb-8109-786b6219e9bc.png)

We have problems with tini.
![image](https://user-images.githubusercontent.com/11333761/110003429-a7a08700-7d16-11eb-84da-1f57241449d2.png)

It doesn't work neither with "/app-entrypoint.sh

[2021-03-04 17:36] arjo-xfa commented on #5488
Hi,

I think I have the same issue, login failed

Do you have received any answer ?

Xavier

[2021-03-04 18:00] luigi-13 commented on #5654
Hi @migruiz4,

Thank you for your feedback, I have initialized a script as you recommended to me and it works well!
Here is the script for those interested. (I only needed to change the WP_HOME)
`customPostInitScripts:
  wp-home-blog.sh: |
    #!/bin/bash
    chmod +w /bitnami/wordpress/wp-config.php
    sed -i "s|define(\x27WP_HOME\x27, \x27http:\/\/\x27 \. \$_SERVER\[\x27HTTP_HOST\x27\] \. \x27\

[2021-03-04 21:10] kishorkk91 opened #5686 "fluentd not sending kubernetes metadata logs to Kibana using plugins and filters"
I have deployed the Bitnami EFK helm chart on the K8s cluster. I want to generate Kubernetes metadata logs such as namespace name, container name, etc and see them in Kibana as JSON or Table output
**using helm chart**:
elasticsearch:7.10.2-debian-10-r10
fluentd:1.12.1-debian-10-r0
kibana:7.10.2-debian-10-r11

All pods are running fine and generate k8s log on stdout.
![image](https://user-images.g

[2021-03-04 23:20] vitosans opened #5688 "[bitnami/redis-cluster] external access with Metallb"
**Which chart**:
[code]

**Describe the bug**
Following the guide to deploying a cluster and open external access. Cluster gets deployed and I am told to do a helm upgrade with the LoadBalanced ports - I do the helm upgrade and the svc switch from LoadBalancer to ClusterIP and I am unable to make connections from external hosts outside the cluster.

**To Reproduce**
Steps to reproduce the behavior

[2021-03-05 00:33] vitosans commented on #5688
Here is the updated helm yaml:

[code]

[2021-03-05 00:45] vitosans commented on #5688
**After running update. **:
[code]

[2021-03-05 04:35] ghost opened #5690 "[bitnami/mongodb] Root User not created"
**Which chart**:
bitnami/mongodb 10.9.0

**Describe the bug**
After Installing the Chart and retrieving the root password, auth for root fails

**To Reproduce**
[code]
my values:
[code]
With Mongo Compass installed locally
[code]
Attempt to connect mongodb://root:ROOTPASSWORD@localhost:27017/admin

Log Output
[code]

**Expected behavior**
Able to connect to the ReplicaSet

**Version of Helm and Ku

[2021-03-05 04:35] bharat15-ml commented on #5615
Thanks @marcosbc for help.  What is the way to change default redis data dir location "/bitnami/redis/data" to something else. Example- "/redis/data/$HOSTNAME"

[2021-03-05 05:27] latituder opened #5691 "Use Helm high-availability architecture, get error from Ingress"
**Description**

K8s version: 1.20
HELM chart version: 2.0.3
set architecture= high-availability

get error from Helm when generate ingress yaml;
however, if set architecture to standalone, then the error doesn't appear
get error:
[code]

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you dee

[2021-03-05 05:57] prakashmnnit81 opened #5692 "Not able to run command passing as postgresqlInitdbArgs in latest binami postgresql"
I am passing the  the below command as argument
echo -e "psql -c \"CREATE DATABASE testdb;\"\npsql  -d \"testdb\" -f \"/tmp/testscript/test.sql\"" > /docker-entrypoint-initdb.d/init-user-db.sh && chmod a+x /docker-entrypoint-initdb.d/init-user-db.sh && cat /docker-entrypoint-initdb.d/init-user-db.sh && docker-entrypoint.sh postgres -N 500
but unable to run this command
I am passing the test.sql us

[2021-03-05 06:25] jijoosper opened #5693 "Is there anyway to connect to pods permanenty and avoid using kubectl with etcdctl"
Hello,

I have installed etcd by following https://bitnami.com/stack/etcd/helm and the following was shown after installation.

[code]

Currently, we are able to access etcd keys using simple etcdctl commands like below from ec2 debian instances.

`etcdctl -peers testing.etcd.osper.in get /testing/osper/psql/username`

With etcd in EKS, we have to use kubectl exec command with each and every comma

[2021-03-05 06:41] arjun-virmani opened #5694 "Bitnami Influxdb Admin User Parameter incorrect"
**Which chart**:
The name (and version) of the affected chart
Influxdb (1.1.9)

**Describe the bug**
Admin user and admin password parameters are incorrect at https://artifacthub.io/packages/helm/bitnami/influxdb/1.1.9.
Incorrect parameters : **adminUser.name, adminUser.pwd**
Correct parameters in values file :  **auth.admin.username, auth.admin.password**

**To Reproduce**
Steps to reproduce the

[2021-03-05 06:46] migruiz4 commented on #5654
Awesome! Thank you very much for sharing your solution.

I'm going to close this as the issue seems to be resolved, if you have any further questions don't hesitate to let me know.

[2021-03-05 06:46] #5654 closed

[2021-03-05 07:09] #5694 closed

[2021-03-05 07:10] arjun-virmani commented on #5694
Version issue

[2021-03-05 07:14] kirinnee opened #5695 "Thanos Chart Labels"
**Which chart**:
Thanos Chart (all)

**Is your feature request related to a problem? Please describe.**
Add custom labels to all pods

**Describe the solution you'd like**
Have labels in `values.yaml` to provide additional labels to resource to deployed

**Describe alternatives you've considered**
pipe to kustomize, but not workable with ArgoCD

[2021-03-05 07:34] migruiz4 commented on #5686
Hi @kishorkk91,

I think your issue is caused because of this:
[code]
If you have a look at Fluentd documentation, your events will only match the first entry: https://docs.fluentd.org/configuration/config-file#note-on-match-order

So what may be happening is you are not forwarding the events because you are instead sending them to `stdout`.

Removing the `stdout` match entry should fix your issue

[2021-03-05 07:58] mehmetsalgar commented on #5636
I check the links you provided, it seem raw-block-volume is a better way to configure a Storage for Cassandra but it seems helm chart for Cassandra at bitnami the option is no there....

    `volumeClaimTemplates:
        - metadata:
              name: data
              labels: {{- include "common.labels.matchLabels" . | nindent 10 }}
              {{- if .Values.persistence.annotations }}

[2021-03-05 08:07] kishorkk91 commented on #5686
@Miguel, It worked, and see the K8s data in Kibana. BIG THANKS for your confidence and support.

[code]

[2021-03-05 08:23] #5640 closed

[2021-03-05 08:31] juan131 commented on #5688
Hi @vitosans

Could you try using the command below?

[code]

It seems like you're doing something weird with quotes in the `helm upgrade` command you shared and, as a consequence, it's not parsing the parameters correctly.

[2021-03-05 08:32] juan131 commented on #5640
Hi @larsrnielsen

As you can see, my PR was just merged, and a new version of the chart will be released in the next few hours including these messing paramaters.

[2021-03-05 08:42] juan131 commented on #3533
Hi @NicolasRisi

Could you try with sth like this?

[code]

[2021-03-05 09:00] SamMousa commented on #4446
Workaround found and posted in https://github.com/kubernetes-sigs/external-dns/issues/961

[2021-03-05 09:01] Mgonand commented on #4918
I submited the PR with the changes but the lint test are failing. I'm not sure why is failing #5680

[2021-03-05 09:14] miguelaeh commented on #5692
Hi @prakashmnnit81 ,
Are you passing that command into the `test.sql` file? If that's the case try renaming the file to `test.sh` instead.
The `extraInidDbArgs` are not intended to be used like that, it seems you are passing a full bash command, while it expects the db arguments, check this section https://github.com/bitnami/bitnami-docker-postgresql/blob/master/README.md#specifying-initdb-argumen

[2021-03-05 09:20] NicolasRisi commented on #3533
Yes i already tried but the args are overwritten with "airflow tasks ...."

[2021-03-05 09:31] raefezzeldin opened #5696 "[bitnami/aiflow] Unzip Archive file issue"
when I try to unzip an archive file that contains sub directories it keeps giving me an permission denied

[2021-03-05 10:02] HebeHH commented on #743
I'm also running into this issue; using `mysql` as a subchart with values.yaml:

[code]

After I uninstall/reinstall a couple of times, I end up with the `mysql` stateful set pod in CrashLoopBackoff, with this error:
[code]

[2021-03-05 10:03] Mauraza commented on #5683
Hi @olivierboudet,

we are open to contributions. Could you create a PR with this change?

[2021-03-05 10:06] olivierboudet commented on #5683
Hi @Mauraza,

thanks for your feedback. Yes it is an accepted feature request I can try to do a PR in next few days.

[2021-03-05 10:06] Mauraza commented on #5488
Hi @arjo-xfa,

Could you add more information about your issue? you could add the logs

[2021-03-05 10:11] carrodher commented on #4918
Thanks for the PR and the contribution, we will review it and provide feedback. Probably the PR is going to be assigned to a different reviewer in the team but I was taking a quick look at the linter issue. You can obtain the details by following the link that appears in the PR, in this case, https://github.com/bitnami/charts/pull/5680/checks?check_run_id=2032472334:
[code]

It seems you bumped th

[2021-03-05 10:21] carrodher commented on #4446
Thanks for the information! Do you think there is room for improving the chart itself?

[2021-03-05 10:21] migruiz4 commented on #5686
I'm glad it fixed your issue and I'm happy to help!

[2021-03-05 10:32] carrodher commented on #5690
I was trying to reproduce the issue on my side; for that, I used the same values you provided except the parameters related to annotations and selectors:
[code]

- Then I installed the chart with the following command:
[code]

- According to the notes that are generated based on the specified values, those are the required steps to connect to the database:

1. To get the root password run:
[code]

[2021-03-05 10:43] Mgonand commented on #4918
Yes, its ok now. Thank you!

[2021-03-05 10:44] carrodher commented on #5641
Currently, Elasticsearch requires some changes in the kernel of the host machine to work as expected. If those values are not set in the underlying operating system, the ES containers fail to boot with ERROR messages. [Here](https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html) you can find more info about the specific case of Virtual Memory.

The Bitnami Helm Char

[2021-03-05 11:06] SamMousa commented on #4446
One option would be to always create the node watcher role at cluster level... Or code needs to be changed to not require it.

[2021-03-05 11:19] larsrnielsen commented on #5640
thanks, but can you also add the labels to the pod? I can only find commonLabels on the STS/Deployment, not on the related pods.

metadata:
  name: {{ template "common.names.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLab

[2021-03-05 11:25] #5016 closed

[2021-03-05 12:13] arjo-xfa commented on #5488
Hi @Mauraza  ,

I install keycloak with the following command :
`helm install --namespace test-admin my-release bitnami/keycloak`

When I try to connect to the interface, I have an login error
![Capture](https://user-images.githubusercontent.com/75482681/110113763-dcaee700-7db3-11eb-8264-143dc9894bae.JPG)

I get the password with the following command :
[code]

There is log for pod **my-release-ke

[2021-03-05 12:21] bugok commented on #5410
I recently got the same message. It was because I didn't specify `rbac.create: true`. After fixing that - kubewatch started to work properly.

[2021-03-05 12:32] olivierboudet opened #5698 "[bitnami/mongodb] extraFlags overrides MONGODB_EXTRA_FLAGS set by tls.enabled=true"
**Which chart**:
bitnami/mongodb:10.7.2

**Is your feature request related to a problem? Please describe.**
If I set tls.enabled=true, the chart automatically set  MONGODB_EXTRA_FLAGS=--tlsMode=requireTLS --tlsCertificateKeyFile=/certs/mongodb.pem --tlsCAFile=/certs/mongodb-ca-cert"

If I set tls.enabled=true *and* I set extraFlags, the chart set two times the same variable :

[code]
To make my re

[2021-03-05 12:40] fredgate commented on #5081
For moment I use the default parameters. But the problem is that I am in CI job that has the token of a service account with a RoleBinding for the ClusterRole `admin` (predefined by k8s)

[2021-03-05 13:00] g00ntar commented on #5641
Yes, you are right and I'm aware of this need, but...
After [https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-virtual-memory.html](https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-virtual-memory.html)

and there (on the same website) are solutions/workaround to make this works without need to change kernel settings.
To run elesticsearch without need  `max_map_count=262144` setting (a

[2021-03-05 13:19] prakashmnnit81 commented on #5692
Thanks @miguelaeh  for replying,
I am able to create database, I have put my all command in test.sql. I want it should be created after db created.
 I am using bitnami/postgresql 10.3.8 as subchart .So I have only option to  create table using above approach, so could you please describe in detail to achieve my task

[2021-03-05 13:43] accu-joeykarns commented on #5690
@carrodher Thank you for looking into this. I did also try the mongodb client container and followed the same commands and still got
Error: Authentication failed. :
connect@src/mongo/shell/mongo.js:374:17
@(connect):2:6
exception: connect failed
exiting with code 1

Logs:
{"t":{"$date":"2021-03-05T13:40:11.984+00:00"},"s":"I",  "c":"ACCESS",   "id":20249,   "ctx":"conn3398","msg":"Authentication f

[2021-03-05 13:59] accu-joeykarns commented on #5690
@carrodher Did you have any issues with the readiness probe?

[2021-03-05 14:06] accu-joeykarns commented on #5690
@carrodher I cleared everything out and changed from the namespace I was using to default. The namespace I was using was Istio enabled. So something with the chart breaks if installed on an istio enabled namespace.

[2021-03-05 14:40] theodore-chronopoulos opened #5699 "ibm cloud toolchain drupal"
Hello. I have created a kubernetes cluster in ibmcloud and on top of that I configured Drupal. When I finished, drupal website was running perfectly, but I wanted to create a toolchain in order to automate code delivery. When I created a toolchain, you are asked to provide a git url to clone or otherwise it clones a git repo with a dummy app. What I want is the git repo that is created with my too

[2021-03-05 14:58] carrodher commented on #5690
Not sure if it is related to istio or because you were using the same release name and namespace, because `helm` doesn't delete the PVC where the password is stored, and the PVC with the old password is reused with the new deployment; but the new deployment generates a new random password that is not the same stored in the PVC, causing a conflict.

[Here](https://docs.bitnami.com/general/how-to/tr

[2021-03-05 15:02] vitosans commented on #5688
Thanks for the replay @juan131 - without the quotes and commas you get the following error:

[code]
If I put the quotes back in, and skip the commas I get the following error:
[code]
BTW the quotes and commas are coming from the helm notes
[code]
    I only added the bash line breaks for manageability. I have tried various combinations to get it to work thinking something in my values.yaml is caus

[2021-03-05 15:08] juan131 commented on #5696
Could you please give us more context @raefezzeldin ?

 - How can we reproduce the same issue?
 - What version of the Airflow chart are you using?
 - What parameters are you setting?

[2021-03-05 15:23] alemorcuq commented on #5693
It should be possible to do as you say. I would imagine you need to make sure you can connect to the service from outside the cluster.

[2021-03-05 15:25] accu-joeykarns commented on #5690
@carrodher Yep...let me try

[2021-03-05 15:37] accu-joeykarns commented on #5690
@carrodher Ok...I've got it working but I had to have some istio destination rules to disable TLS on port 27017

`apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: mongo-db-hosts-connection
spec:
  host: "*.SERVICENAME.NAMESPACE.svc.cluster.local"
  trafficPolicy:
    portLevelSettings:
    - port:
        number: 27017
      tls:
         mode: DISABLE
---
apiVersion

[2021-03-05 15:59] andresbono commented on #5636
Hi @mehmetsalgar, thanks for further looking into this. Could you add the new property on your side to see if it actually improves the performance of Cassandra and enables you to configure read ahead as you would expected?

We will be happy to include this new feature to the chart if it can be of help.

[2021-03-05 16:12] andresbono commented on #5691
Hi @latituder, thanks for raising this issue, it can be reproduced with:

[code]

[2021-03-05 16:16] andresbono commented on #5691
@latituder, #5703 should fix the issue. Thanks for reporting!

[2021-03-05 16:31] vitosans commented on #5688
I got it working an unconventional way.

I created two values.yaml

[code]
I launch the cluster with the following:
[code]
Then I edit the values-lbip.yaml and add the IPs and flip init to false and then do my upgrade:
[code]
So far it looks like its working, I will test more today and verify.

[2021-03-05 16:45] ashishmgofficial commented on #2588
@javsalgar  I have a PV created for holding the requirements.txt. so all the worker and scheduler takes the same requirements.txt

[2021-03-05 16:46] disconn3ct commented on #5410
I haven't had a chance to retest unfortunately. I had rbac.create set (otherwise there would be no role at all: https://github.com/bitnami/charts/blob/master/bitnami/kubewatch/templates/clusterrole.yaml#L1

I will retest this weekend and report back

[2021-03-05 18:22] vitosans commented on #5688
I can verify that this works.

[2021-03-05 18:22] #5688 closed

[2021-03-05 19:14] criscola commented on #4825
I would be interested in having this, we can now create very cheap clusters with a few raspberry pi 4 8gb and k3s or microk8s.

[2021-03-05 20:50] marcosbc commented on #5615
Unfortunately it's not possible with the current chart (nor container image), currently. I'd recommend you to update your backup/restore scripts so they can backup the data directory to the proper location (find some recommendations in my previous comment).

Redis logs are printed to the container's stdout/stderr. If you use a service like fluentd you will be able to parse them automatically.

As

[2021-03-05 21:18] raefezzeldin commented on #5696
When I try to unzip or create directory in the pods it gives me permission denied. the version I am using 8.0.6

[2021-03-05 21:19] utkuozdemir commented on #5265
I am facing the same issue on chart version `8.4.4` app version `8.0.23`.

[2021-03-06 14:41] bugok commented on #5410
While trying again, I think I got a repro for this error.

I'm experiencing this when using a custom image.

Imagine this values file:

[code]

Running the following works (error doesn't show up):
[code]

However, when using a custom image, the error shows up:
[code]

[2021-03-06 15:39] bugok commented on #5410
https://github.com/bitnami/charts/pull/5709 should fix this.

[2021-03-06 17:57] venomone opened #5710 "Simple Question on Architecture"
Hey folks,

can smb quickly explain to me why there is a elasticsearch-master and elasticsearch-data?!?
Are elasticsearch-data containers/Pods just the slaves of elasticsearch-master?
Would be awesome to see some documentation that points out the Architecture this setup uses

Thanks in advance

[2021-03-07 09:12] ashishmgofficial opened #5711 "[bitnami/airflow] CSRF Token missing error"
Helm install for latest airflow chart gets successful. Im hosting arflow web behind an ingress. in 8.0.2 chart with airflow 2.0.0. Everything works fine but with the latest chart with airflow 2.0.1, Im getting **CSRF Token missing error** right after Login from Airflow Login screen

[2021-03-07 09:16] ashishmgofficial opened #5712 "[bitnami/airflow] S3 remote logging"
**Which chart**:

**Is your feature request related to a problem? Please describe.**
Yes, at present Im persisting the Worker logs folder to get the worker logs. I would love to get s3 remote logging enabled to leverage cheap and reliable storage option that s3 provides rather than relying on relatively expensive EFS solution in AWS

**Describe the solution you'd like**
Require S3 Remote logging f

[2021-03-07 18:06] disconn3ct commented on #5410
That is perfect. Thanks!!

[2021-03-08 01:18] suridaddy commented on #5589
@alemorcuq every nodes take itself as primary.
[code]

Seems this is one blocking issue for us to deliver some feature(base on postgresql) at the end of this month. Do we have a plan when this issue will be fixed?

[2021-03-08 01:47] cris-b commented on #5651
But if using kubernetes executor the pods are required created for every task, so this init container runs every time a task runs, meaning this may be the longest part of the job..

[2021-03-08 04:34] SiegfredRodriguez commented on #5628
i couldn't believe it is manual, thanks.

[2021-03-08 05:01] AkashRajvanshi commented on #5574
Hey, I look for the ways to add JVM Options in cassandra-env.sh. I tried changing from value.yaml using `jvm.extraOpts` but it fails the pod. So, I change the hostname in `cassandra-env.sh` through sed utility ( I know this is not a solution, but I can't find another way, Can you please suggest a solution to add an extra JVM Option in this chart ).

[code]

[2021-03-08 05:28] latituder opened #5715 "influx v2, high-availability, 2x relay, cannot logon webui"
**Which chart**:
The name (and version) of the affected chart
[code]
**Describe the bug**
A clear and concise description of what the bug is.
Use HELM3 implement with high-availability arch, influxdb.replicaCount=2 and relay.replicaCount=1;
(if set  influxdb.replicaCount=1 and relay.replicaCount=1, the issue doesn't occur)
Influx can be implented successful, Pods can start;
in the WebUI, enter adm

[2021-03-08 05:53] larsrnielsen opened #5716 "commonLabels not applied to pods"
See issue #5640

Please add labels to the template part as well, such that commonLabels apply to created pods and not only the Deployment/STS.

[code]

[2021-03-08 06:53] hi-usui commented on #5683
@olivierboudet is it possible to make it so that a clusterIP service is created for every replica? I too am trying to expose MongoDB through ingress-nginx, but if I understand correctly, a replica set connection URI needs to include every instance IP if you need to connect to a primary to do writes?

otherwise it is possible for nginx to route a connection to a secondary, and then writes will fail

[2021-03-08 07:14] juan131 commented on #5574
Hi @AkashRajvanshi

Could you share how did you do that?

---

You could also try using the `CASSANDRA_CFG_ENV_XXXX` environment variable, where XXX is the variable you want to define. For instance, install the chart using:

[code]

[2021-03-08 07:17] carrodher commented on #5265
Are you facing the issue in a fresh installation or during an upgrade? Not only during an upgrade but also if you re-installed the chart with the same name. `helm delete` doesn't remove the PVCs where the password is stored, you need to manually remove it with `kubectl delete pvc`.

Please take a look at the solutions provided in the guide below and let us know if they're helping to solve your pro

[2021-03-08 07:17] rahulvinodsharma opened #5717 "[bitnami/metallb] Affinities and Anti-Affinities"
**Which chart**:
[bitnami/metallb]

**Describe the bug**

metallb-controller-pod not scheduling another than master node.

**To Reproduce**
Steps to reproduce the behavior:

`helm install metallb bitnami/metallb -n metallb-system -f value.yaml`

**Expected behavior**
metallb-controller-pod should be deployed on any available node, as there is no nodeselector in default values.yaml files.

**Versio

[2021-03-08 07:18] juan131 commented on #3533
Hi @NicolasRisi

Could you share the modifications you did in the ConfigMap (**pod_template.yaml** section)? I must be missing something here since I don't fully get why the arguments are overwritten.

[2021-03-08 07:24] juan131 commented on #743
Hi @HebeHH

Why did you overwrite the default `image.tag`? Is there any limitation that forces you to use `8.0.11`?

As you can see in the "Notable Changes" section below:

- https://github.com/bitnami/bitnami-docker-mysql#5723-r52-and-8012-r34

The Bitnami MySQL image introduced structural changes in the `8.0.12-r34`. The current chart is meant to work with the new images' structure, and it's lik

[2021-03-08 07:26] #5410 closed

[2021-03-08 07:29] juan131 commented on #5696
Hi @raefezzeldin

The Bitnami Airflow container is a non-root container (learn more about non-root containers in [our docs](https://docs.bitnami.com/tutorials/work-with-non-root-containers/)). As a consequence, there are very few directories where write permissions are granted.

What are you exactly trying to achieve? Manually accessing running containers and executing commands is highly discourag

[2021-03-08 07:30] carrodher commented on #5711
I'm sorry but I am not able to reproduce the issue.

[code]

![Screenshot 2021-03-08 at 08 28 46](https://user-images.githubusercontent.com/13216600/110288514-6b0bae80-7fe8-11eb-8681-101d9ff3e122.png)
![Screenshot 2021-03-08 at 08 29 00](https://user-images.githubusercontent.com/13216600/110288517-6c3cdb80-7fe8-11eb-8213-8d48a338eb69.png)

Are you facing this issue installing the chart from scratc

[2021-03-08 07:32] juan131 commented on #5716
Hi @larsrnielsen

I think what we did in https://github.com/bitnami/charts/pull/5676 is correct, but you're looking for the `podAnnotations` parameter instead. `commonAnnotations` is not meant to affect the `spec.*` of any of the manifests included in the chart.

[2021-03-08 07:32] juan131 commented on #5640
I just commented in the new issue you opened @larsrnielsen

[2021-03-08 07:33] juan131 commented on #5716
Does it make sense?

[2021-03-08 07:35] carrodher commented on #5690
I'm glad the issue is solved. We are accepting some PRs implementing some changes in the Helm Charts doing them compatible with the istio service names, such as https://github.com/bitnami/charts/pull/5679. It is not something included on our backlog to work on in the short term, but we are open to review external contributions.

[2021-03-08 07:47] Mauraza commented on #5488
Hi @arjo-xfa,

I wasn't able to reproduce the issue. There is another WAR in the logs?

[2021-03-08 07:50] olivierboudet commented on #5683
@hi-usui you are right, I need to change this in my PR.

[2021-03-08 07:53] carrodher commented on #5641
The privileged initContainer is enabled by default, in order to disable it, you need to set `sysctlImage.enabled=false` when installing the chart. Then, you should be able to set the desired parameters in the configuration file, something like

[code]

In that case, are you able to see the proper configuration in the config file (`elasticsearch.yml`)? You can check it by accessing the pod (if it i

[2021-03-08 08:17] raefezzeldin commented on #5696
I am running Talend jobs which contain shell script and several jar files , so what I need to do is to archive the files and share it with airflow nodes then unzip the archive to run the shell script

[2021-03-08 08:22] carrodher commented on #4446
I will create an internal task to investigate this issue, but as the impact is limited and due to other priorities on our backlog, I am not sure if it is going to be addressed in the short term. Would you like to contribute by creating a PR? The team will be happy to review it and incorporate the solution into the next version of the chart.

[2021-03-08 08:26] #5691 closed

[2021-03-08 08:27] SamMousa commented on #4446
I can't promise a PR will follow; have no idea on how charts are structured or applied so it'll require some research.
Also I'm pretty new to k8s and thus not sure my solution is a good solution.
One thing that needs to be researched by implementers of `external-dns` is if access to the `nodes` resource is really a requirement or if it could be done without...

[2021-03-08 08:33] javsalgar commented on #2402
Hi,

Thank you for the input! At least for the time being, it should be enough for dev testing with a single-node ES.

[2021-03-08 08:36] javsalgar commented on #2588
Hi,

Could you also check if the `pip install` command is being run in both nodes? If it says module not found error it could be related to the module not being installed in the proper folder (which I don't think it's the case) or maybe something incorrect with the `PYTHONPATH` variable. At which point does it fail? Which is the exact traceback?

[2021-03-08 08:48] #5668 closed

[2021-03-08 08:53] miguelaeh commented on #5692
Hi @prakashmnnit81 ,
I am sorry maybe I misunderstood the issue. I am not sure about what you mean by:
[code]

Could you detail that please?

[2021-03-08 09:16] migruiz4 commented on #5695
Hi @kirinnee ,

I have created this PR #5718 adding `PodLabels` to the Thanos Chart, would that work for use case?

[2021-03-08 09:19] miguelaeh commented on #5651
ah, I see, the volume seems to be always an empty dir when using Kubernetes Executor: https://github.com/miguelaeh/bitnami-charts/blob/b51a8a718bf62f01f0ef4e8f5b0630fd3e2a7b01/bitnami/airflow/templates/config/configmap.yaml#L188

It seems that the init container just initializes and configure airflow to copy the configuration file to the volume to be used by the real container, and that `nami init

[2021-03-08 09:32] HebeHH commented on #743
Hi @juan131 ,

Thanks for the pointers! I was using `8.0.11` at direction from the dev team, but they should be able to deal with the upgrade. I'll change the image tag and hope that solves the problem. That'll teach me to skim that section of the docs.

I appreciate the help, it was severely puzzling me.

[2021-03-08 09:42] AkashRajvanshi commented on #5574
Hey, this also gives the same error, but when I run `nodetool status` on my Cassandra container its shows not found warning

[code]

[2021-03-08 09:48] kirinnee commented on #5695
Hello this would, thank you very much!!

[2021-03-08 09:54] drorventura commented on #5358
Hi,
any updates regarding this?
will x-pack be supported?

[2021-03-08 09:59] NicolasRisi commented on #3533
![image](https://user-images.githubusercontent.com/11333761/110305294-e7a88800-7ffc-11eb-91a4-669b06fb1357.png)

We are in KubernetesExecutor so, 1 task will pop 1 worker pod which execute the task. So the args are overwritten with the command "airflow tasks run ..." which execute the task. It's dynamic depending of the task. If we set ourself the args (and let's imagine they are not overwritten),

[2021-03-08 10:06] andresbono commented on #5081
Then, in your case, you will need to install the chart with the following values:

[code]

But keep in mind that, as @alemorcuq [said](https://github.com/bitnami/charts/issues/5081#issuecomment-763801251), some k8s features might not work as expected. The `create` rule for `Event was introduced here: https://github.com/bitnami/charts/pull/2173, required for the `rabbitmq_peer_discovery_k8s` plugin

[2021-03-08 10:07] deepakkrmodi commented on #4082
@miguelaeh @juan131 I have not enabled sentinel in my deployment, and in my setup I have one master and two slaves for redis, but still i am getting "READONLY You can't write against a read only replica." . What can be the potential cause?

[2021-03-08 10:18] andresbono commented on #5699
Hi @theodore-chronopoulos, I'm not really sure if we can help you here... Note this is the repository for the Helm Charts that we provide, we are used to offer support for the way the applications like Drupal are configured but I can't give you advice on the toolchain matter you are talking about...

[2021-03-08 10:19] migruiz4 commented on #5717
Hi @rahulsadanandan,

Using default `values.yaml`, the controller pod specs will look as it follows:

`$ helm template bitnami/metallb`
[code]

As you can see, the only conditions by default are:
- The Kubernetes node should include the label `"kubernetes.io/os": linux`
- PodAntiAffinity prevents deploying two replicas in the same node.

I tried to reproduce your case using the latest version of t

[2021-03-08 10:33] javsalgar commented on #5358
Hi,

We checked and I'm afraid we cannot distribute x-pack. In the current scenario, that's something we cannot support.

[2021-03-08 10:45] andresbono commented on #5712
Hi @ashishmgofficial, thanks for opening this issue. It seems remote logging is configurable through the config file or even with environment variables:

- [`AIRFLOW__LOGGING__REMOTE_LOGGING`](http://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#remote-logging)
- [`AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID`](http://airflow.apache.org/docs/apache-airflow/stable/configurations-ref

[2021-03-08 11:19] cris-b commented on #5651
it seems to me that what is taking the time is that nami initialize is actually running db,init and db,reset - here I have enabled NAMI_DEBUG:

airflow INFO  ==> No injected configuration files found. Creating default config file...
airflow TRACE [runProgram] Executing: /opt/bitnami/airflow/venv/bin/airflow db,init
airflow TRACE [runProgram] Executing: /opt/bitnami/airflow/venv/bin/airflow db,rese

[2021-03-08 11:34] prakashmnnit81 commented on #5692
@miguelaeh
after creating the db I want to create connect the db  and initialize the table using below command psql -c "CREATE DATABASE testdb;"\npsql -d "testdb" -f "/tmp/testscript/test.sql"" could it possible using initdbScipt command?

[2021-03-08 11:44] cris-b commented on #5651
ah found it, its in:

/.nami/components/com.bitnami.airflow-worker/helpers.js

$app.helpers.generateConfFile = function() {
  $os.runProgram(
    'venv/bin/airflow',
    this.getAirflowCommand('initdb', 'db init'),
    {env: {AIRFLOW_HOME: $app.installdir}}
  );
  $os.runProgram(
    'venv/bin/airflow',
    this.getAirflowCommand('resetdb', 'db reset'),
    {input: 'y', env: {AIRFLOW_HOME: $app.in

[2021-03-08 11:46] #5146 closed

[2021-03-08 12:22] MaxRink opened #5721 "Bump Harbor to 2.2.0"
**Which chart**:
Harbor ( current forward)
**Is your feature request related to a problem? Please describe.**
Update the docker images and chart to App version 2.2.0

[2021-03-08 13:03] #5683 closed

[2021-03-08 13:14] theodore-chronopoulos commented on #5699
@andresbono in the yaml files, many values are defined in https://charts.bitnami.com/bitnami. How could I have acces to tha code?

[2021-03-08 13:35] utkuozdemir commented on #5265
I think it was a false alarm - I'm not sure but probably I didn't pass `volumePermissions.enabled=true` as I claimed to. I have uninstalled the release, removed the PVC and reinstalled, making sure that `volumePermissions.enabled=true`, and it seems to be working ok this time. I'll report it again if I can reproduce it. Sorry for taking your time.

[2021-03-08 13:59] #5721 closed

[2021-03-08 14:12] cris-b commented on #5651
i've now worked around this by extending the worker container and patching it:

dockerfile:

FROM bitnami/airflow-worker:2.0.1-debian-10-r24

COPY helper.patch /

USER root

RUN apt-get update -y && \
    apt-get install -y patch && \
    cd /.nami/components/com.bitnami.airflow-worker && \
    patch -p0 < /helper.patch && \
    apt-get remove -y patch

USER 1001

patch:

--- helpers.js.orig     2

[2021-03-08 14:25] alemorcuq commented on #5715
Hi, @latituder.

I have deployed the latest version of the chart, `2.0.5`, with the following options and I could not reproduce your issue. I'm able to successfully login into the UI:

[code]

Do you see anything in your logs that could tell something about the error?

[2021-03-08 14:32] larsrnielsen commented on #5716
Hi @juan131 Is there a podLabels parameter? I tried to change `commonLabels` to `podLabels` instead, but the memcached pods were not labeled as such. Adding to the confusion is the documentation of commonLabels `commonLabels | Labels to add to all deployed objects`

[2021-03-08 14:45] alemorcuq commented on #5671
I've tried to reproduce your issue in the latest version of the chart (`10.10.0`) and I couldn't. Can you confirm you are still having the issue in the latest chart?

[2021-03-08 14:46] #5628 closed

[2021-03-08 14:48] alemorcuq commented on #4825
Thanks for the feedback, @criscola. This is in our roadmap. Thanks to the community, we recently merged a PR adding ARM support to our minideb images: https://github.com/bitnami/minideb/pull/90

[2021-03-08 15:38] AlexDag commented on #5671
I've switched to "no public external url" configuration  and I use this chart through private aws vpc.

[2021-03-08 16:00] migruiz4 commented on #5569
Hi @cris-b ,

Thank you very much for sharing your solution. Indeed the variables `AIRFLOW_WEBSERVER_HOST` and `AIRFLOW_WEBSERVER_PORT_NUMBER`, causing the worker pods to get stuck with the status 'Init:Error'.

I have created this PR fixing this issue: #5722

[2021-03-08 16:16] lassanouer opened #5723 "Add checksum"
**Which chart**:
airflow chart

**Is your feature request related to a problem? Please describe.**
if we re-deploy after changes on requirements.txt or just any config-map, or password passed in a file..., the pod should restart, and to force it, checksum is the best solution

[2021-03-08 16:34] marcosbc commented on #5698
Hi @olivierboudet, in this case it seems like the chart should support setting `--tlsAllowConnectionsWithoutCertificates` if a boolean option is set when `tls.enabled=true`, right?

Another thing is that we should probably avoid setting EXTRA_FLAGS two times like you mention, and just concatenate.

Those changes look simple, would you be up for contributing any of these features with a PR?

[2021-03-08 17:03] lusu007 opened #5724 "[bitnami/mongodb] pvc gets deleted when upgrading helm chart"
**Which chart**:
mongodb 10.10.0

**Describe the bug**
When upgrading the helm chart the pvcs of an existing replicaset gets deleted.

**To Reproduce**
Install mongodb replicaset then upgrade the helm chart.

**Expected behavior**
PVCs doesn't get deleted

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `kubectl version`:

[code]

**Additional context**
None.

[2021-03-08 17:08] marcosbc commented on #5710
Hi @venomone, `elasticsearch-data` refer to Elasticsearch pods with a `data` role. Refer to the official docs for more info: https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#data-node

[2021-03-08 17:11] wissamataleh opened #5725 "Ingress is not created for bundeled kibana in elasticsearch"
**Which chart**:
elasticsearch - version: 14.5.0
kibana - version: 7.2.3

**Describe the bug**
Ingress is not created for bundled kibana in elasticsearch chart.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable ingress in kibana subchart and add apiVersion capabilities in common subchart
[code]
2. install elasticsearch chart.

**Expected behavior**
Ingress resource for kibana is created

[2021-03-08 17:27] rafariossaa commented on #5725
Hi,
  Did you enabled kibana ?
  I got ingress information rendered by doing:
[code]

[2021-03-08 17:39] wissamataleh commented on #5725
Yes Kibana is enabled and running perfectly, I tested by port forwarding the service

[2021-03-08 17:43] wissamataleh commented on #5725
Nevermind, the charts are working fine, apparently I had a typo in kibana ingress values. My bad.

[2021-03-08 17:43] #5725 closed

[2021-03-08 17:56] juan131 commented on #743
You're welcome @HebeHH

Please share with us your progress and let us know if you need anything else.

[2021-03-08 18:20] #5695 closed

[2021-03-08 20:17] olivierboudet commented on #5698
Hi, thanks, I will send a PR with the concatenation for EXTRA_FLAGS.

I am not sure the `--tlsAllowConnectionsWithoutCertificates` should have a specific setting. In this case, all `tls*`flags may need one, which can be quickly cumberstone ?

[2021-03-08 21:33] scottgrasley commented on #2240
Leveraging the `extraEnvVars` feature seems to do the trick for a development environment.
[code]

[2021-03-08 22:10] venomone commented on #5710
@marcosbc Thank you very much for this explination and link :)
So data nodes basically do the work and master nodes coordinate the cluster. I first thought that elasticsearch-data is only realted to this bitnami chart, my bad. Thx again.

[2021-03-08 22:10] #5710 closed

[2021-03-09 05:27] #5634 closed

[2021-03-09 05:35] Adam-Kaplan opened #5728 "node chart ingress resource : add defaultBackend"
**Which chart**:
https://github.com/bitnami/charts/tree/master/bitnami/node
* name : node
* version : 15.0.0

**Is your feature request related to a problem? Please describe.**
When using the [aws-load-balancer-controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/), the application load balancer being created only creates target group that always responds with a 404.

[2021-03-09 06:28] bugok opened #5729 "[bitnami/kubewatch] Values in values.yaml don't match application code"
**Which chart**:
kubewatch 3.1.3

**Describe the bug**
The application code [declares the following options](https://github.com/bitnami-labs/kubewatch/blob/master/config/config.go#L50):
[code]

In the chart's `values.yaml` the following options are documented:
[code]

This makes it so that if we pass `resourcesToWatch.services: true`, nothing will change.

**To Reproduce**

- Deploy the chart with

[2021-03-09 06:40] bugok opened #5730 "[bitnami/kubewatch] Missing rbac resources"
**Which chart**:
bitnami/kubewatch

**Describe the bug**
When looking into [this issue](https://github.com/bitnami/charts/issues/5729), I tested a configuration which enabled tracking all resources and found that several resources aren't properly configured in rbac.
The missing resources are: `configmaps`, `nodes`, `secrets` and `clusterroles`.

**To Reproduce**
Steps to reproduce the behavior:

U

[2021-03-09 07:10] carrodher commented on #5265
I'm glad you were able to fix the issue by customizing the probes

[2021-03-09 08:00] miguelaeh commented on #5651
Hi @cris-b ,
Those files are not public on GitHub, that's why we are migrating all the containers to bash instead of nami, but the migration is still in progress.

About the patch, if should be enough, but then you need to use different images for the workers and the airflow deployment, since the initialize is needed to configure the application properly. I guess the reason of execute the full nam

[2021-03-09 08:10] #5698 closed

[2021-03-09 08:47] KYHS-BOX commented on #5655
No never before, I remember in de chart description to not use/fors SSL connections in Azure PostgreSQL config. Anyhow, again many Thanks for your update. I will take all your suggestions with me, you have point me to the right directions again (connection problemns maybe caused by SSL/certificate requirements on one of the side's). need to put the LOG on the service in Azure to identify the root

[2021-03-09 08:47] #5655 closed

[2021-03-09 08:47] KYHS-BOX commented on #5655
closing.

[2021-03-09 08:52] drkhosla commented on #5190
I pull mongdb chart and only change architecture to replicaset instead of standalone in values.yaml file. I get an error of Readiness probe failed..
kubectl describe po mongodb-0 -n graylog.... shows
[code]
kubectl log shows..
[code]
I am able to ping remote node. I have no clue how to solve this.

[2021-03-09 08:55] javsalgar commented on #2240
Thank you so much for the tip! It will help other users in the community :D

[2021-03-09 08:59] juan131 commented on #5696
Hi @raffaelespazzoli

I guess yo need to mount these ZIP files (including the JAR and scripts) in the workers, right? I guess you could use the `worker.extraVolumeMounts` and `worker.extraVolumes` parameters to do so.

Parameter | Description | Default
-- | -- | --
worker.extraVolumeMounts | Array of extra volume mounts to be added (evaluated as template). Normally used with extraVolumes. | nil
wo

[2021-03-09 09:10] cris-b commented on #5651
the chart uses a separate worker image by default anyway.  using nami initialize is fine, its just that what gets called due to nami initialize is not required.

i believe the above patch should be made to all 3 of the bitnami packages (airflow, airflow-scheduler, airflow-worker), because it is the same in each.  The function it is part of (generateConfFile) is run before the db is configured, so

[2021-03-09 09:12] andresbono commented on #5699
Hi @theodore-chronopoulos, you can either check the code in this repository (https://github.com/bitnami/charts) or you can also execute the following command to get a tarball archive with all the files for the chart:

[code]

[2021-03-09 09:16] Mauraza commented on #5716
Hi @larsrnielsen,

the `commonLabel`are the labels to add to all deployed objects, the objects you are referring to are those of templates. You can check what happens whit the following command:
[code]

[2021-03-09 09:19] andresbono commented on #5724
Hi @lusu007, can you share the specific values that you are using to install and upgrade the helm chart? What are the original version you are upgrading from?

[2021-03-09 09:30] juan131 commented on #5574
Hi @AkashRajvanshi

That's expected, since you're accessing through localhost on that scenario.

I managed to do it. See this example:

- Install Cassandra and wait for it to be ready:

[code]

- Access the "cassandra-0" container to check the options are being used:

[code]

- Create a "cassandra-client" container:

[code]

- Inside the "cassandra-client" container, run the nodetool:

[code]

[2021-03-09 09:37] juan131 commented on #3533
Hi @NicolasRisi

I see what you mean. The argumenta are dynamically changed by the scheduler when creating the new worker pods.

Assuming it only modifies the `args`, respecting the `command` defined in the **pod_template.yaml**, you could do sth like this:

[code]

[2021-03-09 09:46] NicolasRisi commented on #3533
Hi @juan131
Thanks, i'll try this command this week or next week. I'll make the PR if it works :)

[2021-03-09 10:09] migruiz4 commented on #5729
Hi @bugok ,

I'm sorry but I could understand what you mean by

I tried to reproduce your issue, but the current configuration seems to be working as intended.

### Test 1

**values.yaml**
[code]
Installing using **--set resourcesToWatch.services=true**, only services will be monitored.
[code]

### Test 2

**values.yaml**
[code]

Uninstalled, reinstalled without `--set` flag, and the pod logs show

[2021-03-09 10:29] carrodher commented on #5723
This approach is used for the default ConfigMap, see
[code]

And it is being taken into account when the template is rendered:
[code]

but probably it needs some modification to support configmap provider by the user instead of the default one (same for secrets). Would you like to send a PR implementing these changes? We'll be happy to review it

[2021-03-09 10:30] bugok commented on #5729
@migruiz4: Thanks for your response and your detailed testing.
Maybe this is because of the fact that I'm using a custom image where I define a custom handler of mine.
Is it possible that the default fetched image has those option names available?

[2021-03-09 10:58] migruiz4 commented on #5729
The base image used by the chart by default is `bitnami/kubewatch:0.1.0-debian-10-r186`.

You can find the source code of that image in this repository: https://github.com/bitnami/bitnami-docker-kubewatch
As you can see it doesn't include any additional logic to transform `.kubewatch.yaml`.

---

Is it possible your image is not setting $HOME (or alternatively $KW_CONFIG) to the folder where you a

[2021-03-09 10:59] larsrnielsen commented on #5716
I understood it from Juan's response, but now I am asking why this is not working? `helm template bitnami/memcached --set podLabels.test=test` It seems to be missing. Lars

[2021-03-09 11:02] carrodher commented on #5190
I am not able to reproduce the issue, I just installed the chart with the following command (modifying the architecture directly instead of customizing the values file):
[code]
Everything is up and running:
[code]

Take into account the probes are set to default values, but depending on the cluster, scenario, or use case, it is possible you need to modify some of the default values to another one

[2021-03-09 11:06] Mauraza commented on #5716
Hi @larsrnielsen,

You are right, the `podLabels` are not appearing in the memcached chart, and that is why it is not working.

[2021-03-09 11:08] larsrnielsen commented on #5716
Hi,

   Exactly, so my humble ask is that this is added to memcached.

Lars

[2021-03-09 11:09] bugok commented on #5730
@javsalgar: Done.

[2021-03-09 11:36] bugok commented on #5729
Unfortunately, I can't share the code for my custom image.
I can say that the custom image is based on the kubewatch docker image: https://github.com/bitnami-labs/kubewatch/blob/master/Dockerfile

The only changes I have in my custom image are adding another (custom) handler which is similar to the webook handler, but needs to be in another format.

I think the point I'm missing is how does the ku

[2021-03-09 11:58] mladedav opened #5734 "[RabbitMQ] Credential issues after reinstall"
**Which chart**:
RabbitMQ 8.11.2
(possibly other charts have similar issues if I understand correctly)

**Is your feature request related to a problem? Please describe.**
Credentials persist between reinstallation of charts (as described in the troubleshooting guide.

When trying to upgrade the chart it notifies developers that they need to supply credentials. I though I was too smart for that and

[2021-03-09 13:22] #5730 closed

[2021-03-09 14:06] migruiz4 commented on #5729
Hi @bugok ,

I performed another test, and I think I know what is happening.

First of all, I'd like to point out that using `/bin/kubewatch config view` does not ensure your settings are okay, as it only prints the content of `~/.kubewatch.yaml`.

Checking at kubewatch PRs adding new resources, looks like the resource configuration always uses a lower-case version of these:
[code]

I found out th

[2021-03-09 14:16] g00ntar commented on #5641
I'm little ambarased because I made mistake in config in my second post, ofcourse there should be
[code]
and I tried this from begining.

So  below steps to reproduce on GKE with some output - helm chart elastic/elasticsearch with same config works on GKE

[code]
![bitnami_es](https://user-images.githubusercontent.com/1928123/110483527-13556c00-80ea-11eb-994c-6a81e3686b71.png)

[2021-03-09 15:20] bugok commented on #5729
@migruiz4 , thanks again for your efforts to explain how this works.
Will close this out.

[2021-03-09 15:20] #5729 closed

[2021-03-09 16:27] bharat15-ml commented on #5615
Hi @marcosbc, have made the changes in confignap, for logfile location-/persistent/redis/logs/redis.log and able to see the logs.
One question here- will this logfile contains complete cluster logs or it is pod specific log with the same name; because when I have checked the size of log file (redis.log) from each pod is having different size of log file.

[2021-03-09 16:28] bharat15-ml commented on #5615
Hi @marcosbc, have made the changes in confignap, for logfile location-/persistent/redis/logs/redis.log and able to see the logs.
One question here- will this logfile contains complete cluster logs or it is pod specific log with the same name; because when I have checked the size of log file (redis.log) from each pod is having different size of log file.

[2021-03-09 17:59] lusu007 commented on #5724
Hey @andresbono,
I upgraded from version 10.6.2 to 10.10.0.

Mongodb is deployed via argocd with the following values.yaml:
[code]

[2021-03-09 18:35] fewensa opened #5737 "MINIO ingress tls secretName bug"
Hi
there have a bug

https://github.com/bitnami/charts/blob/430a10175d7e320312604ad053a15c654bb1b273/bitnami/minio/templates/ingress.yaml#L47-L51

[code]

need change to

[code]

[2021-03-09 18:42] #5737 closed

[2021-03-09 19:56] juan131 commented on #3533
Great @NicolasRisi ! Please keep us updated about your progress

[2021-03-10 00:00] petersin0422 opened #5738 "Chart proposal for Grafana Loki"
**Which chart**:
Does not exist today.

**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**
I am trying to deploy Grafana Loki for log management. The official Loki Helm chart comes with a very limited set of options and the maintainer is not interested in adding additional features.

**Describe alternatives you've cons

[2021-03-10 04:24] day1118 commented on #4446
Hi @carrodher
Is there an issue somewhere that you can link to for the investigation of if the `node` permissions are actually required? Changes to the template don't make any sense if the dependency can be removed instead.
Thanks

[2021-03-10 05:43] AkashRajvanshi commented on #5574
Thank You So Much For Support, It's Working Now :)

[2021-03-10 08:05] juan131 commented on #5574
Great @AkashRajvanshi ! I'm glad you could get it working.

[2021-03-10 08:10] miguelaeh commented on #5651
Hi @cris-b ,
I am currently working on moving the airflow logic to bash instead of nami, I will have that into account and will test it properly.

[2021-03-10 10:12] carrodher commented on #5734
Thanks for creating this issue, you are referring to [this troubleshooting guide](https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#credential-errors-while-upgrading-chart-releases), right? In fact, the specific version is pointed in the link.

We created the guide because it is a known issue, in the same way, the guide appears in the bug report template, see
![Screenshot 202

[2021-03-10 10:59] carrodher commented on #5641
Thanks for the detailed explanation, I was taking a look and found where the issue comes from.

During the `bitnami/elasticsearch` container image initialization, there are different scripts executed, one of those scripts is _setup.sh_, in this script there is the following function ([link](https://github.com/bitnami/bitnami-docker-elasticsearch/blob/3b5780b848313291d1009d04651f17b07a218c25/7/debi

[2021-03-10 11:00] carrodher commented on #5641
I'm setting the "on-hold" label to prevent the stale bot from closing the issue while we work on the internal task to investigate what is the real purpose of the validation in the image and if there is a chance of getting rid of it

[2021-03-10 11:01] Mauraza commented on #5450
Hi @rickrain,

could you run this command in site the pod of drupal `ls -la /opt/bitnami/drupal/sites/default/files/css/`?
the output should be:
[code]

[2021-03-10 11:32] Mauraza commented on #5716
Hi @larsrnielsen,

I just created a PR.

[2021-03-10 11:44] SamMousa commented on #4446
Well that issue needs to be reopened, because it is not resolved...

[2021-03-10 11:45] SamMousa commented on #4446
https://github.com/kubernetes-sigs/external-dns/issues/961

[2021-03-10 11:54] bugok opened #5741 "[bitnami/kubewatch] Missing ingress resources in extensions api group in rbac"
**Which chart**:
kubewatch 3.2.0

**Describe the bug**
When running the chart with a custom image containing ingress, there's an error.

[code]

**To Reproduce**
Deploy the chart with the following yaml:

[code]

Observe the error.

**Expected behavior**
The chart should handle defining `ingress` resource tracking.

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output

[2021-03-10 11:56] bugok commented on #5741
Will send a PR soon.

[2021-03-10 12:37] humblewolf opened #5744 "[redis] [feature-request] give redis modules support"
**Which chart**:
bitnami/redis

**Is your feature request related to a problem? Please describe.**
We use redisearch redis module (https://oss.redislabs.com/redisearch/) along with redis, AFAIK Bitnami charts does not provide any out of the box support for redis modules, which is a big deal for us.

**Describe alternatives you've considered**
We are writing our own images and kubernetes objects.

[2021-03-10 12:49] mchepukov opened #5745 "pvc for kafka with separate directory for every pod"
How to create separate data directory for every kafka's pod in pvc.
[code]

For example we have hostPath to /mnt/kafka directory, when only one pod run on node - it's ok, because it's create data directory only for this pod, and it's will be like kafka0 - node1, kafka1 - node2, kafka2-node3, but if node unschedulable it can be like x - node1, kafka0  - node2, kafka1 - node 2, and kafka wouldn't st

[2021-03-10 13:07] bjin01 opened #5746 "deployment problem: ingress tls values - wildcard cert problem"
**Which chart**:
bitnami/dokuwiki                        11.1.3          20200729.0.0

**Describe the bug**
I manually created tls-ca and secret with cert and key in default namespace that I use.
The cert is signed by letsenscript, a wild card cert.
[code]
Trying to deploy with helm 3 and get errors.

[code]

values.yaml:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a custo

[2021-03-10 13:08] raefezzeldin commented on #5696
Hi @juan131

Can you provide an example how edit this two values in the values.yaml file.

[2021-03-10 14:26] GMartinez-Sisti commented on #5543
I'm having the same issue, with different result. My problem is caused by the chart using: `{{ template "redis.fullname" . }}-node-0.{{ template "redis.fullname" . }}-headless...` in the sentinel configuration [here](https://github.com/bitnami/charts/blob/master/bitnami/redis/templates/configmap.yaml#L45). If the `node-0` is killed, it will never come back as it can't connect to itself on boot.
I

[2021-03-10 14:54] alemorcuq commented on #5738
Thanks for your suggestion, @petersin0422 ! We will check it internally and evaluate its feasibility, but due to our limited resources that could take some time.

If you want to contribute with the chart do not hesitate to open a PR and we will review it. [Here](https://github.com/bitnami/charts/blob/master/CONTRIBUTING.md#adding-a-new-chart-to-the-repository) you can find the requirements and sca

[2021-03-10 16:27] #5716 closed

[2021-03-10 16:33] Mauraza commented on #5716
Hi @larsrnielsen,

The PR is accepted, so in the new version, this change will appear.

[2021-03-10 16:55] bharat15-ml opened #5749 "[bitnami/redis-cluster] After upgrade cluster info command shows redis cluster is in failed state?"
**Which chart**:
redis-cluster-4.4.0

**Describe the bug**
I have upgraded the redis cluster to 4.4.0, and scale down the cluster from 6 (3 master + 3 salve) to 2 (1 master + 1 slave).  both the pods are up and running (2/2) state. Currently facing issue with redis-client and unable to perform any set or get operations.
Error: Cluster down, Hash slot not served.

Have checked few cluster commands:

[2021-03-10 17:13] rickrain commented on #5450
Here you go @Mauraza,

[code]

[2021-03-10 17:22] rickrain commented on #5450
@Mauraza, something else I should mention is that when I deploy this as described [here](https://github.com/bitnami/charts/issues/5450#issuecomment-794048064), the SSL certificate is not valid.  I have to give an exception in my browser for it to work and the certificate is for `example.com`.  This happens _only_ if I deploy without using a PVC SMB File Share.  If you want to look for yourself, I

[2021-03-10 19:07] mklokocka opened #5752 "[mongo] Redeploying designated initial primary pod after node (and storage) failure caused desync of ReplicaSet"
**Which chart**:
bitnami/mongodb 9.3.1

**Describe the bug**
We are using mongodb set up using bitnami helm chart. We are using the `replicaset` architecture with 3 replicas. Since there are high volumes of data going through the DB, we wanted to avoid network overhead and we are using local storage of hosts for persistence (using https://github.com/rancher/local-path-provisioner). We are running

[2021-03-11 02:20] chrisbsmith opened #5753 "[bitnami/harbor] Support cert-manager annotations"
**Which chart**:
bitnami/harbor

**Is your feature request related to a problem? Please describe.**
I deployed the bitnami/discourse chart recently using cert-manager, and leveraged the `ingress.certManager` value to automatically add the `kubernetes.io/tls-acme: true` annotation. I have been reviewing the harbor chart in preparation to deploy and noticed that it does not have the same `ingress.ce

[2021-03-11 02:27] latituder commented on #5715
@alemorcuq
thanks for the reply. I also using 2.0.5 to try the deploy agian. still have the same symptom from my side.
If I use admin user and password to logon, it will automatically return to the logon screen.
here are the logs from the 2 pods from statefulset:
[code]

the another pod log is:
[code]

the replay pod log seems normal:
[code]

[2021-03-11 02:35] Vbubblery opened #5754 "[bitnami/airflow] Cannot fetch dags from private repo"
Hello,

Im trying to deploy airflow to K8s with Helm and bitnami airflow
[code]
But there is an error:
[code]

Any idea? 🙏

[2021-03-11 02:38] Vbubblery commented on #5754
I tried to make this repo public, any then just use
[code]

This is working.

[2021-03-11 06:56] maninderCiena commented on #2543
Was facing same issue , will make changes and submit a PR.

[2021-03-11 07:03] #5686 closed

[2021-03-11 07:57] #5741 closed

[2021-03-11 07:59] juan131 commented on #5754
Hi @Vbubblery

Thanks for opening the issue.

I think this is a duplicate of https://github.com/bitnami/charts/issues/3533
Could we follow the conversation on the original issue thread? Thanks in advance.

[2021-03-11 07:59] #5754 closed

[2021-03-11 08:29] #5569 closed

[2021-03-11 08:35] javsalgar commented on #5753
Hi,

Thank you so much for the feedback! We will work on adding the feature. If you want to speed up the process, feel free to submit a PR and we will review it.

[2021-03-11 08:43] juan131 commented on #5696
@rafariossaa you can find an example below:

[code]

[2021-03-11 08:56] Mauraza commented on #5450
Hi @rickrain,

In your deployment, I found this
![image](https://user-images.githubusercontent.com/17168510/110760738-4d8c4e00-824f-11eb-95e0-53e1cd39c35e.png)

Appears this errors:
[code]

And I found this old issue https://www.drupal.org/project/jstools/issues/72561, could you check it?
the other thing you can try is to change this parameter `gid=1001` to `gid=root` to try to have the same outpu

[2021-03-11 09:20] bharat15-ml commented on #5749
Minimum 6 pods required for redis cluster deployment, after scaling down to two cluster-create job failed due to that complete cluster not properly configured.

[2021-03-11 09:20] #5749 closed

[2021-03-11 10:56] alemorcuq commented on #5589
We are working on it, but due to our limited resources we can't give you an ETA.

[2021-03-11 11:13] carrodher commented on #5745
At this moment, the different parameters to handle persistence in the chart are:
- `extraVolumeMounts` to add an extra volumeMount(s) to Kafka containers
- The `persistence.*` parameters you are mentioning

But in the end, this is something handled by k8s itself and I am not sure if it is something that can be customized with that much fine grain.

In the statefulset:
[code]
Whatever you set as `e

[2021-03-11 11:52] Ognian opened #5758 "[bitnami/keycloak] "keycloak/templates/ingress.yaml" at <.Values.ingress.servicePort>: nil pointer evaluating interface"
**Which chart**:
bitnami/keycloak version 2.3.0

**Describe the bug**
[code]
works reliable with version 1.2.0 (this was my last version, so the problem was introduced somewhere between 1.2.0 and 2.3.0)

**To Reproduce**
`helm upgrade ... --debug --dry-run` shows the above error

**Expected behavior**
no error
**Version of Helm and Kubernetes**:

- Output of `helm version`:

[code]

- Output of `k

[2021-03-11 12:13] hhy5861 opened #5759 "[bitnami/etcd]snapshots directory permission denied"
[code]

[code]

[2021-03-11 12:20] andresbono commented on #5746
Hi @bjin01, after you edited the Ingress object, is it working as you would expected?

We will be checking the issue.

[2021-03-11 14:40] alemorcuq commented on #5671
Sorry, I didn't understand. Are you still having the issue?

[2021-03-11 14:58] AlexDag commented on #5671
I'm not working now with "bitnami/mongodb external IP" as I made this issue. If you does not have any solution - I still having this problem.

[2021-03-11 15:00] andresbono commented on #5724
Hi @lusu007, I couldn't reproduce your issue... In my case, the pods are updated but the pvcs are kept. It's true that I'm not using your storage class, but that shouldn't be related...

[2021-03-11 15:13] disfluxly opened #5761 "[bitnami/etcd] - Add Extra Containers Section in Helm Template"
**Which chart**:
bitnami/etcd

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
The ability to define extra containers that will run as a sidecar to the etcd container.

**Additional context**
It'd be nice to have the ability to run sidecar containers to etcd. One example would be running telegraf as a sidecar to gather prometheus metrics

[2021-03-11 16:30] #1698 closed

[2021-03-11 16:34] marcosbc commented on #5615
Each Redis node will show its own logs (that is, that redis.log will include pod-specific logs).

Like mentioned earlier, the log file is not shared between the nodes, because each redis.log includes the logs of the specific Redis node.

[2021-03-11 16:42] rafariossaa commented on #5758
Hi,
  I would suggest you to do incremental version updates.
  Could you try to upgrading 1.2.0 -> 1.4.3 -> 2.0.0 -> 2.3.0 ?

[2021-03-11 16:46] rafariossaa commented on #5543
Hi  @GMartinez-Sisti ,
  Could you enable debug and get the logs from the nodes that are in CrashLoop ?.

[2021-03-11 16:46] juan131 commented on #1698
Hi everyone,

I just want to let you know that we just released a new version of the chart (6.4.0) that adds support to deploy MinIO(R) as a Gateway for other storage systems.

Please give it a try when you have a chance and provide us feedback.

[2021-03-11 17:37] marcosbc commented on #5744
Hi @humblewolf, currently we don't include any non-default pre-built module for Redis, unfortunately.

Have you considered creating a Docker image based on `bitnami/redis` adding the built module on top? Note that you should be able to compile the module without, as documented here: https://docs.bitnami.com/aws/infrastructure/redis/configuration/install-modules/

[2021-03-11 17:46] juan131 commented on #5761
We're doing a major refactoring at https://github.com/bitnami/charts/pull/5682
Please wait for the new major version to be released

[2021-03-11 17:48] juan131 commented on #2543
https://github.com/bitnami/charts/pull/5755 was closed in favor of https://github.com/bitnami/charts/pull/5756

[2021-03-11 17:48] juan131 commented on #5759
We're doing a major refactoring at #5682
Please wait for the new major version to be released. It should address this issue.

[2021-03-11 17:54] jvdgoltz commented on #5647
I have a similar error for a plugin `ModuleNotFoundError: No module named 'PLUGIN_NAME'`,
after describing and sshing into the airflow webserver pod I think the reason is that the plugins folder is wrongly mounted:
`kubectl describe pod  airflow-web-YADATADA  -n airflow` gives me under volume mounts:
- `/opt/bitnami/airflow/dags/REPO_NAME from git-cloned-dag-files-REPO_NAME (rw,path="airflow/dags"

[2021-03-11 22:25] JamesCacioppo opened #5762 "grafana-operator chart does not pass global.imagePullSecrets to grafana deployment"
**Which chart**:
grafana-operator 0.3.1

**Describe the bug**
global.imagePullSecrets from values.yaml is not used when pulling bitnami/grafana image even though global.imageRegistry is used.  This prevents the image from being pulled from the private registry specified in global.imageRegistry.

**To Reproduce**
1. add values to values.yaml
[code]
2.helm install name [chart]

**Expected behavior**

[2021-03-12 04:50] Vbubblery opened #5763 "[Airflow] cannot set nodeSelector for postgresql and redis"
**Which chart**:
Airflow:latest

**Describe the bug**
I set the nodeSelector
[code]
It's working for scheduler, web and woker. But redis and postgresql are still using the default node.
![Screenshot 2021-03-12 at 05 49 20](https://user-images.githubusercontent.com/10377338/110893663-b4187700-82f6-11eb-88ad-e7df425d4a20.png)
![Screenshot 2021-03-12 at 05 49 43](https://user-images.githubusercontent

[2021-03-12 05:01] #5763 closed

[2021-03-12 05:18] hhy5861 commented on #5759
thx!

[2021-03-12 06:51] sujeet-agrahari opened #5764 "Enable metrics for reids chart with prometheus-community/helm-charts while installation"
I have already setup  prometheus-community / helm-charts in a namespace `monitoring`.

How can I enable metrics to be shown on grafana dashboard?

What needs to be provided while installation?

[2021-03-12 08:32] horazont opened #5765 "[mariadb-galera] TLS options are not effective"
**Which chart**:
mariadb-galera
[code]

**Describe the bug**
The TLS options of the chart are completely ineffective. While the image contains [code to set the SSL variables accordingly](https://github.com/bitnami/bitnami-docker-mariadb-galera/blob/master/10.5/debian-10/rootfs/opt/bitnami/scripts/libmariadbgalera.sh#L341-L348), that code [is not called](https://github.com/bitnami/bitnami-docker-ma

[2021-03-12 09:19] humblewolf commented on #5744
Hey @marcosbc this is something we are currently doing but this involves writing our own layers and some sort of keeping track of versions which is why we look towards bitnami images/charts.This is not a bug or issue but kind of a feature-request. Include it into your roadmap if you guys think it will help a lot of people like me. Thanks

[2021-03-12 10:15] andresbono commented on #5746
Hi @bjin01, I think the problem is that the secret name should match the hostname in the following way:

[code]

So for instance, if your hostname is `boki.bocap.cloud`, your secret should be named `boki.bocap.cloud-tls`.

https://github.com/bitnami/charts/blob/96b46df4f02639d7183734536b25913c456afbda/bitnami/dokuwiki/values.yaml#L152-L156

[2021-03-12 10:24] andresbono commented on #5764
Hi, @sujeet-agrahari, you can specify `metrics.enabled=true` and the Redis chart will start exposing metrics:

https://github.com/bitnami/charts/tree/master/bitnami/redis#parameters

metrics.enabled | Start a side-car prometheus exporter
-- | --

Additional info: https://github.com/bitnami/charts/tree/master/bitnami/redis#metrics

[2021-03-12 10:55] #5541 closed

[2021-03-12 11:00] chromafunk opened #5766 "[Bitnami/ElasticSearch]Elastic Search cluster chart has stopped working"
`Chart version is : bitnami/elasticsearch           14.5.0          7.10.2         `
[code]
This chart was working just fine before but now the elastic cluster containers won't come up, and these are the logs.
Just in case the privileged container feature is broken, I have applied the kernel settings myself on the worker nodes but the same happens and I can't deploy the chart.

[code]
Do you know

[2021-03-12 11:07] sujeet-agrahari opened #5767 "persistent volume size is not being modified"
I tried both charts: `redis` and `rabbitmq`
[code]
In both cases, it always creates a persistent volume of size 8GB.

I have setup my cluster on aws.

Helm Version:"v3.5.3"

[2021-03-12 11:37] sujeet-agrahari commented on #5764
Thanks @andresbono  Do I need to do any other setup besides setting `metrics.enabled=true`?

[2021-03-12 11:44] NMFR opened #5768 "nginx-ingress-controller role using extensions apiGroup for podsecuritypolicies instead of policy"
**Which chart**:
nginx-ingress-controller 7.4.8

**Is your feature request related to a problem? Please describe.**
When `.Values.podSecurityPolicy.enabled` is true the following will be added to the RBAC `Role`:

https://github.com/bitnami/charts/blob/96b46df4f02639d7183734536b25913c456afbda/bitnami/nginx-ingress-controller/templates/role.yaml#L87-L96

Notice the `apiGroups` being `extensions` an

[2021-03-12 12:02] marcosbc commented on #5762
Hi @JamesCacioppo, it seems you are using the `grafana-operator` parent key, which should not be added in the `values.yaml` file of the Grafana Operator chart.

If I modify my values.yaml in the following way:

[code]

And then run `helm template` with custom inputs, I can see image pull secrets being added to the template:

[code]

Could you verify if that solves your issues?

[2021-03-12 12:14] #1513 closed

[2021-03-12 12:14] #5360 closed

[2021-03-12 12:14] #5443 closed

[2021-03-12 13:11] juan131 commented on #1513
We just released a new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure/e

[2021-03-12 13:11] juan131 commented on #5360
We just released a new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure/e

[2021-03-12 13:11] juan131 commented on #5443
We just released a new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure/e

[2021-03-12 13:12] juan131 commented on #5761
We just released the new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure

[2021-03-12 13:12] juan131 commented on #5759
We just released the new major version of the etcd chart (**6.0.0**) including new features and introducing changes in the etcd that attempt to improve the stability of the chart on operations such as scaling or updating the etcd cluster, see the link:

- https://github.com/bitnami/charts/tree/master/bitnami/etcd#to-600

We also improve the [docs](https://docs.bitnami.com/kubernetes/infrastructure

[2021-03-12 13:35] iamaverrick commented on #5074
@fabiocruzcoelho im still dealing with the same issue. I have basically tired all options and it doesn’t work. This has to be a bug with the helm chart because all my other services work with the configuration I currently have.

[2021-03-12 15:42] fabiocruzcoelho commented on #5074
Hi, @iamaverrick I did a test with google cloud using letsencrypt and their LB, it works perfectly I will try to use letsencrypt with the NLB of aws and see if it works.

[2021-03-12 15:46] iamaverrick commented on #5074
@fabiocruzcoelho great this will narrow down and isolate the issue a bit more. I’m currently not using letsencrypt could be one of the issue. Please let me know if this solution works thanks .

[2021-03-12 16:04] migruiz4 commented on #5752
Hi @mklokocka ,

Thank you for reporting this issue and the detailed explanation and the steps to reproduce the issue.

Indeed, the current logic of the bitnami-mongodb container does not support this case where the Primary node is deleted along with its volume and then gets recovered.

I have created an internal task to review how the MongoDB cluster is created and make the necessary changes to t

[2021-03-12 16:41] rafariossaa commented on #5765
Hi @horazont ,
  Thank you very much for spotting this and for providing detailed steps to reproduce it !!

  I am opening a internal task to look for a fix for this.
  We are a small team and I can not provide a ETA.  We will come back as soon as we have news.
  In the mean time, don't hesitate to send a PR, we will be glad to review and merge it.

[2021-03-12 18:28] marcosbc commented on #5744
Hi @humblewolf, thanks for the feedback! I've created an internal task for evaluation, will share any updates here.

[2021-03-12 18:33] marcosbc commented on #5744
Hi @humblewolf, after a quick evaluation, it looks like RediSearch does not have an open-source license. Instead, it is based on the [RSAL](https://redislabs.com/legal/licenses/) license.

This means that unfortunately we will not be able to include it in the Bitnami Container Catalog for legal reasons.

[2021-03-12 19:01] chrisbsmith opened #5770 "[bitnami/harbor] Notary Ingress secret using core ingress secret"
**Which chart**:
[bitnami/harbor]

**Describe the bug**
I've been deploying this in an EKS v1.19 cluster running nginx-ingress controller and cert-manager v1.2.0 and have noticed that cert-manager creates two certificates but only a single secret.

Looking into the code, the core ingress secret is also referenced in the notary ingress object. When in this configuration, visiting https://harbor.myd

[2021-03-12 20:15] disfluxly commented on #5761
@juan131  - Awesome, thank you. Noticing a problem with the new helm chart but will spin up a different issue.

[2021-03-12 20:15] #5761 closed

[2021-03-12 20:45] disfluxly opened #5771 "[bitnami/etcd] - New Deployments Not Clustering in v6.0.0"
**Which chart**:
bitnami/etcd v6.0.0

**Describe the bug**
With a new cluster, specifying more than 1 etcd replica will result in each replica becoming its own etcd cluster.

**To Reproduce**
Steps to reproduce the behavior:

1. Using the default* values, specify the replicaCount to be 3.
2. After they have finished spinning up, exec into each etcd pod and run `etcdctl member list`. Each pod will

[2021-03-12 22:41] limavini opened #5772 "[bitnami/mongodb] Replica starting without configuration"
**Which chart**:
bitnami/mongodb

**Describe the bug**
MongoDB 2nd replica cannot find configuration.

**To Reproduce**
Steps to reproduce the behavior:

1. Install bitnami/mongodb chart with theses values:
[code]

`helm install mongodb --values mongodb-values.yaml bitnami/mongodb`
2. Wait a little and do `kubectl get pods`
3. Only the first pod (mongodb-0) will be ready, and the other one will be

[2021-03-12 23:47] rickrain commented on #5450
Still has the same results.

[2021-03-13 09:54] bharat15-ml commented on #5615
Thanks @marcosbc, for your patience guide and feedback, I am new to redis and helm chart, exploring, understanding and on learning path.

[2021-03-13 09:54] #5615 closed

[2021-03-13 12:21] HassanHashemi commented on #827
In my case the replica set key was not long enough.

[2021-03-13 17:37] maninderCiena commented on #5662
I am assuming if both commonLabels and primary.podLabels/secondary.podLabels is given later one will take priority !!

[2021-03-13 20:29] evtimmy opened #5774 "[bitnami/wordpress] Wordpress Deployment mounts default MariaDB secret even when mariadb.auth.existingSecret is specified"
**Which chart**:
bitnami/wordpress-10.6.10

**Describe the bug**
We are trying out the chart with our own secret generated for mariadb. Where things brake is the wordpress chart doesn't check if mariadb existing secret is configured.

**To Reproduce**
1. Create secret for mariadb:
[code]
2. Install wordpress chart:

[code]
helm install blog bitnami/wordpress --values=config.yaml

3. Result:
wordpr

[2021-03-13 20:34] evtimmy commented on #5774
On further investigation, it looks like the issue is in this helper template:
[code]

Perhaps updating to something like this:

[code]

[2021-03-14 00:16] don4of4 opened #5775 "InfluxDb > 2.0 Cannot Be Upgraded"
**Which chart**:

- name: influxdb
- version: 2.0.3
- repository: https://marketplace.azurecr.io/helm/v1/repo

**Describe the bug**
There appears to be something wonky with the >2.0 password validation.  When I have the influxdb chart included as a dependency to an umbrella chart, it will not **_upgrade_** successfully, but all the other bitnami charts work like a charm.  See error below.

**To Re

[2021-03-14 03:02] spidman commented on #5647
Setting the PYTHONPATH in the extraEnvVars won't work. I found that the issue is mitigated when you SSH into the deployment and run `airflow db init`. Since `airflow db init` or `airflow initdb` is idempotent, can we somehow run the command everytime the git is pulled using git-sync?

[2021-03-14 05:10] bharat15-ml opened #5776 "[bitnami/redis-cluster] How to expose redis cluster service to be accessed from outside/externally?"
**Which chart**:
redis-cluster-4.4.0.

**Is your feature request related to a problem? Please describe.**
I had tried to expose the redis-cluster service to outside in following ways:

Method-1: Have made the changes only in service section of values.yaml file and deployed as service type: LoadBalancer.

![image](https://user-images.githubusercontent.com/76279928/111057341-cdfbba80-84ac-11eb-9fa4-

[2021-03-14 05:15] hhy5861 commented on #5759
[code]

[2021-03-14 14:57] raefezzeldin opened #5777 "[bitnami/airflow] web args modification cause an error"
I am updating values .yaml with the following answers 👍

`  web:
    args:
      -
        name: "AIRFLOW__WEBSERVER__WEB_SSL_CERT"
        value: "/mnt/MyAzureFileShare/Certs/tls.crt"
      -
        name: "AIRFLOW__WEBSERVER__WEB_SSL_KEY"
        value: "/mnt/MyAzureFileShare/Certs/tls.key"
`

this error appears to me while deployment

Failed to install app airflow. Error: unable to build kubern

[2021-03-14 14:57] #5696 closed

[2021-03-14 15:23] texano00 opened #5778 "[bitnami/kong] Document how-to enable db-less mode (readme)"
**Which chart**:
kong: 3.4.4

**Is your feature request related to a problem? Please describe.**
There isn't info about how to enable Kong in db-less mode as described in the official guide.

**Describe the solution you'd like**
I write here the snippet to add on the README.md of the project. The solution is tested (and it works) by me.
Anything else is necessary in order to enable db-less kong mo

[2021-03-14 17:52] cjohnston1158 commented on #5351
@brianmay do you mind sharing how you tricked mariadb into resetting the passwords? I'm seeing this issue, and I did define a password during my initial deploy.

[2021-03-14 18:51] iamaverrick commented on #5074
I have been dealing with this issue for some time now and i haven't been able to find a solution which works. even if we can find a work around i would appreciate it. main issue is that keycloak forces the use of https but then switches back to http. im able to access to root url but once i hit the link to access the admin panel it shows a blank page. after using chrome dev tools we have determine

[2021-03-14 19:08] iamaverrick opened #5779 "[bitnami/keycloak] keycloak-config-cli not working on aws"
**Which chart**:
The name (and version) of the affected chart
keycloak 2.3.0

**Describe the bug**
When enabling keycloakConfigCli helm chart fails due to  ERROR: command for release [keycloak] returned [ 1 ] exit code and error message [ Error: failed post-install: job failed: BackoffLimitExceeded ]. after looking at the logs by running the following command kubectl logs keycloak-keycloak-config-

[2021-03-14 20:07] myros commented on #5766
@chromafunk  try to change your images esp sysctlImage tag
from
repository: bitnami/minideb
tag: buster

to:
repository: bitnami/bitnami-shell
tag: "10"

https://github.com/bitnami/charts/commit/870bc4dba1fc3aa55dd157da6687b25e8d352206#diff-44f01094dffa8aee87ca9184f9faa418dfb364e8942ceef61670b2b6f7e5d210

[2021-03-14 20:58] brianmay commented on #5351
@cjohnston1158 Knew I should have written down the steps.... I can't remember for sure, but I seem to remember I proceeded along the following steps:

1. Disable the deployment health/ready checks. I think I skipped this, but it would have helped heaps if the pod wasn't randomly killed while interacting with it.
2. Replace the pod command with a dummy command that keeps pod alive. e.g. "tail -f /d

[2021-03-15 05:47] matus-cuper commented on #5580
It was firewall :-( sorry for bothering you. Kubernetes automatically creates rule for allowing MongoDB traffic, but this network is accessible only for Kubernetes services. I had to create rule also node pool network.

[2021-03-15 05:47] #5580 closed

[2021-03-15 07:11] carrodher commented on #5766
The base image used in the initContainer has changed (as pointed in the above comment). The new one already contains `sysctl` installed so the chart logic where the package was installed in the initContainer was removed (see https://github.com/bitnami/charts/pull/5685).

The pull policy is set to Always so `bitnami/bitnami-shell` image should be pulled instead of `bitnami/minideb`
[code]
but accor

[2021-03-15 07:41] HassanHashemi commented on #4073
Any stable workaround for this?

[2021-03-15 07:44] #2543 closed

[2021-03-15 07:49] idonca commented on #4073
what we did: create another service with NodePort type:

[code]
And with this, you will have two services, one that has the scope to be internal(ClusterIP) and the other one to be external(NodePort).

[2021-03-15 07:51] brjos opened #5781 "[bitnami/spring-cloud-dataflow] make upgrade possible without rabbitmq deployed"
**Which chart**:
spring-cloud-dataflow (2.8.0)

**Describe the bug**
Upgrading the chart when initially installed with "rabbitmq.enabled=false" leads to the following Error:
[code]

**To Reproduce**

1. install the chart with "rabbitmq.enabled=false"
  e.g. `helm install scdf . --set rabbitmq.enabled=false`
2. change anything and do a "helm upgrade"
  e.g. `helm upgrade scdf . --set rabbitmq.enabl

[2021-03-15 08:32] juan131 commented on #5759
Hi @hhy5861

I'm sorry but I don't fully understand what you mean. Are you using the latest chart version? How can I reproduce your issue?

[2021-03-15 08:34] javsalgar commented on #5647
Hi,

There's something I don't understand about it. I see that there is a first git clone so the git sync should not be related, right? Not sure If I'm missing anything. By the way, @miguelaeh is working on transitioning the airflow containers to bash, so I will ping him so he can check if the new version of the container fixes the issue.

[2021-03-15 08:44] javsalgar commented on #5074
Hi,

This is strange that it's only happening in EKS. I'd like you to confirm something. I see that you are using nginx ingress controller
`nginx.org/redirect-to-https: "True"` annotations but you are using the Ingress Controller from AWS, is that an nginx ingress controller? Maybe the annotations it requires are different.

[2021-03-15 08:45] javsalgar commented on #5777
Hi,

It seems you are setting the args value with environment variables. For that you should use the `extraEnvVars` value that you can see in the chart. You could try if that works

[2021-03-15 08:50] juan131 commented on #827
Thanks for sharing your insights @HassanHashemi
I guess we could include a warning in the chart that prevents users from installing it when the key is not long enough.

[2021-03-15 08:51] juan131 commented on #5771
Hi @disfluxly

I wasn't able to reproduce the issue. I installed the chart with 3 replicas and the cluster was successfully created.
Could you please share the the etcd container logs during the 1st boot?

I attach my logs:

- installation:

[code]

- create etcd client and check members:

[code]

[2021-03-15 08:53] Mauraza commented on #5450
Hi @rickrain,

Could you try to change the `file_mode=0664`and `dir_mode=0775`?

[2021-03-15 08:54] juan131 commented on #5351
I mentioned it some posts before, I think the simplest solution is to perform a rollback. By rolling back to a previous release revision, the passwords should be set to the initial values and that should fix the issue with the credentials.

Find more info in the [Troubleshooting guide](https://docs.bitnami.com/general/how-to/troubleshoot-helm-chart-issues/#credential-errors-while-upgrading-chart-r

[2021-03-15 08:55] javsalgar commented on #5753
Hi! Please check this PR, it should cover the use case

[2021-03-15 08:58] juan131 commented on #5778
Thanks so much for your feedback @texano00 ! We really appreciate it!
Do you mind creating a PR (see https://github.com/bitnami/charts/pulls) adding these suggestions? We'll be glad to review them and help you through the process to contribute to enrich the README.md

[2021-03-15 09:01] alemorcuq commented on #5738
You can use the official image for now and we will take care of creating a new image. Thanks!

[2021-03-15 09:42] HassanHashemi commented on #4073
@idonca it's not possible to connect to replica set. though it's possible to connect as "Direct Connection".

[2021-03-15 10:13] andresbono commented on #5764
On the Redis, side, that should be all, @sujeet-agrahari 👍  Let us know if you find any issues.

[2021-03-15 10:15] MaxRink opened #5784 "[bitnami/harbor] metric exporter is missing"
**Which chart**:
Harbor 9.7.x
**Describe the bug**
The metrics exporter added with appVersion 2.2.0 is missing
**To Reproduce**
Steps to reproduce the behavior:

install harbor, notice no metgric exporter
**Expected behavior**
The metric exporter is installed.

**Additional context**
metric exporter in officvial chart: https://github.com/goharbor/harbor-helm/tree/master/templates/exporter
release

[2021-03-15 11:10] andresbono commented on #5772
Hi @limavini, what version of the chart are you using? We couldn't reproduce the issue with version `10.10.1`. Could it be related to the storage class that you are using?

[2021-03-15 11:35] limavini commented on #5772
Hi @andresbono, I installed with another storageClass (azure's "default") and the same thing happened:
[code]

[2021-03-15 12:04] alemorcuq commented on #5767
Hi, @sujeet-agrahari.

I can't reproduce your issue. See:

[code]

As you can see, at the beginning I don't have any PVCs, and then after I install the chart setting `persistence.size` to `2Gi` there's a PVC with a 2Gi size.

Are you sure in your case it is not some leftover PVC from a previous deployment?

[2021-03-15 12:10] alemorcuq commented on #5774
Thanks for reporting this, @evtimmy.

[2021-03-15 12:12] emrekgn commented on #3213
Hi,

I have the same issue and the proposed workaround (default install + upgrade) works successfully. So thank you so much for that!

May I ask do we have any updates on the issue?
And just out of curiosity, why is changing the order of key file creation (`mongodb_create_keyfile`) and mongodb startup (I guess `mongodb_start_bg`) problematic?

[2021-03-15 12:16] brumhard commented on #5771
For me it seems to just not work everytime but at times it does. I had runs where it just ran through successfully and created a cluster and now my last 4 runs all failed.
Mostly I get the log message `rafthttp: request cluster ID mismatch ` which seems to match the desribed error that each node creates it's own cluster. In these cases one node starts successfully and the others fail with the ment

[2021-03-15 12:29] chromafunk commented on #5766
Thanks, this fixed it !

[2021-03-15 12:43] #5774 closed

[2021-03-15 12:46] fabiocruzcoelho commented on #5074
Hi, @iamaverrick

As mentioned above, I took the test yesterday using EKS with Route53 and Let's Encrypt but cert-manager and as in google it worked perfectly, my problem was in the AWS ALB with SSL AWS that did not maintain the HTTPS connection, so the page was blank.

Do you use SSL from AWS? your ingress that provides your ALB?

Below is my config file that I used to work.

[code]
[code]
[code]

[2021-03-15 12:55] limavini commented on #5772
I've logged mongodb-arbiter-o and found those logs, maybe it will can be useful for you

[code]

Thanks

[2021-03-15 13:02] carrodher commented on #5766
I'm glad you were able to solve the issue, please, don't hesitate to reopen it if needed.

[2021-03-15 13:02] #5766 closed

[2021-03-15 13:12] aeimer commented on #4778
There is a `nginx-status-ipv4-whitelist` and `nginx-status-ipv6-whitelist` option in the configmap. https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#nginx-status-ipv4-whitelist

[2021-03-15 13:12] #4778 closed

[2021-03-15 13:18] Mauraza commented on #5775
Hi @don4of4,

I have not been able to reproduce the problem with Influxdb, could you try only upgrade Influxdb?

[2021-03-15 13:27] rickrain commented on #5450
Hi @Mauraza, I already did.  I did when I tried the other idea above.  Forgot to mention it.  But, still got the same result.

[2021-03-15 13:35] rafariossaa commented on #5781
Hi @brjos,
  Thanks for reporting the bug and making a PR.
   I have seen that @alemorcuq put some comments on your PR, could you take a look to them ?.

[2021-03-15 14:22] kcz12 opened #5788 "Airflow Git-Sync volume name has "git-" prefix"
**Which chart**:
Airflow 8.0.9
**Is your feature request related to a problem? Please describe.**
While using the Git-Sync functionality of the chart, the name if the volume gets prefixed with "git-" (_git_helpers.tpl line 36) As the "-" is not a supported symbol it makes it hard to use import statements for code that gets copied ower

**Describe the solution you'd like**
Change the prefix to an u

[2021-03-15 14:27] juan131 commented on #5771
Thanks for the feedback @brumhard @disfluxly !

I'm reviewing what can cause this and I think it could be related with the function below:

- https://github.com/bitnami/bitnami-docker-etcd/blob/master/3/debian-10/rootfs/opt/bitnami/scripts/libetcd.sh#L108

Even we're using `podManagementPolicy=Parallel` to create every initial replica simultaneously, there could be some differences and some replic

[2021-03-15 14:29] brumhard commented on #5771
Hi @juan131 thanks for the quick reply. I will give it a try.

[2021-03-15 14:49] iamaverrick commented on #5074
@javsalgar

As I mentioned above we have multiple services running on aws such as Jenkins, ELK, redid, grafana, vault, consul, etc and all of them work just fine. nginx.org/redirect-to-https: "True" was taken from the annotations nginx provides and They work just fine. This is why I know this is solely an issue with keycloak and AWS. Also I have tried many combinations of removing the annotations,

[2021-03-15 14:51] Mauraza commented on #5784
Hi @MaxRink,

I going to create an internal to include, we will update this thread when we have more information.
Thanks for reporting!

[2021-03-15 14:54] brumhard commented on #5771
Seems to be working for me 👍

[2021-03-15 14:54] iamaverrick commented on #5074
@fabiocruzcoelho

To answer your question

my problem was in the AWS ALB with SSL AWS that did not maintain the HTTPS connection, so the page was blank. ---- this is the same issue I'm having when I try running keycloak on aws using NLB and ssl provided by aws.

Do you use SSL from AWS? your ingress that provides your ALB?

Yes I use ssl from aws but use NLB instead. Also I do not use very-manager

[2021-03-15 14:54] disfluxly commented on #5771
@juan131  - I think you're absolutely right. A delay in pods coming up can especially happen when using something like fargate for worker nodes as not all pods could hit scheduling at the same time.

Here's some logs from my 3 pod ETCD cluster:

etcd-0:

[code]

etcd-1

[code]

etcd-2

[code]

Results of `etcdctl member list` in each:

etcd-0

[code]

etcd-1

[code]

etcd-2

[code]

etcd-2 never h

[2021-03-15 14:59] alemorcuq commented on #5715
I will try to reproduce your issue again.

Does the issue still happen to you if you deploy it with just these three parameters?

[code]

[2021-03-15 15:01] alemorcuq commented on #5671
I will try to reproduce it in a different environment to see if I get the same behavior.

[2021-03-15 15:02] gkulkarni32 opened #5789 "bitnami/solr exporter deployment fails even with authentication disabled"
**Which chart**:
bitnami/solr

**Describe the bug**
If you try to deploy solr with exporter.enabled=true and authentication disabled, the exporter pod does not come up as the zookeeper value is not correctly passed.

**To Reproduce**
Steps to reproduce the behavior:

1. `helm install solr bitnami/solr --set service.type=LoadBalancer,exporter.enabled=true,authentication.enabled=false`
2. `kubectl g

[2021-03-15 15:14] sujeet-agrahari commented on #5767
I first did `helm install rabbitmq --set metrics.enabled=true,replicaCount=2  bitnami/rabbitmq #rabbitmq`

Notice I didn't pass `persistent.size` so it by default created `8Gi` PVC.

Then, uninstalled it using `helm delete rabbitmq`.

But, it didn't delete PVCs. I again did,

[code]
This time it still using `8Gi`, didn't create `2Gi` volume.

[2021-03-15 15:14] Mauraza commented on #5768
Hi @NMFR,

Depends on the version of Kubernetes is `extension` or `policy` I going to create a PR to solve this.
Thanks for reporting!

[2021-03-15 16:05] don4of4 commented on #5775
I believe I used the latest published helm charts in the bitnami azure repo.  Which version worked for you in an umbrella?  Can you share the files?

[2021-03-15 16:59] marcosbc commented on #5770
Hi @chrisbsmith, could you share how you are deploying Harbor to enable TLS authentication?

Note that there are three options that may be used to determine the secret to use: `service.tls.notaryExistingSecret`, `service.tls.existingSecret` and `harbor.ingress`. Could it be possible that one of those are enabled in your options, causing the issues you're seeing?

[2021-03-15 17:00] marcosbc commented on #5779
Hi @iamaverrick, your error looks like an authentication issue. Could it be that the deployment is using persisted data with wrong credentials? To check that, you should be able to deploy a different release name / namespace, and check if the error still happens.

In addition, could you share the `values.yaml` file used to deploy Keycloak?

[2021-03-15 17:06] juan131 commented on #5771
@brumhard @disfluxly thanks for your insights!

We'll release a revision of the etcd image including a variant of the solution I shared before during the next day. I'll notify you as soon as the new images is released and included in the etcd chart by default.

Thanks again for helping us to improve the chart!

[2021-03-15 17:41] maxisam commented on #5424
This solution is actually on VMWare as well. Feel like you guys should know this already :p j/k

https://community.pivotal.io/s/article/How-to-setup-HAProxy-and-Redis-Sentinel-for-automatic-failover-between-Redis-Master-and-Slave-servers?language=en_US

[2021-03-15 18:24] maninderCiena commented on #5662
@alemorcuq why this is marked as on-hold is there any major refactoring changes in process ?

[2021-03-15 19:01] ManinderSinghRajput commented on #5662
@alemorcuq Is there any major change is in progress for this repo ?

[2021-03-15 20:42] iamaverrick commented on #5779
hello @marcosbc

i dont think thats the case because at the moment i'm still testing on production environment and i have the configuration set to false. but as requested her is my current configuration file. we are having another issue [#5074](https://github.com/bitnami/charts/issues/5074) which im not sure if can be related since keycloak config cli is using the headless services. thank in advan

[2021-03-15 21:10] esteban1983cl commented on #4222
Working on chart version 8.6.0

[2021-03-15 21:16] brianmay commented on #5351
Like I mentioned above, the rollback did not help for me.

[2021-03-15 23:40] JamesCacioppo commented on #5762
@marcosbc Thanks for the response.  I should have been more clear.  I'm not modifying the grafana-operator chart directly.  I have the following:
[code]

The contents of `supporting-infra/chart.yaml` are:
[code]

And finally the contents of `supporting-infra/values.yaml`:
[code]

I then install this chart with `helm install daas-infra .` and I get two deployments related to grafana:
[code]
The one

[2021-03-16 00:05] chrisbsmith commented on #5770
Hi @marcosbc ,

Below is my values file that I use to overwrite the defaults.

[code]

Maybe `{{ include  "harbor.ingress" .  }}` gets templated differently for the different options?  However, in my testing, cert-manager needs to write secrets to two different secrets the above template was templated out as the same values.

[2021-03-16 00:07] spidman commented on #5647
Thank you. Running `airflow db upgrade` was not appropriate as a long term solution as we may be doing multiple helm upgrades or docker image update and the plugins would fall off everytime. I fixed it by including git-sync within the initContainer of the deployments.

[2021-03-16 03:14] iAshishHere commented on #5444
This was due to airflow default consumption, as airflow uses around 1300Gi by default and my limit was 1400Gi, and autoscale was enabled at 70% of memory utilization.

[2021-03-16 03:14] #5444 closed

[2021-03-16 06:21] viceice opened #5793 "[bitnami/minio] ERROR ==> Number of nodes must even and greater than 4."
**Which chart**: minio 6.4.0

**Describe the bug**
 I get  `ERROR ==> Number of nodes must even and greater than 4.` message when upgrading from v6.2.0.

**To Reproduce**
Steps to reproduce the behavior:

1. install chart v6.2.0 with values below
2. upgrade to v6.4.0

*values.yml*
[code]

**Expected behavior**
Upgrade succeeds

**Version of Helm and Kubernetes**:

- Output of `helm version`:

[cod

[2021-03-16 07:01] viceice commented on #5793
Looks like the issue was cause by the already pulled image `gcr.io/bitnami-containers/minio:2021.3.4` which seems not compatible with latest chart changes.

My workaround was to remove the tag from `values.yml` and now it works again. Also updsated the latest `statefulset` changes.

[code]

Next time mabe better to make a major release for such big changes 🙃

[2021-03-16 07:26] carrodher commented on #5641
@g00ntar we are working on some changes in the image to run the kernel settings validation only if `node.store.allow_mmap` and/or `index.store.type` are not set in the config file. Apart from that, I created the above PR adding more info to the NOTES.txt.

Were you able to solve the issue with the proposed workaround? Basically, the solution we are going to provide is similar. In the proposed work

[2021-03-16 07:31] alemorcuq commented on #5767
Helm does not delete StatefulSet's PVCs when uninstalling a chart. You have to manually delete them after uninstalling the chart.

[2021-03-16 07:31] alemorcuq commented on #5662
No, @ManinderSinghRajput. No major change in progress.

[2021-03-16 08:19] juan131 commented on #5793
Hi @viceice

When we update the minor version of the chart, it's likely that we bump the revision of the MinIO image (as we did at https://github.com/bitnami/charts/pull/5739). For instance, when including a new feature that requires both changes in the chart and the image we need to do so.

That said, it doesn't imply that every time that features are added to the chart and depend on changes in t

[2021-03-16 08:33] viceice commented on #5793
I understand the rolling tags.

I used them to allow [renovate](/renovatebot/renovate) to simply update them.
But it is currently not able to update `2021.3.4-debian-10-r9` like docker tags by default, as it has basically multiple version parts.

So as a workaround i now remove all tag overrides and only use chart updates.

[2021-03-16 08:33] #5793 closed

[2021-03-16 08:39] Mauraza commented on #5450
Hi @rickrain,

Did you try with these `mountOptions`?
[code]

[2021-03-16 08:42] juan131 commented on #5789
Hi @gkulkarni32

I was able to reproduce the issue. I obtained the error below:

[code]

I just created a PR to fix it. Thanks so much for reporting it.

[2021-03-16 08:45] javsalgar commented on #5074
Hi,

As a desperate measure, maybe we could try using the `sub_filter` expression, where you would substitute any `http://` match with `https://`.

http://nginx.org/en/docs/http/ngx_http_sub_module.html

Here is a example in an ingress rule: https://stackoverflow.com/questions/55394823/hosting-webapp-with-relative-urls-behind-kubernetes-nginx-ingress-controller

[2021-03-16 08:45] gkulkarni32 commented on #5789
Thank you @juan131 for checking. Additionally, please check the NOTES.txt for the Solr exporter service. It should be ideally set to: `solr-exporter.<namespace>.svc.cluster.local:9983/metrics`. But the instruction mentions `solr-exporter.solr.svc.cluster.local:9983/solr`

[2021-03-16 08:46] javsalgar commented on #5788
Hi,

We are performing several changes in our Airflow container. I will forward this to @miguelaeh so he can take it into account when performing changes in the chart. Thanks for the info!

[2021-03-16 08:48] juan131 commented on #5789
I guess that's because you installed the chart in the `solr` namespace, right @gkulkarni32 ? I mean, the block below will resolver `{{ .Release.Name }}` with whatever namespace you're using to install the chart:

[code]

[2021-03-16 08:49] juan131 commented on #5789
Oh, I just saw you're talking about the subpath. It should be `metrics` instead of `solr`. All right, adding it to the PR

[2021-03-16 09:48] kaykhancheckpoint opened #5796 "[MongoDB] How to setup metrics for grafana dashboard"
Hi,

I have the helm chart mongodb installed on my k8s cluster (https://github.com/bitnami/charts/tree/master/bitnami/mongodb).

I also have kube-prometheus-stack installed on my k8s cluster. (https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack)

I've setup a grafana dashboard for mongodb which should pull in data from a prometheus data source. (https://grafa

[2021-03-16 10:36] sujeet-agrahari commented on #5767
@albigi So it is using existing PVCs from previous installation? How would I know which PVC to delete?

[2021-03-16 10:37] gkulkarni32 commented on #5789
yes, the subpath should be metrics. But for some reason when i deployed it in 'default' namespace also, it gave 'solr' instead of the namespace. Can you please check that too?

[2021-03-16 10:41] juan131 commented on #5771
@brumhard @disfluxly the new chart version using the new revision of the etcd image was just released, see:

- https://github.com/bitnami/charts/commit/182114e06decb91fa3eb07ee0cf14b4cf74da724

Could you please give it a try?

---

Find the changes that we added to the image in the commit below:

- https://github.com/bitnami/bitnami-docker-etcd/commit/63b56323c7d734a9ceb36efce86f8e5601025bf4

[2021-03-16 10:48] Mauraza commented on #5775
Hi @don4of4,

I used your files, could you try this command?

[code]

I think you missing `--set influxdb.auth.user.password=$USER_PASSWORD`

[2021-03-16 11:43] #5641 closed

[2021-03-16 11:45] marcosbc commented on #5770
Hi @chrisbsmith, I'm not sure that the chart currently supports the `ingress.certManager` option, at least I cannot find any references to it.

In any case, you mention that this works:

So I would recommend you to send a PR with that change, and see what other team members think. I think the change makes sense, though.

[2021-03-16 11:47] chrisbsmith commented on #5770
Hey @marcosbc , you're right it does not. I was fiddling with adding it in a local branch. I'll get a PR submitted. Thanks for taking a look!

[2021-03-16 11:49] brjos commented on #5781
hello @rafariossaa
The change in the above-mentioned PR was unfortunately not correct, as it was based on a missunderstanding on my part.
For this reason, the PR was closed.

[2021-03-16 11:52] carrodher commented on #5641
This issue was automatically closed because the changes in the image were already implemented, see tag `7.10.2-debian-10-r56` (https://github.com/bitnami/bitnami-docker-elasticsearch/commit/348956597b96af42be41f8f1d1e07ddb3b4dd648) and the Helm Chart was updated to use this image among other changes related to the docs.

Now using custom config file containing `node.store.allow_mmap` and/or `index

[2021-03-16 12:31] migruiz4 commented on #5776
Hi @bharat15-ml ,

Both scenarios would be valid, and choosing between them would vary depending on your use case.

I will try to sum up the differences between case 1 and 2:

- Case 1: Only the Redis service is visible from outside the cluster and it should be accessed by providing the flag `-c` when using the `redis-cli` to follow the redirection in case your request connects you with a Slave no

[2021-03-16 12:46] marcosbc commented on #5762
Hi @JamesCacioppo, I now can see what is happening, thanks for the details.

The problem is that the Grafana Operator creates a Grafana deployment via a [`Grafana` CRD](https://github.com/bitnami/charts/blob/master/bitnami/grafana-operator/crds/grafanas.yaml).

There is no `imagePullSecrets` defined for this CRD, and the only mentions for `imagePullSecrets` in the Grafana Operator source code is f

[2021-03-16 12:52] marcosbc commented on #5779
Hi @iamaverrick, we were able to get the CLI working without issues, using this configuration:

[code]

When we access via the UI, the realms were created without issues, so it seems to be something related to your configuration.

Could you check if you are able to access the headless endpoint from the Keycloak container?

[code]

[2021-03-16 12:55] Choogster1 opened #5797 "bitnami/moodle + mariadb docker / kubernetes persistent volumes"
This isn't a bug and not sure where else to ask this question:

When using the bitnami/docker container and mounting the /bitnami/moodle directory to a persistent volume, the contents of the folder are copied to the shared folder (local directory or nfs drive).

How would I get the same behaviour from a kubernetes persistent volume, copying the moodle installation to the volume from the container,

[2021-03-16 14:05] a-nldisr commented on #1732
We are running into this issue, we recently made a PR for the hostNetworking. However the master binds on the localhost interface, we, therefore, wanted to set `export SPARK_MASTER_IP=0.0.0.0` the spark-env.sh file and mount it as a config map. We also have a few configuration settings that we can enforce this way.

```/opt/bitnami/scripts/spark/entrypoint.sh: line 22: /opt/bitnami/spark/conf/spar

[2021-03-16 14:06] brumhard commented on #5771
@juan131 I've just checked the deployment and it looks like it's working now. Thank you very much for the fast help. Much appreciated 👍

[2021-03-16 14:20] furdarius opened #5799 "[bitnami/contour] extraArgs for the Envoy daemonset container"
**Which chart**:

bitnami/contour

**Is your feature request related to a problem? Please describe.**

There are several configuration parameters for Envoy, which makes sense to adjust when deploying Envoy as Ingress HTTP LB on k8s. In our particular case, changing the [concurrency](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-concurrency) parameter was an important thing t

[2021-03-16 14:25] don4of4 commented on #5775
Good Morning @Mauraza

The secret for auth.**user**.password doesn't exist, only the admin password and token appear in the kube secret store.

[code]

Regardless, if I run this set of commands -- I get an error:
[code]

[2021-03-16 14:26] kcz12 commented on #5712
Hello, I am also trying to achieve this, where would I set these in the config file ?

[2021-03-16 14:30] a-nldisr opened #5800 "Symlink in the chart repository"
**Which chart**:
metrics-server

**Describe the bug**
We tried to import the github repository for testing our PR's, but we ran into issues because Rancher gives an error that there is a symlink in the repository.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup Rancher
2. Click on 'Apps' in cluster explorer.
3. Try to import the github repository directly instead of using the charts w

[2021-03-16 14:39] brumhard commented on #5771
Wait nvm on my one cluster it just works, on the other one it still fails with the `rafthttp: request sent was ignored (cluster ID mismatch` error messages even with the new chart.

[2021-03-16 14:49] rickrain commented on #5450
Hi @Mauraza, unfortunately, same result.

[2021-03-16 14:52] Mauraza commented on #5775
Hi @don4of4,

could you try to update helm?
my version is:
[code]

[2021-03-16 15:04] andresbono commented on #5772
Can you check if there is connectivity between the different pods? For instance, you can exec into the arbiter and check if you can reach mongodb-0:

[code]

[2021-03-16 15:11] andresbono commented on #3213
Hi @emrekgn, it's great that the workaround worked for you!

I'm afraid that the internal task is still in our backlog, no updates so far.

That was just an hypothesis, but changing the order is not making it work: https://github.com/bitnami/charts/issues/3213#issuecomment-667175566...

Any suggestions to solve the issue will be appreciated.

[2021-03-16 15:19] #5789 closed

[2021-03-16 15:29] juan131 commented on #5789
That's weird @gkulkarni32 .. Could you share the exact command you're using to install the Solr chart?

[2021-03-16 15:33] don4of4 commented on #5775
I think I found the issue.

We had a values-dv.json (with deployment overrides for values.json) on the umbrella.  That file had an empty node:
[code]

This caused the merge to blow up.  Oddly, this didn't happen on other packages.

[2021-03-16 15:44] lorisepita opened #5801 "[bitnami/kibana] Test trying to use wget on minideb"
**Which chart**:
kibana

**Describe the bug**
Helm test cannot work due to missing wget binary on the docker image used for the connection test.

**To Reproduce**
Steps to reproduce the behavior:

1. `helm install elasticsearch bitnami/elasticsearch`
2. `helm install kibana bitnami/kibana --set elasticsearch.hosts[0]=<Hostname of your ES instance> --set elasticsearch.port=9200`
3. `helm test kiban

[2021-03-16 16:15] rafariossaa commented on #5781
When you install the chart, random passwords are generated by the chart. These password(s) are used in the initialization logic. The error indicates that you need to provided the generated password in order to be able to update, because the chart doesn't know about the older ones.

[2021-03-16 16:16] rafariossaa commented on #5424
Hi @maxisam ,
  Thanks for providing the link, I am adding it to our internal task.

[2021-03-16 16:33] rafariossaa commented on #5796
Can you check if you get metrics in prometheus ?

[2021-03-16 16:40] emrekgn commented on #5488
Hi,

I'm also having the same issue. Here is my configuration:

* Custom `values.yml` :

[code]

* `keycloak-secret.yml` :

[code]

Running `helm install -f values.yml keycloak-release bitnami/keycloak` starts up two keycloak nodes using the external database but during login (username: keycloak, password: secret) I get the same error.

Here is the Keycloak log:

[code]

But I can confirm Keycloak

[2021-03-16 16:58] kaykhancheckpoint commented on #5796
Sure, do you know how i could check that?

[2021-03-16 17:34] juan131 commented on #5771
Hi @brumhard

Did you find the error on a clean environment? I mean, did you remove the PVCs from previous releases before installing the chart?
I installed several chart releases and I found no issues on my side.

[2021-03-16 17:39] rafariossaa commented on #5796
Could you take a look to this article ? https://medium.com/codex/setup-kuberhealthy-with-prometheus-and-grafana-on-minikube-b2f6da21dc2e

[2021-03-16 17:53] brjos commented on #5781
But if both rabbitmq.enabled and externalRabbitmq.enabled are set to false, no rabbitmq password should be needed to be able to upgrade, right?

[2021-03-16 19:20] dschunack opened #5803 "[bitnami/metrics-server] ARM64 Support"
**Which chart**:
metrics-server

**Is your feature request related to a problem? Please describe.**
I'm unable to run this helm chart on ARM64 Nodes

**Describe the solution you'd like**
Ideally the bitnami metrics-server images would be multiarch and include support for amd64 and arm64.

**Describe alternatives you've considered**
Switch to use https://github.com/kubernetes-sigs/metrics-server in

[2021-03-16 21:36] iamaverrick commented on #5074
ok for sure this is a bug and it seems to only be related to AWS LB.

below you will find proposed solution, and 3 top issues when interchanging the annotations.

@javsalgar proposed solution above doesn't work because the example shown is for another nginx ingress controller not the one im using. the above example uses this [Nginx ingress Controller ](https://kubernetes.github.io/ingress-nginx/de

[2021-03-16 21:41] iamaverrick commented on #5779
Hello @marcosbc

here is what i got when i ran the commands above.

[code]

[2021-03-17 02:11] gkulkarni32 commented on #5789
I ran this command, basically trying to deploy this in the default namespace.
`helm install solr bitnami/solr --set service.type=LoadBalancer,exporter.enabled=true,authentication.enabled=false`

[2021-03-17 03:27] barmanand commented on #5492
@andresbono I am also facing the same issue, But setting up this env variable is not making any impact. I am still getting redirect issue. Can you please check, how we can avoid this issue. Thanks!

[2021-03-17 03:29] mailtobash commented on #5544
Thank you @juan131 .

I was able to get this going by doing the below.I dont think it is the perfect solution. If bitnami could add provisions for a script in the airflow container I think that is the better solution. The scheduler is waiting in ContainerCreating state until worker comes up.

1. Create a config map as secret containing the script to add connections. The key here was to make sure t

[2021-03-17 05:26] sujeet-agrahari commented on #5767
I did above steps now I am getting below error.
[code]

[2021-03-17 05:49] sujeet-agrahari commented on #5767
I fixed it; everything is working as expected now.

Deleted pvcs with `kubectl delete pvc --all`

I only pvcs for these two installations.

After that, I reinstalled both charts and they are now having `2Gi` size.

New installation was creating same pods, and pvc were bound to those pods. So, it was always using existing pvcs which were of `8Gi`.

[2021-03-17 05:49] #5767 closed

[2021-03-17 05:54] day1118 commented on #4446
Hi @SamMousa
I had a look at the code and found that the `service` source does require `node` permissions, but `ingress` service does not, which matches my use case.
However, by default, `namespace` is set to `''`, so the service timeouts as it tries to check ingress in all namespaces, but fails as there is no `clusterRole`.

I found the following config to work:
[code]

I have raised a PR that sh

[2021-03-17 06:21] KagurazakaNyaa commented on #3190
chart version `etcd-6.1.2` with image `3.4.15-debian-10-r14` still have same problem

values.yml changes:
* L80 to `enabled: false` to disable rbac
* other with default value

Run `helm install etcd-test ./etcd`

the pod `etcd-test-0` is running normally

than change values.yml L201 to `replicaCount: 7` and run `helm upgrade etcd-test ./etcd` to increase cluster size, this step successful finished

[2021-03-17 07:03] juan131 commented on #5789
Yes, it should be `.Release.Namespace`, you're totally right. This definitely confirms that I wasn't very focused when I took a look at this yesterday, my apologizes.

I'll send a new PR fixing this.

[2021-03-17 07:07] juan131 commented on #3190
Hi @KagurazakaNyaa

Note that wit this new major version, it's not mandatory to scale the solution using `helm upgrade ...`, you can use `kubectl scale ...` which is simpler and faster, see:

- https://docs.bitnami.com/kubernetes/infrastructure/etcd/administration/add-nodes/

Could you share the logs of the `etcd-test-4` pod? Also, could you try to decrease using `kubectl scale ...` and let us kno

[2021-03-17 07:23] juan131 commented on #5801
Hi @lorisepita

Thanks so much for reporting this issue! I just created a PR addressing it!

[2021-03-17 07:28] juan131 commented on #5544
That's great @mailtobash. Thanks so much for sharing this solution!

It'll be very helpful for us to implement the final solution in the Bitnami Airflow image. As I said in my last message I opened a task to work on this feature, and it's in our backlog. We'll notify you about our progress.

[2021-03-17 07:30] KagurazakaNyaa commented on #3190
Thanks for your reply @juan131

I tried to reproduce my operation, and the `etcd-test-4` pod log like this:
[code]

and I will delete this cluster and try use `kubectl scale` to change scale

But the initial purpose of my test is to automatically recover after several nodes of the etcd cluster are dynamically updated or deleted when the kubernetes cluster is upgraded or migrated.
In the initial te

[2021-03-17 07:31] #5801 closed

[2021-03-17 07:43] gkulkarni32 commented on #5789
Thank you @juan131 ! Appreciate it!

[2021-03-17 07:47] juan131 commented on #5789
Thank you for reporting it!

[2021-03-17 08:09] anthonyvk commented on #4033
I am facing this issue when using Hashicorp vault.

[code]

RabbitMQ logs :
`2021-03-17 08:02:26.249 [warning] <0.2243.0> HTTP access denied: user 'admin' - invalid credentials`

[2021-03-17 08:14] juan131 commented on #3190
Hi @KagurazakaNyaa

[code]

I wasn't able to reproduce the error above ⏫ . This is what I did:

- Instal the chart with replicas:

[code]

- Wait for the 3 initial replicas to finish initial cluster bootstrapping and be ready:

[code]

- Create a `etcd-client` pod as per installations notes and access it:

[code]

- Check cluster status:

[code]

- Scale the cluster to 7 replicas. I used this smal

[2021-03-17 08:16] juan131 commented on #4033
Hi @anthonyvk

Sorry we missed your post. My apologizes

What did you exactly do to reproduce the issue? Could you share the exact commands you run?

[2021-03-17 08:17] andresbono commented on #5712
Hi @kcz12, I'd say that the easiest thing would be to use environment variables. Can you use those?

[2021-03-17 08:32] andresbono commented on #5492
Hi @Yinabled, were you able to resolve the issue in the end? Do you have any suggestions for @barmanand?

@barmanand, are you also using envoy? What is the redirect loop?

[2021-03-17 08:36] barmanand commented on #5492
Hi @andresbono I get the issue, somehow the tables with names starting with ab_ are getting created, But they are not getting populated with default data, so thats why I am etting redirect issue as user is not having any permissions setup.
Do you have any idea why tables are not getting populated with 1.10.12 airflow version? It is working if I don't specify any airflow version, it picks latest on

[2021-03-17 08:40] viceice commented on #5328
Do  i now need to set `shareProcessNamespace: true` to solve my issue ?

[2021-03-17 08:52] javsalgar commented on #5800
Hi,

Thank you for reporting. I think we can remove this symlink as it does not add any value.

[2021-03-17 08:54] miguelaeh commented on #5797
Hi @Choogster1 ,
You will need to create the volume and use an existing PVC pointing to the previously created volume. To create that volume uploading a local folder you should go to your cluster provider docs (f.e. GKE, AKS, etc)

[2021-03-17 09:04] javsalgar commented on #5074
Hi,

I see that `configuration-snippet` is not available in that nginx vesion, but maybe we could do something similar using the `nginx.org/server-snippets` section? Maybe we can figure out a snippet that works for this case, and maybe inside you could use the sub_filter to see if that works.

[2021-03-17 09:23] kcz12 commented on #5712
Hello, I have set them, but still cannot see the logs. I wonder if that is due to some permissions (running on EKS) that it needs to be able to write to the specific S3 bucket. Where do you set the permissions/IAM in this chart ?

[2021-03-17 09:24] kaykhancheckpoint commented on #5796
Thanks i followed that article.

i port-forwarded Prometheus locally and i can see that there are a lot of metrics, but trying to search for something related to mongodb comes up empty.

Here is my service discovery page

![image](https://user-images.githubusercontent.com/65535942/111444582-6b9bf780-8702-11eb-9990-efd6bcf526d6.png)

Another grafana dashboard showing my nodes.

![image](https://use

[2021-03-17 09:38] Mauraza commented on #5775
Hi @don4of4,

I agree that was odd. I'm glad you find the issue, do not hesitate to write us back if you have any other questions.

[2021-03-17 09:47] SamMousa commented on #4446
Would disabling the `service` source have consequences?

[2021-03-17 09:50] KagurazakaNyaa commented on #3190
Hi @juan131 ,
I think I found the reason. After disabling rbac, any re-created pods cannot join the cluster.

[2021-03-17 09:53] Mauraza commented on #1732
Hi @a-nldisr,

Could you tell me if that is similar to this https://github.com/bitnami/charts/issues/4656#issuecomment-742471556  share by @dani8art?

[2021-03-17 10:03] a-nldisr commented on #1732
@Mauraza
Sorry it is not the same, we try to execute a bash script here and it doesn't execute because it does not get the right permissions. The pods never start and it goes in a restart loop. From what I understand @dani8art had no issues starting the pod and submitting spark jobs.

[2021-03-17 10:24] infa-mhadiman opened #5811 "[bitnami/memcached] Add service account to memcache charts"
**Describe the bug**
memcached helm chart seems to use the default service account. Please add a dedicated SA instead of using the default service account.

This is part of the best practices and is also a compliance thing for many of the certifications such as Fedramp.

**Expected behavior**
memcached helm chart should use it's own SA

**Version of Helm and Kubernetes**:
[code]

[2021-03-17 10:51] lorisepita commented on #5801
Hi @juan131,

Thank you very much for this fix !
Is it possible to generate a new Chart.lock file for the elasticsearch chart (https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/Chart.lock) in order to have it use the last version of kibana ?

Thanks a lot !

[2021-03-17 12:00] day1118 commented on #4446
Depends how you are obtaining your external IPs, using `service` or `ingress` objects. See [sources and providers](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/contributing/sources-and-providers.md#sources) for more info. If you use `ingress` for all incoming traffic, then this works perfectly.

[2021-03-17 12:06] bhakta0007 opened #5816 "bitnami/influxDB v1: Option to add collectd listener (UDP:25826)"
I want to add collectd listener on port 25826 so I can have collectd populate metrics into influx. I can add this change in influxdb.conf, but how do I expose this port? I don't see the configuration option for exporting udp:25826.

[code]

[2021-03-17 12:10] bhkamath opened #5817 "ERROR 2003 (HY000): Can't connect to MySQL server on 'my-sql-mysql.default.svc.cluster.local' (111)"
**Which chart**:

- mysql-8.4.4
- App Version 8.0.23

**Describe the bug**

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Kubernetes On-Premise cluster
2. Install MySQL chart: `helm install my-sql bitnami/mysql`
3. Create MySQL client container: `kubectl run my-sql-mysql-client --rm --tty -i --restart='Never' --image  docker.io/bitnami/mysql:8.0.23-debian-10-r28 --namespace defaul

[2021-03-17 12:21] Mauraza commented on #5488
Hi @emrekgn,

could you add the `describe` of the `statefulsets` of keycloak?

[2021-03-17 12:23] Mauraza commented on #5450
Hi @rickrain,

Did you try [this](https://www.drupal.org/forum/support/installing-drupal/2015-12-31/drupal-801-no-css-displaying-after-install)?
[code]

[2021-03-17 12:24] howardtangck opened #5818 "Failure to get external access working with load balancer for the bitnami mongodb replicaset"
I am not able to get external access working with load balancer for the bitnami mongodb replicaset. Please advise.
[code]
Regards,
Howard Tang
howardtangck@gmail.com

[2021-03-17 12:36] howardtangck commented on #5818
It works without external access but that is not what I want.

howardtang@Howards-Air ~ % helm install my-release \
--set architecture=replicaset,replicaCount=3 \
bitnami/mongodb
WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /Users/howardtang/.kube/config
WARNING: Kubernetes configuration file is world-readable. This is insecure. Location: /Users/howardtang/

[2021-03-17 12:48] Choogster1 commented on #5797
So I would have to copy the moodle folder manually from the moodle container to the PVC previously created volume first?

[2021-03-17 13:00] brumhard commented on #5771
Yes I did a full delete and install, but sth's odd with that cluster anyways so it could as well be another issue.

[2021-03-17 13:16] emrekgn commented on #5488
Hi @Mauraza,

Here is the `describe` of the `statefulsets` of keycloak:

[code]

It looks like environment variables are correctly set.

(I forgot to mention previously but of course I've also uninstalled postgres chart and deleted any related `PVC`s, so this is a clean installation of postgres and keycloak charts)

[2021-03-17 13:26] disfluxly commented on #5771
I'll be able to test this out in my setup either tomorrow or Friday. @juan131 I'll let you know the results! Thanks for the quick update

[2021-03-17 13:28] a-nldisr commented on #1732
Just a little additional comment: Some of the variables for the master, like port etc are variables in the chart. However, we can configure all the variables 1 by 1 with a PR. Or give people the ability to use the spark-env.sh as intended and configure these environment variables themselves.

[2021-03-17 13:35] JamesCacioppo commented on #5762
@marcosbc Thanks for looking into this.  Do you have any advice?

[2021-03-17 13:42] Mauraza commented on #1732
Hi @a-nldisr,

Could you add `SPARK_MASTER_IP` in `extraEnvVars` maybe you need to include it in the master and the worker?
[code]

[2021-03-17 13:54] emrekgn commented on #5488
Nope, I've tried another clean installation, this time using *bitnami/keycloak:latest* image but still cannot log into the admin console.

Here is the `describe` of the `statefulsets`:
[code]

[2021-03-17 14:18] jxy859 commented on #5050
A simple follow-up -- Any update related to the open issue?
Our team was trying to use build-in Kafka cluster and we really want the external Kafka enabling feature for the spring cloud dataflow chart.
Thank you

[2021-03-17 14:43] juan131 commented on #3190
Hi @KagurazakaNyaa

I wasn't able to reproduce that either...

- I installed the chart disabling RBAC:

[code]

- Wait for the 3 initial replicas to finish initial cluster bootstrapping and be ready:

[code]

- Then I deleted one of the pods:

[code]

- And, as you can see below, it was able to rejoin the cluster without issues:

[code]

[2021-03-17 14:43] juan131 commented on #5771
Thanks both! You might also find interesting the conversation at https://github.com/bitnami/charts/issues/3190

[2021-03-17 14:53] #5753 closed

[2021-03-17 16:01] enyo opened #5824 "Contour helm chart needs to include ingressclasses"
**Which chart**:
contour

**Describe the bug**

Contour recently [started watching ingressclasses](https://github.com/projectcontour/contour/pull/3266), but looks like the helm chart’s RBAC hasn’t been updated to include it

**Additional context**

Needs to be added here: https://github.com/bitnami/charts/blob/master/bitnami/contour/templates/contour/rbac.yaml

[2021-03-17 16:03] furdarius commented on #5799
Yeah, totally)

Thank you @migruiz4!

[2021-03-17 16:50] kaykhancheckpoint commented on #5796
If i do `kubectl get servicemonitors -A` i can see a list of service monitors including mongodb.

[code]

[2021-03-17 16:57] marcosbc commented on #5803
Hi @dschunack, this is in our roadmap and we expect to start working on it soon. However, I cannot give an ETA.

Linking some related issues below:
* #5115
* https://github.com/bitnami/bitnami-docker-postgresql/issues/267

If you wanted, you should be able to build your own metrics-server image by using Minideb (now supporting multi-arch) and compile metrics-server on your side, which is the only

[2021-03-17 17:37] marcosbc commented on #5762
Hi @JamesCacioppo, after another review of this, I noticed that the Grafana Operator project actually supports imagePullSecrets but is not exposing it via the [CRD](https://github.com/bitnami/charts/blob/master/bitnami/grafana-operator/crds/grafanas.yaml). But if you specify it, it works just fine.

Could you try and apply this change and see if it solves your issues after re-deploying?

[code]

I

[2021-03-17 17:41] rafariossaa commented on #5796
It should appear on the discovery section in prometheus.
You can check the service monitor with: `kubectl edit servicemonitors <service-monitor-name>`

[2021-03-17 17:42] rafariossaa commented on #5781
Hi,
 That makes sense. Let's wait the PR to be reviewed and  approved

[2021-03-17 17:47] marcosbc commented on #5779
Hi @iamaverrick, sorry for having to ask this again, but it seems there is a redirection that blocks this. Could you try this?

[code]

We'd like to understand why the HTTP 403 error occurs on your side, since we were not able to get anything remotely similar. Even with forced wrong credentials, a different HTTP code 401 Unauthorized.

Once you get it working, you can also try and replicate the ke

[2021-03-17 17:51] marcosbc commented on #5818
Hi @howardtangck, I know there is currently an open issue with respect to external access and MongoDB in #4073. Checking the error ("Node ... did not become available") it looks like the same issue.

[2021-03-17 17:52] kaykhancheckpoint commented on #5796
This showed me the same thing kubectl get servicemonitors -A there is a mongo-prod-mongodb there as you can see from my earlier post.

So ye, im still confused why its not working...

[2021-03-17 19:15] mbrancato opened #5826 "Multi-Attach error with Thanos compactor"
**Which chart**:
Thanos

**Describe the bug**
There is a conflict in mounting the PVC when an existing pod is already attached.

**To Reproduce**
I'm guessing a node pool resize causes this. But effectively you need to trigger a RollingUpdate of the compactor.

**Expected behavior**
I suspect that since `compactor.strategyType` defaults to `RollingUpdate` and `compactor.persistence.accessModes` de

[2021-03-17 22:49] esteban1983cl opened #5829 "[bitnami/rabbitmq] When use load definitions and restart pods password of user account changes."
**Which chart**:
The name (and version) of the affected chart
name: rabbitmq
version: 8.11.3

**Describe the bug**
I'm trying to use load_definitions to set a policy via extraSecrets helm chart field.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install chart version enabling load definitions feature with that configuration and 3 replicas
2. Wait for running state
2. Delete pods `

[2021-03-18 00:39] iamaverrick commented on #5779
Hello @marcosbc,

i was able to run the config-cli helm chart for debug purposes with the following

[code]

by explicitly defining the url i was able to run the config with no issues in the production environment. problem is that the sub chart does not use this. i should be able to use the headless service to run the config. i'm not sure what could be causing this

i also tried these each separat

[2021-03-18 00:41] iamaverrick commented on #5074
yes sir @javsalgar

i have also tired this and that doesn't fail but im unable to access the app. so it fails silently. no option has worked.

[2021-03-18 03:10] latituder commented on #5715
thank you. i deployment it with more parameters:
[code]

[2021-03-18 04:44] sujeet-agrahari commented on #5764
@andresbono Thanks, I did the same. How can I get the data in grafana dashboard? I have setup [prometheus-community](https://github.com/prometheus-community/helm-charts).

[2021-03-18 07:35] ilhnctn commented on #5724
It may be related to Reclaim Policy of volume, not sure though. [see](https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/)

[2021-03-18 08:01] #5799 closed

[2021-03-18 08:16] juan131 commented on #5801
Hi @lorisepita

That's automatically done by the pipeline when a new version of the Elasticsearch chart is released, so it should be a matter of time for it to be updated.

That said, you can force it to be updated by submitting a PR bumping the patch version in the Elasticsearch's **Chart.yaml** and running the `helm dep update` command.

[2021-03-18 08:19] javsalgar commented on #5816
Hi,

I'm afraid there's no currenty way to add extra container ports or extra service ports. I think that could be an interesting feature. I will add a task in our backlog but I cannot guarantee a stict ETA. If you want to speed up the process, feel free to submit a PR and we will review it.

[2021-03-18 08:22] javsalgar commented on #5050
Hi,

I am afraid that it is still in our backlog. As soon as we have more news, we will update the ticket. If you want to speed up the process, feel free to submit a PR and we will review it.

[2021-03-18 08:24] #5662 closed

[2021-03-18 08:27] javsalgar commented on #5074
You say that you are unable to access the app, but no error appears in the chrome inspector even in this case? Nothing in the logs either?

[2021-03-18 08:34] juan131 commented on #5817
Hi @bhkamath

I wasn't able to reproduce the issue on a GKE cluster following the same exact steps you shared.

What password are you using to access MySQL? Did you obtain it by running the command below as suggested in the installation notes?

[code]

It's so weird that you're obtaining a `111` error since that means: _connection refused_. That usually happens when MySQL server is configured to l

[2021-03-18 08:46] miguelaeh commented on #5797
yes, to move a local volume data to the cloud you need to upload it to the K8s volume, then create a PVC to match that volume and specify that PVC to be used by the chart

[2021-03-18 08:46] miguelaeh commented on #5824
Hi @enyo ,
Thank you for the information. Would you like to create a PR adding that?

[2021-03-18 08:49] javsalgar commented on #5829
Hi,

I was unable to reproduce the issue. I deployed the chart with these values:

[code]

Then entered the container and authenticated without issues

[code]

Then deleted the pod and tried again

[code]

Is there any other thing you changed in the configuration?

[2021-03-18 08:52] howardtangck commented on #5818
@marcosbc I also realized that the root login is failing. It was working in earlier helm installs.

howardtang@Howards-Air ~ % helm install my-release \
--set architecture=replicaset,replicaCount=3 \
bitnami/mongodb
WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /Users/howardtang/.kube/config
WARNING: Kubernetes configuration file is world-readable. This is i

[2021-03-18 09:38] nc-ruth commented on #5663
Hi @Mauraza, do you have any updates in this matter?

[2021-03-18 09:42] boxcee opened #5834 "[bitnami/keycloak] ExternalDatabase use with secret"
**Which chart**:
[bitnami/keycloak] `2.3.0`

**Is your feature request related to a problem? Please describe.**
I would like to avoid saving plaintext database credentials in the helm `values.yaml`.

**Describe the solution you'd like**
Like it is already implemented with the embedded PostgreSQL, I would like to see a key where I can pass a secret reference to the `values.yaml` instead of the plai

[2021-03-18 10:03] Mauraza commented on #5811
Hi @infa-mhadiman,

I going to create an internal task to do it, but If you want you can create a PR with the change.

[2021-03-18 10:08] nc-ruth opened #5835 "[bitnami/kafka] Adding option to gracefully shutdown sidecar container in provisioning pod"
**Which chart**:
Bitnami Kafka 12.11.1

**Is your feature request related to a problem? Please describe.**
My cluster is using Istio for traffic control/shaping, and Kafka works really well with Istio.
I have an issue with the provisioning job, the provisioning job is not marked as completed due to the sidecar container staying in a running state.

See more about the issue here:
https://github.com

[2021-03-18 10:17] Mauraza commented on #5663
Hi @nc-ruth,

Now, we have an internal task to solve that in the values.yaml, both tags should be the same.

[2021-03-18 10:21] bhkamath commented on #5817
Hi Juan,

The Kubernetes cluster that I use is not GKE but on Baremetal environment.

There are no security policies defined.  I also tried installing Helm chart of stable/mysql and was successful accessing the MySql server.  I specified persistence.existingClaim at the time of helm installation.

The base64 decode of root password did expose normal string.  However, in Bitnami scenario I get a ba

[2021-03-18 10:24] nc-ruth commented on #5663
Cool, thank you for the update @Mauraza

[2021-03-18 10:46] Sergiotm87 commented on #5754
Hi all!

I had the same helm chart rendering error in volume names with a private gitlab repo.

I solved it reducing the output of the helm named template airflow.git.repository.name to get the text following last '/' :

[code]

original template:
[code]

after change:
[code]

[2021-03-18 10:50] Mauraza commented on #5488
Hi @emrekgn,

could you try to add another user and try to login with this new user?
[code]
in the pod
[code]

[2021-03-18 11:22] #5781 closed

[2021-03-18 12:21] emrekgn commented on #5488
Hi @Mauraza ,

Sure. I've added user `test`:

[code]

Currently, it did not create the user. I guess it'll be done during server restart?
But how can I safely restart the server as indicated in the log? If I kill the process by its *pid*, the pod just gets restarted.

Contents of the `keycloak-add-user.json` file:
[code]

BTW, I just implemented another script to cross-check these `secretData.valu

[2021-03-18 12:27] enyo commented on #5824
#5836

[2021-03-18 12:58] esteban1983cl commented on #5829
Hi again, thanks for your help, I forgot share other details:

Install chart using this command line

[code]

using this values.yaml

[code]

[2021-03-18 13:18] emrekgn commented on #5488
I finally figured out what's going on, it is the encoded `secret` which has a newline character at the end. That's why `add-user-keycloak.sh` does not work during startup but works afterward when manually called.
Well, this was embarrassing for me :sweat_smile:

I'm just posting this for reference. To encode a password, this should be used: `echo -n secret | base64 -w 0` instead of `echo secret |

[2021-03-18 13:24] Choogster1 commented on #5797
Is there any instructions online you can direct me to - in the case of an existing mariadb or postgresql database, or moodle installation.

[2021-03-18 15:12] marcosbc commented on #5779
Could you share more details? We'd like to understand the specific error you're seeing.

That said, note that we are still unable to reproduce your issues with the `values.yaml` file we shared [above](https://github.com/bitnami/charts/issues/5779#issuecomment-800232357). In fact, while the keycloak-config-cli was waiting to connect to Keycloak we could enter its shell (via `kubectl exec -ti POD_NA

[2021-03-18 15:15] marcosbc commented on #5818
Hi @howardtangck, if root credentials don't work, it most likely means that you re-installed MongoDB without cleaning up PVCs, which are not removed with `helm delete`.

You can confirm that behavior checking the logs of the main MongoDB pod, where you would see something like this in the upper side of logs:

[code]

[2021-03-18 15:18] iamaverrick commented on #5779
I don't think it's about not being able to connect in 120s issue. I can't seem to connect or communicate with the headless service for some reason. I trying pinging the headless service and it fails.

Also my issue is in production environment which is k8s running in aws. Please keep in mind and I have mentioned above that locally everything works great meaning in an minikube environment.

Could y

[2021-03-18 15:20] rghoubentini opened #5838 "I can't create a new database from web interface in odoo"
I used bitnami helm chart for odoo and I deployed odoo with success but when I tried to create a new db from web interface the creation of database was failed
<img width="531" alt="db_error" src="https://user-images.githubusercontent.com/79690166/111650484-a044a780-8805-11eb-8d6a-2ca707a56e47.PNG">